{
  "openapi": "3.0.3",
  "info": {
    "title": "Blackfire API",
    "version": "1.0.0",
    "description": "Blackfire is a performance profiling and testing platform for PHP and Python applications. The API provides operations for managing profiles, environments, builds, scenarios, and assertions.",
    "x-jentic-source-url": "https://blackfire.io/docs"
  },
  "servers": [
    {
      "url": "https://blackfire.io/api/v1"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Client ID as username and Client Token as password"
      }
    },
    "schemas": {
      "Environment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_build": {
            "type": "object"
          },
          "agent_count": {
            "type": "integer"
          },
          "server_id": {
            "type": "string"
          },
          "server_token": {
            "type": "string"
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              }
            }
          },
          "envelope": {
            "type": "object",
            "properties": {
              "ct": {
                "type": "integer",
                "description": "Number of function calls"
              },
              "wt": {
                "type": "integer",
                "description": "Wall time in microseconds"
              },
              "cpu": {
                "type": "integer",
                "description": "CPU time in microseconds"
              },
              "mu": {
                "type": "integer",
                "description": "Memory usage in bytes"
              },
              "pmu": {
                "type": "integer",
                "description": "Peak memory usage in bytes"
              },
              "nw": {
                "type": "integer",
                "description": "Network usage"
              },
              "io": {
                "type": "integer",
                "description": "I/O usage"
              }
            }
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "in_progress",
              "done",
              "errored"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "report": {
            "type": "object"
          },
          "scenarios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scenario"
            }
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "Scenario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "profile": {
            "type": "object"
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assertion"
            }
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "Assertion": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "passed",
              "failed",
              "skipped",
              "errored"
            ]
          },
          "failures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Recommendation": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "cost": {
            "type": "object"
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "CollabToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "php_version": {
            "type": "string"
          },
          "python_version": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/collab-tokens": {
      "post": {
        "summary": "Create a collaboration token",
        "operationId": "collabTokens_create",
        "tags": [
          "Authentication"
        ],
        "description": "Create a short-lived token for profiling",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collabToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollabToken"
                }
              }
            }
          }
        }
      }
    },
    "/my/environments": {
      "get": {
        "summary": "List environments",
        "operationId": "environments_list",
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Environments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "environments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Environment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/my/environments/{envId}": {
      "get": {
        "summary": "Retrieve an environment",
        "operationId": "environments_get",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        }
      }
    },
    "/my/environments/{envId}/agents": {
      "get": {
        "summary": "List agents in environment",
        "operationId": "environments_agents_list",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "envId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{profileId}": {
      "get": {
        "summary": "Retrieve a profile",
        "operationId": "profiles_get",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a profile",
        "operationId": "profiles_delete",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/profiles/{profileId}/recommendations": {
      "get": {
        "summary": "Get profile recommendations",
        "operationId": "profiles_recommendations",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Recommendation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/builds": {
      "post": {
        "summary": "Create a build",
        "operationId": "builds_create",
        "tags": [
          "Builds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "environment": {
                    "type": "string",
                    "description": "Environment UUID"
                  },
                  "title": {
                    "type": "string"
                  },
                  "external_id": {
                    "type": "string"
                  },
                  "external_parent_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "environment"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Build created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          }
        }
      }
    },
    "/builds/{buildId}": {
      "get": {
        "summary": "Retrieve a build",
        "operationId": "builds_get",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          }
        }
      }
    },
    "/builds/{buildId}/report": {
      "get": {
        "summary": "Get build report",
        "operationId": "builds_report",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/builds/{buildId}/scenarios": {
      "get": {
        "summary": "List build scenarios",
        "operationId": "builds_scenarios_list",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenarios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scenarios": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Scenario"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a scenario in a build",
        "operationId": "builds_scenarios_create",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Scenario created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scenario"
                }
              }
            }
          }
        }
      }
    },
    "/scenarios/{scenarioId}/steps": {
      "post": {
        "summary": "Add a step to a scenario",
        "operationId": "scenarios_steps_create",
        "tags": [
          "Scenarios"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Step created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            }
          }
        }
      }
    },
    "/my/profiles": {
      "get": {
        "summary": "List my profiles",
        "operationId": "profiles_list",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profiles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Profile"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}