{
  "openapi": "3.0.3",
  "info": {
    "title": "WeatherAPI",
    "description": "Weather API providing realtime weather, forecast, history, future weather, astronomy, geolocation, time zone, sports, marine, and air quality data. Supports JSON and XML response formats.",
    "version": "1.0.0",
    "contact": {
      "name": "WeatherAPI",
      "url": "https://www.weatherapi.com"
    },
    "x-jentic-source-url": "https://www.weatherapi.com/"
  },
  "servers": [
    {
      "url": "https://api.weatherapi.com/v1",
      "description": "WeatherAPI v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Realtime",
      "description": "Current weather data"
    },
    {
      "name": "Forecast",
      "description": "Weather forecast up to 14 days"
    },
    {
      "name": "History",
      "description": "Historical weather data"
    },
    {
      "name": "Future",
      "description": "Future weather data (14-300 days)"
    },
    {
      "name": "Search",
      "description": "Location search and autocomplete"
    },
    {
      "name": "Astronomy",
      "description": "Astronomy data including sunrise, sunset, moonrise, moonset"
    },
    {
      "name": "Time Zone",
      "description": "Time zone information"
    },
    {
      "name": "Sports",
      "description": "Sports event weather data"
    },
    {
      "name": "Marine",
      "description": "Marine and sailing weather data"
    },
    {
      "name": "Alerts",
      "description": "Weather alerts"
    }
  ],
  "paths": {
    "/current.json": {
      "get": {
        "operationId": "getRealtimeWeather",
        "summary": "Get realtime weather",
        "description": "Get current weather data for a location. Returns current condition, temperature, wind, pressure, precipitation, humidity, cloud, feels like, visibility, UV index, and air quality data.",
        "tags": ["Realtime"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "name": "aqi",
            "in": "query",
            "description": "Enable/disable air quality data (yes or no)",
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "no"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with current weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key does not have access to this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast.json": {
      "get": {
        "operationId": "getForecastWeather",
        "summary": "Get forecast weather",
        "description": "Get weather forecast for up to 14 days. Includes hourly forecast, daily forecast, astronomy, and optionally alerts and air quality data.",
        "tags": ["Forecast"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "description": "Number of days of forecast (1-14)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 14
            }
          },
          {
            "name": "dt",
            "in": "query",
            "description": "Specific date for forecast (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hour",
            "in": "query",
            "description": "Restrict output to specific hour of the day (0-23)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 23
            }
          },
          {
            "name": "aqi",
            "in": "query",
            "description": "Enable/disable air quality data",
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "no"
            }
          },
          {
            "name": "alerts",
            "in": "query",
            "description": "Enable/disable weather alerts",
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "no"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/history.json": {
      "get": {
        "operationId": "getHistoryWeather",
        "summary": "Get historical weather",
        "description": "Get historical weather data for a location on a specific date.",
        "tags": ["History"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "name": "dt",
            "in": "query",
            "required": true,
            "description": "Date for historical data (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_dt",
            "in": "query",
            "description": "End date for date range (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hour",
            "in": "query",
            "description": "Restrict to specific hour (0-23)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/future.json": {
      "get": {
        "operationId": "getFutureWeather",
        "summary": "Get future weather",
        "description": "Get weather forecast for 14 to 300 days from today.",
        "tags": ["Future"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "name": "dt",
            "in": "query",
            "required": true,
            "description": "Future date (yyyy-MM-dd, 14-300 days from today)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with future weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search.json": {
      "get": {
        "operationId": "searchLocations",
        "summary": "Search or autocomplete locations",
        "description": "Search for locations by name, postcode, IP address, or lat/lon. Returns matching locations for autocomplete.",
        "tags": ["Search"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchLocation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/astronomy.json": {
      "get": {
        "operationId": "getAstronomy",
        "summary": "Get astronomy data",
        "description": "Get sunrise, sunset, moonrise, moonset, moon phase, and moon illumination data.",
        "tags": ["Astronomy"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "name": "dt",
            "in": "query",
            "required": true,
            "description": "Date (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with astronomy data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AstronomyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timezone.json": {
      "get": {
        "operationId": "getTimezone",
        "summary": "Get time zone information",
        "description": "Get time zone and local time information for a location.",
        "tags": ["Time Zone"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with timezone data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimezoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sports.json": {
      "get": {
        "operationId": "getSports",
        "summary": "Get sports events weather",
        "description": "Get upcoming sports events and their weather conditions including football, cricket, and golf.",
        "tags": ["Sports"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sports data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/marine.json": {
      "get": {
        "operationId": "getMarineWeather",
        "summary": "Get marine weather",
        "description": "Get marine and sailing weather data including tide, swell, wave, and water temperature.",
        "tags": ["Marine"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days of marine forecast (1-7)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7
            }
          },
          {
            "name": "dt",
            "in": "query",
            "description": "Specific date (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hour",
            "in": "query",
            "description": "Restrict to specific hour (0-23)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with marine weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ip.json": {
      "get": {
        "operationId": "getIpLookup",
        "summary": "Get IP address lookup",
        "description": "Get location data from an IP address.",
        "tags": ["Search"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with IP lookup data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alerts.json": {
      "get": {
        "operationId": "getAlerts",
        "summary": "Get weather alerts",
        "description": "Get severe weather alerts for a location.",
        "tags": ["Alerts"],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alerts data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key passed as query parameter"
      }
    },
    "parameters": {
      "QueryParam": {
        "name": "q",
        "in": "query",
        "required": true,
        "description": "Location query. Can be city name, postcode, IP address, latitude/longitude (decimal), or UK/Canada/US zip code. Also accepts 'auto:ip' for auto IP lookup, and 'iata:AIRPORT_CODE' or 'icao:AIRPORT_CODE'.",
        "schema": {
          "type": "string"
        }
      },
      "LangParam": {
        "name": "lang",
        "in": "query",
        "description": "Language for weather condition text (e.g., en, fr, de, es, ja, zh)",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Location name"
          },
          "region": {
            "type": "string",
            "description": "Region or state"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "lat": {
            "type": "number",
            "format": "float",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "format": "float",
            "description": "Longitude"
          },
          "tz_id": {
            "type": "string",
            "description": "Time zone identifier"
          },
          "localtime_epoch": {
            "type": "integer",
            "description": "Local time as UNIX epoch"
          },
          "localtime": {
            "type": "string",
            "description": "Local date and time"
          }
        }
      },
      "CurrentWeather": {
        "type": "object",
        "properties": {
          "last_updated_epoch": {
            "type": "integer"
          },
          "last_updated": {
            "type": "string"
          },
          "temp_c": {
            "type": "number",
            "description": "Temperature in Celsius"
          },
          "temp_f": {
            "type": "number",
            "description": "Temperature in Fahrenheit"
          },
          "is_day": {
            "type": "integer",
            "description": "1 if daytime, 0 if night"
          },
          "condition": {
            "$ref": "#/components/schemas/WeatherCondition"
          },
          "wind_mph": {
            "type": "number",
            "description": "Wind speed in miles per hour"
          },
          "wind_kph": {
            "type": "number",
            "description": "Wind speed in km per hour"
          },
          "wind_degree": {
            "type": "integer",
            "description": "Wind direction in degrees"
          },
          "wind_dir": {
            "type": "string",
            "description": "Wind direction (e.g., N, NE, E)"
          },
          "pressure_mb": {
            "type": "number",
            "description": "Pressure in millibars"
          },
          "pressure_in": {
            "type": "number",
            "description": "Pressure in inches"
          },
          "precip_mm": {
            "type": "number",
            "description": "Precipitation in mm"
          },
          "precip_in": {
            "type": "number",
            "description": "Precipitation in inches"
          },
          "humidity": {
            "type": "integer",
            "description": "Humidity percentage"
          },
          "cloud": {
            "type": "integer",
            "description": "Cloud cover percentage"
          },
          "feelslike_c": {
            "type": "number",
            "description": "Feels like temperature in Celsius"
          },
          "feelslike_f": {
            "type": "number",
            "description": "Feels like temperature in Fahrenheit"
          },
          "vis_km": {
            "type": "number",
            "description": "Visibility in km"
          },
          "vis_miles": {
            "type": "number",
            "description": "Visibility in miles"
          },
          "uv": {
            "type": "number",
            "description": "UV index"
          },
          "gust_mph": {
            "type": "number",
            "description": "Wind gust in mph"
          },
          "gust_kph": {
            "type": "number",
            "description": "Wind gust in kph"
          },
          "air_quality": {
            "$ref": "#/components/schemas/AirQuality"
          }
        }
      },
      "WeatherCondition": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Weather condition text"
          },
          "icon": {
            "type": "string",
            "description": "Weather icon URL"
          },
          "code": {
            "type": "integer",
            "description": "Weather condition code"
          }
        }
      },
      "AirQuality": {
        "type": "object",
        "properties": {
          "co": {
            "type": "number",
            "description": "Carbon Monoxide (ug/m3)"
          },
          "no2": {
            "type": "number",
            "description": "Nitrogen Dioxide (ug/m3)"
          },
          "o3": {
            "type": "number",
            "description": "Ozone (ug/m3)"
          },
          "so2": {
            "type": "number",
            "description": "Sulphur Dioxide (ug/m3)"
          },
          "pm2_5": {
            "type": "number",
            "description": "PM2.5 (ug/m3)"
          },
          "pm10": {
            "type": "number",
            "description": "PM10 (ug/m3)"
          },
          "us-epa-index": {
            "type": "integer",
            "description": "US EPA standard AQI (1-6)"
          },
          "gb-defra-index": {
            "type": "integer",
            "description": "UK DEFRA Index (1-10)"
          }
        }
      },
      "RealtimeResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "current": {
            "$ref": "#/components/schemas/CurrentWeather"
          }
        }
      },
      "ForecastDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "date_epoch": {
            "type": "integer"
          },
          "day": {
            "type": "object",
            "properties": {
              "maxtemp_c": {
                "type": "number"
              },
              "maxtemp_f": {
                "type": "number"
              },
              "mintemp_c": {
                "type": "number"
              },
              "mintemp_f": {
                "type": "number"
              },
              "avgtemp_c": {
                "type": "number"
              },
              "avgtemp_f": {
                "type": "number"
              },
              "maxwind_mph": {
                "type": "number"
              },
              "maxwind_kph": {
                "type": "number"
              },
              "totalprecip_mm": {
                "type": "number"
              },
              "totalprecip_in": {
                "type": "number"
              },
              "totalsnow_cm": {
                "type": "number"
              },
              "avgvis_km": {
                "type": "number"
              },
              "avgvis_miles": {
                "type": "number"
              },
              "avghumidity": {
                "type": "number"
              },
              "daily_will_it_rain": {
                "type": "integer"
              },
              "daily_chance_of_rain": {
                "type": "integer"
              },
              "daily_will_it_snow": {
                "type": "integer"
              },
              "daily_chance_of_snow": {
                "type": "integer"
              },
              "condition": {
                "$ref": "#/components/schemas/WeatherCondition"
              },
              "uv": {
                "type": "number"
              }
            }
          },
          "astro": {
            "$ref": "#/components/schemas/Astro"
          },
          "hour": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HourlyWeather"
            }
          }
        }
      },
      "HourlyWeather": {
        "type": "object",
        "properties": {
          "time_epoch": {
            "type": "integer"
          },
          "time": {
            "type": "string"
          },
          "temp_c": {
            "type": "number"
          },
          "temp_f": {
            "type": "number"
          },
          "is_day": {
            "type": "integer"
          },
          "condition": {
            "$ref": "#/components/schemas/WeatherCondition"
          },
          "wind_mph": {
            "type": "number"
          },
          "wind_kph": {
            "type": "number"
          },
          "wind_degree": {
            "type": "integer"
          },
          "wind_dir": {
            "type": "string"
          },
          "pressure_mb": {
            "type": "number"
          },
          "pressure_in": {
            "type": "number"
          },
          "precip_mm": {
            "type": "number"
          },
          "precip_in": {
            "type": "number"
          },
          "humidity": {
            "type": "integer"
          },
          "cloud": {
            "type": "integer"
          },
          "feelslike_c": {
            "type": "number"
          },
          "feelslike_f": {
            "type": "number"
          },
          "windchill_c": {
            "type": "number"
          },
          "windchill_f": {
            "type": "number"
          },
          "heatindex_c": {
            "type": "number"
          },
          "heatindex_f": {
            "type": "number"
          },
          "dewpoint_c": {
            "type": "number"
          },
          "dewpoint_f": {
            "type": "number"
          },
          "will_it_rain": {
            "type": "integer"
          },
          "chance_of_rain": {
            "type": "integer"
          },
          "will_it_snow": {
            "type": "integer"
          },
          "chance_of_snow": {
            "type": "integer"
          },
          "vis_km": {
            "type": "number"
          },
          "vis_miles": {
            "type": "number"
          },
          "gust_mph": {
            "type": "number"
          },
          "gust_kph": {
            "type": "number"
          },
          "uv": {
            "type": "number"
          }
        }
      },
      "Astro": {
        "type": "object",
        "properties": {
          "sunrise": {
            "type": "string"
          },
          "sunset": {
            "type": "string"
          },
          "moonrise": {
            "type": "string"
          },
          "moonset": {
            "type": "string"
          },
          "moon_phase": {
            "type": "string"
          },
          "moon_illumination": {
            "type": "string"
          }
        }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "current": {
            "$ref": "#/components/schemas/CurrentWeather"
          },
          "forecast": {
            "type": "object",
            "properties": {
              "forecastday": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              }
            }
          },
          "alerts": {
            "type": "object",
            "properties": {
              "alert": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      },
      "HistoryResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "forecast": {
            "type": "object",
            "properties": {
              "forecastday": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              }
            }
          }
        }
      },
      "SearchLocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "AstronomyResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "astronomy": {
            "type": "object",
            "properties": {
              "astro": {
                "$ref": "#/components/schemas/Astro"
              }
            }
          }
        }
      },
      "TimezoneResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "SportsResponse": {
        "type": "object",
        "properties": {
          "football": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SportsEvent"
            }
          },
          "cricket": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SportsEvent"
            }
          },
          "golf": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SportsEvent"
            }
          }
        }
      },
      "SportsEvent": {
        "type": "object",
        "properties": {
          "stadium": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "tournament": {
            "type": "string"
          },
          "start": {
            "type": "string"
          },
          "match": {
            "type": "string"
          }
        }
      },
      "MarineResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "forecast": {
            "type": "object",
            "properties": {
              "forecastday": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "format": "date"
                    },
                    "day": {
                      "type": "object",
                      "properties": {
                        "maxtemp_c": {
                          "type": "number"
                        },
                        "mintemp_c": {
                          "type": "number"
                        },
                        "avgtemp_c": {
                          "type": "number"
                        },
                        "condition": {
                          "$ref": "#/components/schemas/WeatherCondition"
                        },
                        "tides": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tide": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "tide_time": {
                                      "type": "string"
                                    },
                                    "tide_height_mt": {
                                      "type": "string"
                                    },
                                    "tide_type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hour": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HourlyWeather"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IpLookupResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "continent_code": {
            "type": "string"
          },
          "continent_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "tz_id": {
            "type": "string"
          },
          "localtime_epoch": {
            "type": "integer"
          },
          "localtime": {
            "type": "string"
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "headline": {
            "type": "string"
          },
          "msgtype": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "urgency": {
            "type": "string"
          },
          "areas": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "certainty": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "effective": {
            "type": "string"
          },
          "expires": {
            "type": "string"
          },
          "desc": {
            "type": "string"
          },
          "instruction": {
            "type": "string"
          }
        }
      },
      "AlertsResponse": {
        "type": "object",
        "properties": {
          "alerts": {
            "type": "object",
            "properties": {
              "alert": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      }
    }
  }
}
