{
  "openapi": "3.0.3",
  "info": {
    "title": "Enphase Monitoring API",
    "version": "v4",
    "description": "Enphase Monitoring API provides access to system details, device data, production/consumption metrics, alarms, and events for solar energy systems.",
    "x-jentic-source-url": "https://developer-v4.enphase.com/"
  },
  "servers": [
    {
      "url": "https://api.enphaseenergy.com"
    }
  ],
  "paths": {
    "/api/v4/systems": {
      "get": {
        "operationId": "",
        "summary": "Fetch systems",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "List of Systems"
          },
          "401": {
            "description": "Authentication Error"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page to be returned. Default=1, Min=1. For example, if page is set to 2, 2nd page is returned"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records shown per page. Default=10, Min=1, Max=100.  For example, if max is set to 5, 5 records are shown per page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Returns list of systems sorted by <sort_by> field. To get the ASC order sorted list, user sort_by = id. To get the DESC order sorted list, use sort_by = -id. By default, the list is sorted by ascending order of system ID."
          }
        ]
      }
    },
    "/api/v4/systems/search": {
      "post": {
        "operationId": "",
        "summary": "Search and filter systems",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "List of Systems"
          },
          "401": {
            "description": "Authentication Error"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page to be returned. Default=1, Min=1, e.g=2"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records shown per page. Default=10, Min=1, Max=1000, e.g=5"
          },
          {
            "name": "live_stream",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Indicates whether the live_stream field should be included in the response (true to include, false to omit)."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}": {
      "get": {
        "operationId": "",
        "summary": "Retrieves a System by id",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "System fetched"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system. If an empty value is passed in the ID, this endpoint behaves as Fetch systems endpoint."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/summary": {
      "get": {
        "operationId": "",
        "summary": "Retrieves a system summary",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "System summary fetched"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "summary_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Requested date for the system's summary data. Defaults to the current local date of the system"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/devices": {
      "get": {
        "operationId": "",
        "summary": "Retrieves devices for a given system",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "List of devices"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          }
        ]
      }
    },
    "/api/v4/systems/retrieve_system_id": {
      "get": {
        "operationId": "",
        "summary": "Retrieve system for a given envoy serial number",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "search_system_id"
          },
          "401": {
            "description": "Authentication Error"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "serial_num",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Envoy Serial Number"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/events": {
      "get": {
        "operationId": "",
        "summary": "To retrieve the list of events for a site",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "List of events"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system."
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Requested start time of the events data in Epoch time format."
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Requested end time of the events data in Epoch time format. Defaults to minimum (start time + 1 day, current time)"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/alarms": {
      "get": {
        "operationId": "",
        "summary": "To retrieve the list of alarms for a site",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "List of alarms"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system."
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Requested start time of the alarms data in Epoch time format."
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Requested end time of the alarms data in Epoch time format. Defaults to minimum (start time + 1 day, current time)"
          },
          {
            "name": "cleared",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filters alarms based on their status. Set to true to return cleared alarms; defaults to false to return active alarms."
          }
        ]
      }
    },
    "/api/v4/systems/event_types": {
      "get": {
        "operationId": "",
        "summary": "To retrieve the list of event_type_id along with event_description and recommended_action",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "The list of event_types"
          },
          "401": {
            "description": "Authentication Error"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "event_type_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the event type."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/open_events": {
      "get": {
        "operationId": "",
        "summary": "To retrieve the list of all open events of a site",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "List of events"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/production_meter_readings": {
      "get": {
        "operationId": "",
        "summary": "production_meter_readings",
        "tags": [
          "Site Level Production Monitoring"
        ],
        "responses": {
          "200": {
            "description": "production_meter_readings"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End of reporting period in Unix epoch time. If no end is specified, defaults to the time of the request. If the end is later than the last reported interval the response data ends with the last reported interval"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/consumption_meter_readings": {
      "get": {
        "operationId": "",
        "summary": "consumption_meter_readings",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "consumption_meter_readings"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End of reporting period in Unix epoch time. If no end is specified, defaults to the time of the request. If the end is later than the last reported interval the response data ends with the last reported interval"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/storage_meter_readings": {
      "get": {
        "operationId": "",
        "summary": "storage_meter_readings",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "storage_meter_readings"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End of reporting period in Unix epoch time. If no end is specified, defaults to the time of the request. If the end is later than the last reported interval the response data ends with the last reported interval"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/rgm_stats": {
      "get": {
        "operationId": "",
        "summary": "rgm_stats",
        "tags": [
          "Site Level Production Monitoring"
        ],
        "responses": {
          "200": {
            "description": "rgm_stats"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Under some conditions, data for a given period may be temporarily unavailable. When this condition is detected, the response code is 500 and the response body is:"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The numeric id of the system"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start of period to report on in Unix epoch time. If no start is specified, the assumed start is midnight today, in the timezone of the system. If the start is earlier than the system\u2019s operational_date, the response data begins at midnight of the first reported interval date."
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End of reporting period in Unix epoch time. If no end is specified, default to the time of the request or (start time + 1 week), whichever is earlier. If the end is later than the last reported interval the response data ends with the last reported interval."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/consumption_lifetime": {
      "get": {
        "operationId": "",
        "summary": "consumption_lifetime",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "consumption_lifetime"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Requested start date of the time series data. Defaults to the system\u2019s operational date. If the start_date is earlier than the system\u2019s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date of the time series data. Defaults to yesterday if start_date is earlier than the system\u2019s current date; it defaults to today if start_date is the current date. Pass as String date format YYYY-MM-DD."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/energy_lifetime": {
      "get": {
        "operationId": "",
        "summary": "energy_lifetime",
        "tags": [
          "Site Level Production Monitoring"
        ],
        "responses": {
          "200": {
            "description": "When the query parameters include \u201cproduction=all\u201d, returns meter and microinverter-measured time series:"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start date of the time series data. Defaults to the system\u2019s operational date. If the start_date is earlier than the system\u2019s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date of the time series data. Defaults to yesterday if start_date is earlier than the system\u2019s current date; it defaults to today if start_date is the current date. Pass as String date format YYYY-MM-DD."
          },
          {
            "name": "production",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "When \u201call\u201d, returns the merged time series plus the time series as reported by the microinverters and the meter on the system. Other values are ignored."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/battery_lifetime": {
      "get": {
        "operationId": "",
        "summary": "battery_lifetime",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "battery_lifetime"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Requested start date of the time series data. Defaults to the system\u2019s operational date. If the start_date is earlier than the system\u2019s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date of the time series data. Defaults to yesterday if start_date is earlier than the system\u2019s current date; it defaults to today if start_date is the current date. Pass as String date format YYYY-MM-DD."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/energy_import_lifetime": {
      "get": {
        "operationId": "",
        "summary": "import_lifetime",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "import_lifetime"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Requested start date of the time series data. Defaults to the system\u2019s operational date. If the start_date is earlier than the system\u2019s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date of the time series data. Defaults to yesterday if start_date is earlier than the system\u2019s current date; it defaults to today if start_date is the current date. Pass as String date format YYYY-MM-DD."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/energy_export_lifetime": {
      "get": {
        "operationId": "",
        "summary": "export_lifetime",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "export_lifetime"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Requested start date of the time series data. Defaults to the system\u2019s operational date. If the start_date is earlier than the system\u2019s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date of the time series data. Defaults to yesterday if start_date is earlier than the system\u2019s current date; it defaults to today if start_date is the current date. Pass as String date format YYYY-MM-DD."
          }
        ]
      }
    },
    "/api/v4/systems/inverters_summary_by_envoy_or_site": {
      "get": {
        "operationId": "",
        "summary": "inverters_summary_by_envoy_or_site",
        "tags": [
          "System Details"
        ],
        "responses": {
          "200": {
            "description": "inverters_summary_by_envoy_or_site"
          },
          "401": {
            "description": "Authentication Error"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Site id. The response will contain only those microinverters reporting to one of the active envoys of the given site."
          },
          {
            "name": "envoy_serial_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Envoy Serial Number. Only microinverters reporting to the given envoy will be present in the response."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The page to be returned. Default=1, Min=1. For example, if page is set to 2, 2nd page is returned"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records shown per page. Default=10, Min=1, Max=100.  For example, if max is set to 5, 5 records are shown per page"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/telemetry/production_micro": {
      "get": {
        "operationId": "",
        "summary": "Retrieves telemetry for all production micros for a system",
        "tags": [
          "Site Level Production Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for all production micros"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String in YYYY-MM-DD format. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/telemetry/production_meter": {
      "get": {
        "operationId": "",
        "summary": "Retrieves telemetry for all production meters for a system",
        "tags": [
          "Site Level Production Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for all production meters"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String date format YYYY-MM-DD. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/telemetry/battery": {
      "get": {
        "operationId": "",
        "summary": "Retrieves telemetry for all batteries for a system",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for batteries"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "System id"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String date format YYYY-MM-DD. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/telemetry/consumption_meter": {
      "get": {
        "operationId": "",
        "summary": "Retrieves telemetry for all consumption meters for a system",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for all consumption meters"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Requested start time for telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String in YYYY-MM-DD format. If no start_at is specified, defaults to midnight today, in the timezone of the system. If the start_at specified is earlier than the system\u2019s first reported date, then the system first reported date is considered as start_at. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/devices/micros/{serial_no}/telemetry": {
      "get": {
        "operationId": "",
        "summary": "Retrieves telemetry for single micro/pcu.",
        "tags": [
          "Device Level Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for micro"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "System id"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the individual solar Microinverter"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String in YYYY-MM-DD format. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/devices/encharges/{serial_no}/telemetry": {
      "get": {
        "operationId": "",
        "summary": "Retrieves telemetry for single Encharge",
        "tags": [
          "Device Level Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for the Encharge"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "System id"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the encharge"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String in YYYY-MM-DD format. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/{serial_no}/evse_lifetime": {
      "get": {
        "operationId": "",
        "summary": "Retrieves daily time-series telemetry data of the 3rd party EVSE charger",
        "tags": [
          "Device Level Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for the evse_lifetime"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The start_date defaults to the system\u2019s operational date. If the start_date is earlier than the system\u2019s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date for fetching the daily time-series data. Pass as String date format YYYY-MM-DD. Defaults to today."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/hp_lifetime": {
      "get": {
        "operationId": "",
        "summary": "Retrieves daily time-series telemetry data of the HP",
        "tags": [
          "Device Level Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Telemetry for the hp_lifetime"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The start_date defaults to the system\u2019s operational date. If the start_date is earlier than the system\u2019s operational_date, then the response data begins with the system operational_date as start_date. Pass as String date format YYYY-MM-DD"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date for fetching the daily time-series data. Pass as String date format YYYY-MM-DD. Defaults to today."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/{serial_no}/evse_telemetry": {
      "get": {
        "operationId": "",
        "summary": "Retrieves telemetry data of the EVSE charger at regular intervals.",
        "tags": [
          "Device Level Monitoring"
        ],
        "responses": {
          "200": {
            "description": "EVSE telemetry in intervals"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "serial_num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String date format YYYY-MM-DD"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          },
          {
            "name": "interval_duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Size of the interval. Can be 5mins, or 15mins. Site must be configured to 5 min telemetry for this to be supported"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/hp_telemetry": {
      "get": {
        "operationId": "",
        "summary": "Retrieves energy consumed by HP in regular intervals.",
        "tags": [
          "Device Level Monitoring"
        ],
        "responses": {
          "200": {
            "description": "HP telemetry in intervals"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String date format YYYY-MM-DD"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start Date in YYYY-MM-DD format"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          },
          {
            "name": "interval_duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Size of the interval. Can be 5mins, or 15mins. Site must be configured to 5 min telemetry for this to be supported"
          }
        ]
      }
    },
    "/api/v4/systems/config/{system_id}/battery_settings": {
      "get": {
        "operationId": "",
        "summary": "Returns the current battery settings of a system",
        "tags": [
          "System Configurations"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique numeric id of the system"
          }
        ]
      },
      "put": {
        "operationId": "",
        "summary": "Updates the current battery settings of a system",
        "tags": [
          "System Configurations"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique numeric id of the system"
          }
        ]
      }
    },
    "/api/v4/systems/config/{system_id}/storm_guard": {
      "get": {
        "operationId": "",
        "summary": "Returns the current storm guard settings of a system",
        "tags": [
          "System Configurations"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique numeric id of the system"
          }
        ]
      }
    },
    "/api/v4/systems/config/{system_id}/grid_status": {
      "get": {
        "operationId": "",
        "summary": "Returns the current grid status of a system",
        "tags": [
          "System Configurations"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique numeric id of the system"
          }
        ]
      }
    },
    "/api/v4/systems/config/{system_id}/load_control": {
      "get": {
        "operationId": "",
        "summary": "Returns the current load control settings of a system",
        "tags": [
          "System Configurations"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique numeric id of the system"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/energy_import_telemetry": {
      "get": {
        "operationId": "",
        "summary": "Retrieves energy imported from grid in regular intervals",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Energy import telemetry in intervals"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String in YYYY-MM-DD format. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/energy_export_telemetry": {
      "get": {
        "operationId": "",
        "summary": "Retrieves energy exported to grid in regular intervals",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Energy export telemetry in intervals"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String in YYYY-MM-DD format. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day', '15mins', '5mins'. Default is 'day'"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/live_data": {
      "get": {
        "operationId": "getLiveData",
        "summary": "Site Level Live Status",
        "tags": [
          "Streaming APIs"
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "401": {
            "description": "User will get 401 in the below cases. Response content type is application/json\nNOT_AUTHENTICATED - API key is missing\nUNAUTHORIZED - Access token is invalid\nUNAUTHORIZED - Access token has expired\nNOT_AUTHENTICATED - API Key is invalid\nUNAUTHORIZED - Application is not authorized to access the requested resource\n"
          },
          "403": {
            "description": "User is not authorized. Response content type is application/json"
          },
          "429": {
            "description": "Too Many Requests. Response content type is application/json"
          },
          "461": {
            "description": "Duration is less than 30 seconds. Response content type is application/json"
          },
          "462": {
            "description": "Duration is greater then 900 seconds. Response content type is application/json"
          },
          "463": {
            "description": "Duration is not integer. Response content type is application/json"
          },
          "466": {
            "description": "Envoy must be active and envoy version must be at least 6.0.0. Response content type is application/json"
          },
          "468": {
            "description": "System ID does not exist. Response content type is application/json"
          },
          "472": {
            "description": "For Ensemble sites, live stream will be supported in the following cases - If site has an active battery or active system controller, then site must have  active production meter and active consumption meter; Otherwise, site must have active production meter. Response content type is application/json"
          },
          "473": {
            "description": "IQ gateway is not reporting. Response content type is application/json"
          },
          "550": {
            "description": "Service unreachable. Response content type is application/json"
          },
          "551": {
            "description": "Service unreachable. Response content type is application/json"
          },
          "552": {
            "description": "Unable to connect. Response content type is application/json"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "duration",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Duration of the stream in seconds. Default=30, Min=30, Max=300, e.g=30"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/latest_telemetry": {
      "get": {
        "operationId": "",
        "summary": "Returns a system's last reported PV Power, Consumption Power, and Battery Power in Watts. Return\u2019s operational mode for Battery, HP, and EVSE",
        "tags": [
          "Site Level Consumption Monitoring"
        ],
        "responses": {
          "200": {
            "description": "List of devices"
          },
          "401": {
            "description": "Authentication Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/devices": {
      "get": {
        "operationId": "fetchChargersSummary",
        "summary": "Fetch active chargers for a system",
        "tags": [
          "EV Charger Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Active chargers"
          },
          "400": {
            "description": "Invalid system_id"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/events": {
      "get": {
        "operationId": "fetchEvents",
        "summary": "Fetch events",
        "tags": [
          "EV Charger Monitoring"
        ],
        "responses": {
          "200": {
            "description": "List of events"
          },
          "400": {
            "description": "Possible Bad request reasons"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "serial_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum limit: 100"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/{serial_no}/sessions": {
      "get": {
        "operationId": "fetchChargerSessionHistory",
        "summary": "Charger session history",
        "tags": [
          "EV Charger Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Charger sessions list"
          },
          "400": {
            "description": "Possible Bad request reasons"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum limit: 100"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/{serial_no}/schedules": {
      "get": {
        "operationId": "fetchSchedules",
        "summary": "Get Schedule",
        "tags": [
          "EV Charger Monitoring"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid system_id or serial_no"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/{serial_no}/lifetime": {
      "get": {
        "operationId": "fetchDailyEnergyConsumptionData",
        "summary": "Daily energy api",
        "tags": [
          "EV Charger Monitoring"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Possible Bad request reasons"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Requested start date of the time series data. If the start_date is not provided, then the response data begins with the previous date as start_date. Pass as String date format YYYYMMDD."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date of the time series data. Defaults to yesterday. Pass as String date format YYYYMMDD."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/{serial_no}/telemetry": {
      "get": {
        "operationId": "fetchEnergyConsumptionData",
        "summary": "Interval energy api",
        "tags": [
          "EV Charger Monitoring"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Possible Bad request reasons"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The granularity of the telemetry data. Possible values are 'week', 'day'. Default is 'day'"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Requested start date of the time series data. If the start_date and start_at is not provided, then the response data begins with the previous date as start_date. Pass as String date format YYYYMMDD."
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start time for fetching the telemetry data in Epoch time format. Alternatively one can use start_date in place of start_at for passing the start date as String in YYYYMMDD format. By default start_at will appear in response. If start_date parameter is passed in the url, then start_date field will appear in response."
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/{serial_no}/start_charging": {
      "post": {
        "operationId": "startCharging",
        "summary": "Start charging. Illustrative only - access via VPP api for partners",
        "tags": [
          "EV Charger Control"
        ],
        "responses": {
          "202": {
            "description": "Request accepted"
          },
          "400": {
            "description": "Possible Bad request reasons"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          }
        ]
      }
    },
    "/api/v4/systems/{system_id}/ev_charger/{serial_no}/stop_charging": {
      "post": {
        "operationId": "stopCharging",
        "summary": "Stop charging. Illustrative only - access via VPP api for partners",
        "tags": [
          "EV Charger Control"
        ],
        "responses": {
          "202": {
            "description": "Request accepted"
          },
          "400": {
            "description": "Invalid system_id or serial_no"
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "system_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The unique numeric ID of the system"
          },
          {
            "name": "serial_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Serial Number of the EV Charger"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.enphaseenergy.com/oauth/authorize",
            "tokenUrl": "https://api.enphaseenergy.com/oauth/token",
            "scopes": {}
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "key"
      }
    }
  },
  "security": [
    {
      "oauth2": [],
      "apiKey": []
    }
  ]
}