{
  "openapi": "3.0.3",
  "info": {
    "title": "TheyWorkForYou API",
    "description": "TheyWorkForYou API provides access to UK Parliament data including MPs, Lords, MSPs, MLAs, constituencies, debates, written answers, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.theyworkforyou.com/api/docs/"
  },
  "servers": [
    {
      "url": "https://www.theyworkforyou.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/getQuota": {
      "get": {
        "operationId": "getquota",
        "summary": "Get API quota usage",
        "description": "Returns your current quota usage and limit. Does not count against quota.",
        "tags": [
          "Quota"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "js",
                "rabx"
              ],
              "default": "js"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getConstituency": {
      "get": {
        "operationId": "getconstituency",
        "summary": "Search constituency",
        "description": "Searches for a UK Parliament constituency by name or postcode.",
        "tags": [
          "Constituencies"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Constituency"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getConstituencies": {
      "get": {
        "operationId": "getconstituencies",
        "summary": "List constituencies",
        "description": "Returns list of UK Parliament constituencies.",
        "tags": [
          "Constituencies"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Constituency"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getPerson": {
      "get": {
        "operationId": "getperson",
        "summary": "Get person details",
        "description": "Returns main details for a person.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getMP": {
      "get": {
        "operationId": "getmp",
        "summary": "Get MP details",
        "description": "Returns main details for an MP.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "constituency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "always_return",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getMPInfo": {
      "get": {
        "operationId": "getmpinfo",
        "summary": "Get MP extra info",
        "description": "Returns extra information for a person.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getMPs": {
      "get": {
        "operationId": "getmps",
        "summary": "List MPs",
        "description": "Returns a list of all current MPs.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "party",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getLords": {
      "get": {
        "operationId": "getlords",
        "summary": "List Lords",
        "description": "Returns a list of all current Lords.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "party",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getMLAs": {
      "get": {
        "operationId": "getmlas",
        "summary": "List MLAs",
        "description": "Returns a list of Northern Ireland Assembly MLAs.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getMSPs": {
      "get": {
        "operationId": "getmsps",
        "summary": "List MSPs",
        "description": "Returns a list of Scottish Parliament MSPs.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getGeometry": {
      "get": {
        "operationId": "getgeometry",
        "summary": "Get constituency geometry",
        "description": "Returns geometry information for a constituency.",
        "tags": [
          "Constituencies"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getDebates": {
      "get": {
        "operationId": "getdebates",
        "summary": "Get debates",
        "description": "Returns debates matching search criteria.",
        "tags": [
          "Parliamentary"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "commons",
                "lords",
                "scotland",
                "ni"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "gid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getWrans": {
      "get": {
        "operationId": "getwrittenanswers",
        "summary": "Get written answers",
        "description": "Returns written answers matching search criteria.",
        "tags": [
          "Parliamentary"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "gid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getHansard": {
      "get": {
        "operationId": "gethansard",
        "summary": "Get Hansard records",
        "description": "Returns Hansard records matching search criteria.",
        "tags": [
          "Parliamentary"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getComments": {
      "get": {
        "operationId": "getcomments",
        "summary": "Get comments",
        "description": "Returns comments on parliamentary records.",
        "tags": [
          "Parliamentary"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convertURL": {
      "get": {
        "operationId": "converturl",
        "summary": "Convert parliament.uk URL",
        "description": "Converts a parliament.uk URL to the equivalent TheyWorkForYou URL.",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "js"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getLord": {
      "get": {
        "operationId": "getLord",
        "summary": "Get Lord details",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Person ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getMLA": {
      "get": {
        "operationId": "getMLA",
        "summary": "Get MLA details",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "description": "Postcode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "constituency",
            "in": "query",
            "description": "Constituency name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Person ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getMSP": {
      "get": {
        "operationId": "getMSP",
        "summary": "Get MSP details",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "description": "Postcode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "constituency",
            "in": "query",
            "description": "Constituency name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Person ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getMS": {
      "get": {
        "operationId": "getMS",
        "summary": "Get MS/AS (Member of the Senedd) details",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "description": "Postcode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "constituency",
            "in": "query",
            "description": "Constituency name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Person ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getMSs": {
      "get": {
        "operationId": "getMSs",
        "summary": "List all MS/AS members",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getMPsInfo": {
      "get": {
        "operationId": "getMPsInfo",
        "summary": "Get extra info for multiple people",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Comma-separated person IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getBoundary": {
      "get": {
        "operationId": "getBoundary",
        "summary": "Get constituency boundary polygon",
        "tags": [
          "Constituencies"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Constituency name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getCommittee": {
      "get": {
        "operationId": "getCommittee",
        "summary": "Get Select Committee members",
        "tags": [
          "Parliamentary"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Committee name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date for committee membership",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getWMS": {
      "get": {
        "operationId": "getWMS",
        "summary": "Get written ministerial statements",
        "tags": [
          "Parliamentary"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (xml, php, json, js, rabx)",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "php",
                "json",
                "js",
                "rabx"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date of statements",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person",
            "in": "query",
            "description": "Person ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "num",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "QuotaResponse": {
        "type": "object",
        "properties": {
          "quota_left": {
            "type": "integer"
          },
          "quota_limit": {
            "type": "integer"
          }
        }
      },
      "Constituency": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "constituency": {
            "type": "string"
          },
          "bbc_constituency_id": {
            "type": "string"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "member_id": {
            "type": "string"
          },
          "person_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "party": {
            "type": "string"
          },
          "constituency": {
            "type": "string"
          },
          "house": {
            "type": "integer"
          },
          "entered_house": {
            "type": "string"
          },
          "left_house": {
            "type": "string"
          },
          "entered_reason": {
            "type": "string"
          },
          "left_reason": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "DebatesResponse": {
        "type": "object",
        "properties": {
          "info": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "results_per_page": {
                "type": "integer"
              },
              "total_results": {
                "type": "integer"
              }
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "gid": {
                  "type": "string"
                },
                "hdate": {
                  "type": "string"
                },
                "htime": {
                  "type": "string"
                },
                "body": {
                  "type": "string"
                },
                "speaker": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "TheyWorkForYou API key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Quota",
      "description": "API usage quota"
    },
    {
      "name": "Constituencies",
      "description": "Constituency information"
    },
    {
      "name": "Members",
      "description": "Parliament member information"
    },
    {
      "name": "Parliamentary",
      "description": "Parliamentary records"
    },
    {
      "name": "Utility",
      "description": "Utility endpoints"
    }
  ]
}