{
  "openapi": "3.0.3",
  "info": {
    "title": "EPA Air Quality System (AQS) API",
    "version": "2.0.0",
    "description": "The Air Quality System (AQS) API provides access to ambient air quality data collected by EPA, state, local, and tribal air pollution control agencies. Data includes criteria pollutants, meteorological data, and more.",
    "x-jentic-source-url": "https://aqs.epa.gov/aqsweb/documents/data_api.html"
  },
  "servers": [
    {
      "url": "https://aqs.epa.gov/data/api"
    }
  ],
  "paths": {
    "/list/states": {
      "get": {
        "operationId": "listStates",
        "summary": "List states",
        "description": "Returns a list of states and their FIPS codes",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email address"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/countiesByState": {
      "get": {
        "operationId": "listCountiesByState",
        "summary": "List counties by state",
        "description": "Returns counties within a state",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/sitesByCounty": {
      "get": {
        "operationId": "listSitesByCounty",
        "summary": "List sites by county",
        "description": "Returns monitoring sites within a county",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS code"
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "County FIPS code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/cbsas": {
      "get": {
        "operationId": "listCBSAs",
        "summary": "List Core Based Statistical Areas",
        "description": "Returns list of CBSAs",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/classes": {
      "get": {
        "operationId": "listParameterClasses",
        "summary": "List parameter classes",
        "description": "Returns classes of parameters available",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/parametersByClass": {
      "get": {
        "operationId": "listParametersByClass",
        "summary": "List parameters by class",
        "description": "Returns parameters available for a specific class",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "pc",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter class"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sampleData/byState": {
      "get": {
        "operationId": "getSampleDataByState",
        "summary": "Get sample data by state",
        "description": "Returns sample data for a state, parameter, and date range",
        "tags": [
          "Sample Data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter code (e.g., 44201 for Ozone)"
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Begin date (YYYYMMDD)"
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYYMMDD)"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sampleData/byCounty": {
      "get": {
        "operationId": "getSampleDataByCounty",
        "summary": "Get sample data by county",
        "description": "Returns sample data for a specific county",
        "tags": [
          "Sample Data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter code"
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Begin date (YYYYMMDD)"
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End date (YYYYMMDD)"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS code"
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "County FIPS code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sampleData/bySite": {
      "get": {
        "operationId": "getSampleDataBySite",
        "summary": "Get sample data by site",
        "description": "Returns sample data for a specific monitoring site",
        "tags": [
          "Sample Data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter code"
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Begin date"
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End date"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS"
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "County FIPS"
          },
          {
            "name": "site",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Site number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sampleData/byCBSA": {
      "get": {
        "operationId": "getSampleDataByCBSA",
        "summary": "Get sample data by CBSA",
        "description": "Returns sample data for a Core Based Statistical Area",
        "tags": [
          "Sample Data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter code"
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Begin date"
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End date"
          },
          {
            "name": "cbsa",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CBSA code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dailyData/byState": {
      "get": {
        "operationId": "getDailyDataByState",
        "summary": "Get daily summary data by state",
        "description": "Returns daily summary data for a state",
        "tags": [
          "Daily Data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered email"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter code"
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Begin date"
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End date"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dailyData/byCounty": {
      "get": {
        "operationId": "getDailyDataByCounty",
        "summary": "Get daily summary data by county",
        "tags": [
          "Daily Data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/annualData/byState": {
      "get": {
        "operationId": "getAnnualDataByState",
        "summary": "Get annual summary data by state",
        "tags": [
          "Annual Data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnualDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitors/byState": {
      "get": {
        "operationId": "getMonitorsByState",
        "summary": "Get monitors by state",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "param",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signup": {
      "get": {
        "operationId": "signUp",
        "summary": "Sign up for API access",
        "description": "Register an email to receive an API key",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email address to register"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Header": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ListResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "value_represented": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SampleDataResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SampleData"
            }
          }
        }
      },
      "SampleData": {
        "type": "object",
        "properties": {
          "state_code": {
            "type": "string"
          },
          "county_code": {
            "type": "string"
          },
          "site_number": {
            "type": "string"
          },
          "parameter_code": {
            "type": "string"
          },
          "poc": {
            "type": "integer"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "datum": {
            "type": "string"
          },
          "parameter": {
            "type": "string"
          },
          "sample_duration": {
            "type": "string"
          },
          "date_local": {
            "type": "string"
          },
          "time_local": {
            "type": "string"
          },
          "date_gmt": {
            "type": "string"
          },
          "time_gmt": {
            "type": "string"
          },
          "sample_measurement": {
            "type": "number"
          },
          "units_of_measure": {
            "type": "string"
          },
          "method_type": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "DailyDataResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AnnualDataResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "MonitorResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}