{
  "openapi": "3.0.3",
  "info": {
    "title": "Text2reach SMS Messaging API",
    "version": "1.0.0",
    "description": "Text2reach SMS messaging API for sending SMS messages, checking delivery status, managing credits, and PIN verification.",
    "x-jentic-source-url": "https://www.text2reach.com/en/sms-messaging-api-documentation/"
  },
  "servers": [
    {
      "url": "https://api.text2reach.com",
      "description": "Text2reach API Server"
    }
  ],
  "paths": {
    "/sms/send": {
      "get": {
        "operationId": "sendsms",
        "summary": "Send SMS",
        "description": "Send a bulk SMS message to a phone number. Returns message ID on success or negative error code on failure.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your registered Bulk API key"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source address (international number max 15 digits, or textual sender name max 11 chars)"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination address in international form"
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Plain text message up to 160 (1071) chars, Unicode up to 70 (469) chars"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "txt",
                "bin"
              ],
              "default": "txt"
            },
            "description": "Message type: txt for text, bin for binary"
          },
          {
            "name": "unicode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "If false, non-GSM 7bit chars will be converted or removed"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Unix timestamp of opt-in time"
          },
          {
            "name": "report_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "URL for delivery reports"
          },
          {
            "name": "expires",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Delivery time limit in seconds"
          },
          {
            "name": "schedule",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for scheduled delivery (within 2 weeks)"
          },
          {
            "name": "blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Check if number is in blacklist before sending. Returns -503 if found."
          },
          {
            "name": "shortlink",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            },
            "description": "Set 1 to shorten web-links in message using Bitly"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns message ID (positive integer) on success, or negative error code on failure",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - wrong API key"
          }
        }
      }
    },
    "/sms/status": {
      "get": {
        "operationId": "getmessagestatus",
        "summary": "Get message delivery status",
        "description": "Request the delivery status of a sent message.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your registered Bulk API key"
          },
          {
            "name": "msg_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message ID from send API call"
          }
        ],
        "responses": {
          "200": {
            "description": "Message status",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "delivered",
                    "undelivered",
                    "expired",
                    "canceled",
                    "rejected",
                    "pending",
                    "unknown"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/details": {
      "get": {
        "operationId": "getmessagedetails",
        "summary": "Get extended delivery report",
        "description": "Request detailed information about a sent message.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your registered Bulk API key"
          },
          {
            "name": "msg_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message ID from send API call"
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/cancel": {
      "get": {
        "operationId": "cancelmessage",
        "summary": "Cancel SMS",
        "description": "Cancel a pending or scheduled message.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your registered Bulk API key"
          },
          {
            "name": "msg_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message ID from send API call"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation result",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/credit": {
      "get": {
        "operationId": "getcreditsbalance",
        "summary": "Get credits balance",
        "description": "Get remaining credits on account (for prepaid customers).",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your registered Bulk API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit balance amount",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/prices": {
      "get": {
        "operationId": "getprices",
        "summary": "Get prices",
        "description": "Get all available prices by countries.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your registered Bulk API key"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "xls"
              ],
              "default": "json"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Price list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriceEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/pin": {
      "get": {
        "operationId": "verifypin",
        "summary": "Verify PIN code",
        "description": "Verify a PIN code that was sent to a phone number.",
        "tags": [
          "PIN Verification"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key used to request PIN generation"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number to verify"
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "PIN code to verify"
          }
        ],
        "responses": {
          "200": {
            "description": "PIN verification result: VALID, UNKNOWN, or EXPIRED",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "VALID",
                    "UNKNOWN",
                    "EXPIRED"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key passed as query parameter"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 0
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {}
          }
        }
      },
      "MessageDetailsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/MessageDetails"
          }
        }
      },
      "MessageDetails": {
        "type": "object",
        "properties": {
          "msg_id": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "description": "From number/alpha"
          },
          "destination": {
            "type": "string",
            "description": "To number"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "delivered": {
            "type": "string",
            "format": "date-time"
          },
          "schedule": {
            "type": "string"
          },
          "scheduled": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          },
          "multipart": {
            "type": "string"
          },
          "parts": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "sum": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "delivered",
              "undelivered",
              "expired",
              "canceled",
              "rejected",
              "pending"
            ]
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "iso": {
            "type": "string"
          },
          "mcc": {
            "type": "string"
          }
        }
      },
      "Operator": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "mnc": {
            "type": "string"
          }
        }
      },
      "PriceEntry": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "iso": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "operator": {
            "type": "string"
          },
          "mcc": {
            "type": "integer"
          },
          "mnc": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "note": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Operations related to Account"
    },
    {
      "name": "PIN Verification",
      "description": "Operations related to PIN Verification"
    },
    {
      "name": "SMS",
      "description": "Operations related to SMS"
    }
  ]
}