{
  "openapi": "3.0.3",
  "info": {
    "title": "BeeTribe Zapier API",
    "version": "1.0.0",
    "description": "BeeTribe.io API for Zapier integration. Supports authentication, retrieving queens/hives, and managing hive access control (inviting and kicking bees).",
    "x-jentic-source-url": "https://app.swaggerhub.com/apis-docs/BEEKEEPER_1/BeeTribe/1.0.0"
  },
  "servers": [
    {
      "url": "https://app.beetribe.io"
    }
  ],
  "paths": {
    "/zapier-auth": {
      "post": {
        "operationId": "authenticateZapier",
        "summary": "Authenticate to BeeTribe for Zapier",
        "description": "Authenticates a user to BeeTribe.io for Zapier integration.",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/zapier-getqueens": {
      "get": {
        "operationId": "getQueens",
        "summary": "Retrieve Queens/Hives",
        "description": "Retrieves Queens/Hives in BeeTribe for Zapier.",
        "tags": ["Queens"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueenListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/master-endpoint": {
      "post": {
        "operationId": "manageHiveAccess",
        "summary": "Manage hive access control",
        "description": "Manages hive access control. Supports inviting bees or kicking a bee from a hive.",
        "tags": ["Hive Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasterEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Authentication token"
          }
        },
        "required": ["token"]
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Queen": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Queen/Hive identifier"
          },
          "name": {
            "type": "string",
            "description": "Queen/Hive name"
          }
        }
      },
      "QueenListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Queen"
            }
          }
        }
      },
      "MasterEndpointRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": ["inviteBees", "kickBee"],
            "description": "Action to perform"
          }
        },
        "required": ["action"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
