{
  "openapi": "3.0.3",
  "info": {
    "title": "Infinity API",
    "version": "2025-12-01.morava",
    "description": "The Infinity API allows you to interact with your Infinity workspaces, boards, items, and more. Build integrations to automate your project management workflows.",
    "x-jentic-source-url": "https://s3.amazonaws.com/devdocs.startinfinity.com/index.html",
    "contact": {
      "name": "Infinity Support",
      "url": "https://startinfinity.com"
    }
  },
  "servers": [
    {
      "url": "https://api.startinfinity.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v2/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get user profile",
        "description": "Retrieves current user profile data including fields not visible to others",
        "tags": ["Profile"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List workspaces",
        "description": "Lists all workspaces for the logged-in user",
        "tags": ["Workspaces"],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards": {
      "get": {
        "operationId": "listBoards",
        "summary": "List boards",
        "description": "Lists boards in a workspace",
        "tags": ["Boards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBoard",
        "summary": "Create board",
        "description": "Creates a new board in a workspace",
        "tags": ["Boards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBoardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}": {
      "get": {
        "operationId": "getBoard",
        "summary": "Get board",
        "description": "Retrieves a single board by ID",
        "tags": ["Boards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/attributes": {
      "get": {
        "operationId": "listAttributes",
        "summary": "List attributes",
        "description": "Lists attributes for a board",
        "tags": ["Attributes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAttribute",
        "summary": "Create attribute",
        "description": "Creates a new attribute for a board",
        "tags": ["Attributes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttributeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attribute"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/attributes/{attribute}": {
      "get": {
        "operationId": "getAttribute",
        "summary": "Get attribute",
        "description": "Retrieves a single attribute by ID",
        "tags": ["Attributes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/AttributePath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attribute"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAttribute",
        "summary": "Update attribute",
        "description": "Updates an existing attribute",
        "tags": ["Attributes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/AttributePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAttributeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attribute"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAttribute",
        "summary": "Delete attribute",
        "description": "Deletes an attribute from a board",
        "tags": ["Attributes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/AttributePath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attribute"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/items": {
      "get": {
        "operationId": "listItems",
        "summary": "List items",
        "description": "Lists paginated items in a board",
        "tags": ["Items"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Expand related resources (values, values.attribute, folder, created_by)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["values", "values.attribute", "folder", "created_by"]
              }
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "description": "Filter items by folder ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createItem",
        "summary": "Create item",
        "description": "Creates a new item in a board",
        "tags": ["Items"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/items/{item}": {
      "get": {
        "operationId": "getItem",
        "summary": "Get item",
        "description": "Retrieves a single item by ID",
        "tags": ["Items"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Expand related resources",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateItem",
        "summary": "Update item",
        "description": "Updates an existing item (archives instead of deletes as of v2025-12-01)",
        "tags": ["Items"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteItem",
        "summary": "Delete item",
        "description": "Archives an item from a board",
        "tags": ["Items"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/items/{item}/comments": {
      "get": {
        "operationId": "listComments",
        "summary": "List comments",
        "description": "Lists comments for an item",
        "tags": ["Comments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Expand related resources",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create comment",
        "description": "Creates a new comment on an item",
        "tags": ["Comments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/items/{item}/comments/{comment}": {
      "get": {
        "operationId": "getComment",
        "summary": "Get comment",
        "description": "Retrieves a single comment by ID",
        "tags": ["Comments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          },
          {
            "$ref": "#/components/parameters/CommentPath"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Expand related resources",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateComment",
        "summary": "Update comment",
        "description": "Updates an existing comment",
        "tags": ["Comments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          },
          {
            "$ref": "#/components/parameters/CommentPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete comment",
        "description": "Deletes a comment from an item",
        "tags": ["Comments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ItemPath"
          },
          {
            "$ref": "#/components/parameters/CommentPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/folders": {
      "get": {
        "operationId": "listFolders",
        "summary": "List folders",
        "description": "Lists folders in a board",
        "tags": ["Folders"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFolder",
        "summary": "Create folder",
        "description": "Creates a new folder in a board",
        "tags": ["Folders"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/folders/{folder}": {
      "get": {
        "operationId": "getFolder",
        "summary": "Get folder",
        "description": "Retrieves a single folder by ID",
        "tags": ["Folders"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/FolderPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateFolder",
        "summary": "Update folder",
        "description": "Updates an existing folder",
        "tags": ["Folders"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/FolderPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFolder",
        "summary": "Delete folder",
        "description": "Deletes a folder from a board",
        "tags": ["Folders"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/FolderPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/attachments-file": {
      "post": {
        "operationId": "uploadAttachment",
        "summary": "Upload file attachment",
        "description": "Uploads a file attachment to a workspace",
        "tags": ["Attachments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/attachments-url": {
      "post": {
        "operationId": "createAttachmentFromUrl",
        "summary": "Create attachment from URL",
        "description": "Creates an attachment from a URL",
        "tags": ["Attachments"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttachmentFromUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/views": {
      "get": {
        "operationId": "listViews",
        "summary": "List views",
        "description": "Lists views for a board",
        "tags": ["Views"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createView",
        "summary": "Create view",
        "description": "Creates a new view for a board",
        "tags": ["Views"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/views/{view}": {
      "get": {
        "operationId": "getView",
        "summary": "Get view",
        "description": "Retrieves a single view by ID",
        "tags": ["Views"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ViewPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateView",
        "summary": "Update view",
        "description": "Updates an existing view",
        "tags": ["Views"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ViewPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteView",
        "summary": "Delete view",
        "description": "Deletes a view from a board",
        "tags": ["Views"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ViewPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List members",
        "description": "Lists members in a workspace",
        "tags": ["Members"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/members-invite": {
      "post": {
        "operationId": "inviteMember",
        "summary": "Invite member",
        "description": "Invites a member to a workspace",
        "tags": ["Members"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/members/{user}": {
      "put": {
        "operationId": "addMember",
        "summary": "Add member",
        "description": "Adds a member to a workspace",
        "tags": ["Members"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/UserPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeMember",
        "summary": "Remove member",
        "description": "Removes a member from a workspace",
        "tags": ["Members"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/UserPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/references": {
      "post": {
        "operationId": "createReference",
        "summary": "Create reference",
        "description": "Creates a reference between items",
        "tags": ["References"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reference"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/references/{reference}": {
      "delete": {
        "operationId": "deleteReference",
        "summary": "Delete reference",
        "description": "Deletes a reference between items",
        "tags": ["References"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/ReferencePath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reference"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/hooks": {
      "get": {
        "operationId": "listHooks",
        "summary": "List webhooks",
        "description": "Lists webhooks for a board",
        "tags": ["Hooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HookList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createHook",
        "summary": "Create webhook",
        "description": "Creates a new webhook for a board",
        "tags": ["Hooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces/{workspace}/boards/{board}/hooks/{hook}": {
      "put": {
        "operationId": "updateHook",
        "summary": "Update webhook",
        "description": "Updates an existing webhook",
        "tags": ["Hooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/HookPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteHook",
        "summary": "Delete webhook",
        "description": "Deletes a webhook from a board",
        "tags": ["Hooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspacePath"
          },
          {
            "$ref": "#/components/parameters/BoardPath"
          },
          {
            "$ref": "#/components/parameters/HookPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer authentication using API key. All requests must include `Authorization: Bearer {YOUR_AUTH_KEY}` and `X-API-Version: 2025-12-01.morava` headers."
      }
    },
    "parameters": {
      "WorkspacePath": {
        "name": "workspace",
        "in": "path",
        "required": true,
        "description": "Workspace ID",
        "schema": {
          "type": "string"
        }
      },
      "BoardPath": {
        "name": "board",
        "in": "path",
        "required": true,
        "description": "Board ID",
        "schema": {
          "type": "string"
        }
      },
      "AttributePath": {
        "name": "attribute",
        "in": "path",
        "required": true,
        "description": "Attribute ID",
        "schema": {
          "type": "string"
        }
      },
      "ItemPath": {
        "name": "item",
        "in": "path",
        "required": true,
        "description": "Item ID",
        "schema": {
          "type": "string"
        }
      },
      "CommentPath": {
        "name": "comment",
        "in": "path",
        "required": true,
        "description": "Comment ID",
        "schema": {
          "type": "string"
        }
      },
      "FolderPath": {
        "name": "folder",
        "in": "path",
        "required": true,
        "description": "Folder ID",
        "schema": {
          "type": "string"
        }
      },
      "ViewPath": {
        "name": "view",
        "in": "path",
        "required": true,
        "description": "View ID",
        "schema": {
          "type": "string"
        }
      },
      "UserPath": {
        "name": "user",
        "in": "path",
        "required": true,
        "description": "User ID",
        "schema": {
          "type": "string"
        }
      },
      "ReferencePath": {
        "name": "reference",
        "in": "path",
        "required": true,
        "description": "Reference ID",
        "schema": {
          "type": "string"
        }
      },
      "HookPath": {
        "name": "hook",
        "in": "path",
        "required": true,
        "description": "Hook ID",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Number of results to return (1-100)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 50
        }
      },
      "SortBy": {
        "name": "sort_by",
        "in": "query",
        "description": "Field to sort by",
        "schema": {
          "type": "string",
          "enum": ["id", "created_at"],
          "default": "id"
        }
      },
      "SortDirection": {
        "name": "sort_direction",
        "in": "query",
        "description": "Sort direction",
        "schema": {
          "type": "string",
          "enum": ["asc", "desc"],
          "default": "asc"
        }
      },
      "After": {
        "name": "after",
        "in": "query",
        "description": "Cursor for pagination (items after this cursor)",
        "schema": {
          "type": "string"
        }
      },
      "Before": {
        "name": "before",
        "in": "query",
        "description": "Cursor for pagination (items before this cursor)",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "User ID"
          },
          "name": {
            "type": "string",
            "description": "User name"
          },
          "email": {
            "type": "string",
            "description": "User email"
          },
          "photo_url": {
            "type": "string",
            "description": "User photo URL"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "job": {
            "type": "string",
            "description": "User job title"
          },
          "location": {
            "type": "string",
            "description": "User location"
          },
          "tagline": {
            "type": "string",
            "description": "User tagline"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Workspace ID"
          },
          "name": {
            "type": "string",
            "description": "Workspace name"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "WorkspaceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workspace"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Board ID"
          },
          "name": {
            "type": "string",
            "description": "Board name"
          },
          "description": {
            "type": "string",
            "description": "Board description"
          },
          "color": {
            "type": "string",
            "description": "Board color (hex)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "BoardList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Board"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "CreateBoardRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Board name"
          },
          "description": {
            "type": "string",
            "description": "Board description"
          },
          "color": {
            "type": "string",
            "description": "Board color (hex)"
          },
          "user_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User IDs to add to the board"
          }
        }
      },
      "Attribute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Attribute ID"
          },
          "name": {
            "type": "string",
            "description": "Attribute name"
          },
          "type": {
            "type": "string",
            "enum": ["attachments", "checkbox", "date", "email", "label", "links", "longtext", "members", "number", "phone", "progress", "rating", "text", "vote"],
            "description": "Attribute type"
          },
          "default_data": {
            "type": "object",
            "description": "Default data for the attribute"
          },
          "settings": {
            "type": "object",
            "description": "Attribute settings"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "AttributeList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attribute"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "CreateAttributeRequest": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Attribute name"
          },
          "type": {
            "type": "string",
            "enum": ["attachments", "checkbox", "date", "email", "label", "links", "longtext", "members", "number", "phone", "progress", "rating", "text", "vote"],
            "description": "Attribute type"
          },
          "default_data": {
            "type": "object",
            "description": "Default data for the attribute"
          },
          "settings": {
            "type": "object",
            "description": "Attribute settings"
          }
        }
      },
      "UpdateAttributeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Attribute name"
          },
          "type": {
            "type": "string",
            "enum": ["attachments", "checkbox", "date", "email", "label", "links", "longtext", "members", "number", "phone", "progress", "rating", "text", "vote"],
            "description": "Attribute type"
          },
          "default_data": {
            "type": "object",
            "description": "Default data for the attribute"
          },
          "settings": {
            "type": "object",
            "description": "Attribute settings"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Item ID"
          },
          "folder_id": {
            "type": "string",
            "description": "Folder ID"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent item ID"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemValue"
            },
            "description": "Item values"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "ItemList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "ItemValue": {
        "type": "object",
        "properties": {
          "attribute_id": {
            "type": "string",
            "description": "Attribute ID"
          },
          "data": {
            "description": "Attribute data value"
          }
        }
      },
      "CreateItemRequest": {
        "type": "object",
        "required": ["folder_id", "values"],
        "properties": {
          "folder_id": {
            "type": "string",
            "description": "Folder ID"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemValue"
            },
            "description": "Item attribute values"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent item ID for sub-items"
          }
        }
      },
      "UpdateItemRequest": {
        "type": "object",
        "properties": {
          "folder_id": {
            "type": "string",
            "description": "Folder ID"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemValue"
            },
            "description": "Item attribute values"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent item ID"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Comment ID"
          },
          "text": {
            "type": "string",
            "description": "Comment text (HTML format supported)"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent comment ID for replies"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "CommentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "CreateCommentRequest": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "Comment text (HTML format supported)"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent comment ID for replies"
          }
        }
      },
      "UpdateCommentRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Comment text (HTML format supported)"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent comment ID"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Folder ID"
          },
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "color": {
            "type": "string",
            "description": "Folder color (hex)"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent folder ID"
          },
          "attribute_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attribute IDs for this folder"
          },
          "sort_order": {
            "type": "integer",
            "description": "Sort order"
          },
          "settings": {
            "type": "object",
            "description": "Folder settings"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "FolderList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Folder"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "CreateFolderRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "color": {
            "type": "string",
            "description": "Folder color (hex)"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent folder ID"
          },
          "attribute_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attribute IDs for this folder"
          },
          "sort_order": {
            "type": "integer",
            "description": "Sort order"
          },
          "settings": {
            "type": "object",
            "description": "Folder settings"
          }
        }
      },
      "UpdateFolderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "color": {
            "type": "string",
            "description": "Folder color (hex)"
          },
          "parent_id": {
            "type": "string",
            "description": "Parent folder ID"
          },
          "attribute_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attribute IDs for this folder"
          },
          "sort_order": {
            "type": "integer",
            "description": "Sort order"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Attachment ID"
          },
          "name": {
            "type": "string",
            "description": "Attachment name"
          },
          "url": {
            "type": "string",
            "description": "Attachment URL"
          },
          "favicon": {
            "type": "string",
            "description": "Favicon URL"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "CreateAttachmentFromUrlRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "Attachment URL"
          },
          "name": {
            "type": "string",
            "description": "Attachment name"
          },
          "favicon": {
            "type": "string",
            "description": "Favicon URL"
          }
        }
      },
      "View": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "View ID"
          },
          "name": {
            "type": "string",
            "description": "View name"
          },
          "type": {
            "type": "string",
            "description": "View type"
          },
          "settings": {
            "type": "object",
            "description": "View settings"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "ViewList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/View"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "CreateViewRequest": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "View name"
          },
          "type": {
            "type": "string",
            "description": "View type"
          },
          "settings": {
            "type": "object",
            "description": "View settings"
          }
        }
      },
      "UpdateViewRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "View name"
          },
          "type": {
            "type": "string",
            "description": "View type"
          },
          "settings": {
            "type": "object",
            "description": "View settings"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "role": {
            "type": "string",
            "description": "Member role"
          }
        }
      },
      "MemberList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "InviteMemberRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to invite"
          }
        }
      },
      "Invitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Invitation ID"
          },
          "email": {
            "type": "string",
            "description": "Invited email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "AddMemberRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Member role"
          }
        }
      },
      "Reference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Reference ID"
          },
          "source_item_id": {
            "type": "string",
            "description": "Source item ID"
          },
          "target_item_id": {
            "type": "string",
            "description": "Target item ID"
          },
          "type": {
            "type": "string",
            "description": "Reference type"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "CreateReferenceRequest": {
        "type": "object",
        "required": ["source_item_id", "target_item_id", "type"],
        "properties": {
          "source_item_id": {
            "type": "string",
            "description": "Source item ID"
          },
          "target_item_id": {
            "type": "string",
            "description": "Target item ID"
          },
          "type": {
            "type": "string",
            "description": "Reference type"
          }
        }
      },
      "Hook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Hook ID"
          },
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event types to trigger webhook"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "HookList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hook"
            }
          }
        }
      },
      "CreateHookRequest": {
        "type": "object",
        "required": ["url", "events"],
        "properties": {
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event types to trigger webhook"
          }
        }
      },
      "UpdateHookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event types to trigger webhook"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string",
                "description": "Cursor for previous page"
              },
              "after": {
                "type": "string",
                "description": "Cursor for next page"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Profile",
      "description": "User profile operations"
    },
    {
      "name": "Workspaces",
      "description": "Workspace management"
    },
    {
      "name": "Boards",
      "description": "Board management"
    },
    {
      "name": "Attributes",
      "description": "Board attribute management"
    },
    {
      "name": "Items",
      "description": "Item management"
    },
    {
      "name": "Comments",
      "description": "Item comment management"
    },
    {
      "name": "Folders",
      "description": "Folder management"
    },
    {
      "name": "Attachments",
      "description": "File and URL attachment management"
    },
    {
      "name": "Views",
      "description": "View management"
    },
    {
      "name": "Members",
      "description": "Workspace member management"
    },
    {
      "name": "References",
      "description": "Item reference management"
    },
    {
      "name": "Hooks",
      "description": "Webhook management"
    }
  ]
}
