{
  "openapi": "3.0.3",
  "info": {
    "title": "OmniPUSH API",
    "version": "v1",
    "description": "Omnipush API Documentation. The Preeminent SaaS for TOTAL Remote Sales Pros.",
    "contact": {
      "email": "support@omnipush.io"
    },
    "x-jentic-source-url": "https://api.omnipush.io/api-docs/"
  },
  "servers": [
    {
      "url": "https://api.omnipush.io/api"
    }
  ],
  "paths": {
    "/user/create": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Create a new user",
        "operationId": "createUser",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccessUser"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        }
      }
    },
    "/user/api_key": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Generate API key",
        "operationId": "generateApiKey",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseSuccessUser"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/campaign": {
      "post": {
        "tags": [
          "campaign"
        ],
        "summary": "Create a new campaign",
        "operationId": "createCampaign",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaign"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "campaign"
        ],
        "summary": "Update a campaign",
        "operationId": "updateCampaign",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaign"
              }
            }
          }
        }
      }
    },
    "/campaign/list": {
      "get": {
        "tags": [
          "campaign"
        ],
        "summary": "Returns a list of campaigns",
        "operationId": "getCampaigns",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns a list of campaigns",
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaign/{id}": {
      "get": {
        "tags": [
          "campaign"
        ],
        "summary": "Get a campaign by ID",
        "operationId": "getCampaignById",
        "responses": {
          "200": {
            "description": "campaign fetch success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found for the given id"
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns a single campaign",
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of campaign to return",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "campaign"
        ],
        "summary": "Delete a campaign by ID",
        "operationId": "deleteCampaignById",
        "responses": {
          "204": {
            "description": "Operation success"
          },
          "404": {
            "description": "Campaign not found"
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a single campaign",
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of campaign to delete",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      }
    },
    "/campaign/start_stop": {
      "put": {
        "tags": [
          "campaign"
        ],
        "summary": "Start or stop a campaign",
        "operationId": "startStopCampaign",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartStopCampaign"
              }
            }
          }
        }
      }
    },
    "/message_template": {
      "post": {
        "tags": [
          "message template"
        ],
        "summary": "Create a new message template",
        "operationId": "createMessageTemplate",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageTemplate"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "message template"
        ],
        "summary": "Update a new message template",
        "operationId": "updateMessageTemplate",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSuccess"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageTemplate"
              }
            }
          }
        }
      }
    },
    "/message_template/list": {
      "get": {
        "tags": [
          "message template"
        ],
        "summary": "Returns a list of message template",
        "operationId": "getMessageTemplateLIst",
        "responses": {
          "200": {
            "description": "message template list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageTemplate"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns a list of message template",
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/message_template/{id}": {
      "delete": {
        "tags": [
          "message template"
        ],
        "summary": "Delete a message template by ID",
        "operationId": "deleteMessageTemplateById",
        "responses": {
          "204": {
            "description": "Operation success"
          },
          "404": {
            "description": "message template not found"
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a single message template",
        "parameters": [
          {
            "name": "x-omnipush-user",
            "in": "header",
            "required": true,
            "description": "Id of the user. For more details contact support.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of message template to delete",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/hook/auth/test": {
      "get": {
        "tags": [
          "Hook"
        ],
        "summary": "To test the API Key",
        "operationId": "testApiKey",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseSuccessUser"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/hook": {
      "post": {
        "tags": [
          "Hook"
        ],
        "summary": "To create a hook",
        "operationId": "createHook",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseSuccessUser"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        }
      }
    },
    "/hook/{id}": {
      "put": {
        "tags": [
          "Hook"
        ],
        "summary": "To delete a hook",
        "operationId": "deleteHook",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseSuccessUser"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        }
      }
    },
    "/hook/test": {
      "post": {
        "tags": [
          "Hook"
        ],
        "summary": "To test a trigger using fake hook",
        "operationId": "testHook",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseSuccessUser"
                }
              }
            }
          },
          "500": {
            "description": "Exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {}
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Authorization header as per basic auth scheme"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "message_template_id": {
            "type": "integer",
            "description": "Id of message template"
          },
          "after": {
            "type": "string",
            "description": "No of days after event should run from previuos event"
          }
        }
      },
      "CreateCampaign": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "filter": {
            "type": "string",
            "description": "Linkedin URL containing all filter criteria"
          },
          "campaign_type": {
            "type": "string",
            "description": "Different campaign types are: '0' - 'Connect & Broadcast', '1' - 'Connect Only', '2' - 'Broadcast Only (1st Connections)', '3' - 'Auto Visits & Follow', '4' - 'Endorse My Connections'",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4"
            ]
          },
          "message_template_id": {
            "type": "integer",
            "description": "Id of connection message template. can be null incase donot want to provide any connection message"
          },
          "exclude_history": {
            "type": "boolean"
          },
          "endorse_type": {
            "type": "string",
            "enum": [
              "first",
              "mostEndorsedSkill",
              "leastEndorsedSkill",
              "main",
              "all"
            ]
          },
          "events_seq": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "UpdateCampaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "filter": {
            "type": "string",
            "description": "Linkedin URL containing all filter criteria"
          },
          "campaign_type": {
            "type": "integer",
            "description": "Different campaign types are: 0 - 'Connect & Broadcast', 1 - 'Connect Only', 2 - 'Broadcast Only (1st Connections)', 3 - 'Auto Visits & Follow', 4 - 'Endorse My Connections'",
            "enum": [
              0,
              1,
              2,
              3,
              4
            ]
          },
          "message_template_id": {
            "type": "integer",
            "description": "Id of connection message template. can be null incase donot want to provide any connection message"
          },
          "exclude_history": {
            "type": "boolean"
          },
          "endorse_type": {
            "type": "string",
            "enum": [
              "first",
              "mostEndorsedSkill",
              "leastEndorsedSkill",
              "main",
              "all"
            ]
          },
          "events_seq": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "filter": {
            "type": "string"
          },
          "campaign_type": {
            "type": "integer"
          },
          "message_template_id": {
            "type": "integer"
          },
          "exclude_history": {
            "type": "boolean"
          },
          "profile_collected": {
            "type": "integer",
            "description": "total no of profile collected in the campaign"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "events_seq": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "StartStopCampaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "INPROGRESS",
              "PAUSED"
            ]
          }
        }
      },
      "CreateMessageTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "image_attachment_url": {
            "type": "string"
          }
        }
      },
      "MessageTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "image_attachment_url": {
            "type": "string"
          }
        }
      },
      "ApiResponseSuccess": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ApiResponseError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "ApiResponseSuccessUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ApiKeyResponseSuccessUser": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {}
  ]
}