{
  "openapi": "3.0.3",
  "info": {
    "title": "Open Charge Map API",
    "description": "The Open Charge Map API provides access to the world's largest open database of EV charging locations. It allows querying for points of interest (POI) including charge points, as well as reference data for operators, connection types, and more.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://openchargemap.org/site/develop"
  },
  "servers": [
    {
      "url": "https://api.openchargemap.io/v3"
    }
  ],
  "paths": {
    "/poi": {
      "get": {
        "operationId": "getpoi",
        "summary": "Get charging locations (POI)",
        "description": "Returns a list of EV charging station points of interest matching the given criteria.",
        "tags": [
          "POI"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "kml"
              ],
              "default": "json"
            }
          },
          {
            "name": "maxresults",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude for geographic search",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude for geographic search",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Search radius distance",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "distanceunit",
            "in": "query",
            "description": "Unit of distance (miles or km)",
            "schema": {
              "type": "string",
              "enum": [
                "miles",
                "km"
              ],
              "default": "miles"
            }
          },
          {
            "name": "countrycode",
            "in": "query",
            "description": "ISO country code filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryid",
            "in": "query",
            "description": "Country ID filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "operatorid",
            "in": "query",
            "description": "Operator ID filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "connectiontypeid",
            "in": "query",
            "description": "Connection type ID filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "levelid",
            "in": "query",
            "description": "Charging level ID filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "statustypeid",
            "in": "query",
            "description": "Status type ID filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "usagetypeid",
            "in": "query",
            "description": "Usage type ID filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minpowerkw",
            "in": "query",
            "description": "Minimum power output in kW",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "compact",
            "in": "query",
            "description": "Return compact format (IDs only for reference data)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "verbose",
            "in": "query",
            "description": "Return verbose format with all reference data expanded",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "camelcase",
            "in": "query",
            "description": "Return property names in camelCase",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "modifiedsince",
            "in": "query",
            "description": "Return only records modified since this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "opendata",
            "in": "query",
            "description": "Return only Open Data licensed results",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "chargepointid",
            "in": "query",
            "description": "Specific charge point ID to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "boundingbox",
            "in": "query",
            "description": "Bounding box as (lat1),(lng1),(lat2),(lng2)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with charging locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargePoint"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referencedata": {
      "get": {
        "operationId": "getreferencedata",
        "summary": "Get reference data",
        "description": "Returns all reference data including connection types, countries, operators, status types, etc.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "countryid",
            "in": "query",
            "description": "Filter reference data by country ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reference data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChargePoint": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "UUID": {
            "type": "string"
          },
          "DataProviderID": {
            "type": "integer"
          },
          "OperatorID": {
            "type": "integer"
          },
          "UsageTypeID": {
            "type": "integer"
          },
          "StatusTypeID": {
            "type": "integer"
          },
          "AddressInfo": {
            "$ref": "#/components/schemas/AddressInfo"
          },
          "Connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connection"
            }
          },
          "NumberOfPoints": {
            "type": "integer"
          },
          "DateLastStatusUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "IsRecentlyVerified": {
            "type": "boolean"
          }
        }
      },
      "AddressInfo": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Title": {
            "type": "string"
          },
          "AddressLine1": {
            "type": "string"
          },
          "AddressLine2": {
            "type": "string"
          },
          "Town": {
            "type": "string"
          },
          "StateOrProvince": {
            "type": "string"
          },
          "Postcode": {
            "type": "string"
          },
          "CountryID": {
            "type": "integer"
          },
          "Latitude": {
            "type": "number"
          },
          "Longitude": {
            "type": "number"
          },
          "ContactTelephone1": {
            "type": "string"
          },
          "AccessComments": {
            "type": "string"
          },
          "RelatedURL": {
            "type": "string"
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "ConnectionTypeID": {
            "type": "integer"
          },
          "LevelID": {
            "type": "integer"
          },
          "StatusTypeID": {
            "type": "integer"
          },
          "Amps": {
            "type": "integer"
          },
          "Voltage": {
            "type": "integer"
          },
          "PowerKW": {
            "type": "number"
          },
          "Quantity": {
            "type": "integer"
          }
        }
      },
      "ReferenceData": {
        "type": "object",
        "properties": {
          "ConnectionTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "integer"
                },
                "Title": {
                  "type": "string"
                },
                "FormalName": {
                  "type": "string"
                }
              }
            }
          },
          "Countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "integer"
                },
                "ISOCode": {
                  "type": "string"
                },
                "Title": {
                  "type": "string"
                }
              }
            }
          },
          "Operators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "integer"
                },
                "Title": {
                  "type": "string"
                },
                "WebsiteURL": {
                  "type": "string"
                }
              }
            }
          },
          "StatusTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "integer"
                },
                "Title": {
                  "type": "string"
                },
                "IsOperational": {
                  "type": "boolean"
                }
              }
            }
          },
          "UsageTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "integer"
                },
                "Title": {
                  "type": "string"
                }
              }
            }
          },
          "ChargerTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ID": {
                  "type": "integer"
                },
                "Title": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Open Charge Map API key"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Open Charge Map API key via header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "POI",
      "description": "Operations related to POI"
    },
    {
      "name": "Reference Data",
      "description": "Operations related to Reference Data"
    }
  ]
}