{
  "openapi": "3.0.1",
  "info": {
    "title": "Facial Recognition Reverse Image Face Search API",
    "description": "Let your users search the Internet by face! Integrate FaceCheck facial search seamlessly with your app, website or software platform. \r\nFaceCheck's REST API is hassle-free and easy to use. For code examples visit <a href='https://facecheck.id/Face-Search/API'>https://facecheck.id/Face-Search/API</a>",
    "contact": {
      "url": "https://FaceCheck.ID"
    },
    "version": "v1.02",
    "x-jentic-source-url": "https://facecheck.id/Swagger/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://facecheck.id"
    }
  ],
  "paths": {
    "/api/upload_pic": {
      "post": {
        "tags": [
          "FaceCheckAPI"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "id_search": {
                    "type": "string"
                  },
                  "reset_prev_images": {
                    "type": "boolean"
                  }
                }
              },
              "encoding": {
                "images": {
                  "style": "form"
                },
                "id_search": {
                  "style": "form"
                },
                "reset_prev_images": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserJsonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/delete_pic": {
      "post": {
        "tags": [
          "FaceCheckAPI"
        ],
        "summary": "Remove an image from a search request",
        "parameters": [
          {
            "name": "id_search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_pic",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserJsonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/info": {
      "post": {
        "tags": [
          "FaceCheckAPI"
        ],
        "summary": "Returns remaining search credits, search engine online status, and number of indexed faces",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/search": {
      "post": {
        "tags": [
          "FaceCheckAPI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchData"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchData"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserJsonResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BrowserJsonResponse": {
        "type": "object",
        "properties": {
          "id_search": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "progress": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "output": {
            "$ref": "#/components/schemas/Search_Results"
          },
          "input": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InputImage"
            },
            "nullable": true
          },
          "facemon_status": {
            "type": "string",
            "nullable": true
          },
          "facemon_last_scann": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "was_updated": {
            "type": "boolean"
          },
          "hasEmptyImages": {
            "type": "boolean",
            "readOnly": true
          },
          "new_seen_count": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "InfoResponse": {
        "type": "object",
        "properties": {
          "faces": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 212417831
          },
          "is_online": {
            "type": "boolean",
            "example": true
          },
          "remaining_credits": {
            "type": "integer",
            "format": "int32",
            "example": 12987
          },
          "has_credits_to_search": {
            "type": "boolean",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "InputImage": {
        "type": "object",
        "properties": {
          "base64": {
            "type": "string",
            "nullable": true
          },
          "id_pic": {
            "type": "string",
            "nullable": true
          },
          "url_source": {
            "type": "string",
            "nullable": true
          },
          "svg_anim": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MaskedUrl": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchData": {
        "type": "object",
        "properties": {
          "id_search": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": "3vdi8t-s_8DAAA7D5E784616"
          },
          "with_progress": {
            "type": "boolean",
            "description": "true = return imediately with a progress. False waits until search is finished.",
            "nullable": true
          },
          "id_captcha": {
            "type": "string",
            "description": "captcha is not used",
            "nullable": true,
            "example": null
          },
          "status_only": {
            "type": "boolean",
            "description": "true = don't submit a new search",
            "nullable": true,
            "example": false
          },
          "demo": {
            "type": "boolean",
            "description": "true = searches only the first 100,000 faces, good for testing/debugging",
            "nullable": true,
            "example": false
          },
          "shady_only": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchItem": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "group": {
            "type": "integer",
            "format": "int32"
          },
          "base64": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "$ref": "#/components/schemas/MaskedUrl"
          },
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "indexDB": {
            "type": "integer",
            "format": "int64"
          },
          "seen": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchType": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "Search_Results": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchItem"
            },
            "nullable": true
          },
          "tookSeconds": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "tookSecondsDownload": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "tookSecondsQueue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "searchedFaces": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "freeRam": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "demo": {
            "type": "boolean",
            "nullable": true
          },
          "face_per_sec": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "readOnly": true
          },
          "performance": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "max_score": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "images_in_bundle": {
            "type": "integer",
            "format": "int32"
          },
          "scaned_till_index": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "$ref": "#/components/schemas/SearchType"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Put **_ONLY_** your JWT Bearer token on textbox below!",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}