{
  "openapi": "3.0.3",
  "info": {
    "title": "Binated API",
    "version": "1.0.0",
    "description": "Binated API for business intelligence and data analytics",
    "x-jentic-source-url": "https://binated.com/docs/api"
  },
  "servers": [
    {
      "url": "https://api.binated.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {"name": "Data", "description": "Data source operations"},
    {"name": "Dashboards", "description": "Dashboard management"},
    {"name": "Reports", "description": "Report generation"}
  ],
  "paths": {
    "/datasources": {
      "get": {
        "tags": ["Data"],
        "summary": "List Data Sources",
        "description": "Retrieve all configured data sources",
        "operationId": "listDataSources",
        "responses": {
          "200": {
            "description": "List of data sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/DataSource"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Data"],
        "summary": "Create Data Source",
        "description": "Add a new data source connection",
        "operationId": "createDataSource",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateDataSourceRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data source created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/DataSource"}
              }
            }
          }
        }
      }
    },
    "/datasources/{sourceId}": {
      "get": {
        "tags": ["Data"],
        "summary": "Get Data Source",
        "description": "Retrieve details of a specific data source",
        "operationId": "getDataSource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Data source details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/DataSource"}
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Data"],
        "summary": "Delete Data Source",
        "description": "Remove a data source connection",
        "operationId": "deleteDataSource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "204": {
            "description": "Data source deleted"
          }
        }
      }
    },
    "/datasources/{sourceId}/query": {
      "post": {
        "tags": ["Data"],
        "summary": "Query Data Source",
        "description": "Execute a query against a data source",
        "operationId": "queryDataSource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/QueryRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/QueryResponse"}
              }
            }
          }
        }
      }
    },
    "/dashboards": {
      "get": {
        "tags": ["Dashboards"],
        "summary": "List Dashboards",
        "description": "Retrieve all dashboards",
        "operationId": "listDashboards",
        "responses": {
          "200": {
            "description": "List of dashboards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Dashboard"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Dashboards"],
        "summary": "Create Dashboard",
        "description": "Create a new dashboard",
        "operationId": "createDashboard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateDashboardRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dashboard created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Dashboard"}
              }
            }
          }
        }
      }
    },
    "/dashboards/{dashboardId}": {
      "get": {
        "tags": ["Dashboards"],
        "summary": "Get Dashboard",
        "description": "Retrieve a specific dashboard",
        "operationId": "getDashboard",
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Dashboard"}
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Dashboards"],
        "summary": "Update Dashboard",
        "description": "Update dashboard configuration",
        "operationId": "updateDashboard",
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateDashboardRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard updated"
          }
        }
      }
    },
    "/reports": {
      "get": {
        "tags": ["Reports"],
        "summary": "List Reports",
        "description": "Retrieve all reports",
        "operationId": "listReports",
        "responses": {
          "200": {
            "description": "List of reports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Report"}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Reports"],
        "summary": "Generate Report",
        "description": "Generate a new report",
        "operationId": "generateReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/GenerateReportRequest"}
            }
          }
        },
        "responses": {
          "202": {
            "description": "Report generation started",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Report"}
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get Report",
        "description": "Retrieve a specific report",
        "operationId": "getReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Report details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Report"}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "DataSource": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "type": {"type": "string", "enum": ["postgresql", "mysql", "mongodb", "bigquery"]},
          "status": {"type": "string", "enum": ["connected", "disconnected"]},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateDataSourceRequest": {
        "type": "object",
        "required": ["name", "type", "connection"],
        "properties": {
          "name": {"type": "string"},
          "type": {"type": "string"},
          "connection": {"type": "object"}
        }
      },
      "QueryRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {"type": "string"},
          "parameters": {"type": "object"}
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "columns": {"type": "array", "items": {"type": "string"}},
          "rows": {"type": "array", "items": {"type": "array"}},
          "row_count": {"type": "integer"}
        }
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "description": {"type": "string"},
          "widgets": {"type": "array", "items": {"type": "object"}},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateDashboardRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {"type": "string"},
          "description": {"type": "string"},
          "widgets": {"type": "array", "items": {"type": "object"}}
        }
      },
      "UpdateDashboardRequest": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "description": {"type": "string"},
          "widgets": {"type": "array", "items": {"type": "object"}}
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "format": {"type": "string", "enum": ["pdf", "csv", "excel"]},
          "status": {"type": "string", "enum": ["pending", "completed", "failed"]},
          "url": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "GenerateReportRequest": {
        "type": "object",
        "required": ["name", "dashboard_id"],
        "properties": {
          "name": {"type": "string"},
          "dashboard_id": {"type": "string"},
          "format": {"type": "string", "enum": ["pdf", "csv", "excel"]}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {"type": "string"},
          "message": {"type": "string"}
        }
      }
    }
  }
}
