{
  "openapi": "3.0.3",
  "info": {
    "title": "Scrive Document API",
    "version": "2.0.0",
    "description": "Scrive eSign API for creating, managing, and signing documents electronically. Supports document creation, e-signatures, templates, user management, folders, and access control.",
    "x-jentic-source-url": "https://apidocs.scrive.com"
  },
  "servers": [
    {
      "url": "https://scrive.com/api/v2"
    }
  ],
  "paths": {
    "/monitor/status": {
      "get": {
        "operationId": "getSystemStatus",
        "summary": "Get system status",
        "tags": ["Monitor"],
        "responses": {
          "200": { "description": "System status", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/new": {
      "post": {
        "operationId": "createDocument",
        "summary": "Create new document from file",
        "tags": ["Documents"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Document created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/newfromtemplate/{document_id}": {
      "post": {
        "operationId": "createDocumentFromTemplate",
        "summary": "Create document from template",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document created from template", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/clone": {
      "post": {
        "operationId": "cloneDocument",
        "summary": "Clone an existing document",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document cloned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/update": {
      "post": {
        "operationId": "updateDocument",
        "summary": "Update document properties",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DocumentUpdate" } } } },
        "responses": {
          "200": { "description": "Document updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/setfile": {
      "post": {
        "operationId": "setDocumentFile",
        "summary": "Replace main PDF file",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "File replaced", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/appendfile": {
      "post": {
        "operationId": "appendDocumentFile",
        "summary": "Append PDF pages to document",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Pages appended", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/setattachments": {
      "post": {
        "operationId": "setDocumentAttachments",
        "summary": "Configure author attachments",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Attachments configured", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/removepages": {
      "post": {
        "operationId": "removeDocumentPages",
        "summary": "Remove specific pages from document",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Pages removed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/start": {
      "post": {
        "operationId": "startSigning",
        "summary": "Initiate signing process",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Signing started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/get": {
      "get": {
        "operationId": "getDocument",
        "summary": "Retrieve document details",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/canbestarted": {
      "get": {
        "operationId": "canDocumentBeStarted",
        "summary": "Check if document can be started for signing",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Validation result", "content": { "application/json": { "schema": { "type": "object", "properties": { "canBeStarted": { "type": "boolean" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/list": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents with filters",
        "tags": ["Documents"],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "max", "in": "query", "schema": { "type": "integer" } },
          { "name": "tags", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DocumentListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/files/main/{filename}": {
      "get": {
        "operationId": "downloadMainFile",
        "summary": "Download main PDF file",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "filename", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "PDF file", "content": { "application/pdf": { "schema": { "type": "string", "format": "binary" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/files/zip/{filename}": {
      "get": {
        "operationId": "downloadAllFilesAsZip",
        "summary": "Download all files as ZIP",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "filename", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "ZIP file", "content": { "application/zip": { "schema": { "type": "string", "format": "binary" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/history": {
      "get": {
        "operationId": "getDocumentHistory",
        "summary": "Get document history",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document history", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/HistoryEntry" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/remind": {
      "post": {
        "operationId": "sendReminder",
        "summary": "Send signing reminder",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Reminder sent" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/cancel": {
      "post": {
        "operationId": "cancelDocument",
        "summary": "Cancel pending document",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document canceled", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/trash": {
      "post": {
        "operationId": "trashDocument",
        "summary": "Move document to trash",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document trashed" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/delete": {
      "post": {
        "operationId": "deleteDocument",
        "summary": "Permanently delete document",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/restart": {
      "post": {
        "operationId": "restartSigning",
        "summary": "Restart signing process",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Signing restarted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/tags/update": {
      "post": {
        "operationId": "updateDocumentTags",
        "summary": "Update document tags",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Tags updated" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/forward": {
      "post": {
        "operationId": "forwardDocument",
        "summary": "Forward document to new recipient",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Document forwarded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/{document_id}/prolong": {
      "post": {
        "operationId": "prolongDeadline",
        "summary": "Extend signing deadline",
        "tags": ["Documents"],
        "parameters": [
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Deadline extended", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/bulksend": {
      "post": {
        "operationId": "bulkSend",
        "summary": "Initiate bulk document sending",
        "tags": ["Bulk Send"],
        "responses": {
          "200": { "description": "Bulk send initiated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkSend" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/bulksend/{bulk_send_id}/get": {
      "get": {
        "operationId": "getBulkSend",
        "summary": "Get bulk send status",
        "tags": ["Bulk Send"],
        "parameters": [
          { "name": "bulk_send_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Bulk send details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkSend" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/documents/bulksend/list": {
      "get": {
        "operationId": "listBulkSends",
        "summary": "List bulk send operations",
        "tags": ["Bulk Send"],
        "responses": {
          "200": { "description": "Bulk send list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/BulkSend" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/attachments/list": {
      "get": {
        "operationId": "listAttachments",
        "summary": "List attachments",
        "tags": ["Attachments"],
        "responses": {
          "200": { "description": "Attachment list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/attachments/new": {
      "post": {
        "operationId": "createAttachment",
        "summary": "Upload attachment",
        "tags": ["Attachments"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "responses": {
          "200": { "description": "Attachment created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Attachment" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/attachments/{attachment_id}/download": {
      "get": {
        "operationId": "downloadAttachment",
        "summary": "Download attachment",
        "tags": ["Attachments"],
        "parameters": [
          { "name": "attachment_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Attachment file", "content": { "application/octet-stream": { "schema": { "type": "string", "format": "binary" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/attachments/{attachment_id}/delete": {
      "post": {
        "operationId": "deleteAttachment",
        "summary": "Delete attachment",
        "tags": ["Attachments"],
        "parameters": [
          { "name": "attachment_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Attachment deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/folders/{folder_id}/get": {
      "get": {
        "operationId": "getFolder",
        "summary": "Get folder contents",
        "tags": ["Folders"],
        "parameters": [
          { "name": "folder_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Folder details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Folder" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/folders/new": {
      "post": {
        "operationId": "createFolder",
        "summary": "Create folder",
        "tags": ["Folders"],
        "responses": {
          "200": { "description": "Folder created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Folder" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/folders/{folder_id}/delete": {
      "post": {
        "operationId": "deleteFolder",
        "summary": "Delete folder",
        "tags": ["Folders"],
        "parameters": [
          { "name": "folder_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Folder deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/user/getlogintoken": {
      "post": {
        "operationId": "getLoginToken",
        "summary": "Obtain temporary login token",
        "tags": ["User"],
        "responses": {
          "200": { "description": "Login token", "content": { "application/json": { "schema": { "type": "object", "properties": { "token": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/user/dataretention": {
      "get": {
        "operationId": "getDataRetention",
        "summary": "Get data retention policies",
        "tags": ["User"],
        "responses": {
          "200": { "description": "Retention policies", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/user/tags": {
      "get": {
        "operationId": "getUserTags",
        "summary": "Get user tags",
        "tags": ["User"],
        "responses": {
          "200": { "description": "User tags", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "string" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/usergroups/new": {
      "post": {
        "operationId": "createUserGroup",
        "summary": "Create user group",
        "tags": ["User Groups"],
        "responses": {
          "200": { "description": "Group created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserGroup" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/usergroups/{group_id}/get": {
      "get": {
        "operationId": "getUserGroup",
        "summary": "Get user group details",
        "tags": ["User Groups"],
        "parameters": [
          { "name": "group_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Group details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserGroup" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/usergroups/list": {
      "get": {
        "operationId": "listUserGroups",
        "summary": "List user groups",
        "tags": ["User Groups"],
        "responses": {
          "200": { "description": "Group list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserGroup" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/accessroles/grant": {
      "post": {
        "operationId": "grantAccessRole",
        "summary": "Grant access role to user",
        "tags": ["Access Control"],
        "responses": {
          "200": { "description": "Role granted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/accessroles/{role_id}/delete": {
      "post": {
        "operationId": "deleteAccessRole",
        "summary": "Revoke access role",
        "tags": ["Access Control"],
        "parameters": [
          { "name": "role_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Role revoked" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/templates/{template_id}/share": {
      "post": {
        "operationId": "shareTemplate",
        "summary": "Share template access",
        "tags": ["Templates"],
        "parameters": [
          { "name": "template_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Template shared" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Document": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "string" },
          "parties": { "type": "array", "items": { "$ref": "#/components/schemas/Party" } },
          "createdAt": { "type": "string", "format": "date-time" },
          "modifiedAt": { "type": "string", "format": "date-time" }
        }
      },
      "DocumentUpdate": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "parties": { "type": "array", "items": { "$ref": "#/components/schemas/Party" } }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "properties": {
          "documents": { "type": "array", "items": { "$ref": "#/components/schemas/Document" } },
          "totalCount": { "type": "integer" }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "role": { "type": "string" }
        }
      },
      "HistoryEntry": {
        "type": "object",
        "properties": {
          "timestamp": { "type": "string", "format": "date-time" },
          "action": { "type": "string" },
          "actor": { "type": "string" }
        }
      },
      "BulkSend": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "status": { "type": "string" },
          "documentCount": { "type": "integer" }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "size": { "type": "integer" }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "parentId": { "type": "string" }
        }
      },
      "UserGroup": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "members": { "type": "array", "items": { "type": "string" } }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "oauth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://scrive.com/oauth/authorization",
            "tokenUrl": "https://scrive.com/oauth/token",
            "scopes": {
              "DOC_CREATE": "Create documents",
              "DOC_CHECK": "View documents",
              "DOC_SEND": "Send and modify documents",
              "FULL_ACCESS": "Full access"
            }
          }
        }
      },
      "personalCredentials": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Personal access credentials (API token and secret)"
      }
    }
  },
  "security": [
    { "oauth": [] },
    { "personalCredentials": [] }
  ]
}
