{
  "openapi": "3.0.3",
  "info": {
    "title": "SmartTask API",
    "version": "1.0",
    "description": "SmartTask is an online work management software for teams to track and manage their processes.",
    "x-jentic-source-url": "https://dev.smarttask.io"
  },
  "servers": [
    {
      "url": "https://ext-v2.smarttask.io",
      "description": "SmartTask API Server"
    }
  ],
  "paths": {
    "/v{api_version}/organization/list": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "Fetch Organizations",
        "description": "Get all organizations a user is associated with.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v{api_version}/task/create-task/{organization_id}": {
      "post": {
        "operationId": "createTask",
        "summary": "Create a Task",
        "description": "Create a new task within an organization.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "OrganizationId of SmartTask organization"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v{api_version}/task/update-status/{organization_id}/{record_id}/{status}": {
      "put": {
        "operationId": "completeTask",
        "summary": "Complete Task",
        "description": "Mark a task as complete or incomplete.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "OrganizationId of SmartTask organization"
          },
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "RecordId"
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "1 - complete, 0 - incomplete"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v{api_version}/project/list/{organization_id}/{archive_flag}": {
      "post": {
        "operationId": "searchProjects",
        "summary": "Search Projects",
        "description": "Search and list projects in an organization.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "OrganizationId"
          },
          {
            "name": "archive_flag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "0 - active, 1 - archived"
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Group ID filter"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page_no",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "list_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "is_template",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter for templates"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "except_project_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Project IDs to exclude"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Projects retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found"
          }
        }
      }
    },
    "/v{api_version}/contact/create/{organization_id}": {
      "post": {
        "operationId": "createContact",
        "summary": "Create Contact",
        "description": "Create a new contact within an organization.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/organization-user/filter-users/{organization_id}": {
      "post": {
        "operationId": "searchUsers",
        "summary": "Search Users",
        "description": "Search and filter users within an organization.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "OrganizationId"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "page_no",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "list_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v{api_version}/webhook/subscribe/{app_name}": {
      "post": {
        "operationId": "subscribeWebhook",
        "summary": "Subscribe to New Task in Project",
        "description": "Subscribe to webhook notifications for new tasks in a project.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your app name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Webhook URL"
                  },
                  "project_id": {
                    "type": "string",
                    "description": "Project ID to subscribe to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscribed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v{api_version}/webhook/unsubscribe/{webhook_id}": {
      "delete": {
        "operationId": "unsubscribeWebhook",
        "summary": "Unsubscribe from a Webhook",
        "description": "Unsubscribe from a previously subscribed webhook.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Webhook ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook unsubscribed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v{api_version}/record-activity/comment/{organization_id}": {
      "post": {
        "operationId": "addComment",
        "summary": "Add Comment",
        "description": "Add a comment to a task record activity.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v{api_version}/record-activity/activities/{organization_id}/{record_id}": {
      "get": {
        "operationId": "fetchActivities",
        "summary": "Fetch Activities",
        "description": "Fetch activities for a specific task record.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            },
            "description": "API Version"
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "OrganizationId"
          },
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "RecordId"
          },
          {
            "name": "list_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Activities retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2"
      }
    },
    "schemas": {
      "Organization": {
        "type": "object",
        "properties": {
          "organization_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "TaskCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "assigned_to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "due_date": {
            "type": "string",
            "format": "date-time"
          },
          "priority": {
            "type": "integer"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "record_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "project_id": {
            "type": "string",
            "nullable": true
          },
          "custom_field_id": {
            "type": "string",
            "format": "uuid"
          },
          "text_value": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organization_id": {
            "type": "integer"
          },
          "is_template": {
            "type": "boolean"
          },
          "archive_flag": {
            "type": "integer"
          }
        }
      },
      "ContactCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "record_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "record_id": {
            "type": "string",
            "format": "uuid"
          },
          "activity_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Tasks",
      "description": "Task management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscriptions"
    },
    {
      "name": "Activities",
      "description": "Record activities"
    }
  ]
}