{
  "swagger": "2.0",
  "info": {
    "description": "Afinis is a diverse group of organizations working to support advancement and use of API standardization in the financial services industry. Utilization of this API requires a developer to [register](https://www.afinis.org/user/register) their application.",
    "version": "1.0.5",
    "title": "B2B Interoperability API",
    "contact": {
      "email": "info@afinis.org",
      "url": "https://www.afinis.org"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ASIG/B2B_Interoperability/1.0.5/swagger.json"
  },
  "host": "api.asig.org",
  "basePath": "/v1",
  "securityDefinitions": {
    "APIKeyQueryParam": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/participants/profile": {
      "get": {
        "operationId": "Get Participants Profile",
        "tags": [
          "Get Participants Profile"
        ],
        "summary": "Get Participants Profile with unique identification",
        "description": "Get Participants Profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestordid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identification, as assigned by BPFD, to unambiguously identify the requestor participant"
          },
          {
            "name": "counterpartydid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identification, as assigned by BPFD, to unambiguously identify the Payee participant"
          },
          {
            "name": "Request_Id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "Optional Request ID allows application developer to trace requests through the systems logs"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/participant_profile"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication failed or user doesn\u2019t have permissions for requested operation",
            "schema": {
              "$ref": "#/definitions/error-401"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "$ref": "#/definitions/error-422"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-500"
            }
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "security": [
          {
            "APIKeyQueryParam": []
          }
        ]
      }
    }
  },
  "definitions": {
    "participant_profile": {
      "title": "participant_profile",
      "type": "object",
      "properties": {
        "paymentProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/paymentProfile"
          }
        },
        "remittanceInformation": {
          "$ref": "#/definitions/remittanceInformation"
        },
        "validationRequired": {
          "type": "string",
          "example": true,
          "enum": [
            true,
            false
          ]
        },
        "creditor": {
          "$ref": "#/definitions/creditor"
        }
      }
    },
    "paymentProfile": {
      "title": "PaymentProfile",
      "properties": {
        "paymentInformation": {
          "$ref": "#/definitions/paymentInformation"
        },
        "creditorAgent": {
          "$ref": "#/definitions/creditorAgent"
        },
        "creditorAccount": {
          "$ref": "#/definitions/creditorAccount"
        },
        "privateIndicator": {
          "type": "string",
          "example": true,
          "enum": [
            {
              "true": null
            },
            {
              "false": null
            }
          ]
        },
        "preferredMethod": {
          "type": "string",
          "example": true,
          "enum": [
            {
              "true": null
            },
            {
              "false": null
            }
          ]
        },
        "relatedRemittanceInformation": {
          "$ref": "#/definitions/relatedRemittanceInformation"
        },
        "minimumAmount": {
          "$ref": "#/definitions/minimumAmount"
        },
        "maximumAmount": {
          "$ref": "#/definitions/maximumAmount"
        }
      }
    },
    "paymentInformation": {
      "title": "PaymentInformation",
      "type": "object",
      "required": [
        "paymentMethod"
      ],
      "properties": {
        "paymentMethod": {
          "type": "string",
          "example": "TFR",
          "enum": [
            {
              "CHK": null,
              "description": "Cheque"
            },
            {
              "TFR": null,
              "description": "CreditTransfer"
            }
          ]
        },
        "paymentTypeInformation": {
          "title": "PaymentTypeInformation",
          "description": "Set of elements used to further specify the type of transaction.",
          "type": "object",
          "properties": {
            "ServiceLevel": {
              "$ref": "#/definitions/serviceLevel"
            }
          }
        }
      }
    },
    "serviceLevel": {
      "title": "ServiceLevel",
      "description": "Specifies a pre-agreed service or level of service between the parties",
      "type": "string",
      "example": "NURG",
      "enum": [
        {
          "NURG": null,
          "description": "Non-urgent Payment"
        },
        {
          "URGP": null,
          "description": "Urgent Payment"
        }
      ]
    },
    "relatedRemittanceInformation": {
      "title": "RelatedRemittanceInformation",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "example": "POST",
          "enum": [
            {
              "FAXI": null,
              "description": "Fax"
            },
            {
              "EDIC": null,
              "description": "Electronics Data Interchange"
            },
            {
              "URID": null,
              "description": "Uniform Resource Identifier"
            },
            {
              "EMAL": null,
              "description": "Email"
            },
            {
              "POST": null,
              "description": "Post"
            },
            {
              "SMSM": null,
              "description": "SMS"
            }
          ]
        },
        "electronicAddress": {
          "type": "string",
          "example": ""
        },
        "postalAddress": {
          "$ref": "#/definitions/postalAddress"
        }
      }
    },
    "remittanceInformation": {
      "title": "RemittanceInformation",
      "description": "RemittanceInformation",
      "type": "object",
      "required": [
        "invoicee"
      ],
      "properties": {
        "invoicee": {
          "$ref": "#/definitions/invoicee"
        },
        "duePayableAmount": {
          "$ref": "#/definitions/duePayableAmount"
        },
        "remittedAmount": {
          "$ref": "#/definitions/remittedAmount"
        },
        "reference": {
          "description": "Purchase Order Number",
          "type": "string",
          "example": ""
        },
        "number": {
          "description": "Invoice Number",
          "type": "string",
          "example": ""
        },
        "relatedDate": {
          "description": "Invoice Date",
          "type": "string",
          "example": ""
        },
        "discountAppliedAmount": {
          "$ref": "#/definitions/discountAppliedAmount"
        },
        "adjustmentAmountAndReason": {
          "$ref": "#/definitions/adjustmentAmountAndReason"
        },
        "mandatory": {
          "type": "string",
          "enum": [
            "invoicee.identification",
            "invoicee.name",
            "duePayableAmount.amount",
            "duePayableAmount.currency",
            "remittedAmount.amount",
            "remittedAmount.currency",
            "reference",
            "number",
            "relatedDate",
            "discountAppliedAmount.amount",
            "discountAppliedAmount.currency",
            "adjustmentAmountAndReason.amount",
            "adjustmentAmountAndReason.currency",
            "adjustmentAmountAndReason.reason",
            "adjustmentAmountAndReason.string"
          ],
          "example": [
            "invoicee.identification",
            "invoicee.name"
          ]
        },
        "optional": {
          "type": "string",
          "enum": [
            "duePayableAmount.amount",
            "duePayableAmount.currency",
            "remittedAmount.amount",
            "remittedAmount.currency",
            "reference",
            "number",
            "relatedDate",
            "discountAppliedAmount.amount",
            "discountAppliedAmount.currency",
            "adjustmentAmountAndReason.amount",
            "adjustmentAmountAndReason.currency",
            "adjustmentAmountAndReason.reason",
            "adjustmentAmountAndReason.string"
          ],
          "example": [
            "duePayableAmount.amount",
            "duePayableAmount.currency",
            "remittedAmount.amount",
            "remittedAmount.currency",
            "reference",
            "number",
            "relatedDate",
            "discountAppliedAmount.amount",
            "discountAppliedAmount.currency",
            "adjustmentAmountAndReason.amount",
            "adjustmentAmountAndReason.currency",
            "adjustmentAmountAndReason.reason",
            "adjustmentAmountAndReason.string"
          ]
        }
      }
    },
    "invoicee": {
      "type": "object",
      "required": [
        "identification",
        "name"
      ],
      "properties": {
        "identification": {
          "description": "Unambiguous identification of the account number",
          "type": "string",
          "example": ""
        },
        "name": {
          "description": "Customer Name",
          "type": "string",
          "example": ""
        }
      }
    },
    "creditor": {
      "title": "Creditor",
      "type": "object",
      "description": "Party to which an amount of money is due.",
      "required": [
        "identification"
      ],
      "properties": {
        "identification": {
          "description": "Identification assigned by an institution",
          "type": "string",
          "example": "1234567891",
          "maxLength": 10
        },
        "maskAccount": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/maskAccount"
          }
        }
      }
    },
    "maskAccount": {
      "type": "object",
      "properties": {
        "position": {
          "type": "integer",
          "example": 1,
          "default": 1,
          "maximum": 20
        },
        "value": {
          "$ref": "#/definitions/accountMaskSpecification"
        }
      }
    },
    "accountMaskSpecification": {
      "title": "AccountMaskSpecification",
      "type": "object",
      "description": "Account Mask Specification",
      "required": [
        "allowedCharacters",
        "delimiter"
      ],
      "properties": {
        "allowedCharacters": {
          "$ref": "#/definitions/allowedCharacters"
        },
        "length": {
          "$ref": "#/definitions/length"
        },
        "minLength": {
          "$ref": "#/definitions/minLength"
        },
        "maxLength": {
          "$ref": "#/definitions/maxLength"
        },
        "delimiter": {
          "$ref": "#/definitions/delimiter"
        },
        "lowerCase": {
          "$ref": "#/definitions/lowerCase"
        },
        "upperCase": {
          "$ref": "#/definitions/upperCase"
        },
        "numbers": {
          "$ref": "#/definitions/numbers"
        },
        "specialCharacters": {
          "$ref": "#/definitions/specialCharacters"
        }
      }
    },
    "allowedCharacters": {
      "description": "Allowed Charactgors",
      "type": "array",
      "example": [
        "lowerCase",
        "upperCase",
        "numbers",
        "specialCharacters"
      ],
      "items": {
        "type": "string",
        "enum": [
          "lowerCase",
          "upperCase",
          "numbers",
          "specialCharacters"
        ]
      }
    },
    "length": {
      "description": "total length of the Account number",
      "type": "integer",
      "example": 8,
      "minLength": 1,
      "maxLength": 25
    },
    "minLength": {
      "description": "total length of the Account number",
      "type": "integer",
      "example": 1,
      "minLength": 1,
      "maxLength": 25
    },
    "maxLength": {
      "description": "total length of the Account number",
      "type": "integer",
      "example": 15,
      "minLength": 1,
      "maxLength": 25
    },
    "delimiter": {
      "type": "array",
      "minItems": 0,
      "maxItems": 28,
      "example": [
        "-",
        "_",
        "."
      ],
      "items": {
        "type": "string",
        "enum": [
          "!",
          "$",
          "+",
          ".",
          ";",
          ">",
          "`",
          "}",
          "(",
          ")",
          ",",
          "/",
          "<",
          "?",
          "{",
          "~",
          "#",
          "&",
          "*",
          "-",
          ":",
          "_",
          "|",
          "@"
        ]
      }
    },
    "lowerCase": {
      "type": "array",
      "minItems": 0,
      "maxItems": 26,
      "example": [
        "a",
        "b",
        "c"
      ],
      "items": {
        "type": "string",
        "enum": [
          "a",
          "b",
          "c",
          "d",
          "e",
          "f",
          "g",
          "h",
          "i",
          "j",
          "k",
          "l",
          "m",
          "n",
          "o",
          "p",
          "q",
          "r",
          "s",
          "t",
          "u",
          "v",
          "w",
          "x",
          "y",
          "z"
        ]
      }
    },
    "upperCase": {
      "type": "array",
      "minItems": 0,
      "maxItems": 26,
      "example": [
        "V",
        "E",
        "Z"
      ],
      "items": {
        "type": "string",
        "enum": [
          "A",
          "B",
          "C",
          "D",
          "E",
          "F",
          "G",
          "H",
          "I",
          "J",
          "K",
          "L",
          "M",
          "N",
          "O",
          "P",
          "Q",
          "R",
          "S",
          "T",
          "U",
          "V",
          "W",
          "X",
          "Y",
          "Z"
        ]
      }
    },
    "numbers": {
      "type": "array",
      "minItems": 0,
      "maxItems": 10,
      "example": [
        "1",
        "2",
        "3"
      ],
      "items": {
        "type": "string",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9
        ]
      }
    },
    "specialCharacters": {
      "type": "array",
      "minItems": 0,
      "maxItems": 28,
      "example": [
        "-",
        "_",
        "."
      ],
      "items": {
        "type": "string",
        "enum": [
          "!",
          "$",
          "\u2019",
          "+",
          ".",
          ";",
          ">",
          "`",
          "}",
          "\u201c",
          "%",
          "(",
          ")",
          ",",
          "/",
          "<",
          "?",
          "{",
          "~",
          "#",
          "&",
          "*",
          "-",
          ":",
          "=",
          "_",
          "|",
          "@"
        ]
      }
    },
    "creditorAccount": {
      "title": "CreditorAccount",
      "type": "object",
      "required": [
        "identification",
        "alternateAccount"
      ],
      "properties": {
        "identification": {
          "description": "Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.",
          "type": "string",
          "example": "1234567891",
          "maxLength": 17
        },
        "alternateAccount": {
          "description": "Alternate account number which will be used to post payment if mask is failed.",
          "type": "string",
          "example": "42325454545",
          "maxLength": 17
        }
      }
    },
    "minimumAmount": {
      "title": "MinimumAmount",
      "description": "Miniumum amount of a transaction history",
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "example": "1.01",
          "maxLength": 10
        },
        "currency": {
          "type": "string",
          "example": "USD",
          "default": "USD"
        }
      }
    },
    "maximumAmount": {
      "title": "MaximumAmount",
      "description": "Maximum amount of a transaction history",
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "example": "1000000.00",
          "maxLength": 10
        },
        "currency": {
          "type": "string",
          "example": "USD",
          "default": "USD"
        }
      }
    },
    "duePayableAmount": {
      "title": "DuePayableAmount",
      "description": "Amount payable to the creditor",
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "example": "",
          "maxLength": 10
        },
        "currency": {
          "type": "string",
          "example": "USD",
          "default": "USD"
        }
      }
    },
    "remittedAmount": {
      "title": "remittedAmount",
      "description": "Amount paid",
      "type": "object",
      "required": [
        "amount",
        "currency",
        "reference"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "example": "",
          "maxLength": 10
        },
        "currency": {
          "type": "string",
          "example": "USD",
          "default": "USD"
        }
      }
    },
    "discountAppliedAmount": {
      "title": "discountAppliedAmount",
      "description": "Discount Applied paid",
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "example": "",
          "maxLength": 10
        },
        "currency": {
          "type": "string",
          "example": "USD",
          "default": "USD"
        }
      }
    },
    "adjustmentAmountAndReason": {
      "title": "adjustmentAmountAndReason",
      "description": "Discount Applied paid",
      "type": "object",
      "required": [
        "amount",
        "currency",
        "reason"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "example": "",
          "maxLength": 10
        },
        "currency": {
          "type": "string",
          "example": "USD",
          "default": "USD"
        },
        "reason": {
          "type": "string",
          "example": ""
        },
        "additionalInformation": {
          "type": "string",
          "example": ""
        }
      }
    },
    "creditorAgent": {
      "title": "CreditorAgent",
      "type": "object",
      "description": "Financial institution servicing an account for the creditor.",
      "required": [
        "memberIdentification",
        "clearingSystemIdentification"
      ],
      "properties": {
        "clearingSystemIdentification": {
          "description": "Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed",
          "type": "string",
          "example": "USABA",
          "enum": [
            {
              "CACPA": null,
              "description": "Bank Branch Code used in Canada."
            },
            {
              "USABA": null,
              "description": "Routing Transit number assigned by the ABA for US financial Institutions."
            }
          ]
        },
        "memberIdentification": {
          "description": "Identification of a member of a clearing system  e.g., a U.S. transit routing number or Canadian Payments Association Routing Number",
          "type": "string",
          "minLength": 9,
          "maxLength": 9,
          "example": "061103852"
        }
      }
    },
    "postalAddress": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "ABC Corporation"
        },
        "address": {
          "$ref": "#/definitions/address"
        }
      }
    },
    "address": {
      "type": "object",
      "properties": {
        "streetname": {
          "type": "string",
          "example": "Lexington Street"
        },
        "buildingNumber": {
          "type": "string",
          "example": 123
        },
        "postCode": {
          "type": "integer",
          "example": 19801
        },
        "townName": {
          "type": "string",
          "example": "Wilmington"
        },
        "countrySubDivision": {
          "type": "string",
          "example": "DE"
        },
        "country": {
          "type": "string",
          "example": "US"
        }
      }
    },
    "error": {
      "title": "Error",
      "type": "object",
      "properties": {
        "detail": {
          "description": "error details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/errorDetails"
          }
        }
      }
    },
    "errorDetails": {
      "title": "ErrorDetails",
      "type": "object",
      "properties": {
        "errorcode": {
          "description": "A programmatic error code",
          "example": 2000,
          "type": "string",
          "enum": [
            {
              "2000": null,
              "description": "Invalid JSON structure."
            },
            {
              "2001": null,
              "description": "\u201cfield name\u201d is missing or invalid."
            },
            {
              "2002": null,
              "description": "Invalid date."
            },
            {
              "2003": null,
              "description": "Invalid combination of fields submitted. Check the API specification for eligible combinations."
            },
            {
              "2004": null,
              "description": "\u201cfield name\u201d cannot be more than [max] characters."
            }
          ]
        },
        "message": {
          "description": "A human readable description of the problem",
          "example": "Invalid JSON structure.",
          "type": "string"
        }
      },
      "required": [
        "errorcode",
        "message"
      ]
    },
    "error-401": {
      "title": "401 Error",
      "type": "object",
      "properties": {
        "detail": {
          "description": "error details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/errorDetails-401"
          }
        }
      }
    },
    "errorDetails-401": {
      "title": "401 ErrorDetails",
      "type": "object",
      "properties": {
        "errorcode": {
          "description": "A programmatic error code",
          "example": 1000,
          "type": "number",
          "enum": [
            {
              "1000": null,
              "description": "API key is missing, invalid or expired."
            },
            {
              "1001": null,
              "description": "API token is invalid, expired, or account associated with key does not have access to that API."
            }
          ]
        },
        "message": {
          "description": "A human readable description of the problem",
          "example": "API key is missing, invalid or expired.",
          "type": "string"
        }
      },
      "required": [
        "errorcode",
        "message"
      ]
    },
    "error-422": {
      "title": "422 Error",
      "type": "object",
      "properties": {
        "detail": {
          "description": "error details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/errorDetails-422"
          }
        }
      }
    },
    "errorDetails-422": {
      "title": "422 ErrorDetails",
      "type": "object",
      "properties": {
        "errorcode": {
          "description": "A programmatic error code",
          "example": 4001,
          "type": "number",
          "enum": [
            {
              "4001": null,
              "description": "Unprocessable request due to \"%%\""
            }
          ]
        },
        "message": {
          "description": "A human readable description of the problem",
          "example": "Unprocessable request due to duplicate records",
          "type": "string"
        }
      },
      "required": [
        "errorcode",
        "message"
      ]
    },
    "error-500": {
      "title": "500 Error",
      "type": "object",
      "properties": {
        "detail": {
          "description": "error details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/errorDetails-500"
          }
        }
      }
    },
    "errorDetails-500": {
      "title": "500 ErrorDetails",
      "type": "object",
      "properties": {
        "errorcode": {
          "description": "A programmatic error code",
          "example": 3001,
          "type": "number",
          "enum": [
            {
              "3001": null,
              "description": "Internal Server error."
            }
          ]
        },
        "message": {
          "description": "A human readable description of the problem",
          "example": "Internal Server error",
          "type": "string"
        }
      },
      "required": [
        "errorcode",
        "message"
      ]
    }
  }
}