{"openapi":"3.0.3","info":{"title":"Delenta API","version":"1.0.0","description":"Delenta coaching platform API for managing clients, sessions, packages, and invoices.","x-jentic-source-url":"https://documenter.getpostman.com/view/7070748/2s83zgsPn9"},"servers":[{"url":"https://api.delenta.com"}],"tags":[{"name":"Clients"},{"name":"Sessions"},{"name":"Packages"},{"name":"Invoices"}],"paths":{"/api/v1/clients":{"get":{"operationId":"listClients","summary":"List all coaching clients","tags":["Clients"],"parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false},{"name":"limit","in":"query","schema":{"type":"integer","default":20},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"createClient","summary":"Create a new client","tags":["Clients"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/clients/{clientId}":{"get":{"operationId":"getClient","summary":"Get client details","tags":["Clients"],"parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"operationId":"updateClient","summary":"Update a client","tags":["Clients"],"parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/sessions":{"get":{"operationId":"listSessions","summary":"List coaching sessions","tags":["Sessions"],"parameters":[{"name":"client_id","in":"query","schema":{"type":"string"},"required":false},{"name":"status","in":"query","schema":{"type":"string","enum":["scheduled","completed","cancelled"]},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"createSession","summary":"Schedule a coaching session","tags":["Sessions"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/packages":{"get":{"operationId":"listPackages","summary":"List coaching packages","tags":["Packages"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/invoices":{"get":{"operationId":"listInvoices","summary":"List invoices","tags":["Invoices"],"parameters":[{"name":"client_id","in":"query","schema":{"type":"string"},"required":false},{"name":"status","in":"query","schema":{"type":"string","enum":["paid","unpaid","overdue"]},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Client":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"phone":{"type":"string"},"status":{"type":"string","enum":["active","inactive"]},"created_at":{"type":"string","format":"date-time"}}},"ClientInput":{"type":"object","required":["name","email"],"properties":{"name":{"type":"string"},"email":{"type":"string","format":"email"},"phone":{"type":"string"}}},"ClientListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Client"}},"total":{"type":"integer"}}},"Session":{"type":"object","properties":{"id":{"type":"string"},"client_id":{"type":"string"},"date":{"type":"string","format":"date-time"},"duration":{"type":"integer"},"status":{"type":"string","enum":["scheduled","completed","cancelled"]},"notes":{"type":"string"}}},"SessionInput":{"type":"object","required":["client_id","date"],"properties":{"client_id":{"type":"string"},"date":{"type":"string","format":"date-time"},"duration":{"type":"integer","default":60},"notes":{"type":"string"}}},"SessionListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Session"}},"total":{"type":"integer"}}},"Package":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"sessions_included":{"type":"integer"},"price":{"type":"number"}}},"PackageListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Package"}},"total":{"type":"integer"}}},"Invoice":{"type":"object","properties":{"id":{"type":"string"},"client_id":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"status":{"type":"string","enum":["paid","unpaid","overdue"]},"due_date":{"type":"string","format":"date"},"created_at":{"type":"string","format":"date-time"}}},"InvoiceListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Invoice"}},"total":{"type":"integer"}}},"ErrorResponse":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"code":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}
