{
  "openapi": "3.0.3",
  "info": {
    "title": "Ola Corporate API",
    "description": "Ola Corporate API for managing corporate users, rides, invoices, and expense codes.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://corporate.olacabs.com/docs/view-users"
  },
  "servers": [
    {
      "url": "https://devapi.olacabs.com",
      "description": "Development/API server"
    }
  ],
  "paths": {
    "/v1/api/corporate/users": {
      "get": {
        "operationId": "listusers",
        "summary": "View corporate users",
        "description": "Retrieves a list of corporate users with optional filtering.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by employee status"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of users to fetch"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unknown error"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/user": {
      "post": {
        "operationId": "adduser",
        "summary": "Add a corporate user",
        "description": "Creates a new corporate user.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "406": {
            "description": "User exists, invalid tag values, or missing GST"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      },
      "put": {
        "operationId": "updateuser",
        "summary": "Update a corporate user",
        "description": "Updates an existing corporate user. The corp_email_id cannot be changed.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          },
          "201": {
            "description": "User updated with default GST applied"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          },
          "406": {
            "description": "GST or tag validation failure"
          },
          "500": {
            "description": "Unknown error"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteuser",
        "summary": "Delete a corporate user",
        "description": "Deletes a corporate user by email address.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "corp_email_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Employee email address"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Unknown error"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/rides": {
      "get": {
        "operationId": "listridesv1",
        "summary": "View rides (v1)",
        "description": "Retrieves corporate ride history.",
        "tags": [
          "Rides"
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of rides to fetch"
          },
          {
            "name": "page_num",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order by ride start time"
          },
          {
            "name": "user_email_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by user email"
          },
          {
            "name": "employee_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by employee code"
          },
          {
            "name": "anchor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "End row anchor ID for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of rides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RidesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v2/api/corporate/rides": {
      "get": {
        "operationId": "listridesv2",
        "summary": "View rides (v2)",
        "description": "Retrieves corporate ride history (v2 endpoint).",
        "tags": [
          "Rides"
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_num",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_email_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anchor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RidesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/users/bulk": {
      "post": {
        "operationId": "bulkAddEditUsers",
        "summary": "Add or edit users in bulk",
        "description": "Add or edit multiple corporate users in a single request.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateUserRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk operation completed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/invoices/download": {
      "get": {
        "operationId": "downloadInvoice",
        "summary": "Download invoice",
        "description": "Download a corporate invoice.",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Invoice file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/expense-codes": {
      "post": {
        "operationId": "createExpenseCodeV1",
        "summary": "Create expense code",
        "description": "Create a new expense code.",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      },
      "put": {
        "operationId": "updateExpenseCode",
        "summary": "Update expense code",
        "description": "Update an existing expense code.",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense code updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteExpenseCode",
        "summary": "Delete expense code",
        "description": "Delete an expense code.",
        "tags": [
          "Expense Codes"
        ],
        "responses": {
          "200": {
            "description": "Expense code deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Expense code not found"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/expense-codes/bulk": {
      "post": {
        "operationId": "bulkCreateExpenseCodes",
        "summary": "Create expense codes in bulk",
        "description": "Create multiple expense codes in a single request.",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateExpenseCodeRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk creation completed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      },
      "put": {
        "operationId": "bulkUpdateExpenseCodes",
        "summary": "Update expense codes in bulk",
        "description": "Update multiple expense codes in a single request.",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateExpenseCodeRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk update completed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      },
      "delete": {
        "operationId": "bulkDeleteExpenseCodes",
        "summary": "Delete expense codes in bulk",
        "description": "Delete multiple expense codes in a single request.",
        "tags": [
          "Expense Codes"
        ],
        "responses": {
          "200": {
            "description": "Bulk deletion completed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/expense-codes/allocations": {
      "post": {
        "operationId": "manageExpenseCodeAllocations",
        "summary": "Add or remove expense code allocations",
        "description": "Add or remove expense code allocations for users or groups.",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Allocation updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v1/api/corporate/expense-codes/allocations/bulk": {
      "post": {
        "operationId": "bulkManageExpenseCodeAllocations",
        "summary": "Bulk add or remove expense code allocations",
        "description": "Add or remove expense code allocations in bulk.",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk allocation updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    },
    "/v2/api/corporate/expenseCode": {
      "post": {
        "operationId": "createexpensecode",
        "summary": "Create an expense code",
        "description": "Creates a new expense code with scope allocations and optional ride capping.",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "corporate_token": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "UserSummary": {
        "type": "object",
        "properties": {
          "employee_gender": {
            "type": "string"
          },
          "user_type": {
            "type": "string"
          },
          "custom_field1": {
            "type": "string"
          },
          "custom_field2": {
            "type": "string"
          },
          "custom_field3": {
            "type": "string"
          },
          "custom_field4": {
            "type": "string"
          },
          "custom_field5": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "employee_code": {
            "type": "string"
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "required": [
          "corp_email_id",
          "name",
          "groups"
        ],
        "properties": {
          "corp_email_id": {
            "type": "string",
            "maxLength": 255
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 255
            }
          },
          "employee_phone_number": {
            "type": "string",
            "maxLength": 20
          },
          "employee_cost_center": {
            "type": "string",
            "maxLength": 64
          },
          "employee_code": {
            "type": "string",
            "maxLength": 64
          },
          "employee_base_location": {
            "type": "string",
            "maxLength": 255
          },
          "employee_designation": {
            "type": "string",
            "maxLength": 64
          },
          "employee_band": {
            "type": "string",
            "maxLength": 64
          },
          "employee_gender": {
            "type": "string",
            "maxLength": 10
          },
          "manager_name": {
            "type": "string",
            "maxLength": 128
          },
          "manager_email_address": {
            "type": "string",
            "maxLength": 150
          },
          "custom_field_1": {
            "type": "string",
            "maxLength": 64
          },
          "custom_field_2": {
            "type": "string",
            "maxLength": 64
          },
          "custom_field_3": {
            "type": "string",
            "maxLength": 64
          },
          "custom_field_4": {
            "type": "string",
            "maxLength": 255
          },
          "custom_field_5": {
            "type": "string",
            "maxLength": 255
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "required": [
          "corp_email_id",
          "name",
          "groups"
        ],
        "properties": {
          "corp_email_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Cannot be changed, used for identification"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 255
            }
          },
          "user_status": {
            "type": "string",
            "enum": [
              "inactive"
            ],
            "description": "Set to inactive to deactivate user"
          },
          "employee_phone_number": {
            "type": "string",
            "maxLength": 20
          },
          "employee_cost_center": {
            "type": "string",
            "maxLength": 64
          },
          "employee_code": {
            "type": "string",
            "maxLength": 64
          },
          "employee_base_location": {
            "type": "string",
            "maxLength": 255
          },
          "employee_designation": {
            "type": "string",
            "maxLength": 64
          },
          "employee_band": {
            "type": "string",
            "maxLength": 64
          },
          "employee_gender": {
            "type": "string",
            "maxLength": 10
          },
          "manager_name": {
            "type": "string",
            "maxLength": 128
          },
          "manager_email_address": {
            "type": "string",
            "maxLength": 150
          },
          "custom_field_1": {
            "type": "string",
            "maxLength": 64
          },
          "custom_field_2": {
            "type": "string",
            "maxLength": 64
          },
          "custom_field_3": {
            "type": "string",
            "maxLength": 64
          },
          "custom_field_4": {
            "type": "string",
            "maxLength": 255
          },
          "custom_field_5": {
            "type": "string",
            "maxLength": 255
          }
        }
      },
      "RidesResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string"
          },
          "total_results": {
            "type": "integer"
          },
          "anchor": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ride"
            }
          }
        }
      },
      "Ride": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "crn": {
            "type": "string"
          },
          "trip_start_time": {
            "type": "string"
          },
          "trip_end_time": {
            "type": "string"
          },
          "pickup_area": {
            "type": "string"
          },
          "drop_location": {
            "type": "string"
          },
          "cab_category": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "user_email": {
            "type": "string"
          },
          "bill": {
            "type": "number"
          },
          "fare_breakup": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CreateExpenseCodeRequest": {
        "type": "object",
        "required": [
          "expense_code",
          "scopes"
        ],
        "properties": {
          "expense_code": {
            "type": "string",
            "description": "Name of the expense code"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "expense_code_creation_level"
              ],
              "properties": {
                "expense_code_creation_level": {
                  "type": "string",
                  "enum": [
                    "CORPORATE",
                    "GROUP",
                    "EMPLOYEE"
                  ],
                  "description": "Scope level type"
                },
                "expense_code_created_for": {
                  "type": "string",
                  "nullable": true,
                  "description": "Entity identifier (null for CORPORATE level)"
                }
              }
            }
          },
          "capping": {
            "type": "object",
            "properties": {
              "start_time": {
                "type": "string",
                "description": "Format: dd-MM-yyyy hh:mm:ss"
              },
              "end_time": {
                "type": "string",
                "description": "Format: dd-MM-yyyy hh:mm:ss"
              },
              "ride_cap": {
                "type": "integer",
                "minimum": 1,
                "description": "Maximum rides allowed"
              }
            }
          }
        }
      },
      "ExpenseCodeResponse": {
        "type": "object",
        "properties": {
          "expense_code": {
            "type": "string"
          },
          "expense_code_created": {
            "type": "boolean"
          },
          "successful_scopes": {
            "type": "integer"
          },
          "failed_scopes": {
            "type": "integer"
          },
          "expense_code_message": {
            "type": "string"
          },
          "expense_code_scope_error_dtos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "entity_type": {
                  "type": "string"
                },
                "entity_created_as": {
                  "type": "string"
                },
                "entity_error": {
                  "type": "string"
                },
                "successful": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "corporate_token": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CORPORATE-TOKEN",
        "description": "Corporate authentication token"
      }
    }
  },
  "security": [
    {
      "corporate_token": []
    }
  ],
  "tags": [
    {
      "name": "Expense Codes",
      "description": "Operations related to Expense Codes"
    },
    {
      "name": "Invoices",
      "description": "Invoice download operations"
    },
    {
      "name": "Rides",
      "description": "Operations related to Rides"
    },
    {
      "name": "Users",
      "description": "Operations related to Users"
    }
  ]
}