{
  "openapi": "3.0.3",
  "info": {
    "title": "Tap Payments API",
    "description": "Tap Payments is a payment gateway serving the Middle East and North Africa. The API supports creating charges, authorizations, refunds, and managing customers and payment tokens.",
    "version": "2.0.0",
    "contact": {
      "name": "Tap Payments Developer Support",
      "url": "https://developers.tap.company/"
    },
    "x-jentic-source-url": "https://developers.tap.company/"
  },
  "servers": [
    {
      "url": "https://api.tap.company/v2",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Charges",
      "description": "Charge creation, retrieval, and listing"
    },
    {
      "name": "Authorize",
      "description": "Authorization operations"
    },
    {
      "name": "Refunds",
      "description": "Refund operations"
    }
  ],
  "paths": {
    "/charges": {
      "post": {
        "operationId": "createCharge",
        "summary": "Create a Charge",
        "description": "Create a new charge to collect a payment from a customer. Supports card payments, digital wallets, and local payment methods across the MENA region.",
        "tags": [
          "Charges"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charges/{chargeId}": {
      "get": {
        "operationId": "retrieveCharge",
        "summary": "Retrieve a Charge",
        "description": "Retrieve the details of an existing charge by its ID.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the charge to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Charge details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charges/list": {
      "post": {
        "operationId": "listAllCharges",
        "summary": "List all Charges",
        "description": "Returns a list of all previously created charges, with the most recent charges appearing first.",
        "tags": [
          "Charges"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of charges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authorize": {
      "post": {
        "operationId": "createAuthorize",
        "summary": "Create an Authorize",
        "description": "Authorize a transaction amount without capturing it. This holds the funds on the customer's card for later capture.",
        "tags": [
          "Authorize"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Create a Refund",
        "description": "Create a refund request for an existing charge.",
        "tags": [
          "Refunds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refunds/{refundId}": {
      "get": {
        "operationId": "retrieveRefund",
        "summary": "Retrieve a Refund",
        "description": "Retrieve the details of an existing refund.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the refund to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refunds/list": {
      "post": {
        "operationId": "listAllRefunds",
        "summary": "List All Refunds",
        "description": "Returns a list of all refunds you've previously created. The refunds are returned in sorted order, with the most recent refunds appearing first.",
        "tags": [
          "Refunds"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token using your secret API key from the Tap dashboard."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CreateChargeRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "source"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Charge amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code (e.g., KWD, SAR, AED, BHD, QAR, OMR, EGP, USD)"
          },
          "customer_initiated": {
            "type": "boolean",
            "description": "Whether the charge is initiated by the customer"
          },
          "threeDSecure": {
            "type": "boolean",
            "description": "Whether to require 3D Secure authentication"
          },
          "save_card": {
            "type": "boolean",
            "description": "Whether to save the card for future use"
          },
          "description": {
            "type": "string",
            "description": "Charge description"
          },
          "statement_descriptor": {
            "type": "string",
            "description": "Statement descriptor for the charge"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value metadata for the charge"
          },
          "reference": {
            "$ref": "#/components/schemas/Reference"
          },
          "receipt": {
            "$ref": "#/components/schemas/Receipt"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "post": {
            "$ref": "#/components/schemas/PostUrl"
          },
          "redirect": {
            "$ref": "#/components/schemas/RedirectUrl"
          }
        }
      },
      "Reference": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "string",
            "description": "Transaction reference"
          },
          "order": {
            "type": "string",
            "description": "Order reference"
          }
        }
      },
      "Receipt": {
        "type": "object",
        "properties": {
          "email": {
            "type": "boolean",
            "description": "Send receipt via email"
          },
          "sms": {
            "type": "boolean",
            "description": "Send receipt via SMS"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Existing customer ID"
          },
          "first_name": {
            "type": "string"
          },
          "middle_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "object",
            "properties": {
              "country_code": {
                "type": "string"
              },
              "number": {
                "type": "string"
              }
            }
          }
        }
      },
      "Source": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment source ID (e.g., token ID, card ID, or 'src_all' for redirect)"
          }
        }
      },
      "PostUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook notification URL"
          }
        }
      },
      "RedirectUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after payment"
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Charge ID"
          },
          "object": {
            "type": "string",
            "example": "charge"
          },
          "live_mode": {
            "type": "boolean"
          },
          "api_version": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED",
              "CAPTURED",
              "FAILED",
              "ABANDONED",
              "CANCELLED",
              "DECLINED",
              "RESTRICTED",
              "VOID",
              "TIMEDOUT"
            ]
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "threeDSecure": {
            "type": "boolean"
          },
          "save_card": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "transaction": {
            "type": "object",
            "properties": {
              "timezone": {
                "type": "string"
              },
              "created": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "expiry": {
                "type": "object",
                "properties": {
                  "period": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "asynchronous": {
                "type": "boolean"
              },
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "reference": {
            "$ref": "#/components/schemas/Reference"
          },
          "response": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "receipt": {
            "$ref": "#/components/schemas/Receipt"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "source": {
            "type": "object",
            "properties": {
              "object": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "redirect": {
            "$ref": "#/components/schemas/RedirectUrl"
          },
          "post": {
            "$ref": "#/components/schemas/PostUrl"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ChargeListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "live_mode": {
            "type": "boolean"
          },
          "api_version": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChargeResponse"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "ListRequest": {
        "type": "object",
        "properties": {
          "period": {
            "type": "object",
            "properties": {
              "date": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "to": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "status": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          },
          "starting_after": {
            "type": "string"
          }
        }
      },
      "CreateAuthorizeRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "source"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "customer_initiated": {
            "type": "boolean"
          },
          "threeDSecure": {
            "type": "boolean"
          },
          "save_card": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "reference": {
            "$ref": "#/components/schemas/Reference"
          },
          "receipt": {
            "$ref": "#/components/schemas/Receipt"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "auto": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "VOID",
                  "CAPTURE"
                ]
              },
              "time": {
                "type": "integer",
                "description": "Time in hours"
              }
            }
          },
          "post": {
            "$ref": "#/components/schemas/PostUrl"
          },
          "redirect": {
            "$ref": "#/components/schemas/RedirectUrl"
          }
        }
      },
      "AuthorizeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "authorize"
          },
          "live_mode": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "response": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateRefundRequest": {
        "type": "object",
        "required": [
          "charge_id",
          "amount"
        ],
        "properties": {
          "charge_id": {
            "type": "string",
            "description": "The ID of the charge to refund"
          },
          "amount": {
            "type": "number",
            "description": "Amount to refund"
          },
          "currency": {
            "type": "string",
            "description": "Refund currency"
          },
          "description": {
            "type": "string",
            "description": "Refund reason/description"
          },
          "reason": {
            "type": "string",
            "description": "Refund reason code"
          },
          "reference": {
            "$ref": "#/components/schemas/Reference"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "post": {
            "$ref": "#/components/schemas/PostUrl"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "refund"
          },
          "live_mode": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "charge_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "response": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RefundListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "live_mode": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundResponse"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          }
        }
      }
    }
  }
}
