{
  "openapi": "3.0.3",
  "info": {
    "title": "BusyBusy API",
    "description": "BusyBusy REST API for construction time tracking and workforce management. Provides endpoints for managing time entries, projects, cost codes, equipment, certifications, members, daily reports, and more.",
    "version": "3.2",
    "contact": {
      "name": "BusyBusy",
      "url": "https://www.busybusy.io"
    },
    "x-jentic-source-url": "https://api.busybusy.io/docs/apiv3.html"
  },
  "servers": [
    {
      "url": "https://api.busybusy.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api-key": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List ApiKey records",
        "operationId": "getApiKey",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ApiKey records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create ApiKey",
        "operationId": "createApiKey",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "permissions": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "last_access": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "disabled_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "name",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ApiKey created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Update ApiKey",
        "operationId": "updateApiKey",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "permissions": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "last_access": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "disabled_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ApiKey updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          }
        }
      }
    },
    "/authoritative-signature": {
      "get": {
        "tags": [
          "Authoritative Signatures"
        ],
        "summary": "List AuthoritativeSignature records",
        "operationId": "getAuthoritativeSignature",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AuthoritativeSignature records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthoritativeSignature"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Authoritative Signatures"
        ],
        "summary": "Create AuthoritativeSignature",
        "operationId": "createAuthoritativeSignature",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "proxy_member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "created_on_offset": {
                    "type": "integer"
                  },
                  "created_on_dst": {
                    "type": "boolean"
                  },
                  "signature_id": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "member_id",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AuthoritativeSignature created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritativeSignature"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Authoritative Signatures"
        ],
        "summary": "Update AuthoritativeSignature",
        "operationId": "updateAuthoritativeSignature",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "proxy_member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "created_on_offset": {
                    "type": "integer"
                  },
                  "created_on_dst": {
                    "type": "boolean"
                  },
                  "signature_id": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AuthoritativeSignature updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritativeSignature"
                }
              }
            }
          }
        }
      }
    },
    "/budget-cost": {
      "get": {
        "tags": [
          "Budget Costs"
        ],
        "summary": "List BudgetCost records",
        "operationId": "getBudgetCost",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of BudgetCost records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BudgetCost"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Budget Costs"
        ],
        "summary": "Create BudgetCost",
        "operationId": "createBudgetCost",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "cost_code_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "cost_budget": {
                    "type": "number"
                  },
                  "equipment_cost_budget": {
                    "type": "number"
                  },
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "is_latest": {
                    "type": "boolean"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "project_id",
                  "cost_budget",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BudgetCost created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetCost"
                }
              }
            }
          }
        }
      }
    },
    "/budget-hours": {
      "get": {
        "tags": [
          "Budget Hours"
        ],
        "summary": "List BudgetHours records",
        "operationId": "getBudgetHours",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of BudgetHours records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BudgetHours"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Budget Hours"
        ],
        "summary": "Create BudgetHours",
        "operationId": "createBudgetHours",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "cost_code_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "budget_seconds": {
                    "type": "integer"
                  },
                  "equipment_budget_seconds": {
                    "type": "integer"
                  },
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "is_latest": {
                    "type": "boolean"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "project_id",
                  "budget_seconds",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BudgetHours created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetHours"
                }
              }
            }
          }
        }
      }
    },
    "/certification": {
      "get": {
        "tags": [
          "Certifications"
        ],
        "summary": "List Certification records",
        "operationId": "getCertification",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Certification records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Certification"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Certifications"
        ],
        "summary": "Create Certification",
        "operationId": "createCertification",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "renewal_period_months": {
                    "type": "integer"
                  },
                  "employee_managed": {
                    "type": "boolean"
                  },
                  "documentation_required": {
                    "type": "boolean"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "name",
                  "employee_managed",
                  "documentation_required",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certification created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certification"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Certifications"
        ],
        "summary": "Update Certification",
        "operationId": "updateCertification",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "renewal_period_months": {
                    "type": "integer"
                  },
                  "employee_managed": {
                    "type": "boolean"
                  },
                  "documentation_required": {
                    "type": "boolean"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "employee_managed",
                  "documentation_required"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certification updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certification"
                }
              }
            }
          }
        }
      }
    },
    "/certification-record": {
      "get": {
        "tags": [
          "Certifications"
        ],
        "summary": "List CertificationRecord records",
        "operationId": "getCertificationRecord",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CertificationRecord records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Certifications"
        ],
        "summary": "Create CertificationRecord",
        "operationId": "createCertificationRecord",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "certification_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "issued_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "expires_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "renewed_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "certification_id",
                  "member_id",
                  "issued_on",
                  "renewed_on",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CertificationRecord created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationRecord"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Certifications"
        ],
        "summary": "Update CertificationRecord",
        "operationId": "updateCertificationRecord",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "certification_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "issued_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "expires_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "renewed_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "member_id",
                  "issued_on",
                  "renewed_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CertificationRecord updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationRecord"
                }
              }
            }
          }
        }
      }
    },
    "/certification-equipment-link": {
      "get": {
        "tags": [
          "Certifications"
        ],
        "summary": "List CertificationEquipmentLink records",
        "operationId": "getCertificationEquipmentLink",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CertificationEquipmentLink records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationEquipmentLink"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Certifications"
        ],
        "summary": "Create CertificationEquipmentLink",
        "operationId": "createCertificationEquipmentLink",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "certification_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "certification_id",
                  "equipment_id",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CertificationEquipmentLink created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationEquipmentLink"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Certifications"
        ],
        "summary": "Update CertificationEquipmentLink",
        "operationId": "updateCertificationEquipmentLink",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "certification_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "equipment_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CertificationEquipmentLink updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationEquipmentLink"
                }
              }
            }
          }
        }
      }
    },
    "/certification-record-attachment": {
      "get": {
        "tags": [
          "Certifications"
        ],
        "summary": "List CertificationRecordAttachment records",
        "operationId": "getCertificationRecordAttachment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CertificationRecordAttachment records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificationRecordAttachment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Certifications"
        ],
        "summary": "Create CertificationRecordAttachment",
        "operationId": "createCertificationRecordAttachment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "certification_record_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "file_id": {
                    "type": "string"
                  },
                  "file_type": {
                    "type": "string"
                  },
                  "effective_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "uploaded_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "certification_record_id",
                  "effective_on",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CertificationRecordAttachment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationRecordAttachment"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Certifications"
        ],
        "summary": "Update CertificationRecordAttachment",
        "operationId": "updateCertificationRecordAttachment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "certification_record_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "file_id": {
                    "type": "string"
                  },
                  "file_type": {
                    "type": "string"
                  },
                  "effective_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "uploaded_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "effective_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CertificationRecordAttachment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationRecordAttachment"
                }
              }
            }
          }
        }
      }
    },
    "/chemical": {
      "get": {
        "tags": [
          "Chemicals"
        ],
        "summary": "List Chemical records",
        "operationId": "getChemical",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Chemical records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chemical"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Chemicals"
        ],
        "summary": "Create Chemical",
        "operationId": "createChemical",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "title",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chemical created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chemical"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Chemicals"
        ],
        "summary": "Update Chemical",
        "operationId": "updateChemical",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chemical updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chemical"
                }
              }
            }
          }
        }
      }
    },
    "/cost-code": {
      "get": {
        "tags": [
          "Cost Codes"
        ],
        "summary": "List CostCode records",
        "operationId": "getCostCode",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CostCode records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CostCode"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cost Codes"
        ],
        "summary": "Create CostCode",
        "operationId": "createCostCode",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "cost_code": {
                    "type": "string"
                  },
                  "unit_title": {
                    "type": "string"
                  },
                  "cost_code_group_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "general_liability_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "workers_comp_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "archived_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "cost_code",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CostCode created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCode"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Cost Codes"
        ],
        "summary": "Update CostCode",
        "operationId": "updateCostCode",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "cost_code": {
                    "type": "string"
                  },
                  "unit_title": {
                    "type": "string"
                  },
                  "cost_code_group_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "general_liability_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "workers_comp_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "archived_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "cost_code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CostCode updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCode"
                }
              }
            }
          }
        }
      }
    },
    "/cost-code-group": {
      "get": {
        "tags": [
          "Cost Codes"
        ],
        "summary": "List CostCodeGroup records",
        "operationId": "getCostCodeGroup",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CostCodeGroup records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CostCodeGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cost Codes"
        ],
        "summary": "Create CostCodeGroup",
        "operationId": "createCostCodeGroup",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "group_name": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "group_name",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CostCodeGroup created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCodeGroup"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Cost Codes"
        ],
        "summary": "Update CostCodeGroup",
        "operationId": "updateCostCodeGroup",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "group_name": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "group_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CostCodeGroup updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCodeGroup"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cost Codes"
        ],
        "summary": "Delete CostCodeGroup",
        "operationId": "deleteCostCodeGroup",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CostCodeGroup deleted"
          }
        }
      }
    },
    "/daily-project-report": {
      "get": {
        "tags": [
          "Daily Reports"
        ],
        "summary": "List DailyProjectReport records",
        "operationId": "getDailyProjectReport",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of DailyProjectReport records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProjectReport"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Daily Reports"
        ],
        "summary": "Create DailyProjectReport",
        "operationId": "createDailyProjectReport",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "report_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "file_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "template_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "report_end_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "report_date",
                  "created_by",
                  "project_id",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DailyProjectReport created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyProjectReport"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Daily Reports"
        ],
        "summary": "Update DailyProjectReport",
        "operationId": "updateDailyProjectReport",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "report_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "file_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "template_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "report_end_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "report_date",
                  "project_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DailyProjectReport updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyProjectReport"
                }
              }
            }
          }
        }
      }
    },
    "/daily-project-report-template": {
      "get": {
        "tags": [
          "Daily Reports"
        ],
        "summary": "List DailyProjectReportTemplate records",
        "operationId": "getDailyProjectReportTemplate",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of DailyProjectReportTemplate records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProjectReportTemplate"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Daily Reports"
        ],
        "summary": "Create DailyProjectReportTemplate",
        "operationId": "createDailyProjectReportTemplate",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "audience_type": {
                    "type": "string"
                  },
                  "appearance": {
                    "type": "string"
                  },
                  "sections": {
                    "type": "string"
                  },
                  "position_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "title",
                  "audience_type",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DailyProjectReportTemplate created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyProjectReportTemplate"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Daily Reports"
        ],
        "summary": "Update DailyProjectReportTemplate",
        "operationId": "updateDailyProjectReportTemplate",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "audience_type": {
                    "type": "string"
                  },
                  "appearance": {
                    "type": "string"
                  },
                  "sections": {
                    "type": "string"
                  },
                  "position_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "title",
                  "audience_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DailyProjectReportTemplate updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyProjectReportTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/equipment": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "List Equipment records",
        "operationId": "getEquipment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Equipment records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Equipment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Create Equipment",
        "operationId": "createEquipment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_group_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "image_id": {
                    "type": "string"
                  },
                  "equipment_name": {
                    "type": "string"
                  },
                  "equipment_model_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "serial_number": {
                    "type": "string"
                  },
                  "fuel_capacity": {
                    "type": "string"
                  },
                  "last_location_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "last_hours_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "track_manual_hours": {
                    "type": "boolean"
                  },
                  "year": {
                    "type": "integer"
                  },
                  "updated_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "archived_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "equipment_name",
                  "equipment_model_id",
                  "track_manual_hours",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Equipment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Equipment"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Equipment"
        ],
        "summary": "Update Equipment",
        "operationId": "updateEquipment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_group_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "image_id": {
                    "type": "string"
                  },
                  "equipment_name": {
                    "type": "string"
                  },
                  "equipment_model_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "serial_number": {
                    "type": "string"
                  },
                  "fuel_capacity": {
                    "type": "string"
                  },
                  "last_location_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "last_hours_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "track_manual_hours": {
                    "type": "boolean"
                  },
                  "year": {
                    "type": "integer"
                  },
                  "updated_by": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "archived_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "equipment_name",
                  "equipment_model_id",
                  "track_manual_hours"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Equipment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Equipment"
                }
              }
            }
          }
        }
      }
    },
    "/equipment-beacon": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "List EquipmentBeacon records",
        "operationId": "getEquipmentBeacon",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of EquipmentBeacon records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipmentBeacon"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/equipment-category": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "List EquipmentCategory records",
        "operationId": "getEquipmentCategory",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of EquipmentCategory records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipmentCategory"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Create EquipmentCategory",
        "operationId": "createEquipmentCategory",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "equipment_type_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "image_id": {
                    "type": "string"
                  },
                  "review": {
                    "type": "boolean"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentCategory created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentCategory"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Equipment"
        ],
        "summary": "Update EquipmentCategory",
        "operationId": "updateEquipmentCategory",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "equipment_type_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "image_id": {
                    "type": "string"
                  },
                  "review": {
                    "type": "boolean"
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentCategory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentCategory"
                }
              }
            }
          }
        }
      }
    },
    "/equipment-category-map": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "List EquipmentCategoryMap records",
        "operationId": "getEquipmentCategoryMap",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of EquipmentCategoryMap records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipmentCategoryMap"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Create EquipmentCategoryMap",
        "operationId": "createEquipmentCategoryMap",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string"
                  },
                  "destination": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "source",
                  "destination"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentCategoryMap created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentCategoryMap"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Equipment"
        ],
        "summary": "Update EquipmentCategoryMap",
        "operationId": "updateEquipmentCategoryMap",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "source": {
                    "type": "string"
                  },
                  "destination": {
                    "type": "string"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "source",
                  "destination"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentCategoryMap updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentCategoryMap"
                }
              }
            }
          }
        }
      }
    },
    "/equipment-checklist-routine": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "List EquipmentChecklistRoutine records",
        "operationId": "getEquipmentChecklistRoutine",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of EquipmentChecklistRoutine records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipmentChecklistRoutine"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Create EquipmentChecklistRoutine",
        "operationId": "createEquipmentChecklistRoutine",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "equipment_inspection_checklist_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "recurring_days": {
                    "type": "integer"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "equipment_inspection_checklist_id",
                  "equipment_id",
                  "recurring_days",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentChecklistRoutine created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentChecklistRoutine"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Equipment"
        ],
        "summary": "Update EquipmentChecklistRoutine",
        "operationId": "updateEquipmentChecklistRoutine",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_inspection_checklist_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "recurring_days": {
                    "type": "integer"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "recurring_days"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentChecklistRoutine updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentChecklistRoutine"
                }
              }
            }
          }
        }
      }
    },
    "/equipment-checklist-routine-assignment": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "List EquipmentChecklistRoutineAssignment records",
        "operationId": "getEquipmentChecklistRoutineAssignment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of EquipmentChecklistRoutineAssignment records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipmentChecklistRoutineAssignment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Create EquipmentChecklistRoutineAssignment",
        "operationId": "createEquipmentChecklistRoutineAssignment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "equipment_checklist_routine_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "effective_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "equipment_checklist_routine_id",
                  "member_id",
                  "effective_on",
                  "created_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentChecklistRoutineAssignment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentChecklistRoutineAssignment"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Equipment"
        ],
        "summary": "Update EquipmentChecklistRoutineAssignment",
        "operationId": "updateEquipmentChecklistRoutineAssignment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": false,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "equipment_checklist_routine_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "member_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "effective_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submitted_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "effective_on"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EquipmentChecklistRoutineAssignment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentChecklistRoutineAssignment"
                }
              }
            }
          }
        }
      }
    },
    "/equipment-cost-history": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "List EquipmentCostHistory records",
        "operationId": "getEquipmentCostHistory",
[...]
