{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "crossbar_dev@ebi.ac.uk",
      "name": "API support"
    },
    "description": "# About CROssBAR & data\n**CROssBAR**: Comprehensive Resource of Biomedical Relations with Deep Learning Applications and Knowledge Graph Representations\nCROssBAR is a comprehensive system that integrates large-scale biomedical data from various resources e.g UniProt, ChEMBL, Drugbank, EFO, HPO, InterPro & PubChem and stores them in a new NoSQL database, enrich these data with deep learning based prediction of relations between numerous biomedical entities, rigorously analyse the enriched data to obtain biologically meaningful modules and display them to the user via easy to interpret, interactive and heterogeneous knowledge graphs.\nCROssBAR platform exposes a set of 12 endpoints to query data stored in the CROssBAR database. These endpoints help the user to find data of interest using different parameters provided by the API endpoint.\nFor example,\nhttps://www.ebi.ac.uk/tools/crossbar/proteins?accession=A0A023GRW5 -> will provide protein information about accession 'A0A023GRW5' including its interactions, functions, cross-references, variations and more.\nhttps://www.ebi.ac.uk/tools/crossbar/activities?moleculeChemblId=CHEMBL465983 -> will provide ChEMBL bio-interactions related information including targets and bio-activity measurements associated with molecule chembl id 'CHEMBL465983'\n\n**Knowledge graphs**\nAnother use case of CROssBAR's API endpoints is in building knowledge graphs. These endpoints can be *weaved* together (output from one API endpoint fed as input to another API endpoint) programmatically to link nodes like protein, disease, drugs etc. as nodes of the graph. The endpoints are designed to be independent from each other which allows users the flexibility to drive biological networks from any facet e.g drug-centric, disease-centric, gene-centric etc. Our service for knowledge graph construction is available at https://crossbar.kansil.org.\nAn example for the part of the background queries on the CROssBAR API during the construction of a knowledge graph, \n(with the aim of keeping the example simple, we have only included the processes related to pathways, genes/proteins and drugs/compounds)\nIn this example, we would like to find bio-active compounds (with a pChEMBL value threshold of at least 6.0) & drugs targeting all proteins belonging to \"WNT ligand biogenesis and trafficking\" pathway (based on Reactome pathway annotations).\nThis can be achieved by using endpoints listed on this swagger documentation as illustrated in following steps-\nFind bio-active compounds (with a pChEMBL value threshold of at least 6.0) & drugs targeting all proteins belonging to \"WNT ligand biogenesis and trafficking\" pathway (based on Reactome annotations)\nThis can be achieved by using endpoints listed on [this swagger documentation](https://www.ebi.ac.uk/tools/crossbar/swagger-ui.html) as illustrated in following steps-\n1. Get all proteins from \u201c/proteins\u201d API endpoint which have a reactome pathway name equal to \"WNT ligand biogenesis and trafficking\".\n2. From the collection of uniprot protein accessions collected from step 1 above, we query \u201c/targets\u201d API endpoint to obtain the \u2018target_chembl_id\u2019s of these proteins.\n3. From the collection of target_chembl_ids collected from step 2 above, we query \u201c/activities\u201d API endpoint with pChEMBL value >=6, to obtain the \u2019molecule_chembl_id\u2019s of the molecules that we need. \n4. From the collection of uniprot protein accessions collected from step 1 above, we find out Drug names and ids from the \u201c/drugs\u201d API endpoint that targets our proteins.\n5. From the collection of \u2019molecule_chembl_id\u2019s obtained in step3, we query \u201c/molecules\u201d endpoint to get the compounds that are interacting with the genes/proteins belonging to the \u201cWNT ligand biogenesis and trafficking\u201d pathway.",
    "title": "CROssBAR Data API",
    "version": "1.0",
    "x-jentic-source-url": "https://www.ebi.ac.uk/Tools/crossbar/v2/api-docs"
  },
  "servers": [
    {
      "url": "https://www.ebi.ac.uk/Tools/crossbar"
    }
  ],
  "paths": {
    "/activities": {
      "get": {
        "parameters": [
          {
            "description": "assayChemblId",
            "explode": true,
            "in": "query",
            "name": "assayChemblId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "moleculeChemblId",
            "explode": true,
            "in": "query",
            "name": "moleculeChemblId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "pchemblValue",
            "in": "query",
            "name": "pchemblValue",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "targetChemblId",
            "explode": true,
            "in": "query",
            "name": "targetChemblId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activities"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Activities"
        ],
        "deprecated": false,
        "operationId": "getActivitiesUsingGET",
        "summary": "Get ChEMBL activities"
      }
    },
    "/assays": {
      "get": {
        "parameters": [
          {
            "description": "assayChemblId",
            "explode": true,
            "in": "query",
            "name": "assayChemblId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "assayOrg",
            "explode": true,
            "in": "query",
            "name": "assayOrg",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "assayType",
            "explode": true,
            "in": "query",
            "name": "assayType",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "targetChemblId",
            "explode": true,
            "in": "query",
            "name": "targetChemblId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assays"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Assays"
        ],
        "deprecated": false,
        "operationId": "getAssaysUsingGET",
        "summary": "Get ChEMBL assays"
      }
    },
    "/drugs": {
      "get": {
        "parameters": [
          {
            "description": "accession",
            "explode": true,
            "in": "query",
            "name": "accession",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "chemblId",
            "explode": true,
            "in": "query",
            "name": "chemblId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "identifier",
            "explode": true,
            "in": "query",
            "name": "identifier",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "name",
            "explode": true,
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "pubchemCid",
            "explode": true,
            "in": "query",
            "name": "pubchemCid",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drugs"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Drugs"
        ],
        "deprecated": false,
        "operationId": "getDrugsUsingGET",
        "summary": "drugs collected from Drugbank"
      }
    },
    "/efo": {
      "get": {
        "parameters": [
          {
            "description": "doid",
            "explode": true,
            "in": "query",
            "name": "doid",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "label",
            "explode": true,
            "in": "query",
            "name": "label",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "mesh",
            "explode": true,
            "in": "query",
            "name": "mesh",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "oboId",
            "explode": true,
            "in": "query",
            "name": "oboId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "omimId",
            "explode": true,
            "in": "query",
            "name": "omimId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "synonym",
            "explode": true,
            "in": "query",
            "name": "synonym",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EFOEntities"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "EFO disease terms"
        ],
        "deprecated": false,
        "operationId": "getEFOUsingGET",
        "summary": "Get EFO diseases data"
      }
    },
    "/hpo": {
      "get": {
        "parameters": [
          {
            "description": "genesymbol",
            "explode": true,
            "in": "query",
            "name": "genesymbol",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "hpotermname",
            "explode": true,
            "in": "query",
            "name": "hpotermname",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "synonym",
            "explode": true,
            "in": "query",
            "name": "synonym",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HpoEntities"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "HPO"
        ],
        "deprecated": false,
        "operationId": "getHpoUsingGET",
        "summary": "Get HPO phenotypes data"
      }
    },
    "/intact": {
      "get": {
        "parameters": [
          {
            "description": "accession",
            "explode": true,
            "in": "query",
            "name": "accession",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "confidence",
            "in": "query",
            "name": "confidence",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "gene",
            "explode": true,
            "in": "query",
            "name": "gene",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntactInteractions"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Intact"
        ],
        "deprecated": false,
        "operationId": "getIntactUsingGET",
        "summary": "Molecular Interactions collected from IntAct"
      }
    },
    "/molecules": {
      "get": {
        "parameters": [
          {
            "description": "canonicalSmiles",
            "explode": true,
            "in": "query",
            "name": "canonicalSmiles",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "inchiKey",
            "explode": true,
            "in": "query",
            "name": "inchiKey",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "moleculeChemblId",
            "explode": true,
            "in": "query",
            "name": "moleculeChemblId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Molecules"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Molecules"
        ],
        "deprecated": false,
        "operationId": "getMoleculesUsingGET",
        "summary": "Get ChEMBL molecules"
      }
    },
    "/proteins": {
      "get": {
        "parameters": [
          {
            "description": "accession",
            "explode": true,
            "in": "query",
            "name": "accession",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "ec",
            "explode": true,
            "in": "query",
            "name": "ec",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "fullName",
            "explode": true,
            "in": "query",
            "name": "fullName",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "gene",
            "explode": true,
            "in": "query",
            "name": "gene",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "go",
            "explode": true,
            "in": "query",
            "name": "go",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "interpro",
            "explode": true,
            "in": "query",
            "name": "interpro",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "omim",
            "explode": true,
            "in": "query",
            "name": "omim",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "orphanet",
            "explode": true,
            "in": "query",
            "name": "orphanet",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "pfam",
            "explode": true,
            "in": "query",
            "name": "pfam",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "reactome",
            "explode": true,
            "in": "query",
            "name": "reactome",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "taxId",
            "explode": true,
            "in": "query",
            "name": "taxId",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proteins"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Proteins"
        ],
        "deprecated": false,
        "operationId": "getProteinsUsingGET",
        "summary": "Proteins collected from Uniprot for selective tax ids  HUMAN(9606), MOUSE(10090), RAT(10116), BOVINE(9913), ESCHERICHIA_COLI(83333), SUS_SCROFA(9823), MYCOBACTERIUM_TUBERCULOSIS(83332), ORYCTOLAGUS_CUNICULUS(9986), SACCHAROMYCES_CEREVISIAE(559292), CVHSA(694009) & SARS2(2697049)"
      }
    },
    "/pubchem/bioassays": {
      "get": {
        "parameters": [
          {
            "description": "accession",
            "explode": true,
            "in": "query",
            "name": "accession",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "assayPubchemId",
            "explode": true,
            "in": "query",
            "name": "assayPubchemId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "ncbiProteinId",
            "explode": true,
            "in": "query",
            "name": "ncbiProteinId",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bioassays"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "PubChem Biossays"
        ],
        "deprecated": false,
        "operationId": "getBioassaysUsingGET",
        "summary": "Get pubchem bioassays"
      }
    },
    "/pubchem/bioassays/sids": {
      "get": {
        "parameters": [
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "outcome",
            "in": "query",
            "name": "outcome",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "sids",
            "explode": true,
            "in": "query",
            "name": "sids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bioassays"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "PubChem Bioassay Sids"
        ],
        "deprecated": false,
        "operationId": "getBioassaysUsingGET_1",
        "summary": "Get pubchem bioassays associated to particular substance ids (sid) & outcome"
      }
    },
    "/pubchem/compounds": {
      "get": {
        "parameters": [
          {
            "description": "canonicalSmiles",
            "explode": true,
            "in": "query",
            "name": "canonicalSmiles",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "cid",
            "explode": true,
            "in": "query",
            "name": "cid",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "inchiKey",
            "explode": true,
            "in": "query",
            "name": "inchiKey",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PubchemCompounds"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "PubChem Compounds"
        ],
        "deprecated": false,
        "operationId": "getCompoundsUsingGET",
        "summary": "Get pubchem compounds"
      }
    },
    "/pubchem/substances": {
      "get": {
        "parameters": [
          {
            "description": "cid",
            "explode": true,
            "in": "query",
            "name": "cid",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "sid",
            "explode": true,
            "in": "query",
            "name": "sid",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PubchemSubstances"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "PubChem Substances"
        ],
        "deprecated": false,
        "operationId": "getSubstancesUsingGET",
        "summary": "Get pubchem substances"
      }
    },
    "/targets": {
      "get": {
        "parameters": [
          {
            "description": "accession",
            "explode": true,
            "in": "query",
            "name": "accession",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "targetIds",
            "explode": true,
            "in": "query",
            "name": "targetIds",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Targets"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Targets"
        ],
        "deprecated": false,
        "operationId": "getTargetsUsingGET",
        "summary": "Get ChEMBL targets"
      }
    }
  },
  "components": {
    "schemas": {
      "Activities": {
        "properties": {
          "activities": {
            "items": {
              "$ref": "#/components/schemas/Activity"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "Activities",
        "type": "object"
      },
      "Activity": {
        "properties": {
          "assay_chembl_id": {
            "type": "string"
          },
          "data_validity_comment": {
            "type": "string"
          },
          "molecule_chembl_id": {
            "type": "string"
          },
          "pchembl_value": {
            "format": "double",
            "type": "number"
          },
          "standard_flag": {
            "type": "boolean"
          },
          "standard_relation": {
            "type": "string"
          },
          "standard_units": {
            "type": "string"
          },
          "standard_value": {
            "format": "double",
            "type": "number"
          },
          "target_chembl_id": {
            "type": "string"
          }
        },
        "title": "Activity",
        "type": "object"
      },
      "Assay": {
        "properties": {
          "assay_chembl_id": {
            "type": "string"
          },
          "assay_id": {
            "type": "string"
          },
          "assay_organism": {
            "type": "string"
          },
          "assay_type": {
            "type": "string"
          },
          "confidence_score": {
            "format": "double",
            "type": "number"
          },
          "target_chembl_id": {
            "type": "string"
          }
        },
        "title": "Assay",
        "type": "object"
      },
      "AssayData": {
        "properties": {
          "standard_type": {
            "type": "string"
          },
          "standard_units": {
            "type": "string"
          },
          "standard_value": {
            "format": "double",
            "type": "number"
          }
        },
        "title": "AssayData",
        "type": "object"
      },
      "AssayOrganism": {
        "properties": {
          "db_object_id": {
            "type": "integer"
          },
          "tax_name": {
            "type": "string"
          }
        },
        "title": "AssayOrganism",
        "type": "object"
      },
      "Assays": {
        "properties": {
          "assays": {
            "items": {
              "$ref": "#/components/schemas/Assay"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "Assays",
        "type": "object"
      },
      "BioAssay": {
        "properties": {
          "activity": {
            "format": "int32",
            "type": "integer"
          },
          "assay_organisms": {
            "items": {
              "$ref": "#/components/schemas/AssayOrganism"
            },
            "type": "array"
          },
          "assay_pubchem_id": {
            "type": "integer"
          },
          "assay_type": {
            "type": "string"
          },
          "chembl_xref": {
            "type": "string"
          },
          "protein_name": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "target_info": {
            "items": {
              "$ref": "#/components/schemas/TargetInfo"
            },
            "type": "array"
          },
          "target_type_info": {
            "items": {
              "$ref": "#/components/schemas/TargetType"
            },
            "type": "array"
          }
        },
        "title": "BioAssay",
        "type": "object"
      },
      "BioAssayMetaData": {
        "properties": {
          "bioAssay": {
            "$ref": "#/components/schemas/BioAssay"
          },
          "sidRelatedData": {
            "items": {
              "$ref": "#/components/schemas/SidRelatedData"
            },
            "type": "array"
          }
        },
        "title": "BioAssayMetaData",
        "type": "object"
      },
      "Bioassays": {
        "properties": {
          "bioassays": {
            "items": {
              "$ref": "#/components/schemas/BioAssayMetaData"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "Bioassays",
        "type": "object"
      },
      "CrossReferences": {
        "properties": {
          "ensembl": {
            "items": {
              "$ref": "#/components/schemas/Ensembl"
            },
            "type": "array"
          },
          "go": {
            "items": {
              "$ref": "#/components/schemas/Go"
            },
            "type": "array"
          },
          "interpro": {
            "items": {
              "$ref": "#/components/schemas/Interpro"
            },
            "type": "array"
          },
          "kegg": {
            "items": {
              "$ref": "#/components/schemas/Kegg"
            },
            "type": "array"
          },
          "omim": {
            "items": {
              "$ref": "#/components/schemas/Omim"
            },
            "type": "array"
          },
          "openTargets": {
            "items": {
              "$ref": "#/components/schemas/OpenTargets"
            },
            "type": "array"
          },
          "orphanet": {
            "items": {
              "$ref": "#/components/schemas/Orphanet"
            },
            "type": "array"
          },
          "pdBe": {
            "items": {
              "$ref": "#/components/schemas/PDBe"
            },
            "type": "array"
          },
          "pfam": {
            "items": {
              "$ref": "#/components/schemas/Pfam"
            },
            "type": "array"
          },
          "reactome": {
            "items": {
              "$ref": "#/components/schemas/Reactome"
            },
            "type": "array"
          }
        },
        "title": "CrossReferences",
        "type": "object"
      },
      "CrossbarDrug": {
        "properties": {
          "alogp": {
            "format": "double",
            "type": "number"
          },
          "canonical_smiles": {
            "type": "string"
          },
          "chembl_id": {
            "type": "string"
          },
          "full_mwt": {
            "format": "double",
            "type": "number"
          },
          "identifier": {
            "type": "string"
          },
          "inchi_key": {
            "type": "string"
          },
          "kegg_cid": {
            "type": "string"
          },
          "molecule_type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "pathway": {
            "items": {
              "$ref": "#/components/schemas/Pathway"
            },
            "type": "array"
          },
          "pb_structures": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "polar_surface_area": {
            "format": "double",
            "type": "number"
          },
          "pubchem_cid": {
            "type": "string"
          },
          "pubchem_sid": {
            "type": "string"
          },
          "standard_inchi": {
            "type": "string"
          },
          "targets": {
            "items": {
              "$ref": "#/components/schemas/Target"
            },
            "type": "array"
          },
          "uniprot_accession": {
            "type": "string"
          }
        },
        "title": "CrossbarDrug",
        "type": "object"
      },
      "CrossbarFeature": {
        "properties": {
          "begin": {
            "$ref": "#/components/schemas/FeaturePosition"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "end": {
            "$ref": "#/components/schemas/FeaturePosition"
          },
          "ftId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "title": "CrossbarFeature",
        "type": "object"
      },
      "CrossbarMolecule": {
        "properties": {
          "alogp": {
            "format": "double",
            "type": "number"
          },
          "canonical_smiles": {
            "type": "string"
          },
          "chirality": {
            "format": "double",
            "type": "number"
          },
          "full_mwt": {
            "format": "double",
            "type": "number"
          },
          "heavy_atoms_count": {
            "format": "int32",
            "type": "integer"
          },
          "inchi_key": {
            "type": "string"
          },
          "max_phase": {
            "format": "int32",
            "type": "integer"
          },
          "molecular_species": {
            "type": "string"
          },
          "molecular_type": {
            "type": "string"
          },
          "molecule_chembl_id": {
            "type": "string"
          },
          "parent_chembl_id": {
            "type": "string"
          },
          "pref_name": {
            "type": "string"
          },
          "prodrug": {
            "format": "double",
            "type": "number"
          },
          "standard_inchi": {
            "type": "string"
          },
          "xrefs": {
            "items": {
              "$ref": "#/components/schemas/Xref"
            },
            "type": "array"
          }
        },
        "title": "CrossbarMolecule",
        "type": "object"
      },
      "CrossbarPCCompound": {
        "properties": {
          "alogp": {
            "format": "double",
            "type": "number"
          },
          "atom_chiral_count": {
            "format": "int64",
            "type": "integer"
          },
          "atom_chiral_def_count": {
            "format": "int64",
            "type": "integer"
          },
          "bond_chiral_count": {
            "format": "int64",
            "type": "integer"
          },
          "bond_chiral_def_count": {
            "format": "int64",
            "type": "integer"
          },
          "bond_chiral_undef_count": {
            "format": "int64",
            "type": "integer"
          },
          "canonical_smiles": {
            "type": "string"
          },
          "cid": {
            "type": "integer"
          },
          "covalent_unit_count": {
            "format": "int64",
            "type": "integer"
          },
          "finger_print": {
            "format": "byte",
            "type": "string"
          },
          "full_mwt": {
            "format": "double",
            "type": "number"
          },
          "heavy_atoms_count": {
            "format": "int64",
            "type": "integer"
          },
          "inchi_key": {
            "type": "string"
          },
          "isotope_atom_count": {
            "format": "int64",
            "type": "integer"
          },
          "polar_surface_area": {
            "format": "double",
            "type": "number"
          },
          "standard_inchi": {
            "type": "string"
          },
          "tautomers_count": {
            "format": "int64",
            "type": "integer"
          }
        },
        "title": "CrossbarPCCompound",
        "type": "object"
      },
      "CrossbarProteinVariation": {
        "properties": {
          "alternativeSequence": {
            "type": "string"
          },
          "association": {
            "items": {
              "$ref": "#/components/schemas/VariationAssociation"
            },
            "type": "array"
          },
          "begin": {
            "$ref": "#/components/schemas/FeaturePosition"
          },
          "clinicalSignificances": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "end": {
            "$ref": "#/components/schemas/FeaturePosition"
          },
          "evidences": {
            "items": {
              "$ref": "#/components/schemas/VariationEvidence"
            },
            "type": "array"
          },
          "ftId": {
            "type": "string"
          },
          "somaticStatus": {
            "format": "int64",
            "type": "integer"
          },
          "sourceType": {
            "type": "string"
          },
          "wildType": {
            "type": "string"
          },
          "xrefs": {
            "items": {
              "$ref": "#/components/schemas/VariationXref"
            },
            "type": "array"
          }
        },
        "title": "CrossbarProteinVariation",
        "type": "object"
      },
      "CrossbarTarget": {
        "properties": {
          "accession": {
            "type": "string"
          },
          "target_chembl_id": {
            "type": "string"
          }
        },
        "title": "CrossbarTarget",
        "type": "object"
      },
      "Drugs": {
        "properties": {
          "drugs": {
            "items": {
              "$ref": "#/components/schemas/CrossbarDrug"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "Drugs",
        "type": "object"
      },
      "EFO": {
        "properties": {
          "description": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "doid": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "icd9": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "label": {
            "type": "string"
          },
          "mesh": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "ncit": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "obo_id": {
            "type": "string"
          },
          "omim": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "short_form": {
            "type": "string"
          },
          "snowmed": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "synonyms": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "umls": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "title": "EFO",
        "type": "object"
      },
      "EFOEntities": {
        "properties": {
          "diseases": {
            "items": {
              "$ref": "#/components/schemas/EFO"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "EFOEntities",
        "type": "object"
      },
      "Ensembl": {
        "properties": {
          "geneId": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "isoform": {
            "type": "string"
          },
          "proteinSequenceId": {
            "type": "string"
          }
        },
        "title": "Ensembl",
        "type": "object"
      },
      "FeaturePosition": {
        "properties": {
          "ceil": {
            "format": "int32",
            "type": "integer"
          },
          "floor": {
            "format": "int32",
            "type": "integer"
          },
          "uncertain": {
            "type": "boolean"
          },
          "unparsed": {
            "type": "string"
          }
        },
        "title": "FeaturePosition",
        "type": "object"
      },
      "Features": {
        "properties": {
          "active_site": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          },
          "binding_site": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          },
          "chain": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          },
          "domain": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          },
          "mutagen": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          },
          "region": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          },
          "top_dom": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          },
          "variant": {
            "items": {
              "$ref": "#/components/schemas/CrossbarFeature"
            },
            "type": "array"
          }
        },
        "title": "Features",
        "type": "object"
      },
      "Fragment": {
        "properties": {
          "from": {
            "format": "int32",
            "type": "integer"
          },
          "to": {
            "format": "int32",
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        },
        "title": "Fragment",
        "type": "object"
      },
      "Gene": {
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          }
        },
        "title": "Gene",
        "type": "object"
      },
      "Go": {
        "properties": {
          "evidences": {
            "items": {
              "$ref": "#/components/schemas/GoEvidence"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "term": {
            "type": "string"
          }
        },
        "title": "Go",
        "type": "object"
      },
      "GoEvidence": {
        "properties": {
          "source_id": {
            "type": "string"
          },
          "source_name": {
            "type": "string"
          }
        },
        "title": "GoEvidence",
        "type": "object"
      },
      "HPOEntity": {
        "properties": {
          "db_references": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "gene": {
            "items": {
              "$ref": "#/components/schemas/Gene"
            },
            "type": "array"
          },
          "hpo_id": {
            "type": "string"
          },
          "synonyms": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "term_name": {
            "type": "string"
          }
        },
        "title": "HPOEntity",
        "type": "object"
      },
      "HitPosition": {
        "properties": {
          "from": {
            "format": "int32",
            "type": "integer"
          },
          "to": {
            "format": "int32",
            "type": "integer"
          }
        },
        "title": "HitPosition",
        "type": "object"
      },
      "HpoEntities": {
        "properties": {
          "hpo": {
            "items": {
              "$ref": "#/components/schemas/HPOEntity"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "HpoEntities",
        "type": "object"
      },
      "Intact": {
        "properties": {
          "confidence": {
            "format": "double",
            "type": "number"
          },
          "interaction_ac": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "interactor_a": {
            "$ref": "#/components/schemas/Interactor"
          },
          "interactor_b": {
            "$ref": "#/components/schemas/Interactor"
          },
          "method": {
            "type": "string"
          },
          "source_db": {
            "type": "string"
          }
        },
        "title": "Intact",
        "type": "object"
      },
      "IntactInteractions": {
        "properties": {
          "interactions": {
            "items": {
              "$ref": "#/components/schemas/Intact"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "IntactInteractions",
        "type": "object"
      },
      "Interactor": {
        "properties": {
          "accession": {
            "type": "string"
          },
          "gene": {
            "type": "string"
          }
        },
        "title": "Interactor",
        "type": "object"
      },
      "Interpro": {
        "properties": {
          "entry_id": {
            "type": "string"
          },
          "entry_name": {
            "type": "string"
          },
          "entry_type": {
            "type": "string"
          },
          "fragments": {
            "items": {
              "$ref": "#/components/schemas/Fragment"
            },
            "type": "array"
          },
          "hit_position": {
            "$ref": "#/components/schemas/HitPosition"
          }
        },
        "title": "Interpro",
        "type": "object"
      },
      "Kegg": {
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "title": "Kegg",
        "type": "object"
      },
      "Molecules": {
        "properties": {
          "molecules": {
            "items": {
              "$ref": "#/components/schemas/CrossbarMolecule"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "Molecules",
        "type": "object"
      },
      "Omim": {
        "properties": {
          "_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "title": "Omim",
        "type": "object"
      },
      "OpenTargets": {
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "title": "OpenTargets",
        "type": "object"
      },
      "Orphanet": {
        "properties": {
          "disease": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "title": "Orphanet",
        "type": "object"
      },
      "PDBe": {
        "properties": {
          "chains": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "resolution": {
            "type": "string"
          }
        },
        "title": "PDBe",
        "type": "object"
      },
      "PageMeta": {
        "properties": {
          "currentElements": {
            "format": "int64",
            "type": "integer"
          },
          "currentPage": {
            "format": "int32",
            "type": "integer"
          },
          "limit": {
            "format": "int32",
            "type": "integer"
          },
          "totalElements": {
            "format": "int64",
            "type": "integer"
          },
          "totalPages": {
            "format": "int32",
            "type": "integer"
          }
        },
        "title": "PageMeta",
        "type": "object"
      },
      "Pathway": {
        "properties": {
          "category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "title": "Pathway",
        "type": "object"
      },
      "Pfam": {
        "properties": {
          "entryName": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "title": "Pfam",
        "type": "object"
      },
      "Protein": {
        "properties": {
          "accession": {
            "type": "string"
          },
          "chromosome": {
            "type": "string"
          },
          "crossreferences": {
            "$ref": "#/components/schemas/CrossReferences"
          },
          "ec_numbers": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "features": {
            "$ref": "#/components/schemas/Features"
          },
          "full_name": {
            "type": "string"
          },
          "genes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "interactions": {
            "items": {
              "$ref": "#/components/schemas/ProteinInteraction"
            },
            "type": "array"
          },
          "length": {
            "format": "double",
            "type": "number"
          },
          "mass": {
            "format": "double",
            "type": "number"
          },
          "tax_id": {
            "format": "int32",
            "type": "integer"
          },
          "variations": {
            "items": {
              "$ref": "#/components/schemas/CrossbarProteinVariation"
            },
            "type": "array"
          }
        },
        "title": "Protein",
        "type": "object"
      },
      "ProteinInteraction": {
        "properties": {
          "id": {
            "type": "string"
          },
          "interaction_type": {
            "type": "string"
          },
          "interactors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "title": "ProteinInteraction",
        "type": "object"
      },
      "Proteins": {
        "properties": {
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          },
          "proteins": {
            "items": {
              "$ref": "#/components/schemas/Protein"
            },
            "type": "array"
          }
        },
        "title": "Proteins",
        "type": "object"
      },
      "PubchemCompounds": {
        "properties": {
          "compounds": {
            "items": {
              "$ref": "#/components/schemas/CrossbarPCCompound"
            },
            "type": "array"
          },
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          }
        },
        "title": "PubchemCompounds",
        "type": "object"
      },
      "PubchemSubstances": {
        "properties": {
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          },
          "substances": {
            "items": {
              "$ref": "#/components/schemas/Substance"
            },
            "type": "array"
          }
        },
        "title": "PubchemSubstances",
        "type": "object"
      },
      "Reactome": {
        "properties": {
          "id": {
            "type": "string"
          },
          "pathwayName": {
            "type": "string"
          }
        },
        "title": "Reactome",
        "type": "object"
      },
      "SidRelatedData": {
        "properties": {
          "assay_data": {
            "items": {
              "$ref": "#/components/schemas/AssayData"
            },
            "type": "array"
          },
          "assay_pubchem_id": {
            "type": "integer"
          },
          "outcome": {
            "type": "string"
          },
          "sid": {
            "type": "integer"
          },
          "standard_relation": {
            "type": "string"
          }
        },
        "title": "SidRelatedData",
        "type": "object"
      },
      "Substance": {
        "properties": {
          "chembl_cmpd_xref": {
            "type": "string"
          },
          "cids": {
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "sid": {
            "type": "integer"
          }
        },
        "title": "Substance",
        "type": "object"
      },
      "Target": {
        "properties": {
          "accessions": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "action": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organism": {
            "type": "string"
          }
        },
        "title": "Target",
        "type": "object"
      },
      "TargetInfo": {
        "properties": {
          "ncbi_protein_id": {
            "type": "integer"
          },
          "target_chembl_id": {
            "type": "string"
          },
          "uniprot_accession": {
            "type": "string"
          }
        },
        "title": "TargetInfo",
        "type": "object"
      },
      "TargetType": {
        "properties": {
          "molecule_type": {
            "type": "string"
          },
          "value": {
            "format": "int32",
            "type": "integer"
          }
        },
        "title": "TargetType",
        "type": "object"
      },
      "Targets": {
        "properties": {
          "pageMeta": {
            "$ref": "#/components/schemas/PageMeta"
          },
          "targets": {
            "items": {
              "$ref": "#/components/schemas/CrossbarTarget"
            },
            "type": "array"
          }
        },
        "title": "Targets",
        "type": "object"
      },
      "VariationAssociation": {
        "properties": {
          "description": {
            "type": "string"
          },
          "evidences": {
            "items": {
              "$ref": "#/components/schemas/VariationEvidence"
            },
            "type": "array"
          },
          "name": {
            "type": "string"
          },
          "xrefs": {
            "items": {
              "$ref": "#/components/schemas/VariationXref"
            },
            "type": "array"
          }
        },
        "title": "VariationAssociation",
        "type": "object"
      },
      "VariationEvidence": {
        "properties": {
          "source": {
            "$ref": "#/components/schemas/VariationEvidenceSource"
          }
        },
        "title": "VariationEvidence",
        "type": "object"
      },
      "VariationEvidenceSource": {
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "title": "VariationEvidenceSource",
        "type": "object"
      },
      "VariationXref": {
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "title": "VariationXref",
        "type": "object"
      },
      "Xref": {
        "properties": {
          "id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        },
        "title": "Xref",
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "description": "Chembl Activities Resource",
      "name": "Activities"
    },
    {
      "description": "Chembl Assays Resource",
      "name": "Assays"
    },
    {
      "description": "Drug Resource",
      "name": "Drugs"
    },
    {
      "description": "EFO Resource",
      "name": "EFO disease terms"
    },
    {
      "description": "HPO Resource",
      "name": "HPO"
    },
    {
      "description": "Intact Resource",
      "name": "Intact"
    },
    {
      "description": "Chembl Molecules Resource",
      "name": "Molecules"
    },
    {
      "description": "Protein Resource",
      "name": "Proteins"
    },
    {
      "description": "Pubchem Bioassay Sids Resource",
      "name": "PubChem Bioassay Sids"
    },
    {
      "description": "Pubchem Bioassay Resource",
      "name": "PubChem Biossays"
    },
    {
      "description": "Pubchem Compound Resource",
      "name": "PubChem Compounds"
    },
    {
      "description": "Pubchem Substance Resource",
      "name": "PubChem Substances"
    },
    {
      "description": "Chembl Targets Resource",
      "name": "Targets"
    }
  ]
}