{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "admin.asuite.org",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ASuite-Developers/admin_swagger/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://admin.asuite.org/REPLACETHISWITHYOURSHORTNAME"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/wp/v2/users": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific IDs.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific IDs.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "type": "integer",
            "in": "query",
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "default": "name",
            "enum": [
              "id",
              "include",
              "name",
              "registered_date",
              "slug",
              "include_slugs",
              "email",
              "url"
            ]
          },
          {
            "name": "slug",
            "type": "array",
            "in": "query",
            "description": "Limit result set to users with one or more specific slugs.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "roles",
            "type": "array",
            "in": "query",
            "description": "Limit result set to users matching at least one specific role provided. Accepts csv list or single role.",
            "items": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "operationId": "GetWpV2Users"
      },
      "post": {
        "parameters": [
          {
            "name": "username",
            "type": "string",
            "in": "formData",
            "description": "Login name for the user.",
            "required": true
          },
          {
            "name": "name",
            "type": "string",
            "in": "formData",
            "description": "Display name for the user."
          },
          {
            "name": "first_name",
            "type": "string",
            "in": "formData",
            "description": "First name for the user."
          },
          {
            "name": "last_name",
            "type": "string",
            "in": "formData",
            "description": "Last name for the user."
          },
          {
            "name": "email",
            "type": "string",
            "in": "formData",
            "description": "The email address for the user.",
            "format": "email",
            "required": true
          },
          {
            "name": "url",
            "type": "string",
            "in": "formData",
            "description": "URL of the user.",
            "format": "uri"
          },
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "Description of the user."
          },
          {
            "name": "locale",
            "type": "string",
            "in": "formData",
            "description": "Locale for the user.",
            "enum": [
              "",
              "en_US"
            ]
          },
          {
            "name": "nickname",
            "type": "string",
            "in": "formData",
            "description": "The nickname for the user."
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the user."
          },
          {
            "name": "roles",
            "type": "array",
            "in": "formData",
            "description": "Roles assigned to the user.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "type": "string",
            "in": "formData",
            "description": "Password for the user (never included).",
            "required": true
          },
          {
            "name": "meta",
            "type": "string",
            "in": "formData",
            "description": "Meta fields."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "operationId": "PostWpV2Users"
      }
    },
    "/wp/v2/users/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "integer",
            "in": "query",
            "description": "Unique identifier for the user."
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "operationId": "GetWpV2UsersById"
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "integer",
            "in": "formData",
            "description": "Unique identifier for the user."
          },
          {
            "name": "username",
            "type": "string",
            "in": "formData",
            "description": "Login name for the user."
          },
          {
            "name": "name",
            "type": "string",
            "in": "formData",
            "description": "Display name for the user."
          },
          {
            "name": "first_name",
            "type": "string",
            "in": "formData",
            "description": "First name for the user."
          },
          {
            "name": "last_name",
            "type": "string",
            "in": "formData",
            "description": "Last name for the user."
          },
          {
            "name": "email",
            "type": "string",
            "in": "formData",
            "description": "The email address for the user.",
            "format": "email"
          },
          {
            "name": "url",
            "type": "string",
            "in": "formData",
            "description": "URL of the user.",
            "format": "uri"
          },
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "Description of the user."
          },
          {
            "name": "locale",
            "type": "string",
            "in": "formData",
            "description": "Locale for the user.",
            "enum": [
              "",
              "en_US"
            ]
          },
          {
            "name": "nickname",
            "type": "string",
            "in": "formData",
            "description": "The nickname for the user."
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the user."
          },
          {
            "name": "roles",
            "type": "array",
            "in": "formData",
            "description": "Roles assigned to the user.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "type": "string",
            "in": "formData",
            "description": "Password for the user (never included)."
          },
          {
            "name": "meta",
            "type": "string",
            "in": "formData",
            "description": "Meta fields."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "operationId": "PostWpV2UsersById"
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "integer",
            "in": "query",
            "description": "Unique identifier for the user."
          },
          {
            "name": "force",
            "type": "boolean",
            "in": "query",
            "description": "Required to be true, as users do not support trashing."
          },
          {
            "name": "reassign",
            "type": "integer",
            "in": "query",
            "description": "Reassign the deleted user's posts and links to this user ID.",
            "required": true
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "operationId": "DeleteWpV2UsersById"
      }
    },
    "/wp/v2/settings": {
      "get": {
        "parameters": [],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/settings"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "operationId": "GetWpV2Settings"
      },
      "post": {
        "parameters": [
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "Site title."
          },
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "Site tagline."
          },
          {
            "name": "timezone",
            "type": "string",
            "in": "formData",
            "description": "A city in the same timezone as you."
          },
          {
            "name": "date_format",
            "type": "string",
            "in": "formData",
            "description": "A date format for all date strings."
          },
          {
            "name": "time_format",
            "type": "string",
            "in": "formData",
            "description": "A time format for all time strings."
          },
          {
            "name": "start_of_week",
            "type": "integer",
            "in": "formData",
            "description": "A day number of the week that the week should start on."
          },
          {
            "name": "language",
            "type": "string",
            "in": "formData",
            "description": "WordPress locale code."
          },
          {
            "name": "use_smilies",
            "type": "boolean",
            "in": "formData",
            "description": "Convert emoticons like :-) and :-P to graphics on display."
          },
          {
            "name": "default_category",
            "type": "integer",
            "in": "formData",
            "description": "Default post category."
          },
          {
            "name": "default_post_format",
            "type": "string",
            "in": "formData",
            "description": "Default post format."
          },
          {
            "name": "posts_per_page",
            "type": "integer",
            "in": "formData",
            "description": "Blog pages show at most."
          },
          {
            "name": "default_ping_status",
            "type": "string",
            "in": "formData",
            "description": "Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "default_comment_status",
            "type": "string",
            "in": "formData",
            "description": "Allow people to post comments on new articles.",
            "enum": [
              "open",
              "closed"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/settings"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/settings"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "operationId": "PostWpV2Settings"
      }
    }
  },
  "definitions": {
    "error": {
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "object",
          "properties": {
            "status": {
              "type": "integer"
            }
          }
        }
      }
    },
    "post": {
      "type": "object",
      "properties": {
        "date": {
          "description": "The date the object was published, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "date_gmt": {
          "description": "The date the object was published, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "guid": {
          "description": "The globally unique identifier for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "GUID for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "GUID for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Unique identifier for the object.",
          "type": "integer"
        },
        "link": {
          "description": "URL to the object.",
          "type": "string",
          "format": "uri"
        },
        "modified": {
          "description": "The date the object was last modified, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "modified_gmt": {
          "description": "The date the object was last modified, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "slug": {
          "description": "An alphanumeric identifier for the object unique to its type.",
          "type": "string"
        },
        "status": {
          "description": "A named status for the object.",
          "type": "string",
          "enum": [
            "publish",
            "future",
            "draft",
            "pending",
            "private"
          ]
        },
        "type": {
          "description": "Type of Post for the object.",
          "type": "string"
        },
        "password": {
          "description": "A password to protect access to the content and excerpt.",
          "type": "string"
        },
        "title": {
          "description": "The title for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Title for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML title for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "content": {
          "description": "The content for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Content for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML content for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the content is protected with a password.",
              "type": "boolean"
            }
          }
        },
        "author": {
          "description": "The ID for the author of the object.",
          "type": "integer"
        },
        "excerpt": {
          "description": "The excerpt for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Excerpt for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML excerpt for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the excerpt is protected with a password.",
              "type": "boolean"
            }
          }
        },
        "featured_media": {
          "description": "The ID of the featured media for the object.",
          "type": "integer"
        },
        "comment_status": {
          "description": "Whether or not comments are open on the object.",
          "type": "string",
          "enum": [
            "open",
            "closed"
          ]
        },
        "ping_status": {
          "description": "Whether or not the object can be pinged.",
          "type": "string",
          "enum": [
            "open",
            "closed"
          ]
        },
        "format": {
          "description": "The format for the object.",
          "type": "string",
          "enum": [
            "standard",
            "aside",
            "chat",
            "gallery",
            "link",
            "image",
            "quote",
            "status",
            "video",
            "audio"
          ]
        },
        "meta": {
          "description": "Meta fields.",
          "type": "object",
          "properties": {}
        },
        "sticky": {
          "description": "Whether or not the object should be treated as sticky.",
          "type": "boolean"
        },
        "template": {
          "description": "The theme file to use to display the object.",
          "type": "string"
        },
        "categories": {
          "description": "The terms assigned to the object in the category taxonomy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "The terms assigned to the object in the post_tag taxonomy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "post-revision": {
      "type": "object",
      "properties": {
        "author": {
          "description": "The ID for the author of the object.",
          "type": "integer"
        },
        "date": {
          "description": "The date the object was published, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "date_gmt": {
          "description": "The date the object was published, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "guid": {
          "description": "The globally unique identifier for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "GUID for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "GUID for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Unique identifier for the object.",
          "type": "integer"
        },
        "modified": {
          "description": "The date the object was last modified, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "modified_gmt": {
          "description": "The date the object was last modified, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "parent": {
          "description": "The ID for the parent of the object.",
          "type": "integer"
        },
        "slug": {
          "description": "An alphanumeric identifier for the object unique to its type.",
          "type": "string"
        },
        "title": {
          "description": "The title for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Title for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML title for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "content": {
          "description": "The content for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Content for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML content for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the content is protected with a password.",
              "type": "boolean"
            }
          }
        },
        "excerpt": {
          "description": "The excerpt for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Excerpt for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML excerpt for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the excerpt is protected with a password.",
              "type": "boolean"
            }
          }
        }
      }
    },
    "page": {
      "type": "object",
      "properties": {
        "date": {
          "description": "The date the object was published, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "date_gmt": {
          "description": "The date the object was published, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "guid": {
          "description": "The globally unique identifier for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "GUID for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "GUID for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Unique identifier for the object.",
          "type": "integer"
        },
        "link": {
          "description": "URL to the object.",
          "type": "string",
          "format": "uri"
        },
        "modified": {
          "description": "The date the object was last modified, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "modified_gmt": {
          "description": "The date the object was last modified, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "slug": {
          "description": "An alphanumeric identifier for the object unique to its type.",
          "type": "string"
        },
        "status": {
          "description": "A named status for the object.",
          "type": "string",
          "enum": [
            "publish",
            "future",
            "draft",
            "pending",
            "private"
          ]
        },
        "type": {
          "description": "Type of Post for the object.",
          "type": "string"
        },
        "password": {
          "description": "A password to protect access to the content and excerpt.",
          "type": "string"
        },
        "parent": {
          "description": "The ID for the parent of the object.",
          "type": "integer"
        },
        "title": {
          "description": "The title for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Title for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML title for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "content": {
          "description": "The content for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Content for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML content for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the content is protected with a password.",
              "type": "boolean"
            }
          }
        },
        "author": {
          "description": "The ID for the author of the object.",
          "type": "integer"
        },
        "excerpt": {
          "description": "The excerpt for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Excerpt for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML excerpt for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the excerpt is protected with a password.",
              "type": "boolean"
            }
          }
        },
        "featured_media": {
          "description": "The ID of the featured media for the object.",
          "type": "integer"
        },
        "comment_status": {
          "description": "Whether or not comments are open on the object.",
          "type": "string",
          "enum": [
            "open",
            "closed"
          ]
        },
        "ping_status": {
          "description": "Whether or not the object can be pinged.",
          "type": "string",
          "enum": [
            "open",
            "closed"
          ]
        },
        "menu_order": {
          "description": "The order of the object in relation to other object of its type.",
          "type": "integer"
        },
        "meta": {
          "description": "Meta fields.",
          "type": "object",
          "properties": {}
        },
        "template": {
          "description": "The theme file to use to display the object.",
          "type": "string"
        }
      }
    },
    "page-revision": {
      "type": "object",
      "properties": {
        "author": {
          "description": "The ID for the author of the object.",
          "type": "integer"
        },
        "date": {
          "description": "The date the object was published, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "date_gmt": {
          "description": "The date the object was published, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "guid": {
          "description": "The globally unique identifier for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "GUID for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "GUID for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Unique identifier for the object.",
          "type": "integer"
        },
        "modified": {
          "description": "The date the object was last modified, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "modified_gmt": {
          "description": "The date the object was last modified, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "parent": {
          "description": "The ID for the parent of the object.",
          "type": "integer"
        },
        "slug": {
          "description": "An alphanumeric identifier for the object unique to its type.",
          "type": "string"
        },
        "title": {
          "description": "The title for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Title for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML title for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "content": {
          "description": "The content for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Content for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML content for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the content is protected with a password.",
              "type": "boolean"
            }
          }
        },
        "excerpt": {
          "description": "The excerpt for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Excerpt for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML excerpt for the object, transformed for display.",
              "type": "string"
            },
            "protected": {
              "description": "Whether the excerpt is protected with a password.",
              "type": "boolean"
            }
          }
        }
      }
    },
    "attachment": {
      "type": "object",
      "properties": {
        "date": {
          "description": "The date the object was published, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "date_gmt": {
          "description": "The date the object was published, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "guid": {
          "description": "The globally unique identifier for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "GUID for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "GUID for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Unique identifier for the object.",
          "type": "integer"
        },
        "link": {
          "description": "URL to the object.",
          "type": "string",
          "format": "uri"
        },
        "modified": {
          "description": "The date the object was last modified, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "modified_gmt": {
          "description": "The date the object was last modified, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "slug": {
          "description": "An alphanumeric identifier for the object unique to its type.",
          "type": "string"
        },
        "status": {
          "description": "A named status for the object.",
          "type": "string",
          "enum": [
            "publish",
            "future",
            "draft",
            "pending",
            "private"
          ]
        },
        "type": {
          "description": "Type of Post for the object.",
          "type": "string"
        },
        "title": {
          "description": "The title for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Title for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML title for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "author": {
          "description": "The ID for the author of the object.",
          "type": "integer"
        },
        "comment_status": {
          "description": "Whether or not comments are open on the object.",
          "type": "string",
          "enum": [
            "open",
            "closed"
          ]
        },
        "ping_status": {
          "description": "Whether or not the object can be pinged.",
          "type": "string",
          "enum": [
            "open",
            "closed"
          ]
        },
        "meta": {
          "description": "Meta fields.",
          "type": "object",
          "properties": {}
        },
        "template": {
          "description": "The theme file to use to display the object.",
          "type": "string"
        },
        "alt_text": {
          "description": "Alternative text to display when attachment is not displayed.",
          "type": "string"
        },
        "caption": {
          "description": "The attachment caption.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Caption for the attachment, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML caption for the attachment, transformed for display.",
              "type": "string"
            }
          }
        },
        "description": {
          "description": "The attachment description.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Description for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML description for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "media_type": {
          "description": "Attachment type.",
          "type": "string",
          "enum": [
            "image",
            "file"
          ]
        },
        "mime_type": {
          "description": "The attachment MIME type.",
          "type": "string"
        },
        "media_details": {
          "description": "Details about the media file, specific to its type.",
          "type": "object"
        },
        "post": {
          "description": "The ID for the associated post of the attachment.",
          "type": "integer"
        },
        "source_url": {
          "description": "URL to the original attachment file.",
          "type": "string",
          "format": "uri"
        }
      }
    },
    "type": {
      "type": "object",
      "properties": {
        "capabilities": {
          "description": "All capabilities used by the post type.",
          "type": "object"
        },
        "description": {
          "description": "A human-readable description of the post type.",
          "type": "string"
        },
        "hierarchical": {
          "description": "Whether or not the post type should have children.",
          "type": "boolean"
        },
        "labels": {
          "description": "Human-readable labels for the post type for various contexts.",
          "type": "object"
        },
        "name": {
          "description": "The title for the post type.",
          "type": "string"
        },
        "slug": {
          "description": "An alphanumeric identifier for the post type.",
          "type": "string"
        },
        "supports": {
          "description": "All features, supported by the post type.",
          "type": "object"
        },
        "taxonomies": {
          "description": "Taxonomies associated with post type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rest_base": {
          "description": "REST base route for the post type.",
          "type": "string"
        }
      }
    },
    "status": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The title for the status.",
          "type": "string"
        },
        "private": {
          "description": "Whether posts with this status should be private.",
          "type": "boolean"
        },
        "protected": {
          "description": "Whether posts with this status should be protected.",
          "type": "boolean"
        },
        "public": {
          "description": "Whether posts of this status should be shown in the front end of the site.",
          "type": "boolean"
        },
        "queryable": {
          "description": "Whether posts with this status should be publicly-queryable.",
          "type": "boolean"
        },
        "show_in_list": {
          "description": "Whether to include posts in the edit listing for their post type.",
          "type": "boolean"
        },
        "slug": {
          "description": "An alphanumeric identifier for the status.",
          "type": "string"
        }
      }
    },
    "taxonomy": {
      "type": "object",
      "properties": {
        "capabilities": {
          "description": "All capabilities used by the taxonomy.",
          "type": "object"
        },
        "description": {
          "description": "A human-readable description of the taxonomy.",
          "type": "string"
        },
        "hierarchical": {
          "description": "Whether or not the taxonomy should have children.",
          "type": "boolean"
        },
        "labels": {
          "description": "Human-readable labels for the taxonomy for various contexts.",
          "type": "object"
        },
        "name": {
          "description": "The title for the taxonomy.",
          "type": "string"
        },
        "slug": {
          "description": "An alphanumeric identifier for the taxonomy.",
          "type": "string"
        },
        "show_cloud": {
          "description": "Whether or not the term cloud should be displayed.",
          "type": "boolean"
        },
        "types": {
          "description": "Types associated with the taxonomy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rest_base": {
          "description": "REST base route for the taxonomy.",
          "type": "string"
        }
      }
    },
    "category": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier for the term.",
          "type": "integer"
        },
        "count": {
          "description": "Number of published posts for the term.",
          "type": "integer"
        },
        "description": {
          "description": "HTML description of the term.",
          "type": "string"
        },
        "link": {
          "description": "URL of the term.",
          "type": "string",
          "format": "uri"
        },
        "name": {
          "description": "HTML title for the term.",
          "type": "string"
        },
        "slug": {
          "description": "An alphanumeric identifier for the term unique to its type.",
          "type": "string"
        },
        "taxonomy": {
          "description": "Type attribution for the term.",
          "type": "string",
          "enum": [
            "category",
            "post_tag",
            "nav_menu",
            "link_category",
            "post_format"
          ]
        },
        "parent": {
          "description": "The parent term ID.",
          "type": "integer"
        },
        "meta": {
          "description": "Meta fields.",
          "type": "object",
          "properties": {}
        }
      }
    },
    "tag": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier for the term.",
          "type": "integer"
        },
        "count": {
          "description": "Number of published posts for the term.",
          "type": "integer"
        },
        "description": {
          "description": "HTML description of the term.",
          "type": "string"
        },
        "link": {
          "description": "URL of the term.",
          "type": "string",
          "format": "uri"
        },
        "name": {
          "description": "HTML title for the term.",
          "type": "string"
        },
        "slug": {
          "description": "An alphanumeric identifier for the term unique to its type.",
          "type": "string"
        },
        "taxonomy": {
          "description": "Type attribution for the term.",
          "type": "string",
          "enum": [
            "category",
            "post_tag",
            "nav_menu",
            "link_category",
            "post_format"
          ]
        },
        "meta": {
          "description": "Meta fields.",
          "type": "object",
          "properties": {}
        }
      }
    },
    "user": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier for the user.",
          "type": "integer"
        },
        "username": {
          "description": "Login name for the user.",
          "type": "string"
        },
        "name": {
          "description": "Display name for the user.",
          "type": "string"
        },
        "first_name": {
          "description": "First name for the user.",
          "type": "string"
        },
        "last_name": {
          "description": "Last name for the user.",
          "type": "string"
        },
        "email": {
          "description": "The email address for the user.",
          "type": "string",
          "format": "email"
        },
        "url": {
          "description": "URL of the user.",
          "type": "string",
          "format": "uri"
        },
        "description": {
          "description": "Description of the user.",
          "type": "string"
        },
        "link": {
          "description": "Author URL of the user.",
          "type": "string",
          "format": "uri"
        },
        "locale": {
          "description": "Locale for the user.",
          "type": "string",
          "enum": [
            "en_US"
          ]
        },
        "nickname": {
          "description": "The nickname for the user.",
          "type": "string"
        },
        "slug": {
          "description": "An alphanumeric identifier for the user.",
          "type": "string"
        },
        "registered_date": {
          "description": "Registration date for the user.",
          "type": "string",
          "format": "date-time"
        },
        "roles": {
          "description": "Roles assigned to the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "password": {
          "description": "Password for the user (never included).",
          "type": "string"
        },
        "capabilities": {
          "description": "All capabilities assigned to the user.",
          "type": "object"
        },
        "extra_capabilities": {
          "description": "Any extra capabilities assigned to the user.",
          "type": "object"
        },
        "avatar_urls": {
          "description": "Avatar URLs for the user.",
          "type": "object",
          "properties": {
            "24": {
              "description": "Avatar URL with image size of 24 pixels.",
              "type": "string",
              "format": "uri"
            },
            "48": {
              "description": "Avatar URL with image size of 48 pixels.",
              "type": "string",
              "format": "uri"
            },
            "96": {
              "description": "Avatar URL with image size of 96 pixels.",
              "type": "string",
              "format": "uri"
            }
          }
        },
        "meta": {
          "description": "Meta fields.",
          "type": "object",
          "properties": {}
        }
      }
    },
    "comment": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier for the object.",
          "type": "integer"
        },
        "author": {
          "description": "The ID of the user object, if author was a user.",
          "type": "integer"
        },
        "author_email": {
          "description": "Email address for the object author.",
          "type": "string",
          "format": "email"
        },
        "author_ip": {
          "description": "IP address for the object author.",
          "type": "string",
          "format": "ip"
        },
        "author_name": {
          "description": "Display name for the object author.",
          "type": "string"
        },
        "author_url": {
          "description": "URL for the object author.",
          "type": "string",
          "format": "uri"
        },
        "author_user_agent": {
          "description": "User agent for the object author.",
          "type": "string"
        },
        "content": {
          "description": "The content for the object.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Content for the object, as it exists in the database.",
              "type": "string"
            },
            "rendered": {
              "description": "HTML content for the object, transformed for display.",
              "type": "string"
            }
          }
        },
        "date": {
          "description": "The date the object was published, in the site's timezone.",
          "type": "string",
          "format": "date-time"
        },
        "date_gmt": {
          "description": "The date the object was published, as GMT.",
          "type": "string",
          "format": "date-time"
        },
        "link": {
          "description": "URL to the object.",
          "type": "string",
          "format": "uri"
        },
        "parent": {
          "description": "The ID for the parent of the object.",
          "type": "integer",
          "default": 0
        },
        "post": {
          "description": "The ID of the associated post object.",
          "type": "integer",
          "default": 0
        },
        "status": {
          "description": "State of the object.",
          "type": "string"
        },
        "type": {
          "description": "Type of Comment for the object.",
          "type": "string"
        },
        "author_avatar_urls": {
          "description": "Avatar URLs for the object author.",
          "type": "object",
          "properties": {
            "24": {
              "description": "Avatar URL with image size of 24 pixels.",
              "type": "string",
              "format": "uri"
            },
            "48": {
              "description": "Avatar URL with image size of 48 pixels.",
              "type": "string",
              "format": "uri"
            },
            "96": {
              "description": "Avatar URL with image size of 96 pixels.",
              "type": "string",
              "format": "uri"
            }
          }
        },
        "meta": {
          "description": "Meta fields.",
          "type": "object",
          "properties": {}
        }
      }
    },
    "settings": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Site title.",
          "default": null
        },
        "description": {
          "type": "string",
          "description": "Site tagline.",
          "default": null
        },
        "timezone": {
          "type": "string",
          "description": "A city in the same timezone as you.",
          "default": null
        },
        "date_format": {
          "type": "string",
          "description": "A date format for all date strings.",
          "default": null
        },
        "time_format": {
          "type": "string",
          "description": "A time format for all time strings.",
          "default": null
        },
        "start_of_week": {
          "type": "integer",
          "description": "A day number of the week that the week should start on.",
          "default": null
        },
        "language": {
          "type": "string",
          "description": "WordPress locale code.",
          "default": "en_US"
        },
        "use_smilies": {
          "type": "boolean",
          "description": "Convert emoticons like :-) and :-P to graphics on display.",
          "default": true
        },
        "default_category": {
          "type": "integer",
          "description": "Default post category.",
          "default": null
        },
        "default_post_format": {
          "type": "string",
          "description": "Default post format.",
          "default": null
        },
        "posts_per_page": {
          "type": "integer",
          "description": "Blog pages show at most.",
          "default": 10
        },
        "default_ping_status": {
          "type": "string",
          "description": "Allow link notifications from other blogs (pingbacks and trackbacks) on new articles.",
          "default": null,
          "enum": [
            "open",
            "closed"
          ]
        },
        "default_comment_status": {
          "type": "string",
          "description": "Allow people to post comments on new articles.",
          "default": null,
          "enum": [
            "open",
            "closed"
          ]
        }
      }
    }
  },
  "securityDefinitions": {
    "cookieAuth": {
      "type": "apiKey",
      "name": "X-WP-Nonce",
      "in": "header",
      "description": "Please see http://v2.wp-api.org/guide/authentication/"
    }
  },
  "host": "virtserver.swaggerhub.com",
  "basePath": "/ASuite-Developers/admin_swagger/1.0.0"
}