{
  "openapi": "3.0.0",
  "info": {
    "description": "Document Service API for LinkedDocuments, Documents",
    "version": "1.0.0",
    "title": "Document Service API",
    "contact": {
      "email": "redefined@blujaysolutions.com"
    },
    "license": {
      "name": "redefined",
      "url": "redefined"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/e2open/AGT-DocumentService/1.0.0/swagger.json"
  },
  "tags": [
    {
      "name": "Document",
      "description": "Call related to Document object"
    }
  ],
  "paths": {
    "/document": {
      "get": {
        "tags": [
          "DocumentSearch"
        ],
        "summary": "Searching for Documents.",
        "operationId": "searchDocument",
        "servers": [
          {
            "description": "Perf DocumentService endpoint",
            "url": "https://internal-perfcm-backend-lb-1624536858.eu-central-1.elb.amazonaws.com:8218/documentservice/rest/documentserver"
          }
        ],
        "description": "Searches for the Documents that matches given request params",
        "parameters": [
          {
            "in": "query",
            "name": "requestType",
            "required": true,
            "example": "document",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fileName",
            "required": false,
            "example": "design.pdf",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fileExtension",
            "required": false,
            "example": "pdf",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "createdOnFrom",
            "description": "If the 'from' is provided, we will require a 'to' be provided.",
            "required": false,
            "example": "2019-05-18 3:59 AM EDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "createdOnTo",
            "description": "If the 'from' is provided, we will require a 'to' be provided. %3A maps to the ':' character. %2B is the '+' character",
            "required": false,
            "example": "2019-05-28 3:59 AM EDT",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tenantId",
            "required": true,
            "example": 11185,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "fetchRowLimit",
            "required": false,
            "example": 300,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "description",
            "required": false,
            "example": "Design related Document",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "documentType",
            "required": false,
            "example": "TradeDocument",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Documents"
                  }
                }
              }
            }
          },
          "400": {
            "description": "requestType is required parameter"
          }
        }
      }
    },
    "/documents/{id}": {
      "put": {
        "tags": [
          "Document"
        ],
        "summary": "Updates existing Document.",
        "description": "Updates and returns Document that already exists.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "PK UUID of Document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "UUID"
            }
          }
        ],
        "requestBody": {
          "description": "Document Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentWithS3Path"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "None."
          },
          "404": {
            "description": "No document found with given ID."
          }
        }
      },
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Finds and returns Document with given ID.",
        "description": "Finds and returns Document with given ID",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "PK UUID of Document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "UUID"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "None"
          },
          "200": {
            "description": "None",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentWithS3Path"
                }
              }
            }
          },
          "400": {
            "description": "Document ID is missing."
          },
          "404": {
            "description": "No document found with given ID."
          }
        }
      }
    },
    "/documents/{id}/declaration/{entityId}": {
      "post": {
        "tags": [
          "DocumentLink"
        ],
        "summary": "Link single Document object with Declaration entity.",
        "description": "Link Document object with an Declaration entity.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "PK UUID of Document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "UUID"
            }
          },
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of Declaration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Document and Declaration Link",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedDocument"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "201": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "500": {
            "description": "Failed to Link Document to an Entity."
          }
        }
      }
    },
    "/documents/{id}/item/{entityId}": {
      "post": {
        "tags": [
          "DocumentLink"
        ],
        "summary": "Link single Document object with Item entity.",
        "description": "Link Document object with an Item entity.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "PK UUID of Document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "UUID"
            }
          },
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of Item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Document and Item Link",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedDocument"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "201": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "500": {
            "description": "Failed to Link Document to an Entity."
          }
        }
      }
    },
    "/documents/{id}/shipment/{entityId}": {
      "post": {
        "tags": [
          "DocumentLink"
        ],
        "summary": "Link single Document object with Shipment entity.",
        "description": "Link Document object with an Shipment entity.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "PK UUID of Document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "UUID"
            }
          },
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of Shipment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Document and Shipment Link",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedDocument"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "201": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "500": {
            "description": "Failed to Link Document to an Entity."
          }
        }
      }
    },
    "/documents/{id}/trade-data/{entityId}": {
      "post": {
        "tags": [
          "DocumentLink"
        ],
        "summary": "Link single Document object with TradeData entity.",
        "description": "Link Document object with an TradeData entity.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "PK UUID of Document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "UUID"
            }
          },
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of TradeData",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Document and TradeData Link",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedDocument"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "201": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "500": {
            "description": "Failed to Link Document to an Entity."
          }
        }
      }
    },
    "/linked-documents": {
      "post": {
        "tags": [
          "LinkedDocument"
        ],
        "summary": "Save single LinkedDocument object.",
        "description": "Save LinkedDocument object.",
        "requestBody": {
          "description": "LinkedDocument Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedDocumentWithDocument"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "None."
          },
          "201": {
            "description": "Successfully created objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocumentWithDocumentS3Path"
                }
              }
            }
          },
          "400": {
            "description": "Required fields missing in LinkedDocument object or Failed to Create Document in S3."
          },
          "500": {
            "description": "Failed to create Linked Document."
          }
        }
      },
      "put": {
        "tags": [
          "LinkedDocument"
        ],
        "summary": "Update existing LinkedDocument object.",
        "description": "Updates and returns existing LinkedDocument object.",
        "requestBody": {
          "description": "LinkedDocument Object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedDocument"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedDocument"
                }
              }
            }
          },
          "400": {
            "description": "LinkedDocument's isActive status should be false"
          },
          "404": {
            "description": "Attempting to deactivate a Linked Document that is not currently active in the database"
          },
          "500": {
            "description": "Failed to deactivate Linked Document"
          }
        }
      },
      "get": {
        "tags": [
          "LinkedDocument"
        ],
        "summary": "Get and return all matching active LinkedDocuments for entityId + entityType pairs.",
        "description": "Returns active LinkedDocuments matching parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "entityId",
            "description": "Entity Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "entityType",
            "description": "Entity Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "None."
          },
          "200": {
            "description": "None.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LinkedDocuments"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to get active Linked Documents for given entityId, entityType."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LinkedDocuments": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/LinkedDocument"
        }
      },
      "LinkedDocument": {
        "type": "object",
        "required": [
          "entityId",
          "documentId",
          "active",
          "entityType",
          "linkedOn",
          "linkedBy"
        ],
        "properties": {
          "entityId": {
            "type": "string",
            "description": "ID of the entity",
            "example": 1140
          },
          "documentId": {
            "type": "string",
            "description": "ID of the document",
            "example": "ab2c8fe3-9a27-4f2b-a002-57b8c068f9c1"
          },
          "linkedOn": {
            "type": "string",
            "description": "Date document was created in the system",
            "format": "yyyy-MM-dd HH:mm",
            "example": "2021-11-02T 20:44:31"
          },
          "linkedBy": {
            "type": "string",
            "description": "User ID of the person who created the link between the document and the entity",
            "example": "user.name"
          },
          "unlinkedOn": {
            "type": "string",
            "description": "Date link to document was last modified",
            "format": "yyyy-MM-dd HH:mm",
            "example": "2021-08-10T 11:02:10"
          },
          "unlinkedBy": {
            "type": "string",
            "description": "User ID of the person who last modified the link to the document",
            "example": "user.name"
          },
          "active": {
            "type": "integer",
            "description": "Represents if this link to a specific document is active",
            "example": 1
          },
          "entityType": {
            "type": "string",
            "description": "The type of entity (e.g. DECLARATION, SHIPMENT, ITEM, etc)",
            "example": "SHIPMENT or DECLARATION or ITEM or TRADE_DATA"
          }
        }
      },
      "LinkedDocumentWithDocument": {
        "type": "object",
        "required": [
          "entityId",
          "documentId",
          "active",
          "entityType",
          "linkedOn",
          "linkedBy",
          "document"
        ],
        "properties": {
          "entityId": {
            "type": "string",
            "description": "ID of the entity",
            "example": 1140
          },
          "documentId": {
            "type": "string",
            "description": "ID of the document",
            "example": "ab2c8fe3-9a27-4f2b-a002-57b8c068f9c1"
          },
          "linkedOn": {
            "type": "string",
            "description": "Date document was created in the system",
            "format": "yyyy-MM-dd HH:mm",
            "example": "2021-11-02T 20:44:31"
          },
          "linkedBy": {
            "type": "string",
            "description": "User ID of the person who created the link between the document and the entity",
            "example": "user.name"
          },
          "unlinkedOn": {
            "type": "string",
            "description": "Date link to document was last modified",
            "format": "yyyy-MM-dd HH:mm",
            "example": "2021-08-10T 11:02:10"
          },
          "unlinkedBy": {
            "type": "string",
            "description": "User ID of the person who last modified the link to the document",
            "example": "user.name"
          },
          "active": {
            "type": "integer",
            "description": "Represents if this link to a specific document is active",
            "example": 1
          },
          "entityType": {
            "type": "string",
            "description": "The type of entity (e.g. DECLARATION, SHIPMENT, ITEM, etc)",
            "example": "SHIPMENT"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          }
        }
      },
      "LinkedDocumentWithDocumentS3Path": {
        "type": "object",
        "required": [
          "entityId",
          "documentId",
          "active",
          "entityType",
          "linkedOn",
          "linkedBy",
          "document"
        ],
        "properties": {
          "entityId": {
            "type": "string",
            "description": "ID of the entity",
            "example": 1140
          },
          "documentId": {
            "type": "string",
            "description": "ID of the document",
            "example": "ab2c8fe3-9a27-4f2b-a002-57b8c068f9c1"
          },
          "linkedOn": {
            "type": "string",
            "description": "Date document was created in the system",
            "format": "yyyy-MM-dd HH:mm",
            "example": "2021-11-02T 20:44:31"
          },
          "linkedBy": {
            "type": "string",
            "description": "User ID of the person who created the link between the document and the entity",
            "example": "user.name"
          },
          "unlinkedOn": {
            "type": "string",
            "description": "Date link to document was last modified",
            "format": "yyyy-MM-dd HH:mm",
            "example": "2021-08-10T 11:02:10"
          },
          "unlinkedBy": {
            "type": "string",
            "description": "User ID of the person who last modified the link to the document",
            "example": "user.name"
          },
          "active": {
            "type": "integer",
            "description": "Represents if this link to a specific document is active",
            "example": 1
          },
          "entityType": {
            "type": "string",
            "description": "The type of entity (e.g. DECLARATION, SHIPMENT, ITEM, etc)",
            "example": "SHIPMENT"
          },
          "document": {
            "$ref": "#/components/schemas/DocumentWithS3Path"
          }
        }
      },
      "Documents": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/DocumentWithS3Path"
        }
      },
      "Document": {
        "type": "object",
        "required": [
          "name",
          "extensionType",
          "tenantId",
          "createdOn",
          "createdBy",
          "documentSize"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the document",
            "example": "DocumentTableDesign.pdf"
          },
          "extensionType": {
            "type": "string",
            "description": "Document Extension type",
            "example": ".txt"
          },
          "tenantId": {
            "type": "integer",
            "description": "ID of Tenant document is associated with",
            "example": 11184
          },
          "createdOn": {
            "type": "string",
            "description": "Date Document was created in the system",
            "example": "2021-08-10T 11:02:10"
          },
          "createdBy": {
            "type": "string",
            "description": "User ID of the person who created the document, \"system\" if created through SFTP process",
            "example": "user.name"
          },
          "documentSize": {
            "type": "integer",
            "description": "Size of the Document in bytes",
            "example": 1024
          },
          "description": {
            "type": "string",
            "description": "User-created description of the document.",
            "example": "Trade Document design details"
          },
          "documentType": {
            "type": "string",
            "description": "The type of document.",
            "example": "Trade Document"
          },
          "modifiedOn": {
            "type": "string",
            "description": "Date-Time the document was last modified.",
            "example": "2021-08-09T 2:32:10"
          },
          "modifiedBy": {
            "type": "string",
            "description": "Last user to modify the document",
            "example": "user.name"
          },
          "documentBytes": {
            "type": "string",
            "description": "Doument content in bytes",
            "example": "bytes"
          }
        }
      },
      "DocumentWithS3Path": {
        "type": "object",
        "required": [
          "name",
          "extensionType",
          "tenantId",
          "createdOn",
          "createdBy",
          "documentSize"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the document",
            "example": "DocumentTableDesign.pdf"
          },
          "extensionType": {
            "type": "string",
            "description": "Document Extension type",
            "example": ".txt"
          },
          "tenantId": {
            "type": "integer",
            "description": "ID of Tenant document is associated with",
            "example": 11184
          },
          "s3Path": {
            "type": "string",
            "description": "Path of s3 bucket",
            "example": "blujaysolutions-cm-data-eucentral1/perfcm/Document/CM.BJS.TST/2021-11-01/12345"
          },
          "createdOn": {
            "type": "string",
            "description": "Date Document was created in the system",
            "example": "2021-08-10T 11:02:10"
          },
          "createdBy": {
            "type": "string",
            "description": "User ID of the person who created the document, \"system\" if created through SFTP process",
            "example": "user.name"
          },
          "documentSize": {
            "type": "integer",
            "description": "Size of the Document in bytes",
            "example": 1024
          },
          "description": {
            "type": "string",
            "description": "User-created description of the document.",
            "example": "Trade Document design details"
          },
          "documentType": {
            "type": "string",
            "description": "The type of document.",
            "example": "Trade Document"
          },
          "modifiedOn": {
            "type": "string",
            "description": "Date-Time the document was last modified.",
            "example": "2021-08-09T 2:32:10"
          },
          "modifiedBy": {
            "type": "string",
            "description": "Last user to modify the document",
            "example": "user.name"
          }
        }
      }
    }
  }
}