{
  "openapi": "3.0.3",
  "info": {
    "title": "Trulioo GlobalGateway API",
    "version": "1.0.0",
    "description": "Trulioo GlobalGateway identity verification API providing real-time identity verification, business verification, and document verification across 195+ countries.",
    "x-jentic-source-url": "https://developer.trulioo.com/",
    "contact": {
      "name": "Trulioo",
      "url": "https://www.trulioo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.trulioo.com",
      "description": "Trulioo API"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Connection",
      "description": "Connection and health check endpoints"
    },
    {
      "name": "Configuration",
      "description": "Configuration management for verification products"
    },
    {
      "name": "Verifications",
      "description": "Identity and document verification"
    },
    {
      "name": "Business",
      "description": "Business verification and search"
    }
  ],
  "paths": {
    "/connection/v1/sayhello/{name}": {
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "sayHello",
        "summary": "Say Hello",
        "description": "Check if your system can connect to Trulioo.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful connection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/connection/v1/testauthentication": {
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "testAuthentication",
        "summary": "Test Authentication",
        "description": "Check if your credentials are valid using basic authentication.",
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          }
        }
      }
    },
    "/configuration/v1/countrycodes/{configurationName}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getCountryCodes",
        "summary": "Get Country Codes",
        "description": "Retrieve all countries available to perform a verification. Returns array of Alpha2 Country Codes.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IdentityVerification",
                "BusinessVerification",
                "DocumentVerification"
              ]
            },
            "description": "The verification product name"
          }
        ],
        "responses": {
          "200": {
            "description": "List of country codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/consents/{configurationName}/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getConsents",
        "summary": "Get Consents",
        "description": "Retrieve the consents required for data sources currently configured in your account.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of required consents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/detailedconsents/{configurationName}/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getDetailedConsents",
        "summary": "Get Detailed Consents",
        "description": "Retrieve detailed consent information for data sources.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed consent information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedConsent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/fields/{configurationName}/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getFields",
        "summary": "Get Fields",
        "description": "Generate JSON schema for the API, dynamic based on country and configuration.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/recommendedfields/{configurationName}/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getRecommendedFields",
        "summary": "Get Recommended Fields",
        "description": "Get recommended fields for verification.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommended fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/datasources/{configurationName}/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getDataSources",
        "summary": "Get Datasources",
        "description": "Get datasource groups configured for your product and country.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datasource groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NormalizedDatasourceGroupCountry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/testentities/{configurationName}/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getTestEntities",
        "summary": "Get Test Entities",
        "description": "Get test entities configured for your product and country.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TestEntityDataFields"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/countryJOI/{configurationName}/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getCountryJOI",
        "summary": "Get Country JOI",
        "description": "Get country-specific JOI (Jurisdictions of Incorporation) data.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country JOI data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/countryJOI/{configurationName}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getAllCountryJOI",
        "summary": "Get All Country JOI",
        "description": "Get all JOI (Jurisdictions of Incorporation) data.",
        "parameters": [
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All country JOI data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/documentTypes/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getDocumentTypes",
        "summary": "Get Document Types",
        "description": "Get available document types for a country.",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/businessregistrationnumbers/{countryCode}/{jurisdictionCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getBusinessRegistrationNumbers",
        "summary": "Get Business Registration Numbers",
        "description": "Get business registration number types for a country and jurisdiction.",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jurisdictionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business registration number types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessRegistrationNumber"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/configuration/v1/countrysubdivisions/{countryCode}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "operationId": "getCountrySubdivisions",
        "summary": "Get Country Subdivisions",
        "description": "Get country subdivisions (states, provinces, etc.).",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country subdivisions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountrySubdivision"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/verify": {
      "post": {
        "tags": [
          "Verifications"
        ],
        "operationId": "verify",
        "summary": "Verify",
        "description": "Perform an identity verification. Query configuration to get available fields per country.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/transactionrecord/{id}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "getTransactionRecord",
        "summary": "Get Transaction Record",
        "description": "Retrieve the request and results of a verification performed using the verify method.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionRecordResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/transactionrecord/{id}/withaddress": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "getTransactionRecordAddress",
        "summary": "Get Transaction Record with Address",
        "description": "Retrieve transaction record including address cleansing information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction record with address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionRecordResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/transactionrecord/{id}/verbose": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "getTransactionRecordVerbose",
        "summary": "Get Transaction Record Verbose",
        "description": "Retrieve verbose transaction record with full details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verbose transaction record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionRecordResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/transactionrecord/{id}/document": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "getTransactionRecordDocument",
        "summary": "Get Transaction Record Document",
        "description": "Retrieve transaction record with document details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction record with document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionRecordResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/transaction/{id}/status": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "getTransactionStatus",
        "summary": "Get Transaction Status",
        "description": "Retrieve the processing status of an asynchronous transaction.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/transaction/{id}/partialresult": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "getPartialResult",
        "summary": "Get Partial Transaction Result",
        "description": "Returns a partially completed KYB Transaction Result.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Partial result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionRecordResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/verifications/v1/documentdownload/{transactionRecordId}/{fieldName}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "downloadDocument",
        "summary": "Download Document",
        "description": "Download a document from a verification transaction.",
        "parameters": [
          {
            "name": "transactionRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/business/v1/search": {
      "post": {
        "tags": [
          "Business"
        ],
        "operationId": "businessSearch",
        "summary": "Business Search",
        "description": "Perform a business search.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/business/v1/search/transactionrecord/{id}": {
      "get": {
        "tags": [
          "Business"
        ],
        "operationId": "getBusinessSearchResult",
        "summary": "Get Business Search Result",
        "description": "Returns a business search result.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using Trulioo API credentials"
      }
    },
    "schemas": {
      "VerifyRequest": {
        "type": "object",
        "properties": {
          "AcceptTruliooTermsAndConditions": {
            "type": "boolean"
          },
          "ConfigurationName": {
            "type": "string"
          },
          "CallBackUrl": {
            "type": "string",
            "format": "uri"
          },
          "ConsentForDataSources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "CountryCode": {
            "type": "string"
          },
          "DataFields": {
            "$ref": "#/components/schemas/DataFields"
          },
          "VerboseMode": {
            "type": "boolean"
          }
        },
        "required": [
          "AcceptTruliooTermsAndConditions",
          "ConfigurationName",
          "CountryCode",
          "DataFields"
        ]
      },
      "DataFields": {
        "type": "object",
        "properties": {
          "PersonInfo": {
            "$ref": "#/components/schemas/PersonInfo"
          },
          "Location": {
            "$ref": "#/components/schemas/Location"
          },
          "Communication": {
            "$ref": "#/components/schemas/Communication"
          },
          "DriverLicence": {
            "$ref": "#/components/schemas/DriverLicence"
          },
          "NationalIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NationalId"
            }
          },
          "Passport": {
            "$ref": "#/components/schemas/Passport"
          },
          "Document": {
            "$ref": "#/components/schemas/Document"
          },
          "Business": {
            "$ref": "#/components/schemas/Business"
          },
          "CountrySpecific": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "PersonInfo": {
        "type": "object",
        "properties": {
          "FirstGivenName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "string"
          },
          "FirstSurName": {
            "type": "string"
          },
          "SecondSurname": {
            "type": "string"
          },
          "ISOLatin1Name": {
            "type": "string"
          },
          "DayOfBirth": {
            "type": "integer"
          },
          "MonthOfBirth": {
            "type": "integer"
          },
          "YearOfBirth": {
            "type": "integer"
          },
          "MinimumAge": {
            "type": "integer"
          },
          "Gender": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "BuildingNumber": {
            "type": "string"
          },
          "BuildingName": {
            "type": "string"
          },
          "UnitNumber": {
            "type": "string"
          },
          "StreetName": {
            "type": "string"
          },
          "StreetType": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "Suburb": {
            "type": "string"
          },
          "County": {
            "type": "string"
          },
          "StateProvinceCode": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          },
          "PostalCode": {
            "type": "string"
          }
        }
      },
      "Communication": {
        "type": "object",
        "properties": {
          "MobileNumber": {
            "type": "string"
          },
          "Telephone": {
            "type": "string"
          },
          "Telephone2": {
            "type": "string"
          },
          "EmailAddress": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "DriverLicence": {
        "type": "object",
        "properties": {
          "Number": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "DayOfExpiry": {
            "type": "integer"
          },
          "MonthOfExpiry": {
            "type": "integer"
          },
          "YearOfExpiry": {
            "type": "integer"
          }
        }
      },
      "NationalId": {
        "type": "object",
        "properties": {
          "Number": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          }
        }
      },
      "Passport": {
        "type": "object",
        "properties": {
          "Mrz1": {
            "type": "string"
          },
          "Mrz2": {
            "type": "string"
          },
          "Number": {
            "type": "string"
          },
          "DayOfExpiry": {
            "type": "integer"
          },
          "MonthOfExpiry": {
            "type": "integer"
          },
          "YearOfExpiry": {
            "type": "integer"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "DocumentFrontImage": {
            "type": "string"
          },
          "DocumentBackImage": {
            "type": "string"
          },
          "LivePhoto": {
            "type": "string"
          },
          "DocumentType": {
            "type": "string"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "BusinessName": {
            "type": "string"
          },
          "BusinessRegistrationNumber": {
            "type": "string"
          },
          "DayOfIncorporation": {
            "type": "integer"
          },
          "MonthOfIncorporation": {
            "type": "integer"
          },
          "YearOfIncorporation": {
            "type": "integer"
          },
          "JurisdictionOfIncorporation": {
            "type": "string"
          }
        }
      },
      "VerifyResult": {
        "type": "object",
        "properties": {
          "TransactionID": {
            "type": "string"
          },
          "UploadedDt": {
            "type": "string",
            "format": "date-time"
          },
          "CountryCode": {
            "type": "string"
          },
          "ProductName": {
            "type": "string"
          },
          "Record": {
            "$ref": "#/components/schemas/Record"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "TransactionRecordID": {
            "type": "string"
          },
          "RecordStatus": {
            "type": "string"
          },
          "DatasourceResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatasourceResult"
            }
          }
        }
      },
      "DatasourceResult": {
        "type": "object",
        "properties": {
          "DatasourceName": {
            "type": "string"
          },
          "DatasourceFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatasourceField"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          }
        }
      },
      "DatasourceField": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          }
        }
      },
      "ServiceError": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          }
        }
      },
      "TransactionRecordResult": {
        "type": "object",
        "properties": {
          "TransactionID": {
            "type": "string"
          },
          "UploadedDt": {
            "type": "string",
            "format": "date-time"
          },
          "CountryCode": {
            "type": "string"
          },
          "ProductName": {
            "type": "string"
          },
          "Record": {
            "$ref": "#/components/schemas/Record"
          },
          "InputFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatasourceField"
            }
          }
        }
      },
      "TransactionStatus": {
        "type": "object",
        "properties": {
          "TransactionID": {
            "type": "string"
          },
          "TransactionRecordID": {
            "type": "string"
          },
          "Status": {
            "type": "string",
            "enum": [
              "InProgress",
              "Complete",
              "TimedOut",
              "Failed"
            ]
          },
          "IsTimedOut": {
            "type": "boolean"
          }
        }
      },
      "BusinessSearchRequest": {
        "type": "object",
        "properties": {
          "AcceptTruliooTermsAndConditions": {
            "type": "boolean"
          },
          "ConfigurationName": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          },
          "CallBackUrl": {
            "type": "string"
          },
          "Business": {
            "$ref": "#/components/schemas/Business"
          }
        }
      },
      "BusinessSearchResult": {
        "type": "object",
        "properties": {
          "TransactionID": {
            "type": "string"
          },
          "Record": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          }
        }
      },
      "NormalizedDatasourceGroupCountry": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "RequiredFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "OptionalFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "AppendedFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TestEntityDataFields": {
        "type": "object",
        "properties": {
          "PersonInfo": {
            "$ref": "#/components/schemas/PersonInfo"
          },
          "Location": {
            "$ref": "#/components/schemas/Location"
          },
          "Communication": {
            "$ref": "#/components/schemas/Communication"
          }
        }
      },
      "DetailedConsent": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Text": {
            "type": "string"
          },
          "Url": {
            "type": "string"
          }
        }
      },
      "BusinessRegistrationNumber": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "CountrySubdivision": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Code": {
            "type": "string"
          },
          "ParentCode": {
            "type": "string"
          }
        }
      }
    }
  }
}