{
  "openapi": "3.0.3",
  "info": {
    "title": "Vantage processing REST API",
    "description": "Environment: Production<br>Product Version: 1.6.17",
    "version": "1.0",
    "x-application-version": "1.6.17",
    "x-jentic-source-url": "https://docs.abbyy.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://vantage-us.abbyy.com",
      "description": "Production United States"
    },
    {
      "url": "https://vantage-eu.abbyy.com",
      "description": "Production Europe"
    },
    {
      "url": "https://vantage-au.abbyy.com",
      "description": "Production Australia"
    }
  ],
  "paths": {
    "/api/publicapi/v1/catalogs/{catalogId}/records": {
      "post": {
        "tags": [
          "CatalogRecords"
        ],
        "summary": "Adds records to the specified catalog",
        "description": "The maximum number of records that can be added at a time is 5000",
        "operationId": "AddRecords",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Records to add",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Requests.RecordModel"
                }
              }
            },
            "application/json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Requests.RecordModel"
                }
              }
            },
            "text/json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Requests.RecordModel"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Requests.RecordModel"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully. The details can be found in the response.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.AddRecordsResultResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.AddRecordsResultResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.AddRecordsResultResult"
                }
              }
            }
          },
          "400": {
            "description": "Wrong number of records",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "CatalogRecords"
        ],
        "summary": "Lists a portion of the records in the specified catalog",
        "operationId": "GetRecords",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.RecordDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.RecordDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.RecordDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs/{catalogId}/records/{recordId}": {
      "get": {
        "tags": [
          "CatalogRecords"
        ],
        "summary": "Gets a record",
        "operationId": "GetRecord",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "Record identifier. You can find it in the list of records.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.RecordDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.RecordDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.RecordDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs/{catalogId}/records/delete": {
      "post": {
        "tags": [
          "CatalogRecords"
        ],
        "summary": "Deletes the specified records from the catalog",
        "operationId": "DeleteRecords",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An array of record identifiers to delete",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "maxItems": 5000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Lists all available catalogs",
        "operationId": "GetCatalogs",
        "responses": {
          "200": {
            "description": "All catalogs are successfully returned",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogListItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogListItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogListItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs/{catalogId}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Gets detailed information about the catalog",
        "description": "Gets detailed information about the catalog structure, e.g. required column set",
        "operationId": "GetCatalog",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog info is successfully returned",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogDto"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs/{catalogId}/clear": {
      "post": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Deletes all records from the catalog",
        "operationId": "ClearCatalog",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All records are successfully deleted from the catalog"
          },
          "404": {
            "description": "Catalog not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs/{catalogId}/reindex": {
      "post": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Starts a catalog reindex operation",
        "description": "If indexing was started earlier, and there was no reindex operation, then the extraction search will be based on the previously indexed data.\nIf indexing has never been started, the extraction search will not be carried out.",
        "operationId": "StartCatalogReindex",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.ReindexOperationResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.ReindexOperationResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.ReindexOperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs/{catalogId}/reindex/{reindexOperationId}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Gets detailed information of reindex operation",
        "operationId": "GetReindexOperation",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier. You can find it in the list of all catalogs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reindexOperationId",
            "in": "path",
            "description": "Operation identifier. You can find it in response to start reindex operation.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.ReindexOperationResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.ReindexOperationResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.ReindexOperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/catalogs/{catalogId}/search": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Returns catalog records filtered by prefix",
        "operationId": "SearchRecords",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Prefix value. Minimum length - 2 symbols.",
            "schema": {
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "Maximum number of records to return in the response.",
            "schema": {
              "type": "integer",
              "description": "Maximum number of records to return in the response.",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Offset for pagination. It specifies the number of records to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "description": "Offset for pagination. It specifies the number of records to skip before starting to collect the result set.",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Catalogs.Results.CatalogSearchResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/invites": {
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Creates invite for new tenant",
        "description": "To access this method, you need to contact support",
        "operationId": "CreateInvite",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Model": {
                    "required": [
                      "email",
                      "tenantName"
                    ],
                    "type": "object",
                    "properties": {
                      "email": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Email to send invite to",
                        "format": "email"
                      },
                      "validWithin": {
                        "type": "string",
                        "description": "Time when the invite will be valid",
                        "nullable": true
                      },
                      "tenantName": {
                        "minLength": 1,
                        "type": "string",
                        "description": "Name of tenant to be created"
                      },
                      "useMySubscription": {
                        "type": "boolean",
                        "description": "Use active subscription from current tenant",
                        "default": false
                      },
                      "tenantDescription": {
                        "type": "string",
                        "description": "Description of tenant to be created",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "See CreateAdminInviteData model."
                  },
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "Model": {
                  "contentType": "application/json",
                  "style": "form",
                  "explode": true
                },
                "File": {
                  "contentType": "application/octet-stream",
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/skills": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Lists all available skills",
        "operationId": "GetAvailableSkills",
        "responses": {
          "200": {
            "description": "All skills are successfully returned",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Skills.Results.SkillListItemDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Skills.Results.SkillListItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Skills.Results.SkillListItemDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/skills/{skillId}": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Gets the detailed information about a skill",
        "operationId": "GetSkillInfo",
        "parameters": [
          {
            "name": "skillId",
            "in": "path",
            "description": "Skill identifier. You can find it in the list of all skills.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill info is successfully returned",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Skills.Results.SkillDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Skills.Results.SkillDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Skills.Results.SkillDto"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/documents": {
      "post": {
        "tags": [
          "TransactionDocuments"
        ],
        "summary": "Creates a transaction document that will be used to group some files in single processing unit",
        "description": "Non-process skills allow only one document",
        "operationId": "CreateTransactionDocument",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionDocumentCreateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionDocumentCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionDocumentCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionDocumentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction document successfully added",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.NewTransactionDocumentResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.NewTransactionDocumentResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.NewTransactionDocumentResult"
                }
              }
            }
          },
          "400": {
            "description": "Some parameters are invalid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "TransactionDocuments"
        ],
        "summary": "Gets transaction documents",
        "operationId": "GetTransactionDocuments",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction documents",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDocumentResult"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDocumentResult"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDocumentResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters are invalid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/documents/{documentId}": {
      "get": {
        "tags": [
          "TransactionDocuments"
        ],
        "summary": "Gets transaction document info",
        "operationId": "GetTransactionDocument",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Transaction document identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction document info",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDocumentResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDocumentResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDocumentResult"
                }
              }
            }
          },
          "400": {
            "description": "Some parameters are invalid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TransactionDocuments"
        ],
        "summary": "Deletes the document from specified transaction",
        "operationId": "DeleteTransactionDocument",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Transaction document identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction document successfully deleted"
          },
          "400": {
            "description": "Some parameters are invalid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/documents/{documentId}/sourceFiles": {
      "post": {
        "tags": [
          "TransactionDocuments"
        ],
        "summary": "Adds files to the transaction document",
        "description": "Uploads a set of files to be processed in the specified transaction document.\nThe maximum size of processed files should not exceed 2 GB.\nThe maximum count per transaction should not exceed 1000 for process skill.",
        "operationId": "AddFilesToTransactionDocument",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Transaction document identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Model": {
                    "type": "object",
                    "properties": {
                      "files": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionDocumentFileMetadataDto"
                        },
                        "description": "Files processing parameters",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Additional processing parameters for transaction document. See TransactionDocumentMetadataDto model."
                  },
                  "Files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Model for getting file passed in multipart/* content",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "Model": {
                  "contentType": "application/json",
                  "style": "form",
                  "explode": true
                },
                "Files": {
                  "contentType": "application/octet-stream",
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files successfully added to a transaction document"
          },
          "400": {
            "description": "Invalid required parameter or max file size exceeded",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Transaction belongs to another tenant",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Max files count exceeded",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/documents/{documentId}/sourceFiles/{fileId}/download": {
      "get": {
        "tags": [
          "TransactionDocuments"
        ],
        "summary": "Downloads the source file of the transaction",
        "operationId": "DownloadTransactionDocumentSourceFile",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Transaction document identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "Blob identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content is successfully returned",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Transaction belongs to another tenant",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Creates a processing transaction",
        "description": "Creates a transaction that will be used to process some files.",
        "operationId": "CreateTransaction",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionCreateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction successfully created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.NewTransactionResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.NewTransactionResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.NewTransactionResult"
                }
              }
            }
          },
          "400": {
            "description": "Some parameters are invalid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Skill with specified skillId not found or not published",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/files": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Adds files to the transaction",
        "description": "Uploads a set of files to be processed in the specified transaction.\nThe maximum size of processed files should not exceed 2 GB.\nThe maximum count per transaction should not exceed 1000 for process skill.",
        "operationId": "AddFilesToTransaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Model": {
                    "type": "object",
                    "properties": {
                      "files": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionFileMetadataDto"
                        },
                        "description": "Files processing parameters",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Additional transaction processing parameters. See TransactionMetadataDto model."
                  },
                  "Files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Model for getting file passed in multipart/* content",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "Model": {
                  "contentType": "application/json",
                  "style": "form",
                  "explode": true
                },
                "Files": {
                  "contentType": "application/octet-stream",
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files successfully added to a transaction"
          },
          "400": {
            "description": "Invalid required parameter or max file size exceeded",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Max files count exceeded",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/start": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Starts the transaction",
        "description": "Starts processing with the specified transaction.",
        "operationId": "StartTransaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction successfully started"
          },
          "400": {
            "description": "Transaction cannot be started",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/mobileInputLink": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Generates link to run mobile input with one time auth token to inject image to specific transaction",
        "description": "Link can be requested for a non-running transaction.\nThe token in the link gives the right to add files and start a specific transaction without the ability to get processing results.",
        "operationId": "GenerateMobileInputLink",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New link successfully generated",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.MobileInputLinkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.MobileInputLinkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.MobileInputLinkResult"
                }
              }
            }
          },
          "400": {
            "description": "Link can not be generated because transaction has invalid status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/launch": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Starts processing of the files in new transaction",
        "description": "Creates a transaction that will be used to process some files.\nThe maximum size of request body should not exceed 2 GB.\nThe transaction will start automatically.",
        "operationId": "LaunchTransaction",
        "parameters": [
          {
            "name": "skillId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Model": {
                    "type": "object",
                    "properties": {
                      "files": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionFileMetadataDto"
                        },
                        "description": "Files processing parameters",
                        "nullable": true
                      },
                      "registrationParameters": {
                        "maxItems": 10,
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionRegistrationParameter"
                        },
                        "description": "Additional registration parameters for transaction",
                        "nullable": true
                      },
                      "skillParameters": {
                        "maxItems": 10,
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.TransactionSkillParameter"
                        },
                        "description": "Skill parameters for transaction",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false,
                    "description": "Additional transaction processing parameters. See TransactionLaunchMetadataDto model."
                  },
                  "Files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Model for getting file passed in multipart/* content",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "Model": {
                  "contentType": "application/json",
                  "style": "form",
                  "explode": true
                },
                "Files": {
                  "contentType": "application/octet-stream",
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction successfully created and started",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.CreatedTransactionResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.CreatedTransactionResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.CreatedTransactionResult"
                }
              }
            }
          },
          "400": {
            "description": "Some files are invalid or skillId is not specified",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Skill with specified skillId not found or not published",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets transaction info",
        "description": "Gets the details of the transaction, including the link to the results if processing has finished, or the manual\nreview link if manual review is needed.",
        "operationId": "GetTransactionInfo",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction info is successfully returned",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Transactions"
        ],
        "summary": "Deletes the transaction",
        "description": "The transaction will be deleted within a few minutes",
        "operationId": "DeleteTransaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction successfully deleted"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/files/{fileId}/download": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Downloads the result files",
        "description": "Downloads the result file of the transaction.",
        "operationId": "DownloadFile",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been successfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "File identifier. You can find it in the transaction details, under documents - resultFiles.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content is successfully returned",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction or file not found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/registrationParameters": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets registration parameters for the transaction",
        "operationId": "GetTransactionRegistrationParameters",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier. You receive it in the response after the transaction has been\nsuccessfully created.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction registration parameters successfully returned",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionRegistrationParameterDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionRegistrationParameterDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionRegistrationParameterDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters are invalid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/{transactionId}/skillParameters": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets the skill parameters that are set for the transaction",
        "description": "The passed parameters take precedence over the default parameters of the skill",
        "operationId": "GetTransactionSkillParameters",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skill parameters successfully returned",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionSkillParameterDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionSkillParameterDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Results.TransactionSkillParameterDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/active": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Returns active transactions with specified parameters",
        "operationId": "GetActiveTransactions",
        "parameters": [
          {
            "name": "StageType",
            "in": "query",
            "description": "Actual stage of transaction",
            "schema": {
              "type": "string",
              "description": "Actual stage of transaction"
            }
          },
          {
            "name": "StageName",
            "in": "query",
            "description": "Actual stage's name of transaction",
            "schema": {
              "type": "string",
              "description": "Actual stage's name of transaction"
            }
          },
          {
            "name": "SkillId",
            "in": "query",
            "description": "Available skill's ID (according to permissions). If this field is empty,\nthen all the available skills will be used as filter.",
            "schema": {
              "type": "string",
              "description": "Available skill's ID (according to permissions). If this field is empty,\nthen all the available skills will be used as filter."
            }
          },
          {
            "name": "SkillVersion",
            "in": "query",
            "description": "Only available skills can be filtered by their versions",
            "schema": {
              "type": "string",
              "description": "Only available skills can be filtered by their versions"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "Minimum creation time of the transactions.\nTime must be defined in UTC format.",
            "schema": {
              "type": "string",
              "description": "Minimum creation time of the transactions.\nTime must be defined in UTC format.",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Maximum creation time of the transactions.\nTime must be defined in UTC format.\nIf not given, the current UTC time will be used.",
            "schema": {
              "type": "string",
              "description": "Maximum creation time of the transactions.\nTime must be defined in UTC format.\nIf not given, the current UTC time will be used."
            }
          },
          {
            "name": "TransactionParameters",
            "in": "query",
            "description": "List of transaction parameters.\nRetrieved transactions should contain all the parameters",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.Parameter"
              },
              "description": "List of transaction parameters.\nRetrieved transactions should contain all the parameters"
            }
          },
          {
            "name": "DocumentParameters",
            "in": "query",
            "description": "List of document parameters.\nRetrieved transactions should contain all the parameters",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.Parameter"
              },
              "description": "List of document parameters.\nRetrieved transactions should contain all the parameters"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "schema": {
              "type": "integer",
              "description": "Pagination offset (default: 0)",
              "format": "int32"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "Pagination limit",
            "schema": {
              "type": "integer",
              "description": "Pagination limit",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions with registration parameters of the transactions and their documents, and with stage information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Web.Features.Transactions.Models.ActiveTransactionPartialResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Web.Features.Transactions.Models.ActiveTransactionPartialResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Web.Features.Transactions.Models.ActiveTransactionPartialResult"
                }
              }
            }
          },
          "400": {
            "description": "EndDate must be greater than start date",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/publicapi/v1/transactions/completed": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Returns completed transactions with specified parameters",
        "operationId": "GetCompletedTransactions",
        "parameters": [
          {
            "name": "TransactionStatus",
            "in": "query",
            "description": "Active Transactions status",
            "schema": {
              "type": "string",
              "description": "Active Transactions status"
            }
          },
          {
            "name": "SkillId",
            "in": "query",
            "description": "Available skill's ID (according to permissions). If this field is empty,\nthen all the available skills will be used as filter.",
            "schema": {
              "type": "string",
              "description": "Available skill's ID (according to permissions). If this field is empty,\nthen all the available skills will be used as filter."
            }
          },
          {
            "name": "SkillVersion",
            "in": "query",
            "description": "Only available skills can be filtered by their versions",
            "schema": {
              "type": "string",
              "description": "Only available skills can be filtered by their versions"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "Minimum creation time of the transactions.\nTime must be defined in UTC format.",
            "schema": {
              "type": "string",
              "description": "Minimum creation time of the transactions.\nTime must be defined in UTC format.",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Maximum creation time of the transactions.\nTime must be defined in UTC format.\nIf not given, the current UTC time will be used.",
            "schema": {
              "type": "string",
              "description": "Maximum creation time of the transactions.\nTime must be defined in UTC format.\nIf not given, the current UTC time will be used."
            }
          },
          {
            "name": "TransactionParameters",
            "in": "query",
            "description": "List of transaction parameters.\nRetrieved transactions should contain all the parameters",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.Parameter"
              },
              "description": "List of transaction parameters.\nRetrieved transactions should contain all the parameters"
            }
          },
          {
            "name": "DocumentParameters",
            "in": "query",
            "description": "List of document parameters.\nRetrieved transactions should contain all the parameters",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Abbyy.Vantage.PublicApi.Contract.Transactions.Requests.Parameter"
              },
              "description": "List of document parameters.\nRetrieved transactions should contain all the parameters"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "schema": {
              "type": "integer",
[...]
