{
  "openapi": "3.0.3",
  "info": {
    "title": "Termii Messaging API",
    "description": "Termii's Messaging APIs enable you to send messages globally across SMS, Voice, WhatsApp, and Email channels. Each request is assigned a unique ID for tracking delivery status.",
    "version": "1.0.0",
    "contact": {
      "name": "Termii",
      "url": "https://termii.com"
    }
  },
  "servers": [
    {
      "url": "https://api.ng.termii.com/api"
    }
  ],
  "paths": {
    "/sender-id": {
      "get": {
        "operationId": "getSenderIds",
        "summary": "Get Sender IDs",
        "description": "Retrieve a list of registered sender IDs.",
        "tags": [
          "Switch"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Termii API key."
          }
        ],
        "responses": {
          "200": {
            "description": "List of sender IDs returned successfully"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/sms/number/send": {
      "post": {
        "operationId": "sendNumberMessage",
        "summary": "Send to Number",
        "description": "Send an SMS message to a phone number using Termii's shared number.",
        "tags": [
          "Switch"
        ],
        "parameters": [
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient phone number."
          },
          {
            "name": "sms",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message content."
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Termii API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Message sent successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/send": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send Message",
        "description": "Send an SMS message via a registered sender ID.",
        "tags": [
          "Switch"
        ],
        "parameters": [
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient phone number."
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sender ID.",
            "example": "NCOTP"
          },
          {
            "name": "sms",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message content."
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "plain"
              ]
            },
            "description": "Message type."
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "generic",
                "dnd",
                "whatsapp"
              ]
            },
            "description": "Message channel."
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Termii API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Message sent successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/otp/send": {
      "post": {
        "operationId": "sendToken",
        "summary": "Send OTP Token",
        "description": "Send a one-time password (OTP) token to a phone number.",
        "tags": [
          "Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP token sent successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/otp/verify": {
      "post": {
        "operationId": "verifyToken",
        "summary": "Verify OTP Token",
        "description": "Verify a one-time password (OTP) token.",
        "tags": [
          "Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token verification result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/otp/generate": {
      "post": {
        "operationId": "generateInAppToken",
        "summary": "Generate In-App Token",
        "description": "Generate an OTP token for in-app verification without sending via SMS.",
        "tags": [
          "Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/history/analytics": {
      "get": {
        "operationId": "getMessageHistory",
        "summary": "Get Message History",
        "description": "Retrieve messaging history and analytics.",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by message ID."
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Start date filter."
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "End date filter."
          },
          {
            "name": "phone_number",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by phone number."
          }
        ],
        "responses": {
          "200": {
            "description": "Message history returned"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/check/dnd": {
      "get": {
        "operationId": "checkDnd",
        "summary": "Search DND Status",
        "description": "Check if a phone number is on the Do-Not-Disturb list.",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number to check."
          }
        ],
        "responses": {
          "200": {
            "description": "DND status result"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get-balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get Account Balance",
        "description": "Retrieve the current account balance.",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance information returned"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/inbox": {
      "get": {
        "operationId": "getInbox",
        "summary": "Get Inbox Messages",
        "description": "Retrieve inbox messages within a date range.",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Start date filter."
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "End date filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox messages returned"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendTokenRequest": {
        "type": "object",
        "required": [
          "api_key",
          "phone_number"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your Termii API key."
          },
          "phone_number": {
            "type": "string",
            "description": "Recipient phone number."
          },
          "pin_type": {
            "type": "string",
            "description": "Type of PIN (NUMERIC, ALPHANUMERIC)."
          },
          "pin_attempts": {
            "type": "integer",
            "description": "Number of allowed verification attempts."
          },
          "pin_time_to_live": {
            "type": "integer",
            "description": "PIN validity duration in minutes."
          },
          "pin_length": {
            "type": "integer",
            "description": "Length of the PIN."
          },
          "pin_placeholder": {
            "type": "string",
            "description": "Placeholder for PIN in message template."
          },
          "message_text": {
            "type": "string",
            "description": "Message template containing PIN placeholder."
          },
          "message_type": {
            "type": "string",
            "description": "Type of message."
          },
          "channel": {
            "type": "string",
            "description": "Delivery channel (generic, dnd, whatsapp)."
          },
          "from": {
            "type": "string",
            "description": "Sender ID."
          }
        }
      },
      "VerifyTokenRequest": {
        "type": "object",
        "required": [
          "api_key",
          "pin_id",
          "pin"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "pin_id": {
            "type": "string",
            "description": "The PIN ID returned from send token."
          },
          "pin": {
            "type": "string",
            "description": "The PIN entered by the user."
          }
        }
      },
      "GenerateTokenRequest": {
        "type": "object",
        "required": [
          "api_key",
          "phone_number"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "pin_type": {
            "type": "string"
          },
          "pin_attempts": {
            "type": "integer"
          },
          "pin_time_to_live": {
            "type": "integer"
          },
          "pin_length": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Switch",
      "description": "SMS messaging and sender ID management"
    },
    {
      "name": "Token",
      "description": "OTP token generation and verification"
    },
    {
      "name": "Insights",
      "description": "Analytics, balance, and DND checking"
    }
  ]
}