{
  "openapi": "3.0.3",
  "info": {
    "title": "Benzinga API",
    "version": "2.0.0",
    "description": "Benzinga provides financial data APIs for news, earnings, analyst ratings, and historical price bars. All endpoints use the base URL https://api.benzinga.com and require API key authentication via the 'token' query parameter or 'Authorization: token <key>' header.",
    "contact": {},
    "termsOfService": "http://swagger.io/terms/",
    "x-jentic-source-url": "https://docs.benzinga.com"
  },
  "servers": [
    {
      "url": "https://api.benzinga.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {"name": "News", "description": "News articles and content"},
    {"name": "Earnings", "description": "Earnings calendar data"},
    {"name": "Ratings", "description": "Analyst ratings data"},
    {"name": "Market Data", "description": "Historical price bar data"}
  ],
  "paths": {
    "/api/v2/news": {
      "get": {
        "tags": ["News"],
        "summary": "Get news items",
        "description": "Returns structured data for news. For optimal performance, limit the scope of the query using parameters such as tickers, date, and channels, or use updatedSince for deltas. Page offsets are limited from 0 - 100000.",
        "operationId": "getNews",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "description": "Specify return format",
            "required": true,
            "schema": {"type": "string", "enum": ["application/json", "application/xml"], "default": "application/json"}
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page offset (0-100000). Limit results by other parameters such as date for optimization.",
            "schema": {"type": "integer", "default": 0}
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results returned. Maximum 100.",
            "schema": {"type": "integer", "maximum": 100, "default": 15}
          },
          {
            "name": "displayOutput",
            "in": "query",
            "description": "Specify headline only, headline + teaser, or headline + full body text.",
            "schema": {"type": "string", "enum": ["full", "abstract", "headline"], "default": "headline"}
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date to query for news. Shorthand for dateFrom and dateTo if they are the same. Format: yyyy-mm-dd",
            "schema": {"type": "string"}
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Date to query from point in time. Format: yyyy-mm-dd",
            "schema": {"type": "string"}
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Date to query to point in time. Format: yyyy-mm-dd",
            "schema": {"type": "string"}
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Last updated Unix timestamp (UTC) to pull and sort by",
            "schema": {"type": "integer"}
          },
          {
            "name": "publishedSince",
            "in": "query",
            "description": "Last published Unix timestamp (UTC) to pull and sort by",
            "schema": {"type": "integer"}
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort control. Format: field:direction. Default is created, DESC.",
            "schema": {"type": "string", "enum": ["id:asc", "id:desc", "created:asc", "created:desc", "updated:asc", "updated:desc"]}
          },
          {
            "name": "tickers",
            "in": "query",
            "description": "One or more ticker symbols separated by comma. Maximum 50.",
            "schema": {"type": "string"}
          },
          {
            "name": "primaryTickers",
            "in": "query",
            "description": "One or more primary ticker symbols separated by comma. Filters by primary ticker association only.",
            "schema": {"type": "string"}
          },
          {
            "name": "channels",
            "in": "query",
            "description": "One or more channel names or IDs separated by comma.",
            "schema": {"type": "string"}
          },
          {
            "name": "topics",
            "in": "query",
            "description": "One or more words/phrases separated by comma; searches Title, Tags, and Body in order of priority.",
            "schema": {"type": "string"}
          },
          {
            "name": "topic_group_by",
            "in": "query",
            "description": "Logical operator for topics query.",
            "schema": {"type": "string", "enum": ["and", "or"], "default": "or"}
          },
          {
            "name": "authors",
            "in": "query",
            "description": "One or more authors separated by comma.",
            "schema": {"type": "string"}
          },
          {
            "name": "content_types",
            "in": "query",
            "description": "One or more content types separated by comma.",
            "schema": {"type": "string"}
          },
          {
            "name": "isin",
            "in": "query",
            "description": "One or more ISINs separated by comma. Maximum 50.",
            "schema": {"type": "string"}
          },
          {
            "name": "cusips",
            "in": "query",
            "description": "One or more CUSIPs separated by comma. Maximum 50. License agreement required.",
            "schema": {"type": "string"}
          },
          {
            "name": "importance",
            "in": "query",
            "description": "Filter by importance level.",
            "schema": {"type": "string", "enum": ["low", "medium", "high"]}
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region (e.g., 'ca' or 'canada' for Canadian content).",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/NewsItem"}
                }
              }
            }
          },
          "400": {"description": "Invalid or Missing Query Parameters"},
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "500": {"description": "Internal Error"}
        }
      }
    },
    "/api/v2.1/calendar/earnings": {
      "get": {
        "tags": ["Earnings"],
        "summary": "Get earnings data",
        "description": "Returns earnings data for a selected period and/or security. Includes actual EPS and revenue figures, estimates, surprises, and historical comparisons.",
        "operationId": "getEarnings",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "description": "Specifies return format",
            "required": true,
            "schema": {"type": "string", "enum": ["application/json"], "default": "application/json"}
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page offset (0-100000)",
            "schema": {"type": "integer", "default": 0}
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Number of results returned. Limit 1000.",
            "schema": {"type": "integer"}
          },
          {
            "name": "parameters[date]",
            "in": "query",
            "description": "Date to query for calendar data. Format: YYYY-MM-DD",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[date_from]",
            "in": "query",
            "description": "Date to query from point in time. Format: YYYY-MM-DD",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[date_to]",
            "in": "query",
            "description": "Date to query to point in time. Format: YYYY-MM-DD",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[date_sort]",
            "in": "query",
            "description": "Field sort option. Apply :desc, :asc for sort order.",
            "schema": {"type": "string", "enum": ["date"]}
          },
          {
            "name": "parameters[importance]",
            "in": "query",
            "description": "Importance level to filter by (>=).",
            "schema": {"type": "integer", "enum": [0, 1, 2, 3, 4, 5]}
          },
          {
            "name": "parameters[tickers]",
            "in": "query",
            "description": "One or more ticker symbols separated by comma. Maximum 50.",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[updated]",
            "in": "query",
            "description": "Records last Updated Unix timestamp (UTC). Forces sort order >= timestamp.",
            "schema": {"type": "integer"}
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/EarningsResponse"}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CalendarErrorResponse"}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CalendarErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/api/v2.1/calendar/ratings": {
      "get": {
        "tags": ["Ratings"],
        "summary": "Get analyst ratings data",
        "description": "Returns analyst ratings data including upgrades, downgrades, initiations, and price target changes from Wall Street analysts.",
        "operationId": "getRatings",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "description": "Specifies return format",
            "required": true,
            "schema": {"type": "string", "enum": ["application/json"], "default": "application/json"}
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return. Use * for all fields.",
            "schema": {"type": "string"}
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page offset (0-100000)",
            "schema": {"type": "integer", "default": 0}
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Number of results returned. Limit 1000.",
            "schema": {"type": "integer"}
          },
          {
            "name": "parameters[date]",
            "in": "query",
            "description": "Date to query for calendar data. Format: YYYY-MM-DD",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[date_from]",
            "in": "query",
            "description": "Date to query from point in time. Format: YYYY-MM-DD",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[date_to]",
            "in": "query",
            "description": "Date to query to point in time. Format: YYYY-MM-DD",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[importance]",
            "in": "query",
            "description": "Importance level to filter by (>=).",
            "schema": {"type": "integer", "enum": [0, 1, 2, 3, 4, 5]}
          },
          {
            "name": "parameters[tickers]",
            "in": "query",
            "description": "One or more ticker symbols separated by comma. Maximum 50.",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[updated]",
            "in": "query",
            "description": "Records last Updated Unix timestamp (UTC). Forces sort order >= timestamp.",
            "schema": {"type": "integer"}
          },
          {
            "name": "parameters[action]",
            "in": "query",
            "description": "Filter by a specific rating action.",
            "schema": {"type": "string", "enum": ["Downgrades", "Maintains", "Reinstates", "Reiterates", "Upgrades", "Assumes", "Initiates Coverage On", "Terminates Coverage On", "Removes", "Suspends", "Firm Dissolved"]}
          },
          {
            "name": "parameters[analyst_id]",
            "in": "query",
            "description": "One or more analyst IDs separated by comma.",
            "schema": {"type": "string"}
          },
          {
            "name": "parameters[firm_id]",
            "in": "query",
            "description": "One or more firm IDs separated by comma.",
            "schema": {"type": "string"}
          },
          {
            "name": "simplify",
            "in": "query",
            "description": "Simplify the ratings to standardized categories.",
            "schema": {"type": "boolean", "default": false}
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/RatingsResponse"}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CalendarErrorResponse"}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CalendarErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/api/v2/bars": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Get historical price bars",
        "description": "Retrieves historical OHLCV (Open, High, Low, Close, Volume) price bar data for specified securities. Supports multiple ticker symbols and various time ranges including relative dates.",
        "operationId": "getBars",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of stock ticker symbols (e.g., AAPL,MSFT,TSLA).",
            "schema": {"type": "string"}
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start date/time. Formats: YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, YTD, or relative values like 1MONTH, 1WEEK, 1DAY.",
            "schema": {"type": "string"}
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date/time. Format: YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS. Defaults to current date/time.",
            "schema": {"type": "string"}
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time bucket interval: 1m, 5m, 15m, 30m, 1h, 1d, 1w, 1M. Default: 1d",
            "schema": {"type": "string"}
          },
          {
            "name": "session",
            "in": "query",
            "description": "Trading session filter: ANY, PRE_MARKET, REGULAR, AFTER_MARKET. Default: ANY",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Array of chart data with OHLCV bars for each symbol",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Chart"}
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid required parameters",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API key authentication. Provide your API key as the 'token' query parameter, or use the 'Authorization: token <key>' header (recommended)."
      }
    },
    "schemas": {
      "NewsItem": {
        "type": "object",
        "description": "News article item with full metadata",
        "properties": {
          "id": {"type": "integer", "example": 123456},
          "author": {"type": "string", "example": "Benzinga Newsdesk"},
          "created": {"type": "string", "example": "Wed, 17 May 2017 14:20:15 -0400"},
          "updated": {"type": "string", "example": "Wed, 17 May 2017 14:20:15 -0400"},
          "title": {"type": "string", "example": "Apple Announces New iPhone"},
          "teaser": {"type": "string"},
          "body": {"type": "string"},
          "url": {"type": "string", "example": "https://www.benzinga.com/news/123456"},
          "image": {"type": "array", "items": {"$ref": "#/components/schemas/Image"}},
          "channels": {"type": "array", "items": {"$ref": "#/components/schemas/ChannelTag"}},
          "stocks": {"type": "array", "items": {"$ref": "#/components/schemas/Stock"}},
          "tags": {"type": "array", "items": {"$ref": "#/components/schemas/ChannelTag"}},
          "original_id": {"type": "integer"}
        }
      },
      "ChannelTag": {
        "type": "object",
        "properties": {
          "name": {"type": "string", "example": "Technology"}
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "size": {"type": "string", "example": "large"},
          "url": {"type": "string", "example": "https://cdn.benzinga.com/files/images/story/2024/example.jpg"}
        }
      },
      "Stock": {
        "type": "object",
        "properties": {
          "name": {"type": "string", "example": "AAPL"},
          "cusip": {"type": "string", "example": "037833100"},
          "isin": {"type": "string", "example": "US0378331005"},
          "exchange": {"type": "string", "example": "NASDAQ"}
        }
      },
      "EarningsResponse": {
        "type": "object",
        "properties": {
          "earnings": {"type": "array", "items": {"$ref": "#/components/schemas/Earning"}}
        }
      },
      "Earning": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "date": {"type": "string", "example": "2024-01-09"},
          "date_confirmed": {"type": "integer", "example": 1},
          "time": {"type": "string", "example": "amc"},
          "ticker": {"type": "string", "example": "AAPL"},
          "exchange": {"type": "string", "example": "NASDAQ"},
          "name": {"type": "string", "example": "Apple Inc."},
          "currency": {"type": "string", "example": "USD"},
          "period": {"type": "string", "example": "Q1"},
          "period_year": {"type": "integer", "example": 2024},
          "eps": {"type": "string", "example": "2.18"},
          "eps_est": {"type": "string", "example": "2.10"},
          "eps_prior": {"type": "string", "example": "1.88"},
          "eps_surprise": {"type": "string", "example": "0.08"},
          "eps_surprise_percent": {"type": "string", "example": "3.81"},
          "eps_type": {"type": "string", "example": "GAAP"},
          "revenue": {"type": "string", "example": "89537000000"},
          "revenue_est": {"type": "string", "example": "88500000000"},
          "revenue_prior": {"type": "string", "example": "81800000000"},
          "revenue_surprise": {"type": "string", "example": "1037000000"},
          "revenue_surprise_percent": {"type": "string", "example": "1.17"},
          "revenue_type": {"type": "string", "example": "GAAP"},
          "importance": {"type": "integer", "example": 5},
          "cusip": {"type": "string"},
          "isin": {"type": "string"},
          "notes": {"type": "string"},
          "updated": {"type": "integer", "example": 1704819600}
        }
      },
      "RatingsResponse": {
        "type": "object",
        "properties": {
          "ratings": {"type": "array", "items": {"$ref": "#/components/schemas/Rating"}}
        }
      },
      "Rating": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "date": {"type": "string", "example": "2024-01-09"},
          "time": {"type": "string", "example": "09:30:00"},
          "ticker": {"type": "string", "example": "AAPL"},
          "exchange": {"type": "string", "example": "NASDAQ"},
          "name": {"type": "string", "example": "Apple Inc."},
          "currency": {"type": "string", "example": "USD"},
          "action_company": {"type": "string", "example": "Maintains"},
          "action_pt": {"type": "string", "example": "Raises"},
          "analyst": {"type": "string", "example": "Goldman Sachs"},
          "analyst_id": {"type": "string"},
          "analyst_name": {"type": "string", "example": "John Smith"},
          "firm_id": {"type": "string"},
          "rating_current": {"type": "string", "example": "Buy"},
          "rating_prior": {"type": "string", "example": "Neutral"},
          "pt_current": {"type": "string", "example": "200.00"},
          "pt_prior": {"type": "string", "example": "185.00"},
          "adjusted_pt_current": {"type": "string"},
          "adjusted_pt_prior": {"type": "string"},
          "pt_pct_change": {"type": "string"},
          "importance": {"type": "integer", "example": 3},
          "cusip": {"type": "string"},
          "isin": {"type": "string"},
          "notes": {"type": "string"},
          "updated": {"type": "integer", "example": 1704819600},
          "url": {"type": "string"},
          "url_calendar": {"type": "string"},
          "url_news": {"type": "string"}
        }
      },
      "Chart": {
        "type": "object",
        "properties": {
          "symbol": {"type": "string"},
          "interval": {"type": "integer"},
          "candles": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Candle"}
          }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "time": {"type": "string"},
          "open": {"type": "number"},
          "high": {"type": "number"},
          "low": {"type": "number"},
          "close": {"type": "number"},
          "volume": {"type": "string"},
          "dateTime": {"type": "string"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {"type": "boolean"},
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {"type": "string"},
                "id": {"type": "string"},
                "value": {"type": "string"}
              }
            }
          }
        }
      },
      "CalendarErrorResponse": {
        "type": "object",
        "properties": {
          "text": {"type": "string"}
        }
      }
    }
  }
}
