{
  "openapi": "3.0.3",
  "info": {
    "title": "Sailthru (Engage by Marigold) API",
    "version": "1.0.0",
    "description": "Sailthru is an email marketing and customer engagement platform. The API provides access to email campaigns, user profiles, lists, templates, and send operations.",
    "x-jentic-source-url": "https://getstarted.meetmarigold.com/engagebysailthru/Content/developers/api-basics/introduction.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.sailthru.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/email": {
      "get": {
        "operationId": "getUserProfile",
        "tags": [
          "Users"
        ],
        "summary": "Get a user's profile by email",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a user's profile by email"
      },
      "post": {
        "operationId": "createOrUpdateUser",
        "tags": [
          "Users"
        ],
        "summary": "Create or update a user profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create or update a user profile"
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": [
          "Users"
        ],
        "summary": "Delete a user by email",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a user by email"
      }
    },
    "/send": {
      "post": {
        "operationId": "sendEmail",
        "tags": [
          "Send"
        ],
        "summary": "Send an email to one or more recipients",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send an email to one or more recipients"
      },
      "get": {
        "operationId": "getSendStatus",
        "tags": [
          "Send"
        ],
        "summary": "Get send status by send_id",
        "parameters": [
          {
            "name": "send_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get send status by send_id"
      }
    },
    "/blast": {
      "post": {
        "operationId": "scheduleCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Schedule or create an email campaign (blast)",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BlastRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blast"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Schedule or create an email campaign (blast)"
      },
      "get": {
        "operationId": "getCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign details by blast_id or name",
        "parameters": [
          {
            "name": "blast_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blast"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign details by blast_id or name"
      }
    },
    "/list": {
      "get": {
        "operationId": "getList",
        "tags": [
          "Lists"
        ],
        "summary": "Get a list by name",
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a list by name"
      },
      "post": {
        "operationId": "createList",
        "tags": [
          "Lists"
        ],
        "summary": "Create a new list",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new list"
      },
      "delete": {
        "operationId": "deleteList",
        "tags": [
          "Lists"
        ],
        "summary": "Delete a list",
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a list"
      }
    },
    "/template": {
      "get": {
        "operationId": "getTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Get a template by name",
        "parameters": [
          {
            "name": "template",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a template by name"
      },
      "post": {
        "operationId": "createOrUpdateTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Create or update a template",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create or update a template"
      },
      "delete": {
        "operationId": "deleteTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template",
        "parameters": [
          {
            "name": "template",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a template"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Sailthru API key. Also requires api_sig (HMAC-MD5 signature) and optionally format=json."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "errormsg": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "verified": {
            "type": "integer"
          },
          "lists": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "vars": {
            "type": "object",
            "additionalProperties": true
          },
          "optout": {
            "type": "string"
          },
          "create_time": {
            "type": "string"
          }
        }
      },
      "UserUpdateRequest": {
        "type": "object",
        "required": [
          "api_key",
          "api_sig",
          "email"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "api_sig": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "lists": {
            "type": "string",
            "description": "JSON object of list memberships"
          },
          "vars": {
            "type": "string",
            "description": "JSON object of user variables"
          },
          "optout": {
            "type": "string"
          }
        }
      },
      "SendRequest": {
        "type": "object",
        "required": [
          "api_key",
          "api_sig",
          "template",
          "email"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "api_sig": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "vars": {
            "type": "string",
            "description": "JSON object of template variables"
          },
          "send_time": {
            "type": "string"
          }
        }
      },
      "SendResponse": {
        "type": "object",
        "properties": {
          "send_id": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "BlastRequest": {
        "type": "object",
        "required": [
          "api_key",
          "api_sig",
          "name",
          "list",
          "schedule_time",
          "from_name",
          "from_email",
          "subject"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "api_sig": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "list": {
            "type": "string"
          },
          "schedule_time": {
            "type": "string"
          },
          "from_name": {
            "type": "string"
          },
          "from_email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "content_html": {
            "type": "string"
          },
          "content_text": {
            "type": "string"
          }
        }
      },
      "Blast": {
        "type": "object",
        "properties": {
          "blast_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "list": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "schedule_time": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "email_count": {
            "type": "integer"
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "list": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "create_time": {
            "type": "string"
          }
        }
      },
      "ListRequest": {
        "type": "object",
        "required": [
          "api_key",
          "api_sig",
          "list"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "api_sig": {
            "type": "string"
          },
          "list": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "from_name": {
            "type": "string"
          },
          "from_email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "content_html": {
            "type": "string"
          },
          "content_text": {
            "type": "string"
          }
        }
      },
      "TemplateRequest": {
        "type": "object",
        "required": [
          "api_key",
          "api_sig",
          "template"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "api_sig": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "from_name": {
            "type": "string"
          },
          "from_email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "content_html": {
            "type": "string"
          },
          "content_text": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Campaigns",
      "description": "Operations related to Campaigns"
    },
    {
      "name": "Lists",
      "description": "Operations related to Lists"
    },
    {
      "name": "Send",
      "description": "Operations related to Send"
    },
    {
      "name": "Templates",
      "description": "Operations related to Templates"
    },
    {
      "name": "Users",
      "description": "Operations related to Users"
    }
  ]
}
