{
  "openapi": "3.0.3",
  "info": {
    "title": "Venly Wallet API",
    "version": "1.0.0",
    "description": "Venly (formerly Arkane) provides blockchain wallet, NFT, token, and payment APIs. Includes Wallet API for user/wallet/transaction management, PAY API for fiat on/off ramps and checkout, Token API for ERC20 contract management, and NFT API for NFT contract and token operations.",
    "x-jentic-source-url": "https://docs.venly.io/reference"
  },
  "servers": [
    {"url": "https://api.venly.io", "description": "Production API"},
    {"url": "https://api-sandbox.venly.io", "description": "Sandbox API"}
  ],
  "paths": {
    "/auth/realms/Arkane/protocol/openid-connect/token": {
      "post": {
        "operationId": "fetchBearerToken",
        "summary": "Fetch Bearer Token",
        "description": "Retrieves an access token using client credentials. Token is valid for 6 minutes.",
        "tags": ["Authentication"],
        "servers": [
          {"url": "https://login.venly.io", "description": "Production Auth"},
          {"url": "https://login-sandbox.venly.io", "description": "Sandbox Auth"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {"type": "string", "enum": ["client_credentials"]},
                  "client_id": {"type": "string"},
                  "client_secret": {"type": "string"}
                },
                "required": ["grant_type", "client_id", "client_secret"]
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Token response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TokenResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/wallets": {
      "get": {
        "operationId": "listWallets", "summary": "Get all wallets", "tags": ["Wallet API"],
        "responses": {
          "200": {"description": "List of wallets", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Wallet"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createWallet", "summary": "Create a wallet", "tags": ["Wallet API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateWalletRequest"}}}},
        "responses": {
          "200": {"description": "Wallet created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Wallet"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/wallets/{walletId}": {
      "get": {
        "operationId": "getWallet", "summary": "Get wallet by ID", "tags": ["Wallet API"],
        "parameters": [{"name": "walletId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Wallet details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Wallet"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "patch": {
        "operationId": "updateWallet", "summary": "Update wallet", "tags": ["Wallet API"],
        "parameters": [{"name": "walletId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "Wallet updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Wallet"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/wallets/{walletId}/balance": {
      "get": {
        "operationId": "getNativeBalance", "summary": "Get native balance by walletId", "tags": ["Wallet API"],
        "parameters": [{"name": "walletId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Balance", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Balance"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/wallets/{walletId}/balance/tokens": {
      "get": {
        "operationId": "getERC20Balance", "summary": "Get all ERC20 token balances", "tags": ["Wallet API"],
        "parameters": [{"name": "walletId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Token balances", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/TokenBalance"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/wallets/{walletId}/nonfungibles": {
      "get": {
        "operationId": "getNFTsByWallet", "summary": "Get NFTs by walletId", "tags": ["Wallet API"],
        "parameters": [{"name": "walletId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "NFTs", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/NFT"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/transactions": {
      "get": {
        "operationId": "listTransactions", "summary": "Get all transactions", "tags": ["Wallet API"],
        "responses": {
          "200": {"description": "Transactions", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Transaction"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "executeTransaction", "summary": "Execute a transaction", "tags": ["Wallet API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TransactionRequest"}}}},
        "responses": {
          "200": {"description": "Transaction executed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Transaction"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/users": {
      "get": {
        "operationId": "listUsers", "summary": "Get all users", "tags": ["Wallet API"],
        "responses": {
          "200": {"description": "Users", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/User"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createUser", "summary": "Create a user", "tags": ["Wallet API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "User created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/chains": {
      "get": {
        "operationId": "listChains", "summary": "Get all supported chains", "tags": ["Wallet API"],
        "responses": {
          "200": {"description": "Supported chains", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/pay/checkout": {
      "post": {
        "operationId": "createCheckoutLink", "summary": "Create checkout link", "tags": ["PAY API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "Checkout created", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/nft/contracts": {
      "get": {
        "operationId": "listNFTContracts", "summary": "Get all NFT contracts", "tags": ["NFT API"],
        "responses": {
          "200": {"description": "NFT contracts", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createNFTContract", "summary": "Create NFT contract", "tags": ["NFT API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "Contract created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/erc20/contracts": {
      "get": {
        "operationId": "listERC20Contracts", "summary": "Get all ERC20 contracts", "tags": ["Token API"],
        "responses": {
          "200": {"description": "ERC20 contracts", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createERC20Contract", "summary": "Create ERC20 contract", "tags": ["Token API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "Contract created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {"type": "object", "properties": {"access_token": {"type": "string"}, "refresh_token": {"type": "string"}, "token_type": {"type": "string", "enum": ["bearer"]}, "expires_in": {"type": "integer"}, "scope": {"type": "string"}}},
      "Wallet": {"type": "object", "properties": {"id": {"type": "string"}, "address": {"type": "string"}, "secretType": {"type": "string"}, "walletType": {"type": "string"}, "description": {"type": "string"}, "createdAt": {"type": "string", "format": "date-time"}}},
      "CreateWalletRequest": {"type": "object", "properties": {"secretType": {"type": "string", "description": "Blockchain type"}, "description": {"type": "string"}}, "required": ["secretType"]},
      "Balance": {"type": "object", "properties": {"available": {"type": "boolean"}, "secretType": {"type": "string"}, "balance": {"type": "number"}, "gasBalance": {"type": "number"}, "symbol": {"type": "string"}, "gasSymbol": {"type": "string"}}},
      "TokenBalance": {"type": "object", "properties": {"tokenAddress": {"type": "string"}, "rawBalance": {"type": "string"}, "balance": {"type": "number"}, "decimals": {"type": "integer"}, "symbol": {"type": "string"}, "name": {"type": "string"}}},
      "NFT": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}, "imageUrl": {"type": "string"}, "contract": {"type": "object"}}},
      "User": {"type": "object", "properties": {"id": {"type": "string"}, "reference": {"type": "string"}, "email": {"type": "string"}, "createdAt": {"type": "string", "format": "date-time"}}},
      "Transaction": {"type": "object", "properties": {"transactionHash": {"type": "string"}, "status": {"type": "string"}, "from": {"type": "string"}, "to": {"type": "string"}, "value": {"type": "string"}}},
      "TransactionRequest": {"type": "object", "properties": {"walletId": {"type": "string"}, "to": {"type": "string"}, "secretType": {"type": "string"}, "value": {"type": "number"}}, "required": ["walletId", "to", "secretType"]},
      "ErrorResponse": {"type": "object", "properties": {"success": {"type": "boolean"}, "errors": {"type": "array", "items": {"type": "object"}}}}
    },
    "securitySchemes": {
      "bearerAuth": {"type": "http", "scheme": "bearer", "description": "Bearer token obtained from the OAuth2 token endpoint"}
    }
  },
  "security": [{"bearerAuth": []}]
}
