{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Graph Excel API",
    "description": "The Microsoft Graph Excel API enables web and mobile applications to read and modify Excel workbooks stored in OneDrive for Business, SharePoint sites, or Group drives. It supports CRUD operations on worksheets, tables, ranges, charts, named items, and workbook functions. Only Office Open XML (.xlsx) formatted workbooks are supported.",
    "version": "1.0",
    "contact": {
      "name": "Microsoft Graph Support",
      "url": "https://developer.microsoft.com/graph/support"
    },
    "license": {
      "name": "Microsoft API License",
      "url": "https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use"
    }
  },
  "externalDocs": {
    "description": "Microsoft Graph Excel API Documentation",
    "url": "https://learn.microsoft.com/en-us/graph/api/resources/excel"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0",
      "description": "Microsoft Graph v1.0 endpoint"
    }
  ],
  "security": [
    {
      "oauth2": ["Files.ReadWrite"]
    }
  ],
  "paths": {
    "/me/drive/items/{item-id}/workbook/createSession": {
      "post": {
        "summary": "Create workbook session",
        "description": "Create a new workbook session. Sessions can be persistent (changes saved) or non-persistent (changes discarded when session expires).",
        "operationId": "workbook_createSession",
        "tags": ["Workbook Sessions"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "persistChanges": {
                    "type": "boolean",
                    "description": "If true, changes are persisted (saved). If false, changes are temporary."
                  }
                },
                "required": ["persistChanges"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfo"
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/closeSession": {
      "post": {
        "summary": "Close workbook session",
        "description": "Close an existing workbook session.",
        "operationId": "workbook_closeSession",
        "tags": ["Workbook Sessions"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "204": {
            "description": "Session closed successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets": {
      "get": {
        "summary": "List worksheets",
        "description": "Retrieve a list of worksheet objects in the workbook.",
        "operationId": "workbook_listWorksheets",
        "tags": ["Worksheets"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Collection of worksheets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Worksheet" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "summary": "Add worksheet",
        "description": "Add a new worksheet to the workbook.",
        "operationId": "workbook_addWorksheet",
        "tags": ["Worksheets"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the worksheet to add."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Worksheet created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Worksheet" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}": {
      "get": {
        "summary": "Get worksheet",
        "description": "Retrieve the properties and relationships of a worksheet object.",
        "operationId": "worksheet_get",
        "tags": ["Worksheets"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Worksheet details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Worksheet" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "summary": "Update worksheet",
        "description": "Update the properties of a worksheet object (e.g., name, position, visibility).",
        "operationId": "worksheet_update",
        "tags": ["Worksheets"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WorksheetUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated worksheet.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Worksheet" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "summary": "Delete worksheet",
        "description": "Delete a worksheet from the workbook.",
        "operationId": "worksheet_delete",
        "tags": ["Worksheets"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "204": { "description": "Worksheet deleted." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/range(address='{address}')": {
      "get": {
        "summary": "Get range",
        "description": "Retrieve the properties and relationships of a range specified by its address (e.g., A1:B2).",
        "operationId": "worksheet_getRange",
        "tags": ["Ranges"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The cell range address (e.g., A1:B2).",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Range details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Range" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "summary": "Update range",
        "description": "Update the properties of a range (values, formulas, number format).",
        "operationId": "worksheet_updateRange",
        "tags": ["Ranges"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The cell range address (e.g., A1:B2).",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RangeUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated range.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Range" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/usedRange": {
      "get": {
        "summary": "Get used range",
        "description": "Get the used range of the worksheet (the smallest range that encompasses any cells that have a value or formatting).",
        "operationId": "worksheet_getUsedRange",
        "tags": ["Ranges"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Used range.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Range" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/usedRange/sort/apply": {
      "post": {
        "summary": "Sort used range",
        "description": "Apply sort to the used range of a worksheet.",
        "operationId": "worksheet_sortUsedRange",
        "tags": ["Ranges"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SortFields" }
            }
          }
        },
        "responses": {
          "204": { "description": "Sort applied." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables": {
      "get": {
        "summary": "List tables",
        "description": "Retrieve a list of table objects in the workbook.",
        "operationId": "workbook_listTables",
        "tags": ["Tables"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Collection of tables.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Table" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/tables": {
      "get": {
        "summary": "List tables in worksheet",
        "description": "Retrieve a list of table objects in a specific worksheet.",
        "operationId": "worksheet_listTables",
        "tags": ["Tables"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Collection of tables.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Table" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}": {
      "get": {
        "summary": "Get table",
        "description": "Retrieve the properties and relationships of a table object.",
        "operationId": "table_get",
        "tags": ["Tables"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Table details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Table" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "summary": "Update table",
        "description": "Update the properties of a table object.",
        "operationId": "table_update",
        "tags": ["Tables"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TableUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated table.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Table" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/convertToRange": {
      "post": {
        "summary": "Convert table to range",
        "description": "Convert a table to a normal range of cells. All data is preserved.",
        "operationId": "table_convertToRange",
        "tags": ["Tables"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Range resulting from conversion.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Range" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/sort/apply": {
      "post": {
        "summary": "Sort table",
        "description": "Apply sort to a table.",
        "operationId": "table_sort",
        "tags": ["Tables"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SortFields" }
            }
          }
        },
        "responses": {
          "204": { "description": "Sort applied." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/rows": {
      "get": {
        "summary": "List table rows",
        "description": "Retrieve a list of table row objects.",
        "operationId": "table_listRows",
        "tags": ["Table Rows"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Collection of table rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TableRow" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "summary": "Add table row",
        "description": "Add a new row to a table.",
        "operationId": "table_addRow",
        "tags": ["Table Rows"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "integer",
                    "nullable": true,
                    "description": "The relative position of the new row. If null, the addition happens at the end."
                  },
                  "values": {
                    "type": "array",
                    "description": "A 2D array of unformatted values of the table row.",
                    "items": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Row created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TableRow" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/rows/$/itemAt(index={row-index})": {
      "delete": {
        "summary": "Delete table row",
        "description": "Delete a row from a table at a specific index.",
        "operationId": "table_deleteRow",
        "tags": ["Table Rows"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          {
            "name": "row-index",
            "in": "path",
            "required": true,
            "description": "The zero-based index of the row to delete.",
            "schema": { "type": "integer" }
          },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "204": { "description": "Row deleted." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/columns": {
      "get": {
        "summary": "List table columns",
        "description": "Retrieve a list of table column objects.",
        "operationId": "table_listColumns",
        "tags": ["Table Columns"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Collection of table columns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TableColumn" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "summary": "Add table column",
        "description": "Add a new column to a table.",
        "operationId": "table_addColumn",
        "tags": ["Table Columns"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "integer",
                    "nullable": true,
                    "description": "The zero-based index position of the new column."
                  },
                  "values": {
                    "type": "array",
                    "description": "A 2D array of unformatted values of the table column.",
                    "items": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the column."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Column created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TableColumn" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/columns/{column-id-or-name}": {
      "delete": {
        "summary": "Delete table column",
        "description": "Delete a column from a table.",
        "operationId": "table_deleteColumn",
        "tags": ["Table Columns"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          {
            "name": "column-id-or-name",
            "in": "path",
            "required": true,
            "description": "The ID or name of the column.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "204": { "description": "Column deleted." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/columns/{column-id}/filter/apply": {
      "post": {
        "summary": "Apply column filter",
        "description": "Apply a filter to a table column.",
        "operationId": "table_applyColumnFilter",
        "tags": ["Table Columns"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          {
            "name": "column-id",
            "in": "path",
            "required": true,
            "description": "The ID of the column.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FilterCriteria" }
            }
          }
        },
        "responses": {
          "204": { "description": "Filter applied." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/tables/{table-id-or-name}/columns/{column-id}/filter/clear": {
      "post": {
        "summary": "Clear column filter",
        "description": "Clear the filter on a table column.",
        "operationId": "table_clearColumnFilter",
        "tags": ["Table Columns"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/tableIdOrName" },
          {
            "name": "column-id",
            "in": "path",
            "required": true,
            "description": "The ID of the column.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "204": { "description": "Filter cleared." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/charts": {
      "get": {
        "summary": "List charts",
        "description": "Retrieve a list of chart objects in a worksheet.",
        "operationId": "worksheet_listCharts",
        "tags": ["Charts"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Collection of charts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Chart" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/charts/Add": {
      "post": {
        "summary": "Add chart",
        "description": "Create a new chart in a worksheet.",
        "operationId": "worksheet_addChart",
        "tags": ["Charts"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "sourcedata", "seriesby"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The chart type (e.g., ColumnClustered, Line, Pie)."
                  },
                  "sourcedata": {
                    "type": "string",
                    "description": "The range address of the source data (e.g., A1:C4)."
                  },
                  "seriesby": {
                    "type": "string",
                    "description": "How columns/rows are used as data series (Auto, Columns, Rows).",
                    "enum": ["Auto", "Columns", "Rows"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chart created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Chart" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/charts/{chart-id}": {
      "get": {
        "summary": "Get chart",
        "description": "Retrieve the properties and relationships of a chart object.",
        "operationId": "chart_get",
        "tags": ["Charts"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/chartId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Chart details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Chart" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "summary": "Update chart",
        "description": "Update the properties of a chart object.",
        "operationId": "chart_update",
        "tags": ["Charts"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/chartId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChartUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated chart.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Chart" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "summary": "Delete chart",
        "description": "Delete a chart from a worksheet.",
        "operationId": "chart_delete",
        "tags": ["Charts"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/chartId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "204": { "description": "Chart deleted." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/charts/{chart-id}/setData": {
      "post": {
        "summary": "Set chart data",
        "description": "Update the source data for a chart.",
        "operationId": "chart_setData",
        "tags": ["Charts"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/chartId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceData": {
                    "type": "string",
                    "description": "The range address of the source data."
                  },
                  "seriesBy": {
                    "type": "string",
                    "description": "How columns/rows are used as data series.",
                    "enum": ["Auto", "Columns", "Rows"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": { "description": "Chart data updated." },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/worksheets/{worksheet-id-or-name}/charts/{chart-id}/Image(width=0,height=0,fittingMode='fit')": {
      "get": {
        "summary": "Get chart image",
        "description": "Render the chart as a base64-encoded image.",
        "operationId": "chart_getImage",
        "tags": ["Charts"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/worksheetIdOrName" },
          { "$ref": "#/components/parameters/chartId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Base64-encoded image string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "Base64-encoded image."
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/names": {
      "get": {
        "summary": "List named items",
        "description": "Retrieve a list of named item objects in the workbook.",
        "operationId": "workbook_listNames",
        "tags": ["Named Items"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "responses": {
          "200": {
            "description": "Collection of named items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/NamedItem" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/drive/items/{item-id}/workbook/functions/{function-name}": {
      "post": {
        "summary": "Call workbook function",
        "description": "Invoke an Excel workbook function (e.g., SUM, AVERAGE, PMT) and return the result.",
        "operationId": "workbook_callFunction",
        "tags": ["Workbook Functions"],
        "parameters": [
          { "$ref": "#/components/parameters/itemId" },
          {
            "name": "function-name",
            "in": "path",
            "required": true,
            "description": "The name of the Excel function to call (e.g., pmt, sum, average).",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/sessionId" }
        ],
        "requestBody": {
          "required": true,
          "description": "Function-specific parameters as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function result.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FunctionResult" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization via Microsoft identity platform.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "Files.Read": "Read user files",
              "Files.ReadWrite": "Read and write user files"
            }
          }
        }
      }
    },
    "parameters": {
      "itemId": {
        "name": "item-id",
        "in": "path",
        "required": true,
        "description": "The drive item (workbook file) ID.",
        "schema": { "type": "string" }
      },
      "worksheetIdOrName": {
        "name": "worksheet-id-or-name",
        "in": "path",
        "required": true,
        "description": "The worksheet ID (URL-encoded GUID) or name.",
        "schema": { "type": "string" }
      },
      "tableIdOrName": {
        "name": "table-id-or-name",
        "in": "path",
        "required": true,
        "description": "The table ID or name.",
        "schema": { "type": "string" }
      },
      "chartId": {
        "name": "chart-id",
        "in": "path",
        "required": true,
        "description": "The chart ID (URL-encoded GUID).",
        "schema": { "type": "string" }
      },
      "sessionId": {
        "name": "workbook-session-id",
        "in": "header",
        "required": false,
        "description": "Workbook session ID. If provided, changes are scoped to the session. If omitted, changes are persisted directly.",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "SessionInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The session ID to use in subsequent requests."
          },
          "persistChanges": {
            "type": "boolean",
            "description": "Whether changes in this session are persisted."
          }
        }
      },
      "Worksheet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the worksheet."
          },
          "name": {
            "type": "string",
            "description": "The display name of the worksheet."
          },
          "position": {
            "type": "integer",
            "description": "The zero-based position of the worksheet within the workbook."
          },
          "visibility": {
            "type": "string",
            "description": "The visibility of the worksheet (Visible, Hidden, VeryHidden).",
            "enum": ["Visible", "Hidden", "VeryHidden"]
          }
        }
      },
      "WorksheetUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The new name of the worksheet."
          },
          "position": {
            "type": "integer",
            "description": "The new zero-based position."
          },
          "visibility": {
            "type": "string",
            "description": "The visibility of the worksheet.",
            "enum": ["Visible", "Hidden", "VeryHidden"]
          }
        }
      },
      "Range": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The range reference in A1-style (e.g., Sheet1!A1:B2)."
          },
          "addressLocal": {
            "type": "string",
            "description": "The range reference in the user's locale."
          },
          "cellCount": {
            "type": "integer",
            "description": "Number of cells in the range."
          },
          "columnCount": {
            "type": "integer",
            "description": "Number of columns in the range."
          },
          "columnIndex": {
            "type": "integer",
            "description": "Index of the first column."
          },
          "columnHidden": {
            "type": "boolean",
            "description": "Whether the column is hidden."
          },
          "rowCount": {
            "type": "integer",
            "description": "Number of rows in the range."
          },
          "rowIndex": {
            "type": "integer",
            "description": "Index of the first row."
          },
          "rowHidden": {
            "type": "boolean",
            "description": "Whether the row is hidden."
          },
          "hidden": {
            "type": "boolean",
            "description": "Whether the entire range is hidden."
          },
          "values": {
            "type": "array",
            "description": "2D array of raw values.",
            "items": {
              "type": "array",
              "items": {}
            }
          },
          "formulas": {
            "type": "array",
            "description": "2D array of formulas in A1-style notation.",
            "items": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "formulasLocal": {
            "type": "array",
            "description": "2D array of formulas in user's locale.",
            "items": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "formulasR1C1": {
            "type": "array",
            "description": "2D array of formulas in R1C1-style notation.",
            "items": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "numberFormat": {
            "type": "array",
            "description": "2D array of number format codes.",
            "items": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "text": {
            "type": "array",
            "description": "2D array of text values (formatted strings).",
            "items": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "valueTypes": {
            "type": "array",
            "description": "2D array of value types (String, Integer, Double, Boolean, Empty, Error).",
            "items": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        }
      },
      "RangeUpdate": {
        "type": "object",
        "properties": {
          "values": {
            "description": "2D array of values to set.",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {}
                }
              },
              { "type": "string" }
            ]
          },
          "formulas": {
            "type": "array",
            "description": "2D array of formulas to set.",
            "items": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "numberFormat": {
            "type": "array",
            "description": "2D array of number format codes.",
            "items": {
              "type": "array",
              "items": {}
            }
          }
        }
      },
      "Table": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the table."
          },
          "name": {
            "type": "string",
            "description": "The name of the table."
          },
          "showHeaders": {
            "type": "boolean",
            "description": "Whether the header row is visible."
          },
          "showTotals": {
            "type": "boolean",
            "description": "Whether the total row is visible."
          },
          "style": {
            "type": "string",
            "description": "The table style name (e.g., TableStyleMedium4)."
          }
        }
      },
      "TableUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "showHeaders": { "type": "boolean" },
          "showTotals": { "type": "boolean" },
          "style": { "type": "string" }
        }
      },
      "TableRow": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Zero-based index of the row within the table."
          },
          "values": {
            "type": "array",
            "description": "2D array of raw values of the row.",
            "items": {
              "type": "array",
              "items": {}
            }
          }
        }
      },
      "TableColumn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the column."
          },
          "index": {
            "type": "integer",
            "description": "Zero-based index of the column within the table."
          },
          "name": {
            "type": "string",
            "description": "The name of the column."
          },
          "values": {
            "type": "array",
            "description": "2D array of raw values of the column.",
            "items": {
              "type": "array",
              "items": {}
            }
          }
        }
      },
      "Chart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the chart."
          },
          "name": {
            "type": "string",
            "description": "The name of the chart."
          },
          "height": {
            "type": "number",
            "description": "The height in points."
          },
          "width": {
            "type": "number",
            "description": "The width in points."
          },
          "left": {
            "type": "number",
            "description": "The distance from the left side of the chart to the worksheet origin, in points."
          },
          "top": {
            "type": "number",
            "description": "The distance from the top edge of the chart to the top of the worksheet, in points."
          }
        }
      },
      "ChartUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "height": { "type": "number" },
          "width": { "type": "number" },
          "left": { "type": "number" },
          "top": { "type": "number" }
        }
      },
      "NamedItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the named item."
          },
          "type": {
            "type": "string",
            "description": "The type of the named item (Range, String, Integer, Double, Boolean)."
          },
          "value": {
            "description": "The value of the named item."
          },
          "visible": {
            "type": "boolean",
            "description": "Whether the named item is visible."
          }
        }
      },
      "FilterCriteria": {
        "type": "object",
        "properties": {
          "criteria": {
            "type": "object",
            "properties": {
              "filterOn": {
                "type": "string",
                "description": "The type of filter (e.g., custom, values, topItems, bottomItems)."
              },
              "criterion1": {
                "type": "string",
                "description": "The first criterion."
              },
              "criterion2": {
                "type": "string",
                "description": "The second criterion."
              },
              "operator": {
                "type": "string",
                "description": "The operator for combining criterion1 and criterion2 (and, or).",
                "enum": ["and", "or"]
              }
            }
          }
        }
      },
      "SortFields": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "description": "List of sort field conditions.",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "integer",
                  "description": "Column index (zero-based) to sort on."
                },
                "ascending": {
                  "type": "boolean",
                  "description": "Whether to sort ascending."
                }
              }
            }
          }
        }
      },
      "FunctionResult": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error string if the function failed, null otherwise."
          },
          "value": {
            "description": "The result value of the function."
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code."
          },
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          },
          "innerError": {
            "type": "object",
            "properties": {
              "request-id": { "type": "string" },
              "date": { "type": "string" }
            }
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "An error occurred.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "$ref": "#/components/schemas/ErrorDetail" }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    { "name": "Workbook Sessions", "description": "Manage workbook sessions for persistent or non-persistent operations." },
    { "name": "Worksheets", "description": "CRUD operations on worksheets within a workbook." },
    { "name": "Ranges", "description": "Read and update cell ranges and their values, formulas, and formatting." },
    { "name": "Tables", "description": "CRUD operations on tables within a workbook." },
    { "name": "Table Rows", "description": "Manage rows within a table." },
    { "name": "Table Columns", "description": "Manage columns within a table, including filtering." },
    { "name": "Charts", "description": "CRUD operations on charts within a worksheet." },
    { "name": "Named Items", "description": "Access named items (named ranges and constants) in a workbook." },
    { "name": "Workbook Functions", "description": "Invoke Excel workbook functions (SUM, AVERAGE, PMT, etc.) and get results." }
  ]
}