{
  "openapi": "3.0.3",
  "info": {
    "title": "AppFolio Stack API",
    "version": "1.0.0",
    "description": "AppFolio Stack API for property management. Provides access to bills, charges, properties, tenants, units, work orders, vendors, bank accounts, and attachments.",
    "x-jentic-source-url": "https://www.appfolio.com/stack/partners/api"
  },
  "servers": [
    {
      "url": "https://api.appfolio.com/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/bills": {
      "get": {
        "operationId": "listBills",
        "summary": "List bills",
        "description": "Retrieve a list of bills.",
        "tags": ["Bills"],
        "responses": {"200": {"description": "Bill list", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/Bill"}}}}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      },
      "post": {
        "operationId": "createBill",
        "summary": "Create a bill",
        "tags": ["Bills"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Bill"}}}},
        "responses": {"200": {"description": "Bill created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Bill"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/bills/{billId}": {
      "put": {
        "operationId": "updateBill",
        "summary": "Update a bill",
        "tags": ["Bills"],
        "parameters": [{"name": "billId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Bill"}}}},
        "responses": {"200": {"description": "Bill updated"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/charges": {
      "get": {
        "operationId": "listCharges",
        "summary": "List charges",
        "tags": ["Charges"],
        "responses": {"200": {"description": "Charge list", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      },
      "post": {
        "operationId": "createCharge",
        "summary": "Create a charge",
        "tags": ["Charges"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}},
        "responses": {"200": {"description": "Charge created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/properties": {
      "get": {
        "operationId": "listProperties",
        "summary": "List properties",
        "tags": ["Properties"],
        "responses": {"200": {"description": "Property list", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/Property"}}}}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/tenants": {
      "get": {
        "operationId": "listTenants",
        "summary": "List tenants",
        "tags": ["Tenants"],
        "responses": {"200": {"description": "Tenant list", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/Tenant"}}}}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/units": {
      "get": {
        "operationId": "listUnits",
        "summary": "List units",
        "tags": ["Units"],
        "responses": {"200": {"description": "Unit list", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/units/{unitId}": {
      "put": {
        "operationId": "updateUnit",
        "summary": "Update a unit",
        "tags": ["Units"],
        "parameters": [{"name": "unitId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {"200": {"description": "Unit updated"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/work-orders": {
      "get": {
        "operationId": "listWorkOrders",
        "summary": "List work orders",
        "tags": ["Work Orders"],
        "responses": {"200": {"description": "Work order list", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      },
      "post": {
        "operationId": "createWorkOrder",
        "summary": "Create a work order",
        "tags": ["Work Orders"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkOrder"}}}},
        "responses": {"200": {"description": "Work order created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/vendors": {
      "get": {
        "operationId": "listVendors",
        "summary": "List vendors",
        "tags": ["Vendors"],
        "responses": {"200": {"description": "Vendor list", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      },
      "post": {
        "operationId": "createVendor",
        "summary": "Create a vendor",
        "tags": ["Vendors"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Vendor"}}}},
        "responses": {"200": {"description": "Vendor created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/bank-accounts": {
      "get": {
        "operationId": "listBankAccounts",
        "summary": "List bank accounts",
        "tags": ["Bank Accounts"],
        "responses": {"200": {"description": "Bank account list", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    },
    "/attachments": {
      "post": {
        "operationId": "createAttachment",
        "summary": "Create an attachment",
        "tags": ["Attachments"],
        "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"file": {"type": "string", "format": "binary"}, "billId": {"type": "string"}, "propertyId": {"type": "string"}}}}}},
        "responses": {"200": {"description": "Attachment created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}
      }
    }
  },
  "components": {
    "schemas": {
      "Bill": {"type": "object", "properties": {"id": {"type": "string"}, "accountNumber": {"type": "string"}, "dueDate": {"type": "string", "format": "date"}, "invoiceDate": {"type": "string", "format": "date"}, "totalAmount": {"type": "number"}, "vendorId": {"type": "string"}}},
      "Charge": {"type": "object", "properties": {"id": {"type": "string"}, "amountDue": {"type": "number"}, "chargedOn": {"type": "string", "format": "date"}, "glAccountId": {"type": "string"}, "occupancyId": {"type": "string"}}},
      "Property": {"type": "object", "properties": {"id": {"type": "string"}, "address": {"type": "string"}, "city": {"type": "string"}, "state": {"type": "string"}, "propertyType": {"type": "string"}}},
      "Tenant": {"type": "object", "properties": {"id": {"type": "string"}, "firstName": {"type": "string"}, "lastName": {"type": "string"}, "moveInOn": {"type": "string", "format": "date"}, "leaseStartDate": {"type": "string", "format": "date"}, "leaseEndDate": {"type": "string", "format": "date"}}},
      "WorkOrder": {"type": "object", "properties": {"id": {"type": "string"}, "jobDescription": {"type": "string"}, "priority": {"type": "string"}, "status": {"type": "string"}, "vendorId": {"type": "string"}}},
      "Vendor": {"type": "object", "properties": {"id": {"type": "string"}, "companyName": {"type": "string"}, "taxpayerId": {"type": "string"}}},
      "ErrorResponse": {"type": "object", "properties": {"status": {"type": "string"}, "code": {"type": "string"}, "message": {"type": "string"}}}
    }
  }
}
