{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "int@d7networks.com",
      "name": "Emanuel",
      "url": "https://d7networks.com/"
    },
    "description": "D7 SMS allows you to reach your customers via SMS over D7's own connectivity to global mobile networks. D7 provides reliable and cost-effective SMS services to businesses across all industries and aims to connect all countries and territories via direct connections.",
    "title": "D7SMS",
    "version": "1.0.2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Direct7Networks/D7SMS/1.0.2"
  },
  "servers": [
    {
      "url": "https://rest-api.d7networks.com/secure"
    }
  ],
  "paths": {
    "/balance": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Internal Server Error"
          }
        },
        "deprecated": false,
        "description": "Check account balance",
        "operationId": "BalanceGet",
        "summary": "Balance"
      }
    },
    "/send": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Internal Server Error"
          }
        },
        "deprecated": false,
        "description": "Send SMS  to recipients using D7 SMS Gateway",
        "operationId": "SendPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSMSRequest"
              }
            }
          },
          "description": "Message Body",
          "required": true
        },
        "summary": "SendSMS"
      }
    },
    "/sendbatch": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "deprecated": false,
        "description": "Send Bulk SMS  to multiple recipients using D7 SMS Gateway",
        "operationId": "SendbatchPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkSMSRequest"
              }
            }
          },
          "description": "Message Body",
          "required": true
        },
        "summary": "Bulk SMS"
      }
    }
  },
  "components": {
    "schemas": {
      "BulkSMSRequest": {
        "description": "Bulk SMS Request",
        "example": {
          "messages": [
            {
              "content": "Same content goes to three numbers",
              "from": "SignSMS",
              "to": [
                "971562316353",
                "971562316354",
                "971562316355"
              ]
            }
          ]
        },
        "properties": {
          "messages": {
            "description": "Sendbatch message body",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "type": "array"
          }
        },
        "required": [
          "messages"
        ],
        "title": "BulkSMSRequest",
        "type": "object"
      },
      "Message": {
        "description": "",
        "example": {
          "content": "Same content goes to three numbers",
          "from": "SignSMS",
          "to": [
            "971562316353",
            "971562316354",
            "971562316355"
          ]
        },
        "properties": {
          "content": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "description": "Destination Number",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "to",
          "content",
          "from"
        ],
        "title": "Message",
        "type": "object"
      },
      "SendSMSRequest": {
        "description": "Send SMS Request",
        "example": {
          "content": "Send single SMS Testing",
          "from": "SignSMS",
          "to": 971562316353
        },
        "properties": {
          "content": {
            "description": "Message Content",
            "type": "string"
          },
          "from": {
            "description": "Sender ID / Number",
            "type": "string"
          },
          "to": {
            "description": "Destination Mobile Number",
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "to",
          "from",
          "content"
        ],
        "title": "SendSMSRequest",
        "type": "object"
      }
    },
    "securitySchemes": {
      "auth": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "security": [
    {
      "auth": []
    }
  ],
  "tags": []
}