{
  "openapi": "3.0.3",
  "info": {
    "title": "Spektrix API",
    "description": "Spektrix is the market-leading CRM, ticketing, marketing and fundraising solution for theatres and the performing arts. This API provides access to events, customers, baskets, orders, and related resources.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://integrate.spektrix.com/docs/API3"
  },
  "servers": [
    {
      "url": "https://system.spektrix.com/{clientName}/api",
      "description": "Spektrix API (client-specific)",
      "variables": {
        "clientName": {
          "description": "Your Spektrix client name",
          "default": "demo"
        }
      }
    }
  ],
  "paths": {
    "/v3/addresses/{postcodeLookupId}": {
      "get": {
        "operationId": "getAddresses",
        "summary": "Returns the full address for a given ID",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "postcodeLookupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Returns the full address for a given ID"
      }
    },
    "/v3/addresses": {
      "get": {
        "operationId": "getAddresses",
        "summary": "Returns a list of addresses matching a given postcode. (UK Addresses only)",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Returns a list of addresses matching a given postcode. (UK Addresses only)"
      }
    },
    "/v3/credit": {
      "get": {
        "operationId": "getCredit",
        "summary": "Allows an agent to determine how much of their credit limit has been used, and how much remains.",
        "tags": [
          "AgentCredit"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Allows an agent to determine how much of their credit limit has been used, and how much remains."
      }
    },
    "/v3/bands": {
      "get": {
        "operationId": "getBands",
        "summary": "Returns a list of price bands in the system",
        "tags": [
          "Bands"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Returns a list of price bands in the system"
      }
    },
    "/v3/basket/clear": {
      "post": {
        "operationId": "postBasketClear",
        "summary": "Clears the contents of the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Clears the contents of the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket": {
      "patch": {
        "operationId": "patchBasket",
        "summary": "To add additional information to the basket, such as a Customer, Promocode, Attributes and Delivery ",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "To add additional information to the basket, such as a Customer, Promocode, Attributes and Delivery Methods",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getBasket",
        "summary": "Return the current contents of the Basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the current contents of the Basket"
      }
    },
    "/v3/basket/confirm": {
      "post": {
        "operationId": "postBasketConfirm",
        "summary": "Confirms an order. This can only be used for zero-value orders.",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Confirms an order. This can only be used for zero-value orders.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/payment": {
      "get": {
        "operationId": "getBasketPayment",
        "summary": "No documentation available.",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No documentation available."
      }
    },
    "/v3/basket/potentialDiscount": {
      "get": {
        "operationId": "getBasketPotentialdiscount",
        "summary": "Returns pricing information about the current basket with the specified Membership added, without pe",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "membershipId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Returns pricing information about the current basket with the specified Membership added, without persisting the changes. This allows for the calculation of upsell information."
      }
    },
    "/v3/basket/donations": {
      "get": {
        "operationId": "getBasketDonations",
        "summary": "Return details of the donations in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return details of the donations in the current basket"
      },
      "post": {
        "operationId": "postBasketDonations",
        "summary": "Add a donation(s) to the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a donation(s) to the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketDonations",
        "summary": "Remove a number of donations from the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of donations from the current basket"
      },
      "patch": {
        "operationId": "patchBasketDonations",
        "summary": "Update the details of a number of donations in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a number of donations in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/tickets": {
      "get": {
        "operationId": "getBasketTickets",
        "summary": "Return details of the tickets in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return details of the tickets in the current basket"
      },
      "post": {
        "operationId": "postBasketTickets",
        "summary": "Add a ticket(s) to the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a ticket(s) to the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketTickets",
        "summary": "Remove specific tickets from the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove specific tickets from the current basket"
      },
      "patch": {
        "operationId": "patchBasketTickets",
        "summary": "Update the details of a number of tickets in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a number of tickets in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putBasketTickets",
        "summary": "Replace all the tickets in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all the tickets in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/donations-to-prompt": {
      "get": {
        "operationId": "getBasketDonationsToPrompt",
        "summary": "Return the suggested donations for the current basket contents of the current customer",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the suggested donations for the current basket contents of the current customer"
      }
    },
    "/v3/basket/donations/{donationId}": {
      "get": {
        "operationId": "getBasketDonations",
        "summary": "Return the details of a specific donation in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "donationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a specific donation in the current basket"
      },
      "delete": {
        "operationId": "deleteBasketDonations",
        "summary": "Remove a specific donation from the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "donationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific donation from the current basket"
      },
      "patch": {
        "operationId": "patchBasketDonations",
        "summary": "Update the details of a specific donation in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "donationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a specific donation in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/merchandise": {
      "get": {
        "operationId": "getBasketMerchandise",
        "summary": "Return all merchandise items from the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return all merchandise items from the current basket"
      },
      "post": {
        "operationId": "postBasketMerchandise",
        "summary": "Add items of merchandise to the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add items of merchandise to the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketMerchandise",
        "summary": "Remove a number of merchandise items from the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of merchandise items from the current basket"
      },
      "put": {
        "operationId": "putBasketMerchandise",
        "summary": "Replace all merchandise items in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all merchandise items in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/merchandise/{merchandiseItemId}": {
      "delete": {
        "operationId": "deleteBasketMerchandise",
        "summary": "Remove a specific merchandise item from the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "merchandiseItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific merchandise item from the current basket"
      },
      "patch": {
        "operationId": "patchBasketMerchandise",
        "summary": "Update the details of a specific merchandise item in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "merchandiseItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a specific merchandise item in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/gift-vouchers": {
      "get": {
        "operationId": "getBasketGiftVouchers",
        "summary": "Return all gift vouchers in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return all gift vouchers in the current basket"
      },
      "post": {
        "operationId": "postBasketGiftVouchers",
        "summary": "Add a gift voucher(s) to the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a gift voucher(s) to the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketGiftVouchers",
        "summary": "Remove a number of gift vouchers from the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of gift vouchers from the current basket"
      },
      "put": {
        "operationId": "putBasketGiftVouchers",
        "summary": "Replace all gift vouchers in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all gift vouchers in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchBasketGiftVouchers",
        "summary": "Update the details of a number of gift vouchers in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a number of gift vouchers in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/gift-vouchers/{giftVoucherId}": {
      "delete": {
        "operationId": "deleteBasketGiftVouchers",
        "summary": "Remove a specific gift voucher from the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "giftVoucherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific gift voucher from the current basket"
      },
      "get": {
        "operationId": "getBasketGiftVouchers",
        "summary": "Return the details of a specific gift voucher in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "giftVoucherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a specific gift voucher in the current basket"
      },
      "patch": {
        "operationId": "patchBasketGiftVouchers",
        "summary": "Update the details of a specific gift voucher in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "giftVoucherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a specific gift voucher in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/tickets/{ticketId}": {
      "patch": {
        "operationId": "patchBasketTickets",
        "summary": "Update the detail of a specific ticket in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the detail of a specific ticket in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/tickets/best-available": {
      "post": {
        "operationId": "postBasketTicketsBestAvailable",
        "summary": "Add some best-available tickets from a reserved seating plan to the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add some best-available tickets from a reserved seating plan to the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/membership-subscriptions": {
      "get": {
        "operationId": "getBasketMembershipSubscriptions",
        "summary": "Return the details of all memberships in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of all memberships in the current basket"
      },
      "post": {
        "operationId": "postBasketMembershipSubscriptions",
        "summary": "Add a number of memberships to the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a number of memberships to the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchBasketMembershipSubscriptions",
        "summary": "Amend the details of a number of memberships in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Amend the details of a number of memberships in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketMembershipSubscriptions",
        "summary": "Remove a number of memberships from the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of memberships from the current basket"
      },
      "put": {
        "operationId": "putBasketMembershipSubscriptions",
        "summary": "Replace all memberships in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all memberships in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/basket/membership-subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getBasketMembershipSubscriptions",
        "summary": "Return the details of a specific membership in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a specific membership in the current basket"
      },
      "patch": {
        "operationId": "patchBasketMembershipSubscriptions",
        "summary": "Amend the details of a specific membership in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Amend the details of a specific membership in the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketMembershipSubscriptions",
        "summary": "Remove a specific membership from the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific membership from the current basket"
      }
    },
    "/v3/basket/ticket-subscriptions": {
      "post": {
        "operationId": "postBasketTicketSubscriptions",
        "summary": "Add a number of ticket subscriptions to the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a number of ticket subscriptions to the current basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getBasketTicketSubscriptions",
        "summary": "Return all ticket subscriptions in the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return all ticket subscriptions in the current basket"
      },
      "delete": {
        "operationId": "deleteBasketTicketSubscriptions",
        "summary": "Remove multiple ticket subscriptions from the current basket",
        "tags": [
          "Basket"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove multiple ticket subscriptions from the current basket"
      }
    },
    "/v3/basket/ticket-subscriptions/{ticketSubscriptionId}": {
      "get": {
        "operationId": "getBasketTicketSubscriptions",
        "summary": "Return the details of a specific ticket subscription in the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "ticketSubscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a specific ticket subscription in the current basket"
      },
      "delete": {
        "operationId": "deleteBasketTicketSubscriptions",
        "summary": "Remove a specific ticket subscription from the current basket",
        "tags": [
          "Basket"
        ],
        "parameters": [
          {
            "name": "ticketSubscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific ticket subscription from the current basket"
      }
    },
    "/v3/baskets": {
      "post": {
        "operationId": "postBaskets",
        "summary": "Creates a new basket",
        "tags": [
          "Baskets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Creates a new basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/baskets/{id}": {
      "patch": {
        "operationId": "patchBaskets",
        "summary": "To add additional information to a basket, such as a Customer, Promocode, Attributes and Delivery Me",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "To add additional information to a basket, such as a Customer, Promocode, Attributes and Delivery Methods",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getBaskets",
        "summary": "Return the details of a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a basket"
      }
    },
    "/v3/baskets/{id}/clear": {
      "post": {
        "operationId": "postBasketsClear",
        "summary": "Clear the contents of a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Clear the contents of a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/baskets/{id}/confirm": {
      "post": {
        "operationId": "postBasketsConfirm",
        "summary": "Confirms an order.\n                    For system-owners, this can only be used for zero-value order",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Confirms an order.\n                    For system-owners, this can only be used for zero-value orders. Otherwise use .\n                    For agents, this should be used for all orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/baskets/{id}/potentialDiscount": {
      "get": {
        "operationId": "getBasketsPotentialdiscount",
        "summary": "Returns pricing information about the current basket with the specified Membership added, without pe",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membershipId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Returns pricing information about the current basket with the specified Membership added, without persisting the changes. This allows for the calculation of upsell information."
      }
    },
    "/v3/baskets/{id}/donations-to-prompt": {
      "get": {
        "operationId": "getBasketsDonationsToPrompt",
        "summary": "Return the suggested donations of a basket contents for the added customer record",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the suggested donations of a basket contents for the added customer record"
      }
    },
    "/v3/baskets/{id}/custom-payments": {
      "post": {
        "operationId": "postBasketsCustomPayments",
        "summary": "Add a single custom payment to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a single custom payment to a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getBasketsCustomPayments",
        "summary": "Return the details of all custom payments added to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of all custom payments added to a basket"
      }
    },
    "/v3/baskets/{id}/donations": {
      "post": {
        "operationId": "postBasketsDonations",
        "summary": "Add donation(s) to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add donation(s) to a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getBasketsDonations",
        "summary": "Return details of the donations in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return details of the donations in a basket"
      },
      "patch": {
        "operationId": "patchBasketsDonations",
        "summary": "Update the details of a number of donations in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a number of donations in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsDonations",
        "summary": "Remove a number of donations from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of donations from a basket"
      }
    },
    "/v3/baskets/{id}/donations/{donationId}": {
      "get": {
        "operationId": "getBasketsDonations",
        "summary": "Return details of the donations in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return details of the donations in a basket"
      },
      "patch": {
        "operationId": "patchBasketsDonations",
        "summary": "Update the details of a specific donation in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a specific donation in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsDonations",
        "summary": "Remove a specific donation from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific donation from a basket"
      }
    },
    "/v3/baskets/{id}/gift-vouchers": {
      "get": {
        "operationId": "getBasketsGiftVouchers",
        "summary": "Return all gift vouchers in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return all gift vouchers in a basket"
      },
      "post": {
        "operationId": "postBasketsGiftVouchers",
        "summary": "Add a gift voucher(s) to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a gift voucher(s) to a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchBasketsGiftVouchers",
        "summary": "Update the details of a number of gift vouchers in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a number of gift vouchers in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsGiftVouchers",
        "summary": "Remove a number of gift vouchers from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of gift vouchers from a basket"
      },
      "put": {
        "operationId": "putBasketsGiftVouchers",
        "summary": "Replace all gift vouchers in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all gift vouchers in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/baskets/{id}/gift-vouchers/{giftVoucherId}": {
      "get": {
        "operationId": "getBasketsGiftVouchers",
        "summary": "Return the details of a specific gift voucher in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "giftVoucherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a specific gift voucher in a basket"
      },
      "patch": {
        "operationId": "patchBasketsGiftVouchers",
        "summary": "Update the details of a specific gift voucher in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "giftVoucherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a specific gift voucher in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsGiftVouchers",
        "summary": "Remove a specific gift voucher from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "giftVoucherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific gift voucher from a basket"
      }
    },
    "/v3/baskets/{id}/membership-subscriptions": {
      "get": {
        "operationId": "getBasketsMembershipSubscriptions",
        "summary": "Return the details of all memberships in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of all memberships in a basket"
      },
      "post": {
        "operationId": "postBasketsMembershipSubscriptions",
        "summary": "Add a number of memberships to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a number of memberships to a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchBasketsMembershipSubscriptions",
        "summary": "Amend the details of a number of memberships in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Amend the details of a number of memberships in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putBasketsMembershipSubscriptions",
        "summary": "Replace all memberships in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all memberships in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsMembershipSubscriptions",
        "summary": "Remove a number of memberships from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of memberships from a basket"
      }
    },
    "/v3/baskets/{id}/membership-subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getBasketsMembershipSubscriptions",
        "summary": "Return the details of a specific membership in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a specific membership in a basket"
      },
      "patch": {
        "operationId": "patchBasketsMembershipSubscriptions",
        "summary": "Amend the details of a specific membership in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Amend the details of a specific membership in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsMembershipSubscriptions",
        "summary": "Remove a specific membership from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific membership from a basket"
      }
    },
    "/v3/baskets/{id}/merchandise": {
      "get": {
        "operationId": "getBasketsMerchandise",
        "summary": "No documentation available.",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No documentation available."
      },
      "post": {
        "operationId": "postBasketsMerchandise",
        "summary": "No documentation available.",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No documentation available.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchBasketsMerchandise",
        "summary": "No documentation available.",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No documentation available.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsMerchandise",
        "summary": "Remove a number of merchandise items from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of merchandise items from a basket"
      },
      "put": {
        "operationId": "putBasketsMerchandise",
        "summary": "Replace all merchandise items in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all merchandise items in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/baskets/{id}/merchandise/{merchandiseItemId}": {
      "patch": {
        "operationId": "patchBasketsMerchandise",
        "summary": "No documentation available.",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchandiseItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No documentation available.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsMerchandise",
        "summary": "Remove a specific merchandise item from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchandiseItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific merchandise item from a basket"
      }
    },
    "/v3/baskets/{id}/tickets": {
      "get": {
        "operationId": "getBasketsTickets",
        "summary": "Return details of the tickets in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return details of the tickets in a basket"
      },
      "post": {
        "operationId": "postBasketsTickets",
        "summary": "Add a ticket(s) to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a ticket(s) to a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchBasketsTickets",
        "summary": "Update the details of a number of tickets in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the details of a number of tickets in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsTickets",
        "summary": "Remove specific tickets from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove specific tickets from a basket"
      }
    },
    "/v3/baskets/{id}/tickets/{ticketId}": {
      "get": {
        "operationId": "getBasketsTickets",
        "summary": "Return the details of a specific ticket in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the details of a specific ticket in a basket"
      },
      "patch": {
        "operationId": "patchBasketsTickets",
        "summary": "Update the detail of a specific ticket in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update the detail of a specific ticket in a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBasketsTickets",
        "summary": "Delete a specific ticket from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a specific ticket from a basket"
      }
    },
    "/v3/baskets/{id}/tickets/best-available": {
      "post": {
        "operationId": "postBasketsTicketsBestAvailable",
        "summary": "Add some best-available tickets from a reserved seating plan to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add some best-available tickets from a reserved seating plan to a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/baskets/{id}/ticket-subscriptions": {
      "post": {
        "operationId": "postBasketsTicketSubscriptions",
        "summary": "Add a number of ticket subscriptions to a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a number of ticket subscriptions to a basket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getBasketsTicketSubscriptions",
        "summary": "Return all ticket subscriptions in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return all ticket subscriptions in a basket"
      },
      "delete": {
        "operationId": "deleteBasketsTicketSubscriptions",
        "summary": "Remove multiple ticket subscriptions from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove multiple ticket subscriptions from a basket"
      }
    },
    "/v3/baskets/{id}/ticket-subscriptions/{ticketSubscriptionId}": {
      "get": {
        "operationId": "getBasketsTicketSubscriptions",
        "summary": "Return the specified ticket subscription in a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketSubscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the specified ticket subscription in a basket"
      },
      "delete": {
        "operationId": "deleteBasketsTicketSubscriptions",
        "summary": "Remove a specific ticket subscription from a basket",
        "tags": [
          "Baskets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketSubscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific ticket subscription from a basket"
      }
    },
    "/v3/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Return a list of countries",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return a list of countries"
      }
    },
    "/v3/countries/{isoCode}": {
      "get": {
        "operationId": "getCountries",
        "summary": "Return a specific country",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "isoCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return a specific country"
      }
    },
    "/v3/customer": {
      "post": {
        "operationId": "postCustomer",
        "summary": "Create a new customer record",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Create a new customer record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getCustomer",
        "summary": "Return the current customers record",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return the current customers record"
      },
      "patch": {
        "operationId": "patchCustomer",
        "summary": "Update details on the current customers record",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update details on the current customers record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/customer/authenticate": {
      "post": {
        "operationId": "postCustomerAuthenticate",
        "summary": "Log a customer into their online account",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Log a customer into their online account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/customer/change-password": {
      "post": {
        "operationId": "postCustomerChangePassword",
        "summary": "Allow the current user to change a password",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Allow the current user to change a password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/customer/set-password": {
      "post": {
        "operationId": "postCustomerSetPassword",
        "summary": "Set a new password for the customer",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Set a new password for the customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/customer/forgot-password": {
      "post": {
        "operationId": "postCustomerForgotPassword",
        "summary": "Send a customer a password reset email",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "emailAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Send a customer a password reset email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/customer/validate-password-link": {
      "post": {
        "operationId": "postCustomerValidatePasswordLink",
        "summary": "Validate a customers password reset token",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Validate a customers password reset token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/customer/deauthenticate": {
      "post": {
        "operationId": "postCustomerDeauthenticate",
        "summary": "Log the current customer out of their online account",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Log the current customer out of their online account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/customer/addresses": {
      "get": {
        "operationId": "getCustomerAddresses",
        "summary": "Return a list of the current customers stored address details",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Return a list of the current customers stored address details"
      },
      "post": {
        "operationId": "postCustomerAddresses",
        "summary": "Add a new address to the current customers record",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Add a new address to the current customers record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putCustomerAddresses",
        "summary": "Replace all current addresses on the current customers record",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Replace all current addresses on the current customers record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomerAddresses",
        "summary": "Remove a number of addresses from the current customers record",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a number of addresses from the current customers record"
      }
    },
    "/v3/customer/addresses/{addressId}": {
      "put": {
        "operationId": "putCustomerAddresses",
        "summary": "Amend an address on the current customers record",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Amend an address on the current customers record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchCustomerAddresses",
        "summary": "Amend an address on the current customers record",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Amend an address on the current customers record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomerAddresses",
        "summary": "Remove a specific address from the current customers record",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Remove a specific address from the current customers record"
      }
    },
    "/v3/customer/tags": {
      "get": {
        "operationId": "getCustomerTags",
        "summary": "Return the current users tags",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
[...]
