{
  "openapi": "3.0.3",
  "info": {
    "title": "Chartbrew API reference",
    "description": "The OpenAPI specification for Chartbrew",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.chartbrew.com/api-reference/introduction"
  },
  "servers": [
    {
      "url": "https://api.chartbrew.com"
    }
  ],
  "paths": {
    "/team": {
      "post": {
        "description": "Create a new team",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Team"
        ]
      },
      "get": {
        "description": "Get all teams for the authenticated user",
        "responses": {
          "200": {
            "description": "Array of teams the user is a member of",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTeams"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}": {
      "get": {
        "description": "Get a team by ID",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "put": {
        "description": "Update a team",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/user/{user_id}": {
      "get": {
        "description": "Get all teams for a user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of teams the user is a member of",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTeams"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/connections": {
      "get": {
        "description": "Get all connections for a team",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of connections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "post": {
        "description": "Create a new connection",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewConnection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/connections/{connection_id}": {
      "get": {
        "description": "Get a connection by ID",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_id",
            "in": "path",
            "description": "ID of the connection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "put": {
        "description": "Update a connection",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_id",
            "in": "path",
            "description": "ID of the connection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "delete": {
        "description": "Delete a connection",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_id",
            "in": "path",
            "description": "ID of the connection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removeDatasets",
            "in": "query",
            "description": "Whether to remove associated datasets",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/connections/{connection_id}/files": {
      "post": {
        "description": "Add files to a connection (like SSL certificates)",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_id",
            "in": "path",
            "description": "ID of the connection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "sslCa": {
                    "type": "string",
                    "format": "binary",
                    "description": "SSL CA certificate file"
                  },
                  "sslCert": {
                    "type": "string",
                    "format": "binary",
                    "description": "SSL certificate file"
                  },
                  "sslKey": {
                    "type": "string",
                    "format": "binary",
                    "description": "SSL key file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No files were uploaded"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/connections/{connection_id}/test": {
      "get": {
        "description": "Test a connection",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection_id",
            "in": "path",
            "description": "ID of the connection",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets": {
      "get": {
        "description": "Get all datasets for a team",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dataset"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "post": {
        "description": "Create a new dataset",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/quick-create": {
      "post": {
        "description": "Quickly create a dataset with all its data requests in one go",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuickCreateDataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created dataset with all data requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/{dataset_id}": {
      "get": {
        "description": "Get a dataset by ID",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "description": "ID of the dataset",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "put": {
        "description": "Update a dataset",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "description": "ID of the dataset",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "delete": {
        "description": "Delete a dataset",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "description": "ID of the dataset",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/{dataset_id}/request": {
      "get": {
        "description": "Run the request attached to the dataset",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "description": "ID of the dataset",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noSource",
            "in": "query",
            "description": "Skip running the data source",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "getCache",
            "in": "query",
            "description": "Get cached data if available",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filter parameters for the request",
            "schema": {
              "$ref": "#/components/schemas/DatasetFilters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset with request results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "options": {
                      "$ref": "#/components/schemas/Dataset"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "404": {
            "description": "Dataset not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/{dataset_id}/dataRequests": {
      "post": {
        "summary": "Create a new data request",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "get": {
        "summary": "Get data requests by dataset ID",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of data requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataRequest"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/{dataset_id}/dataRequests/{id}": {
      "put": {
        "summary": "Update a data request",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated data request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRequest"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      },
      "delete": {
        "summary": "Delete a data request",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data request deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/{dataset_id}/dataRequests/{id}/request": {
      "post": {
        "summary": "Run a single data request",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "noSource": {
                    "type": "boolean"
                  },
                  "getCache": {
                    "type": "boolean"
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data request results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRequestResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/{dataset_id}/dataRequests/{id}/variableBindings": {
      "post": {
        "summary": "Create a new variable binding",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariableBinding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variable binding created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{team_id}/datasets/{dataset_id}/dataRequests/{id}/variableBindings/{variable_id}": {
      "put": {
        "summary": "Update a variable binding",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "variable_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariableBinding"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variable binding updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Team"
        ]
      }
    },
    "/project": {
      "post": {
        "description": "Create a new dashboard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDashboard"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{id}": {
      "get": {
        "description": "Get a specific dashboard by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "put": {
        "description": "Update a dashboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "delete": {
        "description": "Delete a dashboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/team/{team_id}": {
      "get": {
        "description": "Get all dashboards for a team",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of dashboards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DashboardItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/dashboard/{brewName}": {
      "get": {
        "description": "Get a public dashboard by its brew name",
        "parameters": [
          {
            "name": "brewName",
            "in": "path",
            "description": "Brew name of the dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pass",
            "in": "query",
            "description": "Password for protected dashboards",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Access token for SharePolicy-protected dashboards",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public dashboard response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized or access token required"
          },
          "403": {
            "description": "Password required or incorrect, or share policy disabled"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/chart/share/{share_string}": {
      "get": {
        "description": "Get a chart for sharing",
        "parameters": [
          {
            "name": "share_string",
            "in": "path",
            "description": "Share policy's share_string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Access token generated from the SharePolicy",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "theme",
            "in": "query",
            "description": "Theme for the embedded chart (light, dark, os)",
            "schema": {
              "type": "string",
              "enum": [
                "light",
                "dark",
                "os"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized - chart must be public or valid token required"
          },
          "413": {
            "description": "Payload too large"
          }
        },
        "tags": [
          "Chart"
        ]
      }
    },
    "/project/{id}/share/policy": {
      "post": {
        "description": "Create a share policy for a project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created share policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharePolicy"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{id}/share/policy/{policy_id}": {
      "put": {
        "description": "Update a share policy for a project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "ID of the share policy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharePolicyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated share policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharePolicy"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "delete": {
        "description": "Delete a share policy for a project",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "ID of the share policy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted share policy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{id}/share/token": {
      "post": {
        "description": "Generate a share token for a project with SharePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated share token and URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart": {
      "get": {
        "description": "Returns all charts for a specific project",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of charts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chart"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "post": {
        "description": "Creates a new chart in the project",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Chart data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewChart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created chart",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/quick-create": {
      "post": {
        "description": "Quickly create a chart with all its chart dataset configs in one go",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuickNewChart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created chart with all chart dataset configs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/{id}": {
      "get": {
        "description": "Returns a specific chart by ID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "put": {
        "description": "Updates an existing chart",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "justUpdates",
            "in": "query",
            "description": "Only return updated fields",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Chart update data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated chart",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "delete": {
        "description": "Delete a specific chart",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/{id}/query": {
      "post": {
        "description": "Run the query for a chart",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "no_source",
            "in": "query",
            "description": "Skip source data in response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "skip_parsing",
            "in": "query",
            "description": "Skip data parsing",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "getCache",
            "in": "query",
            "description": "Get cached data if available",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Query filters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chart data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/{id}/share/policy": {
      "post": {
        "description": "Create a share policy for a chart",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created chart share policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharePolicy"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/{chart_id}/share/policy/{policy_id}": {
      "put": {
        "description": "Update a share policy for a chart",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chart_id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "ID of the share policy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharePolicyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated share policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharePolicy"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "delete": {
        "description": "Delete a share policy for a chart",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chart_id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "ID of the share policy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted share policy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/{id}/share/token": {
      "post": {
        "description": "Generate a share token for a chart embed",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartShareTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated chart share token and URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          },
          "401": {
            "description": "Not authorized"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/{id}/chart-dataset-config": {
      "post": {
        "description": "Create a new chart dataset configuration",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartDatasetConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created chart dataset configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartDatasetConfig"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/chart/{id}/chart-dataset-config/{cdc_id}": {
      "put": {
        "description": "Update a chart dataset configuration",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cdc_id",
            "in": "path",
            "description": "ID of the chart dataset configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartDatasetConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated chart dataset configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartDatasetConfig"
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      },
      "delete": {
        "description": "Delete a chart dataset configuration",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the chart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cdc_id",
            "in": "path",
            "description": "ID of the chart dataset configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted chart dataset configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Project"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "TeamRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamRole"
            }
          },
          "showBranding": {
            "type": "boolean"
          },
          "allowReportRefresh": {
            "type": "boolean"
          },
          "allowReportExport": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTeam": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "showBranding": {
            "type": "boolean"
          },
          "allowReportRefresh": {
            "type": "boolean"
          },
          "allowReportExport": {
            "type": "boolean"
          }
        }
      },
      "UserTeams": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            },
            "TeamRoles": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TeamRole"
              }
            },
            "Projects": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "Charts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Connections": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            },
            "showBranding": {
              "type": "boolean"
            },
            "allowReportRefresh": {
              "type": "boolean"
            },
            "allowReportExport": {
              "type": "boolean"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time"
            },
            "updatedAt": {
              "type": "string",
              "format": "date-time"
            }
          }
        }
      },
      "TeamRole": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "canExport": {
            "type": "boolean"
          }
        }
      },
      "ConnectionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "project_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "oauth_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "mongodb",
              "api",
              "mysql",
              "postgres",
              "realtimedb",
              "firestore",
              "googleAnalytics",
              "customerio"
            ]
          },
          "subType": {
            "type": "string",
            "enum": [
              "timescaledb",
              "supabasedb",
              "rdsPostgres",
              "rdsMysql"
            ]
          },
          "active": {
            "type": "boolean",
            "default": true
          },
          "ssl": {
            "type": "boolean",
            "default": false
          },
          "sslMode": {
            "type": "string",
            "default": "require"
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "project_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "oauth_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "mongodb",
              "api",
              "mysql",
              "postgres",
              "realtimedb",
              "firestore",
              "googleAnalytics",
              "customerio"
            ]
          },
          "subType": {
            "type": "string",
            "description": "Used for connections based on main types",
            "enum": [
              "timescaledb",
              "supabasedb",
              "rdsPostgres",
              "rdsMysql",
              "api",
              "mongodb",
              "api",
              "mysql",
              "postgres",
              "realtimedb",
              "firestore",
              "googleAnalytics",
              "customerio"
            ]
          },
          "active": {
            "type": "boolean",
            "default": true
          },
          "host": {
            "type": "string"
          },
          "dbName": {
            "type": "string"
          },
          "port": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "srv": {
            "type": "boolean",
            "default": false
          },
          "options": {
            "type": "object"
          },
          "connectionString": {
            "type": "string",
            "description": "Used for MongoDB, Postgres, and MySQL connections"
          },
          "authentication": {
            "type": "object",
            "description": "Used for API connections",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "bearer_token",
                  "basic_auth"
                ]
              },
              "token": {
                "type": "string"
              },
              "user": {
                "type": "string"
              },
              "pass": {
                "type": "string"
              }
            }
          },
          "firebaseServiceAccount": {
            "type": "object",
            "description": "JSON object containing the Firebase service account credentials"
          },
          "ssl": {
            "type": "boolean",
            "default": false
          },
          "sslMode": {
            "type": "string",
            "default": "require"
          },
          "sslCa": {
            "type": "string"
          },
          "sslCert": {
            "type": "string"
          },
          "sslKey": {
            "type": "string"
          },
          "schema": {
            "type": "object"
          }
        }
      },
      "NewConnection": {
        "type": "object",
        "required": [
          "name",
          "type",
          "team_id"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "mongodb",
              "api",
              "mysql",
              "postgres",
              "realtimedb",
              "firestore",
              "googleAnalytics",
              "customerio"
            ]
          },
          "subType": {
            "type": "string",
            "description": "Used for connections based on main types",
            "enum": [
              "timescaledb",
              "supabasedb",
              "rdsPostgres",
              "rdsMysql",
              "api",
              "mongodb",
              "api",
              "mysql",
              "postgres",
              "realtimedb",
              "firestore",
              "googleAnalytics",
              "customerio"
            ]
          },
          "team_id": {
            "type": "integer"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "description": "Used for MongoDB, Postgres, and MySQL connections"
          },
          "authentication": {
            "type": "object",
            "description": "Used for API connections",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "bearer_token",
                  "basic_auth"
                ]
              },
              "token": {
                "type": "string"
              },
              "user": {
                "type": "string"
              },
              "pass": {
                "type": "string"
              }
            }
          },
          "firebaseServiceAccount": {
            "type": "object",
            "description": "JSON object containing the Firebase service account credentials"
          },
          "ssl": {
            "type": "boolean",
            "default": false
          },
          "sslMode": {
            "type": "string",
            "default": "require"
          },
          "schema": {
            "type": "object",
            "description": "Used for Postgres and MySQL. This gets populated automatically whenever the connection is used in a chart."
          }
        }
      },
      "ConnectionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "description": "Used for MongoDB, Postgres, and MySQL connections"
          },
          "type": {
            "type": "string",
            "enum": [
              "mongodb",
              "api",
              "mysql",
              "postgres"
            ]
          },
          "subType": {
            "type": "string",
            "description": "Used for connections based on main types",
            "enum": [
              "timescaledb",
              "supabasedb",
              "rdsPostgres",
              "rdsMysql",
              "api",
              "mongodb",
              "api",
              "mysql",
              "postgres",
              "realtimedb",
              "firestore",
              "googleAnalytics",
              "customerio"
            ]
          },
          "authentication": {
            "type": "object",
            "description": "Used for API connections",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "bearer_token",
                  "basic_auth"
                ]
              },
              "token": {
                "type": "string"
              },
              "user": {
                "type": "string"
              },
              "pass": {
                "type": "string"
              }
            }
          },
          "firebaseServiceAccount": {
            "type": "object",
            "description": "JSON object containing the Firebase service account credentials"
          },
          "ssl": {
            "type": "boolean",
            "default": false
          },
          "sslMode": {
            "type": "string",
            "default": "require"
          },
          "schema": {
            "type": "object",
            "description": "Used for Postgres and MySQL. This gets populated automatically whenever the connection is used in a chart."
          },
          "project_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "project_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "chart_id": {
            "type": "integer"
          },
          "connection_id": {
            "type": "integer"
          },
          "draft": {
            "type": "boolean",
            "default": true
          },
          "query": {
            "type": "string"
          },
          "xAxis": {
            "type": "string"
          },
          "xAxisOperation": {
            "type": "string"
          },
          "yAxis": {
            "type": "string"
          },
          "yAxisOperation": {
            "type": "string",
            "default": "none"
          },
          "dateField": {
            "type": "string"
          },
          "dateFormat": {
            "type": "string"
          },
          "legend": {
            "type": "string"
          },
          "fieldsSchema": {
            "type": "object"
          },
          "excludedFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "configuration": {
            "type": "object"
          },
          "joinSettings": {
            "type": "object",
            "properties": {
              "joins": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "dr_id": {
                      "type": "integer",
                      "description": "DataRequest ID"
                    },
                    "join_id": {
                      "type": "integer"
                    },
                    "dr_field": {
                      "type": "string"
                    },
                    "join_field": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "NewDataset": {
        "type": "object",
        "required": [
          "team_id"
        ],
        "properties": {
          "team_id": {
            "type": "integer"
          },
          "project_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "name": {
            "type": "string"
          },
          "connection_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "datasetColor": {
            "type": "string"
          },
          "dateField": {
            "type": "string"
          },
          "dateFormat": {
            "type": "string"
          },
          "legend": {
            "type": "string"
          },
          "configuration": {
            "type": "object"
          }
        }
      },
      "QuickCreateDataset": {
        "type": "object",
        "required": [
          "team_id"
        ],
        "description": "Create a dataset with all its data requests in one API call",
        "properties": {
          "team_id": {
            "type": "integer",
            "description": "ID of the team"
          },
          "project_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of project IDs where members can access the dataset"
          },
          "draft": {
            "type": "boolean",
            "default": true,
            "description": "Whether the dataset is a draft and should be hidden from dashboard viewers"
          },
          "dimension": {
            "type": "string",
            "description": "X axis or metric field using traversal syntax - root[].field"
          },
          "metric": {
            "type": "string",
            "description": "Y axis field using traversal syntax"
          },
          "metricOperation": {
            "type": "string",
            "default": "none",
            "description": "Operation to perform on the y-axis - none, sum, avg, min, max, count",
            "enum": [
              "none",
              "count",
              "count_unique",
              "sum",
              "avg",
              "min",
              "max"
            ]
          },
          "dateField": {
            "type": "string",
            "description": "Date field using traversal syntax. Specifies which field should be used for date filtering."
          },
          "dateFormat": {
            "type": "string",
            "description": "Date format to use for date filtering. e.g YYYY-MM-DD"
          },
          "legend": {
            "type": "string",
            "description": "Legend label (name) of the dataset"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions to apply to the dataset - used for filtering",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "field": {
                  "type": "string",
                  "description": "Field using traversal syntax - root[].field"
                },
                "operator": {
                  "type": "string",
                  "enum": [
                    "is",
                    "isNot",
                    "greaterThan",
                    "lessThan",
                    "greaterThanOrEqual",
                    "lessThanOrEqual",
                    "contains",
                    "notContains",
                    "isNull",
                    "isNotNull"
                  ],
                  "description": "Comparison operator"
                },
                "value": {
                  "type": "string"
                },
                "displayValues": {
                  "type": "boolean",
                  "description": "Whether to display the values in the dropdown UI"
                }
              }
            }
          },
          "fieldsSchema": {
            "type": "object",
            "description": "Schema of the fields in the dataset key(field name) => value(type). This gets populated automatically whenever the dataset is used in a chart."
          },
          "joinSettings": {
            "type": "object",
            "description": "Join settings for the dataset. Use indices (0-based) in joins array to reference data requests before they are created.",
            "properties": {
              "joins": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "dr_id": {
                      "type": "integer",
                      "description": "Index (0-based) of the data request in dataRequests array, or DataRequest ID after creation"
                    },
                    "join_id": {
                      "type": "integer",
                      "description": "Index (0-based) of the join data request in dataRequests array, or DataRequest ID after creation"
                    },
                    "dr_field": {
                      "type": "string",
                      "description": "Field in the dataset to join on"
                    },
                    "join_field": {
                      "type": "string",
                      "description": "Field in the main source data request to join on"
                    },
                    "alias": {
                      "type": "string",
                      "description": "Alias for the joined data"
                    }
                  }
                }
              }
            }
          },
          "dataRequests": {
            "type": "array",
            "description": "Array of data requests to create with the dataset",
            "items": {
              "$ref": "#/components/schemas/QuickCreateDataRequest"
            }
          },
          "main_dr_index": {
            "type": "integer",
            "default": 0,
            "description": "Index (0-based) of the main data request in the dataRequests array. Defaults to 0."
          },
          "variableBindings": {
            "type": "array",
            "description": "Variable bindings for the dataset. The entity_type and entity_id will be automatically set.",
            "items": {
              "$ref": "#/components/schemas/NewVariableBinding"
            }
          }
        }
      },
      "NewVariableBinding": {
        "type": "object",
        "description": "Variable binding to create. entity_type and entity_id are automatically set based on the parent entity.",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Variable name. Can be provided with or without {{ }} wrapper (e.g., 'myVar' or '{{myVar}}'). The wrapper will be automatically removed."
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "boolean",
              "date"
            ],
            "description": "Type of the variable"
          },
          "default_value": {
            "type": "string",
            "description": "Default value for the variable"
          },
          "required": {
            "type": "boolean",
            "default": false,
            "description": "Whether the variable is required"
          }
        }
      },
      "DatasetUpdate": {
        "type": "object",
        "properties": {
          "project_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "name": {
            "type": "string"
          },
          "connection_id": {
[...]
