[
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 0
      }
    },
    "message": "'true' is not of type 'boolean'",
    "severity": 1,
    "code": "type",
    "code_description": null,
    "source": "openapi-spec-validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec"
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 0
      }
    },
    "message": "'true' is not of type 'boolean'",
    "severity": 1,
    "code": "type",
    "code_description": null,
    "source": "openapi-spec-validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec"
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Total Operations count: 2",
    "severity": 3,
    "code": "total_operations",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "total_operations": 2,
      "paths": [
        [
          "paths",
          "/apis",
          "get"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get"
        ]
      ]
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Operations using RFC 9457: 0",
    "severity": 3,
    "code": "operations_using_RFC9457",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "operations_using_RFC9457": 0,
      "paths": []
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Operations with operationId: 2",
    "severity": 3,
    "code": "operations_with_operationId",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "operations_with_operationId": 2,
      "paths": [
        [
          "paths",
          "/apis",
          "get"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get"
        ]
      ],
      "operation_ids": [
        "discovery.apis.list",
        "discovery.apis.getRest"
      ]
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Schemas count: 145",
    "severity": 3,
    "code": "schema_count",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "schema_count": 145,
      "paths": [
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          0,
          "schema"
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          1,
          "schema"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          0,
          "schema"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          1,
          "schema"
        ],
        [
          "components",
          "schemas",
          "DirectoryList"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryRestUrl"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "labels",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "preferred"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "JsonSchema"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations",
          "properties",
          "required",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "default"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enum",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDeprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDeprecated",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDescriptions"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDescriptions",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "format"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "maximum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "minimum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "pattern"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "properties"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "readOnly"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "repeated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "type"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "discriminant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items",
          "properties",
          "type_value"
        ],
        [
          "components",
          "schemas",
          "RestDescription"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "basePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "baseUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "batchPath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "canonicalName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "endpointUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "etag"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "exponentialBackoffDefault"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "features"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "features",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "labels",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "methods"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerDomain"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "packagePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "protocol"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "resources"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "revision"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "rootUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "schemas"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "servicePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "version_module"
        ],
        [
          "components",
          "schemas",
          "RestMethod"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "apiVersion"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "etagRequired"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "flatPath"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "httpMethod"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "accept"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "accept",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "maxSize"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameterOrder"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameterOrder",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request",
          "properties",
          "parameterName"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "response"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "response",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "scopes"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "scopes",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsMediaDownload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsMediaUpload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsSubscription"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "useMediaDownloadService"
        ],
        [
          "components",
          "schemas",
          "RestResource"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "methods"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "resources"
        ],
        [
          "components",
          "parameters",
          "alt",
          "schema"
        ],
        [
          "components",
          "parameters",
          "fields",
          "schema"
        ],
        [
          "components",
          "parameters",
          "key",
          "schema"
        ],
        [
          "components",
          "parameters",
          "oauth_token",
          "schema"
        ],
        [
          "components",
          "parameters",
          "prettyPrint",
          "schema"
        ],
        [
          "components",
          "parameters",
          "quotaUser",
          "schema"
        ],
        [
          "components",
          "parameters",
          "userIp",
          "schema"
        ]
      ]
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Security Schemes count: 0",
    "severity": 3,
    "code": "security_scheme_count",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "security_scheme_count": 0,
      "paths": []
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Security scheme types: []",
    "severity": 3,
    "code": "security_scheme_types",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "security_scheme_types": [],
      "paths": []
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Security schemes: 0 Security Schemes",
    "severity": 3,
    "code": "security_schemes",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "security_schemes": [],
      "paths": []
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Tags count: 1",
    "severity": 3,
    "code": "tag_count",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "tag_count": 1,
      "paths": [
        [
          "paths",
          "/apis",
          "get",
          "tags",
          0
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "tags",
          0
        ],
        [
          "tags",
          0
        ]
      ]
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Expected examples: 158",
    "severity": 3,
    "code": "expected_examples",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "expected_examples": 158,
      "paths": [
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          0
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          0,
          "schema"
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          1
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          1,
          "schema"
        ],
        [
          "paths",
          "/apis",
          "get",
          "responses",
          "200",
          "content",
          "*/*"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          0
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          0,
          "schema"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          1
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          1,
          "schema"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "responses",
          "200",
          "content",
          "*/*"
        ],
        [
          "components",
          "schemas",
          "DirectoryList"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryRestUrl"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "labels",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "preferred"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "JsonSchema"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations",
          "properties",
          "required",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "default"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enum",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDeprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDeprecated",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDescriptions"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDescriptions",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "format"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "maximum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "minimum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "pattern"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "properties"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "readOnly"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "repeated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "type"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "discriminant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items",
          "properties",
          "type_value"
        ],
        [
          "components",
          "schemas",
          "RestDescription"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "basePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "baseUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "batchPath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "canonicalName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "endpointUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "etag"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "exponentialBackoffDefault"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "features"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "features",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "labels",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "methods"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerDomain"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "packagePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "protocol"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "resources"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "revision"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "rootUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "schemas"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "servicePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "version_module"
        ],
        [
          "components",
          "schemas",
          "RestMethod"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "apiVersion"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "etagRequired"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "flatPath"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "httpMethod"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "accept"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "accept",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "maxSize"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameterOrder"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameterOrder",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request",
          "properties",
          "parameterName"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "response"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "response",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "scopes"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "scopes",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsMediaDownload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsMediaUpload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsSubscription"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "useMediaDownloadService"
        ],
        [
          "components",
          "schemas",
          "RestResource"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "methods"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "resources"
        ],
        [
          "components",
          "parameters",
          "alt"
        ],
        [
          "components",
          "parameters",
          "alt",
          "schema"
        ],
        [
          "components",
          "parameters",
          "fields"
        ],
        [
          "components",
          "parameters",
          "fields",
          "schema"
        ],
        [
          "components",
          "parameters",
          "key"
        ],
        [
          "components",
          "parameters",
          "key",
          "schema"
        ],
        [
          "components",
          "parameters",
          "oauth_token"
        ],
        [
          "components",
          "parameters",
          "oauth_token",
          "schema"
        ],
        [
          "components",
          "parameters",
          "prettyPrint"
        ],
        [
          "components",
          "parameters",
          "prettyPrint",
          "schema"
        ],
        [
          "components",
          "parameters",
          "quotaUser"
        ],
        [
          "components",
          "parameters",
          "quotaUser",
          "schema"
        ],
        [
          "components",
          "parameters",
          "userIp"
        ],
        [
          "components",
          "parameters",
          "userIp",
          "schema"
        ]
      ]
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Present examples: 0",
    "severity": 3,
    "code": "present_examples",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "present_examples": 0,
      "paths": []
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Total examples: 0",
    "severity": 3,
    "code": "total_examples",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "total_examples": 0,
      "paths": []
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Summaries expected: 4",
    "severity": 3,
    "code": "summaries_expected",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "summaries_expected": 4,
      "paths": [
        [
          "paths",
          "/apis"
        ],
        [
          "paths",
          "/apis",
          "get"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get"
        ]
      ]
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Summaries present: 0",
    "severity": 3,
    "code": "summaries_present",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "summaries_present": 0,
      "paths": []
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Describable elements: 166",
    "severity": 3,
    "code": "describable_elements",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "describable_elements": 166,
      "paths": [
        [
          "info"
        ],
        [
          "servers",
          0
        ],
        [
          "paths",
          "/apis"
        ],
        [
          "paths",
          "/apis",
          "get"
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          0
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          0,
          "schema"
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          1
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          1,
          "schema"
        ],
        [
          "paths",
          "/apis",
          "get",
          "responses",
          "200"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          0
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          0,
          "schema"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          1
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          1,
          "schema"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "responses",
          "200"
        ],
        [
          "components",
          "schemas",
          "DirectoryList"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryRestUrl"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "labels",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "preferred"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "JsonSchema"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations",
          "properties",
          "required",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "default"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enum",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDeprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDeprecated",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDescriptions"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDescriptions",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "format"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "maximum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "minimum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "pattern"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "properties"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "readOnly"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "repeated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "type"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "discriminant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map",
          "items",
          "properties",
          "type_value"
        ],
        [
          "components",
          "schemas",
          "RestDescription"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "basePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "baseUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "batchPath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "canonicalName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "endpointUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "etag"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "exponentialBackoffDefault"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "features"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "features",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "labels",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "methods"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerDomain"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "packagePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "protocol"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "resources"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "revision"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "rootUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "schemas"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "servicePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "version_module"
        ],
        [
          "components",
          "schemas",
          "RestMethod"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "apiVersion"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "etagRequired"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "flatPath"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "httpMethod"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "accept"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "accept",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "maxSize"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameterOrder"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameterOrder",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "request",
          "properties",
          "parameterName"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "response"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "response",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "scopes"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "scopes",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsMediaDownload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsMediaUpload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "supportsSubscription"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "useMediaDownloadService"
        ],
        [
          "components",
          "schemas",
          "RestResource"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "methods"
        ],
        [
          "components",
          "schemas",
          "RestResource",
          "properties",
          "resources"
        ],
        [
          "components",
          "parameters",
          "alt"
        ],
        [
          "components",
          "parameters",
          "alt",
          "schema"
        ],
        [
          "components",
          "parameters",
          "fields"
        ],
        [
          "components",
          "parameters",
          "fields",
          "schema"
        ],
        [
          "components",
          "parameters",
          "key"
        ],
        [
          "components",
          "parameters",
          "key",
          "schema"
        ],
        [
          "components",
          "parameters",
          "oauth_token"
        ],
        [
          "components",
          "parameters",
          "oauth_token",
          "schema"
        ],
        [
          "components",
          "parameters",
          "prettyPrint"
        ],
        [
          "components",
          "parameters",
          "prettyPrint",
          "schema"
        ],
        [
          "components",
          "parameters",
          "quotaUser"
        ],
        [
          "components",
          "parameters",
          "quotaUser",
          "schema"
        ],
        [
          "components",
          "parameters",
          "userIp"
        ],
        [
          "components",
          "parameters",
          "userIp",
          "schema"
        ],
        [
          "tags",
          0
        ],
        [
          "externalDocs"
        ]
      ]
    }
  },
  {
    "range": {
      "start": {
        "line": 0,
        "character": 0
      },
      "end": {
        "line": 0,
        "character": 12
      }
    },
    "message": "Described elements: 130",
    "severity": 3,
    "code": "described_elements",
    "code_description": null,
    "source": "scoring_validator",
    "tags": null,
    "related_information": null,
    "data": {
      "fixable": true,
      "path": [],
      "target": "bundled-spec",
      "described_elements": 130,
      "paths": [
        [
          "info"
        ],
        [
          "paths",
          "/apis",
          "get"
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          0
        ],
        [
          "paths",
          "/apis",
          "get",
          "parameters",
          1
        ],
        [
          "paths",
          "/apis",
          "get",
          "responses",
          "200"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get"
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          0
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "parameters",
          1
        ],
        [
          "paths",
          "/apis/{api}/{version}/rest",
          "get",
          "responses",
          "200"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "discoveryRestUrl"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "preferred"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "items",
          "items",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "DirectoryList",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "$ref"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "annotations",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "default"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDeprecated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "enumDescriptions"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "format"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "maximum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "minimum"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "pattern"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "properties"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "readOnly"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "repeated"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "required"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "type"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "discriminant"
        ],
        [
          "components",
          "schemas",
          "JsonSchema",
          "properties",
          "variant",
          "properties",
          "map"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "basePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "auth",
          "properties",
          "oauth2",
          "properties",
          "scopes",
          "additionalProperties",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "baseUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "batchPath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "canonicalName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "discoveryVersion"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "documentationLink"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "endpointUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "endpoints",
          "items",
          "properties",
          "location"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "etag"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "exponentialBackoffDefault"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "features"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x16"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "icons",
          "properties",
          "x32"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "kind"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "labels"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "methods"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "name"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerDomain"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "ownerName"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "packagePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "protocol"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "resources"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "revision"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "rootUrl"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "schemas"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "servicePath"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "title"
        ],
        [
          "components",
          "schemas",
          "RestDescription",
          "properties",
          "version"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameters"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "apiVersion"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "deprecated"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "description"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "etagRequired"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "flatPath"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "httpMethod"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "id"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "accept"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "maxSize"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "resumable",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "multipart"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "mediaUpload",
          "properties",
          "protocols",
          "properties",
          "simple",
          "properties",
          "path"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
          "properties",
          "parameterOrder"
        ],
        [
          "components",
          "schemas",
          "RestMethod",
[...]
