{
  "openapi": "3.0.3",
  "info": {
    "title": "Recooty API",
    "version": "1.0.0",
    "description": "Recooty AI recruitment and applicant tracking system API. Manage jobs, applications, interviews, candidates, and talent pools.",
    "x-jentic-source-url": "https://app.recooty.com/settings/integrations/api-docs"
  },
  "servers": [
    {
      "url": "https://app.recooty.com",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and session management"
    },
    {
      "name": "Jobs",
      "description": "Job posting management"
    },
    {
      "name": "Applications",
      "description": "Application and candidate management"
    },
    {
      "name": "Interviews",
      "description": "Interview scheduling and scoring"
    },
    {
      "name": "Talent Pool",
      "description": "Talent pool management"
    },
    {
      "name": "Reports",
      "description": "Analytics and reporting"
    },
    {
      "name": "Templates",
      "description": "Email template management"
    },
    {
      "name": "Integrations",
      "description": "Third-party integrations"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User logout",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Successfully logged out"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": ["Jobs"],
        "summary": "List all jobs",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["open", "closed", "draft"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Jobs"],
        "summary": "Create job posting",
        "operationId": "createJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        }
      }
    },
    "/jobs/{job_post}": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get job details",
        "operationId": "getJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobPostParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": ["Jobs"],
        "summary": "Update job",
        "operationId": "updateJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobPostParameter"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": ["Jobs"],
        "summary": "Delete job",
        "operationId": "deleteJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobPostParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Job deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/jobs/{job_post}/skills": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get job skills",
        "operationId": "getJobSkills",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobPostParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job skills",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "required": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job}/application/update-status": {
      "post": {
        "tags": ["Applications"],
        "summary": "Update application status",
        "operationId": "updateApplicationStatus",
        "parameters": [
          {
            "name": "job",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["application_id", "status"],
                "properties": {
                  "application_id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["new", "screening", "interview", "offer", "hired", "rejected"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job}/application/move-to-job": {
      "post": {
        "tags": ["Applications"],
        "summary": "Move application to different job",
        "operationId": "moveApplication",
        "parameters": [
          {
            "name": "job",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["application_id", "target_job_id"],
                "properties": {
                  "application_id": {
                    "type": "string"
                  },
                  "target_job_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application moved successfully"
          }
        }
      }
    },
    "/jobs/{job}/application/{application}": {
      "delete": {
        "tags": ["Applications"],
        "summary": "Delete application",
        "operationId": "deleteApplication",
        "parameters": [
          {
            "name": "job",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "application",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Application deleted successfully"
          }
        }
      }
    },
    "/application/store_candidate/{jobPost}": {
      "post": {
        "tags": ["Applications"],
        "summary": "Add candidate to job",
        "operationId": "addCandidate",
        "parameters": [
          {
            "name": "jobPost",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "first_name", "last_name"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "resume_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      }
    },
    "/interview": {
      "get": {
        "tags": ["Interviews"],
        "summary": "List interviews",
        "operationId": "listInterviews",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of interviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Interview"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Interviews"],
        "summary": "Schedule interview",
        "operationId": "createInterview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterviewInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Interview scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Interview"
                }
              }
            }
          }
        }
      }
    },
    "/interview/bulk": {
      "post": {
        "tags": ["Interviews"],
        "summary": "Create multiple interviews",
        "operationId": "bulkCreateInterviews",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["interviews"],
                "properties": {
                  "interviews": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InterviewInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Interviews created successfully"
          }
        }
      }
    },
    "/interview/{interview}": {
      "get": {
        "tags": ["Interviews"],
        "summary": "Get interview details",
        "operationId": "getInterview",
        "parameters": [
          {
            "name": "interview",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interview details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Interview"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Interviews"],
        "summary": "Update interview",
        "operationId": "updateInterview",
        "parameters": [
          {
            "name": "interview",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterviewInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interview updated"
          }
        }
      },
      "delete": {
        "tags": ["Interviews"],
        "summary": "Cancel interview",
        "operationId": "deleteInterview",
        "parameters": [
          {
            "name": "interview",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Interview cancelled"
          }
        }
      }
    },
    "/interview/{interview}/scorecard": {
      "post": {
        "tags": ["Interviews"],
        "summary": "Create interview scorecard",
        "operationId": "createScorecard",
        "parameters": [
          {
            "name": "interview",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scores": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "criterion": {
                          "type": "string"
                        },
                        "score": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 5
                        },
                        "notes": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "overall_rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "recommendation": {
                    "type": "string",
                    "enum": ["strong_hire", "hire", "no_hire", "strong_no_hire"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Scorecard created"
          }
        }
      }
    },
    "/talent-pool": {
      "get": {
        "tags": ["Talent Pool"],
        "summary": "List talent pools",
        "operationId": "listTalentPools",
        "responses": {
          "200": {
            "description": "List of talent pools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TalentPool"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Talent Pool"],
        "summary": "Create talent pool",
        "operationId": "createTalentPool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Talent pool created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TalentPool"
                }
              }
            }
          }
        }
      }
    },
    "/talent-pool/{talent_pool}": {
      "get": {
        "tags": ["Talent Pool"],
        "summary": "Get talent pool",
        "operationId": "getTalentPool",
        "parameters": [
          {
            "name": "talent_pool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Talent pool details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TalentPool"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Talent Pool"],
        "summary": "Update talent pool",
        "operationId": "updateTalentPool",
        "parameters": [
          {
            "name": "talent_pool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Talent pool updated"
          }
        }
      },
      "delete": {
        "tags": ["Talent Pool"],
        "summary": "Delete talent pool",
        "operationId": "deleteTalentPool",
        "parameters": [
          {
            "name": "talent_pool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Talent pool deleted"
          }
        }
      }
    },
    "/reports/current-pipeline": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get current pipeline metrics",
        "operationId": "getCurrentPipeline",
        "responses": {
          "200": {
            "description": "Pipeline metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_applications": {
                      "type": "integer"
                    },
                    "by_stage": {
                      "type": "object"
                    },
                    "conversion_rates": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/candidate-sources": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get candidate source analytics",
        "operationId": "getCandidateSources",
        "responses": {
          "200": {
            "description": "Source analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          },
                          "hired": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/time-to-hire": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get time to hire metrics",
        "operationId": "getTimeToHire",
        "responses": {
          "200": {
            "description": "Time to hire data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "average_days": {
                      "type": "number"
                    },
                    "by_job": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email-template": {
      "get": {
        "tags": ["Templates"],
        "summary": "List email templates",
        "operationId": "listEmailTemplates",
        "responses": {
          "200": {
            "description": "List of email templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email-template/{email_category}": {
      "post": {
        "tags": ["Templates"],
        "summary": "Create email template",
        "operationId": "createEmailTemplate",
        "parameters": [
          {
            "name": "email_category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "subject", "body"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created"
          }
        }
      }
    },
    "/email-template/{email_template}": {
      "put": {
        "tags": ["Templates"],
        "summary": "Update email template",
        "operationId": "updateEmailTemplate",
        "parameters": [
          {
            "name": "email_template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated"
          }
        }
      },
      "delete": {
        "tags": ["Templates"],
        "summary": "Delete email template",
        "operationId": "deleteEmailTemplate",
        "parameters": [
          {
            "name": "email_template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted"
          }
        }
      }
    },
    "/api/zapier/subscribe": {
      "post": {
        "tags": ["Integrations"],
        "summary": "Subscribe to Zapier webhook",
        "operationId": "subscribeZapier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target_url", "event"],
                "properties": {
                  "target_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "event": {
                    "type": "string",
                    "enum": ["application.created", "application.updated", "interview.scheduled", "candidate.hired"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "JobPostParameter": {
        "name": "job_post",
        "in": "path",
        "required": true,
        "description": "Job post slug or ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["open", "closed", "draft"]
          },
          "location": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "employment_type": {
            "type": "string",
            "enum": ["full_time", "part_time", "contract", "internship"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JobInput": {
        "type": "object",
        "required": ["title", "description"],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["open", "closed", "draft"]
          },
          "location": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "employment_type": {
            "type": "string",
            "enum": ["full_time", "part_time", "contract", "internship"]
          },
          "salary_range": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "job_id": {
            "type": "string"
          },
          "candidate": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string"
          },
          "applied_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Interview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "application_id": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "duration_minutes": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": ["phone", "video", "in_person"]
          },
          "interviewers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": ["scheduled", "completed", "cancelled"]
          }
        }
      },
      "InterviewInput": {
        "type": "object",
        "required": ["application_id", "scheduled_at"],
        "properties": {
          "application_id": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "duration_minutes": {
            "type": "integer",
            "default": 60
          },
          "type": {
            "type": "string",
            "enum": ["phone", "video", "in_person"]
          },
          "interviewers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "TalentPool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "candidate_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EmailTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Unauthorized - Invalid or missing authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Bad Request - Invalid input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found - Resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
