{
  "openapi": "3.0.3",
  "info": {
    "title": "Refinitiv API",
    "version": "1.0.0",
    "description": "Financial market data and analytics platform",
    "x-jentic-source-url": "https://developers.refinitiv.com/"
  },
  "servers": [
    {
      "url": "https://api.refinitiv.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    "Pricing",
    "Fundamentals",
    "Historical",
    "News"
  ],
  "paths": {
    "/data/pricing/v1/quotes": {
      "get": {
        "summary": "Get price quotes",
        "description": "Get price quotes",
        "tags": [
          "Pricing"
        ],
        "operationId": "getPriceQuotes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/data/historical/v1/prices": {
      "get": {
        "summary": "Get historical prices",
        "description": "Get historical prices",
        "tags": [
          "Historical"
        ],
        "operationId": "getHistoricalPrices",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/v1/headlines": {
      "get": {
        "summary": "Get news headlines",
        "description": "Get news headlines",
        "tags": [
          "News"
        ],
        "operationId": "getNewsHeadlines",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/data/fundamentals/v1/financials": {
      "get": {
        "summary": "Get financial data",
        "description": "Get financial data",
        "tags": [
          "Fundamentals"
        ],
        "operationId": "getFinancialData",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}