{
  "openapi": "3.1.0",
  "info": {
    "title": "Mapbox API",
    "description": "Mapbox APIs for maps, navigation, search, and geocoding. Includes Vector Tiles, Static Images, Directions, Isochrone, Matrix, Map Matching, Optimization, and Geocoding services.",
    "version": "5.0.0",
    "contact": {
      "name": "Mapbox Support",
      "url": "https://docs.mapbox.com"
    },
    "termsOfService": "https://www.mapbox.com/tos/"
  },
  "servers": [
    {
      "url": "https://api.mapbox.com",
      "description": "Mapbox API"
    }
  ],
  "security": [
    { "AccessToken": [] }
  ],
  "paths": {
    "/v4/{tileset_id}/{zoom}/{x}/{y}.{format}": {
      "get": {
        "operationId": "getVectorTile",
        "summary": "Retrieve Vector Tiles",
        "description": "Serves vector tiles from Mapbox-hosted vector tilesets.",
        "tags": ["Vector Tiles"],
        "parameters": [
          { "name": "tileset_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Tileset ID in format username.id, or comma-separated list of up to 15 IDs." },
          { "name": "zoom", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 0, "maximum": 30 }, "description": "Tile zoom level." },
          { "name": "x", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Tile column." },
          { "name": "y", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Tile row." },
          { "name": "format", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mvt", "vector.pbf"] }, "description": "Tile format." },
          { "name": "style", "in": "query", "schema": { "type": "string" }, "description": "Style optimization parameter in format style_id@timestamp." },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Vector tile data",
            "content": {
              "application/vnd.mapbox-vector-tile": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          }
        }
      }
    },
    "/styles/v1/{username}/{style_id}/static/{overlay}/{lon},{lat},{zoom},{bearing},{pitch}/{width}x{height}": {
      "get": {
        "operationId": "getStaticImage",
        "summary": "Retrieve Static Map Image",
        "description": "Returns a static image from a Mapbox Studio style with optional overlays.",
        "tags": ["Static Images"],
        "parameters": [
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Mapbox account username." },
          { "name": "style_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Style ID." },
          { "name": "overlay", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Comma-separated overlay features (geojson, marker, or path). Use empty string for none." },
          { "name": "lon", "in": "path", "required": true, "schema": { "type": "number", "minimum": -180, "maximum": 180 }, "description": "Longitude." },
          { "name": "lat", "in": "path", "required": true, "schema": { "type": "number", "minimum": -85.0511, "maximum": 85.0511 }, "description": "Latitude." },
          { "name": "zoom", "in": "path", "required": true, "schema": { "type": "number", "minimum": 0, "maximum": 22 }, "description": "Zoom level." },
          { "name": "bearing", "in": "path", "required": true, "schema": { "type": "number", "minimum": 0, "maximum": 360 }, "description": "Map rotation in degrees." },
          { "name": "pitch", "in": "path", "required": true, "schema": { "type": "number", "minimum": 0, "maximum": 60 }, "description": "Tilt in degrees." },
          { "name": "width", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1, "maximum": 1280 }, "description": "Image width in pixels." },
          { "name": "height", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1, "maximum": 1280 }, "description": "Image height in pixels." },
          { "name": "attribution", "in": "query", "schema": { "type": "boolean", "default": true }, "description": "Include attribution text." },
          { "name": "logo", "in": "query", "schema": { "type": "boolean", "default": true }, "description": "Include Mapbox logo." },
          { "name": "before_layer", "in": "query", "schema": { "type": "string" }, "description": "Layer insertion point for overlays." },
          { "name": "padding", "in": "query", "schema": { "type": "string" }, "description": "Minimum padding around content." },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "PNG image",
            "content": {
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          }
        }
      }
    },
    "/directions/v5/{profile}/{coordinates}": {
      "get": {
        "operationId": "getDirections",
        "summary": "Get Directions",
        "description": "Calculate optimal driving, walking, or cycling routes with turn-by-turn instructions.",
        "tags": ["Directions"],
        "parameters": [
          { "name": "profile", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox/driving-traffic", "mapbox/driving", "mapbox/walking", "mapbox/cycling"] }, "description": "Routing profile." },
          { "name": "coordinates", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Semicolon-separated coordinates as lon,lat pairs (2-25 pairs)." },
          { "name": "alternatives", "in": "query", "schema": { "type": "boolean" }, "description": "Request alternative routes." },
          { "name": "annotations", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated: distance, duration, speed, congestion, maxspeed." },
          { "name": "steps", "in": "query", "schema": { "type": "boolean" }, "description": "Enable turn-by-turn instructions." },
          { "name": "banner_instructions", "in": "query", "schema": { "type": "boolean" }, "description": "Include banner guidance objects." },
          { "name": "voice_instructions", "in": "query", "schema": { "type": "boolean" }, "description": "Include SSML-marked voice guidance." },
          { "name": "language", "in": "query", "schema": { "type": "string" }, "description": "Language for instructions." },
          { "name": "geometries", "in": "query", "schema": { "type": "string", "enum": ["geojson", "polyline", "polyline6"] }, "description": "Response geometry format." },
          { "name": "overview", "in": "query", "schema": { "type": "string", "enum": ["full", "simplified", "false"] }, "description": "Geometry detail level." },
          { "name": "exclude", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated road types to exclude (motorway, toll, ferry, unpaved)." },
          { "name": "include", "in": "query", "schema": { "type": "string" }, "description": "Include road types (hov2, hov3, hot)." },
          { "name": "radiuses", "in": "query", "schema": { "type": "string" }, "description": "Snapping radius per coordinate." },
          { "name": "bearings", "in": "query", "schema": { "type": "string" }, "description": "Direction influence per waypoint." },
          { "name": "approaches", "in": "query", "schema": { "type": "string" }, "description": "Curb approach per waypoint (unrestricted or curb)." },
          { "name": "depart_at", "in": "query", "schema": { "type": "string" }, "description": "Departure time in ISO 8601 format." },
          { "name": "arrive_by", "in": "query", "schema": { "type": "string" }, "description": "Arrival time in ISO 8601 format." },
          { "name": "waypoints", "in": "query", "schema": { "type": "string" }, "description": "Semicolon-separated indices of coordinates that are waypoints." },
          { "name": "waypoint_names", "in": "query", "schema": { "type": "string" }, "description": "Custom waypoint names." },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Directions response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "distance": { "type": "number", "description": "Distance in meters." },
                          "duration": { "type": "number", "description": "Duration in seconds." },
                          "geometry": { "description": "Route geometry." },
                          "legs": { "type": "array", "items": { "type": "object" } },
                          "weight": { "type": "number" },
                          "weight_name": { "type": "string" }
                        }
                      }
                    },
                    "waypoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "location": { "type": "array", "items": { "type": "number" } }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postDirections",
        "summary": "Get Directions (POST)",
        "description": "Same as GET for requests exceeding ~8100 bytes.",
        "tags": ["Directions"],
        "parameters": [
          { "name": "profile", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox/driving-traffic", "mapbox/driving", "mapbox/walking", "mapbox/cycling"] } },
          { "name": "coordinates", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": { "description": "Directions response" }
        }
      }
    },
    "/isochrone/v1/{profile}/{coordinates}": {
      "get": {
        "operationId": "getIsochrone",
        "summary": "Get Isochrone",
        "description": "Compute areas reachable within a specified time or distance from a location.",
        "tags": ["Isochrone"],
        "parameters": [
          { "name": "profile", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox/driving-traffic", "mapbox/driving", "mapbox/walking", "mapbox/cycling"] } },
          { "name": "coordinates", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Location as lon,lat." },
          { "name": "contours_minutes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated travel time contours in minutes (max 4, max 60 min each)." },
          { "name": "contours_meters", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated distance contours in meters (max 4, max 100km each)." },
          { "name": "contours_colors", "in": "query", "schema": { "type": "string" }, "description": "Hex color values for contours." },
          { "name": "polygons", "in": "query", "schema": { "type": "boolean" }, "description": "Return polygons instead of linestrings." },
          { "name": "denoise", "in": "query", "schema": { "type": "number", "minimum": 0, "maximum": 1 }, "description": "Filter smaller contours." },
          { "name": "generalize", "in": "query", "schema": { "type": "number" }, "description": "Line simplification tolerance in meters." },
          { "name": "exclude", "in": "query", "schema": { "type": "string" }, "description": "Road types to exclude." },
          { "name": "depart_at", "in": "query", "schema": { "type": "string" }, "description": "ISO 8601 departure time." },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/directions-matrix/v1/{profile}/{coordinates}": {
      "get": {
        "operationId": "getMatrix",
        "summary": "Get Travel Time Matrix",
        "description": "Return travel times and distances between many points.",
        "tags": ["Matrix"],
        "parameters": [
          { "name": "profile", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox/driving", "mapbox/driving-traffic", "mapbox/walking", "mapbox/cycling"] } },
          { "name": "coordinates", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Semicolon-separated lon,lat pairs (2-25, max 10 for traffic)." },
          { "name": "annotations", "in": "query", "schema": { "type": "string" }, "description": "duration, distance, or both (comma-separated)." },
          { "name": "approaches", "in": "query", "schema": { "type": "string" }, "description": "Semicolon-separated: unrestricted or curb." },
          { "name": "destinations", "in": "query", "schema": { "type": "string" }, "description": "Semicolon-separated indices or 'all'." },
          { "name": "sources", "in": "query", "schema": { "type": "string" }, "description": "Semicolon-separated indices or 'all'." },
          { "name": "fallback_speed", "in": "query", "schema": { "type": "integer" }, "description": "Speed in km/h for null route estimates." },
          { "name": "depart_at", "in": "query", "schema": { "type": "string" }, "description": "ISO 8601 timestamp." },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Matrix response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "durations": { "type": "array", "items": { "type": "array", "items": { "type": "number" } } },
                    "distances": { "type": "array", "items": { "type": "array", "items": { "type": "number" } } },
                    "sources": { "type": "array", "items": { "type": "object" } },
                    "destinations": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matching/v5/{profile}/{coordinates}.json": {
      "get": {
        "operationId": "getMapMatching",
        "summary": "Map Matching",
        "description": "Snap fuzzy, inaccurate GPS traces to the road network.",
        "tags": ["Map Matching"],
        "parameters": [
          { "name": "profile", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox/driving", "mapbox/driving-traffic", "mapbox/walking", "mapbox/cycling"] } },
          { "name": "coordinates", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Semicolon-separated lon,lat pairs (2-100 coordinates)." },
          { "name": "annotations", "in": "query", "schema": { "type": "string" }, "description": "distance, duration, speed, congestion, maxspeed." },
          { "name": "approaches", "in": "query", "schema": { "type": "string" } },
          { "name": "geometries", "in": "query", "schema": { "type": "string", "enum": ["geojson", "polyline", "polyline6"] } },
          { "name": "overview", "in": "query", "schema": { "type": "string", "enum": ["full", "simplified", "false"] } },
          { "name": "radiuses", "in": "query", "schema": { "type": "string" }, "description": "Semicolon-separated snapping radius (0-50m)." },
          { "name": "steps", "in": "query", "schema": { "type": "boolean" } },
          { "name": "tidy", "in": "query", "schema": { "type": "boolean" }, "description": "Preprocess input to remove redundant coordinates." },
          { "name": "timestamps", "in": "query", "schema": { "type": "string" }, "description": "Semicolon-separated Unix timestamps." },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "waypoints", "in": "query", "schema": { "type": "string" } },
          { "name": "waypoint_names", "in": "query", "schema": { "type": "string" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Map matching response",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postMapMatching",
        "summary": "Map Matching (POST)",
        "description": "POST version for large requests exceeding ~8100 bytes.",
        "tags": ["Map Matching"],
        "parameters": [
          { "name": "profile", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox/driving", "mapbox/driving-traffic", "mapbox/walking", "mapbox/cycling"] } },
          { "name": "coordinates", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": { "description": "Map matching response" }
        }
      }
    },
    "/optimized-trips/v1/{profile}/{coordinates}": {
      "get": {
        "operationId": "getOptimizedTrip",
        "summary": "Optimization",
        "description": "Return a duration-optimized route between input coordinates.",
        "tags": ["Optimization"],
        "parameters": [
          { "name": "profile", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox/driving", "mapbox/driving-traffic", "mapbox/walking", "mapbox/cycling"] } },
          { "name": "coordinates", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Semicolon-separated lon,lat pairs (2-12 coordinates)." },
          { "name": "annotations", "in": "query", "schema": { "type": "string" } },
          { "name": "approaches", "in": "query", "schema": { "type": "string" } },
          { "name": "bearings", "in": "query", "schema": { "type": "string" } },
          { "name": "destination", "in": "query", "schema": { "type": "string", "enum": ["any", "last"] } },
          { "name": "distributions", "in": "query", "schema": { "type": "string" }, "description": "Pick-up/drop-off location pairs." },
          { "name": "geometries", "in": "query", "schema": { "type": "string", "enum": ["geojson", "polyline", "polyline6"] } },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "overview", "in": "query", "schema": { "type": "string", "enum": ["full", "simplified", "false"] } },
          { "name": "radiuses", "in": "query", "schema": { "type": "string" } },
          { "name": "source", "in": "query", "schema": { "type": "string", "enum": ["any", "first"] } },
          { "name": "steps", "in": "query", "schema": { "type": "boolean" } },
          { "name": "roundtrip", "in": "query", "schema": { "type": "boolean" } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Optimization response",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/geocoding/v5/{endpoint}/{search_text}.json": {
      "get": {
        "operationId": "forwardGeocode",
        "summary": "Forward Geocoding",
        "description": "Convert location text into geographic coordinates.",
        "tags": ["Geocoding"],
        "parameters": [
          { "name": "endpoint", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox.places", "mapbox.places-permanent"] }, "description": "Geocoding endpoint." },
          { "name": "search_text", "in": "path", "required": true, "schema": { "type": "string" }, "description": "URL-encoded search text (place name, address, etc.)." },
          { "name": "autocomplete", "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "bbox", "in": "query", "schema": { "type": "string" }, "description": "Bounding box: minLon,minLat,maxLon,maxLat." },
          { "name": "country", "in": "query", "schema": { "type": "string" }, "description": "ISO 3166 alpha-2 country codes." },
          { "name": "fuzzyMatch", "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "language", "in": "query", "schema": { "type": "string" }, "description": "IETF language tag." },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 5, "maximum": 10 } },
          { "name": "proximity", "in": "query", "schema": { "type": "string" }, "description": "lon,lat or 'ip' for proximity bias." },
          { "name": "routing", "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "types", "in": "query", "schema": { "type": "string" }, "description": "Feature type filters (country, region, postcode, district, place, locality, neighborhood, address, poi)." },
          { "name": "worldview", "in": "query", "schema": { "type": "string", "enum": ["ar", "cn", "in", "jp", "ma", "rs", "ru", "tr", "us"] } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection of results",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/geocoding/v5/{endpoint}/{longitude},{latitude}.json": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse Geocoding",
        "description": "Convert geographic coordinates into place names and addresses.",
        "tags": ["Geocoding"],
        "parameters": [
          { "name": "endpoint", "in": "path", "required": true, "schema": { "type": "string", "enum": ["mapbox.places", "mapbox.places-permanent"] } },
          { "name": "longitude", "in": "path", "required": true, "schema": { "type": "number" } },
          { "name": "latitude", "in": "path", "required": true, "schema": { "type": "number" } },
          { "name": "country", "in": "query", "schema": { "type": "string" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 1, "maximum": 10 } },
          { "name": "reverseMode", "in": "query", "schema": { "type": "string", "enum": ["distance", "score"] } },
          { "name": "routing", "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "types", "in": "query", "schema": { "type": "string" } },
          { "name": "worldview", "in": "query", "schema": { "type": "string", "enum": ["ar", "cn", "in", "jp", "ma", "rs", "ru", "tr", "us"] } },
          { "name": "access_token", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "Mapbox access token."
      }
    }
  },
  "tags": [
    { "name": "Vector Tiles", "description": "Serve vector tiles from Mapbox tilesets." },
    { "name": "Static Images", "description": "Generate static map images." },
    { "name": "Directions", "description": "Calculate routes with turn-by-turn instructions." },
    { "name": "Isochrone", "description": "Compute reachable areas from a location." },
    { "name": "Matrix", "description": "Calculate travel times and distances between points." },
    { "name": "Map Matching", "description": "Snap GPS traces to the road network." },
    { "name": "Optimization", "description": "Duration-optimized routing." },
    { "name": "Geocoding", "description": "Forward and reverse geocoding." }
  ]
}