{
  "openapi": "3.0.3",
  "info": {
    "title": "Clickatell Platform API",
    "description": "Clickatell's Platform (One API) enables sending SMS and WhatsApp messages, querying message status, and managing messaging workflows. This is a unified API for all Clickatell messaging channels.",
    "version": "1.0.0",
    "contact": {
      "name": "Clickatell",
      "url": "https://www.clickatell.com"
    },
    "termsOfService": "https://www.clickatell.com/legal/general-terms-notices/"
  },
  "x-jentic-source-url": "https://docs.clickatell.com/channels/one-api/one-api-reference/",
  "servers": [
    {
      "url": "https://platform.clickatell.com",
      "description": "Clickatell Platform API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Messages",
      "description": "Send and manage messages"
    },
    {
      "name": "Status",
      "description": "Query message delivery status"
    }
  ],
  "paths": {
    "/v1/message": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message",
        "description": "Send an SMS or WhatsApp message to one or more recipients. Supports text content and binary messages.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "405": {
            "description": "Method not allowed"
          },
          "410": {
            "description": "Resource gone"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/message/{messageId}": {
      "get": {
        "operationId": "getMessageStatus",
        "summary": "Query message status",
        "description": "Retrieve the delivery status of a previously sent message.",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The message ID returned from the send request"
          }
        ],
        "responses": {
          "200": {
            "description": "Message status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Message not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key provided as a bearer token or directly in the Authorization header"
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": [
          "to",
          "content"
        ],
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of destination phone numbers in international format"
          },
          "content": {
            "type": "string",
            "description": "Message content/text to send"
          },
          "from": {
            "type": "string",
            "description": "Sender ID or registered number"
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp"
            ],
            "description": "Messaging channel to use"
          },
          "clientMessageId": {
            "type": "string",
            "description": "Client-defined message reference ID"
          },
          "binary": {
            "type": "boolean",
            "description": "Whether the message content is binary"
          },
          "charset": {
            "type": "string",
            "description": "Character set for the message"
          },
          "validityPeriod": {
            "type": "integer",
            "description": "Message validity period in minutes"
          }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "apiMessageId": {
                  "type": "string",
                  "description": "Clickatell-assigned message ID"
                },
                "to": {
                  "type": "string",
                  "description": "Destination number"
                },
                "accepted": {
                  "type": "boolean",
                  "description": "Whether the message was accepted"
                },
                "errorCode": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                },
                "errorDescription": {
                  "type": "string"
                }
              }
            }
          },
          "error": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          }
        }
      },
      "MessageStatusResponse": {
        "type": "object",
        "properties": {
          "apiMessageId": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Message delivery status"
          },
          "statusCode": {
            "type": "integer",
            "description": "Numeric status code"
          },
          "statusDescription": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorDescription": {
            "type": "string"
          }
        }
      }
    }
  }
}