{
  "openapi": "3.0.3",
  "info": {
    "title": "LeakCheck API",
    "version": "2.0.0",
    "description": "LeakCheck provides a data breach search engine. The API allows programmatic queries for leaked credentials.",
    "contact": {
      "name": "LeakCheck",
      "url": "https://leakcheck.io"
    },
    "x-jentic-source-url": "https://wiki.leakcheck.io/en/api"
  },
  "servers": [
    {
      "url": "https://leakcheck.io",
      "description": "LeakCheck API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Public lookup endpoints"
    },
    {
      "name": "Pro",
      "description": "Professional API v2 endpoints"
    }
  ],
  "paths": {
    "/api/public": {
      "get": {
        "operationId": "publicLookup",
        "summary": "Public breach lookup",
        "description": "Search for data breaches by email. Returns limited results for free tier.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "check",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Breach results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "found": {
                      "type": "integer"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v2/query/{value}": {
      "get": {
        "operationId": "proQuery",
        "summary": "Pro API lookup",
        "description": "Professional query supporting multiple types: email, username, phone, hash, domain, keyword",
        "tags": [
          "Pro"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search value"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "login",
                "phone",
                "hash",
                "domain",
                "keyword"
              ]
            },
            "description": "Search type (auto-detected if omitted)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max results (up to 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "found": {
                      "type": "integer"
                    },
                    "quota": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "password": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "origin": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "breach_date": {
                                "type": "string",
                                "nullable": true
                              },
                              "imported_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "422": {
            "description": "Invalid query"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v2/sources": {
      "get": {
        "operationId": "listSources",
        "summary": "List available data sources",
        "description": "Returns a list of all available breach sources",
        "tags": [
          "Pro"
        ],
        "responses": {
          "200": {
            "description": "Sources list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "records": {
                            "type": "integer"
                          },
                          "breach_date": {
                            "type": "string",
                            "nullable": true
                          },
                          "imported_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/me": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get account information",
        "description": "Returns current account details and remaining quota",
        "tags": [
          "Pro"
        ],
        "responses": {
          "200": {
            "description": "Account info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "string"
                    },
                    "quota": {
                      "type": "integer"
                    },
                    "used": {
                      "type": "integer"
                    },
                    "expires": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/domain/{domain}": {
      "get": {
        "operationId": "domainLookup",
        "summary": "Domain breach lookup",
        "description": "Search for all breached accounts on a specific domain",
        "tags": [
          "Pro"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain to search"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "found": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "LeakCheck API key"
      }
    }
  }
}