{
  "openapi": "3.0.3",
  "info": {
    "title": "Checkvist API",
    "version": "1.0.0",
    "description": "Checkvist provides an Open API for integration with other tools. The API offers read and write operations for checklists, tasks, and notes using REST principles. Responses can be JSON or XML. Authentication uses either HTTP Basic Auth (email + remote API key) or token-based auth.",
    "x-jentic-source-url": "https://checkvist.com/auth/api"
  },
  "servers": [
    {
      "url": "https://checkvist.com",
      "description": "Checkvist API server"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    },
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token-based authentication"
    },
    {
      "name": "Checklists",
      "description": "Manage checklists"
    },
    {
      "name": "Tasks",
      "description": "Manage list items (tasks)"
    },
    {
      "name": "Notes",
      "description": "Manage task notes/comments"
    }
  ],
  "paths": {
    "/auth/login.json": {
      "post": {
        "operationId": "login",
        "summary": "Obtain authentication token",
        "description": "Authenticate with username and remote API key to obtain a session token valid for 1 day.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "API version"
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User login email"
          },
          {
            "name": "remote_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User's remote API key from profile page or password"
          },
          {
            "name": "token2fa",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "2FA code from authentication app if 2-step verification is enabled"
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/auth/refresh_token.json": {
      "post": {
        "operationId": "refreshToken",
        "summary": "Refresh authentication token",
        "description": "Get a new token without providing username/remote_key. Old token must be within 90 days.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 2
            }
          },
          {
            "name": "old_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Previously obtained token"
          }
        ],
        "responses": {
          "200": {
            "description": "New token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Bad old token"
          }
        }
      }
    },
    "/auth/curr_user.json": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user info",
        "description": "Returns currently logged-in user data.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Current user data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checklists.json": {
      "get": {
        "operationId": "listChecklists",
        "summary": "Get list of user checklists",
        "description": "Returns a list of all checklists for the authenticated user.",
        "tags": [
          "Checklists"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Authentication token"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, returns archived lists"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id:asc",
                "id:desc",
                "updated_at:asc"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "skip_stats",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, faster but no user/task stats"
          }
        ],
        "responses": {
          "200": {
            "description": "List of checklists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Checklist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createChecklist",
        "summary": "Create a checklist",
        "description": "Create a new checklist.",
        "tags": [
          "Checklists"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "checklist[name]"
                ],
                "properties": {
                  "checklist[name]": {
                    "type": "string",
                    "description": "Checklist name"
                  },
                  "checklist[public]": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "description": "0 for private, 1 for public"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created checklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklist_id}.json": {
      "get": {
        "operationId": "getChecklist",
        "summary": "Get checklist information",
        "description": "Returns the checklist with given ID.",
        "tags": [
          "Checklists"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Checklist ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateChecklist",
        "summary": "Update a checklist",
        "description": "Update checklist name/public status.",
        "tags": [
          "Checklists"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "checklist[name]": {
                    "type": "string"
                  },
                  "checklist[public]": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated checklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteChecklist",
        "summary": "Delete a checklist",
        "description": "Mark the checklist for deletion (with all data). Actual data deletion occurs later.",
        "tags": [
          "Checklists"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted checklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/checklists/{checklist_id}/tasks.json": {
      "get": {
        "operationId": "listTasks",
        "summary": "Get list items",
        "description": "Returns all tasks in a checklist, sorted by parent_id and position.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "with_notes",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include notes attached to tasks"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id:asc",
                "id:desc",
                "updated_at:asc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Checklist not found"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a list item",
        "description": "Create a new task in the checklist.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "task[content]"
                ],
                "properties": {
                  "task[content]": {
                    "type": "string",
                    "description": "Task text"
                  },
                  "task[parent_id]": {
                    "type": "integer",
                    "description": "ID of parent task"
                  },
                  "task[tags]": {
                    "type": "string",
                    "description": "Comma-separated tags"
                  },
                  "task[due_date]": {
                    "type": "string",
                    "description": "Due date in Checkvist smart syntax"
                  },
                  "task[position]": {
                    "type": "integer",
                    "description": "1-based position"
                  },
                  "task[priority]": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9,
                    "description": "Priority/color 0-9"
                  },
                  "task[status]": {
                    "type": "integer",
                    "description": "Task status"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklist_id}/tasks/{task_id}.json": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task and its parents",
        "description": "Returns the task and its parent chain up to root.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "with_notes",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task and parents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateTask",
        "summary": "Update a list item",
        "description": "Update task content, position, tags, due date, priority, etc.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "parse",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Recognize ^due and #tags syntax"
          },
          {
            "name": "with_notes",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "task[content]": {
                    "type": "string"
                  },
                  "task[parent_id]": {
                    "type": "integer"
                  },
                  "task[tags]": {
                    "type": "string"
                  },
                  "task[due_date]": {
                    "type": "string"
                  },
                  "task[position]": {
                    "type": "integer"
                  },
                  "task[priority]": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9
                  },
                  "task[assignee_ids]": {
                    "type": "string",
                    "description": "User IDs of assignees"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a list item",
        "description": "Delete a task and its children.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/checklists/{checklist_id}/tasks/{task_id}/{action}.json": {
      "post": {
        "operationId": "changeTaskStatus",
        "summary": "Close, reopen, or invalidate a task",
        "description": "Change task status. Action can be 'close', 'reopen', or 'invalidate'. For non-leaf tasks, status of children will be changed.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "close",
                "reopen",
                "invalidate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated task(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklist_id}/tasks/{task_id}/repeat.json": {
      "post": {
        "operationId": "setTaskRepeat",
        "summary": "Set repeating task information",
        "description": "Sets the repeating task information.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "repeat[period]",
                  "repeat[start_date]"
                ],
                "properties": {
                  "repeat[period]": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "weekly",
                      "monthly",
                      "yearly"
                    ]
                  },
                  "repeat[period_count]": {
                    "type": "integer",
                    "default": 1
                  },
                  "repeat[start_date]": {
                    "type": "string",
                    "format": "date"
                  },
                  "repeat[end_date]": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklist_id}/import.json": {
      "post": {
        "operationId": "importTasks",
        "summary": "Import list items",
        "description": "Import multiple list items from text content. Each line is a separate task by default.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "import_content"
                ],
                "properties": {
                  "import_content": {
                    "type": "string",
                    "description": "List items in import format"
                  },
                  "import_content_note": {
                    "type": "string",
                    "description": "Note for the first created list item"
                  },
                  "parent_id": {
                    "type": "integer",
                    "description": "Optional parent task ID"
                  },
                  "parse_tasks": {
                    "type": "boolean",
                    "description": "Recognize smart syntax"
                  },
                  "position": {
                    "type": "integer",
                    "description": "1-based position for first item"
                  },
                  "separate_with_empty_line": {
                    "type": "string",
                    "description": "'singleItem' imports all as one item"
                  },
                  "status": {
                    "type": "integer",
                    "enum": [
                      0,
                      1,
                      2
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Imported tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklist_id}/tasks/{task_id}/comments.json": {
      "get": {
        "operationId": "listTaskNotes",
        "summary": "Get task notes",
        "description": "Get list of existing notes for a task.",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Note"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTaskNote",
        "summary": "Create a note for a task",
        "description": "Create a new note for the specified task.",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "comment[comment]"
                ],
                "properties": {
                  "comment[comment]": {
                    "type": "string",
                    "description": "Note text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklist_id}/tasks/{task_id}/comments/{note_id}.json": {
      "put": {
        "operationId": "updateTaskNote",
        "summary": "Update a note",
        "description": "Update note text.",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "comment[comment]"
                ],
                "properties": {
                  "comment[comment]": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTaskNote",
        "summary": "Delete a note",
        "description": "Delete a note by ID.",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Authentication token obtained via /auth/login.json. Valid for 1 day, refreshable within 90 days."
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using email and remote API key (or password)."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Checklist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "public": {
            "type": "boolean"
          },
          "role": {
            "type": "integer",
            "description": "1=author, 2=writer, 3=reader"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "object",
            "description": "Tag name => isPrivate hash"
          },
          "tags_as_text": {
            "type": "string",
            "description": "Comma-separated tag names"
          },
          "task_count": {
            "type": "integer"
          },
          "task_completed": {
            "type": "integer"
          },
          "read_only": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "description": "0=open, 1=closed, 2=invalidated"
          },
          "checklist_id": {
            "type": "integer"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "comments_count": {
            "type": "integer"
          },
          "position": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          },
          "assignee_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "tasks": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Children task IDs"
          },
          "tags": {
            "type": "object"
          },
          "tags_as_text": {
            "type": "string"
          },
          "update_line": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Note"
            }
          }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "comment": {
            "type": "string"
          },
          "task_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      }
    }
  }
}