{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Servidor Homologa\u00e7\u00e3o Attendance",
      "url": "https://api-gateway.atendimento.ai/api/v1"
    }
  ],
  "info": {
    "version": "1.65.260206",
    "title": "API Attendance Energisa",
    "description": "Api simplificada para o m\u00f3dulo de atendimento do Attendance",
    "contact": {
      "email": "suporte@qsintelligence.com.br"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/QSI_SWAGGER/api-atttendance-energisa/1.65.260206/swagger.json"
  },
  "tags": [
    {
      "name": "Autentica\u00e7\u00e3o",
      "description": "Endpoints de autentica\u00e7\u00e3o e gest\u00e3o de sess\u00e3o"
    },
    {
      "name": "Atendimento",
      "description": "Endpoints relacionados ao fluxo de atendimento"
    },
    {
      "name": "Totem",
      "description": "Endpoints espec\u00edficos para opera\u00e7\u00e3o via totem de autoatendimento"
    },
    {
      "name": "Painel",
      "description": "Endpoints relacionados ao painel de atendimento"
    },
    {
      "name": "Configura\u00e7\u00e3o",
      "description": "Endpoints de configura\u00e7\u00e3o e consulta de dados"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Autentica\u00e7\u00e3o"
        ],
        "summary": "Realiza a autentica\u00e7\u00e3o na API do Attendance",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Realiza a autentica\u00e7\u00e3o na API do Attendance de acordo com o grant_type informado:\n\n- **password**: Login de atendente utilizando username e password\n- **refresh_token**: Revalida\u00e7\u00e3o do token de acesso\n- **panel_code**: Login de painel utilizando c\u00f3digo de acesso\n- **totem_code**: Login de totem utilizando c\u00f3digo de acesso\n- **scheduling_code**: Login para agendamento utilizando client_id\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosLogin"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespostaLogin"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/associar-mesa": {
      "post": {
        "tags": [
          "Autentica\u00e7\u00e3o"
        ],
        "summary": "Associa uma mesa de uma unidade ao usu\u00e1rio logado",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Associa o usu\u00e1rio logado a uma mesa na unidade\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosAssociarMesa"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DadosAssociados"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Autentica\u00e7\u00e3o"
        ],
        "summary": "Realiza o logout do atendente",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Realiza o logout do atendente removendo-o da mesa\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosLogout"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/unidades-permitidas": {
      "get": {
        "tags": [
          "Configura\u00e7\u00e3o"
        ],
        "summary": "Lista as unidades permitidas para o usu\u00e1rio logado",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna a lista de unidades que o atendente tem permiss\u00e3o para acessar\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdNomeDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/setores-unidade": {
      "get": {
        "tags": [
          "Configura\u00e7\u00e3o"
        ],
        "summary": "Lista os setores de uma unidade",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna a lista de setores dispon\u00edveis em uma unidade espec\u00edfica\n",
        "parameters": [
          {
            "name": "idUnidade",
            "in": "query",
            "required": true,
            "description": "ID da unidade",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 17
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdNomeDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metro idUnidade inv\u00e1lido ou ausente"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/mesas-atendimento-disponiveis": {
      "get": {
        "tags": [
          "Configura\u00e7\u00e3o"
        ],
        "summary": "Lista as mesas de atendimento dispon\u00edveis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna a lista de mesas de atendimento ativas em uma unidade, opcionalmente filtradas por setor\n",
        "parameters": [
          {
            "name": "idUnidade",
            "in": "query",
            "required": true,
            "description": "ID da unidade",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 17
          },
          {
            "name": "idSetor",
            "in": "query",
            "required": false,
            "description": "ID do setor (opcional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdNomeDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metro idUnidade inv\u00e1lido ou ausente"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Autentica\u00e7\u00e3o"
        ],
        "summary": "Obter dados da entidade logada",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna os dados do usu\u00e1rio, painel ou totem logado com base no token de autentica\u00e7\u00e3o\n",
        "responses": {
          "200": {
            "description": "Dados da entidade logada retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UsuarioDto"
                    },
                    {
                      "$ref": "#/components/schemas/PainelDto"
                    },
                    {
                      "$ref": "#/components/schemas/TotemDto"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Erro ao recuperar dados da entidade logada"
          }
        }
      }
    },
    "/alterar-senha": {
      "post": {
        "tags": [
          "Autentica\u00e7\u00e3o"
        ],
        "summary": "Alterar senha do usu\u00e1rio",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Permite que o usu\u00e1rio logado altere sua senha\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosAlterarSenha"
        },
        "responses": {
          "200": {
            "description": "Senha alterada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Senha alterada com sucesso"
                }
              }
            }
          },
          "400": {
            "description": "Dados inv\u00e1lidos para altera\u00e7\u00e3o de senha"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Erro ao alterar senha"
          }
        }
      }
    },
    "/configs-attendance": {
      "get": {
        "tags": [
          "Configura\u00e7\u00e3o"
        ],
        "summary": "Obter configura\u00e7\u00f5es do Attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna as configura\u00e7\u00f5es de atendimento para o usu\u00e1rio logado\n",
        "responses": {
          "200": {
            "description": "Configura\u00e7\u00f5es retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigAttendanceDTO"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Erro ao carregar configura\u00e7\u00f5es"
          }
        }
      }
    },
    "/atendimento/solicitar-proximo-atendimento": {
      "get": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Solicita um atendimento para o atendente",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Solicita o pr\u00f3ximo atendimento dispon\u00edvel que o atendente possa atender\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Atendimento"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/atendimento/iniciar-atendimento": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Inicia o atendimento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Inicia o atendimento, indicando que o cliente chegou na mesa / equipamento\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosIniciarAtendimento"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Valor num\u00e9rico da data de deslocamento (Date.getTime())",
                  "example": 1714648737251
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/atendimento/cancelar-atendimento": {
      "put": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Cancela o atendimento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Cancela o atendimento informando\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosCancelarAtendimento"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "description": "Indica se o atendimento foi cancelado",
                  "example": true
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "422": {
            "description": "O atendimento n\u00e3o pode ser cancelado"
          }
        }
      }
    },
    "/atendimento/finalizar-atendimento-simplificado": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "finaliza o atendimento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Finaliza o atendimento adicionando um protocolo, caso informado\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosFinalizarAtendimento"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          }
        }
      }
    },
    "/atendimento/chamar-senha": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Chama uma senha espec\u00edfica para atendimento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Chama uma senha espec\u00edfica para atendimento fora da ordem da fila, identificando o atendimento pelo ID da senha e o usu\u00e1rio pelo login\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosChamarSenha"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Atendimento"
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metros inv\u00e1lidos ou ausentes"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "404": {
            "description": "Senha ou usu\u00e1rio n\u00e3o encontrado"
          },
          "500": {
            "description": "Erro interno ao chamar senha"
          }
        }
      }
    },
    "/atendimento/transferir-fila": {
      "put": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Transfere o atendimento para a fila com um novo servi\u00e7o",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Realiza a transfer\u00eancia do atendimento para a fila com uma nova categoria e servi\u00e7o, opcionalmente adicionando um protocolo.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosTransferirFila"
        },
        "responses": {
          "200": {
            "description": "OK. Atendimento transferido com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusDto"
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metros inv\u00e1lidos ou ausentes."
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro interno ao transferir o atendimento."
          }
        }
      }
    },
    "/atendimento/repetir-senha": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Repete a senha do atendimento N vezes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Repete a senha do atendimento o n\u00famero de vezes informado.\nA opera\u00e7\u00e3o exige usu\u00e1rio autenticado (bearer token).\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosRepetirSenha"
        },
        "responses": {
          "200": {
            "description": "OK. Indica se a opera\u00e7\u00e3o foi realizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "description": "Resultado da opera\u00e7\u00e3o",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metros inv\u00e1lidos ou ausentes."
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro ao repetir a senha."
          }
        }
      }
    },
    "/atendimento-info/{idAtendimento}": {
      "get": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Obter informa\u00e7\u00f5es do atendimento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna informa\u00e7\u00f5es detalhadas do atendimento incluindo servi\u00e7os executados e permiss\u00e3o para videoAtendimento\n",
        "parameters": [
          {
            "name": "idAtendimento",
            "in": "path",
            "required": true,
            "description": "ID do atendimento",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 12345
          }
        ],
        "responses": {
          "200": {
            "description": "Informa\u00e7\u00f5es do atendimento retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtendimentoInfoDto"
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metro idAtendimento \u00e9 obrigat\u00f3rio ou inv\u00e1lido"
          },
          "404": {
            "description": "Atendimento n\u00e3o encontrado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/totem/emitir-senha": {
      "post": {
        "tags": [
          "Totem"
        ],
        "summary": "Emitir senha atrav\u00e9s do totem",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Emite uma nova senha de atendimento atrav\u00e9s do totem para um cliente em uma unidade espec\u00edfica\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosEmitirSenha"
        },
        "responses": {
          "200": {
            "description": "Senha emitida com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NovoAtendimentoOutput"
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metros inv\u00e1lidos ou ausentes"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro ao emitir a senha atrav\u00e9s do totem"
          }
        }
      }
    },
    "/totem/cliente/{numeroCliente}": {
      "get": {
        "tags": [
          "Totem"
        ],
        "summary": "Buscar cliente por n\u00famero",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Busca informa\u00e7\u00f5es de um cliente pelo seu n\u00famero de identifica\u00e7\u00e3o (CPF, matr\u00edcula, etc.)\n",
        "parameters": [
          {
            "name": "numeroCliente",
            "in": "path",
            "required": true,
            "description": "N\u00famero de identifica\u00e7\u00e3o do cliente",
            "schema": {
              "type": "string"
            },
            "example": "12345678900"
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente encontrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClienteDto"
                }
              }
            }
          },
          "400": {
            "description": "Cliente n\u00e3o encontrado"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro ao buscar o cliente atrav\u00e9s do totem"
          }
        }
      }
    },
    "/totem/buscar-agendamentos": {
      "get": {
        "tags": [
          "Totem"
        ],
        "summary": "Buscar agendamentos do cliente",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Busca os agendamentos de um cliente atrav\u00e9s do documento ou protocolo\n",
        "parameters": [
          {
            "name": "idUnidade",
            "in": "query",
            "required": false,
            "description": "ID da unidade",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 17
          },
          {
            "name": "documentoCliente",
            "in": "query",
            "required": false,
            "description": "Documento de identifica\u00e7\u00e3o do cliente",
            "schema": {
              "type": "string"
            },
            "example": "12345678900"
          },
          {
            "name": "protocolo",
            "in": "query",
            "required": false,
            "description": "Protocolo do agendamento",
            "schema": {
              "type": "string"
            },
            "example": "20240154814"
          }
        ],
        "responses": {
          "200": {
            "description": "Agendamentos encontrados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgendamentoDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agendamentos n\u00e3o encontrados"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro ao buscar agendamento atrav\u00e9s do totem"
          }
        }
      }
    },
    "/totem/checkin-agendamento": {
      "post": {
        "tags": [
          "Totem"
        ],
        "summary": "Realizar check-in do agendamento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Realiza o check-in de um agendamento previamente criado, gerando uma senha de atendimento\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosCheckinAgendamento"
        },
        "responses": {
          "200": {
            "description": "Check-in realizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenhaOutput"
                }
              }
            }
          },
          "400": {
            "description": "Agendamento n\u00e3o encontrado"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro ao realizar check-in do agendamento atrav\u00e9s do totem"
          }
        }
      }
    },
    "/painel/atualizacao-painel": {
      "get": {
        "tags": [
          "Painel"
        ],
        "summary": "Obter dados de atualiza\u00e7\u00e3o do painel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna os dados atualizados do painel com base no token de autentica\u00e7\u00e3o\n",
        "responses": {
          "200": {
            "description": "Dados do painel retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PainelDto"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "404": {
            "description": "Painel n\u00e3o encontrado"
          },
          "500": {
            "description": "Ocorreu um erro ao buscar os detalhes do painel"
          }
        }
      }
    },
    "/painel/plano-midia": {
      "get": {
        "tags": [
          "Painel"
        ],
        "summary": "Obter plano de m\u00eddia do painel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Retorna o plano de m\u00eddia configurado para o painel\n",
        "responses": {
          "200": {
            "description": "Plano de m\u00eddia retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanoMidiaDto"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro ao buscar o plano de m\u00eddia para o painel"
          }
        }
      }
    },
    "/painel/midia/download/{midiaId}": {
      "get": {
        "tags": [
          "Painel"
        ],
        "summary": "Download de arquivo de m\u00eddia",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Realiza o download de um arquivo de m\u00eddia pelo ID\n",
        "parameters": [
          {
            "name": "midiaId",
            "in": "path",
            "description": "ID do arquivo de m\u00eddia",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo retornado com sucesso",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "404": {
            "description": "Arquivo n\u00e3o encontrado"
          },
          "500": {
            "description": "Ocorreu um erro ao buscar o arquivo de m\u00eddia"
          }
        }
      }
    },
    "/painel/midia/download/{midiaId}/{editorialId}": {
      "get": {
        "tags": [
          "Painel"
        ],
        "summary": "Download de arquivo de m\u00eddia editorial",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Realiza o download de um arquivo de m\u00eddia editorial espec\u00edfico\n",
        "parameters": [
          {
            "name": "midiaId",
            "in": "path",
            "description": "ID do arquivo de m\u00eddia",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234
          },
          {
            "name": "editorialId",
            "in": "path",
            "description": "ID do editorial",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 567
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo retornado com sucesso",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "404": {
            "description": "Arquivo n\u00e3o encontrado"
          },
          "500": {
            "description": "Ocorreu um erro ao buscar o arquivo de m\u00eddia editorial"
          }
        }
      }
    },
    "/painel/atualizar-informacoes-painel": {
      "put": {
        "tags": [
          "Painel"
        ],
        "summary": "Atualizar informa\u00e7\u00f5es do painel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Atualiza as informa\u00e7\u00f5es do painel autenticado\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosAtualizarInformacoesPainel"
        },
        "responses": {
          "200": {
            "description": "Informa\u00e7\u00f5es do painel atualizadas com sucesso"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu um erro ao atualizar as informa\u00e7\u00f5es do painel"
          }
        }
      }
    },
    "/painel/atualizar-painel-online": {
      "put": {
        "tags": [
          "Painel"
        ],
        "summary": "Atualizar status online/offline do painel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Atualiza o status do painel para online ou offline\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/DadosAtualizarPainelOnline"
        },
        "responses": {
          "200": {
            "description": "Status do painel atualizado com sucesso"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Ocorreu ao atualizar o painel para online ou offline"
          }
        }
      }
    },
    "/painel/midia/url-assinada": {
      "get": {
        "tags": [
          "Painel"
        ],
        "summary": "Gerar URL assinada para m\u00eddia",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Gera uma URL assinada (presigned URL) para upload ou download de m\u00eddia no S3\n",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Chave (path) do arquivo no bucket S3",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "midia/arquivo.mp4"
          },
          {
            "name": "operacao",
            "in": "query",
            "description": "Tipo de opera\u00e7\u00e3o (UPLOAD ou DOWNLOAD)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "UPLOAD",
                "DOWNLOAD"
              ],
              "default": "DOWNLOAD"
            },
            "example": "DOWNLOAD"
          },
          {
            "name": "tempoExpiracao",
            "in": "query",
            "description": "Tempo de expira\u00e7\u00e3o da URL em segundos (opcional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 3600
          }
        ],
        "responses": {
          "200": {
            "description": "URL assinada gerada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "https://bucket.s3.amazonaws.com/arquivo.mp4?signature=..."
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metros inv\u00e1lidos ou ausentes"
          },
          "401": {
            "description": "Acesso n\u00e3o autorizado"
          },
          "403": {
            "description": "Acesso negado"
          },
          "500": {
            "description": "Erro ao gerar URL assinada"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DadosLogin": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "Tipo de autentica\u00e7\u00e3o que est\u00e1 sendo realizada:\n- **password**: Login de atendente com username/password\n- **refresh_token**: Revalida\u00e7\u00e3o do token de acesso\n- **panel_code**: Login de painel com c\u00f3digo de acesso\n- **totem_code**: Login de totem com c\u00f3digo de acesso\n- **scheduling_code**: Login para agendamento com client_id\n",
            "enum": [
              "password",
              "refresh_token",
              "panel_code",
              "totem_code",
              "scheduling_code"
            ],
            "example": "password"
          },
          "username": {
            "type": "string",
            "description": "Login do usu\u00e1rio. Obrigat\u00f3rio quando grant_type = \"password\"\n",
            "example": "atendente1"
          },
          "password": {
            "type": "string",
            "description": "Senha do usu\u00e1rio. Obrigat\u00f3rio quando grant_type = \"password\"\n",
            "example": "14785Ag"
          },
          "refresh_token": {
            "type": "string",
            "description": "Token utilizado para revalidar o access token.\nObrigat\u00f3rio quando grant_type = \"refresh_token\"\n",
            "example": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZWdlYSIsImlzcyI6IjEzIiwiaWF0IjoxNzE0NTc2NzE3LCJleHAiOjE3MTQ2MTg3OTl9.6tFU9ZJ7O574Ja25I2bqxd5fJEu4ik4OiqeBTLihzJo"
          },
          "code": {
            "type": "string",
            "description": "C\u00f3digo de acesso do painel ou totem.\nObrigat\u00f3rio quando grant_type = \"panel_code\" ou \"totem_code\"\n",
            "example": "PAINEL001"
          },
          "client_id": {
            "type": "string",
            "description": "Identificador do cliente para agendamento.\nObrigat\u00f3rio quando grant_type = \"scheduling_code\"\n",
            "example": "cliente_agendamento_123"
          },
          "session": {
            "type": "boolean",
            "description": "Indica se deve criar uma sess\u00e3o HTTP (apenas para grant_type = \"password\").\nOpcional, padr\u00e3o false.\n",
            "example": false
          }
        }
      },
      "Unidade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id da unidade",
            "format": "int64",
            "example": 17
          },
          "nome": {
            "type": "string",
            "description": "Nome da unidade",
            "example": "Loja Homologa\u00e7\u00e3o"
          }
        }
      },
      "Mesa": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id da mesa f\u00edsica (MesaUnit)",
            "format": "int64",
            "example": 17
          },
          "idMesa": {
            "type": "integer",
            "description": "Id da mesa l\u00f3gica",
            "format": "int64",
            "example": 17
          },
          "codigoMesaUnit": {
            "type": "integer",
            "description": "C\u00f3digo da mesa",
            "format": "int32",
            "example": 1
          },
          "numero": {
            "type": "integer",
            "description": "C\u00f3digo da mesa",
            "format": "int32",
            "example": 1
          },
          "nome": {
            "type": "string",
            "description": "Nome da mesa",
            "example": "Mesa 01"
          }
        }
      },
      "Prioridade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id da prioridade",
            "format": "int64",
            "example": 25
          },
          "nome": {
            "type": "string",
            "description": "Nome da prioridade",
            "example": "Normal"
          }
        }
      },
      "Cliente": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id do cliente",
            "format": "int64",
            "example": 418578
          },
          "nome": {
            "type": "string",
            "description": "Nome do cliente",
            "example": "Jo\u00e3o Lucas"
          },
          "codigo": {
            "type": "string",
            "description": "C\u00f3digo de identifica\u00e7\u00e3o do cliente (Ex. CPF, B.I, Matr\u00edcula)",
            "example": "547815414"
          },
          "email": {
            "type": "string",
            "description": "E-mail do cliente",
            "example": "joao@email.com"
          },
          "telefone": {
            "type": "string",
            "description": "Telefone do cliente",
            "example": "(81) 95484-4545"
          },
          "observacao": {
            "type": "string",
            "description": "Observa\u00e7\u00f5es relacionadas ao cliente",
            "example": "Problemas card\u00edacos"
          },
          "contrato": {
            "type": "string",
            "description": "N\u00famero do contrato do cliente na empresa",
            "example": "145487425-002"
          }
        }
      },
      "Atendente": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id do atendente",
            "format": "int64",
            "example": 418578
          },
          "nome": {
            "type": "string",
            "description": "Nome do atendente",
            "example": "Marcos Castro da Silva"
          },
          "login": {
            "type": "string",
            "description": "login do atendente",
            "example": "marcos.castro"
          },
          "apelido": {
            "type": "string",
            "description": "Apelido do atendente (nome resumido)",
            "example": "Marcos Castro"
          }
        }
      },
      "ExecucaoServico": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id da Execu\u00e7\u00e3o servi\u00e7o",
            "format": "int64",
            "example": 1000
          },
          "dataInicio": {
            "type": "integer",
            "description": "Valor num\u00e9rico da data de in\u00edcio da execu\u00e7\u00e3o servi\u00e7o referente a data universal (Date.getTime())",
            "format": "int64",
            "example": 1714642080239
          },
          "dataFim": {
            "type": "integer",
            "description": "Valor num\u00e9rico da data de fim da execu\u00e7\u00e3o servi\u00e7o referente a data universal (Date.getTime())",
            "format": "int64",
            "example": 1714642080239
          },
          "quantidade": {
            "type": "integer",
            "description": "Quantidade de servi\u00e7os executados",
            "format": "int32",
            "example": 1
          },
          "servico": {
            "$ref": "#/components/schemas/Servico"
          }
        }
      },
      "Servico": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id do servi\u00e7o",
            "format": "int64",
            "example": 1000
          },
          "descricao": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o do servi\u00e7o",
            "example": "Altera\u00e7\u00e3o de titularidade da conta"
          },
          "nome": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o resumida do servi\u00e7o",
            "example": "Troca de titularidade"
          },
          "permitirCriarNovaAtividade": {
            "type": "boolean",
            "description": "Campo utilizado pelo fluxo de atendimentos",
            "example": false
          },
          "alterarServico": {
            "type": "boolean",
            "description": "Campo utilizado pelo fluxo de atendimentos informando a necessidade de alterar o servi\u00e7o ao atender",
            "example": false
          },
          "tempoMaximo": {
            "type": "integer",
            "description": "Tempo m\u00e1ximo para o atendimento do servi\u00e7o em segundos",
            "format": "int64",
            "example": 600
          },
          "tempoMaximoFormatado": {
            "type": "string",
            "description": "Tempo m\u00e1ximo para o atendimento do servi\u00e7o em segundos formatado (HH:mm:ss)",
            "example": "00:10:00"
          }
        }
      },
      "Atendimento": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id do atendimento",
            "format": "int64",
            "example": 1000
          },
          "codigo": {
            "type": "integer",
            "description": "C\u00f3digo n\u00famero de identifica\u00e7\u00e3o do atendimento ativo",
            "format": "int32",
            "example": 1234
          },
          "idMotivo": {
            "type": "integer",
            "description": "Id da categoria do servi\u00e7o",
            "format": "int64",
            "example": 1000
          },
          "descricaoMotivo": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o da categoria do servi\u00e7o",
            "example": "Atendimento"
          },
          "senha": {
            "type": "string",
            "description": "N\u00famero da senha",
            "example": "N025"
          },
          "observacao": {
            "type": "string",
            "description": "Observa\u00e7\u00e3o do atendimento",
            "example": "Cliente recorrente"
          },
          "protocolo": {
            "type": "string",
            "description": "Protocolo do atendimento",
            "example": "20240154814"
          },
          "dataEmissao": {
            "type": "integer",
            "description": "Valor num\u00e9rico da data de emiss\u00e3o do atendimento referente a data universal (Date.getTime())",
            "format": "int64",
            "example": 1714642080239
          },
          "dataEmissaoformatada": {
            "type": "string",
            "description": "Date de emiss\u00e3o do atendimento formatada (dd/MM/YYY HH:mm)",
            "example": "02/05/2024 07:50"
          },
          "dataChamada": {
            "type": "integer",
            "description": "Valor num\u00e9rico da data de chamada do atendimento no painel referente a data universal (Date.getTime())",
            "format": "int64",
            "example": 1714642080239
          },
          "dataInicio": {
            "type": "integer",
            "description": "Valor num\u00e9rico da data de in\u00edcio do atendimento(chamda da api /iniciar-atendimento) referente a data universal (Date.getTime())",
            "format": "int64",
            "example": 1714642080239
          },
          "dataFim": {
            "type": "integer",
            "description": "Valor num\u00e9rico da data final do atendimento referente a data universal (Date.getTime())",
            "format": "int64",
            "example": 1714642080239
          },
          "dataFimDeslocamento": {
            "type": "integer",
            "description": "Valor num\u00e9rico da data final do delocamento do cliente do atendimento referente a data universal (Date.getTime())",
            "format": "int64",
            "example": 1714642080239
          },
          "tempoAtendimento": {
            "type": "integer",
            "description": "Tempo de atendimento em segundos",
            "format": "int64",
            "example": 350
          },
          "tempoEspera": {
            "type": "integer",
            "description": "Tempo de espera do cliente em milisegundos",
            "format": "int64",
            "example": 7000
          },
          "tempoEsperaTotal": {
            "type": "integer",
            "description": "Tempo de espera total do cliente em segundos (Inclui tempo de espera ap\u00f3s transfer\u00eancias)",
            "format": "int64",
            "example": 14
          },
          "tempoEsperaFormatado": {
            "type": "string",
            "description": "Tempo de espera formatdo (HH:mm:ss)",
            "example": "00:00:07"
          },
          "tempoEsperaTotalFormatado": {
            "type": "string",
            "description": "Tempo de espera total formatdo (HH:mm:ss)",
            "example": "00:00:14"
          },
          "nomeCliente": {
            "type": "string",
            "description": "Nome do cliente associado ao atendimento",
            "example": "Jo\u00e3o Lucas"
          },
          "nomeSevicoAtual": {
            "type": "string",
            "description": "Nome do servi\u00e7o atual",
            "example": "Eferi\u00e7\u00e3o de equipamento"
          },
          "tempoMaximoServico": {
            "type": "integer",
            "description": "Tempo m\u00e1ximo para o atendimento do servi\u00e7o em segundos",
            "format": "int64",
            "example": 600
          },
          "tempoMaximoServicoFormatado": {
            "type": "string",
            "description": "Tempo m\u00e1ximo para o atendimento do servi\u00e7o em segundos formatado (HH:mm:ss)",
            "example": "00:10:00"
          },
          "status": {
            "type": "string",
            "description": "Status do atendimento",
            "example": "AGUARDANDO",
            "enum": [
              "TRIAGEM",
              "AGUARDANDO",
              "CANCELADO",
              "SUSPENSO",
              "ATENDENDO",
              "FINALIZADO",
              "SUSPENSO"
            ]
          },
          "unidade": {
            "$ref": "#/components/schemas/Unidade"
          },
          "cliente": {
            "$ref": "#/components/schemas/Cliente"
          },
          "prioridade": {
            "$ref": "#/components/schemas/Prioridade"
          },
          "mesa": {
            "$ref": "#/components/schemas/Mesa"
          },
          "atendente": {
            "$ref": "#/components/schemas/Atendente"
          },
          "servicos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecucaoServico"
            }
          }
        }
      },
      "DadosAssociarMesa": {
        "type": "object",
        "properties": {
          "branch": {
            "type": "string",
            "description": "id da unidade na qual se deseja associar a mesa",
            "example": 16
          },
          "codigoMesa": {
            "type": "string",
            "description": "C\u00f3digo da mesa na qual o usu\u00e1rio logado ser\u00e1 associado",
            "example": 1
          }
        }
      },
      "DadosAssociados": {
        "type": "object",
        "properties": {
          "idUsuario": {
            "type": "integer",
            "description": "ID do usu\u00e1rio",
            "format": "int64",
            "example": 13
          },
          "loginUsuario": {
            "type": "string",
            "description": "Login do usu\u00e1rio",
            "example": "atendente1"
          },
          "idUnidade": {
            "type": "integer",
            "description": "ID da unidade",
            "format": "int64",
            "example": 17
          },
          "nomeUnidade": {
            "type": "string",
            "description": "Nome da unidade",
            "example": "Loja Homologa\u00e7\u00e3o"
          },
          "codigoMesa": {
            "type": "string",
            "description": "C\u00f3digo da mesa formatado",
            "example": "01"
          },
          "idMesa": {
            "type": "integer",
            "description": "ID da mesa de atendimento",
            "format": "int64",
            "example": 125
          },
          "aceitaVideo": {
            "type": "boolean",
            "description": "Indica se a mesa aceita videoatendimento",
            "example": true
          }
        }
      },
      "IdNomeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID do elemento",
            "format": "int64",
            "example": 17
          },
          "nome": {
            "type": "string",
            "description": "Nome do elemento",
            "example": "Loja Homologa\u00e7\u00e3o"
          }
        }
      },
      "RespostaLogin": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "O token de acesso a API",
            "example": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZWdlYSIsImlzcyI6IjEzIiwiaWF0IjoxNzE0NTc4MDEzLCJleHAiOjE3MTQ1NzgwNDN9.rH9ZHDJNL5Kp4IP4mxiD0s6CddXSdb0sj9CwHbV78F4\n"
          },
          "refresh_token": {
            "type": "string",
            "description": "O refresh token que pode ser utilizado para revalidar o token de acesso",
            "example": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZWdlYSIsImlzcyI6IjEzIiwiaWF0IjoxNzE0NTc2NzE3LCJleHAiOjE3MTQ2MTg3OTl9.6tFU9ZJ7O574Ja25I2bqxd5fJEu4ik4OiqeBTLihzJo\n"
          }
        }
      },
      "UsuarioDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do usu\u00e1rio",
            "example": 13
          },
          "matricula": {
            "type": "string",
            "description": "Matr\u00edcula do usu\u00e1rio",
            "example": "12345"
          },
          "login": {
            "type": "string",
            "description": "Login do usu\u00e1rio",
            "example": "atendente1"
          },
          "apelido": {
            "type": "string",
            "description": "Apelido do usu\u00e1rio",
            "example": "Jo\u00e3o"
          },
          "nome": {
            "type": "string",
            "description": "Nome completo do usu\u00e1rio",
            "example": "Jo\u00e3o da Silva"
          },
          "email": {
            "type": "string",
            "description": "E-mail do usu\u00e1rio",
            "example": "joao@email.com"
          },
          "statusAtendente": {
            "type": "string",
            "description": "Status atual do atendente",
            "example": "DISPONIVEL"
          },
          "unidadePrincipal": {
            "$ref": "#/components/schemas/UnidadeDto"
          },
          "unidadesPermitidas": {
            "type": "array",
            "description": "Lista de unidades permitidas para o usu\u00e1rio",
            "items": {
              "$ref": "#/components/schemas/UnidadeDto"
            }
          },
          "mesaDto": {
            "$ref": "#/components/schemas/MesaDto"
          }
        }
      },
      "MesaDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID da mesa",
            "example": 125
          },
          "codigo": {
            "type": "string",
            "description": "C\u00f3digo da mesa",
            "example": "01"
          },
          "nome": {
            "type": "string",
            "description": "Nome da mesa",
            "example": "Mesa 01"
          },
          "status": {
            "type": "string",
            "description": "Status da mesa",
            "example": "DISPONIVEL"
          }
        }
      },
      "UnidadeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID da unidade",
            "example": 17
          },
          "nome": {
            "type": "string",
            "description": "Nome da unidade",
            "example": "Loja Homologa\u00e7\u00e3o"
          },
          "codigo": {
            "type": "string",
            "description": "C\u00f3digo da unidade",
            "example": "001"
          }
        }
      },
      "PainelDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do painel",
            "example": 50
          },
          "codigoAcesso": {
            "type": "string",
            "description": "C\u00f3digo de acesso do painel",
            "example": "PAINEL001"
          },
          "nome": {
            "type": "string",
            "description": "Nome do painel",
            "example": "Painel Principal"
          },
          "layout": {
            "type": "string",
            "description": "Layout do painel",
            "example": "HORIZONTAL"
          },
          "unidade": {
            "$ref": "#/components/schemas/UnidadeDto"
          },
          "mensagens": {
            "type": "array",
            "description": "Lista de mensagens do painel",
            "items": {
              "type": "string"
            },
            "example": [
              "Bem-vindo",
              "Aguarde sua vez"
            ]
          },
          "exibirHora": {
            "type": "boolean",
            "description": "Indica se deve exibir hora",
            "example": true
          },
          "exibirRodape": {
            "type": "boolean",
            "description": "Indica se deve exibir rodap\u00e9",
            "example": true
          },
          "exibirClima": {
            "type": "boolean",
            "description": "Indica se deve exibir clima",
            "example": false
          },
          "realm": {
            "type": "string",
            "description": "Realm da empresa",
            "example": "infra"
          }
        }
      },
      "PlanoMidiaDto": {
        "type": "object",
        "description": "Plano de m\u00eddia configurado para o painel",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do plano de m\u00eddia",
            "example": 100
          },
          "nome": {
            "type": "string",
            "description": "Nome do plano de m\u00eddia",
            "example": "Plano de M\u00eddia Principal"
          },
          "descricao": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o do plano de m\u00eddia",
            "example": "Plano de m\u00eddia para exibi\u00e7\u00e3o no painel principal"
          },
          "ativo": {
            "type": "boolean",
            "description": "Indica se o plano de m\u00eddia est\u00e1 ativo",
            "example": true
          },
          "arquivosMidia": {
            "type": "array",
            "description": "Lista de arquivos de m\u00eddia do plano",
            "items": {
              "$ref": "#/components/schemas/ArquivoMidiaDto"
            }
          }
        }
      },
      "ArquivoMidiaDto": {
        "type": "object",
        "description": "Arquivo de m\u00eddia para exibi\u00e7\u00e3o no painel",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do arquivo de m\u00eddia",
            "example": 500
          },
          "uid": {
            "type": "string",
            "description": "Identificador \u00fanico do arquivo",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "nomeArquivo": {
            "type": "string",
            "description": "Nome original do arquivo",
            "example": "video_promocional.mp4"
          },
          "tipoArquivo": {
            "type": "string",
            "description": "Tipo/extens\u00e3o do arquivo",
            "example": "video/mp4"
          },
          "tamanho": {
            "type": "integer",
            "format": "int64",
            "description": "Tamanho do arquivo em bytes",
            "example": 15728640
          },
          "duracao": {
            "type": "integer",
            "description": "Dura\u00e7\u00e3o de exibi\u00e7\u00e3o em segundos",
            "example": 30
          },
          "ordem": {
            "type": "integer",
            "description": "Ordem de exibi\u00e7\u00e3o no plano",
            "example": 1
          },
          "url": {
            "type": "string",
            "description": "URL de acesso ao arquivo",
            "example": "https://bucket.s3.amazonaws.com/midia/arquivo.mp4"
          }
        }
      },
      "PainelInformacaoDto": {
        "type": "object",
        "description": "Informa\u00e7\u00f5es atualizadas do painel",
        "properties": {
          "versaoSoftware": {
            "type": "string",
            "description": "Vers\u00e3o do software do painel",
            "example": "1.5.0"
          },
          "resolucao": {
            "type": "string",
            "description": "Resolu\u00e7\u00e3o de tela do painel",
            "example": "1920x1080"
          },
          "sistemaOperacional": {
            "type": "string",
            "description": "Sistema operacional do painel",
            "example": "Android 10"
          },
          "ipAddress": {
            "type": "string",
            "description": "Endere\u00e7o IP do painel",
            "example": "192.168.1.100"
          },
          "macAddress": {
            "type": "string",
            "description": "Endere\u00e7o MAC do painel",
            "example": "00:1A:2B:3C:4D:5E"
          }
        }
      },
      "TotemDto": {
        "type": "object",
        "properties": {
          "configuracoesTotem": {
            "type": "array",
            "description": "Lista de configura\u00e7\u00f5es do totem",
            "items": {
              "$ref": "#/components/schemas/ConfiguracaoTotemDto"
            }
          },
          "tipoIdentificacaoCliente": {
            "type": "string",
            "description": "Tipo de identifica\u00e7\u00e3o do cliente",
            "example": "CPF",
            "enum": [
              "CPF",
              "MATRICULA",
              "CONTRATO",
              "NENHUM"
            ]
          },
          "configuracaoTipoTotem": {
            "type": "string",
            "description": "Configura\u00e7\u00e3o do tipo de totem",
            "example": "TOUCH"
          },
          "identificaoClienteObrigatoria": {
            "type": "boolean",
            "description": "Indica se a identifica\u00e7\u00e3o do cliente \u00e9 obrigat\u00f3ria",
            "example": false
          },
          "permitirIdentificacaoCliente": {
            "type": "boolean",
            "description": "Indica se permite identifica\u00e7\u00e3o do cliente",
            "example": true
          },
          "realmEmpresa": {
            "type": "string",
            "description": "Realm da empresa",
            "example": "infra"
          }
        }
      },
      "ConfiguracaoTotemDto": {
        "type": "object",
        "properties": {
          "idUnidade": {
            "type": "integer",
            "format": "int64",
            "description": "ID da unidade",
            "example": 17
          },
          "nomeUnidade": {
            "type": "string",
            "description": "Nome da unidade",
            "example": "Loja Homologa\u00e7\u00e3o"
          },
          "realm": {
            "type": "string",
            "description": "Realm da unidade",
            "example": "infra"
          },
          "nomeExibicao": {
            "type": "string",
            "description": "Nome de exibi\u00e7\u00e3o da unidade",
            "example": "Loja Centro"
          },
          "categorias": {
            "type": "array",
            "description": "Lista de categorias dispon\u00edveis no totem",
            "items": {
              "$ref": "#/components/schemas/CategoriaTotemDto"
            }
          },
          "prioridades": {
            "type": "array",
            "description": "Lista de prioridades de atendimento",
            "items": {
              "$ref": "#/components/schemas/PrioridadeTotemDto"
            }
          }
        }
      },
      "CategoriaTotemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID da categoria",
            "example": 25
          },
          "descricao": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o da categoria",
            "example": "Atendimento Comercial"
          },
          "servicos": {
            "type": "array",
            "description": "Lista de servi\u00e7os da categoria",
            "items": {
              "$ref": "#/components/schemas/ServicoTotemDto"
            }
          }
        }
      },
      "ServicoTotemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do servi\u00e7o",
            "example": 105
          },
          "descricao": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o completa do servi\u00e7o",
            "example": "Altera\u00e7\u00e3o de titularidade da conta"
          },
          "descricaoResumida": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o resumida do servi\u00e7o",
            "example": "Troca de titularidade"
          }
        }
      },
      "PrioridadeTotemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID da prioridade",
            "example": 1
          },
          "descricao": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o da prioridade",
            "example": "Normal"
          }
        }
      },
      "ConfigAttendanceDTO": {
        "type": "object",
        "properties": {
          "slaUnidades": {
            "type": "object",
            "description": "Mapa de SLA por unidade",
            "additionalProperties": {
              "type": "integer"
            },
            "example": {
              "17": 600,
              "18": 900
            }
          },
          "diferencaGMT": {
            "type": "integer",
            "format": "int64",
            "description": "Diferen\u00e7a de GMT em milissegundos",
            "example": -10800000
          },
          "atendenteDto": {
            "$ref": "#/components/schemas/AtendenteDto"
          },
          "tipoValidacaoCPF": {
            "type": "integer",
            "description": "Tipo de valida\u00e7\u00e3o de CPF",
            "example": 1
          },
          "clienteObrigatorio": {
            "type": "string",
            "description": "Indica se dados do cliente s\u00e3o obrigat\u00f3rios",
            "example": "NAO",
            "enum": [
              "SIM",
              "NAO",
              "OPCIONAL"
            ]
          },
          "permitirTransferenciaTodas": {
            "type": "boolean",
            "description": "Permite transfer\u00eancia para todas as filas",
            "example": true
          },
          "permitirTransferenciaApenasAtendente": {
            "type": "boolean",
            "description": "Permite transfer\u00eancia apenas para atendente",
            "example": false
          },
          "permitirTransferenciaApenasFila": {
            "type": "boolean",
            "description": "Permite transfer\u00eancia apenas para fila",
            "example": false
          },
          "permitirCongelamento": {
            "type": "boolean",
            "description": "Permite congelamento de atendimento",
            "example": true
          },
          "protocoloApenasNumero": {
            "type": "boolean",
            "description": "Protocolo aceita apenas n\u00fameros",
            "example": false
          },
          "protocoloUsar": {
            "type": "string",
            "description": "Momento de uso do protocolo",
            "example": "FINAL",
            "enum": [
              "INICIAL",
              "FINAL"
            ]
          },
          "proximoAutomatico": {
            "type": "boolean",
            "description": "Chamada autom\u00e1tica do pr\u00f3ximo atendimento",
            "example": true
          },
          "permitirFilaPessoal": {
            "type": "boolean",
            "description": "Permite fila pessoal",
            "example": true
          },
          "alertaSLA": {
            "type": "integer",
            "description": "Tempo de alerta do SLA em segundos",
            "example": 300
          },
          "SLA": {
            "type": "integer",
            "description": "Tempo de SLA em segundos",
            "example": 600
          },
          "podeAtenderSenhaForaSla": {
            "type": "boolean",
            "description": "Pode atender senha fora do SLA",
            "example": false
          },
          "podeAtenderForaOrdemUnidadesPermitidas": {
            "type": "boolean",
            "description": "Pode atender fora da ordem das unidades permitidas",
            "example": false
          },
          "podeRedistribuirFilaPessoal": {
            "type": "boolean",
            "description": "Pode redistribuir fila pessoal",
            "example": true
          }
        }
      },
      "AtendenteDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do atendente",
            "example": 13
          },
          "nome": {
            "type": "string",
            "description": "Nome do atendente",
            "example": "Jo\u00e3o da Silva"
          },
          "login": {
            "type": "string",
            "description": "Login do atendente",
            "example": "joao.silva"
          },
          "unidadeAtual": {
            "$ref": "#/components/schemas/UnidadeDto"
          }
        }
      },
      "DadosTransferirFila": {
        "type": "object",
        "required": [
          "idAtendimento",
          "idCategoria",
          "idServico"
        ],
        "properties": {
          "idAtendimento": {
            "type": "string",
            "description": "Id do atendimento que ser\u00e1 transferido.",
            "example": "1001"
          },
          "idCategoria": {
            "type": "string",
            "description": "Id da nova categoria para a qual o atendimento ser\u00e1 movido.",
            "example": "25"
          },
          "idServico": {
            "type": "string",
            "description": "Id do novo servi\u00e7o para o qual o atendimento ser\u00e1 movido.",
            "example": "105"
          },
          "protocoloAtendimento": {
            "type": "string",
            "description": "Protocolo do atendimento (opcional).",
            "example": "20240812-9876"
          }
        }
      },
      "StatusDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da opera\u00e7\u00e3o.",
            "example": "SUCESSO"
          },
          "mensagem": {
            "type": "string",
            "description": "Mensagem descritiva sobre o resultado da opera\u00e7\u00e3o.",
            "example": "Atendimento transferido com sucesso."
          }
        }
      },
      "DadosRepetirSenha": {
        "type": "object",
        "required": [
          "idAtendimento",
          "repeticoesSenha"
        ],
        "properties": {
          "idAtendimento": {
            "type": "integer",
            "format": "int64",
            "description": "Id do atendimento cuja senha ser\u00e1 repetida.",
            "example": 1000
          },
          "repeticoesSenha": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de repeti\u00e7\u00f5es da senha.",
            "minimum": 1,
            "example": 2
          }
        },
        "additionalProperties": false
      },
      "AtendimentoInfoDto": {
        "type": "object",
        "description": "Informa\u00e7\u00f5es detalhadas do atendimento",
        "properties": {
          "idSenha": {
            "type": "integer",
            "format": "int64",
            "description": "ID da senha do atendimento",
            "example": 12345
          },
          "statusSenha": {
            "type": "integer",
            "format": "int64",
            "description": "Status num\u00e9rico da senha",
            "example": 4
          },
          "statusSenhaFormatado": {
            "type": "string",
            "description": "Status da senha formatado",
            "example": "Finalizado"
          },
          "idAgencia": {
            "type": "integer",
            "format": "int64",
            "description": "ID da ag\u00eancia/unidade",
            "example": 17
          },
          "nomeSubsidiaria": {
            "type": "string",
            "description": "Nome da subsidi\u00e1ria",
            "example": "ENERGISA SERGIPE"
          },
          "permiteVideoAtendimento": {
            "type": "boolean",
            "description": "Indica se o atendimento permite videoAtendimento baseado no servi\u00e7o mais antigo",
            "example": true
          },
          "servicos": {
            "type": "array",
            "description": "Lista de servi\u00e7os executados no atendimento (ordenados por data de in\u00edcio)",
            "items": {
              "$ref": "#/components/schemas/ServicoInfoDto"
            }
          }
        }
      },
      "ServicoInfoDto": {
        "type": "object",
        "description": "Informa\u00e7\u00f5es resumidas do servi\u00e7o",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do servi\u00e7o",
            "example": 490
          },
          "nome": {
            "type": "string",
            "description": "Nome/descri\u00e7\u00e3o resumida do servi\u00e7o",
            "example": "Altera\u00e7\u00e3o de titularidade"
          }
        }
      },
      "ParametrosEmissaoSenhaDto": {
        "type": "object",
        "required": [
          "idUnidade",
          "idCategoria",
          "idServico",
          "idPrioridade"
        ],
        "properties": {
          "idUnidade": {
            "type": "integer",
            "format": "int64",
            "description": "ID da unidade onde a senha ser\u00e1 emitida",
            "example": 17
          },
          "idCategoria": {
            "type": "integer",
            "format": "int64",
            "description": "ID da categoria do servi\u00e7o",
            "example": 25
          },
          "idServico": {
            "type": "integer",
            "format": "int64",
            "description": "ID do servi\u00e7o solicitado",
            "example": 105
          },
          "idPrioridade": {
            "type": "integer",
            "format": "int64",
            "description": "ID da prioridade do atendimento",
            "example": 1
          },
          "cliente": {
            "$ref": "#/components/schemas/ClienteEmissaoSenhaDto"
          }
        }
      },
      "ClienteEmissaoSenhaDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do cliente (opcional)",
            "example": 418578
          },
          "nome": {
            "type": "string",
            "description": "Nome do cliente",
            "example": "Jo\u00e3o Lucas"
          },
          "numero": {
            "type": "string",
            "description": "N\u00famero de identifica\u00e7\u00e3o do cliente (CPF, matr\u00edcula, etc.)",
            "example": "12345678900"
          }
        }
      },
      "NovoAtendimentoOutput": {
        "type": "object",
        "properties": {
          "senha": {
            "$ref": "#/components/schemas/SenhaOutput"
          },
          "unidadeFechada": {
            "type": "boolean",
            "description": "Indica se a unidade est\u00e1 fechada",
            "example": false
          },
          "isEmissaoRapida": {
            "type": "boolean",
            "description": "Indica se foi uma emiss\u00e3o r\u00e1pida",
            "example": false
          },
          "reservado": {
            "type": "boolean",
            "description": "Indica se o atendimento foi reservado",
            "example": false
          }
        }
      },
      "SenhaOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID da senha",
            "example": 1000
          },
          "nomeEmpresa": {
            "type": "string",
            "description": "Nome da empresa",
            "example": "Energisa Sergipe"
          },
          "nomeUnidade": {
            "type": "string",
            "description": "Nome da unidade",
            "example": "Loja Homologa\u00e7\u00e3o"
          },
          "modeloSenha": {
            "type": "string",
            "description": "Modelo da senha",
            "example": "N025"
          },
          "categoria": {
            "type": "string",
            "description": "Categoria do servi\u00e7o",
            "example": "Atendimento"
          },
          "servico": {
            "type": "string",
            "description": "Descri\u00e7\u00e3o do servi\u00e7o",
            "example": "Altera\u00e7\u00e3o de titularidade"
          },
          "nomePrioridade": {
            "type": "string",
            "description": "Nome da prioridade",
            "example": "Normal"
          },
          "numeroSenha": {
            "type": "string",
            "description": "N\u00famero da senha formatado",
            "example": "N025"
          },
          "dataEmissaoLong": {
            "type": "integer",
            "format": "int64",
            "description": "Data de emiss\u00e3o em milissegundos (timestamp)",
            "example": 1714642080239
          },
          "dataEmissaoFormatada": {
            "type": "string",
            "description": "Data de emiss\u00e3o formatada (dd/MM/yyyy)",
            "example": "02/05/2024"
          },
          "horaEmissaoFormatada": {
            "type": "string",
            "description": "Hora de emiss\u00e3o formatada (HH:mm:ss)",
            "example": "07:50:15"
          },
          "dataHoraEmissaoFormatada": {
            "type": "string",
            "description": "Data e hora de emiss\u00e3o formatadas",
            "example": "02/05/2024 07:50:15"
          },
          "previsaoMediaAtendimento": {
            "type": "integer",
            "format": "int32",
            "description": "Previs\u00e3o m\u00e9dia de atendimento em minutos",
            "example": 15
          },
          "mensagemSenha": {
            "type": "string",
            "description": "Mensagem da senha",
            "example": "Aguarde ser chamado"
          },
          "nomeCliente": {
            "type": "string",
            "description": "Nome do cliente",
            "example": "Jo\u00e3o Lucas"
          },
          "conteudoQrCode": {
            "type": "string",
            "description": "URL do QR Code",
            "example": "https://example.com/qrcode/12345"
          },
          "observacao": {
            "type": "string",
            "description": "Observa\u00e7\u00e3o sobre a senha",
            "example": "Cliente preferencial"
          },
          "exigencias": {
            "type": "array",
            "description": "Lista de exig\u00eancias para o atendimento",
            "items": {
              "type": "string"
            },
            "example": [
              "Documento de identifica\u00e7\u00e3o",
              "Comprovante de resid\u00eancia"
            ]
          },
          "codigoAtendimento": {
            "type": "integer",
            "format": "int32",
            "description": "C\u00f3digo do atendimento",
            "example": 1234
          },
          "protocolo": {
            "type": "string",
            "description": "Protocolo do atendimento",
            "example": "20240154814"
          }
        }
      },
      "ClienteDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do cliente",
            "example": 418578
          },
          "nome": {
            "type": "string",
            "description": "Nome do cliente",
            "example": "Jo\u00e3o Lucas"
          },
          "codigo": {
            "type": "string",
            "description": "C\u00f3digo de identifica\u00e7\u00e3o do cliente",
            "example": "12345678900"
          },
          "email": {
            "type": "string",
            "description": "E-mail do cliente",
            "example": "joao@email.com"
          },
          "telefone": {
            "type": "string",
            "description": "Telefone do cliente",
            "example": "(81) 95484-4545"
          },
          "observacao": {
            "type": "string",
            "description": "Observa\u00e7\u00f5es sobre o cliente",
            "example": "Cliente VIP"
          },
          "contrato": {
            "type": "string",
            "description": "N\u00famero do contrato do cliente",
            "example": "145487425-002"
          },
          "representante": {
            "type": "string",
            "description": "Representante do cliente",
            "example": "Maria Silva"
          },
          "numero": {
            "type": "string",
            "description": "N\u00famero de identifica\u00e7\u00e3o do cliente",
            "example": "12345678900"
          }
        }
      },
      "AgendamentoDto": {
        "type": "object",
        "properties": {
          "idAgendamento": {
            "type": "integer",
            "format": "int64",
            "description": "ID do agendamento",
            "example": 1000
          },
          "servico": {
            "$ref": "#/components/schemas/Servico"
          },
          "cliente": {
            "$ref": "#/components/schemas/ClienteDto"
          },
          "unidade": {
            "$ref": "#/components/schemas/UnidadeEnderecoDto"
          },
          "dataAgendamento": {
            "type": "integer",
            "format": "int64",
            "description": "Data do agendamento em milissegundos (timestamp)",
            "example": 1714642080239
          },
          "horaAgendamento": {
            "type": "integer",
            "format": "int64",
            "description": "Hora do agendamento em milissegundos (timestamp)",
            "example": 1714642080239
          },
          "numeroSenha": {
            "type": "string",
            "description": "N\u00famero da senha do agendamento",
            "example": "A001"
          },
          "statusAgendamento": {
            "type": "string",
            "description": "Status do agendamento",
            "example": "CONFIRMADO",
            "enum": [
              "CONFIRMADO",
              "ATENDIDO",
              "CANCELADO",
              "EXPIRADO"
            ]
          },
          "dataEmissao": {
            "type": "integer",
            "format": "int64",
            "description": "Data de emiss\u00e3o em milissegundos (timestamp)",
            "example": 1714642080239
          },
          "protocolo": {
            "type": "string",
            "description": "Protocolo do agendamento",
            "example": "20240154814"
          },
          "agendamentoVideo": {
            "type": "boolean",
            "description": "Indica se \u00e9 um agendamento para videoatendimento",
            "example": false
          },
          "meetingRoom": {
            "type": "string",
            "description": "Sala de reuni\u00e3o virtual",
            "example": "room123"
          },
          "waitingRoomUrl": {
            "type": "string",
            "description": "URL da sala de espera virtual",
            "example": "https://meet.example.com/waiting/123"
          }
        }
      },
      "UnidadeEnderecoDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID da unidade",
            "example": 17
          },
          "nome": {
            "type": "string",
            "description": "Nome da unidade",
            "example": "Loja Homologa\u00e7\u00e3o"
          },
          "endereco": {
            "type": "string",
            "description": "Endere\u00e7o da unidade",
            "example": "Rua Exemplo, 123"
          },
          "bairro": {
            "type": "string",
            "description": "Bairro da unidade",
            "example": "Centro"
          },
          "cidade": {
            "type": "string",
            "description": "Cidade da unidade",
            "example": "Aracaju"
          },
          "estado": {
            "type": "string",
            "description": "Estado da unidade",
            "example": "SE"
          },
          "cep": {
            "type": "string",
            "description": "CEP da unidade",
            "example": "49000-000"
          }
        }
      },
      "ParametrosCheckinAgendamentoDto": {
        "type": "object",
        "required": [
          "idUnidade",
          "idAgendamento"
        ],
        "properties": {
          "idUnidade": {
            "type": "integer",
            "format": "int64",
            "description": "ID da unidade onde o check-in ser\u00e1 realizado",
            "example": 17
          },
          "idAgendamento": {
            "type": "integer",
            "format": "int64",
            "description": "ID do agendamento para check-in",
            "example": 1000
          },
          "protocolo": {
            "type": "string",
            "description": "Protocolo do agendamento (opcional)",
            "example": "20240154814"
          }
        }
      }
    },
    "requestBodies": {
      "DadosIniciarAtendimento": {
        "description": "Dados necess\u00e1rios iniciar o atendimento",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "idAtendimento": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Id do atendimento que ser\u00e1 iniciado",
                  "example": 1000
                }
              }
            }
          }
        }
      },
      "DadosCancelarAtendimento": {
        "description": "Dados necess\u00e1rios cancelar o atendimento.<br />\nA propriedade <b><i>\"idMotivoCancelamento\"</i></b> \u00e9 opcional.\nCaso n\u00e3o seja informado, o valor padr\u00e3o ser\u00e1 utilizado\n",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "idAtendimento"
              ],
              "properties": {
                "idAtendimento": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Id do atendimento que ser\u00e1 cancelado",
                  "example": 1000
                },
                "idMotivoCancelamento": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Id do motivo cancelamento (Opcional). Caso n\u00e3o informado, ser\u00e1 utilizado o default",
                  "example": 1000
                }
              }
            }
          }
        }
      },
      "DadosFinalizarAtendimento": {
        "description": "Dados necess\u00e1rios finalizar o atendimento (idAtendimento \u00e9 obrigat\u00f3rio e o protocolo \u00e9 opcional)",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "idAtendimento": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Id do atendimento que ser\u00e1 iniciado",
                  "example": 1000
                },
                "protocolo": {
                  "type": "string",
                  "description": "Adiciona um protocolo ao atendimento",
                  "example": "20240154814"
                }
              }
            }
          }
        }
      },
      "DadosChamarSenha": {
        "description": "Dados necess\u00e1rios para chamar uma senha espec\u00edfica para atendimento",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "idAtendimento",
                "username"
              ],
              "properties": {
                "idAtendimento": {
                  "type": "integer",
                  "format": "int64",
                  "description": "ID do atendimento (senha) que ser\u00e1 chamado",
                  "example": 1000
                },
                "username": {
                  "type": "string",
                  "description": "Login do usu\u00e1rio que est\u00e1 chamando a senha",
                  "example": "atendente1"
                }
              }
            }
          }
        }
      },
      "DadosLogin": {
        "description": "Dados necess\u00e1rios para gera\u00e7\u00e3o do token de acesso",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DadosLogin"
            },
            "examples": {
              "loginAtendente": {
                "summary": "Login de Atendente",
                "description": "Autentica\u00e7\u00e3o usando username e password",
                "value": {
                  "grant_type": "password",
                  "username": "atendente1",
                  "password": "14785Ag",
                  "session": false
                }
              },
              "refreshToken": {
                "summary": "Revalidar Token",
                "description": "Renova\u00e7\u00e3o do token de acesso usando refresh_token",
                "value": {
                  "grant_type": "refresh_token",
                  "refresh_token": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZWdlYSIsImlzcyI6IjEzIiwiaWF0IjoxNzE0NTc2NzE3LCJleHAiOjE3MTQ2MTg3OTl9.6tFU9ZJ7O574Ja25I2bqxd5fJEu4ik4OiqeBTLihzJo"
                }
              },
              "loginPainel": {
                "summary": "Login de Painel",
                "description": "Autentica\u00e7\u00e3o de painel usando c\u00f3digo de acesso",
                "value": {
                  "grant_type": "panel_code",
                  "code": "PAINEL001"
                }
              },
              "loginTotem": {
                "summary": "Login de Totem",
                "description": "Autentica\u00e7\u00e3o de totem usando c\u00f3digo de acesso",
                "value": {
                  "grant_type": "totem_code",
                  "code": "TOTEM001"
                }
              },
              "loginAgendamento": {
                "summary": "Login para Agendamento",
                "description": "Autentica\u00e7\u00e3o para sistema de agendamento usando client_id",
                "value": {
                  "grant_type": "scheduling_code",
                  "client_id": "cliente_agendamento_123"
                }
              }
            }
          }
        },
        "required": true
      },
      "DadosAssociarMesa": {
        "description": "Dados necess\u00e1rios para associar o usu\u00e1rio logado a uma mesa",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DadosAssociarMesa"
            }
          }
        },
        "required": true
      },
      "DadosLogout": {
        "description": "Corpo opcional; envie **force** para for\u00e7ar o logout.\n",
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "force": {
                  "type": "boolean",
                  "description": "Quando **true**, for\u00e7a o logout mesmo que o atendente\nesteja em atendimento.\n",
                  "example": true
                }
              },
              "additionalProperties": false
            }
          }
        }
      },
      "DadosTransferirFila": {
        "description": "Dados necess\u00e1rios para transferir um atendimento para outra fila.",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DadosTransferirFila"
            }
          }
        }
      },
      "DadosRepetirSenha": {
        "description": "Dados necess\u00e1rios para repetir a senha do atendimento.",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DadosRepetirSenha"
            }
          }
        }
      },
      "DadosEmitirSenha": {
        "description": "Dados necess\u00e1rios para emitir uma senha atrav\u00e9s do totem",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ParametrosEmissaoSenhaDto"
            }
          }
        }
      },
      "DadosCheckinAgendamento": {
        "description": "Dados necess\u00e1rios para realizar check-in de um agendamento",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ParametrosCheckinAgendamentoDto"
            }
          }
        }
      },
      "DadosAlterarSenha": {
        "description": "Dados necess\u00e1rios para alterar a senha do usu\u00e1rio",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "senhaAntiga",
                "novaSenha",
                "confirmaSenha"
              ],
              "properties": {
                "senhaAntiga": {
                  "type": "string",
                  "description": "Senha atual do usu\u00e1rio",
                  "example": "senhaAntiga123"
                },
                "novaSenha": {
                  "type": "string",
                  "description": "Nova senha desejada",
                  "example": "novaSenha456"
                },
                "confirmaSenha": {
                  "type": "string",
                  "description": "Confirma\u00e7\u00e3o da nova senha",
                  "example": "novaSenha456"
                }
              }
            }
          }
        }
      },
      "DadosAtualizarInformacoesPainel": {
        "description": "Dados para atualizar as informa\u00e7\u00f5es do painel",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PainelInformacaoDto"
            }
          }
        }
      },
      "DadosAtualizarPainelOnline": {
        "description": "Dados para atualizar o status online/offline do painel",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "isOnline"
              ],
              "properties": {
                "isOnline": {
                  "type": "boolean",
                  "description": "Indica se o painel est\u00e1 online (true) ou offline (false)",
                  "example": true
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}