{
  "openapi": "3.0.3",
  "info": {
    "title": "Snappify API",
    "version": "1.0.0",
    "description": "Automate the creation of beautiful code screenshots. Pass code and styling configuration to generate images programmatically.",
    "x-jentic-source-url": "https://snappify.com/docs/api"
  },
  "servers": [
    {
      "url": "https://api.snappify.com"
    }
  ],
  "paths": {
    "/snap/simple": {
      "post": {
        "operationId": "createSimpleSnap",
        "summary": "Create a code screenshot",
        "description": "Generate a beautiful code screenshot by passing code and styling configuration.",
        "tags": [
          "Snaps"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleSnapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated code screenshot image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SimpleSnapRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Source code to render. Use \\n for line breaks."
          },
          "language": {
            "type": "string",
            "description": "Programming language for syntax highlighting.",
            "default": "javascript"
          },
          "theme": {
            "type": "string",
            "description": "Color scheme selection.",
            "default": "github-dark-dimmed"
          },
          "background": {
            "type": "string",
            "description": "CSS background value for the snap."
          },
          "fileName": {
            "type": "string",
            "description": "File name to display on the snap."
          },
          "showLineNumbers": {
            "type": "boolean",
            "description": "Whether to show line numbers.",
            "default": false
          },
          "firstLineNumber": {
            "type": "number",
            "description": "Starting line number count.",
            "default": 1
          },
          "fontSize": {
            "type": "number",
            "description": "Font size in pixels (8-30).",
            "default": 14,
            "minimum": 8,
            "maximum": 30
          },
          "fontLigatures": {
            "type": "boolean",
            "description": "Whether to enable font ligatures.",
            "default": true
          },
          "hideTab": {
            "type": "boolean",
            "description": "Whether to hide the tab header.",
            "default": false
          },
          "codeBackground": {
            "type": "string",
            "description": "Background color for the code window."
          },
          "hideBoxShadow": {
            "type": "boolean",
            "description": "Whether to remove the box shadow.",
            "default": false
          },
          "showWatermark": {
            "type": "boolean",
            "description": "Whether to show the watermark. Pro tier required to hide.",
            "default": false
          },
          "paddingLeft": {
            "type": "number",
            "description": "Left padding in pixels."
          },
          "paddingRight": {
            "type": "number",
            "description": "Right padding in pixels."
          },
          "paddingTop": {
            "type": "number",
            "description": "Top padding in pixels."
          },
          "paddingBottom": {
            "type": "number",
            "description": "Bottom padding in pixels."
          },
          "profileInfo": {
            "type": "object",
            "description": "Optional user profile display configuration.",
            "properties": {
              "name": {
                "type": "string"
              },
              "avatar": {
                "type": "string"
              }
            }
          },
          "aspectRatio": {
            "type": "object",
            "description": "Optional width/height ratio.",
            "properties": {
              "width": {
                "type": "number"
              },
              "height": {
                "type": "number"
              }
            }
          },
          "highlights": {
            "type": "array",
            "description": "Line-specific styling options.",
            "items": {
              "$ref": "#/components/schemas/Highlight"
            }
          }
        }
      },
      "Highlight": {
        "type": "object",
        "properties": {
          "lines": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Line numbers to highlight."
          },
          "opacity": {
            "type": "number",
            "description": "Opacity for highlighted lines."
          },
          "diff": {
            "type": "string",
            "description": "Diff styling (add/remove).",
            "enum": [
              "add",
              "remove"
            ]
          },
          "filter": {
            "type": "string",
            "description": "CSS filter to apply."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from snappify dashboard. Available to paid plan users only."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}