{
  "openapi": "3.0.0",
  "info": {
    "title": "Healthcare",
    "version": "1.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/healthcare.gov/1.0.0/swagger.yaml"
  },
  "servers": [
    {
      "url": "https://www.healthcare.gov/"
    }
  ],
  "paths": {
    "/api/articles{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/articlesList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Api"
        ]
      }
    },
    "/api/blog{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/blogList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Api"
        ]
      }
    },
    "/api/glossary{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/glossaryList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Api"
        ]
      }
    },
    "/api/questions{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/questionsList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Api"
        ]
      }
    },
    "/api/states{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/statesList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Api"
        ]
      }
    },
    "/api/topics{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/topicsList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Api"
        ]
      }
    },
    "/blog/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "$ref": "#/components/schemas/blogPage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Blog"
        ]
      }
    },
    "/es/blog/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "$ref": "#/components/schemas/blogPage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Es"
        ]
      }
    },
    "/es/glossary/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "$ref": "#/components/schemas/glossaryPage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Es"
        ]
      }
    },
    "/es/question/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/questionPage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Es"
        ]
      }
    },
    "/es/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "$ref": "#/components/schemas/page"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Es"
        ]
      }
    },
    "/es/{stateName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "stateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/statePage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Es"
        ]
      }
    },
    "/glossary/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "$ref": "#/components/schemas/glossaryPage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Glossary"
        ]
      }
    },
    "/question/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/questionPage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content.",
        "tags": [
          "Question"
        ]
      }
    },
    "/{pageName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "$ref": "#/components/schemas/page"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content."
      }
    },
    "/{stateName}{mediaTypeExtension}": {
      "get": {
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "stateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/statePage"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "description": "Returns pages content."
      }
    }
  },
  "components": {
    "schemas": {
      "articlesList": {
        "properties": {
          "articles": {
            "items": {
              "properties": {
                "tags": {
                  "items": {
                    "items": {},
                    "type": "array"
                  },
                  "type": "array"
                },
                "bite": {
                  "type": "string"
                },
                "categories": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "featured": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "layout": {
                  "type": "string"
                },
                "meta-description": {
                  "type": "string"
                },
                "meta-title": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "related": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "seo-keywords": {
                  "type": "string"
                },
                "sort": {
                  "type": "number"
                },
                "title": {
                  "type": "string"
                },
                "title-short": {
                  "type": "string"
                },
                "topics": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "blogList": {
        "properties": {
          "blog": {
            "items": {
              "items": {
                "properties": {
                  "tags": {
                    "items": {
                      "items": {},
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "categories": {
                    "items": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "content": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "meta-description": {
                    "type": "string"
                  },
                  "meta-title": {
                    "type": "string"
                  },
                  "published": {
                    "type": "boolean"
                  },
                  "seo-keywords": {
                    "type": "string"
                  },
                  "sort": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "topics": {
                    "items": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "blogPage": {
        "properties": {
          "tags": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "categories": {
            "items": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "meta-description": {
            "type": "string"
          },
          "meta-title": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "seo-keywords": {
            "type": "string"
          },
          "sort": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "topics": {
            "items": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "glossaryList": {
        "properties": {
          "glossary": {
            "items": {
              "properties": {
                "tags": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "categories": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "layout": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "sort": {
                  "type": "number"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "glossaryPage": {
        "properties": {
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "categories": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "sort": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "page": {
        "properties": {
          "tags": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "categories": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "experience": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "sort": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "questionPage": {
        "properties": {
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "categories": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "sort": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "questionsList": {
        "properties": {
          "questions": {
            "items": {
              "properties": {
                "tags": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "categories": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "sort": {
                  "type": "number"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "statePage": {
        "properties": {
          "tags": {
            "items": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          },
          "categories": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "sort": {
            "type": "number"
          },
          "stateurl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "statesList": {
        "properties": {
          "states": {
            "items": {
              "items": {
                "properties": {
                  "tags": {
                    "items": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "categories": {
                    "items": {
                      "items": {},
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "content": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "excerpt": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "sort": {
                    "type": "number"
                  },
                  "stateurl": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "topicsList": {
        "properties": {
          "topics": {
            "items": {
              "properties": {
                "tags": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "articleorder": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "categories": {
                  "items": {
                    "items": {},
                    "type": "array"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "layout": {
                  "type": "string"
                },
                "meta-description": {
                  "type": "string"
                },
                "meta-title": {
                  "type": "string"
                },
                "order": {
                  "type": "number"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "sort": {
                  "type": "number"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "externalDocs": {
    "url": "https://www.healthcare.gov/developers/"
  },
  "tags": [
    {
      "name": "Api"
    },
    {
      "name": "Blog"
    },
    {
      "name": "Es"
    },
    {
      "name": "Glossary"
    },
    {
      "name": "Question"
    }
  ]
}