{
  "openapi": "3.0.3",
  "info": {
    "title": "Toss Payments API",
    "description": "Toss Payments (토스페이먼츠) is a major Korean payment gateway. The API supports payment confirmation, payment inquiry, and payment cancellation. Authentication uses Basic auth with the secret key. Payments are initiated via the client SDK and confirmed server-side.",
    "version": "1.0.0",
    "contact": {
      "name": "Toss Payments Developer Center",
      "url": "https://docs.tosspayments.com/"
    },
    "x-jentic-source-url": "https://docs.tosspayments.com/"
  },
  "servers": [
    {
      "url": "https://api.tosspayments.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment confirmation, query, and cancellation"
    }
  ],
  "paths": {
    "/v1/payments/confirm": {
      "post": {
        "operationId": "confirmPayment",
        "summary": "Confirm Payment (결제 승인)",
        "description": "Confirm a payment after the customer completes the payment process via the client SDK. The paymentKey, orderId, and amount returned from the SDK must be verified and submitted.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment confirmed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or amount mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid secret key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentKey}": {
      "get": {
        "operationId": "getPaymentByPaymentKey",
        "summary": "Query Payment by paymentKey (paymentKey로 결제 조회)",
        "description": "Retrieve payment details using the payment key.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The payment key issued by Toss Payments"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/orders/{orderId}": {
      "get": {
        "operationId": "getPaymentByOrderId",
        "summary": "Query Payment by orderId (orderId로 결제 조회)",
        "description": "Retrieve payment details using the merchant's order ID.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The merchant order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentKey}/cancel": {
      "post": {
        "operationId": "cancelPayment",
        "summary": "Cancel Payment (결제 취소)",
        "description": "Cancel a payment fully or partially. For partial cancellation, specify the cancelAmount.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The payment key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - cancellation not possible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using your secret key as the username with an empty password (secretKey:). Base64 encode the string."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ConfirmPaymentRequest": {
        "type": "object",
        "required": [
          "paymentKey",
          "orderId",
          "amount"
        ],
        "properties": {
          "paymentKey": {
            "type": "string",
            "description": "Payment key issued by Toss Payments (returned from the client SDK)"
          },
          "orderId": {
            "type": "string",
            "description": "Merchant order ID (6-64 chars, alphanumeric with -, _, =)",
            "minLength": 6,
            "maxLength": 64
          },
          "amount": {
            "type": "number",
            "description": "Payment amount. Must match the amount from the client SDK to prevent tampering."
          }
        }
      },
      "CancelPaymentRequest": {
        "type": "object",
        "required": [
          "cancelReason"
        ],
        "properties": {
          "cancelReason": {
            "type": "string",
            "description": "Reason for cancellation"
          },
          "cancelAmount": {
            "type": "number",
            "description": "Partial cancellation amount. Omit for full cancellation."
          },
          "taxFreeAmount": {
            "type": "number",
            "description": "Tax-free amount in the cancel amount (default: 0)"
          },
          "taxExemptionAmount": {
            "type": "number",
            "description": "Tax-exempt amount (e.g., cup deposit)"
          },
          "refundReceiveAccount": {
            "$ref": "#/components/schemas/RefundReceiveAccount"
          }
        }
      },
      "RefundReceiveAccount": {
        "type": "object",
        "properties": {
          "bank": {
            "type": "string",
            "description": "Bank code for refund"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number for refund"
          },
          "holderName": {
            "type": "string",
            "description": "Account holder name"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentKey": {
            "type": "string",
            "description": "Payment key"
          },
          "orderId": {
            "type": "string",
            "description": "Merchant order ID"
          },
          "orderName": {
            "type": "string",
            "description": "Order name"
          },
          "status": {
            "type": "string",
            "enum": [
              "READY",
              "IN_PROGRESS",
              "WAITING_FOR_DEPOSIT",
              "DONE",
              "CANCELED",
              "PARTIAL_CANCELED",
              "ABORTED",
              "EXPIRED"
            ],
            "description": "Payment status"
          },
          "mId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "version": {
            "type": "string",
            "description": "API version"
          },
          "requestedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Payment request time"
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Payment approval time"
          },
          "totalAmount": {
            "type": "number",
            "description": "Total payment amount"
          },
          "balanceAmount": {
            "type": "number",
            "description": "Remaining balance (for partial cancellation)"
          },
          "suppliedAmount": {
            "type": "number",
            "description": "Supplied amount (excluding tax)"
          },
          "vat": {
            "type": "number",
            "description": "VAT amount"
          },
          "taxFreeAmount": {
            "type": "number",
            "description": "Tax-free amount"
          },
          "method": {
            "type": "string",
            "description": "Payment method (카드, 가상계좌, 간편결제, 계좌이체, 휴대폰, etc.)"
          },
          "type": {
            "type": "string",
            "enum": [
              "NORMAL",
              "BILLING",
              "BRANDPAY"
            ],
            "description": "Payment type"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          },
          "card": {
            "$ref": "#/components/schemas/CardInfo"
          },
          "virtualAccount": {
            "$ref": "#/components/schemas/VirtualAccountInfo"
          },
          "transfer": {
            "$ref": "#/components/schemas/TransferInfo"
          },
          "mobilePhone": {
            "$ref": "#/components/schemas/MobilePhoneInfo"
          },
          "cancels": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CancelInfo"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CardInfo": {
        "type": "object",
        "properties": {
          "issuerCode": {
            "type": "string"
          },
          "acquirerCode": {
            "type": "string"
          },
          "number": {
            "type": "string",
            "description": "Masked card number"
          },
          "installmentPlanMonths": {
            "type": "integer"
          },
          "isInterestFree": {
            "type": "boolean"
          },
          "interestPayer": {
            "type": "string",
            "nullable": true
          },
          "approveNo": {
            "type": "string"
          },
          "useCardPoint": {
            "type": "boolean"
          },
          "cardType": {
            "type": "string",
            "enum": [
              "신용",
              "체크",
              "기프트",
              "미확인"
            ]
          },
          "ownerType": {
            "type": "string",
            "enum": [
              "개인",
              "법인",
              "미확인"
            ]
          },
          "acquireStatus": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "VirtualAccountInfo": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string",
            "enum": [
              "일반",
              "고정"
            ]
          },
          "accountNumber": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "refundStatus": {
            "type": "string",
            "enum": [
              "NONE",
              "PENDING",
              "FAILED",
              "PARTIAL_FAILED",
              "COMPLETED"
            ]
          },
          "expired": {
            "type": "boolean"
          },
          "settlementStatus": {
            "type": "string",
            "enum": [
              "INCOMPLETED",
              "COMPLETED"
            ]
          }
        }
      },
      "TransferInfo": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string"
          },
          "settlementStatus": {
            "type": "string"
          }
        }
      },
      "MobilePhoneInfo": {
        "type": "object",
        "properties": {
          "carrier": {
            "type": "string"
          },
          "customerMobilePhone": {
            "type": "string"
          },
          "settlementStatus": {
            "type": "string"
          }
        }
      },
      "CancelInfo": {
        "type": "object",
        "properties": {
          "cancelAmount": {
            "type": "number"
          },
          "cancelReason": {
            "type": "string"
          },
          "taxFreeAmount": {
            "type": "number"
          },
          "taxExemptionAmount": {
            "type": "number"
          },
          "refundableAmount": {
            "type": "number"
          },
          "canceledAt": {
            "type": "string",
            "format": "date-time"
          },
          "transactionKey": {
            "type": "string"
          },
          "receiptKey": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}
