{
  "openapi": "3.0.3",
  "info": {
    "title": "screenshot.fyi API",
    "version": "1.0.0",
    "description": "screenshot.fyi provides an API to generate screenshots of web pages with customizable options.",
    "x-jentic-source-url": "https://www.screenshot.fyi/api-docs"
  },
  "servers": [
    {
      "url": "https://www.screenshot.fyi"
    }
  ],
  "paths": {
    "/api/take": {
      "get": {
        "summary": "Take Screenshot",
        "description": "Capture a high-quality website screenshot with customizable options.",
        "operationId": "takeScreenshot",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "accessKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Access key for authorization"
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "The URL of the webpage to screenshot"
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1440
            },
            "description": "Viewport width in pixels"
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 900
            },
            "description": "Viewport height in pixels"
          },
          {
            "name": "fullPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Capture the full scrollable page content"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "jpeg"
              ],
              "default": "jpg"
            },
            "description": "Output image format"
          },
          {
            "name": "disableCookieBanners",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Attempt to remove cookie consent banners"
          },
          {
            "name": "darkMode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Enable dark mode when taking the screenshot"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot captured successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error during screenshot generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessKey": {
        "type": "apiKey",
        "name": "accessKey",
        "in": "query",
        "description": "Access key for authorization"
      }
    },
    "schemas": {
      "ScreenshotResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Presigned download link to the screenshot image"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "string",
            "description": "Detailed error information"
          },
          "stack": {
            "type": "string",
            "description": "Stack trace (optional)"
          }
        }
      }
    }
  },
  "security": [
    {
      "accessKey": []
    }
  ]
}