{
  "openapi": "3.0.3",
  "info": {
    "title": "Taktikal Core API",
    "version": "1.0.0",
    "description": "Digital signing, authentication, document management, and compliance API with e-ID support.",
    "x-jentic-source-url": "https://onboardingdev.taktikal.is/api/swagger-ui"
  },
  "servers": [
    {
      "url": "https://onboardingdev.taktikal.is/api"
    }
  ],
  "paths": {
    "/management/signing": {
      "post": {
        "operationId": "createSigning",
        "summary": "Create signing process",
        "tags": [
          "Signing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelSigning",
        "summary": "Cancel signing process",
        "tags": [
          "Signing"
        ],
        "responses": {
          "200": {
            "description": "Cancelled"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/management/signing/sequential": {
      "post": {
        "operationId": "createSequentialSigning",
        "summary": "Create bulk sequential signing",
        "tags": [
          "Signing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signing/{ProcessKey}": {
      "post": {
        "operationId": "authenticateSignee",
        "summary": "Authenticate signee into process",
        "tags": [
          "Signing"
        ],
        "parameters": [
          {
            "name": "ProcessKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signing/{ProcessKey}/signee": {
      "get": {
        "operationId": "getSignees",
        "summary": "Get signees for process",
        "tags": [
          "Signing"
        ],
        "parameters": [
          {
            "name": "ProcessKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signee list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addSignee",
        "summary": "Add signee to process",
        "tags": [
          "Signing"
        ],
        "parameters": [
          {
            "name": "ProcessKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signing/{ProcessKey}/branding": {
      "get": {
        "operationId": "getBranding",
        "summary": "Get company branding",
        "tags": [
          "Signing"
        ],
        "parameters": [
          {
            "name": "ProcessKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branding data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/Auth/Start": {
      "post": {
        "operationId": "startAuth",
        "summary": "Start e-ID authentication",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth started"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/Auth/Poll": {
      "post": {
        "operationId": "pollAuth",
        "summary": "Check authentication status",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Status"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/management/archive": {
      "post": {
        "operationId": "archiveDocument",
        "summary": "Archive signed PDF",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Archived"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/management/sealing": {
      "post": {
        "operationId": "sealPdf",
        "summary": "Seal PDF document",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sealed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/management/sealing/xml": {
      "post": {
        "operationId": "sealXml",
        "summary": "Seal XML document",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sealed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/management/flow": {
      "get": {
        "operationId": "getFlows",
        "summary": "List signing flows",
        "tags": [
          "Management"
        ],
        "responses": {
          "200": {
            "description": "Flows"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createFlow",
        "summary": "Create signing flow",
        "tags": [
          "Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/management/apikeys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "List API keys",
        "tags": [
          "Management"
        ],
        "responses": {
          "200": {
            "description": "Keys"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Create API key",
        "tags": [
          "Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/management/webhook": {
      "post": {
        "operationId": "configureWebhook",
        "summary": "Configure webhooks",
        "tags": [
          "Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configured"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/management/statistics": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Get usage statistics",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Statistics"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signing/activity": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get activity logs",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Activity log"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}