{
  "openapi": "3.0.3",
  "info": {
    "title": "FraudLabs Pro API",
    "description": "FraudLabs Pro provides fraud detection and prevention services for online transactions. The API enables order screening, transaction feedback, order result retrieval, and SMS verification capabilities.",
    "version": "2.0.0",
    "contact": {
      "name": "FraudLabs Pro Support",
      "url": "https://www.fraudlabspro.com/contact"
    },
    "x-jentic-source-url": "https://www.fraudlabspro.com/developer/api/screen-order"
  },
  "servers": [
    {
      "url": "https://api.fraudlabspro.com/v2",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Order",
      "description": "Fraud screening and order management"
    },
    {
      "name": "SMS Verification",
      "description": "SMS-based OTP verification"
    }
  ],
  "paths": {
    "/order/screen": {
      "post": {
        "operationId": "screenOrder",
        "summary": "Screen an order for fraud",
        "description": "Screen an order transaction for payment fraud. Analyzes IP geolocation, billing/shipping addresses, email, phone, payment details, and device information to produce a risk score.",
        "tags": ["Order"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fraud screening result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/order/result": {
      "get": {
        "operationId": "getOrderResult",
        "summary": "Get order screening result",
        "description": "Retrieve the fraud screening result for a previously screened order transaction.",
        "tags": ["Order"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique transaction ID from the Screen Order API, or your platform's order ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "FraudLabs Pro API license key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order screening result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/order/feedback": {
      "post": {
        "operationId": "feedbackOrder",
        "summary": "Provide order feedback",
        "description": "Update the status of a transaction from pending manual review to APPROVE, REJECT, or REJECT_BLACKLIST. This feedback helps refine fraud detection algorithms.",
        "tags": ["Order"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback recorded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/verification/send": {
      "post": {
        "operationId": "sendSmsVerification",
        "summary": "Send SMS verification",
        "description": "Send an SMS with a one-time password (OTP) to a mobile phone number for verification purposes.",
        "tags": ["SMS Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/verification/result": {
      "get": {
        "operationId": "getSmsVerificationResult",
        "summary": "Get SMS verification result",
        "description": "Validate whether an OTP sent through the Send SMS Verification API matches the code provided by the user.",
        "tags": ["SMS Verification"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "FraudLabs Pro API license key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tran_id",
            "in": "query",
            "required": true,
            "description": "Unique transaction ID returned by the Send SMS Verification API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otp",
            "in": "query",
            "required": true,
            "description": "The one-time password received by the user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsVerificationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "FraudLabs Pro API license key passed as the 'key' query or body parameter."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "error_code": {
                "type": "string"
              },
              "error_message": {
                "type": "string"
              }
            }
          }
        }
      },
      "ScreenOrderRequest": {
        "type": "object",
        "required": ["key", "ip"],
        "properties": {
          "key": {
            "type": "string",
            "description": "FraudLabs Pro API license key."
          },
          "ip": {
            "type": "string",
            "description": "IP address of the customer (IPv4 or IPv6)."
          },
          "format": {
            "type": "string",
            "enum": ["json", "xml"],
            "default": "json"
          },
          "first_name": { "type": "string", "description": "Customer's first name." },
          "last_name": { "type": "string", "description": "Customer's last name." },
          "email": { "type": "string", "format": "email", "description": "Customer's email address." },
          "user_phone": { "type": "string", "description": "Customer's phone number." },
          "bill_addr": { "type": "string", "description": "Billing street address." },
          "bill_city": { "type": "string", "description": "Billing city." },
          "bill_state": { "type": "string", "description": "Billing state or province." },
          "bill_country": { "type": "string", "description": "Billing country (ISO 3166-1 alpha-2)." },
          "bill_zip_code": { "type": "string", "description": "Billing ZIP or postal code." },
          "ship_first_name": { "type": "string" },
          "ship_last_name": { "type": "string" },
          "ship_addr": { "type": "string", "description": "Shipping street address." },
          "ship_city": { "type": "string", "description": "Shipping city." },
          "ship_state": { "type": "string", "description": "Shipping state or province." },
          "ship_country": { "type": "string", "description": "Shipping country (ISO 3166-1 alpha-2)." },
          "ship_zip_code": { "type": "string", "description": "Shipping ZIP or postal code." },
          "bin_no": { "type": "string", "description": "First 6-9 digits of credit card number (BIN)." },
          "card_hash": { "type": "string", "description": "Hash of credit card number." },
          "avs_result": { "type": "string", "description": "AVS result code." },
          "cvv_result": { "type": "string", "description": "CVV result code." },
          "user_order_id": { "type": "string", "description": "Your platform's order ID." },
          "amount": { "type": "number", "format": "double", "description": "Order amount." },
          "quantity": { "type": "integer", "description": "Order quantity." },
          "currency": { "type": "string", "description": "Currency code (ISO 4217)." },
          "department": { "type": "string", "description": "Product department or category." },
          "payment_gateway": { "type": "string", "description": "Payment gateway name." },
          "payment_mode": { "type": "string", "description": "Payment mode (e.g., creditcard, paypal)." },
          "coupon_code": { "type": "string", "description": "Coupon code used." },
          "flp_checksum": { "type": "string", "description": "FraudLabs Pro device fingerprint checksum." }
        }
      },
      "ScreenOrderResponse": {
        "type": "object",
        "properties": {
          "fraudlabspro_id": { "type": "string", "description": "Unique transaction ID." },
          "fraudlabspro_score": { "type": "integer", "description": "Risk score from 1 to 100.", "minimum": 1, "maximum": 100 },
          "fraudlabspro_status": { "type": "string", "enum": ["APPROVE", "REJECT", "REVIEW"], "description": "Fraud screening decision." },
          "remaining_credits": { "type": "integer", "description": "Remaining API credits." },
          "ip_geolocation": {
            "type": "object",
            "properties": {
              "ip": { "type": "string" },
              "continent": { "type": "string" },
              "country_code": { "type": "string" },
              "country_name": { "type": "string" },
              "region": { "type": "string" },
              "city": { "type": "string" },
              "latitude": { "type": "number" },
              "longitude": { "type": "number" },
              "timezone": { "type": "string" },
              "isp_name": { "type": "string" },
              "is_proxy": { "type": "boolean" }
            }
          },
          "billing_address": {
            "type": "object",
            "properties": {
              "ip_distance_in_km": { "type": "number" },
              "ip_distance_in_mile": { "type": "number" },
              "is_ip_country_match": { "type": "boolean" }
            }
          },
          "shipping_address": {
            "type": "object",
            "properties": {
              "is_address_ship_forward": { "type": "boolean" },
              "is_bill_ship_city_match": { "type": "boolean" },
              "is_bill_ship_state_match": { "type": "boolean" },
              "is_bill_ship_country_match": { "type": "boolean" },
              "is_bill_ship_postal_match": { "type": "boolean" }
            }
          },
          "email_address": {
            "type": "object",
            "properties": {
              "is_free": { "type": "boolean" },
              "is_disposable": { "type": "boolean" },
              "domain_existence": { "type": "boolean" }
            }
          },
          "phone_number": {
            "type": "object",
            "properties": {
              "is_disposable": { "type": "boolean" }
            }
          },
          "credit_card": {
            "type": "object",
            "properties": {
              "card_brand": { "type": "string" },
              "card_type": { "type": "string" },
              "card_issuer": { "type": "string" },
              "bank_name": { "type": "string" },
              "is_prepaid": { "type": "boolean" }
            }
          },
          "device": {
            "type": "object",
            "properties": {
              "is_malware_exploit": { "type": "boolean" },
              "is_in_blacklist": { "type": "boolean" }
            }
          }
        }
      },
      "OrderResultResponse": {
        "type": "object",
        "properties": {
          "fraudlabspro_id": { "type": "string" },
          "user_order_id": { "type": "string" },
          "fraudlabspro_score": { "type": "integer", "minimum": 1, "maximum": 100 },
          "fraudlabspro_status": { "type": "string", "enum": ["APPROVE", "REJECT", "REVIEW"] },
          "fraudlabspro_rules": { "type": "string", "description": "Rules triggered by the system." }
        }
      },
      "FeedbackOrderRequest": {
        "type": "object",
        "required": ["key", "id", "action"],
        "properties": {
          "key": { "type": "string", "description": "FraudLabs Pro API license key." },
          "id": { "type": "string", "description": "Unique transaction ID from Screen Order API." },
          "action": { "type": "string", "enum": ["APPROVE", "REJECT", "REJECT_BLACKLIST"], "description": "Feedback action." },
          "format": { "type": "string", "enum": ["json", "xml"], "default": "json" },
          "note": { "type": "string", "description": "Optional feedback notes." }
        }
      },
      "FeedbackOrderResponse": {
        "type": "object",
        "properties": {
          "fraudlabspro_id": { "type": "string", "description": "The transaction ID that was updated." }
        }
      },
      "SendSmsRequest": {
        "type": "object",
        "required": ["key", "tel", "mesg"],
        "properties": {
          "key": { "type": "string", "description": "FraudLabs Pro API key." },
          "tel": { "type": "string", "description": "Recipient mobile number in E.164 format (e.g., +12015550123)." },
          "country_code": { "type": "string", "description": "ISO 3166 country code for the recipient." },
          "mesg": { "type": "string", "maxLength": 140, "description": "SMS message template with <otp> placeholder for the OTP." },
          "otp_timeout": { "type": "integer", "minimum": 15, "maximum": 86400, "default": 3600, "description": "OTP validity period in seconds." },
          "format": { "type": "string", "enum": ["json", "xml"], "default": "json" }
        }
      },
      "SendSmsResponse": {
        "type": "object",
        "properties": {
          "tran_id": { "type": "string", "description": "Unique transaction ID (20 characters)." },
          "credits_remaining": { "type": "string", "description": "Remaining SMS credits." }
        }
      },
      "SmsVerificationResultResponse": {
        "type": "object",
        "properties": {
          "result": { "type": "string", "enum": ["Y", "N"], "description": "Y if the OTP matches, N otherwise." }
        }
      }
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ]
}
