{
  "openapi": "3.0.3",
  "info": {
    "version": "2.0.0-oas3",
    "title": "TurboSMTP Public APIs",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "This document describes all public turboSMTP **V2** API and offers endpoints Descriptions, Parameters, Requests, Responses and Samples of usage.\n\n[Click here to view the previous version of turboSMTP Public API Version 1.0](https://www.serversmtp.com/turbo-api-1)\n\n\n# Useful Links for Developers\n\n- [Email SDKs for Developers](https://serversmtp.com/email-sdks-for-developers)\n- [Webhooks Reference](https://serversmtp.com/event-webhook-reference/)\n- [Email API for Developers](https://serversmtp.com/email-api-for-developers)\n\n\n# Security\nFor the most part (and where not otherwise explicit) turboSMTP’s API requires Authorization. \n\nAuthorization to access a user’s resource is granted to clients provided they set  authentication headers into their request, valued with the proper values issued by turboSMTP servers.\n\n## *  Authorization via ConsumerKey/ConsumerSecret\n\nThis type of authorization consists of a pair of headers, named consumerKey and consumerSecret that are created and granted to the end user to be used in a permanent way (unless they´re deleted of course). This kind of authentication is intended to provide access to endpoints features without the need of providing the user the account details (email address + password).\n\n*consumerKey:* Consumer Key Granted.\n\n*consumerSecret:* Consumer Secret Granted.\n\n(Use [/consumerKeys/create](#/consumerkey/createConsumerKey) create a consumer key/secret pair).    \n\n## *  Authorization via Authentication Key\n\nThe authentication key is user-based and it is issued by turboSMTP servers upon successful user’s email address + password challenge, performed by means of appropriate request.    \n\n*Authorization:* Authorization_Key\n\n(Use [/authentication/authorize](#/authentication/AuthenticationLogin) to obtain an API Key)\n\n# Data Interchange Format\n\nFor the most part (and where not otherwise explicit) turboSMTP’s API uses JSON as the data format of choice when it comes to request and response bodies.\n\n\n\n  \n",
    "contact": {
      "email": "api@turbo-smtp.com"
    },
    "x-jentic-source-url": "https://serversmtp.com/turbo-api/turbo-smtp.yaml"
  },
  "servers": [
    {
      "description": "turboSMTP Production Server",
      "url": "https://pro.api.serversmtp.com/api/v2"
    }
  ],
  "paths": {
    "/authorize": {
      "post": {
        "security": [],
        "tags": [
          "authentication"
        ],
        "summary": "Login - Get API Key",
        "operationId": "AuthenticationLogin",
        "description": "**This endpoint allows you to get an API Key**\n\nBy providing your turboSMTP authentication details you will be able to get an API Key.\n\nUse your API Key to consume APIs that require authorization.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationLoginRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nUser logged in sucessfully, use the auth value as API Key from request body in future API calls.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationLoginSucessResponsetBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\n\nEmail address or password provided are incorrect.\n\n###### Produces: \n\n* wrong_credentials_specified\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "wrong_credentials_specified"
                }
              }
            }
          }
        }
      }
    },
    "/deauthorize": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Logout - Revoke API Key",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "AuthenticationLogout",
        "description": "**This endpoint allows you to revoke your API Key**\n",
        "responses": {
          "200": {
            "description": "Sucess\n\nUser logged out sucessfully, API Key is no longer valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "token_deauthorized"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/change-password": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Change turboSMTP password",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "ChangePassword",
        "description": "**This endpoint allows you to change your current password**\n\n## PASSWORD RULES\n\n  * Passwords must have at least 10 characters.\n  * At least one character must be uppercase.\n  * At least one character must be lowercase.\n  * At least one character must be numeric.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nPassword changed sucessfully.   \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* invalid_mail_address\n* current_password_is_missing\n* current_password_can_not_be_empty\n* password_is_missing\n* password_length_should_not_be_less_than_10_characters\n* password_should_contain_at_least_one_uppercase_character\n* password_should_contain_at_least_one_lowercase_character\n* password_should_contain_at_least_one_digit\n* confirm_password_is_missing\n* password_should_equal_confirm_password\n* new_password_should_not_equal_current_password            \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden\n\nCurrent password provided is incorrect.\n\n###### Produces: \n\n* password_is_invalid\n* not_allowed_for_apikey\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "password_is_invalid"
                }
              }
            }
          }
        }
      }
    },
    "/forgot-password": {
      "post": {
        "security": [],
        "tags": [
          "authentication"
        ],
        "summary": "Forgot Password - Use in case you don´t remember your turboSMTP password",
        "operationId": "SendSecretTokenResetPassword",
        "description": "**This endpoint will allow you to get an email that will help you reset your turboSMTP password**\n\nIn your password reset email you will find:\n\n* A **Reset Password** button that will take you to the password reset form on turboSMTP website.\n* A secret token to be used to reset the password via [/authentication/forgot-password](#/authentication/updateResetPassword). **Note**: Token is vaid for 1 hour.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSecretTokenResetPasswordRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nPassword reset email with instructions was sent to your turboSMTP email account.   \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* empty_request_body\n* missing_required_parameter   \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSecretTokenResetPasswordBadRequestResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\n\nPlease verify the email address provided is the one you used to register at turboSMTP.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "email_not_found"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "authentication"
        ],
        "summary": "Forgot Password - Verify if Secret Passord Recovery token is valid.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "CheckValidityTokenResetPassword",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Secret Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Forgot Password - check if secret token is valid\n\n**Note**: Tokens are valid for 1 hour.\n",
        "responses": {
          "200": {
            "description": "Sucess\n\nToken is valid.  \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* forgot_password_token_is_missing\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckValidityTokenResetPasswordBadRequestResponseBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\n\nToken is invalid. \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "token_is_invalid"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [],
        "tags": [
          "authentication"
        ],
        "summary": "Forgot Password - change password",
        "operationId": "UpdateResetPassword",
        "description": "**This endpoint allows you to reset your password by using a password reset token**\n\n## PASSWORD RULES\n\n  * Passwords must have at least 10 characters.\n  * At least one character must be uppercase.\n  * At least one character must be lowercase.\n  * At least one character must be numeric.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResetPasswordRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nPassword reset sucessfully.   \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* empty_request_body\n* token_is_missing\n* token_can_not_be_empty\n* password_is_missing\n* password_length_should_not_be_less_than_10_characters\n* password_should_contain_at_least_one_uppercase_character\n* password_should_contain_at_least_one_lowercase_character\n* password_should_contain_at_least_one_digit\n* confirm_password_is_missing\n* password_should_equal_confirm_password\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResetPasswordBadRequestResponseBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\n\nToken is invalid.  \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "token_is_invalid"
                }
              }
            }
          }
        }
      }
    },
    "/mail/send": {
      "post": {
        "servers": [
          {
            "description": "turboSMTP SEND production server",
            "url": "https://api.turbo-smtp.com/api/v2"
          },
          {
            "description": "turboSMTP SEND production server for EUROPEAN users",
            "url": "https://api.eu.turbo-smtp.com/api/v2"
          }
        ],
        "tags": [
          "mail"
        ],
        "summary": "Send email message",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "sendEmail",
        "description": "Send email message\n\n###### **Notes:**\n**- ConsumerKey / ConsumerSecret headers should be used. This endpoint does not support Authorization header**\n\n**- Switch between samples to learn about advanced features such as using attachments, custom headers like reply-to address, tracking, embeded images and others.**\n\n###### Limitations:\n    \n* The total size of your email, including attachments, must be less than 24MB.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Email"
              },
              "examples": {
                "Short": {
                  "summary": "Simple Email Send Request Body",
                  "value": {
                    "from": "FROM NAME <user@example.com>",
                    "to": "user@example.com,user2@example.com",
                    "subject": "This is a test message",
                    "cc": "cc_user@example.com",
                    "bcc": "bcc_user@example.com",
                    "content": "This is plain text version of the message.",
                    "html_content": "This is <b>HTML</b> version of the message."
                  }
                },
                "Full": {
                  "summary": "Complete Email Send Request Body",
                  "value": {
                    "from": "user@example.com",
                    "to": "user@example.com,user2@example.com",
                    "subject": "This is a test message",
                    "cc": "cc_user@example.com",
                    "bcc": "bcc_user@example.com",
                    "content": "This is plain text version of the message.",
                    "html_content": "This is <b>HTML</b> version of the message.",
                    "custom_headers": {
                      "List-Unsubscribe": "<https://www.example.com/unlist?id=8822772727>",
                      "X-Entity-Ref-ID": "4ec7b020-51dc-442f-bd39-9b0a32c3eb83",
                      "Tracking-Id": "888884433",
                      "reply-to": "alternative-email@domain.com"
                    },
                    "mime_raw": "string",
                    "reference_id": "333fe3e9-05aa-4ead-85cf-de625b0222c6",
                    "X-campaign-ID": "AB Test",
                    "attachments": [
                      {
                        "content": "dXBsb2FkZXIxQGdtYWlsLmNvbQ0KdXBsb2FkZXIyQGdtYWlsLmNvbQ0KYWJjMQ==",
                        "name": "list.txt",
                        "type": "text/plain"
                      }
                    ]
                  }
                },
                "Images": {
                  "summary": "Email with Embedded Images using CID",
                  "value": {
                    "from": "user@example.com",
                    "to": "test@example.com",
                    "subject": "This is a Message subject",
                    "html_content": "<p><img style='' src='cid:<UNIQUE_ID>@<SENDER_DOMAIN.COM>'></p>",
                    "attachments": [
                      {
                        "content_id": "<UNIQUE_ID>",
                        "content": "data:image/jpeg;base64,/BASE_64_OF_THE_IMAGE",
                        "name": "image.jpg",
                        "type": "image/jpeg"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nTurbo-SMTP successfully received your message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSucessResponsetBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\nThere was a problem processing the request due to an invalid/missing parameter for the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendBadRequestResponseBody"
                },
                "examples": {
                  "MissingSender": {
                    "summary": "Sender mail address (from) has not been issued or is invalid",
                    "value": {
                      "message": "error",
                      "errors": [
                        "missing or not valid sender email (from)"
                      ]
                    }
                  },
                  "MissingRecipients": {
                    "summary": "Recipients mail addresses (to) have not been issued",
                    "value": {
                      "message": "error",
                      "errors": [
                        "missing recipients (to)"
                      ]
                    }
                  },
                  "InvalidRecipients": {
                    "summary": "Invalid email addresses in to, cc or bcc fields",
                    "value": {
                      "message": "error",
                      "errors": [
                        "'abc' 'to' email not valid",
                        "'cc_@ab1' 'cc' email not valid",
                        "'bcc_@ab3' 'bcc' email not valid"
                      ]
                    }
                  },
                  "InvalidMime": {
                    "summary": "Invalid MIME content",
                    "value": {
                      "message": "error",
                      "errors": [
                        "Invalid Mime"
                      ]
                    }
                  },
                  "InsuficientCredit": {
                    "summary": "Not enought credit in account subscription",
                    "value": {
                      "message": "error",
                      "errors": [
                        "nocredit"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\n\nMissing or Invalid Turbo-SMTP credentials provided.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendUnauthorizedResponseBody"
                },
                "examples": {
                  "MissingAuthorizationToken": {
                    "summary": "Authorization tokens are not present.",
                    "value": {
                      "errorCode": 3,
                      "message": "Invalid authorization token",
                      "details": "No authorization key was specified for request: POST /api/mail/send"
                    }
                  },
                  "InvalidAuthorizationToken": {
                    "summary": "Authorization Tokens are invalid.",
                    "value": {
                      "errorCode": 3,
                      "message": "Wrong credentials specified"
                    }
                  },
                  "DeactivatedAccount": {
                    "summary": "Account is innactive",
                    "value": {
                      "errorCode": 3,
                      "message": "Account for developer@your-domain.com is inactive"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/suppressions/import": {
      "post": {
        "operationId": "importSuppressions",
        "tags": [
          "suppressions"
        ],
        "summary": "Import Suppressions",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nImport Suppressions\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionImportJson"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionImportFile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nEmail Addresses were imported.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_upload_file\n* invalid_mail_address_list\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionUploadBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/suppressions": {
      "get": {
        "tags": [
          "suppressions"
        ],
        "summary": "Get Suppressions Data",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "getSuppressions",
        "description": "Get Suppressions Data\n",
        "parameters": [
          {
            "$ref": "Shared.yaml#/components/parameters/PageQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/LimitQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/FromQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/ToQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/TimezoneQueryParam"
          },
          {
            "$ref": "#/components/parameters/SuppressionFilterQueryParam"
          },
          {
            "$ref": "#/components/parameters/SuppressionFilterByQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/SmartSearchQueryParam"
          },
          {
            "$ref": "#/components/parameters/SuppressionOrderByQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/OrderTypeQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nGet Filtered Suppressions Data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionsSucessResponsetBody"
                }
              }
            }
          },
          "401": {
            "$ref": "Shared.yaml#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "suppressions"
        ],
        "summary": "Filter suppressions",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "filterSuppressions",
        "description": "Get Suppressions Data\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionFilterOrderPageRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nGet Filtered Suppressions Data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionsSucessResponsetBody"
                }
              }
            }
          },
          "401": {
            "$ref": "Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/suppressions/csv": {
      "get": {
        "tags": [
          "suppressions"
        ],
        "summary": "Export Suppressions data in CSV file",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "exportSuppressionsDataCSV",
        "description": "Export Suppressions data in CSV file\n",
        "parameters": [
          {
            "$ref": "Shared.yaml#/components/parameters/FromQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/ToQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/TimezoneQueryParam"
          },
          {
            "$ref": "#/components/parameters/SuppressionFilterQueryParam"
          },
          {
            "$ref": "#/components/parameters/SuppressionFilterByQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/SmartSearchQueryParam"
          },
          {
            "$ref": "#/components/parameters/SuppressionOrderByQueryParam"
          },
          {
            "$ref": "Shared.yaml#/components/parameters/OrderTypeQueryParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuppressionsCSV"
          },
          "401": {
            "$ref": "Shared.yaml#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "suppressions"
        ],
        "summary": "Export filtered suppressions",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "exportFilterSuppressions",
        "description": "Export Filtered Suppressions\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionFilterRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuppressionsCSV"
          },
          "401": {
            "$ref": "Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/suppressions/bulk_delete": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "tags": [
          "suppressions"
        ],
        "summary": "Bulk delete suppressions",
        "operationId": "bulkDeleteSuppressions",
        "description": "Bulk delete suppressions\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionBulkDeleteRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppressions were sucessfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionsDeleteSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* no_contacts_were_provided\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/suppressions/delete": {
      "post": {
        "tags": [
          "suppressions"
        ],
        "summary": "Delete suppressions",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "deleteFilterSuppressions",
        "description": "Delete suppressions\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionFilterRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionsDeleteSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/meta/countries": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Get countries",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "getCountries",
        "description": "Get countries\n",
        "responses": {
          "200": {
            "description": "Countries list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryList"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/meta/state/{isoCode}": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Get states by country",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "getStatesByCountry",
        "description": "Get states by country\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IsoCodePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "States selected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateList"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the Country Iso Code Provided.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "invalid_iso_code"
                }
              }
            }
          }
        }
      }
    },
    "/billing/buy_emailvalidation_credits": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "tags": [
          "billing"
        ],
        "summary": "Buy Email Validator Credits",
        "operationId": "buyEmailValidatorCredits",
        "description": "\nBuy Email Validator Credits\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyEmailValidatorCreditsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nReturns url to the billing system to allow payment completition. \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyEmailValidatorCreditsSucessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter_amount\n* amount_should_be_integer\n* amount_should_not_be_less_than_15\n* amount_should_not_be_higher_than_1800\n* can_not_buy_extra_credit_without_active_plan\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyEmailValidatorCreditsBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/emailvalidation/subscription": {
      "get": {
        "operationId": "getEmailValidationSubscription",
        "tags": [
          "email-validator"
        ],
        "summary": "Get Email Validation subscription",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nThis endpoint allows to get details about remaining credit / balance for email validation.\n",
        "responses": {
          "200": {
            "description": "Sucess\n\nEmail Validation Subscription.\n\n#### Note: ####\n\n* Free credits are measured in credits units, each credit enables 1 email validation.\n\n* Paid credits represent available monetary balance, as email vaidations are performed, balance will be deduced, cost per email validation is variable depending on ammount of validated emails.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorSubscription"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/emailvalidation/upload": {
      "post": {
        "operationId": "uploadEmailValidationFile",
        "tags": [
          "email-validator"
        ],
        "summary": "Upload file for email validation",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nUpload file for email validation\n",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucess\n\nUploaded file was created at the server.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidationUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_upload_file\n* invalid_mail_address_list\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorUploadBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/emailvalidation/lists": {
      "get": {
        "operationId": "getEmailValidationLists",
        "tags": [
          "email-validator"
        ],
        "summary": "Get Email validation lists information",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nList files for email validation information\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/PageQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/LimitQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/FromQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/ToQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/TimezoneQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nGet Email Validation Lists Data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorSucessResponsetBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/emailvalidation/lists/{Id}": {
      "get": {
        "operationId": "getEmailValidationListSummary",
        "tags": [
          "email-validator"
        ],
        "summary": "Get Email validation list details",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet Email validation list details\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nGet Email Validation List Data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorList"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the list id is valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "list_not_found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEmailValidationListById",
        "tags": [
          "email-validator"
        ],
        "summary": "Delete email validation list",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nDelete email validation list\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nEmail validation list was deleted.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorListDeleteSuccess"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the list id is valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "list_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/emailvalidation/lists/{Id}/validate": {
      "post": {
        "operationId": "validateEmailValidatorList",
        "tags": [
          "email-validator"
        ],
        "summary": "Validate list in Email Validator\n",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "Validate list in Email Validator\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nList was validated sucessfully.\n"
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* list_already_validated\n* insufficient_credit\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorValidateListBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the list id is valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "list_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/emailvalidation/lists/{Id}/emails": {
      "get": {
        "operationId": "getValidatedEmailsByList",
        "tags": [
          "email-validator"
        ],
        "summary": "Get Validated Emails by Email Validation List",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet Validated Emails by Email Validation List\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/PageQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/LimitQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nGet Email Validation List Data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorValidatedMailsResults"
                },
                "examples": {
                  "ValidatedList": {
                    "summary": "Example for a list that has been validated",
                    "value": {
                      "count": 2,
                      "processed": 2,
                      "results": [
                        {
                          "email": "mail@thearter-gallery.eu",
                          "id": 500157,
                          "status": "do_not_mail",
                          "sub_status": "",
                          "free_email": false,
                          "domain": "thearter-gallery.eu",
                          "domain_age_days": null,
                          "smtp_provider": null,
                          "mx_found": true,
                          "mx_record": "gmail-smtp-in.l.google.com"
                        },
                        {
                          "email": "staffdevelopment@guidingteachers.org",
                          "id": 500158,
                          "status": "valid",
                          "sub_status": "",
                          "free_email": false,
                          "domain": "guidingteachers.org",
                          "domain_age_days": null,
                          "smtp_provider": null,
                          "mx_found": true,
                          "mx_record": "gmail-smtp-in.l.google.com"
                        }
                      ]
                    }
                  },
                  "NotValidatedList": {
                    "summary": "Example for a list that has not been validated yet",
                    "value": {
                      "count": 2,
                      "processed": 0,
                      "results": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the list id is valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "list_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/emailvalidation/lists/{Id}/emails/{emailId}": {
      "get": {
        "operationId": "getEmailValidationDataByEmailId",
        "tags": [
          "email-validator"
        ],
        "summary": "Get Email validation data by email ID.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet Email validation data by email ID.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          },
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Email validation ID obtained from the list."
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nDetails of validated email address. \n\n**Note**: Make sure to check the complete \"status\" and \"sub_status\" properties documentation from the schema.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorListEmailDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the list id and email id are valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "examples": {
                  "InvalidListId": {
                    "summary": "Invalid List Id",
                    "value": {
                      "message": "list_not_found"
                    }
                  },
                  "InvalidEmailId": {
                    "summary": "Invalid Email Id",
                    "value": {
                      "message": "email_not_found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/emailvalidation/lists/{Id}/csv": {
      "get": {
        "operationId": "exportCSVValidatedEmailsByList",
        "tags": [
          "email-validator"
        ],
        "summary": "Export Validated Emails by Email Validation List to CSV File",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nExport Validated Emails by Email Validation List to CSV File\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ValidatedEmailsCSV"
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the list id is valid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "list_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/emailvalidation/validateEmail": {
      "post": {
        "operationId": "validateEmail",
        "tags": [
          "email-validator"
        ],
        "summary": "Validate single email address",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nValidate singleemail adddress.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAddressRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nDetails of validated email address. \n\n**Note**: Make sure to check the complete \"status\" and \"sub_status\" properties documentation from the schema.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorMailDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* invalid_mail_address\n* missing_required_parameter_email\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidatorValidateBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subaccounts/list": {
      "get": {
        "operationId": "getSubaccounts",
        "tags": [
          "subaccounts"
        ],
        "summary": "Get Subaccounts lists information",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nList subaccounts information\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/PageQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/LimitQueryParam"
          },
          {
            "$ref": "#/components/parameters/SubaccountFilterByEmailQueryParam"
          },
          {
            "$ref": "#/components/parameters/SubaccountFilterByActiveQueryParam"
          },
          {
            "$ref": "#/components/parameters/SubaccountFilterByIPQueryParam"
          },
          {
            "$ref": "#/components/parameters/SubaccountOrderByQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/OrderTypeQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nSubaccounts list.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubAccountListSucessResponsetBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* page_should_be_integer\n* page_should_be_greater_than_0\n* limit_should_be_integer\n* limit_should_be_greater_than_0\n* filter_by_active_should_be_boolean\n* ip_should_be_IPV4_format\n* order_by_can_only_be_email_or_last_used\n* ordertype_should_be_asc_or_desc\n"
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          },
          "404": {
            "description": "Not Found\n\nPage not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "page_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/subaccounts/email-exists": {
      "get": {
        "operationId": "checkIfAccountEmailExists",
        "tags": [
          "subaccounts"
        ],
        "summary": "Check if account email exists in turboSMTP",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nCheck if account email exists in turboSMTP\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/EmailQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nReturns true if email address is already associated to a turboSMTP account. \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommmonResultResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter_email\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          }
        }
      }
    },
    "/subaccounts": {
      "post": {
        "operationId": "createSubaccount",
        "tags": [
          "subaccounts"
        ],
        "summary": "Create Subaccount.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nCreate subaccount.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubaccountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sub account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subaccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* email_is_already_in_use\n* missing_required_parameter_email\n* missing_required_parameter_first_name\n* missing_required_parameter_last_name\n* missing_required_parameter_password\n* password_length_should_not_be_less_than_10_characters\n* password_should_contain_at_least_one_uppercase_character\n* password_should_contain_at_least_one_digit\n* missing_required_parameter_confirm_password\n* password_should_equal_confirm_password\n* missing_required_parameter_ip\n* ip_should_be_IPV4_format\n* ip_not_associated_to_user_account\n* policy_agree_should_be_true\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          }
        }
      }
    },
    "/subaccounts/{Id}": {
      "get": {
        "operationId": "getSubaccountDetails",
        "tags": [
          "subaccounts"
        ],
        "summary": "Get sub account details",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet sub account details.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sub account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subaccount"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          },
          "404": {
            "$ref": "#/components/responses/SubaccountNotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateSubaccountDetails",
        "tags": [
          "subaccounts"
        ],
        "summary": "Update sub account details",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nUpdate sub account details.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubaccountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub account updated sucessfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subaccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* password_length_should_not_be_less_than_10_characters\n* password_should_contain_at_least_one_uppercase_character\n* password_should_contain_at_least_one_digit\n* password_should_equal_confirm_password\n* ip_should_be_IPV4_format\n* ip_not_associated_to_user_account\n* policy_agree_should_be_true\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          },
          "404": {
            "$ref": "#/components/responses/SubaccountNotFound"
          }
        }
      }
    },
    "/subaccounts/{Id}/updatesubaccountsmtplimit": {
      "post": {
        "operationId": "UpdateSubaccountSMTPLimit",
        "tags": [
          "subaccounts"
        ],
        "summary": "Set subaccount smtp limit",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nSet subaccount smtp limit.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubaccountSMTPLimit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subaccount smtp limit set sucessfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubaccountActivePlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter_limit\n* limit_should_be_integer\n* limit_should_not_be_higher_than_parent_account_limit\n* limit_should_not_be_lower_than_-1\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          },
          "404": {
            "$ref": "#/components/responses/SubaccountNotFound"
          }
        }
      }
    },
    "/subaccounts/{Id}/updatesubaccountstatus": {
      "post": {
        "operationId": "UpdateSubaccountStatus",
        "tags": [
          "subaccounts"
        ],
        "summary": "Set subaccount status",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nSet subaccount status.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubaccountActiveStatus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subaccount status set sucessfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubaccountActivePlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter_active\n* active_should_be_boolean \n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          },
          "404": {
            "$ref": "#/components/responses/SubaccountNotFound"
          }
        }
      }
    },
    "/subaccounts/authorize": {
      "post": {
        "operationId": "SubaccountAuthenticationLogin",
        "tags": [
          "subaccounts"
        ],
        "summary": "Login to a subaccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nLogin to a subaccount.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./Shared.yaml#/components/schemas/Email"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nUser logged in sucessfully, use the auth value as API Key from request body in future API calls.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationLoginSucessResponsetBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter_email\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden\n\nEmail address or password provided are incorrect.\n\n###### Produces: \n\n* wrong_credentials_specified\n* feature_not_available_for_active_plan\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "wrong_credentials_specified"
                }
              }
            }
          }
        }
      }
    },
    "/subaccounts/{Id}/active-plan": {
      "get": {
        "operationId": "getActivePlan",
        "tags": [
          "subaccounts"
        ],
        "summary": "Get subaccount active plan.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet subaccount active plan.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Login successfull",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubaccountActivePlan"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "./Shared.yaml#/components/responses/ForbiddenForActivePlan"
          },
          "404": {
            "$ref": "#/components/responses/SubaccountNotFound"
          }
        }
      }
    },
    "/subaccounts/logo": {
      "post": {
        "operationId": "uploadLogoFile",
        "tags": [
          "subaccounts"
        ],
        "summary": "Upload agency logo",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nUpload agency logo.\n\nLogo must be a png or jpeg image.\n",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nThe Logo file was successfully submitted.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_upload_file\n* file_type_should_be_png_or_jpeg\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "getLogoFile",
        "tags": [
          "subaccounts"
        ],
        "summary": "Get agency logo",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet agency logo\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LogoSuccess"
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteLogoFile",
        "tags": [
          "subaccounts"
        ],
        "summary": "Delete agency logo",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nDelete agency logo\n",
        "responses": {
          "200": {
            "description": "Sucess\n\nLogo was deleted.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nAgency Logo was not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "logo_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/subaccounts/agency": {
      "get": {
        "operationId": "getAgencySettings",
        "tags": [
          "subaccounts"
        ],
        "summary": "Update Agency details",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet Agency details.\n",
        "responses": {
          "200": {
            "description": "Agency details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencySettings"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateAgencySettings",
        "tags": [
          "subaccounts"
        ],
        "summary": "Update Agency details",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nUpdate Agency Details\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseAgencySettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nAgency details updated sucessfully\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* agency_name_should_be_shorter_than_128_characters\n* agency_website_should_be_shorter_than_128_characters\n* agency_footer_should_be_shorter_than_2048_characters\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tools/alerts": {
      "get": {
        "operationId": "getAlerts",
        "tags": [
          "alerts"
        ],
        "summary": "Get Alerts Notifications Information",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nList Alerts Notifications Information\n",
        "responses": {
          "200": {
            "description": "Sucess\n\nAlerts list.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertListSucessResponsetBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAlert",
        "tags": [
          "alerts"
        ],
        "summary": "Create new Alert Notification",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nCreate new Alert Notification\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertBase"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucess\n\nAlert Notification Created Sucessfully.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter_email\n* missing_required_parameter_percentage\n* percentage_should_be_integer\n* percentage_should_not_be_less_than_0\n* percentage_should_not_be_higher_than_100\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tools/alerts/{Id}": {
      "patch": {
        "operationId": "updateAlert",
        "tags": [
          "alerts"
        ],
        "summary": "Update Alert Notification",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nUpdate Alert Notification.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucess\n\nAlert updated sucessfully.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* percentage_should_be_integer\n* percentage_should_not_be_less_than_0\n* percentage_should_not_be_higher_than_100\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the alert id exists.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "alert_not_found"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAlert",
        "tags": [
          "alerts"
        ],
        "summary": "Get Alert Notification",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nGet Alert Notification.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nAlert Notification.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the alert id exists.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "alert_not_found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAlert",
        "tags": [
          "alerts"
        ],
        "summary": "Delete Alert Notification",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "description": "\nDelete an Alert Notification.\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nAlert was deleted.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonSuccessResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nPlease verify the alert id exists.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "alert_not_found"
                }
              }
            }
          }
        }
      }
    },
    "/analytics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get Analytics Data",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "getAnalyticsData",
        "description": "Get Analytics Data\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/PageQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/LimitQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/FromQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/ToQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticStatusQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticFilterByQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticFilterQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/SmartSearchQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticOrderByQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/OrderTypeQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/TimezoneQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nGet Analytics Data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsListSucessResponsetBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* page_should_be_integer\n* page_should_be_greater_than_0\n* limit_should_be_integer\n* limit_should_be_greater_than_0\n* missing_required_parameter_from\n* from_format_should_be_yyyy-mm-dd\n* missing_required_parameter_to\n* to_format_should_be_yyyy-mm-dd\n* missing_required_parameter_filter_by\n* invalid_status_value\n* filter_by_can_only_be_subject_or_sender_or_recipient_or_domain\n* smart_search_should_be_true_or_false\n* orderby_can_only_be_subject_or_sender_or_recipient_or_domain\n* ordertype_should_be_asc_or_desc                  \n"
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/csv": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Export Analytics data in CSV file",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "exportAnalyticsDataCSV",
        "description": "Export Analytics data in CSV file\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/FromQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/ToQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticStatusQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticFilterByQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticFilterQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/SmartSearchQueryParam"
          },
          {
            "$ref": "#/components/parameters/AnalyticOrderByQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/OrderTypeQueryParam"
          },
          {
            "$ref": "./Shared.yaml#/components/parameters/TimezoneQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics CSV data",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "example": "1871534200146968576,DEFER,\"Fwd: Test\",test@emailchef.com,test@live.com,\"Wednesday, February 21 2024 7:48 AM\",\" Connected to 104.47.51.161 but connection died. (#4.4.2)\n1871533807186821120,DEFER,\"Test send\",test@emailchef.com,test@live.com,\"Wednesday, February 21 2024 7:47 AM\",\" Connected to 104.47.55.161 but connection died. (#4.4.2)\n"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* missing_required_parameter_from\n* from_format_should_be_yyyy-mm-dd\n* missing_required_parameter_to\n* to_format_should_be_yyyy-mm-dd\n* missing_required_parameter_filter_by\n* invalid_status_value\n* filter_by_can_only_be_subject_or_sender_or_recipient_or_domain\n* smart_search_should_be_true_or_false\n* orderby_can_only_be_subject_or_sender_or_recipient_or_domain\n* ordertype_should_be_asc_or_desc                  \n"
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/{Id}": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get Analytics Single Item by ID",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "consumerKey": [],
            "consumerSecret": []
          }
        ],
        "operationId": "getAnalyticsDataByID",
        "description": "Get Analytics Data by ID\n",
        "parameters": [
          {
            "$ref": "./Shared.yaml#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucess\n\nResponse body contains the Analytic Item requested by ID.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticMailItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n###### Produces:\n\n* XXXXXXX\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonBadRequestResponseBody"
                }
              }
            }
          },
          "401": {
            "$ref": "./Shared.yaml#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found\n\nThe Analytic ID was not found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Shared.yaml#/components/schemas/CommonMessageResponseBody"
                },
                "example": {
                  "message": "XXXXX"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthenticationLoginRequestBody": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email of turboSMTP account"
          },
          "password": {
            "type": "string",
            "writeOnly": true,
            "description": "The password of turboSMTP account"
          },
          "no_expire": {
            "type": "boolean",
            "default": false,
            "description": " **false**: \nauthentication will expire after 2 hours.\n\n**true**: \nauthentication will keep you signed in, and will never expire. (Use [/authentication/deauthorize](#/authentication/AuthenticationLogout) to logout and release your an API Key)"
          }
        },
        "required": [
          "email",
          "password"
        ],
        "example": {
          "email": "developer@yourdomain.com",
          "password": "yourTurboSmtpPassword",
          "no_expire": true
        }
      },
      "AuthenticationLoginSucessResponsetBody": {
        "properties": {
          "auth": {
            "type": "string",
            "description": "API Key to be used in authorization header"
          }
        },
        "example": {
          "auth": "f8efa7be4e7457c463e8b800e1f11f92072d272c"
        }
      },
      "ChangePasswordRequestBody": {
        "properties": {
          "current_password": {
            "type": "string",
            "description": "Current Password."
          },
          "password": {
            "type": "string",
            "description": "New Password to be used."
          },
          "confirm_password": {
            "type": "string",
            "description": "New Password to be used."
          }
        },
        "required": [
          "current_password",
          "password",
          "confirm_password"
        ],
        "example": {
          "current_password": "6SwHbc96dyE8",
          "password": "SMkhhf4J686P",
          "confirm_password": "SMkhhf4J686P"
        }
      },
      "SendSecretTokenResetPasswordRequestBody": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "developer@turboSMTP.com",
            "description": "turboSMTP account email address."
          }
        },
        "required": [
          "email"
        ],
        "example": {
          "email": "developer@turboSMTP.com"
        }
      },
      "UpdateResetPasswordRequestBody": {
        "properties": {
          "password": {
            "type": "string",
            "description": "New Password to be used."
          },
          "confirm_password": {
            "type": "string",
            "description": "New Password to be used."
          },
          "token": {
            "type": "string",
            "description": "Reset Password Token"
          }
        },
        "required": [
          "password",
          "confirm_password",
          "token"
        ],
        "example": {
          "password": "SMBBBf4J686P",
          "confirm_password": "SMBBBf4J686P",
          "token": "781d4b44aaf5de86dc0a7e1ca2dc409f"
        }
      },
      "UserDetails": {
        "$ref": "./Domains/User.yaml#/components/schemas/UserDetails"
      },
      "ConsumerKeyCreateRequestBody": {
        "$ref": "./Domains/User.yaml#/components/schemas/ConsumerKeyCreateRequestBody"
      },
      "ConsumerKeyCreateResponseBody": {
        "$ref": "./Domains/User.yaml#/components/schemas/ConsumerKeyCreateResponseBody"
      },
      "ConsumerKey": {
        "$ref": "./Domains/User.yaml#/components/schemas/ConsumerKey"
      },
      "ConsumerKeyListSucessResponsetBody": {
        "$ref": "./Domains/User.yaml#/components/schemas/ConsumerKeyListSucessResponsetBody"
      },
      "EmailRequestBody": {
        "$ref": "#/components/schemas/Email"
      },
      "SendSucessResponsetBody": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK"
          },
          "mid": {
            "type": "integer",
            "format": "int64",
            "example": 1688566310828572700,
            "minimum": 0,
            "maximum": 8446744073709552000,
            "description": "message ID"
          }
        }
      },
      "SendBadRequestResponseBody": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "error"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "missing or not valid sender email (from)"
            ]
          }
        }
      },
      "SendUnauthorizedResponseBody": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "integer",
            "example": 3
          },
          "message": {
            "type": "string",
            "example": "Invalid authorization token"
          },
          "details": {
            "type": "string",
            "example": "No authorization key was specified for request: POST /api/mail/send"
          }
        }
      },
      "Subaccount": {
        "allOf": [
          {
            "$ref": "./Shared.yaml#/components/schemas/Email"
          },
          {
            "$ref": "#/components/schemas/SubaccountIDStatusBase"
          },
          {
            "$ref": "#/components/schemas/SubaccountBase"
          }
        ]
      },
      "SubaccountCreateRequest": {
        "allOf": [
          {
            "$ref": "./Shared.yaml#/components/schemas/Email"
          },
          {
            "$ref": "#/components/schemas/SubaccountBase"
          },
          {
            "$ref": "#/components/schemas/SubaccountPasswordConfirmPassword"
          }
        ],
        "required": [
          "email",
          "password",
          "confirm_password",
          "first_name",
          "last_name",
          "ip",
          "policy_agree"
        ]
      },
      "SubaccountUpdateRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SubaccountBase"
          },
          {
            "$ref": "#/components/schemas/SubaccountPasswordConfirmPassword"
          }
        ],
        "required": [
          "first_name",
          "last_name",
          "ip",
          "policy_agree"
        ]
      },
      "SubAccountListSucessResponsetBody": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubaccountListItem"
            }
          }
        },
        "example": {
          "count": 2,
          "results": [
            {
              "active": true,
              "email": "subaccount-1@yourdomain.om",
              "subaccount_id": 19302132,
              "ip": "199.244.75.250",
              "last_used": "2022-11-20T22:44:07",
              "limit": 16,
              "plan_expiration": "2023-01-17T00:00:00",
              "sent": 2,
              "plan_limit_interval": "Monthly"
            },
            {
              "active": true,
              "email": "subaccount-2@yourdomain.om",
              "subaccount_id": 19302133,
              "ip": "199.244.75.250",
              "last_used": "2022-11-19T21:04:07",
              "limit": 50,
              "plan_expiration": "2023-01-17T00:00:00",
              "sent": 34,
              "plan_limit_interval": "Monthly"
            }
          ]
        }
      },
      "SubaccountActivePlan": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SubaccountIDStatusBase"
          },
          {
            "$ref": "#/components/schemas/SubaccountIP"
          },
          {
            "$ref": "#/components/schemas/SubaccountPlanBase"
          }
        ]
      },
      "AgencySettings": {
[...]
