{
  "openapi": "3.0.3",
  "info": {
    "title": "Bump.sh API",
    "version": "1.0.0",
    "description": "Bump.sh API for deploying API documentation, diffing specifications, managing branches, and organizing API hubs. Upload OpenAPI or AsyncAPI specs to publish interactive documentation.",
    "x-jentic-source-url": "https://docs.bump.sh/help/continuous-integration/api/"
  },
  "servers": [
    {
      "url": "https://bump.sh/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Versions",
      "description": "Deploy API documentation versions"
    },
    {
      "name": "Previews",
      "description": "Preview documentation without deploying"
    },
    {
      "name": "Diffs",
      "description": "Compare API specifications"
    },
    {
      "name": "Branches",
      "description": "Manage documentation branches"
    },
    {
      "name": "Hubs",
      "description": "API hub management"
    },
    {
      "name": "Pings",
      "description": "Health check"
    }
  ],
  "paths": {
    "/versions": {
      "post": {
        "operationId": "createVersion",
        "summary": "Deploy a new version",
        "description": "Upload and publish a new API definition to your documentation. This creates a new version.",
        "tags": [
          "Versions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version deployed (unchanged)"
          },
          "201": {
            "description": "Version created and deployed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/previews": {
      "post": {
        "operationId": "createPreview",
        "summary": "Preview documentation",
        "description": "Preview rendered API documentation without deploying. Returns a temporary preview URL.",
        "tags": [
          "Previews"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/diffs": {
      "post": {
        "operationId": "createDiff",
        "summary": "Create a diff between two API documents",
        "description": "Compare two API specifications and return a diff. Accepts definitions as strings or URLs.",
        "tags": [
          "Diffs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Diff created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/diffs/{diffId}": {
      "get": {
        "operationId": "getDiff",
        "summary": "Get a diff result",
        "description": "Retrieve the computed diff result by its ID.",
        "tags": [
          "Diffs"
        ],
        "parameters": [
          {
            "name": "diffId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Diff result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/docs/{docSlug}/branches": {
      "get": {
        "operationId": "listBranches",
        "summary": "List documentation branches",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "name": "docSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Documentation slug or ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Branch list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Branch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBranch",
        "summary": "Create a branch",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "name": "docSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Branch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/docs/{docSlug}/branches/{branchName}": {
      "delete": {
        "operationId": "deleteBranch",
        "summary": "Delete a branch",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "name": "docSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Branch deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/docs/{docSlug}/branches/{branchName}/set_default": {
      "patch": {
        "operationId": "setDefaultBranch",
        "summary": "Set default branch",
        "description": "Promote a branch to be the default published version.",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "name": "docSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch set as default"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hubs/{hubSlug}": {
      "get": {
        "operationId": "getHub",
        "summary": "Get hub info",
        "description": "Retrieve information about a hub including its contained APIs.",
        "tags": [
          "Hubs"
        ],
        "parameters": [
          {
            "name": "hubSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hub slug or ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Hub info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/validations": {
      "post": {
        "operationId": "validateSpec",
        "summary": "Validate an API specification",
        "description": "Validate an API specification without deploying it.",
        "tags": [
          "Versions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid specification"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Health check",
        "description": "Simple health check endpoint.",
        "tags": [
          "Pings"
        ],
        "responses": {
          "200": {
            "description": "Pong",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pong": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "VersionCreate": {
        "type": "object",
        "required": [
          "documentation",
          "definition"
        ],
        "properties": {
          "documentation": {
            "type": "string",
            "description": "Documentation slug or ID"
          },
          "definition": {
            "type": "string",
            "description": "API definition content (JSON or YAML string)"
          },
          "branch_name": {
            "type": "string",
            "description": "Branch to deploy to"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            },
            "description": "External file references"
          },
          "hub": {
            "type": "string",
            "description": "Hub slug or ID"
          },
          "auto_create_documentation": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "PreviewCreate": {
        "type": "object",
        "required": [
          "definition"
        ],
        "properties": {
          "definition": {
            "type": "string",
            "description": "API definition content"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PreviewResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "public_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "DiffCreate": {
        "type": "object",
        "properties": {
          "definition": {
            "type": "string",
            "description": "New API definition"
          },
          "previous_definition": {
            "type": "string",
            "description": "Previous API definition"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to new definition"
          },
          "previous_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to previous definition"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "previous_references": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DiffResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "self_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "DiffResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "description": "Human-readable diff text"
          },
          "markdown": {
            "type": "string",
            "description": "Markdown diff"
          },
          "public_url": {
            "type": "string",
            "format": "uri"
          },
          "breaking": {
            "type": "boolean",
            "description": "Whether changes are breaking"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "breaking",
                    "non_breaking",
                    "unclassified"
                  ]
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Branch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Hub": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "documentation_count": {
            "type": "integer"
          },
          "documentations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "last_deployment_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "ValidationCreate": {
        "type": "object",
        "required": [
          "definition"
        ],
        "properties": {
          "definition": {
            "type": "string"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bump.sh API token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}