{
  "openapi": "3.0.3",
  "info": {
    "title": "Codeforces API",
    "description": "Codeforces competitive programming platform API. Provides access to contest data, user profiles, problem sets, ratings, standings, and blog entries.",
    "version": "1.0.0",
    "contact": {
      "name": "Codeforces",
      "url": "https://codeforces.com"
    },
    "x-jentic-source-url": "https://codeforces.com/apiHelp"
  },
  "servers": [
    {
      "url": "https://codeforces.com/api",
      "description": "Codeforces API Production"
    }
  ],
  "tags": [
    {
      "name": "Blog",
      "description": "Blog entry operations"
    },
    {
      "name": "Contest",
      "description": "Contest information and standings"
    },
    {
      "name": "Problemset",
      "description": "Problem set browsing"
    },
    {
      "name": "RecentActions",
      "description": "Recent site activity"
    },
    {
      "name": "User",
      "description": "User profile and rating data"
    }
  ],
  "security": [],
  "paths": {
    "/blogEntry.comments": {
      "get": {
        "tags": ["Blog"],
        "summary": "Get blog entry comments",
        "description": "Returns a list of comments to the specified blog entry.",
        "operationId": "getBlogEntryComments",
        "parameters": [
          {
            "name": "blogEntryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Blog entry ID"
          },
          {
            "name": "apiKey",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "API key for authorized requests"
          },
          {
            "name": "time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Current time in UNIX format (for authorized requests)"
          },
          {
            "name": "apiSig",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "API signature hash (for authorized requests)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/blogEntry.view": {
      "get": {
        "tags": ["Blog"],
        "summary": "View blog entry",
        "description": "Returns a blog entry.",
        "operationId": "viewBlogEntry",
        "parameters": [
          {
            "name": "blogEntryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Blog entry ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog entry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "$ref": "#/components/schemas/BlogEntry"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contest.hacks": {
      "get": {
        "tags": ["Contest"],
        "summary": "Get contest hacks",
        "description": "Returns list of hacks in the specified contest. Full information is available only after the contest ends.",
        "operationId": "getContestHacks",
        "parameters": [
          {
            "name": "contestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Contest ID"
          },
          {
            "name": "asManager",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, returns hacks as contest manager (requires authorization)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of hacks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Hack"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contest.list": {
      "get": {
        "tags": ["Contest"],
        "summary": "List contests",
        "description": "Returns information about all available contests.",
        "operationId": "listContests",
        "parameters": [
          {
            "name": "gym",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, gym contests are returned; otherwise, regular contests."
          }
        ],
        "responses": {
          "200": {
            "description": "List of contests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contest"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contest.ratingChanges": {
      "get": {
        "tags": ["Contest"],
        "summary": "Get contest rating changes",
        "description": "Returns rating changes after the contest.",
        "operationId": "getContestRatingChanges",
        "parameters": [
          {
            "name": "contestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Contest ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of rating changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RatingChange"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contest.standings": {
      "get": {
        "tags": ["Contest"],
        "summary": "Get contest standings",
        "description": "Returns the description of the contest and the requested part of the standings.",
        "operationId": "getContestStandings",
        "parameters": [
          {
            "name": "contestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Contest ID"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based index of the standings row to start from"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of standings rows to return"
          },
          {
            "name": "handles",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Semicolon-separated list of handles to show in standings"
          },
          {
            "name": "room",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Room number for schoolchildren contests"
          },
          {
            "name": "showUnofficial",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, all participants (including virtual/out of competition) are shown"
          },
          {
            "name": "asManager",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, returns standings as contest manager"
          }
        ],
        "responses": {
          "200": {
            "description": "Contest standings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "contest": {
                          "$ref": "#/components/schemas/Contest"
                        },
                        "problems": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Problem"
                          }
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/RanklistRow"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contest.status": {
      "get": {
        "tags": ["Contest"],
        "summary": "Get contest submissions",
        "description": "Returns submissions for specified contest. Optionally can return submissions of a single user.",
        "operationId": "getContestStatus",
        "parameters": [
          {
            "name": "contestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Contest ID"
          },
          {
            "name": "handle",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Codeforces user handle"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based index of the first submission to return"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of submissions to return"
          },
          {
            "name": "asManager",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, returns submissions as contest manager"
          }
        ],
        "responses": {
          "200": {
            "description": "List of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Submission"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/problemset.problems": {
      "get": {
        "tags": ["Problemset"],
        "summary": "Get problemset problems",
        "description": "Returns all problems from problemset. Problems can be filtered by tags.",
        "operationId": "getProblemsetProblems",
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Semicolon-separated list of tags"
          },
          {
            "name": "problemsetName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom problemset short name (e.g., 'acmsguru')"
          }
        ],
        "responses": {
          "200": {
            "description": "Problems and problem statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "problems": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Problem"
                          }
                        },
                        "problemStatistics": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProblemStatistics"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/problemset.recentStatus": {
      "get": {
        "tags": ["Problemset"],
        "summary": "Get recent submissions",
        "description": "Returns recent submissions.",
        "operationId": "getProblemsetRecentStatus",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 1000
            },
            "description": "Number of submissions to return (max 1000)"
          },
          {
            "name": "problemsetName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom problemset short name"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Submission"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recentActions": {
      "get": {
        "tags": ["RecentActions"],
        "summary": "Get recent actions",
        "description": "Returns recent actions (blog entries and comments).",
        "operationId": "getRecentActions",
        "parameters": [
          {
            "name": "maxCount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Number of recent actions to return (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent actions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecentAction"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user.blogEntries": {
      "get": {
        "tags": ["User"],
        "summary": "Get user blog entries",
        "description": "Returns a list of all user's blog entries.",
        "operationId": "getUserBlogEntries",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Codeforces user handle"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user.friends": {
      "get": {
        "tags": ["User"],
        "summary": "Get user friends",
        "description": "Returns authorized user's friends list. Requires authorization.",
        "operationId": "getUserFriends",
        "parameters": [
          {
            "name": "onlyOnline",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, only online friends are returned"
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Current UNIX time"
          },
          {
            "name": "apiSig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API signature"
          }
        ],
        "responses": {
          "200": {
            "description": "List of friend handles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user.info": {
      "get": {
        "tags": ["User"],
        "summary": "Get user info",
        "description": "Returns information about one or more users.",
        "operationId": "getUserInfo",
        "parameters": [
          {
            "name": "handles",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Semicolon-separated list of handles (max 10000)"
          },
          {
            "name": "checkHistoricHandles",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "If true, historic handles are also searched"
          }
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user.ratedList": {
      "get": {
        "tags": ["User"],
        "summary": "Get rated user list",
        "description": "Returns the list of all rated users sorted by decreasing rating.",
        "operationId": "getUserRatedList",
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, only users who participated in at least one rated contest in the last month are returned"
          },
          {
            "name": "includeRetired",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, retired users are included"
          },
          {
            "name": "contestId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "If specified, only participants of this contest are returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Rated user list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user.rating": {
      "get": {
        "tags": ["User"],
        "summary": "Get user rating history",
        "description": "Returns rating changes of the specified user.",
        "operationId": "getUserRating",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Codeforces user handle"
          }
        ],
        "responses": {
          "200": {
            "description": "Rating history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RatingChange"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user.status": {
      "get": {
        "tags": ["User"],
        "summary": "Get user submissions",
        "description": "Returns submissions of specified user.",
        "operationId": "getUserStatus",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Codeforces user handle"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based index of the first submission to return"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of submissions to return"
          }
        ],
        "responses": {
          "200": {
            "description": "User submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK", "FAILED"]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Submission"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Codeforces API key. Required for authorized methods. Used with apiSig and time parameters for HMAC-based authentication. Generate at https://codeforces.com/settings/api"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "handle": {
            "type": "string",
            "description": "Codeforces user handle"
          },
          "email": {
            "type": "string",
            "description": "User email (only for authorized requests)"
          },
          "vkId": {
            "type": "string"
          },
          "openId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "contribution": {
            "type": "integer",
            "description": "User contribution value"
          },
          "rank": {
            "type": "string",
            "description": "Localized rank name"
          },
          "rating": {
            "type": "integer",
            "description": "Current rating"
          },
          "maxRank": {
            "type": "string",
            "description": "Localized maximum rank name"
          },
          "maxRating": {
            "type": "integer",
            "description": "Maximum rating achieved"
          },
          "lastOnlineTimeSeconds": {
            "type": "integer",
            "description": "Time of last visit (UNIX timestamp)"
          },
          "registrationTimeSeconds": {
            "type": "integer",
            "description": "Registration time (UNIX timestamp)"
          },
          "friendOfCount": {
            "type": "integer"
          },
          "avatar": {
            "type": "string",
            "description": "URL to user avatar"
          },
          "titlePhoto": {
            "type": "string",
            "description": "URL to user title photo"
          }
        },
        "required": ["handle"]
      },
      "BlogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "originalLocale": {
            "type": "string"
          },
          "creationTimeSeconds": {
            "type": "integer"
          },
          "authorHandle": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "modificationTimeSeconds": {
            "type": "integer"
          },
          "allowViewHistory": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rating": {
            "type": "integer"
          }
        },
        "required": ["id", "authorHandle", "title"]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "creationTimeSeconds": {
            "type": "integer"
          },
          "commentatorHandle": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "parentCommentId": {
            "type": "integer"
          },
          "rating": {
            "type": "integer"
          }
        },
        "required": ["id", "commentatorHandle", "text"]
      },
      "Contest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["CF", "IOI", "ICPC"]
          },
          "phase": {
            "type": "string",
            "enum": ["BEFORE", "CODING", "PENDING_SYSTEM_TEST", "SYSTEM_TEST", "FINISHED"]
          },
          "frozen": {
            "type": "boolean"
          },
          "durationSeconds": {
            "type": "integer"
          },
          "startTimeSeconds": {
            "type": "integer"
          },
          "relativeTimeSeconds": {
            "type": "integer"
          },
          "preparedBy": {
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "difficulty": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "icpcRegion": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "season": {
            "type": "string"
          }
        },
        "required": ["id", "name", "type", "phase"]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "contestId": {
            "type": "integer"
          },
          "problemsetName": {
            "type": "string"
          },
          "index": {
            "type": "string",
            "description": "Problem short name, usually a letter or letter with digit"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["PROGRAMMING", "QUESTION"]
          },
          "points": {
            "type": "number"
          },
          "rating": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["index", "name", "type"]
      },
      "ProblemStatistics": {
        "type": "object",
        "properties": {
          "contestId": {
            "type": "integer"
          },
          "index": {
            "type": "string"
          },
          "solvedCount": {
            "type": "integer"
          }
        },
        "required": ["index", "solvedCount"]
      },
      "Submission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "contestId": {
            "type": "integer"
          },
          "creationTimeSeconds": {
            "type": "integer"
          },
          "relativeTimeSeconds": {
            "type": "integer"
          },
          "problem": {
            "$ref": "#/components/schemas/Problem"
          },
          "author": {
            "$ref": "#/components/schemas/Party"
          },
          "programmingLanguage": {
            "type": "string"
          },
          "verdict": {
            "type": "string",
            "enum": ["FAILED", "OK", "PARTIAL", "COMPILATION_ERROR", "RUNTIME_ERROR", "WRONG_ANSWER", "PRESENTATION_ERROR", "TIME_LIMIT_EXCEEDED", "MEMORY_LIMIT_EXCEEDED", "IDLENESS_LIMIT_EXCEEDED", "SECURITY_VIOLATED", "CRASHED", "INPUT_PREPARATION_CRASHED", "CHALLENGED", "SKIPPED", "TESTING", "REJECTED"]
          },
          "testset": {
            "type": "string",
            "enum": ["SAMPLES", "PRETESTS", "TESTS", "CHALLENGES", "TESTS1", "TESTS2", "TESTS3", "TESTS4", "TESTS5", "TESTS6", "TESTS7", "TESTS8", "TESTS9", "TESTS10"]
          },
          "passedTestCount": {
            "type": "integer"
          },
          "timeConsumedMillis": {
            "type": "integer"
          },
          "memoryConsumedBytes": {
            "type": "integer"
          },
          "points": {
            "type": "number"
          }
        },
        "required": ["id", "problem", "author", "programmingLanguage"]
      },
      "Party": {
        "type": "object",
        "properties": {
          "contestId": {
            "type": "integer"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "participantType": {
            "type": "string",
            "enum": ["CONTESTANT", "PRACTICE", "VIRTUAL", "MANAGER", "OUT_OF_COMPETITION"]
          },
          "teamId": {
            "type": "integer"
          },
          "teamName": {
            "type": "string"
          },
          "ghost": {
            "type": "boolean"
          },
          "room": {
            "type": "integer"
          },
          "startTimeSeconds": {
            "type": "integer"
          }
        },
        "required": ["members", "participantType"]
      },
      "Member": {
        "type": "object",
        "properties": {
          "handle": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["handle"]
      },
      "RatingChange": {
        "type": "object",
        "properties": {
          "contestId": {
            "type": "integer"
          },
          "contestName": {
            "type": "string"
          },
          "handle": {
            "type": "string"
          },
          "rank": {
            "type": "integer"
          },
          "ratingUpdateTimeSeconds": {
            "type": "integer"
          },
          "oldRating": {
            "type": "integer"
          },
          "newRating": {
            "type": "integer"
          }
        },
        "required": ["contestId", "contestName", "handle", "rank", "oldRating", "newRating"]
      },
      "Hack": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "creationTimeSeconds": {
            "type": "integer"
          },
          "hacker": {
            "$ref": "#/components/schemas/Party"
          },
          "defender": {
            "$ref": "#/components/schemas/Party"
          },
          "verdict": {
            "type": "string",
            "enum": ["HACK_SUCCESSFUL", "HACK_UNSUCCESSFUL", "INVALID_INPUT", "GENERATOR_INCOMPILABLE", "GENERATOR_CRASHED", "IGNORED", "TESTING", "OTHER"]
          },
          "problem": {
            "$ref": "#/components/schemas/Problem"
          },
          "test": {
            "type": "string"
          },
          "judgeProtocol": {
            "type": "object",
            "properties": {
              "manual": {
                "type": "string"
              },
              "protocol": {
                "type": "string"
              },
              "verdict": {
                "type": "string"
              }
            }
          }
        },
        "required": ["id", "hacker", "defender"]
      },
      "RanklistRow": {
        "type": "object",
        "properties": {
          "party": {
            "$ref": "#/components/schemas/Party"
          },
          "rank": {
            "type": "integer"
          },
          "points": {
            "type": "number"
          },
          "penalty": {
            "type": "integer"
          },
          "successfulHackCount": {
            "type": "integer"
          },
          "unsuccessfulHackCount": {
            "type": "integer"
          },
          "problemResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemResult"
            }
          },
          "lastSubmissionTimeSeconds": {
            "type": "integer"
          }
        },
        "required": ["party", "rank", "points"]
      },
      "ProblemResult": {
        "type": "object",
        "properties": {
          "points": {
            "type": "number"
          },
          "penalty": {
            "type": "integer"
          },
          "rejectedAttemptCount": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": ["PRELIMINARY", "FINAL"]
          },
          "bestSubmissionTimeSeconds": {
            "type": "integer"
          }
        },
        "required": ["points", "rejectedAttemptCount", "type"]
      },
      "RecentAction": {
        "type": "object",
        "properties": {
          "timeSeconds": {
            "type": "integer"
          },
          "blogEntry": {
            "$ref": "#/components/schemas/BlogEntry"
          },
          "comment": {
            "$ref": "#/components/schemas/Comment"
          }
        },
        "required": ["timeSeconds"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["FAILED"]
          },
          "comment": {
            "type": "string",
            "description": "Error description"
          }
        },
        "required": ["status", "comment"]
      }
    }
  }
}
