{
  "openapi": "3.0.3",
  "info": {
    "title": "Qntrl API",
    "version": "1.0.0",
    "description": "Qntrl (by Zoho) process orchestration API for managing organizations, forms, custom fields, blueprints, stages, cards/jobs, custom views, reports, users, profiles, roles, webhooks, business rules, and more.",
    "x-jentic-source-url": "https://core.qntrl.com/apidoc.html?type=reference&module=org"
  },
  "servers": [
    { "url": "https://coreapi.qntrl.com/blueprint/api" }
  ],
  "paths": {
    "/org": { "get": { "operationId": "listOrganizations", "summary": "List organizations", "tags": ["Organization"], "parameters": [{ "name": "index", "in": "query", "schema": { "type": "integer" } }, { "name": "range", "in": "query", "schema": { "type": "integer", "maximum": 100 } }], "responses": { "200": { "description": "Organization list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "createOrganization", "summary": "Create organization", "tags": ["Organization"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "org_name": { "type": "string" }, "domain": { "type": "string" } } } } } }, "responses": { "201": { "description": "Organization created" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/org/{id}": { "get": { "operationId": "getOrganization", "summary": "Get organization", "tags": ["Organization"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Organization details" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/layout": { "get": { "operationId": "listForms", "summary": "List forms", "tags": ["Forms"], "parameters": [{ "name": "index", "in": "query", "schema": { "type": "integer" } }, { "name": "range", "in": "query", "schema": { "type": "integer", "maximum": 100 } }], "responses": { "200": { "description": "Form list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "createForm", "summary": "Create form", "tags": ["Forms"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "201": { "description": "Form created" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/layout/{id}": { "get": { "operationId": "getForm", "summary": "Get form", "tags": ["Forms"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Form details" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "put": { "operationId": "updateForm", "summary": "Update form", "tags": ["Forms"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Form updated" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "delete": { "operationId": "deleteForm", "summary": "Delete form", "tags": ["Forms"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Form deleted" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/layout/{id}/status": { "put": { "operationId": "updateFormStatus", "summary": "Activate/deactivate form", "tags": ["Forms"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" } } } } } }, "responses": { "200": { "description": "Status updated" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/customfield": { "get": { "operationId": "listCustomFields", "summary": "List custom fields", "tags": ["Custom Fields"], "parameters": [{ "name": "index", "in": "query", "schema": { "type": "integer" } }, { "name": "range", "in": "query", "schema": { "type": "integer" } }], "responses": { "200": { "description": "Field list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "createCustomField", "summary": "Create custom field", "tags": ["Custom Fields"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "201": { "description": "Field created" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/customfield/{id}": { "get": { "operationId": "getCustomField", "summary": "Get custom field", "tags": ["Custom Fields"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Field details" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "put": { "operationId": "updateCustomField", "summary": "Update custom field", "tags": ["Custom Fields"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Field updated" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "delete": { "operationId": "deleteCustomField", "summary": "Delete custom field", "tags": ["Custom Fields"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Field deleted" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/blueprint": { "get": { "operationId": "listBlueprints", "summary": "List blueprints", "tags": ["Blueprints"], "responses": { "200": { "description": "Blueprint list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "createBlueprint", "summary": "Create blueprint", "tags": ["Blueprints"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "201": { "description": "Blueprint created" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/blueprint/{id}": { "get": { "operationId": "getBlueprint", "summary": "Get blueprint", "tags": ["Blueprints"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Blueprint details" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "put": { "operationId": "updateBlueprint", "summary": "Update blueprint", "tags": ["Blueprints"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Blueprint updated" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/jobs": { "get": { "operationId": "listCards", "summary": "List cards/jobs", "tags": ["Cards"], "parameters": [{ "name": "index", "in": "query", "schema": { "type": "integer" } }, { "name": "range", "in": "query", "schema": { "type": "integer" } }], "responses": { "200": { "description": "Card list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "createCard", "summary": "Create card", "tags": ["Cards"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "201": { "description": "Card created" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/jobs/{id}": { "get": { "operationId": "getCard", "summary": "Get card", "tags": ["Cards"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Card details" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "put": { "operationId": "updateCard", "summary": "Update card", "tags": ["Cards"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Card updated" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "delete": { "operationId": "deleteCard", "summary": "Delete card", "tags": ["Cards"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Card deleted" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/jobs/{id}/transition": { "post": { "operationId": "performTransition", "summary": "Perform card transition", "tags": ["Cards"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Transition performed" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/jobs/{id}/comment": { "get": { "operationId": "listCardComments", "summary": "List card comments", "tags": ["Cards"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Comment list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "createCardComment", "summary": "Add card comment", "tags": ["Cards"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "text": { "type": "string" } } } } } }, "responses": { "201": { "description": "Comment added" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/user/myinfo": { "get": { "operationId": "getCurrentUser", "summary": "Get current user info", "tags": ["Users"], "responses": { "200": { "description": "User info" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/user": { "get": { "operationId": "listUsers", "summary": "List users", "tags": ["Users"], "parameters": [{ "name": "index", "in": "query", "schema": { "type": "integer" } }, { "name": "range", "in": "query", "schema": { "type": "integer" } }], "responses": { "200": { "description": "User list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "addUser", "summary": "Add user", "tags": ["Users"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "201": { "description": "User added" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/user/{id}": { "get": { "operationId": "getUser", "summary": "Get user", "tags": ["Users"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "User details" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "put": { "operationId": "updateUser", "summary": "Update user", "tags": ["Users"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "User updated" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/webhook": { "get": { "operationId": "listWebhooks", "summary": "List webhooks", "tags": ["Webhooks"], "responses": { "200": { "description": "Webhook list" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "post": { "operationId": "createWebhook", "summary": "Create webhook", "tags": ["Webhooks"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "201": { "description": "Webhook created" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } },
    "/webhook/{id}": { "get": { "operationId": "getWebhook", "summary": "Get webhook", "tags": ["Webhooks"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Webhook details" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "put": { "operationId": "updateWebhook", "summary": "Update webhook", "tags": ["Webhooks"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Webhook updated" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } }, "delete": { "operationId": "deleteWebhook", "summary": "Delete webhook", "tags": ["Webhooks"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Webhook deleted" }, "400": { "description": "Bad request" }, "401": { "description": "Unauthorized" } } } }
  },
  "components": {
    "schemas": {
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "code": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "oauth2": { "type": "oauth2", "flows": { "authorizationCode": { "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth", "tokenUrl": "https://accounts.zoho.com/oauth/v2/token", "scopes": {} } }, "description": "Zoho OAuth 2.0 authentication" }
    }
  },
  "security": [
    { "oauth2": [] }
  ]
}