{
  "openapi": "3.0.3",
  "info": {
    "title": "AirLabs Data API",
    "version": "v9",
    "description": "AirLabs Data API provides real-time and reference aviation data including flight tracking, airport information, airline databases, schedules, delays, routes, fleets, and geographic search.",
    "x-jentic-source-url": "https://airlabs.co/docs/"
  },
  "servers": [
    {
      "url": "https://airlabs.co/api/v9"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Health check",
        "description": "Test connectivity and health of the API.",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key from the account dashboard.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful health check response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flights": {
      "get": {
        "operationId": "getFlights",
        "summary": "Real-time flights",
        "description": "Get real-time global flight positioning data.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box coordinates (SW Lat, SW Long, NE Lat, NE Long).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "description": "Map zoom level (0-11) to filter flights.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 11
            }
          },
          {
            "name": "hex",
            "in": "query",
            "description": "Filter by ICAO24 hex address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reg_number",
            "in": "query",
            "description": "Filter by aircraft registration number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "description": "Filter by airline ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "description": "Filter by airline IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flag",
            "in": "query",
            "description": "Filter by airline country ISO 2 code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_icao",
            "in": "query",
            "description": "Filter by flight ICAO code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_iata",
            "in": "query",
            "description": "Filter by flight IATA code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_number",
            "in": "query",
            "description": "Filter by flight number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_icao",
            "in": "query",
            "description": "Filter by departure airport ICAO.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_iata",
            "in": "query",
            "description": "Filter by departure airport IATA.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_icao",
            "in": "query",
            "description": "Filter by arrival airport ICAO.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_iata",
            "in": "query",
            "description": "Filter by arrival airport IATA.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_view",
            "in": "query",
            "description": "Response format: object (default) or array.",
            "schema": {
              "type": "string",
              "enum": [
                "object",
                "array"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Flight"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flight": {
      "get": {
        "operationId": "getFlightInfo",
        "summary": "Flight information",
        "description": "Get detailed information for a specific flight.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_icao",
            "in": "query",
            "description": "Flight ICAO code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_iata",
            "in": "query",
            "description": "Flight IATA code-number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/FlightDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "operationId": "getSchedules",
        "summary": "Flight schedules",
        "description": "Get airport flight schedules.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_iata",
            "in": "query",
            "description": "Departure airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_icao",
            "in": "query",
            "description": "Departure airport ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_iata",
            "in": "query",
            "description": "Arrival airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_icao",
            "in": "query",
            "description": "Arrival airport ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "description": "Airline IATA code(s).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "description": "Airline ICAO code(s).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_icao",
            "in": "query",
            "description": "Flight ICAO code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_iata",
            "in": "query",
            "description": "Flight IATA code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Schedule"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delays": {
      "get": {
        "operationId": "getDelays",
        "summary": "Flight delays",
        "description": "Get flight delay data.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delay",
            "in": "query",
            "required": true,
            "description": "Minimum delayed time in minutes (> 30 min).",
            "schema": {
              "type": "integer",
              "minimum": 30
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Flights type - departures or arrivals.",
            "schema": {
              "type": "string",
              "enum": [
                "departures",
                "arrivals"
              ]
            }
          },
          {
            "name": "dep_iata",
            "in": "query",
            "description": "Departure airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_icao",
            "in": "query",
            "description": "Departure airport ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_iata",
            "in": "query",
            "description": "Arrival airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_icao",
            "in": "query",
            "description": "Arrival airport ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "description": "Airline ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "description": "Airline IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_icao",
            "in": "query",
            "description": "Flight ICAO code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_iata",
            "in": "query",
            "description": "Flight IATA code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_number",
            "in": "query",
            "description": "Flight number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max items to return (500 standard, 50 free).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Schedule"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airlines": {
      "get": {
        "operationId": "getAirlines",
        "summary": "Airlines database",
        "description": "Get airline information from the global airlines database.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "description": "Filter by airline IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_prefix",
            "in": "query",
            "description": "Filter by IATA prefix number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "iata_accounting",
            "in": "query",
            "description": "Filter by IATA accounting number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "icao_code",
            "in": "query",
            "description": "Filter by airline ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callsign",
            "in": "query",
            "description": "Filter by ICAO callsign.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by airline name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Filter by country ISO 2 code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Airline"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airports": {
      "get": {
        "operationId": "getAirports",
        "summary": "Airports database",
        "description": "Get airport information from the global airports database.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "description": "Filter by 3-letter IATA airport code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icao_code",
            "in": "query",
            "description": "Filter by 4-letter ICAO airport code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_code",
            "in": "query",
            "description": "Filter by IATA city code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Filter by ISO 2-character country code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Airport"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "operationId": "getCities",
        "summary": "Cities database",
        "description": "Get city information from the world cities database.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_code",
            "in": "query",
            "description": "Filter by IATA city code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Filter by country ISO 2 code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/City"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Countries database",
        "description": "Get country information from the countries database.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Filter by ISO 2 country code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code3",
            "in": "query",
            "description": "Filter by ISO 3 country code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continent",
            "in": "query",
            "description": "Filter by continent code.",
            "schema": {
              "type": "string",
              "enum": [
                "AF",
                "AN",
                "AS",
                "EU",
                "NA",
                "OC",
                "SA"
              ]
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Country"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fleets": {
      "get": {
        "operationId": "getFleets",
        "summary": "Aircraft fleets database",
        "description": "Get aircraft fleet information.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "description": "Filter by airline IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "description": "Filter by airline ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hex",
            "in": "query",
            "description": "Filter by ICAO24 hex address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reg_number",
            "in": "query",
            "description": "Filter by aircraft registration number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "msn",
            "in": "query",
            "description": "Filter by manufacturer serial number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flag",
            "in": "query",
            "description": "Filter by country ISO 2 code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (500 standard, 50 free).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Fleet"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/routes": {
      "get": {
        "operationId": "getRoutes",
        "summary": "Global routes database",
        "description": "Get airline route information.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_iata",
            "in": "query",
            "description": "Departure airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_icao",
            "in": "query",
            "description": "Departure airport ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_iata",
            "in": "query",
            "description": "Arrival airport IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_icao",
            "in": "query",
            "description": "Arrival airport ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "description": "Airline ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "description": "Airline IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_icao",
            "in": "query",
            "description": "Flight ICAO code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_iata",
            "in": "query",
            "description": "Flight IATA code-number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_number",
            "in": "query",
            "description": "Flight number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (500 standard, 50 free).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Route"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nearby": {
      "get": {
        "operationId": "getNearby",
        "summary": "Nearby airports",
        "description": "Find airports and cities near a geographic location.",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Geo location latitude.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Geo location longitude.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": true,
            "description": "Distance from location in km.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "2-letter language code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "airports": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/NearbyAirport"
                          }
                        },
                        "cities": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/NearbyCity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/session": {
      "post": {
        "operationId": "createSession",
        "summary": "Create session",
        "description": "Create a session for managing API access with session-based authentication.",
        "tags": [
          "Utility"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your API key."
                  },
                  "sessid": {
                    "type": "string",
                    "description": "Optional session identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alert": {
      "post": {
        "operationId": "createFlightAlert",
        "summary": "Create flight alert",
        "description": "Configure an alert to be notified of flight status changes.",
        "tags": [
          "Flights"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your API key."
                  },
                  "flight_iata": {
                    "type": "string",
                    "description": "Flight IATA code-number."
                  },
                  "flight_icao": {
                    "type": "string",
                    "description": "Flight ICAO code-number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timezones": {
      "get": {
        "operationId": "getTimezones",
        "summary": "Timezones reference",
        "description": "Get timezone reference data.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Timezone"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/taxes": {
      "get": {
        "operationId": "getTaxes",
        "summary": "Taxes reference",
        "description": "Get aviation taxes reference data.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tax"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/suggest": {
      "get": {
        "operationId": "getSuggestions",
        "summary": "Airport autocomplete",
        "description": "Autocomplete suggestions for airports, cities, and countries.",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (3-30 characters).",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 30
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "2-letter language code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_fields",
            "in": "query",
            "description": "Comma-separated fields to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "airports": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Airport"
                          }
                        },
                        "cities": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/City"
                          }
                        },
                        "countries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Country"
                          }
                        },
                        "airports_by_cities": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Airport"
                          }
                        },
                        "cities_by_airports": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/City"
                          }
                        },
                        "airports_by_countries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Airport"
                          }
                        },
                        "cities_by_countries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/City"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Flight": {
        "type": "object",
        "properties": {
          "hex": {
            "type": "string",
            "description": "ICAO24 hex address."
          },
          "reg_number": {
            "type": "string",
            "description": "Aircraft registration number."
          },
          "flag": {
            "type": "string",
            "description": "ISO 2 country code."
          },
          "lat": {
            "type": "number",
            "description": "Aircraft latitude."
          },
          "lng": {
            "type": "number",
            "description": "Aircraft longitude."
          },
          "alt": {
            "type": "integer",
            "description": "Aircraft altitude in meters."
          },
          "dir": {
            "type": "number",
            "description": "Aircraft heading direction."
          },
          "speed": {
            "type": "integer",
            "description": "Horizontal speed in km/h."
          },
          "v_speed": {
            "type": "number",
            "description": "Vertical speed in km/h."
          },
          "squawk": {
            "type": "string",
            "description": "Squawk signal code."
          },
          "airline_icao": {
            "type": "string",
            "description": "Airline ICAO code."
          },
          "airline_iata": {
            "type": "string",
            "description": "Airline IATA code."
          },
          "aircraft_icao": {
            "type": "string",
            "description": "Aircraft ICAO type."
          },
          "flight_icao": {
            "type": "string",
            "description": "Flight ICAO code-number."
          },
          "flight_iata": {
            "type": "string",
            "description": "Flight IATA code-number."
          },
          "flight_number": {
            "type": "string",
            "description": "Flight number."
          },
          "dep_icao": {
            "type": "string",
            "description": "Departure airport ICAO."
          },
          "dep_iata": {
            "type": "string",
            "description": "Departure airport IATA."
          },
          "arr_icao": {
            "type": "string",
            "description": "Arrival airport ICAO."
          },
          "arr_iata": {
            "type": "string",
            "description": "Arrival airport IATA."
          },
          "updated": {
            "type": "integer",
            "description": "UNIX timestamp of last signal."
          },
          "status": {
            "type": "string",
            "description": "Flight status: scheduled, en-route, or landed."
          }
        }
      },
      "FlightDetail": {
        "type": "object",
        "properties": {
          "hex": {
            "type": "string"
          },
          "reg_number": {
            "type": "string"
          },
          "aircraft_icao": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "manufacturer": {
            "type": "string"
          },
          "msn": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "engine": {
            "type": "string"
          },
          "engine_count": {
            "type": "integer"
          },
          "built": {
            "type": "string"
          },
          "age": {
            "type": "number"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "alt": {
            "type": "integer"
          },
          "dir": {
            "type": "number"
          },
          "speed": {
            "type": "integer"
          },
          "v_speed": {
            "type": "number"
          },
          "squawk": {
            "type": "string"
          },
          "airline_iata": {
            "type": "string"
          },
          "airline_icao": {
            "type": "string"
          },
          "flight_iata": {
            "type": "string"
          },
          "flight_icao": {
            "type": "string"
          },
          "flight_number": {
            "type": "string"
          },
          "flag": {
            "type": "string"
          },
          "dep_iata": {
            "type": "string"
          },
          "dep_icao": {
            "type": "string"
          },
          "dep_terminal": {
            "type": "string"
          },
          "dep_gate": {
            "type": "string"
          },
          "dep_time": {
            "type": "string"
          },
          "dep_time_ts": {
            "type": "integer"
          },
          "dep_time_utc": {
            "type": "string"
          },
          "dep_estimated": {
            "type": "string"
          },
          "dep_delayed": {
            "type": "integer"
          },
          "arr_iata": {
            "type": "string"
          },
          "arr_icao": {
            "type": "string"
          },
          "arr_terminal": {
            "type": "string"
          },
          "arr_gate": {
            "type": "string"
          },
          "arr_baggage": {
            "type": "string"
          },
          "arr_time": {
            "type": "string"
          },
          "arr_time_ts": {
            "type": "integer"
          },
          "arr_time_utc": {
            "type": "string"
          },
          "arr_estimated": {
            "type": "string"
          },
          "arr_delayed": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "updated": {
            "type": "integer"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "airline_iata": {
            "type": "string"
          },
          "airline_icao": {
            "type": "string"
          },
          "flight_iata": {
            "type": "string"
          },
          "flight_icao": {
            "type": "string"
          },
          "flight_number": {
            "type": "string"
          },
          "dep_iata": {
            "type": "string"
          },
          "dep_icao": {
            "type": "string"
          },
          "dep_terminal": {
            "type": "string"
          },
          "dep_gate": {
            "type": "string"
          },
          "dep_time": {
            "type": "string"
          },
          "dep_time_ts": {
            "type": "integer"
          },
          "dep_time_utc": {
            "type": "string"
          },
          "dep_estimated": {
            "type": "string"
          },
          "dep_estimated_ts": {
            "type": "integer"
          },
          "dep_estimated_utc": {
            "type": "string"
          },
          "dep_actual": {
            "type": "string"
          },
          "dep_actual_ts": {
            "type": "integer"
          },
          "dep_actual_utc": {
            "type": "string"
          },
          "dep_delayed": {
            "type": "integer"
          },
          "arr_iata": {
            "type": "string"
          },
          "arr_icao": {
            "type": "string"
          },
          "arr_terminal": {
            "type": "string"
          },
          "arr_gate": {
            "type": "string"
          },
          "arr_baggage": {
            "type": "string"
          },
          "arr_time": {
            "type": "string"
          },
          "arr_time_ts": {
            "type": "integer"
          },
          "arr_time_utc": {
            "type": "string"
          },
          "arr_estimated": {
            "type": "string"
          },
          "arr_estimated_ts": {
            "type": "integer"
          },
          "arr_estimated_utc": {
            "type": "string"
          },
          "arr_actual": {
            "type": "string"
          },
          "arr_actual_ts": {
            "type": "integer"
          },
          "arr_actual_utc": {
            "type": "string"
          },
          "arr_delayed": {
            "type": "integer"
          },
          "cs_airline_iata": {
            "type": "string"
          },
          "cs_flight_iata": {
            "type": "string"
          },
          "cs_flight_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "delayed": {
            "type": "integer"
          }
        }
      },
      "Airline": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Airline public name."
          },
          "iata_code": {
            "type": "string",
            "description": "Official IATA code."
          },
          "iata_prefix": {
            "type": "integer",
            "description": "3-digit cargo operations code."
          },
          "iata_accounting": {
            "type": "integer",
            "description": "3-digit passenger operations code."
          },
          "icao_code": {
            "type": "string",
            "description": "Official ICAO code."
          },
          "callsign": {
            "type": "string",
            "description": "ICAO callsign."
          },
          "country_code": {
            "type": "string",
            "description": "ISO 2 country code."
          },
          "iosa_registered": {
            "type": "boolean",
            "description": "Safety audit program status."
          },
          "is_scheduled": {
            "type": "boolean",
            "description": "Scheduled flights availability."
          },
          "is_passenger": {
            "type": "boolean",
            "description": "Passenger service availability."
          },
          "is_cargo": {
            "type": "boolean",
            "description": "Cargo service availability."
          },
          "is_international": {
            "type": "boolean",
            "description": "International flight capability."
          },
          "total_aircrafts": {
            "type": "integer",
            "description": "Fleet size."
          },
          "average_fleet_age": {
            "type": "number",
            "description": "Fleet age in years."
          },
          "accidents_last_5y": {
            "type": "integer",
            "description": "5-year accident count."
          },
          "crashes_last_5y": {
            "type": "integer",
            "description": "5-year crash count."
          },
          "website": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Unique AirLabs identifier."
          }
        }
      },
      "Airport": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Airport name."
          },
          "iata_code": {
            "type": "string",
            "description": "3-letter IATA airport code."
          },
          "icao_code": {
            "type": "string",
            "description": "4-letter ICAO airport code."
          },
          "lat": {
            "type": "number",
            "description": "Latitude."
          },
          "lng": {
            "type": "number",
            "description": "Longitude."
          },
          "alt": {
            "type": "integer",
            "description": "Altitude in meters."
          },
          "city": {
            "type": "string",
            "description": "City name."
          },
          "city_code": {
            "type": "string",
            "description": "IATA city code."
          },
          "country_code": {
            "type": "string",
            "description": "ISO 2 country code."
          },
          "timezone": {
            "type": "string",
            "description": "Timezone."
          },
          "is_major": {
            "type": "boolean"
          },
          "is_international": {
            "type": "boolean"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "City name."
          },
          "city_code": {
            "type": "string",
            "description": "Metropolitan IATA code."
          },
          "lat": {
            "type": "number",
            "description": "Latitude."
          },
          "lng": {
            "type": "number",
            "description": "Longitude."
          },
          "alt": {
            "type": "number",
            "description": "Elevation in meters."
          },
          "timezone": {
            "type": "string",
            "description": "City timezone."
          },
          "country_code": {
            "type": "string",
            "description": "ISO 2 country code."
          },
          "population": {
            "type": "integer",
            "description": "Total city population."
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ISO 2 country code."
          },
          "code3": {
            "type": "string",
            "description": "ISO 3 country code."
          },
          "name": {
            "type": "string",
            "description": "Country name."
          },
          "population": {
            "type": "integer",
            "description": "Total country population."
          },
          "continent": {
            "type": "string",
            "description": "Continent code."
          },
          "currency": {
            "type": "string",
            "description": "Primary currency code."
          }
        }
      },
      "Fleet": {
        "type": "object",
        "properties": {
          "hex": {
            "type": "string",
            "description": "ICAO24 hex address."
          },
          "reg_number": {
            "type": "string",
            "description": "Aircraft registration number."
          },
          "flag": {
            "type": "string",
            "description": "Country ISO 2 code."
          },
          "airline_icao": {
            "type": "string"
          },
          "airline_iata": {
            "type": "string"
          },
          "icao": {
            "type": "string",
            "description": "Aircraft ICAO type."
          },
          "iata": {
            "type": "string",
            "description": "Aircraft IATA type."
          },
          "model": {
            "type": "string"
          },
          "manufacturer": {
            "type": "string"
          },
          "msn": {
            "type": "string",
            "description": "Manufacturer serial number."
          },
          "type": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "engine": {
            "type": "string"
          },
          "engine_count": {
            "type": "integer"
          },
          "built": {
            "type": "string"
          },
          "age": {
            "type": "number"
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "airline_iata": {
            "type": "string"
          },
          "airline_icao": {
            "type": "string"
          },
          "flight_number": {
            "type": "string"
          },
          "flight_iata": {
            "type": "string"
          },
          "flight_icao": {
            "type": "string"
          },
          "dep_iata": {
            "type": "string"
          },
          "dep_icao": {
            "type": "string"
          },
          "dep_time": {
            "type": "string"
          },
          "dep_time_utc": {
            "type": "string"
          },
          "arr_iata": {
            "type": "string"
          },
          "arr_icao": {
            "type": "string"
          },
          "arr_time": {
            "type": "string"
          },
          "arr_time_utc": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in minutes."
          },
          "days": {
            "type": "string",
            "description": "Operation schedule."
          },
          "aircraft_icao": {
            "type": "string"
          },
          "updated": {
            "type": "integer"
          }
        }
      },
      "NearbyAirport": {
        "type": "object",
        "properties": {
          "icao_code": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "city_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "distance": {
            "type": "number",
            "description": "Distance in km."
          }
        }
      },
      "NearbyCity": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string"
          },
          "city_code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "distance": {
            "type": "number",
            "description": "Distance in km."
          }
        }
      },
      "Timezone": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Timezone name (e.g. America/New_York)."
          },
          "offset": {
            "type": "number",
            "description": "UTC offset in hours."
          },
          "offset_dst": {
            "type": "number",
            "description": "UTC offset during DST."
          },
          "abbr": {
            "type": "string",
            "description": "Timezone abbreviation."
          },
          "abbr_dst": {
            "type": "string",
            "description": "DST abbreviation."
          }
        }
      },
      "Tax": {
        "type": "object",
        "properties": {
          "iata_code": {
            "type": "string",
            "description": "Tax IATA code."
          },
          "name": {
            "type": "string",
            "description": "Tax name."
          },
          "country_code": {
            "type": "string",
            "description": "ISO 2 country code."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "API key passed as a query parameter."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Airlines"
    },
    {
      "name": "Airports"
    },
    {
      "name": "Alert"
    },
    {
      "name": "Cities"
    },
    {
      "name": "Countries"
    },
    {
      "name": "Delays"
    },
    {
      "name": "Fleets"
    },
    {
      "name": "Flight"
    },
    {
      "name": "Flights"
    },
    {
      "name": "Nearby"
    },
    {
      "name": "Ping"
    },
    {
      "name": "Routes"
    },
    {
      "name": "Schedules"
    },
    {
      "name": "Session"
    },
    {
      "name": "Suggest"
    },
    {
      "name": "Taxes"
    },
    {
      "name": "Timezones"
    }
  ]
}