{
  "swagger": "2.0",
  "info": {
    "version": "1.1.0",
    "title": "Web App Regione API",
    "description": "API server della web-app per il Consiglio Regionale Veneto",
    "contact": {
      "email": "you@your-company.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/tesistiAnonimi/API-swagger2-0/1.1.0/swagger.json"
  },
  "host": "api.site.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/categorie": {
      "get": {
        "description": "Permette di ottenere l'elenco di tutte le categorie presenti nel database",
        "summary": "getCategorie",
        "tags": [
          "utenti"
        ],
        "operationId": "CategoriaGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Categoria"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/definitions/RispostaAPI"
                }
              ]
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      },
      "post": {
        "description": "Permette di aggiungere una nuova categoria al database",
        "summary": "addCategoria",
        "tags": [
          "utenti"
        ],
        "operationId": "CategoriaPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "Nome della nuova categoria",
            "schema": {
              "$ref": "#/definitions/Categoria"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            },
            "headers": {}
          },
          "400": {
            "description": "Sintassi non corretta",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "409": {
            "description": "Categoria gia' esistente",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      }
    },
    "/api/categorie/{nomeCategoria}": {
      "get": {
        "description": "Permette di ottenere l'elenco dei file csv appartenenti alla categoria selezionata",
        "summary": "getCSVinCategory",
        "tags": [
          "utenti"
        ],
        "operationId": "CategoriaByNomeCategoriaGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome della categoria dei file csv da visualizzare"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "pagina precedente o successiva"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "quanti elementi per pagina"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/definitions/RispostaAPI"
                }
              ]
            }
          },
          "404": {
            "description": "Risorsa non trovata",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      },
      "put": {
        "description": "Permette di modificare il nome della categoria",
        "summary": "modifyCategory",
        "tags": [
          "utenti"
        ],
        "operationId": "CategoriaByNomeCategoriaPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "Nuovo nome per la categoria",
            "schema": {
              "$ref": "#/definitions/Categoria"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            },
            "headers": {}
          },
          "400": {
            "description": "Una categoria con lo stesso nome esiste gia'",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "default": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      },
      "post": {
        "description": "Permette il caricamento del file csv nel database nella categoria selezionata",
        "summary": "loadCSV",
        "tags": [
          "utenti"
        ],
        "operationId": "CategoriaByNomeCategoriaPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "File CSV da caricare",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "nomeFile": {
                      "type": "string"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/CSV"
                }
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            },
            "headers": {}
          },
          "400": {
            "description": "Un documento con lo stesso nome in questa categoria gia' presente",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "404": {
            "description": "Categoria non trovata",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "417": {
            "description": "Esecuzione non riuscita",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      },
      "delete": {
        "description": "Elimina in modo permanente una categoria dal database. I documenti appartenenti a tale categoria vengono automaticamente spostati nella categoria Nessuna Categoria.",
        "summary": "deleteCSV",
        "tags": [
          "utenti"
        ],
        "operationId": "CategoriaByNomeCategoriaDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            },
            "headers": {}
          },
          "404": {
            "description": "Risorsa non trovata",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      }
    },
    "/api/csv/{nomeCategoria}/{nomeCSV}": {
      "get": {
        "description": "Restituisce un numero limitato di righe del csv, in base ai parametri skip e limit",
        "summary": "getCSV",
        "tags": [
          "utenti"
        ],
        "operationId": "CSVByNomeCategoriaAndNomeCSVGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome della categoria dei file csv da visualizzare"
          },
          {
            "name": "nomeCSV",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome del file csv"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "pagina precedente o successiva"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "quanti elementi per pagina"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "404": {
            "description": "Risorsa non trovata",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      },
      "put": {
        "description": "Modifica del file csv. Un booleano indica se e' da modificare la categoria di appartenenza del file CSV oppure se sono da modificare le righe.",
        "summary": "updateCSV",
        "tags": [
          "utenti"
        ],
        "operationId": "CSVByNomeCategoriaAndNomeCSVPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome della categoria dei file csv da visualizzare"
          },
          {
            "name": "nomeCSV",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome del file csv"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "Oggetto con le modifiche. Se il booleano <i>cambioCategoria</i> ha valore true, allora viene modificata la categoria di appartenenza del file csv, altrimenti viene aggiornato il file con le righe passate nell'oggetto",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "cambioCategoria": {
                      "type": "boolean"
                    },
                    "nomeCategoria": {
                      "type": "string"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/CSV"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            },
            "headers": {}
          },
          "404": {
            "description": "Risorsa non trovata",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      },
      "delete": {
        "description": "Effettua la cancellazione del file csv in maniera permanente.",
        "summary": "deleteCSV",
        "tags": [
          "utenti"
        ],
        "operationId": "CSVByNomeCategoriaAndNomeCSVDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome della categoria dei file csv da visualizzare"
          },
          {
            "name": "nomeCSV",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome del file csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            },
            "headers": {}
          },
          "417": {
            "description": "Esecuzione non riuscita",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      }
    },
    "/api/grafico/{nomeCategoria}/{nomeCSV}": {
      "get": {
        "description": "Produce i dati per la visualizzazione del grafico",
        "summary": "getGraphInfo",
        "tags": [
          "utenti"
        ],
        "operationId": "GraficoByNomeCategoriaAndNomeCSVGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nomeCategoria",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome della categoria in cui \u00e9 presente il file"
          },
          {
            "name": "nomeCSV",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "nome del file csv"
          },
          {
            "name": "colonna",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "la colonna di cui visualizzare il grafico"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {},
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/InfoGrafico"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/RispostaAPI"
                }
              ]
            }
          },
          "404": {
            "description": "Risorsa non trovata",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          },
          "500": {
            "description": "Errore interno",
            "schema": {
              "$ref": "#/definitions/RispostaAPI"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RispostaAPI": {
      "title": "Risposta API",
      "type": "object",
      "properties": {
        "codice": {
          "type": "number"
        },
        "messaggioErrore": {
          "type": "string"
        }
      }
    },
    "InfoGrafico": {
      "title": "Informazioni Grafico",
      "type": "object",
      "properties": {
        "titolo": {
          "example": "nome colonna 1",
          "type": "string"
        },
        "etichette": {
          "example": [
            "label 1",
            "label 2"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conteggi": {
          "example": [
            46,
            58
          ],
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "CSV": {
      "title": "Struttura CSV",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "Categoria": {
      "type": "string",
      "example": "Energia"
    }
  },
  "tags": [
    {
      "name": "utenti",
      "description": "Operazioni disponinbili a tutti gli utenti"
    }
  ]
}