{
  "openapi": "3.0.3",
  "info": {
    "title": "Launch Control API",
    "version": "1.0.0",
    "description": "Launch Control API for recording client load attempts and monitoring.",
    "x-jentic-source-url": "https://www.notion.so/Launch-Control-API-Documentation-436701d310fb4f799423200f18cb865b"
  },
  "servers": [
    {
      "url": "https://api.launchcontrol.us"
    }
  ],
  "paths": {
    "/api/v3/recordClientLoadAttempt": {
      "post": {
        "operationId": "recordClientLoadAttempt",
        "summary": "Record client load attempt",
        "tags": [
          "Monitoring"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadAttemptRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoadAttemptRequest": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "description": "Unique identifier for the load attempt"
          },
          "pathname": {
            "type": "string",
            "description": "Current page path"
          },
          "hostname": {
            "type": "string",
            "description": "Current hostname"
          },
          "version": {
            "type": "string",
            "description": "Application version"
          },
          "htmlType": {
            "type": "string",
            "description": "Type of HTML being served"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}