{
  "openapi": "3.0.3",
  "info": {
    "title": "Genetec Security Center API",
    "version": "1.0.0",
    "description": "Physical security management platform API",
    "x-jentic-source-url": "https://developer.genetec.com/"
  },
  "servers": [
    {
      "url": "https://api.genetec.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    "Cameras",
    "Events",
    "Access Control"
  ],
  "paths": {
    "/cameras": {
      "get": {
        "summary": "List cameras",
        "description": "List cameras",
        "tags": [
          "Cameras"
        ],
        "operationId": "listCameras",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/cameras/{cameraId}/video": {
      "get": {
        "summary": "Get camera video",
        "description": "Get camera video",
        "tags": [
          "Cameras"
        ],
        "operationId": "getCameraVideo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cameraId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/events": {
      "get": {
        "summary": "Get security events",
        "description": "Get security events",
        "tags": [
          "Events"
        ],
        "operationId": "getSecurityEvents",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/access-control/cardholders": {
      "get": {
        "summary": "List cardholders",
        "description": "List cardholders",
        "tags": [
          "Access Control"
        ],
        "operationId": "listCardholders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}