{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la operatividad via comercio electronico",
    "version": "v2",
    "title": "API Visanet eCommerce",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pgaldamez/api.ecommerce/v2/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.ecommerce/v2",
  "tags": [
    {
      "name": "Api to get client Ip",
      "description": "Api to get client Ip"
    },
    {
      "name": "Api to manage tokenized cards",
      "description": "Api which manage tokenized cards"
    },
    {
      "name": "Card Bin Additional Information",
      "description": "Query in order to retrieve card bin additional information"
    },
    {
      "name": "Create Session Token",
      "description": "RESTful API to create a session token."
    },
    {
      "name": "Manage Session Time",
      "description": "RESTful API to manage session time"
    },
    {
      "name": "Merchant Configuration",
      "description": "RESTful API to get Merchant configuration."
    },
    {
      "name": "New Sequence Api",
      "description": "RESTful API to get a new sequence."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/card/management/remove/{vault}": {
      "post": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Remove Card Token",
        "description": "RESTful API to remove a token",
        "operationId": "removeWithBody",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Vault remove token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VaultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/remove/{vault}/{block}/{attribute}": {
      "post": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Remove Card Token",
        "description": "RESTful API to remove a token",
        "operationId": "remove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/retrieve/{vault}/{block}": {
      "get": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Retrieve Token List",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/clientip": {
      "get": {
        "tags": [
          "Api to get client Ip"
        ],
        "summary": "Get Client Ip",
        "description": "RESTful API to get client ip",
        "operationId": "getClientIp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClientIpResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/configuration/merchant/{entityId}": {
      "get": {
        "tags": [
          "Merchant Configuration"
        ],
        "summary": "Retrieve Merchant Configuration",
        "description": "RESTful API to get Merchant configuration.",
        "operationId": "getConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Commerce"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/query/{merchant}/{transactionToken}/{amount}": {
      "get": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Query Session Token",
        "description": "RESTful API to query session token",
        "operationId": "querySessionToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchant",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionToken",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/session/{entityId}": {
      "post": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Create Session Token",
        "description": "RESTful API to create session token",
        "operationId": "createSessionToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Session token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/transaction": {
      "post": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Create Transaction Token",
        "description": "RESTful API to create transaction token",
        "operationId": "createTransactionToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Transaction token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/queryBin/management/{binNumber}": {
      "get": {
        "tags": [
          "Card Bin Additional Information"
        ],
        "summary": "Query Ardef",
        "description": "Query in order to get ardef information.",
        "operationId": "getArdef",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "binNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Ardef"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/queryBin/{binNumber}": {
      "get": {
        "tags": [
          "Card Bin Additional Information"
        ],
        "summary": "Query Bin",
        "description": "Api to retrieve bin information",
        "operationId": "getBin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "binNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Bin"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/sequence/{queryType}/{entityId}": {
      "get": {
        "tags": [
          "New Sequence Api"
        ],
        "summary": "Retrieve New Sequence",
        "description": "RESTful API to get a new sequence.",
        "operationId": "retrieveSequence",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Sequence"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/session/management/extend/{entityId}/{sessionKey}": {
      "post": {
        "tags": [
          "Manage Session Time"
        ],
        "summary": "Extend Session",
        "description": "RESTful API to extend session time",
        "operationId": "extendSession",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sessionKey",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "properties": {
        "street1": {
          "type": "string"
        },
        "street2": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "Alias": {
      "type": "object",
      "properties": {
        "aliasId": {
          "type": "string"
        },
        "aliasName": {
          "type": "string"
        },
        "cvv2": {
          "type": "integer",
          "format": "int32"
        },
        "requestCVV2": {
          "type": "boolean"
        },
        "userToken": {
          "type": "string"
        }
      }
    },
    "Antifraud": {
      "type": "object",
      "properties": {
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "clientIp": {
          "type": "string"
        },
        "deviceFingerprintId": {
          "type": "string"
        },
        "merchantDefineData": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Ardef": {
      "type": "object",
      "properties": {
        "bin": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "product": {
          "$ref": "#/definitions/Dictionary"
        },
        "source": {
          "$ref": "#/definitions/Dictionary"
        }
      }
    },
    "Bin": {
      "type": "object",
      "properties": {
        "binNumber": {
          "type": "string"
        },
        "hasInstallments": {
          "type": "boolean"
        }
      }
    },
    "Card": {
      "type": "object",
      "properties": {
        "cardNumber": {
          "type": "string"
        },
        "expirationMonth": {
          "type": "integer",
          "format": "int32"
        },
        "expirationYear": {
          "type": "integer",
          "format": "int32"
        },
        "cvv2": {
          "type": "string"
        },
        "cardHolderName": {
          "type": "string"
        },
        "tokenId": {
          "type": "string"
        },
        "cardAliasName": {
          "type": "string"
        },
        "verify": {
          "type": "boolean"
        },
        "track2": {
          "type": "string"
        },
        "emv": {
          "type": "string"
        },
        "cardNumberEnc": {
          "type": "string"
        },
        "track2Enc": {
          "type": "string"
        },
        "emvEnc": {
          "type": "string"
        },
        "pinBlockEnc": {
          "type": "string"
        },
        "ksnDukpt": {
          "type": "string"
        },
        "visaCheckout": {
          "type": "boolean"
        },
        "registerCardFrecuent": {
          "type": "boolean"
        },
        "useCardFrecuent": {
          "type": "boolean"
        }
      }
    },
    "CardHolder": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "documentType": {
          "type": "string"
        },
        "documentNumber": {
          "type": "string"
        }
      }
    },
    "CardToken": {
      "type": "object",
      "properties": {
        "tokenId": {
          "type": "string"
        },
        "cardNumber": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "bin": {
          "type": "integer",
          "format": "int32"
        },
        "lastFourDigits": {
          "type": "integer",
          "format": "int32"
        },
        "expirationMonth": {
          "type": "integer",
          "format": "int32"
        },
        "expirationYear": {
          "type": "integer",
          "format": "int32"
        },
        "hasInstallments": {
          "type": "boolean"
        },
        "requestCVV2": {
          "type": "boolean"
        },
        "creationDate": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ClientIpResponse": {
      "type": "object",
      "properties": {
        "clientIp": {
          "type": "string"
        }
      }
    },
    "Commerce": {
      "type": "object",
      "properties": {
        "ruc": {
          "type": "string"
        },
        "merchantGroupId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "active": {
          "type": "boolean"
        },
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "tokenizationEnabled": {
          "type": "boolean"
        },
        "recurrencyEnabled": {
          "type": "boolean"
        },
        "showFirstNameLastNameEnabled": {
          "type": "boolean"
        },
        "installments": {
          "type": "boolean"
        },
        "currency": {
          "type": "string"
        },
        "payButtonEs": {
          "type": "string"
        },
        "payButtonEn": {
          "type": "string"
        },
        "subscribeButtonEs": {
          "type": "string"
        },
        "subscribeButtonEn": {
          "type": "string"
        },
        "verifiedByVisaEnabled": {
          "type": "boolean"
        },
        "commerceLogo": {
          "type": "string"
        },
        "commerceCode": {
          "type": "string"
        },
        "mcc": {
          "type": "string"
        }
      }
    },
    "Dictionary": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "tokenId": {
          "type": "string"
        },
        "purchaseNumber": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        },
        "installment": {
          "type": "integer",
          "format": "int32"
        },
        "currency": {
          "type": "string"
        },
        "externalTransactionId": {
          "type": "string"
        },
        "authorizedAmount": {
          "type": "number",
          "format": "double"
        },
        "authorizationCode": {
          "type": "string"
        },
        "traceNumber": {
          "type": "string"
        },
        "transactionDate": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "originalTraceNumber": {
          "type": "string"
        },
        "originalDateTime": {
          "type": "string"
        },
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Recurrence": {
      "type": "object",
      "properties": {
        "beneficiaryId": {
          "type": "string"
        },
        "frequency": {
          "type": "string"
        },
        "recurrenceAmount": {
          "type": "number",
          "format": "double"
        },
        "maximum": {
          "type": "number",
          "format": "double"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Sequence": {
      "type": "object",
      "properties": {
        "next": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SessionToken": {
      "type": "object",
      "properties": {
        "sessionKey": {
          "type": "string"
        },
        "expirationTime": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SessionTokenRequest": {
      "type": "object",
      "properties": {
        "channel": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        },
        "recurrentMaxAmount": {
          "type": "number",
          "format": "double"
        },
        "antifraud": {
          "$ref": "#/definitions/Antifraud"
        }
      }
    },
    "TokenListResponse": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32"
        },
        "responseMessage": {
          "type": "string"
        },
        "cards": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardToken"
          }
        }
      }
    },
    "TokenRequest": {
      "type": "object",
      "properties": {
        "channel": {
          "type": "string"
        },
        "merchantId": {
          "type": "string"
        },
        "clientIp": {
          "type": "string"
        },
        "callbackUrl": {
          "type": "string"
        },
        "antifraud": {
          "type": "string"
        },
        "card": {
          "$ref": "#/definitions/Card"
        },
        "customer": {
          "$ref": "#/definitions/CardHolder"
        },
        "order": {
          "$ref": "#/definitions/Order"
        },
        "alias": {
          "$ref": "#/definitions/Alias"
        },
        "recurrence": {
          "$ref": "#/definitions/Recurrence"
        }
      }
    },
    "TokenResponse": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32"
        },
        "responseMessage": {
          "type": "string"
        }
      }
    },
    "TransactionToken": {
      "type": "object",
      "properties": {
        "tokenId": {
          "type": "string"
        },
        "expiration": {
          "type": "integer",
          "format": "int64"
        },
        "redirectToVbV": {
          "type": "boolean"
        }
      }
    },
    "VaultRequest": {
      "type": "object",
      "properties": {
        "vault": {
          "type": "string"
        },
        "block": {
          "type": "string"
        },
        "attribute": {
          "type": "string"
        }
      }
    }
  }
}