{
  "openapi": "3.0.3",
  "paths": {
    "/api/mod1/public/form": {
      "get": {
        "operationId": "FormController_find",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Sort Parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name:ASC",
                  "name:DESC",
                  "createdAt:ASC",
                  "createdAt:DESC",
                  "updatedAt:ASC",
                  "updatedAt:DESC"
                ]
              }
            }
          },
          {
            "name": "filter.createdAt",
            "required": false,
            "in": "query",
            "description": "Filter by createdAt query param.<br>**Format:** filter.createdAt=OPERATION:VALUE<br>**Example**: filter.name=$eq:John<br><br>**Available Operations:**<br><br>$btw,$gt,$gte,$lt,$lte,$eq",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.updatedAt",
            "required": false,
            "in": "query",
            "description": "Filter by updatedAt query param.<br>**Format:** filter.updatedAt=OPERATION:VALUE<br>**Example**: filter.name=$eq:John<br><br>**Available Operations:**<br><br>$btw,$gt,$gte,$lt,$lte,$eq",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedFormsResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Get all Forms",
        "tags": [
          "Forms"
        ]
      }
    },
    "/api/mod1/public/form/{id}": {
      "get": {
        "operationId": "FormController_findOne",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "403": {
            "description": "Form is password protected or incorrect password"
          },
          "404": {
            "description": "Form not found"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Get a Form by its ID",
        "tags": [
          "Forms"
        ]
      }
    },
    "/api/mod1/public/form/{id}/submit": {
      "post": {
        "operationId": "FormController_submitForm",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitFormDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form submitted successfully"
          },
          "400": {
            "description": "Field validation failed"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "403": {
            "description": "Form is not published"
          },
          "404": {
            "description": "Form, config, category, or field not found"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Submit a Form",
        "tags": [
          "Forms"
        ]
      }
    },
    "/api/mod1/public/file": {
      "post": {
        "operationId": "FileController_uploadTempFile",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "List of Files",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FilesUploadDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilesUploadResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "File extension could not be determined"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "File Upload Endpoint for File Attachment Fields",
        "tags": [
          "File"
        ]
      }
    },
    "/api/mod1/public/location": {
      "get": {
        "operationId": "LocationController_getAllLocationData",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLocationDataDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Get List of Countries & States to be used in Address Field",
        "tags": [
          "Location"
        ]
      }
    },
    "/api/mod1/public/financial-info": {
      "get": {
        "operationId": "FinancialInfoController_getFinancialInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialInfoValuesForFormDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Values for Financial Info Field",
        "tags": [
          "Financial Info"
        ]
      }
    }
  },
  "info": {
    "title": "Intake Public API",
    "description": "API Documentation for Public Lexopulus Intake APIs",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://us-app.lexopulus.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API Key"
      }
    },
    "schemas": {
      "FieldTypeValues": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "_id",
          "value"
        ]
      },
      "GeneralValuesDtoWithCaseManagement": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "type": {
            "type": "object"
          },
          "fieldTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldTypeValues"
            }
          }
        },
        "required": [
          "_id",
          "type",
          "fieldTypes"
        ]
      },
      "GeneralValuesDtoWithoutCaseManagement": {
        "type": "object",
        "properties": {
          "addressTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phoneTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "emailTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "addressTypes",
          "phoneTypes",
          "emailTypes"
        ]
      },
      "PublishedFormResponseDto": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "_id",
          "name",
          "createdAt",
          "updatedAt"
        ]
      },
      "PaginationMetaDto": {
        "type": "object",
        "properties": {
          "totalItems": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "totalItems",
          "page",
          "limit",
          "totalPages"
        ]
      },
      "PaginationLinksDto": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "previous": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "last": {
            "type": "string"
          }
        },
        "required": [
          "first",
          "previous",
          "next",
          "last"
        ]
      },
      "PublishedFormsResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PublishedFormResponseDto"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMetaDto"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinksDto"
          }
        },
        "required": [
          "data",
          "meta",
          "links"
        ]
      },
      "FieldDto": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "originalFieldId": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "width": {
            "type": "number"
          },
          "label": {
            "type": "string"
          },
          "mandatoryField": {
            "type": "boolean"
          },
          "translatedLabells": {
            "type": "object"
          },
          "translatedOptions": {
            "type": "object"
          }
        },
        "required": [
          "_id",
          "name",
          "type",
          "originalFieldId",
          "width",
          "label",
          "mandatoryField",
          "translatedLabells"
        ]
      },
      "CategoryDto": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldDto"
            }
          },
          "originalCategoryId": {
            "type": "string"
          },
          "additionalInfoCategory": {
            "type": "boolean"
          },
          "translatedCategoryName": {
            "type": "string"
          }
        },
        "required": [
          "_id",
          "name",
          "fields",
          "originalCategoryId",
          "additionalInfoCategory",
          "translatedCategoryName"
        ]
      },
      "FormDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryDto"
            }
          },
          "availableLanguages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "translatedFormName": {
            "type": "object"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "updatedAt": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "categories",
          "availableLanguages",
          "translatedFormName",
          "createdAt",
          "updatedAt"
        ]
      },
      "AvailableLanguage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "rtl": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "code"
        ]
      },
      "FormResponseDto": {
        "type": "object",
        "properties": {
          "generalValues": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/GeneralValuesDtoWithoutCaseManagement"
              },
              {
                "$ref": "#/components/schemas/GeneralValuesDtoWithCaseManagement"
              }
            ]
          },
          "form": {
            "$ref": "#/components/schemas/FormDto"
          },
          "firmLogo": {
            "type": "string"
          },
          "availableLanguages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailableLanguage"
            }
          }
        },
        "required": [
          "generalValues",
          "form",
          "firmLogo",
          "availableLanguages"
        ]
      },
      "ObjectId": {
        "type": "object",
        "properties": {}
      },
      "SubmitFieldDto": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "value": {
            "type": "object"
          }
        },
        "required": [
          "id",
          "value"
        ]
      },
      "SubmitCategoryDto": {
        "type": "object",
        "properties": {
          "categoryId": {
            "$ref": "#/components/schemas/ObjectId"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubmitFieldDto"
            }
          }
        },
        "required": [
          "categoryId",
          "fields"
        ]
      },
      "SubmitFormDto": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubmitCategoryDto"
            }
          },
          "language": {
            "type": "string"
          }
        },
        "required": [
          "categories"
        ]
      },
      "FilesUploadDto": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            }
          }
        },
        "required": [
          "files"
        ]
      },
      "FilesUploadResponseDto": {
        "type": "object",
        "properties": {
          "originalname": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "mimetype": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        },
        "required": [
          "originalname",
          "filename",
          "mimetype",
          "path"
        ]
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "isEnabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "State": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "countryId": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "countryId",
          "isEnabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "GetLocationDataDto": {
        "type": "object",
        "properties": {
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            }
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/State"
            }
          }
        },
        "required": [
          "countries",
          "states"
        ]
      },
      "IncomeOrExpenseSource": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "includeInCalculation": {
            "type": "boolean"
          },
          "default": {
            "type": "boolean"
          },
          "translatedNames": {
            "type": "object"
          },
          "translatedDescriptions": {
            "type": "object"
          }
        },
        "required": [
          "_id",
          "name",
          "description",
          "active",
          "includeInCalculation",
          "default",
          "translatedNames",
          "translatedDescriptions"
        ]
      },
      "SourceFrequency": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "default": {
            "type": "boolean"
          },
          "translatedNames": {
            "type": "object"
          }
        },
        "required": [
          "_id",
          "name",
          "value",
          "description",
          "active",
          "default",
          "translatedNames"
        ]
      },
      "GetFinancialInfoValuesForFormDto": {
        "type": "object",
        "properties": {
          "incomeSources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncomeOrExpenseSource"
            }
          },
          "expenseSources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncomeOrExpenseSource"
            }
          },
          "sourceFrequencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceFrequency"
            }
          }
        },
        "required": [
          "incomeSources",
          "expenseSources",
          "sourceFrequencies"
        ]
      }
    }
  }
}