{
  "openapi": "3.0.3",
  "info": {
    "title": "Nextdoor API",
    "description": "The Nextdoor API provides access to Nextdoor's platform capabilities including advertising, content publishing, content display/search, and news partner integration. The Advertising API covers campaign management, ad groups, creatives, targeting, audiences, and reporting. The Content Publishing API enables third-party content distribution. The Content Display API provides search and discovery of local content.",
    "version": "1.0.0",
    "contact": {
      "name": "Nextdoor Developer Support",
      "url": "https://developer.nextdoor.com"
    },
    "x-jentic-source-url": "https://developer.nextdoor.com"
  },
  "servers": [
    {
      "url": "https://ads.nextdoor.com/v1",
      "description": "Nextdoor Advertising API"
    },
    {
      "url": "https://nextdoor.com/api",
      "description": "Nextdoor Content API"
    }
  ],
  "security": [
    {
      "oauth2": []
    },
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/advertiser/create": {
      "post": {
        "tags": [
          "Advertising - Advertiser"
        ],
        "summary": "Create an advertiser",
        "description": "Create a new advertiser account on the Nextdoor advertising platform.",
        "operationId": "createAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Advertiser name"
                  },
                  "website_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Advertiser website URL"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advertiser created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/advertiser/update": {
      "post": {
        "tags": [
          "Advertising - Advertiser"
        ],
        "summary": "Update an advertiser",
        "operationId": "updateAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "website_url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "advertiser_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advertiser updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          }
        },
        "description": "Update an advertiser"
      }
    },
    "/advertiser/get": {
      "get": {
        "tags": [
          "Advertising - Advertiser"
        ],
        "summary": "Get advertiser details",
        "operationId": "getAdvertiser",
        "parameters": [
          {
            "name": "advertiser_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advertiser details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          }
        },
        "description": "Get advertiser details"
      }
    },
    "/campaign/create": {
      "post": {
        "tags": [
          "Advertising - Campaign"
        ],
        "summary": "Create a campaign",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "objective": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "number"
                  },
                  "start_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end_time": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "advertiser_id",
                  "name",
                  "objective"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "description": "Create a campaign"
      }
    },
    "/campaign/update": {
      "post": {
        "tags": [
          "Advertising - Campaign"
        ],
        "summary": "Update a campaign",
        "operationId": "updateCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaign_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "number"
                  },
                  "start_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end_time": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "campaign_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "description": "Update a campaign"
      }
    },
    "/campaign/status/update": {
      "post": {
        "tags": [
          "Advertising - Campaign"
        ],
        "summary": "Update campaign status",
        "operationId": "updateCampaignStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaign_id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "PAUSED",
                      "ARCHIVED"
                    ]
                  }
                },
                "required": [
                  "campaign_id",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign status updated"
          }
        },
        "description": "Update campaign status"
      }
    },
    "/adgroup/create": {
      "post": {
        "tags": [
          "Advertising - Ad Group"
        ],
        "summary": "Create an ad group",
        "operationId": "createAdGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaign_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "bid_amount": {
                    "type": "number"
                  },
                  "targeting": {
                    "$ref": "#/components/schemas/Targeting"
                  }
                },
                "required": [
                  "campaign_id",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroup"
                }
              }
            }
          }
        },
        "description": "Create an ad group"
      }
    },
    "/adgroup/update": {
      "post": {
        "tags": [
          "Advertising - Ad Group"
        ],
        "summary": "Update an ad group",
        "operationId": "updateAdGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adgroup_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "bid_amount": {
                    "type": "number"
                  },
                  "targeting": {
                    "$ref": "#/components/schemas/Targeting"
                  }
                },
                "required": [
                  "adgroup_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad group updated"
          }
        },
        "description": "Update an ad group"
      }
    },
    "/adgroup/list": {
      "get": {
        "tags": [
          "Advertising - Ad Group"
        ],
        "summary": "List ad groups",
        "operationId": "listAdGroups",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ad groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdGroup"
                  }
                }
              }
            }
          }
        },
        "description": "List ad groups"
      }
    },
    "/creative/create": {
      "post": {
        "tags": [
          "Advertising - Creative"
        ],
        "summary": "Create a creative",
        "operationId": "createCreative",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adgroup_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "headline": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "call_to_action": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "landing_page_url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "adgroup_id",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creative created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          }
        },
        "description": "Create a creative"
      }
    },
    "/creative/update": {
      "post": {
        "tags": [
          "Advertising - Creative"
        ],
        "summary": "Update a creative",
        "operationId": "updateCreative",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "creative_id": {
                    "type": "string"
                  },
                  "headline": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "call_to_action": {
                    "type": "string"
                  }
                },
                "required": [
                  "creative_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creative updated"
          }
        },
        "description": "Update a creative"
      }
    },
    "/media/logo/upload": {
      "post": {
        "tags": [
          "Advertising - Media"
        ],
        "summary": "Upload a logo",
        "operationId": "uploadLogo",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logo uploaded"
          }
        },
        "description": "Upload a logo"
      }
    },
    "/media/canvas/upload": {
      "post": {
        "tags": [
          "Advertising - Media"
        ],
        "summary": "Upload a canvas image",
        "operationId": "uploadCanvas",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Canvas uploaded"
          }
        },
        "description": "Upload a canvas image"
      }
    },
    "/media/video/upload": {
      "post": {
        "tags": [
          "Advertising - Media"
        ],
        "summary": "Upload a video",
        "operationId": "uploadVideo",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video uploaded"
          }
        },
        "description": "Upload a video"
      }
    },
    "/reporting/create": {
      "post": {
        "tags": [
          "Advertising - Reporting"
        ],
        "summary": "Create a report",
        "operationId": "createReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "report_type": {
                    "type": "string"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "advertiser_id",
                  "report_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a report"
      }
    },
    "/reporting/schedule": {
      "post": {
        "tags": [
          "Advertising - Reporting"
        ],
        "summary": "Schedule a recurring report",
        "operationId": "scheduleReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "report_type": {
                    "type": "string"
                  },
                  "schedule": {
                    "type": "string"
                  }
                },
                "required": [
                  "advertiser_id",
                  "report_type",
                  "schedule"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report scheduled"
          }
        },
        "description": "Schedule a recurring report"
      }
    },
    "/audience/create": {
      "post": {
        "tags": [
          "Advertising - Audiences"
        ],
        "summary": "Create a custom audience",
        "operationId": "createAudience",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "advertiser_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "required": [
                  "advertiser_id",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience created"
          }
        },
        "description": "Create a custom audience"
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Content Publishing"
        ],
        "summary": "Get current user profile",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "User profile information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get current user profile"
      }
    },
    "/me/profiles": {
      "get": {
        "tags": [
          "Content Publishing"
        ],
        "summary": "Get user profiles",
        "operationId": "getMeProfiles",
        "responses": {
          "200": {
            "description": "User profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get user profiles"
      }
    },
    "/post/create": {
      "post": {
        "tags": [
          "Content Publishing"
        ],
        "summary": "Create a post",
        "operationId": "createPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string"
                  },
                  "media_attachments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "link": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created"
          }
        },
        "description": "Create a post"
      }
    },
    "/post/edit": {
      "post": {
        "tags": [
          "Content Publishing"
        ],
        "summary": "Edit a post",
        "operationId": "editPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_id": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "post_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post edited"
          }
        },
        "description": "Edit a post"
      }
    },
    "/post/delete": {
      "post": {
        "tags": [
          "Content Publishing"
        ],
        "summary": "Delete a post",
        "operationId": "deletePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "post_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post deleted"
          }
        },
        "description": "Delete a post"
      }
    },
    "/comment/create": {
      "post": {
        "tags": [
          "Content Publishing"
        ],
        "summary": "Create a comment",
        "operationId": "createComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_id": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "post_id",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created"
          }
        },
        "description": "Create a comment"
      }
    },
    "/search/posts": {
      "get": {
        "tags": [
          "Content Display"
        ],
        "summary": "Search posts",
        "description": "Search posts by keyword and location",
        "operationId": "searchPosts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/search/events": {
      "get": {
        "tags": [
          "Content Display"
        ],
        "summary": "Search events",
        "operationId": "searchEvents",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search events"
      }
    },
    "/search/businesses": {
      "get": {
        "tags": [
          "Content Display"
        ],
        "summary": "Search businesses",
        "operationId": "searchBusinesses",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search businesses"
      }
    },
    "/search/marketplace": {
      "get": {
        "tags": [
          "Content Display"
        ],
        "summary": "Search marketplace items",
        "operationId": "searchMarketplace",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketplace search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search marketplace items"
      }
    },
    "/trending/posts": {
      "get": {
        "tags": [
          "Content Display"
        ],
        "summary": "Get trending posts",
        "description": "Trending content discovery with city/state level data",
        "operationId": "getTrendingPosts",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agency/feed": {
      "get": {
        "tags": [
          "Content Display"
        ],
        "summary": "Get public agency feed",
        "operationId": "getAgencyFeed",
        "parameters": [
          {
            "name": "agency_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agency feed content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get public agency feed"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://nextdoor.com/oauth/authorize",
            "tokenUrl": "https://nextdoor.com/oauth/token",
            "scopes": {}
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Advertiser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "website_url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "advertiser_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "objective": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PAUSED",
              "ARCHIVED"
            ]
          },
          "budget": {
            "type": "number"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "bid_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "targeting": {
            "$ref": "#/components/schemas/Targeting"
          }
        }
      },
      "Creative": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "adgroup_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "call_to_action": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          },
          "landing_page_url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Targeting": {
        "type": "object",
        "description": "Targeting configuration for ad groups including geographic, demographic, device, and interest-based parameters",
        "properties": {
          "geo": {
            "type": "object",
            "properties": {
              "zip_codes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "cities": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "states": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "radius_miles": {
                "type": "number"
              }
            }
          },
          "demographics": {
            "type": "object",
            "properties": {
              "age_min": {
                "type": "integer"
              },
              "age_max": {
                "type": "integer"
              },
              "gender": {
                "type": "string"
              }
            }
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "DESKTOP",
                "MOBILE",
                "TABLET"
              ]
            }
          },
          "interests": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Advertising - Ad Group"
    },
    {
      "name": "Advertising - Advertiser"
    },
    {
      "name": "Advertising - Audiences"
    },
    {
      "name": "Advertising - Campaign"
    },
    {
      "name": "Advertising - Creative"
    },
    {
      "name": "Advertising - Media"
    },
    {
      "name": "Advertising - Reporting"
    },
    {
      "name": "Content Display"
    },
    {
      "name": "Content Publishing"
    }
  ]
}
