{
  "openapi": "3.0.0",
  "info": {
    "title": "API Servi\u00e7o de Movimenta\u00e7\u00e3o Beneficiarios",
    "description": "Esta API \u00e9 respons\u00e1vel pela gest\u00e3o do cadastro do benefici\u00e1rio. Ela \u00e9 mantida pela equipe de TI da Unimed Brasil.\n# Observa\u00e7\u00f5es Importantes\n- Esta API \u00e9 de uso exclusivo das Unimeds Singulares.\n- O funcionamento dos recursos desta API somente ocorrer\u00e1 mediante o envio do access token gerado previamente com o uso de `CLIENT_ID` e `CLIENT_SECRET`.\n- Todos os campos de data e data/hora seguem o padr\u00e3o ISO-8601.\n- Todos os campos do tipo boolean podem ser enviados como `true` ou `false`, ou tamb\u00e9m como `1` ou `0`. `true` e `1` significam \"Verdadeiro\", enquanto `false` e `0` significam \"Falso\".\n- Abaixo temos uma rela\u00e7\u00e3o das mensagens de erro (codigoMensagem - descricaoMensagem) que podem ser retornados pelos endpoints desta API. O campo descricaoMensagem cont\u00e9m o detalhe exato do problema ocorrido. Os c\u00f3digos da fam\u00edlia 400 s\u00e3o valida\u00e7\u00f5es na estrutura do payload, enquanto os c\u00f3digos da fam\u00edlia 422 s\u00e3o valida\u00e7\u00f5es de neg\u00f3cio.\n  - `400.001` - O campo `{0}` \u00e9 obrigat\u00f3rio.\n  - `400.002` - O valor informado para o campo `{0}` \u00e9 inv\u00e1lido.\n  - `400.003` - O campo `{0}` n\u00e3o aceita sequ\u00eancia de n\u00fameros, espa\u00e7os ou caracteres especiais.\n  - `400.004` - O campo `{0}` n\u00e3o aceita sequ\u00eancia de zeros, espa\u00e7os ou caracteres especiais.\n  - `400.005` - O campo `{0}` n\u00e3o possui d\u00edgito verificador v\u00e1lido.\n  - `400.006` - O campo `{0}` s\u00f3 aceita d\u00edgitos.\n  - `400.007` - O campo `{0}` n\u00e3o aceita apenas zeros.\n  - `400.008` - O campo `{0}` n\u00e3o aceita caracteres especiais.\n  - `400.009` - O campo `{0}` n\u00e3o aceita alguns caracteres especiais, somente `{1}` s\u00e3o aceitos.\n  - `400.010` - O campo `{0}` n\u00e3o possui a quantidade de caracteres esperada.\n  - `400.011` - O campo `{0}` excedeu o tamanho m\u00e1ximo permitido.\n  - `400.012` - O campo `{0}` n\u00e3o atingiu o tamanho m\u00ednimo permitido.\n  - `400.013` - O campo beneficiarios deve conter no m\u00e1ximo `{0}` registros.\n  - `400.014` - O campo `{0}` est\u00e1 no formato incorreto.    \n  - `422.001` - Benefici\u00e1rio n\u00e3o encontrado.\n  - `422.002` - O campo `{0}` deve conter `{1}` caracteres.\n  - `422.003` - Informar ou CNPJ, ou o CAEPF da empresa contratante.\n  - `422.004` - C\u00f3digo Unimed inv\u00e1lido no campo `{0}`.\n  - `422.005` - O valor fornecido para o campo `{0}` j\u00e1 existe na base de dados.\n  - `422.006` - O campo `{0}` n\u00e3o deve ser anterior a `{1}`.\n  - `422.007` - `{0}` n\u00e3o deve ser posterior a `{1}`.\n  - `422.008` - `{0}` \u00e9 obrigat\u00f3rio quando `{1}` estiver preenchido.\n  - `422.009` - `{0}` s\u00e3o obrigat\u00f3rios quando um deles estiver preenchido.\n  - `422.010` - Pelo menos um dos campos deve estar preenchido: `{0}`.\n  - `422.011` - A URL da Unimed de destino n\u00e3o est\u00e1 configurada para o fluxo de compartilhamento de risco.\n  - `422.012` - CarteirinhaBeneficiarioTitular n\u00e3o existe na base de dados ou n\u00e3o corresponde a um titular. Falha ao cadastrar dependente.\n  - `422.013` - `{0}` deve ser `{1}`, quando `{2}` for `{3}`.\n  - `422.014` - O campo `{0}` n\u00e3o \u00e9 valido.\n  - `422.015` - O codigoControleUnimedBrasil n\u00e3o corresponde ao benefici\u00e1rio informado.\n  - `422.016` - `{0}` s\u00e3o obrigat\u00f3rios quando `{1}`.\n  - `422.017` - `{0}` obrigat\u00f3rio quando o campo `{1}` for `{2}`.\n  - `422.018` - S\u00f3 um pode ser true: {0}.\n  - `422.019` - O campo `{0}` \u00e9 inv\u00e1lido, pois cont\u00e9m termos inapropriados.\n  - `422.020` - `{0}` com valor `{1}` \u00e9 inv\u00e1lido conforme a tabela `{2}`.\n  - `422.021` - `{0}` n\u00e3o pode ser validado, pois `{1}` est\u00e1 indispon\u00edvel.\n  - `422.022` - O campo `{0}` n\u00e3o aceita sequ\u00eancia de zeros, espa\u00e7os ou caracteres especiais.\n  - `422.023` - Atualiza\u00e7\u00e3o n\u00e3o realizada. Os valores fornecidos j\u00e1 est\u00e3o registrados na base de dados.\n  - `422.024` - A integra\u00e7\u00e3o com o armazenamento de dados das transa\u00e7\u00f5es n\u00e3o est\u00e1 configurada.\n  - `422.025` - A transa\u00e7\u00e3o de c\u00f3digo `{0}` j\u00e1 foi processada para a Unimed `{1}`.\n  - `422.026` - O campo `{0}` n\u00e3o aceita palavras com apenas uma letra.\n  - `422.027` - O campo `{0}` s\u00f3 aceita letras.\n  - `422.028` - O campo `{0}` n\u00e3o aceita sequ\u00eancia de espa\u00e7os em branco.\n  - `422.029` - O campo `{0}` \u00e9 obrigat\u00f3rio.\n  - `422.030` - As datas informadas s\u00e3o inv\u00e1lidas.\n  - `422.031` - O campo codigoControleUnimedBrasil n\u00e3o est\u00e1 vinculado \u00e0 carteirinha informada.\n  - `422.032` - Benefici\u00e1rio provis\u00f3rio n\u00e3o pode ser atualizado.\n  - `422.033` - A diferen\u00e7a entre a dataInicio e dataFim n\u00e3o pode ser superior a 3 meses.\n  - `422.034` - O campo carteirinhaCompRisco gerado pela Unimed `{0}` \u00e9 inv\u00e1lido.\n  - `422.035` - O campo `{0}` \u00e9 obrigat\u00f3rio e n\u00e3o pode ser exclu\u00eddo dos dados do benefici\u00e1rio.\n  - `422.036` - O campo carteirinhaBeneficiario e carteirinhaBeneficiarioTitular n\u00e3o devem ser iguais para benefici\u00e1rios dependentes.\n  - `422.037` - O campo `{0}` \u00e9 obrigat\u00f3rio quando Autogest\u00e3o, APS, Sa\u00fade Ocup., Acid. Trab. forem falsos.\n  - `422.038` - Campo codigoVersaoPTU inv\u00e1lido. A vers\u00e3o 11 j\u00e1 est\u00e1 dispon\u00edvel e deve ser utilizada.\n  - `422.039` - Somente um dos campos deve estar preenchido: `{0}`.\n  - `422.040` - Inscri\u00e7\u00e3o inv\u00e1lida entre empresa matriz e filial.\n  - `422.041` - Houve um problema na integra\u00e7\u00e3o com o VCOM.    \n  - `500.001` - Erro inesperado ao processar a requisi\u00e7\u00e3o.\n  - `500.002` - Falha ao integrar com Unimed de destino.\n",
    "version": "1.0.0",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "Unimed Brasil",
      "email": "api@unimedbrasil.coop.br",
      "url": "http://unimed.coop.br"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/FLAVIAMARCO/api-servico_de_movimentacao_beneficiarios/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://gateway-sandbox.unimed.coop.br/cadbenef-online/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://ua-gateway-hml.unimed.coop.br/cadbenef-online/v1",
      "description": "HML (mTLS)"
    },
    {
      "url": "https://gateway-hml2.unimed.coop.br/cadbenef-online/v1",
      "description": "HML2"
    },
    {
      "url": "https://ua-gateway.unimed.coop.br/cadbenef-online/v1",
      "description": "Produ\u00e7\u00e3o (mTLS)"
    }
  ],
  "paths": {
    "/beneficiarios": {
      "post": {
        "tags": [
          "Benefici\u00e1rio"
        ],
        "description": "Recurso respons\u00e1vel pelo cadastro do benefici\u00e1rio. O novo benefici\u00e1rio ser\u00e1 persistido na aplica\u00e7\u00e3o.",
        "operationId": "postBeneficiarios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBeneficiariosRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Benefici\u00e1rio cadastrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SucessoPost"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisi\u00e7\u00e3o foi malformada, omitindo atributos necess\u00e1rios, seja no payload ou atrav\u00e9s de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPost"
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabe\u00e7alho de autentica\u00e7\u00e3o ausente/inv\u00e1lido ou token inv\u00e1lido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um m\u00e9todo que n\u00e3o existe."
          },
          "422": {
            "description": "Erro - Erro de neg\u00f3cio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPost"
                }
              }
            }
          },
          "429": {
            "description": "Erro - A opera\u00e7\u00e3o foi recusada, por exceder o limite de chamadas feitas dentro de um determinado per\u00edodo ou o limite de requisi\u00e7\u00f5es concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ocorreu um erro no gateway da API ou no microsservi\u00e7o."
          },
          "504": {
            "description": "Erro - A requisi\u00e7\u00e3o n\u00e3o foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/beneficiarios/{carteirinha}": {
      "patch": {
        "tags": [
          "Benefici\u00e1rio"
        ],
        "description": "Recurso respons\u00e1vel por atualizar os dados de um benefici\u00e1rio. O benefici\u00e1rio que ir\u00e1 sofrer a altera\u00e7\u00e3o precisa ser identificado pelo numero da carteirinha.",
        "operationId": "patchBeneficiarios",
        "parameters": [
          {
            "name": "carteirinha",
            "in": "path",
            "description": "N\u00famero da carteirinha",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 17,
              "maximum": 17
            },
            "example": "01234567890123456"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBeneficiariosRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SucessoPatch"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisi\u00e7\u00e3o foi malformada, omitindo atributos necess\u00e1rios, seja no payload ou atrav\u00e9s de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPatch"
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabe\u00e7alho de autentica\u00e7\u00e3o ausente/inv\u00e1lido ou token inv\u00e1lido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um m\u00e9todo que n\u00e3o existe."
          },
          "422": {
            "description": "Erro - Erro de neg\u00f3cio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPatch"
                }
              }
            }
          },
          "429": {
            "description": "Erro - A opera\u00e7\u00e3o foi recusada, por exceder o limite de chamadas feitas dentro de um determinado per\u00edodo ou o limite de requisi\u00e7\u00f5es concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ocorreu um erro no gateway da API ou no microsservi\u00e7o."
          },
          "504": {
            "description": "Erro - A requisi\u00e7\u00e3o n\u00e3o foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Benefici\u00e1rio"
        ],
        "description": "Recurso respons\u00e1vel por desativar/desabilitar o cadastro do benefici\u00e1rio.",
        "operationId": "deleteBeneficiarios",
        "parameters": [
          {
            "name": "carteirinha",
            "in": "path",
            "description": "N\u00famero da carteirinha",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 17,
              "maximum": 17
            },
            "example": "01234567890123456"
          },
          {
            "name": "codigoControleTransacao",
            "in": "query",
            "description": "C\u00f3digo de transa\u00e7\u00e3o do PTU",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 99999999999999999999
            },
            "example": "865"
          },
          {
            "name": "codigoUnimedOrigem",
            "in": "query",
            "description": "C\u00f3digo da Unimed origem do envio de arquivo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 9999
            },
            "example": 865
          },
          {
            "name": "codigoControleUnimedBrasil",
            "in": "query",
            "description": "C\u00f3digo de controle Unimed do Brasil",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 99999999999999999,
              "minLength": 17,
              "maxLength": 17,
              "description": "C\u00f3digo de controle Unimed do Brasil."
            },
            "example": 99900102345678946
          },
          {
            "name": "motivoExclusaoBeneficiario",
            "in": "query",
            "description": "Motivo de exclus\u00e3o do benefici\u00e1rio",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "enum": [
                "01",
                "02",
                "03",
                "04",
                "05",
                "06",
                "07",
                "08"
              ],
              "example": "06"
            }
          },
          {
            "name": "dataExclusaoBeneficiario",
            "in": "query",
            "description": "Data de exclus\u00e3o do benefici\u00e1rio na Unimed",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-04-02"
            }
          },
          {
            "name": "dataFimVigencia",
            "in": "query",
            "description": "Data de fim de vig\u00eancia do plano Unimed com o benefici\u00e1rio",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-04-02"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removido com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SucessoDelete"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisi\u00e7\u00e3o foi malformada, omitindo atributos necess\u00e1rios, seja no payload ou atrav\u00e9s de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroDelete"
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabe\u00e7alho de autentica\u00e7\u00e3o ausente/inv\u00e1lido ou token inv\u00e1lido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um m\u00e9todo que n\u00e3o existe."
          },
          "422": {
            "description": "Erro - Erro de neg\u00f3cio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroDelete"
                }
              }
            }
          },
          "429": {
            "description": "Erro - A opera\u00e7\u00e3o foi recusada, por exceder o limite de chamadas feitas dentro de um determinado per\u00edodo ou o limite de requisi\u00e7\u00f5es concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ocorreu um erro no gateway da API ou no microsservi\u00e7o."
          },
          "504": {
            "description": "Erro - A requisi\u00e7\u00e3o n\u00e3o foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/v1/access-token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "SucessoPost": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "codigoControleUnimedBrasil",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do benefici\u00e1rio",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "C\u00f3digo de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.001"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Benefici\u00e1rio inclu\u00eddo"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "carteirinhaCompartRisco",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaCompartRisco": {
                "type": "string",
                "example": "01234567890123456"
              },
              "viaCartao": {
                "type": "integer",
                "example": 1
              },
              "dataValidadeCartao": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeEmpresa": {
                "type": "string",
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "dataInicioVigencia": {
                "type": "string",
                "format": "date",
                "example": "2023-04-02"
              },
              "tipoAbrangencia": {
                "type": "integer",
                "example": 2
              },
              "tipoContratacao": {
                "type": "integer",
                "example": 2
              },
              "tipoRegistroPlanoAns": {
                "type": "integer",
                "example": 1
              },
              "codigoRegistroPlanoAns": {
                "type": "string",
                "example": "12345678901234567890"
              },
              "segmentacaoPlano": {
                "type": "string",
                "example": "4"
              },
              "codigoRedeReferenciada": {
                "type": "string",
                "example": "NA09"
              },
              "codigoLocalAtendimento": {
                "type": "integer",
                "example": 123
              },
              "indicadorCoberturaParcialTemporaria": {
                "type": "boolean",
                "example": true
              },
              "dataFimCoberturaParcialTemporaria": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeProduto": {
                "type": "string",
                "example": "Lorem ipsum dicttr\u00e7\u00e3 tempor, primis qewffr wtehry qegehojefj\","
              },
              "tipoRede": {
                "type": "integer",
                "example": 1
              },
              "complemento1": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "complemento2": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "abrangencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigoMunicipio": {
                      "type": "integer",
                      "example": 3547809
                    },
                    "codigoUf": {
                      "type": "string",
                      "example": "35"
                    }
                  }
                }
              },
              "carencias": {
                "type": "array",
                "items": {
                  "required": [
                    "dataFimCarencia",
                    "tipoCobertura"
                  ],
                  "type": "object",
                  "properties": {
                    "tipoCobertura": {
                      "type": "string",
                      "example": "009"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.001"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Benefici\u00e1rio inclu\u00eddo"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SucessoPatch": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "codigoControleUnimedBrasil",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do benefici\u00e1rio",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "C\u00f3digo de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.002"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Benefici\u00e1rio atualizado"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "carteirinhaCompartRisco",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaCompartRisco": {
                "type": "string",
                "example": "01234567890123456"
              },
              "viaCartao": {
                "type": "integer",
                "example": 1
              },
              "dataValidadeCartao": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeEmpresa": {
                "type": "string",
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "dataInicioVigencia": {
                "type": "string",
                "format": "date",
                "example": "2023-04-02"
              },
              "tipoAbrangencia": {
                "type": "integer",
                "example": 2
              },
              "tipoContratacao": {
                "type": "integer",
                "example": 2
              },
              "tipoRegistroPlanoAns": {
                "type": "integer",
                "example": 1
              },
              "codigoRegistroPlanoAns": {
                "type": "string",
                "example": "12345678901234567890"
              },
              "segmentacaoPlano": {
                "type": "string",
                "example": "4"
              },
              "codigoRedeReferenciada": {
                "type": "string",
                "example": "NA09"
              },
              "codigoLocalAtendimento": {
                "type": "integer",
                "example": 123
              },
              "indicadorCoberturaParcialTemporaria": {
                "type": "boolean",
                "example": true
              },
              "dataFimCoberturaParcialTemporaria": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeProduto": {
                "type": "string",
                "example": "Lorem ipsum dicttr\u00e7\u00e3 tempor, primis qewffr wtehry qegehojefj\","
              },
              "tipoRede": {
                "type": "integer",
                "example": 1
              },
              "complemento1": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "complemento2": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "abrangencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigoMunicipio": {
                      "type": "integer",
                      "example": 3547809
                    },
                    "codigoUf": {
                      "type": "string",
                      "example": "35"
                    }
                  }
                }
              },
              "carencias": {
                "type": "array",
                "items": {
                  "required": [
                    "dataFimCarencia",
                    "tipoCobertura"
                  ],
                  "type": "object",
                  "properties": {
                    "tipoCobertura": {
                      "type": "string",
                      "example": "009"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.002"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Benefici\u00e1rio atualizado"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SucessoDelete": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "codigoControleUnimedBrasil",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do benefici\u00e1rio",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "C\u00f3digo de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.003"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Benefici\u00e1rio removido"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErroPost": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErroPatch": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErroDelete": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PostBeneficiariosRequest": {
        "type": "object",
        "required": [
          "cabecalho",
          "dadosBeneficiario",
          "dadosPessoa"
        ],
        "properties": {
          "cabecalho": {
            "type": "object",
            "required": [
              "codigoControleTransacao",
              "codigoVersaoPTU",
              "unimed",
              "dataGeracao"
            ],
            "properties": {
              "codigoControleTransacao": {
                "type": "integer",
                "description": "C\u00f3digo de transa\u00e7\u00e3o do PTU",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "01234567890123456789"
              },
              "codigoVersaoPTU": {
                "type": "string",
                "description": "C\u00f3digo da Vers\u00e3o do PTU trafegando",
                "minimum": 0,
                "maximum": 999,
                "example": "011"
              },
              "unimed": {
                "type": "object",
                "required": [
                  "codigoUnimedOrigem",
                  "codigoUnimedDestino"
                ],
                "properties": {
                  "codigoUnimedOrigem": {
                    "type": "integer",
                    "description": "C\u00f3digo da Unimed origem do envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 865
                  },
                  "codigoUnimedDestino": {
                    "type": "integer",
                    "description": "C\u00f3digo da Unimed destino para envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 999
                  }
                }
              },
              "dataGeracao": {
                "type": "string",
                "description": "Data de gera\u00e7\u00e3o do arquivo de envio",
                "format": "date-time",
                "example": "2023-04-02T09:06:05-03:00"
              },
              "protocoloProspeccao": {
                "type": "integer",
                "description": "Protocolo VCOM - tipo prospec\u00e7\u00e3o",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "12345678901234567890"
              },
              "protocoloContrato": {
                "type": "integer",
                "description": "Protocolo VCOM - tipo contrato",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "12345678901234567890"
              }
            }
          },
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "indicadorSib",
              "indicadorRemido",
              "indicadorAutoGestao",
              "indicadorBeneficiarioCooperado",
              "dataInclusaoUnimed",
              "indicadorExcRN561",
              "indicadorNato"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do benefici\u00e1rio",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoFamiliaBenef": {
                "type": "integer",
                "description": "C\u00f3digo da Fam\u00edlia do Benefici\u00e1rio.",
                "format": "int32",
                "minimum": 1,
                "maximum": 999999,
                "example": 5349
              },
              "codigoDependenciaBeneficiario": {
                "type": "string",
                "description": "C\u00f3digo da Depend\u00eancia do Benefici\u00e1rio",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "00",
                  "01",
                  "02",
                  "10",
                  "50",
                  "52",
                  "60",
                  "70",
                  "75",
                  "80",
                  "90"
                ],
                "example": "00"
              },
              "carteirinhaBeneficiarioTitular": {
                "type": "string",
                "description": "Carteirinha do benefici\u00e1rio titular",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "numeroPlanoPortabilidade": {
                "type": "string",
                "description": "N\u00famero do C\u00f3digo do Plano de Origem (portabilidade)",
                "minimum": 1,
                "maximum": 20,
                "example": "01234567890123456789"
              },
              "indicadorSib": {
                "type": "boolean",
                "description": "C\u00f3digo Sib (C\u00f3digo do beneficiario no Sistema de Informa\u00e7\u00f5es de Benefici\u00e1rios da ANS)",
                "example": true
              },
              "indicadorRemido": {
                "type": "boolean",
                "description": "Indica se o benefici\u00e1rio \u00e9 remido: usu\u00e1rio dependente de plano de sa\u00fade com continuidade do atendimento assistencial ap\u00f3s a morte do titular com isen\u00e7\u00e3o de mensalidade",
                "example": false
              },
              "indicadorAutoGestao": {
                "type": "boolean",
                "description": "Indica se o benefici\u00e1rio \u00e9 de auto gest\u00e3o.",
                "example": false
              },
              "codigoAutoGestaoAns": {
                "type": "integer",
                "description": "C\u00f3digo da Autogest\u00e3o junto a ANS",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999999,
                "example": "0123456789"
              },
              "indicadorBeneficiarioCooperado": {
                "type": "boolean",
                "description": "Indicador se o benefici\u00e1rio \u00e9 um cooperado",
                "example": false
              },
              "dadosCooperado": {
                "type": "object",
                "required": [
                  "codigoCrm",
                  "codigoUfConselho"
                ],
                "properties": {
                  "codigoCrm": {
                    "type": "string",
                    "description": "N\u00famero do CRM do m\u00e9dico cooperado",
                    "minLength": 0,
                    "maxLength": 15,
                    "example": "012345678901234"
                  },
                  "codigoUfConselho": {
                    "type": "string",
                    "description": "C\u00f3digo da Unidade Federativa do m\u00e9dico coopera codifica\u00e7\u00e3o do IBGE",
                    "minLength": 2,
                    "maxLength": 2,
                    "example": "35"
                  }
                }
              },
              "dataInclusaoUnimed": {
                "type": "string",
                "description": "Data de inclus\u00e3o do benefici\u00e1rio na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "dataExclusaoBeneficiario": {
                "type": "string",
                "description": "Data de exclus\u00e3o do benefici\u00e1rio na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "motivoExclusaoBeneficiario": {
                "type": "string",
                "description": "Motivo de exclus\u00e3o",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "06",
                  "07",
                  "08"
                ],
                "example": "06"
              },
              "codigoPlanoInter": {
                "type": "string",
                "description": "C\u00f3digo do Plano de Interc\u00e2mbio do Benefici\u00e1rio",
                "minLength": 1,
                "maxLength": 3,
                "example": "123"
              },
              "numeroMatricula": {
                "type": "string",
                "description": "N\u00famero da matr\u00edcula/funcional na empresa.",
                "minLength": 1,
                "maxLength": 20,
                "example": "01234567890123456789"
              },
              "codigoLotacao": {
                "type": "string",
                "description": "C\u00f3digo da lota\u00e7\u00e3o do benefici\u00e1rio",
                "minLength": 1,
                "maxLength": 8,
                "example": "01234567"
              },
              "descricaoLotacao": {
                "type": "string",
                "description": "Descri\u00e7\u00e3o da lota\u00e7\u00e3o do benefici\u00e1rio",
                "minLength": 3,
                "maxLength": 30,
                "example": "Lorem ipsum aliquet eget litor"
              },
              "dataInclusaoPlanoDestino": {
                "type": "string",
                "description": "Data de Inclus\u00e3o no Plano Destino (Interc\u00e2mbio).",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorExcRN561": {
                "type": "boolean",
                "description": "Indicador de exclus\u00e3o proveniente da RN561",
                "example": true
              },
              "indicadorNato": {
                "type": "boolean",
                "description": "Identificador de Rec\u00e9m-Nato",
                "example": true
              },
              "valorMensalidade": {
                "type": "integer",
                "format": "decimal",
                "description": "Valor mensalidade",
                "example": 1650.25
              },
              "rendaMensal": {
                "type": "integer",
                "format": "decimal",
                "description": "Renda mensal",
                "example": 10050.1
              },
              "carteirinhaAnterior": {
                "type": "string",
                "description": "Carteirinha anterior do benefici\u00e1rio",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "idFilho": {
                "type": "string",
                "description": "Codigo do tipo de filho",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "99"
                ],
                "example": "01"
              },
              "produtoAgregado": {
                "type": "array",
                "items": {
                  "required": [
                    "tipoProduto"
                  ],
                  "type": "object",
                  "properties": {
                    "tipoProduto": {
                      "type": "string",
                      "description": "Tipo do Produto",
                      "minLength": 1,
                      "maxLength": 2,
                      "example": "1a"
                    },
                    "descricaoProduto": {
                      "type": "string",
                      "description": "Mensagem livre da Origem",
                      "minLength": 0,
                      "maxLength": 20,
                      "example": "Lorem ipsum aliquet "
                    },
                    "codigoUnimedDestino": {
                      "type": "integer",
                      "description": "C\u00f3digo da Unimed destino para envio de arquivo",
                      "format": "int32",
                      "minimum": 1,
                      "maximum": 9999,
                      "example": 865
                    },
                    "codigoPlanoDestino": {
                      "type": "integer",
                      "description": "C\u00f3digo do plano da Unimed Destino",
                      "format": "int32",
                      "minimum": 1,
                      "maximum": 999999,
                      "example": 975543
                    },
                    "dataRepasseUnimedDestino": {
                      "type": "string",
                      "description": "Data de repasse a Unimed Destino",
                      "format": "date",
                      "example": "2024-09-02"
                    },
                    "dataInicioVigenciaProduto": {
                      "type": "string",
                      "description": "Data inicio de vig\u00eancia de produto",
                      "format": "date",
                      "example": "2024-09-02"
                    },
                    "dataFimVigenciaProduto": {
                      "type": "string",
                      "description": "Data fim de vig\u00eancia de produto",
                      "format": "date",
                      "example": "2024-12-02"
                    }
                  }
                }
              },
              "preexistencia": {
                "type": "array",
                "items": {
                  "required": [
                    "codigoCID",
                    "dataFimCarencia"
                  ],
                  "type": "object",
                  "properties": {
                    "codigoCID": {
                      "type": "string",
                      "description": "C\u00f3digo do CID da Preexist\u00eancia",
                      "minLength": 3,
                      "maxLength": 4,
                      "example": "Z357"
                    },
                    "codigoTUSS": {
                      "type": "string",
                      "description": "Codigo TUSS",
                      "minLength": 1,
                      "maxLength": 20,
                      "example": "01234567890123456789"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "description": "Data final da car\u00eancia para a cobertura",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              }
            }
          },
          "dadosEmpresaContratante": {
            "type": "object",
            "required": [
              "tipoEmpresa"
            ],
            "properties": {
              "tipoEmpresa": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "C\u00f3digo do CNPJ",
                    "maxLength": 14,
                    "example": "12345678901234"
                  },
                  "caepf": {
                    "type": "string",
                    "description": "C\u00f3digo do CAEPF (Cadastro de Atividade Econ\u00f4mica Pessoa F\u00edsica)",
                    "maxLength": 14,
                    "example": "12345678901234"
                  }
                }
              },
              "empresaMatriz": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "C\u00f3digo do CNPJ - Empresa matriz",
                    "maxLength": 14,
                    "example": "12345678901234"
                  },
                  "caepf": {
                    "type": "string",
                    "description": "C\u00f3digo do CAEPF - Empresa matriz",
                    "maxLength": 14,
                    "example": "12345678901234"
                  }
                }
              },
              "nomeEmpresa": {
                "type": "string",
                "description": "Nome completo da Empresa (Raz\u00e3o Social)",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "nomeFantasiaEmpresa": {
                "type": "string",
                "description": "Nome fantasia da Empresa",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "nomeEmpresaAbreviado": {
                "type": "string",
                "description": "Nome da Empresa Abreviado (cart\u00e3o)",
                "minLength": 3,
                "maxLength": 30,
                "example": "Lorem ipsum aliquet eget litor"
              },
              "inscricaoEstadual": {
                "type": "integer",
                "description": "C\u00f3digo da inscri\u00e7\u00e3o estadual",
                "format": "int64",
                "minLength": 6,
                "maxLength": 20,
                "example": "1234567890123456789"
              },
              "codigoFilial": {
                "type": "integer",
                "description": "C\u00f3digo da filial da empresa",
                "format": "int32",
                "minimum": 0,
                "maximum": 999,
                "example": 123
              },
              "dataInclusaoEmpresaUnimed": {
                "type": "string",
                "description": "Data de inclus\u00e3o da empresa",
                "format": "date",
                "example": "2024-09-02"
              },
              "dataExclusaoEmpresaUnimed": {
                "type": "string",
                "description": "Data de exclus\u00e3o da empresa",
                "format": "date",
                "example": "2024-12-02"
              },
              "endereco": {
                "type": "object",
                "properties": {
                  "logradouroPrincipal": {
                    "type": "string",
                    "description": "Logradouro da Empresa",
                    "minLength": 3,
                    "maxLength": 40,
                    "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
                  },
                  "complementoLogradouro": {
                    "type": "string",
                    "description": "Complemento do Logradouro da Empresa",
                    "minLength": 0,
                    "maxLength": 20,
                    "example": "Lorem ipsum aliquet"
                  },
                  "numeroLogradouro": {
                    "type": "string",
                    "description": "N\u00famero do Logradouro",
                    "minLength": 1,
                    "maxLength": 6,
                    "example": "S/N"
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Descri\u00e7\u00e3o do bairro",
                    "minLength": 0,
                    "maxLength": 30,
                    "example": "Lorem ipsum aliquet eget litor"
                  },
                  "codigoMunicipio": {
                    "type": "integer",
                    "description": "C\u00f3digo do Munic\u00edpio, conforme codifica\u00e7\u00e3o do IBGE",
                    "format": "int32",
                    "minimum": 1000,
                    "maximum": 9999999,
                    "example": 3548906
                  },
                  "cep": {
                    "type": "string",
                    "description": "CEP",
                    "minLength": 8,
                    "maxLength": 8,
                    "example": "09876543"
                  }
                }
              },
              "telefone": {
                "type": "object",
                "properties": {
                  "tipoTelefone": {
                    "type": "integer",
                    "description": "Tipo de telefone. Use 1-> residencial, 2-> Profissional, 3-> Celular",
                    "format": "int",
                    "minimum": 1,
                    "maximum": 9,
                    "enum": [
                      1,
                      2,
                      3
                    ],
                    "example": 1
                  },
                  "ddd": {
                    "type": "integer",
                    "description": "N\u00famero do DDD",
                    "format": "int16",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 11
                  },
                  "numero": {
                    "type": "integer",
                    "description": "N\u00famero do telefone",
                    "format": "int",
                    "minimum": 10000000,
                    "maximum": 999999999,
                    "example": 987654321
                  },
                  "ramal": {
                    "type": "integer",
                    "description": "Ramal do telefone",
                    "format": "int",
                    "minimum": 0,
                    "maximum": 9999,
                    "example": 9876
                  }
                }
              },
              "codigoEmpresaOrigem": {
                "type": "integer",
                "description": "C\u00f3digo da Empresa na Origem",
                "format": "int32",
                "minimum": 1,
                "maximum": 9999999999,
                "example": 1234567890
              },
              "tipoContratoLocal": {
                "type": "integer",
                "description": "Indicador do tipo de contrato local",
                "format": "int16",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  1,
                  2
                ],
                "example": 1
              }
            }
          },
          "dadosPlano": {
            "required": [
              "indicadorCoberturaParcialTemporaria",
              "indicadorPlanoLowCost",
              "indicadorPlanoAcidenteTrabalho",
              "indicadorPlanoSaudeOcupacional",
              "indicadorPlanoAPS"
            ],
            "type": "object",
            "properties": {
              "codigoPlanoOrigem": {
                "type": "string",
                "description": "C\u00f3digo do plano da Unimed Origem do Benefici\u00e1rio.",
                "minLength": 1,
                "maxLength": 6,
                "example": "123456"
              },
              "dataInicioVigencia": {
                "type": "string",
                "description": "Data de in\u00edcio de vig\u00eancia do plano Unimed com o benefici\u00e1rio",
                "format": "date",
                "example": "2023-04-02"
              },
              "dataFimVigencia": {
                "type": "string",
                "description": "Data de fim de vig\u00eancia do plano Unimed com o benefici\u00e1rio",
                "format": "date",
                "example": "2024-04-02"
              },
              "tipoAbrangencia": {
                "type": "integer",
                "description": "Abrang\u00eancia do plano",
                "format": "int",
                "minimum": 1,
                "maximum": 9,
                "enum": [
                  1,
                  2,
                  3,
                  4,
                  5
                ],
                "example": 2
              },
              "tipoContratacao": {
                "type": "integer",
                "description": "Tipo de contrata\u00e7\u00e3o",
                "format": "int",
                "minimum": 1,
                "maximum": 9,
                "enum": [
                  1,
                  2,
                  3
                ],
                "example": 2
              },
              "tipoAcomodacao": {
                "type": "string",
                "description": "Tipo de acomoda\u00e7\u00e3o",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "A",
                  "B",
                  "C"
                ],
                "example": "C"
              },
              "codigoOperadoraAns": {
                "type": "integer",
                "description": "C\u00f3digo da Operadora de Origem junto a ANS",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999999,
                "example": 1234567890
              },
              "tipoRegistroPlanoAns": {
                "type": "integer",
                "description": "Indicador do Registro do Plano na ANS",
                "format": "int",
                "minLength": 1,
                "maxLength": 9,
                "enum": [
                  1,
                  2,
                  3
                ],
                "example": 1
              },
              "codigoRegistroPlanoAns": {
                "type": "string",
                "description": "N\u00famero do Registro do Plano na ANS ou C\u00f3digo de Identifica\u00e7\u00e3o no Sistema de Cadastro de Planos Comercializados Anteriormente \u00e0 data de vig\u00eancia da Lei N\u00ba 9.656, de 1998.",
                "minLength": 1,
                "maxLength": 20,
                "example": "12345678901234567890"
              },
              "segmentacaoPlano": {
                "type": "string",
                "description": "Segmenta\u00e7\u00e3o do Plano",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "06",
                  "07",
                  "08",
                  "09",
                  "10",
                  "11",
                  "12"
                ],
                "example": "04"
              },
              "codigoRedeReferenciada": {
                "type": "string",
                "description": "C\u00f3digo da rede referenciada",
                "minLength": 3,
                "maxLength": 4,
                "example": "NA09"
              },
              "nomeRede": {
                "type": "string",
                "description": "Descri\u00e7\u00e3o da Rede",
                "minLength": 2,
                "maxLength": 40,
                "example": "Lorem ipsum-\u00e7ictum tempor, primis qewffr"
              },
              "viaCartao": {
                "type": "integer",
                "description": "Via do Cart\u00e3o",
                "format": "int",
                "minimum": 1,
                "maximum": 99,
                "example": 6
              },
              "dataValidadeCartao": {
                "type": "string",
                "description": "Data de validade da Carteira",
                "format": "date",
                "example": "2024-04-02"
              },
              "codigoLocalAtendimento": {
                "type": "integer",
                "description": "C\u00f3digo do Local de Atendimento",
                "format": "int",
                "minimum": 1,
                "maximum": 9999,
                "example": 243
              },
              "indicadorCoberturaParcialTemporaria": {
                "type": "boolean",
                "description": "Indica\u00e7\u00e3o de exist\u00eancia de Cobertura Parcial Tempor\u00e1ria",
                "example": true
              },
              "dataFimCoberturaParcialTemporaria": {
                "type": "string",
                "description": "Data Final da Cobertura Parcial Tempor\u00e1ria",
                "format": "date",
                "example": "2024-04-02"
              },
              "tipoContrato": {
                "type": "string",
                "description": "Tipo de Contrato",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "P",
                  "C"
                ],
                "example": "C"
              },
              "cnpjAdmBeneficios": {
                "type": "string",
                "description": "C\u00f3digo do CNPJ da Administradora de Benef\u00edcios",
                "example": "01234567890123"
              },
              "registroANSAdmBeneficios": {
                "type": "integer",
                "description": "Registro ANS da Administradora de Benef\u00edcios",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999,
                "example": 1234567
              },
              "nomeAdmBeneficios": {
                "type": "string",
                "description": "Raz\u00e3o social da Administradora de Benef\u00edcio",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum dictum tempor, primis qewffr"
              },
              "nomeFantasiaAdmBeneficios": {
                "type": "string",
                "description": "Nome fantasia da Administradora de Benef\u00edcio",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum dictum tempor, primis qewffr"
              },
              "nomeProduto": {
                "type": "string",
                "description": "Nome do Produto (Plano)",
                "minLength": 3,
                "maxLength": 60,
                "example": "Lorem ipsum dicttr\u00e7\u00e3 tempor, primis qewffr wtehry qegehojefj"
              },
              "numeroContrato": {
                "type": "string",
                "description": "N\u00famero do contrato/ap\u00f3lice",
                "minLength": 1,
                "maxLength": 15,
                "example": "012345678901234"
              },
              "dataContratacaoPlano": {
                "type": "string",
                "description": "Data da contrata\u00e7\u00e3o do plano de sa\u00fade",
                "format": "date",
                "example": "2024-04-02"
              },
              "tipoRede": {
                "type": "integer",
                "description": "Tipo de Rede conforme Manual do Interc\u00e2mbio Nacional",
                "format": "int",
                "minimum": 1,
                "maximum": 9,
                "enum": [
                  1,
                  2,
                  3
                ],
                "example": 2
              },
              "indicadorPlanoLowCost": {
                "type": "boolean",
                "description": "Indica se plano \u00e9 Lowcoast",
                "example": true
              },
              "indicadorPlanoAcidenteTrabalho": {
                "type": "boolean",
                "description": "Indica se plano \u00e9 Acidente Trabalho",
                "example": true
              },
              "indicadorPlanoSaudeOcupacional": {
                "type": "boolean",
                "description": "Indica se plano \u00e9 Saude Ocupacional",
                "example": true
              },
              "indicadorPlanoAPS": {
                "type": "boolean",
                "description": "Indica se plano \u00e9 APS",
                "example": true
              },
              "complemento1": {
                "type": "string",
                "description": "Campo 1 - para informa\u00e7\u00f5es adicionais que devem ser inclu\u00eddas no verso do cart\u00e3o.",
                "minLength": 0,
                "maxLength": 45,
                "example": "'Lorem ipsum porttitor integer fermentum morbi'"
              },
              "complemento2": {
                "type": "string",
                "description": "Campo 2 - para informa\u00e7\u00f5es adicionais que devem ser inclu\u00eddas no verso do cart\u00e3o",
                "minLength": 0,
                "maxLength": 45,
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "abrangencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigoMunicipio": {
                      "type": "integer",
                      "description": "C\u00f3digo do Munic\u00edpio que faz parte do Grupo de Mun\u00edcipios, conforme codifica\u00e7\u00e3o do IBGE",
                      "format": "int64",
                      "minimum": 1000,
                      "maximum": 9999999,
                      "example": 3547809
                    },
                    "codigoUf": {
                      "type": "string",
                      "description": "C\u00f3digo da Unidade Federativa, conforme codifica\u00e7\u00e3o do IBGE",
                      "minLength": 2,
                      "maxLength": 2,
                      "example": "35"
                    }
                  }
                }
              },
              "carencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "tipoCarencia": {
                      "type": "string",
                      "description": "Tipo da Carencia - Dados referentes a tabela K1 - Carencias dos Planos de Interc\u00e2mbio",
                      "minLength": 3,
                      "maxLength": 3
                    },
                    "dataBaseCarencia": {
                      "type": "string",
                      "description": "Data base da car\u00eancia do plano",
                      "format": "date",
                      "example": "2024-04-02"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "description": "Data final da car\u00eancia do plano",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              },
              "coberturas": {
                "type": "object",
                "properties": {
                  "tipoCobertura": {
                    "type": "string",
                    "description": "Tipo da Cobertura",
                    "minLength": 3,
                    "maxLength": 3,
                    "enum": [
                      "001",
                      "002",
                      "003",
                      "004",
                      "005",
                      "006",
                      "007",
                      "008",
                      "009",
                      "010",
                      "011",
                      "012",
                      "099"
                    ],
                    "example": "009"
                  },
                  "dataFimCobertura": {
                    "type": "string",
                    "description": "Data final da car\u00eancia para a cobertura",
                    "format": "date",
                    "example": "2024-04-02"
                  }
                }
              }
            }
          },
          "dadosPessoa": {
            "required": [
              "nomeCompletoBeneficiario",
              "dataNascimento",
              "genero",
              "indicadorBeneficiarioEstrangeiro"
            ],
            "type": "object",
            "properties": {
              "nomeCompletoBeneficiario": {
                "type": "string",
                "description": "Nome Completo do Benefici\u00e1rio",
                "minLength": 3,
                "maxLength": 70,
                "example": "Lorem ipsum porttitor integer fermentum morbi dengustlopb generis dsja"
              },
              "nomeAbreviadoBeneficiario": {
                "type": "string",
                "description": "Nome Abreviado do Benefici\u00e1rio (Cart\u00e3o)",
                "minLength": 3,
                "maxLength": 25,
                "example": "Lorem ipsum porttitor int"
              },
              "nomeSocial": {
                "type": "string",
                "description": "Nome Completo Social do Benefici\u00e1rio",
                "minLength": 3,
                "maxLength": 70,
                "example": "Lorem ipsum porttitor integer fermentum morbi dengustlopb generis dsja"
              },
              "nomeSocialCartao": {
                "type": "string",
                "description": "Nome Social do Benefici\u00e1rio (Cart\u00e3o)",
                "minLength": 3,
                "maxLength": 25,
                "example": "Lorem ipsum porttitor int"
              },
              "genero": {
                "type": "string",
                "description": "G\u00eanero Benefici\u00e1rio",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "M",
                  "F",
                  "N"
                ],
                "example": "F"
              },
              "generoSocial": {
                "type": "string",
                "description": "G\u00eanero Social do Benefici\u00e1rio",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "M",
                  "F"
                ],
                "example": "M"
              },
              "dataNascimento": {
                "type": "string",
                "description": "Data de Nascimento do Benefici\u00e1rio",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorBeneficiarioEstrangeiro": {
                "type": "boolean",
                "description": "Indica se o benefici\u00e1rio \u00e9 estrangeiro",
                "example": true
              },
              "cpf": {
                "type": "string",
                "description": "N\u00famero do CPF",
                "minLength": 11,
                "maxLength": 11,
                "example": "09876543210"
              },
              "rg": {
                "type": "object",
                "required": [
                  "codigoIdentidade",
                  "orgaoEmissor",
                  "uf",
                  "codigoPais"
                ],
                "properties": {
                  "codigoIdentidade": {
                    "type": "string",
                    "description": "Carteira de Identidade",
                    "minLength": 5,
                    "maxLength": 15,
                    "example": "098765432101234"
                  },
                  "orgaoEmissor": {
                    "type": "string",
                    "description": "\u00d3rg\u00e3o Emissor da carteira",
                    "minLength": 0,
                    "maxLength": 30,
                    "example": "Lorem ipsum porttitor integer "
                  },
                  "uf": {
                    "type": "string",
                    "description": "C\u00f3digo da Unidade Federativa da carteira de identidade,   conforme codifica\u00e7\u00e3o do IBGE",
                    "minLength": 2,
                    "maxLength": 2,
                    "example": "35"
                  },
                  "codigoPais": {
                    "type": "string",
                    "description": "C\u00f3digo do Pais emissor da carteira de identidade",
                    "minLength": 3,
                    "maxLength": 3,
                    "example": "032"
                  }
                }
              },
              "cns": {
                "type": "string",
                "description": "N\u00famero do Cart\u00e3o Nacional de Sa\u00fade",
                "minLength": 1,
                "maxLength": 15,
                "example": "098765432101234"
              },
              "codigoEstadoCivil": {
                "type": "string",
                "description": "C\u00f3digo do Estado Civil",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "A",
                  "D",
                  "M",
                  "S",
                  "W",
                  "U"
                ],
                "example": "S"
              },
              "nomeMae": {
                "type": "string",
                "description": "Nome da M\u00e3e do Benefici\u00e1rio",
                "minLength": 3,
                "maxLength": 70,
                "example": "Lorem ipsum porttitor integer fermentum morbi dengustlopb generis dsja"
              },
              "pisPasep": {
                "type": "string",
                "description": "N\u00famero do PIS/PASEP",
                "minLength": 0,
                "maxLength": 11,
                "example": "00123456789"
              },
              "codigoMunicipioNaturalidade": {
                "type": "integer",
                "description": "C\u00f3digo do Munic\u00edpio da Naturalidade do Benefici\u00e1rio, conforme codifica\u00e7\u00e3o do IBGE",
                "format": "int32",
                "minimum": 1000,
                "maximum": 9999999,
                "example": 3548906
              },
              "codigoMunicipioResidencia": {
                "type": "integer",
                "description": "C\u00f3digo do Munic\u00edpio de Resid\u00eancia, conforme codifica\u00e7\u00e3o do IBGE",
                "format": "int32",
                "minimum": 1000,
                "maximum": 9999999,
                "example": 3548906
              },
              "complementosCadastrais": {
                "type": "object",
                "properties": {
                  "enderecos": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tipoResidencia": {
                          "type": "integer",
                          "description": "Indica se a resid\u00eancia \u00e9 no Brasil ou Exterior sendo 1 - Brasil ou 2 - Exterior",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2
                          ],
                          "example": 1
                        },
                        "tipoEndereco": {
                          "type": "integer",
                          "description": "Indicador do tipo de residencia sendo 1 - Residencial ou 2 - Profissional",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2
                          ],
                          "example": 1
                        },
                        "tipoLogradouro": {
                          "type": "string",
                          "description": "Tipo de logradouro",
                          "minLength": 1,
                          "maxLength": 2,
                          "example": "34"
                        },
                        "logradouro": {
                          "type": "string",
                          "description": "Logradouro",
                          "minLength": 3,
                          "maxLength": 80,
                          "example": "Lorem ipsum porttitor integer fermentum "
                        },
                        "numeroLogradouro": {
                          "type": "string",
                          "description": "N\u00famero do Logradouro",
                          "minLength": 1,
                          "maxLength": 6,
                          "example": "S/N"
                        },
                        "bairro": {
                          "type": "string",
                          "description": "Descri\u00e7\u00e3o do bairro",
                          "minLength": 0,
                          "maxLength": 45,
                          "example": "Lorem ipsum porttitor integer "
                        },
                        "complemento": {
                          "type": "string",
                          "description": "Complemento do Logradouro",
                          "minLength": 0,
                          "maxLength": 80,
                          "example": "Lorem ipsum porttito"
                        },
                        "codigoMunicipio": {
                          "type": "integer",
                          "description": "C\u00f3digo do Munic\u00edpio, conforme codifica\u00e7\u00e3o do IBGE",
                          "format": "int32",
                          "minimum": 1000,
                          "maximum": 9999999,
                          "example": 3548906
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP",
                          "minLength": 8,
                          "maxLength": 8,
                          "example": "09876543"
                        }
                      }
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "required": [
                        "ddd",
                        "numero",
                        "tipoTelefone"
                      ],
                      "type": "object",
                      "properties": {
                        "tipoTelefone": {
                          "type": "integer",
                          "description": "Tipo de telefone. Use 1-> residencial, 2-> Profissional, 3-> Celular",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2,
                            3
                          ],
                          "example": 1
                        },
                        "ddd": {
                          "type": "integer",
                          "description": "N\u00famero do DDD",
                          "format": "int16",
                          "minimum": 11,
                          "maximum": 9999,
                          "example": 11
                        },
                        "numero": {
                          "type": "integer",
                          "description": "N\u00famero do telefone",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 999999999,
                          "example": "098765432"
                        },
                        "ramal": {
                          "type": "integer",
                          "description": "N\u00famero do telefone",
                          "format": "int",
                          "minimum": 0,
                          "maximum": 9999,
                          "example": 9871
                        }
                      }
                    }
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "required": [
                        "email",
                        "tipoEmail"
                      ],
                      "type": "object",
                      "properties": {
                        "tipoEmail": {
                          "type": "integer",
                          "description": "Tipo de E-mail sendo 1 \u2013 Principal e 2 - Alternativo",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2
                          ],
                          "example": 1
                        },
                        "email": {
                          "type": "string",
                          "description": "Endere\u00e7o de e-mail",
                          "minLength": 0,
                          "maxLength": 70,
                          "example": "teste@teste.com.br"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "codigoUnimedDestino",
              "tipoCompartilhamentoRisco",
              "dataInicioCompartilhamentoRisco",
              "indicadorGeracaoLogomarca",
              "indicadorGeracaoCodigo"
            ],
            "properties": {
              "codigoUnimedDestino": {
                "type": "integer",
                "description": "C\u00f3digo da Unimed destino para envio para chamar no compartilhamento de risco",
                "format": "int32",
                "minimum": 1,
                "maximum": 9999,
                "example": 999
              },
              "tipoCompartilhamentoRisco": {
                "type": "string",
                "description": "Tipo de compartilhamento de risco",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "P",
                  "C"
                ],
                "example": "C"
              },
              "dataInicioCompartilhamentoRisco": {
                "type": "string",
                "description": "Data de in\u00edcio do compartilhamento de risco",
                "format": "date",
                "example": "2024-04-02"
              },
              "dataFimCompartilhamentoRisco": {
                "type": "string",
                "description": "Data do fim do compartilhamento de risco",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorGeracaoLogomarca": {
                "type": "boolean",
                "description": "Indica respons\u00e1vel pela gera\u00e7\u00e3o logomarca no cart\u00e3o beneficiario",
                "example": false
              },
              "indicadorGeracaoCodigo": {
                "type": "boolean",
                "description": "Indica respons\u00e1vel pela gera\u00e7\u00e3o c\u00f3digo no cart\u00e3o beneficiario",
                "example": false
              }
            }
          }
        }
      },
      "PatchBeneficiariosRequest": {
        "type": "object",
        "required": [
          "cabecalho",
          "dadosBeneficiario"
        ],
        "properties": {
          "cabecalho": {
            "type": "object",
            "required": [
              "codigoControleTransacao",
              "codigoVersaoPTU",
              "unimed",
              "dataGeracao"
            ],
            "properties": {
              "codigoControleTransacao": {
                "type": "integer",
                "description": "C\u00f3digo de transa\u00e7\u00e3o do PTU",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "01234567890123456789"
              },
              "codigoVersaoPTU": {
                "type": "string",
                "description": "C\u00f3digo da Vers\u00e3o do PTU trafegando",
                "minimum": 0,
                "maximum": 999,
                "example": "011"
              },
              "unimed": {
                "type": "object",
                "required": [
                  "codigoUnimedOrigem",
                  "codigoUnimedDestino"
                ],
                "properties": {
                  "codigoUnimedOrigem": {
                    "type": "integer",
                    "description": "C\u00f3digo da Unimed origem do envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 865
                  },
                  "codigoUnimedDestino": {
                    "type": "integer",
                    "description": "C\u00f3digo da Unimed destino para envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 999
                  }
                }
              },
              "dataGeracao": {
                "type": "string",
                "description": "Data de gera\u00e7\u00e3o do arquivo de envio",
                "format": "date-time",
                "example": "2023-04-02T09:06:05-03:00"
              }
            }
          },
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "codigoControleUnimedBrasil"
            ],
            "properties": {
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "C\u00f3digo de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "codigoFamiliaBenef": {
                "type": "integer",
                "description": "C\u00f3digo da Fam\u00edlia do Benefici\u00e1rio.",
                "format": "int32",
                "minimum": 1,
                "maximum": 999999,
                "example": 5349
              },
              "codigoDependenciaBeneficiario": {
                "type": "string",
                "description": "C\u00f3digo da Depend\u00eancia do Benefici\u00e1rio",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "00",
                  "01",
                  "02",
                  "10",
                  "50",
                  "52",
                  "60",
                  "70",
                  "75",
                  "80",
                  "90"
                ],
                "example": "00"
              },
              "carteirinhaBeneficiarioTitular": {
                "type": "string",
                "description": "Carteirinha do benefici\u00e1rio titular",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "numeroPlanoPortabilidade": {
                "type": "string",
                "description": "N\u00famero do C\u00f3digo do Plano de Origem (portabilidade)",
                "minimum": 1,
                "maximum": 20,
                "example": "01234567890123456789"
              },
              "indicadorSib": {
                "type": "boolean",
                "description": "C\u00f3digo Sib (C\u00f3digo do beneficiario no Sistema de Informa\u00e7\u00f5es de Benefici\u00e1rios da ANS)",
                "example": true
              },
              "indicadorRemido": {
                "type": "boolean",
                "description": "Indica se o benefici\u00e1rio \u00e9 remido: usu\u00e1rio dependente de plano de sa\u00fade com continuidade do atendimento assistencial ap\u00f3s a morte do titular com isen\u00e7\u00e3o de mensalidade",
                "example": false
              },
              "indicadorAutoGestao": {
                "type": "boolean",
                "description": "Indica se o benefici\u00e1rio \u00e9 de auto gest\u00e3o.",
                "example": false
              },
              "codigoAutoGestaoAns": {
                "type": "integer",
                "description": "C\u00f3digo da Autogest\u00e3o junto a ANS",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999999,
                "example": "0123456789"
              },
              "indicadorBeneficiarioCooperado": {
                "type": "boolean",
                "description": "Indicador se o benefici\u00e1rio \u00e9 um cooperado",
                "example": false
              },
              "dadosCooperado": {
                "type": "object",
                "properties": {
                  "codigoCrm": {
                    "type": "string",
                    "description": "N\u00famero do CRM do m\u00e9dico cooperado",
                    "minLength": 0,
                    "maxLength": 15,
                    "example": "012345678901234"
                  },
                  "codigoUfConselho": {
                    "type": "string",
                    "description": "C\u00f3digo da Unidade Federativa do m\u00e9dico coopera codifica\u00e7\u00e3o do IBGE",
                    "minLength": 2,
                    "maxLength": 2,
                    "example": "35"
                  }
                }
              },
              "dataInclusaoUnimed": {
                "type": "string",
                "description": "Data de inclus\u00e3o do benefici\u00e1rio na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "dataExclusaoBeneficiario": {
                "type": "string",
                "description": "Data de exclus\u00e3o do benefici\u00e1rio na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "motivoExclusaoBeneficiario": {
                "type": "string",
                "description": "Motivo de exclus\u00e3o",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "06",
                  "07",
                  "08"
                ],
                "example": "06"
              },
              "codigoPlanoInter": {
                "type": "string",
                "description": "C\u00f3digo do Plano de Interc\u00e2mbio do Benefici\u00e1rio",
                "minLength": 1,
                "maxLength": 3,
                "example": "123"
              },
              "numeroMatricula": {
                "type": "string",
                "description": "N\u00famero da matr\u00edcula/funcional na empresa.",
                "minLength": 1,
                "maxLength": 20,
                "example": "01234567890123456789"
              },
              "codigoLotacao": {
                "type": "string",
                "description": "C\u00f3digo da lota\u00e7\u00e3o do benefici\u00e1rio",
                "minLength": 1,
                "maxLength": 8,
                "example": "01234567"
              },
              "descricaoLotacao": {
                "type": "string",
                "description": "Descri\u00e7\u00e3o da lota\u00e7\u00e3o do benefici\u00e1rio",
                "minLength": 3,
                "maxLength": 30,
                "example": "Lorem ipsum aliquet eget litor"
              },
              "dataInclusaoPlanoDestino": {
                "type": "string",
                "description": "Data de Inclus\u00e3o no Plano Destino (Interc\u00e2mbio).",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorExcRN561": {
                "type": "boolean",
                "description": "Indicador de exclus\u00e3o proveniente da RN561",
                "example": true
              },
              "indicadorNato": {
                "type": "boolean",
                "description": "Identificador de Rec\u00e9m-Nato",
                "example": true
              },
              "valorMensalidade": {
                "type": "boolean",
                "description": "Valor mensalidade",
                "example": 1650.25
              },
              "rendaMensal": {
                "type": "boolean",
                "description": "Renda mensal",
                "example": 10050.1
              },
              "carteirinhaAnterior": {
                "type": "string",
                "description": "Carteirinha anterior do benefici\u00e1rio",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "idFilho": {
                "type": "string",
                "description": "Codigo do tipo de filho",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "99"
                ],
                "example": "01"
              },
              "produtoAgregado": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "tipoProduto": {
                      "type": "string",
                      "description": "Tipo do Produto",
                      "minLength": 1,
                      "maxLength": 2,
                      "example": "1a"
                    },
                    "descricaoProduto": {
                      "type": "string",
[...]
