{
  "openapi": "3.0.3",
  "info": {
    "title": "Tovuti LMS API",
    "description": "Tovuti is a cloud-based Learning Management System (LMS) platform. This API provides programmatic access to manage users, courses, lessons, quizzes, events, teams, media, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "Tovuti API Support",
      "url": "https://www.tovuti.io"
    },
    "x-jentic-source-url": "https://api.tovuti.io/"
  },
  "servers": [
    {
      "url": "https://api.tovuti.io/api/v1",
      "description": "Tovuti API v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Authentication", "description": "Login, token management, and SSO endpoints" },
    { "name": "Users", "description": "User management operations" },
    { "name": "Courses", "description": "Course management" },
    { "name": "Lessons", "description": "Lesson management and progress tracking" },
    { "name": "Quizzes", "description": "Quiz and assessment management" },
    { "name": "Events", "description": "Event and meeting management" },
    { "name": "Teams", "description": "Team and user group management" },
    { "name": "Media", "description": "Media item and category management" },
    { "name": "Progress", "description": "User progress and reporting" },
    { "name": "Admin", "description": "Administrative and audit endpoints" }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "refresh_token": { "type": "string" },
                    "user": { "$ref": "#/components/schemas/User" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": []
      }
    },
    "/oktaLogin": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Okta SSO authentication",
        "operationId": "oktaLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": { "type": "string", "description": "Okta SSO token" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful SSO login" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": []
      }
    },
    "/azureLogin": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Azure AD authentication",
        "operationId": "azureLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": { "type": "string", "description": "Azure AD token" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful Azure AD login" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": []
      }
    },
    "/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh access token",
        "operationId": "refreshToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "refresh_token": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Create API token",
        "operationId": "createToken",
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Authentication"],
        "summary": "Delete API token",
        "operationId": "deleteToken",
        "responses": {
          "200": { "description": "Token deleted" }
        }
      }
    },
    "/tokens": {
      "get": {
        "tags": ["Authentication"],
        "summary": "List all API tokens",
        "operationId": "listTokens",
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "created_at": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tokenData": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get token information",
        "operationId": "getTokenData",
        "responses": {
          "200": { "description": "Token data returned" }
        }
      }
    },
    "/apiUsers": {
      "get": {
        "tags": ["Users"],
        "summary": "List all users",
        "operationId": "listUsers",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 25 } },
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string" } },
          { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"] } }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/User" } },
                    "total": { "type": "integer" },
                    "page": { "type": "integer" },
                    "per_page": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apiUser": {
      "get": {
        "tags": ["Users"],
        "summary": "Get current user profile",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } }
          }
        }
      },
      "post": {
        "tags": ["Users"],
        "summary": "Create a new user",
        "operationId": "createApiUser",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserCreate" } } }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/apiUser/{id}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get specific user",
        "operationId": "getApiUser",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "User details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["Users"],
        "summary": "Update user",
        "operationId": "updateApiUser",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserUpdate" } } } },
        "responses": { "200": { "description": "User updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } } } }
      },
      "delete": {
        "tags": ["Users"],
        "summary": "Delete user",
        "operationId": "deleteApiUser",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "User deleted" }, "404": { "$ref": "#/components/responses/NotFound" } }
      }
    },
    "/user": {
      "post": {
        "tags": ["Users"],
        "summary": "Create user (alternative endpoint)",
        "operationId": "createUser",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserCreate" } } } },
        "responses": { "201": { "description": "User created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } } } }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": ["Users"],
        "summary": "Retrieve user details",
        "operationId": "getUser",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "User details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } } } }
      },
      "patch": {
        "tags": ["Users"],
        "summary": "Modify user",
        "operationId": "updateUser",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserUpdate" } } } },
        "responses": { "200": { "description": "User modified" } }
      },
      "delete": {
        "tags": ["Users"],
        "summary": "Remove user",
        "operationId": "removeUser",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "User removed" } }
      }
    },
    "/courses": {
      "get": {
        "tags": ["Courses"],
        "summary": "List all courses",
        "operationId": "listCourses",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 25 } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of courses", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Course" } }, "total": { "type": "integer" } } } } } }
        }
      }
    },
    "/course": {
      "post": {
        "tags": ["Courses"],
        "summary": "Create a course",
        "operationId": "createCourse",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CourseCreate" } } } },
        "responses": { "201": { "description": "Course created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Course" } } } } }
      }
    },
    "/course/{id}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Retrieve a course",
        "operationId": "getCourse",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Course details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Course" } } } }, "404": { "$ref": "#/components/responses/NotFound" } }
      },
      "patch": {
        "tags": ["Courses"],
        "summary": "Update a course",
        "operationId": "updateCourse",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CourseCreate" } } } },
        "responses": { "200": { "description": "Course updated" } }
      },
      "delete": {
        "tags": ["Courses"],
        "summary": "Delete a course",
        "operationId": "deleteCourse",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Course deleted" } }
      }
    },
    "/lessons": {
      "get": {
        "tags": ["Lessons"],
        "summary": "List all lessons",
        "operationId": "listLessons",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "List of lessons", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Lesson" } } } } } } } }
      }
    },
    "/lesson": {
      "post": {
        "tags": ["Lessons"],
        "summary": "Create a lesson",
        "operationId": "createLesson",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LessonCreate" } } } },
        "responses": { "201": { "description": "Lesson created" } }
      }
    },
    "/lesson/{id}": {
      "get": {
        "tags": ["Lessons"],
        "summary": "Get a lesson",
        "operationId": "getLesson",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Lesson details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Lesson" } } } } }
      },
      "patch": {
        "tags": ["Lessons"],
        "summary": "Update a lesson",
        "operationId": "updateLesson",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LessonCreate" } } } },
        "responses": { "200": { "description": "Lesson updated" } }
      },
      "delete": {
        "tags": ["Lessons"],
        "summary": "Delete a lesson",
        "operationId": "deleteLesson",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Lesson deleted" } }
      }
    },
    "/lesson/{lessonId}/activity/{activityId}/progress": {
      "post": {
        "tags": ["Lessons"],
        "summary": "Track lesson activity progress",
        "operationId": "trackLessonProgress",
        "parameters": [
          { "name": "lessonId", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "activityId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string", "enum": ["started", "in_progress", "completed"] }, "progress": { "type": "number", "minimum": 0, "maximum": 100 } } } } } },
        "responses": { "200": { "description": "Progress recorded" } }
      }
    },
    "/quizzes": {
      "get": {
        "tags": ["Quizzes"],
        "summary": "List all quizzes",
        "operationId": "listQuizzes",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "List of quizzes", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Quiz" } } } } } } } }
      }
    },
    "/quiz": {
      "post": {
        "tags": ["Quizzes"],
        "summary": "Create a quiz",
        "operationId": "createQuiz",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuizCreate" } } } },
        "responses": { "201": { "description": "Quiz created" } }
      }
    },
    "/quiz/{id}": {
      "get": {
        "tags": ["Quizzes"],
        "summary": "Retrieve a quiz",
        "operationId": "getQuiz",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Quiz details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Quiz" } } } } }
      },
      "patch": {
        "tags": ["Quizzes"],
        "summary": "Update a quiz",
        "operationId": "updateQuiz",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuizCreate" } } } },
        "responses": { "200": { "description": "Quiz updated" } }
      },
      "delete": {
        "tags": ["Quizzes"],
        "summary": "Delete a quiz",
        "operationId": "deleteQuiz",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Quiz deleted" } }
      }
    },
    "/quiz/{id}/answers": {
      "get": {
        "tags": ["Quizzes"],
        "summary": "Get quiz answers",
        "operationId": "getQuizAnswers",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Quiz answers" } }
      },
      "post": {
        "tags": ["Quizzes"],
        "summary": "Create quiz answers",
        "operationId": "createQuizAnswers",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "answers": { "type": "array", "items": { "type": "object", "properties": { "question_id": { "type": "integer" }, "answer": { "type": "string" }, "is_correct": { "type": "boolean" } } } } } } } } },
        "responses": { "201": { "description": "Answers created" } }
      },
      "patch": {
        "tags": ["Quizzes"],
        "summary": "Update quiz answers",
        "operationId": "updateQuizAnswers",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Answers updated" } }
      },
      "delete": {
        "tags": ["Quizzes"],
        "summary": "Delete quiz answers",
        "operationId": "deleteQuizAnswers",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Answers deleted" } }
      }
    },
    "/quiz/{quiz_id}/answers/submit": {
      "post": {
        "tags": ["Quizzes"],
        "summary": "Submit quiz answers",
        "operationId": "submitQuizAnswers",
        "parameters": [ { "name": "quiz_id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "answers": { "type": "array", "items": { "type": "object", "properties": { "question_id": { "type": "integer" }, "answer": { "type": "string" } } } } } } } } },
        "responses": { "200": { "description": "Quiz submitted", "content": { "application/json": { "schema": { "type": "object", "properties": { "score": { "type": "number" }, "passed": { "type": "boolean" } } } } } } }
      }
    },
    "/submitQuiz": {
      "post": {
        "tags": ["Quizzes"],
        "summary": "Submit quiz (legacy)",
        "operationId": "submitQuizLegacy",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "quiz_id": { "type": "integer" }, "answers": { "type": "array", "items": { "type": "object" } } } } } } },
        "responses": { "200": { "description": "Quiz submitted" } }
      }
    },
    "/events": {
      "get": {
        "tags": ["Events"],
        "summary": "List all events",
        "operationId": "listEvents",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } }, { "name": "search", "in": "query", "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "List of events", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } } } } } } } }
      }
    },
    "/event": {
      "post": {
        "tags": ["Events"],
        "summary": "Create an event",
        "operationId": "createEvent",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EventCreate" } } } },
        "responses": { "201": { "description": "Event created" } }
      }
    },
    "/event/{id}": {
      "get": {
        "tags": ["Events"],
        "summary": "Get event details",
        "operationId": "getEvent",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Event details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Event" } } } } }
      },
      "patch": {
        "tags": ["Events"],
        "summary": "Update an event",
        "operationId": "updateEvent",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EventCreate" } } } },
        "responses": { "200": { "description": "Event updated" } }
      },
      "delete": {
        "tags": ["Events"],
        "summary": "Delete an event",
        "operationId": "deleteEvent",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Event deleted" } }
      }
    },
    "/event/{id}/register": {
      "post": {
        "tags": ["Events"],
        "summary": "Register for an event",
        "operationId": "registerForEvent",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "user_id": { "type": "integer" } } } } } },
        "responses": { "200": { "description": "Registered for event" } }
      }
    },
    "/event/{id}/checkin": {
      "post": {
        "tags": ["Events"],
        "summary": "Check in to an event",
        "operationId": "checkinEvent",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "user_id": { "type": "integer" } } } } } },
        "responses": { "200": { "description": "Checked in" } }
      }
    },
    "/locations": {
      "get": {
        "tags": ["Events"],
        "summary": "Get event locations",
        "operationId": "listLocations",
        "responses": { "200": { "description": "List of locations", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "address": { "type": "string" } } } } } } } }
      }
    },
    "/meetings": {
      "get": {
        "tags": ["Events"],
        "summary": "List meetings",
        "operationId": "listMeetings",
        "responses": { "200": { "description": "List of meetings" } }
      }
    },
    "/meeting": {
      "post": {
        "tags": ["Events"],
        "summary": "Schedule a meeting",
        "operationId": "createMeeting",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "title": { "type": "string" }, "description": { "type": "string" }, "start_time": { "type": "string", "format": "date-time" }, "end_time": { "type": "string", "format": "date-time" }, "attendees": { "type": "array", "items": { "type": "integer" } } } } } } },
        "responses": { "201": { "description": "Meeting scheduled" } }
      }
    },
    "/meeting/{id}": {
      "get": {
        "tags": ["Events"],
        "summary": "Get meeting details",
        "operationId": "getMeeting",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Meeting details" } }
      },
      "patch": {
        "tags": ["Events"],
        "summary": "Update a meeting",
        "operationId": "updateMeeting",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "Meeting updated" } }
      },
      "delete": {
        "tags": ["Events"],
        "summary": "Cancel a meeting",
        "operationId": "deleteMeeting",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Meeting cancelled" } }
      }
    },
    "/teams": {
      "get": {
        "tags": ["Teams"],
        "summary": "List all teams",
        "operationId": "listTeams",
        "responses": { "200": { "description": "List of teams", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Team" } } } } } }
      }
    },
    "/team": {
      "post": {
        "tags": ["Teams"],
        "summary": "Create a team",
        "operationId": "createTeam",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" }, "description": { "type": "string" } } } } } },
        "responses": { "201": { "description": "Team created" } }
      }
    },
    "/team/{id}": {
      "get": {
        "tags": ["Teams"],
        "summary": "Get team details",
        "operationId": "getTeam",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Team details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Team" } } } } }
      },
      "patch": {
        "tags": ["Teams"],
        "summary": "Update a team",
        "operationId": "updateTeam",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" }, "description": { "type": "string" } } } } } },
        "responses": { "200": { "description": "Team updated" } }
      },
      "delete": {
        "tags": ["Teams"],
        "summary": "Delete a team",
        "operationId": "deleteTeam",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Team deleted" } }
      }
    },
    "/userGroups": {
      "get": {
        "tags": ["Teams"],
        "summary": "List user groups",
        "operationId": "listUserGroups",
        "responses": { "200": { "description": "List of user groups" } }
      }
    },
    "/userGroup": {
      "post": {
        "tags": ["Teams"],
        "summary": "Create a user group",
        "operationId": "createUserGroup",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" } } } } } },
        "responses": { "201": { "description": "User group created" } }
      }
    },
    "/userGroup/{id}": {
      "get": {
        "tags": ["Teams"],
        "summary": "Get user group",
        "operationId": "getUserGroup",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "User group details" } }
      },
      "patch": {
        "tags": ["Teams"],
        "summary": "Update user group",
        "operationId": "updateUserGroup",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "User group updated" } }
      },
      "delete": {
        "tags": ["Teams"],
        "summary": "Delete user group",
        "operationId": "deleteUserGroup",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "User group deleted" } }
      }
    },
    "/mediaItems": {
      "get": {
        "tags": ["Media"],
        "summary": "List media items",
        "operationId": "listMediaItems",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "List of media items", "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/MediaItem" } } } } } } } }
      }
    },
    "/mediaItem": {
      "post": {
        "tags": ["Media"],
        "summary": "Upload/create media item",
        "operationId": "createMediaItem",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MediaItemCreate" } } } },
        "responses": { "201": { "description": "Media item created" } }
      }
    },
    "/mediaItem/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get media item details",
        "operationId": "getMediaItem",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Media item details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MediaItem" } } } } }
      },
      "patch": {
        "tags": ["Media"],
        "summary": "Update media item",
        "operationId": "updateMediaItem",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MediaItemCreate" } } } },
        "responses": { "200": { "description": "Media item updated" } }
      },
      "delete": {
        "tags": ["Media"],
        "summary": "Delete media item",
        "operationId": "deleteMediaItem",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Media item deleted" } }
      }
    },
    "/mediaCategories": {
      "get": {
        "tags": ["Media"],
        "summary": "List media categories",
        "operationId": "listMediaCategories",
        "responses": { "200": { "description": "List of media categories" } }
      }
    },
    "/mediaCategory": {
      "post": {
        "tags": ["Media"],
        "summary": "Create media category",
        "operationId": "createMediaCategory",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" } } } } } },
        "responses": { "201": { "description": "Category created" } }
      }
    },
    "/mediaCategory/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get media category",
        "operationId": "getMediaCategory",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Category details" } }
      },
      "patch": {
        "tags": ["Media"],
        "summary": "Update media category",
        "operationId": "updateMediaCategory",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" } } } } } },
        "responses": { "200": { "description": "Category updated" } }
      },
      "delete": {
        "tags": ["Media"],
        "summary": "Delete media category",
        "operationId": "deleteMediaCategory",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Category deleted" } }
      }
    },
    "/user/{id}/courseProgress": {
      "get": {
        "tags": ["Progress"],
        "summary": "Get user course progress",
        "operationId": "getUserCourseProgress",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "User course progress data", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object", "properties": { "course_id": { "type": "integer" }, "course_name": { "type": "string" }, "progress": { "type": "number" }, "completed": { "type": "boolean" }, "completed_at": { "type": "string", "format": "date-time" } } } } } } } }
      }
    },
    "/users/courseProgress": {
      "get": {
        "tags": ["Progress"],
        "summary": "Get all users course progress",
        "operationId": "getAllCourseProgress",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "All users course progress" } }
      }
    },
    "/users/checklistProgress": {
      "get": {
        "tags": ["Progress"],
        "summary": "Get checklist progress for all users",
        "operationId": "getChecklistProgress",
        "responses": { "200": { "description": "Checklist progress data" } }
      }
    },
    "/users/quizResults": {
      "get": {
        "tags": ["Progress"],
        "summary": "Get quiz results for all users",
        "operationId": "getQuizResults",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Quiz performance data" } }
      }
    },
    "/users/events": {
      "get": {
        "tags": ["Progress"],
        "summary": "Get user activity events",
        "operationId": "getUserActivityEvents",
        "responses": { "200": { "description": "User activity events" } }
      }
    },
    "/users/awards": {
      "get": {
        "tags": ["Progress"],
        "summary": "Get awards earned by users",
        "operationId": "getUserAwards",
        "responses": { "200": { "description": "Awards data" } }
      }
    },
    "/permissions": {
      "get": {
        "tags": ["Admin"],
        "summary": "List user permissions",
        "operationId": "listPermissions",
        "responses": { "200": { "description": "List of permissions" } }
      }
    },
    "/files": {
      "get": {
        "tags": ["Admin"],
        "summary": "Search files",
        "operationId": "searchFiles",
        "parameters": [ { "name": "search", "in": "query", "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "File search results" } }
      }
    },
    "/brands": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get brand information",
        "operationId": "getBrands",
        "responses": { "200": { "description": "Brand information" } }
      }
    },
    "/audit/admin": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get admin audit logs",
        "operationId": "getAdminAuditLogs",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } }, { "name": "start_date", "in": "query", "schema": { "type": "string", "format": "date" } }, { "name": "end_date", "in": "query", "schema": { "type": "string", "format": "date" } } ],
        "responses": { "200": { "description": "Admin audit logs" } }
      }
    },
    "/audit/auth": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get authentication audit logs",
        "operationId": "getAuthAuditLogs",
        "parameters": [ { "name": "page", "in": "query", "schema": { "type": "integer" } }, { "name": "per_page", "in": "query", "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "Authentication audit logs" } }
      }
    },
    "/client/{clientId}/user/{userId}/sync": {
      "post": {
        "tags": ["Admin"],
        "summary": "Sync user groups for a client",
        "operationId": "syncUserGroups",
        "parameters": [
          { "name": "clientId", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "User groups synced" } }
      }
    },
    "/client/{clientId}/user/{userId}/search": {
      "post": {
        "tags": ["Admin"],
        "summary": "Global search for a user",
        "operationId": "globalSearch",
        "parameters": [
          { "name": "clientId", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "query": { "type": "string" } } } } } },
        "responses": { "200": { "description": "Search results" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token obtained from the login endpoint"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "email": { "type": "string", "format": "email" },
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "username": { "type": "string" },
          "role": { "type": "string" },
          "active": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": ["email", "first_name", "last_name"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "username": { "type": "string" },
          "password": { "type": "string" },
          "role": { "type": "string" },
          "active": { "type": "boolean", "default": true }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "username": { "type": "string" },
          "role": { "type": "string" },
          "active": { "type": "boolean" }
        }
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "published", "archived"] },
          "category": { "type": "string" },
          "duration": { "type": "integer", "description": "Duration in minutes" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CourseCreate": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "published", "archived"] },
          "category": { "type": "string" }
        }
      },
      "Lesson": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "course_id": { "type": "integer" },
          "order": { "type": "integer" },
          "type": { "type": "string" },
          "content": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "LessonCreate": {
        "type": "object",
        "required": ["title", "course_id"],
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "course_id": { "type": "integer" },
          "order": { "type": "integer" },
          "type": { "type": "string" },
          "content": { "type": "string" }
        }
      },
      "Quiz": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "passing_score": { "type": "number" },
          "time_limit": { "type": "integer", "description": "Time limit in minutes" },
          "attempts_allowed": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "QuizCreate": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "passing_score": { "type": "number" },
          "time_limit": { "type": "integer" },
          "attempts_allowed": { "type": "integer" }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "start_time": { "type": "string", "format": "date-time" },
          "end_time": { "type": "string", "format": "date-time" },
          "location": { "type": "string" },
          "capacity": { "type": "integer" },
          "registered_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "EventCreate": {
        "type": "object",
        "required": ["title", "start_time"],
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" },
          "start_time": { "type": "string", "format": "date-time" },
          "end_time": { "type": "string", "format": "date-time" },
          "location": { "type": "string" },
          "capacity": { "type": "integer" }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "member_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "MediaItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["image", "video", "audio", "document"] },
          "url": { "type": "string", "format": "uri" },
          "size": { "type": "integer" },
          "category_id": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "MediaItemCreate": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["image", "video", "audio", "document"] },
          "url": { "type": "string", "format": "uri" },
          "category_id": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "status_code": { "type": "integer" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing authentication",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    }
  }
}