{
  "swagger": "2.0",
  "x-id": [
    "reitit.swagger/default"
  ],
  "consumes": [
    "application/json"
  ],
  "info": {
    "title": "Scope Open API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.scope.ws/api/swagger.json"
  },
  "servers": [
    {
      "url": "https://scope.ws/api"
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Enter the token with the `Bearer` prefix, e.g. \"Bearer abcde12345\"."
    }
  },
  "paths": {
    "/validate": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "space_id": {
                  "type": "string"
                },
                "space_name": {
                  "type": "string"
                },
                "integration": {
                  "type": "string"
                }
              },
              "required": [
                "space_id",
                "space_name",
                "integration"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "tags": [
          "Common"
        ],
        "summary": "Validate access token",
        "description": "Check if access token is valid",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "getValidate"
      }
    },
    "/v1/companies": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "domain": {
                  "type": "string",
                  "x-nullable": true
                },
                "logo_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "archived?": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "domain",
                "logo_id",
                "creation_date",
                "hubspot_id",
                "external_id",
                "archived?"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number",
                      "format": "double"
                    }
                  ],
                  "x-nullable": true
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "domain": {
                  "type": "string",
                  "x-nullable": true
                },
                "logo_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "name"
              ],
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Companies"
        ],
        "summary": "Create company",
        "description": "Create company",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1Companies"
      }
    },
    "/v1/companies/search": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "domain": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "logo_id": {
                    "type": "string",
                    "format": "uuid",
                    "x-nullable": true
                  },
                  "creation_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "hubspot_id": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "external_id": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "archived?": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "description",
                  "domain",
                  "logo_id",
                  "creation_date",
                  "hubspot_id",
                  "external_id",
                  "archived?"
                ],
                "additionalProperties": false
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "anyOf": [
                    {
                      "type": "string",
                      "x-anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number",
                          "format": "double"
                        }
                      ]
                    },
                    {
                      "x-allOf": [
                        {},
                        {
                          "type": "array"
                        }
                      ]
                    }
                  ]
                },
                "match": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "archived?": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                },
                "sorts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "enum": [
                          "name",
                          "creation_date",
                          "archived?"
                        ]
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      }
                    },
                    "required": [
                      "field",
                      "direction"
                    ],
                    "additionalProperties": false
                  }
                },
                "offset": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                },
                "limit": {
                  "default": 10,
                  "type": "integer",
                  "format": "int64",
                  "minimum": 1,
                  "maximum": 100
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Companies"
        ],
        "summary": "Search companies",
        "description": "Search companies based on criteria in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1CompaniesSearch"
      }
    },
    "/v1/companies/{company_id}": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "domain": {
                  "type": "string",
                  "x-nullable": true
                },
                "logo_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "archived?": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "domain",
                "logo_id",
                "creation_date",
                "hubspot_id",
                "external_id",
                "archived?"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "description": "",
            "type": null,
            "required": true,
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              }
            ]
          }
        ],
        "tags": [
          "Companies"
        ],
        "summary": "Get company",
        "description": "Get single company data in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "getV1Companies"
      },
      "put": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "domain": {
                  "type": "string",
                  "x-nullable": true
                },
                "logo_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "archived?": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "domain",
                "logo_id",
                "creation_date",
                "hubspot_id",
                "external_id",
                "archived?"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "description": "",
            "type": null,
            "required": true,
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              }
            ]
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "domain": {
                  "type": "string",
                  "x-nullable": true
                },
                "logo_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "archived?": {
                  "type": "boolean"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Companies"
        ],
        "summary": "Update companies",
        "description": "Update companie data",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "putV1Companies"
      },
      "delete": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "domain": {
                  "type": "string",
                  "x-nullable": true
                },
                "logo_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "archived?": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "domain",
                "logo_id",
                "creation_date",
                "hubspot_id",
                "external_id",
                "archived?"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "description": "",
            "type": null,
            "required": true,
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              }
            ]
          }
        ],
        "tags": [
          "Companies"
        ],
        "summary": "Delete companies",
        "description": "Delete company",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "deleteV1Companies"
      }
    },
    "/v1/company-users": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "company_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "email": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "jobtitle": {
                  "type": "string",
                  "x-nullable": true
                },
                "location": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_phone": {
                  "type": "string",
                  "x-nullable": true
                },
                "avatar_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "avatar_bg_color": {
                  "type": "string",
                  "enum": [
                    "color-1",
                    "color-2",
                    "color-3",
                    "color-4",
                    "color-5",
                    "color-6",
                    "color-7",
                    "color-8",
                    "color-9",
                    "color-10",
                    "color-11"
                  ]
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "company_id",
                "email",
                "first_name",
                "last_name",
                "jobtitle",
                "location",
                "public_phone",
                "avatar_id",
                "avatar_bg_color",
                "hubspot_id",
                "external_id",
                "creation_date"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "409": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    409
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number",
                      "format": "double"
                    }
                  ],
                  "x-nullable": true
                },
                "company_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "email": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "jobtitle": {
                  "type": "string",
                  "x-nullable": true
                },
                "location": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_phone": {
                  "type": "string",
                  "x-nullable": true
                },
                "avatar_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "company_id",
                "email",
                "first_name",
                "last_name"
              ],
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Company users"
        ],
        "summary": "Create company user",
        "description": "Create company user",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1Company-users"
      }
    },
    "/v1/company-users/search": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "company_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "email": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "jobtitle": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "location": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "public_phone": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "avatar_id": {
                    "type": "string",
                    "format": "uuid",
                    "x-nullable": true
                  },
                  "avatar_bg_color": {
                    "type": "string",
                    "enum": [
                      "color-1",
                      "color-2",
                      "color-3",
                      "color-4",
                      "color-5",
                      "color-6",
                      "color-7",
                      "color-8",
                      "color-9",
                      "color-10",
                      "color-11"
                    ]
                  },
                  "hubspot_id": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "external_id": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "creation_date": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "id",
                  "company_id",
                  "email",
                  "first_name",
                  "last_name",
                  "jobtitle",
                  "location",
                  "public_phone",
                  "avatar_id",
                  "avatar_bg_color",
                  "hubspot_id",
                  "external_id",
                  "creation_date"
                ],
                "additionalProperties": false
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "anyOf": [
                    {
                      "type": "string",
                      "x-anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number",
                          "format": "double"
                        }
                      ]
                    },
                    {
                      "x-allOf": [
                        {},
                        {
                          "type": "array"
                        }
                      ]
                    }
                  ]
                },
                "match": {
                  "type": "object",
                  "properties": {
                    "company_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "sorts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "enum": [
                          "first_name",
                          "last_name",
                          "creation_date"
                        ]
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      }
                    },
                    "required": [
                      "field",
                      "direction"
                    ],
                    "additionalProperties": false
                  }
                },
                "offset": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                },
                "limit": {
                  "default": 10,
                  "type": "integer",
                  "format": "int64",
                  "minimum": 1,
                  "maximum": 100
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Company users"
        ],
        "summary": "Search company users",
        "description": "Search company users based on criteria in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1Company-usersSearch"
      }
    },
    "/v1/company-users/add-hubspot-contacts": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "company_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "email": {
                        "type": "string"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "jobtitle": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "location": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "public_phone": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "avatar_id": {
                        "type": "string",
                        "format": "uuid",
                        "x-nullable": true
                      },
                      "avatar_bg_color": {
                        "type": "string",
                        "enum": [
                          "color-1",
                          "color-2",
                          "color-3",
                          "color-4",
                          "color-5",
                          "color-6",
                          "color-7",
                          "color-8",
                          "color-9",
                          "color-10",
                          "color-11"
                        ]
                      },
                      "hubspot_id": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "external_id": {
                        "type": "string",
                        "x-nullable": true
                      },
                      "creation_date": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "company_id",
                      "email",
                      "first_name",
                      "last_name",
                      "jobtitle",
                      "location",
                      "public_phone",
                      "avatar_id",
                      "avatar_bg_color",
                      "hubspot_id",
                      "external_id",
                      "creation_date"
                    ],
                    "additionalProperties": false
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "failed"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              ]
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "company_id": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "uuid"
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "response_format": {
                  "default": "detailed",
                  "type": "string",
                  "enum": [
                    "detailed",
                    "summary"
                  ]
                }
              },
              "required": [
                "company_id"
              ],
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Company users"
        ],
        "summary": "Add HubSpot contacts",
        "description": "Add HubSpot contacts based on the company ID that is connected to the HubSpot company",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1Company-usersAdd-hubspot-contacts"
      }
    },
    "/v1/company-users/{company_user_id}": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "company_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "email": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "jobtitle": {
                  "type": "string",
                  "x-nullable": true
                },
                "location": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_phone": {
                  "type": "string",
                  "x-nullable": true
                },
                "avatar_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "avatar_bg_color": {
                  "type": "string",
                  "enum": [
                    "color-1",
                    "color-2",
                    "color-3",
                    "color-4",
                    "color-5",
                    "color-6",
                    "color-7",
                    "color-8",
                    "color-9",
                    "color-10",
                    "color-11"
                  ]
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "company_id",
                "email",
                "first_name",
                "last_name",
                "jobtitle",
                "location",
                "public_phone",
                "avatar_id",
                "avatar_bg_color",
                "hubspot_id",
                "external_id",
                "creation_date"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "company_user_id",
            "description": "",
            "type": null,
            "required": true,
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              }
            ]
          }
        ],
        "tags": [
          "Company users"
        ],
        "summary": "Get company user",
        "description": "Get single company user data in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "getV1Company-users"
      },
      "put": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "company_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "email": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "jobtitle": {
                  "type": "string",
                  "x-nullable": true
                },
                "location": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_phone": {
                  "type": "string",
                  "x-nullable": true
                },
                "avatar_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "avatar_bg_color": {
                  "type": "string",
                  "enum": [
                    "color-1",
                    "color-2",
                    "color-3",
                    "color-4",
                    "color-5",
                    "color-6",
                    "color-7",
                    "color-8",
                    "color-9",
                    "color-10",
                    "color-11"
                  ]
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "company_id",
                "email",
                "first_name",
                "last_name",
                "jobtitle",
                "location",
                "public_phone",
                "avatar_id",
                "avatar_bg_color",
                "hubspot_id",
                "external_id",
                "creation_date"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "company_user_id",
            "description": "",
            "type": null,
            "required": true,
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              }
            ]
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "jobtitle": {
                  "type": "string",
                  "x-nullable": true
                },
                "location": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_phone": {
                  "type": "string",
                  "x-nullable": true
                },
                "avatar_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Company users"
        ],
        "summary": "Update company users",
        "description": "Update company user data",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "putV1Company-users"
      },
      "delete": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "company_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "email": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "jobtitle": {
                  "type": "string",
                  "x-nullable": true
                },
                "location": {
                  "type": "string",
                  "x-nullable": true
                },
                "public_phone": {
                  "type": "string",
                  "x-nullable": true
                },
                "avatar_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "avatar_bg_color": {
                  "type": "string",
                  "enum": [
                    "color-1",
                    "color-2",
                    "color-3",
                    "color-4",
                    "color-5",
                    "color-6",
                    "color-7",
                    "color-8",
                    "color-9",
                    "color-10",
                    "color-11"
                  ]
                },
                "hubspot_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "creation_date": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "company_id",
                "email",
                "first_name",
                "last_name",
                "jobtitle",
                "location",
                "public_phone",
                "avatar_id",
                "avatar_bg_color",
                "hubspot_id",
                "external_id",
                "creation_date"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "company_user_id",
            "description": "",
            "type": null,
            "required": true,
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              }
            ]
          }
        ],
        "tags": [
          "Company users"
        ],
        "summary": "Delete company users",
        "description": "Delete company user",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "deleteV1Company-users"
      }
    },
    "/v1/field-groups": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Field groups"
        ],
        "summary": "Create field group",
        "description": "Create field group",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1Field-groups"
      }
    },
    "/v1/field-groups/search": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": false
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "uuid"
                    },
                    {
                      "x-allOf": [
                        {},
                        {
                          "type": "array"
                        }
                      ]
                    }
                  ]
                },
                "offset": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                },
                "limit": {
                  "default": 10,
                  "type": "integer",
                  "format": "int64",
                  "minimum": 1,
                  "maximum": 100
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Field groups"
        ],
        "summary": "Search field groups",
        "description": "Search field groups based on criteria in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1Field-groupsSearch"
      }
    },
    "/v1/field-groups/{field_group_id}": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "field_group_id",
            "description": "",
            "type": "string",
            "required": true,
            "format": "uuid"
          }
        ],
        "tags": [
          "Field groups"
        ],
        "summary": "Get field group",
        "description": "Get field group data in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "getV1Field-groups"
      },
      "put": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "field_group_id",
            "description": "",
            "type": "string",
            "required": true,
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Field groups"
        ],
        "summary": "Update field group",
        "description": "Update field group data",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "putV1Field-groups"
      },
      "delete": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "field_group_id",
            "description": "",
            "type": "string",
            "required": true,
            "format": "uuid"
          }
        ],
        "tags": [
          "Field groups"
        ],
        "summary": "Delete field group",
        "description": "Delete field group",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "deleteV1Field-groups"
      }
    },
    "/v1/fields/search": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "boolean",
                      "person",
                      "select",
                      "labels",
                      "score",
                      "text",
                      "number",
                      "fields-aggregator",
                      "date",
                      "email",
                      "url",
                      "rating"
                    ]
                  },
                  "group_id": {
                    "type": "string",
                    "format": "uuid",
                    "x-nullable": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "column": {
                    "type": "string"
                  },
                  "view": {
                    "type": "string",
                    "enum": [
                      "color",
                      "plain",
                      "escalation",
                      "deescalation",
                      "text"
                    ],
                    "x-nullable": true
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "star",
                      "emoji",
                      "single",
                      "multiple",
                      "range",
                      "any",
                      "rich-text"
                    ],
                    "x-nullable": true
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "int",
                      "float",
                      "percent",
                      "currency-usd",
                      "currency-eur",
                      "currency-uah"
                    ],
                    "x-nullable": true
                  },
                  "function": {
                    "type": "string",
                    "enum": [
                      "sum",
                      "max",
                      "min",
                      "average",
                      "median"
                    ],
                    "x-nullable": true
                  },
                  "count_options": {
                    "type": "integer",
                    "enum": [
                      3,
                      5
                    ],
                    "x-nullable": true
                  },
                  "options_type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "number",
                      "select",
                      "score"
                    ],
                    "x-nullable": true
                  },
                  "options_unit": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "x-nullable": true
                  },
                  "not_null?": {
                    "type": "boolean",
                    "x-nullable": true
                  }
                },
                "required": [
                  "id",
                  "type",
                  "group_id",
                  "name",
                  "description",
                  "column",
                  "view",
                  "kind",
                  "format",
                  "function",
                  "count_options",
                  "options_type",
                  "options_unit",
                  "options",
                  "not_null?"
                ],
                "additionalProperties": false
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "uuid"
                    },
                    {
                      "x-allOf": [
                        {},
                        {
                          "type": "array"
                        }
                      ]
                    }
                  ]
                },
                "match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "boolean",
                        "person",
                        "select",
                        "labels",
                        "score",
                        "text",
                        "number",
                        "fields-aggregator",
                        "date",
                        "email",
                        "url",
                        "rating"
                      ]
                    },
                    "column": {
                      "type": "string"
                    },
                    "group_id": {
                      "type": "string",
                      "format": "uuid",
                      "x-nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "sorts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "enum": [
                          "name",
                          "type",
                          "group_id"
                        ]
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      }
                    },
                    "required": [
                      "field",
                      "direction"
                    ],
                    "additionalProperties": false
                  }
                },
                "offset": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                },
                "limit": {
                  "default": 10,
                  "type": "integer",
                  "format": "int64",
                  "minimum": 1,
                  "maximum": 100
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Fields"
        ],
        "summary": "Search fields",
        "description": "Search fields based on criteria in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1FieldsSearch"
      }
    },
    "/v1/fields/select-option": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "x-anyOf": [
                    {
                      "type": "string",
                      "format": "uuid"
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "name": {
                  "type": "string",
                  "x-anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number",
                      "format": "double"
                    }
                  ]
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "color": {
                  "type": "string",
                  "enum": [
                    "light-blue",
                    "blue",
                    "dark-blue",
                    "orange",
                    "yellow",
                    "red",
                    "green",
                    "gray",
                    "rose",
                    "purple",
                    "mustard",
                    "plum",
                    "marine",
                    "cinnamon",
                    "emerald"
                  ],
                  "x-nullable": true
                },
                "rank": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "rank"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number",
                      "format": "double"
                    }
                  ],
                  "x-nullable": true
                },
                "field_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "name": {
                  "type": "string",
                  "x-anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number",
                      "format": "double"
                    }
                  ]
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "color": {
                  "type": "string",
                  "enum": [
                    "rose",
                    "red",
                    "cinnamon",
                    "orange",
                    "mustard",
                    "green",
                    "marine",
                    "emerald",
                    "blue",
                    "purple",
                    "plum",
                    "gray"
                  ],
                  "x-nullable": true
                }
              },
              "required": [
                "field_id",
                "name"
              ],
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Fields"
        ],
        "summary": "Create option for select field",
        "description": "Create or return option for select field",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1FieldsSelect-option"
      }
    },
    "/v1/fields/{field_id}": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "boolean",
                    "person",
                    "select",
                    "labels",
                    "score",
                    "text",
                    "number",
                    "fields-aggregator",
                    "date",
                    "email",
                    "url",
                    "rating"
                  ]
                },
                "group_id": {
                  "type": "string",
                  "format": "uuid",
                  "x-nullable": true
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "x-nullable": true
                },
                "column": {
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "enum": [
                    "color",
                    "plain",
                    "escalation",
                    "deescalation",
                    "text"
                  ],
                  "x-nullable": true
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "star",
                    "emoji",
                    "single",
                    "multiple",
                    "range",
                    "any",
                    "rich-text"
                  ],
                  "x-nullable": true
                },
                "format": {
                  "type": "string",
                  "enum": [
                    "int",
                    "float",
                    "percent",
                    "currency-usd",
                    "currency-eur",
                    "currency-uah"
                  ],
                  "x-nullable": true
                },
                "function": {
                  "type": "string",
                  "enum": [
                    "sum",
                    "max",
                    "min",
                    "average",
                    "median"
                  ],
                  "x-nullable": true
                },
                "count_options": {
                  "type": "integer",
                  "enum": [
                    3,
                    5
                  ],
                  "x-nullable": true
                },
                "options_type": {
                  "type": "string",
                  "enum": [
                    "text",
                    "number",
                    "select",
                    "score"
                  ],
                  "x-nullable": true
                },
                "options_unit": {
                  "type": "string",
                  "x-nullable": true
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "x-nullable": true
                },
                "not_null?": {
                  "type": "boolean",
                  "x-nullable": true
                }
              },
              "required": [
                "id",
                "type",
                "group_id",
                "name",
                "description",
                "column",
                "view",
                "kind",
                "format",
                "function",
                "count_options",
                "options_type",
                "options_unit",
                "options",
                "not_null?"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "404": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "enum": [
                    404
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status_code",
                "message"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "field_id",
            "description": "",
            "type": "string",
            "required": true,
            "format": "uuid"
          }
        ],
        "tags": [
          "Fields"
        ],
        "summary": "Get field",
        "description": "Get field data in current space",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "getV1Fields"
      }
    },
    "/v1/folders": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "subject_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "item_name": {
                  "type": "string",
                  "x-nullable": true
                },
                "color": {
                  "type": "string",
                  "enum": [
                    "rose",
                    "red",
                    "orange",
                    "green",
                    "marine",
                    "blue",
                    "purple"
                  ],
                  "x-nullable": true
                },
                "owner_user_ids": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid",
                    "x-anyOf": [
                      {
                        "type": "string",
                        "format": "uuid"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "x-nullable": true
                },
                "member_user_ids": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid",
                    "x-anyOf": [
                      {
                        "type": "string",
                        "format": "uuid"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "x-nullable": true
                },
                "access": {
                  "type": "string",
                  "enum": [
                    "public",
                    "restricted"
                  ]
                },
                "timeframe": {
                  "type": "array",
                  "items": {},
                  "x-items": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "string",
                      "format": "date-time"
                    }
                  ],
                  "x-nullable": true
                },
                "external_id": {
                  "type": "string",
                  "x-nullable": true
                },
                "archived?": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "subject_id",
                "name",
                "item_name",
                "color",
                "owner_user_ids",
                "member_user_ids",
                "access",
                "timeframe",
                "external_id",
                "archived?"
              ],
              "additionalProperties": false
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number",
                      "format": "double"
                    }
                  ],
                  "x-nullable": true
                },
                "subject_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "item_name": {
                  "type": "string",
                  "x-nullable": true
                },
                "color": {
                  "type": "string",
                  "enum": [
                    "rose",
                    "red",
                    "orange",
                    "green",
                    "marine",
                    "blue",
                    "purple"
                  ],
                  "x-nullable": true
                },
                "owner_user_ids": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid",
                    "x-anyOf": [
                      {
                        "type": "string",
                        "format": "uuid"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                },
                "member_user_ids": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid",
                    "x-anyOf": [
                      {
                        "type": "string",
                        "format": "uuid"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "x-nullable": true
                },
                "access": {
                  "type": "string",
                  "enum": [
                    "public",
                    "restricted"
                  ]
                },
                "timeframe": {
                  "type": "array",
                  "items": {},
                  "x-items": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "string",
                      "format": "date-time"
                    }
                  ],
                  "x-nullable": true
                },
                "archived?": {
                  "type": "boolean"
                }
              },
              "required": [
                "subject_id",
                "name",
                "owner_user_ids"
              ],
              "additionalProperties": false
            }
          }
        ],
        "tags": [
          "Folders"
        ],
        "summary": "Create folder",
        "description": "Create folder",
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "postV1Folders"
      }
    },
    "/v1/folders/search": {
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "subject_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "item_name": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "color": {
                    "type": "string",
                    "enum": [
                      "rose",
                      "red",
                      "orange",
                      "green",
                      "marine",
                      "blue",
                      "purple"
                    ],
                    "x-nullable": true
                  },
                  "owner_user_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "x-anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "x-nullable": true
                  },
                  "member_user_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "x-anyOf": [
                        {
                          "type": "string",
                          "format": "uuid"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "x-nullable": true
                  },
                  "access": {
                    "type": "string",
                    "enum": [
                      "public",
                      "restricted"
                    ]
                  },
                  "timeframe": {
                    "type": "array",
                    "items": {},
                    "x-items": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ],
                    "x-nullable": true
                  },
                  "external_id": {
                    "type": "string",
                    "x-nullable": true
                  },
                  "archived?": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "subject_id",
                  "name",
                  "item_name",
                  "color",
                  "owner_user_ids",
                  "member_user_ids",
                  "access",
                  "timeframe",
                  "external_id",
                  "archived?"
                ],
                "additionalProperties": false
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "anyOf": [
                    {
                      "type": "string",
                      "x-anyOf": [
                        {
[...]
