{
  "openapi": "3.0.3",
  "info": {
    "title": "PR.co API",
    "description": "Press release and media management platform API. Read-only endpoints for accessing press releases, clippings, media kits, and events.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://app.pr.co/api/docs"
  },
  "servers": [{"url": "https://api.pr.co/v1/pressrooms/{pressroom_id}"}],
  "security": [{"ApiKeyAuth": []}],
  "tags": [
    {"name": "Press Releases", "description": "Press release management"},
    {"name": "Clippings", "description": "Media clippings"},
    {"name": "Events", "description": "Event management"},
    {"name": "Media Kits", "description": "Media kit resources"},
    {"name": "Contacts", "description": "Spokesperson contacts"},
    {"name": "Search", "description": "Search operations"}
  ],
  "paths": {
    "/press_releases.json": {
      "get": {
        "tags": ["Press Releases"],
        "summary": "List press releases",
        "operationId": "listPressReleases",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/PressRelease"}}}}}
        }
      }
    },
    "/press_releases/{id}.json": {
      "get": {
        "tags": ["Press Releases"],
        "summary": "Get press release",
        "operationId": "getPressRelease",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressRelease"}}}}
        }
      }
    },
    "/archive/press_releases.json": {
      "get": {
        "tags": ["Press Releases"],
        "summary": "List archived press releases",
        "operationId": "listArchivedPressReleases",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/PressRelease"}}}}}
        }
      }
    },
    "/clippings.json": {
      "get": {
        "tags": ["Clippings"],
        "summary": "List clippings",
        "operationId": "listClippings",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Clipping"}}}}}
        }
      }
    },
    "/clippings/{id}.json": {
      "get": {
        "tags": ["Clippings"],
        "summary": "Get clipping",
        "operationId": "getClipping",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Clipping"}}}}
        }
      }
    },
    "/archive/clippings.json": {
      "get": {
        "tags": ["Clippings"],
        "summary": "List archived clippings",
        "operationId": "listArchivedClippings",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Clipping"}}}}}
        }
      }
    },
    "/events.json": {
      "get": {
        "tags": ["Events"],
        "summary": "List events",
        "operationId": "listEvents",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Event"}}}}}
        }
      }
    },
    "/events/{id}.json": {
      "get": {
        "tags": ["Events"],
        "summary": "Get event",
        "operationId": "getEvent",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Event"}}}}
        }
      }
    },
    "/archive/events.json": {
      "get": {
        "tags": ["Events"],
        "summary": "List archived events",
        "operationId": "listArchivedEvents",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Event"}}}}}
        }
      }
    },
    "/documents.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "List documents",
        "operationId": "listDocuments",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Document"}}}}}
        }
      }
    },
    "/documents/{id}.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "Get document",
        "operationId": "getDocument",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Document"}}}}
        }
      }
    },
    "/images.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "List images",
        "operationId": "listImages",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Image"}}}}}
        }
      }
    },
    "/images/{id}.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "Get image",
        "operationId": "getImage",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Image"}}}}
        }
      }
    },
    "/videos.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "List videos",
        "operationId": "listVideos",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Video"}}}}}
        }
      }
    },
    "/videos/{id}.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "Get video",
        "operationId": "getVideo",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Video"}}}}
        }
      }
    },
    "/pr_contacts.json": {
      "get": {
        "tags": ["Contacts"],
        "summary": "List spokespeople",
        "operationId": "listSpokespersons",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Contact"}}}}}
        }
      }
    },
    "/pr_contacts/{id}.json": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get spokesperson",
        "operationId": "getSpokesperson",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Contact"}}}}
        }
      }
    },
    "/media_kits.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "List media kits",
        "operationId": "listMediaKits",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/MediaKit"}}}}}
        }
      }
    },
    "/media_kits/{id}.json": {
      "get": {
        "tags": ["Media Kits"],
        "summary": "Get media kit",
        "operationId": "getMediaKit",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MediaKit"}}}}
        }
      }
    },
    "/search/all.json": {
      "get": {
        "tags": ["Search"],
        "summary": "Search all content",
        "operationId": "searchAll",
        "parameters": [{"name": "q", "in": "query", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SearchResults"}}}}
        }
      }
    },
    "/search/press_releases.json": {
      "get": {
        "tags": ["Search"],
        "summary": "Search press releases",
        "operationId": "searchPressReleases",
        "parameters": [{"name": "q", "in": "query", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/PressRelease"}}}}}
        }
      }
    },
    "/tags.json": {
      "get": {
        "tags": ["Press Releases"],
        "summary": "List tags",
        "operationId": "listTags",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}}}}}
        }
      }
    },
    "/timeline.json": {
      "get": {
        "tags": ["Press Releases"],
        "summary": "Get pressroom timeline",
        "operationId": "getPressroomTimeline",
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/TimelineItem"}}}}}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {"ApiKeyAuth": {"type": "apiKey", "in": "header", "name": "X-API-Key"}},
    "schemas": {
      "PressRelease": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "title": {"type": "string"},
          "summary": {"type": "string"},
          "body": {"type": "string"},
          "publishedAt": {"type": "string", "format": "date-time"},
          "url": {"type": "string", "format": "uri"},
          "tags": {"type": "array", "items": {"type": "string"}},
          "language": {"type": "string"},
          "author": {"type": "string"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "Clipping": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "title": {"type": "string"},
          "publication": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "publishedAt": {"type": "string", "format": "date-time"},
          "description": {"type": "string"},
          "tags": {"type": "array", "items": {"type": "string"}},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "startDate": {"type": "string", "format": "date-time"},
          "endDate": {"type": "string", "format": "date-time"},
          "location": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "tags": {"type": "array", "items": {"type": "string"}},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "fileType": {"type": "string"},
          "fileSize": {"type": "integer"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "thumbnailUrl": {"type": "string", "format": "uri"},
          "width": {"type": "integer"},
          "height": {"type": "integer"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "thumbnailUrl": {"type": "string", "format": "uri"},
          "duration": {"type": "integer"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "title": {"type": "string"},
          "email": {"type": "string", "format": "email"},
          "phone": {"type": "string"},
          "bio": {"type": "string"},
          "photoUrl": {"type": "string", "format": "uri"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "MediaKit": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "items": {"type": "array", "items": {"type": "object"}},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "pressReleases": {"type": "array", "items": {"$ref": "#/components/schemas/PressRelease"}},
          "clippings": {"type": "array", "items": {"$ref": "#/components/schemas/Clipping"}},
          "events": {"type": "array", "items": {"$ref": "#/components/schemas/Event"}},
          "mediaKits": {"type": "array", "items": {"$ref": "#/components/schemas/MediaKit"}}
        }
      },
      "TimelineItem": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "type": {"type": "string", "enum": ["press_release", "clipping", "event"]},
          "title": {"type": "string"},
          "date": {"type": "string", "format": "date-time"},
          "url": {"type": "string", "format": "uri"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {"error": {"type": "object", "properties": {"code": {"type": "string"}, "message": {"type": "string"}}}}
      }
    },
    "responses": {
      "UnauthorizedError": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
      "NotFoundError": {"description": "Not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
      "BadRequestError": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
    }
  }
}
