{
  "openapi": "3.1.0",
  "info": {
    "title": "Xquik API",
    "version": "1.0",
    "description": "Xquik provides public API endpoints for X tweet, user, trend, list, community, and article data workflows.",
    "contact": {
      "name": "Xquik",
      "url": "https://xquik.com",
      "email": "support@xquik.com"
    },
    "x-jentic-source-url": "https://xquik.com/openapi.json",
    "license": {
      "name": "Apache-2.0",
      "url": "https://github.com/Xquik-dev/x-twitter-scraper/blob/master/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://xquik.com"
    }
  ],
  "tags": [
    {
      "name": "Articles",
      "description": "Long-form X Article extraction"
    },
    {
      "name": "Communities",
      "description": "X Community info, members, and tweets"
    },
    {
      "name": "Lists",
      "description": "X List followers, members, and tweets"
    },
    {
      "name": "Trends",
      "description": "Trending topics and hashtags by region"
    },
    {
      "name": "Tweets",
      "description": "Look up, search, and analyze individual tweets"
    },
    {
      "name": "Users",
      "description": "Look up, search, and explore user profiles and relationships"
    }
  ],
  "paths": {
    "/api/v1/x/trends": {
      "get": {
        "operationId": "getXTrends",
        "summary": "Get trending hashtags and topics from X by region",
        "tags": [
          "Trends"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "woeid",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Region WOEID (1=Worldwide, 23424977=US, 23424975=UK, 23424969=Turkey)"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of trending topics to return (1-50, default 30)",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trending topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "trends",
                    "count",
                    "woeid"
                  ],
                  "properties": {
                    "trends": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "#AI"
                          },
                          "description": {
                            "type": "string",
                            "example": "Artificial intelligence discussions"
                          },
                          "query": {
                            "type": "string",
                            "example": "%23AI"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 1
                          }
                        }
                      },
                      "example": [
                        {
                          "name": "#AI",
                          "description": "Artificial intelligence discussions",
                          "query": "%23AI",
                          "rank": 1
                        }
                      ]
                    },
                    "count": {
                      "type": "integer",
                      "example": 30
                    },
                    "woeid": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                },
                "example": {
                  "trends": [
                    {
                      "name": "#AI",
                      "description": "Artificial intelligence discussions",
                      "query": "%23AI",
                      "rank": 1
                    }
                  ],
                  "count": 30,
                  "woeid": 1
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/tweets/search": {
      "get": {
        "operationId": "searchTweets",
        "summary": "Search tweets by query, Tweet ID, X status URL, or account date window",
        "tags": [
          "Tweets"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query (keywords,"
          },
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Latest",
                "Top"
              ],
              "default": "Latest"
            },
            "description": "Sort order - Latest (chronological) or Top (engagement-ranked)"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor from previous response"
          },
          {
            "name": "sinceTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 timestamp - only return tweets after this time"
          },
          {
            "name": "untilTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 timestamp - only return tweets before this time"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            },
            "description": "See the public API reference for details."
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetSearchListId"
          },
          {
            "$ref": "#/components/parameters/TweetSearchPlace"
          },
          {
            "$ref": "#/components/parameters/TweetSearchPlaceCountry"
          },
          {
            "$ref": "#/components/parameters/TweetSearchPointRadius"
          },
          {
            "$ref": "#/components/parameters/TweetSearchBoundingBox"
          },
          {
            "$ref": "#/components/parameters/TweetSearchAdvancedQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                },
                "example": {
                  "tweets": [
                    {
                      "id": "1234567890",
                      "text": "Just launched our new feature!",
                      "createdAt": "2025-01-15T12:00:00Z",
                      "likeCount": 42,
                      "retweetCount": 5,
                      "replyCount": 3,
                      "quoteCount": 1,
                      "viewCount": 1500,
                      "bookmarkCount": 2,
                      "author": {
                        "id": "9876543210",
                        "username": "elonmusk",
                        "name": "Elon Musk",
                        "verified": true
                      }
                    }
                  ],
                  "has_next_page": true,
                  "next_cursor": "DAACCgACGRElMJcAAA"
                }
              }
            }
          },
          "400": {
            "description": "Missing query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "missing_query"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/articles/{tweetId}": {
      "get": {
        "operationId": "getArticle",
        "summary": "Get full X Article content with cover image and metadata",
        "description": "Retrieve the full content of an X Article (long-form post) by numeric tweet ID. Returns article_not_found when the tweet is valid but is not an X Article.",
        "tags": [
          "Articles"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "tweetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric tweet ID of the article, 15-20 digits. If you have a tweet URL, use the final status ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Article with author",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "article"
                  ],
                  "properties": {
                    "article": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "example": "The Future of AI"
                        },
                        "previewText": {
                          "type": "string",
                          "example": "A deep dive into the latest AI trends..."
                        },
                        "coverImageUrl": {
                          "type": "string",
                          "example": "https://pbs.twimg.com/media/example.jpg"
                        },
                        "contents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Block type: paragraph, header-one, header-two, header-three, header-four, header-five, header-six, unordered-list-item, ordered-list-item, blockquote, code-block, media, divider",
                                "example": "paragraph"
                              },
                              "text": {
                                "type": "string",
                                "example": "This is the first paragraph of the article."
                              },
                              "url": {
                                "type": "string",
                                "description": "Media URL for media blocks",
                                "example": "https://pbs.twimg.com/media/example.jpg"
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Preview image URL for media blocks",
                                "example": "https://pbs.twimg.com/media/example.jpg"
                              },
                              "width": {
                                "type": "integer",
                                "example": 1200
                              },
                              "height": {
                                "type": "integer",
                                "example": 675
                              },
                              "inlineStyleRanges": {
                                "type": "array",
                                "description": "Inline text formatting ranges",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "offset": {
                                      "type": "integer",
                                      "example": 0
                                    },
                                    "length": {
                                      "type": "integer",
                                      "example": 8
                                    },
                                    "style": {
                                      "type": "string",
                                      "example": "BOLD"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2025-01-15T12:00:00Z"
                        },
                        "likeCount": {
                          "type": "integer",
                          "example": 150
                        },
                        "replyCount": {
                          "type": "integer",
                          "example": 23
                        },
                        "quoteCount": {
                          "type": "integer",
                          "example": 8
                        },
                        "viewCount": {
                          "type": "integer",
                          "example": 5000
                        }
                      }
                    },
                    "author": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "username"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "9876543210"
                        },
                        "name": {
                          "type": "string",
                          "example": "Elon Musk"
                        },
                        "username": {
                          "type": "string",
                          "example": "elonmusk"
                        },
                        "profilePicture": {
                          "type": "string",
                          "example": "https://pbs.twimg.com/profile_images/example.jpg"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "article": {
                    "title": "The Future of AI",
                    "previewText": "A deep dive into the latest AI trends...",
                    "coverImageUrl": "https://pbs.twimg.com/media/example.jpg",
                    "contents": [
                      {
                        "type": "paragraph",
                        "text": "This is the first paragraph of the article."
                      }
                    ],
                    "createdAt": "2025-01-15T12:00:00Z",
                    "likeCount": 150,
                    "replyCount": 23,
                    "quoteCount": 8,
                    "viewCount": 5000
                  },
                  "author": {
                    "id": "9876543210",
                    "name": "Elon Musk",
                    "username": "elonmusk",
                    "profilePicture": "https://pbs.twimg.com/profile_images/example.jpg"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "description": "Article not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "article_not_found",
                  "message": "Article not found. Use an X Article tweet ID."
                }
              }
            }
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/tweets/{id}": {
      "get": {
        "operationId": "lookupTweet",
        "summary": "Get tweet with full text, author, metrics and media",
        "tags": [
          "Tweets"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tweet ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tweet with author",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tweet"
                  ],
                  "properties": {
                    "tweet": {
                      "$ref": "#/components/schemas/TweetDetail"
                    },
                    "author": {
                      "$ref": "#/components/schemas/TweetAuthor"
                    }
                  }
                },
                "example": {
                  "tweet": {
                    "id": "1234567890",
                    "text": "Just launched our new feature!",
                    "createdAt": "2025-01-15T12:00:00Z",
                    "retweetCount": 5,
                    "replyCount": 3,
                    "likeCount": 42,
                    "quoteCount": 1,
                    "viewCount": 1500,
                    "bookmarkCount": 2
                  },
                  "author": {
                    "id": "9876543210",
                    "username": "elonmusk",
                    "followers": 150000000,
                    "verified": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "description": "Tweet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "tweet_not_found",
                  "message": "Tweet not found. Check the tweet ID."
                }
              }
            }
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/batch": {
      "get": {
        "operationId": "getBatchUsers",
        "summary": "Look up multiple users by IDs in one call",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated user IDs (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/search": {
      "get": {
        "operationId": "searchUsers",
        "summary": "Search users by name or username",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User search query"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for user search"
          }
        ],
        "responses": {
          "200": {
            "description": "User search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user profile with follower counts and verification",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "X username (without @) or user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                },
                "example": {
                  "id": "9876543210",
                  "username": "elonmusk",
                  "name": "Elon Musk",
                  "description": "CEO of Tesla, SpaceX, and X",
                  "followers": 150000000,
                  "following": 500,
                  "verified": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "user_not_found",
                  "message": "X user not found. Check the username."
                }
              }
            }
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/followers/check": {
      "get": {
        "operationId": "checkFollow",
        "summary": "Check if one user follows another",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to check (without @)"
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target username (without @)"
          }
        ],
        "responses": {
          "200": {
            "description": "Follow check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "isFollowing",
                    "isFollowedBy",
                    "sourceUsername",
                    "targetUsername"
                  ],
                  "properties": {
                    "isFollowing": {
                      "type": "boolean",
                      "example": true
                    },
                    "isFollowedBy": {
                      "type": "boolean",
                      "example": false
                    },
                    "sourceUsername": {
                      "type": "string",
                      "example": "elonmusk"
                    },
                    "targetUsername": {
                      "type": "string",
                      "example": "jack"
                    }
                  }
                },
                "example": {
                  "isFollowing": true,
                  "isFollowedBy": false,
                  "sourceUsername": "elonmusk",
                  "targetUsername": "jack"
                }
              }
            }
          },
          "400": {
            "description": "Missing params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "missing_params"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/trends": {
      "get": {
        "operationId": "getTrends",
        "summary": "Get trending hashtags and topics by region (alias)",
        "tags": [
          "Trends"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "woeid",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Region Yahoo WOEID code (1=Worldwide, 23424977=US, 23424975=UK, 23424969=Turkey)"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of trending topics returned (1-50, default 30)",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "trends",
                    "total",
                    "woeid"
                  ],
                  "properties": {
                    "trends": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "#AI"
                          },
                          "description": {
                            "type": "string",
                            "example": "Artificial intelligence discussions"
                          },
                          "query": {
                            "type": "string",
                            "example": "%23AI"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 1
                          }
                        }
                      },
                      "example": [
                        {
                          "name": "#AI",
                          "rank": 1
                        }
                      ]
                    },
                    "total": {
                      "type": "integer",
                      "example": 30
                    },
                    "woeid": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                },
                "example": {
                  "trends": [
                    {
                      "name": "#AI",
                      "description": "Artificial intelligence discussions",
                      "query": "%23AI",
                      "rank": 1
                    }
                  ],
                  "total": 30,
                  "woeid": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/tweets/{id}/favoriters": {
      "get": {
        "operationId": "getTweetFavoriters",
        "summary": "List users who liked a tweet",
        "tags": [
          "Tweets"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tweet ID to get favoriters"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for favoriters"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users who liked the tweet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/tweets": {
      "get": {
        "operationId": "getUserTweets",
        "summary": "List recent tweets posted by a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "X user ID or username"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for user tweets"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include reply tweets"
          },
          {
            "name": "includeParentTweet",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include parent tweet for replies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          }
        ],
        "responses": {
          "200": {
            "description": "User tweets list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/replies": {
      "get": {
        "operationId": "getUserReplies",
        "summary": "List a user's With Replies timeline",
        "description": "Returns the user's timeline with replies included by default.",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "X user ID or username"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for user replies"
          },
          {
            "name": "includeParentTweet",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include parent tweet for replies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          }
        ],
        "responses": {
          "200": {
            "description": "User timeline with replies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/likes": {
      "get": {
        "operationId": "getUserLikes",
        "summary": "List tweets liked by a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for liked tweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of liked tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/media": {
      "get": {
        "operationId": "getUserMedia",
        "summary": "List media tweets posted by a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID for media lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for media tweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of media tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/followers-you-know": {
      "get": {
        "operationId": "getFollowersYouKnow",
        "summary": "List mutual followers between you and a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID for followers-you-know lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for followers-you-know"
          }
        ],
        "responses": {
          "200": {
            "description": "List of mutual followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/communities/{id}/info": {
      "get": {
        "operationId": "getCommunityInfo",
        "summary": "Get community name, description and member count",
        "tags": [
          "Communities"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Community ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Community details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "community"
                  ],
                  "properties": {
                    "community": {
                      "type": "object",
                      "description": "Community info object",
                      "example": {
                        "id": "1500000000000000000",
                        "name": "Tesla Fans"
                      },
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique community identifier"
                        },
                        "name": {
                          "type": "string",
                          "description": "Display name of the community"
                        },
                        "description": {
                          "type": "string",
                          "description": "About text for the community"
                        },
                        "banner_url": {
                          "type": "string",
                          "description": "Community banner image URL"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Community creation timestamp"
                        },
                        "join_policy": {
                          "type": "string",
                          "description": "Join policy (open or restricted)"
                        },
                        "member_count": {
                          "type": "integer",
                          "description": "Total member count"
                        },
                        "moderator_count": {
                          "type": "integer",
                          "description": "Total moderator count"
                        },
                        "primary_topic": {
                          "type": "object",
                          "description": "Primary topic",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "rules": {
                          "type": "array",
                          "description": "Community rules",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "id"
                      ]
                    }
                  }
                },
                "example": {
                  "community": {
                    "id": "1500000000000000000",
                    "name": "Tesla Fans",
                    "description": "A community for Tesla enthusiasts",
                    "banner_url": "https://xquik.com/example",
                    "created_at": "2025-01-15T12:00:00Z",
                    "join_policy": "open",
                    "member_count": 10000,
                    "moderator_count": 5
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/communities/{id}/members": {
      "get": {
        "operationId": "getCommunityMembers",
        "summary": "List members of a community",
        "tags": [
          "Communities"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Community ID for member lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "See the public API reference for details."
          }
        ],
        "responses": {
          "200": {
            "description": "List of community members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/communities/{id}/moderators": {
      "get": {
        "operationId": "getCommunityModerators",
        "summary": "List moderators of a community",
        "tags": [
          "Communities"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Community ID for moderator lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for community moderators"
          }
        ],
        "responses": {
          "200": {
            "description": "List of community moderators",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/communities/{id}/tweets": {
      "get": {
        "operationId": "getCommunityTweets",
        "summary": "List tweets posted in a community",
        "tags": [
          "Communities"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Community ID for tweet lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for community tweets"
          }
        ],
        "responses": {
          "200": {
            "description": "List of community tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/communities/search": {
      "get": {
        "operationId": "searchCommunities",
        "summary": "Search for communities by keyword",
        "tags": [
          "Communities"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "queryType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order (Latest or Top)"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for community search"
          }
        ],
        "responses": {
          "200": {
            "description": "Community search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/communities/tweets": {
      "get": {
        "operationId": "getAllCommunityTweets",
        "summary": "List tweets across all communities",
        "tags": [
          "Communities"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query for cross-community tweets"
          },
          {
            "name": "queryType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order for cross-community results (Latest or Top)"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for cross-community results"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of tweets from all communities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/lists/{id}/followers": {
      "get": {
        "operationId": "getListFollowers",
        "summary": "List followers of an X List",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "List ID"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for list followers"
          }
        ],
        "responses": {
          "200": {
            "description": "List of followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/lists/{id}/members": {
      "get": {
        "operationId": "getListMembers",
        "summary": "List members of an X List",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "List ID for member lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for list members"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Members per page (20-200, default 20)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/lists/{id}/tweets": {
      "get": {
        "operationId": "getListTweets",
        "summary": "List tweets from an X List",
        "tags": [
          "Lists"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "List ID for tweet lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for list tweets"
          },
          {
            "name": "sinceTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - filter after"
          },
          {
            "name": "untilTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - filter before"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include replies (default false)"
          }
        ],
        "responses": {
          "200": {
            "description": "List tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/tweets/{id}/quotes": {
      "get": {
        "operationId": "getTweetQuotes",
        "summary": "List quote tweets of a tweet",
        "tags": [
          "Tweets"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tweet ID to get quotes"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for quote tweets"
          },
          {
            "name": "sinceTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - return quotes posted after this time"
          },
          {
            "name": "untilTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - return quotes posted before this time"
          },
          {
            "name": "includeReplies",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include reply quotes (default false)"
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of quote tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/tweets/{id}/replies": {
      "get": {
        "operationId": "getTweetReplies",
        "summary": "List replies to a tweet",
        "tags": [
          "Tweets"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tweet ID to get replies"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for tweet replies"
          },
          {
            "name": "sinceTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - return replies posted after this time"
          },
          {
            "name": "untilTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - return replies posted before this time"
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of replies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/tweets/{id}/retweeters": {
      "get": {
        "operationId": "getTweetRetweeters",
        "summary": "List users who retweeted a tweet",
        "tags": [
          "Tweets"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tweet ID to get retweeters"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for retweeters"
          }
        ],
        "responses": {
          "200": {
            "description": "List of retweeters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/tweets/{id}/thread": {
      "get": {
        "operationId": "getTweetThread",
        "summary": "Get full conversation thread for a tweet",
        "tags": [
          "Tweets"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tweet ID to get thread context"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for thread tweets"
          }
        ],
        "responses": {
          "200": {
            "description": "Thread tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/followers": {
      "get": {
        "operationId": "getUserFollowers",
        "summary": "List followers of a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID or username"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for followers list"
          },
          {
            "name": "after",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Legacy cursor alias for following lists. Prefer cursor."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "See the public API reference for details."
          },
          {
            "name": "limit",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "integer"
            },
            "description": "Legacy integer page size alias for following lists. Prefer pageSize."
          }
        ],
        "responses": {
          "200": {
            "description": "List of user followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/following": {
      "get": {
        "operationId": "getUserFollowing",
        "summary": "List accounts a user follows",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID or username for following lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for following list"
          },
          {
            "name": "after",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Legacy cursor alias. Prefer cursor."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "See the public API reference for details."
          },
          {
            "name": "limit",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "integer"
            },
            "description": "Legacy page size alias. Prefer pageSize."
          }
        ],
        "responses": {
          "200": {
            "description": "List of following",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/mentions": {
      "get": {
        "operationId": "getUserMentions",
        "summary": "List tweets mentioning a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID or username for mentions lookup"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for mentions"
          },
          {
            "name": "sinceTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - return mentions after this time"
          },
          {
            "name": "untilTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unix timestamp - return mentions before this time"
          },
          {
            "$ref": "#/components/parameters/TweetFilterFromUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterToUser"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMentioning"
          },
          {
            "$ref": "#/components/parameters/TweetFilterLanguage"
          },
          {
            "$ref": "#/components/parameters/TweetFilterSinceDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUntilDate"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMediaType"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinFaves"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterMinQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterVerifiedOnly"
          },
          {
            "$ref": "#/components/parameters/TweetFilterReplies"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweets"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotes"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExactPhrase"
          },
          {
            "$ref": "#/components/parameters/TweetFilterExcludeWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterAnyWords"
          },
          {
            "$ref": "#/components/parameters/TweetFilterHashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterCashtags"
          },
          {
            "$ref": "#/components/parameters/TweetFilterUrl"
          },
          {
            "$ref": "#/components/parameters/TweetFilterConversationId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterInReplyToTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterQuotesOfTweetId"
          },
          {
            "$ref": "#/components/parameters/TweetFilterRetweetsOfTweetId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of mentions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTweets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/x/users/{id}/verified-followers": {
      "get": {
        "operationId": "getUserVerifiedFollowers",
        "summary": "List verified followers of a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID or username for verified followers"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for verified followers"
          }
        ],
        "responses": {
          "200": {
            "description": "List of verified followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key passed via the x-api-key header. Xquik-Api-Key is accepted as a non-breaking vendor-prefixed alias."
      },
      "oauthBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 access token"
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "Unauthenticated",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "unauthenticated",
              "message": "Authentication required. Provide a valid API key or bearer token."
            }
          }
        }
      },
      "XApiError": {
[...]
