{
  "openapi": "3.0.3",
  "info": {
    "title": "Threema Broadcast API",
    "description": "API for managing Threema Broadcast identities, bots, distribution lists, feeds, groups, and messaging.",
    "version": "1.12.2",
    "x-jentic-source-url": "https://broadcast.threema.ch/en/api-doc"
  },
  "servers": [
    {
      "url": "https://broadcast.threema.ch/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/identities/{broadcastUid}/bots": {
      "get": {
        "operationId": "listbots",
        "summary": "List all bots",
        "description": "Retrieve all bots for a broadcast identity.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter bots by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createbot",
        "summary": "Create a bot",
        "description": "Create a new bot for a broadcast identity.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bot created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}": {
      "get": {
        "operationId": "getbot",
        "summary": "Get bot details",
        "description": "Retrieve details of a specific bot.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Bot details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Bot not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatebot",
        "summary": "Update a bot",
        "description": "Update a bot's details.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bot updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletebot",
        "summary": "Delete a bot",
        "description": "Delete a bot (requires state to be 'deleted').",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          }
        ],
        "responses": {
          "204": {
            "description": "Bot deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}/{botState}": {
      "put": {
        "operationId": "updatebotstate",
        "summary": "Update bot state",
        "description": "Set a bot to active or deleted state.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "name": "botState",
            "in": "path",
            "required": true,
            "description": "The desired bot state",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "deleted"
              ]
            }
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Bot state updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}/commands": {
      "get": {
        "operationId": "listbotcommands",
        "summary": "List bot commands",
        "description": "List all commands for a bot.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of commands",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotCommand"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createbotcommand",
        "summary": "Create bot command",
        "description": "Create a new command for a bot.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotCommandRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Command created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotCommand"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}/commands/{commandUid}": {
      "get": {
        "operationId": "getbotcommand",
        "summary": "Get bot command",
        "description": "Get details of a specific bot command.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "$ref": "#/components/parameters/commandUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          },
          {
            "name": "commandUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The commandUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Command details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Command not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatebotcommand",
        "summary": "Update bot command",
        "description": "Update a bot command.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "$ref": "#/components/parameters/commandUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          },
          {
            "name": "commandUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The commandUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotCommand"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletebotcommand",
        "summary": "Delete bot command",
        "description": "Delete a bot command.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/botUid"
          },
          {
            "$ref": "#/components/parameters/commandUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The botUid"
          },
          {
            "name": "commandUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The commandUid"
          }
        ],
        "responses": {
          "204": {
            "description": "Command deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Command not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists": {
      "get": {
        "operationId": "listdistributionlists",
        "summary": "List distribution lists",
        "description": "List all distribution lists for a broadcast identity.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of distribution lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistributionList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createdistributionlist",
        "summary": "Create distribution list",
        "description": "Create a new distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistributionListCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Distribution list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}": {
      "get": {
        "operationId": "getdistributionlist",
        "summary": "Get distribution list",
        "description": "Get details of a specific distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Distribution list details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatedistributionlist",
        "summary": "Update distribution list",
        "description": "Update a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistributionListCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Distribution list updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletedistributionlist",
        "summary": "Delete distribution list",
        "description": "Delete a distribution list (requires state to be 'deleted').",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "responses": {
          "204": {
            "description": "Distribution list deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/chat": {
      "get": {
        "operationId": "getdistributionlistchat",
        "summary": "Get chat history",
        "description": "Get chat history for a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMessages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "senddistributionlistmessage",
        "summary": "Send message to distribution list",
        "description": "Send a message to a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/chat/{messageUid}": {
      "get": {
        "operationId": "getdistributionlistmessage",
        "summary": "Get message details",
        "description": "Get details of a specific message in a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "$ref": "#/components/parameters/messageUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          },
          {
            "name": "messageUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The messageUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletedistributionlistmessage",
        "summary": "Delete message",
        "description": "Delete a message from a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "$ref": "#/components/parameters/messageUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          },
          {
            "name": "messageUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The messageUid"
          }
        ],
        "responses": {
          "204": {
            "description": "Message deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/chat/{messageUid}/delivery": {
      "get": {
        "operationId": "getdistributionlistmessagedelivery",
        "summary": "Get delivery stats",
        "description": "Get delivery statistics for a message.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "$ref": "#/components/parameters/messageUid"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          },
          {
            "name": "messageUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The messageUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/recipients": {
      "get": {
        "operationId": "listdistributionlistrecipients",
        "summary": "List recipients",
        "description": "List recipients of a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recipients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRecipients"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "adddistributionlistrecipients",
        "summary": "Add recipients",
        "description": "Add recipients to a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRecipientsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientsResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removedistributionlistrecipients",
        "summary": "Remove recipients",
        "description": "Remove recipients from a distribution list.",
        "tags": [
          "Distribution Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/distributionListUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The distributionListUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveRecipientsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Recipients removed"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/feeds": {
      "get": {
        "operationId": "listfeeds",
        "summary": "List feeds",
        "description": "List all feeds for a broadcast identity.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of feeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createfeed",
        "summary": "Create feed",
        "description": "Create a new feed.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feed created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/feeds/{feedUid}": {
      "get": {
        "operationId": "getfeed",
        "summary": "Get feed details",
        "description": "Get details of a specific feed.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/feedUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "feedUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The feedUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatefeed",
        "summary": "Update feed",
        "description": "Update a feed.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/feedUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "feedUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The feedUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feed updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletefeed",
        "summary": "Delete feed",
        "description": "Delete a feed.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/feedUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "feedUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The feedUid"
          }
        ],
        "responses": {
          "204": {
            "description": "Feed deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/groups": {
      "get": {
        "operationId": "listgroups",
        "summary": "List groups",
        "description": "List all groups for a broadcast identity.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "creategroup",
        "summary": "Create group",
        "description": "Create a new group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/groups/{groupUid}": {
      "get": {
        "operationId": "getgroup",
        "summary": "Get group details",
        "description": "Get details of a specific group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updategroup",
        "summary": "Update group",
        "description": "Update a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletegroup",
        "summary": "Delete group",
        "description": "Delete a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/groups/{groupUid}/chat": {
      "get": {
        "operationId": "getgroupchat",
        "summary": "Get group chat history",
        "description": "Get chat history for a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMessages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "sendgroupmessage",
        "summary": "Send group message",
        "description": "Send a message to a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/groups/{groupUid}/members": {
      "get": {
        "operationId": "listgroupmembers",
        "summary": "List group members",
        "description": "List members of a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRecipients"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addgroupmembers",
        "summary": "Add group members",
        "description": "Add members to a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRecipientsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientsResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removegroupmembers",
        "summary": "Remove group members",
        "description": "Remove members from a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "$ref": "#/components/parameters/groupUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          },
          {
            "name": "groupUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The groupUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveRecipientsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Members removed"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}": {
      "get": {
        "operationId": "getidentity",
        "summary": "Get identity details",
        "description": "Get details of a broadcast identity.",
        "tags": [
          "Identities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "responses": {
          "200": {
            "description": "Identity details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateidentity",
        "summary": "Update identity",
        "description": "Update a broadcast identity.",
        "tags": [
          "Identities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/broadcastUid"
          },
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The broadcastUid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identities": {
      "get": {
        "operationId": "listIdentities",
        "summary": "List broadcast identities",
        "tags": [
          "Identities"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Filter query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityList"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/avatar": {
      "get": {
        "operationId": "getIdentityAvatar",
        "summary": "Get identity avatar",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Avatar image.",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateIdentityAvatar",
        "summary": "Update identity avatar",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "image/*": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar updated."
          }
        }
      },
      "delete": {
        "operationId": "deleteIdentityAvatar",
        "summary": "Delete identity avatar",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/identities/{broadcastUid}/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List identity languages",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLanguage",
        "summary": "Create language",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lang": {
                    "type": "string"
                  }
                },
                "required": [
                  "lang"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Language created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/languages/order": {
      "put": {
        "operationId": "updateLanguageOrder",
        "summary": "Update language order",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated."
          }
        }
      }
    },
    "/identities/{broadcastUid}/languages/{lang}": {
      "get": {
        "operationId": "getLanguage",
        "summary": "Get language details",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateLanguage",
        "summary": "Update language",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Language"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Language updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLanguage",
        "summary": "Delete language",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/identities/{broadcastUid}/recipients": {
      "get": {
        "operationId": "listIdentityRecipients",
        "summary": "List identity recipients",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientList"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteIdentityRecipients",
        "summary": "Delete identity recipients",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content."
          }
        }
      }
    },
    "/identities/{broadcastUid}/recipients/{recipientId}": {
      "get": {
        "operationId": "getRecipient",
        "summary": "Get recipient details",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateRecipient",
        "summary": "Update recipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Recipient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/recipients/{recipientId}/replace": {
      "put": {
        "operationId": "replaceRecipient",
        "summary": "Replace recipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Recipient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient replaced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/polls": {
      "get": {
        "operationId": "listPolls",
        "summary": "List polls",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollList"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/polls/{pollUid}": {
      "get": {
        "operationId": "getPoll",
        "summary": "Get poll details",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pollUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Poll"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/polls/{pollUid}/choices/{choiceUid}/votes": {
      "get": {
        "operationId": "getPollVotes",
        "summary": "Get poll choice votes",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pollUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "choiceUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteList"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/polls/{pollUid}/close": {
      "put": {
        "operationId": "closePoll",
        "summary": "Close a poll",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pollUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Poll closed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Poll"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get current user profile",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/feeds/{feedUid}/chat": {
      "get": {
        "operationId": "listFeedChat",
        "summary": "List feed chat messages",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "description": "Broadcast identity UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
[...]
