{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Feather AI API",
    "x-jentic-source-url": "https://docs.featherhq.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://prod.featherhq.com",
      "description": "Production environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "truncatedKey": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          },
          "clerkOrgId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "truncatedKey",
          "createdAt",
          "lastUsedAt",
          "clerkOrgId"
        ]
      },
      "TestingLabScenariosResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "number"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "name": {
                  "type": "string"
                },
                "personality": {
                  "type": "number"
                },
                "personality_name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "instructions": {
                  "type": "string"
                },
                "expected_outcome_prompt": {
                  "type": "string"
                },
                "scenario_language": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "id",
                "name",
                "personality",
                "personality_name",
                "phone_number",
                "instructions",
                "expected_outcome_prompt",
                "scenario_language",
                "tags"
              ]
            }
          }
        },
        "required": [
          "count",
          "next",
          "previous",
          "results"
        ]
      },
      "TestingLabGenerateScenariosRequest": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "number"
          },
          "assistant_id": {
            "type": "string"
          },
          "personalities": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "num_scenarios": {
            "type": "number"
          },
          "test_profile": {
            "type": "number"
          },
          "extra_instructions": {
            "type": "string"
          },
          "inbound_phone_number": {
            "type": "number"
          },
          "first_message": {
            "type": "string"
          },
          "generate_expected_outcomes": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tool_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "agent_id",
          "num_scenarios",
          "inbound_phone_number",
          "first_message"
        ]
      },
      "TestingLabScenarioDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "agent": {
            "type": "number"
          },
          "personality": {
            "type": "number"
          },
          "personality_name": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tool_ids": {
            "nullable": true
          },
          "runs": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "metric_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phone_number": {
            "type": "string"
          },
          "first_message": {
            "type": "string"
          },
          "inbound_phone_number": {
            "type": "number"
          },
          "inbound_phone_number_data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "number": {
                "type": "string"
              },
              "phone_number_id": {
                "type": "string"
              },
              "common": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "number",
              "phone_number_id",
              "common"
            ]
          },
          "instructions": {
            "type": "string"
          },
          "simulation_description": {
            "type": "string"
          },
          "information_fields": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "expected_outcome_prompt": {
            "type": "string"
          },
          "scenario_language": {
            "type": "string"
          },
          "test_profile": {
            "type": "number"
          },
          "test_profile_data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "agent": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "information": {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                }
              }
            },
            "required": [
              "id",
              "agent",
              "name",
              "information"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "agent",
          "personality",
          "personality_name",
          "tags",
          "runs",
          "metrics",
          "metric_names",
          "phone_number",
          "first_message",
          "inbound_phone_number",
          "inbound_phone_number_data",
          "instructions",
          "simulation_description",
          "information_fields",
          "expected_outcome_prompt",
          "scenario_language",
          "test_profile",
          "test_profile_data"
        ]
      },
      "TestingLabUpdatedScenario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "agent": {
            "type": "number"
          },
          "personality": {
            "type": "number"
          },
          "personality_name": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tool_ids": {
            "nullable": true
          },
          "runs": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "metric_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phone_number": {
            "type": "string"
          },
          "first_message": {
            "type": "string"
          },
          "inbound_phone_number": {
            "type": "number"
          },
          "inbound_phone_number_data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "number": {
                "type": "string"
              },
              "phone_number_id": {
                "type": "string"
              },
              "common": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "number",
              "phone_number_id",
              "common"
            ]
          },
          "instructions": {
            "type": "string"
          },
          "simulation_description": {
            "type": "string"
          },
          "information_fields": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "expected_outcome_prompt": {
            "type": "string"
          },
          "scenario_language": {
            "type": "string"
          },
          "test_profile": {
            "type": "number"
          },
          "test_profile_data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "agent": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "information": {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                }
              }
            },
            "required": [
              "id",
              "agent",
              "name",
              "information"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "agent",
          "personality",
          "personality_name",
          "tags",
          "runs",
          "metrics",
          "metric_names",
          "phone_number",
          "first_message",
          "inbound_phone_number",
          "inbound_phone_number_data",
          "instructions",
          "simulation_description",
          "information_fields",
          "expected_outcome_prompt",
          "scenario_language",
          "test_profile",
          "test_profile_data"
        ]
      },
      "TestingLabUpdateScenarioRequest": {
        "type": "object",
        "properties": {
          "agent": {
            "type": "number"
          },
          "assistant_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "personality": {
            "type": "number"
          },
          "instructions": {
            "type": "string"
          },
          "expected_outcome_prompt": {
            "type": "string"
          },
          "metrics": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tool_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TestingLabRunScenariosResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "agent": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "success_rate": {
            "type": "number"
          },
          "run_as_text": {
            "type": "boolean"
          },
          "runs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "scenario": {
                  "type": "number"
                },
                "number": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "scenario",
                "number"
              ]
            }
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "agent",
          "status",
          "success_rate",
          "run_as_text",
          "runs",
          "created_at"
        ]
      },
      "TestingLabRunScenariosRequest": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "number"
          },
          "assistant_id": {
            "type": "string"
          },
          "scenarios": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "frequency": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "outbound_phone_number": {
            "type": "string"
          }
        },
        "required": [
          "agent_id",
          "scenarios",
          "frequency",
          "name",
          "outbound_phone_number"
        ]
      },
      "CreateCekuraMetricResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "project": {
            "type": "number",
            "nullable": true
          },
          "agent": {
            "type": "number",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "basic",
              "custom_prompt",
              "custom_code",
              "llm_judge"
            ]
          },
          "eval_type": {
            "type": "string",
            "enum": [
              "binary_workflow_adherence",
              "binary_qualitative",
              "continuous_qualitative",
              "numeric",
              "enum"
            ]
          },
          "enum_values": {
            "nullable": true
          },
          "audio_enabled": {
            "type": "boolean"
          },
          "prompt": {
            "type": "string"
          },
          "evaluation_trigger": {
            "type": "string",
            "enum": [
              "always",
              "automatic",
              "custom"
            ]
          },
          "evaluation_trigger_prompt": {
            "type": "string"
          },
          "priority_assignment_prompt": {
            "type": "string"
          },
          "configuration": {
            "nullable": true
          },
          "overall_score": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "total_score": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "knowledge_base_files": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "nullable": true
                }
              }
            ]
          },
          "observability_enabled": {
            "type": "boolean"
          },
          "simulation_enabled": {
            "type": "boolean"
          },
          "alert_enabled": {
            "type": "boolean"
          },
          "alert_type": {
            "type": "string",
            "enum": [
              "disabled",
              "normal",
              "significant_change"
            ]
          },
          "significant_change_alert_status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "significant_change_alert_direction": {
            "type": "string",
            "enum": [
              "",
              "increase",
              "decrease"
            ]
          },
          "function_name": {
            "type": "string",
            "nullable": true
          },
          "custom_code": {
            "type": "string"
          },
          "vocera_defined_metric_code": {
            "type": "string"
          },
          "agents": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "assistant_id": {
            "type": "string"
          },
          "display_order": {
            "type": "integer"
          },
          "reviews": {
            "type": "array",
            "items": {
              "nullable": true
            }
          },
          "window_size": {
            "type": "number"
          },
          "std_multiplier": {
            "type": "number"
          },
          "ewma_alpha": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "TestingLabMetricsResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CreateCekuraMetricResponse"
        }
      },
      "CreateCekuraMetricRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the metric"
          },
          "description": {
            "type": "string",
            "description": "Description of what this metric evaluates"
          },
          "audio_enabled": {
            "type": "boolean",
            "description": "Whether this metric evaluates audio content"
          },
          "prompt": {
            "type": "string",
            "description": "The evaluation prompt used for this metric"
          },
          "agent": {
            "type": "number",
            "nullable": true,
            "description": "ID of the agent for agent-level metrics. Either agent or project must be provided."
          },
          "project": {
            "type": "number",
            "nullable": true,
            "description": "ID of the project for project-level metrics. Either agent or project must be provided."
          },
          "agents": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "List of agent IDs to enable this project-level metric for. Only applicable when project is set."
          },
          "assistant_id": {
            "type": "string",
            "description": "External identifier for the assistant"
          },
          "type": {
            "type": "string",
            "enum": [
              "basic",
              "custom_prompt",
              "custom_code",
              "llm_judge"
            ],
            "description": "Type of metric"
          },
          "eval_type": {
            "type": "string",
            "enum": [
              "binary_workflow_adherence",
              "binary_qualitative",
              "continuous_qualitative",
              "numeric",
              "enum"
            ],
            "description": "Type of evaluation"
          },
          "enum_values": {
            "nullable": true,
            "description": "Possible values for enum-type metrics"
          },
          "evaluation_trigger": {
            "type": "string",
            "enum": [
              "always",
              "automatic",
              "custom"
            ],
            "description": "Evaluation trigger"
          },
          "evaluation_trigger_prompt": {
            "type": "string",
            "description": "Evaluation trigger prompt"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateCekuraMetricResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "project": {
            "type": "number",
            "nullable": true
          },
          "agent": {
            "type": "number",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "basic",
              "custom_prompt",
              "custom_code",
              "llm_judge"
            ]
          },
          "eval_type": {
            "type": "string",
            "enum": [
              "binary_workflow_adherence",
              "binary_qualitative",
              "continuous_qualitative",
              "numeric",
              "enum"
            ]
          },
          "enum_values": {
            "nullable": true
          },
          "audio_enabled": {
            "type": "boolean"
          },
          "prompt": {
            "type": "string"
          },
          "evaluation_trigger": {
            "type": "string",
            "enum": [
              "always",
              "automatic",
              "custom"
            ]
          },
          "evaluation_trigger_prompt": {
            "type": "string"
          },
          "priority_assignment_prompt": {
            "type": "string"
          },
          "configuration": {
            "nullable": true
          },
          "overall_score": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "total_score": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "knowledge_base_files": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "nullable": true
                }
              }
            ]
          },
          "observability_enabled": {
            "type": "boolean"
          },
          "simulation_enabled": {
            "type": "boolean"
          },
          "alert_enabled": {
            "type": "boolean"
          },
          "alert_type": {
            "type": "string",
            "enum": [
              "disabled",
              "normal",
              "significant_change"
            ]
          },
          "significant_change_alert_status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "significant_change_alert_direction": {
            "type": "string",
            "enum": [
              "",
              "increase",
              "decrease"
            ]
          },
          "function_name": {
            "type": "string",
            "nullable": true
          },
          "custom_code": {
            "type": "string"
          },
          "vocera_defined_metric_code": {
            "type": "string"
          },
          "agents": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "assistant_id": {
            "type": "string"
          },
          "display_order": {
            "type": "integer"
          },
          "reviews": {
            "type": "array",
            "items": {
              "nullable": true
            }
          },
          "window_size": {
            "type": "number"
          },
          "std_multiplier": {
            "type": "number"
          },
          "ewma_alpha": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "UpdateCekuraMetricRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the metric"
          },
          "description": {
            "type": "string",
            "description": "Description of what this metric evaluates"
          },
          "audio_enabled": {
            "type": "boolean",
            "description": "Whether this metric evaluates audio content"
          },
          "prompt": {
            "type": "string",
            "description": "The evaluation prompt used for this metric"
          },
          "agent": {
            "type": "number",
            "nullable": true,
            "description": "ID of the agent for agent-level metrics. Either agent or project must be provided."
          },
          "project": {
            "type": "number",
            "nullable": true,
            "description": "ID of the project for project-level metrics. Either agent or project must be provided."
          },
          "agents": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "List of agent IDs to enable this project-level metric for. Only applicable when project is set."
          },
          "assistant_id": {
            "type": "string",
            "description": "External identifier for the assistant"
          },
          "type": {
            "type": "string",
            "enum": [
              "basic",
              "custom_prompt",
              "custom_code",
              "llm_judge"
            ],
            "description": "Type of metric"
          },
          "eval_type": {
            "type": "string",
            "enum": [
              "binary_workflow_adherence",
              "binary_qualitative",
              "continuous_qualitative",
              "numeric",
              "enum"
            ],
            "description": "Type of evaluation"
          },
          "enum_values": {
            "nullable": true,
            "description": "Possible values for enum-type metrics"
          },
          "evaluation_trigger": {
            "type": "string",
            "enum": [
              "always",
              "automatic",
              "custom"
            ],
            "description": "Evaluation trigger"
          },
          "evaluation_trigger_prompt": {
            "type": "string",
            "description": "Evaluation trigger prompt"
          }
        }
      },
      "WorkflowSchedule": {
        "type": "object",
        "properties": {
          "monday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "tuesday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "wednesday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "thursday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "friday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "saturday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "sunday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "globalTimeRanges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "startHour": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 23,
                  "description": "Start hour (0-23)",
                  "example": 9
                },
                "startMinute": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 59,
                  "description": "Start minute (0-59)",
                  "example": 0
                },
                "endHour": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 23,
                  "description": "End hour (0-23)",
                  "example": 17
                },
                "endMinute": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 59,
                  "description": "End minute (0-59)",
                  "example": 0
                }
              },
              "required": [
                "startHour",
                "startMinute",
                "endHour",
                "endMinute"
              ],
              "description": "Time range for a day using separate hour/minute numbers",
              "example": {
                "startHour": 9,
                "startMinute": 0,
                "endHour": 17,
                "endMinute": 0
              }
            },
            "description": "Global time ranges that apply to all enabled days if day-specific ranges are not set"
          },
          "exceptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                  "description": "Date in YYYY-MM-DD format",
                  "example": "2024-12-25"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Whether calls are allowed on this date"
                },
                "timeRanges": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startHour": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 23,
                        "description": "Start hour (0-23)",
                        "example": 9
                      },
                      "startMinute": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 59,
                        "description": "Start minute (0-59)",
                        "example": 0
                      },
                      "endHour": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 23,
                        "description": "End hour (0-23)",
                        "example": 17
                      },
                      "endMinute": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 59,
                        "description": "End minute (0-59)",
                        "example": 0
                      }
                    },
                    "required": [
                      "startHour",
                      "startMinute",
                      "endHour",
                      "endMinute"
                    ],
                    "description": "Time range for a day using separate hour/minute numbers",
                    "example": {
                      "startHour": 9,
                      "startMinute": 0,
                      "endHour": 17,
                      "endMinute": 0
                    }
                  },
                  "description": "Custom time ranges for this exception date"
                },
                "reason": {
                  "type": "string",
                  "description": "Reason for the exception (e.g., \"Christmas Day\")"
                }
              },
              "required": [
                "date",
                "enabled"
              ]
            },
            "default": [],
            "description": "Exception dates (holidays, special events, etc.)"
          }
        },
        "description": "Workflow schedule - operates in workflow timezone defined above",
        "example": {
          "monday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 9,
                "startMinute": 0,
                "endHour": 17,
                "endMinute": 0
              }
            ]
          },
          "tuesday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 9,
                "startMinute": 0,
                "endHour": 17,
                "endMinute": 0
              }
            ]
          },
          "wednesday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 9,
                "startMinute": 0,
                "endHour": 17,
                "endMinute": 0
              }
            ]
          },
          "thursday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 9,
                "startMinute": 0,
                "endHour": 17,
                "endMinute": 0
              }
            ]
          },
          "friday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 9,
                "startMinute": 0,
                "endHour": 17,
                "endMinute": 0
              }
            ]
          },
          "saturday": {
            "enabled": false,
            "timeRanges": []
          },
          "sunday": {
            "enabled": false,
            "timeRanges": []
          }
        }
      },
      "TcpaSchedule": {
        "type": "object",
        "properties": {
          "monday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "tuesday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "wednesday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "thursday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "friday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "saturday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "sunday": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": true,
                "description": "Whether this day is enabled"
              },
              "timeRanges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "startHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Start hour (0-23)",
                      "example": 9
                    },
                    "startMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "Start minute (0-59)",
                      "example": 0
                    },
                    "endHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "End hour (0-23)",
                      "example": 17
                    },
                    "endMinute": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 59,
                      "description": "End minute (0-59)",
                      "example": 0
                    }
                  },
                  "required": [
                    "startHour",
                    "startMinute",
                    "endHour",
                    "endMinute"
                  ],
                  "description": "Time range for a day using separate hour/minute numbers",
                  "example": {
                    "startHour": 9,
                    "startMinute": 0,
                    "endHour": 17,
                    "endMinute": 0
                  }
                },
                "minItems": 0,
                "default": [],
                "description": "Time ranges when calls are allowed on this day"
              }
            },
            "description": "Schedule configuration for a specific day"
          },
          "globalTimeRanges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "startHour": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 23,
                  "description": "Start hour (0-23)",
                  "example": 9
                },
                "startMinute": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 59,
                  "description": "Start minute (0-59)",
                  "example": 0
                },
                "endHour": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 23,
                  "description": "End hour (0-23)",
                  "example": 17
                },
                "endMinute": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 59,
                  "description": "End minute (0-59)",
                  "example": 0
                }
              },
              "required": [
                "startHour",
                "startMinute",
                "endHour",
                "endMinute"
              ],
              "description": "Time range for a day using separate hour/minute numbers",
              "example": {
                "startHour": 9,
                "startMinute": 0,
                "endHour": 17,
                "endMinute": 0
              }
            },
            "description": "Global time ranges that apply to all enabled days if day-specific ranges are not set"
          },
          "stateOverrides": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "monday": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether this day is enabled"
                    },
                    "timeRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "Start hour (0-23)",
                            "example": 9
                          },
                          "startMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "Start minute (0-59)",
                            "example": 0
                          },
                          "endHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "End hour (0-23)",
                            "example": 17
                          },
                          "endMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "End minute (0-59)",
                            "example": 0
                          }
                        },
                        "required": [
                          "startHour",
                          "startMinute",
                          "endHour",
                          "endMinute"
                        ],
                        "description": "Time range for a day using separate hour/minute numbers",
                        "example": {
                          "startHour": 9,
                          "startMinute": 0,
                          "endHour": 17,
                          "endMinute": 0
                        }
                      },
                      "minItems": 0,
                      "default": [],
                      "description": "Time ranges when calls are allowed on this day"
                    }
                  },
                  "description": "Schedule configuration for a specific day"
                },
                "tuesday": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether this day is enabled"
                    },
                    "timeRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "Start hour (0-23)",
                            "example": 9
                          },
                          "startMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "Start minute (0-59)",
                            "example": 0
                          },
                          "endHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "End hour (0-23)",
                            "example": 17
                          },
                          "endMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "End minute (0-59)",
                            "example": 0
                          }
                        },
                        "required": [
                          "startHour",
                          "startMinute",
                          "endHour",
                          "endMinute"
                        ],
                        "description": "Time range for a day using separate hour/minute numbers",
                        "example": {
                          "startHour": 9,
                          "startMinute": 0,
                          "endHour": 17,
                          "endMinute": 0
                        }
                      },
                      "minItems": 0,
                      "default": [],
                      "description": "Time ranges when calls are allowed on this day"
                    }
                  },
                  "description": "Schedule configuration for a specific day"
                },
                "wednesday": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether this day is enabled"
                    },
                    "timeRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "Start hour (0-23)",
                            "example": 9
                          },
                          "startMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "Start minute (0-59)",
                            "example": 0
                          },
                          "endHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "End hour (0-23)",
                            "example": 17
                          },
                          "endMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "End minute (0-59)",
                            "example": 0
                          }
                        },
                        "required": [
                          "startHour",
                          "startMinute",
                          "endHour",
                          "endMinute"
                        ],
                        "description": "Time range for a day using separate hour/minute numbers",
                        "example": {
                          "startHour": 9,
                          "startMinute": 0,
                          "endHour": 17,
                          "endMinute": 0
                        }
                      },
                      "minItems": 0,
                      "default": [],
                      "description": "Time ranges when calls are allowed on this day"
                    }
                  },
                  "description": "Schedule configuration for a specific day"
                },
                "thursday": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether this day is enabled"
                    },
                    "timeRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "Start hour (0-23)",
                            "example": 9
                          },
                          "startMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "Start minute (0-59)",
                            "example": 0
                          },
                          "endHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "End hour (0-23)",
                            "example": 17
                          },
                          "endMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "End minute (0-59)",
                            "example": 0
                          }
                        },
                        "required": [
                          "startHour",
                          "startMinute",
                          "endHour",
                          "endMinute"
                        ],
                        "description": "Time range for a day using separate hour/minute numbers",
                        "example": {
                          "startHour": 9,
                          "startMinute": 0,
                          "endHour": 17,
                          "endMinute": 0
                        }
                      },
                      "minItems": 0,
                      "default": [],
                      "description": "Time ranges when calls are allowed on this day"
                    }
                  },
                  "description": "Schedule configuration for a specific day"
                },
                "friday": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether this day is enabled"
                    },
                    "timeRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "Start hour (0-23)",
                            "example": 9
                          },
                          "startMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "Start minute (0-59)",
                            "example": 0
                          },
                          "endHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "End hour (0-23)",
                            "example": 17
                          },
                          "endMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "End minute (0-59)",
                            "example": 0
                          }
                        },
                        "required": [
                          "startHour",
                          "startMinute",
                          "endHour",
                          "endMinute"
                        ],
                        "description": "Time range for a day using separate hour/minute numbers",
                        "example": {
                          "startHour": 9,
                          "startMinute": 0,
                          "endHour": 17,
                          "endMinute": 0
                        }
                      },
                      "minItems": 0,
                      "default": [],
                      "description": "Time ranges when calls are allowed on this day"
                    }
                  },
                  "description": "Schedule configuration for a specific day"
                },
                "saturday": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether this day is enabled"
                    },
                    "timeRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "Start hour (0-23)",
                            "example": 9
                          },
                          "startMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "Start minute (0-59)",
                            "example": 0
                          },
                          "endHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "End hour (0-23)",
                            "example": 17
                          },
                          "endMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "End minute (0-59)",
                            "example": 0
                          }
                        },
                        "required": [
                          "startHour",
                          "startMinute",
                          "endHour",
                          "endMinute"
                        ],
                        "description": "Time range for a day using separate hour/minute numbers",
                        "example": {
                          "startHour": 9,
                          "startMinute": 0,
                          "endHour": 17,
                          "endMinute": 0
                        }
                      },
                      "minItems": 0,
                      "default": [],
                      "description": "Time ranges when calls are allowed on this day"
                    }
                  },
                  "description": "Schedule configuration for a specific day"
                },
                "sunday": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "default": true,
                      "description": "Whether this day is enabled"
                    },
                    "timeRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "Start hour (0-23)",
                            "example": 9
                          },
                          "startMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "Start minute (0-59)",
                            "example": 0
                          },
                          "endHour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23,
                            "description": "End hour (0-23)",
                            "example": 17
                          },
                          "endMinute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59,
                            "description": "End minute (0-59)",
                            "example": 0
                          }
                        },
                        "required": [
                          "startHour",
                          "startMinute",
                          "endHour",
                          "endMinute"
                        ],
                        "description": "Time range for a day using separate hour/minute numbers",
                        "example": {
                          "startHour": 9,
                          "startMinute": 0,
                          "endHour": 17,
                          "endMinute": 0
                        }
                      },
                      "minItems": 0,
                      "default": [],
                      "description": "Time ranges when calls are allowed on this day"
                    }
                  },
                  "description": "Schedule configuration for a specific day"
                }
              }
            },
            "description": "State-specific TCPA schedule overrides (e.g., different rules for CA, NY)"
          }
        },
        "description": "TCPA schedule - applies to borrower local timezone",
        "example": {
          "monday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 8,
                "startMinute": 0,
                "endHour": 21,
                "endMinute": 0
              }
            ]
          },
          "tuesday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 8,
                "startMinute": 0,
                "endHour": 21,
                "endMinute": 0
              }
            ]
          },
          "wednesday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 8,
                "startMinute": 0,
                "endHour": 21,
                "endMinute": 0
              }
            ]
          },
          "thursday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 8,
                "startMinute": 0,
                "endHour": 21,
                "endMinute": 0
              }
            ]
          },
          "friday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 8,
                "startMinute": 0,
                "endHour": 21,
                "endMinute": 0
              }
            ]
          },
          "saturday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 8,
                "startMinute": 0,
                "endHour": 21,
                "endMinute": 0
              }
            ]
          },
          "sunday": {
            "enabled": true,
            "timeRanges": [
              {
                "startHour": 13,
                "startMinute": 0,
                "endHour": 21,
                "endMinute": 0
              }
            ]
          }
        }
      },
      "PronunciationRule": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "minLength": 1
          },
          "pronunciation": {
            "type": "string",
            "minLength": 1
          },
          "case_sensitive": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "word",
          "pronunciation"
        ]
      },
      "OverrideTTSConfig": {
        "type": "object",
        "nullable": true,
        "properties": {
          "pronunciations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PronunciationRule"
            },
            "default": []
          }
        }
      },
      "PostCallVariable": {
        "type": "object",
        "properties": {
          "variableName": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "STRING",
              "NUMBER",
              "BOOLEAN",
              "ARRAY"
            ]
          },
          "description": {
            "type": "string"
          },
          "required": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "variableName",
          "type"
        ]
      },
      "WebDispatchConnectionDetails": {
        "type": "object",
        "properties": {
          "serverUrl": {
            "type": "string"
          },
          "roomName": {
            "type": "string"
          },
          "participantName": {
            "type": "string"
          },
          "participantToken": {
            "type": "string"
          }
        },
        "required": [
          "serverUrl",
          "roomName",
          "participantName",
          "participantToken"
        ]
      },
      "StartTestSessionResponse": {
        "type": "object",
        "properties": {
          "callId": {
            "type": "string"
          },
          "roomName": {
            "type": "string"
          },
          "livekitUrl": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "agentVersion": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "name": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "version",
              "name"
            ]
          }
        },
        "required": [
          "callId",
          "roomName",
          "livekitUrl",
          "accessToken",
          "agentVersion"
        ]
      },
      "StartTestSessionRequest": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid"
          },
          "agentVersionId": {
            "type": "string",
            "format": "uuid"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "agentId",
          "agentVersionId"
        ]
      },
      "Calendar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string",
            "nullable": true
          },
          "archived": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "description",
          "userId",
          "archived",
          "createdAt",
          "updatedAt"
        ]
      },
      "CalendarAvailability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "number",
              "minimum": 0,
              "maximum": 6
            }
          },
          "startTime": {
            "type": "number",
            "minimum": 0,
            "maximum": 1440
          },
          "endTime": {
            "type": "number",
            "minimum": 0,
            "maximum": 1440
          },
          "date": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "days",
          "startTime",
          "endTime",
          "date"
        ]
      },
      "CalendarSchedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "calendarId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "availabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarAvailability"
            }
          }
        },
        "required": [
          "id",
          "calendarId",
          "name",
          "timezone",
          "isDefault",
          "createdAt",
          "updatedAt",
          "availabilities"
        ]
      },
      "CalendarEventType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "calendarId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "duration": {
            "type": "number"
          },
          "slotInterval": {
            "type": "number",
            "nullable": true
          },
          "minimumBookingNotice": {
            "type": "number"
          },
          "beforeEventBuffer": {
            "type": "number"
          },
          "afterEventBuffer": {
            "type": "number"
          },
          "periodType": {
            "type": "string",
            "enum": [
              "UNLIMITED",
              "ROLLING",
              "RANGE"
            ]
          },
          "periodDays": {
            "type": "number",
            "nullable": true
          },
          "periodStartDate": {
            "type": "string",
            "nullable": true
          },
          "periodEndDate": {
            "type": "string",
            "nullable": true
          },
          "scheduleId": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "addGoogleMeet": {
            "type": "boolean"
          },
          "metadata": {
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "calendarId",
          "name",
          "slug",
          "description",
          "duration",
          "slotInterval",
          "minimumBookingNotice",
          "beforeEventBuffer",
          "afterEventBuffer",
          "periodType",
          "periodDays",
          "periodStartDate",
          "periodEndDate",
          "scheduleId",
          "location",
          "addGoogleMeet",
          "active",
          "archived",
          "createdAt",
          "updatedAt"
        ]
      },
      "AvailableSlots": {
        "type": "object",
        "properties": {
          "slots": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "time": {
                    "type": "string"
                  }
                },
                "required": [
                  "time"
                ]
              }
            }
          }
        },
        "required": [
          "slots"
        ]
      },
      "CalendarBooking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "calendarId": {
            "type": "string"
          },
          "eventTypeId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "startTime": {
            "type": "string"
          },
          "endTime": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "CONFIRMED",
              "CANCELLED",
              "RESCHEDULED",
              "NO_SHOW"
            ]
          },
          "attendeeName": {
            "type": "string",
            "nullable": true
          },
          "attendeeEmail": {
            "type": "string",
            "nullable": true
          },
          "attendeePhone": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "meetLink": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "nullable": true
          },
          "agentCallId": {
            "type": "string",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "nullable": true
          },
          "cancelledAt": {
            "type": "string",
            "nullable": true
          },
          "cancellationReason": {
            "type": "string",
            "nullable": true
          },
          "rescheduledFromId": {
            "type": "string",
            "nullable": true
          },
          "rescheduledToId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "organizationId",
          "calendarId",
          "eventTypeId",
          "title",
          "description",
          "startTime",
          "endTime",
          "timezone",
          "status",
          "attendeeName",
          "attendeeEmail",
          "attendeePhone",
          "location",
          "meetLink",
          "agentCallId",
          "leadId",
          "cancelledAt",
          "cancellationReason",
          "rescheduledFromId",
          "rescheduledToId",
          "createdAt",
          "updatedAt"
[...]
