{
  "openapi": "3.0.3",
  "info": {
    "title": "Simkl API",
    "description": "Simkl API for accessing movie, TV show, and anime data. Provides search, ratings, watch history tracking, and recommendations.",
    "version": "1.0.0",
    "contact": {
      "name": "Simkl",
      "url": "https://simkl.docs.apiary.io"
    }
  },
  "servers": [
    {
      "url": "https://api.simkl.com",
      "description": "Simkl API Production Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/oauth/pin": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get PIN for device authentication",
        "description": "Retrieve a PIN code and verification URL for device-based authentication flow.",
        "operationId": "getPin",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "Your application client ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "description": "Redirect URI after authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "PIN code and verification URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": { "type": "boolean" },
                    "device_code": { "type": "string" },
                    "user_code": { "type": "string" },
                    "verification_url": { "type": "string" },
                    "expires_in": { "type": "integer" },
                    "interval": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/pin/{user_code}": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Check PIN status",
        "description": "Check if the user has entered the PIN and authorized the application.",
        "operationId": "checkPinStatus",
        "parameters": [
          {
            "name": "user_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Authorization status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": { "type": "string" },
                    "access_token": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Get access token",
        "description": "Exchange authorization code for access token.",
        "operationId": "getToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["code", "client_id", "client_secret", "redirect_uri", "grant_type"],
                "properties": {
                  "code": { "type": "string" },
                  "client_id": { "type": "string" },
                  "client_secret": { "type": "string" },
                  "redirect_uri": { "type": "string" },
                  "grant_type": {
                    "type": "string",
                    "enum": ["authorization_code"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": { "type": "string" },
                    "token_type": { "type": "string" },
                    "scope": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/movie": {
      "get": {
        "tags": ["Search"],
        "summary": "Search movies",
        "description": "Search for movies by query string.",
        "operationId": "searchMovie",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "Return extended info",
            "schema": {
              "type": "string",
              "enum": ["full"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Movie search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Movie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/tv": {
      "get": {
        "tags": ["Search"],
        "summary": "Search TV shows",
        "description": "Search for TV shows by query string.",
        "operationId": "searchTv",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["full"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TV show search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TvShow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/anime": {
      "get": {
        "tags": ["Search"],
        "summary": "Search anime",
        "description": "Search for anime by query string.",
        "operationId": "searchAnime",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["full"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anime search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Anime"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/id": {
      "get": {
        "tags": ["Search"],
        "summary": "Search by external ID",
        "description": "Find a Simkl item by external ID from IMDb, TMDB, TVDb, MAL, etc.",
        "operationId": "searchById",
        "parameters": [
          {
            "name": "imdb",
            "in": "query",
            "description": "IMDb ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tmdb",
            "in": "query",
            "description": "TMDB ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tvdb",
            "in": "query",
            "description": "TVDb ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mal",
            "in": "query",
            "description": "MyAnimeList ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anidb",
            "in": "query",
            "description": "AniDB ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hulu",
            "in": "query",
            "description": "Hulu ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "netflix",
            "in": "query",
            "description": "Netflix ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matched items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "ids": {
                        "$ref": "#/components/schemas/Ids"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/movies/{id}": {
      "get": {
        "tags": ["Movies"],
        "summary": "Get movie details",
        "description": "Retrieve details for a specific movie.",
        "operationId": "getMovie",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Simkl movie ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "Return extended info",
            "schema": {
              "type": "string",
              "enum": ["full"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Movie details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieFull"
                }
              }
            }
          },
          "404": {
            "description": "Movie not found"
          }
        }
      }
    },
    "/tv/{id}": {
      "get": {
        "tags": ["TV Shows"],
        "summary": "Get TV show details",
        "description": "Retrieve details for a specific TV show.",
        "operationId": "getTvShow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Simkl TV show ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["full", "episodes"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TV show details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvShowFull"
                }
              }
            }
          },
          "404": {
            "description": "TV show not found"
          }
        }
      }
    },
    "/tv/{id}/episodes/{episode_id}": {
      "get": {
        "tags": ["TV Shows"],
        "summary": "Get episode details",
        "description": "Retrieve details for a specific episode.",
        "operationId": "getEpisode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          }
        }
      }
    },
    "/anime/{id}": {
      "get": {
        "tags": ["Anime"],
        "summary": "Get anime details",
        "description": "Retrieve details for a specific anime.",
        "operationId": "getAnime",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Simkl anime ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["full", "episodes"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anime details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeFull"
                }
              }
            }
          },
          "404": {
            "description": "Anime not found"
          }
        }
      }
    },
    "/users/settings": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user settings",
        "description": "Retrieve authenticated user's settings and profile information.",
        "operationId": "getUserSettings",
        "security": [
          {
            "apiKey": [],
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettings"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sync/all-items/{type}": {
      "get": {
        "tags": ["Sync"],
        "summary": "Get all items in watchlist",
        "description": "Retrieve all items in the user's watch history for a specific media type.",
        "operationId": "getAllItems",
        "security": [
          {
            "apiKey": [],
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "Media type",
            "schema": {
              "type": "string",
              "enum": ["movies", "shows", "anime"]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter items added after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by watch status",
            "schema": {
              "type": "string",
              "enum": ["watching", "plantowatch", "hold", "completed", "dropped", "notinteresting"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SyncItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sync/add-to-list": {
      "post": {
        "tags": ["Sync"],
        "summary": "Add items to list",
        "description": "Add movies, shows, or anime to the user's watchlist.",
        "operationId": "addToList",
        "security": [
          {
            "apiKey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "movies": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  },
                  "shows": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  },
                  "anime": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "added": {
                      "type": "object",
                      "properties": {
                        "movies": { "type": "integer" },
                        "shows": { "type": "integer" },
                        "anime": { "type": "integer" }
                      }
                    },
                    "not_found": {
                      "type": "object",
                      "properties": {
                        "movies": { "type": "array", "items": { "type": "object" } },
                        "shows": { "type": "array", "items": { "type": "object" } },
                        "anime": { "type": "array", "items": { "type": "object" } }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sync/history": {
      "post": {
        "tags": ["Sync"],
        "summary": "Add to watch history",
        "description": "Mark items as watched in the user's history.",
        "operationId": "addToHistory",
        "security": [
          {
            "apiKey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "movies": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  },
                  "shows": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  },
                  "anime": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items marked as watched"
          }
        }
      }
    },
    "/sync/ratings": {
      "get": {
        "tags": ["Sync"],
        "summary": "Get user ratings",
        "description": "Retrieve the authenticated user's ratings.",
        "operationId": "getRatings",
        "security": [
          {
            "apiKey": [],
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by media type",
            "schema": {
              "type": "string",
              "enum": ["movies", "shows", "anime", "episodes"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User ratings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RatingItem"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Sync"],
        "summary": "Add ratings",
        "description": "Rate movies, shows, or anime.",
        "operationId": "addRatings",
        "security": [
          {
            "apiKey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "movies": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RatingInput"
                    }
                  },
                  "shows": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RatingInput"
                    }
                  },
                  "anime": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RatingInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ratings added"
          }
        }
      }
    },
    "/sync/ratings/remove": {
      "post": {
        "tags": ["Sync"],
        "summary": "Remove ratings",
        "description": "Remove ratings for movies, shows, or anime.",
        "operationId": "removeRatings",
        "security": [
          {
            "apiKey": [],
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "movies": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  },
                  "shows": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  },
                  "anime": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SyncItemInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ratings removed"
          }
        }
      }
    },
    "/calendar/movies": {
      "get": {
        "tags": ["Calendar"],
        "summary": "Get movie calendar",
        "description": "Retrieve upcoming movie releases.",
        "operationId": "getMovieCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return",
            "schema": {
              "type": "integer",
              "default": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Movie calendar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendar/tv": {
      "get": {
        "tags": ["Calendar"],
        "summary": "Get TV show calendar",
        "description": "Retrieve upcoming TV show episode air dates.",
        "operationId": "getTvCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TV calendar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendar/anime": {
      "get": {
        "tags": ["Calendar"],
        "summary": "Get anime calendar",
        "description": "Retrieve upcoming anime episode air dates.",
        "operationId": "getAnimeCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anime calendar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/movies/trending": {
      "get": {
        "tags": ["Movies"],
        "summary": "Get trending movies",
        "description": "Retrieve a list of trending movies.",
        "operationId": "getTrendingMovies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["full"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending movies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Movie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tv/trending": {
      "get": {
        "tags": ["TV Shows"],
        "summary": "Get trending TV shows",
        "description": "Retrieve a list of trending TV shows.",
        "operationId": "getTrendingTv",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["full"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending TV shows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TvShow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/anime/trending": {
      "get": {
        "tags": ["Anime"],
        "summary": "Get trending anime",
        "description": "Retrieve a list of trending anime.",
        "operationId": "getTrendingAnime",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["full"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending anime",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Anime"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/movies/best/{type}": {
      "get": {
        "tags": ["Movies"],
        "summary": "Get best movies",
        "description": "Retrieve a list of best-rated movies filtered by type.",
        "operationId": "getBestMovies",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "Filter type (e.g., all, voted, watched)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Best movies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Movie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/watchlist/{type}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user watchlist",
        "description": "Retrieve a user's public watchlist.",
        "operationId": "getUserWatchlist",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["movies", "shows", "anime"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["watching", "plantowatch", "hold", "completed", "dropped"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SyncItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/stats": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user stats",
        "description": "Retrieve statistics for a user's watch activity.",
        "operationId": "getUserStats",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_mins": { "type": "integer" },
                    "movies": {
                      "type": "object",
                      "properties": {
                        "total_mins": { "type": "integer" },
                        "completed": { "type": "integer" },
                        "plantowatch": { "type": "integer" }
                      }
                    },
                    "tv": {
                      "type": "object",
                      "properties": {
                        "total_mins": { "type": "integer" },
                        "watching": { "type": "integer" },
                        "completed": { "type": "integer" },
                        "plantowatch": { "type": "integer" }
                      }
                    },
                    "anime": {
                      "type": "object",
                      "properties": {
                        "total_mins": { "type": "integer" },
                        "watching": { "type": "integer" },
                        "completed": { "type": "integer" },
                        "plantowatch": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "simkl-api-key",
        "description": "Simkl API client ID"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer Token for user-specific endpoints"
      }
    },
    "schemas": {
      "Ids": {
        "type": "object",
        "properties": {
          "simkl": { "type": "integer" },
          "imdb": { "type": "string" },
          "tmdb": { "type": "string" },
          "tvdb": { "type": "string" },
          "mal": { "type": "string" },
          "anidb": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "Movie": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          }
        }
      },
      "MovieFull": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "overview": { "type": "string" },
          "poster": { "type": "string" },
          "fanart": { "type": "string" },
          "release_date": { "type": "string", "format": "date" },
          "runtime": { "type": "integer", "description": "Runtime in minutes" },
          "certification": { "type": "string" },
          "genres": {
            "type": "array",
            "items": { "type": "string" }
          },
          "country": { "type": "string" },
          "ratings": {
            "$ref": "#/components/schemas/Ratings"
          },
          "trailers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "youtube": { "type": "string" },
                "url": { "type": "string" }
              }
            }
          }
        }
      },
      "TvShow": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          }
        }
      },
      "TvShowFull": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "overview": { "type": "string" },
          "poster": { "type": "string" },
          "fanart": { "type": "string" },
          "first_aired": { "type": "string", "format": "date-time" },
          "runtime": { "type": "integer" },
          "certification": { "type": "string" },
          "network": { "type": "string" },
          "country": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["returning series", "ended", "canceled", "in production"]
          },
          "total_episodes": { "type": "integer" },
          "genres": {
            "type": "array",
            "items": { "type": "string" }
          },
          "ratings": {
            "$ref": "#/components/schemas/Ratings"
          }
        }
      },
      "Anime": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "type": {
            "type": "string",
            "description": "Anime type (e.g., tv, movie, ova, ona, special)"
          }
        }
      },
      "AnimeFull": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "overview": { "type": "string" },
          "poster": { "type": "string" },
          "fanart": { "type": "string" },
          "first_aired": { "type": "string", "format": "date-time" },
          "runtime": { "type": "integer" },
          "certification": { "type": "string" },
          "network": { "type": "string" },
          "country": { "type": "string" },
          "status": { "type": "string" },
          "total_episodes": { "type": "integer" },
          "anime_type": {
            "type": "string",
            "enum": ["tv", "movie", "ova", "ona", "special", "music"]
          },
          "genres": {
            "type": "array",
            "items": { "type": "string" }
          },
          "ratings": {
            "$ref": "#/components/schemas/Ratings"
          }
        }
      },
      "Episode": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "season": { "type": "integer" },
          "episode": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "overview": { "type": "string" },
          "date": { "type": "string", "format": "date" },
          "img": { "type": "string" }
        }
      },
      "Ratings": {
        "type": "object",
        "properties": {
          "simkl": {
            "type": "object",
            "properties": {
              "rating": { "type": "number" },
              "votes": { "type": "integer" }
            }
          },
          "imdb": {
            "type": "object",
            "properties": {
              "rating": { "type": "number" },
              "votes": { "type": "integer" }
            }
          },
          "mal": {
            "type": "object",
            "properties": {
              "rating": { "type": "number" },
              "votes": { "type": "integer" }
            }
          }
        }
      },
      "UserSettings": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "joined_at": { "type": "string", "format": "date-time" },
              "gender": { "type": "string" },
              "avatar": { "type": "string" },
              "bio": { "type": "string" }
            }
          },
          "account": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "timezone": { "type": "string" }
            }
          },
          "connections": {
            "type": "object",
            "properties": {
              "facebook": { "type": "boolean" },
              "twitter": { "type": "boolean" }
            }
          }
        }
      },
      "SyncItem": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "status": { "type": "string" },
          "rating": { "type": "number" },
          "user_rating": { "type": "integer" },
          "last_watched_at": { "type": "string", "format": "date-time" }
        }
      },
      "SyncItemInput": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "to": {
            "type": "string",
            "description": "Target status",
            "enum": ["watching", "plantowatch", "hold", "completed", "dropped", "notinteresting"]
          },
          "watched_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RatingItem": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "rating": { "type": "integer" },
          "rated_at": { "type": "string", "format": "date-time" },
          "type": { "type": "string" }
        }
      },
      "RatingInput": {
        "type": "object",
        "properties": {
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          }
        }
      },
      "CalendarItem": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "year": { "type": "integer" },
          "ids": {
            "$ref": "#/components/schemas/Ids"
          },
          "date": { "type": "string", "format": "date" },
          "episode": {
            "$ref": "#/components/schemas/Episode"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth authentication endpoints"
    },
    {
      "name": "Search",
      "description": "Search for movies, TV shows, and anime"
    },
    {
      "name": "Movies",
      "description": "Movie information and trending"
    },
    {
      "name": "TV Shows",
      "description": "TV show information and trending"
    },
    {
      "name": "Anime",
      "description": "Anime information and trending"
    },
    {
      "name": "Sync",
      "description": "Watchlist and history sync operations"
    },
    {
      "name": "Users",
      "description": "User profile and settings"
    },
    {
      "name": "Calendar",
      "description": "Release calendars for movies, TV, and anime"
    }
  ]
}
