{
  "openapi": "3.0.3",
  "info": {
    "title": "Slickstream Engagement API",
    "version": "1.0.0",
    "description": "API for retrieving site summary data and content analytics from Slickstream engagement suite.",
    "x-jentic-source-url": "https://github.com/slickstream/docs/blob/main/engagement/1.x/rest-api.md",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.slickstream.com"
    }
  ],
  "paths": {
    "/example/{siteCode}/v1/site": {
      "get": {
        "operationId": "getSiteSummary",
        "summary": "Get site summary data",
        "tags": [
          "Site"
        ],
        "parameters": [
          {
            "name": "siteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Site code identifier"
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Site summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get site summary data"
      }
    },
    "/example/{siteCode}/v1/site-content-analytics": {
      "get": {
        "operationId": "getContentAnalytics",
        "summary": "Get content analytics",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "siteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get content analytics"
      }
    }
  },
  "components": {
    "schemas": {
      "SiteSummary": {
        "type": "object",
        "properties": {
          "siteCode": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "pageviews": {
            "type": "integer"
          },
          "engagement": {
            "type": "object"
          }
        }
      },
      "ContentAnalyticsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentAnalytics"
            }
          },
          "nextPageUrl": {
            "type": "string"
          }
        }
      },
      "ContentAnalytics": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "pageviews": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey"
      }
    }
  },
  "security": [
    {
      "ApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Analytics"
    },
    {
      "name": "Site"
    }
  ]
}
