{
  "openapi": "3.0.3",
  "info": {
    "title": "Qualiobee API",
    "description": "Authentication is done through an API key specified with a \"x-api-key\" header in your requests. To generate an API key, connect to the application and go to the \"Param\u00e8tres organisation\" > \"Connexions externes\" menu.",
    "version": "1.2.0",
    "contact": {},
    "x-jentic-source-url": "https://app.beehelp.fr/api/doc"
  },
  "servers": [
    {
      "url": "https://app.beehelp.fr",
      "description": "Qualiobee API"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "operationId": "PublicAuthController_login",
        "summary": "Logins to the application",
        "deprecated": true,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request went well and returned your access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/{organizationUuid}/objective/poll/many": {
      "get": {
        "operationId": "PublicObjectiveController_pollMany",
        "summary": "Polls many objectives",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "The relations of an objective you want to include in the response. Concatenate relations with a dot to go deeper and get more data at once.",
            "example": [
              "formation",
              "sessions"
            ],
            "schema": {
              "default": [],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll objectives from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "deleteDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the objectives in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicObjectiveResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Objective"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/objective": {
      "get": {
        "operationId": "PublicObjectiveController_getMany",
        "summary": "Fetches many objectives",
        "description": "Note that the availables filters can be combined as a conditional AND",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "The page number to retreive",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to retreive per page",
            "schema": {
              "minimum": 1,
              "default": 5,
              "type": "number"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "The relations of an objective you want to include in the response. Concatenate relations with a dot to go deeper and get more data at once.",
            "example": [
              "formation",
              "sessions"
            ],
            "schema": {
              "default": [],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "uuid",
            "required": false,
            "in": "query",
            "description": "Filters objectives by uuid (only one objective will be returned in the response)",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "required": false,
            "in": "query",
            "description": "The id of the objective in the external application (only for data importation)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "description": "The name of the objective of the formation or session",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexOrder",
            "required": false,
            "in": "query",
            "description": "The order of the objective in wich it appears",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the objectives correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicObjectiveResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Objective"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "operationId": "PublicObjectiveController_createOne",
        "summary": "Creates a new objective",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPublicObjectiveDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The objective was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicObjectiveResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Objective"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/objective/{objectiveUuid}": {
      "get": {
        "operationId": "PublicObjectiveController_getOne",
        "summary": "Fetches an objective by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectiveUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "The relations of an objective you want to include in the response. Concatenate relations with a dot to go deeper and get more data at once.",
            "example": [
              "formation",
              "sessions"
            ],
            "schema": {
              "default": [],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the objective correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicObjectiveResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Objective"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "operationId": "PublicObjectiveController_updateOne",
        "summary": "Updates an objective by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectiveUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPublicObjectiveDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The objective was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicObjectiveResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Objective"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "operationId": "PublicObjectiveController_deleteOne",
        "summary": "Deletes an objective by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectiveUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The objective was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicObjectiveResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Objective"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/qualiobee/poll/many": {
      "get": {
        "operationId": "PublicQualiobeeController_pollMany",
        "summary": "Polls your Qualiobee account data",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this qualiobee. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicQualiobeeResponse`",
            "example": [
              "headquarter",
              "billingAddress",
              "organization"
            ],
            "schema": {
              "default": [
                "headquarter",
                "billingAddress",
                "organization"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll qualiobee account data from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "deleteDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the qualiobee account data in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicQualiobeeResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Qualiobee"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/qualiobee/{qualiobeeUuid}": {
      "get": {
        "operationId": "PublicQualiobeeController_getOne",
        "summary": "Fetches a qualiobee account data by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qualiobeeUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this qualiobee. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicQualiobeeResponse`",
            "example": [
              "headquarter",
              "billingAddress",
              "organization"
            ],
            "schema": {
              "default": [
                "headquarter",
                "billingAddress",
                "organization"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the qualiobee account data correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicQualiobeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Qualiobee"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/convention/poll/many": {
      "get": {
        "operationId": "PublicConventionController_pollMany",
        "summary": "Polls many conventions",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this convention. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicConventionResponse`",
            "example": [
              "customer",
              "session",
              "pricing"
            ],
            "schema": {
              "default": [
                "customer",
                "session"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll conventions from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "deleteDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the conventions in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicConventionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Convention"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/convention": {
      "get": {
        "operationId": "PublicConventionController_getMany",
        "summary": "Fetches many conventions",
        "description": "Note that the availables filters can be combined as a conditional AND",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "The page number to retreive",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to retreive per page",
            "schema": {
              "minimum": 1,
              "default": 5,
              "type": "number"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this convention. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicConventionResponse`",
            "example": [
              "customer",
              "session",
              "pricing"
            ],
            "schema": {
              "default": [
                "customer",
                "session"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "uuid",
            "required": false,
            "in": "query",
            "description": "Filters conventions by uuid (only one convention will be returned in the response)",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "isDisabled",
            "required": false,
            "in": "query",
            "description": "Filters conventions to get only the ones where the convention file is disabled or not",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the conventions correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicConventionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Convention"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/convention/{conventionUuid}": {
      "get": {
        "operationId": "PublicConventionController_getOne",
        "summary": "Fetches a convention by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conventionUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this convention. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicConventionResponse`",
            "example": [
              "customer",
              "session",
              "pricing"
            ],
            "schema": {
              "default": [
                "customer",
                "session"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the convention correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConventionResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Convention"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "operationId": "PublicConventionController_updateOne",
        "summary": "Updates a convention by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conventionUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPublicConventionDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The convention was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConventionResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Convention"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/convocation/poll/many": {
      "get": {
        "operationId": "PublicConvocationController_pollMany",
        "summary": "Polls many convocations",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this convocation. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicConvocationResponse`",
            "example": [
              "learner",
              "session",
              "pricing"
            ],
            "schema": {
              "default": [
                "learner",
                "session"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll convocations from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "deleteDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the convocations in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicConvocationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Convocation"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/convocation": {
      "get": {
        "operationId": "PublicConvocationController_getMany",
        "summary": "Fetches many convocations",
        "description": "Note that the availables filters can be combined as a conditional AND",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "The page number to retreive",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to retreive per page",
            "schema": {
              "minimum": 1,
              "default": 5,
              "type": "number"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this convocation. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicConvocationResponse`",
            "example": [
              "learner",
              "session",
              "pricing"
            ],
            "schema": {
              "default": [
                "learner",
                "session"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "uuid",
            "required": false,
            "in": "query",
            "description": "Filters convocations by uuid (only one convocation will be returned in the response)",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "required": false,
            "in": "query",
            "description": "The id of the convocations in the external application (only for data importation)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convocationDisabled",
            "required": false,
            "in": "query",
            "description": "Filters convocations to get only the ones where the convocation file is disabled or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "attestationDisabled",
            "required": false,
            "in": "query",
            "description": "Filters convocations to get only the ones where the attestation file is disabled or not",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the convocations correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicConvocationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Convocation"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "operationId": "PublicConvocationController_createOne",
        "summary": "Creates a new convocation",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPublicConvocationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The convocation was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConvocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Convocation"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/convocation/{convocationUuid}": {
      "get": {
        "operationId": "PublicConvocationController_getOne",
        "summary": "Fetches a convocation by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convocationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this convocation. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicConvocationResponse`",
            "example": [
              "learner",
              "session",
              "pricing"
            ],
            "schema": {
              "default": [
                "learner",
                "session"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the convocation correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConvocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Convocation"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "operationId": "PublicConvocationController_updateOne",
        "summary": "Updates a convocation by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convocationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPublicConvocationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The convocation was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConvocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Convocation"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "operationId": "PublicConvocationController_deleteOne",
        "summary": "Deletes a convocation by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convocationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The convocation was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConvocationResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Convocation"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/session-date/poll/many": {
      "get": {
        "operationId": "PublicSessionDateController_pollMany",
        "summary": "Polls many learning session dates",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this sessionDate. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicSessionDateResponse`",
            "example": [
              "trainers",
              "sessionDateConvocations",
              "sessionSlotModules",
              "location",
              "session"
            ],
            "schema": {
              "default": [],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll sessionDates from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "deleteDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the learning session dates in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicSessionDateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "SessionDate"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/session-date": {
      "get": {
        "operationId": "PublicSessionDateController_getMany",
        "summary": "Fetches many learning session dates",
        "description": "Note that the availables filters can be combined as a conditional AND",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "The page number to retreive",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to retreive per page",
            "schema": {
              "minimum": 1,
              "default": 5,
              "type": "number"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this learning session date. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicLearning session dateResponse`",
            "example": [
              "trainers",
              "sessionDateConvocations",
              "sessionSlotModules",
              "location",
              "session"
            ],
            "schema": {
              "default": [],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "externalId",
            "required": false,
            "in": "query",
            "description": "The id of the dates in the external application (only for data importation)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "required": false,
            "in": "query",
            "description": "Filters learning session dates by uuid (only one session date will be returned in the response)",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "description": "Filters learning session dates by type",
            "schema": {
              "enum": [
                "presence",
                "remote",
                "elearning"
              ],
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "required": false,
            "in": "query",
            "description": "Filters learning session dates by start day and hours",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endAt",
            "required": false,
            "in": "query",
            "description": "Filters learning session dates by end day and hours",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elearningHours",
            "required": false,
            "in": "query",
            "description": "Filters learning session dates by the amount of hours as e-learning",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "remoteTool",
            "required": false,
            "in": "query",
            "description": "Filters learning session dates by remote software name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remoteLink",
            "required": false,
            "in": "query",
            "description": "Filters learning session dates by remote software unique link",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the learning session dates correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicSessionDateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "SessionDate"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "operationId": "PublicSessionDateController_createOne",
        "summary": "Creates a new learning session date",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPublicSessionDateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The learning session date was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "SessionDate"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/session-date/{sessionDateUuid}": {
      "get": {
        "operationId": "PublicSessionDateController_getOne",
        "summary": "Fetches a learning session date by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionDateUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this sessionDate. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicSessionDateResponse`",
            "example": [
              "trainers",
              "sessionDateConvocations",
              "sessionSlotModules",
              "location",
              "session"
            ],
            "schema": {
              "default": [],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the learning session date correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "SessionDate"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "operationId": "PublicSessionDateController_updateOne",
        "summary": "Updates a learning session date by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionDateUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPublicSessionDateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The learning session date was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "SessionDate"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "operationId": "PublicSessionDateController_deleteOne",
        "summary": "Deletes a learning session date by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionDateUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The learning session date was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionDateResponse"
                }
              }
            }
          }
        },
        "tags": [
          "SessionDate"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/trainer/poll/many": {
      "get": {
        "operationId": "PublicTrainerController_pollMany",
        "summary": "Polls many trainers",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll trainers from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "deleteDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the trainers in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTrainerResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Trainer"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/trainer": {
      "get": {
        "operationId": "PublicTrainerController_getMany",
        "summary": "Fetches many trainers",
        "description": "Note that the availables filters can be combined as a conditional AND",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "The page number to retreive",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to retreive per page",
            "schema": {
              "minimum": 1,
              "default": 5,
              "type": "number"
            }
          },
          {
            "name": "uuid",
            "required": false,
            "in": "query",
            "description": "Filters trainers by uuid (only one trainer will be returned in the response)",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "required": false,
            "in": "query",
            "description": "Filters trainers by first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "required": false,
            "in": "query",
            "description": "The id of the trainers in the external application (only for data importation)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "required": false,
            "in": "query",
            "description": "Filters trainers by last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "description": "Filters trainers by email",
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "name": "description",
            "required": false,
            "in": "query",
            "description": "Filters trainers by job description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isExternal",
            "required": false,
            "in": "query",
            "description": "Filters trainers to get only the ones being external to the organization or not",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the trainers correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTrainerResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Trainer"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "operationId": "PublicTrainerController_createOne",
        "summary": "Creates a new trainer",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPublicTrainerDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The trainer was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTrainerResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Trainer"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/trainer/{trainerUuid}": {
      "get": {
        "operationId": "PublicTrainerController_getOne",
        "summary": "Fetches a trainer by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trainerUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the trainer correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTrainerResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Trainer"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "operationId": "PublicTrainerController_updateOne",
        "summary": "Updates a trainer by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trainerUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPublicTrainerDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The trainer was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTrainerResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Trainer"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "operationId": "PublicTrainerController_deleteOne",
        "summary": "Deletes a trainer by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trainerUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The trainer was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTrainerResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Trainer"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/session/poll/many": {
      "get": {
        "operationId": "PublicSessionController_pollMany",
        "summary": "Polls many sessions",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this session. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicSessionResponse`",
            "example": [
              "formation",
              "pricing",
              "sessionDates",
              "convocations",
              "conventions",
              "milestones",
              "events"
            ],
            "schema": {
              "default": [
                "formation",
                "pricing"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll sessions from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "deleteDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the sessions in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicSessionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Session"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/session": {
      "get": {
        "operationId": "PublicSessionController_getMany",
        "summary": "Fetches many sessions",
        "description": "Note that the availables filters can be combined as a conditional AND",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "The page number to retreive",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to retreive per page",
            "schema": {
              "minimum": 1,
              "default": 5,
              "type": "number"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this session. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicSessionResponse`",
            "example": [
              "formation",
              "pricing",
              "sessionDates",
              "convocations",
              "conventions",
              "milestones",
              "events"
            ],
            "schema": {
              "default": [
                "formation",
                "pricing"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "uuid",
            "required": false,
            "in": "query",
            "description": "Filters sessions by uuid (only one session will be returned in the response)",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "required": false,
            "in": "query",
            "description": "The id of the sessions in the external application (only for data importation)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "description": "Filters sessions by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "required": false,
            "in": "query",
            "description": "Filters sessions by description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "required": false,
            "in": "query",
            "description": "Filters sessions by state. See SessionStateEnum schema for more details about the enumeration",
            "schema": {
              "enum": [
                "not_complete",
                "sess_complete",
                "started",
                "in_progress",
                "done",
                "canceled"
              ],
              "type": "string"
            }
          },
          {
            "name": "usingSignature",
            "required": false,
            "in": "query",
            "description": "Filters sessions to get only the ones using electronic signature for presences or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "usingSignatureMedia",
            "required": false,
            "in": "query",
            "description": "Filters sessions to get only the ones using electronic signature for documents or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "usingBeehelp",
            "required": false,
            "in": "query",
            "description": "Filters sessions to get only the ones using Beehelp or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subtractType",
            "required": false,
            "in": "query",
            "description": "Filters sessions by subtract type. See SubtractTypeEnum schema for more details about the enumeration",
            "schema": {
              "enum": [
                "NONE",
                "SUBTRACTING",
                "SUBTRACTED"
              ],
              "type": "string"
            }
          },
          {
            "name": "specialtyCode",
            "required": false,
            "in": "query",
            "description": "Filters sessions by specialty code (between 100 and 423)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certifType",
            "required": false,
            "in": "query",
            "description": "Filters sessions by certification type. See CertifTypeEnum schema for more details about the enumeration",
            "schema": {
              "enum": [
                "NONE",
                "RNCP",
                "RS",
                "CQPNE",
                "BDC",
                "VAE"
              ],
              "type": "string"
            }
          },
          {
            "name": "certifLevel",
            "required": false,
            "in": "query",
            "description": "Filters sessions by certification level. See CertifLevelEnum schema for more details about the enumeration",
            "schema": {
              "enum": [
                "RNCP0",
                "RNCP2",
                "RNCP3",
                "RNCP4",
                "RNCP5",
                "RNCP68"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the sessions correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicSessionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Session"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "operationId": "PublicSessionController_createOne",
        "summary": "Creates a new session",
        "description": "Note that you can't create a session from an incomplete formation",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPublicSessionDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The session was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Session"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/session/{sessionUuid}": {
      "get": {
        "operationId": "PublicSessionController_getOne",
        "summary": "Fetches a session by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this session. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicSessionResponse`. Concatenate relations with a dot to go deeper and get more data at once.",
            "example": [
              "formation",
              "pricing",
              "sessionDates",
              "convocations",
              "conventions",
              "milestones",
              "events"
            ],
            "schema": {
              "default": [
                "formation",
                "pricing"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the session correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Session"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "operationId": "PublicSessionController_updateOne",
        "summary": "Updates a session by uuid",
        "description": "For now you can't update a started session, comming soon",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPublicSessionDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The session was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Session"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "operationId": "PublicSessionController_deleteOne",
        "summary": "Deletes a session by uuid",
        "description": "Note that you can't delete a started session",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The session was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Session"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/session/{sessionUuid}/go": {
      "patch": {
        "operationId": "PublicSessionController_go",
        "summary": "Starts a session by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionTimezoneDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The session was started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Session"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/module/poll/many": {
      "get": {
        "operationId": "PublicModuleController_pollMany",
        "summary": "Polls many modules",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this module. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicModuleResponse`",
            "example": [
              "formation",
              "sessionDates"
            ],
            "schema": {
              "default": [
                "formation"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "propName",
            "required": true,
            "in": "query",
            "description": "Which property you want to poll modules from",
            "schema": {
              "enum": [
                "creationDate",
                "updateDate",
                "archiveDate"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the modules in question correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicModuleResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Module"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/module": {
      "get": {
        "operationId": "PublicModuleController_getMany",
        "summary": "Fetches many modules",
        "description": "Note that the availables filters can be combined as a conditional AND",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "The page number to retreive",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to retreive per page",
            "schema": {
              "minimum": 1,
              "default": 5,
              "type": "number"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this module. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicModuleResponse`",
            "example": [
              "formation",
              "sessionDates"
            ],
            "schema": {
              "default": [
                "formation"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "uuid",
            "required": false,
            "in": "query",
            "description": "Filters modules by uuid (only one module will be returned in the response)",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "required": false,
            "in": "query",
            "description": "The id of the session in the external application (only for data importation)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "description": "Filters modules by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "required": false,
            "in": "query",
            "description": "Filters modules by description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "required": false,
            "in": "query",
            "description": "Filters modules by duration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the modules correctly",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicModuleResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Module"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "operationId": "PublicModuleController_createOne",
        "summary": "Creates a new module",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPublicModuleDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The module was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicModuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Module"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/module/{moduleUuid}": {
      "get": {
        "operationId": "PublicModuleController_getOne",
        "summary": "Fetches a module by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moduleUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this module. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicModuleResponse`",
            "example": [
              "formation",
              "sessionDates"
            ],
            "schema": {
              "default": [
                "formation"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request went well and returned the module correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicModuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several query params are incorrect"
          }
        },
        "tags": [
          "Module"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "operationId": "PublicModuleController_updateOne",
        "summary": "Updates a module by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moduleUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPublicModuleDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The module was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicModuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or several data in the body are incorrect"
          }
        },
        "tags": [
          "Module"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "operationId": "PublicModuleController_deleteOne",
        "summary": "Deletes a module by uuid",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moduleUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The module was deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicModuleResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Module"
        ],
        "security": [
          {
            "x-api-key": []
          },
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/{organizationUuid}/formation/poll/many": {
      "get": {
        "operationId": "PublicFormationController_pollMany",
        "summary": "Polls many formations",
        "description": "Note that it polls up to 24 hours ago",
        "parameters": [
          {
            "name": "organizationUuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "required": false,
            "in": "query",
            "description": "Specifies that you want to retreive deleted data or not",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "relations",
            "required": false,
            "in": "query",
            "description": "Specifies which related entities to include in the response for this formation. You can provide relation paths (concatenated with dots) to fetch nested data, up to a maximum depth of 4. For available relation paths, refer to the documentation for `PublicFormationResponse`",
            "example": [
              "pricing",
              "modules",
              "milestones",
              "qualiobee",
              "sessions",
              "objectives",
              "publicRegistration"
            ],
            "schema": {
              "default": [
                "pricing"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
[...]
