{
  "openapi": "3.0.3",
  "info": {
    "title": "PreflightAPI Aviation Data API",
    "version": "1.2.0",
    "description": "Aviation data API for VFR flight planning providing weather data (METARs, TAFs, PIREPs, SIGMETs), airports, airspace, NOTAMs, navigation aids, obstacles, and E6B flight computer calculations from 7 FAA and NOAA sources.",
    "x-jentic-source-url": "https://preflightapi.io/api/openapi",
    "contact": {
      "name": "PreflightAPI",
      "url": "https://preflightapi.io",
      "email": "support@preflightapi.io"
    }
  },
  "servers": [
    {
      "url": "https://api.preflightapi.io/api/v1",
      "description": "PreflightAPI Production"
    }
  ],
  "paths": {
    "/airports": {
      "get": {
        "operationId": "listAirports",
        "summary": "List Airports",
        "description": "Search and list airports with filtering options.",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by US state code"
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Latitude for proximity search"
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Longitude for proximity search"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Search radius in nautical miles"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "nextCursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Airports list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/airports/{icao}": {
      "get": {
        "operationId": "getAirport",
        "summary": "Get Airport Details",
        "description": "Retrieve detailed information about a specific airport by ICAO code.",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ICAO airport identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Airport details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Airport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/airspace": {
      "get": {
        "operationId": "listAirspace",
        "summary": "List Airspace",
        "description": "Query controlled and special-use airspace areas.",
        "tags": [
          "Airspace"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airspace data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/metars": {
      "get": {
        "operationId": "getMetars",
        "summary": "Get METARs",
        "description": "Retrieve METAR surface weather observations.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ICAO airport identifier"
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "METAR data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tafs": {
      "get": {
        "operationId": "getTafs",
        "summary": "Get TAFs",
        "description": "Retrieve Terminal Aerodrome Forecasts.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TAF data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pireps": {
      "get": {
        "operationId": "getPireps",
        "summary": "Get PIREPs",
        "description": "Retrieve Pilot Reports.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PIREP data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sigmets": {
      "get": {
        "operationId": "getSigmets",
        "summary": "Get SIGMETs",
        "description": "Retrieve domestic SIGMET weather advisories.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SIGMET data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/gairmets": {
      "get": {
        "operationId": "getGairmets",
        "summary": "Get G-AIRMETs",
        "description": "Retrieve graphical AIRMET hazard areas.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "G-AIRMET data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/notams": {
      "get": {
        "operationId": "getNotams",
        "summary": "Get NOTAMs",
        "description": "Search and retrieve Notices to Air Missions.",
        "tags": [
          "NOTAMs"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NOTAMs data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/navaids": {
      "get": {
        "operationId": "getNavaids",
        "summary": "Get Navigation Aids",
        "description": "Retrieve VOR, VORTAC, NDB, DME, and TACAN navigation aids.",
        "tags": [
          "Navigation"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NAVAID data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/obstacles": {
      "get": {
        "operationId": "getObstacles",
        "summary": "Get Obstacles",
        "description": "Retrieve FAA-charted obstacles (625,000+ structures).",
        "tags": [
          "Obstacles"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Obstacles data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/runways": {
      "get": {
        "operationId": "getRunways",
        "summary": "Get Runways",
        "description": "Retrieve runway information for airports.",
        "tags": [
          "Runways"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ICAO airport identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Runway data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/briefing": {
      "get": {
        "operationId": "getRouteBriefing",
        "summary": "Get Route Briefing",
        "description": "Retrieve a composite weather briefing along a route.",
        "tags": [
          "Briefing"
        ],
        "parameters": [
          {
            "name": "departure",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Departure airport ICAO code"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination airport ICAO code"
          },
          {
            "name": "route",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Route waypoints"
          }
        ],
        "responses": {
          "200": {
            "description": "Route briefing data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/e6b/crosswind": {
      "get": {
        "operationId": "calculateCrosswind",
        "summary": "Calculate Crosswind",
        "description": "Calculate crosswind component for runway operations.",
        "tags": [
          "E6B"
        ],
        "parameters": [
          {
            "name": "windDirection",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "windSpeed",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "runwayHeading",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crosswind calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crosswindComponent": {
                      "type": "number"
                    },
                    "headwindComponent": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/e6b/density-altitude": {
      "get": {
        "operationId": "calculateDensityAltitude",
        "summary": "Calculate Density Altitude",
        "description": "Calculate density altitude from station conditions.",
        "tags": [
          "E6B"
        ],
        "parameters": [
          {
            "name": "elevation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "temperature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "altimeter",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Density altitude result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "densityAltitude": {
                      "type": "number"
                    },
                    "pressureAltitude": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/communications": {
      "get": {
        "operationId": "getCommunicationFrequencies",
        "summary": "Get Communication Frequencies",
        "description": "Retrieve radio frequencies by facility.",
        "tags": [
          "Communications"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ICAO airport identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Frequencies list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "subscriptionKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "description": "Subscription key for API access"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "nextCursor": {
            "type": "string"
          },
          "previousCursor": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "Airport": {
        "type": "object",
        "properties": {
          "icao": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "elevation": {
            "type": "number"
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "subscriptionKey": []
    }
  ],
  "tags": [
    {
      "name": "Airports",
      "description": "Airport data and search"
    },
    {
      "name": "Airspace",
      "description": "Controlled and special-use airspace"
    },
    {
      "name": "Weather",
      "description": "Aviation weather data"
    },
    {
      "name": "NOTAMs",
      "description": "Notices to Air Missions"
    },
    {
      "name": "Navigation",
      "description": "Navigation aids and route planning"
    },
    {
      "name": "Obstacles",
      "description": "FAA-charted obstacles"
    },
    {
      "name": "Runways",
      "description": "Runway information"
    },
    {
      "name": "E6B",
      "description": "E6B flight computer calculations"
    },
    {
      "name": "Charts",
      "description": "Charts and supplements"
    },
    {
      "name": "Briefing",
      "description": "Route weather briefings"
    },
    {
      "name": "Communications",
      "description": "Radio frequencies"
    }
  ]
}