{
  "openapi": "3.0.3",
  "info": {
    "title": "remove.bg API",
    "version": "1.0.0",
    "description": "remove.bg API automatically removes backgrounds from images. Supports image upload, URL reference, and various output formats and sizes.",
    "x-jentic-source-url": "https://www.remove.bg/api",
    "contact": {
      "name": "remove.bg API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.remove.bg/v1.0"
    }
  ],
  "paths": {
    "/removebg": {
      "post": {
        "operationId": "removeBackground",
        "summary": "Remove image background",
        "description": "Processes an image to remove its background. Supports image file upload or URL reference with various output options.",
        "tags": [
          "Image Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Background removed successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Retrieve credit balance and account information.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/improve": {
      "post": {
        "operationId": "improveResult",
        "summary": "Improve background removal result",
        "description": "Quality enhancement for background removal results.",
        "tags": [
          "Image Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to improve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Improved image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RemoveBackgroundRequest": {
        "type": "object",
        "properties": {
          "image_file": {
            "type": "string",
            "format": "binary",
            "description": "Direct image upload"
          },
          "image_url": {
            "type": "string",
            "description": "URL reference to image"
          },
          "size": {
            "type": "string",
            "enum": [
              "auto",
              "small",
              "medium",
              "large",
              "50MP"
            ],
            "description": "Output resolution"
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "webp",
              "zip"
            ],
            "description": "Result format"
          },
          "type": {
            "type": "string",
            "enum": [
              "auto",
              "person",
              "product",
              "car",
              "graphic",
              "transportation",
              "animal"
            ],
            "description": "Foreground type"
          },
          "type_level": {
            "type": "string",
            "description": "Detection specificity level"
          },
          "bg_color": {
            "type": "string",
            "description": "Background color to add"
          },
          "bg_image_url": {
            "type": "string",
            "description": "Background image URL"
          },
          "bg_image_file": {
            "type": "string",
            "format": "binary",
            "description": "Background image file"
          },
          "crop": {
            "type": "boolean",
            "description": "Crop empty regions"
          },
          "crop_margin": {
            "type": "string",
            "description": "Margin for cropping"
          },
          "scale": {
            "type": "string",
            "description": "Output scaling"
          },
          "position": {
            "type": "string",
            "description": "Foreground positioning"
          },
          "roi": {
            "type": "string",
            "description": "Region of interest specification"
          },
          "add_shadow": {
            "type": "boolean",
            "description": "Add shadow effect"
          },
          "shadow_type": {
            "type": "string",
            "description": "Type of shadow"
          },
          "shadow_opacity": {
            "type": "number",
            "description": "Shadow opacity"
          },
          "semitransparency": {
            "type": "boolean",
            "description": "Handle semi-transparent areas"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "attributes": {
                "type": "object",
                "properties": {
                  "credits": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "number"
                      },
                      "subscription": {
                        "type": "number"
                      },
                      "payg": {
                        "type": "number"
                      }
                    }
                  },
                  "api": {
                    "type": "object",
                    "properties": {
                      "free_calls": {
                        "type": "integer"
                      },
                      "sizes": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "remove.bg API key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Image Processing"
    }
  ]
}
