{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "info@1nce.com",
      "name": "\u00a9 1NCE GmbH",
      "url": "https://1nce.com"
    },
    "description": "1NCE API provides programmatic access to v1 resources.",
    "title": "1NCE API",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/gjorgoski/1-nce_api/v1"
  },
  "servers": [
    {
      "url": "https://portal.1nce.com/management-api"
    }
  ],
  "paths": {
    "/v1/orders": {
      "get": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "Number of the requested page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The size of the page, maximum allowed value is 10",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "maximum": 10,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Sort values (order_number, order_status and/or order_date) in a comma seperated list, defaults to order_number if not used",
            "example": "order_status,order_date",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "default": "order_number",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  },
                  "type": "array"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/orders"
        ],
        "deprecated": false,
        "description": "Get a List of Orders",
        "operationId": "getOrdersUsingGET",
        "summary": "Get a List of Orders"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Additional_Order"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Additional_Order"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/orders"
        ],
        "deprecated": false,
        "description": "Post an order",
        "operationId": "postOrderUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Additional_Order"
              }
            },
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/Additional_Order"
              }
            }
          },
          "description": "An order",
          "required": true
        },
        "summary": "Post an order"
      }
    },
    "/v1/orders/{order_number}": {
      "get": {
        "parameters": [
          {
            "description": "Order number identifying the order",
            "in": "path",
            "name": "order_number",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/orders"
        ],
        "deprecated": false,
        "description": "Get a single Order, identified by its order_number",
        "operationId": "getOrderUsingGET",
        "summary": "Get a single Order, identified by its order_number"
      }
    },
    "/v1/products": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/products"
        ],
        "deprecated": false,
        "description": "Get a list of products",
        "operationId": "getProductsUsingGET",
        "summary": "Get a list of products"
      }
    },
    "/v1/sims": {
      "get": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "Number of the requested page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The size of the page, maximum allowed value is 100",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Filter values in a comma seperated list",
            "example": "iccid:9999",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Sort values in a comma seperated list",
            "example": "status,ip_address",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SIM_card"
                  },
                  "type": "array"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SIM_card"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get a List of SIMs",
        "operationId": "getSimsUsingGET",
        "summary": "Get a List of SIMs"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Change a list of SIMS for activate, deactivate, label, IMEI lock, etc.",
        "operationId": "updateSimsUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/SIM_card"
                },
                "type": "array"
              }
            },
            "application/json;charset=UTF-8": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/SIM_card"
                },
                "type": "array"
              }
            }
          },
          "description": "A list of SIMs",
          "required": true
        },
        "summary": "Change a list of SIMS for activate, deactivate, label, IMEI lock, etc."
      }
    },
    "/v1/sims/autoTopup": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Trigger an auto topup config update for given SIMs.",
        "operationId": "autoTopupUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoTopupRequest"
              }
            }
          },
          "description": "request",
          "required": true
        },
        "summary": "Trigger an auto topup config update for given SIMs."
      }
    },
    "/v1/sims/simTransfer": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Trigger a SIM transfer workflow - if possible - for moving SIMs from one customer to another",
        "operationId": "simTransferUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimTransfer"
              }
            }
          },
          "description": "request",
          "required": true
        },
        "summary": "Trigger a SIM transfer workflow - if possible - for moving SIMs from one customer to another"
      }
    },
    "/v1/sims/topup": {
      "post": {
        "responses": {
          "201": {
            "description": "Order created successfully",
            "headers": {
              "Location": {
                "description": "The path to the newly created order",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "SIM does not belong to user"
          },
          "404": {
            "description": "SIM not found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Top up the data volume of the specified SIMs",
        "operationId": "topUpMultipleUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "description": "A list of SIMs",
          "required": true
        },
        "summary": "Top up the data volume of the specified SIMs"
      }
    },
    "/v1/sims/{iccid}": {
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SIM_card"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SIM_card"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get status information i.e. status, label, MSISDN, IMSI, ICCID, Lifetime, for a device with a ICCID",
        "operationId": "getSimUsingGET",
        "summary": "Get status information i.e. status, label, MSISDN, IMSI, ICCID, Lifetime, for a device with a ICCID"
      },
      "put": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Modification of a SIM card to activate, deactivate, change label, change IMEI lock, etc.",
        "operationId": "updateSimUsingPUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Values_for_a_SIM_update"
              }
            },
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/Values_for_a_SIM_update"
              }
            }
          },
          "description": "The modified SIM",
          "required": true
        },
        "summary": "Modification of a SIM card to activate, deactivate, change label, change IMEI lock, etc."
      }
    },
    "/v1/sims/{iccid}/connectivity_info": {
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "If true, the Subscriber connectivity info is retrieved. Default is true, i.e. subscriber=true",
            "in": "query",
            "name": "subscriber",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "If true, the USSD connectivity info is retrieved. Default is false, i.e. ussd=false",
            "example": false,
            "in": "query",
            "name": "ussd",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectivityInfo"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectivityInfo"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Retrieve connectivity information and location for a SIM",
        "operationId": "getConnectivityInfoForSimUsingGET",
        "summary": "Retrieve connectivity information and location for a SIM"
      }
    },
    "/v1/sims/{iccid}/events": {
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Number of the requested page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The size of the page, maximum allowed value is 1000",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Sort values in a comma seperated list, prepend \"-\" for descending order",
            "example": "-timestamp,id",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventCollection"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/EventCollection"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get diagnostic/event information for a SIM card i.e. network events",
        "operationId": "getEventsForSimUsingGET",
        "summary": "Get diagnostic/event information for a SIM card i.e. network events"
      }
    },
    "/v1/sims/{iccid}/quota/data": {
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get the data quota of a SIM",
        "operationId": "getDataQuotaForSimUsingGET",
        "summary": "Get the data quota of a SIM"
      }
    },
    "/v1/sims/{iccid}/quota/sms": {
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get the SMS quota of a SIM",
        "operationId": "getSmsQuotaForSimUsingGET",
        "summary": "Get the SMS quota of a SIM"
      }
    },
    "/v1/sims/{iccid}/reset": {
      "post": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Trigger a connectivity reset for a given SIM. The actual reset will be done asynchronously. A positive-response only means that the connectivity-reset has been successfully placed into the queue.",
        "operationId": "resetConnectivityUsingPOST",
        "summary": "Trigger a connectivity reset for a given SIM. The actual reset will be done asynchronously. A positive-response only means that the connectivity-reset has been successfully placed into the queue."
      }
    },
    "/v1/sims/{iccid}/sms": {
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Number of the requested page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The size of the page, maximum allowed value is 100",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Sort values in a comma seperated list",
            "example": "status,ip_address",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SMS-Data"
                  },
                  "type": "array"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SMS-Data"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get the list of SMS sent and received by this SIM card",
        "operationId": "getSmsForSimUsingGET",
        "summary": "Get the list of SMS sent and received by this SIM card"
      },
      "post": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Submit SMS to specified SIM card",
        "operationId": "sendSmsToSimUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMS"
              }
            },
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/SMS"
              }
            }
          },
          "description": "SMS that should be sent to SIM",
          "required": true
        },
        "summary": "Submit SMS to specified SIM card"
      }
    },
    "/v1/sims/{iccid}/sms/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the SMS",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Cancel SMS that is buffered for SIM card and not yet delivered",
        "operationId": "cancelSmsForSimUsingDELETE",
        "summary": "Cancel SMS that is buffered for SIM card and not yet delivered"
      },
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the SMS",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMS-Data"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SMS-Data"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get details about the SMS",
        "operationId": "getSmsOfSimUsingGET",
        "summary": "Get details about the SMS"
      }
    },
    "/v1/sims/{iccid}/status": {
      "get": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connectivity"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Connectivity"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get current status of SIM",
        "operationId": "getStatusForSimUsingGET",
        "summary": "Get current status of SIM"
      }
    },
    "/v1/sims/{iccid}/topup": {
      "post": {
        "parameters": [
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Order created successfully",
            "headers": {
              "Location": {
                "description": "The path to the newly created order",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "SIM does not belong to user"
          },
          "404": {
            "description": "SIM not found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Top up the data volume of a specified SIM",
        "operationId": "topUpUsingPOST",
        "summary": "Top up the data volume of a specified SIM"
      }
    },
    "/v1/sims/{iccid}/usage": {
      "get": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "End date used for the query, format: YYYY-MM-DD",
            "example": "2018-04-30",
            "in": "query",
            "name": "end_dt",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The iccid of the SIM",
            "in": "path",
            "name": "iccid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Start date used for the query, format: YYYY-MM-DD",
            "example": "2018-04-23",
            "in": "query",
            "name": "start_dt",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyUsage"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/DailyUsage"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/sims"
        ],
        "deprecated": false,
        "description": "Get the daily usage generated by a SIM",
        "operationId": "getUsageForSimUsingGET",
        "summary": "Get the daily usage generated by a SIM"
      }
    },
    "/v1/support": {
      "get": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "Number of the requested page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The size of the page, maximum allowed value is 100",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 10,
              "exclusiveMaximum": false,
              "exclusiveMinimum": false,
              "format": "int32",
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Service_request"
                  },
                  "type": "array"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Service_request"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/support"
        ],
        "deprecated": false,
        "description": "Get a list of service requests",
        "operationId": "getServiceRequestsUsingGET",
        "summary": "Get a list of service requests"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "/support"
        ],
        "deprecated": false,
        "description": "Create a new service request",
        "operationId": "createServiceRequestUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagementApiServiceRequest"
              }
            }
          },
          "description": "request",
          "required": true
        },
        "summary": "Create a new service request"
      }
    }
  },
  "components": {
    "schemas": {
      "Additional_Order": {
        "description": "General information about an order",
        "properties": {
          "billing_address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "Billing address. If none provided, current billing address will be selected"
          },
          "customer_reference": {
            "description": "Optional customer-specific reference for the order",
            "type": "string"
          },
          "delivery_address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "Delivery address. If none provided, products will be sent to existing single delivery address"
          },
          "products": {
            "description": "The products you want to order",
            "items": {
              "$ref": "#/components/schemas/Ordered_product"
            },
            "type": "array"
          }
        },
        "required": [
          "products"
        ],
        "title": "Additional Order",
        "type": "object"
      },
      "Address": {
        "description": "Address information",
        "properties": {
          "address_line2": {
            "description": "Address Line2",
            "type": "string"
          },
          "city": {
            "description": "City",
            "type": "string"
          },
          "company": {
            "description": "Company name",
            "example": "1nce GmbH",
            "type": "string"
          },
          "country": {
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "DE",
            "type": "string"
          },
          "first_name": {
            "description": "First name",
            "type": "string"
          },
          "house_number": {
            "description": "House number",
            "type": "string"
          },
          "last_name": {
            "description": "Last name",
            "type": "string"
          },
          "salutation": {
            "description": "Salutation - currently supported values are '1' for 'Mr' and '2' for 'Ms'",
            "enum": [
              "1",
              "2"
            ],
            "example": 2,
            "type": "string"
          },
          "street": {
            "description": "Street",
            "type": "string"
          },
          "zip": {
            "description": "ZIP",
            "type": "string"
          }
        },
        "required": [
          "address_line2",
          "city",
          "company",
          "country",
          "first_name",
          "last_name",
          "salutation",
          "street",
          "zip"
        ],
        "title": "Address",
        "type": "object"
      },
      "AutoTopupRequest": {
        "description": "Contains a list of ICCIDs and a boolean flag for auto topup",
        "properties": {
          "enabled": {
            "description": "Whether auto topup is enabled for the given SIMs",
            "type": "boolean"
          },
          "iccids": {
            "description": "A list of ICCIDs",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "title": "AutoTopupRequest",
        "type": "object"
      },
      "CellGlobalId": {
        "properties": {
          "cid": {
            "format": "int64",
            "type": "integer"
          },
          "lac": {
            "format": "int64",
            "type": "integer"
          },
          "mcc": {
            "type": "string"
          },
          "mnc": {
            "type": "string"
          }
        },
        "title": "CellGlobalId",
        "type": "object"
      },
      "Charge": {
        "description": "A product charge",
        "properties": {
          "amount_net": {
            "description": "Net amount",
            "type": "number"
          },
          "currency": {
            "description": "Currency",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "title": "Charge",
        "type": "object"
      },
      "Communication": {
        "properties": {
          "communicationDate": {
            "type": "string"
          },
          "direction": {
            "enum": [
              "IN",
              "OUT"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "originator": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "type": {
            "enum": [
              "PORTAL",
              "PHONE_IN",
              "PHONE_OUT",
              "MAIL_IN",
              "MAIL_OUT"
            ],
            "type": "string"
          }
        },
        "title": "Communication",
        "type": "object"
      },
      "Connectivity": {
        "description": "Contains connectivity status",
        "properties": {
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Location"
              }
            ],
            "description": "Location information"
          },
          "pdp_context": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PdpContext"
              }
            ],
            "description": "PDP context information"
          },
          "services": {
            "description": "List of services",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "description": "The status of the connectivity",
            "type": "string"
          }
        },
        "title": "Connectivity",
        "type": "object"
      },
      "ConnectivityInfo": {
        "description": "Contains connectivity and location information",
        "properties": {
          "reply_timestamp": {
            "description": "Time in UTC the response was sent",
            "example": "2018-11-07T17:21:46.263+0000",
            "type": "string"
          },
          "request_timestamp": {
            "description": "Time in UTC the request was received",
            "example": "2018-11-07T17:21:46.121+0000",
            "type": "string"
          },
          "subscriber_info": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SubscriberInfo"
              }
            ],
            "description": "The optional subscriber info returned when the 'subscriber' parameter is true"
          },
          "ussd_info": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UssdInfo"
              }
            ],
            "description": "USSD connectivity info"
          }
        },
        "title": "ConnectivityInfo",
        "type": "object"
      },
      "Country": {
        "description": "Country of the operator",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "iso_code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "title": "Country",
        "type": "object"
      },
      "Daily": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Data"
          },
          "date": {
            "type": "string"
          },
          "sms": {
            "$ref": "#/components/schemas/Sms"
          }
        },
        "title": "Daily",
        "type": "object"
      },
      "DailyUsage": {
        "description": "Information about daily SIM usage",
        "properties": {
          "stats": {
            "description": "List of daily usage statistics",
            "items": {
              "$ref": "#/components/schemas/Daily"
            },
            "type": "array"
          }
        },
        "title": "DailyUsage",
        "type": "object"
      },
      "Data": {
        "properties": {
          "cost": {
            "type": "string"
          },
          "currency": {
            "type": "object"
          },
          "traffic_type": {
            "$ref": "#/components/schemas/TrafficType"
          },
          "volume": {
            "type": "string"
          },
          "volume_rx": {
            "type": "string"
          },
          "volume_tx": {
            "type": "string"
          }
        },
        "title": "Data",
        "type": "object"
      },
      "EventCollection": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/SIM_Event"
            },
            "type": "array"
          },
          "totalEvents": {
            "format": "int32",
            "type": "integer"
          },
          "totalPages": {
            "format": "int32",
            "type": "integer"
          }
        },
        "title": "EventCollection",
        "type": "object"
      },
      "IccidRange": {
        "properties": {
          "from": {
            "description": "The first ICCID of the range",
            "type": "string"
          },
          "to": {
            "description": "The last ICCID of the range",
            "type": "string"
          }
        },
        "title": "IccidRange",
        "type": "object"
      },
      "Link": {
        "properties": {
          "href": {
            "description": "href",
            "example": "https://api.1nce.com/api/v1/sims/9999999999000000001",
            "type": "string"
          },
          "rel": {
            "description": "rel",
            "example": "self",
            "type": "string"
          }
        },
        "title": "Link",
        "type": "object"
      },
      "Location": {
        "description": "Location information.",
        "properties": {
          "description": {
            "type": "string"
          },
          "rat_type_id": {
            "type": "string"
          }
        },
        "title": "Location",
        "type": "object"
      },
      "ManagementApiServiceRequest": {
        "properties": {
          "replyToMail": {
            "type": "string"
          },
          "senderName": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "title": "ManagementApiServiceRequest",
        "type": "object"
      },
      "Order": {
        "description": "General information about an order",
        "properties": {
          "currency": {
            "description": "ISO 4217 currency code used for the invoice amount",
            "example": "EUR",
            "type": "string"
          },
          "invoice_amount": {
            "description": "The gross value which this order amounts to, as printed on the invoice",
            "example": 19.99,
            "type": "string"
          },
          "invoice_number": {
            "description": "Invoice No. - unique alphanumerical identifier for the corresponding invoice",
            "example": 20000002,
            "type": "string"
          },
          "order_date": {
            "description": "Order date",
            "format": "date-time",
            "type": "string"
          },
          "order_number": {
            "description": "Order No. - the unique numerical identifier for a order",
            "example": 2000000001,
            "type": "number"
          },
          "order_status": {
            "description": "Status of the Order",
            "example": "COMPLETED",
            "type": "string"
          },
          "order_type": {
            "description": "The order type indicates whether this is a first order, additional order or a topup",
            "enum": [
              "FIRST_ORDER",
              "ADDITIONAL_ORDER",
              "TOPUP",
              "BULK_TOPUP"
            ],
            "example": "FIRST_ORDER",
            "type": "string"
          },
          "products": {
            "description": "IDs and quantity of ordered products",
            "items": {
              "$ref": "#/components/schemas/Product_information"
            },
            "type": "array"
          },
          "shipping_address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "Shipping Address for this order"
          },
          "sims": {
            "description": "SIMs included or affected by this Order",
            "items": {
              "$ref": "#/components/schemas/SIM"
            },
            "type": "array"
          }
        },
        "title": "Order",
        "type": "object"
      },
      "Ordered_product": {
        "description": "What you want and how much of it",
        "properties": {
          "productId": {
            "format": "int64",
            "type": "integer"
          },
          "quantity": {
            "format": "int32",
            "type": "integer"
          }
        },
        "title": "Ordered product",
        "type": "object"
      },
      "PdpContext": {
        "description": "Pdp Context",
        "properties": {
          "breakout_ip": {
            "type": "string"
          },
          "ci": {
            "type": "object"
          },
          "created": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "endpoint_id": {
            "type": "string"
          },
          "ggsn_control_plane_ip_address": {
            "type": "string"
          },
          "ggsn_data_plane_ip_address": {
            "type": "string"
          },
          "gtp_version": {
            "type": "string"
          },
          "imeisv": {
            "type": "string"
          },
          "imsi": {
            "type": "string"
          },
          "imsi_id": {
            "type": "string"
          },
          "lac": {
            "type": "string"
          },
          "mcc": {
            "type": "string"
          },
          "mnc": {
            "type": "string"
          },
          "nsapi": {
            "type": "string"
          },
          "operator_id": {
            "type": "string"
          },
          "organisation_id": {
            "type": "string"
          },
          "pdp_context_id": {
            "type": "string"
          },
          "rac": {
            "type": "object"
          },
          "rat_type": {
            "$ref": "#/components/schemas/Location"
          },
          "ratezone_id": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "sac": {
            "type": "string"
          },
          "sgsn_control_plane_ip_address": {
            "type": "string"
          },
          "sgsn_data_plane_ip_address": {
            "type": "string"
          },
          "sim_id": {
            "type": "string"
          },
          "tariff_id": {
            "type": "string"
          },
          "tariff_profile_id": {
            "type": "string"
          },
          "teid_control_plane": {
            "type": "string"
          },
          "teid_data_plane": {
            "type": "string"
          },
          "ue_ip_address": {
            "type": "string"
          }
        },
        "title": "PdpContext",
        "type": "object"
      },
      "Product": {
        "description": "Information about a product",
        "properties": {
          "id": {
            "description": "ID",
            "format": "int64",
            "type": "integer"
          },
          "material": {
            "description": "Material",
            "type": "string"
          },
          "maxQuantity": {
            "description": "Maximum quantity of product per order",
            "format": "int64",
            "type": "integer"
          },
          "min_contract_duration": {
            "description": "Minimum contract duration",
            "format": "int64",
            "type": "integer"
          },
          "one_time_charges": {
            "description": "One-Time charges",
            "items": {
              "$ref": "#/components/schemas/Charge"
            },
            "type": "array"
          },
          "package_size": {
            "description": "Package size",
            "format": "int64",
            "type": "integer"
          },
          "product": {
            "description": "Product name",
            "type": "string"
          },
          "recurring_charges": {
            "description": "Recurring charges",
            "items": {
              "$ref": "#/components/schemas/Charge"
            },
            "type": "array"
          }
        },
        "title": "Product",
        "type": "object"
      },
      "Product_information": {
        "description": "General information about an ordered product",
        "properties": {
          "product_id": {
            "description": "Product ID",
            "format": "int64",
            "type": "integer"
          },
          "quantity": {
            "description": "Quantity of SIM with this product ordered",
            "format": "int64",
            "type": "integer"
          }
        },
        "title": "Product information",
        "type": "object"
      },
      "Quota": {
        "properties": {
          "expiry_date": {
            "description": "Date this quota will expire",
            "example": "2029-01-01 00:00:00",
            "type": "string"
          },
          "last_status_change_date": {
            "description": "Last date and time on which this quota was changed, e.g. by purchasing a TopUp",
            "example": "2018-10-01 11:59:44",
            "type": "string"
          },
          "last_volume_added": {
            "description": "Amount of SMS or data volume which was last purchased for this SIM",
            "example": 500,
            "type": "number"
          },
          "peak_throughput": {
            "description": "The optional throughput in bit/s (only for data quotas)",
            "example": 128000,
            "format": "int32",
            "type": "integer"
          },
          "threshold_percentage": {
            "description": "Threshold in percentage for which a volume notification will be send",
            "example": 20,
            "format": "int32",
            "type": "integer"
          },
          "total_volume": {
            "description": "The total data volume or SMS this SIM has available over its lifetime",
            "example": 500,
            "type": "number"
          },
          "volume": {
            "description": "Currently available Volume, either SMS or data in MB",
            "example": 435.787951,
            "type": "number"
          }
        },
        "title": "Quota",
        "type": "object"
      },
      "SIM": {
        "description": "SIMs included/affected by an order",
        "properties": {
          "_links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "iccid": {
            "description": "ICCID",
            "example": 8988280666000000000,
            "type": "string"
          }
        },
        "title": "SIM",
        "type": "object"
      },
      "SIM_Event": {
        "description": "Information about a Event. Besides the timestamp and the event_type all other values are optional and might not be included in the actual response",
        "properties": {
          "alert": {
            "description": "Boolean flag determining if this event is treated as an alert",
            "example": false,
            "type": "boolean"
          },
          "country": {
            "description": "Country",
            "example": "Germany",
            "type": "string"
          },
          "event_severity": {
            "description": "Textual representation of the severity of the event",
            "example": "Info",
            "type": "string"
          },
          "event_type": {
            "description": "A description of the event type",
            "example": "Status of SIM changed from 'Issued' to 'Activated'",
            "type": "string"
          },
          "iccid": {
            "description": "ICCID",
            "example": 8988280666000000000,
            "type": "string"
          },
          "imei": {
            "description": "IMEI",
            "example": "0000000000000018",
            "type": "string"
          },
          "imsi": {
            "description": "IMSI",
            "example": 901405100000018,
            "type": "string"
          },
          "mcc": {
            "description": "MCC",
            "example": 262,
            "type": "string"
          },
          "mnc": {
            "description": "MNC",
            "example": "01",
            "type": "string"
          },
          "operator": {
            "description": "Operator name",
            "example": "T-Mobile",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp",
            "example": "2018-05-07T14:08:05.000+0000",
            "type": "string"
          }
        },
        "title": "SIM Event",
        "type": "object"
      },
      "SIM_card": {
        "description": "Information about a SIM card",
        "properties": {
          "activation_date": {
            "description": "Activation date",
            "example": "2018-03-09T07:59:09.000+0000",
            "type": "string"
          },
          "current_imsi": {
            "description": "CURRENT_IMSI",
            "example": 901405100000018,
            "type": "string"
          },
          "current_quota": {
            "description": "Current Quota for this SIM in MB",
            "example": 500,
            "type": "number"
          },
          "iccid": {
            "description": "ICCID",
            "example": 8988280666000000000,
            "type": "string"
          },
          "imei": {
            "description": "IMEI",
            "example": "0000000000000018",
            "type": "string"
          },
          "imei_lock": {
            "description": "Indicates if SIM is locked to the current IMEI",
            "example": true,
            "type": "boolean"
          },
          "imsi": {
            "description": "IMSI",
            "example": 901405100000018,
            "type": "string"
          },
          "imsi_2": {
            "description": "IMSI_2",
            "example": 901405100000018,
            "type": "string"
          },
          "ip_address": {
            "description": "IP Address",
            "example": "100.100.100.18",
            "type": "string"
          },
          "label": {
            "description": "Label",
            "example": "DX-137-B12",
            "type": "string"
          },
          "msisdn": {
            "description": "MSISDN",
            "example": 882285100000018,
            "type": "string"
          },
          "quota_status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Status_indicating_whether_or_not_the_treshold_or_the_quota_has_been_reached"
              }
            ],
            "description": "Indicates whether more than 20%, less than 20% or 0% of the current quota are still available"
          },
          "status": {
            "description": "Current Status",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "example": "Disabled",
            "type": "string"
          }
        },
        "title": "SIM card",
        "type": "object"
      },
      "SMS": {
        "description": "SMS to be send to SIM",
        "properties": {
          "dcs": {
            "description": "Data Coding Scheme (optional)",
            "example": 8,
            "format": "int32",
            "type": "integer"
          },
          "expiry_date": {
            "description": "Expiry Date in ISO8601",
            "example": "2018-03-14T16:10:29.000+0000",
            "type": "string"
          },
          "payload": {
            "description": "The content of the SMS",
            "example": "This is a text",
            "type": "string"
          },
          "source_address": {
            "description": "The source address",
            "example": 1234567890,
            "type": "string"
          },
          "source_address_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type_definition_for_the_source_address"
              }
            ],
            "description": " Specify type of source address"
          },
          "udh": {
            "description": "User Data Header encoded has hex-String (optional)",
            "type": "string"
          }
        },
        "title": "SMS",
        "type": "object"
      },
      "SMS-Data": {
        "description": "Information about a SMS",
        "properties": {
          "dcs": {
            "description": "DCS",
            "format": "int32",
            "type": "integer"
          },
          "delivery_date": {
            "description": "The date and time on which this SMS was delivered",
            "example": "2015-10-05 13:56:59",
            "type": "string"
          },
          "expiry_date": {
            "description": "The date and time on which this SMS will expire",
            "example": "2015-10-06 13:56:59",
            "type": "string"
          },
          "final_date": {
            "description": "The final date and time",
            "example": "2015-10-05 13:57:03",
            "type": "string"
          },
          "iccid": {
            "description": "ICCID",
            "example": 8988303000000001000,
            "type": "string"
          },
          "id": {
            "description": "id",
            "example": 590,
            "type": "number"
          },
          "imsi": {
            "description": "IMSI",
            "example": "901XXXXXXXXXXXX",
            "type": "string"
          },
          "last_delivery_attempt": {
            "description": "The date and time on which the last delivery was attempted",
            "example": "2015-10-05 13:57:03",
            "type": "string"
          },
          "msc": {
            "description": "MSC",
            "example": 491600190000,
            "type": "string"
          },
          "msisdn": {
            "description": "MSISDN",
            "example": "883XXXXXXXXXXXX",
            "type": "string"
          },
          "payload": {
            "description": "The content of the SMS",
            "example": "This is a text",
            "type": "string"
          },
          "retry_count": {
            "description": "The retry count",
            "example": 1,
            "type": "string"
          },
          "retry_date": {
            "description": "The date and time on which the delivery was retried",
            "example": "2015-10-05 13:57:03",
            "type": "string"
          },
          "sms_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type_definition_for_a_SMS"
              }
            ],
            "description": "The type information for this SMS"
          },
          "source_address": {
            "description": "The source address",
            "example": 1234567890,
            "type": "string"
          },
          "source_address_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type_definition_for_the_source_address"
              }
            ],
            "description": "Type information about the source address"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SmsStatus"
              }
            ],
            "description": "The status information for this SMS"
          },
          "submit_date": {
            "description": "The date and time on which this SMS was submitted",
            "example": "2015-10-05 13:56:59",
            "type": "string"
          },
          "udh": {
            "description": "User Data Header encoded has hex-String (optional)",
            "type": "string"
          }
        },
        "title": "SMS-Data",
        "type": "object"
      },
      "Service_request": {
        "description": "General information about a service request",
        "properties": {
          "caseId": {
            "type": "string"
          },
          "communications": {
            "items": {
              "$ref": "#/components/schemas/Communication"
            },
            "type": "array"
          },
          "createDate": {
            "type": "string"
          },
          "solvedDate": {
            "type": "string"
          },
          "status": {
            "enum": [
              "OPEN",
              "IN_PROGRESS",
              "CLOSED"
            ],
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "title": "Service request",
        "type": "object"
      },
      "SimTransfer": {
        "description": "A SIM Transfer request",
        "properties": {
          "iccid_ranges": {
            "description": "SIMs included or affected by this order",
            "items": {
              "$ref": "#/components/schemas/IccidRange"
            },
            "type": "array"
          },
          "iccids": {
            "description": "SIMs included or affected by this order",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "target_organisation": {
            "description": "The organisation to transfer the SIMs TO. Required if transferring to a suborganisation.",
            "example": 2000000001,
            "format": "int64",
            "type": "integer"
          }
        },
        "title": "SimTransfer",
        "type": "object"
      },
      "Sms": {
        "properties": {
          "cost": {
            "type": "string"
          },
          "currency": {
            "type": "object"
          },
          "traffic_type": {
            "$ref": "#/components/schemas/TrafficType_"
          },
          "volume": {
            "type": "string"
          },
          "volume_rx": {
            "type": "string"
          },
          "volume_tx": {
            "type": "string"
          }
        },
        "title": "Sms",
        "type": "object"
      },
      "SmsStatus": {
        "properties": {
          "description": {
            "description": "Status description",
            "example": "DELIVERED",
            "type": "string"
          },
          "id": {
            "description": "Numerical status identifier",
            "example": 4,
            "type": "number"
          }
        },
        "title": "SmsStatus",
        "type": "object"
      },
      "Status_indicating_whether_or_not_the_treshold_or_the_quota_has_been_reached": {
        "properties": {
          "description": {
            "description": "Status description",
            "type": "string"
          },
          "id": {
            "description": "Numerical status on of 0, 1 or 2",
            "example": 0,
            "type": "number"
          },
          "quota_exceeded_date": {
            "description": "Date on which the quota has Exceeded.",
            "format": "date-time",
            "type": "string"
          },
          "threshold_reached_date": {
            "description": "Date on which the threshold of 80% of the quota was reached.",
            "format": "date-time",
            "type": "string"
          }
        },
        "title": "Status indicating whether or not the treshold or the quota has been reached",
        "type": "object"
      },
      "SubscriberInfo": {
        "description": "Optional information about the current location",
        "properties": {
          "age_of_location": {
            "description": "Age of the location information in minutes",
            "example": 0,
            "format": "int32",
            "type": "integer"
          },
          "cell_global_id": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CellGlobalId"
              }
            ],
            "description": "Contains fields for mcc, mnc, lac and cid"
          },
          "current_location_retrieved": {
            "description": "Boolean flag indicating if the retrieved location is current",
            "example": true,
            "type": "boolean"
          }
        },
        "title": "SubscriberInfo",
        "type": "object"
      },
      "TrafficType": {
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "format": "int64",
            "type": "integer"
          },
          "unit": {
            "type": "string"
          }
        },
        "title": "TrafficType",
        "type": "object"
      },
      "TrafficType_": {
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "format": "int64",
            "type": "integer"
          },
          "unit": {
            "type": "string"
          }
        },
        "title": "TrafficType_",
        "type": "object"
      },
      "Type_definition_for_a_SMS": {
        "properties": {
          "description": {
            "description": "Type description",
            "example": "MT",
            "type": "string"
          },
          "id": {
            "description": "Numerical identifier for the type",
            "example": 1,
            "type": "number"
          }
        },
        "title": "Type definition for a SMS",
        "type": "object"
      },
      "Type_definition_for_the_source_address": {
        "properties": {
          "id": {
            "description": "Numerical identifier for the type",
            "example": 145,
            "type": "number"
          }
        },
        "title": "Type definition for the source address",
        "type": "object"
      },
      "UssdInfo": {
        "description": "Optional ussd information, only set if the parameter 'ussd' is set to true.",
        "properties": {
          "error": {
            "description": "Optional information if some error occurred",
            "example": "Request Timeout Error",
            "type": "string"
          },
          "success": {
            "description": "Boolean flag indicating the success",
            "example": false,
            "type": "boolean"
          }
        },
        "title": "UssdInfo",
        "type": "object"
      },
      "Values_for_a_SIM_update": {
        "description": "Information about a SIM card",
        "properties": {
          "iccid": {
            "description": "ICCID",
            "type": "string"
          },
          "imei_lock": {
            "description": "Indicates if SIM is locked to the current IMEI",
            "example": true,
            "type": "boolean"
          },
          "label": {
            "description": "Label",
            "type": "string"
          },
          "status": {
            "description": "Current Status",
            "example": "Disabled",
            "type": "string"
          }
        },
        "title": "Values for a SIM update",
        "type": "object"
      }
    },
    "securitySchemes": {
      "oauth2": {
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "/management-api/oauth/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "description": "Order Controller",
      "name": "/orders"
    },
    {
      "description": "Product information",
      "name": "/products"
    },
    {
      "description": "Manage your SIMs",
      "name": "/sims"
    },
    {
      "description": "Support Controller",
      "name": "/support"
    }
  ]
}