{
  "openapi": "3.0.3",
  "info": {
    "title": "Musixmatch API",
    "version": "1.1",
    "description": "Musixmatch API provides access to the world's largest lyrics database. Search for tracks, artists, albums, and retrieve lyrics and metadata.",
    "x-jentic-source-url": "https://docs.musixmatch.com/lyrics-api/introduction"
  },
  "servers": [
    {
      "url": "https://api.musixmatch.com/ws/1.1"
    }
  ],
  "paths": {
    "/track.search": {
      "get": {
        "operationId": "searchTracks",
        "summary": "Search for tracks",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "name": "q_track",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Track name to search"
          },
          {
            "name": "q_artist",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Artist name to filter"
          },
          {
            "name": "q_lyrics",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Lyrics text to search"
          },
          {
            "name": "f_has_lyrics",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter tracks with lyrics"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Results per page"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Track search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/track.get": {
      "get": {
        "operationId": "getTrack",
        "summary": "Get track details",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "name": "track_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Musixmatch track ID"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Track details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/track.lyrics.get": {
      "get": {
        "operationId": "getTrackLyrics",
        "summary": "Get track lyrics",
        "tags": [
          "Lyrics"
        ],
        "parameters": [
          {
            "name": "track_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Musixmatch track ID"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Track lyrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LyricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/track.snippet.get": {
      "get": {
        "operationId": "getTrackSnippet",
        "summary": "Get track lyrics snippet",
        "tags": [
          "Lyrics"
        ],
        "parameters": [
          {
            "name": "track_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Musixmatch track ID"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyrics snippet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnippetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/matcher.track.get": {
      "get": {
        "operationId": "matchTrack",
        "summary": "Match a track by artist and title",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "name": "q_track",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Track title"
          },
          {
            "name": "q_artist",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Artist name"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Matched track",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artist.search": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search for artists",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "q_artist",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Artist name"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Results per page"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artist.get": {
      "get": {
        "operationId": "getArtist",
        "summary": "Get artist details",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "artist_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Musixmatch artist ID"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artist.albums.get": {
      "get": {
        "operationId": "getArtistAlbums",
        "summary": "Get artist albums",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "artist_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Musixmatch artist ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist albums",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/album.get": {
      "get": {
        "operationId": "getAlbum",
        "summary": "Get album details",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "name": "album_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Musixmatch album ID"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Album details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/album.tracks.get": {
      "get": {
        "operationId": "getAlbumTracks",
        "summary": "Get album tracks",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "name": "album_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Musixmatch album ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Album tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chart.tracks.get": {
      "get": {
        "operationId": "getChartTracks",
        "summary": "Get chart tracks",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "chart_name",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "hot",
                "mxmweekly",
                "mxmweekly_new"
              ]
            },
            "description": "Chart name"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code (ISO 3166-1 alpha-2)"
          },
          {
            "name": "f_has_lyrics",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter tracks with lyrics"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Chart tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chart.artists.get": {
      "get": {
        "operationId": "getChartArtists",
        "summary": "Get chart artists",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Chart artists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Track": {
        "type": "object",
        "properties": {
          "track_id": {
            "type": "integer"
          },
          "track_name": {
            "type": "string"
          },
          "track_rating": {
            "type": "integer"
          },
          "artist_id": {
            "type": "integer"
          },
          "artist_name": {
            "type": "string"
          },
          "album_id": {
            "type": "integer"
          },
          "album_name": {
            "type": "string"
          },
          "has_lyrics": {
            "type": "integer"
          },
          "instrumental": {
            "type": "integer"
          },
          "explicit": {
            "type": "integer"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Lyrics": {
        "type": "object",
        "properties": {
          "lyrics_id": {
            "type": "integer"
          },
          "lyrics_body": {
            "type": "string"
          },
          "lyrics_copyright": {
            "type": "string"
          },
          "script_tracking_url": {
            "type": "string"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "artist_id": {
            "type": "integer"
          },
          "artist_name": {
            "type": "string"
          },
          "artist_rating": {
            "type": "integer"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "album_id": {
            "type": "integer"
          },
          "album_name": {
            "type": "string"
          },
          "album_rating": {
            "type": "integer"
          },
          "artist_id": {
            "type": "integer"
          },
          "artist_name": {
            "type": "string"
          }
        }
      },
      "TrackSearchResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "track_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "track": {
                          "$ref": "#/components/schemas/Track"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TrackResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "track": {
                    "$ref": "#/components/schemas/Track"
                  }
                }
              }
            }
          }
        }
      },
      "LyricsResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "lyrics": {
                    "$ref": "#/components/schemas/Lyrics"
                  }
                }
              }
            }
          }
        }
      },
      "SnippetResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "snippet": {
                    "type": "object",
                    "properties": {
                      "snippet_body": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ArtistSearchResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "artist_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "artist": {
                          "$ref": "#/components/schemas/Artist"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ArtistResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "artist": {
                    "$ref": "#/components/schemas/Artist"
                  }
                }
              }
            }
          }
        }
      },
      "AlbumListResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "album_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "album": {
                          "$ref": "#/components/schemas/Album"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AlbumResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "header": {
                "type": "object"
              },
              "body": {
                "type": "object",
                "properties": {
                  "album": {
                    "$ref": "#/components/schemas/Album"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}