{
  "openapi": "3.0.3",
  "info": {
    "title": "Tatum Blockchain Data API",
    "version": "4.0.0",
    "description": "Tatum blockchain data API providing access to token data, wallet balances, NFT collections, transactions, and staking information across 20+ blockchain networks.",
    "x-jentic-source-url": "https://tatum.io/blockchain-api"
  },
  "servers": [
    {
      "url": "https://api.tatum.io/v4/data"
    }
  ],
  "paths": {
    "/tokens": {
      "get": {
        "operationId": "getTokenData",
        "summary": "Get token data by contract address",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Blockchain network identifier",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-mainnet",
                "solana-mainnet",
                "base-mainnet",
                "arbitrum-one",
                "bsc-mainnet",
                "polygon-mainnet",
                "optimism-mainnet",
                "berachain-mainnet",
                "unichain-mainnet",
                "celo-mainnet",
                "chiliz-mainnet",
                "tezos-mainnet"
              ]
            }
          },
          {
            "name": "tokenAddress",
            "in": "query",
            "required": true,
            "description": "Token contract address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "Token ID (required for NFT/multitoken metadata)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/balance/time": {
      "get": {
        "operationId": "getWalletBalanceByTime",
        "summary": "Get wallet balances at a specific blockchain moment",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Blockchain network identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addresses",
            "in": "query",
            "required": true,
            "description": "Comma-separated wallet addresses",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blockNumber",
            "in": "query",
            "description": "Block number for balance lookup",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "ISO 8601 timestamp for balance lookup",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "unix",
            "in": "query",
            "description": "Unix timestamp in seconds for balance lookup",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balances at specified time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalances"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/portfolio": {
      "get": {
        "operationId": "getWalletPortfolio",
        "summary": "Get wallet portfolio overview",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addresses",
            "in": "query",
            "required": true,
            "description": "Comma-separated wallet addresses",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet portfolio data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPortfolio"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/utxo": {
      "get": {
        "operationId": "getWalletUtxos",
        "summary": "Get unspent UTXOs for a wallet",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addresses",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UTXO data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtxoList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "operationId": "getNftCollectionTokens",
        "summary": "Get tokens from an NFT collection",
        "tags": [
          "NFTs"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionAddresses",
            "in": "query",
            "required": true,
            "description": "Comma-separated collection addresses (max 10)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenType",
            "in": "query",
            "description": "Token type filter",
            "schema": {
              "type": "string",
              "enum": [
                "NFT",
                "Multitoken"
              ]
            }
          },
          {
            "name": "excludeMetadata",
            "in": "query",
            "description": "Exclude metadata from response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NFT collection tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/hash": {
      "get": {
        "operationId": "getTransactionsByHash",
        "summary": "Get transactions by hash",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "description": "Transaction hash",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "getTransactionHistory",
        "summary": "Get transaction history for addresses",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addresses",
            "in": "query",
            "required": true,
            "description": "Comma-separated addresses",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionDetail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/staking/native/current-assets": {
      "get": {
        "operationId": "getCurrentStakedAssets",
        "summary": "Get current staked assets for an address",
        "tags": [
          "Staking"
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Blockchain network (currently solana-mainnet)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Staked assets data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StakedAssets"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Tatum API key"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TokenData": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "supply": {
            "type": "string"
          },
          "decimals": {
            "type": "integer"
          },
          "tokenType": {
            "type": "string"
          },
          "cap": {
            "type": "string"
          }
        }
      },
      "WalletBalances": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "balance": {
                  "type": "string"
                },
                "blockNumber": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "WalletPortfolio": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "assets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tokenAddress": {
                        "type": "string"
                      },
                      "balance": {
                        "type": "string"
                      },
                      "symbol": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UtxoList": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "txHash": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "value": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NftCollection": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tokenId": {
                  "type": "string"
                },
                "tokenAddress": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "image": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TransactionDetail": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "blockNumber": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          },
          "transactionType": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "tokenAddress": {
            "type": "string"
          },
          "counterAddress": {
            "type": "string"
          }
        }
      },
      "StakedAssets": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "validatorAddress": {
                  "type": "string"
                },
                "amount": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}