{
  "openapi": "3.0.1",
  "info": {
    "title": "Geocodio",
    "description": "Geocodio's RESTful API allows you to perform forward and reverse geocoding lookups. We support both batch requests as well as individual lookups.\n\nYou can also optionally ask for data appends such as timezone, Congressional districts or similar things of that nature.\n",
    "termsOfService": "https://www.geocod.io/terms-of-use/",
    "license": {
      "name": "Geocodio Terms of Use",
      "url": "https://www.geocod.io/terms-of-use/"
    },
    "contact": {
      "email": "hello@geocod.io"
    },
    "version": "1.12.0",
    "x-jentic-source-url": "https://api.geocod.io/openapi-spec.json"
  },
  "externalDocs": {
    "description": "Find out more about Geocodio",
    "url": "https://www.geocod.io"
  },
  "servers": [
    {
      "url": "https://api.geocod.io/v1.12",
      "description": "Self-Serve Geocodio API Endpoint"
    },
    {
      "url": "https://api.enterprise.geocod.io/v1.12",
      "description": "Geocodio API Endpoint for Enterprise Customers"
    }
  ],
  "tags": [
    {
      "name": "geocode",
      "description": "Geocode addresses to coordinates"
    },
    {
      "name": "reverse",
      "description": "Reverse geocode coordinates to addresses"
    },
    {
      "name": "distance",
      "description": "Calculate distances between one origin and one or more destinations"
    },
    {
      "name": "distance-matrix",
      "description": "Calculate distances between multiple origins and multiple destinations"
    },
    {
      "name": "distance-jobs",
      "description": "Async distance matrix job management"
    },
    {
      "name": "lists",
      "description": "Upload and manage spreadsheets for batch geocoding"
    }
  ],
  "paths": {
    "/geocode": {
      "get": {
        "tags": [
          "geocode"
        ],
        "summary": "Geocode single address",
        "description": "You can either use the `q` parameter for a full address query or a combination of `street`, `city`, `state`, `postal_code`, and/or `country` for when the address is already stored as separate fields on your end.\n",
        "operationId": "geocodeSingle",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The query (i.e. address) to geocode, or a stable address key (e.g. gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3) to resolve directly",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to append",
            "schema": {
              "$ref": "#/components/schemas/Fields"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "street",
            "in": "query",
            "example": "1600 Pennsylvania Ave NW",
            "description": "Can be used as an alternative to the `q` parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street2",
            "in": "query",
            "example": "Apt 204",
            "description": "Can be used as an alternative to the `q` parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "example": "Washington",
            "description": "Can be used as an alternative to the `q` parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "query",
            "example": "Washington",
            "description": "Can be used as an alternative to the `q` parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "example": "DC",
            "description": "Can be used as an alternative to the `q` parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postal_code",
            "in": "query",
            "example": "20500",
            "description": "Can be used as an alternative to the `q` parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "example": "US",
            "description": "Defaults to USA",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "example": 5,
            "description": "Optional parameter. The maximum number of results to return. The default is no limit.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "example": "simple",
            "description": "Optional parameter to change the output format of the JSON response to a different structure",
            "schema": {
              "type": "string",
              "enum": [
                "simple"
              ]
            }
          },
          {
            "name": "destinations[]",
            "in": "query",
            "description": "Array of destination locations for distance calculation. Each destination can be:\n- A coordinate string: \"lat,lng\" or \"lat,lng,id\"\n- A geocodable address string\nWhen provided, each geocoded result will include a `destinations` array with distance/duration to each destination.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": [
              "38.8977,-77.0365",
              "1600 Pennsylvania Ave NW, Washington DC"
            ]
          },
          {
            "name": "distance_mode",
            "in": "query",
            "description": "Distance calculation mode. `straightline` calculates great-circle distance (as the crow flies) and does not return duration.\n`driving` calculates driving distance and duration using road networks.\n",
            "schema": {
              "$ref": "#/components/schemas/DistanceMode"
            }
          },
          {
            "name": "distance_units",
            "in": "query",
            "description": "Unit of measurement for distance filtering",
            "schema": {
              "$ref": "#/components/schemas/DistanceUnits"
            }
          },
          {
            "name": "distance_max_results",
            "in": "query",
            "description": "Maximum number of destinations to return per geocoded result",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "distance_max_distance",
            "in": "query",
            "description": "Maximum distance filter (in specified units)",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "distance_max_duration",
            "in": "query",
            "description": "Maximum duration filter in seconds (only applies to driving mode)",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "distance_min_distance",
            "in": "query",
            "description": "Minimum distance filter (in specified units)",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "distance_min_duration",
            "in": "query",
            "description": "Minimum duration filter in seconds (only applies to driving mode)",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "distance_order_by",
            "in": "query",
            "description": "Field to sort destinations by",
            "schema": {
              "$ref": "#/components/schemas/DistanceOrderBy"
            }
          },
          {
            "name": "distance_sort_order",
            "in": "query",
            "description": "Sort order for destinations",
            "schema": {
              "$ref": "#/components/schemas/DistanceSortOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully geocoded address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResult"
                },
                "examples": {
                  "basic": {
                    "summary": "Basic geocoding response",
                    "value": {
                      "input": {
                        "address_components": {
                          "number": "1109",
                          "street": "Highland",
                          "suffix": "St",
                          "city": "Arlington",
                          "state": "VA",
                          "zip": "22201"
                        },
                        "formatted_address": "1109 N Highland St, Arlington, VA 22201"
                      },
                      "results": [
                        {
                          "address_components": {
                            "number": "1109",
                            "predirectional": "N",
                            "street": "Highland",
                            "suffix": "St",
                            "city": "Arlington",
                            "county": "Arlington County",
                            "state": "VA",
                            "zip": "22201"
                          },
                          "formatted_address": "1109 N Highland St, Arlington, VA 22201",
                          "location": {
                            "lat": 38.886672,
                            "lng": -77.094735
                          },
                          "accuracy": 1,
                          "accuracy_type": "rooftop",
                          "source": "Virginia GIS Clearinghouse",
                          "stable_address_key": "gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3",
                          "match_type": null
                        }
                      ]
                    }
                  },
                  "withDistance": {
                    "summary": "Geocoding with distance calculation",
                    "value": {
                      "input": {
                        "formatted_address": "1109 N Highland St, Arlington, VA 22201"
                      },
                      "results": [
                        {
                          "location": {
                            "lat": 38.886672,
                            "lng": -77.094735
                          },
                          "formatted_address": "1109 N Highland St, Arlington, VA 22201",
                          "accuracy": 1,
                          "accuracy_type": "rooftop",
                          "stable_address_key": "gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3",
                          "match_type": null,
                          "destinations": [
                            {
                              "query": "38.8977,-77.0365",
                              "location": [
                                38.8977,
                                -77.0365
                              ],
                              "distance_miles": 3.2,
                              "distance_km": 5.1,
                              "duration_seconds": 540
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "withAcsDemographics": {
                    "summary": "Geocoding with ACS demographics field",
                    "value": {
                      "input": {
                        "address_components": {
                          "number": "1109",
                          "predirectional": "N",
                          "street": "Highland",
                          "suffix": "St",
                          "formatted_street": "N Highland St",
                          "city": "Arlington",
                          "state": "VA",
                          "zip": "22201",
                          "country": "US"
                        },
                        "formatted_address": "1109 N Highland St, Arlington, VA 22201"
                      },
                      "results": [
                        {
                          "address_components": {
                            "number": "1109",
                            "predirectional": "N",
                            "street": "Highland",
                            "suffix": "St",
                            "formatted_street": "N Highland St",
                            "city": "Arlington",
                            "county": "Arlington County",
                            "state": "VA",
                            "zip": "22201",
                            "country": "US"
                          },
                          "formatted_address": "1109 N Highland St, Arlington, VA 22201",
                          "location": {
                            "lat": 38.886672,
                            "lng": -77.094735
                          },
                          "accuracy": 1,
                          "accuracy_type": "rooftop",
                          "source": "Arlington",
                          "stable_address_key": "gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3",
                          "match_type": null,
                          "fields": {
                            "acs": {
                              "meta": {
                                "source": "American Community Survey from the US Census Bureau",
                                "survey_years": "2020-2024",
                                "survey_duration_years": "5"
                              },
                              "demographics": {
                                "Median age": {
                                  "meta": {
                                    "table_id": "B01002",
                                    "universe": "Total population"
                                  },
                                  "Total": {
                                    "value": 34,
                                    "margin_of_error": 2.6
                                  },
                                  "Male": {
                                    "value": 36.2,
                                    "margin_of_error": 4.3
                                  },
                                  "Female": {
                                    "value": 33.3,
                                    "margin_of_error": 1.3
                                  }
                                },
                                "Population by age range": {
                                  "meta": {
                                    "table_id": "B01001",
                                    "universe": "Total population"
                                  },
                                  "Total": {
                                    "value": 1554,
                                    "margin_of_error": 291
                                  },
                                  "Male": {
                                    "value": 775,
                                    "margin_of_error": 170,
                                    "percentage": 0.499
                                  },
                                  "Male: Under 5 years": {
                                    "value": 35,
                                    "margin_of_error": 31,
                                    "percentage": 0.045
                                  },
                                  "Male: 5 to 9 years": {
                                    "value": 3,
                                    "margin_of_error": 6,
                                    "percentage": 0.004
                                  },
                                  "Male: 10 to 14 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 15 to 17 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 18 and 19 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 20 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 21 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 22 to 24 years": {
                                    "value": 62,
                                    "margin_of_error": 72,
                                    "percentage": 0.08
                                  },
                                  "Male: 25 to 29 years": {
                                    "value": 168,
                                    "margin_of_error": 86,
                                    "percentage": 0.217
                                  },
                                  "Male: 30 to 34 years": {
                                    "value": 106,
                                    "margin_of_error": 61,
                                    "percentage": 0.137
                                  },
                                  "Male: 35 to 39 years": {
                                    "value": 127,
                                    "margin_of_error": 59,
                                    "percentage": 0.164
                                  },
                                  "Male: 40 to 44 years": {
                                    "value": 23,
                                    "margin_of_error": 22,
                                    "percentage": 0.03
                                  },
                                  "Male: 45 to 49 years": {
                                    "value": 87,
                                    "margin_of_error": 83,
                                    "percentage": 0.112
                                  },
                                  "Male: 50 to 54 years": {
                                    "value": 94,
                                    "margin_of_error": 73,
                                    "percentage": 0.121
                                  },
                                  "Male: 55 to 59 years": {
                                    "value": 14,
                                    "margin_of_error": 23,
                                    "percentage": 0.018
                                  },
                                  "Male: 60 and 61 years": {
                                    "value": 13,
                                    "margin_of_error": 23,
                                    "percentage": 0.017
                                  },
                                  "Male: 62 to 64 years": {
                                    "value": 8,
                                    "margin_of_error": 13,
                                    "percentage": 0.01
                                  },
                                  "Male: 65 and 66 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 67 to 69 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 70 to 74 years": {
                                    "value": 16,
                                    "margin_of_error": 22,
                                    "percentage": 0.021
                                  },
                                  "Male: 75 to 79 years": {
                                    "value": 19,
                                    "margin_of_error": 21,
                                    "percentage": 0.025
                                  },
                                  "Male: 80 to 84 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 85 years and over": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female": {
                                    "value": 779,
                                    "margin_of_error": 161,
                                    "percentage": 0.501
                                  },
                                  "Female: Under 5 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 5 to 9 years": {
                                    "value": 7,
                                    "margin_of_error": 12,
                                    "percentage": 0.009
                                  },
                                  "Female: 10 to 14 years": {
                                    "value": 47,
                                    "margin_of_error": 59,
                                    "percentage": 0.06
                                  },
                                  "Female: 15 to 17 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 18 and 19 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 20 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 21 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 22 to 24 years": {
                                    "value": 85,
                                    "margin_of_error": 100,
                                    "percentage": 0.109
                                  },
                                  "Female: 25 to 29 years": {
                                    "value": 120,
                                    "margin_of_error": 49,
                                    "percentage": 0.154
                                  },
                                  "Female: 30 to 34 years": {
                                    "value": 205,
                                    "margin_of_error": 82,
                                    "percentage": 0.263
                                  },
                                  "Female: 35 to 39 years": {
                                    "value": 72,
                                    "margin_of_error": 54,
                                    "percentage": 0.092
                                  },
                                  "Female: 40 to 44 years": {
                                    "value": 19,
                                    "margin_of_error": 22,
                                    "percentage": 0.024
                                  },
                                  "Female: 45 to 49 years": {
                                    "value": 107,
                                    "margin_of_error": 70,
                                    "percentage": 0.137
                                  },
                                  "Female: 50 to 54 years": {
                                    "value": 47,
                                    "margin_of_error": 52,
                                    "percentage": 0.06
                                  },
                                  "Female: 55 to 59 years": {
                                    "value": 13,
                                    "margin_of_error": 21,
                                    "percentage": 0.017
                                  },
                                  "Female: 60 and 61 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 62 to 64 years": {
                                    "value": 8,
                                    "margin_of_error": 13,
                                    "percentage": 0.01
                                  },
                                  "Female: 65 and 66 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 67 to 69 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 70 to 74 years": {
                                    "value": 33,
                                    "margin_of_error": 29,
                                    "percentage": 0.042
                                  },
                                  "Female: 75 to 79 years": {
                                    "value": 16,
                                    "margin_of_error": 18,
                                    "percentage": 0.021
                                  },
                                  "Female: 80 to 84 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 85 years and over": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  }
                                },
                                "Sex": {
                                  "meta": {
                                    "table_id": "B01001",
                                    "universe": "Total population"
                                  },
                                  "Total": {
                                    "value": 1554,
                                    "margin_of_error": 291
                                  },
                                  "Male": {
                                    "value": 775,
                                    "margin_of_error": 170,
                                    "percentage": 0.499
                                  },
                                  "Female": {
                                    "value": 779,
                                    "margin_of_error": 161,
                                    "percentage": 0.501
                                  }
                                },
                                "Race and ethnicity": {
                                  "meta": {
                                    "table_id": "B03002",
                                    "universe": "Total population"
                                  },
                                  "Total": {
                                    "value": 1554,
                                    "margin_of_error": 291
                                  },
                                  "Not Hispanic or Latino": {
                                    "value": 1478,
                                    "margin_of_error": 295,
                                    "percentage": 0.951
                                  },
                                  "Not Hispanic or Latino: White alone": {
                                    "value": 1116,
                                    "margin_of_error": 225,
                                    "percentage": 0.755
                                  },
                                  "Not Hispanic or Latino: Black or African American alone": {
                                    "value": 44,
                                    "margin_of_error": 54,
                                    "percentage": 0.03
                                  },
                                  "Not Hispanic or Latino: American Indian and Alaska Native alone": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Not Hispanic or Latino: Asian alone": {
                                    "value": 130,
                                    "margin_of_error": 95,
                                    "percentage": 0.088
                                  },
                                  "Not Hispanic or Latino: Native Hawaiian and Other Pacific Islander alone": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Not Hispanic or Latino: Some other race alone": {
                                    "value": 22,
                                    "margin_of_error": 26,
                                    "percentage": 0.015
                                  },
                                  "Not Hispanic or Latino: Two or more races": {
                                    "value": 166,
                                    "margin_of_error": 74,
                                    "percentage": 0.112
                                  },
                                  "Not Hispanic or Latino: Two or more races: Two races including Some other race": {
                                    "value": 5,
                                    "margin_of_error": 9,
                                    "percentage": 0.03
                                  },
                                  "Not Hispanic or Latino: Two or more races: Two races excluding Some other race, and three or more races": {
                                    "value": 161,
                                    "margin_of_error": 74,
                                    "percentage": 0.97
                                  },
                                  "Hispanic or Latino": {
                                    "value": 76,
                                    "margin_of_error": 45,
                                    "percentage": 0.049
                                  },
                                  "Hispanic or Latino: White alone": {
                                    "value": 21,
                                    "margin_of_error": 23,
                                    "percentage": 0.276
                                  },
                                  "Hispanic or Latino: Black or African American alone": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Hispanic or Latino: American Indian and Alaska Native alone": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Hispanic or Latino: Asian alone": {
                                    "value": 22,
                                    "margin_of_error": 30,
                                    "percentage": 0.289
                                  },
                                  "Hispanic or Latino: Native Hawaiian and Other Pacific Islander alone": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Hispanic or Latino: Some other race alone": {
                                    "value": 9,
                                    "margin_of_error": 13,
                                    "percentage": 0.118
                                  },
                                  "Hispanic or Latino: Two or more races": {
                                    "value": 24,
                                    "margin_of_error": 23,
                                    "percentage": 0.316
                                  },
                                  "Hispanic or Latino: Two or more races: Two races including Some other race": {
                                    "value": 24,
                                    "margin_of_error": 23,
                                    "percentage": 1
                                  },
                                  "Hispanic or Latino: Two or more races: Two races excluding Some other race, and three or more races": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  }
                                },
                                "meta": {
                                  "geography": "block_group"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "withAcsEconomics": {
                    "summary": "Geocoding with ACS economics field",
                    "value": {
                      "input": {
                        "address_components": {
                          "number": "1109",
                          "predirectional": "N",
                          "street": "Highland",
                          "suffix": "St",
                          "formatted_street": "N Highland St",
                          "city": "Arlington",
                          "state": "VA",
                          "zip": "22201",
                          "country": "US"
                        },
                        "formatted_address": "1109 N Highland St, Arlington, VA 22201"
                      },
                      "results": [
                        {
                          "address_components": {
                            "number": "1109",
                            "predirectional": "N",
                            "street": "Highland",
                            "suffix": "St",
                            "formatted_street": "N Highland St",
                            "city": "Arlington",
                            "county": "Arlington County",
                            "state": "VA",
                            "zip": "22201",
                            "country": "US"
                          },
                          "formatted_address": "1109 N Highland St, Arlington, VA 22201",
                          "location": {
                            "lat": 38.886672,
                            "lng": -77.094735
                          },
                          "accuracy": 1,
                          "accuracy_type": "rooftop",
                          "source": "Arlington",
                          "stable_address_key": "gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3",
                          "match_type": null,
                          "fields": {
                            "acs": {
                              "meta": {
                                "source": "American Community Survey from the US Census Bureau",
                                "survey_years": "2020-2024",
                                "survey_duration_years": "5"
                              },
                              "economics": {
                                "Number of households": {
                                  "meta": {
                                    "table_id": "B19001",
                                    "universe": "Households"
                                  },
                                  "Total": {
                                    "value": 887,
                                    "margin_of_error": 124
                                  }
                                },
                                "Median household income": {
                                  "meta": {
                                    "table_id": "B19013",
                                    "universe": "Households"
                                  },
                                  "Total": {
                                    "value": 202344,
                                    "margin_of_error": 29891
                                  }
                                },
                                "Household income": {
                                  "meta": {
                                    "table_id": "B19001",
                                    "universe": "Households"
                                  },
                                  "Less than $10,000": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$10,000 to $14,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$15,000 to $19,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$20,000 to $24,999": {
                                    "value": 7,
                                    "margin_of_error": 11,
                                    "percentage": 0.008
                                  },
                                  "$25,000 to $29,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$30,000 to $34,999": {
                                    "value": 31,
                                    "margin_of_error": 51,
                                    "percentage": 0.035
                                  },
                                  "$35,000 to $39,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$40,000 to $44,999": {
                                    "value": 8,
                                    "margin_of_error": 13,
                                    "percentage": 0.009
                                  },
                                  "$45,000 to $49,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$50,000 to $59,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$60,000 to $74,999": {
                                    "value": 12,
                                    "margin_of_error": 16,
                                    "percentage": 0.014
                                  },
                                  "$75,000 to $99,999": {
                                    "value": 59,
                                    "margin_of_error": 57,
                                    "percentage": 0.067
                                  },
                                  "$100,000 to $124,999": {
                                    "value": 117,
                                    "margin_of_error": 63,
                                    "percentage": 0.132
                                  },
                                  "$125,000 to $149,999": {
                                    "value": 56,
                                    "margin_of_error": 55,
                                    "percentage": 0.063
                                  },
                                  "$150,000 to $199,999": {
                                    "value": 146,
                                    "margin_of_error": 83,
                                    "percentage": 0.165
                                  },
                                  "$200,000 or more": {
                                    "value": 451,
                                    "margin_of_error": 98,
                                    "percentage": 0.508
                                  }
                                },
                                "Per capita income": {
                                  "meta": {
                                    "table_id": "B19301",
                                    "universe": "Total population"
                                  },
                                  "Total": {
                                    "value": 153059,
                                    "margin_of_error": 34075
                                  }
                                },
                                "meta": {
                                  "geography": "block_group"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "withAcsFamilies": {
                    "summary": "Geocoding with ACS families field",
                    "value": {
                      "input": {
                        "address_components": {
                          "number": "1109",
                          "predirectional": "N",
                          "street": "Highland",
                          "suffix": "St",
                          "formatted_street": "N Highland St",
                          "city": "Arlington",
                          "state": "VA",
                          "zip": "22201",
                          "country": "US"
                        },
                        "formatted_address": "1109 N Highland St, Arlington, VA 22201"
                      },
                      "results": [
                        {
                          "address_components": {
                            "number": "1109",
                            "predirectional": "N",
                            "street": "Highland",
                            "suffix": "St",
                            "formatted_street": "N Highland St",
                            "city": "Arlington",
                            "county": "Arlington County",
                            "state": "VA",
                            "zip": "22201",
                            "country": "US"
                          },
                          "formatted_address": "1109 N Highland St, Arlington, VA 22201",
                          "location": {
                            "lat": 38.886672,
                            "lng": -77.094735
                          },
                          "accuracy": 1,
                          "accuracy_type": "rooftop",
                          "source": "Arlington",
                          "stable_address_key": "gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3",
                          "match_type": null,
                          "fields": {
                            "acs": {
                              "meta": {
                                "source": "American Community Survey from the US Census Bureau",
                                "survey_years": "2020-2024",
                                "survey_duration_years": "5"
                              },
                              "families": {
                                "Household type by household": {
                                  "meta": {
                                    "table_id": "B11001",
                                    "universe": "Households"
                                  },
                                  "Total": {
                                    "value": 887,
                                    "margin_of_error": 124
                                  },
                                  "Family households": {
                                    "value": 345,
                                    "margin_of_error": 100,
                                    "percentage": 0.389
                                  },
                                  "Family households: Married-couple family": {
                                    "value": 338,
                                    "margin_of_error": 101,
                                    "percentage": 0.98
                                  },
                                  "Family households: Other family": {
                                    "value": 7,
                                    "margin_of_error": 13,
                                    "percentage": 0.02
                                  },
                                  "Family households: Other family: Male householder, no spouse present": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Family households: Other family: Female householder, no spouse present": {
                                    "value": 7,
                                    "margin_of_error": 13,
                                    "percentage": 1
                                  },
                                  "Nonfamily households": {
                                    "value": 542,
                                    "margin_of_error": 127,
                                    "percentage": 0.611
                                  },
                                  "Nonfamily households: Householder living alone": {
                                    "value": 349,
                                    "margin_of_error": 84,
                                    "percentage": 0.644
                                  },
                                  "Nonfamily households: Householder not living alone": {
                                    "value": 193,
                                    "margin_of_error": 96,
                                    "percentage": 0.356
                                  }
                                },
                                "Household type by population": {
                                  "meta": {
                                    "table_id": "B11002",
                                    "universe": "Population in Households"
                                  },
                                  "Total": {
                                    "value": 1554,
                                    "margin_of_error": 291
                                  },
                                  "In family households": {
                                    "value": 762,
                                    "margin_of_error": 220,
                                    "percentage": 0.49
                                  },
                                  "In family households: In married-couple family": {
                                    "value": 746,
                                    "margin_of_error": 221,
                                    "percentage": 0.979
                                  },
                                  "In family households: In married-couple family: Relatives": {
                                    "value": 746,
                                    "margin_of_error": 221,
                                    "percentage": 1
                                  },
                                  "In family households: In married-couple family: Nonrelatives": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In family households: In male householder, no spouse present, family": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In family households: In male householder, no spouse present, family: Relatives": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In family households: In male householder, no spouse present, family: Nonrelatives": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In family households: In female householder, no spouse present, family": {
                                    "value": 16,
                                    "margin_of_error": 27,
                                    "percentage": 0.021
                                  },
                                  "In family households: In female householder, no spouse present, family: Relatives": {
                                    "value": 16,
                                    "margin_of_error": 27,
                                    "percentage": 1
                                  },
                                  "In family households: In female householder, no spouse present, family: Nonrelatives": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In nonfamily households": {
                                    "value": 792,
                                    "margin_of_error": 270,
                                    "percentage": 0.51
                                  }
                                },
                                "Marital status": {
                                  "meta": {
                                    "table_id": "B12001",
                                    "universe": "Population 15 Years And Older"
                                  },
                                  "Male": {
                                    "value": 737,
                                    "margin_of_error": 165,
                                    "percentage": 0.504
                                  },
                                  "Male: Never married": {
                                    "value": 354,
                                    "margin_of_error": 160,
                                    "percentage": 0.48
                                  },
                                  "Male: Now married": {
                                    "value": 375,
                                    "margin_of_error": 108,
                                    "percentage": 0.509
                                  },
                                  "Male: Now married: Married, spouse present": {
                                    "value": 340,
                                    "margin_of_error": 101,
                                    "percentage": 0.907
                                  },
                                  "Male: Now married: Married, spouse absent": {
                                    "value": 35,
                                    "margin_of_error": 44,
                                    "percentage": 0.093
                                  },
                                  "Male: Now married: Married, spouse absent: Separated": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: Now married: Married, spouse absent: Other": {
                                    "value": 35,
                                    "margin_of_error": 44,
                                    "percentage": 1
                                  },
                                  "Male: Widowed": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: Divorced": {
                                    "value": 8,
                                    "margin_of_error": 9,
                                    "percentage": 0.011
                                  },
                                  "Female": {
                                    "value": 725,
                                    "margin_of_error": 143,
                                    "percentage": 0.496
                                  },
                                  "Female: Never married": {
                                    "value": 359,
                                    "margin_of_error": 134,
                                    "percentage": 0.495
                                  },
                                  "Female: Now married": {
                                    "value": 317,
                                    "margin_of_error": 89,
                                    "percentage": 0.437
                                  },
                                  "Female: Now married: Married, spouse present": {
                                    "value": 314,
                                    "margin_of_error": 89,
                                    "percentage": 0.991
                                  },
                                  "Female: Now married: Married, spouse absent": {
                                    "value": 3,
                                    "margin_of_error": 5,
                                    "percentage": 0.009
                                  },
                                  "Female: Now married: Married, spouse absent: Separated": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: Now married: Married, spouse absent: Other": {
                                    "value": 3,
                                    "margin_of_error": 5,
                                    "percentage": 1
                                  },
                                  "Female: Widowed": {
                                    "value": 8,
                                    "margin_of_error": 13,
                                    "percentage": 0.011
                                  },
                                  "Female: Divorced": {
                                    "value": 41,
                                    "margin_of_error": 31,
                                    "percentage": 0.057
                                  }
                                },
                                "Family Type by Presence and Age of Own Children Under 18 Years": {
                                  "meta": {
                                    "table_id": "B11003",
                                    "universe": "Families"
                                  },
                                  "Total": {
                                    "value": 345,
                                    "margin_of_error": 100
                                  },
                                  "Married-couple family": {
                                    "value": 338,
                                    "margin_of_error": 101,
                                    "percentage": 0.98
                                  },
                                  "Married-couple family: With own children of the householder under 18 years": {
                                    "value": 90,
                                    "margin_of_error": 60,
                                    "percentage": 0.266
                                  },
                                  "Married-couple family: With own children of the householder under 18 years: Under 6 years only": {
                                    "value": 45,
                                    "margin_of_error": 31,
                                    "percentage": 0.5
                                  },
                                  "Married-couple family: With own children of the householder under 18 years: Under 6 years and 6 to 17 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Married-couple family: With own children of the householder under 18 years: 6 to 17 years only": {
                                    "value": 45,
                                    "margin_of_error": 54,
                                    "percentage": 0.5
                                  },
                                  "Married-couple family: No own children of the householder under 18 years": {
                                    "value": 248,
                                    "margin_of_error": 93,
                                    "percentage": 0.734
                                  },
                                  "Other family": {
                                    "value": 7,
                                    "margin_of_error": 13,
                                    "percentage": 0.02
                                  },
                                  "Other family: Male householder, no spouse present": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Male householder, no spouse present: With own children of the householder under 18 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Male householder, no spouse present: With own children of the householder under 18 years: Under 6 years only": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Male householder, no spouse present: With own children of the householder under 18 years: Under 6 years and 6 to 17 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Male householder, no spouse present: With own children of the householder under 18 years: 6 to 17 years only": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Male householder, no spouse present: No own children of the householder under 18 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Female householder, no spouse present": {
                                    "value": 7,
                                    "margin_of_error": 13,
                                    "percentage": 1
                                  },
                                  "Other family: Female householder, no spouse present: With own children of the householder under 18 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Female householder, no spouse present: With own children of the householder under 18 years: Under 6 years only": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Female householder, no spouse present: With own children of the householder under 18 years: Under 6 years and 6 to 17 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Female householder, no spouse present: With own children of the householder under 18 years: 6 to 17 years only": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Other family: Female householder, no spouse present: No own children of the householder under 18 years": {
                                    "value": 7,
                                    "margin_of_error": 13,
                                    "percentage": 1
                                  }
                                },
                                "Average Household Size of Occupied Housing Units by Tenure": {
                                  "meta": {
                                    "table_id": "B25010",
                                    "universe": "Occupied housing units"
                                  },
                                  "Total": {
                                    "value": 1.75,
                                    "margin_of_error": 0.17
                                  },
                                  "Owner occupied": {
                                    "value": 1.81,
                                    "margin_of_error": 0.24
                                  },
                                  "Renter occupied": {
                                    "value": 1.73,
                                    "margin_of_error": 0.22
                                  }
                                },
                                "Own Children Under 18 Years by Family Type and Age": {
                                  "meta": {
                                    "table_id": "B09002",
                                    "universe": "Own children under 18 years"
                                  },
                                  "Total": {
                                    "value": 92,
                                    "margin_of_error": 64
                                  },
                                  "In married-couple families": {
                                    "value": 92,
                                    "margin_of_error": 64,
                                    "percentage": 1
                                  },
                                  "In married-couple families: Under 3 years": {
                                    "value": 35,
                                    "margin_of_error": 31,
                                    "percentage": 0.38
                                  },
                                  "In married-couple families: 3 and 4 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In married-couple families: 5 years": {
                                    "value": 10,
                                    "margin_of_error": 14,
                                    "percentage": 0.109
                                  },
                                  "In married-couple families: 6 to 11 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In married-couple families: 12 to 17 years": {
                                    "value": 47,
                                    "margin_of_error": 59,
                                    "percentage": 0.511
                                  },
                                  "In other families": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Male householder, no spouse present": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Male householder, no spouse present: Under 3 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Male householder, no spouse present: 3 and 4 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Male householder, no spouse present: 5 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Male householder, no spouse present: 6 to 11 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Male householder, no spouse present: 12 to 17 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Female householder, no spouse present": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Female householder, no spouse present: Under 3 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Female householder, no spouse present: 3 and 4 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Female householder, no spouse present: 5 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Female householder, no spouse present: 6 to 11 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "In other families: Female householder, no spouse present: 12 to 17 years": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  }
                                },
                                "meta": {
                                  "geography": "block_group"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "withAcsHousing": {
                    "summary": "Geocoding with ACS housing field",
                    "value": {
                      "input": {
                        "address_components": {
                          "number": "1109",
                          "predirectional": "N",
                          "street": "Highland",
                          "suffix": "St",
                          "formatted_street": "N Highland St",
                          "city": "Arlington",
                          "state": "VA",
                          "zip": "22201",
                          "country": "US"
                        },
                        "formatted_address": "1109 N Highland St, Arlington, VA 22201"
                      },
                      "results": [
                        {
                          "address_components": {
                            "number": "1109",
                            "predirectional": "N",
                            "street": "Highland",
                            "suffix": "St",
                            "formatted_street": "N Highland St",
                            "city": "Arlington",
                            "county": "Arlington County",
                            "state": "VA",
                            "zip": "22201",
                            "country": "US"
                          },
                          "formatted_address": "1109 N Highland St, Arlington, VA 22201",
                          "location": {
                            "lat": 38.886672,
                            "lng": -77.094735
                          },
                          "accuracy": 1,
                          "accuracy_type": "rooftop",
                          "source": "Arlington",
                          "stable_address_key": "gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3",
                          "match_type": null,
                          "fields": {
                            "acs": {
                              "meta": {
                                "source": "American Community Survey from the US Census Bureau",
                                "survey_years": "2020-2024",
                                "survey_duration_years": "5"
                              },
                              "housing": {
                                "Number of housing units": {
                                  "meta": {
                                    "table_id": "B25002",
                                    "universe": "Housing Units"
                                  },
                                  "Total": {
                                    "value": 1000,
                                    "margin_of_error": 135
                                  }
                                },
                                "Occupancy status": {
                                  "meta": {
                                    "table_id": "B25002",
                                    "universe": "Housing Units"
                                  },
                                  "Occupied": {
                                    "value": 887,
                                    "margin_of_error": 124,
                                    "percentage": 0.887
                                  },
                                  "Vacant": {
                                    "value": 113,
                                    "margin_of_error": 74,
                                    "percentage": 0.113
                                  }
                                },
                                "Ownership of occupied units": {
                                  "meta": {
                                    "table_id": "B25003",
                                    "universe": "Occupied Housing Units"
                                  },
                                  "Owner occupied": {
                                    "value": 235,
                                    "margin_of_error": 79,
                                    "percentage": 0.265
                                  },
                                  "Renter occupied": {
                                    "value": 652,
                                    "margin_of_error": 117,
                                    "percentage": 0.735
                                  }
                                },
                                "Units in structure": {
                                  "meta": {
                                    "table_id": "B25024",
                                    "universe": "Housing Units"
                                  },
                                  "1, detached unit": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "1, attached unit": {
                                    "value": 142,
                                    "margin_of_error": 59,
                                    "percentage": 0.142
                                  },
                                  "2 units": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "3 or 4 units": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "5 to 9 units": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "10 to 19 unit": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "20 to 49 units": {
                                    "value": 10,
                                    "margin_of_error": 16,
                                    "percentage": 0.01
                                  },
                                  "50 or more units": {
                                    "value": 848,
                                    "margin_of_error": 139,
                                    "percentage": 0.848
                                  },
                                  "Mobile home units": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Boat, RV, van, etc. units": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  }
                                },
                                "Median value of owner-occupied housing units": {
                                  "meta": {
                                    "table_id": "B25077",
                                    "universe": "Owner-Occupied Housing Units"
                                  },
                                  "Total": {
                                    "value": 803600,
                                    "margin_of_error": 173895
                                  }
                                },
                                "Value of owner-occupied housing units": {
                                  "meta": {
                                    "table_id": "B25075",
                                    "universe": "Owner-Occupied Housing Units"
                                  },
                                  "Less than $10,000": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$10,000 to $14,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$15,000 to $19,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$20,000 to $24,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$25,000 to $29,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$30,000 to $34,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$35,000 to $39,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$40,000 to $49,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$50,000 to $59,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$60,000 to $69,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$70,000 to $79,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$80,000 to $89,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$90,000 to $99,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$100,000 to $124,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$125,000 to $149,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$150,000 to $174,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$175,000 to $199,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$200,000 to $249,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$250,000 to $299,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$300,000 to $399,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$400,000 to $499,999": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "$500,000 to $749,999": {
                                    "value": 107,
                                    "margin_of_error": 59,
                                    "percentage": 0.455
                                  },
                                  "$750,000 to $999,999": {
                                    "value": 49,
                                    "margin_of_error": 49,
                                    "percentage": 0.209
                                  },
                                  "$1,000,000 to $1,499,999": {
                                    "value": 76,
                                    "margin_of_error": 43,
                                    "percentage": 0.323
                                  },
                                  "$1,500,000 to $1,999,999": {
                                    "value": 3,
                                    "margin_of_error": 5,
                                    "percentage": 0.013
                                  },
                                  "$2,000,000 or more": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  }
                                },
                                "meta": {
                                  "geography": "block_group"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "withAcsSocial": {
                    "summary": "Geocoding with ACS social field",
                    "value": {
                      "input": {
                        "address_components": {
                          "number": "1109",
                          "predirectional": "N",
                          "street": "Highland",
                          "suffix": "St",
                          "formatted_street": "N Highland St",
                          "city": "Arlington",
                          "state": "VA",
                          "zip": "22201",
                          "country": "US"
                        },
                        "formatted_address": "1109 N Highland St, Arlington, VA 22201"
                      },
                      "results": [
                        {
                          "address_components": {
                            "number": "1109",
                            "predirectional": "N",
                            "street": "Highland",
                            "suffix": "St",
                            "formatted_street": "N Highland St",
                            "city": "Arlington",
                            "county": "Arlington County",
                            "state": "VA",
                            "zip": "22201",
                            "country": "US"
                          },
                          "formatted_address": "1109 N Highland St, Arlington, VA 22201",
                          "location": {
                            "lat": 38.886672,
                            "lng": -77.094735
                          },
                          "accuracy": 1,
                          "accuracy_type": "rooftop",
                          "source": "Arlington",
                          "stable_address_key": "gcod_usnbfvbm5l57cc8b8bnfnyrua9ym3",
                          "match_type": null,
                          "fields": {
                            "acs": {
                              "meta": {
                                "source": "American Community Survey from the US Census Bureau",
                                "survey_years": "2020-2024",
                                "survey_duration_years": "5"
                              },
                              "social": {
                                "Population by minimum level of education": {
                                  "meta": {
                                    "table_id": "B15002",
                                    "universe": "Population 25 Years And Over"
                                  },
                                  "Total": {
                                    "value": 1315,
                                    "margin_of_error": 178
                                  },
                                  "Male": {
                                    "value": 675,
                                    "margin_of_error": 125,
                                    "percentage": 0.513
                                  },
                                  "Male: No schooling completed": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: Nursery to 4th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 5th and 6th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 7th and 8th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 9th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 10th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 11th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: 12th grade, no diploma": {
                                    "value": 6,
                                    "margin_of_error": 10,
                                    "percentage": 0.009
                                  },
                                  "Male: High school graduate (includes equivalency)": {
                                    "value": 8,
                                    "margin_of_error": 15,
                                    "percentage": 0.012
                                  },
                                  "Male: Some college, less than 1 year": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: Some college, 1 or more years, no degree": {
                                    "value": 24,
                                    "margin_of_error": 28,
                                    "percentage": 0.036
                                  },
                                  "Male: Associate's degree": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Male: Bachelor's degree": {
                                    "value": 277,
                                    "margin_of_error": 87,
                                    "percentage": 0.41
                                  },
                                  "Male: Master's degree": {
                                    "value": 254,
                                    "margin_of_error": 101,
                                    "percentage": 0.376
                                  },
                                  "Male: Professional school degree": {
                                    "value": 69,
                                    "margin_of_error": 55,
                                    "percentage": 0.102
                                  },
                                  "Male: Doctorate degree": {
                                    "value": 37,
                                    "margin_of_error": 46,
                                    "percentage": 0.055
                                  },
                                  "Female": {
                                    "value": 640,
                                    "margin_of_error": 102,
                                    "percentage": 0.487
                                  },
                                  "Female: No schooling completed": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: Nursery to 4th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 5th and 6th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 7th and 8th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 9th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 10th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 11th grade": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: 12th grade, no diploma": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: High school graduate (includes equivalency)": {
                                    "value": 0,
                                    "margin_of_error": 13,
                                    "percentage": 0
                                  },
                                  "Female: Some college, less than 1 year": {
                                    "value": 9,
                                    "margin_of_error": 14,
                                    "percentage": 0.014
                                  },
                                  "Female: Some college, 1 or more years, no degree": {
                                    "value": 17,
                                    "margin_of_error": 26,
                                    "percentage": 0.027
                                  },
                                  "Female: Associate's degree": {
                                    "value": 8,
                                    "margin_of_error": 12,
                                    "percentage": 0.013
                                  },
                                  "Female: Bachelor's degree": {
                                    "value": 230,
                                    "margin_of_error": 83,
                                    "percentage": 0.359
                                  },
                                  "Female: Master's degree": {
                                    "value": 298,
                                    "margin_of_error": 97,
                                    "percentage": 0.466
                                  },
                                  "Female: Professional school degree": {
                                    "value": 59,
                                    "margin_of_error": 45,
                                    "percentage": 0.092
                                  },
                                  "Female: Doctorate degree": {
                                    "value": 19,
                                    "margin_of_error": 19,
                                    "percentage": 0.03
                                  }
                                },
                                "Population with veteran status": {
                                  "meta": {
                                    "table_id": "B21001",
                                    "universe": "Civilian Population 18 Years And Over"
                                  },
                                  "Total": {
                                    "value": 1400,
[...]
