{
  "openapi": "3.0.0",
  "info": {
    "title": "MatrixALM and MatrixQMS REST API",
    "description": "Feel free to make a copy of this definition and change the url below to your instance of MatrixALM or MatrixQMS. For the authentication, create  a token for an admin to try out all the methods. Use at your own risks! Any question? ask us on https://support.matrixreq.com",
    "version": "2.5",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ANTHONYDITH_1/matrixalm-and-matrixqms-rest-api/2.5"
  },
  "servers": [
    {
      "url": "https://brightinsight.matrixreq.com/rest/1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Get list of all projects, all settings and current user, all todos and JIRA meta create object",
        "description": "Permissions - Must have a valid authentication. Valid from version 2.1",
        "parameters": [
          {
            "name": "adminUI",
            "in": "query",
            "description": "(optional) set to adminUI=1 to have all projects even the ones you are not assigned to, as an admin",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "(optional) comma-delimited list of requested output fields. Returns all fields if parameter is not present",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ListProjectAndSettings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectAndSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Creates a new project. Either the full project is sent as XML payload, or the label and shortLabel are given. If uploading data for a whole project, label and shortLabel are optional but overwrite the XML content if present. Branching can be done with an audit report as payload, and branch* must be defined in that case",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "label",
            "in": "query",
            "description": "Project label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shortLabel",
            "in": "query",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Must be set to yes if you're overwriting an existing project",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importUsers",
            "in": "query",
            "description": "Must be set to yes if you want to import users. false by default",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchLabel",
            "in": "query",
            "description": "Must be set to branch (optional)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchTag",
            "in": "query",
            "description": "Must be set to branch, and match a tag in the audit export (optional)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchComment",
            "in": "query",
            "description": "Comment for the branch (optional)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchBaseProjectLabel",
            "in": "query",
            "description": "Label of the base Project (optional)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/project/configcheck": {
      "get": {
        "summary": "Get a project's schema",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "excludeCategories",
            "in": "query",
            "description": "(optional) comma-separated list of categories to exclude, like DOC,SIGN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{mainproject}/merge/{branchproject}": {
      "post": {
        "summary": "Merge branch into mainline. First project is the mainline, second is the branch. The payload must contain a json object with a list of actions to perform.",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.3",
        "parameters": [
          {
            "name": "mainproject",
            "in": "path",
            "description": "mainproject",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchproject",
            "in": "path",
            "description": "branchproject",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Actions to perform",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}": {
      "get": {
        "summary": "Get list of project info -  users, settings, categories",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adminUI",
            "in": "query",
            "description": "(optional) set to adminUI=1 to have this project data even if you are not assigned to, as an admin",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ProjectInfo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Adds a category to a project",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Category label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shortLabel",
            "in": "query",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Removes completely a project (only used for unit testing). This is an actual DELETE in the database.",
        "description": "Permissions - Reserved to Matrix Requirements operations. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "description": "Needs to be yes for the method to be executed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/access": {
      "get": {
        "summary": "Retrieves all accesses in a project (list of groups and users who have access)",
        "description": "Permissions - Must have QMS viewer access (or higher) to the project. Valid from version 2.2",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetAccessAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccessAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/audit": {
      "get": {
        "summary": "Retrieves all changes in a project",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "(optional) Pagination -  starts the audit after N records",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "(optional) Pagination -  Retrieve N results per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "deleteOnly",
            "in": "query",
            "description": "(optional) if set to yes, only returns actions of type delete",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tech",
            "in": "query",
            "description": "(optional) if set to yes, returns the underneath changes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auditIdMin",
            "in": "query",
            "description": "(optional) sets a minimum ID for audits, as returned by GET calendar",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "auditIdMax",
            "in": "query",
            "description": "(optional) sets a maximum ID for audits",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "noReport",
            "in": "query",
            "description": "(optional) set to 1 to avoid having reports",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "noImport",
            "in": "query",
            "description": "(optional) set to 1 to avoid having imports",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "(optional) set to a list of actions to include (delete,undelete,add,edit,...)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolveRef",
            "in": "query",
            "description": "(optional) set to 1 to resolve item IDs into refs",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemRef",
            "in": "query",
            "description": "(optional) restrict the audit to only those mentionning this item",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TrimAuditList",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrimAuditList"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/branch": {
      "post": {
        "summary": "Launches a server-side branch or clone - needs the 'merge' module if actual branching",
        "description": "Permissions - Must be admin. Valid from version 2.3",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Branch project label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shortLabel",
            "in": "query",
            "description": "Branch project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "(optional) Set to 1 to branch (default), 0 to just copy/clone",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "history",
            "in": "query",
            "description": "(optional) Set to 1 to branch or copy with history, defaults to 0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagToCreate",
            "in": "query",
            "description": "(optional) specify a tag (by default auto-generated)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchInThePastTag",
            "in": "query",
            "description": "(optional) specify a tag to branch in the past (needs history=1)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepPermissions",
            "in": "query",
            "description": "1 or 0. Defaults to 0 (with 0 the project doesn't have any permission after branching)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keepContent",
            "in": "query",
            "description": "1 or 0. Defaults to 1. 0 only works without branch and without history",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/calendar": {
      "get": {
        "summary": "Get all dates at which a project has been modified",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteOnly",
            "in": "query",
            "description": "(optional) if set to yes, only report actions of type delete",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarType"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/cat": {
      "get": {
        "summary": "Get all categories of a project",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetProjectStructAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectStructAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Adds a fields in a category",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Field label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldType",
            "in": "query",
            "description": "Type of field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldParam",
            "in": "query",
            "description": "Parameter for the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/cat/{category}": {
      "get": {
        "summary": "Get details of a category",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "(optional) specify a filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CategoryFull",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryFull"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "put": {
        "summary": "Modifies a categorie's labels, and fix the project's settings to reflect that change, OR modifies a category's order.",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The new order (for reordering)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "shortLabel",
            "in": "query",
            "description": "The new short label for that category (for renaming)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "The new long label for that category (for renaming)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Removes (inactivate) a category. Will fail on REPORT and FOLDER categories",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/cat/{category}/setting": {
      "get": {
        "summary": "Get all settings of a category",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetSettingAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettingAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Adds or changes a category setting. If the value is empty, the setting will be deleted",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "setting key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/clone": {
      "post": {
        "summary": "Clones a project",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Project label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shortLabel",
            "in": "query",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepHistory",
            "in": "query",
            "description": "1 or 0. Defaults to 0",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keepContent",
            "in": "query",
            "description": "1 or 0. Defaults to 0 (only the REPORT part is kept, make sense only if keepHistory is 0)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keepPermissions",
            "in": "query",
            "description": "1 or 0. Defaults to 0 (with 0 the project doesn't have any permission after cloning)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/compare/{signitem1}/{signitem2}": {
      "post": {
        "summary": "Asks for the difference between 2 signed documents, as a Word document. The job ID is returned as answer",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signitem1",
            "in": "path",
            "description": "SIGN-xx for the first SIGN document to compare",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signitem2",
            "in": "path",
            "description": "SIGN-xx for the 2nd SIGN document to compare",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/copy/{itemOrFolder}": {
      "post": {
        "summary": "Copy items from a folder to another one",
        "description": "Permissions - Must have read/write access to the project - admins can impersonate. Valid from version 2.2",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemOrFolder",
            "in": "path",
            "description": "Item reference (XXX-nn) or folder (F-XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetFolder",
            "in": "query",
            "description": "Reference of the target folder (F-categ-serial)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetProject",
            "in": "query",
            "description": "(optional) project to copy into (by default, same project)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "copyLabels",
            "in": "query",
            "description": "(optional) 0 or 1. Defaults to 0",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "map",
            "in": "query",
            "description": "(optional) mapN=M -  map field N in source to field M in target",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreLabels",
            "in": "query",
            "description": "(optional) can contain a comma-delimited list of labels NOT to copy",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CopyItemAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyItemAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/crossprojectlink": {
      "get": {
        "summary": "Get cross project links",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrossProjectLink"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/excelxml": {
      "post": {
        "summary": "Converts an excel file (xls, xlsx) into a XML version that we send straight back as an XML payload.",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/execute": {
      "post": {
        "summary": "Executes UC or TC into XTC items",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "There must be a JSON as a payload. It includes all parameters AND the reason",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FolderAnswer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderAnswer"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/export": {
      "get": {
        "summary": "Asks for an export of some items. The job ID is returned as answer",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemList",
            "in": "query",
            "description": "Mandatory list of items to export.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExportItemsAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportItemsAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/field": {
      "put": {
        "summary": "Modifies a field's label and parameter OR modifies a field's order.",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "The field number (like field=502)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "The new label (for renaming)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldParam",
            "in": "query",
            "description": "The new parameter (for renaming)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The new order (for reordering)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/field/{category}": {
      "delete": {
        "summary": "Removes (inactivate) a field.",
        "description": "Permissions - Must be admin. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "Category short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "The field number (like field=502)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/field/{item}": {
      "get": {
        "summary": "Get 1 field of an item. {item} has the form CATEG-number.",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "Item reference (XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Mandatory. Field number (faster) OR field label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Optional. Format for the return. Can be text, json, html, xml or xslt. Defaults to html",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "description": "Optional. 1 to have in download, 0 as direct result. Defaults to 0.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/file": {
      "get": {
        "summary": "Retrieve list of all files owned by a project",
        "description": "Permissions - Must have a valid authentication. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetProjectFileListAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectFileListAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Creates a new file - the file should be uploaded as payload (or through the url argument as an alternative). It's mime type should be sent through the HTTP protocol.",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "Optional argument -  the file could also come from an external URL. In this case there will be an error if we can't retrieve it on the server",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AddFileAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFileAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/file/{fileno}": {
      "get": {
        "summary": "Retrieve one project file. The fileno is a simple fileId. This request returns the actual file",
        "description": "Permissions - Must have the right key to download the file. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileno",
            "in": "path",
            "description": "file number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "The key of the file",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disposition",
            "in": "query",
            "description": "(optional, from version 2.3) set to disposition=inline to ask the server to send the disposition to 'inline' instead of 'attachment'",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/folder": {
      "post": {
        "summary": "Creates a new folder",
        "description": "Permissions - Must have read/write access to the project - admins can impersonate. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Reference of the parent folder in the form F-CATEG-serial (example -  F-SPEC-17)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "folder label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fxField",
            "in": "query",
            "description": "(optional) Add one of each of these to set folder's fields. fx is followed by the field ID (a number)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AddItemAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddItemAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/hide": {
      "put": {
        "summary": "Hides a project",
        "description": "Permissions - Must be admin. Valid from version 2.2",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/hook/{item}": {
      "post": {
        "summary": "Launches a server-side hook",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.2",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "Item reference (XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hook",
            "in": "query",
            "description": "name of the hook",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload for the hook, treated as a string.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/htmlCleanupBlob": {
      "post": {
        "summary": "Cleans up an input html blob according to the current html cleanup rules. The blob is passed in the POST payload. The payload must be a json object with {\"htmlToClean\" - \"x\"}",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.3",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHmlBlobInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetHtmlBlob"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/htmlCleanupTest": {
      "post": {
        "summary": "Get the list of items that would be changed if we applied html cleanup. You can pass a cleanup setting in the payload of the POST. If it's not there we take the customer (global) setting and force the cleanup to true",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.3",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "(optional) list of comma-delimited categories to go through, all by default",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Cleanup setting (optional)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CleanupSetting"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HtmlTestCleanup"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/import": {
      "post": {
        "summary": "Imports some items into a project",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/import/{id}": {
      "delete": {
        "summary": "Removes an import",
        "description": "Permissions - ?. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/importinfo": {
      "get": {
        "summary": "Get the history of a import in a project",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.4",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LabelHistory"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/item": {
      "post": {
        "summary": "Adds an item in a folder",
        "description": "Permissions - Must have read/write access to the project - admins can impersonate. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_item_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AddItemAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddItemAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/item/{folder}": {
      "get": {
        "summary": "Get details of a folder. {folder} has the form F-CATEG-number[-vN].",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "path",
            "description": "Folder reference (F-XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "history",
            "in": "query",
            "description": "(optional) set history=1 to retrieve list of all versions",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "(optional) specify a filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "children",
            "in": "query",
            "description": "(optional) set to yes if you need the children as well (recursively).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "atDate",
            "in": "query",
            "description": "(optional) retrieves the item at that date - format is ISO8601 like atDate=2018-05-30T14 - 48 - 27.223Z. Not compatible with the version query -vN",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "(optional) set fields=1 to retrieve list of all fields, even the empty ones",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TrimFolder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrimFolder"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/item/{item}": {
      "get": {
        "summary": "Get details of an item. {item} has the form CATEG-number[-vN].",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "Item reference (XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "history",
            "in": "query",
            "description": "(optional) set history=1 to retrieve list of all versions",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "(optional) set fields=1 to retrieve list of all fields, even the empty ones",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "(optional) specify a filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "atDate",
            "in": "query",
            "description": "(optional) retrieves the item at that date - format is ISO8601 like atDate=2018-05-30T14 - 48 - 27.223Z. Not compatible with the version query -vN",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withTree",
            "in": "query",
            "description": "(optional) retrieves the context tree if set to 1, in the field contextTree. Exclusive to filter and atDate",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TrimItem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrimItem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "put": {
        "summary": "Modifies an item or a folder. Item has the form CATEG-number, folders -  F-CATEG-number",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "Item reference (XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/item_item_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "TrimItem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrimItem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Restores an item. Item has the form CATEG-number",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "Item reference (XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "description": "(optional) If set, specifies that the item should be restored as it was in that version",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UndeleteAnswer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UndeleteAnswer"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Removes (inactivate) an item (or a folder). Item has the form (F-)CATEG-number. Will fail on non-empty folders",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "Item reference (XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "description": "Needs to be yes for the method to be executed IF it is a non-empty folder",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/itemlink/{upitem}/{downitem}": {
      "post": {
        "summary": "Adds a link between 2 items. Both items are in the form CATEG-number",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upitem",
            "in": "path",
            "description": "Item reference (XXX-nn) for the UP item",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "downitem",
            "in": "path",
            "description": "Item reference (XXX-nn) for the DOWN item",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Removes (inactivate) a link between 2 items. Items are in the form CATEG-number",
        "description": "Permissions - ?. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upitem",
            "in": "path",
            "description": "Item reference (XXX-nn) for the UP item",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "downitem",
            "in": "path",
            "description": "Item reference (XXX-nn) for the DOWN item",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/itemlist/{item}": {
      "get": {
        "summary": "Get the list of items that are detailed in a DOC/SIGN item.",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "Item reference (XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Optional. When set to 1 adds a secondaryItems list in the answer. Defaults to 0.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetItemListAck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItemListAck"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/job": {
      "get": {
        "summary": "Retrieve list of all jobs in a project",
        "description": "Permissions - Must have a valid authentication. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JobsWithUrl",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsWithUrl"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/job/{job}": {
      "get": {
        "summary": "Get a job status, including generated files. The variable part is the jobID (a number)",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "path",
            "description": "job number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JobsStatusWithUrl",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsStatusWithUrl"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Sets the progress of a job",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.2",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "path",
            "description": "job number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "progress",
            "in": "query",
            "description": "progress (0 to 100, 200 for error)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "(optional( status text",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Aborts a job.",
        "description": "Permissions - Must be admin. Valid from version 2.3",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "path",
            "description": "job number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/job/{job}/{fileno}": {
      "get": {
        "summary": "Get a job file. The job part is the jobID (a number) and the file is the fileID (a number)",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "path",
            "description": "job number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fileno",
            "in": "path",
            "description": "file number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "(optional) set to mode=direct to get the output in the response output instead of as a download file. This assumes the file is HTML",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "(optional) set to format=json to get a json output instead of XML",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disposition",
            "in": "query",
            "description": "(optional, from version 2.3) set to disposition=inline to ask the server to send the disposition to 'inline' instead of 'attachment'",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/labelhistory": {
      "get": {
        "summary": "Get the label history of a project -  list of all label changes for all items",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.3",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemRef",
            "in": "query",
            "description": "(optional) ask for just one item (the return structure is still an array in that case)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "(optional) date from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "(optional) date to - works only if you only specified a from",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LabelHistory"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/mergehistory": {
      "get": {
        "summary": "Get the merge history of a project - needs the 'merge' module",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.3",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MergeHistory"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/mergeinfo": {
      "get": {
        "summary": "Get the merge information - needs the 'merge' module",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.3",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeCategories",
            "in": "query",
            "description": "(optional) comma-delimited list of categories to exclude",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "(optional) date from which we consider the merges. ISO8601 format -- this parameter was introduced in v 2.3.4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "push",
            "in": "query",
            "description": "(optional) set to 1 if you inquire about a push, not a merge -- this parameter was introduced in v 2.3.4",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MergeInfo"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/moduleimport": {
      "post": {
        "summary": "Imports some folders from a project to another as a module. Only available is you have the compose module licensed",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Import mode -  can be include or copy",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update",
            "in": "query",
            "description": "Update mode -  can be simple, update or rebase. If not defined, simple assumed",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceProject",
            "in": "query",
            "description": "Source project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldSourceProject",
            "in": "query",
            "description": "Old source project (if update=rebase",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceSelection",
            "in": "query",
            "description": "A selection of folders and items to import",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lockLabel",
            "in": "query",
            "description": "An optional label that this operation will set on all items",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemParentMode",
            "in": "query",
            "description": "Default 'orphan'. Specify 'preserve' to include all parent folders to the root",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/movein/{folder}": {
      "post": {
        "summary": "Move items into this folder",
        "description": "Permissions - Must have read/write access to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "path",
            "description": "Folder reference (F-XXX-nn)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items",
            "in": "query",
            "description": "List of items to move in",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason why the user is doing this",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/{project}/needle": {
      "get": {
        "summary": "Use POST verb instead. Find items based on a search string in one project",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.1",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project short label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "search id. Used by MatrixJira js to match queries with answers. Is returned in the output structure",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "(optional) applies a filter, can be negative",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldsOut",
            "in": "query",
            "description": "(optional) comma-delimited list of fields to return -  101,102 - or * for all",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labels",
            "in": "query",
            "description": "(optional) set to 1 to return labels in the output",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "treeOrder",
            "in": "query",
            "description": "(optional) set to 1 to return items in tree order (otherwise it's project,category,serial)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "(optional) set to up,down to return up and down items, or only up or only down",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TrimNeedle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrimNeedle"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Find items based on a search string in one project",
        "description": "Permissions - Must have read access (or higher) to the project. Valid from version 2.4",
        "parameters": [
          {
            "name": "project",
            "in": "path",
[...]
