{
  "openapi": "3.0.3",
  "info": {
    "title": "Click2Mail REST API",
    "version": "1.0.0",
    "description": "Click2Mail REST API for creating and managing direct mail jobs including documents, address lists, and mailing jobs. Provides print-and-mail services through a REST interface. Authentication uses HTTP Basic Auth.",
    "x-jentic-source-url": "https://developer.click2mail.com/"
  },
  "servers": [
    {
      "url": "https://rest.click2mail.com/molpro",
      "description": "Production"
    },
    {
      "url": "https://stage-rest.click2mail.com/molpro",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Documents",
      "description": "Document management"
    },
    {
      "name": "Address Lists",
      "description": "Address list management"
    },
    {
      "name": "Jobs",
      "description": "Mailing job management"
    },
    {
      "name": "Account",
      "description": "Account management"
    }
  ],
  "paths": {
    "/documents": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Create Document",
        "description": "Upload a document (PDF, DOC, DOCX, HTML) for use in mailing jobs",
        "operationId": "createDocument",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "documentFormat",
                  "file"
                ],
                "properties": {
                  "documentFormat": {
                    "type": "string",
                    "enum": [
                      "PDF",
                      "DOC",
                      "DOCX",
                      "HTML"
                    ]
                  },
                  "documentClass": {
                    "type": "string",
                    "enum": [
                      "Letter",
                      "Postcard",
                      "Notecard",
                      "Booklet",
                      "SelfMailer",
                      "NonProfit"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List Documents",
        "description": "Get a list of all documents in the account",
        "operationId": "listDocuments",
        "responses": {
          "200": {
            "description": "Document list",
            "content": {
              "application/xml": {}
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document",
        "description": "Get details of a specific document",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Delete Document",
        "description": "Delete a document",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/addressLists": {
      "post": {
        "tags": [
          "Address Lists"
        ],
        "summary": "Create Address List",
        "description": "Create a new address list from uploaded data (CSV, XML, or individual addresses)",
        "operationId": "createAddressList",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "addressListFormat": {
                    "type": "string",
                    "enum": [
                      "CSV",
                      "XML"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "addressMappingId": {
                    "type": "integer"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddressListInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Address list created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Address Lists"
        ],
        "summary": "List Address Lists",
        "description": "Get all address lists",
        "operationId": "listAddressLists",
        "responses": {
          "200": {
            "description": "Address list collection"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/addressLists/{id}": {
      "get": {
        "tags": [
          "Address Lists"
        ],
        "summary": "Get Address List",
        "description": "Get details of a specific address list",
        "operationId": "getAddressList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address list details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Address Lists"
        ],
        "summary": "Delete Address List",
        "description": "Delete an address list",
        "operationId": "deleteAddressList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create Job",
        "description": "Create a new mailing job that combines a document with an address list",
        "operationId": "createJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/JobInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List Jobs",
        "description": "Get a list of all mailing jobs",
        "operationId": "listJobs",
        "responses": {
          "200": {
            "description": "Job list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get Job",
        "description": "Get details and status of a specific mailing job",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel Job",
        "description": "Cancel a mailing job (only if not yet submitted for printing)",
        "operationId": "cancelJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job cancelled"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/jobs/{id}/submit": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Submit Job",
        "description": "Submit a job for print and mail processing",
        "operationId": "submitJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job submitted for processing"
          },
          "400": {
            "description": "Bad Request - job not ready"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/account/credits": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Credits",
        "description": "Get the current credit balance for the account",
        "operationId": "getAccountCredits",
        "responses": {
          "200": {
            "description": "Credit balance"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Click2Mail username and password"
      }
    },
    "schemas": {
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "documentFormat": {
            "type": "string"
          },
          "documentClass": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "pageCount": {
            "type": "integer"
          }
        }
      },
      "AddressListInput": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "organization": {
                  "type": "string"
                },
                "address1": {
                  "type": "string"
                },
                "address2": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "zip": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "JobInput": {
        "type": "object",
        "required": [
          "documentId",
          "addressListId"
        ],
        "properties": {
          "documentId": {
            "type": "integer"
          },
          "addressListId": {
            "type": "integer"
          },
          "documentClass": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "productionTime": {
            "type": "string",
            "enum": [
              "Next Day",
              "Second Day",
              "Third Day"
            ]
          },
          "envelope": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "enum": [
              "Full Color",
              "Black and White"
            ]
          },
          "paperType": {
            "type": "string"
          },
          "printOption": {
            "type": "string",
            "enum": [
              "Simplex",
              "Duplex"
            ]
          },
          "mailClass": {
            "type": "string",
            "enum": [
              "First Class",
              "Standard"
            ]
          }
        }
      }
    }
  }
}