{
  "openapi": "3.0.3",
  "info": {
    "title": "Abusive Experience Report API",
    "version": "v1",
    "description": "Views Abusive Experience Report data, and gets a list of sites that have a significant number of abusive experiences.",
    "x-jentic-source-url": "https://www.googleapis.com/discovery/v1/apis/abusiveexperiencereport/v1/rest",
    "x-documentation-url": "https://developers.google.com/abusive-experience-report/"
  },
  "servers": [
    {
      "url": "https://abusiveexperiencereport.googleapis.com"
    }
  ],
  "paths": {
    "/v1/sites/{sitesId}": {
      "get": {
        "operationId": "getSitesGet",
        "summary": "Gets a site's Abusive Experience Report summary.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Required. The name of the site whose summary to get, e.g. `sites/http%3A%2F%2Fwww.google.com%2F`. Format: `sites/{site}`",
            "schema": {
              "type": "string",
              "pattern": "^sites/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/violatingSites": {
      "get": {
        "operationId": "getViolatingSitesList",
        "summary": "Lists sites that are failing in the Abusive Experience Report.",
        "tags": [
          "violatingSites"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViolatingSitesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SiteSummaryResponse": {
        "type": "object",
        "description": "Response message for GetSiteSummary.",
        "properties": {
          "reviewedSite": {
            "type": "string",
            "description": "The name of the reviewed site, e.g. `google.com`."
          },
          "lastChangeTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which the site's status last changed."
          },
          "abusiveStatus": {
            "type": "string",
            "description": "The site's Abusive Experience Report status.",
            "enum": [
              "UNKNOWN",
              "PASSING",
              "FAILING"
            ]
          },
          "underReview": {
            "type": "boolean",
            "description": "Whether the site is currently under review."
          },
          "enforcementTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which [enforcement](https://support.google.com/webtools/answer/7538608) against the site began or will begin. Not set when the filter_status is OFF."
          },
          "reportUrl": {
            "type": "string",
            "description": "A link to the full Abusive Experience Report for the site. Not set in ViolatingSitesResponse. Note that you must complete the [Search Console verification process](https://support.google.com/webmasters/answer/9008080) for the site before you can access the full report."
          },
          "filterStatus": {
            "type": "string",
            "description": "The site's [enforcement status](https://support.google.com/webtools/answer/7538608).",
            "enum": [
              "UNKNOWN",
              "ON",
              "OFF",
              "PAUSED",
              "PENDING"
            ]
          }
        }
      },
      "ViolatingSitesResponse": {
        "type": "object",
        "description": "Response message for ListViolatingSites.",
        "properties": {
          "violatingSites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteSummaryResponse"
            },
            "description": "The list of violating sites."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "sites"
    },
    {
      "name": "violatingSites"
    }
  ]
}