{
  "openapi": "3.0.3",
  "info": {
    "title": "NASA Open APIs",
    "version": "1.0.0",
    "description": "NASA Open APIs provide access to NASA data including Astronomy Picture of the Day (APOD), Mars Rover Photos, Near-Earth Object data (NeoWs), Earth imagery (EPIC), and more. Free API key available at api.nasa.gov.",
    "x-jentic-source-url": "https://api.nasa.gov/"
  },
  "servers": [
    {
      "url": "https://api.nasa.gov"
    }
  ],
  "paths": {
    "/planetary/apod": {
      "get": {
        "operationId": "getApod",
        "summary": "Astronomy Picture of the Day",
        "description": "Returns the Astronomy Picture of the Day along with metadata. One of the most popular NASA APIs.",
        "tags": [
          "APOD"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key (use DEMO_KEY for testing)"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date of the APOD (YYYY-MM-DD). Default is today."
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Return count random APODs"
          },
          {
            "name": "thumbs",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Return video thumbnail URL"
          }
        ],
        "responses": {
          "200": {
            "description": "APOD data",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApodResponse"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApodResponse"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/feed": {
      "get": {
        "operationId": "getNeoFeed",
        "summary": "Near-Earth Object feed",
        "description": "Retrieves a list of near-Earth asteroids based on their closest approach date to Earth.",
        "tags": [
          "NeoWs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (default: today)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (max 7 days after start)"
          }
        ],
        "responses": {
          "200": {
            "description": "NEO feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeoFeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/{asteroid_id}": {
      "get": {
        "operationId": "getNeoById",
        "summary": "Get asteroid by ID",
        "description": "Retrieves detailed information about a specific near-Earth object.",
        "tags": [
          "NeoWs"
        ],
        "parameters": [
          {
            "name": "asteroid_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "SPK-ID of the asteroid"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asteroid details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NearEarthObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/browse": {
      "get": {
        "operationId": "browseNeos",
        "summary": "Browse all near-Earth objects",
        "tags": [
          "NeoWs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NEO browse results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeoBrowseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mars-photos/api/v1/rovers/{rover}/photos": {
      "get": {
        "operationId": "getMarsRoverPhotos",
        "summary": "Mars Rover Photos",
        "description": "Retrieves photos taken by Mars rovers (Curiosity, Opportunity, Spirit, Perseverance).",
        "tags": [
          "Mars Rovers"
        ],
        "parameters": [
          {
            "name": "rover",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "curiosity",
                "opportunity",
                "spirit",
                "perseverance"
              ]
            },
            "description": "Rover name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sol",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Martian sol (day)"
          },
          {
            "name": "earth_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Earth date (YYYY-MM-DD)"
          },
          {
            "name": "camera",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FHAZ",
                "RHAZ",
                "MAST",
                "CHEMCAM",
                "MAHLI",
                "MARDI",
                "NAVCAM",
                "PANCAM",
                "MINITES"
              ]
            },
            "description": "Camera abbreviation"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (25 items per page)"
          }
        ],
        "responses": {
          "200": {
            "description": "Mars rover photos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarsPhotosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mars-photos/api/v1/rovers/{rover}/latest_photos": {
      "get": {
        "operationId": "getLatestMarsRoverPhotos",
        "summary": "Latest Mars Rover Photos",
        "description": "Returns the most recent photos from a Mars rover.",
        "tags": [
          "Mars Rovers"
        ],
        "parameters": [
          {
            "name": "rover",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "curiosity",
                "opportunity",
                "spirit",
                "perseverance"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest photos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarsPhotosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural/images": {
      "get": {
        "operationId": "getEpicNaturalImages",
        "summary": "EPIC natural color Earth images",
        "description": "Returns metadata for the most recent natural color Earth images from the DSCOVR EPIC camera.",
        "tags": [
          "EPIC"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EPIC images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EpicImage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural/date/{date}": {
      "get": {
        "operationId": "getEpicImagesByDate",
        "summary": "EPIC images by date",
        "description": "Returns EPIC Earth imagery metadata for a specific date.",
        "tags": [
          "EPIC"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EPIC images for date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EpicImage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural/available": {
      "get": {
        "operationId": "getEpicAvailableDates",
        "summary": "EPIC available dates",
        "description": "Returns available dates for EPIC natural color imagery.",
        "tags": [
          "EPIC"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available dates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/planetary/earth/imagery": {
      "get": {
        "operationId": "getEarthImagery",
        "summary": "Earth Landsat imagery",
        "description": "Retrieves the Landsat 8 image for the supplied location and date.",
        "tags": [
          "Earth"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "dim",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0.025
            },
            "description": "Width and height of image in degrees"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date of image"
          }
        ],
        "responses": {
          "200": {
            "description": "Earth imagery",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/planetary/earth/assets": {
      "get": {
        "operationId": "getEarthAssets",
        "summary": "Earth Landsat assets",
        "description": "Retrieves the date and resource of the closest available Landsat imagery for a location.",
        "tags": [
          "Earth"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date to search from"
          },
          {
            "name": "dim",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0.025
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Earth asset info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthAsset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insight_weather/": {
      "get": {
        "operationId": "getInSightWeather",
        "summary": "Mars InSight weather data",
        "description": "Returns per-Sol weather data from the InSight Mars lander.",
        "tags": [
          "Mars Weather"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedtype",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "ver",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "InSight weather data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/techport/api/projects": {
      "get": {
        "operationId": "listTechportProjects",
        "summary": "List NASA TechPort projects",
        "description": "Returns a list of NASA technology projects.",
        "tags": [
          "TechPort"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by update date"
          }
        ],
        "responses": {
          "200": {
            "description": "Project list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "projectId": {
                            "type": "integer"
                          },
                          "lastUpdated": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/techport/api/projects/{projectId}": {
      "get": {
        "operationId": "getTechportProject",
        "summary": "Get a TechPort project",
        "tags": [
          "TechPort"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechportProject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApodResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "explanation": {
            "type": "string"
          },
          "hdurl": {
            "type": "string",
            "description": "High-resolution image URL"
          },
          "media_type": {
            "type": "string",
            "enum": [
              "image",
              "video"
            ]
          },
          "service_version": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Image or video URL"
          },
          "thumbnail_url": {
            "type": "string"
          },
          "copyright": {
            "type": "string"
          }
        }
      },
      "NeoFeedResponse": {
        "type": "object",
        "properties": {
          "links": {
            "type": "object",
            "properties": {
              "next": {
                "type": "string"
              },
              "previous": {
                "type": "string"
              },
              "self": {
                "type": "string"
              }
            }
          },
          "element_count": {
            "type": "integer"
          },
          "near_earth_objects": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/NearEarthObject"
              }
            }
          }
        }
      },
      "NearEarthObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "neo_reference_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nasa_jpl_url": {
            "type": "string"
          },
          "absolute_magnitude_h": {
            "type": "number"
          },
          "estimated_diameter": {
            "type": "object",
            "properties": {
              "kilometers": {
                "type": "object",
                "properties": {
                  "estimated_diameter_min": {
                    "type": "number"
                  },
                  "estimated_diameter_max": {
                    "type": "number"
                  }
                }
              },
              "meters": {
                "type": "object",
                "properties": {
                  "estimated_diameter_min": {
                    "type": "number"
                  },
                  "estimated_diameter_max": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "is_potentially_hazardous_asteroid": {
            "type": "boolean"
          },
          "close_approach_data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "close_approach_date": {
                  "type": "string",
                  "format": "date"
                },
                "close_approach_date_full": {
                  "type": "string"
                },
                "epoch_date_close_approach": {
                  "type": "integer",
                  "format": "int64"
                },
                "relative_velocity": {
                  "type": "object",
                  "properties": {
                    "kilometers_per_second": {
                      "type": "string"
                    },
                    "kilometers_per_hour": {
                      "type": "string"
                    },
                    "miles_per_hour": {
                      "type": "string"
                    }
                  }
                },
                "miss_distance": {
                  "type": "object",
                  "properties": {
                    "astronomical": {
                      "type": "string"
                    },
                    "lunar": {
                      "type": "string"
                    },
                    "kilometers": {
                      "type": "string"
                    },
                    "miles": {
                      "type": "string"
                    }
                  }
                },
                "orbiting_body": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NeoBrowseResponse": {
        "type": "object",
        "properties": {
          "links": {
            "type": "object"
          },
          "page": {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer"
              },
              "totalElements": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              },
              "number": {
                "type": "integer"
              }
            }
          },
          "near_earth_objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NearEarthObject"
            }
          }
        }
      },
      "MarsPhotosResponse": {
        "type": "object",
        "properties": {
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarsPhoto"
            }
          },
          "latest_photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarsPhoto"
            }
          }
        }
      },
      "MarsPhoto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sol": {
            "type": "integer"
          },
          "camera": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "rover_id": {
                "type": "integer"
              },
              "full_name": {
                "type": "string"
              }
            }
          },
          "img_src": {
            "type": "string"
          },
          "earth_date": {
            "type": "string",
            "format": "date"
          },
          "rover": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "landing_date": {
                "type": "string",
                "format": "date"
              },
              "launch_date": {
                "type": "string",
                "format": "date"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "EpicImage": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "caption": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "description": "Image filename"
          },
          "version": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "centroid_coordinates": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "dscovr_j2000_position": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "z": {
                "type": "number"
              }
            }
          },
          "sun_j2000_position": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "z": {
                "type": "number"
              }
            }
          },
          "coords": {
            "type": "object"
          }
        }
      },
      "EarthAsset": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "resource": {
            "type": "object",
            "properties": {
              "dataset": {
                "type": "string"
              },
              "planet": {
                "type": "string"
              }
            }
          },
          "service_version": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "TechportProject": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "acronym": {
            "type": "string"
          },
          "statusDescription": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "leadOrganization": {
            "type": "object"
          },
          "supportingOrganizations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "primaryTas": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "NASA API key. Use DEMO_KEY for testing or get a free key at api.nasa.gov."
      }
    }
  },
  "security": [
    {
      "ApiKeyQuery": []
    }
  ]
}