{
  "openapi": "3.0.3",
  "info": {
    "title": "Moz Links API",
    "description": "The Moz Links API provides programmatic access to Moz's link intelligence data, including domain authority, page authority, spam score, link metrics, anchor text analysis, and more. This API enables SEO professionals and developers to retrieve detailed link and authority data for any URL, subdomain, or root domain on the web.",
    "version": "2.0.0",
    "contact": {
      "name": "Moz",
      "url": "https://moz.com/products/api"
    },
    "termsOfService": "https://moz.com/community/terms",
    "x-logo": {
      "url": "https://moz.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://lsapi.seomoz.com/v2",
      "description": "Moz Links API v2 Production Server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/url_metrics": {
      "post": {
        "operationId": "getUrlMetrics",
        "summary": "Get URL Metrics",
        "description": "Returns link metrics (Domain Authority, Page Authority, Spam Score, link counts, etc.) for a single target URL, subdomain, or root domain. Use the 'targets' field for batch requests of up to 50 URLs.",
        "tags": ["URL Metrics"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlMetricsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with URL metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/anchor_text": {
      "post": {
        "operationId": "getAnchorText",
        "summary": "Get Anchor Text",
        "description": "Returns anchor text metrics for links pointing to a specified target URL, subdomain, or root domain. Shows the anchor text phrases used by external pages linking to the target, with associated metrics.",
        "tags": ["Anchor Text"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnchorTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with anchor text data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnchorTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/links": {
      "post": {
        "operationId": "getLinks",
        "summary": "Get Links",
        "description": "Returns a list of links (inbound, outbound, or both) for a specified target URL, subdomain, or root domain. Includes source and target metrics for each link.",
        "tags": ["Links"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with link data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/linking_root_domains": {
      "post": {
        "operationId": "getLinkingRootDomains",
        "summary": "Get Linking Root Domains",
        "description": "Returns a list of root domains that link to the specified target URL, subdomain, or root domain, along with associated metrics.",
        "tags": ["Linking Root Domains"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkingRootDomainsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with linking root domain data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkingRootDomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/top_pages": {
      "post": {
        "operationId": "getTopPages",
        "summary": "Get Top Pages",
        "description": "Returns the top pages on a given subdomain or root domain, ranked by Page Authority or number of linking root domains.",
        "tags": ["Top Pages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopPagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with top pages data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopPagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/global_top_pages": {
      "post": {
        "operationId": "getGlobalTopPages",
        "summary": "Get Global Top Pages",
        "description": "Returns the top pages across the entire web index, ranked by Page Authority. Useful for discovering the most authoritative pages globally.",
        "tags": ["Global Top Pages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalTopPagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with global top pages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalTopPagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/global_top_root_domains": {
      "post": {
        "operationId": "getGlobalTopRootDomains",
        "summary": "Get Global Top Root Domains",
        "description": "Returns the top root domains across the entire web index, ranked by Domain Authority.",
        "tags": ["Global Top Root Domains"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalTopRootDomainsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with global top root domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalTopRootDomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/usage_data": {
      "post": {
        "operationId": "getUsageData",
        "summary": "Get Usage Data",
        "description": "Returns usage statistics for the authenticated account, including rows used and rows remaining for the current billing period.",
        "tags": ["Usage"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with usage data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageDataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using your Moz Access ID as the username and your Secret Key as the password. Obtain credentials from https://moz.com/products/api."
      }
    },
    "schemas": {
      "UrlMetricsRequest": {
        "type": "object",
        "required": ["targets"],
        "properties": {
          "targets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50,
            "description": "A list of URLs, subdomains, or root domains to retrieve metrics for. Maximum 50 targets per request.",
            "example": ["moz.com", "moz.com/blog"]
          }
        }
      },
      "UrlMetricsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UrlMetrics"
            }
          }
        }
      },
      "UrlMetrics": {
        "type": "object",
        "properties": {
          "page": {
            "type": "string",
            "description": "The URL of the page"
          },
          "subdomain": {
            "type": "string",
            "description": "The subdomain of the URL"
          },
          "root_domain": {
            "type": "string",
            "description": "The root domain of the URL"
          },
          "title": {
            "type": "string",
            "description": "The title of the page"
          },
          "last_crawled": {
            "type": "string",
            "description": "The date the page was last crawled"
          },
          "http_code": {
            "type": "integer",
            "description": "The HTTP status code returned when the page was last crawled"
          },
          "pages_crawled": {
            "type": "integer",
            "description": "The number of pages crawled from this root domain"
          },
          "domain_authority": {
            "type": "number",
            "format": "float",
            "description": "Moz Domain Authority score (1-100)"
          },
          "page_authority": {
            "type": "number",
            "format": "float",
            "description": "Moz Page Authority score (1-100)"
          },
          "link_propensity": {
            "type": "number",
            "format": "float",
            "description": "The likelihood that a domain links to other domains"
          },
          "spam_score": {
            "type": "number",
            "format": "float",
            "description": "Moz Spam Score (1-100) indicating likelihood of being penalized by search engines"
          },
          "external_links": {
            "type": "integer",
            "description": "Total number of external links to the target"
          },
          "external_links_to_page": {
            "type": "integer",
            "description": "Number of external links pointing to this specific page"
          },
          "external_links_to_subdomain": {
            "type": "integer",
            "description": "Number of external links pointing to this subdomain"
          },
          "external_links_to_root_domain": {
            "type": "integer",
            "description": "Number of external links pointing to this root domain"
          },
          "linking_root_domains": {
            "type": "integer",
            "description": "Number of unique root domains linking to the target"
          },
          "linking_root_domains_to_page": {
            "type": "integer",
            "description": "Number of unique root domains linking to this page"
          },
          "linking_root_domains_to_subdomain": {
            "type": "integer",
            "description": "Number of unique root domains linking to this subdomain"
          },
          "linking_root_domains_to_root_domain": {
            "type": "integer",
            "description": "Number of unique root domains linking to this root domain"
          },
          "redirect_url": {
            "type": "string",
            "description": "The URL this page redirects to, if applicable"
          }
        }
      },
      "AnchorTextRequest": {
        "type": "object",
        "required": ["target"],
        "properties": {
          "target": {
            "type": "string",
            "description": "The URL, subdomain, or root domain to get anchor text for",
            "example": "moz.com/blog"
          },
          "scope": {
            "type": "string",
            "enum": ["page", "subdomain", "root_domain"],
            "description": "The scope of the target",
            "default": "page"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "default": 25,
            "maximum": 50
          },
          "next_token": {
            "type": "string",
            "description": "Pagination token from a previous response"
          }
        }
      },
      "AnchorTextResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnchorTextResult"
            }
          },
          "next_token": {
            "type": "string",
            "description": "Token for retrieving the next page of results"
          }
        }
      },
      "AnchorTextResult": {
        "type": "object",
        "properties": {
          "anchor_text": {
            "type": "string",
            "description": "The anchor text phrase"
          },
          "external_links": {
            "type": "integer",
            "description": "Number of external links using this anchor text"
          },
          "external_pages": {
            "type": "integer",
            "description": "Number of external pages using this anchor text"
          },
          "linking_root_domains": {
            "type": "integer",
            "description": "Number of unique root domains using this anchor text"
          }
        }
      },
      "LinksRequest": {
        "type": "object",
        "required": ["target"],
        "properties": {
          "target": {
            "type": "string",
            "description": "The URL, subdomain, or root domain to get links for",
            "example": "moz.com"
          },
          "target_scope": {
            "type": "string",
            "enum": ["page", "subdomain", "root_domain"],
            "description": "The scope of the target",
            "default": "page"
          },
          "filter": {
            "type": "string",
            "enum": ["external", "internal", "all"],
            "description": "Filter links by type",
            "default": "external"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "default": 25,
            "maximum": 50
          },
          "next_token": {
            "type": "string",
            "description": "Pagination token from a previous response"
          },
          "source_cols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Columns to return for the source of each link (e.g., domain_authority, page_authority, spam_score)"
          },
          "target_cols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Columns to return for the target of each link"
          }
        }
      },
      "LinksResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkResult"
            }
          },
          "next_token": {
            "type": "string",
            "description": "Token for retrieving the next page of results"
          }
        }
      },
      "LinkResult": {
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/LinkEndpoint"
          },
          "target": {
            "$ref": "#/components/schemas/LinkEndpoint"
          },
          "anchor_text": {
            "type": "string",
            "description": "The anchor text of the link"
          },
          "nofollow": {
            "type": "boolean",
            "description": "Whether the link has a nofollow attribute"
          }
        }
      },
      "LinkEndpoint": {
        "type": "object",
        "properties": {
          "page": {
            "type": "string",
            "description": "The URL"
          },
          "subdomain": {
            "type": "string",
            "description": "The subdomain"
          },
          "root_domain": {
            "type": "string",
            "description": "The root domain"
          },
          "domain_authority": {
            "type": "number",
            "format": "float",
            "description": "Domain Authority score"
          },
          "page_authority": {
            "type": "number",
            "format": "float",
            "description": "Page Authority score"
          },
          "spam_score": {
            "type": "number",
            "format": "float",
            "description": "Spam Score"
          },
          "title": {
            "type": "string",
            "description": "The page title"
          }
        }
      },
      "LinkingRootDomainsRequest": {
        "type": "object",
        "required": ["target"],
        "properties": {
          "target": {
            "type": "string",
            "description": "The URL, subdomain, or root domain to get linking root domains for",
            "example": "moz.com"
          },
          "target_scope": {
            "type": "string",
            "enum": ["page", "subdomain", "root_domain"],
            "description": "The scope of the target",
            "default": "page"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "default": 25,
            "maximum": 50
          },
          "next_token": {
            "type": "string",
            "description": "Pagination token from a previous response"
          }
        }
      },
      "LinkingRootDomainsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkingRootDomainResult"
            }
          },
          "next_token": {
            "type": "string",
            "description": "Token for retrieving the next page of results"
          }
        }
      },
      "LinkingRootDomainResult": {
        "type": "object",
        "properties": {
          "root_domain": {
            "type": "string",
            "description": "The linking root domain"
          },
          "domain_authority": {
            "type": "number",
            "format": "float",
            "description": "Domain Authority of the linking root domain"
          },
          "spam_score": {
            "type": "number",
            "format": "float",
            "description": "Spam Score of the linking root domain"
          },
          "external_links": {
            "type": "integer",
            "description": "Number of external links from this root domain to the target"
          }
        }
      },
      "TopPagesRequest": {
        "type": "object",
        "required": ["target"],
        "properties": {
          "target": {
            "type": "string",
            "description": "The subdomain or root domain to get top pages for",
            "example": "moz.com"
          },
          "scope": {
            "type": "string",
            "enum": ["subdomain", "root_domain"],
            "description": "The scope of the target",
            "default": "root_domain"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "default": 25,
            "maximum": 50
          },
          "next_token": {
            "type": "string",
            "description": "Pagination token from a previous response"
          }
        }
      },
      "TopPagesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UrlMetrics"
            }
          },
          "next_token": {
            "type": "string",
            "description": "Token for retrieving the next page of results"
          }
        }
      },
      "GlobalTopPagesRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "default": 25,
            "maximum": 50
          },
          "next_token": {
            "type": "string",
            "description": "Pagination token from a previous response"
          }
        }
      },
      "GlobalTopPagesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UrlMetrics"
            }
          },
          "next_token": {
            "type": "string",
            "description": "Token for retrieving the next page of results"
          }
        }
      },
      "GlobalTopRootDomainsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "default": 25,
            "maximum": 50
          },
          "next_token": {
            "type": "string",
            "description": "Pagination token from a previous response"
          }
        }
      },
      "GlobalTopRootDomainsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalTopRootDomainResult"
            }
          },
          "next_token": {
            "type": "string",
            "description": "Token for retrieving the next page of results"
          }
        }
      },
      "GlobalTopRootDomainResult": {
        "type": "object",
        "properties": {
          "root_domain": {
            "type": "string",
            "description": "The root domain"
          },
          "domain_authority": {
            "type": "number",
            "format": "float",
            "description": "Domain Authority score"
          },
          "linking_root_domains": {
            "type": "integer",
            "description": "Number of linking root domains"
          },
          "spam_score": {
            "type": "number",
            "format": "float",
            "description": "Spam Score"
          }
        }
      },
      "UsageDataResponse": {
        "type": "object",
        "properties": {
          "rows_used": {
            "type": "integer",
            "description": "Number of rows consumed in the current billing period"
          },
          "rows_remaining": {
            "type": "integer",
            "description": "Number of rows remaining in the current billing period"
          },
          "plan": {
            "type": "string",
            "description": "The name of the current API plan"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "URL Metrics",
      "description": "Retrieve Domain Authority, Page Authority, Spam Score, and link counts for URLs"
    },
    {
      "name": "Anchor Text",
      "description": "Get anchor text phrases used by pages linking to a target"
    },
    {
      "name": "Links",
      "description": "Retrieve individual inbound and outbound links for a target"
    },
    {
      "name": "Linking Root Domains",
      "description": "Get unique root domains that link to a target"
    },
    {
      "name": "Top Pages",
      "description": "Get the most authoritative pages on a domain"
    },
    {
      "name": "Global Top Pages",
      "description": "Get the most authoritative pages across the entire web"
    },
    {
      "name": "Global Top Root Domains",
      "description": "Get the most authoritative root domains across the entire web"
    },
    {
      "name": "Usage",
      "description": "Check API usage and remaining quota"
    }
  ],
  "externalDocs": {
    "description": "Moz Links API Documentation",
    "url": "https://moz.com/help/links-api"
  }
}