{
  "openapi": "3.0.3",
  "info": {
    "title": "Gremlin API",
    "version": "1.0",
    "description": "Gremlin is a chaos engineering platform that enables teams to proactively test system resilience by injecting failures. The API provides programmatic access to attacks, scenarios, status checks, targets/clients, teams, and schedules.",
    "x-jentic-source-url": "https://www.gremlin.com/docs/api-reference/overview"
  },
  "servers": [
    {
      "url": "https://api.gremlin.com/v1"
    }
  ],
  "paths": {
    "/attacks": {
      "get": {
        "operationId": "listAttacks",
        "summary": "List attacks",
        "tags": [
          "Attacks"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Api",
                "Webapp",
                "Scenario",
                "Schedule"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attack list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attack"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAttack",
        "summary": "Create a new attack",
        "tags": [
          "Attacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAttackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attack created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Attack GUID"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/attacks/{attackGuid}": {
      "get": {
        "operationId": "getAttack",
        "summary": "Get attack details",
        "tags": [
          "Attacks"
        ],
        "parameters": [
          {
            "name": "attackGuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attack details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "haltAttack",
        "summary": "Halt an active attack",
        "tags": [
          "Attacks"
        ],
        "parameters": [
          {
            "name": "attackGuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attack halted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/attacks/active": {
      "get": {
        "operationId": "listActiveAttacks",
        "summary": "List active attacks",
        "tags": [
          "Attacks"
        ],
        "responses": {
          "200": {
            "description": "Active attacks"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "haltAllAttacks",
        "summary": "Halt all active attacks",
        "tags": [
          "Attacks"
        ],
        "responses": {
          "200": {
            "description": "All attacks halted"
          }
        }
      }
    },
    "/scenarios": {
      "get": {
        "operationId": "listScenarios",
        "summary": "List scenarios",
        "tags": [
          "Scenarios"
        ],
        "responses": {
          "200": {
            "description": "Scenario list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scenario"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createScenario",
        "summary": "Create a scenario",
        "tags": [
          "Scenarios"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScenarioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Scenario created"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/scenarios/{scenarioId}": {
      "get": {
        "operationId": "getScenario",
        "summary": "Get scenario details",
        "tags": [
          "Scenarios"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenario details"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateScenario",
        "summary": "Update a scenario",
        "tags": [
          "Scenarios"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScenarioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteScenario",
        "summary": "Delete a scenario",
        "tags": [
          "Scenarios"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenario deleted"
          }
        }
      }
    },
    "/scenarios/{scenarioId}/runs": {
      "post": {
        "operationId": "runScenario",
        "summary": "Run a scenario",
        "tags": [
          "Scenarios"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Scenario run started"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "get": {
        "operationId": "listScenarioRuns",
        "summary": "List runs for a scenario",
        "tags": [
          "Scenarios"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scenario runs"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List Gremlin agent clients (targets)",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "Client list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/clients/{clientId}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get client details",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "operationId": "listSchedules",
        "summary": "List schedules",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "description": "Schedule list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSchedule",
        "summary": "Create a schedule",
        "tags": [
          "Schedules"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_definition": {
                    "type": "object"
                  },
                  "attack_definition": {
                    "type": "object"
                  },
                  "schedule": {
                    "type": "object",
                    "properties": {
                      "cron": {
                        "type": "string"
                      },
                      "timezone": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Schedule created"
          }
        }
      }
    },
    "/schedules/{scheduleId}": {
      "get": {
        "operationId": "getSchedule",
        "summary": "Get schedule details",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule details"
          }
        }
      },
      "delete": {
        "operationId": "deleteSchedule",
        "summary": "Delete a schedule",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule deleted"
          }
        }
      }
    },
    "/orgs/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams in organization",
        "tags": [
          "Teams"
        ],
        "responses": {
          "200": {
            "description": "Team list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orgs/teams/{teamId}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get team details",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details"
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get Gremlin status checks",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Status checks"
          }
        }
      }
    },
    "/reports/attacks": {
      "get": {
        "operationId": "getAttackReport",
        "summary": "Get attack reports",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attack report data"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Attack": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "$ref": "#/components/schemas/Target"
          }
        }
      },
      "CreateAttackRequest": {
        "type": "object",
        "required": [
          "command",
          "target"
        ],
        "properties": {
          "command": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "cpu",
                  "memory",
                  "disk",
                  "io",
                  "network",
                  "process_killer",
                  "time_travel",
                  "shutdown",
                  "blackhole",
                  "latency",
                  "packet_loss",
                  "dns"
                ]
              },
              "args": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "commandType": {
                "type": "string",
                "enum": [
                  "Resource",
                  "State",
                  "Network"
                ]
              }
            }
          },
          "target": {
            "$ref": "#/components/schemas/Target"
          }
        }
      },
      "Target": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Exact",
              "Random",
              "Percent"
            ]
          },
          "exact": {
            "type": "integer"
          },
          "percent": {
            "type": "integer"
          },
          "hosts": {
            "type": "object",
            "properties": {
              "ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "containers": {
            "type": "object",
            "properties": {
              "ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "kubernetes": {
            "type": "object"
          }
        }
      },
      "Scenario": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "hypothesis": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "state": {
            "type": "string"
          }
        }
      },
      "CreateScenarioRequest": {
        "type": "object",
        "required": [
          "name",
          "steps"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "hypothesis": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attacks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreateAttackRequest"
                  }
                },
                "delay": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          },
          "containers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Gremlin API key as Bearer token"
      },
      "companyAuth": {
        "type": "apiKey",
        "name": "X-Gremlin-Team-Id",
        "in": "header",
        "description": "Team ID header"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "companyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Attacks"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Scenarios"
    },
    {
      "name": "Schedules"
    },
    {
      "name": "Status"
    },
    {
      "name": "Teams"
    }
  ]
}