{
  "openapi": "3.0.3",
  "info": {
    "title": "ReviewStudio API",
    "description": "This document describes the ReviewStudio API and its usage. The headers for all the requests are the following:\n                                            <pre>\n                                            'X-REVIEWSTUDIO-EMAIL' = Email of the admin.\n                                            'X-REVIEWSTUDIO-TOKEN' = API Key.\n                                            </pre>",
    "version": "2.1"
  },
  "servers": [
    {
      "url": "https://app.reviewstudio.com/api/"
    }
  ],
  "paths": {
    "/account/review/settings": {
      "get": {
        "description": "Get Review Settings for Account",
        "operationId": "getAccountReviewSettings",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Get Review Settings for Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Account_Review_Settings"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update Review Defaults for Account",
        "operationId": "putAccountReviewSettings",
        "tags": [
          "account"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putAccountReviewSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update Review Defaults for Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Account_Review_Settings"
                }
              }
            }
          }
        }
      }
    },
    "/account/review/defaults": {
      "get": {
        "description": "Get Review Defaults for Account",
        "operationId": "getAccountReviewDefaults",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Get Review Defaults for Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Account_Review_Defaults"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update Review Defaults for Account",
        "operationId": "putAccountReviewDefaults",
        "tags": [
          "account"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putAccountReviewDefaults"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update Review Defaults for Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Account_Review_Defaults"
                }
              }
            }
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "description": "Get all reviews",
        "operationId": "getReviews",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort reviews by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Order reviews",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_by_approval",
            "in": "query",
            "required": false,
            "description": "Filter reviews by approval",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "filter_by_status",
            "in": "query",
            "required": false,
            "description": "Filter reviews by status",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "description": "Search term here",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_users",
            "in": "query",
            "required": false,
            "description": "Hide users from response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hide_files",
            "in": "query",
            "required": false,
            "description": "Hide files from response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all reviews"
          }
        }
      },
      "post": {
        "description": "Create a new review",
        "operationId": "postReviews",
        "tags": [
          "reviews"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviews"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Review"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{id}": {
      "get": {
        "description": "Get a review",
        "operationId": "getReviewsId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Review",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "hide_users",
            "in": "query",
            "required": false,
            "description": "Hide users from response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hide_files",
            "in": "query",
            "required": false,
            "description": "Hide files from response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Review"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a review",
        "operationId": "putReviewsId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putReviewsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Review"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a review",
        "operationId": "deleteReviewsId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a review"
          }
        }
      }
    },
    "/reviews/{id}/notify_users": {
      "post": {
        "description": "Notify users with a message",
        "operationId": "postReviewsIdNotifyUsers",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsIdNotifyUsers"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notify users with a message"
          }
        }
      }
    },
    "/reviews/{review_id}/files": {
      "get": {
        "description": "Get a list of all review files",
        "operationId": "getReviewsReviewIdFiles",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "ID of the Review.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nest_files",
            "in": "query",
            "required": false,
            "description": "Return the list with nested files like the UI",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all review files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new review file (use either review_file or review_file_url)",
        "operationId": "postReviewsReviewIdFiles",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "ID of the Review.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFiles"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new review file (use either review_file or review_file_url)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/files/{review_file_id}": {
      "get": {
        "description": "Get a single review file",
        "operationId": "getReviewsReviewIdFilesReviewFileId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "review_file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single review file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update review file",
        "operationId": "putReviewsReviewIdFilesReviewFileId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "ID of the Review.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "review_file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putReviewsReviewIdFilesReviewFileId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update review file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a review file",
        "operationId": "deleteReviewsReviewIdFilesReviewFileId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "review_file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "delete_all_versions",
            "in": "query",
            "required": false,
            "description": "Specify if you want to delete all versions or not",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a review file"
          }
        }
      }
    },
    "/reviews/{review_id}/files/{review_file_id}/remote": {
      "post": {
        "description": "Add a new remote version",
        "operationId": "postReviewsReviewIdFilesReviewFileIdRemote",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "review_file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesReviewFileIdRemote"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Add a new remote version"
          }
        }
      }
    },
    "/reviews/{review_id}/files/batch/lock": {
      "post": {
        "description": "Batch Lock files",
        "operationId": "postReviewsReviewIdFilesBatchLock",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesBatchLock"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch Lock files"
          }
        }
      }
    },
    "/reviews/{review_id}/files/batch/unlock": {
      "post": {
        "description": "Batch Unlock files",
        "operationId": "postReviewsReviewIdFilesBatchUnlock",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesBatchUnlock"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch Unlock files"
          }
        }
      }
    },
    "/reviews/{review_id}/files/batch/hide": {
      "post": {
        "description": "Batch Hide files",
        "operationId": "postReviewsReviewIdFilesBatchHide",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesBatchHide"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch Hide files"
          }
        }
      }
    },
    "/reviews/{review_id}/files/batch/unhide": {
      "post": {
        "description": "Batch Unhide files",
        "operationId": "postReviewsReviewIdFilesBatchUnhide",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesBatchUnhide"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch Unhide files"
          }
        }
      }
    },
    "/reviews/{review_id}/files/batch/convert_to_external": {
      "post": {
        "description": "Batch Convert To External Versions",
        "operationId": "postReviewsReviewIdFilesBatchConvertToExternal",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesBatchConvertToExternal"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch Convert To External Versions"
          }
        }
      }
    },
    "/reviews/{review_id}/files/batch/order": {
      "post": {
        "description": "Batch sort files",
        "operationId": "postReviewsReviewIdFilesBatchOrder",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesBatchOrder"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch sort files"
          }
        }
      }
    },
    "/reviews/{review_id}/files/batch/delete": {
      "post": {
        "description": "Batch delete files",
        "operationId": "postReviewsReviewIdFilesBatchDelete",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesBatchDelete"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch delete files"
          }
        }
      }
    },
    "/reviews/{review_id}/files/html/live": {
      "post": {
        "description": "Create a new HTML Live URL file",
        "operationId": "postReviewsReviewIdFilesHtmlLive",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesHtmlLive"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A JSON object will be returned with 2 keys each containing an array: error - containing an array of error messages, success_ids - containing a list of IDs of the newly created file"
          }
        }
      }
    },
    "/reviews/{review_id}/files/html/capture": {
      "post": {
        "description": "Create a new HTML Capture file",
        "operationId": "postReviewsReviewIdFilesHtmlCapture",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesHtmlCapture"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A JSON object will be returned with 2 keys each containing an array: error - containing an array of error messages, success_ids - containing a list of IDs of the newly created file"
          }
        }
      }
    },
    "/reviews/{review_id}/files/html/screenshot": {
      "post": {
        "description": "Create a new HTML Screenshot",
        "operationId": "postReviewsReviewIdFilesHtmlScreenshot",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdFilesHtmlScreenshot"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A JSON object will be returned with 2 keys each containing an array: error - containing an array of error messages, success_ids - containing a list of IDs of the newly created file"
          }
        }
      }
    },
    "/reviews/{review_id}/users": {
      "get": {
        "description": "Get a list of users for the review",
        "operationId": "getReviewsReviewIdUsers",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of users for the review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewUser"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Add a single user to the review",
        "operationId": "postReviewsReviewIdUsers",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postReviewsReviewIdUsers"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Add a single user to the review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewUser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single user from the review",
        "operationId": "deleteReviewsReviewIdUsers",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a single user from the review"
          }
        }
      },
      "put": {
        "description": "Update user approval status in the review",
        "operationId": "putReviewsReviewIdUsers",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putReviewsReviewIdUsers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update user approval status in the review"
          }
        }
      }
    },
    "/reviews/{review_id}/approvals": {
      "get": {
        "description": "Get a list of decisions by users for the review",
        "operationId": "getReviewsReviewIdApprovals",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of decisions by users for the review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewApproval"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/approvals/approved": {
      "get": {
        "description": "Get a list of approved by users for the review",
        "operationId": "getReviewsReviewIdApprovalsApproved",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of approved by users for the review"
          }
        }
      }
    },
    "/reviews/{review_id}/approvals/rejected": {
      "get": {
        "description": "Get a list of rejected by users for the review",
        "operationId": "getReviewsReviewIdApprovalsRejected",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of rejected by users for the review"
          }
        }
      }
    },
    "/reviews/{review_id}/approvals/approved-changes": {
      "get": {
        "description": "Get a list of approved-changes by users for the review",
        "operationId": "getReviewsReviewIdApprovalsApprovedChanges",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of approved-changes by users for the review"
          }
        }
      }
    },
    "/reviews/{review_id}/approvals/rejectedx": {
      "get": {
        "description": "Get a list of rejectedx by users for the review",
        "operationId": "getReviewsReviewIdApprovalsRejectedx",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of rejectedx by users for the review"
          }
        }
      }
    },
    "/reviews/{review_id}/approvals/pending": {
      "get": {
        "description": "Get a list of pending actions by users for the review",
        "operationId": "getReviewsReviewIdApprovalsPending",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of pending actions by users for the review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewApproval"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/webhooks": {
      "get": {
        "description": "Get a list of all webhooks",
        "operationId": "getReviewsReviewIdWebhooks",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "description": "Status of the Webhook",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/webhooks/{uid}": {
      "get": {
        "description": "Get webhook by UID",
        "operationId": "getReviewsReviewIdWebhooksUid",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "UID of the Webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get webhook by UID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/notes": {
      "get": {
        "description": "Get a list of all notes from the most recent file versions",
        "operationId": "getReviewsReviewIdNotes",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all notes from the most recent file versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Note"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/notes/all": {
      "get": {
        "description": "Get a list of all notes from all file versions",
        "operationId": "getReviewsReviewIdNotesAll",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all notes from all file versions"
          }
        }
      }
    },
    "/reviews/{review_id}/notes/{note_id}": {
      "get": {
        "description": "Get note by note_id",
        "operationId": "getReviewsReviewIdNotesNoteId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "note_id of note",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get note by note_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Note"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/files/{file_id}/lock": {
      "post": {
        "description": "Lock file",
        "operationId": "postReviewsReviewIdFilesFileIdLock",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Lock file"
          }
        }
      }
    },
    "/reviews/{review_id}/files/{file_id}/unlock": {
      "post": {
        "description": "Unlock file",
        "operationId": "postReviewsReviewIdFilesFileIdUnlock",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Unlock file"
          }
        }
      }
    },
    "/reviews/{review_id}/files/{file_id}/hide": {
      "post": {
        "description": "Hide file",
        "operationId": "postReviewsReviewIdFilesFileIdHide",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Hide file"
          }
        }
      }
    },
    "/reviews/{review_id}/files/{file_id}/unhide": {
      "post": {
        "description": "Unhide file",
        "operationId": "postReviewsReviewIdFilesFileIdUnhide",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Unhide file"
          }
        }
      }
    },
    "/reviews/{review_id}/files/{file_id}/convert_to_external": {
      "post": {
        "description": "Convert to External Version",
        "operationId": "postReviewsReviewIdFilesFileIdConvertToExternal",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Convert to External Version"
          }
        }
      }
    },
    "/reviews/{review_id}/files/{file_id}/notes": {
      "get": {
        "description": "Get a list of all notes",
        "operationId": "getReviewsReviewIdFilesFileIdNotes",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Note"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/files/{file_id}/notes/{note_id}": {
      "get": {
        "description": "Get note by note_id",
        "operationId": "getReviewsReviewIdFilesFileIdNotesNoteId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "note_id of note",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get note by note_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Note"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/workflow": {
      "get": {
        "description": "Returns the review workflow",
        "operationId": "getReviewsReviewIdWorkflow",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the review workflow",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Reviews_Workflow"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update workflow assignment",
        "operationId": "putReviewsReviewIdWorkflow",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putReviewsReviewIdWorkflow"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update workflow assignment"
          }
        }
      },
      "delete": {
        "description": "Delete workflow assignment",
        "operationId": "deleteReviewsReviewIdWorkflow",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete workflow assignment"
          }
        }
      }
    },
    "/reviews/{review_id}/workflow/stages": {
      "get": {
        "description": "Get all stages",
        "operationId": "getReviewsReviewIdWorkflowStages",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "description": "Status of the stages",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all stages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Reviews_Workflow_Stage"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{review_id}/workflow/stages/{id}": {
      "get": {
        "description": "Get a stage",
        "operationId": "getReviewsReviewIdWorkflowStagesId",
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the stage",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a stage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Reviews_Workflow_Stage"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "description": "Get a list of users for the account",
        "operationId": "getUsers",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "required": false,
            "description": "Filter by role",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "with_hidden",
            "in": "query",
            "required": false,
            "description": "Also return hidden users",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of users for the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_User"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new user",
        "operationId": "postUsers",
        "tags": [
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postUsers"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Get a single user from the account",
        "operationId": "getUsersId",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single user from the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a single user from the account",
        "operationId": "deleteUsersId",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a single user from the account"
          }
        }
      },
      "put": {
        "description": "Updates the user details",
        "operationId": "putUsersId",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putUsersId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updates the user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_User"
                }
              }
            }
          }
        }
      }
    },
    "/clients/default/team": {
      "get": {
        "description": "Get all default users",
        "operationId": "getClientsDefaultTeam",
        "tags": [
          "clients"
        ],
        "responses": {
          "200": {
            "description": "Get all default users"
          }
        }
      },
      "post": {
        "description": "Create a default user",
        "operationId": "postClientsDefaultTeam",
        "tags": [
          "clients"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postClientsDefaultTeam"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a default user"
          }
        }
      }
    },
    "/clients/default/team/{user_id}": {
      "put": {
        "description": "Update a default user",
        "operationId": "putClientsDefaultTeamUserId",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putClientsDefaultTeamUserId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a default user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_TeamUser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClientsDefaultTeamUserId",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleted Team"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "description": "Get all clients",
        "operationId": "getClients",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all clients"
          }
        }
      },
      "post": {
        "description": "Create a client",
        "operationId": "postClients",
        "tags": [
          "clients"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postClients"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a client"
          }
        }
      }
    },
    "/clients/{id}": {
      "get": {
        "description": "Get a client",
        "operationId": "getClientsId",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the client",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Client"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a client",
        "operationId": "putClientsId",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Client",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putClientsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a client"
          }
        }
      },
      "delete": {
        "description": "Delete a client. Note that at least one of the parameters (delete_all, move_to_client_id) must be sent!",
        "operationId": "deleteClientsId",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Client",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete_all",
            "in": "query",
            "required": false,
            "description": "Set this to true if you want to delete the client and all associated projects/reviews",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "move_to_client_id",
            "in": "query",
            "required": false,
            "description": "Specify the ID of the new client where projects/reviews should be moved to",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a client. Note that at least one of the parameters (delete_all, move_to_client_id) must be sent!"
          }
        }
      }
    },
    "/clients/{id}/projects": {
      "get": {
        "description": "Get projects from client",
        "operationId": "getClientsIdProjects",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Client",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get projects from client"
          }
        }
      }
    },
    "/clients/{id}/team": {
      "get": {
        "description": "Get all default users",
        "operationId": "getClientsIdTeam",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Client",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all default users"
          }
        }
      },
      "post": {
        "description": "Create a default user",
        "operationId": "postClientsIdTeam",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Client",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postClientsIdTeam"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a default user"
          }
        }
      }
    },
    "/clients/{id}/team/{user_id}": {
      "put": {
        "description": "Update a default user",
        "operationId": "putClientsIdTeamUserId",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Client",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putClientsIdTeamUserId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a default user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_TeamUser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClientsIdTeamUserId",
        "tags": [
          "clients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Client",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleted Team"
          }
        }
      }
    },
    "/projects/default/team": {
      "get": {
        "description": "Get all default users",
        "operationId": "getProjectsDefaultTeam",
        "tags": [
          "projects"
        ],
        "responses": {
          "200": {
            "description": "Get all default users"
          }
        }
      },
      "post": {
        "description": "Create a default user",
        "operationId": "postProjectsDefaultTeam",
        "tags": [
          "projects"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postProjectsDefaultTeam"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a default user"
          }
        }
      }
    },
    "/projects/default/team/{user_id}": {
      "put": {
        "description": "Update a default user",
        "operationId": "putProjectsDefaultTeamUserId",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putProjectsDefaultTeamUserId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a default user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_TeamUser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectsDefaultTeamUserId",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleted Team"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "description": "Get all projects",
        "operationId": "getProjects",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all projects"
          }
        }
      },
      "post": {
        "description": "Create a project",
        "operationId": "postProjects",
        "tags": [
          "projects"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postProjects"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a project"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "description": "Get a project",
        "operationId": "getProjectsId",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Project"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a project",
        "operationId": "putProjectsId",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putProjectsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a project"
          }
        }
      },
      "delete": {
        "description": "Delete a project. Note that all associated reviews will be deleted",
        "operationId": "deleteProjectsId",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a project. Note that all associated reviews will be deleted"
          }
        }
      }
    },
    "/projects/{id}/team": {
      "get": {
        "description": "Get all default users",
        "operationId": "getProjectsIdTeam",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all default users"
          }
        }
      },
      "post": {
        "description": "Create a default user",
        "operationId": "postProjectsIdTeam",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postProjectsIdTeam"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a default user"
          }
        }
      }
    },
    "/projects/{id}/team/{user_id}": {
      "put": {
        "description": "Update a default user",
        "operationId": "putProjectsIdTeamUserId",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putProjectsIdTeamUserId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a default user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_TeamUser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectsIdTeamUserId",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleted Team"
          }
        }
      }
    },
    "/labels": {
      "get": {
        "description": "Get all labels",
        "operationId": "getLabels",
        "tags": [
          "labels"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all labels"
          }
        }
      },
      "post": {
        "description": "Create a label",
        "operationId": "postLabels",
        "tags": [
          "labels"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postLabels"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a label"
          }
        }
      }
    },
    "/labels/{id}": {
      "get": {
        "description": "Get a label",
        "operationId": "getLabelsId",
        "tags": [
          "labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a label"
          }
        }
      },
      "put": {
        "description": "Update a label",
        "operationId": "putLabelsId",
        "tags": [
          "labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putLabelsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a label"
          }
        }
      },
      "delete": {
        "description": "Delete a label",
        "operationId": "deleteLabelsId",
        "tags": [
          "labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a label"
          }
        }
      }
    },
    "/labels/{id}/reviews": {
      "get": {
        "description": "Get reviews with label assigned",
        "operationId": "getLabelsIdReviews",
        "tags": [
          "labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get reviews with label assigned"
          }
        }
      }
    },
    "/labels/{id}/files": {
      "get": {
        "description": "Get files with label assigned",
        "operationId": "getLabelsIdFiles",
        "tags": [
          "labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get files with label assigned"
          }
        }
      }
    },
    "/labels/{id}/comments": {
      "get": {
        "description": "Get comments with label assigned",
        "operationId": "getLabelsIdComments",
        "tags": [
          "labels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get comments with label assigned"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "description": "Get a list of all webhooks",
        "operationId": "getWebhooks",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "description": "Status of the Webhook",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{uid}": {
      "get": {
        "description": "Get webhook by UID",
        "operationId": "getWebhooksUid",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "UID of the Webhook",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get webhook by UID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "description": "Get a list of all workflows",
        "operationId": "getWorkflows",
        "tags": [
          "workflows"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "description": "Status of the workflow",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all workflows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Workflow"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}": {
      "get": {
        "description": "Get workflow by ID",
        "operationId": "getWorkflowsId",
        "tags": [
          "workflows"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Workflow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get workflow by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{workflow_id}/stages": {
      "get": {
        "description": "Get all stages",
        "operationId": "getWorkflowsWorkflowIdStages",
        "tags": [
          "workflows"
        ],
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all stages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Workflows_Stage"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "description": "Get my profile",
        "operationId": "getProfile",
        "tags": [
          "profile"
        ],
        "responses": {
          "200": {
            "description": "Get my profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Profile"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update my profile",
        "operationId": "putProfile",
        "tags": [
          "profile"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update my profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Profile"
                }
              }
            }
          }
        }
      }
    },
    "/my/clients": {
      "get": {
        "description": "Get all visible clients for the current user",
        "operationId": "getMyClients",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all visible clients for the current user"
          }
        }
      }
    },
    "/my/clients/{id}": {
      "get": {
        "description": "Get a client",
        "operationId": "getMyClientsId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the client",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Client"
                }
              }
            }
          }
        }
      }
    },
    "/my/clients/{id}/projects": {
      "get": {
        "description": "Get all projects for the client",
        "operationId": "getMyClientsIdProjects",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the client",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all projects for the client"
          }
        }
      }
    },
    "/my/projects": {
      "get": {
        "description": "Get all projects",
        "operationId": "getMyProjects",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all projects"
          }
        }
      }
    },
    "/my/projects/{id}": {
      "get": {
        "description": "Get a project",
        "operationId": "getMyProjectsId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Project"
                }
              }
            }
          }
        }
      }
    },
    "/my/projects/{id}/reviews": {
      "get": {
        "description": "Get reviews for a project",
        "operationId": "getMyProjectsIdReviews",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get reviews for a project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Review"
                }
              }
            }
          }
        }
      }
    },
    "/my/reviews": {
      "get": {
        "description": "Get all reviews",
        "operationId": "getMyReviews",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort reviews by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Order reviews",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_by_approval",
            "in": "query",
            "required": false,
            "description": "Filter reviews by approval",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "filter_by_status",
            "in": "query",
            "required": false,
            "description": "Filter reviews by status",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "description": "Search term here",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hide_users",
            "in": "query",
            "required": false,
            "description": "Hide users from response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hide_files",
            "in": "query",
            "required": false,
            "description": "Hide files from response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all reviews"
          }
        }
      },
      "post": {
        "description": "Create a new review",
        "operationId": "postMyReviews",
        "tags": [
          "my"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postMyReviews"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Review"
                }
              }
            }
          }
        }
      }
    },
    "/my/reviews/{id}": {
      "get": {
        "description": "Get a review",
        "operationId": "getMyReviewsId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the Review",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "hide_users",
            "in": "query",
            "required": false,
            "description": "Hide users from response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hide_files",
            "in": "query",
            "required": false,
            "description": "Hide files from response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Review"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update a review",
        "operationId": "putMyReviewsId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putMyReviewsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_Review"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a review",
        "operationId": "deleteMyReviewsId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a review"
          }
        }
      }
    },
    "/my/reviews/{id}/notify_users": {
      "post": {
        "description": "Notify users with a message",
        "operationId": "postMyReviewsIdNotifyUsers",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postMyReviewsIdNotifyUsers"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notify users with a message"
          }
        }
      }
    },
    "/my/reviews/{review_id}/files": {
      "get": {
        "description": "Get a list of all review files",
        "operationId": "getMyReviewsReviewIdFiles",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "ID of the Review.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nest_files",
            "in": "query",
            "required": false,
            "description": "Return the list with nested files like the UI",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of all review files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new review file (use either review_file or review_file_url)",
        "operationId": "postMyReviewsReviewIdFiles",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "ID of the Review.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/postMyReviewsReviewIdFiles"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new review file (use either review_file or review_file_url)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      }
    },
    "/my/reviews/{review_id}/files/{review_file_id}": {
      "get": {
        "description": "Get a single review file",
        "operationId": "getMyReviewsReviewIdFilesReviewFileId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "review_file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single review file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update review file",
        "operationId": "putMyReviewsReviewIdFilesReviewFileId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "ID of the Review.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "review_file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/putMyReviewsReviewIdFilesReviewFileId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update review file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Api_Entities_ReviewFile"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a review file",
        "operationId": "deleteMyReviewsReviewIdFilesReviewFileId",
        "tags": [
          "my"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Needs a Review ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "review_file_id",
            "in": "path",
[...]
