{
  "openapi": "3.0.3",
  "info": {
    "title": "Edmunds API",
    "description": "The Edmunds API provides access to an extensive dataset of vehicle information including specifications, pricing (True Market Value and True Cost to Own), editorial content, dealer information, safety ratings, recalls, maintenance schedules, consumer reviews, and vehicle photos. Authentication is via API key passed as a query parameter.",
    "version": "1.0.0",
    "contact": {
      "name": "Edmunds Developer Network",
      "url": "https://developer.edmunds.com"
    }
  },
  "servers": [
    {
      "url": "https://api.edmunds.com",
      "description": "Edmunds API Production Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/vehicle/v3/makes": {
      "get": {
        "operationId": "listMakes",
        "summary": "Get a list of car makes",
        "description": "Returns a list of vehicle makes based on optional filters.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Filter by vehicle state (e.g., NEW, USED, FUTURE)",
            "schema": { "type": "string", "enum": ["NEW", "USED", "FUTURE"] }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter by model year",
            "schema": { "type": "integer" }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer" }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of makes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/makes/count": {
      "get": {
        "operationId": "countMakes",
        "summary": "Get total count of car makes",
        "description": "Returns the total number of car makes.",
        "tags": ["Vehicle Specs"],
        "responses": {
          "200": {
            "description": "Successful response with count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalNumber": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/{make}": {
      "get": {
        "operationId": "getMakeDetails",
        "summary": "Get details on a specific car make",
        "description": "Returns detailed information for a specific vehicle manufacturer.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "description": "The nice name of the make (e.g., honda, toyota)",
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by vehicle state (e.g., NEW, USED, FUTURE)",
            "schema": { "type": "string", "enum": ["NEW", "USED", "FUTURE"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with make details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Make"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/models": {
      "get": {
        "operationId": "listModels",
        "summary": "Get a list of car models",
        "description": "Returns a list of vehicle models based on filters.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "makeNiceName",
            "in": "query",
            "description": "Filter results by vehicle make nice name (e.g., honda)",
            "schema": { "type": "string" }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer" }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/{make}/{model}/years": {
      "get": {
        "operationId": "getModelYears",
        "summary": "Get years with styles for a car make/model",
        "description": "Returns the model years of a specific car make/model with optional filters.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "description": "The nice name of the make (e.g., lexus)",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "The nice name of the model (e.g., rx350)",
            "schema": { "type": "string" }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter by specific year",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with model years",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelYearsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/modelYears": {
      "get": {
        "operationId": "listModelYears",
        "summary": "Get a list of model years via filters",
        "description": "Returns relevant information about model years based on filters.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "makeNiceName",
            "in": "query",
            "required": true,
            "description": "The nice name of the make (e.g., honda)",
            "schema": { "type": "string" }
          },
          {
            "name": "modelNiceName",
            "in": "query",
            "required": true,
            "description": "The nice name of the model (e.g., accord)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with model years",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelYearsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/styles": {
      "get": {
        "operationId": "listStyles",
        "summary": "Get a list of vehicle styles",
        "description": "Returns styles for a specific car make/model with pagination.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "makeNiceName",
            "in": "query",
            "description": "The nice name of the make (e.g., honda)",
            "schema": { "type": "string" }
          },
          {
            "name": "modelNiceName",
            "in": "query",
            "description": "The nice name of the model (e.g., civic)",
            "schema": { "type": "string" }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer" }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of styles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StylesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v2/styles/{styleId}/engines": {
      "get": {
        "operationId": "getEnginesByStyle",
        "summary": "Get engines for a car style",
        "description": "Returns engine details for a specific vehicle style.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "styleId",
            "in": "path",
            "required": true,
            "description": "The style ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with engine details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Engine"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v2/styles/{styleId}/transmissions": {
      "get": {
        "operationId": "getTransmissionsByStyle",
        "summary": "Get transmissions for a car style",
        "description": "Returns transmission details for a specific vehicle style.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "styleId",
            "in": "path",
            "required": true,
            "description": "The style ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with transmission details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transmission"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/colors/{colorId}": {
      "get": {
        "operationId": "getColorById",
        "summary": "Get color details by ID",
        "description": "Returns color details for a specific vehicle color ID.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "colorId",
            "in": "path",
            "required": true,
            "description": "The color ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with color details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Color"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v3/equipments": {
      "get": {
        "operationId": "listEquipments",
        "summary": "Get vehicle equipment list",
        "description": "Returns vehicle equipment details using various filters. Equipment types include AUDIO_SYSTEM, COLOR, ENGINE, FEE, HOLDBACK, OPTION, TELEMATICS, TIRES, TRANSMISSION, WARRANTY, WHEELS.",
        "tags": ["Vehicle Specs"],
        "parameters": [
          {
            "name": "styleId",
            "in": "query",
            "description": "Filter by style ID",
            "schema": { "type": "string" }
          },
          {
            "name": "equipmentType",
            "in": "query",
            "description": "Filter by equipment type",
            "schema": {
              "type": "string",
              "enum": ["AUDIO_SYSTEM", "COLOR", "ENGINE", "FEE", "HOLDBACK", "OPTION", "TELEMATICS", "TIRES", "TRANSMISSION", "UNKNOWN", "WARRANTY", "WHEELS"]
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Filter by availability",
            "schema": {
              "type": "string",
              "enum": ["STANDARD", "OPTIONAL", "UNKNOWN"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with equipment list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Equipment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v2/vins/{vin}": {
      "get": {
        "operationId": "decodeVin",
        "summary": "Decode a VIN",
        "description": "Decodes a supplied VIN to retrieve basic vehicle specifications including make, model, year, style, trim, engine and transmission details. This is not a VIN lookup but uses a Squish VIN reduction mechanism.",
        "tags": ["VIN"],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "description": "The full 17-character Vehicle Identification Number",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with decoded VIN data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VinDecodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v2/squishvins/{squishVin}": {
      "get": {
        "operationId": "decodeSquishVin",
        "summary": "Decode a Squish VIN",
        "description": "Decodes a Squish VIN (first 11 digits of VIN minus the 9th check digit) into basic vehicle specs including make, model, year, style, trim, engine and transmission details.",
        "tags": ["VIN"],
        "parameters": [
          {
            "name": "squishVin",
            "in": "path",
            "required": true,
            "description": "The Squish VIN (first 11 digits of VIN minus the 9th digit check digit)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with decoded Squish VIN data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VinDecodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tmv/tmvservice/calculatenewtmv": {
      "get": {
        "operationId": "calculateNewTmv",
        "summary": "Get TMV for a new car by style ID and ZIP code",
        "description": "Calculates the True Market Value pricing for a new vehicle based on style ID and ZIP code.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "styleid",
            "in": "query",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "The 5-digit ZIP code",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with TMV pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmvResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vehicle/vin/{vin}/price": {
      "get": {
        "operationId": "getNewTmvByVin",
        "summary": "Get TMV by new car VIN, MSRP, and ZIP code",
        "description": "Returns True Market Value pricing for a new vehicle using its VIN.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "description": "The Vehicle Identification Number",
            "schema": { "type": "string" }
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "The 5-digit ZIP code",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with VIN-based TMV pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmvResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tmv/tmvservice/calculateusedtmv": {
      "get": {
        "operationId": "calculateUsedTmv",
        "summary": "Get TMV for a used car by style ID and more",
        "description": "Calculates the True Market Value pricing for a used vehicle based on style ID, condition, mileage, and ZIP code.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "styleid",
            "in": "query",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          },
          {
            "name": "condition",
            "in": "query",
            "required": true,
            "description": "The vehicle condition (e.g., Outstanding, Clean, Average, Rough, Damaged)",
            "schema": { "type": "string" }
          },
          {
            "name": "mileage",
            "in": "query",
            "required": true,
            "description": "The vehicle mileage",
            "schema": { "type": "integer" }
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "The 5-digit ZIP code",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with used car TMV pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmvResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tmv/tmvservice/calculatetypicallyequippedusedtmv": {
      "get": {
        "operationId": "calculateTypicallyEquippedUsedTmv",
        "summary": "Get TMV for used vehicle with typically equipped options",
        "description": "Calculates the True Market Value pricing for a used vehicle with typically equipped options.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "styleid",
            "in": "query",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "The 5-digit ZIP code",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with typically equipped used TMV pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmvResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tmv/tmvservice/findcertifiedpriceforstyle": {
      "get": {
        "operationId": "getCertifiedTmv",
        "summary": "Get TMV for a certified vehicle",
        "description": "Returns True Market Value pricing for a certified pre-owned vehicle.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "styleid",
            "in": "query",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "The 5-digit ZIP code",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with certified vehicle TMV pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmvResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tco/getmakeswithtcodata": {
      "get": {
        "operationId": "getTcoMakes",
        "summary": "Get car makes with TCO value",
        "description": "Returns a list of car makes that have True Cost to Own data available.",
        "tags": ["Pricing"],
        "responses": {
          "200": {
            "description": "Successful response with makes having TCO data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tco/getmodelswithtcodata": {
      "get": {
        "operationId": "getTcoModels",
        "summary": "Get car models with TCO value",
        "description": "Returns a list of car models that have True Cost to Own data available.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "makeid",
            "in": "query",
            "description": "The make ID to filter models",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with models having TCO data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tco/newtruecosttoownbystyleidandzip/{styleId}/{zipcode}": {
      "get": {
        "operationId": "getNewTco",
        "summary": "Get TCO for a new car",
        "description": "Returns the True Cost to Own five-year ownership cost estimate for a new vehicle by style ID and ZIP code.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "styleId",
            "in": "path",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          },
          {
            "name": "zipcode",
            "in": "path",
            "required": true,
            "description": "The 5-digit ZIP code",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with TCO data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TcoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/tco/newtotalcashpricebystyleidandzip/{styleId}/{zipcode}": {
      "get": {
        "operationId": "getNewTotalCashPrice",
        "summary": "Get total cash price for a new car",
        "description": "Returns the total cash price for a new vehicle by style ID and ZIP code.",
        "tags": ["Pricing"],
        "parameters": [
          {
            "name": "styleId",
            "in": "path",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          },
          {
            "name": "zipcode",
            "in": "path",
            "required": true,
            "description": "The 5-digit ZIP code",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with total cash price",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCashPrice": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/maintenance/actionrepository/findbymodelyearid": {
      "get": {
        "operationId": "getMaintenanceByModelYearId",
        "summary": "Get maintenance schedule by car model year ID",
        "description": "Returns the maintenance schedule for a vehicle based on its model year ID. Frequency IDs indicate service types: 1-2 for A/B-service, 3 for one-time at exact value, 4 for recurring intervals, 5 for more frequent, 6 for warning-light triggered, 7-9 for manufacturer inspections.",
        "tags": ["Service"],
        "parameters": [
          {
            "name": "modelyearid",
            "in": "query",
            "required": true,
            "description": "The model year ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with maintenance schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/maintenance/recallrepository/findbymodelyearid": {
      "get": {
        "operationId": "getRecallsByModelYearId",
        "summary": "Get vehicle recalls by model year ID",
        "description": "Returns vehicle manufacturer recall data for a specific model year ID.",
        "tags": ["Service"],
        "parameters": [
          {
            "name": "modelyearid",
            "in": "query",
            "required": true,
            "description": "The model year ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with recall data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recallHolder": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Recall"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v2/{make}/{model}/{year}/safety": {
      "get": {
        "operationId": "getSafetyByMakeModelYear",
        "summary": "Get safety ratings by make/model/year",
        "description": "Returns safety ratings for a vehicle by make, model, and year.",
        "tags": ["Service"],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "description": "The vehicle make nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "The vehicle model nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "The model year",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with safety ratings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicle/v2/styles/{styleId}/safety": {
      "get": {
        "operationId": "getSafetyByStyleId",
        "summary": "Get safety ratings by style ID",
        "description": "Returns safety ratings for a vehicle by its style ID.",
        "tags": ["Service"],
        "parameters": [
          {
            "name": "styleId",
            "in": "path",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with safety ratings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehiclereviews/v2/{make}/{model}/{year}": {
      "get": {
        "operationId": "getReviewsByMakeModelYear",
        "summary": "Get consumer ratings and reviews by make/model/year",
        "description": "Returns user-generated vehicle ratings and reviews submitted on Edmunds.com.",
        "tags": ["Content"],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "description": "The vehicle make nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "The vehicle model nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "The model year",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ratings and reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehiclereviews/v2/styles/{styleId}": {
      "get": {
        "operationId": "getReviewsByStyleId",
        "summary": "Get consumer ratings and reviews by style ID",
        "description": "Returns user-generated vehicle ratings and reviews for a specific style ID.",
        "tags": ["Content"],
        "parameters": [
          {
            "name": "styleId",
            "in": "path",
            "required": true,
            "description": "The vehicle style ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ratings and reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/content": {
      "get": {
        "operationId": "getArticles",
        "summary": "Get editorial articles",
        "description": "Returns articles written by Edmunds staff, filterable by category, make, model, and year.",
        "tags": ["Editorial"],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Article category (e.g., car news)",
            "schema": { "type": "string" }
          },
          {
            "name": "make",
            "in": "query",
            "description": "Vehicle manufacturer name",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Vehicle model name",
            "schema": { "type": "string" }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Model year",
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination in format start,count",
            "schema": { "type": "string" }
          },
          {
            "name": "fmt",
            "in": "query",
            "description": "Response format (json)",
            "schema": { "type": "string", "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/content/editorreviews": {
      "get": {
        "operationId": "getEditorReviews",
        "summary": "Get editor reviews",
        "description": "Returns Edmunds editor reviews with pros, cons, and component reviews (Safety, Powertrain, What's New, Driving and Handling, etc.).",
        "tags": ["Editorial"],
        "parameters": [
          {
            "name": "make",
            "in": "query",
            "description": "Vehicle manufacturer name",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Vehicle model name",
            "schema": { "type": "string" }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Model year",
            "schema": { "type": "integer" }
          },
          {
            "name": "fmt",
            "in": "query",
            "description": "Response format (json)",
            "schema": { "type": "string", "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with editor reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/editorial/v3/makes/{make}/models/{model}/years/{year}/expertcontent": {
      "get": {
        "operationId": "getExpertContent",
        "summary": "Get expert content for a vehicle",
        "description": "Returns expert editorial content for a specific vehicle make, model, and year.",
        "tags": ["Editorial"],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "description": "The vehicle make nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "The vehicle model nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "The model year",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with expert content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/dealer/v5/dealership/{dealershipId}/franchises": {
      "get": {
        "operationId": "getDealerFranchises",
        "summary": "Get dealer franchises by dealership ID",
        "description": "Returns franchise information for a specific dealership.",
        "tags": ["Dealer"],
        "parameters": [
          {
            "name": "dealershipId",
            "in": "path",
            "required": true,
            "description": "The dealership ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with dealer franchise data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/drrrepository/getdrrbydealerid": {
      "get": {
        "operationId": "getDealerReviews",
        "summary": "Get dealer ratings and reviews by dealer ID",
        "description": "Returns ratings and reviews for a specific dealer.",
        "tags": ["Dealer"],
        "parameters": [
          {
            "name": "dealerid",
            "in": "query",
            "required": true,
            "description": "The dealer ID",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer" }
          },
          {
            "name": "fmt",
            "in": "query",
            "description": "Response format (json)",
            "schema": { "type": "string", "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with dealer reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/dealerreviews/v2": {
      "post": {
        "operationId": "submitDealerReview",
        "summary": "Submit a dealer review",
        "description": "Submits a new dealer review.",
        "tags": ["Dealer"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response confirming review submission",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/dealerreviews/v2/comments": {
      "post": {
        "operationId": "submitDealerReviewComment",
        "summary": "Submit a dealer review comment",
        "description": "Submits a comment on a dealer review.",
        "tags": ["Dealer"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response confirming comment submission",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/v2/{make}/{model}/{year}/photos": {
      "get": {
        "operationId": "getPhotosByMakeModelYear",
        "summary": "Get vehicle photos by make/model/year",
        "description": "Returns photo content for a vehicle by make, model, and year.",
        "tags": ["Media"],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "description": "The vehicle make nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "The vehicle model nice name",
            "schema": { "type": "string" }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "The model year",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with vehicle photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Edmunds API key. Must be appended to every request URL."
      }
    },
    "schemas": {
      "Make": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "The make ID" },
          "name": { "type": "string", "description": "The make name" },
          "niceName": { "type": "string", "description": "URL-friendly make name" },
          "models": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Model" }
          }
        }
      },
      "MakesResponse": {
        "type": "object",
        "properties": {
          "makes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Make" }
          },
          "makesCount": { "type": "integer" }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "The model ID" },
          "name": { "type": "string", "description": "The model name" },
          "niceName": { "type": "string", "description": "URL-friendly model name" },
          "years": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ModelYear" }
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Model" }
          },
          "totalNumber": { "type": "integer" }
        }
      },
      "ModelYear": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "The model year ID" },
          "year": { "type": "integer", "description": "The year" },
          "styles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Style" }
          }
        }
      },
      "ModelYearsResponse": {
        "type": "object",
        "properties": {
          "years": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ModelYear" }
          }
        }
      },
      "Style": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "The style ID" },
          "name": { "type": "string", "description": "The style name" },
          "submodel": {
            "type": "object",
            "properties": {
              "body": { "type": "string" },
              "modelName": { "type": "string" }
            }
          },
          "trim": { "type": "string", "description": "The trim level" }
        }
      },
      "StylesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Style" }
          },
          "totalNumber": { "type": "integer" }
        }
      },
      "Engine": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Engine ID" },
          "name": { "type": "string", "description": "Engine name" },
          "equipmentType": { "type": "string", "enum": ["ENGINE"] },
          "availability": { "type": "string", "description": "STANDARD, OPTIONAL, or UNKNOWN" },
          "compressionRatio": { "type": "number", "description": "Compression ratio" },
          "cylinder": { "type": "integer", "description": "Number of cylinders" },
          "size": { "type": "number", "description": "Engine size in liters" },
          "displacement": { "type": "integer", "description": "Engine displacement in cc" },
          "configuration": { "type": "string", "description": "Engine configuration (e.g., V, inline)" },
          "fuelType": { "type": "string", "description": "Fuel type" },
          "horsepower": { "type": "integer", "description": "Horsepower" },
          "torque": { "type": "integer", "description": "Torque in lb-ft" },
          "totalValves": { "type": "integer", "description": "Total number of valves" },
          "manufacturerEngineCode": { "type": "string", "description": "Manufacturer engine code" },
          "type": { "type": "string", "description": "Engine type" },
          "code": { "type": "string", "description": "Engine code" },
          "compressorType": { "type": "string", "description": "Compressor type (e.g., supercharger, turbocharger)" }
        }
      },
      "Transmission": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Transmission ID" },
          "name": { "type": "string", "description": "Transmission name" },
          "equipmentType": { "type": "string", "enum": ["TRANSMISSION"] },
          "availability": { "type": "string", "description": "STANDARD, OPTIONAL, or UNKNOWN" },
          "automaticType": { "type": "string", "description": "Automatic transmission type" },
          "transmissionType": { "type": "string", "description": "Transmission type (e.g., AUTOMATIC, MANUAL)" },
          "numberOfSpeeds": { "type": "integer", "description": "Number of speeds" }
        }
      },
      "Color": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Color ID" },
          "name": { "type": "string", "description": "Color name" },
          "equipmentType": { "type": "string", "enum": ["COLOR"] },
          "manufactureOptionName": { "type": "string", "description": "Manufacturer's color designation" },
          "manufactureOptionCode": { "type": "string", "description": "Manufacturer's color code" },
          "category": { "type": "string", "description": "Interior or Exterior" },
          "colorChips": {
            "type": "object",
            "properties": {
              "primary": {
                "type": "object",
                "properties": {
                  "r": { "type": "integer" },
                  "g": { "type": "integer" },
                  "b": { "type": "integer" },
                  "hex": { "type": "string" }
                }
              },
              "secondary": {
                "type": "object",
                "properties": {
                  "r": { "type": "integer" },
                  "g": { "type": "integer" },
                  "b": { "type": "integer" },
                  "hex": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "Equipment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Equipment ID" },
          "name": { "type": "string", "description": "Equipment name" },
          "equipmentType": {
            "type": "string",
            "enum": ["AUDIO_SYSTEM", "COLOR", "ENGINE", "FEE", "HOLDBACK", "OPTION", "TELEMATICS", "TIRES", "TRANSMISSION", "UNKNOWN", "WARRANTY", "WHEELS"]
          },
          "availability": {
            "type": "string",
            "enum": ["STANDARD", "OPTIONAL", "UNKNOWN"]
          }
        }
      },
      "VinDecodeResponse": {
        "type": "object",
        "properties": {
          "make": { "$ref": "#/components/schemas/Make" },
          "model": { "$ref": "#/components/schemas/Model" },
          "years": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ModelYear" }
          },
          "engine": { "$ref": "#/components/schemas/Engine" },
          "transmission": { "$ref": "#/components/schemas/Transmission" }
        }
      },
      "TmvResponse": {
        "type": "object",
        "properties": {
          "tmv": {
            "type": "object",
            "properties": {
              "nationalBasePrice": {
                "type": "object",
                "properties": {
                  "baseMSRP": { "type": "number" },
                  "baseInvoice": { "type": "number" },
                  "deliveryCharges": { "type": "number" },
                  "tmv": { "type": "number" }
                }
              },
              "regionAdjustment": {
                "type": "object",
                "properties": {
                  "regionalAdjustment": { "type": "number" }
                }
              },
              "destinationCharge": { "type": "number" },
              "estimatedTmv": { "type": "boolean" }
            }
          }
        }
      },
      "TcoResponse": {
        "type": "object",
        "properties": {
          "value": { "type": "number", "description": "Total five-year cost to own" }
        }
      },
      "MaintenanceResponse": {
        "type": "object",
        "properties": {
          "actionHolder": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "engineCode": { "type": "string" },
                "transmissionCode": { "type": "string" },
                "frequencyId": { "type": "integer", "description": "Frequency type: 1-2 A/B-service, 3 one-time, 4 recurring, 5 more frequent, 6 warning-light, 7-9 manufacturer inspections" },
                "intervalMileage": { "type": "integer", "description": "Maintenance interval in miles" },
                "intervalMonth": { "type": "integer", "description": "Maintenance interval in months" },
                "description": { "type": "string" }
              }
            }
          }
        }
      },
      "Recall": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Recall ID" },
          "componentDescription": { "type": "string" },
          "manufacturerRecallNumber": { "type": "string" },
          "nhtsaCampaignNumber": { "type": "string" },
          "defectConsequence": { "type": "string" },
          "defectCorrectiveAction": { "type": "string" },
          "defectDescription": { "type": "string" }
        }
      }
    }
  },
  "tags": [
    { "name": "Vehicle Specs", "description": "Vehicle specification data including makes, models, years, styles, engines, transmissions, colors, and equipment" },
    { "name": "VIN", "description": "VIN and Squish VIN decoding" },
    { "name": "Pricing", "description": "True Market Value (TMV) and True Cost to Own (TCO) pricing data" },
    { "name": "Service", "description": "Maintenance schedules, recalls, and safety ratings" },
    { "name": "Content", "description": "Consumer ratings and reviews" },
    { "name": "Editorial", "description": "Edmunds editorial articles, editor reviews, and expert content" },
    { "name": "Dealer", "description": "Dealer information, reviews, and franchises" },
    { "name": "Media", "description": "Vehicle photos and media content" }
  ]
}