{
  "openapi": "3.0.3",
  "info": {
    "title": "UKG HR Service Delivery API",
    "version": "2.0.0",
    "description": "\n\nDocumentation for client APIv2\n\n\n\n\n\n\n\n## Authorization Headers (People Fabric / Manager Persona)\n\n   Authorization for People Fabric (Pfab) APIs is based on the following headers:\n\n* `X-User-Integration-Key`: Represents the user identity in the system.\n* `X-Global-Tenant-Id`: Identifies the tenant (organization) in a multi-tenant environment.\n* `X-User-Type`: Specifies the type of user making the request, such as \"EMPLOYEE\" or \"SITEADMIN\".\n* `X-Employee-External-Id` (optional): Represents the tech id which is seen on employee profile in document manager\n\n\nThese headers are **required**, as they are tied to complex business logic embedded in the called application and help establish context for both the API request and its response.\n\n### Header Details:\n\n   - **X-User-Integration-Key**:\n       Also known as **UIK** (User Integration Key), this value is:\n         - Passed in the request header.\n         - Validated against the `saml_token#` persisted in the `NovaAuth` database.\n         - Synchronized during user account sync in Classic HRSD.\n         - Equivalent to: subject / user UUID / user integration key.\n\n   - **X-Global-Tenant-Id**:\n       A **Global Tenant ID** is a UUID uniquely identifying a tenant in a multi-tenant setup. It determines the organizational scope of the API request.\n\n  - **X-User-Type** :\n      This header indicates the type of user making the request. Possible values include:\n        - `EMPLOYEE`: Indicates a standard employee user.\n        - `SITEADMIN`: Indicates an administrative user with elevated privileges.\n\n\n    Only requests that include **above headers** will be authorized to access People Fabric APIs.\n\n### Example:\nGET /api/v2/client/pfab/employee_documents\n   Accept: application/json\n   Content-Type: application/json\n   Authorization: Bearer OAUTH_CLIENT_ACCESS_TOKEN\n   X-User-Integration-Key: USER_INTEGRATION_KEY\n   X-Global-Tenant-Id: GLOBAL_TENANT_ID\n   X-User-Type: USER_TYPE\n",
    "x-jentic-source-url": "https://doc.people-doc.com/client/api/index-v2.html"
  },
  "servers": [
    {
      "url": "https://apis.eu.people-doc.com/api/v2",
      "description": "EU Production"
    },
    {
      "url": "https://apis.us.people-doc.com/api/v2",
      "description": "US Production"
    },
    {
      "url": "https://apis.hrsd.ultipro.com/api/v2",
      "description": "UKG US"
    }
  ],
  "paths": {
    "/custom_fields": {
      "get": {
        "operationId": "",
        "summary": "Custom Fields listing",
        "description": "List Custom Fields used to store custom employee attributes\n",
        "tags": [
          "Platform: Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "List of Custom Fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ArrayOfCustomFields",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldFull"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom_fields/{id}": {
      "get": {
        "operationId": "",
        "summary": "Custom Field details",
        "description": "Returns the information for a specific Custom Field",
        "tags": [
          "Platform: Custom Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Custom Field `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldFull"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "",
        "summary": "Create or update a Custom Field",
        "description": "Create or Update a Custom Field.\n\nOnce set `type` could not be changed. Update of `authorized_values` list is limited: only `label` could be changed for existing items.\n\n**Warning**:\nUpdating an existing Custom Field may break employee profiles as well as perimeter filter rules.\nThis could happen especially when updating the `hierarchical` attribute (for custom fields of type `int`).\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Custom Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Custom Field `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Custom Field`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldFull"
                }
              }
            }
          },
          "201": {
            "description": "The created `Custom Field`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldFull"
                }
              }
            }
          },
          "202": {
            "description": "The `Custom Field` update is pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldFull"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldCreatePayload"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "",
        "summary": "Partial update of a Custom Field",
        "description": "Update some of the information of a custom field\n\nOnce set `type` could not be changed. Update of `authorized_values` list is limited: only `label` could be changed for existing items.\n\n**Warning**:\nUpdating an existing Custom Field may break employee profiles as well as perimeter filter rules.\nThis could happen especially when updating the `hierarchical` attribute (for custom fields of type `int`).\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Custom Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Custom Field `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Custom Field`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldFull"
                }
              }
            }
          },
          "202": {
            "description": "The `Custom Field` update is pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldFull"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldCreatePayload"
              }
            }
          }
        }
      }
    },
    "/employees/{id}": {
      "put": {
        "operationId": "",
        "summary": "Update an employee",
        "description": "Update an `Employee`\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Employee `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeFull"
                }
              }
            }
          },
          "201": {
            "description": "Employee created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeUpdatePayload"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "",
        "summary": "Partial update of an employee",
        "description": "Update some of the information of an existing `Employee`.\nAll fields are optional.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Employee `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeePartialUpdatePayload"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "",
        "summary": "Get details of an employee",
        "description": "Returns the details of an `Employee`",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "X-Synchronization-Event-Id",
            "in": "header",
            "required": false,
            "description": "Event UUID associated to an employee synchronization between applications",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Synchronization-Application",
            "in": "header",
            "required": false,
            "description": "Name of the application responsible for receiving an employee synchronization event (the one that is sending the request)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Employee `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeFull"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/employees": {
      "get": {
        "operationId": "",
        "summary": "List & search employees",
        "description": "Search `Employees` on UKG HR Service Delivery\n\n**This endpoint is deprecated. Please use `POST /employees/search` instead.**\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Full text query string, search in firstname, lastname, external_id,\nemail, employee number (query minimum length: 2)\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstname",
            "in": "query",
            "required": false,
            "description": "Search by firstname (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastname",
            "in": "query",
            "required": false,
            "description": "Search by lastname (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Search by email (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "description": "Search by external_id (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_numbers",
            "in": "query",
            "required": false,
            "description": "Search based on a list of employee numbers, separated by `,` (commas) (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terminated",
            "in": "query",
            "required": false,
            "description": "Search in terminated employees (`true`) or in current employees (`false`). By default both current and terminated employees are returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created_at_since",
            "in": "query",
            "required": false,
            "description": "Limit the search to the employees created after this date (>=). Datetime only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_until",
            "in": "query",
            "required": false,
            "description": "Limit the search to the employees created before this date (<=). Datetime only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "synchronization_date",
            "in": "query",
            "required": false,
            "description": "Limit the search to the employees that haven't been synchronized since a given date (>=). Datetime only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "synchronization_application_name",
            "in": "query",
            "required": false,
            "description": "Limit the search to the employees that haven't been synchronized with provided application.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_ids",
            "in": "query",
            "required": false,
            "description": "Search based on a list of organization IDs, separated by `,` (commas) (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id_below",
            "in": "query",
            "required": false,
            "description": "Search employees who belong to organizations attached to an organization hierarchically above theirs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_group_id",
            "in": "query",
            "required": false,
            "description": "Search employees who belong to organizations attached to the Organization Group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom_field_ids",
            "in": "query",
            "required": false,
            "description": "List of custom fields IDs separated by a comma (`,`) to search employees based on their custom fields\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom_field_operators",
            "in": "query",
            "required": false,
            "description": "Required if `custom_field_ids` is not null. List of operators separated by a comma (`,`).\nCan be one of: `=`, `!=`; for every types of custom fields. `<=`, `>=`\nare allowed for `integer` custom fields if the custom field `hierarchical`\nattribute is set to `true`\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom_field_values",
            "in": "query",
            "required": false,
            "description": "Required if `custom_field_ids` is not null. List of values separated by a comma (`,`)\nfor each custom field the search is based on\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_email",
            "in": "query",
            "required": false,
            "description": "Search only among employees who have an email (`true`) or not (`false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "profile_ids",
            "in": "query",
            "required": false,
            "description": "List of `User` profile IDs separated by a comma (`,`). Only the employees corresponding to those profiles will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Order the list of employee returned by the API. <br><br> Available fields : email, created_at, lastname, firstname, external_id (tech_id), birth_date, firstname_lastname, lastname_firstname <br><br> Only one value can be used for sorting <br><br> The values firstname_lastname will perform a double sort by first name, then last name <br> The values lastname_firstname will perform a double sort by last name, then first name <br><br> This sorting can be done in a ascending or descending order:\n * `+` for ascending order\n * `-` for descending order\n\nAlways indicate if it should be done in ascending or descending manner when calling a value for sorting the list of employee. <br><br><br> Example : <br><br> List by email in ascending manner : +email <br><br> List by last_name in ascending manner : +lastname <br><br><br> Important : This parameter is optional. Without using it, the employee will be listed by \"created_at\" value in ascending order\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Employees\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ArrayOfEmployees",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeFull"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "",
        "summary": "Create an employee",
        "description": "Create an `Employee`.\n\nOnly use this method if you do not have a unique identifier per employee in your system.\nOtherwise use the `PUT /employees/by_external_id/{external_id}` method and pass your unique ID as the `external_id` parameter.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Employees"
        ],
        "responses": {
          "200": {
            "description": "List of Employees\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ArrayOfEmployees",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeFull"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCreatePayload"
              }
            }
          }
        }
      }
    },
    "/employees/search": {
      "post": {
        "operationId": "",
        "summary": "Search employees",
        "description": "Search `Employees` on UKG HR Service Delivery using POST method with request body parameters.\nThis endpoint provides the same functionality as `GET /employees` but accepts all query parameters in the request body instead.\n",
        "tags": [
          "Platform: Employees"
        ],
        "responses": {
          "200": {
            "description": "List of Employees\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ArrayOfEmployees",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeFull"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string",
                    "description": "Full text query string, search in firstname, lastname, external_id,\nemail, employee number (query minimum length: 2)\n"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Search by firstname (exact match)"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Search by lastname (exact match)"
                  },
                  "email": {
                    "type": "string",
                    "description": "Search by email (exact match)"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Search by external_id (exact match)"
                  },
                  "employee_numbers": {
                    "type": "string",
                    "description": "Search based on a list of employee numbers, separated by `,` (commas) (exact match)"
                  },
                  "terminated": {
                    "type": "boolean",
                    "description": "Search in terminated employees (`true`) or in current employees (`false`). By default both current and terminated employees are returned"
                  },
                  "created_at_since": {
                    "type": "string",
                    "format": "date",
                    "description": "Limit the search to the employees created after this date (>=). Datetime only"
                  },
                  "created_at_until": {
                    "type": "string",
                    "format": "date",
                    "description": "Limit the search to the employees created before this date (<=). Datetime only"
                  },
                  "synchronization_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Limit the search to the employees that haven't been synchronized since a given date (>=). Datetime only"
                  },
                  "synchronization_application_name": {
                    "type": "string",
                    "enum": [
                      "case"
                    ],
                    "description": "Limit the search to the employees that haven't been synchronized with provided application."
                  },
                  "organization_ids": {
                    "type": "string",
                    "description": "Search based on a list of organization IDs, separated by `,` (commas) (exact match)"
                  },
                  "organization_id_below": {
                    "type": "string",
                    "description": "Search employees who belong to organizations attached to an organization hierarchically above theirs"
                  },
                  "organization_group_id": {
                    "type": "string",
                    "description": "Search employees who belong to organizations attached to the Organization Group"
                  },
                  "custom_field_ids": {
                    "type": "string",
                    "description": "List of custom fields IDs separated by a comma (`,`) to search employees based on their custom fields\n"
                  },
                  "custom_field_operators": {
                    "type": "string",
                    "description": "Required if `custom_field_ids` is not null. List of operators separated by a comma (`,`).\nCan be one of: `=`, `!=`; for every types of custom fields. `<=`, `>=`\nare allowed for `integer` custom fields if the custom field `hierarchical`\nattribute is set to `true`\n"
                  },
                  "custom_field_values": {
                    "type": "string",
                    "description": "Required if `custom_field_ids` is not null. List of values separated by a comma (`,`)\nfor each custom field the search is based on\n"
                  },
                  "has_email": {
                    "type": "boolean",
                    "description": "Search only among employees who have an email (`true`) or not (`false`)"
                  },
                  "profile_ids": {
                    "type": "string",
                    "description": "List of `User` profile IDs separated by a comma (`,`). Only the employees corresponding to those profiles will be returned."
                  },
                  "sort": {
                    "type": "string",
                    "description": "Order the list of employee returned by the API. <br><br> Available fields : email, created_at, lastname, firstname, external_id (tech_id), birth_date, firstname_lastname, lastname_firstname <br><br> Only one value can be used for sorting <br><br> The values firstname_lastname will perform a double sort by first name, then last name <br> The values lastname_firstname will perform a double sort by last name, then first name <br><br> This sorting can be done in a ascending or descending order:\n * `+` for ascending order\n * `-` for descending order\n\nAlways indicate if it should be done in ascending or descending manner when calling a value for sorting the list of employee. <br><br><br> Example : <br><br> List by email in ascending manner : +email <br><br> List by last_name in ascending manner : +lastname <br><br><br> Important : This parameter is optional. Without using it, the employee will be listed by \"created_at\" value in ascending order\n",
                    "enum": [
                      "+birth_date",
                      "-birth_date",
                      "+created_at",
                      "-created_at",
                      "+email",
                      "-email",
                      "+external_id",
                      "-external_id",
                      "+firstname",
                      "-firstname",
                      "+lastname",
                      "-lastname",
                      "+firstname_lastname",
                      "-firstname_lastname",
                      "+lastname_firstname",
                      "-lastname_firstname"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employees/bulk": {
      "patch": {
        "operationId": "",
        "summary": "Partially update multiple employees in bulk",
        "description": "Partially update multiple `Employee` records.\n\nThis method will process a list of employees provided in the payload, applying only the fields present in each `data` object.\n\nThe response will provide a request_id that can be used to track the status of the bulk operation.\nThis operation is asynchronous, and the actual processing of the employees will occur in the background.\nYou can check the status of the operation using the `GET /employees/bulk/{request_id}` endpoint.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Employees"
        ],
        "responses": {
          "200": {
            "description": "Request ID of the bulk operation\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeBulkOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBulkPatchPayload"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "",
        "summary": "Update multiple employees in bulk",
        "description": "Update multiple `Employee` records based on their `external_id`.\n\nThis method will process a list of employees provided in the payload.\n\nThe response will provide a request_id that can be used to track the status of the bulk operation.\nThis operation is asynchronous, and the actual processing of the employees will occur in the background.\nYou can check the status of the operation using the `GET /employees/bulk/{request_id}` endpoint.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Employees"
        ],
        "responses": {
          "200": {
            "description": "Request ID of the bulk operation\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeBulkOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBulkUpdatePayload"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "",
        "summary": "Create multiple employees in bulk",
        "description": "Create multiple `Employee` records.\n\nThis method will process a list of employees provided in the payload.\n\nThe response will provide a request_id that can be used to track the status of the bulk operation.\nThis operation is asynchronous, and the actual processing of the employees will occur in the background.\nYou can check the status of the operation using the `GET /employees/bulk/{request_id}` endpoint.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Employees"
        ],
        "responses": {
          "200": {
            "description": "Request ID of the bulk operation\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeBulkOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBulkCreatePayload"
              }
            }
          }
        }
      }
    },
    "/employees/bulk/{request_id}": {
      "get": {
        "operationId": "",
        "summary": "Get bulk operation status",
        "description": "Retrieve the status and result of a bulk employee operation using the request_id.\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "description": "ID of the bulk operation request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk operation status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeBulkOperationStatus"
                }
              }
            }
          },
          "404": {
            "description": "Bulk operation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/employees/{id}/electronic_vault_invite": {
      "post": {
        "operationId": "",
        "summary": "Invite an employee to evault.",
        "description": "Send an invitation email to an `Employee` to open his or her Electronic Vault.\nAfter the first invitation, a follow up email is sent\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `Employee`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/employees/{id}/portal_invite": {
      "post": {
        "operationId": "",
        "summary": "Invite an employee to their portal account",
        "description": "Send an invitation email to an `Employee` to open their Portal account.\nAfter the first invitation, a follow up email is sent\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `Employee` in uuid format (e.g.:`45d26421-5359-4d28-a59e-beb2a12c1adf`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/employees/{id}/electronic_vault_link": {
      "delete": {
        "operationId": "",
        "summary": "Delete link between an employee an their evault",
        "description": "Delete the link between an employee and their electronic vault\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `Employee`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/employees/by_external_id/{external_id}": {
      "put": {
        "operationId": "",
        "summary": "Create or update an employee using `external_id`",
        "description": "Create or update an `Employee` based on their `external_id`.\n\nThis method will first try to find an existing employee using the `external_id` provided in the payload.\nIf an employee already exists with this `external_id`, it will be updated.\nOtherwise, the employee will be created.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "description": "The Employee external `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Employee`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeFull"
                }
              }
            }
          },
          "201": {
            "description": "The created `Employee`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeCreateOrUpdatePayload"
              }
            }
          }
        }
      }
    },
    "/employees/{id}/electronic_vault_documents": {
      "post": {
        "operationId": "",
        "summary": "Drop a document in the electronic vault of an employee.\nIf you intend to drop paystub documents using this endpoint,\nmake sure that you respect the employee distribution choice\n(opt-in or opt-out) that is available using /electronic_vault_options/{employee_id}\"\n",
        "description": "Drop a document in the electronic vault of an employee.\n",
        "tags": [
          "Platform: Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `Employee`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeElectronicVaultDocuments"
              }
            }
          }
        }
      }
    },
    "/employee_subscriptions": {
      "get": {
        "operationId": "",
        "summary": "List and search employees and their subscriptions",
        "description": "Search `Subscriptions` on UKG HR Service Delivery. Documents can be sent from UKG HR Service Delivery to Employees. In their electronic vault, digitally. Or delivered to a postal address by mail, in a paper format. A subscription describes the choice of the Employee regarding the format in which he or she wants to receive a copy of a document type. Please note that the final format in which the document will be sent will depend not only on the employee choice but also on the configuration of the distribution as parametrized in UKG HR Service Delivery by the HR user and the UKG team",
        "tags": [
          "Platform: Employee Subscriptions"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page <br> (default: 20; maximum: 250).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "description": "Return the subscriptions for a specific employee based on the employee `external_id` (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "electronic_vault_activated",
            "in": "query",
            "required": false,
            "description": "Return the subscriptions for the employees who open their electronic vault (`true`) or for the employees who did not open it yet (`false`). By default the subscriptions of all employees are returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "electronic_payslips_opted_out",
            "in": "query",
            "required": false,
            "description": "Return the subscriptions for the employees who ask to opt out from receiving their payslips digitally (`true`) or for the employees who agree to receive them digitally or did not communicate any choice (`false`). By default the subscriptions of all employees are returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "employee_document_type_id",
            "in": "query",
            "required": false,
            "description": "Only return the subscriptions related to this document type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Subscriptions\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ArrayOfEmployeesSubscriptions",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeSubscriptionFull"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employee_subscriptions/{id}": {
      "get": {
        "operationId": "",
        "summary": "Get subscriptions of an employee",
        "description": "Return the subscriptions of an Employee",
        "tags": [
          "Platform: Employee Subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Employee `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_document_type_id",
            "in": "query",
            "required": false,
            "description": "Only return the subscriptions related to this document type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Employee Subscriptions\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSubscriptionFull"
                }
              }
            }
          }
        }
      }
    },
    "/electronic_vault_options": {
      "get": {
        "operationId": "",
        "summary": "List e-vaults available\"",
        "description": "For European based clients only, search `Electronic Vaults` on Document Manager\n",
        "tags": [
          "Document Manager: Electronic Vaults"
        ],
        "parameters": [
          {
            "name": "employees_ids",
            "in": "query",
            "required": false,
            "description": "Search based on a list of employee `IDs`, separated by `,` (commas) (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "electronic_vault_state",
            "in": "query",
            "required": false,
            "description": "Search according to the state of the Electronic Vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Electronic Vaults",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ArrayOfElectronicVaults",
                  "items": {
                    "$ref": "#/components/schemas/ElectronicVaultFull"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/electronic_vault_options/{id}": {
      "patch": {
        "operationId": "",
        "summary": "Update e-vault of employee",
        "description": "For European based clients only, update the information related to the Electronic Vault of an employee.",
        "tags": [
          "Document Manager: Electronic Vaults"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the Employee to whom the options refer to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectronicVaultFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ElectronicVaultOptionsUpdatePayload"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "",
        "summary": "Get e-vault details of employee",
        "description": "For European based clients only, returns the details of an `Electronic Vault`",
        "tags": [
          "Document Manager: Electronic Vaults"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the Employee to whom the options refer to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectronicVaultFull"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/roles": {
      "get": {
        "operationId": "",
        "summary": "List roles",
        "description": "Search `Roles` on UKG HR Service Delivery",
        "tags": [
          "Platform: Roles"
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ArrayOfRoles",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleFull"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/roles/{id}": {
      "put": {
        "operationId": "",
        "summary": "Create or update a role",
        "description": "Update or create a `Role` identified by its `ID`.\n\nIf a `Role` already exists for the `ID` in the URL parameter, the role will be updated. Please ensure that the `ID` provided by your system is unique.\nIf not, a new `Role` will be created with this `ID`.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The role `id`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Role`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleFull"
                }
              }
            }
          },
          "201": {
            "description": "The created `Role`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCreatePayload"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "",
        "summary": "Get details of a role",
        "description": "Get the details of a `Role`",
        "tags": [
          "Platform: Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the Role",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleFull"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/roles/{role_id}/permissions/core": {
      "get": {
        "operationId": "",
        "summary": "Get core HR permissions for a role",
        "description": "List core HR data management permissions for the Role",
        "tags": [
          "Platform: Roles"
        ],
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "description": "`ID` of the Role",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions for the Role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePermissionsGet"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "",
        "summary": "Update core HR permissions for a role",
        "description": "Update core HR data management permissions for the Role\n",
        "tags": [
          "Platform: Roles"
        ],
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "description": "`ID` of the Role",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated permissions for the Role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePermissionsFull"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CorePermissionsPut"
              }
            }
          }
        }
      }
    },
    "/roles/{role_id}/permissions/efm": {
      "get": {
        "operationId": "",
        "summary": "Get Document Manager permissions for a role",
        "description": "List Document Manager permissions for the Role",
        "tags": [
          "Platform: Roles"
        ],
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "description": "`ID` of the Role ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions for the Role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EFMPermissionsFull"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "",
        "summary": "List & search `users`",
        "description": "Search `Users` on UKG HR Service Delivery. Understand users as HR users or managers,\nthat is to say users whose actions will impact employees or\nresources associated to employees\n",
        "tags": [
          "Platform: Users"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Full text query string, search in firstname, lastname, email (query mininum length: 2)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstname",
            "in": "query",
            "required": false,
            "description": "Search by firstname (exact)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastname",
            "in": "query",
            "required": false,
            "description": "Search by lastname (exact)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Search by email (exact)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "description": "Search by external_id (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "query",
            "required": false,
            "description": "Returns all the users who have this role",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "description": "Returns the users who have a profile linked to this organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "If `true`, returns only the users who have logged in on the plateform at least once",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of `Users`\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "title": "ArrayOfUsers",
                  "items": {
                    "$ref": "#/components/schemas/UserFull"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "",
        "summary": "Create a `user`",
        "description": "Create a `User`.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Users"
        ],
        "responses": {
          "201": {
            "description": "`User` created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFull"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreatePayload"
              }
            }
          }
        }
      },
      "head": {
        "operationId": "",
        "summary": "Get additional information for `users`",
        "description": "Get the total number of users\n",
        "tags": [
          "Platform: Users"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Full text query string, search in firstname, lastname, email (query mininum length: 2)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstname",
            "in": "query",
            "required": false,
            "description": "Search by firstname (exact)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastname",
            "in": "query",
            "required": false,
            "description": "Search by lastname (exact)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Search by email (exact)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "description": "Search by external_id (exact match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "query",
            "required": false,
            "description": "Returns all the users who have this role",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "description": "Returns the users who have a profile linked to this organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "If `true`, returns only the users who have logged in on the plateform at least once",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "put": {
        "operationId": "",
        "summary": "Update a `user`",
        "description": "Update an existing `User`.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `User`. Format: UUID conforms with RFC 4122 version 4 random bytes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`User` updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPutPayload"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "",
        "summary": "Partial update of a `user`",
        "description": "Update some of the information of an existing `User`.\nAll fields are optional.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `User`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPatchPayload"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "",
        "summary": "Get details of a `user`",
        "description": "Returns the details of a `User`",
        "tags": [
          "Platform: Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `User`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFull"
                }
              }
            }
          }
        }
      }
    },
    "/users/bulk": {
      "post": {
        "operationId": "",
        "summary": "Create multiple users in bulk",
        "description": "Create multiple `User` records.\n\nThis method will process a list of users provided in the payload.\n\nThe response will provide a request_id that can be used to track the status of the bulk operation.\nThis operation is asynchronous, and the actual processing of the users will occur in the background.\nYou can check the status of the operation using the `GET /users/bulk/{request_id}` endpoint.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Users"
        ],
        "responses": {
          "200": {
            "description": "Request ID of the bulk operation\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBulkOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBulkCreatePayload"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "",
        "summary": "Update multiple users in bulk",
        "description": "Update multiple `User` records.\n\nThis method will process a list of users provided in the payload.\n\nThe response will provide a request_id that can be used to track the status of the bulk operation.\nThis operation is asynchronous, and the actual processing of the users will occur in the background.\nYou can check the status of the operation using the `GET /users/bulk/{request_id}` endpoint.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Users"
        ],
        "responses": {
          "200": {
            "description": "Request ID of the bulk operation\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBulkOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBulkUpdatePayload"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "",
        "summary": "Partially update multiple users in bulk",
        "description": "Partially update multiple `User` records.\n\nThis method will process a list of users provided in the payload, applying only the fields present in each `data` object.\n\nThe response will provide a request_id that can be used to track the status of the bulk operation.\nThis operation is asynchronous, and the actual processing of the users will occur in the background.\nYou can check the status of the operation using the `GET /users/bulk/{request_id}` endpoint.\n\nFor every field with a text content, if a break line is in the content sent, add a `\\` to the `\\n` character like this:  `\\\\n`.\n",
        "tags": [
          "Platform: Users"
        ],
        "responses": {
          "200": {
            "description": "Request ID of the bulk operation\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBulkOperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (invalid JSON...)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBulkPatchPayload"
              }
            }
          }
        }
      }
    },
    "/users/bulk/{request_id}": {
      "get": {
        "operationId": "",
        "summary": "Get bulk operation status",
        "description": "Retrieve the status and result of a bulk user operation using the request_id.\n",
        "tags": [
          "Platform: Users"
        ],
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "description": "ID of the bulk operation request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk operation status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBulkOperationStatus"
                }
              }
            }
          },
          "404": {
            "description": "Bulk operation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/invite": {
      "post": {
        "operationId": "",
        "summary": "Send activation email to a `user`",
        "description": "Send an activation email to a `User`\n",
        "tags": [
          "Platform: Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`ID` of the `User`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/employee_document_types": {
      "get": {
        "operationId": "",
        "summary": "List of employee document types",
        "description": "Returns the Employee Document Types defined on UKG HR Service Delivery\n",
        "tags": [
          "Document Manager: Employee Document Types"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "description": "By Folder ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_access_permissions",
            "in": "query",
            "required": false,
            "description": "Filter by Employee permissions <br>\nExample: `preview`, `dl_original`\n",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "with_document_templates",
            "in": "query",
            "required": false,
            "description": "Limit the search to the employee document types that have one or more document templates attached to them",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "with_mandatory_metadata",
            "in": "query",
            "required": false,
            "description": "If `true`, limit the search to the employee document types that have one or more mandatory metadata attached to them. If `false`, limit the search to the employee document types that have no mandatory metadata attached to them",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "document_template_id",
            "in": "query",
            "required": false,
            "description": "Returns the employee document types attached to the document template ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Full text query string, search in the document type names. By default the search is performed in the client platform default language. If a specific language is given during the call, the search will be performed in this language.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Employee Document Types\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeDocumentTypeFull"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employee_document_types/{id}": {
      "put": {
        "operationId": "",
        "summary": "Create or update employee document type",
        "description": "Update or create an Employee `Document Type` identified by its `ID`.\n\nIf a `Document Type` already exists in UKG HR Service Delivery for the `ID` in the URL parameter,\nthe Document Type will be updated with all the attributes in the payload request except `label` field.\nPlease ensure that the ID provided by your system is unique.\n\nIf not, a new `DocumentType` will be created with this `ID`\n",
        "tags": [
          "Document Manager: Employee Document Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Document Type `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Document Type`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDocumentTypeFull"
                }
              }
            }
          },
          "201": {
            "description": "The created `Document Type`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDocumentTypeFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDocumentTypeCreatePayload"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "",
        "summary": "Partial update of an employee document type",
        "description": "Partially updates an existing Employee `Document Type`. All fields are optional. \nField `label` can't be changed by PATCH request.'\n",
        "tags": [
          "Document Manager: Employee Document Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Document type `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDocumentTypeFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDocumentTypePatchPayload"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "",
        "summary": "Get details of an employee document type",
        "description": "Returns the details of an `Employee Document Type`",
        "tags": [
          "Document Manager: Employee Document Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Document Type `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDocumentTypeFull"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/company_document_types": {
      "get": {
        "operationId": "",
        "summary": "List company document types",
        "description": "Returns the Company Document Types defined on UKG HR Service Delivery\n",
        "tags": [
          "Document Manager: Company Document Types"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "query",
            "required": false,
            "description": "By Folder ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_mandatory_metadata",
            "in": "query",
            "required": false,
            "description": "If `true`, limit the search to the company document types that have one or more mandatory metadata attached to them. If `false`, limit the search to the company document types that have no mandatory metadata attached to them",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Full text query string, search in the document type names. By default the search is performed in the client platform default language. If a specific language is given during the call, the search will be performed in this language.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of company Document Types\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyDocumentTypeFull"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company_document_types/{id}": {
      "put": {
        "operationId": "",
        "summary": "Create or update a `Document Type`",
        "description": "Update or create a company `Document Type` identified by his `ID`.\n\nIf a `Document Type` already exists for the `ID` in the URL parameter,\nthe Document Type will be updated with all the attributes in the payload request except `label` field.\nPlease ensure that the ID provided by your system is unique.\n\nIf not, a new `Document Type` will be created with this `ID`\n",
        "tags": [
          "Document Manager: Company Document Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Document Type `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Document Type`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDocumentTypeFull"
                }
              }
            }
          },
          "201": {
            "description": "The created `Document Type`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDocumentTypeFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDocumentTypeCreatePayload"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "",
        "summary": "Partial update of a `Document Type`",
        "description": "Partially updates an existing Company `Document Type`. All fields are optional.\nField `label` can't be changed by PATCH request.\n",
        "tags": [
          "Document Manager: Company Document Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Document Type `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDocumentTypeFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDocumentTypeCreatePayload"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "",
        "summary": "Get details of a `Document Type`",
        "description": "Returns the details of a `Company Document Type`",
        "tags": [
          "Document Manager: Company Document Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Document Type `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDocumentTypeFull"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/employee_folders": {
      "get": {
        "operationId": "",
        "summary": "List & search employee folders",
        "description": "Search Employee Folders on UKG HR Service Delivery",
        "tags": [
          "Document Manager: Employee Folders"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Full text query string, search in the name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_folder_id",
            "in": "query",
            "required": false,
            "description": "Return child folder(s) under this parent folder",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "child_folder_id",
            "in": "query",
            "required": false,
            "description": "Return parent folder(s) of this child folder",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "description": "If `parent_folder_id` or `child_folder_id` is specified, return respectively all descendants or ascendants of a folder. Default to false if a `parent_folder_id` or `child_folder_id` is specified, `true` otherwise.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Employee Folders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolderBase"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employee_folders/{id}": {
      "get": {
        "operationId": "",
        "summary": "Get details of an employee folder",
        "description": "Returns the details of an employee folder",
        "tags": [
          "Document Manager: Employee Folders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Employee Folder `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
[...]
