{
  "openapi": "3.0.3",
  "info": {
    "title": "Upper Route Planner API",
    "version": "1.0.0",
    "description": "Upper Route Planner provides route optimization for delivery operations. The API allows creating route stops, retrieving stop details, listing routes, and getting route information.",
    "x-jentic-source-url": "https://www.upperinc.com/platform-api/"
  },
  "servers": [
    {
      "url": "https://api.upperinc.com"
    }
  ],
  "paths": {
    "/addDeliveryTask": {
      "post": {
        "operationId": "createRouteStop",
        "summary": "Create a route stop",
        "tags": [
          "Stops"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryTaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stop created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getStopDetail": {
      "get": {
        "operationId": "getStopDetail",
        "summary": "Get stop details",
        "tags": [
          "Stops"
        ],
        "parameters": [
          {
            "name": "stop_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stop details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getRoutes": {
      "get": {
        "operationId": "getRoutes",
        "summary": "Get routes",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "route_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigned_drivers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Draft",
                "Active",
                "Dispatch",
                "Complete"
              ]
            }
          },
          {
            "name": "min_stops",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_stops",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Routes list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/getRouteStop": {
      "get": {
        "operationId": "getRouteStop",
        "summary": "Get route details with stops",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "route_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DeliveryTaskCreate": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "customer_system_id": {
            "type": "string"
          },
          "contact_name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "stop_type": {
            "type": "string"
          },
          "stop_priority": {
            "type": "string"
          },
          "parcel_count": {
            "type": "integer"
          },
          "stop_duration": {
            "type": "integer"
          }
        },
        "required": [
          "address"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-token"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ]
}