{
  "openapi": "3.0.3",
  "info": {
    "title": "Flowroute Telephony API",
    "description": "The Flowroute API provides programmatic access to Flowroute's telephony services including phone number management, SMS/MMS messaging, and number porting. The API uses JSON:API format for request and response bodies and HTTP Basic authentication.",
    "version": "2.0.0",
    "contact": {
      "name": "Flowroute Developer",
      "url": "https://developer.flowroute.com"
    },
    "x-jentic-source-url": "https://developer.flowroute.com/"
  },
  "servers": [
    {
      "url": "https://api.flowroute.com",
      "description": "Flowroute API"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Numbers",
      "description": "Manage phone numbers"
    },
    {
      "name": "Messages",
      "description": "Send and manage SMS/MMS messages"
    },
    {
      "name": "Routes",
      "description": "Manage call routes"
    }
  ],
  "paths": {
    "/v2/numbers/available": {
      "get": {
        "operationId": "searchAvailableNumbers",
        "summary": "Search for purchasable phone numbers",
        "description": "Search for available phone numbers to purchase. Filter by area code, starts_with, contains, ends_with, rate center, state, and number type.",
        "tags": ["Numbers"],
        "parameters": [
          {
            "name": "starts_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter numbers that start with this value."
          },
          {
            "name": "contains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter numbers containing this value."
          },
          {
            "name": "ends_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter numbers ending with this value."
          },
          {
            "name": "rate_center",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available numbers",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableNumbersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/numbers/{number_id}": {
      "post": {
        "operationId": "purchaseNumber",
        "summary": "Purchase a phone number",
        "description": "Purchase a phone number from the available inventory.",
        "tags": ["Numbers"],
        "parameters": [
          {
            "name": "number_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The phone number to purchase (E.164 without the +)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseNumberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Number purchased",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Number not purchasable"
          }
        }
      },
      "get": {
        "operationId": "getNumberDetails",
        "summary": "Get phone number details",
        "description": "Retrieve details of a specific phone number on your account.",
        "tags": ["Numbers"],
        "parameters": [
          {
            "name": "number_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Number details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/numbers": {
      "get": {
        "operationId": "listAccountNumbers",
        "summary": "List account phone numbers",
        "description": "List all phone numbers on your account.",
        "tags": ["Numbers"],
        "parameters": [
          {
            "name": "starts_with",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ends_with",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contains",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of account numbers",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumbersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2.2/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send an SMS or MMS message",
        "description": "Send an SMS or MMS message from a Flowroute number.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message accepted",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden - action not authorized"
          }
        }
      }
    },
    "/v2.2/messages/{message_id}": {
      "get": {
        "operationId": "getMessageDetailRecord",
        "summary": "Look up a message detail record",
        "description": "Retrieve the details of a specific message by its MDR ID.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The message detail record ID (e.g. mdr2-abc123)."
          }
        ],
        "responses": {
          "200": {
            "description": "Message detail record",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v2/routes": {
      "get": {
        "operationId": "listRoutes",
        "summary": "List inbound routes",
        "description": "List all inbound routes on your account.",
        "tags": ["Routes"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of routes",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createRoute",
        "summary": "Create an inbound route",
        "description": "Create a new inbound route.",
        "tags": ["Routes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRouteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Route created",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your Flowroute Access Key as the username and Secret Key as the password."
      }
    },
    "schemas": {
      "AvailableNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "number"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "monthly_cost": {
                "type": "number"
              },
              "number_type": {
                "type": "string"
              },
              "rate_center": {
                "type": "string"
              },
              "rate_type": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "iso_country": {
                "type": "string"
              },
              "setup_cost": {
                "type": "number"
              },
              "inbound_rate": {
                "type": "number"
              },
              "tier": {
                "type": "string"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "related": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "AvailableNumbersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailableNumber"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "AccountNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "alias": {
                "type": "string",
                "nullable": true
              },
              "number_type": {
                "type": "string"
              },
              "rate_center": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "cnam_lookups_enabled": {
                "type": "boolean"
              },
              "messaging_enabled": {
                "type": "boolean"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": true
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "AccountNumbersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountNumber"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "NumberDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AccountNumber"
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "PurchaseNumberRequest": {
        "type": "object",
        "properties": {
          "messaging_enabled": {
            "type": "boolean"
          },
          "messaging_callback_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SendMessageRequest": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["type", "attributes"],
            "properties": {
              "type": {
                "type": "string",
                "example": "message"
              },
              "attributes": {
                "type": "object",
                "required": ["to", "from", "body"],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Destination phone number in E.164 format."
                  },
                  "from": {
                    "type": "string",
                    "description": "Flowroute phone number in E.164 format."
                  },
                  "body": {
                    "type": "string",
                    "description": "Message body text."
                  },
                  "dlr_callback": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL for delivery receipt callbacks."
                  }
                }
              }
            }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "links": {
                "type": "object",
                "properties": {
                  "self": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "price_details": {
                "type": "object",
                "properties": {
                  "base_rate": {
                    "type": "number"
                  },
                  "charged_cost": {
                    "type": "number"
                  },
                  "segment_count": {
                    "type": "integer"
                  },
                  "surcharge": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "MessageDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string"
                  },
                  "direction": {
                    "type": "string",
                    "enum": ["inbound", "outbound"]
                  },
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "is_mms": {
                    "type": "boolean"
                  },
                  "amount_display": {
                    "type": "string"
                  },
                  "delivery_receipts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "level": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "status_code": {
                          "type": "integer",
                          "nullable": true
                        },
                        "status_code_description": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreateRouteRequest": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["type", "attributes"],
            "properties": {
              "type": {
                "type": "string",
                "example": "route"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "alias": {
                    "type": "string"
                  },
                  "route_type": {
                    "type": "string",
                    "enum": ["host", "uri", "sip-reg"]
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "alias": {
                    "type": "string"
                  },
                  "route_type": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "RoutesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer"
                },
                "detail": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - authentication failed",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
