{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@files.com",
      "name": "Files.com Customer Success Team"
    },
    "title": "Files.com API",
    "version": "0.0.1",
    "x-jentic-source-url": "https://app.files.com/api/rest/v1/swagger_doc.json"
  },
  "servers": [
    {
      "url": "https://app.files.com/api/rest/v1"
    }
  ],
  "paths": {
    "/action_notification_export_results": {
      "get": {
        "parameters": [
          {
            "description": "User ID.  Provide a value of `0` to operate the current session's user.",
            "in": "query",
            "name": "user_id",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
          },
          {
            "description": "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          },
          {
            "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          },
          {
            "description": "ID of the associated action notification export.",
            "in": "query",
            "name": "action_notification_export_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "ID of the associated action notification export."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ActionNotificationExportResultEntity"
                  },
                  "type": "array"
                }
              },
              "application/msgpack": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ActionNotificationExportResultEntity"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ActionNotificationExportResultEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of ActionNotificationExportResults objects.",
            "x-ms-summary": "A list of ActionNotificationExportResults objects."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "action_notification_export_results",
          "Action Notification Export Results"
        ],
        "description": "List Action Notification Export Results",
        "operationId": "GetActionNotificationExportResults",
        "summary": "List Action Notification Export Results",
        "x-authentication": [
          "folder_admin"
        ],
        "x-category": [
          "logging"
        ]
      }
    },
    "/action_notification_exports": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNotificationExportEntity"
                }
              },
              "application/msgpack": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNotificationExportEntity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNotificationExportEntity"
                }
              }
            },
            "description": "The ActionNotificationExports object.",
            "x-ms-summary": "The ActionNotificationExports object."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "action_notification_exports",
          "Action Notification Exports"
        ],
        "description": "Create Action Notification Export",
        "operationId": "PostActionNotificationExports",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "end_at": {
                    "description": "End date/time of export range.",
                    "format": "date-time",
                    "type": "string"
                  },
                  "query_folder": {
                    "description": "Return notifications that were triggered by actions in this folder.",
                    "type": "string"
                  },
                  "query_message": {
                    "description": "Error message associated with the request, if any.",
                    "type": "string"
                  },
                  "query_path": {
                    "description": "Return notifications that were triggered by actions on this specific path.",
                    "type": "string"
                  },
                  "query_request_method": {
                    "description": "The HTTP request method used by the webhook.",
                    "type": "string"
                  },
                  "query_request_url": {
                    "description": "The target webhook URL.",
                    "type": "string"
                  },
                  "query_status": {
                    "description": "The HTTP status returned from the server in response to the webhook request.",
                    "type": "string"
                  },
                  "query_success": {
                    "description": "true if the webhook request succeeded (i.e. returned a 200 or 204 response status). false otherwise.",
                    "type": "boolean"
                  },
                  "start_at": {
                    "description": "Start date/time of export range.",
                    "format": "date-time",
                    "type": "string"
                  },
                  "user_id": {
                    "description": "User ID.  Provide a value of `0` to operate the current session's user.",
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Create Action Notification Export",
        "x-authentication": [
          "folder_admin",
          "readonly_ok",
          {
            "path_params": [
              "query_path",
              "query_folder"
            ]
          }
        ],
        "x-category": [
          "logging"
        ]
      }
    },
    "/action_notification_exports/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Action Notification Export ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "Action Notification Export ID."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNotificationExportEntity"
                }
              },
              "application/msgpack": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNotificationExportEntity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ActionNotificationExportEntity"
                }
              }
            },
            "description": "The ActionNotificationExports object.",
            "x-ms-summary": "The ActionNotificationExports object."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "action_notification_exports",
          "Action Notification Exports"
        ],
        "description": "Show Action Notification Export",
        "operationId": "GetActionNotificationExportsId",
        "summary": "Show Action Notification Export",
        "x-authentication": [
          "folder_admin",
          "readonly_ok"
        ],
        "x-category": [
          "logging"
        ]
      }
    },
    "/api_key": {
      "delete": {
        "responses": {
          "204": {
            "description": "No body.",
            "x-ms-summary": "No body."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_key",
          "API Keys"
        ],
        "description": "Delete current API key.  (Requires current API connection to be using an API key.)",
        "operationId": "ApiKeyDeleteCurrent",
        "summary": "Delete current API key.  (Requires current API connection to be using an API key.)",
        "x-authentication": [
          "native_app",
          "office_integration"
        ],
        "x-category": [
          "developers"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/msgpack": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              }
            },
            "description": "The ApiKey object.",
            "x-ms-summary": "The ApiKey object."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_key",
          "API Keys"
        ],
        "description": "Show information about current API key.  (Requires current API connection to be using an API key.)",
        "operationId": "ApiKeyFindCurrent",
        "summary": "Show information about current API key.  (Requires current API connection to be using an API key.)",
        "x-authentication": [
          "native_app",
          "office_integration"
        ],
        "x-category": [
          "developers"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/msgpack": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              }
            },
            "description": "The ApiKey object.",
            "x-ms-summary": "The ApiKey object."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_key",
          "API Keys"
        ],
        "description": "Update current API key.  (Requires current API connection to be using an API key.)",
        "operationId": "ApiKeyUpdateCurrent",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "expires_at": {
                    "description": "API Key expiration date",
                    "format": "date-time",
                    "type": "string"
                  },
                  "name": {
                    "description": "Internal name for the API Key.  For your use.",
                    "type": "string"
                  },
                  "permission_set": {
                    "description": "Permissions for this API Key. It must be full for site-wide API Keys.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations). Keys with the `office_integration` permission set are auto generated, and automatically expire, to allow users to interact with office integration platforms. Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.",
                    "enum": [
                      "none",
                      "full",
                      "desktop_app",
                      "sync_app",
                      "office_integration",
                      "mobile_app"
                    ],
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update current API key.  (Requires current API connection to be using an API key.)",
        "x-authentication": [
          "native_app",
          "office_integration"
        ],
        "x-category": [
          "developers"
        ]
      }
    },
    "/api_keys": {
      "get": {
        "parameters": [
          {
            "description": "User ID.  Provide a value of `0` to operate the current session's user.",
            "in": "query",
            "name": "user_id",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "User ID.  Provide a value of `0` to operate the current session's user."
          },
          {
            "description": "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          },
          {
            "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          },
          {
            "description": "If set, sort records by the specified field in either `asc` or `desc` direction. Valid fields are `expires_at`.",
            "example": {
              "expires_at": "desc"
            },
            "in": "query",
            "name": "sort_by",
            "required": false,
            "x-ms-summary": "If set, sort records by the specified field in either `asc` or `desc` direction. Valid fields are `expires_at`."
          },
          {
            "description": "If set, return records where the specified field is equal to the supplied value. Valid fields are `expires_at`.",
            "example": {
              "expires_at": "2024-01-01T00:00:00"
            },
            "in": "query",
            "name": "filter",
            "required": false,
            "x-ms-summary": "If set, return records where the specified field is equal to the supplied value. Valid fields are `expires_at`."
          },
          {
            "description": "If set, return records where the specified field is greater than the supplied value. Valid fields are `expires_at`.",
            "example": {
              "expires_at": "2024-01-01T00:00:00"
            },
            "in": "query",
            "name": "filter_gt",
            "required": false,
            "x-ms-summary": "If set, return records where the specified field is greater than the supplied value. Valid fields are `expires_at`."
          },
          {
            "description": "If set, return records where the specified field is greater than or equal the supplied value. Valid fields are `expires_at`.",
            "example": {
              "expires_at": "2024-01-01T00:00:00"
            },
            "in": "query",
            "name": "filter_gteq",
            "required": false,
            "x-ms-summary": "If set, return records where the specified field is greater than or equal the supplied value. Valid fields are `expires_at`."
          },
          {
            "description": "If set, return records where the specified field is less than the supplied value. Valid fields are `expires_at`.",
            "example": {
              "expires_at": "2024-01-01T00:00:00"
            },
            "in": "query",
            "name": "filter_lt",
            "required": false,
            "x-ms-summary": "If set, return records where the specified field is less than the supplied value. Valid fields are `expires_at`."
          },
          {
            "description": "If set, return records where the specified field is less than or equal the supplied value. Valid fields are `expires_at`.",
            "example": {
              "expires_at": "2024-01-01T00:00:00"
            },
            "in": "query",
            "name": "filter_lteq",
            "required": false,
            "x-ms-summary": "If set, return records where the specified field is less than or equal the supplied value. Valid fields are `expires_at`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyEntity"
                  },
                  "type": "array"
                }
              },
              "application/msgpack": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyEntity"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of ApiKeys objects.",
            "x-ms-summary": "A list of ApiKeys objects."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_keys",
          "API Keys"
        ],
        "description": "List API Keys",
        "operationId": "GetApiKeys",
        "summary": "List API Keys",
        "x-authentication": [
          "self_managed"
        ],
        "x-category": [
          "developers"
        ],
        "x-filter_sort_combinations_with_types": {
          "filter_columns": {
            "expires_at": {
              "sort": [
                "expires_at"
              ],
              "type": "range"
            }
          },
          "filter_combinations": []
        },
        "x-path_aliases": [
          "site/api_keys",
          "user/api_keys",
          "users/:user_id/api_keys"
        ],
        "x-sortable_columns": [
          "expires_at"
        ]
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/msgpack": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              }
            },
            "description": "The ApiKeys object.",
            "x-ms-summary": "The ApiKeys object."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_keys",
          "API Keys"
        ],
        "description": "Create API Key",
        "operationId": "PostApiKeys",
        "requestBody": {
          "$ref": "#/components/requestBodies/PostApiKeys"
        },
        "summary": "Create API Key",
        "x-authentication": [],
        "x-category": [
          "developers"
        ],
        "x-path_aliases": [
          "site/api_keys",
          "user/api_keys",
          "users/:user_id/api_keys"
        ]
      }
    },
    "/api_keys/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Api Key ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "Api Key ID."
          }
        ],
        "responses": {
          "204": {
            "description": "No body.",
            "x-ms-summary": "No body."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_keys",
          "API Keys"
        ],
        "description": "Delete API Key",
        "operationId": "DeleteApiKeysId",
        "summary": "Delete API Key",
        "x-authentication": [
          "self_managed"
        ],
        "x-category": [
          "developers"
        ]
      },
      "get": {
        "parameters": [
          {
            "description": "Api Key ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "Api Key ID."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/msgpack": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              }
            },
            "description": "The ApiKeys object.",
            "x-ms-summary": "The ApiKeys object."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_keys",
          "API Keys"
        ],
        "description": "Show API Key",
        "operationId": "GetApiKeysId",
        "summary": "Show API Key",
        "x-authentication": [
          "self_managed"
        ],
        "x-category": [
          "developers"
        ]
      },
      "patch": {
        "parameters": [
          {
            "description": "Api Key ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "Api Key ID."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/msgpack": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyEntity"
                }
              }
            },
            "description": "The ApiKeys object.",
            "x-ms-summary": "The ApiKeys object."
          },
          "400": {
            "description": "Bad Request",
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "x-ms-summary": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed",
            "x-ms-summary": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "x-ms-summary": "Conflict"
          },
          "412": {
            "description": "Precondition Failed",
            "x-ms-summary": "Precondition Failed"
          },
          "422": {
            "description": "Unprocessable Entity",
            "x-ms-summary": "Unprocessable Entity"
          },
          "423": {
            "description": "Locked",
            "x-ms-summary": "Locked"
          },
          "429": {
            "description": "Too Many Requests",
            "x-ms-summary": "Too Many Requests"
          }
        },
        "tags": [
          "api_keys",
          "API Keys"
        ],
        "description": "Update API Key",
        "operationId": "PatchApiKeysId",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "User-supplied description of API key.",
                    "type": "string"
                  },
                  "expires_at": {
                    "description": "API Key expiration date",
                    "format": "date-time",
                    "type": "string"
                  },
                  "name": {
                    "description": "Internal name for the API Key.  For your use.",
                    "type": "string"
                  },
                  "permission_set": {
                    "description": "Permissions for this API Key. It must be full for site-wide API Keys.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations). Keys with the `office_integration` permission set are auto generated, and automatically expire, to allow users to interact with office integration platforms. Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.",
                    "enum": [
                      "none",
                      "full",
                      "desktop_app",
                      "sync_app",
                      "office_integration",
                      "mobile_app"
                    ],
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update API Key",
        "x-authentication": [
          "self_managed"
        ],
        "x-category": [
          "developers"
        ]
      }
    },
    "/api_request_logs": {
      "get": {
        "parameters": [
          {
            "description": "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          },
          {
            "description": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended).",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          },
          {
            "description": "If set, return records where the specified field is equal to the supplied value. Valid fields are `start_date`, `end_date`, `api_key_id`, `interface`, `request_id`, `request_ip`, `request_method`, `success` or `user_id`. Valid field combinations are `[ start_date ]`, `[ end_date ]`, `[ api_key_id ]`, `[ interface ]`, `[ request_id ]`, `[ request_ip ]`, `[ request_method ]`, `[ success ]`, `[ user_id ]`, `[ start_date, end_date ]`, `[ start_date, api_key_id ]`, `[ start_date, interface ]`, `[ start_date, request_id ]`, `[ start_date, request_ip ]`, `[ start_date, request_method ]`, `[ start_date, success ]`, `[ start_date, user_id ]`, `[ end_date, api_key_id ]`, `[ end_date, interface ]`, `[ end_date, request_id ]`, `[ end_date, request_ip ]`, `[ end_date, request_method ]`, `[ end_date, success ]`, `[ end_date, user_id ]`, `[ api_key_id, interface ]`, `[ api_key_id, request_id ]`, `[ api_key_id, request_ip ]`, `[ api_key_id, request_method ]`, `[ api_key_id, success ]`, `[ api_key_id, user_id ]`, `[ interface, request_id ]`, `[ interface, request_ip ]`, `[ interface, request_method ]`, `[ interface, success ]`, `[ interface, user_id ]`, `[ request_id, request_ip ]`, `[ request_id, request_method ]`, `[ request_id, success ]`, `[ request_id, user_id ]`, `[ request_ip, request_method ]`, `[ request_ip, success ]`, `[ request_ip, user_id ]`, `[ request_method, success ]`, `[ request_method, user_id ]`, `[ success, user_id ]`, `[ start_date, end_date, api_key_id ]`, `[ start_date, end_date, interface ]`, `[ start_date, end_date, request_id ]`, `[ start_date, end_date, request_ip ]`, `[ start_date, end_date, request_method ]`, `[ start_date, end_date, success ]`, `[ start_date, end_date, user_id ]`, `[ start_date, api_key_id, interface ]`, `[ start_date, api_key_id, request_id ]`, `[ start_date, api_key_id, request_ip ]`, `[ start_date, api_key_id, request_method ]`, `[ start_date, api_key_id, success ]`, `[ start_date, api_key_id, user_id ]`, `[ start_date, interface, request_id ]`, `[ start_date, interface, request_ip ]`, `[ start_date, interface, request_method ]`, `[ start_date, interface, success ]`, `[ start_date, interface, user_id ]`, `[ start_date, request_id, request_ip ]`, `[ start_date, request_id, request_method ]`, `[ start_date, request_id, success ]`, `[ start_date, request_id, user_id ]`, `[ start_date, request_ip, request_method ]`, `[ start_date, request_ip, success ]`, `[ start_date, request_ip, user_id ]`, `[ start_date, request_method, success ]`, `[ start_date, request_method, user_id ]`, `[ start_date, success, user_id ]`, `[ end_date, api_key_id, interface ]`, `[ end_date, api_key_id, request_id ]`, `[ end_date, api_key_id, request_ip ]`, `[ end_date, api_key_id, request_method ]`, `[ end_date, api_key_id, success ]`, `[ end_date, api_key_id, user_id ]`, `[ end_date, interface, request_id ]`, `[ end_date, interface, request_ip ]`, `[ end_date, interface, request_method ]`, `[ end_date, interface, success ]`, `[ end_date, interface, user_id ]`, `[ end_date, request_id, request_ip ]`, `[ end_date, request_id, request_method ]`, `[ end_date, request_id, success ]`, `[ end_date, request_id, user_id ]`, `[ end_date, request_ip, request_method ]`, `[ end_date, request_ip, success ]`, `[ end_date, request_ip, user_id ]`, `[ end_date, request_method, success ]`, `[ end_date, request_method, user_id ]`, `[ end_date, success, user_id ]`, `[ api_key_id, interface, request_id ]`, `[ api_key_id, interface, request_ip ]`, `[ api_key_id, interface, request_method ]`, `[ api_key_id, interface, success ]`, `[ api_key_id, interface, user_id ]`, `[ api_key_id, request_id, request_ip ]`, `[ api_key_id, request_id, request_method ]`, `[ api_key_id, request_id, success ]`, `[ api_key_id, request_id, user_id ]`, `[ api_key_id, request_ip, request_method ]`, `[ api_key_id, request_ip, success ]`, `[ api_key_id, request_ip, user_id ]`, `[ api_key_id, request_method, success ]`, `[ api_key_id, request_method, user_id ]`, `[ api_key_id, success, user_id ]`, `[ interface, request_id, request_ip ]`, `[ interface, request_id, request_method ]`, `[ interface, request_id, success ]`, `[ interface, request_id, user_id ]`, `[ interface, request_ip, request_method ]`, `[ interface, request_ip, success ]`, `[ interface, request_ip, user_id ]`, `[ interface, request_method, success ]`, `[ interface, request_method, user_id ]`, `[ interface, success, user_id ]`, `[ request_id, request_ip, request_method ]`, `[ request_id, request_ip, success ]`, `[ request_id, request_ip, user_id ]`, `[ request_id, request_method, success ]`, `[ request_id, request_method, user_id ]`, `[ request_id, success, user_id ]`, `[ request_ip, request_method, success ]`, `[ request_ip, request_method, user_id ]`, `[ request_ip, success, user_id ]`, `[ request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface ]`, `[ start_date, end_date, api_key_id, request_id ]`, `[ start_date, end_date, api_key_id, request_ip ]`, `[ start_date, end_date, api_key_id, request_method ]`, `[ start_date, end_date, api_key_id, success ]`, `[ start_date, end_date, api_key_id, user_id ]`, `[ start_date, end_date, interface, request_id ]`, `[ start_date, end_date, interface, request_ip ]`, `[ start_date, end_date, interface, request_method ]`, `[ start_date, end_date, interface, success ]`, `[ start_date, end_date, interface, user_id ]`, `[ start_date, end_date, request_id, request_ip ]`, `[ start_date, end_date, request_id, request_method ]`, `[ start_date, end_date, request_id, success ]`, `[ start_date, end_date, request_id, user_id ]`, `[ start_date, end_date, request_ip, request_method ]`, `[ start_date, end_date, request_ip, success ]`, `[ start_date, end_date, request_ip, user_id ]`, `[ start_date, end_date, request_method, success ]`, `[ start_date, end_date, request_method, user_id ]`, `[ start_date, end_date, success, user_id ]`, `[ start_date, api_key_id, interface, request_id ]`, `[ start_date, api_key_id, interface, request_ip ]`, `[ start_date, api_key_id, interface, request_method ]`, `[ start_date, api_key_id, interface, success ]`, `[ start_date, api_key_id, interface, user_id ]`, `[ start_date, api_key_id, request_id, request_ip ]`, `[ start_date, api_key_id, request_id, request_method ]`, `[ start_date, api_key_id, request_id, success ]`, `[ start_date, api_key_id, request_id, user_id ]`, `[ start_date, api_key_id, request_ip, request_method ]`, `[ start_date, api_key_id, request_ip, success ]`, `[ start_date, api_key_id, request_ip, user_id ]`, `[ start_date, api_key_id, request_method, success ]`, `[ start_date, api_key_id, request_method, user_id ]`, `[ start_date, api_key_id, success, user_id ]`, `[ start_date, interface, request_id, request_ip ]`, `[ start_date, interface, request_id, request_method ]`, `[ start_date, interface, request_id, success ]`, `[ start_date, interface, request_id, user_id ]`, `[ start_date, interface, request_ip, request_method ]`, `[ start_date, interface, request_ip, success ]`, `[ start_date, interface, request_ip, user_id ]`, `[ start_date, interface, request_method, success ]`, `[ start_date, interface, request_method, user_id ]`, `[ start_date, interface, success, user_id ]`, `[ start_date, request_id, request_ip, request_method ]`, `[ start_date, request_id, request_ip, success ]`, `[ start_date, request_id, request_ip, user_id ]`, `[ start_date, request_id, request_method, success ]`, `[ start_date, request_id, request_method, user_id ]`, `[ start_date, request_id, success, user_id ]`, `[ start_date, request_ip, request_method, success ]`, `[ start_date, request_ip, request_method, user_id ]`, `[ start_date, request_ip, success, user_id ]`, `[ start_date, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id ]`, `[ end_date, api_key_id, interface, request_ip ]`, `[ end_date, api_key_id, interface, request_method ]`, `[ end_date, api_key_id, interface, success ]`, `[ end_date, api_key_id, interface, user_id ]`, `[ end_date, api_key_id, request_id, request_ip ]`, `[ end_date, api_key_id, request_id, request_method ]`, `[ end_date, api_key_id, request_id, success ]`, `[ end_date, api_key_id, request_id, user_id ]`, `[ end_date, api_key_id, request_ip, request_method ]`, `[ end_date, api_key_id, request_ip, success ]`, `[ end_date, api_key_id, request_ip, user_id ]`, `[ end_date, api_key_id, request_method, success ]`, `[ end_date, api_key_id, request_method, user_id ]`, `[ end_date, api_key_id, success, user_id ]`, `[ end_date, interface, request_id, request_ip ]`, `[ end_date, interface, request_id, request_method ]`, `[ end_date, interface, request_id, success ]`, `[ end_date, interface, request_id, user_id ]`, `[ end_date, interface, request_ip, request_method ]`, `[ end_date, interface, request_ip, success ]`, `[ end_date, interface, request_ip, user_id ]`, `[ end_date, interface, request_method, success ]`, `[ end_date, interface, request_method, user_id ]`, `[ end_date, interface, success, user_id ]`, `[ end_date, request_id, request_ip, request_method ]`, `[ end_date, request_id, request_ip, success ]`, `[ end_date, request_id, request_ip, user_id ]`, `[ end_date, request_id, request_method, success ]`, `[ end_date, request_id, request_method, user_id ]`, `[ end_date, request_id, success, user_id ]`, `[ end_date, request_ip, request_method, success ]`, `[ end_date, request_ip, request_method, user_id ]`, `[ end_date, request_ip, success, user_id ]`, `[ end_date, request_method, success, user_id ]`, `[ api_key_id, interface, request_id, request_ip ]`, `[ api_key_id, interface, request_id, request_method ]`, `[ api_key_id, interface, request_id, success ]`, `[ api_key_id, interface, request_id, user_id ]`, `[ api_key_id, interface, request_ip, request_method ]`, `[ api_key_id, interface, request_ip, success ]`, `[ api_key_id, interface, request_ip, user_id ]`, `[ api_key_id, interface, request_method, success ]`, `[ api_key_id, interface, request_method, user_id ]`, `[ api_key_id, interface, success, user_id ]`, `[ api_key_id, request_id, request_ip, request_method ]`, `[ api_key_id, request_id, request_ip, success ]`, `[ api_key_id, request_id, request_ip, user_id ]`, `[ api_key_id, request_id, request_method, success ]`, `[ api_key_id, request_id, request_method, user_id ]`, `[ api_key_id, request_id, success, user_id ]`, `[ api_key_id, request_ip, request_method, success ]`, `[ api_key_id, request_ip, request_method, user_id ]`, `[ api_key_id, request_ip, success, user_id ]`, `[ api_key_id, request_method, success, user_id ]`, `[ interface, request_id, request_ip, request_method ]`, `[ interface, request_id, request_ip, success ]`, `[ interface, request_id, request_ip, user_id ]`, `[ interface, request_id, request_method, success ]`, `[ interface, request_id, request_method, user_id ]`, `[ interface, request_id, success, user_id ]`, `[ interface, request_ip, request_method, success ]`, `[ interface, request_ip, request_method, user_id ]`, `[ interface, request_ip, success, user_id ]`, `[ interface, request_method, success, user_id ]`, `[ request_id, request_ip, request_method, success ]`, `[ request_id, request_ip, request_method, user_id ]`, `[ request_id, request_ip, success, user_id ]`, `[ request_id, request_method, success, user_id ]`, `[ request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip ]`, `[ start_date, end_date, api_key_id, interface, request_method ]`, `[ start_date, end_date, api_key_id, interface, success ]`, `[ start_date, end_date, api_key_id, interface, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip ]`, `[ start_date, end_date, api_key_id, request_id, request_method ]`, `[ start_date, end_date, api_key_id, request_id, success ]`, `[ start_date, end_date, api_key_id, request_id, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, request_ip, success ]`, `[ start_date, end_date, api_key_id, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, request_method, success ]`, `[ start_date, end_date, api_key_id, request_method, user_id ]`, `[ start_date, end_date, api_key_id, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip ]`, `[ start_date, end_date, interface, request_id, request_method ]`, `[ start_date, end_date, interface, request_id, success ]`, `[ start_date, end_date, interface, request_id, user_id ]`, `[ start_date, end_date, interface, request_ip, request_method ]`, `[ start_date, end_date, interface, request_ip, success ]`, `[ start_date, end_date, interface, request_ip, user_id ]`, `[ start_date, end_date, interface, request_method, success ]`, `[ start_date, end_date, interface, request_method, user_id ]`, `[ start_date, end_date, interface, success, user_id ]`, `[ start_date, end_date, request_id, request_ip, request_method ]`, `[ start_date, end_date, request_id, request_ip, success ]`, `[ start_date, end_date, request_id, request_ip, user_id ]`, `[ start_date, end_date, request_id, request_method, success ]`, `[ start_date, end_date, request_id, request_method, user_id ]`, `[ start_date, end_date, request_id, success, user_id ]`, `[ start_date, end_date, request_ip, request_method, success ]`, `[ start_date, end_date, request_ip, request_method, user_id ]`, `[ start_date, end_date, request_ip, success, user_id ]`, `[ start_date, end_date, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip ]`, `[ start_date, api_key_id, interface, request_id, request_method ]`, `[ start_date, api_key_id, interface, request_id, success ]`, `[ start_date, api_key_id, interface, request_id, user_id ]`, `[ start_date, api_key_id, interface, request_ip, request_method ]`, `[ start_date, api_key_id, interface, request_ip, success ]`, `[ start_date, api_key_id, interface, request_ip, user_id ]`, `[ start_date, api_key_id, interface, request_method, success ]`, `[ start_date, api_key_id, interface, request_method, user_id ]`, `[ start_date, api_key_id, interface, success, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, request_method ]`, `[ start_date, api_key_id, request_id, request_ip, success ]`, `[ start_date, api_key_id, request_id, request_ip, user_id ]`, `[ start_date, api_key_id, request_id, request_method, success ]`, `[ start_date, api_key_id, request_id, request_method, user_id ]`, `[ start_date, api_key_id, request_id, success, user_id ]`, `[ start_date, api_key_id, request_ip, request_method, success ]`, `[ start_date, api_key_id, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, request_ip, success, user_id ]`, `[ start_date, api_key_id, request_method, success, user_id ]`, `[ start_date, interface, request_id, request_ip, request_method ]`, `[ start_date, interface, request_id, request_ip, success ]`, `[ start_date, interface, request_id, request_ip, user_id ]`, `[ start_date, interface, request_id, request_method, success ]`, `[ start_date, interface, request_id, request_method, user_id ]`, `[ start_date, interface, request_id, success, user_id ]`, `[ start_date, interface, request_ip, request_method, success ]`, `[ start_date, interface, request_ip, request_method, user_id ]`, `[ start_date, interface, request_ip, success, user_id ]`, `[ start_date, interface, request_method, success, user_id ]`, `[ start_date, request_id, request_ip, request_method, success ]`, `[ start_date, request_id, request_ip, request_method, user_id ]`, `[ start_date, request_id, request_ip, success, user_id ]`, `[ start_date, request_id, request_method, success, user_id ]`, `[ start_date, request_ip, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_ip ]`, `[ end_date, api_key_id, interface, request_id, request_method ]`, `[ end_date, api_key_id, interface, request_id, success ]`, `[ end_date, api_key_id, interface, request_id, user_id ]`, `[ end_date, api_key_id, interface, request_ip, request_method ]`, `[ end_date, api_key_id, interface, request_ip, success ]`, `[ end_date, api_key_id, interface, request_ip, user_id ]`, `[ end_date, api_key_id, interface, request_method, success ]`, `[ end_date, api_key_id, interface, request_method, user_id ]`, `[ end_date, api_key_id, interface, success, user_id ]`, `[ end_date, api_key_id, request_id, request_ip, request_method ]`, `[ end_date, api_key_id, request_id, request_ip, success ]`, `[ end_date, api_key_id, request_id, request_ip, user_id ]`, `[ end_date, api_key_id, request_id, request_method, success ]`, `[ end_date, api_key_id, request_id, request_method, user_id ]`, `[ end_date, api_key_id, request_id, success, user_id ]`, `[ end_date, api_key_id, request_ip, request_method, success ]`, `[ end_date, api_key_id, request_ip, request_method, user_id ]`, `[ end_date, api_key_id, request_ip, success, user_id ]`, `[ end_date, api_key_id, request_method, success, user_id ]`, `[ end_date, interface, request_id, request_ip, request_method ]`, `[ end_date, interface, request_id, request_ip, success ]`, `[ end_date, interface, request_id, request_ip, user_id ]`, `[ end_date, interface, request_id, request_method, success ]`, `[ end_date, interface, request_id, request_method, user_id ]`, `[ end_date, interface, request_id, success, user_id ]`, `[ end_date, interface, request_ip, request_method, success ]`, `[ end_date, interface, request_ip, request_method, user_id ]`, `[ end_date, interface, request_ip, success, user_id ]`, `[ end_date, interface, request_method, success, user_id ]`, `[ end_date, request_id, request_ip, request_method, success ]`, `[ end_date, request_id, request_ip, request_method, user_id ]`, `[ end_date, request_id, request_ip, success, user_id ]`, `[ end_date, request_id, request_method, success, user_id ]`, `[ end_date, request_ip, request_method, success, user_id ]`, `[ api_key_id, interface, request_id, request_ip, request_method ]`, `[ api_key_id, interface, request_id, request_ip, success ]`, `[ api_key_id, interface, request_id, request_ip, user_id ]`, `[ api_key_id, interface, request_id, request_method, success ]`, `[ api_key_id, interface, request_id, request_method, user_id ]`, `[ api_key_id, interface, request_id, success, user_id ]`, `[ api_key_id, interface, request_ip, request_method, success ]`, `[ api_key_id, interface, request_ip, request_method, user_id ]`, `[ api_key_id, interface, request_ip, success, user_id ]`, `[ api_key_id, interface, request_method, success, user_id ]`, `[ api_key_id, request_id, request_ip, request_method, success ]`, `[ api_key_id, request_id, request_ip, request_method, user_id ]`, `[ api_key_id, request_id, request_ip, success, user_id ]`, `[ api_key_id, request_id, request_method, success, user_id ]`, `[ api_key_id, request_ip, request_method, success, user_id ]`, `[ interface, request_id, request_ip, request_method, success ]`, `[ interface, request_id, request_ip, request_method, user_id ]`, `[ interface, request_id, request_ip, success, user_id ]`, `[ interface, request_id, request_method, success, user_id ]`, `[ interface, request_ip, request_method, success, user_id ]`, `[ request_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_method ]`, `[ start_date, end_date, api_key_id, interface, request_id, success ]`, `[ start_date, end_date, api_key_id, interface, request_id, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, interface, request_ip, success ]`, `[ start_date, end_date, api_key_id, interface, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_method, success ]`, `[ start_date, end_date, api_key_id, interface, request_method, user_id ]`, `[ start_date, end_date, api_key_id, interface, success, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, success ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_method, success ]`, `[ start_date, end_date, api_key_id, request_id, request_method, user_id ]`, `[ start_date, end_date, api_key_id, request_id, success, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, request_method, success ]`, `[ start_date, end_date, api_key_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, success, user_id ]`, `[ start_date, end_date, api_key_id, request_method, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip, request_method ]`, `[ start_date, end_date, interface, request_id, request_ip, success ]`, `[ start_date, end_date, interface, request_id, request_ip, user_id ]`, `[ start_date, end_date, interface, request_id, request_method, success ]`, `[ start_date, end_date, interface, request_id, request_method, user_id ]`, `[ start_date, end_date, interface, request_id, success, user_id ]`, `[ start_date, end_date, interface, request_ip, request_method, success ]`, `[ start_date, end_date, interface, request_ip, request_method, user_id ]`, `[ start_date, end_date, interface, request_ip, success, user_id ]`, `[ start_date, end_date, interface, request_method, success, user_id ]`, `[ start_date, end_date, request_id, request_ip, request_method, success ]`, `[ start_date, end_date, request_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, request_id, request_ip, success, user_id ]`, `[ start_date, end_date, request_id, request_method, success, user_id ]`, `[ start_date, end_date, request_ip, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip, request_method ]`, `[ start_date, api_key_id, interface, request_id, request_ip, success ]`, `[ start_date, api_key_id, interface, request_id, request_ip, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_method, success ]`, `[ start_date, api_key_id, interface, request_id, request_method, user_id ]`, `[ start_date, api_key_id, interface, request_id, success, user_id ]`, `[ start_date, api_key_id, interface, request_ip, request_method, success ]`, `[ start_date, api_key_id, interface, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, interface, request_ip, success, user_id ]`, `[ start_date, api_key_id, interface, request_method, success, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, request_method, success ]`, `[ start_date, api_key_id, request_id, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, success, user_id ]`, `[ start_date, api_key_id, request_id, request_method, success, user_id ]`, `[ start_date, api_key_id, request_ip, request_method, success, user_id ]`, `[ start_date, interface, request_id, request_ip, request_method, success ]`, `[ start_date, interface, request_id, request_ip, request_method, user_id ]`, `[ start_date, interface, request_id, request_ip, success, user_id ]`, `[ start_date, interface, request_id, request_method, success, user_id ]`, `[ start_date, interface, request_ip, request_method, success, user_id ]`, `[ start_date, request_id, request_ip, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_ip, request_method ]`, `[ end_date, api_key_id, interface, request_id, request_ip, success ]`, `[ end_date, api_key_id, interface, request_id, request_ip, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_method, success ]`, `[ end_date, api_key_id, interface, request_id, request_method, user_id ]`, `[ end_date, api_key_id, interface, request_id, success, user_id ]`, `[ end_date, api_key_id, interface, request_ip, request_method, success ]`, `[ end_date, api_key_id, interface, request_ip, request_method, user_id ]`, `[ end_date, api_key_id, interface, request_ip, success, user_id ]`, `[ end_date, api_key_id, interface, request_method, success, user_id ]`, `[ end_date, api_key_id, request_id, request_ip, request_method, success ]`, `[ end_date, api_key_id, request_id, request_ip, request_method, user_id ]`, `[ end_date, api_key_id, request_id, request_ip, success, user_id ]`, `[ end_date, api_key_id, request_id, request_method, success, user_id ]`, `[ end_date, api_key_id, request_ip, request_method, success, user_id ]`, `[ end_date, interface, request_id, request_ip, request_method, success ]`, `[ end_date, interface, request_id, request_ip, request_method, user_id ]`, `[ end_date, interface, request_id, request_ip, success, user_id ]`, `[ end_date, interface, request_id, request_method, success, user_id ]`, `[ end_date, interface, request_ip, request_method, success, user_id ]`, `[ end_date, request_id, request_ip, request_method, success, user_id ]`, `[ api_key_id, interface, request_id, request_ip, request_method, success ]`, `[ api_key_id, interface, request_id, request_ip, request_method, user_id ]`, `[ api_key_id, interface, request_id, request_ip, success, user_id ]`, `[ api_key_id, interface, request_id, request_method, success, user_id ]`, `[ api_key_id, interface, request_ip, request_method, success, user_id ]`, `[ api_key_id, request_id, request_ip, request_method, success, user_id ]`, `[ interface, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, success ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_method, success ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_method, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip, request_method, success ]`, `[ start_date, end_date, api_key_id, interface, request_ip, request_method, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, request_method, success ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, success, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip, request_method, success ]`, `[ start_date, end_date, interface, request_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_method, success, user_id ]`, `[ start_date, end_date, interface, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip, request_method, success ]`, `[ start_date, api_key_id, interface, request_id, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_ip, request_method, success, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, interface, request_id, request_ip, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_ip, request_method, success ]`, `[ end_date, api_key_id, interface, request_id, request_ip, request_method, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_ip, success, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_ip, request_method, success, user_id ]`, `[ end_date, api_key_id, request_id, request_ip, request_method, success, user_id ]`, `[ end_date, interface, request_id, request_ip, request_method, success, user_id ]`, `[ api_key_id, interface, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, request_method, success ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip, request_method, success, user_id ]` or `[ end_date, api_key_id, interface, request_id, request_ip, request_method, success, user_id ]`.",
            "example": {
              "start_date": "VALUE"
            },
            "in": "query",
            "name": "filter",
            "required": false,
            "x-ms-summary": "If set, return records where the specified field is equal to the supplied value. Valid fields are `start_date`, `end_date`, `api_key_id`, `interface`, `request_id`, `request_ip`, `request_method`, `success` or `user_id`. Valid field combinations are `[ start_date ]`, `[ end_date ]`, `[ api_key_id ]`, `[ interface ]`, `[ request_id ]`, `[ request_ip ]`, `[ request_method ]`, `[ success ]`, `[ user_id ]`, `[ start_date, end_date ]`, `[ start_date, api_key_id ]`, `[ start_date, interface ]`, `[ start_date, request_id ]`, `[ start_date, request_ip ]`, `[ start_date, request_method ]`, `[ start_date, success ]`, `[ start_date, user_id ]`, `[ end_date, api_key_id ]`, `[ end_date, interface ]`, `[ end_date, request_id ]`, `[ end_date, request_ip ]`, `[ end_date, request_method ]`, `[ end_date, success ]`, `[ end_date, user_id ]`, `[ api_key_id, interface ]`, `[ api_key_id, request_id ]`, `[ api_key_id, request_ip ]`, `[ api_key_id, request_method ]`, `[ api_key_id, success ]`, `[ api_key_id, user_id ]`, `[ interface, request_id ]`, `[ interface, request_ip ]`, `[ interface, request_method ]`, `[ interface, success ]`, `[ interface, user_id ]`, `[ request_id, request_ip ]`, `[ request_id, request_method ]`, `[ request_id, success ]`, `[ request_id, user_id ]`, `[ request_ip, request_method ]`, `[ request_ip, success ]`, `[ request_ip, user_id ]`, `[ request_method, success ]`, `[ request_method, user_id ]`, `[ success, user_id ]`, `[ start_date, end_date, api_key_id ]`, `[ start_date, end_date, interface ]`, `[ start_date, end_date, request_id ]`, `[ start_date, end_date, request_ip ]`, `[ start_date, end_date, request_method ]`, `[ start_date, end_date, success ]`, `[ start_date, end_date, user_id ]`, `[ start_date, api_key_id, interface ]`, `[ start_date, api_key_id, request_id ]`, `[ start_date, api_key_id, request_ip ]`, `[ start_date, api_key_id, request_method ]`, `[ start_date, api_key_id, success ]`, `[ start_date, api_key_id, user_id ]`, `[ start_date, interface, request_id ]`, `[ start_date, interface, request_ip ]`, `[ start_date, interface, request_method ]`, `[ start_date, interface, success ]`, `[ start_date, interface, user_id ]`, `[ start_date, request_id, request_ip ]`, `[ start_date, request_id, request_method ]`, `[ start_date, request_id, success ]`, `[ start_date, request_id, user_id ]`, `[ start_date, request_ip, request_method ]`, `[ start_date, request_ip, success ]`, `[ start_date, request_ip, user_id ]`, `[ start_date, request_method, success ]`, `[ start_date, request_method, user_id ]`, `[ start_date, success, user_id ]`, `[ end_date, api_key_id, interface ]`, `[ end_date, api_key_id, request_id ]`, `[ end_date, api_key_id, request_ip ]`, `[ end_date, api_key_id, request_method ]`, `[ end_date, api_key_id, success ]`, `[ end_date, api_key_id, user_id ]`, `[ end_date, interface, request_id ]`, `[ end_date, interface, request_ip ]`, `[ end_date, interface, request_method ]`, `[ end_date, interface, success ]`, `[ end_date, interface, user_id ]`, `[ end_date, request_id, request_ip ]`, `[ end_date, request_id, request_method ]`, `[ end_date, request_id, success ]`, `[ end_date, request_id, user_id ]`, `[ end_date, request_ip, request_method ]`, `[ end_date, request_ip, success ]`, `[ end_date, request_ip, user_id ]`, `[ end_date, request_method, success ]`, `[ end_date, request_method, user_id ]`, `[ end_date, success, user_id ]`, `[ api_key_id, interface, request_id ]`, `[ api_key_id, interface, request_ip ]`, `[ api_key_id, interface, request_method ]`, `[ api_key_id, interface, success ]`, `[ api_key_id, interface, user_id ]`, `[ api_key_id, request_id, request_ip ]`, `[ api_key_id, request_id, request_method ]`, `[ api_key_id, request_id, success ]`, `[ api_key_id, request_id, user_id ]`, `[ api_key_id, request_ip, request_method ]`, `[ api_key_id, request_ip, success ]`, `[ api_key_id, request_ip, user_id ]`, `[ api_key_id, request_method, success ]`, `[ api_key_id, request_method, user_id ]`, `[ api_key_id, success, user_id ]`, `[ interface, request_id, request_ip ]`, `[ interface, request_id, request_method ]`, `[ interface, request_id, success ]`, `[ interface, request_id, user_id ]`, `[ interface, request_ip, request_method ]`, `[ interface, request_ip, success ]`, `[ interface, request_ip, user_id ]`, `[ interface, request_method, success ]`, `[ interface, request_method, user_id ]`, `[ interface, success, user_id ]`, `[ request_id, request_ip, request_method ]`, `[ request_id, request_ip, success ]`, `[ request_id, request_ip, user_id ]`, `[ request_id, request_method, success ]`, `[ request_id, request_method, user_id ]`, `[ request_id, success, user_id ]`, `[ request_ip, request_method, success ]`, `[ request_ip, request_method, user_id ]`, `[ request_ip, success, user_id ]`, `[ request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface ]`, `[ start_date, end_date, api_key_id, request_id ]`, `[ start_date, end_date, api_key_id, request_ip ]`, `[ start_date, end_date, api_key_id, request_method ]`, `[ start_date, end_date, api_key_id, success ]`, `[ start_date, end_date, api_key_id, user_id ]`, `[ start_date, end_date, interface, request_id ]`, `[ start_date, end_date, interface, request_ip ]`, `[ start_date, end_date, interface, request_method ]`, `[ start_date, end_date, interface, success ]`, `[ start_date, end_date, interface, user_id ]`, `[ start_date, end_date, request_id, request_ip ]`, `[ start_date, end_date, request_id, request_method ]`, `[ start_date, end_date, request_id, success ]`, `[ start_date, end_date, request_id, user_id ]`, `[ start_date, end_date, request_ip, request_method ]`, `[ start_date, end_date, request_ip, success ]`, `[ start_date, end_date, request_ip, user_id ]`, `[ start_date, end_date, request_method, success ]`, `[ start_date, end_date, request_method, user_id ]`, `[ start_date, end_date, success, user_id ]`, `[ start_date, api_key_id, interface, request_id ]`, `[ start_date, api_key_id, interface, request_ip ]`, `[ start_date, api_key_id, interface, request_method ]`, `[ start_date, api_key_id, interface, success ]`, `[ start_date, api_key_id, interface, user_id ]`, `[ start_date, api_key_id, request_id, request_ip ]`, `[ start_date, api_key_id, request_id, request_method ]`, `[ start_date, api_key_id, request_id, success ]`, `[ start_date, api_key_id, request_id, user_id ]`, `[ start_date, api_key_id, request_ip, request_method ]`, `[ start_date, api_key_id, request_ip, success ]`, `[ start_date, api_key_id, request_ip, user_id ]`, `[ start_date, api_key_id, request_method, success ]`, `[ start_date, api_key_id, request_method, user_id ]`, `[ start_date, api_key_id, success, user_id ]`, `[ start_date, interface, request_id, request_ip ]`, `[ start_date, interface, request_id, request_method ]`, `[ start_date, interface, request_id, success ]`, `[ start_date, interface, request_id, user_id ]`, `[ start_date, interface, request_ip, request_method ]`, `[ start_date, interface, request_ip, success ]`, `[ start_date, interface, request_ip, user_id ]`, `[ start_date, interface, request_method, success ]`, `[ start_date, interface, request_method, user_id ]`, `[ start_date, interface, success, user_id ]`, `[ start_date, request_id, request_ip, request_method ]`, `[ start_date, request_id, request_ip, success ]`, `[ start_date, request_id, request_ip, user_id ]`, `[ start_date, request_id, request_method, success ]`, `[ start_date, request_id, request_method, user_id ]`, `[ start_date, request_id, success, user_id ]`, `[ start_date, request_ip, request_method, success ]`, `[ start_date, request_ip, request_method, user_id ]`, `[ start_date, request_ip, success, user_id ]`, `[ start_date, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id ]`, `[ end_date, api_key_id, interface, request_ip ]`, `[ end_date, api_key_id, interface, request_method ]`, `[ end_date, api_key_id, interface, success ]`, `[ end_date, api_key_id, interface, user_id ]`, `[ end_date, api_key_id, request_id, request_ip ]`, `[ end_date, api_key_id, request_id, request_method ]`, `[ end_date, api_key_id, request_id, success ]`, `[ end_date, api_key_id, request_id, user_id ]`, `[ end_date, api_key_id, request_ip, request_method ]`, `[ end_date, api_key_id, request_ip, success ]`, `[ end_date, api_key_id, request_ip, user_id ]`, `[ end_date, api_key_id, request_method, success ]`, `[ end_date, api_key_id, request_method, user_id ]`, `[ end_date, api_key_id, success, user_id ]`, `[ end_date, interface, request_id, request_ip ]`, `[ end_date, interface, request_id, request_method ]`, `[ end_date, interface, request_id, success ]`, `[ end_date, interface, request_id, user_id ]`, `[ end_date, interface, request_ip, request_method ]`, `[ end_date, interface, request_ip, success ]`, `[ end_date, interface, request_ip, user_id ]`, `[ end_date, interface, request_method, success ]`, `[ end_date, interface, request_method, user_id ]`, `[ end_date, interface, success, user_id ]`, `[ end_date, request_id, request_ip, request_method ]`, `[ end_date, request_id, request_ip, success ]`, `[ end_date, request_id, request_ip, user_id ]`, `[ end_date, request_id, request_method, success ]`, `[ end_date, request_id, request_method, user_id ]`, `[ end_date, request_id, success, user_id ]`, `[ end_date, request_ip, request_method, success ]`, `[ end_date, request_ip, request_method, user_id ]`, `[ end_date, request_ip, success, user_id ]`, `[ end_date, request_method, success, user_id ]`, `[ api_key_id, interface, request_id, request_ip ]`, `[ api_key_id, interface, request_id, request_method ]`, `[ api_key_id, interface, request_id, success ]`, `[ api_key_id, interface, request_id, user_id ]`, `[ api_key_id, interface, request_ip, request_method ]`, `[ api_key_id, interface, request_ip, success ]`, `[ api_key_id, interface, request_ip, user_id ]`, `[ api_key_id, interface, request_method, success ]`, `[ api_key_id, interface, request_method, user_id ]`, `[ api_key_id, interface, success, user_id ]`, `[ api_key_id, request_id, request_ip, request_method ]`, `[ api_key_id, request_id, request_ip, success ]`, `[ api_key_id, request_id, request_ip, user_id ]`, `[ api_key_id, request_id, request_method, success ]`, `[ api_key_id, request_id, request_method, user_id ]`, `[ api_key_id, request_id, success, user_id ]`, `[ api_key_id, request_ip, request_method, success ]`, `[ api_key_id, request_ip, request_method, user_id ]`, `[ api_key_id, request_ip, success, user_id ]`, `[ api_key_id, request_method, success, user_id ]`, `[ interface, request_id, request_ip, request_method ]`, `[ interface, request_id, request_ip, success ]`, `[ interface, request_id, request_ip, user_id ]`, `[ interface, request_id, request_method, success ]`, `[ interface, request_id, request_method, user_id ]`, `[ interface, request_id, success, user_id ]`, `[ interface, request_ip, request_method, success ]`, `[ interface, request_ip, request_method, user_id ]`, `[ interface, request_ip, success, user_id ]`, `[ interface, request_method, success, user_id ]`, `[ request_id, request_ip, request_method, success ]`, `[ request_id, request_ip, request_method, user_id ]`, `[ request_id, request_ip, success, user_id ]`, `[ request_id, request_method, success, user_id ]`, `[ request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip ]`, `[ start_date, end_date, api_key_id, interface, request_method ]`, `[ start_date, end_date, api_key_id, interface, success ]`, `[ start_date, end_date, api_key_id, interface, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip ]`, `[ start_date, end_date, api_key_id, request_id, request_method ]`, `[ start_date, end_date, api_key_id, request_id, success ]`, `[ start_date, end_date, api_key_id, request_id, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, request_ip, success ]`, `[ start_date, end_date, api_key_id, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, request_method, success ]`, `[ start_date, end_date, api_key_id, request_method, user_id ]`, `[ start_date, end_date, api_key_id, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip ]`, `[ start_date, end_date, interface, request_id, request_method ]`, `[ start_date, end_date, interface, request_id, success ]`, `[ start_date, end_date, interface, request_id, user_id ]`, `[ start_date, end_date, interface, request_ip, request_method ]`, `[ start_date, end_date, interface, request_ip, success ]`, `[ start_date, end_date, interface, request_ip, user_id ]`, `[ start_date, end_date, interface, request_method, success ]`, `[ start_date, end_date, interface, request_method, user_id ]`, `[ start_date, end_date, interface, success, user_id ]`, `[ start_date, end_date, request_id, request_ip, request_method ]`, `[ start_date, end_date, request_id, request_ip, success ]`, `[ start_date, end_date, request_id, request_ip, user_id ]`, `[ start_date, end_date, request_id, request_method, success ]`, `[ start_date, end_date, request_id, request_method, user_id ]`, `[ start_date, end_date, request_id, success, user_id ]`, `[ start_date, end_date, request_ip, request_method, success ]`, `[ start_date, end_date, request_ip, request_method, user_id ]`, `[ start_date, end_date, request_ip, success, user_id ]`, `[ start_date, end_date, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip ]`, `[ start_date, api_key_id, interface, request_id, request_method ]`, `[ start_date, api_key_id, interface, request_id, success ]`, `[ start_date, api_key_id, interface, request_id, user_id ]`, `[ start_date, api_key_id, interface, request_ip, request_method ]`, `[ start_date, api_key_id, interface, request_ip, success ]`, `[ start_date, api_key_id, interface, request_ip, user_id ]`, `[ start_date, api_key_id, interface, request_method, success ]`, `[ start_date, api_key_id, interface, request_method, user_id ]`, `[ start_date, api_key_id, interface, success, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, request_method ]`, `[ start_date, api_key_id, request_id, request_ip, success ]`, `[ start_date, api_key_id, request_id, request_ip, user_id ]`, `[ start_date, api_key_id, request_id, request_method, success ]`, `[ start_date, api_key_id, request_id, request_method, user_id ]`, `[ start_date, api_key_id, request_id, success, user_id ]`, `[ start_date, api_key_id, request_ip, request_method, success ]`, `[ start_date, api_key_id, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, request_ip, success, user_id ]`, `[ start_date, api_key_id, request_method, success, user_id ]`, `[ start_date, interface, request_id, request_ip, request_method ]`, `[ start_date, interface, request_id, request_ip, success ]`, `[ start_date, interface, request_id, request_ip, user_id ]`, `[ start_date, interface, request_id, request_method, success ]`, `[ start_date, interface, request_id, request_method, user_id ]`, `[ start_date, interface, request_id, success, user_id ]`, `[ start_date, interface, request_ip, request_method, success ]`, `[ start_date, interface, request_ip, request_method, user_id ]`, `[ start_date, interface, request_ip, success, user_id ]`, `[ start_date, interface, request_method, success, user_id ]`, `[ start_date, request_id, request_ip, request_method, success ]`, `[ start_date, request_id, request_ip, request_method, user_id ]`, `[ start_date, request_id, request_ip, success, user_id ]`, `[ start_date, request_id, request_method, success, user_id ]`, `[ start_date, request_ip, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_ip ]`, `[ end_date, api_key_id, interface, request_id, request_method ]`, `[ end_date, api_key_id, interface, request_id, success ]`, `[ end_date, api_key_id, interface, request_id, user_id ]`, `[ end_date, api_key_id, interface, request_ip, request_method ]`, `[ end_date, api_key_id, interface, request_ip, success ]`, `[ end_date, api_key_id, interface, request_ip, user_id ]`, `[ end_date, api_key_id, interface, request_method, success ]`, `[ end_date, api_key_id, interface, request_method, user_id ]`, `[ end_date, api_key_id, interface, success, user_id ]`, `[ end_date, api_key_id, request_id, request_ip, request_method ]`, `[ end_date, api_key_id, request_id, request_ip, success ]`, `[ end_date, api_key_id, request_id, request_ip, user_id ]`, `[ end_date, api_key_id, request_id, request_method, success ]`, `[ end_date, api_key_id, request_id, request_method, user_id ]`, `[ end_date, api_key_id, request_id, success, user_id ]`, `[ end_date, api_key_id, request_ip, request_method, success ]`, `[ end_date, api_key_id, request_ip, request_method, user_id ]`, `[ end_date, api_key_id, request_ip, success, user_id ]`, `[ end_date, api_key_id, request_method, success, user_id ]`, `[ end_date, interface, request_id, request_ip, request_method ]`, `[ end_date, interface, request_id, request_ip, success ]`, `[ end_date, interface, request_id, request_ip, user_id ]`, `[ end_date, interface, request_id, request_method, success ]`, `[ end_date, interface, request_id, request_method, user_id ]`, `[ end_date, interface, request_id, success, user_id ]`, `[ end_date, interface, request_ip, request_method, success ]`, `[ end_date, interface, request_ip, request_method, user_id ]`, `[ end_date, interface, request_ip, success, user_id ]`, `[ end_date, interface, request_method, success, user_id ]`, `[ end_date, request_id, request_ip, request_method, success ]`, `[ end_date, request_id, request_ip, request_method, user_id ]`, `[ end_date, request_id, request_ip, success, user_id ]`, `[ end_date, request_id, request_method, success, user_id ]`, `[ end_date, request_ip, request_method, success, user_id ]`, `[ api_key_id, interface, request_id, request_ip, request_method ]`, `[ api_key_id, interface, request_id, request_ip, success ]`, `[ api_key_id, interface, request_id, request_ip, user_id ]`, `[ api_key_id, interface, request_id, request_method, success ]`, `[ api_key_id, interface, request_id, request_method, user_id ]`, `[ api_key_id, interface, request_id, success, user_id ]`, `[ api_key_id, interface, request_ip, request_method, success ]`, `[ api_key_id, interface, request_ip, request_method, user_id ]`, `[ api_key_id, interface, request_ip, success, user_id ]`, `[ api_key_id, interface, request_method, success, user_id ]`, `[ api_key_id, request_id, request_ip, request_method, success ]`, `[ api_key_id, request_id, request_ip, request_method, user_id ]`, `[ api_key_id, request_id, request_ip, success, user_id ]`, `[ api_key_id, request_id, request_method, success, user_id ]`, `[ api_key_id, request_ip, request_method, success, user_id ]`, `[ interface, request_id, request_ip, request_method, success ]`, `[ interface, request_id, request_ip, request_method, user_id ]`, `[ interface, request_id, request_ip, success, user_id ]`, `[ interface, request_id, request_method, success, user_id ]`, `[ interface, request_ip, request_method, success, user_id ]`, `[ request_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_method ]`, `[ start_date, end_date, api_key_id, interface, request_id, success ]`, `[ start_date, end_date, api_key_id, interface, request_id, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, interface, request_ip, success ]`, `[ start_date, end_date, api_key_id, interface, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_method, success ]`, `[ start_date, end_date, api_key_id, interface, request_method, user_id ]`, `[ start_date, end_date, api_key_id, interface, success, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, success ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_method, success ]`, `[ start_date, end_date, api_key_id, request_id, request_method, user_id ]`, `[ start_date, end_date, api_key_id, request_id, success, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, request_method, success ]`, `[ start_date, end_date, api_key_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, success, user_id ]`, `[ start_date, end_date, api_key_id, request_method, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip, request_method ]`, `[ start_date, end_date, interface, request_id, request_ip, success ]`, `[ start_date, end_date, interface, request_id, request_ip, user_id ]`, `[ start_date, end_date, interface, request_id, request_method, success ]`, `[ start_date, end_date, interface, request_id, request_method, user_id ]`, `[ start_date, end_date, interface, request_id, success, user_id ]`, `[ start_date, end_date, interface, request_ip, request_method, success ]`, `[ start_date, end_date, interface, request_ip, request_method, user_id ]`, `[ start_date, end_date, interface, request_ip, success, user_id ]`, `[ start_date, end_date, interface, request_method, success, user_id ]`, `[ start_date, end_date, request_id, request_ip, request_method, success ]`, `[ start_date, end_date, request_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, request_id, request_ip, success, user_id ]`, `[ start_date, end_date, request_id, request_method, success, user_id ]`, `[ start_date, end_date, request_ip, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip, request_method ]`, `[ start_date, api_key_id, interface, request_id, request_ip, success ]`, `[ start_date, api_key_id, interface, request_id, request_ip, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_method, success ]`, `[ start_date, api_key_id, interface, request_id, request_method, user_id ]`, `[ start_date, api_key_id, interface, request_id, success, user_id ]`, `[ start_date, api_key_id, interface, request_ip, request_method, success ]`, `[ start_date, api_key_id, interface, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, interface, request_ip, success, user_id ]`, `[ start_date, api_key_id, interface, request_method, success, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, request_method, success ]`, `[ start_date, api_key_id, request_id, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, success, user_id ]`, `[ start_date, api_key_id, request_id, request_method, success, user_id ]`, `[ start_date, api_key_id, request_ip, request_method, success, user_id ]`, `[ start_date, interface, request_id, request_ip, request_method, success ]`, `[ start_date, interface, request_id, request_ip, request_method, user_id ]`, `[ start_date, interface, request_id, request_ip, success, user_id ]`, `[ start_date, interface, request_id, request_method, success, user_id ]`, `[ start_date, interface, request_ip, request_method, success, user_id ]`, `[ start_date, request_id, request_ip, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_ip, request_method ]`, `[ end_date, api_key_id, interface, request_id, request_ip, success ]`, `[ end_date, api_key_id, interface, request_id, request_ip, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_method, success ]`, `[ end_date, api_key_id, interface, request_id, request_method, user_id ]`, `[ end_date, api_key_id, interface, request_id, success, user_id ]`, `[ end_date, api_key_id, interface, request_ip, request_method, success ]`, `[ end_date, api_key_id, interface, request_ip, request_method, user_id ]`, `[ end_date, api_key_id, interface, request_ip, success, user_id ]`, `[ end_date, api_key_id, interface, request_method, success, user_id ]`, `[ end_date, api_key_id, request_id, request_ip, request_method, success ]`, `[ end_date, api_key_id, request_id, request_ip, request_method, user_id ]`, `[ end_date, api_key_id, request_id, request_ip, success, user_id ]`, `[ end_date, api_key_id, request_id, request_method, success, user_id ]`, `[ end_date, api_key_id, request_ip, request_method, success, user_id ]`, `[ end_date, interface, request_id, request_ip, request_method, success ]`, `[ end_date, interface, request_id, request_ip, request_method, user_id ]`, `[ end_date, interface, request_id, request_ip, success, user_id ]`, `[ end_date, interface, request_id, request_method, success, user_id ]`, `[ end_date, interface, request_ip, request_method, success, user_id ]`, `[ end_date, request_id, request_ip, request_method, success, user_id ]`, `[ api_key_id, interface, request_id, request_ip, request_method, success ]`, `[ api_key_id, interface, request_id, request_ip, request_method, user_id ]`, `[ api_key_id, interface, request_id, request_ip, success, user_id ]`, `[ api_key_id, interface, request_id, request_method, success, user_id ]`, `[ api_key_id, interface, request_ip, request_method, success, user_id ]`, `[ api_key_id, request_id, request_ip, request_method, success, user_id ]`, `[ interface, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, request_method ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, success ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_ip, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_method, success ]`, `[ start_date, end_date, api_key_id, interface, request_id, request_method, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_id, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip, request_method, success ]`, `[ start_date, end_date, api_key_id, interface, request_ip, request_method, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_ip, success, user_id ]`, `[ start_date, end_date, api_key_id, interface, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, request_method, success ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_ip, success, user_id ]`, `[ start_date, end_date, api_key_id, request_id, request_method, success, user_id ]`, `[ start_date, end_date, api_key_id, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip, request_method, success ]`, `[ start_date, end_date, interface, request_id, request_ip, request_method, user_id ]`, `[ start_date, end_date, interface, request_id, request_ip, success, user_id ]`, `[ start_date, end_date, interface, request_id, request_method, success, user_id ]`, `[ start_date, end_date, interface, request_ip, request_method, success, user_id ]`, `[ start_date, end_date, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip, request_method, success ]`, `[ start_date, api_key_id, interface, request_id, request_ip, request_method, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_ip, success, user_id ]`, `[ start_date, api_key_id, interface, request_id, request_method, success, user_id ]`, `[ start_date, api_key_id, interface, request_ip, request_method, success, user_id ]`, `[ start_date, api_key_id, request_id, request_ip, request_method, success, user_id ]`, `[ start_date, interface, request_id, request_ip, request_method, success, user_id ]`, `[ end_date, api_key_id, interface, request_id, request_ip, request_method, success ]`, `[ end_date, api_key_id, interface, request_id, r
[...]
