{
  "openapi": "3.0.3",
  "info": {
    "title": "PayU Latam API",
    "version": "4.0",
    "description": "PayU Latam payment API for processing payments across Latin America including Argentina, Brazil, Chile, Colombia, Mexico, Panama, and Peru.",
    "x-jentic-source-url": "https://developers.payulatam.com/latam/en/docs/integrations/api-integration.html"
  },
  "servers": [
    {
      "url": "https://sandbox.api.payulatam.com/payments-api/4.0/service.cgi",
      "description": "Sandbox"
    },
    {
      "url": "https://api.payulatam.com/payments-api/4.0/service.cgi",
      "description": "Production"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "processPayment",
        "summary": "Process payment request",
        "description": "Unified endpoint for payment operations including authorization, capture, void, and refund",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "command": {
            "type": "string",
            "enum": [
              "SUBMIT_TRANSACTION",
              "GET_PAYMENT_METHODS",
              "PING"
            ]
          },
          "merchant": {
            "type": "object",
            "properties": {
              "apiLogin": {
                "type": "string"
              },
              "apiKey": {
                "type": "string"
              }
            }
          },
          "transaction": {
            "type": "object"
          },
          "test": {
            "type": "boolean"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "transactionResponse": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}