{
  "openapi": "3.0.3",
  "info": {
    "title": "ClickTime API",
    "version": "1.3.0",
    "description": "ClickTime REST API v1.3 for time tracking, expense management, and reporting. Manage time entries, projects, tasks, clients, and users. Authentication uses Bearer token via API key.",
    "x-jentic-source-url": "https://app.clicktime.com/api/1.3/help"
  },
  "servers": [
    {
      "url": "https://app.clicktime.com/api/1.3"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Time Entries",
      "description": "Time entry management"
    },
    {
      "name": "Jobs",
      "description": "Project/job management"
    },
    {
      "name": "Tasks",
      "description": "Task management"
    },
    {
      "name": "Clients",
      "description": "Client management"
    },
    {
      "name": "Expenses",
      "description": "Expense management"
    },
    {
      "name": "Company",
      "description": "Company information"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Current User",
        "description": "Get information about the currently authenticated user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List Users",
        "description": "Get a list of all users in the company",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User",
        "description": "Get details of a specific user",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/companies/{companyId}/users/{userId}/timeentries": {
      "get": {
        "tags": [
          "Time Entries"
        ],
        "summary": "List Time Entries",
        "description": "Get time entries for a user within a date range",
        "operationId": "listTimeEntries",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Time entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeEntry"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Time Entries"
        ],
        "summary": "Create Time Entry",
        "description": "Create a new time entry for a user",
        "operationId": "createTimeEntry",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeEntryInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Time entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}/users/{userId}/timeentries/{timeEntryId}": {
      "get": {
        "tags": [
          "Time Entries"
        ],
        "summary": "Get Time Entry",
        "description": "Get a specific time entry",
        "operationId": "getTimeEntry",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time entry details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntry"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "Time Entries"
        ],
        "summary": "Update Time Entry",
        "description": "Update an existing time entry",
        "operationId": "updateTimeEntry",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeEntryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Time entry updated"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Time Entries"
        ],
        "summary": "Delete Time Entry",
        "description": "Delete a time entry",
        "operationId": "deleteTimeEntry",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Time entry deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/companies/{companyId}/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List Jobs",
        "description": "Get a list of all jobs/projects in the company",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get Job",
        "description": "Get details of a specific job/project",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/companies/{companyId}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List Tasks",
        "description": "Get a list of all tasks in the company",
        "operationId": "listTasks",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task",
        "description": "Get details of a specific task",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/companies/{companyId}/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List Clients",
        "description": "Get a list of all clients",
        "operationId": "listClients",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}/users/{userId}/expenses": {
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "List Expenses",
        "description": "Get expenses for a user within a date range",
        "operationId": "listExpenses",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expense list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Expense"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Expenses"
        ],
        "summary": "Create Expense",
        "description": "Create a new expense entry",
        "operationId": "createExpense",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Expense created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get Company",
        "description": "Get company information",
        "operationId": "getCompany",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "ClickTime API token"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "UserID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "SecurityLevel": {
            "type": "string"
          },
          "CompanyID": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          }
        }
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "TimeEntryID": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          },
          "JobID": {
            "type": "string"
          },
          "TaskID": {
            "type": "string"
          },
          "Date": {
            "type": "string",
            "format": "date"
          },
          "Hours": {
            "type": "number"
          },
          "Comment": {
            "type": "string"
          },
          "IsBillable": {
            "type": "boolean"
          },
          "BreakTime": {
            "type": "number"
          },
          "StartTime": {
            "type": "string"
          },
          "EndTime": {
            "type": "string"
          }
        }
      },
      "TimeEntryInput": {
        "type": "object",
        "required": [
          "JobID",
          "TaskID",
          "Date",
          "Hours"
        ],
        "properties": {
          "JobID": {
            "type": "string"
          },
          "TaskID": {
            "type": "string"
          },
          "Date": {
            "type": "string",
            "format": "date"
          },
          "Hours": {
            "type": "number"
          },
          "Comment": {
            "type": "string"
          },
          "IsBillable": {
            "type": "boolean"
          },
          "StartTime": {
            "type": "string"
          },
          "EndTime": {
            "type": "string"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "JobID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "ClientID": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          },
          "BudgetHours": {
            "type": "number"
          },
          "BudgetAmount": {
            "type": "number"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "TaskID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          },
          "IsBillableByDefault": {
            "type": "boolean"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "ClientID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          }
        }
      },
      "Expense": {
        "type": "object",
        "properties": {
          "ExpenseID": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          },
          "JobID": {
            "type": "string"
          },
          "Date": {
            "type": "string",
            "format": "date"
          },
          "Amount": {
            "type": "number"
          },
          "Comment": {
            "type": "string"
          },
          "IsBillable": {
            "type": "boolean"
          }
        }
      },
      "ExpenseInput": {
        "type": "object",
        "required": [
          "JobID",
          "Date",
          "Amount"
        ],
        "properties": {
          "JobID": {
            "type": "string"
          },
          "Date": {
            "type": "string",
            "format": "date"
          },
          "Amount": {
            "type": "number"
          },
          "Comment": {
            "type": "string"
          },
          "IsBillable": {
            "type": "boolean"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "CompanyID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "AccountType": {
            "type": "string"
          }
        }
      }
    }
  }
}