{
  "openapi": "3.0.3",
  "info": {
    "title": "Marketplace & Partner Management API",
    "description": "Kapital Bank — Marketplace platformasında partnyor və mağaza idarəetmə funksionallığı üçün API sənədləşməsi. Bu API, LDAP autentifikasiyası, rol əsaslı icazələr (RBAC) və təsdiq axınını (approve/reject/deactivate) dəstəkləyir.",
    "version": "1.0.0",
    "contact": {
      "name": "IT Business Analysis Team",
      "email": "itba@kapitalbank.az"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/iflingo/marketplace-partner-management-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kapitalbank.az/marketplace/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.kapitalbank.az/marketplace/v1",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/partners": {
      "get": {
        "summary": "Bütün partnyorların siyahısı",
        "tags": [
          "Partners"
        ],
        "responses": {
          "200": {
            "description": "Uğurlu cavab",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Partner"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Yeni partnyor yarat",
        "tags": [
          "Partners"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Partner"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Partnyor yaradıldı"
          }
        }
      }
    },
    "/partners/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Partnyor detalları",
        "tags": [
          "Partners"
        ],
        "responses": {
          "200": {
            "description": "Uğurlu cavab",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Partnyor məlumatını yenilə",
        "tags": [
          "Partners"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Partner"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yeniləmə uğurlu oldu"
          }
        }
      },
      "delete": {
        "summary": "Partnyoru deaktiv et",
        "tags": [
          "Partners"
        ],
        "responses": {
          "204": {
            "description": "Silindi"
          }
        }
      }
    },
    "/marketplaces": {
      "get": {
        "summary": "Bütün mağazalar",
        "tags": [
          "Marketplaces"
        ],
        "responses": {
          "200": {
            "description": "Uğurlu cavab",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Marketplace"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Yeni mağaza əlavə et (yalnız satış əməkdaşı)",
        "tags": [
          "Marketplaces"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mağaza yaradıldı və təsdiq gözləyir"
          }
        }
      }
    },
    "/marketplaces/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Mağaza detalları",
        "tags": [
          "Marketplaces"
        ],
        "responses": {
          "200": {
            "description": "Uğurlu cavab",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Mağaza məlumatını yenilə (yalnız satış əməkdaşı)",
        "tags": [
          "Marketplaces"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yeniləmə uğurlu oldu"
          }
        }
      }
    },
    "/marketplaces/{id}/approve": {
      "post": {
        "summary": "Mağazanı təsdiqlə",
        "tags": [
          "Approval Actions"
        ],
        "description": "Satış admin və ya super admin tərəfindən mağazanın təsdiqlənməsi.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mağaza uğurla təsdiqləndi"
          },
          "403": {
            "description": "İcazə yoxdur"
          },
          "404": {
            "description": "Mağaza tapılmadı"
          }
        }
      }
    },
    "/marketplaces/{id}/reject": {
      "post": {
        "summary": "Mağazanı rədd et",
        "tags": [
          "Approval Actions"
        ],
        "description": "Yalnız satış admin və ya super admin tərəfindən icra edilir.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "Məlumat natamam daxil edilib"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mağaza rədd edildi"
          },
          "403": {
            "description": "İcazə yoxdur"
          }
        }
      }
    },
    "/marketplaces/{id}/deactivate": {
      "post": {
        "summary": "Mağazanı deaktiv et",
        "tags": [
          "Approval Actions"
        ],
        "description": "Admin və ya super admin tərəfindən mağaza deaktiv edilir.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mağaza deaktiv edildi"
          },
          "403": {
            "description": "İcazə yoxdur"
          }
        }
      }
    },
    "/marketplaces/{id}/contacts": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Mağazaya aid əlaqə nömrələri",
        "tags": [
          "Marketplace Contacts"
        ],
        "responses": {
          "200": {
            "description": "Uğurlu cavab",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketplaceContact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Mağazaya yeni əlaqə nömrəsi əlavə et",
        "tags": [
          "Marketplace Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketplaceContact"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Əlaqə nömrəsi əlavə olundu"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Partner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "AzMarket MMC"
          },
          "voen": {
            "type": "string",
            "example": "1306548971"
          },
          "discount_rate": {
            "type": "number",
            "format": "float",
            "example": 7.5
          },
          "category_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "example": "+994502001122"
          },
          "website_url": {
            "type": "string",
            "example": "https://azmarket.az"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "example": "active"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Marketplace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "partner_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "AzMarket Yasamal Branch"
          },
          "address": {
            "type": "string",
            "example": "Yasamal, Hüseyn Cavid prospekti 112"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "inactive"
            ],
            "example": "pending"
          },
          "created_by": {
            "type": "string",
            "example": "ldap:m.shixiyev"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_by": {
            "type": "string",
            "example": "ldap:a.admin"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MarketplaceContact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "marketplace_id": {
            "type": "string",
            "format": "uuid"
          },
          "contact_type": {
            "type": "string",
            "example": "satış şöbəsi"
          },
          "contact_number": {
            "type": "string",
            "example": "+994555551212"
          },
          "is_primary": {
            "type": "boolean",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApprovalAction": {
        "type": "object",
        "properties": {
          "performed_by": {
            "type": "string",
            "example": "ldap:a.admin"
          },
          "performed_at": {
            "type": "string",
            "format": "date-time"
          },
          "action": {
            "type": "string",
            "enum": [
              "approve",
              "reject",
              "deactivate"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}