{
  "openapi": "3.0.0",
  "info": {
    "description": "Creates an Azure Data Lake Store account management client.",
    "title": "DataLakeStoreAccountManagementClient",
    "version": "2016-11-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/datalake-store-account/2016-11-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/account.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "datalake-store-account",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataLakeStore/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "Successfully listed the available operations for Data Lake Store."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Data Lake Store REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Lists all of the available Data Lake Store REST API operations": {
            "parameters": {
              "api-version": "2016-11-01"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "display": {
                        "description": "Get available operations of DataLakeStore.",
                        "operation": "Get Available Operations",
                        "provider": "Microsoft DataLakeStore",
                        "resource": "Available Operations"
                      },
                      "name": "Microsoft.DataLakeStore/operations/read"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "OData filter. Optional.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return. Optional.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of items to skip over before returning elements. Optional.",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccountListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of accounts."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Lists the Data Lake Store accounts within the subscription. The response includes a link to the next page of results, if any.",
        "operationId": "Accounts_List",
        "x-ms-examples": {
          "Lists the Data Lake Store accounts within the subscription": {
            "parameters": {
              "$count": false,
              "$filter": "test_filter",
              "$orderby": "test_orderby",
              "$select": "test_select",
              "$skip": 1,
              "$top": 1,
              "api-version": "2016-11-01",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "tags": {
                        "test_key": "test_value"
                      },
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "location": "eastus2",
                      "name": "contosoadla",
                      "properties": {
                        "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                        "creationTime": "2017-04-14 13:21:56.681903-07:00",
                        "endpoint": "testadlfs17607.azuredatalakestore.net",
                        "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                        "provisioningState": "Succeeded",
                        "state": "Active"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/DataLakeStoreAccountBasic",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/capability": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The resource location without whitespace.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityInformation"
                }
              }
            },
            "description": "Successfully retrieved the subscription-level properties and limits for Data Lake Store specified by resource location."
          },
          "404": {
            "description": "Subscription not found."
          }
        },
        "tags": [
          "Locations"
        ],
        "description": "Gets subscription-level properties and limits for Data Lake Store specified by resource location.",
        "operationId": "Locations_GetCapability",
        "x-ms-examples": {
          "Gets subscription-level properties and limits for Data Lake Store specified by resource location": {
            "parameters": {
              "api-version": "2016-11-01",
              "location": "EastUS2",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "accountCount": 100,
                  "maxAccountCount": 150,
                  "migrationState": false,
                  "state": "Registered",
                  "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                }
              },
              "404": {}
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The resource location without whitespace.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameAvailabilityInformation"
                }
              }
            },
            "description": "Successfully retrieved the Data Lake Store account name availability information."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Checks whether the specified account name is available or taken.",
        "operationId": "Accounts_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityParameters"
              }
            }
          },
          "description": "Parameters supplied to check the Data Lake Store account name availability.",
          "required": true
        },
        "x-ms-examples": {
          "Checks whether the specified account name is available or taken": {
            "parameters": {
              "parameters": {
                "name": "contosoadla",
                "type": "Microsoft.DataLakeStore/accounts"
              },
              "api-version": "2016-11-01",
              "location": "EastUS2",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "An account named 'abc' already exists.",
                  "nameAvailable": false,
                  "reason": "AlreadyExists"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The resource location without whitespace.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageListResult"
                }
              }
            },
            "description": "OK -- current usage count and limit retrieved and returned successfully."
          }
        },
        "tags": [
          "LocationUsage"
        ],
        "description": "Gets the current usage count and the limit for the resources of the location under the subscription.",
        "operationId": "Locations_GetUsage",
        "x-ms-examples": {
          "UsageList": {
            "parameters": {
              "api-version": "2016-11-01",
              "location": "WestUS",
              "subscriptionId": "{subscription-id}"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "currentValue": 69,
                      "id": "/subscriptions/0f936178-0d48-4777-a7ab-47860b604941/providers/Microsoft.DataLakeStore/locations/WestUS/usages/DataLakeStoreAccounts",
                      "limit": -1,
                      "name": {
                        "localizedValue": "Data Lake Store Accounts",
                        "value": "DataLakeStoreAccounts"
                      },
                      "unit": "Count"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "OData filter. Optional.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return. Optional.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of items to skip over before returning elements. Optional.",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccountListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of accounts in the specified resource group."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Lists the Data Lake Store accounts within a specific resource group. The response includes a link to the next page of results, if any.",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "Lists the Data Lake Store accounts within a specific resource group": {
            "parameters": {
              "$count": false,
              "$filter": "test_filter",
              "$orderby": "test_orderby",
              "$select": "test_select",
              "$skip": 1,
              "$top": 1,
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "tags": {
                        "test_key": "test_value"
                      },
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "location": "eastus2",
                      "name": "contosoadla",
                      "properties": {
                        "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                        "creationTime": "2017-04-14 13:21:56.681903-07:00",
                        "endpoint": "testadlfs17607.azuredatalakestore.net",
                        "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                        "provisioningState": "Succeeded",
                        "state": "Active"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/DataLakeStoreAccountBasic",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified account."
          },
          "202": {
            "description": "Successfully initiated the deletion of the specified account."
          },
          "204": {
            "description": "The specified account was not found."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Deletes the specified Data Lake Store account.",
        "operationId": "Accounts_Delete",
        "x-ms-examples": {
          "Deletes the specified Data Lake Store account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccount"
                }
              }
            },
            "description": "Successfully retrieved details of the specified account."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets the specified Data Lake Store account.",
        "operationId": "Accounts_Get",
        "x-ms-examples": {
          "Gets the specified Data Lake Store account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "identity": {
                    "principalId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "tenantId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                    "type": "SystemAssigned"
                  },
                  "location": "eastus2",
                  "name": "contosoadla",
                  "properties": {
                    "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "defaultGroup": "test_default_group",
                    "encryptionConfig": {
                      "keyVaultMetaInfo": {
                        "encryptionKeyName": "test_encryption_key_name",
                        "encryptionKeyVersion": "encryption_key_version",
                        "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                      },
                      "type": "UserManaged"
                    },
                    "encryptionProvisioningState": "Succeeded",
                    "encryptionState": "Enabled",
                    "endpoint": "testadlfs17607.azuredatalakestore.net",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "state": "Active",
                    "trustedIdProviderState": "Enabled",
                    "trustedIdProviders": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_trusted_id_provider_name",
                        "properties": {
                          "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                        },
                        "type": "test_type"
                      }
                    ]
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccount"
                }
              }
            },
            "description": "Successfully updated the account details."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccount"
                }
              }
            },
            "description": "Successfully initiated the update of the account details."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccount"
                }
              }
            },
            "description": "Successfully initiated the update of the account details."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Updates the specified Data Lake Store account information.",
        "operationId": "Accounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataLakeStoreAccountParameters"
              }
            }
          },
          "description": "Parameters supplied to update the Data Lake Store account.",
          "required": true
        },
        "x-ms-examples": {
          "Updates the specified Data Lake Store account information": {
            "parameters": {
              "parameters": {
                "tags": {
                  "test_key": "test_value"
                },
                "properties": {
                  "defaultGroup": "test_default_group",
                  "encryptionConfig": {
                    "keyVaultMetaInfo": {
                      "encryptionKeyVersion": "encryption_key_version"
                    }
                  },
                  "firewallAllowAzureIps": "Enabled",
                  "firewallState": "Enabled",
                  "newTier": "Consumption",
                  "trustedIdProviderState": "Enabled"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "identity": {
                    "principalId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "tenantId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                    "type": "SystemAssigned"
                  },
                  "location": "eastus2",
                  "name": "contosoadla",
                  "properties": {
                    "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "defaultGroup": "test_default_group",
                    "encryptionConfig": {
                      "keyVaultMetaInfo": {
                        "encryptionKeyName": "test_encryption_key_name",
                        "encryptionKeyVersion": "encryption_key_version",
                        "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                      },
                      "type": "UserManaged"
                    },
                    "encryptionProvisioningState": "Succeeded",
                    "encryptionState": "Enabled",
                    "endpoint": "testadlfs17607.azuredatalakestore.net",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "state": "Active",
                    "trustedIdProviderState": "Enabled",
                    "trustedIdProviders": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_trusted_id_provider_name",
                        "properties": {
                          "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                        },
                        "type": "test_type"
                      }
                    ]
                  },
                  "type": "test_type"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "identity": {
                    "principalId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "tenantId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                    "type": "SystemAssigned"
                  },
                  "location": "eastus2",
                  "name": "contosoadla",
                  "properties": {
                    "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "defaultGroup": "test_default_group",
                    "encryptionConfig": {
                      "keyVaultMetaInfo": {
                        "encryptionKeyName": "test_encryption_key_name",
                        "encryptionKeyVersion": "encryption_key_version",
                        "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                      },
                      "type": "UserManaged"
                    },
                    "encryptionProvisioningState": "Succeeded",
                    "encryptionState": "Enabled",
                    "endpoint": "testadlfs17607.azuredatalakestore.net",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "state": "Active",
                    "trustedIdProviderState": "Enabled",
                    "trustedIdProviders": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_trusted_id_provider_name",
                        "properties": {
                          "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                        },
                        "type": "test_type"
                      }
                    ]
                  },
                  "type": "test_type"
                }
              },
              "202": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "identity": {
                    "principalId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "tenantId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                    "type": "SystemAssigned"
                  },
                  "location": "eastus2",
                  "name": "contosoadla",
                  "properties": {
                    "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "defaultGroup": "test_default_group",
                    "encryptionConfig": {
                      "keyVaultMetaInfo": {
                        "encryptionKeyName": "test_encryption_key_name",
                        "encryptionKeyVersion": "encryption_key_version",
                        "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                      },
                      "type": "UserManaged"
                    },
                    "encryptionProvisioningState": "Succeeded",
                    "encryptionState": "Enabled",
                    "endpoint": "testadlfs17607.azuredatalakestore.net",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "state": "Active",
                    "trustedIdProviderState": "Enabled",
                    "trustedIdProviders": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_trusted_id_provider_name",
                        "properties": {
                          "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                        },
                        "type": "test_type"
                      }
                    ]
                  },
                  "type": "test_type"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccount"
                }
              }
            },
            "description": "Successfully created the account."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccount"
                }
              }
            },
            "description": "Successfully initiated creation of the account."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Creates the specified Data Lake Store account.",
        "operationId": "Accounts_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataLakeStoreAccountParameters"
              }
            }
          },
          "description": "Parameters supplied to create the Data Lake Store account.",
          "required": true
        },
        "x-ms-examples": {
          "Creates the specified Data Lake Store account": {
            "parameters": {
              "parameters": {
                "tags": {
                  "test_key": "test_value"
                },
                "identity": {
                  "type": "SystemAssigned"
                },
                "location": "eastus2",
                "properties": {
                  "defaultGroup": "test_default_group",
                  "encryptionConfig": {
                    "keyVaultMetaInfo": {
                      "encryptionKeyName": "test_encryption_key_name",
                      "encryptionKeyVersion": "encryption_key_version",
                      "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                    },
                    "type": "UserManaged"
                  },
                  "encryptionState": "Enabled",
                  "firewallAllowAzureIps": "Enabled",
                  "firewallRules": [
                    {
                      "name": "test_rule",
                      "properties": {
                        "endIpAddress": "2.2.2.2",
                        "startIpAddress": "1.1.1.1"
                      }
                    }
                  ],
                  "firewallState": "Enabled",
                  "newTier": "Consumption",
                  "trustedIdProviderState": "Enabled",
                  "trustedIdProviders": [
                    {
                      "name": "test_trusted_id_provider_name",
                      "properties": {
                        "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                      }
                    }
                  ]
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "identity": {
                    "principalId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "tenantId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                    "type": "SystemAssigned"
                  },
                  "location": "eastus2",
                  "name": "contosoadla",
                  "properties": {
                    "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "defaultGroup": "test_default_group",
                    "encryptionConfig": {
                      "keyVaultMetaInfo": {
                        "encryptionKeyName": "test_encryption_key_name",
                        "encryptionKeyVersion": "encryption_key_version",
                        "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                      },
                      "type": "UserManaged"
                    },
                    "encryptionProvisioningState": "Succeeded",
                    "encryptionState": "Enabled",
                    "endpoint": "testadlfs17607.azuredatalakestore.net",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "state": "Active",
                    "trustedIdProviderState": "Enabled",
                    "trustedIdProviders": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_trusted_id_provider_name",
                        "properties": {
                          "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                        },
                        "type": "test_type"
                      }
                    ]
                  },
                  "type": "test_type"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "identity": {
                    "principalId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "tenantId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                    "type": "SystemAssigned"
                  },
                  "location": "eastus2",
                  "name": "contosoadla",
                  "properties": {
                    "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "defaultGroup": "test_default_group",
                    "encryptionConfig": {
                      "keyVaultMetaInfo": {
                        "encryptionKeyName": "test_encryption_key_name",
                        "encryptionKeyVersion": "encryption_key_version",
                        "keyVaultResourceId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                      },
                      "type": "UserManaged"
                    },
                    "encryptionProvisioningState": "Succeeded",
                    "encryptionState": "Enabled",
                    "endpoint": "testadlfs17607.azuredatalakestore.net",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "state": "Active",
                    "trustedIdProviderState": "Enabled",
                    "trustedIdProviders": [
                      {
                        "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "name": "test_trusted_id_provider_name",
                        "properties": {
                          "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                        },
                        "type": "test_type"
                      }
                    ]
                  },
                  "type": "test_type"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/enableKeyVault": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully enabled the user-managed Key Vault settings used for encrypting this Data Lake Store account."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account.",
        "operationId": "Accounts_EnableKeyVault",
        "x-ms-examples": {
          "Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {}
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRuleListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of firewall rules."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Lists the Data Lake Store firewall rules within the specified Data Lake Store account.",
        "operationId": "FirewallRules_ListByAccount",
        "x-ms-examples": {
          "Lists the Data Lake Store firewall rules within the specified Data Lake Store account.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "name": "test_rule",
                      "properties": {
                        "endIpAddress": "2.2.2.2",
                        "startIpAddress": "1.1.1.1"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to delete.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified firewall rule."
          },
          "204": {
            "description": "The specified firewall rule does not exist or was already deleted."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Deletes the specified firewall rule from the specified Data Lake Store account.",
        "operationId": "FirewallRules_Delete",
        "x-ms-examples": {
          "Deletes the specified firewall rule from the specified Data Lake Store account.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to retrieve.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "Successfully retrieved the firewall rule."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Gets the specified Data Lake Store firewall rule.",
        "operationId": "FirewallRules_Get",
        "x-ms-examples": {
          "Gets the specified Data Lake Store firewall rule.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_rule",
                  "properties": {
                    "endIpAddress": "2.2.2.2",
                    "startIpAddress": "1.1.1.1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to update.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "Successfully updated the specified firewall rule."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Updates the specified firewall rule.",
        "operationId": "FirewallRules_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFirewallRuleParameters"
              }
            }
          },
          "description": "Parameters supplied to update the firewall rule."
        },
        "x-ms-examples": {
          "Updates the specified firewall rule.": {
            "parameters": {
              "parameters": {
                "properties": {
                  "endIpAddress": "2.2.2.2",
                  "startIpAddress": "1.1.1.1"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_rule",
                  "properties": {
                    "endIpAddress": "2.2.2.2",
                    "startIpAddress": "1.1.1.1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to create or update.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "Successfully created or updated the specified firewall rule."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.",
        "operationId": "FirewallRules_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateFirewallRuleParameters"
              }
            }
          },
          "description": "Parameters supplied to create or update the firewall rule.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule": {
            "parameters": {
              "parameters": {
                "properties": {
                  "endIpAddress": "2.2.2.2",
                  "startIpAddress": "1.1.1.1"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_rule",
                  "properties": {
                    "endIpAddress": "2.2.2.2",
                    "startIpAddress": "1.1.1.1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustedIdProviderListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of trusted identity providers."
          }
        },
        "tags": [
          "TrustedIdProviders"
        ],
        "description": "Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account.",
        "operationId": "TrustedIdProviders_ListByAccount",
        "x-ms-examples": {
          "Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "name": "test_trusted_id_provider_name",
                      "properties": {
                        "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the trusted identity provider to delete.",
            "in": "path",
            "name": "trustedIdProviderName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified trusted identity provider details."
          },
          "204": {
            "description": "The specified trusted identity provider was not found."
          }
        },
        "tags": [
          "TrustedIdProviders"
        ],
        "description": "Deletes the specified trusted identity provider from the specified Data Lake Store account",
        "operationId": "TrustedIdProviders_Delete",
        "x-ms-examples": {
          "Deletes the specified trusted identity provider from the specified Data Lake Store account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "trustedIdProviderName": "test_trusted_id_provider_name"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the trusted identity provider to retrieve.",
            "in": "path",
            "name": "trustedIdProviderName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustedIdProvider"
                }
              }
            },
            "description": "Successfully retrieved details of the specified trusted identity provider."
          }
        },
        "tags": [
          "TrustedIdProviders"
        ],
        "description": "Gets the specified Data Lake Store trusted identity provider.",
        "operationId": "TrustedIdProviders_Get",
        "x-ms-examples": {
          "Gets the specified Data Lake Store trusted identity provider": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "trustedIdProviderName": "test_trusted_id_provider_name"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_trusted_id_provider_name",
                  "properties": {
                    "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the trusted identity provider. This is used for differentiation of providers in the account.",
            "in": "path",
            "name": "trustedIdProviderName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustedIdProvider"
                }
              }
            },
            "description": "Successfully added the trusted identity provider."
          }
        },
        "tags": [
          "TrustedIdProviders"
        ],
        "description": "Updates the specified trusted identity provider.",
        "operationId": "TrustedIdProviders_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrustedIdProviderParameters"
              }
            }
          },
          "description": "Parameters supplied to update the trusted identity provider."
        },
        "x-ms-examples": {
          "Updates the specified trusted identity provider": {
            "parameters": {
              "parameters": {
                "properties": {
                  "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "trustedIdProviderName": "test_trusted_id_provider_name"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_trusted_id_provider_name",
                  "properties": {
                    "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the trusted identity provider. This is used for differentiation of providers in the account.",
            "in": "path",
            "name": "trustedIdProviderName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustedIdProvider"
                }
              }
            },
            "description": "Successfully added the trusted identity provider."
          }
        },
        "tags": [
          "TrustedIdProviders"
        ],
        "description": "Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider",
        "operationId": "TrustedIdProviders_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateTrustedIdProviderParameters"
              }
            }
          },
          "description": "Parameters supplied to create or replace the trusted identity provider.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider": {
            "parameters": {
              "parameters": {
                "properties": {
                  "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "trustedIdProviderName": "test_trusted_id_provider_name"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_trusted_id_provider_name",
                  "properties": {
                    "idProvider": "https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkRuleListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of virtual network rules."
          }
        },
        "tags": [
          "VirtualNetworkRules"
        ],
        "description": "Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.",
        "operationId": "VirtualNetworkRules_ListByAccount",
        "x-ms-examples": {
          "Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "name": "test_virtual_network_rules_name",
                      "properties": {
                        "subnetId": "test_subnetId"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the virtual network rule to delete.",
            "in": "path",
            "name": "virtualNetworkRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified virtual network rule."
          },
          "204": {
            "description": "The specified virtual network rule does not exist or was already deleted."
          }
        },
        "tags": [
          "VirtualNetworkRules"
        ],
        "description": "Deletes the specified virtual network rule from the specified Data Lake Store account.",
        "operationId": "VirtualNetworkRules_Delete",
        "x-ms-examples": {
          "Deletes the specified virtual network rule from the specified Data Lake Store account.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "virtualNetworkRuleName": "test_virtual_network_rules_name"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the virtual network rule to retrieve.",
            "in": "path",
            "name": "virtualNetworkRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkRule"
                }
              }
            },
            "description": "Successfully retrieved the virtual network rule."
          }
        },
        "tags": [
          "VirtualNetworkRules"
        ],
        "description": "Gets the specified Data Lake Store virtual network rule.",
        "operationId": "VirtualNetworkRules_Get",
        "x-ms-examples": {
          "Gets the specified Data Lake Store virtual network rule.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "virtualNetworkRuleName": "test_virtual_network_rules_name"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_virtual_network_rules_name",
                  "properties": {
                    "subnetId": "test_subnetId"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the virtual network rule to update.",
            "in": "path",
            "name": "virtualNetworkRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkRule"
                }
              }
            },
            "description": "Successfully updated the specified virtual network rule."
          }
        },
        "tags": [
          "VirtualNetworkRules"
        ],
        "description": "Updates the specified virtual network rule.",
        "operationId": "VirtualNetworkRules_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVirtualNetworkRuleParameters"
              }
            }
          },
          "description": "Parameters supplied to update the virtual network rule."
        },
        "x-ms-examples": {
          "Updates the specified virtual network rule.": {
            "parameters": {
              "parameters": {
                "properties": {
                  "subnetId": "test_subnetId"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "virtualNetworkRuleName": "test_virtual_network_rules_name"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_virtual_network_rules_name",
                  "properties": {
                    "subnetId": "test_subnetId"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the virtual network rule to create or update.",
            "in": "path",
            "name": "virtualNetworkRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualNetworkRule"
                }
              }
            },
            "description": "Successfully created or updated the specified virtual network rule."
          }
        },
        "tags": [
          "VirtualNetworkRules"
        ],
        "description": "Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.",
        "operationId": "VirtualNetworkRules_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateVirtualNetworkRuleParameters"
              }
            }
          },
          "description": "Parameters supplied to create or update the virtual network rule.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.": {
            "parameters": {
              "parameters": {
                "properties": {
                  "subnetId": "test_subnetId"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "virtualNetworkRuleName": "test_virtual_network_rules_name"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_virtual_network_rules_name",
                  "properties": {
                    "subnetId": "test_subnetId"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccountNameParameter": {
        "description": "The name of the Data Lake Store account.",
        "in": "path",
        "name": "accountName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the Azure resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CapabilityInformation": {
        "description": "Subscription-level properties and limits for Data Lake Store.",
        "properties": {
          "accountCount": {
            "description": "The current number of accounts under this subscription.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "maxAccountCount": {
            "description": "The maximum supported number of accounts under this subscription.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "migrationState": {
            "description": "The Boolean value of true or false to indicate the maintenance state.",
            "readOnly": true,
            "type": "boolean"
          },
          "state": {
            "description": "The subscription state.",
            "enum": [
              "Registered",
              "Suspended",
              "Deleted",
              "Unregistered",
              "Warned"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SubscriptionState"
            }
          },
          "subscriptionId": {
            "description": "The subscription credentials that uniquely identifies the subscription.",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "CheckNameAvailabilityParameters": {
        "description": "Data Lake Store account name availability check parameters.",
        "properties": {
          "name": {
            "description": "The Data Lake Store name to check availability for.",
            "type": "string"
          },
          "type": {
            "description": "The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeStore/accounts",
            "enum": [
              "Microsoft.DataLakeStore/accounts"
            ],
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "CreateDataLakeStoreAccountParameters": {
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The resource tags.",
            "type": "object"
          },
          "identity": {
            "$ref": "#/components/schemas/EncryptionIdentity",
            "description": "The Key Vault encryption identity, if any."
          },
          "location": {
            "description": "The resource location.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CreateDataLakeStoreAccountProperties",
            "description": "The Data Lake Store account properties to use for creating.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "location"
        ],
        "type": "object"
      },
      "CreateDataLakeStoreAccountProperties": {
        "properties": {
          "defaultGroup": {
            "description": "The default owner group for all new folders and files created in the Data Lake Store account.",
            "type": "string"
          },
          "encryptionConfig": {
            "$ref": "#/components/schemas/EncryptionConfig",
            "description": "The Key Vault encryption configuration."
          },
          "encryptionState": {
            "description": "The current state of encryption for this Data Lake Store account.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "EncryptionState"
            }
          },
          "firewallAllowAzureIps": {
            "description": "The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "FirewallAllowAzureIpsState"
            }
          },
          "firewallRules": {
            "description": "The list of firewall rules associated with this Data Lake Store account.",
            "items": {
              "$ref": "#/components/schemas/CreateFirewallRuleWithAccountParameters"
            },
            "type": "array"
          },
          "firewallState": {
            "description": "The current state of the IP address firewall for this Data Lake Store account.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "FirewallState"
            }
          },
          "newTier": {
            "description": "The commitment tier to use for next month.",
            "enum": [
              "Consumption",
              "Commitment_1TB",
              "Commitment_10TB",
              "Commitment_100TB",
              "Commitment_500TB",
              "Commitment_1PB",
              "Commitment_5PB"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "TierType"
            }
          },
          "trustedIdProviderState": {
            "description": "The current state of the trusted identity provider feature for this Data Lake Store account.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "TrustedIdProviderState"
            }
          },
          "trustedIdProviders": {
            "description": "The list of trusted identity providers associated with this Data Lake Store account.",
            "items": {
              "$ref": "#/components/schemas/CreateTrustedIdProviderWithAccountParameters"
            },
            "type": "array"
          },
          "virtualNetworkRules": {
            "description": "The list of virtual network rules associated with this Data Lake Store account.",
            "items": {
              "$ref": "#/components/schemas/CreateVirtualNetworkRuleWithAccountParameters"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CreateFirewallRuleWithAccountParameters": {
        "description": "The parameters used to create a new firewall rule while creating a new Data Lake Store account.",
        "properties": {
          "name": {
            "description": "The unique name of the firewall rule to create.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CreateOrUpdateFirewallRuleProperties",
            "description": "The firewall rule properties to use when creating a new firewall rule.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "CreateOrUpdateFirewallRuleParameters": {
        "description": "The parameters used to create a new firewall rule.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CreateOrUpdateFirewallRuleProperties",
            "description": "The firewall rule properties to use when creating a new firewall rule.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "CreateOrUpdateFirewallRuleProperties": {
        "description": "The firewall rule properties to use when creating a new firewall rule.",
        "properties": {
          "endIpAddress": {
            "description": "The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
            "type": "string"
          },
          "startIpAddress": {
            "description": "The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
            "type": "string"
          }
        },
        "required": [
          "startIpAddress",
          "endIpAddress"
        ],
        "type": "object"
      },
      "CreateOrUpdateTrustedIdProviderParameters": {
        "description": "The parameters used to create a new trusted identity provider.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CreateOrUpdateTrustedIdProviderProperties",
            "description": "The trusted identity provider properties to use when creating a new trusted identity provider.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "CreateOrUpdateTrustedIdProviderProperties": {
        "description": "The trusted identity provider properties to use when creating a new trusted identity provider.",
        "properties": {
          "idProvider": {
            "description": "The URL of this trusted identity provider.",
            "type": "string"
          }
        },
        "required": [
          "idProvider"
        ],
        "type": "object"
      },
      "CreateOrUpdateVirtualNetworkRuleParameters": {
        "description": "The parameters used to create a new virtual network rule.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CreateOrUpdateVirtualNetworkRuleProperties",
            "description": "The virtual network rule properties to use when creating a new virtual network rule.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "properties"
        ],
        "type": "object"
      },
      "CreateOrUpdateVirtualNetworkRuleProperties": {
        "description": "The virtual network rule properties to use when creating a new virtual network rule.",
        "properties": {
          "subnetId": {
            "description": "The resource identifier for the subnet.",
            "type": "string"
          }
        },
        "required": [
          "subnetId"
        ],
        "type": "object"
      },
      "CreateTrustedIdProviderWithAccountParameters": {
        "description": "The parameters used to create a new trusted identity provider while creating a new Data Lake Store account.",
        "properties": {
          "name": {
            "description": "The unique name of the trusted identity provider to create.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CreateOrUpdateTrustedIdProviderProperties",
            "description": "The trusted identity provider properties to use when creating a new trusted identity provider.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "CreateVirtualNetworkRuleWithAccountParameters": {
        "description": "The parameters used to create a new virtual network rule while creating a new Data Lake Store account.",
        "properties": {
          "name": {
            "description": "The unique name of the virtual network rule to create.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CreateOrUpdateVirtualNetworkRuleProperties",
            "description": "The virtual network rule properties to use when creating a new virtual network rule.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "DataLakeStoreAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Data Lake Store account information.",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/EncryptionIdentity",
            "description": "The Key Vault encryption identity, if any.",
            "readOnly": true
          },
          "properties": {
            "$ref": "#/components/schemas/DataLakeStoreAccountProperties",
            "description": "The Data Lake Store account properties.",
            "readOnly": true,
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DataLakeStoreAccountBasic": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Basic Data Lake Store account information, returned on list calls.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DataLakeStoreAccountPropertiesBasic",
            "description": "The basic Data Lake Store account properties.",
            "readOnly": true,
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "DataLakeStoreAccountListResult": {
        "description": "Data Lake Store account list information response.",
        "properties": {
          "nextLink": {
            "description": "The link (url) to the next page of results.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The results of the list operation.",
            "items": {
              "$ref": "#/components/schemas/DataLakeStoreAccountBasic"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataLakeStoreAccountProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DataLakeStoreAccountPropertiesBasic"
          }
        ],
        "description": "Data Lake Store account properties information.",
        "properties": {
          "currentTier": {
            "description": "The commitment tier in use for the current month.",
            "enum": [
              "Consumption",
              "Commitment_1TB",
              "Commitment_10TB",
              "Commitment_100TB",
              "Commitment_500TB",
              "Commitment_1PB",
              "Commitment_5PB"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "TierType"
            }
          },
          "defaultGroup": {
            "description": "The default owner group for all new folders and files created in the Data Lake Store account.",
            "readOnly": true,
            "type": "string"
          },
          "encryptionConfig": {
            "$ref": "#/components/schemas/EncryptionConfig",
            "description": "The Key Vault encryption configuration.",
            "readOnly": true
[...]
