{
  "openapi": "3.0.1",
  "info": {
    "title": "Auftragsbuch-Messaging",
    "description": "Auftragsbuch-Messaging",
    "contact": {
      "email": "s.petersen@publicsolutions.de"
    },
    "version": "1.2.0-oapi-oas3",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pubSol/Auftragsbuch-Messaging/1.2.0-oapi-oas3/swagger.json"
  },
  "servers": [
    {
      "url": "https://auftragsbuch.bisoffice.app/"
    }
  ],
  "paths": {
    "/api/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "fetches messages",
        "description": "Fetches all entities of type Message where the create_date is greater than the one specified by the requester\n",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "the api token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update_date",
            "in": "query",
            "description": "the desired update_date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "status": {
                      "type": "integer",
                      "description": "200, 400, 401",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "description": "empty if no error happend",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Creates a new message",
        "description": "Creates a new message\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string",
                    "example": "api_key"
                  },
                  "data_id": {
                    "type": "string",
                    "example": "data_id"
                  },
                  "auftragsbuch_nummer": {
                    "type": "string",
                    "example": "auftragsbuch_nummer"
                  },
                  "stammauftrags_nummer": {
                    "type": "string",
                    "example": "stammauftrags_nummer"
                  },
                  "message": {
                    "type": "string",
                    "example": "unencrypted message"
                  },
                  "message_encrypted": {
                    "type": "string",
                    "example": "encrypted message if the suite uses encryption"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "200, 400, 401",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "description": "empty if no error happend",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/api/message_file": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Fetches an file for a message",
        "description": "Fetches an file for a message",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "the api_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "query",
            "description": "The id of the message",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "file_name",
            "in": "query",
            "description": "The name of the file you want to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "file": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "403": {
            "description": "token invalid or not present",
            "content": {}
          },
          "404": {
            "description": "file does not exist",
            "content": {}
          },
          "500": {
            "description": "internal server error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Uploads a file message",
        "description": "Uploads a file message",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "api_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_id",
            "in": "query",
            "description": "the id of the Daten entry this message should be directed to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auftragsbuch_nummer",
            "in": "query",
            "description": "auftragsbuch_nummer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stammauftrags_nummer",
            "in": "query",
            "description": "stammauftrags_nummer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "upload_file"
                ],
                "type": "object",
                "properties": {
                  "upload_file": {
                    "type": "string",
                    "description": "The file to upload.",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "200, 400, 401",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "description": "empty if no error happend",
                      "example": "something went wrong"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "error": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Something went wrong"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 0
          },
          "data_id": {
            "type": "string",
            "example": "id of auftrag"
          },
          "data_beleg_ex": {
            "type": "string",
            "example": "beleg_ex of auftrag"
          },
          "author_name": {
            "type": "string",
            "example": "fullname of author"
          },
          "message_type": {
            "type": "string",
            "example": "T -> text; F -> file"
          },
          "message": {
            "type": "string",
            "example": "the message content, set if message_type => T"
          },
          "file_name": {
            "type": "string",
            "example": "the file name, set if message_type => F, used in combination with message_id to fetch the file"
          },
          "create_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2016-08-29T09:12:33.001Z"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}