{
  "openapi": "3.0.0",
  "info": {
    "title": "RecoveryServicesBackupClient",
    "version": "2016-12-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/recoveryservices-backup/2016-12-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/backup.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "recoveryservices-backup",
    "x-tags": [
      "Azure",
      "Microsoft"
    ],
    "description": "RecoveryServicesBackupClient provides programmatic access to Subscriptions resources."
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/VaultName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupVaultConfig"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BackupVaultConfigs"
        ],
        "deprecated": false,
        "description": "Fetches vault config.",
        "operationId": "BackupVaultConfigs_Get"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/VaultName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupVaultConfig"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BackupVaultConfigs"
        ],
        "deprecated": false,
        "description": "Updates vault config model type.",
        "operationId": "BackupVaultConfigs_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupVaultConfig"
              }
            }
          },
          "description": "Backup vault config.",
          "required": true
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/VaultName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupStorageConfig"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BackupStorageConfigs"
        ],
        "deprecated": false,
        "description": "Fetches resource storage config.",
        "operationId": "BackupStorageConfigs_Get"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/components/parameters/VaultName"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          }
        },
        "tags": [
          "BackupStorageConfigs"
        ],
        "deprecated": false,
        "description": "Updates vault storage model type.",
        "operationId": "BackupStorageConfigs_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupStorageConfig"
              }
            }
          },
          "description": "Backup storage config.",
          "required": true
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersion": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ResourceGroupName": {
        "description": "The name of the resource group where the recovery services vault is present.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionId": {
        "description": "The subscription Id.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "VaultName": {
        "description": "The name of the recovery services vault.",
        "in": "path",
        "name": "vaultName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "BackupStorageConfig": {
        "allOf": [
          {
            "description": "ARM Resource.",
            "properties": {
              "eTag": {
                "description": "Optional ETag.",
                "type": "string"
              },
              "id": {
                "description": "Resource Id represents the complete path to the resource.",
                "readOnly": true,
                "type": "string"
              },
              "name": {
                "description": "Resource name associated with the resource.",
                "readOnly": true,
                "type": "string"
              },
              "type": {
                "description": "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object",
            "x-ms-azure-resource": true
          }
        ],
        "description": "The backup storage config.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BackupStorageConfigProperties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "BackupStorageConfigProperties": {
        "description": "The backup storage config.",
        "properties": {
          "storageModelType": {
            "description": "Storage model type.",
            "enum": [
              "Invalid",
              "GeoRedundant",
              "LocallyRedundant"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "StorageModelType"
            }
          },
          "storageType": {
            "description": "Storage type.",
            "enum": [
              "Invalid",
              "GeoRedundant",
              "LocallyRedundant"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "StorageType"
            }
          },
          "storageTypeState": {
            "description": "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.",
            "enum": [
              "Invalid",
              "Locked",
              "Unlocked"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "StorageTypeState"
            }
          }
        },
        "type": "object"
      },
      "BackupVaultConfig": {
        "allOf": [
          {
            "description": "ARM Resource.",
            "properties": {
              "eTag": {
                "description": "Optional ETag.",
                "type": "string"
              },
              "id": {
                "description": "Resource Id represents the complete path to the resource.",
                "readOnly": true,
                "type": "string"
              },
              "name": {
                "description": "Resource name associated with the resource.",
                "readOnly": true,
                "type": "string"
              },
              "type": {
                "description": "Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object",
            "x-ms-azure-resource": true
          }
        ],
        "description": "Backup vault config details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/BackupVaultConfigProperties",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "BackupVaultConfigProperties": {
        "description": "Backup vault config details.",
        "properties": {
          "enhancedSecurityState": {
            "description": "Enabled or Disabled.",
            "enum": [
              "Invalid",
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "EnhancedSecurityState"
            }
          },
          "storageType": {
            "description": "Storage type.",
            "enum": [
              "Invalid",
              "GeoRedundant",
              "LocallyRedundant"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "StorageType"
            }
          },
          "storageTypeState": {
            "description": "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.",
            "enum": [
              "Invalid",
              "Locked",
              "Unlocked"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "StorageTypeState"
            }
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account."
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}