{
  "openapi": "3.0.3",
  "info": {
    "title": "IgniSign API",
    "version": "4.2.0",
    "description": "IgniSign provides electronic signature services including document signing, signer management, signature requests, signature proofs, webhooks, seals, and bare signatures.",
    "x-jentic-source-url": "https://ignisign.io/docs/category/ignisign-api"
  },
  "servers": [
    {
      "url": "https://api.ignisign.io/v4"
    }
  ],
  "paths": {
    "/applications/{appId}/context": {
      "get": {
        "operationId": "getApplicationContext",
        "summary": "Get application context",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationContext"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/applications/{appId}/invitations": {
      "get": {
        "operationId": "listInvitedUsers",
        "summary": "Get invited users",
        "tags": [
          "User Invitations"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invited users"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "inviteUser",
        "summary": "Invite a new application user",
        "tags": [
          "User Invitations"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User invited"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/applications/{appId}/invitations/{invitationId}": {
      "patch": {
        "operationId": "editInvitation",
        "summary": "Edit a user invitation",
        "tags": [
          "User Invitations"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation edited"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelInvitation",
        "summary": "Cancel a user invitation",
        "tags": [
          "User Invitations"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation cancelled"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/applications/{appId}/invitations/{invitationId}/resend": {
      "post": {
        "operationId": "resendInvitation",
        "summary": "Resend a user invitation",
        "tags": [
          "User Invitations"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation resent"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signers": {
      "post": {
        "operationId": "createSigner",
        "summary": "Create or update a signer",
        "tags": [
          "Signers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer created/updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signers/{signerId}": {
      "get": {
        "operationId": "getSigner",
        "summary": "Get a signer by ID",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Signer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateSigner",
        "summary": "Update a signer",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "revokeSigner",
        "summary": "Revoke a signer",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer revoked"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signers/{signerId}/details": {
      "get": {
        "operationId": "getSignerDetails",
        "summary": "Get signer details",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signers/{signerId}/summary": {
      "get": {
        "operationId": "getSignerSummary",
        "summary": "Get signer summary",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer summary"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signers/{signerId}/regenerate-secret": {
      "post": {
        "operationId": "regenerateSignerSecret",
        "summary": "Regenerate signer authentication secret",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret regenerated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/applications/{appId}/signers/search": {
      "get": {
        "operationId": "searchSigners",
        "summary": "Search signers within application",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signers matching filter"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/applications/{appId}/signers": {
      "get": {
        "operationId": "listSigners",
        "summary": "List signers within application",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated signers list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests": {
      "get": {
        "operationId": "listSignatureRequests",
        "summary": "List signature requests (paginated)",
        "tags": [
          "Signature Requests"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signature requests list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "initializeSignatureRequest",
        "summary": "Initialize a signature request",
        "tags": [
          "Signature Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureRequestInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Signature request initialized"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}": {
      "get": {
        "operationId": "getSignatureRequestContext",
        "summary": "Get signature request context",
        "tags": [
          "Signature Requests"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signature request context"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateSignatureRequest",
        "summary": "Update a signature request",
        "tags": [
          "Signature Requests"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}/publish": {
      "post": {
        "operationId": "publishSignatureRequest",
        "summary": "Publish a signature request",
        "tags": [
          "Signature Requests"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Published"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}/close": {
      "post": {
        "operationId": "closeSignatureRequest",
        "summary": "Close a signature request",
        "tags": [
          "Signature Requests"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/one-call": {
      "post": {
        "operationId": "createSignatureRequestOneCall",
        "summary": "Create signature request in one call",
        "tags": [
          "Signature Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureRequestOneCallInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}/documents": {
      "post": {
        "operationId": "createDocument",
        "summary": "Initialize a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Document initialized"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}/documents/{documentId}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get document information",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document info"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateDocument",
        "summary": "Update document information",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeDocument",
        "summary": "Remove a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document removed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}/documents/{documentId}/content/file": {
      "post": {
        "operationId": "provideDocumentContentFile",
        "summary": "Provide document content (file/PDF)",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content provided"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}/documents/{documentId}/content/json": {
      "post": {
        "operationId": "provideDocumentContentJson",
        "summary": "Provide document content (JSON data)",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content provided"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signature-requests/{signatureRequestId}/documents/{documentId}/download": {
      "get": {
        "operationId": "downloadOriginalDocument",
        "summary": "Download original document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signer-profiles/{profileId}": {
      "get": {
        "operationId": "getSignerProfile",
        "summary": "Get a signer profile",
        "tags": [
          "Signer Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer profile"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/applications/{appId}/signer-profiles": {
      "get": {
        "operationId": "listSignerProfiles",
        "summary": "List signer profiles",
        "tags": [
          "Signer Profiles"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signer profiles list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/signer-profiles/{profileId}/input-constraints": {
      "get": {
        "operationId": "getSignerInputConstraints",
        "summary": "Get signer input constraints",
        "tags": [
          "Signer Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Input constraints"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/seal/sign-m2m": {
      "post": {
        "operationId": "signM2M",
        "summary": "Sign a document using M2M process",
        "tags": [
          "Seal"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document signed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bare-signature/proof-token": {
      "get": {
        "operationId": "getBareSignatureProofToken",
        "summary": "Get bare signature proof token",
        "tags": [
          "Bare Signature"
        ],
        "responses": {
          "200": {
            "description": "Proof token"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bare-signature/proofs": {
      "get": {
        "operationId": "getBareSignatureProofs",
        "summary": "Get bare signature proofs",
        "tags": [
          "Bare Signature"
        ],
        "responses": {
          "200": {
            "description": "Proofs"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bare-signature/configuration": {
      "get": {
        "operationId": "getBareSignatureConfig",
        "summary": "Get bare signature configuration",
        "tags": [
          "Bare Signature"
        ],
        "responses": {
          "200": {
            "description": "Configuration"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhooks list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "API is healthy"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApplicationContext": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          }
        }
      },
      "Signer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "SignerInput": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "InviteUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "SignatureRequestInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SignatureRequestOneCallInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "signers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from IgniSign dashboard"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}