{
  "openapi": "3.0.3",
  "info": {
    "title": "MoEngage API",
    "version": "1.0.0",
    "description": "MoEngage is a full-stack customer engagement platform. The API allows managing users (customers), user attributes, events, campaigns, segments, and push/email/SMS notifications.",
    "x-jentic-source-url": "https://developers.moengage.com/hc/en-us/articles/4404674776724-Overview",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-01.moengage.com/v1",
      "description": "Production (Data Center 01)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/customer": {
      "post": {
        "operationId": "createOrUpdateCustomer",
        "tags": [
          "Users"
        ],
        "summary": "Create or update a customer (user)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create or update a customer (user)"
      }
    },
    "/event": {
      "post": {
        "operationId": "trackEvent",
        "tags": [
          "Events"
        ],
        "summary": "Track a custom event for a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Track a custom event for a user"
      }
    },
    "/delete_user": {
      "post": {
        "operationId": "deleteUser",
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a user"
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "push",
                "email",
                "sms",
                "in-app",
                "whatsapp"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List campaigns"
      }
    },
    "/campaigns/{campaignId}/stats": {
      "get": {
        "operationId": "getCampaignStats",
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign statistics",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignStats"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign statistics"
      }
    },
    "/segments": {
      "get": {
        "operationId": "listSegments",
        "tags": [
          "Segments"
        ],
        "summary": "List segments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List segments"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth with your MoEngage App ID as username and API key as password"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "CustomerAttributes": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "user_attribute_bool_1": {
            "type": "boolean"
          },
          "user_attribute_str_1": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "CustomerRequest": {
        "type": "object",
        "required": [
          "type",
          "customer_id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "customer"
          },
          "customer_id": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/CustomerAttributes"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          }
        }
      },
      "EventAttributes": {
        "type": "object",
        "additionalProperties": true
      },
      "EventRequest": {
        "type": "object",
        "required": [
          "type",
          "customer_id",
          "device_id",
          "actions"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "event"
          },
          "customer_id": {
            "type": "string"
          },
          "device_id": {
            "type": "string"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "action",
                "attributes",
                "platform",
                "app_version",
                "created_time"
              ],
              "properties": {
                "action": {
                  "type": "string"
                },
                "attributes": {
                  "$ref": "#/components/schemas/EventAttributes"
                },
                "platform": {
                  "type": "string"
                },
                "app_version": {
                  "type": "string"
                },
                "created_time": {
                  "type": "string",
                  "format": "date-time"
                },
                "current_time": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "DeleteUserRequest": {
        "type": "object",
        "required": [
          "customer_id"
        ],
        "properties": {
          "customer_id": {
            "type": "string"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignList": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        }
      },
      "CampaignStats": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sent": {
            "type": "integer"
          },
          "delivered": {
            "type": "integer"
          },
          "opened": {
            "type": "integer"
          },
          "clicked": {
            "type": "integer"
          },
          "conversions": {
            "type": "integer"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "user_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SegmentList": {
        "type": "object",
        "properties": {
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Campaigns",
      "description": "Operations related to Campaigns"
    },
    {
      "name": "Events",
      "description": "Operations related to Events"
    },
    {
      "name": "Segments",
      "description": "Operations related to Segments"
    },
    {
      "name": "Users",
      "description": "Operations related to Users"
    }
  ]
}
