{
  "openapi": "3.0.3",
  "info": {
    "title": "Access Approval API",
    "version": "v1",
    "description": "An API for controlling access to data by Google personnel.",
    "x-jentic-source-url": "https://www.googleapis.com/discovery/v1/apis/accessapproval/v1/rest",
    "x-documentation-url": "https://cloud.google.com/assured-workloads/access-approval/docs"
  },
  "servers": [
    {
      "url": "https://accessapproval.googleapis.com"
    }
  ],
  "paths": {
    "/v1/projects/{projectsId}/accessApprovalSettings": {
      "get": {
        "operationId": "getProjectsGetAccessApprovalSettings",
        "summary": "Gets the Access Approval settings associated with a project, folder, or organization.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "patchProjectsUpdateAccessApprovalSettings",
        "summary": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessApprovalSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteProjectsDeleteAccessApprovalSettings",
        "summary": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the resource. Access Approval may remain active based on parent reso",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the AccessApprovalSettings to delete.",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectsId}/serviceAccount": {
      "get": {
        "operationId": "getProjectsGetServiceAccount",
        "summary": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the AccessApprovalServiceAccount to retrieve.",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/serviceAccount$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalServiceAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectsId}/approvalRequests": {
      "get": {
        "operationId": "getProjectsApprovalRequestsList",
        "summary": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying the page of results to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApprovalRequestsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}": {
      "get": {
        "operationId": "getProjectsApprovalRequestsGet",
        "summary": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve": {
      "post": {
        "operationId": "postProjectsApprovalRequestsApprove",
        "summary": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the approval request to approve.",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss": {
      "post": {
        "operationId": "postProjectsApprovalRequestsDismiss",
        "summary": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: When a request is dismissed, it is considered ignored. Dismissing a request does not prevent access granted by other Access Approval req",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the ApprovalRequest to dismiss.",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DismissApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:invalidate": {
      "post": {
        "operationId": "postProjectsApprovalRequestsInvalidate",
        "summary": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This action revokes Google access based on this approval request. If the resource has other active approvals, access",
        "tags": [
          "projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the ApprovalRequest to invalidate.",
            "schema": {
              "type": "string",
              "pattern": "^projects/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/folders/{foldersId}/accessApprovalSettings": {
      "get": {
        "operationId": "getFoldersGetAccessApprovalSettings",
        "summary": "Gets the Access Approval settings associated with a project, folder, or organization.",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/accessApprovalSettings$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "patchFoldersUpdateAccessApprovalSettings",
        "summary": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/accessApprovalSettings$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessApprovalSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteFoldersDeleteAccessApprovalSettings",
        "summary": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the resource. Access Approval may remain active based on parent reso",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the AccessApprovalSettings to delete.",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/accessApprovalSettings$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/folders/{foldersId}/serviceAccount": {
      "get": {
        "operationId": "getFoldersGetServiceAccount",
        "summary": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the AccessApprovalServiceAccount to retrieve.",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/serviceAccount$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalServiceAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/folders/{foldersId}/approvalRequests": {
      "get": {
        "operationId": "getFoldersApprovalRequestsList",
        "summary": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+$"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying the page of results to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApprovalRequestsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}": {
      "get": {
        "operationId": "getFoldersApprovalRequestsGet",
        "summary": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve": {
      "post": {
        "operationId": "postFoldersApprovalRequestsApprove",
        "summary": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the approval request to approve.",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss": {
      "post": {
        "operationId": "postFoldersApprovalRequestsDismiss",
        "summary": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: When a request is dismissed, it is considered ignored. Dismissing a request does not prevent access granted by other Access Approval req",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the ApprovalRequest to dismiss.",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DismissApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:invalidate": {
      "post": {
        "operationId": "postFoldersApprovalRequestsInvalidate",
        "summary": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This action revokes Google access based on this approval request. If the resource has other active approvals, access",
        "tags": [
          "folders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the ApprovalRequest to invalidate.",
            "schema": {
              "type": "string",
              "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/organizations/{organizationsId}/accessApprovalSettings": {
      "get": {
        "operationId": "getOrganizationsGetAccessApprovalSettings",
        "summary": "Gets the Access Approval settings associated with a project, folder, or organization.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "patchOrganizationsUpdateAccessApprovalSettings",
        "summary": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessApprovalSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteOrganizationsDeleteAccessApprovalSettings",
        "summary": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the resource. Access Approval may remain active based on parent reso",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the AccessApprovalSettings to delete.",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/organizations/{organizationsId}/serviceAccount": {
      "get": {
        "operationId": "getOrganizationsGetServiceAccount",
        "summary": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the AccessApprovalServiceAccount to retrieve.",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/serviceAccount$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalServiceAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/organizations/{organizationsId}/approvalRequests": {
      "get": {
        "operationId": "getOrganizationsApprovalRequestsList",
        "summary": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying the page of results to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApprovalRequestsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}": {
      "get": {
        "operationId": "getOrganizationsApprovalRequestsGet",
        "summary": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve": {
      "post": {
        "operationId": "postOrganizationsApprovalRequestsApprove",
        "summary": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the approval request to approve.",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss": {
      "post": {
        "operationId": "postOrganizationsApprovalRequestsDismiss",
        "summary": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: When a request is dismissed, it is considered ignored. Dismissing a request does not prevent access granted by other Access Approval req",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the ApprovalRequest to dismiss.",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DismissApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:invalidate": {
      "post": {
        "operationId": "postOrganizationsApprovalRequestsInvalidate",
        "summary": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This action revokes Google access based on this approval request. If the resource has other active approvals, access",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name of the ApprovalRequest to invalidate.",
            "schema": {
              "type": "string",
              "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateApprovalRequestMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ListApprovalRequestsResponse": {
        "type": "object",
        "description": "Response to listing of ApprovalRequest objects.",
        "properties": {
          "approvalRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApprovalRequest"
            },
            "description": "Approval request details."
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token to retrieve the next page of results, or empty if there are no more."
          }
        }
      },
      "ApprovalRequest": {
        "type": "object",
        "description": "A request for the customer to approve access to a resource.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"."
          },
          "requestedResourceName": {
            "type": "string",
            "description": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification."
          },
          "requestedAugmentedInfo": {
            "$ref": "#/components/schemas/AugmentedInfo"
          },
          "requestedResourceProperties": {
            "$ref": "#/components/schemas/ResourceProperties"
          },
          "requestedReason": {
            "$ref": "#/components/schemas/AccessReason"
          },
          "requestedLocations": {
            "$ref": "#/components/schemas/AccessLocations"
          },
          "requestTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which approval was requested."
          },
          "requestedExpiration": {
            "type": "string",
            "format": "date-time",
            "description": "The original requested expiration for the approval. Calculated by adding the requested_duration to the request_time."
          },
          "requestedDuration": {
            "type": "string",
            "description": "The requested access duration."
          },
          "approve": {
            "$ref": "#/components/schemas/ApproveDecision"
          },
          "dismiss": {
            "$ref": "#/components/schemas/DismissDecision"
          }
        }
      },
      "AugmentedInfo": {
        "type": "object",
        "description": "This field contains the augmented information of the request. Requires augmented administrative access to be enabled.",
        "properties": {
          "command": {
            "type": "string",
            "description": "For command-line tools, the full command-line exactly as entered by the actor without adding any additional characters (such as quotation marks)."
          }
        }
      },
      "ResourceProperties": {
        "type": "object",
        "description": "The properties associated with the resource of the request.",
        "properties": {
          "excludesDescendants": {
            "type": "boolean",
            "description": "Whether an approval will exclude the descendants of the resource being requested."
          }
        }
      },
      "AccessReason": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of access reason.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_SERVICE",
              "GOOGLE_INITIATED_REVIEW",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
              "CLOUD_INITIATED_ACCESS"
            ]
          },
          "detail": {
            "type": "string",
            "description": "More detail about certain reason types. See comments for each type above."
          }
        }
      },
      "AccessLocations": {
        "type": "object",
        "description": "Physical assigned office and physical location of the Google administrator performing the access.",
        "properties": {
          "principalOfficeCountry": {
            "type": "string",
            "description": "The \"home office\" location of the Google administrator. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
          },
          "principalPhysicalLocationCountry": {
            "type": "string",
            "description": "Physical location of the Google administrator at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
          }
        }
      },
      "ApproveDecision": {
        "type": "object",
        "description": "A decision that has been made to approve access to a resource.",
        "properties": {
          "approveTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which approval was granted."
          },
          "expireTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which the approval expires."
          },
          "invalidateTime": {
            "type": "string",
            "format": "date-time",
            "description": "If set, denotes the timestamp at which the approval is invalidated."
          },
          "signatureInfo": {
            "$ref": "#/components/schemas/SignatureInfo"
          },
          "autoApproved": {
            "type": "boolean",
            "description": "True when the request has been auto-approved."
          },
          "policyApproved": {
            "type": "boolean",
            "description": "True when the request has been approved by the customer's defined policy."
          }
        }
      },
      "SignatureInfo": {
        "type": "object",
        "description": "Information about the digital signature of the resource.",
        "properties": {
          "signature": {
            "type": "string",
            "format": "byte",
            "description": "The digital signature."
          },
          "googlePublicKeyPem": {
            "type": "string",
            "description": "The public key for the Google default signing, encoded in PEM format. The signature was created using a private key which may be verified using this public key."
          },
          "customerKmsKeyVersion": {
            "type": "string",
            "description": "The resource name of the customer CryptoKeyVersion used for signing."
          },
          "googleKeyAlgorithm": {
            "type": "string",
            "description": "The hashing algorithm used for signature verification. It will only be present in the case of Google managed keys.",
            "enum": [
              "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED",
              "GOOGLE_SYMMETRIC_ENCRYPTION",
              "AES_128_GCM",
              "AES_256_GCM",
              "AES_128_CBC",
              "AES_256_CBC",
              "AES_128_CTR",
              "AES_256_CTR",
              "RSA_SIGN_PSS_2048_SHA256",
              "RSA_SIGN_PSS_3072_SHA256",
              "RSA_SIGN_PSS_4096_SHA256",
              "RSA_SIGN_PSS_4096_SHA512",
              "RSA_SIGN_PKCS1_2048_SHA256",
              "RSA_SIGN_PKCS1_3072_SHA256",
              "RSA_SIGN_PKCS1_4096_SHA256",
              "RSA_SIGN_PKCS1_4096_SHA512",
              "RSA_SIGN_RAW_PKCS1_2048",
              "RSA_SIGN_RAW_PKCS1_3072",
              "RSA_SIGN_RAW_PKCS1_4096",
              "RSA_DECRYPT_OAEP_2048_SHA256",
              "RSA_DECRYPT_OAEP_3072_SHA256",
              "RSA_DECRYPT_OAEP_4096_SHA256",
              "RSA_DECRYPT_OAEP_4096_SHA512",
              "RSA_DECRYPT_OAEP_2048_SHA1",
              "RSA_DECRYPT_OAEP_3072_SHA1",
              "RSA_DECRYPT_OAEP_4096_SHA1",
              "EC_SIGN_P256_SHA256",
              "EC_SIGN_P384_SHA384",
              "EC_SIGN_SECP256K1_SHA256",
              "EC_SIGN_ED25519",
              "HMAC_SHA256",
              "HMAC_SHA1",
              "HMAC_SHA384",
              "HMAC_SHA512",
              "HMAC_SHA224",
              "EXTERNAL_SYMMETRIC_ENCRYPTION",
              "ML_KEM_768",
              "ML_KEM_1024",
              "KEM_XWING",
              "PQ_SIGN_ML_DSA_44",
              "PQ_SIGN_ML_DSA_65",
              "PQ_SIGN_ML_DSA_87",
              "PQ_SIGN_SLH_DSA_SHA2_128S",
              "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256",
              "PQ_SIGN_ML_DSA_44_EXTERNAL_MU",
              "PQ_SIGN_ML_DSA_65_EXTERNAL_MU",
              "PQ_SIGN_ML_DSA_87_EXTERNAL_MU"
            ]
          },
          "serializedApprovalRequest": {
            "type": "string",
            "format": "byte",
            "description": "The ApprovalRequest that is serialized without the SignatureInfo message field. This data is used with the hashing algorithm to generate the digital signature, and it can be used for signature verification."
          }
        }
      },
      "DismissDecision": {
        "type": "object",
        "description": "A decision that has been made to dismiss an approval request.",
        "properties": {
          "dismissTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time at which the approval request was dismissed."
          },
          "implicit": {
            "type": "boolean",
            "description": "This field will be true if the ApprovalRequest was implicitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time)."
          }
        }
      },
      "ApproveApprovalRequestMessage": {
        "type": "object",
        "description": "Request to approve an ApprovalRequest.",
        "properties": {
          "expireTime": {
            "type": "string",
            "format": "date-time",
            "description": "The expiration time of this approval."
          }
        }
      },
      "DismissApprovalRequestMessage": {
        "type": "object",
        "description": "Request to dismiss an approval request.",
        "properties": {}
      },
      "InvalidateApprovalRequestMessage": {
        "type": "object",
        "description": "Request to invalidate an existing approval.",
        "properties": {}
      },
      "AccessApprovalSettings": {
        "type": "object",
        "description": "Settings on a Project/Folder/Organization related to Access Approval.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
          },
          "notificationEmails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed."
          },
          "enrolledServices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnrolledService"
            },
            "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded."
          },
          "enrolledAncestor": {
            "type": "boolean",
            "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors)."
          },
          "activeKeyVersion": {
            "type": "string",
            "description": "The asymmetric crypto key version to use for signing approval requests. Empty active_key_version indicates that a Google-managed key should be used for signing. This property will be ignored if set by an ancestor of this resource, and new non-empty values may not be set."
          },
          "ancestorHasActiveKeyVersion": {
            "type": "boolean",
            "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that an ancestor of this Project or Folder has set active_key_version (this field will always be unset for the organization since organizations do not have ancestors)."
          },
          "invalidKeyVersion": {
            "type": "boolean",
            "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that there is some configuration issue with the active_key_version configured at this level in the resource hierarchy (e.g. it doesn't exist or the Access Approval service account doesn't have the correct permissions on it, etc.) This key version is not necessarily the effective key version at this level, as key versions are inherited top-down."
          },
          "preferredRequestExpirationDays": {
            "type": "integer",
            "format": "int32",
            "description": "Set the default access approval request expiration time. This value is able to be set directly by the customer at the time of approval, overriding this suggested value. We recommend setting this value to 30 days."
          },
          "preferNoBroadApprovalRequests": {
            "type": "boolean",
            "description": "This field is used to set a preference for granularity of an access approval request. If true, Google personnel will be asked to send resource-level requests when possible. If false, Google personnel will be asked to send requests at the project level."
          },
          "notificationPubsubTopic": {
            "type": "string",
            "description": "Optional. A pubsub topic that notifications relating to access approval are published to. Notifications include pre-approved accesses."
          },
          "requireCustomerVisibleJustification": {
            "type": "boolean",
            "description": "Optional. When enabled, Google will only be able to send approval requests for access reasons with a customer accessible case ID in the reason detail. Also known as \"Require customer initiated support case justification\""
          },
          "requestScopeMaxWidthPreference": {
            "type": "string",
            "description": "Optional. A setting that indicates the maximum scope of an Access Approval request: either organization, folder, or project. Google administrators will be asked to send requests no broader than the configured scope.",
            "enum": [
              "REQUEST_SCOPE_MAX_WIDTH_PREFERENCE_UNSPECIFIED",
              "ORGANIZATION",
              "FOLDER",
              "PROJECT"
            ]
          },
          "approvalPolicy": {
            "$ref": "#/components/schemas/CustomerApprovalApprovalPolicy"
          },
          "effectiveApprovalPolicy": {
            "$ref": "#/components/schemas/CustomerApprovalApprovalPolicy"
          },
          "ancestorsEnrolledServices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnrolledService"
            },
            "description": "Output only. Field to differentiate ancestor enrolled services from locally enrolled services."
          }
        }
      },
      "EnrolledService": {
        "type": "object",
        "description": "Represents the enrollment of a cloud resource into a specific service.",
        "properties": {
          "cloudProduct": {
            "type": "string",
            "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * GA * Access Context Manager * Anthos Identity Service * AlloyDB for PostgreSQL * Apigee * Application Integration * App Hub * Artifact Registry * Anthos Service Mesh * Access Transparency * BigQuery * Certificate Authority Service * Cloud Bigtable * CCAI Assist and Knowledge * Cloud Dataflow * Cloud Dataproc * CEP Security Gateway * Compliance Evaluation Service * Cloud Firestore * Cloud Healthcare API * Chronicle * Cloud AI Companion Gateway - Titan * Google Cloud Armor * Cloud Asset Inventory * Cloud Asset Search * Cloud Deploy * Cloud DNS * Cloud Latency * Cloud Memorystore for Redis * CloudNet Control * Cloud Riptide * Cloud Tasks * Cloud Trace * Cloud Data Transfer * Cloud Composer * Integration Connectors * Contact Center AI Insights * Cloud Pub/Sub * Cloud Run * Resource Manager * Cloud Spanner * Database Center * Cloud Dataform * Cloud Data Fusion * Dataplex * Dialogflow Customer Experience Edition * Cloud DLP * Document AI * Edge Container * Edge Network * Cloud EKM * Eventarc * Firebase Data Connect * Firebase Rules * App Engine * Cloud Build * Compute Engine * Cloud Functions (2nd Gen) * Cloud Filestore * Cloud Interconnect * Cloud NetApp Volumes * Cloud Storage * Generative AI App Builder * Google Kubernetes Engine * Backup for GKE API * GKE Connect * GKE Hub * Hoverboard * Cloud HSM * Cloud Identity and Access Management * Cloud Identity-Aware Proxy * Infrastructure Manager * Identity Storage Service * Key Access Justifications * Cloud Key Management Service * Cloud Logging * Looker (Google Cloud core) * Looker Studio * Management Hub * Model Armor * Cloud Monitoring * Cloud NAT * Connectivity Hub * External passthrough Network Load Balancer * OIDC One * Organization Policy Service * Org Lifecycle * Persistent Disk * Parameter Manager * Private Services Access * Regional Internal Application Load Balancer * Storage Batch Operations * Cloud Security Command Center * Secure Source Manager * Seeker * Service Provisioning * Speaker ID * Secret Manager * Cloud SQL * Cloud Speech-to-Text * Traffic Director * Cloud Text-to-Speech * USPS Andromeda * Vertex AI * Virtual Private Cloud (VPC) * VPC Access * VPC Service Controls Troubleshooter * VPC virtnet * Cloud Workstations * Web Risk Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * ga-only * appengine.googleapis.com * artifactregistry.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * container.googleapis.com * cloudkms.googleapis.com * cloudresourcemanager.googleapis.com * cloudsql.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * dataproc.googleapis.com * dlp.googleapis.com * iam.googleapis.com * logging.googleapis.com * orgpolicy.googleapis.com * pubsub.googleapis.com * spanner.googleapis.com * secretmanager.googleapis.com * speakerid.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services"
          },
          "enrollmentLevel": {
            "type": "string",
            "description": "The enrollment level of the service.",
            "enum": [
              "ENROLLMENT_LEVEL_UNSPECIFIED",
              "BLOCK_ALL"
            ]
          }
        }
      },
      "CustomerApprovalApprovalPolicy": {
        "type": "object",
        "description": "Represents all the policies that can be set for Customer Approval.",
        "properties": {
          "justificationBasedApprovalPolicy": {
            "type": "string",
            "description": "Optional. Policy for approval based on the justification given.",
            "enum": [
              "JUSTIFICATION_BASED_APPROVAL_POLICY_UNSPECIFIED",
              "JUSTIFICATION_BASED_APPROVAL_ENABLED_ALL",
              "JUSTIFICATION_BASED_APPROVAL_ENABLED_EXTERNAL_JUSTIFICATIONS",
              "JUSTIFICATION_BASED_APPROVAL_NOT_ENABLED",
              "JUSTIFICATION_BASED_APPROVAL_INHERITED"
            ]
          }
        }
      },
      "Empty": {
        "type": "object",
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "properties": {}
      },
      "AccessApprovalServiceAccount": {
        "type": "object",
        "description": "Access Approval service account related to a project/folder/organization.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The resource name of the Access Approval service account. Format is one of: * \"projects/{project}/serviceAccount\" * \"folders/{folder}/serviceAccount\" * \"organizations/{organization}/serviceAccount\""
          },
          "accountEmail": {
            "type": "string",
            "description": "Email address of the service account."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "folders"
    },
    {
      "name": "organizations"
    },
    {
      "name": "projects"
    }
  ]
}