{
  "openapi": "3.0.3",
  "info": {
    "title": "Accelerated Mobile Pages (AMP) URL API",
    "version": "v1",
    "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). ",
    "x-jentic-source-url": "https://www.googleapis.com/discovery/v1/apis/acceleratedmobilepageurl/v1/rest",
    "x-documentation-url": "https://developers.google.com/amp/cache/"
  },
  "servers": [
    {
      "url": "https://acceleratedmobilepageurl.googleapis.com"
    }
  ],
  "paths": {
    "/v1/ampUrls:batchGet": {
      "post": {
        "operationId": "postAmpUrlsBatchGet",
        "summary": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
        "tags": [
          "ampUrls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGetAmpUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetAmpUrlsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchGetAmpUrlsRequest": {
        "type": "object",
        "description": "AMP URL request for a batch of URLs.",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits))."
          },
          "lookupStrategy": {
            "type": "string",
            "description": "The lookup_strategy being requested.",
            "enum": [
              "FETCH_LIVE_DOC",
              "IN_INDEX_DOC"
            ]
          }
        }
      },
      "BatchGetAmpUrlsResponse": {
        "type": "object",
        "description": "Batch AMP URL response.",
        "properties": {
          "ampUrls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmpUrl"
            },
            "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once."
          },
          "urlErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmpUrlError"
            },
            "description": "The errors for requested URLs that have no AMP URL."
          }
        }
      },
      "AmpUrl": {
        "type": "object",
        "description": "AMP URL response for a requested URL.",
        "properties": {
          "originalUrl": {
            "type": "string",
            "description": "The original non-AMP URL."
          },
          "ampUrl": {
            "type": "string",
            "description": "The AMP URL pointing to the publisher's web server."
          },
          "cdnAmpUrl": {
            "type": "string",
            "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache."
          }
        }
      },
      "AmpUrlError": {
        "type": "object",
        "description": "AMP URL Error resource for a requested URL that couldn't be found.",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "The error code of an API call.",
            "enum": [
              "ERROR_CODE_UNSPECIFIED",
              "INPUT_URL_NOT_FOUND",
              "NO_AMP_URL",
              "APPLICATION_ERROR",
              "URL_IS_VALID_AMP",
              "URL_IS_INVALID_AMP"
            ]
          },
          "errorMessage": {
            "type": "string",
            "description": "An optional descriptive error message."
          },
          "originalUrl": {
            "type": "string",
            "description": "The original non-AMP URL."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "ampUrls"
    }
  ]
}