{
  "openapi": "3.0.3",
  "info": {
    "title": "Omise API",
    "version": "2019-05-29",
    "description": "Omise payment gateway API supporting charges, customers, refunds, tokens, transfers, and various payment methods including PromptPay, credit cards, and internet banking for Thailand and Southeast Asia.",
    "x-jentic-source-url": "https://www.omise.co/docs"
  },
  "servers": [{"url": "https://api.omise.co"}],
  "paths": {
    "/charges": {
      "get": {
        "operationId": "listCharges", "summary": "List all charges", "tags": ["Charges"],
        "parameters": [
          {"name": "from", "in": "query", "schema": {"type": "string", "format": "date-time"}},
          {"name": "to", "in": "query", "schema": {"type": "string", "format": "date-time"}},
          {"name": "limit", "in": "query", "schema": {"type": "integer", "default": 20, "maximum": 100}},
          {"name": "offset", "in": "query", "schema": {"type": "integer"}},
          {"name": "order", "in": "query", "schema": {"type": "string", "enum": ["chronological", "reverse_chronological"]}}
        ],
        "responses": {
          "200": {"description": "List of charges", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChargeList"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createCharge", "summary": "Create a charge", "tags": ["Charges"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChargeRequest"}}}},
        "responses": {
          "200": {"description": "Charge created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/charges/{id}": {
      "get": {
        "operationId": "getCharge", "summary": "Retrieve a charge", "tags": ["Charges"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Charge details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "patch": {
        "operationId": "updateCharge", "summary": "Update a charge", "tags": ["Charges"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"description": {"type": "string"}, "metadata": {"type": "object"}}}}}},
        "responses": {
          "200": {"description": "Charge updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/charges/{id}/capture": {
      "post": {
        "operationId": "captureCharge", "summary": "Capture a charge", "tags": ["Charges"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"capture_amount": {"type": "integer"}}}}}},
        "responses": {
          "200": {"description": "Charge captured", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/charges/{id}/reverse": {
      "post": {
        "operationId": "reverseCharge", "summary": "Reverse a charge", "tags": ["Charges"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Charge reversed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/charges/{id}/expire": {
      "post": {
        "operationId": "expireCharge", "summary": "Expire a pending charge", "tags": ["Charges"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Charge expired", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/links/{id}/charges": {
      "get": {
        "operationId": "listLinkCharges", "summary": "List charges for a link", "tags": ["Charges"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "List of charges", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChargeList"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Charge": {
        "type": "object",
        "properties": {
          "object": {"type": "string", "enum": ["charge"]},
          "id": {"type": "string"},
          "amount": {"type": "integer"},
          "currency": {"type": "string"},
          "status": {"type": "string", "enum": ["pending", "successful", "failed", "expired", "reversed"]},
          "capture": {"type": "boolean"},
          "authorized": {"type": "boolean"},
          "paid": {"type": "boolean"},
          "description": {"type": "string"},
          "source": {"type": "object"},
          "return_uri": {"type": "string"},
          "authorize_uri": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"},
          "metadata": {"type": "object"}
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": ["amount", "currency"],
        "properties": {
          "amount": {"type": "integer", "description": "Amount in smallest currency unit"},
          "currency": {"type": "string"},
          "card": {"type": "string"},
          "customer": {"type": "string"},
          "source": {"type": "string"},
          "description": {"type": "string"},
          "capture": {"type": "boolean", "default": true},
          "return_uri": {"type": "string"},
          "metadata": {"type": "object"},
          "ip": {"type": "string"}
        }
      },
      "ChargeList": {
        "type": "object",
        "properties": {
          "object": {"type": "string", "enum": ["list"]},
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Charge"}},
          "total": {"type": "integer"},
          "offset": {"type": "integer"},
          "limit": {"type": "integer"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "object": {"type": "string", "enum": ["error"]},
          "location": {"type": "string"},
          "code": {"type": "string"},
          "message": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use secret key as username with empty password"
      }
    }
  },
  "security": [{"basicAuth": []}]
}
