{
  "openapi": "3.0.3",
  "info": {
    "title": "PropEco API",
    "version": "1.0.0",
    "description": "PropEco API provides property-level environmental risk data including flood risk, subsidence risk, and other environmental hazards for UK properties.",
    "x-jentic-source-url": "https://docs.propeco.io/api-reference/flood-risk/"
  },
  "servers": [
    {
      "url": "https://api.propeco.io/v1"
    }
  ],
  "paths": {
    "/flood-risk": {
      "get": {
        "operationId": "getFloodRisk",
        "summary": "Get flood risk assessment",
        "description": "Returns flood risk data for a given location or postcode",
        "tags": [
          "Flood Risk"
        ],
        "parameters": [
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "UK postcode"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "uprn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Unique Property Reference Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Flood risk data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloodRiskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flood-risk/batch": {
      "post": {
        "operationId": "batchFloodRisk",
        "summary": "Batch flood risk assessment",
        "description": "Returns flood risk data for multiple locations",
        "tags": [
          "Flood Risk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "postcode": {
                          "type": "string"
                        },
                        "uprn": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FloodRiskResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FloodRiskResponse": {
        "type": "object",
        "properties": {
          "location": {
            "type": "object",
            "properties": {
              "postcode": {
                "type": "string"
              },
              "lat": {
                "type": "number"
              },
              "lng": {
                "type": "number"
              },
              "uprn": {
                "type": "string"
              }
            }
          },
          "flood_risk": {
            "type": "object",
            "properties": {
              "overall_risk": {
                "type": "string",
                "enum": [
                  "very_low",
                  "low",
                  "medium",
                  "high"
                ]
              },
              "river_and_sea": {
                "type": "object",
                "properties": {
                  "risk_level": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "surface_water": {
                "type": "object",
                "properties": {
                  "risk_level": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "groundwater": {
                "type": "object",
                "properties": {
                  "risk_level": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "reservoir": {
                "type": "object",
                "properties": {
                  "risk_level": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}