{
  "openapi": "3.0.3",
  "info": {
    "title": "pCloud API",
    "version": "1.0.0",
    "description": "API for managing files, folders, sharing, and user accounts on the pCloud cloud storage platform.",
    "x-jentic-source-url": "https://docs.pcloud.com/"
  },
  "servers": [
    {
      "url": "https://api.pcloud.com",
      "description": "US data center"
    },
    {
      "url": "https://eapi.pcloud.com",
      "description": "EU data center"
    }
  ],
  "paths": {
    "/userinfo": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get current user info",
        "description": "Returns information about the current user. Can be used for logging in with minimal overhead.",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (error 1000)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getdigest": {
      "get": {
        "operationId": "getDigest",
        "summary": "Get authentication digest",
        "description": "Returns a digest for digest authentication. Digests are valid for 30 seconds.",
        "tags": [
          "General"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Digest token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/listfolder": {
      "get": {
        "operationId": "listFolder",
        "summary": "List folder contents",
        "description": "List the contents of a folder, including files and subfolders.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Path to the folder"
          },
          {
            "name": "folderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Folder identifier"
          },
          {
            "name": "recursive",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "If set, returns complete directory tree"
          },
          {
            "name": "showdeleted",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "If set, shows deleted files/folders"
          },
          {
            "name": "nofiles",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "If set, returns folder structure only"
          },
          {
            "name": "noshares",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "If set, shows only user's own folders"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder contents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/createfolder": {
      "get": {
        "operationId": "createFolder",
        "summary": "Create a folder",
        "description": "Create a new folder in the user's storage.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full directory path"
          },
          {
            "name": "folderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Parent folder ID"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "New folder name"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/renamefolder": {
      "get": {
        "operationId": "renameFolder",
        "summary": "Rename or move a folder",
        "description": "Rename a folder or move it to another location.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Folder identifier"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Folder path"
          },
          {
            "name": "topath",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination path"
          },
          {
            "name": "tofolderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Destination folder ID"
          },
          {
            "name": "toname",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "New folder name"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder renamed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deletefolder": {
      "get": {
        "operationId": "deleteFolder",
        "summary": "Delete a folder",
        "description": "Delete a folder. The folder must be empty.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Folder identifier"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Folder path"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uploadfile": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file",
        "description": "Upload one or more files to a specified folder.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination folder path"
          },
          {
            "name": "folderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Destination folder ID"
          },
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Name for the uploaded file"
          },
          {
            "name": "nopartial",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Prevent saving incomplete uploads"
          },
          {
            "name": "renameifexists",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Rename file if name conflict occurs"
          },
          {
            "name": "mtime",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for file modification time"
          },
          {
            "name": "ctime",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for creation time (requires mtime)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/downloadfile": {
      "post": {
        "operationId": "downloadFile",
        "summary": "Download a remote file to pCloud",
        "description": "Download files from remote URLs into pCloud storage.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URLs separated by whitespace to download"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination folder path"
          },
          {
            "name": "folderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Destination folder ID"
          },
          {
            "name": "target",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated desired filenames"
          }
        ],
        "responses": {
          "200": {
            "description": "Files downloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/copyfile": {
      "get": {
        "operationId": "copyFile",
        "summary": "Copy a file",
        "description": "Copy a file to another location within pCloud.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Source file ID"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Source file path"
          },
          {
            "name": "tofolderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Destination folder ID"
          },
          {
            "name": "toname",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination filename"
          },
          {
            "name": "topath",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination file path"
          },
          {
            "name": "noover",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Prevent overwriting existing files"
          }
        ],
        "responses": {
          "200": {
            "description": "File copied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/renamefile": {
      "get": {
        "operationId": "renameFile",
        "summary": "Rename or move a file",
        "description": "Rename a file or move it to another folder.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "File identifier"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "File path"
          },
          {
            "name": "topath",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination path"
          },
          {
            "name": "tofolderid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Destination folder ID"
          },
          {
            "name": "toname",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "New filename"
          }
        ],
        "responses": {
          "200": {
            "description": "File renamed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deletefile": {
      "get": {
        "operationId": "deleteFile",
        "summary": "Delete a file",
        "description": "Delete a file from pCloud storage.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "File identifier"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "File path"
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getfilelink": {
      "get": {
        "operationId": "getFileLink",
        "summary": "Get a download link for a file",
        "description": "Get a temporary download link for a file.",
        "tags": [
          "Streaming"
        ],
        "parameters": [
          {
            "name": "fileid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "File identifier"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "File path"
          },
          {
            "name": "forcedownload",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Serve with application/octet-stream content type"
          },
          {
            "name": "contenttype",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom Content-Type header"
          },
          {
            "name": "maxspeed",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Download speed limit in bytes/second"
          },
          {
            "name": "skipfilename",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Omit filename from generated link"
          }
        ],
        "responses": {
          "200": {
            "description": "Download link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getfilepublink": {
      "get": {
        "operationId": "getFilePublicLink",
        "summary": "Create a public link for a file",
        "description": "Create a public sharing link for a file.",
        "tags": [
          "Public Links"
        ],
        "parameters": [
          {
            "name": "fileid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "File identifier"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "File path"
          },
          {
            "name": "expire",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Link expiration time"
          },
          {
            "name": "maxdownloads",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Download limit"
          },
          {
            "name": "maxtraffic",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Traffic limit in bytes"
          },
          {
            "name": "shortlink",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Generate shortened URL"
          },
          {
            "name": "linkpassword",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Password protection"
          }
        ],
        "responses": {
          "200": {
            "description": "Public link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserInfoResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "userid": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "emailverified": {
            "type": "boolean"
          },
          "registered": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "premium": {
            "type": "boolean"
          },
          "usedquota": {
            "type": "integer"
          },
          "quota": {
            "type": "integer"
          },
          "premiumexpires": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DigestResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "digest": {
            "type": "string"
          },
          "expires": {
            "type": "string"
          }
        }
      },
      "FileMetadata": {
        "type": "object",
        "properties": {
          "fileid": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "parentfolderid": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "contenttype": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "icon": {
            "type": "string"
          },
          "isfolder": {
            "type": "boolean"
          },
          "ismine": {
            "type": "boolean"
          },
          "isshared": {
            "type": "boolean"
          },
          "thumb": {
            "type": "boolean"
          },
          "isdeleted": {
            "type": "boolean"
          }
        }
      },
      "FolderMetadata": {
        "type": "object",
        "properties": {
          "folderid": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "parentfolderid": {
            "type": "integer"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "isfolder": {
            "type": "boolean"
          },
          "ismine": {
            "type": "boolean"
          },
          "isshared": {
            "type": "boolean"
          },
          "icon": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "isdeleted": {
            "type": "boolean"
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileMetadata"
            }
          }
        }
      },
      "FolderListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "metadata": {
            "$ref": "#/components/schemas/FolderMetadata"
          }
        }
      },
      "FolderMetadataResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "metadata": {
            "$ref": "#/components/schemas/FolderMetadata"
          }
        }
      },
      "FileMetadataResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "metadata": {
            "$ref": "#/components/schemas/FileMetadata"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "fileids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileMetadata"
            }
          }
        }
      },
      "FileLinkResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "path": {
            "type": "string"
          },
          "expires": {
            "type": "string"
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PublicLinkResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "linkid": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "shortcode": {
            "type": "string"
          },
          "shortlink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "pCloud OAuth 2.0 authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://my.pcloud.com/oauth2/authorize",
            "tokenUrl": "https://api.pcloud.com/oauth2_token",
            "scopes": {}
          }
        }
      },
      "accessToken": {
        "type": "apiKey",
        "name": "access_token",
        "in": "query",
        "description": "OAuth access token passed as query parameter"
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "Copyfile"
    },
    {
      "name": "Createfolder"
    },
    {
      "name": "Deletefile"
    },
    {
      "name": "Deletefolder"
    },
    {
      "name": "Downloadfile"
    },
    {
      "name": "Getdigest"
    },
    {
      "name": "Getfilelink"
    },
    {
      "name": "Getfilepublink"
    },
    {
      "name": "Listfolder"
    },
    {
      "name": "Renamefile"
    },
    {
      "name": "Renamefolder"
    },
    {
      "name": "Uploadfile"
    },
    {
      "name": "Userinfo"
    }
  ]
}