{
  "openapi": "3.0.3",
  "info": {
    "title": "Habitatrichtlijn verspreiding van habitattypen WFS",
    "description": "Verspreiding en verspreidingsgebied van habitattypen in habitatrichtlijngebieden voor de periode 2007-2012",
    "contact": {
      "name": "PDOK",
      "url": "pdok.nl",
      "email": "info@pdok.nl"
    },
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dvh/habitatrichtlijnverspreidinghabitattypen/1.0"
  },
  "servers": [
    {
      "url": "http://pdok.nl/v1.0"
    }
  ],
  "paths": {
    "/verspreidingsgebiedpionierbegroeiingenoprotsbodem/": {
      "get": {
        "summary": "verspreidingsgebiedpionierbegroeiingenoprotsbodem collection call (overzicht).",
        "description": "verspreidingsgebiedpionierbegroeiingenoprotsbodem collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filteren op category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maptype",
            "in": "query",
            "description": "Filteren op maptype.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "description": "Filteren op area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "description": "Filteren op grid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Filteren op gap.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isocode",
            "in": "query",
            "description": "Filteren op isocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_leng",
            "in": "query",
            "description": "Filteren op shape_leng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_area",
            "in": "query",
            "description": "Filteren op shape_area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "biogr_code",
            "in": "query",
            "description": "Filteren op biogr_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_code",
            "in": "query",
            "description": "Filteren op hab_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_name",
            "in": "query",
            "description": "Filteren op hab_name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_common",
            "in": "query",
            "description": "Filteren op hab_common.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpionierbegroeiingenoprotsbodem/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingsgebiedpionierbegroeiingenoprotsbodem/{id}/": {
      "get": {
        "summary": "verspreidingsgebiedpionierbegroeiingenoprotsbodem resource call (detail).",
        "description": "verspreidingsgebiedpionierbegroeiingenoprotsbodem resource call (detail).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier van de resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38960375"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpionierbegroeiingenoprotsbodem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingzwakgebufferdevennen/": {
      "get": {
        "summary": "verspreidingzwakgebufferdevennen collection call (overzicht).",
        "description": "verspreidingzwakgebufferdevennen collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filteren op category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maptype",
            "in": "query",
            "description": "Filteren op maptype.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "description": "Filteren op area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "description": "Filteren op grid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Filteren op gap.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isocode",
            "in": "query",
            "description": "Filteren op isocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_leng",
            "in": "query",
            "description": "Filteren op shape_leng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_area",
            "in": "query",
            "description": "Filteren op shape_area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "biogr_code",
            "in": "query",
            "description": "Filteren op biogr_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_code",
            "in": "query",
            "description": "Filteren op hab_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_name",
            "in": "query",
            "description": "Filteren op hab_name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_common",
            "in": "query",
            "description": "Filteren op hab_common.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingzwakgebufferdevennen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingzwakgebufferdevennen/{id}/": {
      "get": {
        "summary": "verspreidingzwakgebufferdevennen resource call (detail).",
        "description": "verspreidingzwakgebufferdevennen resource call (detail).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier van de resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38960375"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingzwakgebufferdevennen"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingsgebiedslikkigerivieroevers/": {
      "get": {
        "summary": "verspreidingsgebiedslikkigerivieroevers collection call (overzicht).",
        "description": "verspreidingsgebiedslikkigerivieroevers collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filteren op category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maptype",
            "in": "query",
            "description": "Filteren op maptype.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "description": "Filteren op area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "description": "Filteren op grid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Filteren op gap.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isocode",
            "in": "query",
            "description": "Filteren op isocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_leng",
            "in": "query",
            "description": "Filteren op shape_leng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_area",
            "in": "query",
            "description": "Filteren op shape_area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "biogr_code",
            "in": "query",
            "description": "Filteren op biogr_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_code",
            "in": "query",
            "description": "Filteren op hab_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_name",
            "in": "query",
            "description": "Filteren op hab_name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_common",
            "in": "query",
            "description": "Filteren op hab_common.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedslikkigerivieroevers/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingsgebiedslikkigerivieroevers/{id}/": {
      "get": {
        "summary": "verspreidingsgebiedslikkigerivieroevers resource call (detail).",
        "description": "verspreidingsgebiedslikkigerivieroevers resource call (detail).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier van de resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38960375"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedslikkigerivieroevers"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingsgebiedruigtenenzomen/": {
      "get": {
        "summary": "verspreidingsgebiedruigtenenzomen collection call (overzicht).",
        "description": "verspreidingsgebiedruigtenenzomen collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filteren op category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maptype",
            "in": "query",
            "description": "Filteren op maptype.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "description": "Filteren op area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "description": "Filteren op grid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Filteren op gap.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isocode",
            "in": "query",
            "description": "Filteren op isocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_leng",
            "in": "query",
            "description": "Filteren op shape_leng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_area",
            "in": "query",
            "description": "Filteren op shape_area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "biogr_code",
            "in": "query",
            "description": "Filteren op biogr_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_code",
            "in": "query",
            "description": "Filteren op hab_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_name",
            "in": "query",
            "description": "Filteren op hab_name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_common",
            "in": "query",
            "description": "Filteren op hab_common.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedruigtenenzomen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingsgebiedruigtenenzomen/{id}/": {
      "get": {
        "summary": "verspreidingsgebiedruigtenenzomen resource call (detail).",
        "description": "verspreidingsgebiedruigtenenzomen resource call (detail).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier van de resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38960375"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedruigtenenzomen"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingslikenzandplaten/": {
      "get": {
        "summary": "verspreidingslikenzandplaten collection call (overzicht).",
        "description": "verspreidingslikenzandplaten collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filteren op category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maptype",
            "in": "query",
            "description": "Filteren op maptype.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "description": "Filteren op area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "description": "Filteren op grid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Filteren op gap.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isocode",
            "in": "query",
            "description": "Filteren op isocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_leng",
            "in": "query",
            "description": "Filteren op shape_leng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_area",
            "in": "query",
            "description": "Filteren op shape_area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "biogr_code",
            "in": "query",
            "description": "Filteren op biogr_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_code",
            "in": "query",
            "description": "Filteren op hab_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_name",
            "in": "query",
            "description": "Filteren op hab_name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_common",
            "in": "query",
            "description": "Filteren op hab_common.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingslikenzandplaten/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingslikenzandplaten/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingslikenzandplaten/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingslikenzandplaten/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingslikenzandplaten/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingslikenzandplaten/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingslikenzandplaten/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingslikenzandplaten/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingslikenzandplaten/{id}/": {
      "get": {
        "summary": "verspreidingslikenzandplaten resource call (detail).",
        "description": "verspreidingslikenzandplaten resource call (detail).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier van de resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38960375"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingslikenzandplaten"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingduindoornstruwelen/": {
      "get": {
        "summary": "verspreidingduindoornstruwelen collection call (overzicht).",
        "description": "verspreidingduindoornstruwelen collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filteren op category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maptype",
            "in": "query",
            "description": "Filteren op maptype.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "description": "Filteren op area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "description": "Filteren op grid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Filteren op gap.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isocode",
            "in": "query",
            "description": "Filteren op isocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_leng",
            "in": "query",
            "description": "Filteren op shape_leng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_area",
            "in": "query",
            "description": "Filteren op shape_area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "biogr_code",
            "in": "query",
            "description": "Filteren op biogr_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_code",
            "in": "query",
            "description": "Filteren op hab_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_name",
            "in": "query",
            "description": "Filteren op hab_name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_common",
            "in": "query",
            "description": "Filteren op hab_common.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingduindoornstruwelen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingduindoornstruwelen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingduindoornstruwelen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingduindoornstruwelen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingduindoornstruwelen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingduindoornstruwelen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingduindoornstruwelen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingduindoornstruwelen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingduindoornstruwelen/{id}/": {
      "get": {
        "summary": "verspreidingduindoornstruwelen resource call (detail).",
        "description": "verspreidingduindoornstruwelen resource call (detail).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier van de resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38960375"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingduindoornstruwelen"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/": {
      "get": {
        "summary": "verspreidingsgebiedpioniervegetatiesmetsnavelbiezen collection call (overzicht).",
        "description": "verspreidingsgebiedpioniervegetatiesmetsnavelbiezen collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filteren op category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maptype",
            "in": "query",
            "description": "Filteren op maptype.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "description": "Filteren op area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "description": "Filteren op grid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gap",
            "in": "query",
            "description": "Filteren op gap.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isocode",
            "in": "query",
            "description": "Filteren op isocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_leng",
            "in": "query",
            "description": "Filteren op shape_leng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shape_area",
            "in": "query",
            "description": "Filteren op shape_area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "biogr_code",
            "in": "query",
            "description": "Filteren op biogr_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_code",
            "in": "query",
            "description": "Filteren op hab_code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_name",
            "in": "query",
            "description": "Filteren op hab_name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hab_common",
            "in": "query",
            "description": "Filteren op hab_common.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar huidige pagina",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "Link naar volgende 100 resultaten",
                              "example": "/v1.0/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingsgebiedpioniervegetatiesmetsnavelbiezen/{id}/": {
      "get": {
        "summary": "verspreidingsgebiedpioniervegetatiesmetsnavelbiezen resource call (detail).",
        "description": "verspreidingsgebiedpioniervegetatiesmetsnavelbiezen resource call (detail).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier van de resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38960375"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                  }
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Verspreidingsgebiedpioniervegetatiesmetsnavelbiezen"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verspreidingdrogeheiden/": {
      "get": {
        "summary": "verspreidingdrogeheiden collection call (overzicht).",
        "description": "verspreidingdrogeheiden collection call (overzicht). Gepagineerd per 100 records.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Paginanummer voor paginering.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 2
          },
          {
            "name": "gml_parent_id",
            "in": "query",
            "description": "Filteren op gml_parent_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gml_id",
            "in": "query",
            "description": "Filteren op gml_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometryproperty",
            "in": "query",
            "description": "Filteren op geometryproperty.",
            "schema": {
[...]
