{
  "openapi": "3.0.3",
  "info": {
    "title": "TheTVDB API",
    "version": "4.7.10",
    "description": "TheTVDB API v4 provides access to TV, movie, and people data including artwork, episodes, seasons, series, and more.",
    "x-jentic-source-url": "https://thetvdb.github.io/v4-api/",
    "contact": {
      "name": "TheTVDB",
      "url": "https://thetvdb.com"
    }
  },
  "servers": [
    {
      "url": "https://api4.thetvdb.com/v4",
      "description": "TheTVDB API v4 Production"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "operationId": "login",
        "tags": [
          "Authentication"
        ],
        "summary": "Login to obtain a bearer token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artwork/{id}": {
      "get": {
        "operationId": "getartworkbase",
        "tags": [
          "Artwork"
        ],
        "summary": "Get artwork base record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artwork record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtworkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artwork/{id}/extended": {
      "get": {
        "operationId": "getartworkextended",
        "tags": [
          "Artwork"
        ],
        "summary": "Get artwork extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended artwork record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtworkExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artwork/statuses": {
      "get": {
        "operationId": "getartworkstatuses",
        "tags": [
          "Artwork"
        ],
        "summary": "Get all artwork statuses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of artwork statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtworkStatusListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artwork/types": {
      "get": {
        "operationId": "getartworktypes",
        "tags": [
          "Artwork"
        ],
        "summary": "Get all artwork types",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of artwork types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtworkTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awards": {
      "get": {
        "operationId": "getawards",
        "tags": [
          "Awards"
        ],
        "summary": "Get all awards",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of awards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awards/{id}": {
      "get": {
        "operationId": "getaward",
        "tags": [
          "Awards"
        ],
        "summary": "Get a specific award",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Award record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awards/{id}/extended": {
      "get": {
        "operationId": "getawardextended",
        "tags": [
          "Awards"
        ],
        "summary": "Get award extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended award record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{id}": {
      "get": {
        "operationId": "getcharacter",
        "tags": [
          "Characters"
        ],
        "summary": "Get a character by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Character record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "operationId": "getcompanies",
        "tags": [
          "Companies"
        ],
        "summary": "Get all companies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "operationId": "getcompany",
        "tags": [
          "Companies"
        ],
        "summary": "Get a company by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/types": {
      "get": {
        "operationId": "getcompanytypes",
        "tags": [
          "Companies"
        ],
        "summary": "Get all company types",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of company types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/content/ratings": {
      "get": {
        "operationId": "getcontentratings",
        "tags": [
          "Content"
        ],
        "summary": "Get all content ratings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of content ratings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentRatingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getcountries",
        "tags": [
          "Content"
        ],
        "summary": "Get all countries",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/episodes/{id}": {
      "get": {
        "operationId": "getepisode",
        "tags": [
          "Episodes"
        ],
        "summary": "Get episode base record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/episodes/{id}/extended": {
      "get": {
        "operationId": "getepisodeextended",
        "tags": [
          "Episodes"
        ],
        "summary": "Get episode extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended episode record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/episodes/{id}/translations/{language}": {
      "get": {
        "operationId": "getepisodetranslation",
        "tags": [
          "Episodes"
        ],
        "summary": "Get episode translation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/genders": {
      "get": {
        "operationId": "getgenders",
        "tags": [
          "Content"
        ],
        "summary": "Get all genders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of genders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/genres": {
      "get": {
        "operationId": "getgenres",
        "tags": [
          "Content"
        ],
        "summary": "Get all genres",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of genres",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenreListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/genres/{id}": {
      "get": {
        "operationId": "getgenre",
        "tags": [
          "Content"
        ],
        "summary": "Get a genre by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Genre record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "getlanguages",
        "tags": [
          "Content"
        ],
        "summary": "Get all languages",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "getlists",
        "tags": [
          "Lists"
        ],
        "summary": "Get all lists",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{id}": {
      "get": {
        "operationId": "getlist",
        "tags": [
          "Lists"
        ],
        "summary": "Get a list by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{id}/extended": {
      "get": {
        "operationId": "getlistextended",
        "tags": [
          "Lists"
        ],
        "summary": "Get list extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended list record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/slug/{slug}": {
      "get": {
        "operationId": "getlistbyslug",
        "tags": [
          "Lists"
        ],
        "summary": "Get a list by slug",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{id}/translations/{language}": {
      "get": {
        "operationId": "getlisttranslation",
        "tags": [
          "Lists"
        ],
        "summary": "Get list translation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/movies": {
      "get": {
        "operationId": "getmovies",
        "tags": [
          "Movies"
        ],
        "summary": "Get all movies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of movies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/movies/{id}": {
      "get": {
        "operationId": "getmovie",
        "tags": [
          "Movies"
        ],
        "summary": "Get movie base record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Movie record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/movies/{id}/extended": {
      "get": {
        "operationId": "getmovieextended",
        "tags": [
          "Movies"
        ],
        "summary": "Get movie extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "translations"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended movie record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/movies/{id}/translations/{language}": {
      "get": {
        "operationId": "getmovietranslation",
        "tags": [
          "Movies"
        ],
        "summary": "Get movie translation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Movie translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/movies/filter": {
      "get": {
        "operationId": "getmoviesfilter",
        "tags": [
          "Movies"
        ],
        "summary": "Get filtered movies",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentRating",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered movie list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}": {
      "get": {
        "operationId": "getperson",
        "tags": [
          "People"
        ],
        "summary": "Get person base record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}/extended": {
      "get": {
        "operationId": "getpersonextended",
        "tags": [
          "People"
        ],
        "summary": "Get person extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "translations"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended person record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/types": {
      "get": {
        "operationId": "getpeopletypes",
        "tags": [
          "People"
        ],
        "summary": "Get all people types",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of people types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}/translations/{language}": {
      "get": {
        "operationId": "getpersontranslation",
        "tags": [
          "People"
        ],
        "summary": "Get person translation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "tags": [
          "Search"
        ],
        "summary": "Search for content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "series",
                "person",
                "company"
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "director",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remote_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/remoteid/{remoteId}": {
      "get": {
        "operationId": "searchbyremoteid",
        "tags": [
          "Search"
        ],
        "summary": "Search by remote ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "remoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seasons/{id}": {
      "get": {
        "operationId": "getseason",
        "tags": [
          "Seasons"
        ],
        "summary": "Get season base record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Season record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seasons/{id}/extended": {
      "get": {
        "operationId": "getseasonextended",
        "tags": [
          "Seasons"
        ],
        "summary": "Get season extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended season record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seasons/types": {
      "get": {
        "operationId": "getseasontypes",
        "tags": [
          "Seasons"
        ],
        "summary": "Get all season types",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of season types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seasons/{id}/translations/{language}": {
      "get": {
        "operationId": "getseasontranslation",
        "tags": [
          "Seasons"
        ],
        "summary": "Get season translation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Season translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/series": {
      "get": {
        "operationId": "getallseries",
        "tags": [
          "Series"
        ],
        "summary": "Get all series",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of series",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/series/{id}": {
      "get": {
        "operationId": "getseries",
        "tags": [
          "Series"
        ],
        "summary": "Get series base record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Series record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/series/{id}/extended": {
      "get": {
        "operationId": "getseriesextended",
        "tags": [
          "Series"
        ],
        "summary": "Get series extended record",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "meta",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "translations",
                "episodes"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended series record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesExtendedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/series/{id}/episodes/{seasonType}": {
      "get": {
        "operationId": "getseriesepisodes",
        "tags": [
          "Series"
        ],
        "summary": "Get episodes for a series",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "seasonType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "season",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "episodeNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Series episodes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesEpisodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/series/{id}/translations/{language}": {
      "get": {
        "operationId": "getseriestranslation",
        "tags": [
          "Series"
        ],
        "summary": "Get series translation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Series translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/series/filter": {
      "get": {
        "operationId": "getseriesfilter",
        "tags": [
          "Series"
        ],
        "summary": "Get filtered series",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentRating",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered series list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updates": {
      "get": {
        "operationId": "getupdates",
        "tags": [
          "Updates"
        ],
        "summary": "Get updated records",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "artwork",
                "award_nominees",
                "companies",
                "episodes",
                "lists",
                "people",
                "seasons",
                "series",
                "seriespeople",
                "artworktypes",
                "award_categories",
                "awards",
                "company_types",
                "content_ratings",
                "countries",
                "entity_types",
                "genres",
                "languages",
                "movies",
                "movie_genres",
                "movie_status",
                "people_types",
                "seasons",
                "series_genres"
              ]
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "create",
                "update",
                "delete"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "getuserinfo",
        "tags": [
          "User"
        ],
        "summary": "Get current user info",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/favorites": {
      "get": {
        "operationId": "getuserfavorites",
        "tags": [
          "User"
        ],
        "summary": "Get user favorites",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User favorites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoritesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createuserfavorites",
        "tags": [
          "User"
        ],
        "summary": "Add user favorites",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoriteRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Favorites updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "apikey"
        ],
        "properties": {
          "apikey": {
            "type": "string"
          },
          "pin": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              }
            }
          }
        }
      },
      "ArtworkResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ArtworkBaseRecord"
          }
        }
      },
      "ArtworkExtendedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ArtworkExtendedRecord"
          }
        }
      },
      "ArtworkBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "image": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "score": {
            "type": "number"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        }
      },
      "ArtworkExtendedRecord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArtworkBaseRecord"
          },
          {
            "type": "object",
            "properties": {
              "thumbnailWidth": {
                "type": "integer"
              },
              "thumbnailHeight": {
                "type": "integer"
              },
              "updatedAt": {
                "type": "integer"
              },
              "movieId": {
                "type": "integer"
              },
              "seriesId": {
                "type": "integer"
              },
              "seasonId": {
                "type": "integer"
              },
              "episodeId": {
                "type": "integer"
              },
              "status": {
                "$ref": "#/components/schemas/ArtworkStatus"
              },
              "tagOptions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TagOption"
                }
              }
            }
          }
        ]
      },
      "ArtworkStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ArtworkStatusListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArtworkStatus"
            }
          }
        }
      },
      "ArtworkType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "recordType": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "imageFormat": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "thumbWidth": {
            "type": "integer"
          },
          "thumbHeight": {
            "type": "integer"
          }
        }
      },
      "ArtworkTypeListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArtworkType"
            }
          }
        }
      },
      "AwardListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AwardBaseRecord"
            }
          }
        }
      },
      "AwardResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AwardBaseRecord"
          }
        }
      },
      "AwardExtendedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AwardExtendedRecord"
          }
        }
      },
      "AwardBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AwardExtendedRecord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AwardBaseRecord"
          },
          {
            "type": "object",
            "properties": {
              "categories": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AwardCategoryBaseRecord"
                }
              }
            }
          }
        ]
      },
      "AwardCategoryBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "allowCoNominees": {
            "type": "boolean"
          },
          "forSeries": {
            "type": "boolean"
          },
          "forMovies": {
            "type": "boolean"
          },
          "award": {
            "$ref": "#/components/schemas/AwardBaseRecord"
          }
        }
      },
      "CharacterResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Character"
          }
        }
      },
      "Character": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "peopleId": {
            "type": "integer"
          },
          "seriesId": {
            "type": "integer"
          },
          "movieId": {
            "type": "integer"
          },
          "episodeId": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          },
          "image": {
            "type": "string"
          },
          "sort": {
            "type": "integer"
          },
          "isFeatured": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "personName": {
            "type": "string"
          },
          "personImgURL": {
            "type": "string"
          }
        }
      },
      "CompanyListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Company"
            }
          }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Company"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "nameTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "overviewTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "country": {
            "type": "string"
          },
          "activeDate": {
            "type": "string"
          },
          "inactiveDate": {
            "type": "string"
          },
          "primaryCompanyType": {
            "type": "integer"
          },
          "companyType": {
            "$ref": "#/components/schemas/CompanyType"
          }
        }
      },
      "CompanyType": {
        "type": "object",
        "properties": {
          "companyTypeId": {
            "type": "integer"
          },
          "companyTypeName": {
            "type": "string"
          }
        }
      },
      "CompanyTypeListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyType"
            }
          }
        }
      },
      "ContentRatingListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "contentType": {
                  "type": "string"
                },
                "order": {
                  "type": "integer"
                },
                "fullName": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CountryListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "shortCode": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EpisodeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/EpisodeBaseRecord"
          }
        }
      },
      "EpisodeExtendedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/EpisodeExtendedRecord"
          }
        }
      },
      "EpisodeBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "seriesId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "aired": {
            "type": "string"
          },
          "runtime": {
            "type": "integer"
          },
          "overview": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "imageType": {
            "type": "integer"
          },
          "seasonNumber": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          },
          "isMovie": {
            "type": "integer"
          },
          "lastUpdated": {
            "type": "string"
          },
          "finaleType": {
            "type": "string"
          }
        }
      },
      "EpisodeExtendedRecord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EpisodeBaseRecord"
          },
          {
            "type": "object",
            "properties": {
              "productionCode": {
                "type": "string"
              },
              "nominations": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "characters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Character"
                }
              },
              "contentRatings": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "remoteIds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RemoteId"
                }
              },
              "tagOptions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TagOption"
                }
              },
              "trailers": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "networks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "studios": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Company"
                }
              },
              "translations": {
                "type": "object"
              }
            }
          }
        ]
      },
      "GenderListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "GenreListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenreBaseRecord"
            }
          }
        }
      },
      "GenreResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GenreBaseRecord"
          }
        }
      },
      "GenreBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "LanguageListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "nativeName": {
                  "type": "string"
                },
                "shortCode": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ListListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListBaseRecord"
            }
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ListBaseRecord"
          }
        }
      },
      "ListExtendedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ListExtendedRecord"
          }
        }
      },
      "ListBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "overview": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "isOfficial": {
            "type": "boolean"
          },
          "nameTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "overviewTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aliases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alias"
            }
          },
          "score": {
            "type": "integer"
          },
          "image": {
            "type": "string"
          },
          "imageIsFallback": {
            "type": "boolean"
          }
        }
      },
      "ListExtendedRecord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListBaseRecord"
          },
          {
            "type": "object",
            "properties": {
              "entities": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        ]
      },
      "MovieListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovieBaseRecord"
            }
          }
        }
      },
      "MovieResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/MovieBaseRecord"
          }
        }
      },
      "MovieExtendedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/MovieExtendedRecord"
          }
        }
      },
      "MovieBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "runtime": {
            "type": "integer"
          },
          "lastUpdated": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "nameTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "overviewTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aliases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alias"
            }
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "MovieExtendedRecord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MovieBaseRecord"
          },
          {
            "type": "object",
            "properties": {
              "artworks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ArtworkBaseRecord"
                }
              },
              "characters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Character"
                }
              },
              "companies": {
                "type": "object"
              },
              "contentRatings": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "genres": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GenreBaseRecord"
                }
              },
              "remoteIds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RemoteId"
                }
              },
              "trailers": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "translations": {
                "type": "object"
              },
              "tagOptions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TagOption"
                }
              }
            }
          }
        ]
      },
      "PersonResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PersonBaseRecord"
          }
        }
      },
      "PersonExtendedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PersonExtendedRecord"
          }
        }
      },
      "PersonBaseRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "nameTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "overviewTranslations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aliases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alias"
            }
          },
          "lastUpdated": {
            "type": "string"
          }
        }
      },
      "PersonExtendedRecord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PersonBaseRecord"
          },
          {
            "type": "object",
            "properties": {
              "birth": {
                "type": "string"
              },
              "death": {
                "type": "string"
              },
              "birthPlace": {
                "type": "string"
              },
              "gender": {
                "type": "integer"
              },
              "characters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Character"
[...]
