{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la administracion de las bovedas de tokenizacion",
    "version": "v2",
    "title": "API Visanet Tokenization",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pgaldamez/api.tokenization/v2/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.tokenization/v2",
  "tags": [
    {
      "name": "Tokenization",
      "description": "RESTful API to manage tokenization."
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/tokenize/remove/{vault}/{queryType}/{block}/{attribute}": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Remove",
        "description": "RESTful API to remove tokens.",
        "operationId": "remove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/retrieve/{vault}/{block}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "RetrieveList",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/retrieve/{vault}/{queryType}/{block}/{attribute}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Retrieve",
        "description": "RESTful API to retrieve one token.",
        "operationId": "retrieve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/store": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Store",
        "description": "RESTful API to store tokens.",
        "operationId": "store",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Tokenize item request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenizationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenizerResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Payload": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "RetrieveResponse": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32"
        },
        "responseMessage": {
          "type": "string"
        },
        "result": {
          "type": "string"
        }
      }
    },
    "TokenListResponse": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32"
        },
        "responseMessage": {
          "type": "string"
        },
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TokenizerResponse"
          }
        }
      }
    },
    "TokenizationRequest": {
      "type": "object",
      "properties": {
        "vault": {
          "type": "string"
        },
        "block": {
          "type": "string"
        },
        "payload": {
          "$ref": "#/definitions/Payload"
        }
      }
    },
    "TokenizerResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "hash": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    }
  }
}