{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la validacion de tarjetas",
    "version": "v1",
    "title": "API Visanet Validation",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pgaldamez/api.validate/v1/swagger.json"
  },
  "host": "testapienv.vnforapps.com",
  "basePath": "/api.validate/v1",
  "tags": [
    {
      "name": "Validation Api",
      "description": "RESTful API to validate transactions."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/confirm/{product}/{merchantId}": {
      "post": {
        "tags": [
          "Validation Api"
        ],
        "summary": "Confirmation",
        "description": "RESTful API to confirm transactions.",
        "operationId": "confirm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Confirm card request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfirmationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/validate/{product}/{merchantId}": {
      "post": {
        "tags": [
          "Validation Api"
        ],
        "summary": "Validation",
        "description": "RESTful API to validate transactions.",
        "operationId": "validate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Validate card request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "properties": {
        "street1": {
          "type": "string"
        },
        "street2": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "Antifraud": {
      "type": "object",
      "properties": {
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "clientIp": {
          "type": "string"
        },
        "deviceFingerprintId": {
          "type": "string"
        },
        "merchantDefineData": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Authentication": {
      "type": "object",
      "properties": {
        "eci": {
          "type": "string"
        },
        "xid": {
          "type": "string"
        },
        "cavv": {
          "type": "string"
        }
      }
    },
    "Card": {
      "type": "object",
      "properties": {
        "cardNumber": {
          "type": "string"
        },
        "expirationMonth": {
          "type": "integer",
          "format": "int32"
        },
        "expirationYear": {
          "type": "integer",
          "format": "int32"
        },
        "cvv2": {
          "type": "string"
        },
        "cardHolderName": {
          "type": "string"
        },
        "tokenId": {
          "type": "string"
        },
        "cardAliasName": {
          "type": "string"
        },
        "verify": {
          "type": "boolean"
        },
        "track2": {
          "type": "string"
        },
        "emv": {
          "type": "string"
        },
        "cardNumberEnc": {
          "type": "string"
        },
        "track2Enc": {
          "type": "string"
        },
        "emvEnc": {
          "type": "string"
        },
        "pinBlockEnc": {
          "type": "string"
        },
        "ksnDukpt": {
          "type": "string"
        },
        "visaCheckout": {
          "type": "boolean"
        },
        "registerCardFrecuent": {
          "type": "boolean"
        },
        "useCardFrecuent": {
          "type": "boolean"
        }
      }
    },
    "CardHolder": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "documentType": {
          "type": "string"
        },
        "documentNumber": {
          "type": "string"
        }
      }
    },
    "ConfirmationRequest": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Header": {
      "type": "object",
      "properties": {
        "ecoreTransactionUUID": {
          "type": "string"
        },
        "ecoreTransactionDate": {
          "type": "string",
          "format": "date-time"
        },
        "millis": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "tokenId": {
          "type": "string"
        },
        "purchaseNumber": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        },
        "installment": {
          "type": "integer",
          "format": "int32"
        },
        "currency": {
          "type": "string"
        },
        "externalTransactionId": {
          "type": "string"
        },
        "authorizedAmount": {
          "type": "number",
          "format": "double"
        },
        "authorizationCode": {
          "type": "string"
        },
        "traceNumber": {
          "type": "string"
        },
        "transactionDate": {
          "type": "string"
        },
        "transactionId": {
          "type": "string"
        },
        "originalTraceNumber": {
          "type": "string"
        },
        "originalDateTime": {
          "type": "string"
        },
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Sponsored": {
      "type": "object",
      "properties": {
        "merchantId": {
          "type": "string"
        },
        "mcci": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "ValidationRequest": {
      "type": "object",
      "properties": {
        "terminalId": {
          "type": "string"
        },
        "channel": {
          "type": "string"
        },
        "merchantName": {
          "type": "string"
        },
        "categoryCode": {
          "type": "string"
        },
        "terminalUnattended": {
          "type": "boolean"
        },
        "captureType": {
          "type": "string"
        },
        "order": {
          "$ref": "#/definitions/Order"
        },
        "card": {
          "$ref": "#/definitions/Card"
        },
        "cardHolder": {
          "$ref": "#/definitions/CardHolder"
        },
        "sponsored": {
          "$ref": "#/definitions/Sponsored"
        },
        "antifraud": {
          "$ref": "#/definitions/Antifraud"
        },
        "authentication": {
          "$ref": "#/definitions/Authentication"
        },
        "lon": {
          "type": "string"
        },
        "lat": {
          "type": "string"
        },
        "countable": {
          "type": "boolean"
        },
        "dataMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ValidationResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/Header"
        },
        "order": {
          "$ref": "#/definitions/Order"
        },
        "token": {
          "$ref": "#/definitions/ValidationToken"
        },
        "dataMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ValidationToken": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "hash": {
          "type": "string"
        },
        "expiration": {
          "type": "string"
        }
      }
    }
  }
}