{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Clear Books API",
    "description": "REST API for interfacing with Clear Books products\n\n# Authentication\n\nThis API uses OAuth 2 for authentication and authorisation. A compatible OAuth 2 client library or sufficient knowledge to implement an OAuth 2 client is required.\n\nOnly confidential clients are supported and must use the \"Authorization code\" grant type. PKCE is supported (and recommended) but not mandatory. \n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n\n## Registration\n\nTo obtain API credentials for your application, please contact us: https://www.clearbooks.co.uk/support/api/\n\n## Refresh tokens\n\nSingle use refresh tokens are issued alongside access tokens and don't expire until they're used. You should use a refresh token once the associated access token has expired (or shortly before) to obtain a new pair of tokens. Excessive attempts to refresh access tokens before they expire will be rate limited.\n\n## Connection limits\n\nApplications can only hold a single access token for a user at any given time. If a user completes the OAuth authorisation flow a second time for an application they have already authorised, then their previous access token and refresh token will be revoked and the newly issued ones will need to be used going forward.\n\n# Rate Limits\n\nApplications making more than 5 requests per second for a sustained period may be subject to throttling and rate limiting.\n\nWhen an application is being rate limited a HTTP 429 response will be returned for API calls. Rate limited requests should be retried using an exponential backoff algorithm.\n\nRate limits are subject to change without prior warning and should not be hard-coded into applications.\n\n# Pagination\n\nEndpoints that support pagination will accept a `limit` parameter to define how many results to return per page (up to a maximum of 200), and a `page` parameter to select which page of results to return.\n\nTo help you understand the full result set without having to request all pages, all paginated responses will contain the following headers:\n\n* `X-Pagination-Limit` - The number of items per page of results\n* `X-Pagination-Current-Page` - The current page number\n* `X-Pagination-Total-Pages` - The total number of pages available\n* `X-Pagination-Total-Count` - The total number of results across all pages\n\n# Breaking changes\n\nWe aim not to make any breaking changes to this API without prior warning and/or increasing the version number wherever possible.\n\nWe will however make non-breaking changes without prior notice, and your integration must be able to handle these gracefully.\n\nExamples of changes we consider to be non-breaking include:\n\n* Addition of new endpoints\n* Addition of new request methods on existing endpoints\n* Addition of new response fields\n* Addition of new response headers\n* Addition of new optional query parameters\n* Addition of new optional request headers\n* Addition of new optional request body fields\n* Changes to the order of response body fields\n* Changes to the order of response headers\n* Changes to error messages\n* Changes to pagination defaults\n* Changes to rate limits\n* Changes to access token lifetimes\n* Changes to the IP addresses the API is served from\n* Changes to TLS certificates, including issuer where the issuing CA is widely trusted\n",
    "termsOfService": "https://www.clearbooks.co.uk/terms/",
    "x-logo": {
      "url": "https://secure.clearbookscdn.uk/themes/minimaal-clearbooks/image/brand/logo-white.svg",
      "backgroundColor": "#1b5883",
      "altText": "Clear Books"
    },
    "x-jentic-source-url": "https://www.clearbooks.co.uk/support/api/"
  },
  "servers": [
    {
      "url": "https://api.clearbooks.co.uk/v1"
    }
  ],
  "tags": [
    {
      "name": "Businesses",
      "description": "Businesses that the current user has access to"
    },
    {
      "name": "Account Codes",
      "description": "An account code, often called a 'nominal code' defines an account in the chart of accounts of a business' accounting ledger"
    },
    {
      "name": "Bank Accounts",
      "description": "A bank account represents either a real-world bank account in which the business has cash stored, or a logical store of cash defined by the business"
    },
    {
      "name": "Customers",
      "description": "A customer represents an entity to which the business sells products or services"
    },
    {
      "name": "Suppliers",
      "description": "A supplier represents an entity from which the business buys products or services"
    },
    {
      "name": "Sales",
      "description": "Sales documents such as invoices, quotes and sales credit notes are issued to customers and represent a sale or prospective sale"
    },
    {
      "name": "Purchases",
      "description": "Purchase documents such as bills, expenses and purchase credit notes are received from suppliers and represent a purchase or prospective purchase"
    },
    {
      "name": "Payments",
      "description": "Payments received or made to cover a sale or purchase represent a transfer of money between the business and a customer or supplier"
    },
    {
      "name": "Allocations",
      "description": "Allocations represent the association of a payment to an invoice or bill in order to clear or partly clear the balance\n"
    },
    {
      "name": "Stock Items",
      "description": "Stock items represent inventory that can be sold and purchased using sales and purchase documents"
    },
    {
      "name": "Sales Attachments",
      "description": "Files can be attached to sales documents for record keeping"
    },
    {
      "name": "Purchases Attachments",
      "description": "Files can be attached to purchase documents for record keeping"
    },
    {
      "name": "VAT",
      "description": "VAT rates and treatments represent the valid VAT settings that can be used on sales and purchase documents"
    },
    {
      "name": "Bank Feeds",
      "description": "Bank feeds allow financial institutions to send transaction data direct to Clear Books and have it associated with a bank account"
    },
    {
      "name": "Bank Statements",
      "description": "Bank Statements represent transactions ready to be explained"
    },
    {
      "name": "Transactions",
      "description": "A transaction represents a movement of money between a business's accounts"
    },
    {
      "name": "General Ledger",
      "description": "The general ledger lists debits and credits from all transactions"
    },
    {
      "name": "Trial Balance",
      "description": "The trial balance lists the balances of all of the business's accounts"
    },
    {
      "name": "Journals",
      "description": "A journal is a type of transaction created to move money between accounts outside of normal business operations"
    }
  ],
  "paths": {
    "/businesses": {
      "get": {
        "summary": "List all businesses for the current user",
        "operationId": "listBusinesses",
        "tags": [
          "Businesses"
        ],
        "security": [
          {
            "OAuth2": [
              "businesses:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "An array of businesses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Businesses"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/businesses/{businessId}": {
      "get": {
        "summary": "Retrieve a single business",
        "operationId": "getBusiness",
        "tags": [
          "Businesses"
        ],
        "security": [
          {
            "OAuth2": [
              "businesses:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "responses": {
          "200": {
            "description": "A business object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a business",
        "operationId": "updateBusiness",
        "tags": [
          "Businesses"
        ],
        "security": [
          {
            "OAuth2": [
              "businesses:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "requestBody": {
          "description": "Updated business object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Business"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/accountCodes": {
      "get": {
        "summary": "List all account codes",
        "operationId": "listAccountCodes",
        "tags": [
          "Account Codes"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.account_codes:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of account codes",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCodes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create an account code",
        "operationId": "createAccountCode",
        "tags": [
          "Account Codes"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.account_codes:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          }
        ],
        "requestBody": {
          "description": "Account code object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCode"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/accountCodes/{accountCodeId}": {
      "get": {
        "summary": "Retrieve a single account code",
        "operationId": "getAccountCode",
        "tags": [
          "Account Codes"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.account_codes:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountCodeId"
          }
        ],
        "responses": {
          "200": {
            "description": "An account code object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCodes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update an account code",
        "operationId": "updateAccountCode",
        "tags": [
          "Account Codes"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.account_codes:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountCodeId"
          }
        ],
        "requestBody": {
          "description": "Account code object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account code updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete account code",
        "operationId": "deleteAccountCode",
        "tags": [
          "Account Codes"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.account_codes:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/accountCodeId"
          }
        ],
        "responses": {
          "204": {
            "description": "Account code deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/bankAccounts": {
      "get": {
        "summary": "List all bank accounts",
        "operationId": "listBankAccounts",
        "tags": [
          "Bank Accounts"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.bank_accounts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of bank accounts",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccounts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a bank account",
        "operationId": "createBankAccount",
        "tags": [
          "Bank Accounts"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.bank_accounts:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          }
        ],
        "requestBody": {
          "description": "Bank account object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccount"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/bankAccounts/{bankAccountId}": {
      "get": {
        "summary": "Retrieve a single bank account",
        "operationId": "getBankAccount",
        "tags": [
          "Bank Accounts"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.bank_accounts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/bankAccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "A bank account object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccounts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a bank account",
        "operationId": "updateBankAccount",
        "tags": [
          "Bank Accounts"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.bank_accounts:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/bankAccountId"
          }
        ],
        "requestBody": {
          "description": "Bank account object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountIdentifiers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete bank account",
        "operationId": "deleteBankAccount",
        "tags": [
          "Bank Accounts"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.bank_accounts:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/bankAccountId"
          }
        ],
        "responses": {
          "204": {
            "description": "Bank account deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/customers": {
      "get": {
        "summary": "List all customers",
        "operationId": "listCustomers",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.customers:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of customers",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a customer",
        "operationId": "createCustomer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.customers:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          }
        ],
        "requestBody": {
          "description": "Customer object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/customers/{customerId}": {
      "get": {
        "summary": "Retrieve a single customer",
        "operationId": "getCustomer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.customers:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "responses": {
          "200": {
            "description": "A customer object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a customer",
        "operationId": "updateCustomer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.customers:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Customer object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete customer",
        "operationId": "deleteCustomer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.customers:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/suppliers": {
      "get": {
        "summary": "List all suppliers",
        "operationId": "listSuppliers",
        "tags": [
          "Suppliers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.suppliers:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of suppliers",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suppliers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a supplier",
        "operationId": "createSupplier",
        "tags": [
          "Suppliers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.suppliers:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          }
        ],
        "requestBody": {
          "description": "Supplier object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Supplier"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Supplier created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/suppliers/{supplierId}": {
      "get": {
        "summary": "Retrieve a single supplier",
        "operationId": "getSupplier",
        "tags": [
          "Suppliers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.suppliers:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/supplierId"
          }
        ],
        "responses": {
          "200": {
            "description": "A supplier object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a supplier",
        "operationId": "updateSupplier",
        "tags": [
          "Suppliers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.suppliers:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/supplierId"
          }
        ],
        "requestBody": {
          "description": "Supplier object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Supplier"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Supplier updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete supplier",
        "operationId": "deleteSupplier",
        "tags": [
          "Suppliers"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.suppliers:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/supplierId"
          }
        ],
        "responses": {
          "204": {
            "description": "Supplier deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/sales/{salesType}": {
      "get": {
        "summary": "List all sales documents of a given type (e.g invoices, quotes)",
        "operationId": "listSalesByType",
        "tags": [
          "Sales"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of sales documents",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SalesInvoices"
                    },
                    {
                      "$ref": "#/components/schemas/SalesCreditNotes"
                    },
                    {
                      "$ref": "#/components/schemas/Quotes"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a sales document of the given type",
        "operationId": "createSales",
        "tags": [
          "Sales"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/salesType"
          }
        ],
        "requestBody": {
          "description": "Sales document object",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SalesInvoice"
                  },
                  {
                    "$ref": "#/components/schemas/SalesCreditNote"
                  },
                  {
                    "$ref": "#/components/schemas/Quote"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sales document created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SalesInvoice"
                    },
                    {
                      "$ref": "#/components/schemas/SalesCreditNote"
                    },
                    {
                      "$ref": "#/components/schemas/Quote"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/sales/{salesType}/{salesId}": {
      "get": {
        "summary": "Retrieve a single sales document",
        "operationId": "getSalesDocument",
        "description": "Retrieve a sales document. If the provided ID refers to a voided previous revision of a document, a redirect to the current revision will be returned.",
        "tags": [
          "Sales"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/salesId"
          }
        ],
        "responses": {
          "200": {
            "description": "A sales document object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SalesInvoice"
                    },
                    {
                      "$ref": "#/components/schemas/SalesCreditNote"
                    },
                    {
                      "$ref": "#/components/schemas/Quote"
                    }
                  ]
                }
              }
            }
          },
          "308": {
            "description": "Redirect from a previous revision of a document to the current revision"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a sales document",
        "operationId": "updateSalesDocument",
        "description": "Update a sales document. For a non-draft invoice or credit note, the original document will be voided (soft deleted) and a new copy created with a new ID. For a quote or draft invoice, the document will be updated in-place and retain its original ID. You only need to provide the fields you want to update. No fields on the body of the document are required.",
        "tags": [
          "Sales"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/salesId"
          }
        ],
        "requestBody": {
          "description": "Sales document object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SalesInvoice"
                  },
                  {
                    "$ref": "#/components/schemas/SalesCreditNote"
                  },
                  {
                    "$ref": "#/components/schemas/Quote"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sales document updated",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SalesInvoice"
                    },
                    {
                      "$ref": "#/components/schemas/SalesCreditNote"
                    },
                    {
                      "$ref": "#/components/schemas/Quote"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete sales document",
        "operationId": "deleteSalesDocument",
        "description": "Delete a sales document. Non-draft invoices and credit notes will be voided (soft deleted). Quotes and draft invoices will be hard deleted.",
        "tags": [
          "Sales"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/salesId"
          }
        ],
        "responses": {
          "204": {
            "description": "Sales document deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/purchases/{purchaseType}": {
      "get": {
        "summary": "List all purchase documents of a given type (e.g bills, expenses)",
        "operationId": "listPurchasesByType",
        "tags": [
          "Purchases"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.purchases:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/purchaseType"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of purchase documents",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Bills"
                    },
                    {
                      "$ref": "#/components/schemas/PurchaseCreditNotes"
                    },
                    {
                      "$ref": "#/components/schemas/Expenses"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a purchase document of the given type",
        "operationId": "createPurchase",
        "tags": [
          "Purchases"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.purchases:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/purchaseType"
          }
        ],
        "requestBody": {
          "description": "Purchase document object",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Bill"
                  },
                  {
                    "$ref": "#/components/schemas/PurchaseCreditNote"
                  },
                  {
                    "$ref": "#/components/schemas/Expense"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchase document created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Bill"
                    },
                    {
                      "$ref": "#/components/schemas/PurchaseCreditNote"
                    },
                    {
                      "$ref": "#/components/schemas/Expense"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/purchases/{purchaseType}/{purchaseId}": {
      "get": {
        "summary": "Retrieve a single purchase document",
        "operationId": "getPurchaseDocument",
        "description": "Retrieve a purchase document. If the provided ID refers to a voided previous revision of a document, a redirect to the current revision will be returned.",
        "tags": [
          "Purchases"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.purchases:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/purchaseType"
          },
          {
            "$ref": "#/components/parameters/purchaseId"
          }
        ],
        "responses": {
          "200": {
            "description": "A purchase document object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Bill"
                    },
                    {
                      "$ref": "#/components/schemas/PurchaseCreditNote"
                    },
                    {
                      "$ref": "#/components/schemas/Expense"
                    }
                  ]
                }
              }
            }
          },
          "308": {
            "description": "Redirect from a previous revision of a document to the current revision"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a purchase document",
        "operationId": "updatePurchaseDocument",
        "description": "Update a purchase document. For a non-draft bill or credit note, the original document will be voided (soft deleted) and a new copy created with a new ID. For a draft bill, the document will be updated in-place. You only need to provide the fields you want to update. No fields on the body of the document are required.",
        "tags": [
          "Purchases"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.purchases:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/purchaseType"
          },
          {
            "$ref": "#/components/parameters/purchaseId"
          }
        ],
        "requestBody": {
          "description": "Purchase document object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Bill"
                  },
                  {
                    "$ref": "#/components/schemas/PurchaseCreditNote"
                  },
                  {
                    "$ref": "#/components/schemas/Expense"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase document updated",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Bill"
                    },
                    {
                      "$ref": "#/components/schemas/PurchaseCreditNote"
                    },
                    {
                      "$ref": "#/components/schemas/Expense"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete purchase document",
        "operationId": "deletePurchaseDocument",
        "description": "Delete a purchase document. Non-draft bills and credit notes will be voided (soft deleted). Draft bills will be hard deleted.",
        "tags": [
          "Purchases"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.purchases:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/purchaseType"
          },
          {
            "$ref": "#/components/parameters/purchaseId"
          }
        ],
        "responses": {
          "204": {
            "description": "Purchase document deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/payments": {
      "get": {
        "summary": "List all payments",
        "operationId": "listPayments",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.payments:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of payments",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payments"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a payment",
        "operationId": "createPayment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.payments:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          }
        ],
        "requestBody": {
          "description": "Payment object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/payments/{paymentId}": {
      "get": {
        "summary": "Retrieve a single payment",
        "operationId": "getPayment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.payments:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "A payment object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a payment",
        "operationId": "updatePayment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.payments:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Payment object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete payment",
        "operationId": "deletePayment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.payments:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "responses": {
          "204": {
            "description": "Payment deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/allocations/{invoiceType}": {
      "get": {
        "summary": "List allocations",
        "operationId": "listAllocations",
        "tags": [
          "Allocations"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.allocations:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/invoiceType"
          },
          {
            "$ref": "#/components/parameters/allocationType"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          },
          {
            "$ref": "#/components/parameters/creditNoteId"
          },
          {
            "$ref": "#/components/parameters/invoiceId"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of payment allocations",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Allocations"
                },
                "example": [
                  {
                    "id": 123,
                    "invoiceId": 456,
                    "paymentId": 789,
                    "allocationType": "payment",
                    "amount": 100
                  },
                  {
                    "id": 987,
                    "invoiceId": 654,
                    "creditNoteId": 321,
                    "allocationType": "creditNote",
                    "amount": 50
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create an allocation",
        "description": "> **Payments and credit notes that use a different currency to the base currency of the Clear Books account, can only be allocated to invoices and bills of the same currency.**\n",
        "operationId": "createAllocation",
        "tags": [
          "Allocations"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.allocations:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/invoiceType"
          }
        ],
        "requestBody": {
          "description": "Payment allocation object",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Allocation/payment"
                  },
                  {
                    "$ref": "#/components/schemas/Allocation/creditNote"
                  }
                ],
                "discriminator": {
                  "propertyName": "allocationType"
                }
              },
              "examples": {
                "allocatePayment": {
                  "summary": "Allocate a payment",
                  "value": {
                    "invoiceId": 123,
                    "paymentId": 456,
                    "allocationType": "payment",
                    "amount": 100.0
                  }
                },
                "allocateCredit": {
                  "summary": "Allocate a credit note",
                  "value": {
                    "invoiceId": 789,
                    "creditNoteId": 901,
                    "allocationType": "creditNote",
                    "amount": 50.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Allocation created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Allocation/payment"
                    },
                    {
                      "$ref": "#/components/schemas/Allocation/creditNote"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "allocationType"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/allocations/{invoiceType}/{allocationId}": {
      "get": {
        "summary": "Retrieve an allocation",
        "operationId": "getAllocation",
        "tags": [
          "Allocations"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.allocations:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/invoiceType"
          },
          {
            "$ref": "#/components/parameters/allocationId"
          }
        ],
        "responses": {
          "200": {
            "description": "A payment allocation object",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Allocation/payment"
                    },
                    {
                      "$ref": "#/components/schemas/Allocation/creditNote"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "allocationType"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete an allocation",
        "operationId": "deleteAllocation",
        "tags": [
          "Allocations"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.allocations:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/invoiceType"
          },
          {
            "$ref": "#/components/parameters/allocationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Payment allocation deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/stockItems": {
      "get": {
        "summary": "List all stock items",
        "operationId": "listStockItems",
        "tags": [
          "Stock Items"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.stock_items:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of stock items",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a stock item",
        "operationId": "createStockItem",
        "tags": [
          "Stock Items"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.stock_items:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          }
        ],
        "requestBody": {
          "description": "Stock item object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockItemCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stock item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockItemBase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/stockItems/{stockItemId}": {
      "get": {
        "summary": "Retrieve a single stock item",
        "operationId": "getStockItem",
        "tags": [
          "Stock Items"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.stock_items:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/stockItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "A stock item object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockItemBase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a stock item",
        "operationId": "updateStockItem",
        "tags": [
          "Stock Items"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.stock_items:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/stockItemId"
          }
        ],
        "requestBody": {
          "description": "Stock item object",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StockItemUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock item updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockItemBase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete stock item",
        "operationId": "deleteStockItem",
        "tags": [
          "Stock Items"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.stock_items:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/stockItemId"
          }
        ],
        "responses": {
          "204": {
            "description": "Stock item deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/sales/{salesType}/{salesId}/attachments": {
      "get": {
        "summary": "List all attachments",
        "operationId": "listAttachments",
        "tags": [
          "Sales Attachments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/salesId"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of attachments",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/sales/{salesType}/{salesId}/attachments/{fileName}": {
      "post": {
        "summary": "Create an attachment",
        "operationId": "createAttachment",
        "tags": [
          "Sales Attachments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/salesId"
          },
          {
            "$ref": "#/components/parameters/fileName"
          }
        ],
        "requestBody": {
          "description": "Attachment object",
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentUpload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/sales/{salesType}/{salesId}/attachments/{attachmentId}": {
      "get": {
        "summary": "Retrieve a single attachment",
        "operationId": "getAttachment",
        "tags": [
          "Sales Attachments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/attachmentId"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/salesId"
          }
        ],
        "responses": {
          "200": {
            "description": "An attachment object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete attachment",
        "operationId": "deleteAttachment",
        "tags": [
          "Sales Attachments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.sales:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/attachmentId"
          },
          {
            "$ref": "#/components/parameters/salesType"
          },
          {
            "$ref": "#/components/parameters/salesId"
          }
        ],
        "responses": {
          "204": {
            "description": "Attachment deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/BusinessRuleError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/purchases/{purchaseType}/{purchaseId}/attachments": {
      "get": {
        "summary": "List all attachments",
        "operationId": "listAttachments",
        "tags": [
          "Purchases Attachments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.purchases:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
            "$ref": "#/components/parameters/purchaseType"
          },
          {
            "$ref": "#/components/parameters/purchaseId"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of attachments",
            "headers": {
              "X-Pagination-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of items per page of results"
              },
              "X-Pagination-Current-Page": {
                "schema": {
                  "type": "integer"
                },
                "description": "The current page number"
              },
              "X-Pagination-Total-Pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of pages available"
              },
              "X-Pagination-Total-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of results across all pages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/accounting/purchases/{purchaseType}/{purchaseId}/attachments/{fileName}": {
      "post": {
        "summary": "Create an attachment",
        "operationId": "createAttachment",
        "tags": [
          "Purchases Attachments"
        ],
        "security": [
          {
            "OAuth2": [
              "accounting.purchases:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/businessIdHeader"
          },
          {
[...]
