{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Athena Health",
    "license": {
      "name": "MIT"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/Ephir-Dev/Athenahealthapi-csharp/master/openapi.yaml",
    "description": "Athena Health provides programmatic access to appointments, appointmenttypes, chart, departments, patients resources."
  },
  "servers": [
    {
      "url": "https://api.athenahealth.com/"
    }
  ],
  "paths": {
    "/{apivariant}/{practiceid}/practiceinfo": {
      "get": {
        "summary": "Get available practice IDs",
        "operationId": "getPracticeInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of entries to return (default 1500, max 5000)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 5000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting point of entries; 0-indexed",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of available practices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PracticesInformationList"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/departments": {
      "get": {
        "summary": "Get department IDs",
        "operationId": "getDepartments",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of entries to return (default 1500, max 5000)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 5000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Starting point of entries; 0-indexed",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "hospitalonly",
            "in": "query",
            "description": "If set to true, return hospital only departments.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showalldepartments",
            "in": "query",
            "description": "By default, departments hidden in the portal do not appear. When this is set to true, that restriction is not applied. Default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "providerlist",
            "in": "query",
            "description": "If set to true, list providers who see patients in this department. Default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of available departments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInformationList"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/patients": {
      "get": {
        "summary": "Search for patients",
        "operationId": "getPatients",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "query",
            "name": "departmentid",
            "description": "Primary (registration) department ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "firstname",
            "description": "First name of the patient to find.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lastname",
            "description": "Last name of the patient to find.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of available patients with given search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientInformationList"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Register new patient",
        "operationId": "createPatient",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "address1": {
                    "description": "Patient's address - 1st line (Max length: 100)",
                    "type": "string"
                  },
                  "address2": {
                    "description": "Patient's address - 2nd line (Max length: 100)",
                    "type": "string"
                  },
                  "city": {
                    "description": "Patient's city (Max length: 30)",
                    "type": "string"
                  },
                  "departmentid": {
                    "description": "Primary (registration) department ID.",
                    "type": "integer",
                    "format": "int32"
                  },
                  "dob": {
                    "description": "Patient's DOB (mm/dd/yyyy)",
                    "type": "string"
                  },
                  "email": {
                    "description": "Patient's email address. 'declined' can be used to indicate just that.",
                    "type": "string"
                  },
                  "firstname": {
                    "description": "Patient's first name",
                    "type": "string"
                  },
                  "homephone": {
                    "description": "The patient's home phone number. Invalid numbers in a GET will be ignored. Patient phone numbers and other data may change, and one phone number may be associated with multiple patients. You are responsible for taking additional steps to verify patient identity and for using this data in accordance with applicable law, including HIPAA. Only phone numbers that exist in the North American Naming Plan (NANP) are acceptable for input.",
                    "type": "string"
                  },
                  "lastname": {
                    "description": "Patient's last name",
                    "type": "string"
                  },
                  "mobilephone": {
                    "description": "The patient's mobile phone number. On input, 'declined' can be used to indicate no number. (Alternatively, hasmobile can also be set to false. \"declined\" simply does this for you.) Invalid numbers in a GET will be ignored. Patient phone numbers and other data may change, and one phone number may be associated with multiple patients. You are responsible for taking additional steps to verify patient identity and for using this data in accordance with applicable law, including HIPAA. Only phone numbers that exist in the North American Naming Plan (NANP) are acceptable for input.",
                    "type": "string"
                  },
                  "state": {
                    "description": "Patient's state (2 letter abbreviation)",
                    "type": "string"
                  },
                  "zip": {
                    "description": "Patient's zip. Matching occurs on first 5 characters.",
                    "type": "string"
                  },
                  "sex": {
                    "description": "Patient's sex (M/F)",
                    "type": "string"
                  },
                  "race": {
                    "description": "The patient race, using the 2.16.840.1.113883.5.104 codeset. See http://www.hl7.org/implement/standards/fhir/terminologies-v3.html Special case: use \"declined\" to indicate that the patient declined to answer. Multiple values or a tab-seperated list of codes is acceptable for multiple races for input. The first race will be considered \"primary\". Note: you must update all values at once if you update any.  \n",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of information about created patients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientCreatedResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/patients/{patientId}": {
      "get": {
        "summary": "Get a patients by ID",
        "operationId": "getPatientById",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "patientId",
            "description": "Id of the patient for which get information",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "departmentid",
            "description": "This is the ID for the department of the patient you are retrieving. If you are calling this on an enterprise practice with multiple financial groups (also called \"provider groups\"), this  will ensure you are retrieving the correct patient and not a copy that is in a different department.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "ignorerestrictions",
            "description": "Set to true to allow ability to find patients with record restrictions and blocked patients. This should only be used when there is no reflection to the patient at all that a match was found or not found.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "show2015edcehrtvalues",
            "description": "Use 2015 Ed. CEHRT compliant strings for describing gender identity and sexual orientation.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showallclaims",
            "description": "Include information on claims where there is no outstanding patient balance. (Only to be used when showbalancedetails is selected.)\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showallpatientdepartmentstatus",
            "description": "Include an array of all departments the patient is a part of along with all statuses for those departments.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showbalancedetails",
            "description": "Show detailed information on patient balances.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showcustomfields",
            "description": "Include custom fields for the patient.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showfullssn",
            "description": "If set, will show full SSN instead of a masked number.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showinsurance",
            "description": "Include patient insurance information.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showlocalpatientid",
            "description": "If set, will show local patient id.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showportalstatus",
            "description": "If set, will include portal enrollment status in response.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about patient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientInformation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/patients/{patientId}/ccda": {
      "get": {
        "summary": "Get a patient CCDA informtion by ID",
        "operationId": "getPatientCcdaRecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "patientId",
            "description": "Id of the patient for which get information",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about patient's CCDA records'",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientCcdaInformation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/patients/{patientId}/documents/labresult": {
      "get": {
        "summary": "Get a patient lab results documents",
        "operationId": "getPatientLabResultDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "patientId",
            "description": "Id of the patient for which get information",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "departmentid",
            "description": "The athenaNet department id.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "documentsubclass",
            "description": "The document subclass to filter document results.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "encounterid",
            "description": "Show only documents attached to this encounter.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "showdeleted",
            "description": "The document subclass to filter document results.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showtemplate",
            "description": "If true, interpretation template added to the document is also returned.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "The status of the task to filter document results.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of documents representing lab results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientLabResultDocumentList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create single lab result",
        "operationId": "createPatientLabResultDocument",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "patientId",
            "description": "Id of the patient for which get information",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessionid": {
                    "description": "A unique identifier given to a document to track it over time.",
                    "type": "string"
                  },
                  "analytes": {
                    "description": "message",
                    "type": "string"
                  },
                  "attachmentcontents": {
                    "description": "The file contents that will be attached to this document. Currently PDFs and PNGs are supported. PNG files must be Base64 encoded.",
                    "type": "string"
                  },
                  "attachmenttype": {
                    "description": "The file type of the attachment. Currently PDFs and PNGs are supported. Defaults to PDF.",
                    "type": "string"
                  },
                  "autoclose": {
                    "description": "Documents will, normally, automatically appear in the clinical inbox for providers to review.  In some cases, you might want to force the document to skip the clinical inbox, and go directly to the patient chart with a \"closed\" status. For that case, set this to true.  \n",
                    "type": "string"
                  },
                  "departmentid": {
                    "description": "The athenaNet department ID associated with the uploaded document.",
                    "type": "integer"
                  },
                  "documenttypeid": {
                    "description": "A specific document type identifier.",
                    "type": "integer"
                  },
                  "facilityid": {
                    "description": "The ID of the facility or clinical provider who received the order.",
                    "type": "integer"
                  },
                  "internalnote": {
                    "description": "An internal note for the provider or staff. Updating this will append to any previous notes.",
                    "type": "string"
                  },
                  "interpretation": {
                    "description": "The practice entered interpretation of this result. Updating this will append to any previous values.",
                    "type": "string"
                  },
                  "observationdate": {
                    "description": "The date an observation was made (mm/dd/yyyy).",
                    "type": "string"
                  },
                  "observationtime": {
                    "description": "The time an observation was made (hh24:mi). 24 hour time.",
                    "type": "string"
                  },
                  "priority": {
                    "description": "Priority of this result. 1 is high; 2 is normal.",
                    "type": "string"
                  },
                  "providerid": {
                    "description": "The ID of the ordering provider.",
                    "type": "integer"
                  },
                  "reportstatus": {
                    "description": "The status of the report.",
                    "type": "string"
                  },
                  "resultstatus": {
                    "description": "The status of the result.",
                    "type": "string"
                  },
                  "specimenreceiveddatetime": {
                    "description": "Date-time indicating when the specimen was received in format (yyyy-mm-ddThh:mm:ss).",
                    "type": "string"
                  },
                  "specimenreporteddatetime": {
                    "description": "Date-time indicating when the specimen was reported in format (yyyy-mm-ddThh:mm:ss).",
                    "type": "string"
                  },
                  "tietoorderid": {
                    "description": "Tie the result document to this order.",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information about created lab result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLabResultDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/patients/{patientId}/documents/labresult/{labResultId}": {
      "get": {
        "summary": "Get information about patient lab result document",
        "operationId": "getPatientLabResultDocument",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "patientId",
            "description": "Id of the patient for which get information",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "labResultId",
            "description": "Id of the lab result",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "showtemplate",
            "description": "If true, interpretation template added to the document is also returned.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details lab result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientLabResultDocumentDetails"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete single lab result",
        "operationId": "deleteePatientLabResultDocument",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "patientId",
            "description": "Id of the patient for which get information",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "labResultId",
            "description": "Id of the lab result",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Details lab result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLabResultDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/providers": {
      "get": {
        "summary": "Get a providers",
        "operationId": "getProviders",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Id of the patient for which get information",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "providertype",
            "description": "The provider type to filter the results on. Valid provider type values can be found by using GET /reference/providertypes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showallproviderids",
            "description": "In athenaNet's internal data structures, a single provider can be represented by multiple IDs. These IDs are used in certain external messages (e.g. HL7) and thus these IDs may need to be known by the API user as well. When set to true, a list of all of these ancillary IDs will be provided.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showusualdepartmentguessthreshold",
            "description": "There are situations where determining where a provider \"normally\" practices is desired. Unfortuantely, there is no such concept in athenaNet since providers often practice in multiple locations. However, we can use some intelligence to determine this by looking back over the previous few months (90 days) to see actual practice. To enable this, set this value between 0 and 1; it is highly recommended to be at least .5. This is the ratio of appointments in a given department to the total number of appointments for that provider. A value of .5 means \"the provider's appointments are 50% in the department guessed.\" Setting this to 1 would only return a department if ALL of the provider's appointments were in one department.\n",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersInformationList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new provider",
        "operationId": "createProvider",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "billable",
                  "entitytypeid",
                  "medicalgroupid",
                  "providergroupid",
                  "schedulingname",
                  "signatureonfileflag"
                ],
                "properties": {
                  "alternatephone": {
                    "description": "The phone number of the provider.",
                    "type": "string"
                  },
                  "ansicode": {
                    "description": "The provider taxonomy code of the provider.",
                    "type": "string"
                  },
                  "billable": {
                    "description": "This provider is a supervising provider and is credentialed to bill for services.",
                    "type": "boolean"
                  },
                  "billednamecase": {
                    "description": "The billing name of the provider.",
                    "type": "string"
                  },
                  "communicatordisplayname": {
                    "description": "The communicator display name for the provider.",
                    "type": "string"
                  },
                  "communicatorhomedepartment": {
                    "description": "The communicator home department for the provider.",
                    "type": "integer"
                  },
                  "crdreferring": {
                    "description": "This provider is a Coordinator referring provider.",
                    "type": "boolean"
                  },
                  "createencounteroncheckin": {
                    "description": "Automatically create encounters at check-in.",
                    "type": "boolean"
                  },
                  "directaddress": {
                    "description": "The direct email address for the provider.",
                    "type": "string"
                  },
                  "entitytypeid": {
                    "description": "The entity type of provider. 1 = person, 2 = non-person",
                    "type": "integer"
                  },
                  "firstname": {
                    "description": "The first name of the provider.",
                    "type": "string"
                  },
                  "hideinportal": {
                    "description": "Hide this provider in the Patient Portal.",
                    "type": "boolean"
                  },
                  "lastname": {
                    "description": "The last name of the provider.",
                    "type": "string"
                  },
                  "medicalgroupid": {
                    "description": "The medical group of the provider.",
                    "type": "integer"
                  },
                  "middleinitial": {
                    "description": "The middle name of the provider.",
                    "type": "string"
                  },
                  "namesuffix": {
                    "description": "The suffix of the provider.",
                    "type": "string"
                  },
                  "ndctatnumber": {
                    "description": "The NDC TAT number for this provider.",
                    "type": "string"
                  },
                  "npinumber": {
                    "description": "The NPI of the provider.",
                    "type": "integer",
                    "format": "int64"
                  },
                  "practiceroleid": {
                    "description": "The practice role ID for the provider.",
                    "type": "integer"
                  },
                  "providergroupid": {
                    "description": "The provider group of the provider.",
                    "type": "integer"
                  },
                  "providerprofileid": {
                    "description": "The provider profile of the provider (integer or 'NEW')",
                    "type": "string"
                  },
                  "providertype": {
                    "description": "The abbreviation for the provider type of the provider. (e.g., MD, NP). See GET /reference/providertypes for a mapping of abbreviation to provider type.  \n",
                    "type": "string"
                  },
                  "reportingname": {
                    "description": "The reporting name for the provider.",
                    "type": "string"
                  },
                  "scheduleresourcetypeid": {
                    "description": "The scheduling resource type id of the provider.",
                    "type": "integer"
                  },
                  "schedulingname": {
                    "description": "The scheduling name of the provider.",
                    "type": "string"
                  },
                  "schedulingnote": {
                    "description": "The scheduling note for the provider.",
                    "type": "string"
                  },
                  "sex": {
                    "description": "The sex of the provider (M or F)",
                    "type": "string"
                  },
                  "signatureonfileflag": {
                    "description": "This provider's signature is on file.",
                    "type": "boolean"
                  },
                  "specialtyid": {
                    "description": "The specialty ID of the provider. See GET /reference/providerspecialties for a mapping of ID to specialty name.",
                    "type": "string"
                  },
                  "ssn": {
                    "description": "The SSN of the provider.",
                    "type": "integer"
                  },
                  "staffbucket": {
                    "description": "Create a staff bucket for this provider.",
                    "type": "boolean"
                  },
                  "supervisingproviderid": {
                    "description": "The supervising provider ID for this provider.",
                    "type": "integer"
                  },
                  "supervisingprovidertype": {
                    "description": "If set to self,set supervisingprovider to itself.",
                    "type": "string"
                  },
                  "trackmissingslips": {
                    "description": "This provider renders services that should be tracked on the Missing Slips Worklist.",
                    "type": "boolean"
                  },
                  "username": {
                    "description": "The username for the provider.",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of information about created providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/providers/{providerId}": {
      "get": {
        "summary": "Get a providers",
        "operationId": "getProviderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "providerId",
            "description": "Id of the provider for which get information",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "showallproviderids",
            "description": "In athenaNet's internal data structures, a single provider can be represented by multiple IDs. These IDs are used in certain external messages (e.g. HL7) and thus these IDs may need to be known by the API user as well. When set to true, a list of all of these ancillary IDs will be provided.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showfederalidnumber",
            "description": "Include the provider's federal ID number in results.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "showusualdepartmentguessthreshold",
            "description": "There are situations where determining where a provider \"normally\" practices is desired. Unfortuantely, there is no such concept in athenaNet since providers often practice in multiple locations. However, we can use some intelligence to determine this by looking back over the previous few months (90 days) to see actual practice. To enable this, set this value between 0 and 1; it is highly recommended to be at least .5. This is the ratio of appointments in a given department to the total number of appointments for that provider. A value of .5 means \"the provider's appointments are 50% in the department guessed.\" Setting this to 1 would only return a department if ALL of the provider's appointments were in one department.\n",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProviderInformation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/appointments/{appointmentId}": {
      "get": {
        "summary": "Get Information about a single patient's appointment by id",
        "operationId": "getAppointmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "appointmentId",
            "description": "Id of the appointment.",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "ignorerestrictions",
            "description": "When showing patient detail for appointments, the patient information for patients with record restrictions and blocked patients will not be shown. Setting this flag to true will show that information for those patients.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showclaimdetail",
            "description": "Include claim information, if available, associated with an appointment.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showcopay",
            "description": "By default, the expected co-pay is returned. For performance purposes, you can set this to false and copay will not be populated.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showexpectedprocedurecodes",
            "description": "Show the expetcted procedurecodes.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showinsurance",
            "description": "Include patient insurance information. Shows insurance packages for the appointment if any are selected, and all patient packages otherwise.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showpatientdetail",
            "description": "Include patient information for each patient associated with an appointment.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentInformationArray"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Set Information about a single patient's appointment by id",
        "operationId": "bookAppointmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "appointmentId",
            "description": "Id of the appointment.",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "patientid"
                ],
                "properties": {
                  "patientid": {
                    "description": "The athenaNet patient ID.",
                    "type": "integer"
                  },
                  "appointmenttypeid": {
                    "description": "The appointment type to be booked. This field should never be used for booking appointments for web-based scheduling. The use of this field is reserved for digital check-in (aka \"kiosk\") or an application used by practice staff. One of this or reasonid is required.\n",
                    "type": "integer"
                  },
                  "bookingnote": {
                    "description": "A note from the patient about why this appointment is being booked",
                    "type": "string"
                  },
                  "departmentid": {
                    "description": "The athenaNet department ID.",
                    "type": "integer"
                  },
                  "donotsendconfirmationemail": {
                    "description": "For clients with athenaCommunicator, certain appointment types can be configured to have an appointment confirmation email sent to the patient at time of appointment booking. If this parameter is set to true, that email will not be sent. This should only be used if you plan on sending a confirmation email via another method.\n",
                    "type": "boolean"
                  },
                  "ignoreschedulablepermission": {
                    "description": "By default, we allow booking of appointments marked as schedulable via the web. This flag allows you to bypass that restriction for booking.\n",
                    "type": "boolean"
                  },
                  "insurancecompany": {
                    "description": "The name of the insurance company.",
                    "type": "string"
                  },
                  "insurancegroupid": {
                    "description": "If available, any identifier for the insurance group.",
                    "type": "string"
                  },
                  "insuranceidnumber": {
                    "description": "The insurance identifier for this individual patient.",
                    "type": "string"
                  },
                  "insurancenote": {
                    "description": "Any extra information provided by the patient about insurance coverage.",
                    "type": "string"
                  },
                  "insurancephone": {
                    "description": "The phone number for the insurance company.",
                    "type": "string"
                  },
                  "insuranceplanname": {
                    "description": "The insurance plan name (e.g. \"HMO Blue\").",
                    "type": "string"
                  },
                  "insurancepolicyholder": {
                    "description": "The full name of the insurance policy holder.",
                    "type": "string"
                  },
                  "nopatientcase": {
                    "description": "By default, we create a patient case upon booking an appointment for new patients. Setting this to true bypasses that patient case.\n",
                    "type": "boolean"
                  },
                  "reasonid": {
                    "description": "The appointment reason ID to be booked. This field is required for booking appointments for web-based scheduling and is a reason that is retrieved from the /patientappointmentreasons call.\n",
                    "type": "integer"
                  },
                  "urgentyn": {
                    "description": "Set this field in order to set the urgent flag in athena (if the practice settings allow for this).",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of information about appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentInformationArray"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete information about a single patient's appointment by id. Only open appointments can be deleted.",
        "operationId": "deleteAppointmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "appointmentId",
            "description": "Id of the appointment.",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about appointments which was affected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentInformationIds"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/appointments/{appointmentId}/cancel": {
      "put": {
        "summary": "Cancel an existing appointment.",
        "operationId": "cancelAppointmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "path",
            "name": "appointmentId",
            "description": "Id of the appointment.",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "patientid"
                ],
                "properties": {
                  "patientid": {
                    "description": "The athenaNet patient ID.",
                    "type": "integer"
                  },
                  "appointmentcancelreasonid": {
                    "description": "Passing in this parameter will override the default cancel reason. Valid reasons can be retrieved via a call to the GET /appointmentcancelreasons endpoint.\n",
                    "type": "integer"
                  },
                  "cancellationreason": {
                    "description": "A text explanation why the appointment is being cancelled",
                    "type": "string"
                  },
                  "departmentid": {
                    "description": "The athenaNet department ID.",
                    "type": "integer"
                  },
                  "ignoreschedulablepermission": {
                    "description": "By default, we allow booking of appointments marked as schedulable via the web. This flag allows you to bypass that restriction for booking.\n",
                    "type": "boolean"
                  },
                  "nopatientcase": {
                    "description": "By default, we create a patient case upon booking an appointment for new patients. Setting this to true bypasses that patient case.\n",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result of operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatusData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/appointments/booked": {
      "get": {
        "summary": "Get booked appointments",
        "operationId": "getBookedAppointments",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "query",
            "name": "appointmentstatus",
            "description": "Filter appointments by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "appointmenttypeid",
            "description": "Filter by appointment type ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "departmentid",
            "description": "The athenaNet department ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "enddate",
            "description": "End of the appointment search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endlastmodified",
            "description": "Identify appointments modified prior to this date/time (mm/dd/yyyy hh:mi:ss). Inclusive. Note: This can only be used if a startlastmodified value is supplied as well.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ignorerestrictions",
            "description": "When showing patient detail for appointments, the patient information for patients with record restrictions and blocked patients will not be shown. Setting this flag to true will show that information for those patients.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "patientid",
            "description": "The athenaNet patient ID. If operating in a Provider Group Enterprise practice, this should be the enterprise patient ID.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "providerid",
            "description": "The athenaNet provider ID. Multiple IDs (either as a comma delimited list or multiple POSTed values) are allowed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scheduledenddate",
            "description": "End of the appointment scheduled search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scheduledstartdate",
            "description": "Start of the appointment scheduled search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showcancelled",
            "description": "Include appointments that have been cancelled.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showclaimdetail",
            "description": "Include claim information, if available, associated with an appointment.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showcopay",
            "description": "By default, the expected co-pay is returned. For performance purposes, you can set this to false and copay will not be populated.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showexpectedprocedurecodes",
            "description": "Show the expetcted procedurecodes.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showinsurance",
            "description": "Include patient insurance information. Shows insurance packages for the appointment if any are selected, and all patient packages otherwise.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showpatientdetail",
            "description": "Include patient information for each patient associated with an appointment.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showremindercalldetail",
            "description": "Include all remindercall related results, if available, associated with an appointment.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "startdate",
            "description": "Start of the appointment search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startlastmodified",
            "description": "Identify appointments modified after this date/time (mm/dd/yyyy hh:mi:ss). Inclusive.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentInformationList"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/appointments/booked/multipledepartment": {
      "get": {
        "summary": "Get booked appointments",
        "operationId": "getBookedAppointmentsFromMultipleDepartments",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "query",
            "name": "appointmentstatus",
            "description": "Filter appointments by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "appointmenttypeid",
            "description": "Filter by appointment type ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "departmentid",
            "description": "The athenaNet department ID. Multiple IDs (either as a comma delimited list or multiple POSTed values) are allowed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "enddate",
            "description": "End of the appointment search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endlastmodified",
            "description": "Identify appointments modified prior to this date/time (mm/dd/yyyy hh:mi:ss). Inclusive. Note: This can only be used if a startlastmodified value is supplied as well.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ignorerestrictions",
            "description": "When showing patient detail for appointments, the patient information for patients with record restrictions and blocked patients will not be shown. Setting this flag to true will show that information for those patients.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "patientid",
            "description": "The athenaNet patient ID. If operating in a Provider Group Enterprise practice, this should be the enterprise patient ID.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "providerid",
            "description": "The athenaNet provider ID. Multiple IDs (either as a comma delimited list or multiple POSTed values) are allowed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scheduledenddate",
            "description": "End of the appointment scheduled search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scheduledstartdate",
            "description": "Start of the appointment scheduled search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showcancelled",
            "description": "Include appointments that have been cancelled.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showclaimdetail",
            "description": "Include claim information, if available, associated with an appointment.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showcopay",
            "description": "By default, the expected co-pay is returned. For performance purposes, you can set this to false and copay will not be populated.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showexpectedprocedurecodes",
            "description": "Show the expetcted procedurecodes.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showinsurance",
            "description": "Include patient insurance information. Shows insurance packages for the appointment if any are selected, and all patient packages otherwise.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showpatientdetail",
            "description": "Include patient information for each patient associated with an appointment.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "showremindercalldetail",
            "description": "Include all remindercall related results, if available, associated with an appointment.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "startdate",
            "description": "Start of the appointment search date range (mm/dd/yyyy). Inclusive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startlastmodified",
            "description": "Identify appointments modified after this date/time (mm/dd/yyyy hh:mi:ss). Inclusive.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentInformationList"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/appointments/open": {
      "get": {
        "summary": "Get open appointment slots",
        "operationId": "getOpenAppointments",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "query",
            "name": "appointmenttypeid",
            "description": "Normally, an appointment reason ID should be used which will map to the correct underlying appointment type in athenaNet. This field will ignore the practice's existing setup for what should be scheduled. Please consult with athenahealth before using. Either an appointmenttypeid or a reasonid must be specified or no results will be returned.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "bypassscheduletimechecks",
            "description": "Bypass checks that usually require returned appointments to be some amount of hours in the future (as configured by the practice, defaulting to 24 hours), and also ignores the setting that only  shows appointments for a certain number of days in the future (also configurable by the practice, defaulting to 90 days).\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "departmentid",
            "description": "The athenaNet department ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "enddate",
            "description": "End of the appointment search date range (mm/dd/yyyy). Inclusive. Defaults to seven days from startdate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ignoreschedulablepermission",
            "description": "By default, we show only appointments that are are available to scheduled via the API. This flag allows you to bypass that restriction for viewing available appointments (but you still may not be able to schedule based on this permission!). This flag does not, however, show the full schedule (that is, appointments that are already booked).  \n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "providerid",
            "description": "The athenaNet provider ID. Required if a reasonid other than -1 is specified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "reasonid",
            "description": "The athenaNet patient appointment reason ID, from GET /patientappointmentreasons. While this is not technically required due to some unusual use cases, it is highly recommended for most calls. We do allow a special value of -1 for the reasonid. This reasonid will return open, web-schedulable slots regardless of reason. However, slots returned using a search of -1 may return slots that are not bookable by any reason ID (they may be bookable by specific appointment type IDs instead). This argument allows multiple valid reason IDs to be specified (e.g. reasonid=1,2,3), so if you are looking for slots that match \"any\" reason, it is recommended that you enumerate the set of reasons you are looking for. Either a reasonid or an appointmenttypeid must be specified or no results will be returned. If a reasonid other than -1 is specified then a providerid must also be specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showfrozenslots",
            "description": "By default, we hide appointments that are frozen from being returned via the API.  This flag allows you to show frozen slots in the set of results returned.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "startdate",
            "description": "Start of the appointment search date range (mm/dd/yyyy). Inclusive. Defaults to today.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentInformationList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Provides the ability to add new open appointment slots",
        "operationId": "openNewAppointment",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "appointmentdate",
                  "appointmenttime",
                  "departmentid",
                  "providerid"
                ],
                "properties": {
                  "appointmentdate": {
                    "description": "The appointment date for the new open appointment slot (mm/dd/yyyy).",
                    "type": "string"
                  },
                  "appointmenttime": {
                    "description": "The time (hh24:mi) for the new appointment slot. Multiple times (either as a comma delimited list or multiple POSTed values) are allowed. 24 hour time.  \n",
                    "type": "string"
                  },
                  "appointmenttypeid": {
                    "description": "The appointment type ID to be created. Either this or a reason must be provided.",
                    "type": "integer"
                  },
                  "departmentid": {
                    "description": "The athenaNet department ID.",
                    "type": "integer"
                  },
                  "providerid": {
                    "description": "The athenaNet provider ID.",
                    "type": "integer"
                  },
                  "reasonid": {
                    "description": "The appointment reason (/patientappointmentreasons) to be created. Either this or a raw appointment type ID must be provided.\n",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of information about created providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "appointmentids": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/appointmenttypes": {
      "get": {
        "summary": "Get appointment types",
        "operationId": "getAppointmentTypes",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "in": "query",
            "name": "hidegeneric",
            "description": "By default, we show both generic and non-generic types. Setting this to true will hide the generic types (and show only non-generic types).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "hidenongeneric",
            "description": "By default, we show both generic and non-generic types. Setting this to true will hide non-generic types (and show only generic types).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "hidenonpatient",
            "description": "This defaults to true if not specified, and thus will hide non-patient facing types. Setting this to false would thus show non-patient facing types.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "hidetemplatetypeonly",
            "description": "By default, we show both \"template only\" and not-template only types. Setting this to true, the results will omit template only types. (\"Template only\" is a setting that makes the type appear in schedules, but forces users to select a non-template type upon booking.)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of information about appointment types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentTypeInformationList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates new appointment type",
        "operationId": "createAppointmentType",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "shortname",
                  "patient",
                  "duration"
                ],
                "properties": {
                  "duration": {
                    "description": "The expected duration, in minutes, of the appointment type. Note, this value cannot be changed after creation, so please choose carefully.\n",
                    "type": "integer"
                  },
                  "generic": {
                    "description": "If set to true, this type serves as a \"generic\" type, that will match any type when searching. Defaults to false.\n",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "The name of the appointment type. Maximum length of 30 characters.",
                    "type": "string",
                    "maxLength": 30
                  },
                  "patient": {
                    "description": "If set to true, this type serves as a \"patient\" type, meaning that is is a type that can be used for booking patients. If set to false, then it this type will not be used for patient (e.g. \"Lunch\" or \"Vacation\"). Non-patient types are mostly used to reserving time for providers to not see patients.\n",
                    "type": "boolean"
                  },
                  "shortname": {
                    "description": "The short name code of the appointment type. Maximum length of 4 characters. Used for making schedule templates. Note, this value cannot be changed after creation, so please choose carefully.\n",
                    "type": "string",
                    "maxLength": 4
                  },
                  "templatetypeonly": {
                    "description": "If set to true, this type serves as a \"template-only\" type, meaning that it can be used for building schedule templates,  but cannot be used for booking appointments (i.e. another type must be chosen). Defaults to false.\n",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of information about created providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "appointmenttypeid": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/chart/{patientId}/medications": {
      "get": {
        "summary": "Get patient medications",
        "operationId": "getPatientMedications",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient for which get medications",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "The athenanet department ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "medicationtype",
            "in": "query",
            "description": "Historical or Active or Denied. Will return a list of a patient's active or historical or denied medications.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showndc",
            "in": "query",
            "description": "Shows the list of NDC numbers related to the medication.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showpend",
            "in": "query",
            "description": "Include pending medications associated with approved future orders. These medications have not yet been submitted.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showrxnorm",
            "in": "query",
            "description": "Shows the list of RxNorm Identifiers related to the medication. The list may contain both branded and generic identifiers.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about patient medications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientMedicationInformation"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/chart/{patientId}/medicalhistory": {
      "get": {
        "summary": "Get patient medical history",
        "operationId": "getPatientMedicalHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient for which get medications",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "The athenanet department ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about patient medications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientMedicalHistory"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/chart/{patientId}/analytes": {
      "get": {
        "summary": "Get patient medical history",
        "operationId": "getPatientAnalytes",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient for which get medications",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "The athenanet department ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "allresultsbyencounterid",
            "in": "query",
            "description": "ID used to return lab results for a specific encounter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "analyteresultstatus",
            "in": "query",
            "description": "Filter the results based on the analyte's result status. Since the result status is a free text field, this list is not exhaustive, but does represent a majority of the used statuses.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "Filter lab orders not individual results that are on or before this date. Example: enddate=1/21/2018. If no enddate is specified, all lab orders found since startdate will be included if specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labresultstatus",
            "in": "query",
            "description": "Filter the results based on the lab result's result status. Since the result status is a free text field, this list is not exhaustive, but does represent a majority of the used statuses.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showabnormaldetails",
            "in": "query",
            "description": "Include the translation of the abnormalflag into HL7 code standards.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showhidden",
            "in": "query",
            "description": "Includes the lab results and analytes marked as hidden. Hidden lab results and analytes are created when they are manually entered, for example on the qm tab or in flowsheets.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showtemplate",
            "in": "query",
            "description": "If true, interpretation template added to the document is also returned.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "description": "Filter lab orders not individual results that are on or after this date. Example: startdate=6/21/2015. If no startdate is specified, all prior lab orders will be included until enddate if specified.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about patient medications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalytesList"
                  }
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/chart/{patientId}/labresults": {
      "get": {
        "summary": "Get patient medical history",
        "operationId": "getPatientLabResults",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient for which get medications",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "The athenanet department ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "allresultsbyencounterid",
            "in": "query",
            "description": "ID used to return lab results for a specific encounter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "analyteresultstatus",
            "in": "query",
            "description": "Filter the results based on the analyte's result status. Since the result status is a free text field, this list is not exhaustive, but does represent a majority of the used statuses.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "Filter lab orders not individual results that are on or before this date. Example: enddate=1/21/2018. If no enddate is specified, all lab orders found since startdate will be included if specified.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labresultstatus",
            "in": "query",
            "description": "Filter the results based on the lab result's result status. Since the result status is a free text field, this list is not exhaustive, but does represent a majority of the used statuses.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showabnormaldetails",
            "in": "query",
            "description": "Include the translation of the abnormalflag into HL7 code standards.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showhidden",
            "in": "query",
            "description": "Includes the lab results and analytes marked as hidden. Hidden lab results and analytes are created when they are manually entered, for example on the qm tab or in flowsheets.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showtemplate",
            "in": "query",
            "description": "If true, interpretation template added to the document is also returned.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "description": "Filter lab orders not individual results that are on or after this date. Example: startdate=6/21/2015. If no startdate is specified, all prior lab orders will be included until enddate if specified.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about patient medications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabResultList"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/chart/{patientId}/vitals": {
      "get": {
        "summary": "Get patient medical history",
        "operationId": "getPatientVitals",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient for which get medications",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "The department for this patient. A patient may have multiple charts, and the department determines which chart to retrieve.\n",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "Only retrieve vitals that were taking on or before this date\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showemptyvitals",
            "in": "query",
            "description": "Show configured vitals that have no readings for this patient.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "description": "Only retrieve vitals that were taking on or after this date\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about patient medications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VitalsList"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{apivariant}/{practiceid}/chart/{patientId}/problems": {
      "get": {
        "summary": "Get patient medical history",
        "operationId": "getPatientProblems",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient for which get medications",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "departmentid",
            "in": "query",
            "description": "The department for this patient. A patient may have multiple charts, and the department determines which chart to retrieve.\n",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "showdiagnosisinfo",
            "in": "query",
            "description": "If true, will include every encounter and associated diagnosis with each problem.  Also fills the bestmatchicd10code field with the best conversion from the problem SNOMED  code to ICD10 code if there is no user-selected ICD10 code in an encounter diagnosis event. Please note that the bestmatchicd10code may not always be accurate.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showinactive",
            "in": "query",
            "description": "Also show inactive (but not soft deleted) problems.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about patient medications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemsList"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Adds problem to patient chart.",
        "operationId": "createPatientProblem",
        "parameters": [
          {
            "$ref": "#/components/parameters/practiceid"
          },
          {
            "$ref": "#/components/parameters/apivariant"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient for which get medications",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
[...]
