{
  "openapi": "3.0.3",
  "info": {
    "title": "Udemy Instructor API",
    "description": "The Udemy Instructor API allows instructors to programmatically access and manage their courses, reviews, and performance data on the Udemy platform. Instructors can retrieve course listings, student reviews, Q&A threads, course performance metrics, and revenue reports.",
    "version": "2.0",
    "contact": {
      "name": "Udemy Developer Support",
      "url": "https://www.udemy.com/developers/"
    },
    "x-jentic-source-url": "https://www.udemy.com/developers/instructor/"
  },
  "servers": [
    {
      "url": "https://www.udemy.com/instructor-api/v1",
      "description": "Udemy Instructor API v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Courses",
      "description": "Manage and retrieve instructor courses"
    },
    {
      "name": "Reviews",
      "description": "Access course reviews"
    },
    {
      "name": "QA",
      "description": "Access course Q&A threads"
    },
    {
      "name": "Performance",
      "description": "Course performance and revenue analytics"
    }
  ],
  "paths": {
    "/taught-courses/courses": {
      "get": {
        "operationId": "listInstructorCourses",
        "summary": "List instructor courses",
        "description": "Returns a paginated list of courses taught by the authenticated instructor.",
        "tags": ["Courses"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 12
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter courses by search keyword.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Ordering field (e.g., 'title', '-created').",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of courses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/taught-courses/courses/{course_id}": {
      "get": {
        "operationId": "getInstructorCourse",
        "summary": "Get course details",
        "description": "Returns detailed information about a specific course taught by the authenticated instructor.",
        "tags": ["Courses"],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the course.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with course details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Course not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/taught-courses/courses/{course_id}/reviews": {
      "get": {
        "operationId": "listCourseReviews",
        "summary": "List course reviews",
        "description": "Returns a paginated list of reviews for a specific course.",
        "tags": ["Reviews"],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the course.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 12
            }
          },
          {
            "name": "star",
            "in": "query",
            "description": "Filter by star rating (1-5).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with reviews.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Course not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/taught-courses/courses/{course_id}/questions": {
      "get": {
        "operationId": "listCourseQuestions",
        "summary": "List course Q&A threads",
        "description": "Returns a paginated list of Q&A threads for a specific course.",
        "tags": ["QA"],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the course.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 12
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by thread status (e.g., 'unanswered', 'answered', 'unread').",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["unanswered", "answered", "unread"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with Q&A threads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Course not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/taught-courses/courses/{course_id}/performance": {
      "get": {
        "operationId": "getCoursePerformance",
        "summary": "Get course performance metrics",
        "description": "Returns performance analytics for a specific course, including enrollment, revenue, and rating data.",
        "tags": ["Performance"],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the course.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_filter",
            "in": "query",
            "description": "Date range filter (e.g., 'last7', 'last30', 'last90', 'year', 'all').",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["last7", "last30", "last90", "year", "all"],
              "default": "last30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with performance data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoursePerformance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Course not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/revenue-report": {
      "get": {
        "operationId": "getRevenueReport",
        "summary": "Get revenue report",
        "description": "Returns a revenue report for the authenticated instructor, with monthly breakdown of earnings.",
        "tags": ["Performance"],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Filter by year.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Filter by month (1-12).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with revenue data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueReportResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Udemy instructor bearer token obtained via OAuth2 or instructor API token from account settings."
      }
    },
    "schemas": {
      "CourseListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of courses."
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL for the next page of results."
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL for the previous page of results."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Course"
            }
          }
        }
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique course identifier."
          },
          "title": {
            "type": "string",
            "description": "Course title."
          },
          "url": {
            "type": "string",
            "description": "Relative URL of the course."
          },
          "is_published": {
            "type": "boolean",
            "description": "Whether the course is published."
          },
          "num_subscribers": {
            "type": "integer",
            "description": "Number of enrolled students."
          },
          "avg_rating": {
            "type": "number",
            "format": "float",
            "description": "Average course rating."
          },
          "num_reviews": {
            "type": "integer",
            "description": "Total number of reviews."
          },
          "image_480x270": {
            "type": "string",
            "description": "URL of the course thumbnail image."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Course creation timestamp."
          }
        }
      },
      "ReviewListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Review"
            }
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Review identifier."
          },
          "content": {
            "type": "string",
            "description": "Review text content."
          },
          "rating": {
            "type": "number",
            "format": "float",
            "description": "Star rating (1.0 - 5.0)."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Review creation timestamp."
          },
          "user": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Reviewer display name."
              },
              "display_name": {
                "type": "string",
                "description": "Reviewer display name."
              }
            }
          }
        }
      },
      "QuestionListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Question thread identifier."
          },
          "title": {
            "type": "string",
            "description": "Question title."
          },
          "body": {
            "type": "string",
            "description": "Question body text."
          },
          "num_replies": {
            "type": "integer",
            "description": "Number of replies."
          },
          "is_read": {
            "type": "boolean",
            "description": "Whether the thread has been read."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Thread creation timestamp."
          },
          "user": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              }
            }
          }
        }
      },
      "CoursePerformance": {
        "type": "object",
        "properties": {
          "course_id": {
            "type": "integer"
          },
          "total_enrollments": {
            "type": "integer",
            "description": "Total number of enrollments."
          },
          "total_revenue": {
            "type": "number",
            "format": "float",
            "description": "Total revenue earned."
          },
          "avg_rating": {
            "type": "number",
            "format": "float",
            "description": "Average rating."
          },
          "total_reviews": {
            "type": "integer",
            "description": "Total number of reviews."
          },
          "minutes_taught": {
            "type": "integer",
            "description": "Total minutes of content consumed."
          }
        }
      },
      "RevenueReportResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RevenueItem"
            }
          }
        }
      },
      "RevenueItem": {
        "type": "object",
        "properties": {
          "course_id": {
            "type": "integer"
          },
          "course_title": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "description": "Sales channel (e.g., 'instructor_direct', 'udemy_organic', 'paid_acquisition')."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Revenue amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency code."
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Transaction date."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message describing the issue."
          }
        }
      }
    }
  }
}