{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "This is Swagger UI environment generated for the TMF Agreement Management specification",
    "title": "Agreement Management",
    "version": "2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/tmforum-open-api/agreement-management/2.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://biologeek.orange-labs.fr/tmf-api/agreementManagement"
    }
  ],
  "paths": {
    "/agreement": {
      "get": {
        "parameters": [
          {
            "description": "Comma separated properties to display in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, ending at the TimePeriod.",
            "in": "query",
            "name": "agreementPeriod.endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, starting at the TimePeriod",
            "in": "query",
            "name": "agreementPeriod.startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, ending at the TimePeriod.",
            "in": "query",
            "name": "completionDate.endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, starting at the TimePeriod",
            "in": "query",
            "name": "completionDate.startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: A reference number assigned to an Agreement that follows a prescribed numbering system.",
            "in": "query",
            "name": "documentNumber",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "For filtering: Date at which the agreement was initialized",
            "in": "query",
            "name": "initialDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: A human-readable name for the agreement",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: An overview and goals of the Agreement.",
            "in": "query",
            "name": "statementOfIntent",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The current status of the agreement. Typical values are: in process, approved and rejected.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The type of the agreement. For example \"commercial\".",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: A string identifying the version of the agreement.",
            "in": "query",
            "name": "version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the agreement specification",
            "in": "query",
            "name": "agreementSpecification.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The name of the referred party role.",
            "in": "query",
            "name": "engagedPartyRole.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The identifier of the engaged party that is linked to the PartyRole object.",
            "in": "query",
            "name": "engagedPartyRole.partyId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The name of the engaged party that is linked to the PartyRole object.",
            "in": "query",
            "name": "engagedPartyRole.partyName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The date associated with the authorization state.",
            "in": "query",
            "name": "agreementAuthorization.date",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: Indication that represents whether the signature is a physical paper signature or a digital signature.",
            "in": "query",
            "name": "agreementAuthorization.signatureRepresentation",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Current status of the authorization, for example in process, approved, rejected.",
            "in": "query",
            "name": "agreementAuthorization.state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the characteristic",
            "in": "query",
            "name": "characteristic.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Value of the characteristic",
            "in": "query",
            "name": "characteristic.value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the agreement",
            "in": "query",
            "name": "associatedAgreement.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreement"
        ],
        "description": "List or find 'Agreement' objects",
        "operationId": "listAgreement",
        "summary": "List or find 'Agreement' objects"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreement"
        ],
        "description": "Creates a 'Agreement'",
        "operationId": "createAgreement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement_Create"
              }
            }
          },
          "description": "The Agreement to be created",
          "required": true
        },
        "summary": "Creates a 'Agreement'"
      }
    },
    "/agreement/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Identifier of the Agreement",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreement"
        ],
        "description": "Deletes a 'Agreement' by Id",
        "operationId": "deleteAgreement",
        "summary": "Deletes a 'Agreement' by Id"
      },
      "get": {
        "parameters": [
          {
            "description": "Identifier of the Agreement",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreement"
        ],
        "description": "Retrieves a 'Agreement' by Id",
        "operationId": "retrieveAgreement",
        "summary": "Retrieves a 'Agreement' by Id"
      },
      "patch": {
        "parameters": [
          {
            "description": "Identifier of the Agreement",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agreement"
                }
              }
            },
            "description": "Updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreement"
        ],
        "description": "Updates partially a 'Agreement' by Id",
        "operationId": "updateAgreement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement_Update"
              }
            }
          },
          "description": "The Agreement to be updated",
          "required": true
        },
        "summary": "Updates partially a 'Agreement' by Id"
      }
    },
    "/agreementSpecification": {
      "get": {
        "parameters": [
          {
            "description": "Comma separated properties to display in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Indicates that this agreement specification is a grouping of other agreement specifications. The list of bundled agreement specifications is provided via the specificationRelationship property.",
            "in": "query",
            "name": "isBundle",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "For filtering: Date and time of the last update",
            "in": "query",
            "name": "lastUpdate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: Indicates the current lifecycle status",
            "in": "query",
            "name": "lifecycleStatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the agreement specification",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, ending at the TimePeriod.",
            "in": "query",
            "name": "validFor.endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, starting at the TimePeriod",
            "in": "query",
            "name": "validFor.startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: Agreement specification version",
            "in": "query",
            "name": "version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the category",
            "in": "query",
            "name": "serviceCategory.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Category version",
            "in": "query",
            "name": "serviceCategory.version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: If true, the Boolean indicates that the characteristic is configurable",
            "in": "query",
            "name": "specCharacteristic.configurable",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "For filtering: Name of the characteristic being specified.",
            "in": "query",
            "name": "specCharacteristic.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: A kind of value that the characteristic can take on, such as numeric, text and so forth",
            "in": "query",
            "name": "specCharacteristic.valueType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the related party",
            "in": "query",
            "name": "relatedParty.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Role of the related party.",
            "in": "query",
            "name": "relatedParty.role",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Attachment type such as video, picture",
            "in": "query",
            "name": "attachment.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Uniform Resource Locator, is a web page address (a subset of URI)",
            "in": "query",
            "name": "attachment.url",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Type of relationship such as, substitution or dependency.",
            "in": "query",
            "name": "specificationRelationship.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AgreementSpecification"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreementSpecification"
        ],
        "description": "List or find 'AgreementSpecification' objects",
        "operationId": "listAgreementSpecification",
        "summary": "List or find 'AgreementSpecification' objects"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementSpecification"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreementSpecification"
        ],
        "description": "Creates a 'AgreementSpecification'",
        "operationId": "createAgreementSpecification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementSpecification_Create"
              }
            }
          },
          "description": "The Agreement Specification to be created",
          "required": true
        },
        "summary": "Creates a 'AgreementSpecification'"
      }
    },
    "/agreementSpecification/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Identifier of the Agreement Specification",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreementSpecification"
        ],
        "description": "Deletes a 'AgreementSpecification' by Id",
        "operationId": "deleteAgreementSpecification",
        "summary": "Deletes a 'AgreementSpecification' by Id"
      },
      "get": {
        "parameters": [
          {
            "description": "Identifier of the Agreement Specification",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AgreementSpecification"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreementSpecification"
        ],
        "description": "Retrieves a 'AgreementSpecification' by Id",
        "operationId": "retrieveAgreementSpecification",
        "summary": "Retrieves a 'AgreementSpecification' by Id"
      },
      "patch": {
        "parameters": [
          {
            "description": "Identifier of the Agreement Specification",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementSpecification"
                }
              }
            },
            "description": "Updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "agreementSpecification"
        ],
        "description": "Updates partially a 'AgreementSpecification' by Id",
        "operationId": "updateAgreementSpecification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementSpecification_Update"
              }
            }
          },
          "description": "The Agreement Specification to be updated",
          "required": true
        },
        "summary": "Updates partially a 'AgreementSpecification' by Id"
      }
    },
    "/hub": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSubscription"
                }
              }
            },
            "description": "Subscribed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "events subscription"
        ],
        "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.",
        "operationId": "registerListener",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventSubscriptionInput"
              }
            }
          },
          "description": "Data containing the callback endpoint to deliver the information",
          "required": true
        },
        "summary": "Register a listener"
      }
    },
    "/hub/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The id of the registered listener",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Unsubscribed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "events subscription"
        ],
        "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.",
        "operationId": "unregisterListener",
        "summary": "Unregister a listener"
      }
    }
  },
  "components": {
    "schemas": {
      "Agreement": {
        "description": "An agreement represents a contract or arrangement, either written or verbal and sometimes enforceable by law, such as a service level agreement or a customer price agreement. An agreement involves a number of other business entities, such as products, services, and resources and/or their specifications.",
        "properties": {
          "agreementAuthorization": {
            "items": {
              "$ref": "#/components/schemas/AgreementAuthorization"
            },
            "type": "array"
          },
          "agreementItem": {
            "items": {
              "$ref": "#/components/schemas/AgreementItem"
            },
            "type": "array"
          },
          "agreementPeriod": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "agreementSpecification": {
            "$ref": "#/components/schemas/AgreementSpecificationRef"
          },
          "associatedAgreement": {
            "items": {
              "$ref": "#/components/schemas/AgreementRef"
            },
            "type": "array"
          },
          "characteristic": {
            "items": {
              "$ref": "#/components/schemas/Characteristic"
            },
            "type": "array"
          },
          "completionDate": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "description": {
            "description": "Narrative that explains the agreement and details about the it , such as why the agreement is taking place.",
            "type": "string"
          },
          "documentNumber": {
            "description": "A reference number assigned to an Agreement that follows a prescribed numbering system.",
            "type": "integer"
          },
          "engagedPartyRole": {
            "items": {
              "$ref": "#/components/schemas/PartyRoleRef"
            },
            "type": "array"
          },
          "href": {
            "description": "Unique url identifying the agreement as a resource",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for the agreement",
            "type": "string"
          },
          "initialDate": {
            "description": "Date at which the agreement was initialized",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "description": "A human-readable name for the agreement",
            "type": "string"
          },
          "statementOfIntent": {
            "description": "An overview and goals of the Agreement.",
            "type": "string"
          },
          "status": {
            "description": "The current status of the agreement. Typical values are: in process, approved and rejected.",
            "type": "string"
          },
          "type": {
            "description": "The type of the agreement. For example \"commercial\".",
            "type": "string"
          },
          "version": {
            "description": "A string identifying the version of the agreement.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementAttachment": {
        "description": "Represents a complementary piece of information to describe the agreement. Could be a document, picture, a video or any kind of multimedia content.",
        "properties": {
          "href": {
            "description": "Reference of the attachment",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the attachment",
            "type": "string"
          },
          "type": {
            "description": "Attachment type such as video, picture",
            "type": "string"
          },
          "url": {
            "description": "Uniform Resource Locator, is a web page address (a subset of URI)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementAuthorization": {
        "description": "A business participant that is responsible for approving the agreement.",
        "properties": {
          "date": {
            "description": "The date associated with the authorization state.",
            "format": "date-time",
            "type": "string"
          },
          "signatureRepresentation": {
            "description": "Indication that represents whether the signature is a physical paper signature or a digital signature.",
            "type": "string"
          },
          "state": {
            "description": "Current status of the authorization, for example in process, approved, rejected.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementItem": {
        "description": "A part of the agreement expressed in terms of a product offering and possibly including specific terms and conditions.",
        "properties": {
          "productOffering": {
            "items": {
              "$ref": "#/components/schemas/ProductOfferingRef"
            },
            "type": "array"
          },
          "termOrCondition": {
            "items": {
              "$ref": "#/components/schemas/AgreementTermOrCondition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AgreementRef": {
        "description": "Agreement reference. An agreement represents a contract or arrangement, either written or verbal and sometimes enforceable by law, such as a service level agreement or a customer price agreement. An agreement involves a number of other business entities, such as products, services, and resources and/or their specifications.",
        "properties": {
          "href": {
            "description": "Reference of the agreement",
            "type": "string"
          },
          "id": {
            "description": "Identifier of the agreement",
            "type": "string"
          },
          "name": {
            "description": "Name of the agreement",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementSpecCharacteristic": {
        "description": "A characteristic quality or distinctive feature of an agreement.",
        "properties": {
          "configurable": {
            "description": "If true, the Boolean indicates that the characteristic is configurable",
            "type": "boolean"
          },
          "description": {
            "description": "A narrative that explains in detail what the characteristic is",
            "type": "string"
          },
          "name": {
            "description": "Name of the characteristic being specified.",
            "type": "string"
          },
          "specCharacteristicValue": {
            "items": {
              "$ref": "#/components/schemas/AgreementSpecCharacteristicValue"
            },
            "type": "array"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "valueType": {
            "description": "A kind of value that the characteristic can take on, such as numeric, text and so forth",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementSpecCharacteristicValue": {
        "description": "A number or text that can be assigned to an agreement specification characteristic.",
        "properties": {
          "default": {
            "description": "Indicates if the value is the default value for a characteristic",
            "type": "boolean"
          },
          "unitOfMeasure": {
            "description": "Unit of measure for the characteristic, such as minutes, gigabytes (GB) and so on.",
            "type": "string"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "value": {
            "description": "A discrete value that the characteristic can take on",
            "type": "string"
          },
          "valueFrom": {
            "description": "The low range value that a characteristic can take on",
            "type": "string"
          },
          "valueTo": {
            "description": "The upper range value that a characteristic can take on",
            "type": "string"
          },
          "valueType": {
            "description": "A kind of value that the characteristic can take on, such as numeric, text, and so forth",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementSpecification": {
        "description": "A template of an agreement that can be used when establishing partnerships.",
        "properties": {
          "attachment": {
            "items": {
              "$ref": "#/components/schemas/AgreementAttachment"
            },
            "type": "array"
          },
          "description": {
            "description": "A narrative that explains in detail what the agreement specification is about.",
            "type": "string"
          },
          "href": {
            "description": "Reference of the agreement specification",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the agreement specification",
            "type": "string"
          },
          "isBundle": {
            "description": "Indicates that this agreement specification is a grouping of other agreement specifications. The list of bundled agreement specifications is provided via the specificationRelationship property.",
            "type": "boolean"
          },
          "lastUpdate": {
            "description": "Date and time of the last update",
            "format": "date-time",
            "type": "string"
          },
          "lifecycleStatus": {
            "description": "Indicates the current lifecycle status",
            "type": "string"
          },
          "name": {
            "description": "Name of the agreement specification",
            "type": "string"
          },
          "relatedParty": {
            "items": {
              "$ref": "#/components/schemas/RelatedPartyRef"
            },
            "type": "array"
          },
          "serviceCategory": {
            "$ref": "#/components/schemas/CategoryRef"
          },
          "specCharacteristic": {
            "items": {
              "$ref": "#/components/schemas/AgreementSpecCharacteristic"
            },
            "type": "array"
          },
          "specificationRelationship": {
            "items": {
              "$ref": "#/components/schemas/AgreementSpecificationRelationship"
            },
            "type": "array"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "version": {
            "description": "Agreement specification version",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementSpecificationRef": {
        "description": "AgreementSpecification reference. An AgreementSpecification represents a template of an agreement that can be used when establishing partnerships.",
        "properties": {
          "description": {
            "description": "A narrative that explains in detail what the agreement specification is about.",
            "type": "string"
          },
          "href": {
            "description": "Reference URL of the agreement specification",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the agreement specification",
            "type": "string"
          },
          "name": {
            "description": "Name of the agreement specification",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementSpecificationRelationship": {
        "description": "A relationship between agreement specifications. Typical relationships are substitution and dependency.",
        "properties": {
          "href": {
            "description": "Reference of an agreement specification.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the related agreement specification.",
            "type": "string"
          },
          "type": {
            "description": "Type of relationship such as, substitution or dependency.",
            "type": "string"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "AgreementSpecification_Create": {
        "description": "A template of an agreement that can be used when establishing partnerships.\nSkipped properties: id,href",
        "properties": {
          "attachment": {
            "items": {
              "$ref": "#/components/schemas/AgreementAttachment"
            },
            "type": "array"
          },
          "description": {
            "description": "A narrative that explains in detail what the agreement specification is about.",
            "type": "string"
          },
          "isBundle": {
            "description": "Indicates that this agreement specification is a grouping of other agreement specifications. The list of bundled agreement specifications is provided via the specificationRelationship property.",
            "type": "boolean"
          },
          "lastUpdate": {
            "description": "Date and time of the last update",
            "format": "date-time",
            "type": "string"
          },
          "lifecycleStatus": {
            "description": "Indicates the current lifecycle status",
            "type": "string"
          },
          "name": {
            "description": "Name of the agreement specification",
            "type": "string"
          },
          "relatedParty": {
            "items": {
              "$ref": "#/components/schemas/RelatedPartyRef"
            },
            "type": "array"
          },
          "serviceCategory": {
            "$ref": "#/components/schemas/CategoryRef"
          },
          "specCharacteristic": {
            "items": {
              "$ref": "#/components/schemas/AgreementSpecCharacteristic"
            },
            "type": "array"
          },
          "specificationRelationship": {
            "items": {
              "$ref": "#/components/schemas/AgreementSpecificationRelationship"
            },
            "type": "array"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "version": {
            "description": "Agreement specification version",
            "type": "string"
          }
        },
        "required": [
          "name",
          "attachment"
        ],
        "type": "object"
      },
      "AgreementSpecification_Update": {
        "description": "A template of an agreement that can be used when establishing partnerships.\nSkipped properties: id,href,id,href",
        "properties": {
          "attachment": {
            "items": {
              "$ref": "#/components/schemas/AgreementAttachment"
            },
            "type": "array"
          },
          "description": {
            "description": "A narrative that explains in detail what the agreement specification is about.",
            "type": "string"
          },
          "isBundle": {
            "description": "Indicates that this agreement specification is a grouping of other agreement specifications. The list of bundled agreement specifications is provided via the specificationRelationship property.",
            "type": "boolean"
          },
          "lastUpdate": {
            "description": "Date and time of the last update",
            "format": "date-time",
            "type": "string"
          },
          "lifecycleStatus": {
            "description": "Indicates the current lifecycle status",
            "type": "string"
          },
          "name": {
            "description": "Name of the agreement specification",
            "type": "string"
          },
          "relatedParty": {
            "items": {
              "$ref": "#/components/schemas/RelatedPartyRef"
            },
            "type": "array"
          },
          "serviceCategory": {
            "$ref": "#/components/schemas/CategoryRef"
          },
          "specCharacteristic": {
            "items": {
              "$ref": "#/components/schemas/AgreementSpecCharacteristic"
            },
            "type": "array"
          },
          "specificationRelationship": {
            "items": {
              "$ref": "#/components/schemas/AgreementSpecificationRelationship"
            },
            "type": "array"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "version": {
            "description": "Agreement specification version",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementTermOrCondition": {
        "description": "Aspects of the agreement not formally specified elsewhere in the agreement and that cannot be captured elsewhere in a formal notation, or automatically monitored and require a more human level of management.",
        "properties": {
          "description": {
            "description": "Text that explains the term or condition of the agreement.",
            "type": "string"
          },
          "id": {
            "description": "Unique number assigned for reference.",
            "type": "string"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "Agreement_Create": {
        "description": "An agreement represents a contract or arrangement, either written or verbal and sometimes enforceable by law, such as a service level agreement or a customer price agreement. An agreement involves a number of other business entities, such as products, services, and resources and/or their specifications.\nSkipped properties: id,href",
        "properties": {
          "agreementAuthorization": {
            "items": {
              "$ref": "#/components/schemas/AgreementAuthorization"
            },
            "type": "array"
          },
          "agreementItem": {
            "items": {
              "$ref": "#/components/schemas/AgreementItem"
            },
            "type": "array"
          },
          "agreementPeriod": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "agreementSpecification": {
            "$ref": "#/components/schemas/AgreementSpecificationRef"
          },
          "associatedAgreement": {
            "items": {
              "$ref": "#/components/schemas/AgreementRef"
            },
            "type": "array"
          },
          "characteristic": {
            "items": {
              "$ref": "#/components/schemas/Characteristic"
            },
            "type": "array"
          },
          "completionDate": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "description": {
            "description": "Narrative that explains the agreement and details about the it , such as why the agreement is taking place.",
            "type": "string"
          },
          "documentNumber": {
            "description": "A reference number assigned to an Agreement that follows a prescribed numbering system.",
            "type": "integer"
          },
          "engagedPartyRole": {
            "items": {
              "$ref": "#/components/schemas/PartyRoleRef"
            },
            "type": "array"
          },
          "initialDate": {
            "description": "Date at which the agreement was initialized",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "description": "A human-readable name for the agreement",
            "type": "string"
          },
          "statementOfIntent": {
            "description": "An overview and goals of the Agreement.",
            "type": "string"
          },
          "status": {
            "description": "The current status of the agreement. Typical values are: in process, approved and rejected.",
            "type": "string"
          },
          "type": {
            "description": "The type of the agreement. For example \"commercial\".",
            "type": "string"
          },
          "version": {
            "description": "A string identifying the version of the agreement.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "engagedPartyRole",
          "agreementItem"
        ],
        "type": "object"
      },
      "Agreement_Update": {
        "description": "An agreement represents a contract or arrangement, either written or verbal and sometimes enforceable by law, such as a service level agreement or a customer price agreement. An agreement involves a number of other business entities, such as products, services, and resources and/or their specifications.\nSkipped properties: id,href,id,href,completionDate",
        "properties": {
          "agreementAuthorization": {
            "items": {
              "$ref": "#/components/schemas/AgreementAuthorization"
            },
            "type": "array"
          },
          "agreementItem": {
            "items": {
              "$ref": "#/components/schemas/AgreementItem"
            },
            "type": "array"
          },
          "agreementPeriod": {
            "$ref": "#/components/schemas/TimePeriod"
          },
          "agreementSpecification": {
            "$ref": "#/components/schemas/AgreementSpecificationRef"
          },
          "associatedAgreement": {
            "items": {
              "$ref": "#/components/schemas/AgreementRef"
            },
            "type": "array"
          },
          "characteristic": {
            "items": {
              "$ref": "#/components/schemas/Characteristic"
            },
            "type": "array"
          },
          "description": {
            "description": "Narrative that explains the agreement and details about the it , such as why the agreement is taking place.",
            "type": "string"
          },
          "documentNumber": {
            "description": "A reference number assigned to an Agreement that follows a prescribed numbering system.",
            "type": "integer"
          },
          "engagedPartyRole": {
            "items": {
              "$ref": "#/components/schemas/PartyRoleRef"
            },
            "type": "array"
          },
          "initialDate": {
            "description": "Date at which the agreement was initialized",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "description": "A human-readable name for the agreement",
            "type": "string"
          },
          "statementOfIntent": {
            "description": "An overview and goals of the Agreement.",
            "type": "string"
          },
          "status": {
            "description": "The current status of the agreement. Typical values are: in process, approved and rejected.",
            "type": "string"
          },
          "type": {
            "description": "The type of the agreement. For example \"commercial\".",
            "type": "string"
          },
          "version": {
            "description": "A string identifying the version of the agreement.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BundledProductOfferingRef": {
        "description": "BundledProductOffering Reference. A type of ProductOffering that belongs to a grouping of ProductOfferings made available to the market. It inherits of all attributes of ProductOffering.",
        "properties": {
          "bundledProductOffering": {
            "items": {
              "$ref": "#/components/schemas/BundledProductOfferingRef"
            },
            "type": "array"
          },
          "href": {
            "description": "Reference of the product offering",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the product offering",
            "type": "string"
          },
          "name": {
            "description": "Name of the product offering",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CategoryRef": {
        "description": "Category reference. The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other categories and/or product offerings, resource or service candidates.",
        "properties": {
          "href": {
            "description": "Unique reference of the category",
            "type": "string"
          },
          "id": {
            "description": "Unique reference of the category",
            "type": "string"
          },
          "name": {
            "description": "Name of the category",
            "type": "string"
          },
          "version": {
            "description": "Category version",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Characteristic": {
        "description": "Describes a given characteristic of an object or entity through a name/value pair.",
        "properties": {
          "name": {
            "description": "Name of the characteristic",
            "type": "string"
          },
          "value": {
            "description": "Value of the characteristic",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Error": {
        "properties": {
          "code": {
            "description": "An integer coding the error type. This is given to caller so he can translate them if required.",
            "type": "integer"
          },
          "description": {
            "description": "(optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values.",
            "type": "string"
          },
          "infoURL": {
            "description": "(optional) A URL to online documentation that provides more information about the error.",
            "type": "string"
          },
          "message": {
            "description": "A short localized string that describes the error.",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "EventSubscription": {
        "properties": {
          "callback": {
            "description": "The callback being registered.",
            "type": "string"
          },
          "id": {
            "description": "Id of the listener",
            "type": "string"
          },
          "query": {
            "description": "additional data to be passed",
            "type": "string"
          }
        },
        "required": [
          "id",
          "callback"
        ],
        "type": "object"
      },
      "EventSubscriptionInput": {
        "properties": {
          "callback": {
            "description": "The callback being registered.",
            "type": "string"
          },
          "query": {
            "description": "additional data to be passed",
            "type": "string"
          }
        },
        "required": [
          "callback"
        ],
        "type": "object"
      },
      "PartyRoleRef": {
        "description": "Party role reference. A party role represents the part played by a party in a given context.",
        "properties": {
          "href": {
            "description": "Reference of the product",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the product",
            "type": "string"
          },
          "name": {
            "description": "The name of the referred party role.",
            "type": "string"
          },
          "partyId": {
            "description": "The identifier of the engaged party that is linked to the PartyRole object.",
            "type": "string"
          },
          "partyName": {
            "description": "The name of the engaged party that is linked to the PartyRole object.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProductOfferingRef": {
        "description": "ProductOffering reference. A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information.",
        "properties": {
          "bundledProductOffering": {
            "items": {
              "$ref": "#/components/schemas/BundledProductOfferingRef"
            },
            "type": "array"
          },
          "href": {
            "description": "Reference of the product offering",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the product offering",
            "type": "string"
          },
          "name": {
            "description": "Name of the product offering",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RelatedPartyRef": {
        "description": "RelatedParty reference. A related party defines party or party role linked to a specific entity.",
        "properties": {
          "href": {
            "description": "Reference of the related party, could be a party reference or a party role reference",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of a related party",
            "type": "string"
          },
          "name": {
            "description": "Name of the related party",
            "type": "string"
          },
          "role": {
            "description": "Role of the related party.",
            "type": "string"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "TimePeriod": {
        "description": "A base / value business entity used to represent a period of time between two timepoints.",
        "properties": {
          "endDateTime": {
            "description": "An instant of time, ending at the TimePeriod.",
            "format": "date-time",
            "type": "string"
          },
          "startDateTime": {
            "description": "An instant of time, starting at the TimePeriod",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "agreement"
    },
    {
      "name": "agreementSpecification"
    },
    {
      "name": "events subscription"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ]
}