{
  "openapi": "3.0.3",
  "info": {
    "title": "Romulus API",
    "version": "1.0.0",
    "description": "Romulus is an AI-powered communication platform for robocalls, AI agents, call campaigns, and WhatsApp messaging.",
    "x-jentic-source-url": "https://developer.romulus.live/docs/"
  },
  "servers": [
    {
      "url": "https://api.romulus.live/v1"
    }
  ],
  "paths": {
    "/me": {
      "post": {
        "operationId": "validateApiKey",
        "summary": "Validate API key",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Valid key"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/call-tasks/robocalls/configurations": {
      "get": {
        "operationId": "listRobocallConfigs",
        "summary": "List robocall configurations",
        "tags": [
          "Robocalls"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configurations"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/call-tasks/robocalls": {
      "post": {
        "operationId": "startRobocall",
        "summary": "Start a robocall",
        "tags": [
          "Robocalls"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "robocall_configuration_id": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Robocall started"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ai-agents/agents/search": {
      "get": {
        "operationId": "listAiAgents",
        "summary": "List AI agents",
        "tags": [
          "AI Agents"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agents list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ai-agents/agents/{agentId}/call": {
      "post": {
        "operationId": "initiateAgentCall",
        "summary": "Initiate outbound call",
        "tags": [
          "AI Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string"
                  },
                  "contact_data": {
                    "type": "object"
                  },
                  "campaign_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ai-agents/agents/{agentId}/call-tasks": {
      "get": {
        "operationId": "listAgentCallTasks",
        "summary": "List agent call tasks",
        "tags": [
          "AI Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call tasks"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAgentCallTask",
        "summary": "Create agent call task",
        "tags": [
          "AI Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_phone_number": {
                    "type": "string"
                  },
                  "contact_data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/call-campaigns/{campaignId}/tasks": {
      "post": {
        "operationId": "createCampaignTasks",
        "summary": "Create campaign call tasks",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "import_source": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tasks created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/messengers/whatsapp/bots": {
      "get": {
        "operationId": "listWhatsappBots",
        "summary": "List WhatsApp bots",
        "tags": [
          "WhatsApp"
        ],
        "responses": {
          "200": {
            "description": "Bots list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/messengers/whatsapp/template-message": {
      "post": {
        "operationId": "sendWhatsappTemplate",
        "summary": "Send WhatsApp template message",
        "tags": [
          "WhatsApp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bot_id": {
                    "type": "string"
                  },
                  "template_id": {
                    "type": "string"
                  },
                  "recipient": {
                    "type": "string"
                  },
                  "parameters": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhook-subscriptions": {
      "post": {
        "operationId": "createWebhookSubscription",
        "summary": "Create webhook subscription",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "searchWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhooks"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhook-subscriptions/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WebhookCreate": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string"
          },
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "attempts": {
            "type": "integer"
          },
          "attempts_interval_seconds": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}