{
  "openapi": "3.0.0",
  "info": {
    "description": "Creates an Azure Data Lake Analytics account management client.",
    "title": "DataLakeAnalyticsAccountManagementClient",
    "version": "2016-11-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/datalake-analytics-account/2016-11-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/account.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "datalake-analytics-account",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataLakeAnalytics/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "Successfully listed the available operations for Data Lake Analytics."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Data Lake Analytics REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Lists all of the available Data Lake Analytics REST API operations": {
            "parameters": {
              "api-version": "2016-11-01"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "display": {
                        "description": "Get available operations of DataLakeAnalytics.",
                        "operation": "Get Available Operations",
                        "provider": "Microsoft DataLakeAnalytics",
                        "resource": "Available Operations"
                      },
                      "name": "Microsoft.DataLakeAnalytics/operations/read"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "OData filter. Optional.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return. Optional.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of items to skip over before returning elements. Optional.",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccountListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of Azure Data Lake Analytics accounts."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.",
        "operationId": "Accounts_List",
        "x-ms-examples": {
          "Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.": {
            "parameters": {
              "$count": false,
              "$filter": "test_filter",
              "$orderby": "test_orderby",
              "$select": "test_select",
              "$skip": 1,
              "$top": 1,
              "api-version": "2016-11-01",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "tags": {
                        "test_key": "test_value"
                      },
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "location": "eastus2",
                      "name": "test_account",
                      "properties": {
                        "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                        "creationTime": "2017-04-14 13:21:56.681903-07:00",
                        "endpoint": "test_endpoint",
                        "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                        "provisioningState": "Succeeded",
                        "state": "Active"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/DataLakeAnalyticsAccountBasic",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/capability": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The resource location without whitespace.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityInformation"
                }
              }
            },
            "description": "Successfully retrieved the subscription-level properties and limits for Data Lake Analytics specified by resource location."
          },
          "404": {
            "description": "Subscription not found."
          }
        },
        "tags": [
          "Locations"
        ],
        "description": "Gets subscription-level properties and limits for Data Lake Analytics specified by resource location.",
        "operationId": "Locations_GetCapability",
        "x-ms-examples": {
          "Gets subscription-level properties and limits for Data Lake Analytics specified by resource location": {
            "parameters": {
              "api-version": "2016-11-01",
              "location": "EastUS2",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "accountCount": 100,
                  "maxAccountCount": 150,
                  "migrationState": false,
                  "state": "Registered",
                  "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
                }
              },
              "404": {}
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "description": "The resource location without whitespace.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameAvailabilityInformation"
                }
              }
            },
            "description": "Successfully retrieved the Data Lake Analytics account name availability information."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Checks whether the specified account name is available or taken.",
        "operationId": "Accounts_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityParameters"
              }
            }
          },
          "description": "Parameters supplied to check the Data Lake Analytics account name availability.",
          "required": true
        },
        "x-ms-examples": {
          "Checks whether the specified account name is available or taken": {
            "parameters": {
              "parameters": {
                "name": "contosoadla",
                "type": "Microsoft.DataLakeAnalytics/accounts"
              },
              "api-version": "2016-11-01",
              "location": "EastUS2",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "An account named 'abc' already exists.",
                  "nameAvailable": false,
                  "reason": "AlreadyExists"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "OData filter. Optional.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return. Optional.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of items to skip over before returning elements. Optional.",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccountListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of accounts in the specified resource group."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.": {
            "parameters": {
              "$count": false,
              "$filter": "test_filter",
              "$orderby": "test_orderby",
              "$select": "test_select",
              "$skip": 1,
              "$top": 1,
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "tags": {
                        "test_key": "test_value"
                      },
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "location": "eastus2",
                      "name": "test_account",
                      "properties": {
                        "accountId": "94f4bf5d-78a9-4c31-8aa7-b34d07bad898",
                        "creationTime": "2017-04-14 13:21:56.681903-07:00",
                        "endpoint": "test_endpoint",
                        "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                        "provisioningState": "Succeeded",
                        "state": "Active"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/DataLakeAnalyticsAccountBasic",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified account."
          },
          "202": {
            "description": "Successfully initiated the deletion of the specified account."
          },
          "204": {
            "description": "The specified account was not found."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Begins the delete process for the Data Lake Analytics account object specified by the account name.",
        "operationId": "Accounts_Delete",
        "x-ms-examples": {
          "Begins the delete process for the Data Lake Analytics account object specified by the account name.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            },
            "description": "Successfully retrieved the details of the specified account."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets details of the specified Data Lake Analytics account.",
        "operationId": "Accounts_Get",
        "x-ms-examples": {
          "Gets details of the specified Data Lake Analytics account.": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818",
                  "location": "eastus2",
                  "name": "test_account",
                  "properties": {
                    "accountId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "computePolicies": [
                      {
                        "id": "test_policy_id",
                        "name": "test_policy",
                        "properties": {
                          "maxDegreeOfParallelismPerJob": 1,
                          "minPriorityPerJob": 1,
                          "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                          "objectType": "User"
                        },
                        "type": "test_type"
                      }
                    ],
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "dataLakeStoreAccounts": [
                      {
                        "id": "test_adls_id",
                        "name": "test_adls",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "defaultDataLakeStoreAccount": "test_adls",
                    "endpoint": "test_endpoint",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "test_firewall_id",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "maxDegreeOfParallelism": 30,
                    "maxDegreeOfParallelismPerJob": 1,
                    "maxJobCount": 3,
                    "minPriorityPerJob": 1,
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "queryStoreRetention": 30,
                    "state": "Active",
                    "storageAccounts": [
                      {
                        "id": "test_storage_id",
                        "name": "test_storage",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "systemMaxDegreeOfParallelism": 1,
                    "systemMaxJobCount": 1
                  },
                  "type": "Microsoft.DataLakeAnalytics/accounts"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            },
            "description": "Successfully updated the specified account."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            },
            "description": "Successfully initiated an update of the specified account."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            },
            "description": "Successfully initiated an update of the specified account."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.",
        "operationId": "Accounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataLakeAnalyticsAccountParameters"
              }
            }
          },
          "description": "Parameters supplied to the update Data Lake Analytics account operation."
        },
        "x-ms-examples": {
          "Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.": {
            "parameters": {
              "parameters": {
                "tags": {
                  "test_key": "test_value"
                },
                "properties": {
                  "computePolicies": [
                    {
                      "name": "test_policy",
                      "properties": {
                        "maxDegreeOfParallelismPerJob": 1,
                        "minPriorityPerJob": 1,
                        "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "objectType": "User"
                      }
                    }
                  ],
                  "firewallAllowAzureIps": "Enabled",
                  "firewallRules": [
                    {
                      "name": "test_rule",
                      "properties": {
                        "endIpAddress": "2.2.2.2",
                        "startIpAddress": "1.1.1.1"
                      }
                    }
                  ],
                  "firewallState": "Enabled",
                  "maxDegreeOfParallelism": 1,
                  "maxDegreeOfParallelismPerJob": 1,
                  "maxJobCount": 1,
                  "minPriorityPerJob": 1,
                  "newTier": "Consumption",
                  "queryStoreRetention": 1
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818",
                  "location": "eastus2",
                  "name": "test_account",
                  "properties": {
                    "accountId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "computePolicies": [
                      {
                        "id": "test_policy_id",
                        "name": "test_policy",
                        "properties": {
                          "maxDegreeOfParallelismPerJob": 1,
                          "minPriorityPerJob": 1,
                          "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                          "objectType": "User"
                        },
                        "type": "test_type"
                      }
                    ],
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "dataLakeStoreAccounts": [
                      {
                        "id": "test_adls_id",
                        "name": "test_adls",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "defaultDataLakeStoreAccount": "test_adls",
                    "endpoint": "test_endpoint",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "test_firewall_id",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "maxDegreeOfParallelism": 30,
                    "maxDegreeOfParallelismPerJob": 1,
                    "maxJobCount": 3,
                    "minPriorityPerJob": 1,
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "queryStoreRetention": 30,
                    "state": "Active",
                    "storageAccounts": [
                      {
                        "id": "test_storage_id",
                        "name": "test_storage",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "systemMaxDegreeOfParallelism": 1,
                    "systemMaxJobCount": 1
                  },
                  "type": "Microsoft.DataLakeAnalytics/accounts"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818",
                  "location": "eastus2",
                  "name": "test_account",
                  "properties": {
                    "accountId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "computePolicies": [
                      {
                        "id": "test_policy_id",
                        "name": "test_policy",
                        "properties": {
                          "maxDegreeOfParallelismPerJob": 1,
                          "minPriorityPerJob": 1,
                          "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                          "objectType": "User"
                        },
                        "type": "test_type"
                      }
                    ],
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "dataLakeStoreAccounts": [
                      {
                        "id": "test_adls_id",
                        "name": "test_adls",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "defaultDataLakeStoreAccount": "test_adls",
                    "endpoint": "test_endpoint",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "test_firewall_id",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "maxDegreeOfParallelism": 30,
                    "maxDegreeOfParallelismPerJob": 1,
                    "maxJobCount": 3,
                    "minPriorityPerJob": 1,
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "queryStoreRetention": 30,
                    "state": "Active",
                    "storageAccounts": [
                      {
                        "id": "test_storage_id",
                        "name": "test_storage",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "systemMaxDegreeOfParallelism": 1,
                    "systemMaxJobCount": 1
                  },
                  "type": "Microsoft.DataLakeAnalytics/accounts"
                }
              },
              "202": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818",
                  "location": "eastus2",
                  "name": "test_account",
                  "properties": {
                    "accountId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "computePolicies": [
                      {
                        "id": "test_policy_id",
                        "name": "test_policy",
                        "properties": {
                          "maxDegreeOfParallelismPerJob": 1,
                          "minPriorityPerJob": 1,
                          "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                          "objectType": "User"
                        },
                        "type": "test_type"
                      }
                    ],
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "dataLakeStoreAccounts": [
                      {
                        "id": "test_adls_id",
                        "name": "test_adls",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "defaultDataLakeStoreAccount": "test_adls",
                    "endpoint": "test_endpoint",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "test_firewall_id",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "maxDegreeOfParallelism": 30,
                    "maxDegreeOfParallelismPerJob": 1,
                    "maxJobCount": 3,
                    "minPriorityPerJob": 1,
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "queryStoreRetention": 30,
                    "state": "Active",
                    "storageAccounts": [
                      {
                        "id": "test_storage_id",
                        "name": "test_storage",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "systemMaxDegreeOfParallelism": 1,
                    "systemMaxJobCount": 1
                  },
                  "type": "Microsoft.DataLakeAnalytics/accounts"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            },
            "description": "Successfully created the specified account."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeAnalyticsAccount"
                }
              }
            },
            "description": "Successfully initiated creation of the specified account."
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads.",
        "operationId": "Accounts_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataLakeAnalyticsAccountParameters"
              }
            }
          },
          "description": "Parameters supplied to create a new Data Lake Analytics account.",
          "required": true
        },
        "x-ms-examples": {
          "Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads.": {
            "parameters": {
              "parameters": {
                "tags": {
                  "test_key": "test_value"
                },
                "location": "eastus2",
                "properties": {
                  "computePolicies": [
                    {
                      "name": "test_policy",
                      "properties": {
                        "maxDegreeOfParallelismPerJob": 1,
                        "minPriorityPerJob": 1,
                        "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                        "objectType": "User"
                      }
                    }
                  ],
                  "dataLakeStoreAccounts": [
                    {
                      "name": "test_adls",
                      "properties": {
                        "suffix": "test_suffix"
                      }
                    }
                  ],
                  "defaultDataLakeStoreAccount": "test_adls",
                  "firewallAllowAzureIps": "Enabled",
                  "firewallRules": [
                    {
                      "name": "test_rule",
                      "properties": {
                        "endIpAddress": "2.2.2.2",
                        "startIpAddress": "1.1.1.1"
                      }
                    }
                  ],
                  "firewallState": "Enabled",
                  "maxDegreeOfParallelism": 30,
                  "maxDegreeOfParallelismPerJob": 1,
                  "maxJobCount": 3,
                  "minPriorityPerJob": 1,
                  "newTier": "Consumption",
                  "queryStoreRetention": 30,
                  "storageAccounts": [
                    {
                      "name": "test_storage",
                      "properties": {
                        "accessKey": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                        "suffix": "test_suffix"
                      }
                    }
                  ]
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818",
                  "location": "eastus2",
                  "name": "test_account",
                  "properties": {
                    "accountId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "computePolicies": [
                      {
                        "id": "test_policy_id",
                        "name": "test_policy",
                        "properties": {
                          "maxDegreeOfParallelismPerJob": 1,
                          "minPriorityPerJob": 1,
                          "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                          "objectType": "User"
                        },
                        "type": "test_type"
                      }
                    ],
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "dataLakeStoreAccounts": [
                      {
                        "id": "test_adls_id",
                        "name": "test_adls",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "defaultDataLakeStoreAccount": "test_adls",
                    "endpoint": "test_endpoint",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "test_firewall_id",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "maxDegreeOfParallelism": 30,
                    "maxDegreeOfParallelismPerJob": 1,
                    "maxJobCount": 3,
                    "minPriorityPerJob": 1,
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "queryStoreRetention": 30,
                    "state": "Active",
                    "storageAccounts": [
                      {
                        "id": "test_storage_id",
                        "name": "test_storage",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "systemMaxDegreeOfParallelism": 1,
                    "systemMaxJobCount": 1
                  },
                  "type": "Microsoft.DataLakeAnalytics/accounts"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "test_key": "test_value"
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818",
                  "location": "eastus2",
                  "name": "test_account",
                  "properties": {
                    "accountId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                    "computePolicies": [
                      {
                        "id": "test_policy_id",
                        "name": "test_policy",
                        "properties": {
                          "maxDegreeOfParallelismPerJob": 1,
                          "minPriorityPerJob": 1,
                          "objectId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                          "objectType": "User"
                        },
                        "type": "test_type"
                      }
                    ],
                    "creationTime": "2017-04-14 13:21:56.681903-07:00",
                    "currentTier": "Consumption",
                    "dataLakeStoreAccounts": [
                      {
                        "id": "test_adls_id",
                        "name": "test_adls",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "defaultDataLakeStoreAccount": "test_adls",
                    "endpoint": "test_endpoint",
                    "firewallAllowAzureIps": "Enabled",
                    "firewallRules": [
                      {
                        "id": "test_firewall_id",
                        "name": "test_rule",
                        "properties": {
                          "endIpAddress": "2.2.2.2",
                          "startIpAddress": "1.1.1.1"
                        },
                        "type": "test_type"
                      }
                    ],
                    "firewallState": "Enabled",
                    "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00",
                    "maxDegreeOfParallelism": 30,
                    "maxDegreeOfParallelismPerJob": 1,
                    "maxJobCount": 3,
                    "minPriorityPerJob": 1,
                    "newTier": "Consumption",
                    "provisioningState": "Succeeded",
                    "queryStoreRetention": 30,
                    "state": "Active",
                    "storageAccounts": [
                      {
                        "id": "test_storage_id",
                        "name": "test_storage",
                        "properties": {
                          "suffix": "test_suffix"
                        },
                        "type": "test_type"
                      }
                    ],
                    "systemMaxDegreeOfParallelism": 1,
                    "systemMaxJobCount": 1
                  },
                  "type": "Microsoft.DataLakeAnalytics/accounts"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/computePolicies": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputePolicyListResult"
                }
              }
            },
            "description": "Successfully listed the compute policies."
          }
        },
        "tags": [
          "ComputePolicies"
        ],
        "description": "Lists the Data Lake Analytics compute policies within the specified Data Lake Analytics account. An account supports, at most, 50 policies",
        "operationId": "ComputePolicies_ListByAccount",
        "x-ms-examples": {
          "Lists the compute policies within the adla account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "name": "test_policy",
                      "properties": {
                        "maxDegreeOfParallelismPerJob": 10,
                        "minPriorityPerJob": 30,
                        "objectId": "776b9091-8916-4638-87f7-9c989a38da98",
                        "objectType": "User"
                      }
                    },
                    {
                      "name": "test_policy1",
                      "properties": {
                        "maxDegreeOfParallelismPerJob": 5,
                        "minPriorityPerJob": 15,
                        "objectId": "776b9091-8916-4638-87f7-9c989a38da99",
                        "objectType": "Group"
                      }
                    },
                    {
                      "name": "test_policy2",
                      "properties": {
                        "maxDegreeOfParallelismPerJob": 20,
                        "minPriorityPerJob": 60,
                        "objectId": "776b9091-8916-4638-87f7-9c989a38da97",
                        "objectType": "ServicePrincipal"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/computePolicies/{computePolicyName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the compute policy to delete.",
            "in": "path",
            "name": "computePolicyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified compute policy"
          },
          "204": {
            "description": "The specified compute policy does not exist or was already deleted."
          }
        },
        "tags": [
          "ComputePolicies"
        ],
        "description": "Deletes the specified compute policy from the specified Data Lake Analytics account",
        "operationId": "ComputePolicies_Delete",
        "x-ms-examples": {
          "Deletes the specified compute policy from the adla account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "computePolicyName": "test_policy",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the compute policy to retrieve.",
            "in": "path",
            "name": "computePolicyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputePolicy"
                }
              }
            },
            "description": "Successfully retrieved the specified compute policy."
          }
        },
        "tags": [
          "ComputePolicies"
        ],
        "description": "Gets the specified Data Lake Analytics compute policy.",
        "operationId": "ComputePolicies_Get",
        "x-ms-examples": {
          "Gets the specified compute policy": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "computePolicyName": "test_policy",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "test_policy",
                  "properties": {
                    "maxDegreeOfParallelismPerJob": 10,
                    "minPriorityPerJob": 30,
                    "objectId": "776b9091-8916-4638-87f7-9c989a38da98",
                    "objectType": "User"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the compute policy to update.",
            "in": "path",
            "name": "computePolicyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputePolicy"
                }
              }
            },
            "description": "Successfully updated the specified compute policy"
          }
        },
        "tags": [
          "ComputePolicies"
        ],
        "description": "Updates the specified compute policy.",
        "operationId": "ComputePolicies_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateComputePolicyParameters"
              }
            }
          },
          "description": "Parameters supplied to update the compute policy."
        },
        "x-ms-examples": {
          "Updates the specified compute policy": {
            "parameters": {
              "parameters": {
                "properties": {
                  "maxDegreeOfParallelismPerJob": 11,
                  "minPriorityPerJob": 31
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "computePolicyName": "test_policy",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "test_policy",
                  "properties": {
                    "maxDegreeOfParallelismPerJob": 11,
                    "minPriorityPerJob": 31,
                    "objectId": "776b9091-8916-4638-87f7-9c989a38da98",
                    "objectType": "User"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the compute policy to create or update.",
            "in": "path",
            "name": "computePolicyName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputePolicy"
                }
              }
            },
            "description": "Successfully created or updated the specified compute policy"
          }
        },
        "tags": [
          "ComputePolicies"
        ],
        "description": "Creates or updates the specified compute policy. During update, the compute policy with the specified name will be replaced with this new compute policy. An account supports, at most, 50 policies",
        "operationId": "ComputePolicies_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateComputePolicyParameters"
              }
            }
          },
          "description": "Parameters supplied to create or update the compute policy. The max degree of parallelism per job property, min priority per job property, or both must be present.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the specified compute policy": {
            "parameters": {
              "parameters": {
                "properties": {
                  "maxDegreeOfParallelismPerJob": 10,
                  "minPriorityPerJob": 30,
                  "objectId": "776b9091-8916-4638-87f7-9c989a38da98",
                  "objectType": "User"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "computePolicyName": "test_policy",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "test_policy",
                  "properties": {
                    "maxDegreeOfParallelismPerJob": 10,
                    "minPriorityPerJob": 30,
                    "objectId": "776b9091-8916-4638-87f7-9c989a38da98",
                    "objectType": "User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/dataLakeStoreAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "OData filter. Optional.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return. Optional.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of items to skip over before returning elements. Optional.",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccountInformationListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of Data Lake Store accounts."
          }
        },
        "tags": [
          "DataLakeStoreAccounts"
        ],
        "description": "Gets the first page of Data Lake Store accounts linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.",
        "operationId": "DataLakeStoreAccounts_ListByAccount",
        "x-ms-examples": {
          "Gets the first page of Data Lake Store accounts linked to the specified Data Lake Analytics account": {
            "parameters": {
              "$count": false,
              "$filter": "test_filter",
              "$orderby": "test_orderby",
              "$select": "test_select",
              "$skip": 1,
              "$top": 1,
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "name": "test_adls",
                      "properties": {
                        "suffix": "test_suffix"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/DataLakeStoreAccountInformation",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/dataLakeStoreAccounts/{dataLakeStoreAccountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the Data Lake Store account to remove",
            "in": "path",
            "name": "dataLakeStoreAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the specified Azure Data Lake Store account information from the specified Azure Data Lake Analytics account."
          }
        },
        "tags": [
          "DataLakeStoreAccounts"
        ],
        "description": "Updates the Data Lake Analytics account specified to remove the specified Data Lake Store account.",
        "operationId": "DataLakeStoreAccounts_Delete",
        "x-ms-examples": {
          "Removes the specified Data Lake Store account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "dataLakeStoreAccountName": "test_adls_account",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the Data Lake Store account to retrieve",
            "in": "path",
            "name": "dataLakeStoreAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataLakeStoreAccountInformation"
                }
              }
            },
            "description": "Successfully retrieved the specified Azure Data Lake Store account information."
          }
        },
        "tags": [
          "DataLakeStoreAccounts"
        ],
        "description": "Gets the specified Data Lake Store account details in the specified Data Lake Analytics account.",
        "operationId": "DataLakeStoreAccounts_Get",
        "x-ms-examples": {
          "Gets the specified Data Lake Store account details": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "dataLakeStoreAccountName": "test_adls_account",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1669ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_adls",
                  "properties": {
                    "suffix": "test_suffix"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the Data Lake Store account to add.",
            "in": "path",
            "name": "dataLakeStoreAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully added the specified Azure Data Lake Store account information."
          }
        },
        "tags": [
          "DataLakeStoreAccounts"
        ],
        "description": "Updates the specified Data Lake Analytics account to include the additional Data Lake Store account.",
        "operationId": "DataLakeStoreAccounts_Add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDataLakeStoreParameters"
              }
            }
          },
          "description": "The details of the Data Lake Store account."
        },
        "x-ms-examples": {
          "Adds a Data Lake Store account": {
            "parameters": {
              "parameters": {
                "properties": {
                  "suffix": "test_suffix"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "dataLakeStoreAccountName": "test_adls_account",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {}
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRuleListResult"
                }
              }
            },
            "description": "Successfully listed the firewall rules."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Lists the Data Lake Analytics firewall rules within the specified Data Lake Analytics account.",
        "operationId": "FirewallRules_ListByAccount",
        "x-ms-examples": {
          "Lists the Data Lake Analytics firewall rules": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "name": "test_rule",
                      "properties": {
                        "endIpAddress": "2.2.2.2",
                        "startIpAddress": "1.1.1.1"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules/{firewallRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to delete.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified firewall rule"
          },
          "204": {
            "description": "The specified firewall rule does not exist or was already deleted."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Deletes the specified firewall rule from the specified Data Lake Analytics account",
        "operationId": "FirewallRules_Delete",
        "x-ms-examples": {
          "Deletes the specified firewall rule": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to retrieve.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "Successfully retrieved the specified firewall rule."
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Gets the specified Data Lake Analytics firewall rule.",
        "operationId": "FirewallRules_Get",
        "x-ms-examples": {
          "Gets the specified Data Lake Analytics firewall rule": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_rule",
                  "properties": {
                    "endIpAddress": "2.2.2.2",
                    "startIpAddress": "1.1.1.1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to update.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "Successfully updated the specified firewall rule"
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Updates the specified firewall rule.",
        "operationId": "FirewallRules_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFirewallRuleParameters"
              }
            }
          },
          "description": "Parameters supplied to update the firewall rule."
        },
        "x-ms-examples": {
          "Updates the specified firewall rule": {
            "parameters": {
              "parameters": {
                "properties": {
                  "endIpAddress": "2.2.2.2",
                  "startIpAddress": "1.1.1.1"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_rule",
                  "properties": {
                    "endIpAddress": "2.2.2.2",
                    "startIpAddress": "1.1.1.1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the firewall rule to create or update.",
            "in": "path",
            "name": "firewallRuleName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirewallRule"
                }
              }
            },
            "description": "Successfully created or updated the specified firewall rule"
          }
        },
        "tags": [
          "FirewallRules"
        ],
        "description": "Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.",
        "operationId": "FirewallRules_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateFirewallRuleParameters"
              }
            }
          },
          "description": "Parameters supplied to create or update the firewall rule.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the specified firewall rule": {
            "parameters": {
              "parameters": {
                "properties": {
                  "endIpAddress": "2.2.2.2",
                  "startIpAddress": "1.1.1.1"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "firewallRuleName": "test_rule",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_rule",
                  "properties": {
                    "endIpAddress": "2.2.2.2",
                    "startIpAddress": "1.1.1.1"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The OData filter. Optional.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return. Optional.",
            "in": "query",
            "name": "$top",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of items to skip over before returning elements. Optional.",
            "in": "query",
            "name": "$skip",
            "required": false,
            "schema": {
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.",
            "in": "query",
            "name": "$select",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OrderBy clause. One or more comma-separated expressions with an optional \"asc\" (the default) or \"desc\" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.",
            "in": "query",
            "name": "$orderby",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.",
            "in": "query",
            "name": "$count",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageAccountInformationListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of Azure Storage accounts."
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "description": "Gets the first page of Azure Storage accounts, if any, linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.",
        "operationId": "StorageAccounts_ListByAccount",
        "x-ms-examples": {
          "Gets the first page of Azure Storage accounts linked to the specified Data Lake Analytics account": {
            "parameters": {
              "$count": false,
              "$filter": "test_filter",
              "$orderby": "test_orderby",
              "$select": "test_select",
              "$skip": 1,
              "$top": 1,
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "name": "test_storage",
                      "properties": {
                        "suffix": "test_suffix"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/StorageAccountInformation",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the Azure Storage account to remove",
            "in": "path",
            "name": "storageAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified Azure Storage account information from the Azure Data Lake Analytics account."
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "description": "Updates the specified Data Lake Analytics account to remove an Azure Storage account.",
        "operationId": "StorageAccounts_Delete",
        "x-ms-examples": {
          "Removes an Azure Storage account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "storageAccountName": "test_storage",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the Azure Storage account for which to retrieve the details.",
            "in": "path",
            "name": "storageAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageAccountInformation"
                }
              }
            },
            "description": "Successfully retrieved the specified Azure Storage account information."
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "description": "Gets the specified Azure Storage account linked to the given Data Lake Analytics account.",
        "operationId": "StorageAccounts_Get",
        "x-ms-examples": {
          "Gets the specified Azure Storage account": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "storageAccountName": "test_storage",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                  "name": "test_storage",
                  "properties": {
                    "suffix": "test_suffix"
                  },
                  "type": "test_type"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The Azure Storage account to modify",
            "in": "path",
            "name": "storageAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully update the specified Azure Storage account information for the specified Azure Data Lake Analytics account."
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "description": "Updates the Data Lake Analytics account to replace Azure Storage blob account details, such as the access key and/or suffix.",
        "operationId": "StorageAccounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStorageAccountParameters"
              }
            }
          },
          "description": "The parameters containing the access key and suffix to update the storage account with, if any. Passing nothing results in no change."
        },
        "x-ms-examples": {
          "Replaces Azure Storage blob account details": {
            "parameters": {
              "parameters": {
                "properties": {
                  "accessKey": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                  "suffix": "test_suffix"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "storageAccountName": "test_storage",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {}
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the Azure Storage account to add",
            "in": "path",
            "name": "storageAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully added the specified Azure Storage account information to the specified Azure Data Lake Analytics account."
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "description": "Updates the specified Data Lake Analytics account to add an Azure Storage account.",
        "operationId": "StorageAccounts_Add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStorageAccountParameters"
              }
            }
          },
          "description": "The parameters containing the access key and optional suffix for the Azure Storage Account.",
          "required": true
        },
        "x-ms-examples": {
          "Adds an Azure Storage account": {
            "parameters": {
              "parameters": {
                "properties": {
                  "accessKey": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab346",
                  "suffix": "test_suffix"
                }
              },
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "storageAccountName": "test_storage",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {}
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "description": "The name of the Azure storage account from which to list blob containers.",
            "in": "path",
            "name": "storageAccountName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageContainerListResult"
                }
              }
            },
            "description": "Successfully retrieved the list of Azure Storage containers under the specified Azure Data Lake Analytics account."
          }
        },
        "tags": [
          "StorageAccounts"
        ],
        "description": "Lists the Azure Storage containers, if any, associated with the specified Data Lake Analytics and Azure Storage account combination. The response includes a link to the next page of results, if any.",
        "operationId": "StorageAccounts_ListStorageContainers",
        "x-ms-examples": {
          "Lists the Azure Storage containers": {
            "parameters": {
              "accountName": "contosoadla",
              "api-version": "2016-11-01",
              "resourceGroupName": "contosorg",
              "storageAccountName": "test_storage",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>",
                  "value": [
                    {
                      "id": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
                      "name": "test_storage",
                      "properties": {
                        "lastModifiedTime": "2017-04-14 13:21:56.681903-07:00"
                      },
                      "type": "test_type"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers/{containerName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
[...]
