{
  "openapi": "3.1.0",
  "info": {
    "title": "WattTime Data API",
    "version": "V3",
    "x-logo": {
      "url": "WattTime-logo-2023-black-1920px_wpad.png",
      "backgroundColor": "#F6F6F6",
      "altText": "WattTime Logo"
    },
    "x-jentic-source-url": "https://docs.watttime.org/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.watttime.org",
      "description": "WattTime Base API"
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "description": "The WattTime API provides access to real-time, forecast, and historical data for electric grids around the world, including marginal emissions data. For the different signals we provide, see the [data signals page](https://www.watttime.org/data-signals).\n\nIf you\u2019re curious about what you can do with this data, [see the solutions we support](https://www.watttime.org/), where you can dive into the various use cases. A common example of how to use the MOER value is to schedule load at the cleanest times of day.\n\nYou can access the API by sending standard HTTP requests to the endpoints listed below. The `/v3/historical`, `/v3/forecast`, and `/v3/maps` endpoints are only available to subscribers. However, if you don\u2019t yet have a subscription, you can preview all of the available region-specific data by providing `CAISO_NORTH` as the region for your requests. A comparison of the different available data plans can be found [here](https://www.watttime.org/docs-dev/data-plans/).\n\nPython3 example code is provided in the right pane of this documentation which shows how to interact with the API endpoints. You can kick start your development by using our [python client/SDK](https://github.com/WattTime/watttime-python-client).\n\n## Restrictions\n\nThere is a strict limit on the rate at which you may query the API. From any user, we allow a maximum of 3,000 requests in any 5-minute rolling window (an average of 10 requests per second). There is also a lower limit specific to the `/login` endpoint, which is 100 requests in 5 minutes. If requests exceed this, an `HTTP 429` error code is returned.\n\n**The API rate limit is a total of 3,000 requests in 5 minutes (an average of 10 per second). The limit for /login is 100 requests in 5 minutes.**\n\n## API Status Page and User Alerts\n\nWattTime publishes the current and historical uptime on the [API Status Page](https://status.watttime.org/). This page shows upcoming scheduled maintenance and provides updates during outages or maintenance. Users should subscribe to alerts via the status page to be kept up to date. This page is our method of communicating updates to our users related to maintenance, outages, and announcements related to version upgrades. Follow these instructions to subscribe to alerts:\n1. Navigate to the [WattTime API Status Page](https://status.watttime.org/)\n1. Click the 'subscribe to updates' button in the top right corner\n1. Select your preferred means of notification (email, SMS, Slack, webhook)\n1. Enter your contact information (this will not be used for any other purpose)\n\n## Best Practices for API Usage\nIf using this API to control many smart devices in different locations, we suggest the following protocol. For each device location, use GPS lat/lon to query `/v3/region-from-loc` in order to determine the region for the desired `signal_type`. Then, query the other endpoints (e.g. `/v3/forecast`, `/v3/historical`, etc.) with the resulting region to receive signal data.\n\nBecause grid region boundaries are occasionally updated, it is important to re-query `/v3/region-from-loc` at least once a month to ensure devices are receiving the signal corresponding to their location. The `/v3/maps` endpoint provides a GeoJSON that can be used for offline geocoding. The GeoJSON file includes a `last_updated` field that changes whenever the grid regions change.\n",
      "x-displayName": "Introduction"
    },
    {
      "name": "Authentication",
      "description": "To start using the API, first register for an account by using the `/register` endpoint.  Then use the `/login` endpoint to obtain an access token. You can then use your token to access the remainder of our endpoints. You must include your token in an authorization (bearer) header in subsequent requests to retrieve data. Your access token will expire after 30 minutes and you'll need to sign in again to obtain a new one. **Subsequent requests with an invalid, missing, or expired token will return an `HTTP 401` error**.",
      "x-displayName": "Authentication"
    },
    {
      "name": "GET Account Access",
      "x-displayName": "GET Account Access"
    },
    {
      "name": "GET Regions and Maps",
      "x-displayName": "GET Regions and Maps"
    },
    {
      "name": "GET Forecast",
      "x-displayName": "GET Forecast"
    },
    {
      "name": "GET Historical",
      "x-displayName": "GET Historical"
    },
    {
      "name": "GET Index",
      "x-displayName": "GET Index"
    },
    {
      "name": "Data Model Versioning",
      "description": "WattTime uses empirical models to estimate emissions from electricity grids. The models are either regressions trained on historical public data sources (MOER and Health Damage) or calculations directly from reported source data (AOER). Occasionally, we update our models and use a data model versioning system to label which model was used for any data returned via API. Everything in this section is about changes to data delivered through the API, not about changes to the API schema itself (changes to the API happen far less often and are communicated separately). There are two ways a model can be updated - read on to understand the difference.\n\n## Model Retrain\nElectric grids change over time as new power plants or transmission lines are built, old power plants are retired, or new markets are formed - all of these changes affect how a grid operates and responds to loads. WattTime will periodically retrain its models on newer training data to better reflect the current infrastructure and how it operates.\n\n## New Model Release\nWattTime's research team also develops new methods to improve emissions rate estimates, which are deployed by releasing new models. For example, starting in model `2023-03-01`, we upgraded our MOER model to better identify renewable curtailment using a supervised ML approach with ground-truth data. Typically, when we release a new model with methodology improvements, it is also trained on more recent data than the previous model (which reflects changes in the electric grid since the last training).\n\n## Navigating Model Transitions\nThe API endpoint `/my-access` (described in detail in the ['GET Account Access'](#tag/GET-Account-Access) section) is a helpful resource for understanding the metadata for the different models available in the API for each signal.\n\nFor model retraining, the model date label does not change, but the training start and end dates are updated in `/my-access`. For users, your API data requests do not need to change, and the metadata in the API data response will remain the same. The range and distribution of values may differ after retraining (e.g., slightly lower overall when coal generation shifts to gas), but these changes tend to be less significant than those after model upgrades.\n\nWhen we release a new model to generate data for the API, it has a new model date label. Normally, the newest model is used to return data from the API when the optional \u2018model\u2019 parameter is not specified. However, during a model transition, there is an initial period when the new model is available as a preview, so users can view its data before it becomes the default. Then the new model becomes the default, and both the newest and prior models generate data simultaneously for a short period before the prior model is discontinued and stops generating new data. When the new model is released, new data is created going forward, and also historical data is backfilled. We backfill at least 2 years of backfill or back to the beginning of the period for which the training data is applicable. When the prior model is discontinued, the existing historical data is still available for the period prior to discontinuation.\n\nSee below for an example model transition timeline (the durations may vary, but this sequence applies during model transitions).\n\n![Model release diagram](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB1EAAAMvCAYAAACDdCmZAAD/pUlEQVR4Xuz9+bd9R33fCfe/8PyWXiurF2mvrH467YRup70eJ7YTYnccO8F2jGPHHWMbA5YYjCEMwYCZLSYbEIhRTGIQIAxiEqMQkwQCIUAgAZLQBJpn6at5op71uaIun/s+n6pddc7Ze59z7uu11mtJ33tq7127du2659T71j7/UwIAAAAAAAAAAAAAAAAAgH3+J/0BAAAAAAAAAAAAAAAAAMBhhhAVAAAAAAAAAAAAAAAAAMBBiAoAAAAAAAAAAAAAAAAA4CBEBQAAAAAAAAAAAAAAAABwEKICAAAAAAAAAAAAAAAAADgIUQEAAAAAAAAAAAAAAAAAHISoAAAAAAAAAAAAAAAAAAAOQlQAAAAAAAAAAAAAAAAAAAchKgAAAAAAAAAAAAAAAACAgxAVAAAAAAAAAAAAAAAAAMBBiAoAAAAAAAAAAAAAAAAA4CBEBQAAAAAAAAAAAAAAAABwEKICAAAAAAAAAAAAAAAAADgIUQEAAAAAAAAAAAAAAAAAHISoAAAAAAAAAAAAAAAAAAAOQlQAAAAAmJxzL/hxeuHrPpjed8pX9CVYgeM/8Ln0qnecste+AAAAAAAAAACwPISoW8yXz/7B3sSjTUDmSUj72bqwybdPfPFbB1znhNwU9ff7N21icZ3HGBNte3NdXHXtTXv707ZZ5zHGYux+CZuN9tm50PuHPvggm3J9YPOxe+gf/fJR+z7jFe/RIuBoHXN++3Ev32/Tf/obf1UsBwAAAAAAAAAAwxCibhkWftnk2S/83jMPTD56bdLMyljZXlr2b6+Nuf9V6m/YRKOfRIy042/iBL/V/b897bUL9fXa68uGnS37X7X9x6Cl3/T0S93Wa/uAzcVfK7vP58L6ia/LsvfkrrEp1wc2n+h3EZRpGXPsj8S0TfmdBgAAAAAAAACwPISoG8Ljnv+W/QmvUghkk2O1EEm1MKxn1eW279/QScYhrd03BVuFo/Wr2Vv33v0v0/5jMEa/0W28tQlnnaBeJSSyfdn2WQsU1o3t0x9jF1hX+6+KjjVRoNGL9sVIfz2tDkN9fWq0rrDdDP1BUo96j0T7hjItY46u7jVrv9MAAAAAAAAAAKAOIeoGYKFpnuz6t498gb68h02UWzikk2NWPk+o2//r6y2BklHa/5Cr7n9d9Td0gjHv38JDe82MJm17w8gx8CF6j611j/ZvbesDmVXbfwxK/WbIoXpreW9twtm+Y86XXWU1czTZHU2KL4s9ylr3vwv485kzpNPxZh3XTq9Xq9YOtf4+JVov2G6i35nLqveIjlGtv88OK61jjv9dPvS7EAAAAAAAAAAA6hCibgA+mCl9J5gGXDaxGX3Plf1MH5FXCmY9OlGaH3frV8Xa/9vPdFWg/XuIseuvgZRtU5pgtGNofWwydy607qZNJuvEp/07CkOHgjwN/mxS1X4WYW2jfWHOIETrsq5+mUN1U9u0FqL6+lg7rkJ03dfZ1tp25i4wVnv10hpo9KDXq9ehsWAKfH3mvD6wHqJxZFmje8R+ZvfSJvTdTad1zLHfifY73spH77MAAAAAAAAAAKAdQtQNwIc/UZhnk4t+4qzlsZ8aREb7zWiYYwFj6ZHChr2mIWRtAnTs+ht+oneo/oa97tu9FriNjU5S19rS0PYcqruu5NRwNkKvb8s262bsfpnR49RC1NZyLehxs+uY9Lbrpfs1dwF/PnOGdK2BRg9+f/kPQUpaSKJjx7rqsQqbcn1gGrje0zHGmAMAAAAAAAAAAHUIUWdGH2cXoY9mqwVJGQti/H5rj8nTwLIlxLE6+HCutlp07PprGNUa+GkY2brdOtGwq3aeHp1MLYXM2jatwd+y262TsftlpvVctVxLfWro/rKtfaCGrq7N7gL+fOYMbfQeXEegscy56UrzoT+qGJtlzgG2F673dIwx5gAAAAAAAAAAQB1C1JnxK4miCUj/falmT8Diw8to38Yq+9cJvShUWmX/LfU3fGDUssrV4+vWsmpx3djjm4faMELDwlK7tlyjEn67UrA4Fqv0m95z1jCzdK5+vz31KaHH7alzDf0DBO+y6CrIMfD7r/1Bgz+f2rhQw/bvj9fyhx2K9rN1tMuy56Z/cFD6o4oa1gat16DGsufgWcf1qaHnusr9VmMd7VnC73sdfW9Z1nG918GqfWbs9ly1fsYYY04NvU/GON7Y+wcAAAAAAAAAWBVC1BnRsCMKb2xSadnJcX3UY4SuhO2ZxNL6RyHk2PU3hh6HvMm0BsURPjwurT6za7TsBKVv+6hvjsnY/dKjfbR0rr4/9tSnhB63pQ4t6ES7txWbPLd208cje+01WwW5TBiQsWNoAJi1PxKIvhvYl+m5Z2rHMu0esj9qaA3UtJ3X0SeWPTftS6Xv1lbsXK2sfp+w19ps6B7yLHsO674+ivVTu2alPp37m9+/tmvLfTl039g5LtNXrP52v9X2vY57shd//J7rbbS2b+les2tl10wfWe/bo9Z3bT+lVfvmstcqs+4+XWoHpfW9ky/jr539/tV9eK3NSsceYlP7MQAAAAAAAABACULUGdHJu2hSSicZozIldBIsQiflehlaDTl2/XXF4rZNuvm6lyaQS+hjPFsnYlvQdrVjTcnY/dKjfbR0HfLrLY8IbkGP6+vc+thrxbbx+9FwrAWbQC+FEpFWtrd/WDBam0RXLWjI7eF/3hLa9B7LLPUBj/bRnrGthN9fy7l5erfV+g9pbaiBdkRvPca6Pp7ePp37s96jteP2nsfQuOTprb+VneoPivxxW663p7V9ta/adj1tYvXS8VSfAlGz51oZvX3BLJ27J2qHiJb3ToYvk9uoFvqqrX+skem5ZuaU/RgAAAAAAAAAoAQh6kxo2GGuGz+RVgp+WsrU8Nv3TqAO0VI3PwlbWo1p5BWZOpE6JzqB3DtZqNuXJlSXYcyAtoWWa1+jp19qO0aT2X5lbG1lUw96XJuQ9mPCMsfx1832pUHBEFq+x9agwc5Lx74WrR9ouD90bWuT9ratWXu9Nl60Bho96PF7aN22FpTYGGrblgIga6uhftlaD2PM65NZtk/n1Xb+Z9HYYES/z82h9my5Z7SfZe14uY30tWxvyLUM/nhD11tpbV9tA/23mdsjug5mHj8M/QM2M18r/Xm25VoZY/ZpPe/SmKPnUUKPrduZ1m6l/mu2tovWPbsp/RgAAAAAAAAAoAQh6kzYRJlNgGVbVvj04ifqSt8V6ieueidADb+9HW+dtNTfh0Zaf5vsL03M9T6icgx0Ark0IVpCt+9dDVjC9tvS9mMyZb/Udowm8v1jkWuT3D1Ex/WBT+2PAkr4lae2P524rqFlTWvHKNwvPe5xaELdxjkNEOzfdmwN6u3f1qe1L2r9SkTHKp2PHcvqoOVr56Pt1Xv/RmhdW+kJlzVAKrW/EV1nK1/7fdVaj7Gvj2FjvC9v2j1iP9f72Oqjgav2t2hsMLRN7Ty0Pe142p/N6HwzUf3tWFH728+0HubYv+f0vHuIxsAIvdeyue/qtcyPqdbyGozX+oJee3Pod+zYfVrboTTm6D1bQs9vqM7ReGBGZT3b0I8BAAAAAAAAAEoQou4ofuVcbQLKl+mdADV0Um9dtNbfHz/X3ybh9DGmJVsfUTkG2nalCdEafvvSBHQLNolsba6Tl371zpT4OozdL1sn8tdNdFybWPc/G5qc9uhEtV231nbQupile86jxxyqs65osn9r2KTUVk7W+oaOAS2rmawuWsfS+WjbLnP/Kq3npuh1KPVhLWdt1DL+6cr02urw1nMY+/pY2SigGhrPao9iLbWrLzP0xw96r5XaUscCO5eWe1L/CMb+f+geWwVfx9r1jtC2KLWv3mv5vIb6rvZ3M/e7lt9telw7Zo2x+7TWpzTmaNBZwpfJ1kLcjL5PqPX5benHAAAAAAAAAAAlCFF3FJ1EK00W+jItE36KTuqti9b6++Nb/XVStsWhyVh7zfa7rC11N0vlavjtSxPQEXZO1samBg1Ze61WJ3tNz7XHWpv7eozdL60uy7bjKpSO6yeoe0IJf8/kifDWdtD7rWWSO6NBRWlCPSpX61+K1tEstY8eqyUYyGj4VjofbVu7nqvScm6KtaGGN6V7y5cbGvcUXdlX6iMt5zDF9dGgp2dFvbVpNC5GY0PpPq6hfxQQofUvtXeE/hFST/v24o9Tut4lWttO7zWz9X6Ltu0J5HTcKQWcU/RpPZdSG2idS/gyZs/10+C3NJZsSz8GAAAAAAAAAChBiLqD9Ezm+XKlCcwaOqm3DnrqryGqn4i07XRizyYrbf86QV5aDWTohGSvpYnOdbSd377n+unktdcmcEt19tT20WJtwtaX6zmvTE/b6nksc7xlKB1Xf659OEK3yQFBSzvotrXrUqJlolwn3Vv6mEeDhlpd/bFsm56w1tB2i4ITLdN7PhEt5+ax89J2LYWFGkj09nMNFktjZss5jH19bH/+9WWOoe1lRm1m96cv0/JHH9ZXbF9ZrZvWv9SONfT3lh5jXaxSTx17ovY19HqX+l6EtqXZco0y2g9K247dp6MypTFHr30JX6Z0zBL6Pi26dtr2vf3D0HPpbVcAAAAAAAAAgFUhRN0xNGgYmswbmgQbQif1VqW3/v74eTv771DwFIUPpe8700m8XksTnetoO799z/XTyWvVgtSh/Q3tY8jahKovN1SPiJ621fNY5njLUDuu73O1PyLIlFavtrSDrjAs9dcaGiRpkKePdOwJQTwa1kZ9SI/V0n6Knk/UJ7Rtl2k3RdvI9hlpY5Wdl4bKtfFS2651JZ6nZQWlf32u66MBTyn4GkJX+OpxMvo7a+j3zxBa/+iPEobQRzCvo39G+GNE17tGbQz06L1WKldCf4f3tsXQOU7Rpw1th9J56PmW8GVq5SI0II3OeZv6MQAAAAAAAABACULUHSIKBodWFviy0aTdEDqptwrL1F+P3zOBrYFt6RF6OiHZa2nST+u+DH77nutnbe1DGds2CmVq3xunE+C9RpPRGV+u57wyPW2r57HM8ZahdlydfK4FXjqB7/tbSzv4/m3Xf1n0UbEeXc21bBtrm0V9SI+1zMS9MXQcbdvSfd6D31+v1v61sc+PraWxboiWc/avR+02xfVZxx8GGHq+pX6rx7P+b2VLY+cQur/a/V9C75VS3VfFH0OvwxCtddTr0Hs99Q8Ieq+LHyOjc5yiTxut7aDvWUoMHW+Ioe23qR8DAAAAAAAAAJQgRN0hdKIwWhmg9JZXdFJvFZapvx6/d8XROib5lkXrvsyx/fbrmFy0yWWtVzQ5Ojb++C39QNFzqDHXJO3QcX0oqa95fB/WcKylHfzrq1zr2sS91qM0+T+Ern6K6qvHsv5jP+u19zjLnpPH76/V1sDOb5NXmveq1zg6Z/96S7uNcX20nsui4ZgdNyL6A6Csrd611XQ947vWX8+9Rf19Wqr7qvhj6HUYYmgMzNjPfbmo39XQ7Xvx1yM6R93/GH06Ok6pHbT/lBg63hBD22s99HxbnKofAwAAAAAAAACUIETdEXSiqbaC0OODmmgSbAgNIZdl2fq3TiqW0Enc3u1XQVcb9h5bA6V1Ti5q3ZZdWbMsU/ZL7QPrbMcaQ8f116D0mFb7mV89rNdJ748I//oybZ2pHUtf6+3rnqH66rHWYctxVjmnjN9fFHTq42VLjyCP0HNah9E5+9db2m0d6nE0vFmWoXvUY/eiPu5YtetnY9NQoKr1X4e1uq+CP4ZehyFa21f7TNTvauj2vfjrEZ2j7n8dthyn1A7af0oMHW+Ioe21Huuw1EcAAAAAAAAAAMaCEHUH0ADSQpWhSdrM0OTgEH77dX3PYU/9daVQL/oo1Ckn6HQCuTQhWkK3H3r0cS9+ZdUyfWMVpuyX2o5T9YGh42pAGgVmflJdH6Grr5sR/vVl2jpTO5a+1tvXPUP11WOtw5bjrHJOmaFj6h83DPVtj57TOozO2b8enYO22zrU42h4syxD92iEPVLZfqfpo9FVKxP9YYSh9V+HLXVfBn8MvQ5DtLav9pmo39XQ7XsZ+n2k+1+HLccptYP2nxJDxxtiaHutxzos9REAAAAAAAAAgLEgRN1yogCy9r14it8+CmGGWDVoW7X+Ogm7DHNN0GmAG4VkNTRALk2oLotO2E7JlP1S+9BUfaDluP4a6KN6jaFH/rZcQ//6UFvV0Alzj9Zj2b6qq6+j+uqxln20pldX+EbHWfacPEPnZmg7t44bfptolesyRn/sMnQOtp0vM8b10TZaFh1j7Vg92O8y26b0qN/SExe0/nq+y7iO/hnh6xld7xotY6BhP/fles9Ft+/FX4/oHHX/Y/Tp6DildtD+U8KXic5riKHttR56jstYOmcAAAAAAAAAgLEgRN1SokcH9gaQhk3A+31EE7o1dIKslXXV31il/hrK9JzDOvCrlXq/z9Xq6useYROO2SjwqKEBwpRM2S9bJ/LXTctxNWj3E+u6KjFqo5Y+4gOeZQLrjA90dT/al6JzbUHbLJq412Ote4V2Rtt2HZP7Q+dm2Bjpy5Ue9az469yzgrWXoXOY4vro47yXvTZ6jZftt4ZdIxvX9JHMURtp/Vuu71wMnUsNvZ9L7avXofd66va9DIWoU/RpQ8+j1A4aXpbwZaLzGmJo+23qxwAAAAAAAAAAJQhRtxCbiNKVLaUVLUPohHy0+qHEshOH66y/4ffVWoeMTuKWJiXHwgfJ0UrDGi2hiD83Wx3TgwaZUzJlv9Q+UJrIXzetx/Wrcv1Etb/+pWurk+4Ruhp8mT9k0Otl/dqjf6xQ6q9DaF2jiXsNnnv/OKEVbdt1jB1D55bRdihdf49us+x4O8TQOUxxfXQMWPYYGniW7tEerN015NI/cNE/kBgaw+bE1zO63jVax8BV7zXdvpehEHWKPm3oeZTaQftXCV8mOq8hhrbfpn4MAAAAAAAAAFCCEHXLsLBCv2vNJq9WmRD3+4smwkropHwLY9Tfr3ZoCRM8c6+U0KCyNCmq6KRtafLZT6bq6sAhtG2mZqp+2TqRv25aj6sBpW2n22oIk9FJ9wgNnHrvIUNXlUeht/7hRGtfz9g5RmNHhK6u7b2vrd1s39koWNa27T2fiJZzM+x8tC2Gjq/XudTfSlj7+zYpBUUt5zD29dHQfpljaHuV2sza3X6eLd2LHr1/9dpp/UvtWMPuSd9GY7FKPbUdovY1Vr3XdPte7LyGznHsPp3LtLSDr2/tfH2Z0nnVGNp+m/oxAAAAAAAAAEAJQtQtwoIJnThfJvBQNCyLAhBFJz9b6jFW/aOQqQUNZeaYoNNJxtYVuTpJWpq415C2NEmtaEiz7MrBVZiqX+o2rW20Kj3H9dfbzsmHlrV+q5PuJXTFXc+KIV1tVFpRHZVr6esZ7fO1c9djlQK/CB1PSn98oG3bOu7UaDm3jN7bLfeoPnK5NG5EaFBe+i7WlnOY4vroH1Po6ugaOv5lo3tU+8Ey41TUd7T+Pfek9o2ec+/FH6d0vUtoO0Tta2gbR+1VQ7fvxY89pXOcok/reZTaQcfKEr5M6bxqtGy/Lf0YAAAAAAAAAKAEIeqWoJNnZstkbQu6qtEm8GoTXTZxpxPM0aoJz5j1N/ykodVtqD42Sa4r42rnPCY6yWgThaVwyX4elS8RhQEt7a7HKE1uj8kU/dJonchfNz3HjVbFZUsT6YbedyV0/9aOtf1mNDgwa9dI7zn791CQF/X5bGni3tBjlUI/TzQulK6Ltm1Lew3Rem4ZDb+HzlGvc0v7G3qdrX+UxqjWc9B2Hqq70XN99I9kTOtHpXpnbDs9Ru1YGoC1/HGABtLROKX1b70no6c9tGy3LP44tesd0ToGrnqv6fa9tISohvabdfdpPY9SO2xSiLot/RgAAAAAAAAAoAQh6oZjE2w64WraZJpNKPUYTdRmdHIuT4r549j/R3WprbiYqv46UWfahLltp+Xs2Fq2NAE4BVHQaf+2drXwws7B/mv/1tDEyg2FIBqA5LaJ2tNCFp2ArQUmYzNWv/TYPvx2pQnsddN7XL32ZmnVZ0bbr0YUVPb0E3OozaOJcfu31VP7sfU567v+vPU61+7b6FhWXseEjB1Ly9dWd2rblvbbg9Z1CO1DLfeqXufc/tF2dk20zc1aUN56DmNfHyMa+6w/2c/1fKPfDXrupXtU7wWrV3Qe0R8E1Nooqr9tr/eKYfvWPmkO3ZOr0nouEdp/S+2r5xW1bQ3dvhd/fWvnOHaf1vMo7Vf7YwmtZy+t229DPwYAAAAAAAAAKEGIuuFEk0nLWpvkMnQ1RIu2jU5Ge6asfzSB2eLQOUyBrhBrtWVVqaET961ae0Yh2pSM0S89rRP566b3uNFE9ND11/tviFo/sTaNgtysbduC9fXSfWo/t/s8ej1fU/+zZceEfJysvu6PV0LbthRo9NBzbhkN+lquQ+k62znnNild66E+13MOY16fjF4nr51jaf/5j3D8z0r3aPRHPKY/j2gcaxlfo/vezHUv7dts6Qur4o83dL2V1vbVa9h7r+n2vfg+MnSOY/ZpPY9SO+j+S/gyQ+cV0bP9pvdjAAAAAAAAAIAShKgbjk6areLQJJeh30NZ08rWJvyMqetvE5ilyf/IlnOYip66W7nSBGqJWngVaccYmuCfinX3S0/rRP666T2unZO/fvb/Q+j914I9grKnn1jZoWBN6enrpn/Etf9565hQmpwvWXukdkbbtvd+jPD7azk3Qx973VoXrf+Qdp1rK1AzfpuWcxjr+niiFX81873Yc4/WHgMcafVpuU5G79ht1uq6TvwxW663p7V9ta+2tltGt++lJ0Q1xurTeh6ldtjEENXY5H4MAAAAAAAAAFCCEHXDscnf/Ff6q9r6OLT8WEPbRie88n6ix7BFzFF/w45rk5JRUGOTmz3nMDVWd1t5oZOwdi52Tr2BlccmaS0ks/bUdsmueoyxWGe/9LRO5K+bZY7rJ9F7y5ut5LaO7p+s9U/rS0MT/zWsn2k/91pf1KDAv27XvZU8FukxvHn1YQvatq3b1Vj23LQu1qYt2HW2+0bvJ6/1gZ7rvOw5rPv6KFb/Wp+2NtBHjC5zjw71aTuO7ae1PTN57C7VP+972XFwWfzxe6630dq+2r97+4Bu34vvlz3nuO4+redR2k6PWcKX6TmvzDLbb2o/BgAAAAAAAAAoQYgKcIixSUqbiDWZsIQI30eyvQHQEFMcI2P71WNtyorrObE20HYZ6xrUmOL6ROe6bsY8j+h+YfzeXMbsC9sM/RgAAAAAAAAAtgFCVAAAAAAAAAAAAAAAAAAAByEqAAAAAAAAAAAAAAAAAICDEBUAAAAAAAAAAAAAAAAAwEGICgAAAAAAAAAAAAAAAADgIEQFAAAAAAAAAAAAAAAAAHAQogIAAAAAAAAAAAAAAAAAOAhRAQAAAAAAAAAAAAAAAAAchKgAAAAAAAAAAAAAAAAAAA5CVAAAAAAAAAAAAAAAAAAAByEqAAAAAAAAAAAAAAAAAICDEBUAAAAAAAAAAAAAAAAAwEGICgAAAAAAAAAAAAAAAADgIEQFAAAAAAAAAAAAAAAAAHAQogIAAAAAAAAAAAAAAAAAOAhRAQAAAAAAAAAAAAAAAAAchKgAAAAAAAAAAAAAAAAAAA5CVAAAAAAAAAAAAAAAAAAAByEqAAAAAAAAAAAAAAAAAICDEBUAAAAAAAAAAAAAAAAAwEGICgAAAAAAAAAAAAAAAADgIEQFAAAAAAAAAAAAAAAAAHAQogIAAAAAAAAAAAAAAAAAOAhRAQAAAAAAAAAAAAAAAAAchKgAAAAAAAAAAAAAAAAAAA5CVAAAAAAAAAAAAAAAAAAAByEqAAAAAAAAAAAAAAAAAICDEBUAAAAAAAAAAAAAAAAAwEGICgAAAAAAAAAAAAAAAADgIEQFAAAAAAAAAAAAAAAAAHAQogIAAAAAAAAAAAAAAAAAOAhRAQAAAAAAAAAAAAAAAAAchKgAAAAAAAAAAAAAAAAAAA5CVAAAAAAAAAAAAAAAAAAAByEqAAAAAAAAAAAAAAAAAICDEBUAAAAAAAAAAAAAAAAAwEGICgAAAAAAAAAAAAAAAADgIEQFmJGzzz47nXXWWfpjAAAAAAAAAAAAAAAAmBFCVIAZIUQFAAAAAAAAAAAAAADYPAhRAWaEEBUAAAAAAAAAAAAAAGDzIEQFmBFCVAAAAAAAAAAAAAAAgM2DEBVgRghRAQAAAAAAAAAAAAAANg9CVIAZIUQFAAAAAAAAAAAAAADYPAhRAWaEEBUAAAAAAAAAAAAAAGDzIEQFmJHeEPW6665Lp59+evrwhz+c3v72t6e3ve1t6S1veUs6+eST05lnnpluvfVW3STk8ssvTx/96EfTG97whvSiF70oveAFL0jPf/7z0xvf+Mb0hS98QYsXueiii9I73vGO9LznPS8dddRR6bGPfWx69KMfvbe/k046aa++PVj5pzzlKelRj3rUAf/6r/9aiwIAAAAAAAAAAAAAAIwGISrAjPSEqFbu3e9+d3rnO9+ZTjjhhAMh6pvf/Ob0pje9Kb31rW/d22eNr3zlK+mVr3xlOuaYY9Lf/u3fHghRn/vc56bnPOc56VWvelW68cYbddMDvP/9709PfOIT0+Mf//h09NFHHwhR//zP/3wv/Hzc4x6XPvaxj+mmRew8NEC1fVx44YVaFAAAAAAAAAAAAAAAYDQIUQFmpDVE/fKXv5xOPPHEwRDVVpK+/vWvT+ecc47uYg873ste9rL00pe+tBqiPvvZz94LWktB6vHHH5/+8i//cjBEzX72s5/VXSxwxhlnLASopq1oBQAAAAAAAAAAAAAAmBJCVIAZaQlRL7jggvTe9763K0S1fyu33HJLOvbYY5tDVHuErh1L+eIXv5ie9KQndYWotpq0RukxvlYvAAAAAAAAAAAAAACAqSFEBZiRlhD1E5/4xEKIat9/euTIkb3Xv/71ry+EqMcdd9zCatRTTz01veIVrzgQotp3ov74xz/ee/1LX/rSQoj6zGc+M1166aUH9mPbaYhqdbv++uv3Xv/ABz6wEKIOrUblMb4AcNixPyZhzAMAAAAAAAAAANgcCFEBZmQoRLVg0r571IeoURj5mc98ZiFE/fznP3+gjL2mIaqtcvV88IMfXAhRTznllP3XL7nkkvTkJz/5QIj66le/+sA+jNe85jULoWi0qtWw89GyQ6ErbB722GVbOWyPZZ4LC6HmZO7jw/Zi94394cjQqn0AAAAAAAAAAACYDkJUgBlpCVG/8Y1v7H0n6qc+9am9QPX73/++Fkunn356NUS94oor0t///d8fCFGtvPKDH/xgIUS1QDRjIaqtNLXvRH35y1+envrUpy6EtYYFphqKRiGqhU4WGmhZ2/emYyvGtN7ej33sY7rJTmOPY546ALJrYP1KHwVt/476W4SF9Rb+Dj06unR+dp3tXvHHt39/61vf0qL7WL1t9bXWe6wQOv9RQ+37he01K1P64wU7T7svfX2tPaydS+Gxnl/exvaj55mPX9O3f+l6eOx1K7cN5DHTj7cAAAAAAAAAAAAwL4SoADMyFKK2cvLJJy+EqBaIZr73ve8thKgWykZoiPriF79YiwxiYZAGIBqaGBrK+LAk/7+V2cRAMoc+FnpYAKKWgqVdxALDqQMga+PcT6yP5Hb3fWooGLUw0/e1EtH52fXN/dwfPweHUXhn2+RHV9txfd/xQey6+3s+RztGCXstCiXtvs3nlL8n2bS6+/1qf89tZm3k7wt/nv7RtXbOuUxuoxyGZ3O7RNdDySvco++H3kSs/aIxEgAAAAAAAAAAAOaDEBVgRtYRon77299e+E7Ut7/97QfKfO5zn2sOUe17Un2I+oxnPEOLVPn4xz++8J2oUaBkgYEvM2QU1MxJDoPGqlNtJWMNa9danZYJaqwutX3m0Ku0itGwwGwd3/do9chBqR03qlcO2YbqZAFfXq1oZUtE55froIGn1Scf219DO/ccVJZWhNq+bDsrE53XMujjsqNrkFdVayiZ/1DA2inazuqY7wMLOT1Rm2XyyljdJpPbodROtX1n8jGWuY9q2/TeP9Zu67qWQ/dhhG0TXTsAAAAAAAAAAAAYhhAVYEZWDVHPOeec9Ja3vGUhRLWfe6IQ9bvf/e6BMplVQlT7/tRHP/rRCyFqFHZEq1WHrK2km5IcOg09djiHcxrK5JBIQyu/kjGbV9JFoW1+pKntX1f1Wvvmshb8aHtbeQ1kfHhl20T71HMxSo9WtbJ+xaJp/x+FZ7ncUOBTCi8VH7RG5IAwf5er/X8JPb+hlZB55WTG2tlfqxq5LtE9sww5TKw90jd6lK9faV0j/zGE3pvaZh5rm9o1zNeu1Bdq+87kcHyI6B7SNrJ/+xW0ZuleMKL70Y5jP49WyNZC4+hx0bavqH/ka2zXRO8726Y3AAYAAAAAAAAAADjsEKICzMgqIap9V+rb3va2hRDV9qlMEaJ+8IMfTI997GMXQtQoKCl9n6hN9Nu55MeF6utmFMBNTQ6YonPz5BVzPhzJIYoPpyxcyUGJf2RqDtRyW/jQNgd5FpSYViY/CjWHJ/YzO7b9O7erf13bMgc/PnjLdcnhrm3rw9dSoJiDMtsu76N07NYVmHmfUdjUQ65zbs9aiBqdX66Htl+JvP9S6Obp3fcQOUzM95yGnYaGkjkYHfojgYyV9e0XtZkn9/UoJM0reaN6GkP7NqKgMiLvK68Qtv/6Vbf+vvT3Qr6eUX/N1y+6J818j/m+EIXGeeWy/dw/Etn/MYT2p3xv5ePkbfJ+/DUGAAAAAAAAAACAYQhRAWZk2RD1tNNO23tkr4ao3/zmN7XoHl/60pcWQtR1Ps7XtjnqqKMWQtRSyJhDSK8dTwOJ6JG/LavLxiaHElpfJYc5ORCy0COHKxkLS3LAEq0u8yvafHvmgNb2rWFUPm4OhrSeObS0QCbjH0Mb7TOvpizVw69yyz+LgsBo5aLt28pqKOTJIaCv8zLYsXJoltslB1PaTkY+F183H5RF18yT2zpqi4i879K900PuBzl0jsLLKJTMoWrUHhG2vb8vc5tFbZPboxRw1lZlGlF/U/IfAdT6k5H3Zeeq+8v3pbVZtJ9oxXDeX7TKO7eztlW+73xg7ccErZcRrbL297xuY8fIAau+BgAAAAAAAAAAAGUIUQFmpDdEve2229LnP//5dMIJJyyEqKUA1fje977XHKI+5znPORCivvjFL9Yi+1x//fV7q1+PPvrohRC1FgLloMgbBS6GPobWnJMc5lkoYXXzRkGZDy80QDVysBUFNYYPkn0wkwNNDTuNvE0pCMuv+7rk8CoKXTNROGr18KFQyyrAXLceasFcD9F+ch+LAiY9PyMHsfm65Osabd8auGeiVYnLksPEvC//COOMtkfL9fPUQlhrD69f4Vxi6Pxzv9d7z5vDzyHyvqJ7LwftpXrkMSy3ZW632urd3M982+b7zo+XrWOC7S+T27Y07uZjt/ZDAAAAAAAAAAAAIEQFmJWeENUC1I9+9KN7k/c+RLX/v+yyy7T4Aa644oqFENVWrio/+MEPFkLUUphyww03pBe+8IXp8Y9//IEQ9QlPeEJx8j8ThahRAGVsWoiagyhrHw1vooDPryTV8KhllWIOTKJH+er+MkP7jR5HHD1mVNFVgLkevo/kYMraQkM0syVsisgr81YhCo+NUoganZ/HzsX2lYNy3XfevvVc86rElgCwBQ0To9W8+ijfln7g0RDWr7hU7VilFabG0Pnnfdt+9N7L5v5XO45Ru4fy/WNtof03q+3Usno39zPftnk/ebuhe9fI/dj3Szu2hv2eWrsCAAAAAAAAAABADCEqwIy0hqg2wW6T6+9+97sPhKjve9/7BgPUjK0Y9SHqMcccky644IIDZU488cSFEPWUU045UMa4+OKL04te9KL0xCc+8UCI+vSnPz19+9vf1uILRI/zLYUGORTxzomGTkPkkCkKMPKKs9JqNyMKPIceVzq0mk9XR+ZwbSjsy9cib6f1yAFpi6UVcxFR+NdLfqSpnYMGXaUQVc+vhu/Tud1bAjHPOh/lW3osrr/2UZCYr3ELvk0zfkWktWfu/0N9yyjVOdNyPYb6fqa2L7/KuGY+79zvo0DWo20V3XctY4IG10PtlutXeh0AAAAAAAAAAABiCFEBZqQlRLVVpP/wD/+wF3D6EPVDH/pQOnLkiBYvcuqppy6EqPZdpuecc87e6zbR/tznPnchRL300ksP7Ofcc8/dC0v/8i//8kCIatva431byOGB6if5rYxfxZltCWPGIgqdauRww4yCV/t5FK5mLKTS4NLQMMYztJovCm5yAFgL+6JVnFoP/4hTXbmnapBZIx97lRA19yX7r9XTm9tYQ1Q9vyE0nM7tUWvXTO5bq5yjpxQm5gDO+qaGcYb922whH8O3m7aZXz06RKnOGd23MtT3PbV95X1on1VzAJuvc7QSPZPvMb96NPoDiaH6R8H1ULvlwLj0OgAAAAAAAAAAAMQQogLMSEuI+pnPfCa9973vXQhR9TtR7fG8ttr09a9/fTruuOP2vjvVc8stt6Rjjz32QIj6t3/7t3srSi24ef7zn78Qor7//e8/sA/DHgv8pCc9aSFE1e9EzWFMVoOkPLHfqwZdUxKFTiX8KsQcrvntcjBYC0xyG/nAc+g7K4dWpUXBTa6fXqNMDnMtvMlBTFSP0orOjG1jx4hW/9XIwW8p9MrYfq2OWgcfZtf020TnZ3W3c4zqnwM8H4Lm4w4F/7neZk+4XKIWJuZQ0+qUr6knB8rROXpy3/R9JmozI7dvLcSr1dko7dsz1PcztX0NBfZWTztnf4zc70vjgu+Xvl01dB86tpHbPR9rqN0MO3btdQAAAAAAAAAAAIghRAWYkSlDVMOO1xqivvKVr0w33nij7mJtIapN/ucQoVXdx9REoVNEDnPyqs1oFVoOP0wNrOw1HzL7wLP2GFJjaFWaBjd+VXAUUtpxohA4qkcOmaPrlNvEhzl27FLgquRwr7QK2OqWg0jfXnaMoRApCn+j88vl/P4Na8vc7r68v8a6Tcb6Rq5f6Zr2MhQm5raM2jNfQ6tPFOhae+Z20OsctZmRy5fqY+Q6l9qptG/PUN/P1PaVr1kUaPsxy98Luc2isNz6VA5Q/f0VrQj3/UXPwY8JfhwZutZDrwMAAAAAAAAAAEAZQlSAGZk6RDW+8Y1v7AWktRD1Va96VRigGusKUQ0fPtXUYGwO8go+C0LsXFRdoenDKb+tJ4dLdn52DW0/9l/7t72WQ0GP/Vv3kxlalZaDG1+3HPDmgMafX742dkxdZRfVI6+ky/uza2b7z+dp//XhbQ6XWoJUv5rPzi/X0dorh4JREGk/s+30556Wx9IadrzoeuVwPeqjOcQy/aOErX18MKyB3SoMhYk59DP1uvqg0OqXz9PM19F+rtsZUZsZud2ikDGT61xqh9K+M0N93zO0L3+eVnc713xfRtfZ93vb1reXlc/n5oPMaEW44e8531dy39cwdOhaD70OAAAAAAAAAAAAZQhRAWZkjhDVuPnmm9NHP/rRve9EzSHqS17ykvSOd7wjfeELX9DiB1hniJqxEMKCAr8y1UIDq5eFBqVgZUp88KRaXY286kxX9xk5MNOVijmwyVo5C1Zy8Or3VXsMqTG06iyHWT4A8ytTbfsc1uTzsuNrAFOrh72WzzVrx9CwKJ9fS+iVsW2i0N1+pvs38vmW2iOTy+UQtXZ+OUwbaiOP7c/3bb9dLdxdhpYwMbd97rdKXvXozzPv09o5uh9rbZZDxtrx8nWMqO07M9T3My378qs+9XqVrrPeO2YuHwWZ/r7z9Bx76FoPvQ4AAAAAAAAAAAB1CFEBZqQlRIXdx8IOC5o0UBmb6JGihtVl1XDPth86p9prQ6yy7TqwttNQq4WWVbdGbr8Wx2TZ89wF8n3Zcy9YWf1DiWWDzN5jAwAAAAAAAAAAwHohRAWYEUJUmJPSI0VhfnRVY0kNwGE6LCC1Vcy1+yevcq6VAQAAAAAAAAAAgM2EEBVgRghRYU5KjxSFebGVn/n7MIcceyUqlLG2t/un9P2q+RHDBN0AAAAAAAAAAADbCSEqwIwQosJclB7lCwDt5BXD9t3G9n2rFqzaf/P3oNp/+SMFAAAAAAAAAACA7YQQFWBGCFFhLniUL8Dq2HeWRo9ettWpdo8BAAAAAAAAAADA9kKICjAjhKgwFxb+8ChYgPVg95KFpvZHCdxXAAAAAAAAAAAAuwEhKsCMEKICAAAAAAAAAAAAAABsHoSoADNCiAoAAAAAAAAAAAAAALB5EKICzAghKgAAAAAAAAAAAAAAwOZBiAowI4SoAAAAAAAAAAAAAAAAmwchKsCMEKICAAAAAAAAAAAAAABsHoSoADNCiAoAAAAAAAAAAAAAALB5EKIeIn7yk580+8ADDzR5//33N3vfffc1e++99w56zz33NHv33Xd3edddd+1755137nnHHXfse/vtt+9722237XnkyJF9b7311n1vueWWPW+++eZ9b7rppj1ziHrjjTemG264Yd/rr79+3+uuu27Pa6+9dt9rrrlm36uvvnrPq666at8rr7xy3yuuuGLPyy+/fN8f//jHe/7oRz/a97LLLtv30ksv3feSSy7Z8+KLL973oosu2veHP/zhnhdeeOG+F1xwASIiIiIiIiIiIiLiWsxzz3k+2s9R53nrPJed57b9nHeeB89z43muPM+f5/l0P8+e597zXHyen89z9maex89z+zbXb+YMwMy5QM4KcnaQ84ScMfjcIWcROZ/wmYXmGZGakURq5qJqbhOpOVCk5kqq5lMl54AQ9RChHa6mduKSejPU1Jurpt6skXrD19QBZEhCVEJURERERERERERERNwMCVEJUeeAEPUQoR2upnbiknoz1NSbq6berJF6w9fUAWRIQlRCVERERERERERERETcDAlRCVHngBD1EKEdrqZ24pJ6M9TUm6um3qyResPX1AFkSEJUQlRERERERERERERE3AwJUQlR54AQ9RChHa6mduKSejPU1Jurpt6skXrD19QBZEhCVEJURERERERERERERNwMCVEJUeeAEPUQoR2upnbiknoz1NSbq6berJF6w9fUAWRIQlRCVERERERERERERETcDAlRCVHngBD1EKEdrqZ24pJ6M9TUm6um3qyResPX1AFkSEJUQlRERERERERERERE3AwJUQlR54AQ9RChHa6mduKSejPU1Jurpt6skXrD19QBZEhCVEJURERERERERERERNwMCVEJUeeAEPUQoR2upnbiknoz1NSbq6berJF6w9fUAWRIQlRCVERERERERERERETcDAlRCVHngBD1EKEdrqZ24pJ6M9TUm6um3qyResPX1AFkSEJUQlRERERERERERERE3AwJUQlR54AQ9RChHa6mduKSejPU1Jurpt6skXrD19QBZEhCVEJURERERERERERERNwMCVEJUeeAEPUQoR2upnbiknoz1NSbq6berJF6w9fUAWRIQlRCVETcbvN4rD9HRMTVZHxFRBxHxldExHFkfN0dCVEJUeeAEPUQoR2upnbiknoz1NSbq6berJF6w9fUAWRIQlRCVETcbvmQhIg4joyviIjjyPiKiDiOjK+7IyEqIeocEKIeIrTD1dROXFJvhpp6c9XUmzVSb/iaOoAMSYhKiIqI2y0fkhARx5HxFRFxHBlfERHHkfF1dyREJUSdA0LUQ4R2uJraiUvqzVBTb66aerNG6g1fUweQIQlRCVERcbvlQxIi4jgyviIijiPjKyLiODK+7o6EqISoc0CIeojQDldTO3FJvRlq6s1VU2/WSL3ha+oAMiQhKiEqIm63fEhCRBxHxldExHFkfEVEHEfG192REJUQdQ4IUQ8R2uFqaicuqTdDTb25aurNGqk3fE0dQIYkRCVERcTtlg9JiIjjyPiKiDiOjK+IiOPI+Lo7EqISos4BIeohQjtcTe3EJfVmqKk3V029WSP1hq+pA8iQhKiEqIi43fIhCRFxHBlfERHHkfEVEXEcGV93R0JUQtQ5IEQ9RGiHq6mduKTeDDX15qqpN2uk3vA1dQAZkhCVEBURt1s+JCEijiPjKyLiODK+IiKOI+Pr7kiISog6B4SohwjtcDW1E5fUm6Gm3lw19WaN1Bu+pg4gQxKiEqIi4nbLhyRExHFkfEVEHEfGV0TEcWR83R0JUQlR54AQ9RChHa6mduKSejPU1Jurpt6skXrD19QBZEhCVEJURNxu+ZCEiDiOjK+IiOPI+IqIOI6Mr7sjISoh6hwQoh4itMPV1E5cUm+Gmnpz1dSbNVJv+Jo6gAxJiEqIiojbLR+SEBHHkfEVEXEcGV8REceR8XV3JEQlRJ0DQtRDhHa4mtqJS+rNUFNvrpp6s0bqDV9TB5AhCVEJURFxu+VDEiLiODK+IiKOI+MrIuI4Mr7ujoSohKhzQIh6iNAOV1M7cUm9GWrqzVVTb9ZIveFr6gAyJCEqISoibrd8SEJEHEfGV0TEcWR8RUQcR8bX3ZEQlRB1DghRDxHa4WpqJy6pN0NNvblq6s0aqTd8TR1AhiREJURFxO121z4kldByiIhju2vjKyLipsj4iog4joyvuyMhKiHqHBCiHiK0w9XUTlxSb4aaenPV1Js1Um/4mjqADLmNIarVNcLakxAVEQ+bu/YhqYSWQ0Qc210bXxERN0XGV0TEcWR83R0JUQlR54AQ9RChHa6mduKSejPU1Jurpt6skXrD19QBZEhCVEJURNxuez8krYr9rtF9rtMSWg4RcWx7x1cbH4ew95q6XUl7bzuEvV/W7RARN93e8bWmzVFE2NyMlkVE3HV7x1fev26uhKiEqHNAiHqI0A5XUztxSb0ZaurNVVNv1ki94WvqADIkISohKiJut70fklbFftfoPtdpCS2HiDi2veOrjY9D2Ptj3S7S3r+2wCQUIm6jveNrzdoko805aHlExF22d3zl/evmSohKiDoHhKiHCO1wNbUTl9SboabeXDX1Zo3UG76mDiBDEqISoiLidtv7IWlV7HeN7nOdltByiIhj2zu+2vg4hL1f1e0i7X14C0xCIeI22ju+lrQ5hxpjv29FRNw0e8dX3r9uroSohKhzQIh6iNAOV1M7cUm9GWrqzVVTb9ZIveFr6gAyJCEqISoibre9H5JWxX7X6D7XaQkth4g4tr3jq42PLdh7U91Wtc8ULTAJhYjbaO/4WtLmAIZoGXMREXfF3vGV96+bKyEqIeocEKIeIrTD1dROXFJvhpp6c9XUmzVSb/iaOoAMSYhKiIqI223vh6RVsd81us91WkLLISKObe/4auNjC/Z+Wrf12gRGK0xCIeI22ju+Rtr414LNH+i2iIi7au/4yvvXzZUQlRB1DghRDxHa4WpqJy6pN0NNvblq6s0aqTd8TR1AhiREJURFxO2290NSCT/21rQ31rrPdVpCyyEijm3v+GrvxVuwzwu6rbf1UWgGk1CIuI32jq+RpXkBxeZ97HO+bo+IuIv2jq+8f91cCVEJUeeAEPUQoR2upnbiknoz1NSbq6berJF6w9fUAWTIwxSi2jHsnKxNdSCyn9m52zFrIaq1Q4RtZ7+0rB3sOvj9W72s3fjghohj2PshqYSWm8sSWg4RcWx7x1d7D9hK7Q9S7PNEK0xCIeI22ju+qvYZvwebm9B9ICLuor3jK+9fN1dCVELUOSBEPURoh6upnbik3gw19eaqqTdrpN7wNXUAGfIwhKh2HGvHVqwNekNUO3+79jXs9dobDkTEZez9kFRCyy2jjfs2Rut4aL+f7HeKjcm6jVrCXrMPB/Z7yPbnsX/bz1v2j4jYau/4qmNTHp+iD8A2Vur2ZulRaKX3v0OTULa/PG5qPfLYPPT+1LaPyMe299r2uSJj74t1H4iI3t7xVS2NS6Wx0t6b6j4iI2ystNfsfaaNmTbvoK+3/NG0jZkRtq29bmOx1T+P1Tau6j4QEYfsHV937f1r6Zi2Hy3r9e9lPXmMnkNCVELUOSBEPURoh6upnbik3gw19eaqqTdrpN7wNXUAGXLXQ9RS6DmEtU1PiNqK9bmhD1eIiD32fkgqoeV6tPHcfv+1YL9bauNgCfudMvQm0l5n8h4R12Xv+GrvxRX7mY17io1Xur0Zvc+196XRPozSJJRNgkT1KWH7131kS2GFHTuqLyu+EHHI3vFVjd4T5nG19J60NF56I0rjuDL0PrQWotq4qZTCCkTEmr3ja/R+sTTubcP719qTCmzeQstnS8z5h9qEqISoc0CIeojQDldTO3FJvRlq6s1VU2/WSL3ha+oAMuSuh6ilSZ8WrE7rDlGNOf+KCRF3z94PSSW0XKulMbmGjdelIHUdMOmEiOuwd3y19+KK/az01/nRRE70YdneU0f7NqJJKHtfvgylsbP0fro0/kd1QkT09o6v3ihwNPJkemkMtPkP3Ze6DkpjaSlELY2lzBsg4jL2jq/Re8xtf/9aOm5U1rRzirD9aNkpJUQlRJ0DQtRDhHa4mtqJS+rNUFNvrpp6s0bqDV9TB5Ahdz1EtV8SOvFj7eTP0a5ZhLVPb4hqdbPzsmOWBjs7nv5iRERc1t4PSatg46ffl46vPdgYq3VbtX4eVkIh4qr2jq82Rip53Izeb+o4GE3g2PvJ0r6NaBKqFDC0EO2vd6yP9oGI6O0dX732uT8irxayyeQSQyuK1kUUMpRC1BKEqIi4jL3ja/Qec9vfv5b2leulluaZ555TIEQlRJ0DQtRDhHa4mtqJS+rNUFNvrpp6s0bqDV9TB5AhD0OImoNUax/bj/+Fkn/J2GuK9Y+eEFV/udY+JA19eENEbLX3Q9Iq2FiZ91P6y1T7PWjjYR7nrFxpAl4/7LTWL/+urWFjeGm1KyJii73ja/R+Mo+bpXHQj1PRe1z7WWnfRjSOmjp5ZO/783t508bRiHw8b6nunvxZxMbmUp0QEbO942u29Bnbv0c1o/HUyKtVS7aQ53JqRO9DS3X32H7zeEqIiojL2Du+Ru8xd+H9a6ls9EcuUVkbx7Xc1BKiEqLOASHqIUI7XE3txCX1ZqipN1dNvVkj9YavqQPIkIclRM2/OMwoRI3+csqw8i0hqh1bf9mZ1h8iSm8YEBF77f2QtAr2eybvJxqLbczTCaNs9AHMfg9puRpW3v8Rih0r2m/Gfjfp/hERW+0dX22MVPK4aWNXhP8jvOiDcn7PGO3bqL2ntH3ruOm11xSrg5arjbP2HtgmXHz50u8BRMRs7/iajd5/Gq1/0ByNcd4aduye96GtdTKsXjqxz1iKiMvYO75G7zF3+f2rBq6lPw7XcnNIiEqIOgeEqIcI7XA1tROX1Juhpt5cNfVmjdQbvqYOIEMephDV9mHnkQdNu1ZDWL1aQlRrF/1lZ9qxImpvGBARe+z9kLQKNqbV9qOTRd7SBzAtV8J+Z2nZrP0OivD1RUTstXd8jd73+XHI3qsq9jN7LfqDPnuvWtu3scp7ytKEvk7clyahDA1QERFb7B1fzdJ7SZvX0bJm6fN+7f1qidpkemmM1PeupTHX4A//EHFd9o6v0XvMXXj/2vo7ozSGb8J7XEJUQtQ5IEQ9RGiHq6mduKTeDDX15qqpN2uk3vA1dQAZ8jCEqHZ8a8dlIERFxE2390PSKtiYZvsofXBZBh0PS+iHItV+/0ZoOUTEVnvH1+h9Xx43zdIffNj71ej9rX9/Ge3b0DFUtX3bcW3/tg97vzyE7rM0uWSfJfR4iIgt9o6vZmksKj2itzTm2jioZbMlht6HRhOd9jNfpvT+WcshIq5i7/gavcfchfevZlQ/w6/8j/Zd+z0xpYSohKhzQIh6iNAOV1M7cUm9GWrqzVVTb9ZIveFr6gAy5K6HqKXQsxVCVETcdHs/JJXQcjVLk0DLoONhhI2lWge1NN5qOUTEVnvH12gc8uOXTXBE2HvuCJvsqO3b0DE0az8vbTOE7rMUXJTe/yIiDtk7vprrnEzUcS4bsa73oaX3zy37R0RstXd8jcavXXj/mvcXYfPKtXPblKcDEKISos4BIeohQjtcTe3EJfVmqKk3V029WSP1hq+pA8iQ2xii2nlGWHv6ENWOX8La1c7Zn2sEISoibrq9H5JKaLmapQ8jy6DjYYSN71oHtTTeajlExFZ7x9doHLKf+TL2/rsFHfeifRs6hpqlFQOt6D4JURFx3faOr7XP9suQJ9DVCB3HI0tjtC9Tev/csn9ExFZ7x9do/NJxaRvfv2Ztnl6xPMBeK/1uGXr6wFQSohKizgEh6iFCO1xN7cQl9WaoqTdXTb1ZI/WGr6kDyJCbGKLaz60e1j7W9vZaDlHtdftZhJ2PD1Gt7RS75ra//Asl/5Kx/UYQoiLiptv7IamElqtZmgSycVt/Lw2p3zVSwv9Fa2T0BtN+puUQEVvtHV+j9332M1+mNFmjWLmhfRv6nrI0Phu2D3t/n9/Tl8JR3WepXOn9LyLikL3jq73HXDfRe8sStQn10kommxvy5Urjs/6eQERcxd7xNXqPqePSNr5/Haq7zT3bPLJiP9N9zCUhKiHqHBCiHiK0w9XUTlxSb4aaenPV1Js1Um/4mjqADLlJIaod29pPseuU28GuRQmrow9RrX0V24//hZJ/ybASFRG31d4PSSW0XM3SZFHpr/p7LGG/s7RstvRBqrYNIuKQveNr9L7PfqblWj4Q64R9tG9D31PauKfY8fQPVkz7WYTuszTGlt7/IiIO2TO+1ibXVyEaw0rU3lOW5hJ0m9J5RL8nEBGXtWd8NaP3mNG4tG3vX7NWp6juNncR/dzmqnUfc0mISog6B4SohwjtcDW1E5fUm6Gm3lw19WaN1Bu+pg4gQ25SiGr1WRa7lja4D4WoVs7qmH+h2C+G0ocegxAVETfd3g9JJbTckKUxuzQe2rhnY6L9vtDXvDVse/9Byj4I1MZw/UtYRMQee8fX0vs+LWfvu2vY+KrblPat7ymjcvYz3Z9ZCkd1n6VypfEeEXHInvF1aMxcFpu70WPVsLHZr17tfR9KiIqIU9gzvprRe0dDyw2NxZv2/tU7VPdM9HthTglRCVHngBD1EKEdrqZ24pJ6M9TUm6um3qyResPX1AFkyE0KUe21ZQcIq3/+JZB/Kdi5rAohKiJuur0fkkpouSFLE0GGjeU2LtvYaL9L7Pedx/5dGgfXhdVB/xIWEbHH3vG19L5Py9l74BrRX8CX9q1jaVTOxkO/T5tEKU1AGbrPUtnS+19ExCFbx1cbr0poSFnSypXQfawLmxfSepTeO9u4rWUREZe1dXzNRu8dDS23be9fvbXfJR6bu9Bt55QQlRB1DghRDxHa4WpqJy6pN0NNvblq6s0aqTd8TR1AhtykENUGYttP7yBhbW6DvoaoNvj37kshREXETbf3Q1IJLddi7a/vW9CJK3NdRB/iEBF77B1fS+/7tJxp718j7L2rlq3tW99T1iaXWmndZ+n9LyLikK3ja2n8KY2VJUvzAja2+nLrInofSoiKiFPYOr5mS+8xtZy5Te9f1VJdPNF3Zc8pISoh6hwQoh4itMPV1E5cUm+Gmnpz1dSbNVJv+Jo6gAy5aSFqDlKtzVuw9rFBPQpRTTtGy77smBGEqIi46fZ+SCqh5Vq13x/LYNvpvsx1UNo3ImKPveNr6X2fljNLf4RS+gv40r71PWXpe5960H2WJrZK738REYdsHV9L41nve73SmGv4r4pYB6VxnBAVEaewdXzNlt5jajmzNJaWxr3SvvW95hjvX9XaUwmMTRyLCVEJUeeAEPUQoR2upnbiknoz1NSbq6berJF6w9fUAWTITQxR8wBtx7Tzt/b3WBvbz+1YecAvhaj2S8J+CVi9bRs/ANl+7LztdftFE0GIioibbu+HpBJarkcbz21MbcHGYfudofvIRtjvo9J46hnaNyJij73ja2mc0nKmvf+M8JP5LfuO3lPaPlrG5NJkku6TEBUR123L+Foaowwdp4asPcrRB7IlanXJ2PvQ6CkrWUJURJzClvHVW3qPqeXMbXr/Glnbf238nktCVELUOSBEPURoh6upnbik3gw19eaqqTdrpN7wNXUAGXKTQ1QzD9pmHsj94N4Sopr5F4fpf6HkXzJm/sWTfxGZ/hdU/qWVf4mZ+gsOEXFqez8kldByy2jjvv0+sd9vHvvdaL9z7PWh7ymNyBP19nsh2r/9/rMyQ/tGROyxd3y1sShCy2VtbPTYv7XM0L5LE0Y2HtqYa9v5D+A2ftp7/Py4sgjdJyEqIq7blvFV3+9lamNlzdL+jPwesoS9ZuNm9Id99m+bDxl6H0qIiohT2DK+enVMy2i57La8f40svae1Yw2N4XNIiEqIOgeEqIcI7XA1tROX1Juhpt5cNfVmjdQbvqYOIEMSohKiIuJ22/shCRER22R8RUQcx00dX0toOUTETXVTx9dNsBSi+icSbJKEqISoc0CIeojQDldTO3FJvRlq6s1VU2/WSL3ha+oAMiQhKiEqIm63fEhCRBxHxldExHHc1PG1hJZDRNxUN3V83QRtzj6iZRXrHBKiEqLOASHqIUI7XE3txCX1ZqipN1dNvVkj9YavqQPIkISohKiIuN3yIQkRcRwZXxERx3FTx9cSWg4RcVPd1PF1bm2OOsLm8bXspkiISog6B4SohwjtcDW1E5fUm6Gm3lw19WaN1Bu+pg4gQxKiEqIi4nbLhyRExHFkfEVEHMdNHV9LaDlExE11U8fXqbU5Y5vjtf+3+edSIGXz2brtpkiISog6B4SohwjtcDW1E5fUm6Gm3lw19WaN1Bu+pg4gQxKiEqIi4nbLhyRExHFkfEVEHMdNHV9LaDlExE11U8fXqW0JoKxMDlo3UUJUQtQ5IEQ9RGiHq6mduKTeDDX15qqpN2uk3vA1dQAZkhCVEBURt1s+JCEijiPjKyLiOG7q+FpCyyEibqqbOr5ObQs2x63bbZKEqISoc0CIeojQDldTO3FJvRlq6s1VU2/WSL3ha+oAMiQhKiEqIm63fEhCRBxHxldExHHc1PG1hJZDRNxUN3V8nVKbTx7C5tB1u02TEJUQdQ4IUQ8R2uFqaicuqTdDTb25aurNGqk3fE0dQIYkRCVERcTtlg9JiIjjyPiKiDiOmzq+ltByiIib6qaOr1M6FKLafPgmP8Y3S4hKiDoHhKiHCO1wNbUTl9SboabeXDX1Zo3UG76mDiBDEqISoiLidsuHJETEcWR8RUQcx00dX0toOUTETXVTx9cptflmmyP32Hy9zX3bXLOW31QJUQlR54AQ9RChHa6mduKSejPU1Jurpt6skXrD19QBZEhCVEJURNxu+ZCEiDiOjK+IiOPI+IqIOI6Mr7sjISoh6hwQoh4itMPV1E5cUm+Gmnpz1dSbNVJv+Jo6gAxJiEqIiojbLR+SEBHHkfEVEXEcGV8REceR8XV3JEQlRJ0DQtRDhHa4mtqJS+rNUFNvrpp6s0bqDV9TB5AhCVEJURFxu+VDEiLiODK+IiKOI+MrIuI4Mr7ujoSohKhzQIh6iNAOV1M7cUm9GWrqzVVTb9ZIveFr6gAyJCEqISoibrd8SEJEHEfGV0TEcWR8RUQcR8bX3ZEQlRB1DghRDxHa4WpqJy6pN0NNvblq6s0aqTd8TR1AhiREJURFxO2WD0mIiOPI+IqIOI6Mr4iI48j4ujsSohKizgEh6iFCO1xN7cQl9WaoqTdXTb1ZI/WGr6kDyJCEqISoiLjd8iEJEXEcGV8REceR8RURcRwZX3dHQlRC1DkgRD1EaIerqZ24pN4MNfXmqqk3a6Te8DV1ABmSEJUQFRG3Wz4kISKOI+MrIuI4Mr4iIo4j4+vuSIhKiDoHhKiHCO1wNbUTl9SboabeXDX1Zo3UG76mDiBDEqISoiLidsuHJETEcWR8RUQcR8ZXRMRxZHzdHQlRCVHngBD1EKEdrqZ24pJ6M9TUm6um3qyResPX1AFkSEJUQlRE3G75kISIOI6Mr4iI48j4iog4joyvuyMhKiHqHBCiHiK0w9XUTlxSb4aaenPV1Js1Um/4mjqADEmISoiKiNstH5IQEceR8RURcRwZXxERx5HxdXckRCVEnQNCVIAZySEqAACsl/wmFAAA1svc4+tdr/y5PQHGhr4GUzP3+AoAsKswvgLAKhCiAswIISoAwDjwIQkAYBzmHl8JtmAq6GswNXOPrwAAuwrjKwCsAiEqwIwQogIAjAMfkgAAxmHu8ZVgC6aCvgZTM/f4CgCwqzC+AsAqEKICzAghKgDAOPAhCQBgHOYeXwm2YCroazA1veMrfRQAoI3e8RUAwEOICjAjhKgAAOPAhyQAgHGYe3wlNICpoK/B1PSOr/RRAIA2esdXAAAPISrAjBCiAgCMAx+SAADGYe7xldAApoK+BlPTO77SRwEA2ugdXwEAPISoADNCiAoAMA58SAIAGAfGVwCAcegdXwlRAQDa6B1fAQA8hKgAM0KICgAwDnxIAgAYB8ZXAIBx6B1fCVEBANroHV8BADyEqAAzQogKADAOfEgCABiHucfXTQoNfnLr5em+M1+b7v3kU9M9Jz4i3Xvqc/f+fVjJ7bArbbBJfS3zwEWf2+tn9/zDI9M9Hzl67/8fuOpbWuxQYG1h/c3cFXrH103sowAAm0jv+AoA4CFEBZgRQlQAgHHgQxIAwDjMPb5uSmhw/3kfTHcd99D9+njvPv5X9gKew4aFWXb+FuztApvS1wwL7C001b6WtQD7sLF3D27QNVoHc4+vAAC7CuMrAKwCISrAjBCiAgCMAx+SAADGYe7xdRNCEwtIcz1sReB933z7XqBj/737hP/w4GvHPXQv+DpMEKKOh/Wz3K/u++JL9vqbaW29H6TuSLu3QogKAACtML4CwCoQogLMCCEqAMA48CEJAGAc5h5fNyE0yYGW/Vex4NRWotrrFnYdJghRx8GH9tEKZ+tnOWA9TBCibk4fBQDYdHrHVwAADyEqwIwQogIAjAMfkgAAxmHu8XUTQoP9QKvwXZR5dWDLdzXmFYWlVat2DHs9Cs8yQ/vIq2RzuR56tq2FqPk8SufijxO9Pgeb0NeM/f70kaP1pX1yXYeu0Tr609A+8uv717Nwn0T0bGuv165RPo/oXPQ4+vpc9I6vtfMHAICf0Tu+AgB4CFEBZoQQFQBgHPiQBAAwDnOPr3OHBkPBjdEToubH/5ZWrfrvwYzYX6UYrELcq0f0va3HPTQMOj3LbFsKUf3qXNveh297j0DOrzntZ0OB4NjkusxNqV09ua5DbWbtna9DhIWLeV+l4+WV2Npn7brmuqr281Loaiyzbe1e3F+dK+Fz7btl7Xtl5w5Te8fX0vkDAMBBesdXAAAPISrAjBCiAgCMAx+SAADGgfF1mP0QNXjcr5LDnlJZH2RaAKaUVin6oMj2beVMH1TpNpllt43Cvr0A1X1PrA/DfAhm2+bj+FA1Cs9gkZ72yn0qKuvDR7tuEfvHcqtE98L8n+7Xrp8FknvX85NP/Vkfluu/6ralEPW+M1+7/3Ptp/t92P4Y4KfH0f4+J73ja3T+AACwSO/4CgDgIUQFmBFCVACAceBDEgDAODC+DjO0utTjV/4pfpWp/ddCHyWHQj5gzcGqbRetTNwLn366T63jKttGIWpetRiFYPvlo/OqfO8sHGRodamSQ8Nopam/XvZfXZmZg0sfsFqZXN72rdv41Z8WkvrXV9k2ClH375kgQPXl9Th+O+2nU9I7vur5AwBATO/4CgDgIUQFmBFCVACAceBDEgDAOMw9vm56aLAf1Bz30IWgpkQOXTW03FuJ99OwModInr0AKgjP9kPOM1974Oee/dV6a9xWQ9T9FX5BgOrLRytsrS3s9TlD1E3vaxlt9yFy6GrbeXJ/sv6Yr532A98nM6X+qeQVxuvaVkNUv6JVA1RfvrTC1raxNon641T0jq/b0kcBAOamd3wFAPAQogLMCCEqAMA48CEJAGAc5h5fNzk08KvqWgMtI6/+1BWZOVz1/+8fobofhrmg0Ye4Q+S2zOHtKtsaPszzj1TVcDiTVz3aufnz2hRy/TcZv3K4NbQ38rn5bXJ/2rt+uW9JGLnfD10ovh+GD6y8znX14e0q2+rK0lw3DYczfrXp0PHmYu7xFQBgV2F8BYBVIEQFmBFCVACAceBDEgDAOMw9vuYQZNPwIU5ppVuJHO747fJjfnNAGq0A3P+ZWy2Yw6a975b86XeMlsxtmUPOVbY1ciC2/x2owUpGz945uu98tXO18psSqOZ6bSo+qO5dPZkDbL9dXn1q/TFa5by/UlVWje5fv48cvdBPvLl/+JBzlW19iOrvvVqYnO+ZfB7271LIPwdzj68AALsK4ysArAIhKsCMEKICAIwDH5IAAMZh7vE1ByCbhn90bS3EKZEfV5oDxByQ5RAyB61+1WkOjvzxfMDZqoaoPUYhara0ItCz/52XLkw17dx6g8F1k+uyifhH19p16yX3L7/S1PqgD0hz0JpXne6vVJUV09onhoxC1FZLIWq2JRC18/BB/57HPTT8Ttap6R1fc/0BAKBO7/gKAOAhRAWYEUJUAIBx4EMSAMA4zD2+blpo4Feglr77swVdVbofYLlVmTloNXSlamb/OyZP+A97gVKLOThaZVtjf7Wg1T1/t2rHY1NtfxYI5vP07TEHm9bXMn4Fqj5utxVdVbof0rv95ePkkNavVPX4a639I9Jvv8q29m/fDvl8WoNQu4fsHPf/AKJhJevY9I6vm9pHAQA2jd7xFQDAQ4gKMCOEqAAA48CHJACAcZh7fN2k0MBCGP8Y0VUeQ5sDoRxi5X16cthjK+n2V6pKSOm/97GXVbY1St+JukwQur8qtuH7WcdilbYYixx0R9e+l3y9rN/m9varf3NQn/vhXrgdXI8c+C+zInaVbX2Iqo/T7g1C9+7ln4b3q7brKvSOr5vYRwEANpHe8RUAwEOICjAjhKgAAOPAhyQAgHFgfH0Q/zhVC6N6Q5uIvf0d99D9x6ZqmOMfp7q/KjAIblvCoBya6fdbrrKtD1GNWpC69xjfEx+xp65szK8TEB3EPzJa23MZciBr/90LIIOANAeT0UrVTL7OtVWge9czrzp1dV9lWx+i5nK1INXO0/qbPo44k1eDLxPorove8ZV7BACgjd7xFQDAQ4gKMCOEqAAA48CHJACAcWB8Xc/jVCNySLa/QjAIF3PgtKesVM3ksHUvdArC0Fq4ucq2GqIaOZiqlS8FXvlcDzs+HFzlkdHK/iOh3WOYlRyY5zKl76mtrcg+EG4G13PZbTVENfbO6aeBq/YrX1774t5x8h8QrCGgXpbe8VXPHwAAYnrHVwAADyEqwIwQogIAjAMfkgAAxmHu8XXu0MAHMS1a+VZ8gKmBUSY//tSMQs6MDzttX3nVZw6KzFIAvOy2UYi693P3nZMHHhfrVvPaf/ePkwPDSmg3BbkOc5PbtUUr28OBtg7CQ/+I52ilauZA0PvTemT99lEAvOy2UYhq+H6lf2ig33+6f5xC+anpHV+j8wcAgEV6x1cAAA8hKsCMEKICAIwDH5IAAMZh7vF17tDAAhof8gypwc8QOcwpPXLUB5xD+7aQ6UAQ5cKjoXBymW1zeQ1R/Wt2fj5YtpWDPhjeP87xv1I8zlTkuszN3uObg74VWeo3Jfx3rOpq4EwOz6OVqh7bfm/lag7GsxaQf+To4v6NZbYthaj6mm6/9/hi9wcBpXJzMPf4CgCwqzC+AsAqEKICzAghKgDAOPAhCQBgHOYeX0uhCZSxYMhCJbM3JFpl217ycfSRrnNBX1seC/j3ruVA0B+xyrY9WD/LfW5TmHt8BQDYVRhfAWAVCFEBZoQQFQBgHPiQBAAwDnOPrwRbMBX0NZia3vGVPgoA0Ebv+AoA4CFEBZgRQlQAgHHgQxIAwDjMPb4SGsBU0NdganrHV/ooAEAbveMrAICHEBVgRghRAQDGgQ9JAADjMPf4SmgAU0Ffg6npHV/powAAbfSOrwAAHkJUgBkhRAUAGAc+JAEAjAPjKwDAOPSOr4SoAABt9I6vAAAeQlSAGSFEBQAYBz4kAQCMA+MrAMA49I6vhKgAAG30jq8AAB5CVIAZIUQFABgHPiQBAIzD3OMroQFMBX0NpqZ3fKWPAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDnOPr4QGMBX0NZiaucdXAIBdhfEVAFaBEBVgRghRAQDGgQ9JAADjMPf4SrAFU0Ffg6mZe3wFANhVGF8BYBUIUQFmhBAVAGAc+JAEADAOc4+vBFswFfQ1mJre8ZU+CgDQRu/4CgDgIUQFmBFCVACAceBDEgDAOMw9vhIawFTQ12BqesdX+igAQBu94ysAgGe8EPWS/w/i7viTu3/qXeKdzjvE21N6IHubeGTP/RD1gVudtzhvFm9y3vig95s3iNeL1zmvdV4jXu286qD3Xem8Qrzc+WNExNnd/5AUvIaIiMt755EL9tSfT+U9//Cbe+rPEdctfQ2ntnd8pY8iIrbJ/MCumeeg/dy0m7c+MKft57r9HLifH89z5n4uXeba8zz8gbl5P2fv5/P9PP+DGcCD+mzg9gezgwNZgs8ZfP6QcwnznoL3dnhfmyl7f6cPNPqTJZwHQlTEFglRCVERcavkQxIi4jj2TvIjImKbveMrISoiYpvMD+yahKiLalBaMwhMIwlR9yFERWyREJUQFRG3Sj4kISKOY+8kPyIittk7vhKiIiK2yfzArkmIuqgGpTWDwDSSEHUfQlTEFglRCVERcavkQxIi4jj2TvKvW0IDnEr6Gk5t7/hKH0VEbJP5gV2TEHVRDUprBoFpJCHqPoSoiC0SohKiIuJWyYckRMRx7J3kX7eEBjiV9DWc2rnHV0TEXZX5gV2TEHVRDUprBoFpJCHqPoSoiC0SohKiIuJWyYckRMRxnHuSn2ALp5K+hlM79/iKiLirMj+waxKiLqpBac0gMI0kRN2HEBWxRUJUQlRE3Cr5kISIOI5zT/ITbOFU0tdwanvHV/ooImKbzA/smoSoi2pQWjMITCMJUfchREVskRCVEBURt0o+JCEijmPvJP+6JTTAqaSv4dT2jq/0UUTENpkf2DUJURfVoLRmEJhGEqLuQ4iK2CIhKiEqIm6VfEhCRBzH3kn+dUtogFNJX8Op7R1f6aOIiG0yP7BrEqIuqkFpzSAwjSRE3YcQFbFFQlRCVETcKvmQhIg4jr2T/IiI2Gbv+EqIiojYJvMDuyYh6qIalNYMAtNIQtR9CFERWyREJURFxK2SD0mIiOPYO8mPiIht9o6vhKiIiG0yP7BrEqIuqkFpzSAwjSRE3YcQFbFFQlRCVETcKvmQhIg4jr2T/OuW0ACnkr6GU9s7vtJHERHbZH5g1yREXVSD0ppBYBpJiLoPISpii4SohKiIuFXyIQkRcRx7J/nXLaEBTiV9Dad27vEVEXFXZX5g1yREXVSD0ppBYBpJiLoPISpii4SohKiIuFXyIQkRcRznnuQn2MKppK/h1M49viIi7qrMD+yahKiLalBaMwhMIwlR9yFERWyREJUQFRG3Sj4kISKO49yT/ARbOJX0NZza3vGVPoqI2CbzA7smIeqiGpTWDALTSELUfQhREVskRCVERcStkg9JiIjj2DvJv24JDXAq6Ws4tb3jK30UEbFN5gd2TULURTUorRkEppGEqPsQoiK2SIhKiIqIWyUfkhARx7F3kn/dEhrgVNLXcGp7x1f6KCJim8wP7JqEqItqUFozCEwjCVH3IURFbJEQlRAVEbdKPiQhIo5j7yQ/IiK22Tu+EqIiIrbJ/MCuSYi6qAalNYPANJIQdR9CVMQWCVEJURFxq+RDEiLiOPZO8iMiYpu94yshKiJim8wP7JqEqItqUFozCEwjCVH3IURFbJEQlRAVEbdKPiQhIo5j7yT/uiU0wKmkr+HU9o6v9FFExDaZH9g1CVEX1aC0ZhCYRhKi7kOIitjgFbd+J11+67fTj2/5VrrslrPTpTd/PV1y09fSxTd9NV104xnphzd+OV14wxfT+Td8Pp1//Wnp+9d9Nn3vus+k8679VDr32k+k717z8XTONR9N51z94fTtq09O37zqg+nsK09K37jy/emsK96bvn7Fe9LXLn9XOvPyE9JXfvz2dMaP3prO+NFb0pcve3P60mVvTF+89PXpC5celz5/yWvSaRe/On3u4lelz1709+kzF70iffqHL0uf+uFL0icv/Nv0iQtfnE654AXpY+c/L330/Oemj/7gOenDP3hWOvn7z0wf+v4z0ge/97T0gfP+ezrpvCenk879q/S+c5+Y3vvdx6cTv/u49J7vHJXe/Z3Hpnee8+j0zm8/Kr3j23+a3v6tP0lv+9Z/S2/95v+b3nL2f03Hn/0H6c3f+P30xm/8XnrDWb+b3nDW76TXff0/peO+9lvptV/7zfSar/1GOvbM/ye96qu/ll711X+HiIiIiIi4Eb717D9IJ517dPrKZcem6249PZiQO2hPQHXuD85Kr377iekRTzwm/eLvPyP943/zuPSPfvkoRERERFyT//OvHL33Hut/edgT0v/6609K//Q3/ir9b7/5lPTP/uNT0z//7aen//N3/0f6hd97ZvrF//Ks9Et/+Jz0r//ouelX//j56WF/8oL063/2ovTv//xv02/9xUvSw49+Wfrtx708/ecn/l36/Se9Mv3hk1+d/uipr0mPfMZx6c+e+fr05896Y3rs37wpHfXc49Pjn/+W9MQXvS09+ZgT0lNf+s709Je/Oz3z709Mz37V+9Jzjz0pPf+4D6QXvf6D6Zg3npxeevxH0ive+rH0yrd/PB17wifSce/5dHrDez+T3vz+U9PxH/hcetsHP59OOPmL6d0f/XJ67ylnpJM++dX0wU9/LZ186lnpo6d9I53yhW+mT37pW+kzZ3wnfe6r56YvfO289KVvfD+d8c3z05nfvjCd9d2L0tnnXZy+/f1L03fOvyx994IfpXMv+PGe5/3w8j2/d9Hl6fsXXZF+cPGVe55/yZXpgkuv2vPCS69KP7zs6nTRj67Z8+IfX5MuvvzadMlPvfSK69JlV16/54+uuj5dfvUNe15xzY3pymtvSlf91Kuvuzldff2DXnPDLenaG29N1/3U6286km64+UFvvOW2dNMtt6ebb33QW2+7I9162517Hrn9rnTbHQ96+513pzvuujvdedc9e951973p7nvuTffce9+e95r33b/nffc/kO5/4IH0wAM/ST/5yXShKiEqYoOEqISoiIiIiIi4O55ywTPTRdd9ZCEQ7QlRTzvj8+kJLzhub1JPJ/oQERERcX0SohKiEqIibrCEqISoiIiIiIi4W77u67+Vzrzsteneu3+4EJDWQtT777ksHffO96eff/hTFib4EBEREXH9EqISohKiIm6whKiEqIiIiIiIuJt+6sK/WQhKayHqs//+LQsTe4iIiIg4noSohKiEqIgbLCEqISoiIiIiIu6uX//R65tC1Ne96/0Lk3qIiIiIOK6EqISohKiIGywhKiEqIiIiIiLurvY55rpbT18ITb3n/uCsvck7ndRDRERExHElRCVEJURF3GAJUQlRERERERFxt/3kBc9ZCE69T3jBcQsTeoiIiIg4voSohKiEqIgbLCEqISoiIiIiIu6+eTWqPs7XVqHqZB4iIiIiTiMhKiEqISriBkuISoiKiIiIiIi775mXvSYMUV/51hMXJvMQERERcRoJUQlRCVERN1hCVEJURERERETcfT9w7hPCEPURTzxmYTIPEREREaeREJUQlRAVcYMlRCVERURERETE3feEb/1xGKL+6n979sJkHiIiIiJOIyEqISohKuIGS4hKiIqIiIiIiLuvfZ6JQlSbtNPJPEREREScRkJUQlRCVMQNlhCVEBUREREREQ+HUYiqE3mIiIiIOJ2EqISohKiIGywhKiEqIiIiIiIeDnNw6tWJPEREREScTkJUQlRCVMQNlhCVEBUREREREQ+HGqASoiIiIiLOKyEqISohKuIGS4hKiIqIiIiIiIdDHueLiIiIuFkSohKiEqIibrCEqISoiIiIiIh4OCRERURERNwsCVEJUQlRETdYQlRCVEREREREPBwSoiIiIiJuloSohKiEqIgbLCEqISoiIiIiIh4OCVERERERN0tCVEJUQlTc98Iv/Vw648MPTe983cP21TI4rYSohKh4uPzEBS9K3776w+mim76yr92j9nMt26Pdx7Yfv0/7mZbr8a3f/KO9ffi62hhkP7PXtHyLJ533Vwfq6etrr2n5ubS62Hna+frzXrWO0fU3V2nTMbR6+mtvdd60OiIiIm6jc4aov/uEv0uvescp6dOnn7OvTbr9zbHvXyjb49HPO35vH7rP//v3n7VQtkfbh00A+vraz+w8tGyPvq5ZO46dh5adUztP3wb233Wcv52nXSNtg3Vcs3U6Vr9CRERUCVEJUQlRcS84/eun/UF61KMetaCW3TU/9s5fOhAab1pwTIhKiIqHQ7sP77rvVv2NdgB73QIr3bakBVpW/r4H7tZdHeD6Oy7uClRtv1cd+Z7uZgHbb2v4a8e/+a7LdRcLWBtYW+n2U9lSz3ydegJFCyGHrr9hx25t0zFsqedt91y3V063zVob1rBz1G0QEREPi3OEqBZG2URWDZtYssmznoDKJuxsAquGTYhZOd22pgVmVp8atl8LhHXbmjaZOLRfe92Or9tOqQWFQ9fL2t3que7rZdix5wyUW+o51K+sDWvYOeo2iIh4eCVEJUQlRD3kWoiowelhClFf8Kzf3ehzJkQlRMXt1gIvTxRWtgSSHguphgI6O66V66EloLX9DoWySi1QM+31XqzNdD9ja+3Tg7V/S+DZe/2NoTZdt9bfLBTvwcpH/XTZEFXD2zn6ACIi4tjm4NSrE3k9+lAwCv9sUq0H299QgGbBnU2k9WDlhwI/e90m0HqwCT/dT2Rvfa0eQ/UdQ7uGPVg9h66Xae3USy2kHMN19qtlQ1QNb1v7FyIibreEqISohKgNRkGbamW8tqLRAkp7RK7ub1O0uul5mE950h+lN7/y1zduVeYYRtdWy2R1xapdXy2zbglRCVFxu9WATF//0S3fPPC6kVfy5cfFRisfrYzuK2vBVRSgWghlxzOj1w07nu4va4+qjQJU25/V1cYS+/+oTGn1aBSg2vb5Eba1fbaEvusyqqdhQaHVw/4b1dHaPAoSs9o/8jb5+tt/ozJGFMiPZVQHO1/7uZ1/1EcNaxfd1zIhqvU9ZcrzR0REnEoNUFcJUTUg1cfy2kpNxSaQ8mNhbfsoXLMytUfGlraxn1sIWFpFaZNvui9vFKDaNnYe+bGuGnIZXz77Bwv7GqpvfnytafuPykwdoOn1zFgbWH3tv9FKWmuTKEjMRudm2+TH45b6gaF9akyjOizbr5YJUa3PK1OePyIizichKiEqIWqDUdDWoz0qd4rArVcLSrWur3npby6U22Wja6tlslrOttUy65YQlRAVt1cLzzwaDkVhUml1XRTilVYjRismo8DRgikNUy0YK32vpwZlVjZaaRmFuBYMRuU0eCytso32adtGZddtqZ7RudsYrFgIrOXMnusfrQDW/jSWUT2jVaalxzyXAvSs9qvovLT/1/6IABERcZtd5+N8NXT0r1mopoFbaXWlrWTUsqUAMQqnotWA9u8oFCs9gjdagVlaCRnttxT6an1rK22jEHOqEK10vaK62qSoUgqS9fyN0rWN+kEUNo5hVM919KusBrDReen1t/bXMoiIuJsSohKiEqI2GAVty2grPO37R3X/c6nfg/q4ox65UGbXja6tlslqOUJUQlTEmhqo6SpPfTzqUDCk5aOwydSwrRTimVFAGJXXxxIbtXAsKq8rB7V9agGuqaG0UQqS12lvPaMQWwNHU6/n0PW39lZq9ViXvfXUULS3fNSvNZyd4rojIiLO4bpCVAu8PLoaT4O2odWlWt7QMqY+bnUoaNLwqlRew7tSKGhakKYrUqNHGUfHt/PUMl4N6EqB47rV9h+6XlHorIGj2Xu9otXLtXqsy9566nXtLR+FqHrtSyE+IiLunoSohKiEqA22Bm3f+tT/vheSnnT8r6SXv/DhC9tkN2VVqtZrilBw02y9tqaWm6K9CFEJUXF71e9w1JWLylAwFIVoQ2VaVmvqKr9o1agGg1EZVVeO6mpYDc9KqzBr2+g+x3DoPCL12kfXVonKqIoG0+s2Cq6Hjhk9ercW9uo1jUJUH/Tb/+vriIiIu+K6QlQNfDQc1NBoKAy0AE7RVZgtZdToEakaykWrELWMaiGrJwrF9NhDQZup4bRNuGmZMdRVxaVQ2KtBchT6KVEZVRm6xqs6Vr/y6v0Q9Rcf5E913RERcTMkRCVEJURtsCdo89p3jtrjcXVbcxOCVK3TFKHgptlzbbXcFO1FiEqIittpFGb616OVmroPtSWc0hV7LcFkFJRp4KurEVuCxKG6WGho+8kOhXOmBm4t9VjFljaP1O+6jb4b1J+72bJfpaXNVrElYI/U4FlXYXv1mmqIqvdKtFIaERFxV1xHiBqFTvrYV13ZORRKmUOhnD7u1MrrPiI1INTAV1dhRgGX2lIX3a+eT0lrK6++vm57A8GsBsm6Gtm0MNbbsl9l7DZouZaRQ/3KOxSianheWwmNiIi7JyEqISohaoM9QVukBaa6vbnso31tO6+tgNUyLWp9VgkFr/vmP16ol/1My22aPddWy63SXq0SohKi4naqwZCGaPo9kxqyllQ07NTwqmV1Y8t2ej61UCyrq1e1DZZxmXqsoobhrSHistsNqej1X7caBmsQXrJnO72mGqLq45RbwmZERMRtdR0hqj7KNVo1p2jIGqlBk4ZSGtoNrW5t3U7PJwoDVV29GrWBPiK2JUCcQ32EbmuIuOx2QyotfWcVh/pHyZ7ttG9riKqB+6b2FUREHEdCVEJUQtQGe4K2klGQat+R2hI0Whl7RLB+h6lq9bRytX1G51KzFvTacd75uodV62Xn+OZX/vreqlzbxvanZWwfuu+onlqmZuv2Q+Wi14eMzmdZCVEJUXH7jFYvriPs0+DV0DJK60rFZVaaDqnh2Kr7jNp17EBNg2AN+Erq6klDy/S67KrQVVz2GmrwWWs3PYaW9X1zHUE8IiLiJruOEFVXjLaEji0qugJRg6iWR86aGlBpgLWMGrxG+/QrFaOA0cLBvNp07KCwZsu5ROrqSUPL9LrsqtBVnKJf6TG0rA/c13U/ISLi9kiISohKiNpgFKRpmRYtTNT9WOip5byffd+/TI876pEL29W08rad7suMzqVmKURdpl4WJBOi9kmISoiKmNVgSkO06LG8Q9+Hml02LKzpv8fS0NWtPVpYqqtlp3isq66o7Dmm0hpoR9q22p42dmu5datt3nrMlsA/OxSiIiIiHiZzcOrVibw5jAI5XY2nj0+1lZC6n0hdNWpomV51lWm0CtGTQzOri36frMfO0SYd7ZHJur+x1BWVPY+SVTT47tG21cdAt17jVZyiXw2FqIiIeLglRCVEJURtMArStEyLtnJTg0dbqanlshbG6XGztvozqpfXQlvd59A2ahSiRmFwq9G2UegY1VPL1Gzdfqhc9PqQ0fksKyEqISpiVgMtfURqT3ClrjtE1cfZGi2rRi30tfPIWvCqq2QNa4vWgHgVNeBrXYlpKi0hqrWRP38b0/W6G3rtx1JpOQezpy9qG6/a9xAREbdZDVA3JUTVIC9agai0BnY9YVeL0XfCRt936rHz01WWNez8p1qdqgFf60pMU2m5JhaO++98tUlWDTKNKJgeQ6XlHMyefqVtTIiKiIheQlRCVELUBqMgTcu0+pqX/ubCvqLvNI0e/2taCKmP67Xto/2ath/dd1bL2nlqGbVULwuD9VhWLw1NNUQ2o9Bx1TZv3b61nKnlWtprVQlRCVERzSiU0u/DjMrofkquO0TVYKz1MazROXhsNabVtRSgWuhqry9jtFJWz8PKaZmSSksAafuvYauPo3r67Zc1qp8SlYmMrqOWyWobr9r3EBERt9l1PM533VooqSsQ9ftQTWWMsKtFffxt9H2opkdDNNvGJgttXzYpqOefy+hqXNMmKm27ZYzCXq2bldMyJZWWa2L7r2GTklE9/fbLGtVPicpE9vQrbWNCVERE9BKiEqISojbYE7QNaY/B1X3pI33t+0O1jIWPGlKqtmpUQ0r7d/4+UlWPMRQK2n50/6YFuBrsei1MrX1vKiFqWUJUQlRECwwtPPNEoWRPcKVqeLdKkKWPHTY08C0ZnYPHHqdbW9GqgVwP0Tnr/qydtExJpSWA1OvgsQDZ2rYUIEfH7CE6N6XlHMzoOmqZrLZxdB0QEREPi5sYouqjcW1SKnqcrTJG2DVk9NjhKPA1S1iYF52ffsemEYVtGsj10LI/q5+WKam0XBPbfwmbYBx6nPEqROemtJyD2dOvtI2j64CIiIdXQlRCVELUBnuCtiGjgNRCSF8mWlU6FKBmo5BW95/VckOhYFSvl7/w4QvlIqNHGWcJUcsSohKiIurjbC1Mi4LEnuBK1fBu2SDLwlKl53tE7bysLva4WqtD9Chbo7RPDeR6iM5Z9xcFjSWVlgDSytgx7JrbsTU8N+z6l1ajrkJ0bkrLOZg9fVHbOLoOiIiIh8VNC1Gj4LD0nZTKGGFXTQv2bMLMYxNuWi4bUVthaUbtoeepgVwPUXin+4uCxpKK1jXSytgxbDLUjq1tathEY6mtViE6N6XlHMyefqVtHF0HREQ8vBKiEqISojbYE7S1qPvyYZyFjbXXW4zqG60U1TK140T1slA02m/JKOA1CVHLEqISouLhVsNNoxSg9QRXqh5nmSDLVkhawOdZx3eX2vZWP9139L2gFuJaOyxjtFpWA74oaCyp2DG0TIsWLNu5KlE/0HPqMQrmldZzsHKKlslqGy/T9xAREXfFTQpRoxCq9j2YyhhhV00NwmwyrPa9pUprcKbfD2rfp+pft2PaOS1jVF89ryhoLKm0XhPVHlts116JglQ9px6jxyMrredg5RQtk9U2bu0LiIh4OCREJUQlRG2wJ2hrUfflw7joO0dbV6Fm7fHAug971K+W0zK1UDCql33fqZYb0r47VfdDiFqWEJUQFQ+vFpIpUXCYjVaBapmSq4aoFnTqqlELPaNgclltXxqktoZ6y6qrgOcIUbPaH6wtVg2oh1y2vQlRERERl3NTQlQL8/R7QG3yqvYYVy0/RthVsjXg8yqlFbaqPu527MBNH6c8R4iatTb12DWv9Yl1OEW/IkRFRMSahKiEqISoDfYEbS3qvnwYZ8Gkvl76TtOSFpjqPqKgUsvUQsGoXlEwO6TVQ/cT1W3VNm/dvrWcqeVq7bUuCVEJUfFwqoGZ0RIuKa0hpj0e11MLa9UoQDVaA7cetZ7Rd8OuUw2XW49nbaJEKz171Xa2MV/LrFMNOFuPZ79XPPZYYi1TOkZLP0dERNxVNyFEjQLUlrBMg6jSd5GqFl56bNJLy9SMAtSWoFFZNpzrrW+vGtraJKWWibTrpUQrPXvVlbit13lZp+hXegxCVERE9BKiEqISojbYE7S1qPvyYVx0LAsZe4y+uzQKKrVMLRSM6qVlWowe6RvVbdXjtW7fWs7UcrX2WpeEqISoePiMAtTWx+Iuu3JQg6zWFZelADV61Ow61BWOdr5aZp3amOppDfi0noaWWcZlQ91lXXYlrtaz1m7a92plERERd90cnHp1Im9MSwFq9JhZddkVkxoS9gRYUYBae+SwV4OzZUNUQ8usU/0e1tb2Gaueer1aQ91lnaJfaV+olUVExMMnISohKiFqgz1B25DRd4u+/IUPrx5rHUZBpZaphYJRvbRMi62rZFc9Xuv2reVMLVdrr3VJiEqIiodLXWlpWJDVEqCaGki1hl62UtBj44KWUW2Vq25noWbLtrYq0+rm1TKRY4WTJZc9ngbhFjTrfv25t4bOPeHkOlz2ePodrtavtUxW+2zrMRAREXdRDVCnDFFtgk0DVJuwaglQzZ7QyqtBqH7HaKStstTgy2gN2Ew97rIhqrWRllmnejxDy0Tqo3e1nrZfa6/s0OOPs8te52Vd9nh6fWv9SvtS6zEQEfFwSIhKiEqI2mBP0DbkUIgYHWsdRkGllqmFglG9tEyLQ+efXfV4rdu3ljO1XK291iUhKiEqHg4tJNXgyeh5rK65zMrJ6LtUh0JbGxd01WvPd6BaiKq0PO522VBzFfU8W1b36gpODRE1ZK097ta7bKi5rNo3Wr+HVdusFqwToiIiIv7MuR7nq6sdjaHvQFUtbPW0PALY1OB26LtJ7ZG0+khZozUEzGrI2PqY2GVDvVXUNmoJfHUFp4aIev61x916pz7/KfoVISoiItYkRCVEJURtsCdoG3Lou0WjY+njepcx+v5SPU4tFIzqpWVa5HG+fRKiEqLi7lt6JG7r6kxvFE4OhX4a3g49IlYDQMPq3xqgZnUVa8v5akjcGj6uorbPUMgXXQNtm6jM0HUyNZztDdmXsfc6af8YeuQyISoiIuLPnCNE1RV7hk2EtQRVqk1YeYZWhmqQZxNYWsZbetxwLSAraWGspzVE1HNsDV9XUa/RUMin52boiuKozDLhbOvjk1dR23zd/YoQFRERaxKiEqISojbYE7QN+bijHnlgP/Zv/3oUstojgHU/61CPUwsFo3pFweyQFpjqfqIQNSqnZWq2XrPWcqaWq7XXuiREJUTF3dbCNV21Z/9ufbxrpIZSte9T1cDLqB1bA0XDjlfaf01dVWlo2Oi1Y2igN0WIGK1+LbVRFIiXgl69Tlau1o66KtQo1WOd6nWqrTiO+vPQNdJ2IERFRMTD7JQhqoWk0YpOXbHYo65StAkpDe+yUSBaC+Q0GDNsgqy0/xY1nKwd39TzMyyM1HLrNnqkb2nlbXRdSwGxhodWrhae66pQo1SPdartvs5+ZWo7EKIiIqKXEJUQlRC1wZ6grWYUDFo46ct87J2/tFDGVm/qvtahHqcWCkYrSLXuLT7lSX+0sJ/WEPVbn/rfF8qVjI6jZcyea6vlau21LglRCVFxd7UATAOnWkDVahT6WUDnH6lqx4gCUf3uzqyFexp2GUMBWU3bZ3T+0aNfbeWmhpNGyyOA12F07vaI3nx8Oxe7nhryGtH5mNF1Kq3ojR6fXApn123pOtnvmxz65u+4jcoNXSNtW0JUREQ8zE4VolrQpKv7jFUDMQvgNMCyf9tEXQ7nLHS0UCwqVwokLdhVeh83HGnH03rYJKHu1/4d1WGVwLlXDfry8XObWR3t+kXXtbRSNwpnS9+Da2W1rUrh7Lodq19ltW0JURER0UuISohKiNpgT9BW0gJA3YetQr3wSz93oJytOtVyvWHdy1/48L1tvFrG7DlOVC+rf88q2SiINaMQNQqTTzr+VxbKRVqb6ramljN7rq2Wq7XXuiREJUTF3TRaAbosum/TAr5eagFuFA4ugz4KNlq5aFiYaOdgIW0Unhq6rzG1IDCq5xBDIXOpH1iQaOdnj+8ttX3L43/Xpf2eWIaWlbKEqIiIiD9zihA1Wqm3LNHjXy2wW4ZSgKurRZelFIxFK1wNK5+NWEeI22MU+LYwtAqzdv4WStqkaBTMGtH1H8t19yuvXuNSX0FExMMpISohKiFqgz1BW6QFqPoYX7MUCr7mpb+5ULZ1NartU7e1UFXLmVpuKBSM6lXat2pha9QGZhSiRkGorS5tCW2tTrqtqeXMnmurZYfaax0SohKi4m6qj0hdBd33Msew4KoUoJrrIgo+7biloLBEtJ+xtXqWAl3FAtfWOkYrkmuUVuuOrR2ztZ668rkmISoiIuLPnCJEjVYfLkspRLPAqzXws0mu0kpJUwOuZakFYz31NZb9zthVtQBcH9Vbws5n6LtDsza52nP+VrZ2zcay5zoN9Suv9rFaX0FExMMnISohKiFqgxqe1YI2rwV+0WNpTQsktXzWAkQNHO3fQ99BWgprS9tpuaFQMKpXPpdauGnb/fXT/mBhu2wUoppRu9fazYxWsGa1bOkYWqZUtncl7jISohKi4m5qwZmFRetQ9+21FZS2otPKKfYze61lRaMec1lrKxNzm5TIq1OHHg87tlbPaIWo/dt+7h9z26qVt9C1FtJa2yyz73Vqx7Y6WF00ULW628rb2jWO1Gtu/9YyiIiIh8UcnHp1Im9VLYjzqyxXMXrsa9ZCRpugs3IafNlEmE3GtawStEfW6nGXcejRu76+EbnOpeB4Sq3dohWi9m/7uX/MbatW3kLXWkhrbbPMvtfpuvqVV6+5/VvLICLi4ZUQlRCVELVBDc9qQZsFmRbkWdgXBY7mUBBolsJACxw1uKuFtbXvLdWyQyGqWaqXrRK113xZC0+tXr4dojYphajRI5BNC2Q1GLaypRWoWd2/2XNtrS21rB1TH8m8TglRCVERD6MWlNrYY84dms6hrXrN5z9naIqIiIjTqgHqGCEqYosWkFtgbM4ZmiIiIs4tISohKiFqg1HQtowWIJYe4RtZCixNq5NZW+E5FNZq+ZYQ1SwFtn4/+rNsFESWQlSz1gYW3JbOPwprdd9mVFctk40eMRxZO59eCVEJURERERER8XA4xeN8EREREbFdQlRCVELUBqOgrUcL9KIVpC3ad6FGgeCQLUGebtMaopoWbvbWy7axFaT686G61oLUSAuPo2um+zVby/XUZeh8eiREJURFRERERMTDISEqIiIi4mZJiEqISojaYBS01bTy9phXC9P0sbPLaOGrrWC1lZd6LK+9bsdsfbysbt8Topr5McK1elnQaqFmrtMyIapp29cekWzaqtT8SOHomuk+e8p57RysLqXzbjmfVglRCVEREREREfFwSIiKiIiIuFkSohKiEqJumRYmWoinLrPKdZ3ad5JqnVrD3F6jY2mZXZEQlRAVEREREREPh4SoiIiIiJslISohKiEq4gZLiEqIioiIiIiIh0NCVERERMTNkhCVEJUQFXGDJUQlREVERERExMMhISoiIiLiZkmISohKiIq4wRKiEqIiIiIiIuLhMAenXp3IQ0RERMTpJEQlRCVERdxgCVEJURERERER8XCoASohKiIiIuK8EqISohKiIm6whKiEqIiIiIiIeDjkcb6IiIiImyUhKiEqISriBkuISoiKiIiIiIiHQ0JURERExM2SEJUQlRAVcYMlRCVERURERETEwyEhKiIiIuJmSYhKiEqIirjBEqISoiIiIiIi4uGQEBURERFxsyREJUQlREXcYAlRCVEREREREXH3fcc3/1sYov7yHz1rYTIPEREREaeREJUQlRAVcYMlRCVERURERETE3fekc48OQ9TfedyLFybzEBEREXEaCVEJUQlRETdYQlRCVERERERE3H2/etmx+8Gp92VvetfCZB4iIiIiTiMhKiEqISriBkuISoiKiIiIiIi773W3nr4QoJrnnPf1hck8RERERJxGQlRCVEJUxA2WEJUQFRERERERd9tTzn9meuDeS8PH+d5712XpqL85dmFCDxERERHHlxCVEJUQFXGDJUQlREVERERExN32mlu+tB+aaojKalRERETE+SREJUQlREXcYAlRCVEREREREXF3/eplrzkQmEYhqvnKt75nYVIPEREREceVEJUQlRAVcYMlRCVERURERETE3fTj5/+P/cf4DoWo5hNfeNzCxB4iIiIijichKiEqISriBkuISoiKiIiIiIi75eu+/lt7K1Dvvvv8haC0FqLeedvF6dh3vC/9H//pvy9M8CEiIiLi+iVEJUQlREXcYAlRCVEREREREXF3POX8Z6aLrvvIQkDaEqJmP3f6aekJLzhub1JPJ/oQERERcX0SohKiEqIibrCEqISoiIiIiIi4vb717D9IJ517dPrKZcem6249fSEQXcVzf3BWevXbT0yPeOIx6Rd//xl7E3w68YeIiIiIy0uISohKiIq4yf7k7p96l3in8w7x9pQeyN4mHtnz7LPPTmeddVZKD9zqvMV5s3iT88YHvd+8QbxevM55rfMa8WrnVQe970rnFeLlzsVJBUTEqT1y5Mie+nNERFzNO49csKf+HBERV7N3fG1ZLY2IiMwP7J55DtrPTbt56wNz2n6u28+B+/nxPGfu59Jlrj3Pwx+Ym/dz9n4+38/zP5gBPKjPBm5/MDs4kCX4nMHnDzmXMO8peG+H97WZsvd3+kCjFoL2Og+EqIgtEqISoiLiVsmHJETEceyd5F+3hAY4lfQ1nNre8ZU+iojYJvMDuyYh6qIalNYMAtNIQtR9CFERWyREJURFxK2SD0mIiOPYO8m/bgkNcCrpazi1c4+viIi7KvMDuyYh6qIalNYMAtNIQtR9CFERWyREJURFxK2SD0mIiOM49yQ/wRZOJX0Np3bu8RURcVdlfmDXJERdVIPSmkFgGkmIug8hKmKLhKiEqIi4VfIhCRFxHOee5CfYwqmkr+HU9o6v9FFExDaZH9g1CVEX1aC0ZhCYRhKi7kOIitgiISohKiJulXxIQkQcx95J/nVLaIBTSV/Dqe0dX+mjiIhtMj+waxKiLqpBac0gMI0kRN2HEBWxRUJUQlRE3Cr5kISIOI69k/zrltAAp5K+hlPbO77SRxER22R+YNckRF1Ug9KaQWAaSYi6DyEqYouEqISoiLhV8iEJEXEceyf5ERGxzd7xlRAVEbFN5gd2TULURTUorRkEppGEqPsQoiK2SIhKiIqIWyUfkhARx7F3kh8REdvsHV8JURER22R+YNckRF1Ug9KaQWAaSYi6DyEqYouEqISoiLhV8iEJEXEceyf51y2hAU4lfQ2ntnd8pY8iIrbJ/MCuSYi6qAalNYPANJIQdR9CVMQWCVEJURFxq+RDEiLiOPZO8q9bQgOcSvoaTu3c4ysi4q7K/MCuSYi6qAalNYPANJIQdR9CVMQWCVEJURFxq+RDEiLiOM49yU+whVNJX8OpnXt8RUTcVZkf2DUJURfVoLRmEJhGEqLuQ4iK2CIhKiEqIm6VfEhCRBzHuSf5CbZwKulrOLW94yt9FBGxTeYHdk1C1EU1KK0ZBKaRhKj7EKIitkiISoiKiFslH5IQEcexd5J/3RIa4FTS13Bqe8dX+igiYpvMD+yahKiLalBaMwhMIwlR9yFERWyREJUQFRG3Sj4kISKOY+8k/7olNMCppK/h1PaOr/RRRMQ2mR/YNQlRF9WgtGYQmEYSou5DiIrYIiEqISoibpV8SEJEHMfeSX5ERGyzd3wlREVEbJP5gV2TEHVRDUprBoFpJCHqPoSoiC0SohKiIuJWyYckRMRx7J3kR0TENnvHV0JURMQ2mR/YNQlRF9WgtGYQmEYSou5DiIrYIiEqISoibpV8SEJEHMfeSf51S2iAU0lfw6ntHV/po4iIbTI/sGsSoi6qQWnNIDCNJETdhxAVsUVCVEJURNwq+ZCEiDiOvZP865bQAKeSvoZTO/f4ioi4qzI/sGsSoi6qQWnNIDCNJETdhxAVsUVCVEJURNwq+ZCEiDiOc0/yE2zhVNLXcGrnHl8REXdV5gd2TULURTUorRkEppGEqPsQoiK2SIhKiIqIWyUfkhARx3HuSX6CLZxK+hpObe/4Sh9FRGyT+YFdkxB1UQ1KawaBaSQh6j6EqIgtEqISoiLiVsmHJETEceyd5F+3hAY4lfQ1nNre8ZU+iojYJvMDuyYh6qIalNYMAtNIQtR9CFERWyREJURFxK2SD0mIiOPYO8m/bgkNcCrpazi1veMrfRQRsU3mB3ZNQtRFNSitGQSmkYSo+xCiIrZIiEqIiohbJR+SEBHHsXeSHxER2+wdXwlRERHbZH5g1yREXVSD0ppBYBpJiLoPISpii4SohKiIuFXyIQkRcRx7J/kREbHN3vGVEBURsU3mB3ZNQtRFNSitGQSmkYSo+4wXogLAIPshKgAArJX9D0kAALBW5h5f73rlz+0JMDb0NZia3vGVPgoA0Ebv+AoA4CFEBZgRQlQAgHHgQxIAwDjMPb4SGsBU0NdgauYeXwEAdhXGVwBYBUJUgBkhRAUAGAc+JAEAjMPc4yvBFkwFfQ2mZu7xFQBgV2F8BYBVIEQFmBFCVACAceBDEgDAOMw9vhJswVTQ12BqesdX+igAQBu94ysAgIcQFWBGCFEBAMaBD0kAAOMw9/hKaABTQV+DqekdX+mjAABt9I6vAAAeQlSAGSFEBQAYBz4kAQCMw9zjK6EBTAV9Daamd3yljwIAtNE7vgIAeAhRAWaEEBUAYBz4kAQAMA6MrwAA49A7vhKiAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDoyvAADj0Du+EqICALTRO74CAHgIUQFmhBAVAGAc+JAEADAOc4+vhAYwFfQ1mJre8ZU+CgDQRu/4CgDgIUQFmBFCVACAceBDEgDAOMw9vhIawFTQ12Bq5h5fAQB2FcZXAFgFQlSAGSFEBQAYBz4kAQCMw9zjK8EWTAV9DaZm7vEVAGBXYXwFgFUgRAWYEUJUAIBx4EMSAMA4zD2+EmzBVNDXYGp6x1f6KABAG73jKwCAhxAVYEYIUQEAxoEPSQAA4zD3+EpoAFNBX4Op6R1f6aMAAG30jq8AAB5CVIAZIUQFABgHPiQBAIzD3OMroQFMBX0NpqZ3fKWPAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDoyvAADj0Du+EqICALTRO74CAHgIUQFmhBAVAGAc+JAEADAOjK8AAOPQO74SogIAtNE7vgIAeAhRAWaEEBUAYBz4kAQAMA5zj6+EBjAV9DWYmt7xlT4KANBG7/gKAOAhRAWYEUJUAIBx4EMSAMA4zD2+EhrAVNDXYGrmHl8BAHYVxlcAWAVCVIAZIUQFABgHPiQBAIzD3OMrwRZMBX0Npmbu8RUAYFdhfAWAVSBEBZgRQlQAgHHgQxIAwDjMPb4SbMFU0NdganrHV/ooAEAbveMrAICHEBVgRghRAQDGgQ9JAADjMPf4SmgAU0Ffg6npHV/powAAbfSOrwAAHkJUgBkhRAUAGAc+JAEAjMPc4yuhAUwFfQ2mpnd8pY8CALTRO74CAHgIUQFmhBAVAGAc+JAEADAOjK8AAOPQO74SogIAtNE7vgIAeAhRAWaEEBUAYBz4kAQAMA6MrwAA49A7vhKiAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDnOPr4QGMBX0NZia3vGVPgoA0Ebv+AoA4CFEBZgRQlQAgHHgQxIAwDjMPb4SGsBU0NdgauYeXwEAdhXGVwBYBUJUgBkhRAUAGAc+JAEAjMPc4yvBFkwFfQ2mZu7xFQBgV2F8BYBVIEQFmBFCVACAceBDEgDAOMw9vhJswVTQ12BqesdX+igAQBu94ysAgIcQFWBGCFEBAMaBD0kAAOMw9/hKaABTQV+DqekdX+mjAABt9I6vAAAeQlSAGSFEBQAYBz4kAQCMw9zjK6EBTAV9Daamd3yljwIAtNE7vgIAeAhRAWaEEBUAYBz4kAQAMA6MrwAA49A7vhKiAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDoyvAADj0Du+EqICALTRO74CAHgIUQFmhBAVAGAc+JAEADAOc4+vhAYwFfQ1mJre8ZU+CgDQRu/4CgDgIUQFmBFCVACAceBDEgDAOMw9vhIawFTQ12Bq5h5fAQB2FcZXAFgFQlSAGSFEBQAYBz4kAQCMw9zjK8EWTAV9DaZm7vEVAGBXYXwFgFUgRAWYEUJUAIBx4EMSAMA4zD2+EmzBVNDXYGp6x1f6KABAG73jKwCAhxAVYEYIUQEAxoEPSQAA4zD3+EpoAFNBX4Op6R1f6aMAAG30jq8AAB5CVIAZIUQFABgHPiQBAIzD3OMroQFMBX0NpqZ3fKWPAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDoyvAADj0Du+EqICALTRO74CAHgIUQFmhBAVAGAc+JAEADAOjK8AAOPQO74SogIAtNE7vgIAeAhRAWaEEBUAYBz4kAQAMA5zj6+EBjAV9DWYmt7xlT4KANBG7/gKAOAhRAWYEUJUAIBx4EMSAMA4zD2+EhrAVNDXYGrmHl8BAHYVxlcAWAVCVIAZIUQFABgHPiQBAIzD3OMrwRZMBX0Npmbu8RUAYFdhfAWAVSBEBZgRQlQAgHHgQxIAwDjMPb4SbMFU0NdganrHV/ooAEAbveMrAICHEBVgRghRAQDGgQ9JAADjMPf4SmgAU0Ffg6npHV/powAAbfSOrwAAHkJUgBkhRAUAGAc+JAEAjMPc4yuhAUwFfQ2mpnd8pY8CALTRO74CAHgIUQFmhBAVAGAc+JAEADAOjK8AAOPQO74SogIAtNE7vgIAeAhRAWaEEBUAYBz4kAQAMA6MrwAA49A7vhKiAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDnOPr4QGMBX0NZia3vGVPgoA0Ebv+AoA4CFEBZgRQlQAgHHgQxIAwDjMPb4SGsBU0NdgauYeXwEAdhXGVwBYBUJUgBkhRAUAGAc+JAEAjMPc4yvBFkwFfQ2mZu7xFQBgV2F8BYBVIEQFmBFCVACAceBDEgDAOMw9vhJswVTQ12BqesdX+igAQBu94ysAgIcQFWBGCFEBAMaBD0kAAOMw9/hKaABTQV+DqekdX+mjAABt9I6vAAAeQlSAGSFEBQAYBz4kAQCMw9zjK6EBTAV9Daamd3yljwIAtNE7vgIAeAhRAWaEEBUAYBz4kAQAMA6MrwAA49A7vhKiAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDoyvAADj0Du+EqICALTRO74CAHgIUQFmhBAVAGAc+JAEADAOc4+vhAYwFfQ1mJre8ZU+CgDQRu/4CgDgIUQFmBFCVACAceBDEgDAOMw9vhIawFTQ12Bq5h5fAQB2FcZXAFgFQlSAGSFEBQAYBz4kAQCMw9zjK8EWTAV9DaZm7vEVAGBXYXwFgFUgRAWYEUJUAIBx4EMSAMA4zD2+EmzBVNDXYGp6x1f6KABAG73jKwCAhxAVYEYIUQEAxoEPSQAA4zD3+EpoAFNBX4Op6R1f6aMAAG30jq8AAB5CVIAZIUQFABgHPiQBAIzD3OMroQFMBX0NpqZ3fKWPAgC00Tu+AgB4CFEBZoQQFQBgHPiQBAAwDoyvAADj0Du+EqICALTRO74CAHhGC1HfdtEdiDvpvQ/85ID3FLw78K77D5pD1Dvv/0noHYG337fobRWPBN567wOhtwTeHHjTPbE3IiJuiPlDkv4cERFX84pbbt9Tf46IiKvZO75efdJj9tSfIyLiQZkf2D11Tlrnrk2d49Z5cFPnzHVePatz8Tpfb+q8vuYApmYFmieYmj2Y9/0khd6/Rh9Ykz9J63GTIERF7FQHMR3oCFEREeeXD0mIiOPYO8m/bgkNcCrpazi1veMrfRQRsU3mB3ZPnZPWuWtC1H41DF1WDUOXdZMgREXsVAcxHegIURER55cPSYiI49g7yb9uCQ1wKulrOLVzj6+IiLsq8wO7p85J69w1IWq/GoYuq4ahy7pJEKIidqqDmA50hKiIiPPLhyRExHGce5KfYAunkr6GUzv3+IqIuKsyP7B76py0zl0TovarYeiyahi6rJsEISpipzqI6UBHiIqIOL98SEJEHMe5J/kJtnAq6Ws4tb3jK30UEbFN5gd2T52T1rlrQtR+NQxdVg1Dl3WTIERF7FQHMR3oCFEREeeXD0mIiOPYO8m/bgkNcCrpazi1veMrfRQRsU3mB3ZPnZPWuWtC1H41DF1WDUOXdZMgREXsVAcxHegIURER55cPSYiI49g7yb9uCQ1wKulrOLW94yt9FBGxTeYHdk+dk9a5a0LUfjUMXVYNQ5d1kyBERexUBzEd6AhRERHnlw9JiIjj2DvJj4iIbfaOr4SoiIhtMj+we+qctM5dE6L2q2HosmoYuqybBCEqYqc6iOlAR4iKiDi/fEhCRBzH3kl+RERss3d8JURFRGyT+YHdU+ekde6aELVfDUOXVcPQZd0kCFERO9VBTAc6QlRExPnlQxIi4jj2TvKvW0IDnEr6Gk5t7/hKH0VEbJP5gd1T56R17poQtV8NQ5dVw9Bl3SQIURE71UFMBzpCVETE+eVDEiLiOPZO8q9bQgOcSvoaTu3c4ysi4q7K/MDuqXPSOndNiNqvhqHLqmHosm4ShKiIneogpgMdISoi4vzyIQkRcRznnuQn2MKppK/h1M49viIi7qrMD+yeOietc9eEqP1qGLqsGoYu6yZBiIrYqQ5iOtARoiIizi8fkhARx3HuSX6CLZxK+hpObe/4Sh9FRGyT+YHdU+ekde6aELVfDUOXVcPQZd0kCFERO9VBTAc6QlRExPnlQxIi4jj2TvKvW0IDnEr6Gk5t7/hKH0VEbJP5gd1T56R17poQtV8NQ5dVw9Bl3SQIURE71UFMBzpCVETE+eVDEiLiOPZO8q9bQgOcSvoaTm3v+EofRURsk/mB3VPnpHXumhC1Xw1Dl1XD0GXdJAhRETv1A9iZX/ta+uxnP5s+9alPpU9+8pPp62edtRCifvrTn0nvfe9707vf/e70zne+M5162mkLIer73v/+9NrXvjYde+yx6ZWvfGX64MkfXghR3/CmN6XnPe956W/+5m/Ss5/97PT2d75zIUR9yctelp7whCekxz3ucemoo45KrznudQu/DJ7xzGemP/zDP0z/5b/8l/SIRzwiveiYlyyEqH9x9OPSr/3ar6WHPexh6d/8m3+Tnv7Mv14IUf/gv/7X9NCHPjT9/M//fPpn/+yfpaMe/4SFX2j/4bf+Y3rIQx6y76Me+xeUoQxlKDNJmd/8zd8cLNOyH8pQhjKUocx8Zey1Zz//hemE931goQwi4q5JiIqIOI6EqLsnISoh6pQQoiJ2SohKiEoZylBm88sQolKGMpShzO6UMY87/q0L5RARd0lCVETEcSRE3T0JUQlRp4QQFbHTG267L11/5N503ZF70xlfPfNAiHr6V7+errr5nnTlzfekK2560I9/4tMHQtRTPn1quvT6u/f82ncvSWd+55L0rve870CI+u73fyhdcPVd6fyr70w/uOpBjz3uDQdC1Ne9+R3p3MvvSN+9/I70nR/fkc758R3p+S9+yYEQ9Zi/e006+9Lb0zfMS25LZ11yW3rSf3/GgRD16c95UfrqD4+kr/zwSDrjwiPp9AuPpEc+6i8OhKh/8aRnpC/84NY9P//9W9Np378l/aff/YMDIeof/OnR6TPn3pw+fe7N6VPffdBf+Xf/4cDk1+/+0Z/vv0YZylCGMmOW+dV/9xuDZVr2QxnKUIYylJm/zD//F/8iXXb9zXsTJqXQ4N2f+nr602e/KT30Pz8z/aNfPgoREREREXfI//lXjk7/+N88Lv0vD3tC+l9//Unpn/7GX6X/7Tefkv7Zf3xq+ue//fT0f/7u/0i/8HvPTL/4X56VfukPn5P+9R89N/3qHz8/PexPXpB+/c9elP79n/9t+q2/eEl6+NEvS7/9uJen//zEv0u//6RXpj988qvTHz31NemRzzgu/dkzX5/+/FlvTI/9mzelo557fHr889+Snviit6UnH3NCeupL35me/vJ3p2f+/Ynp2a96X3rusSel5x/3gfSi138wHfPGk9NLj/9IesVbP5Ze+faPp2NP+EQ67j2fTm9472fSm99/ajr+A59Lb/vg59MJJ38xvfujX07vPeWMdNInv5o++OmvpZNPPSt99LRvpFO+8M30yS99K33mjO+kz3313PSFr52XvvSN76czvnl+OvPbF6azvntROvu8i9O3v39p+s75l6XvXvCjdO4FP97zvB9evuf3Lro8ff+iK9IPLr5yz/MvuTJdcOlVe1546VXph5ddnS760TV7Xvzja9LFl1+bLvmpl15xXbrsyuv3/NFV16fLr75hzyuuuTFdee1N6aqfevV1N6err3/Qa264JV17463pup96/U1H0g03P+iNt9yWbrrl9nTzrQ966213pFtvu3PPI7fflW6740Fvv/PudMddd6c777pnz7vuvjfdfc+96Z5779vzXvO++/e87/4H0v0PPJAeeOAn6Sc/mS5qJURF7PTia+9KF11zV/rh1XelL51xMEQ97ctfS+f9+I703R/dkb7zo9vTOZfdnj7y8U8dCFE/9LHPpq//8Eg688Ij6asXHElfOf/W9LZ3vvdAiPqWd/1D+vx5t6TPnXtzOvW7N6fPfufm9HfHvv5AiPqK174tffybN6aPnn1j+sg3bkgfPuuG9KznH3MgRH32i1+d3veV69N7z7gunXjGdek9p1+XjvrLpx8IUR/31Oent37+mvSW065Jx3/u6vSmU69Of/DHjz0Qov7XR//39JpPXpmO/eSV6dWfuDK98pQr0q/9x98/EKL+xiMek17y4cvTMSf/OL34Qw/6L3/53x+YAPu3D/+T/dcoQxnKUIYylKEMZShDmZYyj3/mS9MlN90ThqgXXHNz+r0nvWphkgUREREREXdHQlRCVEJUxC2REJUQlTKUoQxlKEMZylCGMtOU+flf+KX03Pd8P73uM1ena+64/0CIetWRu9Jjn/+WhQkWRERERETcLQlRCVEJURG3RB+iXnjVnekCe9zulXem719xR/re5XcshKjfvvT29M1LbktnX3xb+sbFt6WzLrptIUQ94/xb05d/cGv60vdvTV/83i17AaqGqJ8+x7wpffLbN6VPfOumdMo3b1wIUU/++g3pg1+7If3DmdenD5x5fTrpq9cvhKjv+vK16Z1fujad8MVr0zu+cE162+evWQhR33jq1ekNn70qvf4zV6XXffqqdNynrloIUf/+41ekv/vYFekVH7siveyjl6eXfuTyhRAVEREREXFZH/vCE9NTXnva/r8/9q2bDoSo9ghfnVxBRERERMTdkxCVEJUQFXFLJEQlREVERETE6bUVqR986Z+kP/1Pv5ie9NSnpb94wVsXJlcQEREREXH3JEQlRCVERdwSCVEJURERERFxWn/vqBfuPdo3P+b3n/+Lf5Ee9qcvWphcQURERETE3ZMQlRCVEBVxSyREJURFRERExGn136Oa1YkVRERERETcTQlRCVEJURG3REJUQlREREREnFYNUAlREREREREPj4SohKiEqIhb4i6EqLafi6+5K113673p1jvvT1feeM/e+Xzu3FsGQ1Q7Hzv/7A+vvjOd+t1bBkPUD339hr22uvaWe9ONt9239//WFhboalnvaz911V65K268Z28785Jr79r7mb2m5dehtbXVz2vXZ+h4di527fM5+vMc2nYZbZ92PF9P+7e1dVT2wT500DHqhYiIiLhuNUBdZ4h69POOT58+/Zy9SQebSLD/t0mO333C3y2U9f7fv/+svYkPK5+1f9v+tKz6qnecslfejmfHtf+3n9k+tazX6mTHyHXN9bVttey6tLbw52j+zbHvXyin5nbN9fTnqWXXobWN1rN0He1ndg6qlkNERETEzZAQlRCVEBVxS9yWEPVbl96ebrvr/nTkrvvT2Rffvh+iXnzt3Xq7HuCWO+7fK6chqh33rnsf0OL73HnPA+nDZ924EKJaSGcBaA0LRXWizLQw0PZb4t77f7LXnrrdslpdLfgsUTue9YMadh5RuLmsVg+rTwk7Dx+QWv+JsJ/nMtYHc/hrQbAes0U7x20JZ3OQrD+vae2eQ/L8s9xuuq9o/xa028+G/nhgnfZck56y3vwHElOe17osXb+pjfrLKuY/nFjnuIOL5t9xpv/5uu/1Va7nuutS046T/+hpmbpO4bJtaeVtnLP3ePraLjrHuD70O+ixLzxxz5c8/9nppOf9TvrQJz69MLFS0yYocpiXg0r7r01E1Pjy2T9Y2JdpkyD2Ib+EP47XwjubfChh+7R963Ytx7RJipYAt1Xbl+2zROl4dt42gVOj1D7Latephl5HC1gjtIwPqvWYiIiIiDidhKiEqISoiFvitoSoN7gw0PZjIeolEqDaeVg9rN73PfCzgceCVB+i2qTWfS6ws2A2r0T1IaeFerbS1U942QScf93O085FQ0f7t9/OJtB8SGhBa54Itv/PWJl1TfDZqly/37y6U4NVOwe/XXQuVk8rp/ssTQz2aPv1WBvbMa1dfJvZsfM2dg1zQOrxoY0PuzUQaDXvf51h0Fhm9OclfdtZv88/z9fYB6ul/ee+ov19THuuSU/ZrPXpzJTntS5L129qM/rzZbVruAnntev68djfN+u+11e5nuuuS0n/u9B+F/WGlFO5bFv69x762q4517je+jvolA+8K1190mPSjfc8sDCxUjOHgfbf/DMf9NkHdlshaasRNWDTAM3KefIKSwvqfMhpkwx+OwsNfShpr+cVkBo66qpI+3fGjmETLnk1pU1+ZPSYy2r71nPJqzv9OVgZXenp65NDYaunhsBWTo+7jBqg2r+tnhqQ+yDV6mLH10Db79efZynYRkRERMRpJEQlRCVERdwStyFEtdcz99z3k/3H+fqg1B7n678T9bTzbtl/zbBj5hD1xzf8LHy1ANW+PzV/J6o9/veICwp9+GYTqB6dULV2ytiEq3/NT8ZGgZ6fzIxe79VPhEeTvz5g9AGa6YNLXaFiE5E+aNbXl9EHs3ruVm9fn2jlrMdPVPp6LhtMt06AboIZ/Xlk7stRaJ/7ql7baP9ThRnenmvSU1a3s7bp3c67bLCxqqXrN7VRf1nFMdpz2f6xy9p4YGOn6f9IZt33+irXc911KZl/9+gfGs1hra8u25Z2XnaOyz6pYdtcx7jea+26eZcJUX3oaRMP9jNbQenRFZU2oZGxD/P+NR+85f1lbT8+KPThm9+nTSjoSkwfpNr/+9d8MBkFer5O0eu9+mDS9u3rav9faoOhdh16vVeri0fP3f7t0cDXh9NG/rmVy/jgHRERERHnkRCVEJUQFXFL3IYQ9cqbfjZxc8OR+/ZCVDt25u57H0gnfPHaAyGqBaO2AjVz6XV37YeofhXqF867Nb3ylCv2Q9RXfOyKve9EzfgwdCgINT1+0swHgdHqTb+ysrTvHv2K2WiiWVfG5pA1T8YaGgRnfTtE++7RB9Olla3+eNFkrye3uQUBmd6JZW/rBOgmmNGfR+bAv/To6cho/1OFGd6ea9JTdt0uG2zsilF/WcUx2nPO/rFtrvteX+V6rrsukfl3k38CwpzW+uoqbYnjWrtu3mVC1CiA9KtNNQjNevLKUB8C2od8DUJ13z4MjerhLQV6/pillaZ5ZaVpkzH6eq8+CNZVsaaujM0/L52717dDtO8efTBdWtnqj6dtU2pzH77qSmREREREnF5CVEJUQlTELXEbQlRbfZq58Kq79kLUy2/82WpSm+RsDVF9SGhh6qs/ceVCiPqyj15+YBVjnvzKk2FGafLWk7fzQWEUAo5hFJCqfjVq6Xwi1xmi+tW7pbbxgaihr3tym/v9+lVEFhrmsLrULt5oAjQ/hnloUtSbv7POjILimv54tW0z+vPIZUKIaP8t+/Hnrqtea5baObomJbXssnVRS3Xz2mtGa7CRvzuvts/IfE7685rLtkPPNlF/aTU6Tkt79t5n2j9qtlzzXqPzHMtVj9V7rw+1f+l6ttSzty61fZUs1S9ylWPZfd+yTa2vRnVddjxRlz2vyJ7+4c3btPzO9lqde7dZ9lqWxofadTOf8trT9nzTsa9IX371H6avnnPuwsRKpF9RaOSViD5YK4Vknhz2+dCuFBLqMWv785YCPX9MDQHHUINifT3rH3cbnU/JdYaofvVuqW18IKpBa6nN/X6joBwRERERp5UQlRCVEBVxS9z0ENWOedtd9+/7sbNv3H+c73tOv27vO0tt8mooRL3gqgdDVKtv5ubb7yuGqDe5wLTnsZiePHnnH62b92U/s7bOlibYltEmAT36etaHoaUAU7V9RwHzsvrHGNcmxD06KerJ9bF92eSlPy8fZhstk+N+AtT0jx42LKy2cyhNCOcVxooF2LZNLQywPuLbOlMKgDP+Z3aMXGf7r90rJfI2pTppuVpZ0+roV0Rn7Jxqj8eMztvaOR9jaFLam8vaPn1fy5TasnSMobplS2ify33A/9GDUetXvm7RdxoOXZOoP9auidXB/8FFJred1SP/22+X0f2VXPY4Zum8SveZH/uU3mte6isle88z/1sfu677zPjgp/dY2Yz/mbaht7f9TX9sK6PfgW3YmBW1a7Q/X5dlxh1vdC6G1sX+HZUt1dufs9Uz96voPLItfdXv1/6/1l9L9fE/H+o3up9If42sT0btZMcoBZW5DtonSudiZmzbfDx/brV7tfdaZlcdHx7ykIcsqBMrkTYxkVdollaclvTkx876x9yWwtfStkOWVnf6Y9q+LNSzSZj8HaV2jq3HaNE//lhDR29thWdJDWhXDSj9Y4VLgWypXfU1I//cJqDs/GrXGBERERGnkxCVEJUQFXFL3PQQ1Vai/sOZ16cPnHl9Oumr16f3feX6phDVynnyd6L60KEWol53a/1xuJE+LPWPwvWToNaWOuGWsW16AtuSeWI0o69n/WpNnURVbZ9a93U8dthPWtba2U+k6mSkR19TfQja0ta5frnf2Pnb/1td/SSz7VcDL5tszvWOtrNt8n713H3Yb+XtdTPX3/ark9mZqP6+frYfP8Gc95238ZPfQ/svlfXn7o/h2yz6flt/3lbnvF2ur20/NCntzWVzv81tae2ef2b11GsXHcPfV34/+Tz9o5H9udpx8nn4c7Zj+uuZ9+mDg6hf+Wuat/X3b+818YGTXpNSHfN55zEr79Nvm/E/K7nKcZa5z+xa2v9rvzB9qLPu/rjseeZ6lo6R6+n/aGTZY5kZ/7OWftXa/qYP8HI9rf65jf3vGu2XLXXpGXdUKxPdvy19I59LdKx8zrbPXE8rr+V0G98eUV/1+83/zWVqj/b318D/3I+beT/5Z1bvUvDpzdcoj2dRH8z7099lvu/6OvjtbF96zIzf1o/LpXt1mWtZ265nfNAAtTVEXVYfJPrgrWUFqzn0ONxIH5bWHgPs9+2xSYrWY9X0j+Sthah+tWatLSwotXrZ+fm6R4807tVTOnf9Hlb/WilERURERMTNkhCVEJUQFXFL3NUQ9bLrf/a4X1uR+obPXtUVol549c+CT514LJkny3SbPJlo+Mlmazs/4Zbx4Z6VsddbzNv4sMfQekbl/PZeX/dMrruW1fqU9NvavzO1dvbldDLSo69F6oRtTX/caNLWrybyk7U2CVyb7LXt/AStP/d8XaLJZTP3YTuu/3km/9uHGBrE5esatXnpNd1/qaw/96if+KDDXy/fH6PtbEzJ2+m2JfP1i9rST9TrNcrb+WPkMELDd9tvxrdzKaDI1q6P/TvXQbf3fTJaWbfMNfF/AOIDknysUh19QKP1zOixIpc9zir3mT9u1JfG7I+955mvaXSOZj5H3x+WPZaZ8T8b6ldR3Wrt79s3uj/NPNbZ675fDtUlul6lcadk7f71K/qjY/n7qTTG2X71utRs7avRdfBhn2/H6BzzeGa/X7R+uc/433Ul8zUySn3Q91H/Wv55dC62Xe5Tej9nrO5Rf4racB3XsrRdy/igAerYIWopLC39XO19ZK0FjaXgNe/Lv24/y6tR/WN1Db8q1YLLvBK3ppXL27SGqL5cqS18O2TsZ9omVmetU0l/fh7dp9fjf06IioiIiLgdEqISohKiIm6JuxiifvXCIwfu3zPOPzJ6iOonDG3izE8Y+teMaGKwtL1uWyPvy0/u+Z+rOqGrr5s5xPUT4bm8TlK24tszT2rqz1VfTicjPfraqpYmeb2+HfN1y5PWGnR6ffjmzz2Ha7X2sMlsq5s/34z9f+43Gj5koxBi6DW//1rZfO61R0Tn7fy9kM87uj+yfvV0y7XO10/PJZsnyPU6RZPt+WdRcGnnbMcYCiiyeeJexwqvD4X8vZbrUQoyatckqovfzl7PIbEPF6I+ZFod8x8R6L4zuo26ynFWuc/M6Dpn190fVzlP3190m/yab4NVjmVm/M9q/WqZ9vfjZnRPZaP+XqtL77hTsnb/tozR+Vi+PtHvilZrfTXvtzae5N/hPvCLzjH/LPqdZ33JzisKDdV8/qXfQaYf43If8P25dC65jtrvMqX+FLXhstdyXeODBqhjhqg+HNRHzvpQsBQcarlauBeVt/8vvWZEKzhL2+u2Jfw26wxRc4irQa9NAPl21TCzhm/P0s9Vj/+5Hle3Q0RERMTNkBCVEJUQFXFL3LUQ1Y5z3wM/G3SuuPHu9MZTr+4OUa+86Wd/GV+bXDP9Kg9DJ/DyBJxRm+TME9p+H3ZuD7bVsHk/eYIxo8fJ+npHE8Wq1VvPxU+Oan1K+m3ypKZRa2ffNv5cTY++tqq5fkOTxnmCOh+/tGpRjVbU5Enl0sRzyUy+rrYfDbqzUQgx9FpmqGw+91qb5T7qJ8GjwFC1PphpudbRpLmaGdrOt2vt3LL5HKN7K0+u1ybgzegxqFHdvMteEzXXsRZKmbmOep4ZLa+ucpxV7jOz1pbr7o+rnKdZuobR9V71WJmh46zS/tEYEJn/0MHXsVYXbR9v6zF9WW0bs2WM9n2jZZ9D1vpqy36jNittl3/fWpvWzrFmPl7vGNc6NmZ8/TJaNhu14bLXcl3jw2NfeOKeL3n+s9NJz/ud9KFPfHphYmUd2uSGxx7r619vDVF9aFgL90ybDMnYxMHvPuHviscshZq2jScHlLZq044/pF/d2Rqi+nrX2iJrdfSPALZJmPxafuRviz589dhresx8XI9/zbYpvYaIiIiImyMhKiEqISrilrhLIeoHzrwh3X73z8I2e4zvm069+kCIev6VPwsBayHqTY3hnn9EYKlsa1iZJ4FL+2nVr/wx9PVsnuQ0avVS/XZDE51Dtp6zRycja6+tajTpGpnL5XNo3U4nkM2Mlh3SUwtQzWhCfei1zFDZfO6t1PYfqYF1zZbrEB23tJ3/IwzD+q/d39EfRpQCCjNqt8hczt9npbrpNtE1KW0TGe0nMgq5zIyWV1c5Tut5RffZ0Pat9W/tj6ucp/+5BqM58PIh0KrHyvifRfustZ83av/a/eHN5Xx9anVpRY+j1urXuo9Mvja1fQ5Za+uW/UZtVtrOfnf4P1yy/7drWPudokbHi8zlch3yv1vx7ZHRY2SjNhzaRsvla9m6Xev4cMoH3pWuPukx6cZ7HliYWFlVCxL9I3OjYLD1e0A9pXDP1NA2KtsaVpYeB9yrTeZkaiFqa6Cs+u2iVbU9tpxzLSitvYaIiIiImyMhKiEqISrilrgrIeoXv39wBaqFqe894/qFENXqlLnr3geKIap/fG1p8ktXoJYCRT8JrJOVXj95ODTxOKSntMLCB0I9x/Pn07Kip6Y/51L7+dUchr7uKV2rZY0mXSNzubwiq3W76FGCGS07ZMYC1E0IUe0esv8fsrb/yDy5P9S2Zst1iI5b287uJ7vOfoyIVqeWAgozarfIXG6TQ9Q8Dup5ZrS8uspxWs8rus+Gtm+tf2t/XOU8sxqY5j+Y0bKrHisztM9a+3mj9q/dH95czu6x/LNaXXrHnZK1+mX052pm20LUrL2Ps2vn/1DMykZ/NKJGx4vM5fIfB+R/W1/Xaxbpf89l9BjZqA2HttFyvSFq6/gwVoiqYaZNUGgZ06/SLJWxlZIefT3rw1GjFCi2PDbX9OFkKVBs0QeLNvGhr2dtEmWZ47W0YastgaytJs5oKEyIioiIiLgdEqISohKiIm6JuxCifv2Htx0IUK+79d69csd/7uqFENUmwDy2Xw1R3/jZqw+UiSYM/XddGbXHGfoQMPqesWye4BvaX4s+4NFwJyqTHx+cJzCNUqiZJ14z+nqPeSWUUQpkfZmo/TxDE5W95msydD10tUkODVq38xPNLY8XjMzkYKQWpNYmuEuvZYbK5nPXx1oPmSebS3U2Wx6P6I0mzdVM73amPuLaX7NaQJGvka4qVKPwaahu0TVpedSp2lrHnkfCRq5ynFXuM7PWluvuj6ucZzZf23y++fz1uq56rIz/WdSvVmn/fH/4cDQyWi1bq0vvuFOydv+29A3/XqNln0PW+mrLfqM2a9nOl83XsfTewJuP19oHc71y37Wfa9khM/rzbNSGy17Llu16xocxQlS/8tKwf2uZrA/kSgGjL+MfWZu1kFUf4VsLIf3+7DtG9fWsxz+et1cNgfXxwlGZ/IjdllCz9XHBLVp7ZEqBrC+j7UeIioiIiLgdEqISohKiIm6J2x6iWl099l2mb/38Nektp10Thqiv+/RV6YYjPwsrf3T93Qsh6g+v/tk+o8nFPFlrRCvQIvPknRFNpmm4W5uYa9GHvFHwmCdPDTuHHBT7wNL/3OtDo6h9evWrXKIJcN92GoKYnqhtVzEfuxTwmlEYkCeCbbuoDf12RhQGROeazRO4vr0y/vilIDWaUB96ze+/Vra0us1r/dNe9+FLPu/apLvvey3XOpo0VzND29mxzSjcznX35WsBRb7f7fpE+zOt30SBelQ377LXJJ9DDi/8mBT1IdPXUfed0W3UVY6zyn1m1tpy3f1xlfPUfeQx3cpGIeSqx8r4n9X61TLt739e+x2ar5EfK2p10XPxRuNOydr9q/dKZK6jDxxr+xyy1ldb9hu1WbSd/czKRNck96vacfR4RssYl/upHxtrfcrqoGFuRstnozZc9lqua3x4ymtP2/MtH/1a+uo55+6pEyvLqGFmKfjz+kfI6nemmrXH3FrY6Fdw2sTCUOBp2+Rj2n/9d4Jm/UpaK6Ov9+ofW6zBo1kKQn1gWQpIa+3Tq7Vdxs5bA1/fdoaG1YSoiIiIiNshISohKiEq4pa4zSHq9S4MNb5/xZ3pbZ+/ZjBE9Y/03dvu8jv3QtQ3f+6aAwGqcfr5PwupbEJPH+FZmqBW/YSxbecn1GzS0O+3ZYJySD85adiEX56QtGvmX9PJQ18X+38/kWn19tu2TEYP6ScafdtYu/jvTC0FTp7SRGXWztXa12y5dnnS1fBtmLV95PbQgCYHnbXtom19ABKdT5681XA8k/+dV/hE/TSaUB96TfdfK5vPPeof/l7Q+yATbeeDYd22ZDRprmaGtst9Ue8XM3pkYz5PvU7ZfH30HjP9mKBBQVQ379A10Z+bvm39Peb7mt57eTzsCeJKrnKcZe8zM7dl9McbY/THVc4zm+ucr3PUH1c9Vsb/bKhf9bZ/7XdiNp+Dve73PVSX6HqVxp2Suby2jWntmc8pChv9HzH5tq/tc8haX23Zb9Rm0XZ2zQwdC8yWoFqPZ9T6YLS/fN2jPmX7KY1lGa1LNho7l72Wq4wPVj5v85CHPGRBnVjpUcNM+8A+FGZmfYDoV5FagOfDRw319DtX7fhRIBrpj2nb+f3a8f1+Vw0m8z49eXWu1dfXxfBBstXL10VXh+qq39Y2r+lDWd82dg7+GkergvU89XVERERE3AwJUQlRCVERt8RtDVEvv/FuvU0HySHqcZ+6Kv34huHtL73urnTMyYsTcK3oxGCeVMvYBGKeRPQ/00nDZfWrSktYHfV4Phg07P+tXJ64zJTCoWXUdlCsDtEEp+mpTY7nyeGMXp/IfM19IGkTu3af+P4QrUbx7RhtZ+esjzLM+r5i+7bXzXwNbH8ajGb8z/JktK4UiybUh16L9l8q68/djp3r70Px6Hr687btrH3M3D/sfKKJ8JItZTND2/lzsvroNdH7wdrbl7d9+sDLhwhWLl9n30bReBDVzdtyTXz9fT/Wa+LraPg62r7MHDLo/ZTR+kWucpxV7rPcVradlTf9fbXu/rjKeUZ1MjScWsexMv5nLf2qp/19gJfrmful7cOPddq2LXXpGXcio4DR669DPkfT/57UYw3ts2atr7bsN2qz0nY+vM7XM//MiIJcNR/PtsvXRPugob+bTB0brV1zHfJ29v96zIz+PFu6V5e5lrpd6/jg34fY9hqgrhqi+uCtBV1V6cO5CJsA0FWtvWgYqt+hanWyiQmPhpar6FeVlohWqer3y1odra4+XDWibZdRg9uI0opfQlRERETE7ZAQlRCVEBUXfMUnz0wvPfnze+prOJ/bGqJaPY/cef+eNmF1wDse9BbRh6iv+eSV6Ws/PJKuv/Vnk6uGTYTZI4FP/e4t6SUfvvxAiGqTY3nyskUfmGTtvP2EbiZPHutk4qrahJ2feDTs/60O0aRg1uqhk4iZXFfdZlWtn/lJ/3wsq0cpKDA9Ojmq+v1Hq0dUPwFqbZn/nbG2rLWF1dtPPudt7JysjaOJ7awdU49n2P6i9sjoz31AkberHbf0WrT/UlkzOnfD6lGbhI/OOwc+9rpOStdsKZtp2S7qA4adZ3Tv2va+z9m2WsbaTu+zHABp2Vrd/P6MaPvSNbF9lvaX+6kfQwwbQ2x/pSAmo/srWTqO7bd2HDM6r5b7LI9z/pjaDlF/tOuzTH/Mx4zOc6g9vXlb61v62jqOlfE/K7WhuUz767Gjetpr+sciy9TFGBp3VK1fpNUt+n1uP4vq3bLPkrW+2rLfqM1q20XXw/p9axv641ndo2tSGjfNUt+tjY0Z/Xm2dq/2XstsND7Ufl9Z/7TXTft/DVBXDVEtwLNJg1ajwM8mPTRMtX9bWX2srKn7HFJDWNN+psc0SuVX1VaZ+tW1hk2G2ASOPhrXa4GllYnCTatr9BjkVbQVstbuGirbsew6lVb8EqIiIiIiboeEqISohKh4wBec8KH0qEc9at/HP+2ZB163gPUvn/W8ff/H379+YR9jaPXyx11XwGv19/u189Mym+K2hqj5O1Hf9eVr9yaiTvjitekdX7im6XG+OUQ99pNXpld/4sqF70R92UcvTy/9yOULIephtjTRuY3WJkRbtLaw/tu7nwf7/OLk7ZD5eMtsuynm+vf0o2XbeSrXfU1yqBUF5GO4zDWxa9G7zTKucpx1X5fsGP1xlfPsdapjrdr+66znMn18WVc970112XEpCm3NZdop94neOizrMnXsGR98f9QAddUQFae1FGIiIiIiIrZIiEqISoi6pHmlZvbVX/juQplt1IJEH6KaPli0c/WvWXndxxg+67i3HTjuukJUPd917XcMCVEJURERERHXZSlExYM+9oUn7vmS5z87nfS830kf+sSnFyZWEBERERFxNyVEJUQlRF1CC0w1aHzKC16yUG4btZWZ/rwec9TRB14nRJ1PQlRCVERERMR1SYja5ykfeFe6+qTHpBvveWBhYgUREREREXdTQlRCVELUJfybN79nIUQ1d2U1qp2fhZamnhMh6nwSohKiIiIiIq5LQtQ+CVEREREREQ+fhKiEqISoS3jUXz55IUA1LXzUsrsmIep8EqISoiIiIiKuS0LUPj9z3s17Aar5q498wcLkCiIiIiIi7p6EqISohKid2veD+tDNHneb///xT3vmQvldkxB1PglRCVERERER16W9N7zxtvv2/quv4YM+5bWnpX/5y/8+/d5RL0wfP/OC/RD1Mc97y8LkCiIiIiIi7p6EqISohKid+u8MtRWp+mhfC1l1m2x+RG729Wf/aKGMamX8NqXVrlbuBSd8aO+7WS0YzNq//WN57b9+f7aN38/Q670hqu3P6uzrZD7tJa/a+3luA9uvP66GmfazKOys7d/qPtTGvSHqi957yl4fiI5n9dDHH69TQlRCVERERESczn//B49PD3nIQ/Z9xK/9X+lDn/h0evPJX16YXEFERERExN2TEJUQlRC1U7/y1MI0C818CGc/022yFmj6shpQRloZv42FdVrGwjtfr5K27VAIuurrWQsvfeBc085RQ1L7t9+fvp5DV91XpO7L2xqi2s9Lj3FW7byHwttlJEQlREVERETEaXzsC088EKBmjzv+renHN9+RHvPc4xcmWBARERERcbckRCVEJUTt0FYh+rDM/m0/t8f45p9Z0Kbblba3UFXLqBq8ashnwaiGeGZeIanhqoaGGoIOhaRDr5sWIPo2yVpdcr30Nf2ZBp8amOp5W7vbPqLj5vJaT1OPq+1rapBt+nOJwlWrx7qD1NNPPz198YtfTJ///OfTmWd/dyFE/cSnPps+/OEPpw996EPpAx/4QPrUaV9ZCFHfdeL70/HHH5/e/OY3pze84Q3pvSd/aiFEPfa4N6SXvvSl6ZhjjkkvfvGL0+vf/oGFEPW5L/zb9LSnPS095SlPSU9+8pPTMce+bSFEfcJfPS392Z/9WfqTP/mT9Md//Mfp6S949UKI+l8f+efp4Q9/ePqt3/qt9Bu/8Rvpsf/9RQsh6v/zW7+bfumXfin94i/+YvqFX/iF9PuPfvpCiPoLv/Sr6ed+7ufSP/kn/2RvcstWDehE2M//wi8dmACjDGUoQxnKUIYylKEMZWpl/tWv/96B1//V//X/TZdd/+B3o15wzc3pt5/wdwuTLIiIiIiIuDsSohKiEqJ26IM7C9Hyz/WRvjlcjdTArRa06SpXDWj1uKaFrvpIWQsBNUzNagg6FJIOvW5q8GtaCOrPNT+mWMv58n6fpbJ2XvqIYzv/aBVstEp4KETV78DN+9HrFq1UbQnJeyREJUSlDGUoQxnKUIYylKHMNGWOOfny9L7Tf3Tg9U+89BH734uaPe6k09IfPe249PMPf/rChAsiIiIiIm63hKiEqISojVpo5gMyv7JRw87SqkdTw73aI301JPVhoR1Tg9Haca3+GvKZGoIOhaRDr+tqW7N2jlFIabaEqHb+te+gjVaQasA8FKLqylYNbL1RG+v+VtGHqN8857x07a33pmtuvTddfcu96apb7k2f/szBEPULXz4z/fjGe9KPbrh7z8tuuDud+L6DIepHTvlsuujau9IPr70rXXjNXemCa+5Kr3vDGw+EqO9874fS9668c8/zrrgjnXvFHemFf/uSAyHqa9/8zvTtH92evnXZg37zstvTk5/69AMh6otfcVz6+sW3pa9dfFs686Lb0lcvOpL+5FGPPhCiPv25L01fvuDW9CXz/FvTF8+/Nf3H3/nPB0LUv3jys9PnvndLOvW8W9Jnf+q/+pV/eyBE/X8f8+T0qe/efMB/+f/71wcmwShDGcpQZowy/+3RT0qf/fZ11TIt+6EMZShDGcocLPPxb12/Z61My36GynzmvJvT2T+6I11y0z17Ial9B6q99sxH/mq6+qTHLISoiOvW+hl9Daf0iltu31N/XpI+iojY5pEjR/bUn+P2epN4872L3iLeGnjkvp8c8LaCt4t33L/oneJdgXc/cNB7Au8NvO8nKfT+NfrAmrRocx1uElsXomogp8GgD8/8KlVVA9faakUN8PzqRw0VNcyM1AA02k7L9L6uoaSGoZF6LtF2URm9BpH62F8NmrW+PvTUc7XroftXNUSuXd9efYh67nnfWxjoPnvqqQdC1K9+7ev7A2MeMN9/0kkHQtTPfO5zCwPtG9/05gMh6gc//OG9AdkP2C95yUsPhKjvePe7Fwb5pz/jGQdC1Ne+/g0LvzAe/ZjHHghRj3n5K/Z/weRfPP/59x5xIET96+c+d+EX1r992L87EKI+6alPW/gl969/+VcOTJJRhjKUocwYZWxM1A9JWqZlP5ShDGUoQ5mDZfwkf6lMy356y5hfPedcQgOcTPoaTi0hKiLiOBKi7p46J60BKiFqvxqGLquGocu6SWxdiKphmz7OtWeF6dC+TA1bNfzTgLX2COHasTUE1eCw53VdrWtG56ZaGV1VOxSi6qONS2o7asCt7eFD1J5r6vXbmPr6shKi/v/bexPnW9Kzvu+PoVw2lbpJXFmmqKRSY+IslLN4bCfxkDKBCTbBIkIaDA4gMBhEHIOEdBEaIe4MwnBlBkYjI9CwjAeEAElIo31B26B9pNG+zHI3qVNP399z7nOe867d/Z63+3c+H9WnNPf08r69/N7+9fP9dR9CVOZhHuZZ/zyEqMzDPMzDPG3m6RmiIiKeZwlRERHbSIh6/vQ1aR+gEqLW68PQqfowdKprYlMhqg/iQk8X+tfShuZRc0+1iv5Vvj4knRrU+TCyJiTNTU9Ny+nDzFyIGvp+05j+Fbv2lb6+XRuipqal9MulXjlcox/E/ECn+kHRhqjqo48+Orz5zW8+GGRVPxj7EFX1A7vVXwxEf8FQ/cXFhqhWf6FS/QUNEbGX3CQhIraxtsiPiIhl1o6vhKiIiGVSHzh/+pq0r10Totbrw9Cp+jB0qmtiUyGqDzRj34vpw7rUU5j2yctQ4GqfNA09dWnb8U9XpswFnXOm+2mh7YrpQ9JciOqnp/ShZmlQ6qdNtTR8zekHMT/QEaIiIvaXmyRExDbWFvmXltAAjyXnGh7b2vGVcxQRsUzqA+dPX5P2tWtC1Hp9GDpVH4ZOdU1sKkT14ah9ktHqX/8aC1tD89rA1T/56gND/9rcku/qVH3QWROS5qb77wOteVo0F5Lmpqf0YWgqKLXT/CuTp0qISoiKiKcjN0mIiG2sLfIvLaEBHkvONTy2vcdXRMTzKvWB86evSfvaNSFqvT4MnaoPQ6e6JjYTovrX9EqgKqFYSP/Eairc9Ou1r/T16wmFtj6o89Nj+lcJ14SkuempaTnlO1/tsj4knROi+jC0NET102Tf+WNeYuqJ5Br9IOYHOkJURMT+cpOEiNjG3kV+gi08lpxreGx7j6+IiOdV6gPnT1+T9rVrQtR6fRg6VR+GTnVNbCZE9U+M1hoKQFUb7tlX38Y+t/qnY0u/d9OHlT7ozAWhqen+Cdqa1wz77fEhqQ9RY/vF65/aFe10H5TaEFXaiE3roR/E/EBHiIqI2F9ukhAR29i7yE+whceScw2Pbe34yjmKiFgm9YHzp69J+9o1IWq9Pgydqg9Dp7omNhOi2u8unWLqlbb+qVAJ/HwQKa/I9cuJPgyVf/t5vLJ+vz01IWnJdB+G2idsY/p1irkQVUwF1Kp/qteHr6kQ1R+fkn0sYbb0VS3Z/lL9IOYHOkJURMT+cpOEiNjG2iL/0hIa4LHkXMNjWzu+co4iIpZJfeD86WvSvnZNiFqvD0On6sPQqa6JTYSo/js+fWAY0r+mV0JFP4/qQ00J3Gzol1o2FDzmnkb1wWtom/x6a6f7sFO2IfU6W5nmX7crloSovm2vhKw+NPahZipE9cdHzO1j//RqKkSv1Q9ifqAjREVE7C83SYiIbawt8i8toQEeS841PLa14yvnKCJimdQHzp++Ju1r14So9fowdKo+DJ3qmthEiOpDRx/AxfRPY6ZeA2vbkADOBoq5AM4HdhL4xdry26L6IDIXkuamS/Dot1+2KfTUaCxAFUtCVFH2QSiklbDTrzv0HbWpEDXUruzjWJDqX/0s84b6NlU/iPmBjhAVEbG/3CQhIraxtsiPiIhl1o6vhKiIiGVSHzh/+pq0r10Totbrw9Cp+jB0qmti9SFq6Ls0SwMx/wrZ1Gtg/ZOr1lDwaA0FltqePEUrgaAEe3Ye/2SlD0FzIWluuhjaJmlX+iLLS9+kj7Yvvl+5ENUGpLKsTJd1S9AdCoxj4WcuRBX9+mx72qZfj1gaupfqBzE/0BGiIiL2l5skRMQ21hb5ERGxzNrxNRWifvqprwx/+onfHN7+xOsPpony+Qvf8LeiPvC+5x0sw3IsF5PlwrJc2B7LheoDJcv5tlhuPcu987N/PrzkL/7O8NI3/0/DPW/+u8PL3vL3hpc/+g+GX370fxsuvfXO4fc+/MKDGrfUvj/wxbcP//bdzxp+493/93D/e75/+K33Pnd44L3/bHjV+35oePVf/vDw55/49YPauvixr3xg+MMP/+zw8GMvGB557OeHP/qrFw9//JGXDH/ykZcOr//oy4Z3P/GHB3V9qf0/8dQnhrc+/lvD2x5/YHj7p189vOMzvz286zO/M7zniYeG937294ePffkdB5mC5A1fufqF4aNfevPwsS8/Onz8y28fPvmVdw6f+uq7h8e/+t7hM197//DFZz4VDFGfvv7k8LmnHhs+/9RfnfmR4fNPf3T0C09/dPjq1c8eLCNeufH08KVnPjV8+ZnHb3rl8eErVz4z+tUrTwxPX/vyQVgqXvv61eHJa18Ynrr2xTO/NDytXv/ycPXGUwfhqHjjGzfGaeK1G08P177+zHD961d23vjGdR83jnxD/veNr4//f8yodfUh6pTvw1T995pK6ObnsfonJsVQOBlS2gotH1L64QNe304uJM1Nt/P5YDSm9N8/xZkLUWU7StcvIXIoQBV9+BkKUUUfpKaUfi0doIof/fKjw0e+9BfDX33xTcNjX3zD8OEv/NnwoS+8fvjg5183vP/zfzS8/3OPDO/77B8O7/3sHwzveeL3hnc/8dpxcJRB8h2ffvXw9k8/OLz18QeGRz91//CWT/3G8OZPvnL4i0/++vCmT/yb4Y2feMXw5x+/b/izj10a/uxjvzy8/qO/NPzJR+8ZXveRXxz++CO/MA7QMlD/+8deOPzhh39u+IMP/+vh9z/0r4bf+9DPDA998KeH137wp4bf/cBPDK95/48Pv/3+Hxt++y9/dLwAPPi+fz686n0/ODzw3h8YfvM9zx0vEve/+9njReOV7/re4fK7/q/h19/5T4Zfe+d3D7/6jruGX337dw6/8vbvGO572z8a7n3bt48XH7kIvfzR/2X4pbf8/eGet9wxvPTN//N4oZIL1i+86duGi2/674cXv+m/HV70xr89vPAN33pw0UNERERERETEMl/2lv91LB6/8ZO/c1A8FmMh6ns//7bhFe/4x+M6Lr/rnw5PPPnY8JknP7DnWz51/0F7Vikq+2VYjuVislxYlgvLcmFZLuzhch8cnnjyg8NbH39VOkT90E8Pn3taAsT9EPF9n3s4HaJ+/NLNMPHKzSDxpp8es4B0iPq7w9eufm742tXPD09eE78w+umvvT8Toj46PHP9q6NXrn9tuHJDfHIMMtMh6ieGayZ0VCW8TIaoV54Yrn/96uiNndfGtlMhqoSjEmyKXzdeu/FMJkR9cvj6N26MjuHnmTe+cS0boo6B6dn/NH4lRI3owzV5etLPk9IvnwrVfLCZmz+krCP0VKqGehICSuCaC0HnTrfKk7ISjsbCTumvhKMynw9JcyGq9EOW80+0xtbv+6b64xQLUUWZ5l+h7NuT7c09QTxVQlRCVERERERERMRjefldzxk++dTnDgJTrwSov/AX/8O4zK+/83vG4rQvWCMiIm7XmyHqE09+aHjiqQ8Nn33qw8bHxgDxc0/91fC5p8XDEPULT3/sps98fPji6CfO/OTwpdFPBUPUr4zeDBW/cvWJ4aujnx392qgEqIch6q1w0QSM17985leGZ0YPQ1RRAkgNGq9K0HgWNt7yMEQ99GZgGtKGqDu/EfJmeBoKUW95MyhNaUPUA4ebwWjsf71f9Lv6EHWralCqtgr0apUnQW2/UsFmiX75pdef07Z1jPZEQlRCVERERERERMRj+uq//Mnh00/Fv65CXuH7ind89ziv1Ac+/pW3B4rPiIiIW5YQlRD1+BCiIlZKiEqIioiIiIiIiHhs3/CJf3crNHWv85XvQJV55AlUAlRERDyfEqISoh4fQlTESglRCVERERERERERj618R2osRJVpMg+v8EVExPMrISoh6vEhREWslBCVEBURERERERHx2N779u+Mhqgvf/TOcR6pUxwWnREREc+DhKiEqMeHEBWxUkJUQlRERERERETEHsZCVPGw2IyIiHieJEQlRD0+hKiIlRKiEqIiIiIiIiIi9jAWoj7ykfuGhx/7uUDBGRFPxYceeWD0fR/9i4NpeH5807seGY/zH73hdw+mnX8JUQlRjw8hKmKlhKiEqL2Vc+XDX/zz4UvPfGL85UD+Wz679NZ/eDCv9f73PHuc1/r2T796/NzPa5X1ynwf+/JbxzYf/+p7x2XlnPTz+vbkZ0H6KMuJ2maur1OUdUp7dvvk36/9wL88mNcr+0+3z25jybJTlH3nj0XsGEofZH5rq34hIiIiIuK6jYWoOv2w4FyvFOZfdu/F4ad+5l8MP/rj/8/436984L6xcO/ntUpwc9+vv2ycX5V/lxT6X/W7vz7OL+1Ju/Lf8lkqDJJp0q9//cLnj8uJL/7Fnx3bzPV1qtKe3T5Rwgw/n1f3qfbTbqOfdwll+30/Y8dQAxmvnw/XrZz73/md3zn6Pd/zT3Y/O3Lc7c+HX26qck7rekU/vUS7fMk4cWrK8dL9I8dRPpOfVzm+eqzlZ9svd74lRCVEPT6EqIiVEqISoh5DCfE0zNPPJJSUC3MMuThKQOnXJUpAmEKm+2VEOe9kvTHkYh8K9CQUTBFbbqqy3al+yr6MBZSpfSrE9s0UpQ/SlxihYxiaXz6z89igWsYS325O6deUcFbml7ZlzPPT1q5ss/x82Z+xHsrPtez73B8z1KjBe+icx/Up46X8HC15DmzV0L6YOj6l1D9I8Z/nbNGXmLIP9I97/HVhTU7Zl2sZf4+lXJflONbupzm2uLbUKG3r77LH+HlpaegcD41Vp2iPc/uYrvn3XPv6XqtOPyw4h5WgUYvzGrbI/0sgqcX5kLEQRgr8trDvte1YJRD4wR+6+2B+Vdap4YFVwsdUe7HlpioBz7O///sO2lFlWigEkm2WwNTPb43tm6naMC2kP4YSwvh5RD+Pni+50MaHa6H9EpvXT5+qD5H99FptECmGwuje+vNM+2iP75L7WIL22PlSql2+R3BvQ0qv/qFDj36p0g/dP3oey8+M3W8yZvvl1qj9eZz38/PB4Vdf+cvDT/70jw//8vn/YviVX/8lQtSkh+EpIWo9hKiIlRKiEqK2VgoyihYYpeAoF1ZFLtBa1JFfECy+kOEDVPm3FH9k3f5zu5wUDiwyv6xbzlUbPMpF2YY1PkDVp1Zzy01V1mvRp3Nle2ywKm3b5aRtP13WJX0NbYNvd4p++/UpVB+U2iBUi+j2+NsQ1Z4vwpSCnmyzX2+J9tzy09auPW/8z8wx1XNtqXNM1POp53ZhmTIOKUueA1s0ti+mjk8pFf95zhZ9CantKGsOURX/ecq1jL/HUq/9rc8ba4trS6n2dyj5XWfrIaqi/46NVadoj3P7mK7591wfnk4NUTUQlP/Xz2wIIyGkBJUSIPiQzYdSMp+druGDBBQ26JSw1C4nwaENJmW6PgXpAyEbZPjwRuYtWW6q/skv6aeGAbb/Mo8PB2wIosGu9MmHzkuFWz5AlX9LP304boNUDQh9mG3Xa7czF07745PaNj+vnz7Vpdfr940PoteghGv69Lj8kYR+Toga1/58ppT5lvxDh1JDIaoo/y3T5Oc69UcKa3KpY/2XH33z8Kxn/dPhe77ne4bv/d7vHZ71rGcNj77v9YSoUQ/DU0LUeghRESslRCVEba29YdfCqZxTilxgffhog1T5b/3cFnoEX4iVf1tsABdbp67Xhnr2L7RtMOn/cju13FRtMOmfapHCne2P3f7cPrXTZR2+3Vpt0ThUVLShtvTHL2+LkrZYZY+h3/5SpwYDsk2yLf78qLVH6Cfn+s1fVg+P/TFtUeheen9OPT+wTNmv8nO01PHasqF90eL8U/znOVv0JaRef/0fN/UwN0ZN2ZdrGX+Ppe7DJX7nKTV33Fqqv3eF3oyx9PXpGIbO8dBYdV4Nbb/a49xe2tQ5udTvuS1c4nW+NvTUp5j8002+MC+hjE6T8M9OswGTfypK1mPDQhvA2XVKSOdDChuIyn/nPi+dXqsNJmVbbT/lv2Pbn9unuem1Sl/s+nzYKf+2033gGwvFZD79zIbuMf16Qn2JzeunT3XJ9frjVLof1iIhatxYSCnnvJyz/o88/PKtjfVviy51rP/tq14xfPd3f/deiPqKy79MiBr1MDwlRK2HEBWxUkJUQtSW+qcjNdTUG3zBB6Gif2pFP7dBYKzoa9dtiyCW0NONoVDP9kO2wy/jl5tb3LNPy0p7oWKsbc8WQWLbbbX4abXaUDq03f7Y+5A1tL9FG76GCkAlHisYiJkqYJ13WxS6l96fvc8PPG1bnH+K/zxni76E1GtB6Jp2bHNj1NR9iW3NHbdW6u9l/u0f6tLXp2N46uf4ed/+LZ6T4hIhqi3Ma7hlgxYfhKqhIrgNmOz3MFrtum2oGeqHNRbS2M9CwaNdbonQyIbAoeK/bc8GzLHtttp9EFp3jTaUjm23bc8+rSjG9rcNX0uCHL8eMRSSh+b101VZVubVp6NFHwLbddp9IeoyqeVi2hA9d7zkfNR2QuemqtujxvZNaHv9sjq//W5b23ZpiCrL2PbsOkJ9lf8OHTu/ntT+9sfITxdrjn2tuZDS/gGBGPsOY933to+hYxrSL2v3e6x/oeMR+tzvO9+2n16zb0uX1Z8Jux/l51OXSf2chHzOc589hqj/7AfvHn7sx39kDFF/4AfuHj74ibcRogY9DE8JUeshREWslBCVELWl9qlC+zSiJXSTHwtRbXAXCwptm6EwVPDLiLFQL+eSIaoNiWN/Je5fd+unp5y6XMhUQKraQNTvm9j+1vXagqWsX+YRS55kCgUD+r2aofOtRl1HKIhXawpYEiqUrDOkbNOUZWr3g34XXckycwrdsXZK9qduV+xctIbOj5RTj0/K1LGbe07k9sOUdZest9Yp52LMFv2LObet0vOv5jgp9rOSftb2JbWulKH+xZzaluynkmVyY5Tvqx2X5oTAJcejxprzQ536M6djkv8855Rjacc/u79zx63G2LUmpMwjxH5GSq5P6pxzacoysXPOn+Ml1uwzdcrxn7uPStqbsv3eOf2sNfYzEbPmnIw5d6wQa8YmcW6I6kMBLXrHivVWu5wW5G1YFQsKfZup9Vl94d1Pj2mXS4VGJfqQ2E9X7RNroW2JmQvlarRP4PqAVLWBqN83sf1t11sSDPn1aAgZOq/8vH66tOdfRWzVV0DbZfw83lA/UtpXX4ee4rb6p6v9dNUeBz+f9C/2fb9yzHxAbJez8+U+V2Wb7Plr9dss6v62x05f/51bj287tF41d+xj66yxZNxLzSPjg53ulWmxkDC1rL76O9a2ndfuN/u5P4/s8nP2bW5Z+Zm0y8a2UQ2dkzFln9x1111jiPpvfuPS8Fu//WtjiPp93/d9w4O/828JUYMehqeEqPUQoiJWSohKiNpSCdE0/IqFniHl/FDkIqmf21fdxm7sY8vmtKFeLMD0SrHAvs431qdS7auPU4VCS65YpJY8xVuqbLfFT1dT+zQUokrBRc8X+9o8G54Luf2s54CsR/7bHiNBzovQ/rXL2c9le/137up8dv/bbfL4Psu/tdBl0e8HTvVN2tRtstuh+GW1bzb4VmS7YkU5OQapfRcq1E0pdE9px7bnt0vWpeePovPHqD3msXMlZMmxE2WaP9cFuz2x9cbOc/ukf2hf+XPYG1omtX/F0PEq6WvNNUKt6Z8cU503VdzV64x/S0JNW2puX/i2p553ivy37Ee/f+Xfof0bW5/ti9/m2PgZMjYm+uXleIS2O9ZvUZF+6n4ObYeq2xoiNI7q9cgTGzMV/3nuvMlpj5G0678XXqeFxkfbB39OCLFtsedt6DsUU+P8lGMpyvmd2t+pNkutvdaE+iPI9Ni5LfhjIe3a318V/bn2/bTbKuOQnj9+vTFz55xil/Hbrub2mTc2hqWWEWU7fTuCXBND47XdR3JehbbXb0vseAqh9dplldi4ID8n/mcpNb6WzFP7M1FyTqba03X6fSn/Dm2fqP2T8yQ2NoWOX8i5IaoEMFK0FkMhUEpb+NZgwD6l5wOG3LI5fUjjp8e0oV+qTyXaAClV7LdBQSzA9PqAtiSgTGlfK+wDKTW1T2OBpn7PZum+9OuR7dIwxz+p5ue102T/2BBI/lvONzlvfVhnn2SWvvrvMNVzXgw99RzTHn/9HlTtk99/omyrbTd2rsfOUR9OyXbKdDu/D1h12VhYGvtc9K94tvvYbqedJxSiyv628/t1qH7fh9Yryn60x1DXKduSOva1xkLKknn8+anHyn8XtPy3Pw/8sqLsL1nWbp+dpzZEteuw5/2cfRtaVpZLLSvr9kGqrEN/Hmu+X/h5/+KHdyHq+z/2luH9H390eO5znzOGqD/6vB8mRA16GJ4SotZDiIpYKSEqIeoatTfiNnyz+OKIKkUHi58e0xa4UoU+Udr2hWopavj5arXFEl/AsdoCR2w/iFK4kJ9FW9CSZUNFuxq1CKP46WoquLXFHj/NK9ugyD4PFXKs2j89PvL/0p6Yeg1xrLikx8WuRz+T/akFIi2saruy33V+W0SyT0vLeafz2HPQBzh2m/T4y/x2PsUuJ+rx10KYtCX/r/2U9fh9GuujbresM1R01ePq923Mqe2I9ryW46rL6nbZddv+6XL2eNr9KPtCj4XsMz2Oss/0F3c9t/25ErLk2MnPpE6TdWq/7Damzgn9f7//dDkdU0P7yZ7D1in7Vwwdr1RfUz+TKaf0T5eJtSP7QZB9MrctMbUv/Lkz57xT9DiHfpYEf50q6Ys9VtqX0LpC6pio6Hrs/rDnvrSlY5Q9L0JtKbafqTcVyLG1+8P+nNn+KPrzqv2RPtifUb9+xX6m2+7Xo5QEqfYY6baGzkHBjxGitmf7YJcLjf+6j+z5aLdZt0v+3y439VjGltO+Sz/03PZtljrlWiPLaB/sz4E+hWj3o/686vRQu3YebUu22/9OpvvX/k4g8/v5QrYYqwQ/Hgn+5y02btifndDxD/XZ/o6S2kc6j/15tvvNbo9suy4n6PyiX6/9TFRqxoXY+Foyz5SfiZJzMtZe7Ppjty81Vvg2/fHzy4WMhaiPfOS+4eHHfu6g6LyUNkySwrl+HgsYvDYMiAV8XhvQxp5yVSWU8E9u+e8vnWIqgLLGQjGvvgLTBy0+rJiiriu1j21wK9ppqUCzxtB69OlJfxxD86o2lAkdSx842m1OrbdG24Y+XWePdei45Z4I9kGrBsv2XAstK8fOh8N222Lnauxzv49kW+0+lv+226KGQlRV5vfr8MfJBoqh9Yq5n2P/NK4PKUstGb9CP6f2DwNE/wcpfrvlXNZt8MvK9vk/LvDngu+f/TwVooaeJp2zb3PL+mNtt8t+HhufUsoy3/Vd3zWGqD/z//3U8MSTHxqeeOpDw8WXvmAMUZ/97GcPr/7d3yBEPfAwPCVErYcQFbFSQlRC1LUpN9p6wy6Eipv+c6/FTwtpC0Wpm31bfFHkF4RQ4VIKCyXaZbUYIfgCjl+3EtsPIaS44cMSad/3KaYuY/eX4NsOzWeXF+2+9NNCSr9jx8XrC39+ui0i2v0RKi5pKC/H2bevhWFfSNTjEzo2GtIIofPGBsZ2eb8vfV9ExX6m+zlU/JJ/a1/tfrJtxfoY+xmNFSBDLtGOTPfFVTtdCbUbO+90n8T2mQ0EYusItafzh9ap2xnaD7aYGjsnQue5Bm6pdeu2+OXn7N/Q+Z/ra+xnMubU/mk/5OfZLyNqUdr+TE9tS0ztC3/uzDnvLKHjbMcVG9zl+hI6VrbYXvJzLir+c9EW3/002d863belyPTQcYmZG6OU0HGwP4t+Pyv2M53X909/NqUN377X/uzEzkE9b2W6/flJjf+iBjKx4y+Egt7YPpxyLO34F1vOhmK+zRLnXGtiPyNq6GfcLxs7bjruyXR7fOyY4n+/SLn0WKVjjv/DQv29SLD9To0bcl6GfnbsPgj12Z7bsX0UOqZ6bofGesV/btfrzzMl9LMUGxdy505snrk/E6FjmWpP1P0V2j75t67TL6efh46fvVaEtsMbC1FFX3Re0ljYEPvca+crKaD7oCG2TCjI0aejfIFfn4jKaZ+MigVQXjtfbD/YfWDX6bdNX/NZYkkg5bXz2c/9vvTLlRpbjwaAJWGnfUJSjqc/lqoN+ezxia23RnsO2j8csH3zobBo/+BAttlPjy0fe+rQ6kNwu22xczX2eWzfWWUf+CcMYyFqaFtVG/7abQ6t12+jDxhVG9iFjkOJ9mcytM9tG/Y8LH1ts913GorbZUvPbd8/+3ksRPXBrjhn3/plY8G1Pda2D7E+lyrr0hD11Q+9cheivv7Nf7ALUf/Vz/4MIeqBh+EpIWo9hKiIlRKiEqKuTVu88zfrllBxIDSfn+a1xQrBFyOsGjja4oUgn/niQSm2PbvtqX7Y+WL7QeYR7bbJf/v1+qJaCl3GFiTt5147nz+Wtl0/ba62cOmLQaoew1zBSz8LFbv1ySZfwEsVsLRQ5Y+DVfeN/LKsn9l9GdsmxX6mRetQX0TZBj1XdL3ax1TRyz5lbNcdK0CGnNOObpff91YbOtnPQ8dZtSF3LMyT/aTth9bhzR07LSLb4+3V/Wr3VW69ovYztu7Yk5dz9m/o/J/6MxlzTv90WT9m22n22M9pK7Uv7Lkz97xTUoGLnkN2LEv1RdqKHStdLhRQhFT853ru++2x2nMntM5QyJcyN0YpsTFTQx0/bimhz0L7UdqP9cFqf85T26rnmj0HUue6aH//seddaF3W0D6ceix1udS5ZEO7kn3mnXOtCf2MWEM/46q260PI0PJ2fAn9rJa49Filn4XOO2lD+qnnjb2WhM53UdYj67THIfc7iqj9sPtR91HsuEgfFD+mKn4Zu15/nimxfobGhdy5E5tn7s9E6Fim2is5dnassOOJtuX7oOof8KS2RbWhqdcXnZfShjC+6J8LIULzlRTQ7fyxgEe0gaMt0oe+08/PE7MkgPKWhKga4vpQyj8B6MOplLEAJbWP7Xz2c9+uX67U2Hr0cxs6xea1xyr1uk8f7GgoFFtvjbGwU46VXXcoBLPH2AdVNhzTc9T3N7RO1T/tp5/HztXY53Yd/mfF6l/5GwtRQ0/lxtYR6oOu1/Y3FY769v30Ev04I22Lso/9z6ndPrucf2LYGtr3pee2/y7p2hA1dDzm7NvQttQY63OJui8kRH3Oc589PPHkB3ch6mef+vDwEz/5Y2OI+pznPGf4oz9/LSEqIeriEKIiVkqISoi6JrXgJMjFMVb4EELFAdEWowU/3SpFARuI1hSsZFkttgi+v9K/EkOFSyFWkBC16CTE9oNV5rHbaQuj0r7vU0y7PotvT9VCkOCLSHbf+Wlz1f6l1hsqlMWW0/0txUd/ToZMFbBCBWuvLf7pZ7G+Wf0yWmQrKV5ZQ4Uyr+2j3c7Qfo05tR3dLlnez2+1T9/Zz1P7UgvpsdBR1YJpaB3eVHuiFrVThW9dhz2WufWKOqamjoei/567f0Pnf0lfS8+duf3TY+wDlVAf57ZVui/mnnfKEuNKbP94S9r08/rPS859Ua9fdj/G1pkzd57l1hvaZ7Hl9OdP+h+6HpQY+tkPqeeg9qt0/Ndz1B6D0HlrDe3Dqccy9rSjV5eLHbeUU681Yux4q6l9VXK9131pf95C+zdni7FKf4eTdeaOa+m4YS09R/25LZbso9A2iYqfP7Xe1DJi6DwJfeYNzTP3ZyK23bH2So+df31wri1V8Z97fXDaOkT14YcPW2wgEAsPRRtI5Aro/ukvH0KllP7aJ/psfyVwk7Zz2iesSoMD2+fUflBlm2yYZp/ikwDN9ymmDdt0Xal97IMZO02WiU2rMbUe3U8aPMXmjR3DkHZ53e7Yemu0x8cHUva899NEe97YkM0GsPbpVjt/6olO0f9MhtaRC1H9/kmFtv6cie3j1Dp88Kw/Y6H1xoJNbyxMrtG2FVPOA//zZKdLP3zfVL8tftncuW3HTVlfqH3bt9jnqu+P729q35aO9TFzfUupr3aXEPXlv/KSgxD1Vb/zyl2I+uKXvJAQlRB1cQhRESslRCVEXYs2cBNCN+RakIpNF7VAoPjpVh/axv4CO6UWXIRcASKnfULAF0Wslth+8Nq/IhdSRb2c9i/gBT9dtfvGF5FS0+YaKhJ5Q4Wy2HKyvTa4lv+WYlKsIJsqKin+c6+ixynWt9Ay+u+SZUL69cT0xXAxtF9jTm2ndLtCoVFu+dL+h4q6MVPtiXq+lFK6XrFke6asV4zt39D5X7LOkr6WrkuM9U8/92GDXg9sWDC3rdJ9UbrtsfMu1HZIJfWzZMfmEuy2xVT856H9E1Lns8cmts6cuX2dW29on8WWk/PC/nzLOSfnWejJvpix9rw6n/bB/rsEuz9yxyW0D3PL+Pn0WJYuFwpwSlX8515/rRFz+z/V/xpCP4M125rrp1ozVom63xX5PVWOnf99uWWfdT4btpa0F9smxc+fWm9qGTG0LaHPvKF5Yv32xn4mUsuH2otts1fns/c6qbZUxX/u1cD0GK/zlaAj94pRGzSFpqulBXQfEKXmjWnDndSrNku0r95MhahTA4ZcGFfjlNcfl06rMbUefUWuPtEcm9d+FtuW1Lyx9Zbqg0Mf5NvzIhR62uXtdHt+T3lttBjbttg6Qp/H1hHTzjt1H4fWEfqsJNgM6dsr0bYlwaH0wY5psfHDt11iKETNnduxcSW2jtjnofXV6JetGeNUu75Q32LqmCHLSYj6F+/+o4MQ9QMff+vwgz/4z8YQ9e677x7e/v4/J0QlRF0UQlTESglRCVHXoA0zhdhfvOvNemoe+1f2scKFFH/sk5lyIY4FYjm1ICHk/po+pxYohFggawtggp+esmT/lWqJBbK2+OaLM3ZbY8dpqqEikTdUNMotJ+eWHBcbRsu8vpiYKiop/nOvsuYQVYNlu52h/Rpzajul22WfSrefp5Yv7b/+0UdoHd5Ue6KeLzImyX/nLF2vWLI9Ss16xdj+1e2x50XJOkv6WrouMdY/MRSY6k2Z/Xme21bpvijd9th5F2o7pKLXu1Rf5OfOn3shS66dsf6F9k9InW9rIaoq+0iuh/6PcUr2Xaw9r86nfxxg/+2PWci5T6LmlvHz1YaoJU/Vx1T8515/rRFz+z/Vf8Xv65D2DSGh/Zsz10+1Zqyyy8i9oP+92Z4zLfus8xGi7hv7mUgtH2ovts1enW/rIaoPM0PfryfagCY2j38KzU9X/dNPc0JFux4fgNVog6JYoCLa7wGsCQhK9l+pJYGs/b5OH9bVhmIxc+vRAFJDq9C8vZ9E9d9bmXtSL3SO2TBOn9K0n9llSr9j089rty0UlsY+j70GOaSfN7aPU+uIhdKh9dp9pOdIib7NEkPBoA3t7OdWO12Oh+9LSH361i4b+zkNtbNEiDpn39plU68hjpnrW0x7/v7Uz/zE8JkxQN0PUcVffNmLdiHqL116CSEqIeqiEKIiVkqISojaUylW+6dBUzfiNpSLhYx2ntD3eUkxyBaC5L9jIaAWDIRYe1qQUPz0Gm0AHAtk7TzSd/3cEtseLXYIuWJJTrsPY4Gsncc/eWP3barANMVQkcgbKhqVLGfn1e3z50aqqKRF2lTxPFTkLOmbX6b0VXnekj7GXn0Y2q8xp7aj+0fDgpix1xam9qWGVFNfqxoy1Z6oY6D/GcmZW69YcjwU/ffc/Rs6/5fqqzi3f6L2R4+zHnf/szy3rdJ9Mfe8U0p/lvSzVF9C18+p+nZVPfdzr60MhVuxdebMnWe59Yb2WclyqpxT+taJkrFZ2ys9B7Vfeu7a3xNKDZ231tA+nHosS5fT623suKWceq0RY8dbTe0rbdf/oVXO0P7N2WKsCinbYn9/0983S18Jay3tc+iPR0r2UWybFD9/ar2pZcTQeVLyO5i2Z5eb+zMR224x1M/S608otE21pSr+c28sRH3kI/cNDz/2cwcF6Cn6kCb1nX82lIuFP3ae0FN7Elr4V/jGiuzyea49cWrB3usD4FBQ5OfRwKwk1AwFXFPVV16KsUDWzuODELtvRb9sqSXr0deU2u238/qwxy+v2nNL1H1f0oeUNhQvMRS02b7p8dd/+2Ptg8rQeabafSPq57FzKfZ5aZjnxwP9efL7OLUO+0cZ9jXGofWWPv29hKEQVbT7TPrrj0fpE/ghS89tf04sEaLO2be5p69V2VcavtpXo+f6FtO+0vjmH1SEQ9Q/e8vDuxD1R37kh4cPf/IdhKiEqItBiIpYKSEqIWov/dOgJU9l2NfIysXTh4WyTvlc8Tf1srydLjf/qeKWLTbJcqF5bTEpVmSr0fYvFKpowUKwhQy7L31BRcztm1q1YCaEirRaqBFC+27p/WYNFYm8oUJZaDn5TOYJBcVaAPTtpIpKWoRKBRTaN1uMDPXNq9jPfMHaawNbPUbax1RBzR4/u+7Qfo05px3drlSR0f6s2M9T+9Luj9h4ZH+WQuvwptoTQwVir2ynTLfbm1uvWHI8FPvZnP0bOv+X6qs6p39+HXI8NdQKHfM5bZXui7nnnZIKMHT/2p+3VF9C47ZdTpZJtWdV/Od67oeuIar20QcRsXXmzJ1nufWG9lloOdmP0kasHT2v/OdebU8IXYdUPdfseZob/+X4ynKiPdah89Ya2odTj6UuJ5+lzjcltj9TzrnWxI63mtpXodDJK/PIOuzyof1b4tJjlZ6//ndtUbdN5y8ZN0LniPY59Puuqn2rffI1tE2i4udPrTe1jBg7T5TQPhT12mOXm/szEdtuu5xtzx67WD/t9cfOk2pLVfzn3liIqtN9AbpWH2amghE199RgLKgQJfSygZUUzG3h3esDy1Ax3oc7fnqtuSewYiGVDSxjgUVq39RqQ5dQ8OOfsPP7bqn9VrIencf2x87rQze/Lao9d2wgVdKHmD68knNaQyGrPb6xQF8DIDmHQqFqaF6d308X/XbZbYudh7HP7c+6tB36TlN/zoh63vi+pNZht80ep9B6/VOrsfHA/uykwsiUqZ+/1PGw52dqu0NBtX/Kv2T7fP/s5/bnOPa5Omff+mVD6xftfivpc73hEPWmj42/L/CdqISoS0OIilgpISohag99mCkX6FihwGsLQLKc3szLOWWDRF/I06KEUlr89eu0/ZQ27XakClel2kKerNsWqOx3pvpihw18BVtskj5rwUuX9e3W6kNZWb/uG2nbTgsFhnY7fdHJK+eLzCOG1uUNFYm8oUJZaDkN7v3+FmPhl56joaKgrEP3TaggbsNp216ob17FfmaLcb7/crz0/Lb71QY6oXNa16nb4Yuugi/qhZzTjp0WKt7J+WjPQTtN96UfI+yyOj22z3TdqePh20vNmyp+22Kp3daS9ZYcD8V+Nmf/hoqqS/VVndM/1bYnxM6HOW3V7Is5550ldA7Z619NX+y4rkrf9HwtOVai4j8XdQwKXZOlf7HxMrXOlHq8Y9eS3Hpj+yy0nPbdXwvs2OfX77U//6lzUKfb46XHPXZOhQIcMXTeWmM/q1OPpZ5PofNNf1/UZW2bsh7pa+ict8651sSOt5q73ut6Q/tS96M/brH9m3PpsUrPj9DPSiig1/NQlosdR8HuK/3dVab5PyCxv7v6P6Io2UehbRIV38fUehU/vxo7T3QfhvaJHZf9clN/JsTUORnrp77lwN/niHIex362Y/vYqui/Zf3SZ9+/ViGqDzOl+B8rsHv9U1s2DLEBpA/D/HeuSvuhMMJrwyvfT1m/3Q4ffkzRh0X6ZK701W67aENk6YvdPh/0+Cf8Svd3Sht+yH7Q/S3bYPdL6Ekyv51+eqml6/FPVPp5fX9t8CLbZbfVn1slYXvMkvA71Ebo+Nl16fZKX/18on+qVs4X+/Mg032gKer0WFga+9yfn/Z8EWV7Qk/kxkJUXUfq51Has9sUWq+Y+hkXY69T9gF4LHxXUyGq3z5/Dvnz026XH099yO73iV23LBv62SgJJGOfW6fu29yy0m//Rzh2n9ht9vu6TkJUQtTjQ4iKWCkhKiFqD2uxBQIbQsWQi7YtxtgiZClaEPCBr/y3FA20wKHECvBTtMFtCOmDL0KKWmxSZD1a4LD4wsVUfXAbQtr3BRlRC1U6j59uteGxkCrWiLEikTVUKIstZwvU8t+yjN3Xfn/awqisS7Tnoy2cyTGS4pX/vjx/fGN9syr+81D/pT09r0NFM9tH6Zf20RbSQsWz0H5NObUd0R4DmV+Pi+5Hu267nGyr3XZZvy0Sa2ClyPkn65b/11/cNexOHQ+15NjZcUb6L+1pm8qUc6LkeCj+86n7N3S8luqrdWr/VBus6Px+nrlt1eyLOeedooXw0M+S4AOkkr5Iu7Ie3WY9T+W/7TIpFf+56M99HaNsv0NtpdaZ0v4+oOOzPfa59cb2WWg5e17o8bRjbyic8tr2dJ+EzkFZpx8jRXvu6r6115vQ+B86b62xn9Wpx9IuZ69T2g9ZXs9t26auN9ZP69RrTex4q7ovpN96PsWu9zJN5rf7RJbz4WFs/5a45Fhlj4uuS7Tnjl2HHTd0H2v7Suj42+m6j+xYM3UfhbbJfi591GOWW6/i21Bj54m9Zwn9TOi2++Wm/kyIug2hczLWTz/m2+uPMmWsEBX9d+yPBVuFqP6pp5w+XAqFLVYpqPun7/w8ObXw7gMKUfrjP/PB2hxteBAz9JSqf+pMwhTpqw/DQstO0QdjIWNP+/rQyE8vtXQ9ob7a6TXHObQ9PmSVf4v+PPTaJ+ly8+ZezSrbaPsqpo61D+W137ZP9r/F0LIlIaoYCmb9PvbthUJUmceux69DDB2n0HpVH+bp8fP9tceo9nW19hwJBXt2ug9C/flpzzHbv9B2y3nh96usyy9b+1Rn7HPvlH2r22z7aLfZLhvaZn9u63Kpn4ewhKiEqMeHEBWxUkJUQtQe6k19qb64LTfxtgioyLxyvvqbfCke+HXmtAWbWHuCFpb8Ns5VtsMWHrUt6Yd/osQqP3s+dBS0KOILUXOV9dlil23LHzerFnkE2d9+utWGtXIM/PH1xopE1lChLLWczGe3UfviA1RRzxc7vy8wyX4LHafYMUr1TVX856IcC3/+Sv9ku2L7U9qU9iyyDg1idJrdttB+zRlqR/qWakcNbZf8nOi8il9OptufL79fZZ+EjrkcH/n5Kzketq2SeWW9tpisSD9D51nJekuOh+I/F6fs39DxWqqv3in9s9qfwdjPwZy2avfF1PNOkf+Wc8X3MzZWxdaX6ousq+YYiYr/XJW2/HVEiJ37JetMKWOL3Ud2e3Lrje2z2HKh46Fjr583pG8vdExkWui6oYbOXVmH7PPQeR86b62pn9Upx1KMjX9yLdVzUdA25TNB1uvXFVO2x19rctc0v/+9Jdf7ULtC7Hrvt7XW0PGWf9eOVaL+/uyJnTupcSP1O6GcG/533tQ5WrKPYtsk55r//Su3Xj+fN3WehH7f0zE5tVzoZ0L2SexnQk2dk6n2RFlX6NzxbaixfWxV9N/6O73/2dXQ1KvTDwvOZUohW4vaJYYK3xJg+OBE/i3zhsJMv86cvqAfak+U4ME/xbeEEjj5J8S0rVRgIWGCzOMDCg0SQq9AnqNst+xzH9JIW7LPYvulNPzMWbMeH6z46dJXmSe07+Qz2a+hc0uXDe33UFim+qdBY/tK9a8dDs0v+92u04dLXulD6LyW9ctx9X3U5WJhaexzVfrjz2tVPvdBcChEFWU9flvV2HEKrdcq+9efx6r0ze9L237Jz5WdP3Re+G3385Scn6FzQpcNnZ+iHH/pf6x/dt4pIapYu2+t0pfQsrmfydByoXMyLSEqIerxIURFrJQQlRAV6w0VdNboVvpZohST1rA9GmSkguxaZX2pAtSSav9DhduYst9rl5ninHZaHBdV+iPrPub5p+fEMdtM2XL/LuEx+3estuaed0v2U/uyxLpyzt3utTp1fJNlBB96TNlPU8b/OU7po6jjn//cqkFMKpiLOfVYzFXbzW3bUi45Boi1fZ8ybvQ6Nseydn/Y5Wr2/VyXPne8oTHBh6dLhahbNxZUrNEt9XVNSjAjwZB4CvtQtlG3NxZKLa22lwrQcrbotz32qXVqMOefGj2Gss+mnp92WT+ttaX7NuScZadLiEqIenwIURErJUQlREVERETE9Sm/Lws+RD119WnXUBiDiNuz1et8ERG3rAR5GqL6J0bxPEmISoh6fAhRESslRCVERURERMT1SYgaVoozJd8pi4jbkBAVEfFQ+73FtU+C4pYkRCVEPT6EqIiVEqISoiIiIiLi+iREDSv7hadQEc+PsRD1kY/cNzz82M8FCs6IiOdf+Y5PeQLVf3cynjcJUQlRjw8hKmKlhKiEqIiIiIi4PglREfG8e+/b/o9oiCo+8dRHAwVnRETE8yIhKiHq8SFERayUEJUQFRERERHX52s/8C/HAJVX1yLiefWB9z0vGaJ+9ulPBQrOiIiI50VCVELU40OIilgpISohKiIiIiIiIuKx/dNP/GYyRP3c018KFJwRERHPi4SohKjHhxAVsVJCVEJURERERERExGP64F/+xPCpJ7+0F5oeeOX68NmneBoVERHPq4SohKjHhxAVsVJCVEJURERERERExGN5+d3PHj751OcOQ9OgV4c/+dgvj/f07/zM7wwf/8rbA0VoRETELUqISoh6fAhRESslRCVERURERERERGzpS9/yd4f73/ND4yt8P3fl2kFYGnqdr/qKd/zjg/VZpZZxWJj+wPBLj/6Dg3lZjuVYLizLhWW5sCwXtm65bx3rzlJ//qsvvSkYol5+1/eMdez73va/D7/ytn80vOLt3znWuqXmLbXvT371XcEQ9bUf/Omxhi619Ne8/8eG3/nATwy/+4GfHGvtUnf/7JMfCoaoUst//UdfNvzpx14+/PnH7h3e8PFfGd74iV8d3vTJXxtr/l9+5lPBEFXyg/d+9vfHDEH++wOf/+Phg5//k+FDX/jTcZ/I/KEQ9QnZP197/7iPbobJN/3skx8elXlDIapso4bIX3z64zd95hPDl0Y/OYayoRBVAuKvXrm5vTfDYg2MPz8qIWwoRJVwWLbzMCS+GRAfhKpnIart961g91ZYezNQPT6EqIiVXvv6N/a8GvFKwGdu7Pvoo48Ob37zm4enb3wj6FMBn7x+6NcSfjXgV659PeiXA34p4BevhvU3boiIvfzqV7866j9HRMR5fvLLT476z49lKjRAXFLONTy2teNr7hx95CP3DZff9ZzhJW/+Hw8K0R/72qcO5hdf/uidB/OyHMuxXFiWC8tyYVkubN1yt0LUjz/5+F5NWmvWl9/1fckQ9dNPf26vFq618oc++P8mQ9TPX/nSXi1e6/Rv/MSvJUPUr1z72l4WoBnB+z/3x8kQ9ekb8qTprfzh+jeGUXkCNxWiXhtDx+FAedI2FaJe/7qElMOBEpgmQ9QxNN1fRmLOfIh6+HypmAtRe0GIilgpIepheEqIiohrkxAVEbGNtUX+pc2FBohLybmGx7Z2fOUcRUQsk/rA+dPXpH3tWvQ1bl8HtyGq6uvqqq/F+3q96Ov6PgewIarq8wTRZw82RPX6sHSOPgydqg9Gp7omCFERK/WDmB/oCFEREfvLTRIiYhtri/yIiFhm7fhKiIqIWCb1gfOnr0n72jUhar0+DJ2qD0OnuiYIUREr9YOYH+gIURER+8tNEiJiG2uL/IiIWGbt+EqIiohYJvWB86evSfvaNSFqvT4MnaoPQ6e6JghRESv1g5gf6AhRERH7y00SImIba4v8S0togMeScw2Pbe34yjmKiFgm9YHzp69J+9o1IWq9Pgydqg9Dp7omCFERK/WDmB/oCFEREfvLTRIiYhtri/xLS2iAx5JzDY9t7/EVEfG8Sn3g/Olr0r52TYharw9Dp+rD0KmuCUJUxEr9IOYHOkJURMT+cpOEiNjG3kV+gi08lpxreGx7j6+IiOdV6gPnT1+T9rVrQtR6fRg6VR+GTnVNEKIiVuoHMT/QEaIiIvaXmyRExDb2LvITbOGx5FzDY1s7vnKOIiKWSX3g/Olr0r52TYharw9Dp+rD0KmuCUJUxEr9IOYHOkJURMT+cpOEiNjG2iL/0hIa4LHkXMNjWzu+co4iIpZJfeD86WvSvnZNiFqvD0On6sPQqa4JQlTESv0g5gc6QlRExP5yk4SI2MbaIv/SEhrgseRcw2NbO75yjiIilkl94Pzpa9K+dk2IWq8PQ6fqw9CprglCVMRK/SDmBzpCVETE/nKThIjYxtoiPyIillk7vhKiIiKWSX3g/Olr0r52TYharw9Dp+rD0KmuCUJUxEr9IOYHOkJURMT+cpOEiNjG2iI/IiKWWTu+EqIiIpZJfeD86WvSvnZNiFqvD0On6sPQqa4JQlTESv0g5gc6QlRExP5yk4SI2MbaIv/SEhrgseRcw2NbO75yjiIilkl94Pzpa9K+dk2IWq8PQ6fqw9CprglCVMRK/SDmBzpCVETE/nKThIjYxtoi/9ISGuCx5FzDY9t7fEVEPK9SHzh/+pq0r10Totbrw9Cp+jB0qmuiWYgKAHk0RAUAgGXRmyQAAFiW3uPrMy/4plGA1nCuwbHpPb4CAJxXGF8BYA6EqAAdIUQFAGgDN0kAAG3oPb4SbMGx4FyDY1M7vnKOAgCUUTu+AgBYCFEBOkKICgDQBm6SAADa0Ht8JTSAY8G5BsemdnzlHAUAKKN2fAUAsBCiAnSEEBUAoA3cJAEAtKH3+EpoAMeCcw2OTe34yjkKAFBG7fgKAGAhRAXoCCEqAEAbuEkCAGgD4ysAQBtqx1dCVACAMmrHVwAACyEqQEcIUQEA2sBNEgBAGxhfAQDaUDu+EqICAJRRO74CAFgIUQE6QogKANAGbpIAANrQe3wlNIBjwbkGx6Z2fOUcBQAoo3Z8BQCwEKICdIQQFQCgDdwkAQC0off4SmgAx4JzDY5N7/EVAOC8wvgKAHMgRAXoCCEqAEAbuEkCAGhD7/GVYAuOBecaHJve4ysAwHmF8RUA5kCICtARQlQAgDZwkwQA0Ibe4yvBFhwLzjU4NrXjK+coAEAZteMrAICFEBWgI4SoAABt4CYJAKANvcdXQgM4FpxrcGxqx1fOUQCAMmrHVwAACyEqQEcIUQEA2sBNEgBAG3qPr4QGcCw41+DY1I6vnKMAAGXUjq8AABZCVICOEKICALSBmyQAgDYwvgIAtKF2fCVEBQAoo3Z8BQCwEKICdIQQFQCgDdwkAQC0gfEVAKANteMrISoAQBm14ysAgIUQFaAjhKgAAG3gJgkAoA29x1dCAzgWnGtwbGrHV85RAIAyasdXAAALISpARwhRAQDawE0SAEAbeo+vhAZwLDjX4Nj0Hl8BAM4rjK8AMAdCVICOEKICALSBmyQAgDb0Hl8JtuBYcK7Bsek9vgIAnFcYXwFgDoSoAB0hRAUAaAM3SQAAbeg9vhJswbHgXINjUzu+co4CAJRRO74CAFgIUQE6QogKANAGbpIAANrQe3wlNIBjwbkGx6Z2fOUcBQAoo3Z8BQCwEKICdIQQFQCgDdwkAQC0off4SmgAx4JzDY5N7fjKOQoAUEbt+AoAYCFEBegIISoAQBu4SQIAaAPjKwBAG2rHV0JUAIAyasdXAAALISpARwhRAQDawE0SAEAbGF8BANpQO74SogIAlFE7vgIAWAhRATpCiAoA0AZukgAA2tB7fCU0gGPBuQbHpnZ85RwFACijdnwFALAQogJ0hBAVAKAN3CQBALSh9/hKaADHgnMNjk3v8RUA4LzC+AoAcyBEBegIISoAQBu4SQIAaEPv8ZVgC44F5xocm97jKwDAeYXxFQDmQIgK0BFCVACANnCTBADQht7jK8EWHAvONTg2teMr5ygAQBm14ysAgIWpXwe8AABcoklEQVQQFaAjhKgAAG3gJgkAoA29x1dCAzgWnGtwbGrHV85RAIAyasdXAAALISpARwhRAQDawE0SbIGvf+bdiFiphgb+82MIpwUBFSyFH0uWsud4iLh14bSgPgAAcyBEBegIISoAQBu4SYIt4Is5iLhuAQCm4MeSpSRERZwunBbUBwBgDoSoAB0hRAUAaAM3SbAFfDEHEdctAMAU/FiylISoiNOF04L6AADMgRAVoCOEqAAAbeAmCbaAL+YgYt6eoQGcFrzOF5bCjyVL2XM8RNy6cFpQHwCAORCiAnSEEBUAoA3cJMEW8MUcRMzbMzSA04IQFZbCjyWI2F84LagPAMAcCFEBOkKICgDQBm6SYAv4Yg4i5iVEhWNBiApL4ccSROwvnBbUBwBgDoSoAB0hRAUAaAM3SbAFfDEHEfMSosKxIESFpfBjyVL2HA8Rty6cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQcR8/YMDeC0IESFpfBjyVL2HA8Rty6cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQcR8/YMDeC0IESFpfBjyVL2HA8Rty6cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQcR1y0AwBT8WLKUhKiI04XTgvoAAMyBEBWgI4SoAABt4CYJtoAv5iDiugUAmIIfS5aSEBVxunBaUB8AgDkQogJ0hBAVAKAN3CTBFvDFHEQMe/0tl4arD941XHnZtwzPvOhvDM/8/F8f/1s+k2lff/ydB8u0EE4LXucLS+HHkqUkREWcLpwW1AcAYA6EqAAdIUQFAGgDN0mwBXwxBxH3vf6eVw1XX/1/7oKCmFd/6zuG6+/6jYPllxZOC0JUWAo/liBif+G0oD4AAHMgRAXoCCEqAEAbuEmCLeCLOYh4y+tvfPFw5Vf+u4PANObV+/7r4fqfvuBgPUsKpwUhKiyFH0sQsb9wWlAfAIA5EKICdIQQFQCgDdwkwRbwxRxEvOn1t953EJKWev2NLzlY31LCaUGICkvhx5I5ruX15ohbF04L6gMAMAdCVICOEKICALSBmyTYAr6Yg4jvHm588PeGq//m7xyEo6Ve/ZX/Zrj+vn93sN4lhNOCEBWWwo8lU1zb680Rty6cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQcR3z1ce+i5B6FArdd+5/sO1ruEcFro+QQwFz+W1LrG15sjbl04LagPAMAcCFEBOkKICgDQBm6SYAv4Yg7iqXv9fa85CAOmev1d9x+sf64AAFPwY0mNa329OeLWhdOC+gAAzIEQFaAjhKgAAG3gJgm2gC/mIJ661/7gnx+EAFO99rvff7D+uQIATMGPJaWu+fXmiFsXTgvqAwAwB0JUgI4QogIAtIGbJNgCvpiDeOpevfdvHYQAU73y8v/yYP1zhdNCzyWAufixpNQ1v94ccevCaUF9AADmQIgK0BFCVACANnCTBFvAF3MQT90rL/uWgwBgsr/wHx6sf65wWui5BDAXP5aUuPbXmyNuXTgtqA8AwBwIUQE6QogKANAGbpJgC/hiDuKp6wv/c/XrnyucFnoeAczFjyUlrv315ohbF04L6gMAMAdCVICOEKICALSBmyTYAr6Yg3jqLvkk6pVf+I8O1j9XOC30XAKYix9LSlz7680Rty6cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQfx1F17aACnhZ5LAHPxY0mJS/5RSYvXmyNuXTgtqA8AwBwIUQE6QogKANAGbpJgC/hiDuKpe/X3f+iw+D/RFq+vbIVvB9ehnkv+c9yuvfD9KNGPaXP160c8deG0oD4AAHMgRAXoCCEqAEAbuEmCLeCLOYin7vX3veag8D/V6++6/2D9c22FbwcR29gL348Sl3wStcXrzRG3LpwW1AcAYA6EqAAdIUQFAGgDN0mwBXwxBxHfPVx97XMPAoBar73mnx6sdwlb4dtBxDb2wvejxLW/3hxx68JpQX0AAOZAiArQEUJUAIA2cJMEW8AXcxDx3cOND7x2uPqKbzsIAUq9eu+3Dtff+6qD9S5hK3w7uA71nPKf43bthe9HiWt/vTni1oXTgvoAAMyBEBWgI4SoAABt4CYJtoAv5iDiTa+/6aUHIUCp117/swfrW8pW+HZwHeo55T/H7doL348S1/56c8StC6cF9QEAmAMhKkBHCFEBANrATRJsAV/MQcRbXv/Tnxuu3ve3D8KAmFd++b8arv/Jvxq+/vg7D9a1lK3w7eA61HPLf47btRe+H6Wu+fXmiFsXTgvqAwAwB0JUgI4QogIAtIGbJNgCvpiDiPtef/dvDlcfvOsgFPBe/a1/NNx45ysPll/aVvh2cB3q+eU/x+3aC9+PUtf8enPErQunBfUBAJgDISpARwhRAQDawE0SbAFfzEHEsNffcmkMU6+87FuGZ178HwzPvOibx/+Wz2Ray6dPra3w7eA6JEQ9f/bC96PGtb7eHHHrwmlBfQAA5kCICtARQlQAgDZwkwRbwBdzEHHdtsK3g+uQEPX82Qvfj1rX+HpzxK0LpwX1AQCYAyEqQEcIUQEA2sBNEmwBX8xBxHXbCt8OIraxF74fU1zb680Rty6cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQcR120rfDuI2MZe+H7McS2vN0fcunBaUB8AgDkQogJ0hBAVAKAN3CTBFvDFHERct63w7eA61Cf7/Oe4XXvh+4GI/YXTgvoAAMyBEBWgI4SoAABt4CYJtoAv5iDium2Fbwc7+fg795/ye9E3D8+86G/wlN85she+H4jYXzgtqA8AwBwIUQE6QogKANAGbpJgC/hiDiKu21b4dvD43njH5eHqb33HwfdLeq/+5rcPN97+qwfL4zbshe8HIvYXTgvqAwAwB0JUgI4QogIAtIGbJNgCvpiDiOu2Fb4dPKKPv3O49kc/dfOp00BoGvRF3zwuw1Op27MXvh+I2F84LagPAMAcCFEBOkKICgDQBm6SYAv4Yg4irttW+HbweF77o588DEkLvfbwjx6sD9dtL3w/ELG/cFpQHwCAORCiAnSEEBUAoA3cJMEW8MUcRFy3rfDt4HGUV/heefl/cRCOFvvS/2y4/uh9B+vF9doL3w9E7C+cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQcR120rfDt4BD/+pqLvQM155Tf+4XDjr/7kcP24Snvh+4GI/YXTgvoAAMyBEBWgI4SoAABt4CYJtoAv5iDium2Fbwfbe/0tlw4C0alef+NLDtaP67QXvh+I2F84LagPAMAcCFEBOkKICgDQBm6SYAv4Yg4irttW+HawvVd/+3sPwtCpXn3Vdx2sH9dpL3w/ELG/cFpQHwCAORCiAnSEEBUAoA3cJMEW8MUcRFy3rfDtYHuv3PutB2HoVK+87FsO1o/rtBe+H4jYXzgtqA8AwBwIUQE6QogKANAGbpJgC/hiDiKu21b4drC9V37xPzkIQ6d65UXffLB+XKe98P1AxP7CaUF9AADmQIgK0BFCVACANnCTBFvAF3MQcd22wreD7X3mJX/zIAyd7M//9YP14zrthe8HIvYXTgvqAwAwB0JUgI4QogIAtIGbJNgCvpiDiOu2Fb4dbO+VS7cfhqETvXLPf36wflynvfD9QMT+wmlBfQAA5kCICtARQlQAgDZwkwRbwBdzEHHdtsK3g+29+up/fBCGTvXqb33HwfpxnfbC9wMR+wunBfUBAJgDISpARwhRAQDawE0SbAFfzEHEddsK3w629/obX3IQhk712p+98GD9uE574fuBiP2F04L6AADMgRAVoCOEqAAAbeAmCbaAL+Yg4rpthW8Hj+BH/2y4+pvffhCI1nrllX9/uPHYI4frx1XaC98PROwvnBbUBwBgDoSoAB0hRAUAaAM3SbAFfDEHEddtK3w7eBxvvP1Xhyv33HYQjBb7C//xcP3Nv3SwXlyvvfD9QMT+wmlBfQAA5kCICtARQlQAgDZwkwRbwBdzEHHdtsK3g8fz2r//scNwtNBrv/9DB+vDddsL3w9E7C+cFtQHAGAOhKgAHSFEBQBoAzdJsAV8MQcR120rfDt4RB9/53D1D39keObn/9pBSBr15//acO33fmBc9mB9uGp74fuBiP2F04L6AADMgRAVoCOEqAAAbeAmCbaAL+Yg4rpthW8Hj++Nt943XL3/Hx4Gpk75DlRe4btde+H7gYj9hdOC+gAAzIEQFaAjhKgAAG3gJgm2gC/mIOK6bYV
[...]
