{
  "openapi": "3.0.1",
  "info": {
    "title": "ESB-AI-MCP-POFinder-V4",
    "description": "REST API backing an MCP tool in APIM. POST / accepts a flat JSON body {\"pattern\":\"...\"}. GET /fetch is for debugging.",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/komatsu-a4d/purchaseOrderv4/1.0"
  },
  "servers": [
    {
      "url": "https://kal-api-appgwdev.komatsu.com.au/purchaseOrderv4"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Get purchase order details by pattern",
        "description": "Get purchase order details by pattern",
        "operationId": "getPurchaseOrderDetailsByPattern",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "enum": [
                ""
              ],
              "type": "",
              "default": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatternRequest"
              },
              "example": {
                "pattern": "A001916715"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from webMethods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Get purchase order details by pattern (clone)",
        "description": "Get purchase order details by pattern",
        "operationId": "69493caa4f5dab29f03d4d0c",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatternRequest"
              },
              "example": {
                "pattern": "A001916715"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from webMethods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/fetch": {
      "get": {
        "summary": "Debug fetch endpoint",
        "description": "Debug fetch endpoint",
        "operationId": "fetchPurchaseOrderDetails",
        "parameters": [
          {
            "name": "pattern",
            "in": "query",
            "description": "Purchase order number/pattern (e.g. A001916715)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "enum": [
                ""
              ],
              "type": "",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response from webMethods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PatternRequest": {
        "required": [
          "pattern"
        ],
        "type": "object",
        "properties": {
          "pattern": {
            "type": "string",
            "description": "Purchase order number or pattern to look up, e.g. A001916715"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}