{
  "swagger": "2.0",
  "info": {
    "version": "1.0.7",
    "title": "API-Shipping",
    "description": "### Ferguson's API Shipping Product for getting shipping rates.\n\nReturns an array of shipping rates based on destination city/state/postal code and list of products.\n```js\n[POST]/v1/shipping\n```\nTakes a JSON request payload that describes the Ferguson location id, destination address and products.\n```JSON\n{\n  \"locationId\": 134,\n  \"destination\": {\n    \"city\": \"Newport News\",\n    \"state\": \"va\",\n    \"postalCode\": \"23602\"\n  },\n  \"products\": [\n    {\n    \"id\": \"31523\",\n    \"quantity\": 2\n    },\n    {\n    \"id\": \"3522777\",\n    \"quantity\": 1\n    }\n  ]\n}\n```\n&nbsp;\n**_NOTE: basePath is actually /v1/shipping but is removed for readability._** ",
    "termsOfService": "https://developer.ferguson.com/TOS",
    "contact": {
      "name": "Ferguson API Support",
      "email": "api.team@ferguson.com",
      "url": "https://developer.ferguson.com/support"
    },
    "license": {
      "name": "Ferguson APIs",
      "url": "https://developer.ferguson.com/licenses/LICENSE-1.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Ferguson-API/API-Shipping/1.0.7/swagger.json"
  },
  "host": "uatapi2.ferguson.com",
  "tags": [
    {
      "name": "Shipping",
      "description": "Fetches shipping rates."
    }
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "application": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "shipFromLocation": {
      "name": "Ship from a Ferguson Store",
      "in": "body",
      "description": "shipping request payload",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Shipping-Request"
      }
    }
  },
  "paths": {
    "/v1/shipping": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Returns shipping options",
        "description": "Returns a list of shipping options and rates for each.",
        "operationId": "getShipping",
        "parameters": [
          {
            "$ref": "#/parameters/shipFromLocation"
          }
        ],
        "responses": {
          "200": {
            "description": "List of shipping rates",
            "headers": {
              "Last-Modified": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/Shipping-Responses"
            }
          },
          "default": {
            "description": "Catch-all for all potential errors",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Shipping-Request": {
      "type": "object",
      "title": "shippingRequest",
      "properties": {
        "locationId": {
          "type": "string",
          "example": 134
        },
        "destination": {
          "type": "object",
          "description": "Destination information.",
          "properties": {
            "city": {
              "type": "string",
              "example": "Newport News"
            },
            "state": {
              "type": "string",
              "example": "va"
            },
            "postalCode": {
              "type": "string",
              "example": 23602
            }
          },
          "required": [
            "city",
            "state",
            "postalCode"
          ]
        },
        "products": {
          "type": "array",
          "description": "array of product and quantity combinations",
          "items": {
            "$ref": "#/definitions/Product"
          }
        }
      },
      "required": [
        "locationId",
        "destination",
        "products"
      ]
    },
    "Product": {
      "type": "object",
      "title": "product",
      "properties": {
        "id": {
          "type": "string",
          "description": "product id",
          "example": 31523
        },
        "quantity": {
          "type": "number",
          "description": "quantity of products to be shipped",
          "example": 2
        }
      },
      "required": [
        "id",
        "quantity"
      ]
    },
    "Shipping-Response": {
      "type": "object",
      "title": "shippingResponse",
      "properties": {
        "name": {
          "type": "string",
          "example": "UPS Parcel"
        },
        "mode": {
          "type": "string",
          "example": "Parcel",
          "enum": [
            "Parcel",
            "LTL",
            "Freight"
          ]
        },
        "code": {
          "type": "string",
          "example": "UPS"
        },
        "serviceName": {
          "type": "string",
          "example": "UPSGROUND"
        },
        "total": {
          "type": "string",
          "example": "5.77"
        }
      }
    },
    "Shipping-Responses": {
      "type": "object",
      "title": "shippingResponses",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Shipping-Response"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "message": {
          "type": "array",
          "description": "Can contain a single string, array, integer or another JSON object. Intentionally vague as it will sometimes contain the error response from the backend server.",
          "items": {}
        },
        "error code": {
          "type": "string",
          "description": "HTTP status code."
        },
        "reason": {
          "type": "string",
          "description": "A short meaningful reason."
        },
        "contact": {
          "type": "string",
          "description": "Contact info for the error."
        }
      },
      "required": [
        "message",
        "error code",
        "reason",
        "contact"
      ]
    }
  },
  "securityDefinitions": {
    "application": {
      "description": "This API uses OAuth 2.0 client credentials grant type. You must use a Content-Type header of 'application/x-www-form-urlencoded' with form parameters of grant_type=client_credentials.\n\nYou can also specify an additional form parameter of 'expires_in' so long as it is less than 3600 seconds.\n&nbsp;\n",
      "type": "oauth2",
      "tokenUrl": "https://uatapi2.ferguson.com/oauth2/token",
      "flow": "application"
    }
  }
}