{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "x-jentic-source-url": "https://prod-api.buddypt.com/swagger-ui/index.html"
  },
  "servers": [
    {
      "url": "http://prod-api.buddypt.com",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Exercise API",
      "description": "API for Exercise"
    },
    {
      "name": "Group API",
      "description": "API for Group"
    },
    {
      "name": "Program Workout Feedback API",
      "description": "API for Program workout Feedback"
    },
    {
      "name": "Customer Metrics API",
      "description": "API for Customer Metrics"
    },
    {
      "name": "Dashboard API",
      "description": "API for Dashboard"
    },
    {
      "name": "Product API",
      "description": "API for Product"
    },
    {
      "name": "Program Exercise Medai API",
      "description": "API for Program Exercise Media"
    },
    {
      "name": "Challenge API",
      "description": "API for Challenge"
    },
    {
      "name": "Macro API",
      "description": "API for Macros"
    },
    {
      "name": "Retired Customer API",
      "description": "API for Retired Customers"
    },
    {
      "name": "Event API",
      "description": "API for Event"
    },
    {
      "name": "Message API",
      "description": "API for Messages"
    },
    {
      "name": "Workout API",
      "description": "API for Workouts"
    },
    {
      "name": "Country API",
      "description": "API for Country"
    },
    {
      "name": "Nutrition API",
      "description": "API for Nutrition"
    },
    {
      "name": "Customer API",
      "description": "API for Customer"
    },
    {
      "name": "Program API",
      "description": "API for Program"
    },
    {
      "name": "WarmUp API",
      "description": "API for WarmUp"
    }
  ],
  "paths": {
    "/api/workouts": {
      "get": {
        "tags": [
          "Workout API"
        ],
        "summary": "Get Workout",
        "description": "Get Workout",
        "operationId": "get",
        "parameters": [
          {
            "name": "fetchArchive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workouts"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workout API"
        ],
        "summary": "Update WorkOut",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkouts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workout API"
        ],
        "summary": "Create New WorkOut",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkouts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/warmup": {
      "get": {
        "tags": [
          "WarmUp API"
        ],
        "summary": "Get",
        "description": "Get Warmups",
        "operationId": "get_3",
        "parameters": [
          {
            "name": "fetchArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Warmups"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WarmUp API"
        ],
        "summary": "Update",
        "description": "Update Warmup",
        "operationId": "update_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarmupVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Warmups"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "WarmUp API"
        ],
        "summary": "Create",
        "description": "Create New Warmup",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarmupVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Warmups"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "WarmUp API"
        ],
        "summary": "archive warmup",
        "operationId": "archive",
        "parameters": [
          {
            "name": "warmupIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/trainer": {
      "put": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Update",
        "description": "Update New Trainer",
        "operationId": "update_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainerPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Create",
        "description": "Create New Trainer",
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainerPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/trainer/brand/info": {
      "get": {
        "tags": [
          "Trainer API"
        ],
        "summary": "trainer brand info",
        "operationId": "getBrandDetails",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BrandInfoPayload"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Create trainer brand info",
        "operationId": "updateBrandDetails",
        "parameters": [
          {
            "name": "brandName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandColor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/product/{productId}": {
      "put": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Edit product",
        "operationId": "getProduct",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProductOrPriceStripe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/stripe/product/price/{priceId}": {
      "get": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Get product price",
        "operationId": "getPrice",
        "parameters": [
          {
            "name": "priceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isTrainerPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductPriceResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Edit product price",
        "operationId": "editPrice",
        "parameters": [
          {
            "name": "priceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProductOrPriceStripe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/goal": {
      "put": {
        "tags": [
          "Customer API"
        ],
        "summary": "Update",
        "description": "Update goal",
        "operationId": "updateGoal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoalVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/exercise": {
      "get": {
        "tags": [
          "Exercise API"
        ],
        "summary": "Get Exercise",
        "operationId": "get_28",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortColumnName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExerciseVo"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Exercise API"
        ],
        "summary": "Update",
        "description": "Update Exercise",
        "operationId": "update_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExerciseVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Excercise"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Exercise API"
        ],
        "summary": "Create",
        "description": "Create New Exercise",
        "operationId": "create_8",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExerciseVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Excercise"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Exercise API"
        ],
        "summary": "Delete",
        "description": "Delete Exercise",
        "operationId": "archive_2",
        "parameters": [
          {
            "name": "exerciseId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer": {
      "put": {
        "tags": [
          "Customer API"
        ],
        "summary": "Update",
        "description": "Update Customer",
        "operationId": "update_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerVo"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customer API"
        ],
        "summary": "Invite",
        "description": "Invite New Customer",
        "operationId": "create_10",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInviteVo"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/coach": {
      "get": {
        "tags": [
          "Coach API"
        ],
        "summary": "Get coach profile",
        "operationId": "getProfile_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CoachVo"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Coach API"
        ],
        "summary": "Update coach",
        "description": "Update coach Details",
        "operationId": "update_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoachVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/webhook/action/customer-create": {
      "post": {
        "tags": [
          "Zapier API"
        ],
        "summary": "Zapier Customer Create Action Webhook",
        "operationId": "createCustomerAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInviteVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/zapier/token": {
      "post": {
        "tags": [
          "Zapier API"
        ],
        "summary": "Generate zapier token",
        "operationId": "getZapierToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/workouts/status": {
      "post": {
        "tags": [
          "Workout API"
        ],
        "summary": "Create Workout status",
        "description": "Create Workout status",
        "operationId": "createStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkoutStatusVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/workouts/comment": {
      "post": {
        "tags": [
          "Workout API"
        ],
        "summary": "Create Workout comment",
        "description": "Create Workout comment",
        "operationId": "createComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkoutCommentVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/meta": {
      "post": {
        "tags": [
          "User API"
        ],
        "summary": "Update User Meta",
        "operationId": "updateUserMeta",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserMetaUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/device": {
      "post": {
        "tags": [
          "User API"
        ],
        "summary": "Add device",
        "operationId": "addDeviceDetail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDevicePayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/transformation/images": {
      "get": {
        "tags": [
          "Transformation API"
        ],
        "summary": "Get",
        "description": "get Transformation record",
        "operationId": "get_5",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransformationMediaResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Transformation API"
        ],
        "summary": "Create",
        "description": "Create New Transformation record",
        "operationId": "uploadImage",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/trainer/public-info": {
      "get": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Get",
        "description": "Get trainer public info",
        "operationId": "getPublicInfo",
        "parameters": [
          {
            "name": "trainerCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrainerPublicInfo"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Create trainer public info",
        "operationId": "createPublicInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainerPublicInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/trainer/change_password": {
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Update",
        "description": "Update Password",
        "operationId": "updatePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Updatepassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/task": {
      "get": {
        "tags": [
          "Task API"
        ],
        "summary": "Get task",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaskVo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Task API"
        ],
        "summary": "Create task",
        "operationId": "createTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskVo"
                }
              }
            }
          }
        }
      }
    },
    "/api/task/{id}/subtask": {
      "post": {
        "tags": [
          "Task API"
        ],
        "summary": "Create sub task",
        "operationId": "createSubTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubTaskVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubTaskVo"
                }
              }
            }
          }
        }
      }
    },
    "/api/superadmin/whats-new": {
      "post": {
        "tags": [
          "Superadmin API"
        ],
        "summary": "Create whats New",
        "operationId": "createWhatsNew",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsNewPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/superadmin/functionality": {
      "get": {
        "tags": [
          "Superadmin API"
        ],
        "summary": "Get functionality",
        "operationId": "getFunctionality",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Functionalities"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Superadmin API"
        ],
        "summary": "add functionality",
        "operationId": "createFunctionality",
        "parameters": [
          {
            "name": "functionality",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/webhook": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Stripe webhook",
        "operationId": "webhook",
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/stripe/webhook/connect": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Stripe connect webhook",
        "operationId": "webhookConnect",
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/stripe/trainer/checkout/session": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Create checkout session - trainer",
        "operationId": "createSessionTrainer",
        "parameters": [
          {
            "name": "priceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "successUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancelUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/tax": {
      "get": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Get tax rates",
        "operationId": "getTax",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaxRate"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Create tax rate",
        "operationId": "createTax",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRatePayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/subscription": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Create customer subscription manual",
        "operationId": "createSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Delete subscription",
        "operationId": "deleteSubscription",
        "parameters": [
          {
            "name": "isCustomerSubscription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "deleteMembership",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/stripe/subscription/change": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Upgrade / Downgrade subscription",
        "operationId": "changeSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeSubscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ThreeDSPayload"
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/product": {
      "get": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Get product",
        "operationId": "getProduct_1",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WORKOUT",
                "NUTRITION",
                "WORKOUT_AND_NUTRITION",
                "OTHER"
              ]
            }
          },
          {
            "name": "fetchTrainerProduct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductPriceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Create product",
        "operationId": "createProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductStripe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/stripe/product/price": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Create product price",
        "operationId": "createPrice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePriceStripe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/stripe/checkout/session/expire": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Expire checkout session",
        "operationId": "expireSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/stripe/account": {
      "post": {
        "tags": [
          "Stripe API"
        ],
        "summary": "Create stripe account",
        "operationId": "createAccount",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/save-goal": {
      "post": {
        "tags": [
          "Customer API"
        ],
        "summary": "Create goal",
        "operationId": "goal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoalVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/razorpay/razorpayWebhookEndpoint": {
      "post": {
        "tags": [
          "Razorpay payment API"
        ],
        "summary": "Web Hook",
        "description": "Web Hook for razorpay events",
        "operationId": "razorPayWebhookEndpoint",
        "parameters": [
          {
            "name": "X-Razorpay-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/razorpay/order/customer/{id}": {
      "post": {
        "tags": [
          "Razorpay payment API"
        ],
        "summary": "Create one time purchase",
        "description": "Create one time purchase",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "priceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/razorpay/order/callback": {
      "post": {
        "tags": [
          "Razorpay payment API"
        ],
        "summary": "UI callback",
        "operationId": "razorPayOrderCallback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallbackPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/razorpay/link-account": {
      "post": {
        "tags": [
          "Razorpay payment API"
        ],
        "summary": "Create link account",
        "description": "Link account creation for trainer",
        "operationId": "createLinkAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankDetailPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/questionnaire": {
      "get": {
        "tags": [
          "Questionnaire API"
        ],
        "summary": "GET",
        "description": "Get Questionnaire Details List",
        "operationId": "get_11",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuestionnaireVo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Questionnaire API"
        ],
        "summary": "Save/Update",
        "description": "Save or Update Questionnaire Details",
        "operationId": "saveOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionnaireVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/program/workout-document": {
      "post": {
        "tags": [
          "Program API"
        ],
        "summary": "Create",
        "description": "Create Program Workout Document",
        "operationId": "create_3",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {},
                  "description": {},
                  "programWorkoutId": {}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramWorkoutDocumentResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Program API"
        ],
        "summary": "Delete",
        "description": "Delete Progarm Workout Document",
        "operationId": "deleteProgramWorkoutDocuments",
        "parameters": [
          {
            "name": "programWorkoutId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/program/save-or-update": {
      "post": {
        "tags": [
          "Program API"
        ],
        "summary": "Create",
        "description": "Save or Update Program Details",
        "operationId": "create_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/program/queue": {
      "get": {
        "tags": [
          "Program API"
        ],
        "summary": "Get",
        "description": "Get Queued Program",
        "operationId": "getQueuedProgram",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Program API"
        ],
        "summary": "Post",
        "description": "Program Queue",
        "operationId": "saveProgramQueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramQueueVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/program/program-customer-map": {
      "post": {
        "tags": [
          "Program API"
        ],
        "summary": "Customer Map",
        "description": "Program Customer Map",
        "operationId": "save",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramCustomerMapVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/program/document": {
      "get": {
        "tags": [
          "Program API"
        ],
        "summary": "Get",
        "description": "Get Program documents For Customer",
        "operationId": "getDocuments",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramDocumentResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Program API"
        ],
        "summary": "Create",
        "description": "Create Program Document",
        "operationId": "createProgramDocument",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {},
                  "description": {},
                  "programId": {}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramDocumentResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Program API"
        ],
        "summary": "Delete",
        "description": "Delete Progarm  Document",
        "operationId": "deleteProgramDocuments",
        "parameters": [
          {
            "name": "programId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/program-workout-feedback": {
      "get": {
        "tags": [
          "Program Workout Feedback API"
        ],
        "summary": "Get",
        "description": "Get All Program Workout Feedback",
        "operationId": "get_14",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customerIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "coachId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramWorkoutFeedbackVo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Program Workout Feedback API"
        ],
        "summary": "Create",
        "description": "Save Program Workout Feedback Details",
        "operationId": "save_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramWorkoutFeedbackVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/program-exercise-media": {
      "get": {
        "tags": [
          "Program Exercise Medai API"
        ],
        "summary": "Get",
        "description": "Get Program Exercise Media Details by Id",
        "operationId": "getById",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "exerciseId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProgramExerciseMediaVo"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Program Exercise Medai API"
        ],
        "summary": "Create",
        "description": "Save Program Exercise Media Details",
        "operationId": "save_2",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "programWorkoutId": {},
                  "exerciseId": {},
                  "circuitId": {}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/product/offline": {
      "get": {
        "tags": [
          "Product API"
        ],
        "summary": "Get",
        "description": "Get Product",
        "operationId": "get_15",
        "parameters": [
          {
            "name": "productType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WORKOUT",
                "NUTRITION",
                "WORKOUT_AND_NUTRITION",
                "OTHER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductPriceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product API"
        ],
        "summary": "Create",
        "description": "Save Product",
        "operationId": "createProduct_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflineProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "patch": {
        "tags": [
          "Product API"
        ],
        "summary": "Update",
        "description": "Update Product",
        "operationId": "updateProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflineProductEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/product/offline/price": {
      "post": {
        "tags": [
          "Product API"
        ],
        "summary": "Create",
        "description": "Save Price",
        "operationId": "createPrice_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflinePrice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "patch": {
        "tags": [
          "Product API"
        ],
        "summary": "Update",
        "description": "Update Price",
        "operationId": "updatePrice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflinePriceEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/nutrition": {
      "get": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "GET",
        "description": "Get Nutrition Details List",
        "operationId": "get_16",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NutritionRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "Save/Update",
        "description": "Save or Update Nutrition Details",
        "operationId": "saveOrUpdate_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NutritionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NutritionRequest"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/openai/mealplan": {
      "post": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "Generate MealPlan",
        "description": "Get MealPlan Response from OpenAi",
        "operationId": "getOpenApiMealPlan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/media": {
      "post": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "Upload",
        "description": "Save Nutrition Media Details",
        "operationId": "uploadNutritionMedia",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mealType": {},
                  "assignedDate": {}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "delete": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "Delete nutrition media",
        "operationId": "deleteNutritionMedia",
        "parameters": [
          {
            "name": "mediaId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "assignedDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/nutrition/macro": {
      "get": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "Get nutrition macro",
        "operationId": "getNutritionMacro",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NutritionMacroVo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "Save/Update nutrition macro",
        "operationId": "createMacro",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NutritionMacroVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/nutrition/customer-macro-history": {
      "post": {
        "tags": [
          "Nutrition API"
        ],
        "summary": "Save/Update nutrition macro customer history",
        "operationId": "createMacroHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NutritionMacroVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/misc/whatsnew": {
      "get": {
        "tags": [
          "Misc API"
        ],
        "summary": "Whats New Get All API",
        "operationId": "getAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WhatsNewVo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Misc API"
        ],
        "summary": "Save or Update Whats New",
        "operationId": "saveOrUpdate_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsNewVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/misc/log-error": {
      "post": {
        "tags": [
          "Misc API"
        ],
        "summary": "Save error log",
        "operationId": "logError",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorLogVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/metrics-set": {
      "get": {
        "tags": [
          "Metrics Set API"
        ],
        "summary": "GET",
        "description": "Get Metrics Set Details List",
        "operationId": "get_20",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BODY",
                "EXERCISE"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetricsSetVo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Metrics Set API"
        ],
        "summary": "Save/Update",
        "description": "Save or Update Metrics Set Details",
        "operationId": "saveOrUpdate_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricsSetVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/message": {
      "get": {
        "tags": [
          "Message API"
        ],
        "summary": "get",
        "description": "Get Messages for admin",
        "operationId": "get_21",
        "parameters": [
          {
            "name": "filterbyUnread",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageMetaAdmin"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Message API"
        ],
        "summary": "Create",
        "description": "Create Message",
        "operationId": "create_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "message"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "message"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/macro": {
      "get": {
        "tags": [
          "Macro API"
        ],
        "summary": "Get",
        "description": "Get Macro by customerId",
        "operationId": "get_23",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Macro"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Macro API"
        ],
        "summary": "Create",
        "description": "Create New Macro",
        "operationId": "create_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MacroVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Macro"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Macro API"
        ],
        "summary": "Update",
        "description": "Update New Macro",
        "operationId": "update_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MacroUpdateRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/local/notification/subscribe": {
      "post": {
        "tags": [
          "Local Notification API"
        ],
        "summary": "Subscribe to notification",
        "operationId": "subscribe",
        "parameters": [
          {
            "name": "notificationType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MESSAGE",
                "PAYMENT",
                "PAYMENT_REMINDER",
                "PROGRAM_REMINDER",
                "CUSTOMER_ADD",
                "CUSTOMER_EXPIRED",
                "ACCOUNT",
                "FORM",
                "CUSTOMER_ACTIVE",
                "PRODUCT_ASSIGNMENT"
              ]
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MOBILE_NOTIFICATION",
                "WEB_NOTIFICATION",
                "LIVE_WEB_NOTIFICATION",
                "ALL"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/habits": {
      "get": {
        "tags": [
          "Habits API"
        ],
        "summary": "GET",
        "description": "Get Habits Details List",
        "operationId": "get_25",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HabitsVo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Habits API"
        ],
        "summary": "Save/Update",
        "description": "Save or Update Habits Details",
        "operationId": "saveOrUpdate_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HabitsVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/group": {
      "get": {
        "tags": [
          "Group API"
        ],
        "summary": "Get",
        "description": "Get Group",
        "operationId": "get_26",
        "parameters": [
          {
            "name": "searchVal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Group API"
        ],
        "summary": "Create",
        "description": "Create Group",
        "operationId": "create_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/event/schedule/save": {
      "post": {
        "tags": [
          "Event API"
        ],
        "summary": "Save",
        "description": "Save Schedule",
        "operationId": "saveEventSchedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventScheduleVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/event/save-or-update": {
      "post": {
        "tags": [
          "Event API"
        ],
        "summary": "Save/Update",
        "description": "Save/upadte Event",
        "operationId": "save_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/event/event-customer-map": {
      "post": {
        "tags": [
          "Event API"
        ],
        "summary": "Customer Map",
        "description": "Event Customer Map",
        "operationId": "save_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCustomerMapVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/enquiry": {
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Register enquiry",
        "operationId": "saveEnquiry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnquiryVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EnquiryResponseVo"
                }
              }
            }
          }
        }
      }
    },
    "/api/enquiry/{id}/schedule-call": {
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Schedule call for enquiry",
        "operationId": "addOrUpdateEnquiryCall",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnquiryScheduledCallPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EnquiryScheduledCall"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Delete Schedule call for enquiry",
        "operationId": "deleteEnquiryCall",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/enquiry/{id}/notes": {
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Add notes to enquiry",
        "operationId": "addNotes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnquiryNotesVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/enquiry/label": {
      "get": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Get enquiry label",
        "operationId": "getEnquiryLabel",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnquiryLabelPayload"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Add label for enquiry",
        "operationId": "addEnquiryLabel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnquiryLabelPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/enquiry/custom-fields": {
      "get": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Get custom fields to enquiry",
        "operationId": "getCustomFields",
        "parameters": [
          {
            "name": "trainerCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trainer API"
        ],
        "summary": "Add custom fields to enquiry",
        "operationId": "addCustomFields",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/document": {
      "get": {
        "tags": [
          "Document API"
        ],
        "summary": "Get",
        "description": "Get Document summary",
        "operationId": "get_33",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDesc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "EDUCATION",
                  "FITNESS",
                  "LIBRARY",
                  "PROGRAM_DOCUMENT",
                  "ADVERTISEMENT",
                  "NUTRITION_RECIPE"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Document API"
        ],
        "summary": "Create",
        "description": "Create New Document",
        "operationId": "create_9",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {},
                  "type": {},
                  "description": {}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Documents"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/{customerId}/notes": {
      "post": {
        "tags": [
          "Customer API"
        ],
        "summary": "Create note",
        "operationId": "goalNote",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 500,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "CHECKLIST",
              "enum": [
                "CHECKLIST",
                "NOTES",
                "LIMITATION"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer/reinvite": {
      "post": {
        "tags": [
          "Customer API"
        ],
[...]
