{
  "openapi": "3.0.3",
  "info": {
    "title": "Zoho Sheet API",
    "version": "2.0",
    "description": "Zoho Sheet API for managing spreadsheet data programmatically.",
    "x-jentic-source-url": "https://www.zoho.com/sheet/help/api/v2/",
    "contact": {
      "name": "Zoho Sheet API Support"
    }
  },
  "servers": [
    {
      "url": "https://sheet.zoho.com/api/v2"
    }
  ],
  "paths": {
    "/{resource_id}": {
      "post": {
        "operationId": "executeOperation",
        "summary": "Execute spreadsheet operation",
        "description": "Execute various operations on workbooks/worksheets via method parameter",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workbook/worksheet resource ID"
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Operation to perform"
          },
          {
            "name": "worksheet_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Target worksheet name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
            "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
            "scopes": {
              "ZohoSheet.dataAPI.READ": "Read data",
              "ZohoSheet.dataAPI.UPDATE": "Update data"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Data"
    }
  ]
}
