{
  "openapi": "3.0.3",
  "info": {
    "title": "Swell API",
    "version": "1.0.0",
    "description": "Swell is a customizable headless ecommerce platform. The Backend API provides full access to products, orders, accounts, subscriptions, carts, categories, coupons, invoices, payments, shipments, and store settings.",
    "x-jentic-source-url": "https://developers.swell.is/"
  },
  "servers": [
    {
      "url": "https://api.swell.store"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List all products",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria object"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort expression e.g. 'name asc'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            },
            "description": "Max results (1-1000)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific fields to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text search query"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Include related queries"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProducts",
        "summary": "Create a product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "sku": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "price": {
                    "type": "number"
                  },
                  "sale": {
                    "type": "boolean"
                  },
                  "sale_price": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "subscription",
                      "bundle",
                      "giftcard"
                    ]
                  },
                  "stock_tracking": {
                    "type": "boolean"
                  },
                  "stock_level": {
                    "type": "integer"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "attributes": {
                    "type": "object"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "meta_title": {
                    "type": "string"
                  },
                  "meta_description": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "variable": {
                    "type": "boolean"
                  },
                  "delivery": {
                    "type": "string",
                    "enum": [
                      "shipment",
                      "subscription",
                      "giftcard"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "sku": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    },
                    "sale": {
                      "type": "boolean"
                    },
                    "sale_price": {
                      "type": "number"
                    },
                    "description": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "standard",
                        "subscription",
                        "bundle",
                        "giftcard"
                      ]
                    },
                    "stock_tracking": {
                      "type": "boolean"
                    },
                    "stock_level": {
                      "type": "integer"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "attributes": {
                      "type": "object"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta_title": {
                      "type": "string"
                    },
                    "meta_description": {
                      "type": "string"
                    },
                    "category_id": {
                      "type": "string"
                    },
                    "variable": {
                      "type": "boolean"
                    },
                    "delivery": {
                      "type": "string",
                      "enum": [
                        "shipment",
                        "subscription",
                        "giftcard"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "operationId": "getProducts",
        "summary": "Retrieve a product",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return specific fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "sku": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    },
                    "sale": {
                      "type": "boolean"
                    },
                    "sale_price": {
                      "type": "number"
                    },
                    "description": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "standard",
                        "subscription",
                        "bundle",
                        "giftcard"
                      ]
                    },
                    "stock_tracking": {
                      "type": "boolean"
                    },
                    "stock_level": {
                      "type": "integer"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "attributes": {
                      "type": "object"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta_title": {
                      "type": "string"
                    },
                    "meta_description": {
                      "type": "string"
                    },
                    "category_id": {
                      "type": "string"
                    },
                    "variable": {
                      "type": "boolean"
                    },
                    "delivery": {
                      "type": "string",
                      "enum": [
                        "shipment",
                        "subscription",
                        "giftcard"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProducts",
        "summary": "Update a product",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "sku": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "price": {
                    "type": "number"
                  },
                  "sale": {
                    "type": "boolean"
                  },
                  "sale_price": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "subscription",
                      "bundle",
                      "giftcard"
                    ]
                  },
                  "stock_tracking": {
                    "type": "boolean"
                  },
                  "stock_level": {
                    "type": "integer"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "attributes": {
                    "type": "object"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "meta_title": {
                    "type": "string"
                  },
                  "meta_description": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "variable": {
                    "type": "boolean"
                  },
                  "delivery": {
                    "type": "string",
                    "enum": [
                      "shipment",
                      "subscription",
                      "giftcard"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "sku": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "price": {
                      "type": "number"
                    },
                    "sale": {
                      "type": "boolean"
                    },
                    "sale_price": {
                      "type": "number"
                    },
                    "description": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "standard",
                        "subscription",
                        "bundle",
                        "giftcard"
                      ]
                    },
                    "stock_tracking": {
                      "type": "boolean"
                    },
                    "stock_level": {
                      "type": "integer"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "attributes": {
                      "type": "object"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta_title": {
                      "type": "string"
                    },
                    "meta_description": {
                      "type": "string"
                    },
                    "category_id": {
                      "type": "string"
                    },
                    "variable": {
                      "type": "boolean"
                    },
                    "delivery": {
                      "type": "string",
                      "enum": [
                        "shipment",
                        "subscription",
                        "giftcard"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProducts",
        "summary": "Delete a product",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List all orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria object"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort expression e.g. 'name asc'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            },
            "description": "Max results (1-1000)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific fields to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text search query"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Include related queries"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrders",
        "summary": "Create a order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "draft",
                      "payment_pending",
                      "delivery_pending",
                      "hold",
                      "complete",
                      "canceled"
                    ]
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "sub_total": {
                    "type": "number"
                  },
                  "grand_total": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "billing": {
                    "type": "object"
                  },
                  "shipping": {
                    "type": "object"
                  },
                  "coupon_code": {
                    "type": "string"
                  },
                  "discount_total": {
                    "type": "number"
                  },
                  "tax_total": {
                    "type": "number"
                  },
                  "shipment_total": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "draft",
                        "payment_pending",
                        "delivery_pending",
                        "hold",
                        "complete",
                        "canceled"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sub_total": {
                      "type": "number"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "coupon_code": {
                      "type": "string"
                    },
                    "discount_total": {
                      "type": "number"
                    },
                    "tax_total": {
                      "type": "number"
                    },
                    "shipment_total": {
                      "type": "number"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getOrders",
        "summary": "Retrieve a order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return specific fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "draft",
                        "payment_pending",
                        "delivery_pending",
                        "hold",
                        "complete",
                        "canceled"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sub_total": {
                      "type": "number"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "coupon_code": {
                      "type": "string"
                    },
                    "discount_total": {
                      "type": "number"
                    },
                    "tax_total": {
                      "type": "number"
                    },
                    "shipment_total": {
                      "type": "number"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateOrders",
        "summary": "Update a order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "draft",
                      "payment_pending",
                      "delivery_pending",
                      "hold",
                      "complete",
                      "canceled"
                    ]
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "sub_total": {
                    "type": "number"
                  },
                  "grand_total": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "billing": {
                    "type": "object"
                  },
                  "shipping": {
                    "type": "object"
                  },
                  "coupon_code": {
                    "type": "string"
                  },
                  "discount_total": {
                    "type": "number"
                  },
                  "tax_total": {
                    "type": "number"
                  },
                  "shipment_total": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "draft",
                        "payment_pending",
                        "delivery_pending",
                        "hold",
                        "complete",
                        "canceled"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sub_total": {
                      "type": "number"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "coupon_code": {
                      "type": "string"
                    },
                    "discount_total": {
                      "type": "number"
                    },
                    "tax_total": {
                      "type": "number"
                    },
                    "shipment_total": {
                      "type": "number"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrders",
        "summary": "Delete a order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List all accounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria object"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort expression e.g. 'name asc'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            },
            "description": "Max results (1-1000)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific fields to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text search query"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Include related queries"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAccounts",
        "summary": "Create a account",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "business"
                    ]
                  },
                  "group": {
                    "type": "string"
                  },
                  "shipping": {
                    "type": "object"
                  },
                  "billing": {
                    "type": "object"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "order_count": {
                    "type": "integer"
                  },
                  "order_value": {
                    "type": "number"
                  },
                  "balance": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "individual",
                        "business"
                      ]
                    },
                    "group": {
                      "type": "string"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "order_count": {
                      "type": "integer"
                    },
                    "order_value": {
                      "type": "number"
                    },
                    "balance": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "operationId": "getAccounts",
        "summary": "Retrieve a account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return specific fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "individual",
                        "business"
                      ]
                    },
                    "group": {
                      "type": "string"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "order_count": {
                      "type": "integer"
                    },
                    "order_value": {
                      "type": "number"
                    },
                    "balance": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAccounts",
        "summary": "Update a account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "business"
                    ]
                  },
                  "group": {
                    "type": "string"
                  },
                  "shipping": {
                    "type": "object"
                  },
                  "billing": {
                    "type": "object"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "order_count": {
                    "type": "integer"
                  },
                  "order_value": {
                    "type": "number"
                  },
                  "balance": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "individual",
                        "business"
                      ]
                    },
                    "group": {
                      "type": "string"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "order_count": {
                      "type": "integer"
                    },
                    "order_value": {
                      "type": "number"
                    },
                    "balance": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAccounts",
        "summary": "Delete a account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List all subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria object"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort expression e.g. 'name asc'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            },
            "description": "Max results (1-1000)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific fields to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text search query"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Include related queries"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSubscriptions",
        "summary": "Create a subscription",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "plan_id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "trial",
                      "pastdue",
                      "unpaid",
                      "canceled",
                      "paused",
                      "complete",
                      "pending"
                    ]
                  },
                  "interval": {
                    "type": "string",
                    "enum": [
                      "monthly",
                      "daily",
                      "weekly",
                      "yearly"
                    ]
                  },
                  "interval_count": {
                    "type": "integer"
                  },
                  "trial_days": {
                    "type": "integer"
                  },
                  "date_trial_end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_period_start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_period_end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "billing_schedule": {
                    "type": "object"
                  },
                  "grand_total": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "plan_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "trial",
                        "pastdue",
                        "unpaid",
                        "canceled",
                        "paused",
                        "complete",
                        "pending"
                      ]
                    },
                    "interval": {
                      "type": "string",
                      "enum": [
                        "monthly",
                        "daily",
                        "weekly",
                        "yearly"
                      ]
                    },
                    "interval_count": {
                      "type": "integer"
                    },
                    "trial_days": {
                      "type": "integer"
                    },
                    "date_trial_end": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_period_start": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_period_end": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "billing_schedule": {
                      "type": "object"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "operationId": "getSubscriptions",
        "summary": "Retrieve a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return specific fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "plan_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "trial",
                        "pastdue",
                        "unpaid",
                        "canceled",
                        "paused",
                        "complete",
                        "pending"
                      ]
                    },
                    "interval": {
                      "type": "string",
                      "enum": [
                        "monthly",
                        "daily",
                        "weekly",
                        "yearly"
                      ]
                    },
                    "interval_count": {
                      "type": "integer"
                    },
                    "trial_days": {
                      "type": "integer"
                    },
                    "date_trial_end": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_period_start": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_period_end": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "billing_schedule": {
                      "type": "object"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateSubscriptions",
        "summary": "Update a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "plan_id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "trial",
                      "pastdue",
                      "unpaid",
                      "canceled",
                      "paused",
                      "complete",
                      "pending"
                    ]
                  },
                  "interval": {
                    "type": "string",
                    "enum": [
                      "monthly",
                      "daily",
                      "weekly",
                      "yearly"
                    ]
                  },
                  "interval_count": {
                    "type": "integer"
                  },
                  "trial_days": {
                    "type": "integer"
                  },
                  "date_trial_end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_period_start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_period_end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "billing_schedule": {
                    "type": "object"
                  },
                  "grand_total": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "plan_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "trial",
                        "pastdue",
                        "unpaid",
                        "canceled",
                        "paused",
                        "complete",
                        "pending"
                      ]
                    },
                    "interval": {
                      "type": "string",
                      "enum": [
                        "monthly",
                        "daily",
                        "weekly",
                        "yearly"
                      ]
                    },
                    "interval_count": {
                      "type": "integer"
                    },
                    "trial_days": {
                      "type": "integer"
                    },
                    "date_trial_end": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_period_start": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_period_end": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "billing_schedule": {
                      "type": "object"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSubscriptions",
        "summary": "Delete a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List all categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria object"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort expression e.g. 'name asc'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            },
            "description": "Max results (1-1000)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific fields to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text search query"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Include related queries"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCategories",
        "summary": "Create a categorie",
        "tags": [
          "Categories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "string"
                  },
                  "sorting": {
                    "type": "string"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "meta_title": {
                    "type": "string"
                  },
                  "meta_description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": "string"
                    },
                    "sorting": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta_title": {
                      "type": "string"
                    },
                    "meta_description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "operationId": "getCategories",
        "summary": "Retrieve a categorie",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return specific fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": "string"
                    },
                    "sorting": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta_title": {
                      "type": "string"
                    },
                    "meta_description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCategories",
        "summary": "Update a categorie",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "string"
                  },
                  "sorting": {
                    "type": "string"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "meta_title": {
                    "type": "string"
                  },
                  "meta_description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": "string"
                    },
                    "sorting": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta_title": {
                      "type": "string"
                    },
                    "meta_description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCategories",
        "summary": "Delete a categorie",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/carts": {
      "get": {
        "operationId": "listCarts",
        "summary": "List all carts",
        "tags": [
          "Carts"
        ],
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria object"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort expression e.g. 'name asc'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            },
            "description": "Max results (1-1000)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific fields to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Text search query"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Include related queries"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCarts",
        "summary": "Create a cart",
        "tags": [
          "Carts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "sub_total": {
                    "type": "number"
                  },
                  "grand_total": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "coupon_code": {
                    "type": "string"
                  },
                  "shipping": {
                    "type": "object"
                  },
                  "billing": {
                    "type": "object"
                  },
                  "discount_total": {
                    "type": "number"
                  },
                  "tax_total": {
                    "type": "number"
                  },
                  "shipment_total": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sub_total": {
                      "type": "number"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "coupon_code": {
                      "type": "string"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "discount_total": {
                      "type": "number"
                    },
                    "tax_total": {
                      "type": "number"
                    },
                    "shipment_total": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/carts/{id}": {
      "get": {
        "operationId": "getCarts",
        "summary": "Retrieve a cart",
        "tags": [
          "Carts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expand linked fields"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return specific fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sub_total": {
                      "type": "number"
                    },
                    "grand_total": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "coupon_code": {
                      "type": "string"
                    },
                    "shipping": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "discount_total": {
                      "type": "number"
                    },
[...]
