{
  "openapi": "3.0.3",
  "info": {
    "title": "awork API",
    "version": "1.3.0",
    "description": "This is the API documentation for awork.",
    "termsOfService": "https://www.awork.com/legal-and-privacy/privacy-policy-awork-app",
    "contact": {
      "name": "awork Support",
      "url": "https://support.awork.com",
      "email": "support@awork.com"
    },
    "x-jentic-source-url": "https://developers.awork.com/"
  },
  "servers": [
    {
      "url": "https://api.awork.com/api/v1",
      "description": "awork Production"
    }
  ],
  "paths": {
    "/absenceregions": {
      "get": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "Gets all absence regions.",
        "description": "<Check title=\"Required Permissions\" icon=\"key\">The user must be admin or have `user-planning-data:write` permissions to see the users assigned to the absence regions.</Check>",
        "operationId": "GetAbsenceRegions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceRegionModel"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      },
      "post": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "Creates a new absence region.",
        "description": "An absence region is defined by an ISO 3166-1 alpha-2 country code and a location code.\r\n            There can be multiple absence regions for a country, but only one absence region for a country and location (no duplicates).\r\n\r\n<Note title=\"Subscription Level\" icon=\"layer-group\">This endpoint requires the `Standard` plan or higher.</Note>\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `user-planning-data:write` permissions.</Check>",
        "operationId": "PostAbsenceRegion",
        "requestBody": {
          "description": "The model to create the absence region.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbsenceRegionForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsenceRegionModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "user-planning-data": "write"
        },
        "x-subscriptionlevel": {
          "minimumPlan": "standard"
        }
      }
    },
    "/absenceregions/countries": {
      "get": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "List of supported countries for absence regions.",
        "description": "Returns a list of supported countries for absence regions.\r\n            A country is defined by an ISO 3166-1 alpha-2 country code.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">Any authenticated user.</Check>",
        "operationId": "GetAbsenceRegionsCountries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceRegionCountry"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/absenceregions/countries/{countryCode}/locations": {
      "get": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "List of locations for a country.",
        "description": "Returns a list of all the locations of a country, expressed as ISO 3166-2 codes.\r\n            It will include the regions and subregions (sublocations) of the country if available.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">Any authenticated user.</Check>",
        "operationId": "GetAbsenceRegionsCountryLocationsByCountryCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "The country code.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceRegionLocation"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/absenceregions/me/assign": {
      "put": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "Assign/remove current user to/from an absence region.",
        "description": "Assigns or removes the current user to/from an absence region.\r\n            A user can be assigned to only one absence region.\r\n            If a user is already assigned to an absence region, they will be removed from the previous one and assigned to the new one.\r\n            Providing a null region id will remove the user from any absence region.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `user-planning-data:write` permissions.</Check>",
        "operationId": "PutMeAbsenceRegionsAssign",
        "requestBody": {
          "description": "The model to assign or unassign the current user to/from an absence region.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignUserToAbsenceRegionForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "user-planning-data": "write"
        }
      }
    },
    "/absenceregions/users/assign": {
      "put": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "Assigns or unassigns users to/from an absence region.",
        "description": "A user can be assigned to only one absence region.\r\n            If a user is already assigned to an absence region, they will be removed from the previous one and assigned to the new one.\r\n            Providing an empty list of user ids will remove all users from the absence region.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `user-planning-data:write` permissions.</Check>",
        "operationId": "PutAbsenceRegionsUsersAssign",
        "requestBody": {
          "description": "The model to assign or unassign users to/from an absence region.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignUsersToAbsenceRegionForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "user-planning-data": "write"
        }
      }
    },
    "/absenceregions/{absenceRegionId}": {
      "delete": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "Deletes an absence region.",
        "description": "Deletes an absence region by id, unassigning all users from the absence region.\r\n            If there are workspace absences related to the region, they will be deleted as well.\r\n            If the absence region is the default absence region, it will simply be deleted (no default absence region).\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `user-planning-data:write` permissions.</Check>",
        "operationId": "DeleteAbsenceRegionById",
        "parameters": [
          {
            "name": "absenceRegionId",
            "in": "path",
            "description": "The id of the absence region to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "user-planning-data": "write"
        }
      },
      "get": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "Get an absence region by id.",
        "description": "The absence region will include the details of the public holidays for the country and location.\r\n            <Check title=\"Required Permissions\" icon=\"key\">The user must be admin or have `user-planning-data:write` permissions to see the users assigned to the absence region.</Check>",
        "operationId": "GetAbsenceRegionById",
        "parameters": [
          {
            "name": "absenceRegionId",
            "in": "path",
            "description": "The id of the absence region.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsenceRegionModelWithHolidayDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      },
      "put": {
        "tags": [
          "AbsenceRegions"
        ],
        "summary": "Updates an absence region.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `user-planning-data:write` permissions.</Check>",
        "operationId": "PutAbsenceRegionById",
        "parameters": [
          {
            "name": "absenceRegionId",
            "in": "path",
            "description": "The id of the absence region to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model to update the absence region.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbsenceRegionForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsenceRegionModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "user-planning-data": "write"
        }
      }
    },
    "/absences": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Returns all absences.",
        "description": "Admin or user planning data permissions are required,\r\n            otherwise only the absences of the current user are returned.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">Any authenticated user.</Check>",
        "operationId": "GetAbsences",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/filterby"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Absence"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      },
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Creates an absence.",
        "description": "The startOn and endOn get rounded to 00:00:00, 12:00:00, or 23:59:59 in UTC.\r\n             These values can be used to set a half-day (pre or post mid-day) absence, or absences that start or end at mid-day.\r\n             The end date needs to be the same or after the start date.\r\n            \r\n             <Check title=\"Required Permissions\" icon=\"key\">User planning data permissions are required if the calling user is not the owner of the absence or admin.</Check>\r\n\r\n<Note title=\"Subscription Level\" icon=\"layer-group\">This endpoint requires the `Standard` plan or higher.</Note>",
        "operationId": "PostAbsence",
        "requestBody": {
          "description": "The model to create the absence.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbsenceForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Absence"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        },
        "x-subscriptionlevel": {
          "minimumPlan": "standard"
        }
      }
    },
    "/absences/{absenceId}": {
      "delete": {
        "tags": [
          "Absences"
        ],
        "summary": "Deletes the absence with the specified id.",
        "description": "<Check title=\"Required Permissions\" icon=\"key\">User planning data permissions are required if the calling user is not the owner of the absence or admin.</Check>",
        "operationId": "DeleteAbsenceById",
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "The id of the absence to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      },
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Returns the absence with the specified id.",
        "description": "<Check title=\"Required Permissions\" icon=\"key\">User planning data permissions are required if the calling user\r\n            is not the owner of the absence or admin.</Check>",
        "operationId": "GetAbsenceById",
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "The id of the absence.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Absence"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      },
      "put": {
        "tags": [
          "Absences"
        ],
        "summary": "Updates the absence with the specified id.",
        "description": "The startOn and endOn get rounded to 00:00:00, 12:00:00, or 23:59:59 in UTC.\r\n             These values can be used to set a half-day (pre or post mid-day) absence, or absences that start or end at mid-day.\r\n             The end date needs to be the same or after the start date.\r\n            \r\n             <Check title=\"Required Permissions\" icon=\"key\">User planning data permissions are required if the calling user is not the owner of the absence or admin.</Check>",
        "operationId": "PutAbsenceById",
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "The id of the absence to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model to update the absence.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbsenceForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Absence"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/accounts/{accountId}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Updates the account with the specified id.",
        "description": "Updates the account with the specified id.\nDoes not update the external account of the user.\nUse the 'accounts/connectToSocialAccount' or 'accounts/disconnectToSocialAccount' endpoints instead.\nIf the email of the account is changed, the email will not be changed immediately but a verification email will be sent to the new email address.\nThe email will only be changed after the user has verified the new email address.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">Any authenticated user.</Check>",
        "operationId": "PutAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The id of the account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model to update the account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/apiusers": {
      "get": {
        "tags": [
          "ApiUsers"
        ],
        "summary": "Returns all API users.",
        "description": "Returns all API users.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:read` permissions.</Check>",
        "operationId": "GetApiUsers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiUser"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "read"
        }
      },
      "post": {
        "tags": [
          "ApiUsers"
        ],
        "summary": "Creates an API user.",
        "description": "Beware: API users will also be returned in the /users response when including\r\n            archived users.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:write` permissions.</Check>",
        "operationId": "PostApiUser",
        "requestBody": {
          "description": "The model to create the API user.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUserPostForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "write"
        }
      }
    },
    "/apiusers/{apiUserId}": {
      "delete": {
        "tags": [
          "ApiUsers"
        ],
        "summary": "Deletes the API user with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:write` permissions.</Check>",
        "operationId": "DeleteApiUserById",
        "parameters": [
          {
            "name": "apiUserId",
            "in": "path",
            "description": "The id of the API user to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "write"
        }
      },
      "get": {
        "tags": [
          "ApiUsers"
        ],
        "summary": "Returns the API user with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:read` permissions.</Check>",
        "operationId": "GetApiUserById",
        "parameters": [
          {
            "name": "apiUserId",
            "in": "path",
            "description": "The id of the API user.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUser"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "read"
        }
      },
      "put": {
        "tags": [
          "ApiUsers"
        ],
        "summary": "Updates the API user with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:write` permissions.</Check>",
        "operationId": "PutApiUserById",
        "parameters": [
          {
            "name": "apiUserId",
            "in": "path",
            "description": "The id of the API user to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model to update the API user.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiUserForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "write"
        }
      }
    },
    "/autopilot/availablealerts": {
      "get": {
        "tags": [
          "Autopilot"
        ],
        "summary": "Returns all available alerts for autopilots.",
        "description": "Returns all available alerts for autopilots.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">Any authenticated user.</Check>",
        "operationId": "GetAvailableAlerts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": [
                  "behind_schedule",
                  "overdue"
                ]
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/autopilot/{autopilotId}": {
      "get": {
        "tags": [
          "Autopilot"
        ],
        "summary": "Returns the autopilot with the specified id.",
        "description": "Returns the autopilot including its alerts.\nTo get the autopilot data the user needs to be the owner of the project or 'read' permissions\nof the feature 'project-master-data' globally or in his project role.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">Any authenticated user.</Check>",
        "operationId": "GetById",
        "parameters": [
          {
            "name": "autopilotId",
            "in": "path",
            "description": "The id of the autopilot.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Autopilot"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/clientapplications": {
      "get": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Returns all client applications.",
        "description": "Returns all client applications.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:read` permissions.</Check>",
        "operationId": "GetClientApplications",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientApplication"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "read"
        }
      },
      "post": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Registers a new client application.",
        "description": "Registers a new client application.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:write` permissions.</Check>",
        "operationId": "PostClientApplication",
        "requestBody": {
          "description": "The client application model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientApplicationCreateForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApplicationCreateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "write"
        }
      }
    },
    "/clientapplications/register": {
      "post": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Dynamically registers a new OAuth 2.0 client according to RFC 7591.",
        "description": "This endpoint implements the OAuth 2.0 Dynamic Client Registration Protocol.\nIt allows clients to register themselves with the authorization server dynamically.",
        "operationId": "RegisterClientApplication",
        "requestBody": {
          "description": "The dynamic client registration request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicClientRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicClientRegistrationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ]
      }
    },
    "/clientapplications/{clientId}": {
      "delete": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Deletes the specified client application.",
        "description": "Deletes the specified client application.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:write` permissions.</Check>",
        "operationId": "DeleteClientApplication",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client application.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "googlesheet"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "write"
        }
      },
      "get": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Returns the client application with the specified id.",
        "description": "Returns the client application with the specified id.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:read` permissions.</Check>",
        "operationId": "GetClientApplication",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client application.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "googlesheet"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApplication"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "read"
        }
      },
      "put": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Updates the client application with the specified id.",
        "description": "Updates the client application with the specified id.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:write` permissions.</Check>",
        "operationId": "PutClientApplication",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client application.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "integration"
          }
        ],
        "requestBody": {
          "description": "The client application model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientApplicationUpdateForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApplication"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "write"
        }
      }
    },
    "/clientapplications/{clientId}/generateapikey": {
      "post": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Generates an API key for the specified client application.",
        "description": "Generates an API key for the specified client application.\nRequires an API user.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:read` permissions.</Check>",
        "operationId": "GenerateApiKey",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client application.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "googlesheet"
          }
        ],
        "requestBody": {
          "description": "The model to generate an API key.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientApplicationApiKeyForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ClientApplicationApiKeyForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "read"
        }
      }
    },
    "/clientapplications/{clientId}/generatesecret": {
      "post": {
        "tags": [
          "ClientApplications"
        ],
        "summary": "Generates a new secret for the specified client application.",
        "description": "Generates a new secret for the specified client application.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `workspace-manage-config:write` permissions.</Check>",
        "operationId": "GenerateClientApplicationSecret",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client application.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "googlesheet"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApplicationGeneratePasswordResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "workspace-manage-config": "write"
        }
      }
    },
    "/comments/{commentId}/externalfiles": {
      "post": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Endpoint to batch create external files without uploading.",
        "description": "Endpoint to create file infos with batch operation.\nCreated file infos don't have a version.",
        "operationId": "CreateExternalFiles",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "List of file forms.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExternalFileForm"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExternalFileForm"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files": {
      "delete": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Deletes the files of the specified comment.",
        "description": "Deletes the metadata and the different versions of the files.",
        "operationId": "DeleteCommentFiles",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns all files of the comment with the specified id.",
        "description": "Returns all file metadata of the comment with the specified id.",
        "operationId": "GetCommentFiles",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/filterby"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Creates a new comment file for the comment with the specified id..",
        "description": "Uploads a new comment file for the comment with the specified id.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.",
        "operationId": "CreateCommentFile",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/comments/{commentId}/files/byurl": {
      "post": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Uploads a new file by providing an url.",
        "description": "The file needs to be a public available url.\nThe file size must not exceed 100MB.",
        "operationId": "CreateCommentFileByUrl",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment the file is linked to.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The url, name and description of the file.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilePostForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FilePostForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}": {
      "delete": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Deletes the comment file with the specified id.",
        "description": "Deletes the metadata and the different versions of the file.",
        "operationId": "DeleteCommentFile",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns the file with the specified id of the comment with the specified id.",
        "description": "Returns the file metadata of the comment with the specified id.",
        "operationId": "GetCommentFile",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Updates the metadata of the comment file with the specified id.",
        "description": "Updates the metadata of the comment file with the specified id.",
        "operationId": "UpdateCommentFile",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model to update the file with the specified id.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileInfoUpdateForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FileInfoUpdateForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/changeentity": {
      "post": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Changes the comment this file belongs to.",
        "description": "Changes the comment this file belongs to.\nSwitch to the specified comment or to a global file\nif the 'EntityId' of the model is set to null.",
        "operationId": "ChangeComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model to change the entity information of the file.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileEntityForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FileEntityForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/copy": {
      "post": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Copies the file to a new comment.",
        "description": "Copies the file to a new comment (meta and content).",
        "operationId": "CopyToComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model to change the entity information of the file.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileCopyForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FileCopyForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/download": {
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns the content of the comment file with the specified id.",
        "description": "Returns the content of the comment file. Uses the latest file version.\nIf the comment file is an image and the width and height are set,\nthe image will be resized before it is returned.",
        "operationId": "GetCommentFileContent",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Set width to resize.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Set height to resize.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "crop",
            "in": "query",
            "description": "Whether to crop the image when resizing it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/pdf": {
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns the content of the file with the specified id as pdf.\ntype or conversion not possible.",
        "description": "Returns the content of the comment file. Uses the latest file version.",
        "operationId": "GetCommentFileContent_get_comments_commentId_files_fileId_pdf",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "inline",
            "in": "query",
            "description": "If inline is false, content-disposition header is attachment.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/shareurl": {
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns an url to share the file.",
        "description": "Returns a url to share the file.",
        "operationId": "GetPublicToken",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/versions": {
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns all file versions of the specified comment file.",
        "description": "Returns all file versions of the specified comment file.",
        "operationId": "GetCommentFileVersions",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/filterby"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileVersion"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Uploads a new version of the comment file with the specified id.",
        "description": "Uploads a new version of an comment file.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.",
        "operationId": "CreateCommentFileVersion",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/versions/{versionId}": {
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns the comment file version with the specified id.",
        "description": "Returns the comment file version with the specified id.",
        "operationId": "GetCommentFileVersion",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The id of the file version.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersion"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{commentId}/files/{fileId}/versions/{versionId}/download": {
      "get": {
        "tags": [
          "CommentFiles"
        ],
        "summary": "Returns the content of the comment file version with the specified id.",
        "description": "Returns the content of the comment file version with the specified id.",
        "operationId": "GetCommentFileVersionContent",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The id of the comment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the file.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "The id of the file version.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Returns all companies.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:read` permissions.</Check>",
        "operationId": "GetCompanies",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/filterby"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "read"
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Creates a new company.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:write` permissions.</Check>",
        "operationId": "PostCompany",
        "requestBody": {
          "description": "The company to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "write"
        }
      }
    },
    "/companies/deletetags": {
      "post": {
        "tags": [
          "CompanyTags"
        ],
        "summary": "Removes a tag from all companies.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:write` permissions.</Check>",
        "operationId": "PostCompaniesDeleteTags",
        "requestBody": {
          "description": "The model with the tag to be removed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTagForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "write"
        }
      }
    },
    "/companies/industries": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Returns all company industries that are currently in use.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:read` permissions.</Check>",
        "operationId": "GetCompaniesIndustries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "read"
        }
      }
    },
    "/companies/tags": {
      "get": {
        "tags": [
          "CompanyTags"
        ],
        "summary": "Returns all tags that are currently in use by companies.",
        "description": "Returns all tags that are currently in use by companies ordered by count.\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">Any authenticated user.</Check>",
        "operationId": "GetCompanyTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseTagModel"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/companies/tags/batch/{operation}": {
      "post": {
        "tags": [
          "SharedTags"
        ],
        "summary": "Applies a batch tag operation to all entities of the specified type in the workspace.",
        "description": "Applies a batch tag operation to all entities of the specified type in the workspace.",
        "operationId": "PostTagsBatchByCompanyNameAndOperation",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagBatchOperationForm"
              }
            }
          }
        },
        "responses": {
          "207": {
            "description": "Multi-Status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagBatchMultiStatusResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/updatetags": {
      "post": {
        "tags": [
          "CompanyTags"
        ],
        "summary": "Updates a tag globally for all companies.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:write` permissions.</Check>",
        "operationId": "PostCompaniesUpdateTags",
        "requestBody": {
          "description": "The model containing the tag updates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagUpdateForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "write"
        }
      }
    },
    "/companies/{companyId}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Returns the company with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:read` permissions.</Check>",
        "operationId": "GetCompanyById",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "read"
        }
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "summary": "Updates the company with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:write` permissions.</Check>",
        "operationId": "PutCompanyById",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model with updated company data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "write"
        }
      }
    },
    "/companies/{companyId}/addtags": {
      "post": {
        "tags": [
          "CompanyTags"
        ],
        "summary": "Adds a batch of new tags to the company with the specified id.",
        "description": "The request fails if one of the tags is invalid (e.g. empty or duplicate).\r\n            <Check title=\"Required Permissions\" icon=\"key\">To add tags to a company the user must have `company-master-data:write` permissions on the specified company.</Check>",
        "operationId": "PostCompanyAddTagsByCompanyId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company to add tags to.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The model containing the tags to be added.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TagForm"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseTagModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "any": "true"
        }
      }
    },
    "/companies/{companyId}/contactinfo": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Returns the contact infos of the company with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:read` permissions.</Check>",
        "operationId": "GetCompanyContactInfoByCompanyId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/filterby"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactInfoForCompanies"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "read"
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Creates a new contact info for the company with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:write` permissions.</Check>",
        "operationId": "PostCompanyContactInfoByCompanyId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The contact info to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInfoForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactInfoForCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "write"
        }
      }
    },
    "/companies/{companyId}/contactinfo/{contactInfoId}": {
      "delete": {
        "tags": [
          "Companies"
        ],
        "summary": "Deletes the contact info of the company with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:write` permissions.</Check>",
        "operationId": "DeleteCompanyContactInfoByCompanyIdAndContactInfoId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contactInfoId",
            "in": "path",
            "description": "The id of the contact info.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "write"
        }
      },
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Returns the specified contact info of the company with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:read` permissions.</Check>",
        "operationId": "GetCompanyContactInfoByCompanyIdAndContactInfoId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contactInfoId",
            "in": "path",
            "description": "The id of the contact info.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/orderby"
          },
          {
            "$ref": "#/components/parameters/filterby"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactInfoForCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "read"
        }
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "summary": "Updates the contact info for the company with the specified id.",
        "description": "\r\n\r\n<Check title=\"Required Permissions\" icon=\"key\">The user must be an admin or have `company-master-data:write` permissions.</Check>",
        "operationId": "PutCompanyContactInfoByCompanyIdAndContactInfoId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The id of the company.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contactInfoId",
            "in": "path",
            "description": "The id of the contact info.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The updated contact info data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInfoForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactInfoForCompanies"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "full_access"
            ]
          }
        ],
        "x-api-versions": [
          "v1"
        ],
        "x-access": {
          "admin": "true",
          "company-master-data": "write"
        }
      }
    },
    "/companies/{companyId}/delete": {
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Deletes the company with the specified id.",
[...]
