{
  "openapi": "3.0.3",
  "info": {
    "title": "Supportivekoala API",
    "version": "1.0.0",
    "description": "API for creating images from templates using Supportivekoala. Allows managing templates and generating images programmatically.",
    "x-jentic-source-url": "https://developers.supportivekoala.com/"
  },
  "servers": [
    {
      "url": "https://api.supportivekoala.com/v1"
    }
  ],
  "paths": {
    "/images": {
      "get": {
        "operationId": "listImages",
        "summary": "List all images",
        "tags": [
          "Images"
        ],
        "responses": {
          "200": {
            "description": "A list of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createImage",
        "summary": "Create an image from a template",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/images/{id}": {
      "get": {
        "operationId": "getImage",
        "summary": "Retrieve a specific image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "A list of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create a new template",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Retrieve a specific template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The template ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "updateTemplate",
        "summary": "Update a template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The template ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Image": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique image identifier"
          },
          "template": {
            "type": "string",
            "description": "Template ID used to create the image"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated image"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "CreateImageRequest": {
        "type": "object",
        "required": [
          "template"
        ],
        "properties": {
          "template": {
            "type": "string",
            "description": "Template ID to use for image generation"
          },
          "params": {
            "type": "object",
            "description": "Template parameters for image customization",
            "additionalProperties": true
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique template identifier"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "params": {
            "type": "object",
            "description": "Template generation parameters",
            "additionalProperties": true
          },
          "width": {
            "type": "integer",
            "description": "Template width in pixels",
            "default": 1000
          },
          "height": {
            "type": "integer",
            "description": "Template height in pixels",
            "default": 1000
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "CreateTemplateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "params": {
            "type": "object",
            "description": "Generation parameters",
            "additionalProperties": true
          },
          "width": {
            "type": "integer",
            "description": "Template width in pixels",
            "default": 1000
          },
          "height": {
            "type": "integer",
            "description": "Template height in pixels",
            "default": 1000
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained through account registration"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}