{
  "openapi": "3.0.3",
  "info": {
    "title": "Bouncer API",
    "description": "Bouncer is an email verification and validation API. It provides real-time single email verification, batch email verification, and domain verification services to help maintain clean email lists and improve deliverability.",
    "version": "1.1.0",
    "contact": {
      "name": "Bouncer",
      "url": "https://usebouncer.com",
      "email": "support@usebouncer.com"
    },
    "x-jentic-source-url": "https://docs.usebouncer.com"
  },
  "servers": [
    {
      "url": "https://api.usebouncer.com",
      "description": "Bouncer API Server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1.1/email/verify": {
      "get": {
        "operationId": "verifySingleEmail",
        "summary": "Verify a single email address",
        "description": "Performs real-time synchronous verification of a single email address, returning detailed deliverability information.",
        "tags": [
          "Real-Time Verification"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address to verify",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Verification timeout in seconds",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailRecord"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/email/verify/batch": {
      "post": {
        "operationId": "createBatchVerification",
        "summary": "Create a batch email verification request",
        "description": "Submit a batch of email addresses for asynchronous verification.",
        "tags": [
          "Batch Verification"
        ],
        "parameters": [
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "Webhook URL for completion notifications",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "email"
                  ],
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch verification request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/email/verify/batch/{batchId}": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Get batch verification status",
        "description": "Poll the status of a batch verification request. Recommended polling interval is 10-30 seconds.",
        "tags": [
          "Batch Verification"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/email/verify/batch/{batchId}/download": {
      "get": {
        "operationId": "downloadBatchResults",
        "summary": "Download batch verification results",
        "description": "Download the results of a completed batch verification.",
        "tags": [
          "Batch Verification"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "description": "Set to 'all' to retrieve complete results",
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch verification results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailRecord"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/domain": {
      "get": {
        "operationId": "verifyDomain",
        "summary": "Verify a domain",
        "description": "Verify a domain to check its mail server configuration, disposability, and other properties.",
        "tags": [
          "Domain Verification"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain name to verify",
            "schema": {
              "type": "string"
            },
            "example": "usebouncer.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainVerificationResult"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/credits": {
      "get": {
        "operationId": "getCredits",
        "summary": "Check available credits",
        "description": "Retrieve the user's remaining credit balance.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Credits balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "integer",
                      "description": "Number of remaining credits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "EmailRecord": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string",
            "enum": [
              "deliverable",
              "risky",
              "undeliverable",
              "unknown"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "accepted_email",
              "low_deliverability",
              "low_quality",
              "invalid_email",
              "invalid_domain",
              "rejected_email",
              "dns_error",
              "unavailable_smtp",
              "unsupported",
              "timeout",
              "unknown"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "acceptAll": {
                "type": "string",
                "enum": [
                  "yes",
                  "no"
                ]
              },
              "disposable": {
                "type": "string",
                "enum": [
                  "yes",
                  "no"
                ]
              },
              "free": {
                "type": "string",
                "enum": [
                  "yes",
                  "no"
                ]
              }
            }
          },
          "account": {
            "type": "object",
            "properties": {
              "role": {
                "type": "boolean"
              },
              "disabled": {
                "type": "boolean"
              },
              "fullMailbox": {
                "type": "boolean"
              }
            }
          },
          "dns": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "record": {
                "type": "string"
              }
            }
          },
          "provider": {
            "type": "string"
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "toxic": {
            "type": "string"
          },
          "toxicity": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5
          },
          "retryAfter": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "batchId": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed"
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "duplicates": {
            "type": "integer"
          }
        }
      },
      "DomainVerificationResult": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "acceptAll": {
                "type": "string",
                "enum": [
                  "yes",
                  "no"
                ]
              },
              "disposable": {
                "type": "string",
                "enum": [
                  "yes",
                  "no"
                ]
              },
              "free": {
                "type": "string",
                "enum": [
                  "yes",
                  "no"
                ]
              }
            }
          },
          "dns": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "record": {
                "type": "string"
              }
            }
          },
          "provider": {
            "type": "string"
          },
          "toxic": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "unknown"
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}