{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Workload Manager API",
    "version": "v1",
    "x-jentic-source-url": "https://workloadmanager.googleapis.com/$discovery/rest?version=v1"
  },
  "servers": [
    {
      "url": "https://workloadmanager.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/{+location}/insights:writeInsight": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WriteInsightResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Write the data insights to workload manager data warehouse.",
        "operationId": "workloadmanager.projects.locations.insights.writeInsight",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteInsightRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "name": "requestId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "name": "requestId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Delete the data insights from workload manager data warehouse.",
        "operationId": "workloadmanager.projects.locations.insights.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Required. The resource name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadProfileHealth"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Get the health of a discovered workload profile.",
        "operationId": "workloadmanager.projects.locations.discoveredprofiles.healthes.get"
      }
    },
    "/v1/{+name}/executions:run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. The resource name of the Execution using the form: 'projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}'",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Creates a new Execution in a given project and location.",
        "operationId": "workloadmanager.projects.locations.evaluations.executions.run",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunEvaluationRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}/locations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The resource that owns the locations collection, if applicable.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of results to return. If not set, the service selects a default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists information about the supported locations for this service.",
        "operationId": "workloadmanager.projects.locations.list"
      }
    },
    "/v1/{+name}/operations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The name of the operation's parent resource.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The standard list filter.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The standard list page size.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The standard list page token.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "workloadmanager.projects.locations.operations.list"
      }
    },
    "/v1/{+name}:cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The name of the operation resource to be cancelled.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
        "operationId": "workloadmanager.projects.locations.operations.cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+parent}/discoveredprofiles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Parent value for ListDiscoveredProfilesRequest",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Filtering results",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListDiscoveredProfilesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "List discovered workload profiles",
        "operationId": "workloadmanager.projects.locations.discoveredprofiles.list"
      }
    },
    "/v1/{+parent}/evaluations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Parent value for ListEvaluationsRequest",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter to be applied when listing the evaluation results.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Hint for how to order the results",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A token identifying a page of results the server should return.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListEvaluationsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists Evaluations in a given project and location.",
        "operationId": "workloadmanager.projects.locations.evaluations.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Id of the requesting object",
            "in": "query",
            "name": "evaluationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "name": "requestId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Creates a new Evaluation in a given project and location.",
        "operationId": "workloadmanager.projects.locations.evaluations.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Evaluation"
              }
            }
          }
        }
      }
    },
    "/v1/{+parent}/executions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The resource prefix of the Execution using the form: 'projects/{project}/locations/{location}/evaluations/{evaluation}'",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filtering results",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A token identifying a page of results the server should return.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListExecutionsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists Executions in a given project and location.",
        "operationId": "workloadmanager.projects.locations.evaluations.executions.list"
      }
    },
    "/v1/{+parent}/results": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filtering results",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A token identifying a page of results the server should return.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListExecutionResultsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists the result of a single evaluation.",
        "operationId": "workloadmanager.projects.locations.evaluations.executions.results.list"
      }
    },
    "/v1/{+parent}/rules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Cloud Storage bucket name for custom rules.",
            "in": "query",
            "name": "customRulesBucket",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
            "in": "query",
            "name": "evaluationType",
            "schema": {
              "enum": [
                "EVALUATION_TYPE_UNSPECIFIED",
                "SAP",
                "SQL_SERVER",
                "OTHER",
                "SCC_IAC"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter based on primary_category, secondary_category",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A token identifying a page of results the server should return.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListRulesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists rules in a given project.",
        "operationId": "workloadmanager.projects.locations.rules.list"
      }
    },
    "/v1/{+parent}/scannedResources": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. parent for ListScannedResourcesRequest",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filtering results",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A token identifying a page of results the server should return.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "rule name",
            "in": "query",
            "name": "rule",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListScannedResourcesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "List all scanned resources for a single Execution.",
        "operationId": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list"
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "APILayerServer": {
        "description": "The API layer server",
        "properties": {
          "name": {
            "description": "Output only. The api layer name",
            "readOnly": true,
            "type": "string"
          },
          "osVersion": {
            "description": "Output only. OS information",
            "readOnly": true,
            "type": "string"
          },
          "resources": {
            "description": "Output only. resources in the component",
            "items": {
              "$ref": "#/components/schemas/CloudResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "AgentCommand": {
        "description": "* An AgentCommand specifies a one-time executable program for the agent to run.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "parameters is a map of key/value pairs that can be used to specify additional one-time executable settings.",
            "type": "object"
          },
          "command": {
            "description": "command is the name of the agent one-time executable that will be invoked.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailabilityGroup": {
        "description": "The availability groups for sqlserver",
        "properties": {
          "databases": {
            "description": "Output only. The databases",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          },
          "name": {
            "description": "Output only. The availability group name",
            "readOnly": true,
            "type": "string"
          },
          "primaryServer": {
            "description": "Output only. The primary server",
            "readOnly": true,
            "type": "string"
          },
          "secondaryServers": {
            "description": "Output only. The secondary servers",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "BackendServer": {
        "description": "The backend server",
        "properties": {
          "backupFile": {
            "description": "Output only. The backup file",
            "readOnly": true,
            "type": "string"
          },
          "backupSchedule": {
            "description": "Output only. The backup schedule",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. The backend name",
            "readOnly": true,
            "type": "string"
          },
          "osVersion": {
            "description": "Output only. OS information",
            "readOnly": true,
            "type": "string"
          },
          "resources": {
            "description": "Output only. resources in the component",
            "items": {
              "$ref": "#/components/schemas/CloudResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "BackupProperties": {
        "description": "Backup properties.",
        "properties": {
          "latestBackupStatus": {
            "description": "Output only. The state of the latest backup.",
            "enum": [
              "BACKUP_STATE_UNSPECIFIED",
              "BACKUP_STATE_SUCCESS",
              "BACKUP_STATE_FAILURE"
            ],
            "readOnly": true,
            "type": "string"
          },
          "latestBackupTime": {
            "description": "The time when the latest backup was performed.",
            "format": "google-datetime",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BigQueryDestination": {
        "description": "Message describing big query destination",
        "properties": {
          "createNewResultsTable": {
            "description": "Optional. determine if results will be saved in a new table",
            "type": "boolean"
          },
          "destinationDataset": {
            "description": "Optional. destination dataset to save evaluation results",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CancelOperationRequest": {
        "description": "The request message for Operations.CancelOperation.",
        "properties": {},
        "type": "object"
      },
      "CloudResource": {
        "description": "The resource on GCP",
        "properties": {
          "instanceProperties": {
            "$ref": "#/components/schemas/InstanceProperties",
            "description": "Output only. All instance properties.",
            "readOnly": true
          },
          "kind": {
            "description": "Output only. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
            "enum": [
              "RESOURCE_KIND_UNSPECIFIED",
              "RESOURCE_KIND_INSTANCE",
              "RESOURCE_KIND_DISK",
              "RESOURCE_KIND_ADDRESS",
              "RESOURCE_KIND_FILESTORE",
              "RESOURCE_KIND_HEALTH_CHECK",
              "RESOURCE_KIND_FORWARDING_RULE",
              "RESOURCE_KIND_BACKEND_SERVICE",
              "RESOURCE_KIND_SUBNETWORK",
              "RESOURCE_KIND_NETWORK",
              "RESOURCE_KIND_PUBLIC_ADDRESS",
              "RESOURCE_KIND_INSTANCE_GROUP"
            ],
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. resource name",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Cluster": {
        "description": "The cluster for sqlserver",
        "properties": {
          "nodes": {
            "description": "Output only. The nodes",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          },
          "witnessServer": {
            "description": "Output only. The witness server",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Command": {
        "description": "* Command specifies the type of command to execute.",
        "properties": {
          "agentCommand": {
            "$ref": "#/components/schemas/AgentCommand",
            "description": "AgentCommand specifies a one-time executable program for the agent to run."
          },
          "shellCommand": {
            "$ref": "#/components/schemas/ShellCommand",
            "description": "ShellCommand is invoked via the agent's command line executor."
          }
        },
        "type": "object"
      },
      "ComponentHealth": {
        "description": "HealthCondition contains the detailed health check of each component.",
        "properties": {
          "component": {
            "description": "The component of a workload.",
            "type": "string"
          },
          "componentHealthChecks": {
            "description": "The detailed health checks of the component.",
            "items": {
              "$ref": "#/components/schemas/HealthCheck"
            },
            "type": "array"
          },
          "componentHealthType": {
            "description": "Output only. The type of the component health.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "TYPE_REQUIRED",
              "TYPE_OPTIONAL",
              "TYPE_SPECIAL"
            ],
            "readOnly": true,
            "type": "string"
          },
          "isRequired": {
            "description": "Output only. The requirement of the component.",
            "readOnly": true,
            "type": "boolean"
          },
          "state": {
            "description": "Output only. The health state of the component.",
            "enum": [
              "HEALTH_STATE_UNSPECIFIED",
              "HEALTHY",
              "UNHEALTHY",
              "CRITICAL",
              "UNSUPPORTED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "subComponentHealthes": {
            "description": "Sub component health.",
            "items": {
              "$ref": "#/components/schemas/ComponentHealth"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Database": {
        "description": "The database for sqlserver",
        "properties": {
          "backupFile": {
            "description": "Output only. The backup file",
            "readOnly": true,
            "type": "string"
          },
          "backupSchedule": {
            "description": "Output only. The backup schedule",
            "readOnly": true,
            "type": "string"
          },
          "hostVm": {
            "description": "Output only. The host VM",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. The database name",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DatabaseProperties": {
        "description": "Database Properties.",
        "properties": {
          "backupProperties": {
            "$ref": "#/components/schemas/BackupProperties",
            "description": "Output only. Backup properties.",
            "readOnly": true
          },
          "databaseType": {
            "description": "Output only. Type of the database. HANA, DB2, etc.",
            "enum": [
              "DATABASE_TYPE_UNSPECIFIED",
              "HANA",
              "MAX_DB",
              "DB2",
              "ORACLE",
              "SQLSERVER",
              "ASE"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "properties": {},
        "type": "object"
      },
      "Evaluation": {
        "description": "LINT.IfChange Message describing Evaluation object",
        "properties": {
          "bigQueryDestination": {
            "$ref": "#/components/schemas/BigQueryDestination",
            "description": "Optional. BigQuery destination"
          },
          "createTime": {
            "description": "Output only. [Output only] Create time stamp",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "customRulesBucket": {
            "description": "The Cloud Storage bucket name for custom rules.",
            "type": "string"
          },
          "description": {
            "description": "Description of the Evaluation",
            "type": "string"
          },
          "evaluationType": {
            "description": "Evaluation type",
            "enum": [
              "EVALUATION_TYPE_UNSPECIFIED",
              "SAP",
              "SQL_SERVER",
              "OTHER",
              "SCC_IAC"
            ],
            "type": "string"
          },
          "labels": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Labels as key value pairs",
            "type": "object"
          },
          "name": {
            "description": "name of resource names have the form 'projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}'",
            "type": "string"
          },
          "resourceFilter": {
            "$ref": "#/components/schemas/ResourceFilter",
            "description": "annotations as key value pairs"
          },
          "resourceStatus": {
            "$ref": "#/components/schemas/ResourceStatus",
            "description": "Output only. [Output only] The updated rule ids if exist.",
            "readOnly": true
          },
          "ruleNames": {
            "description": "the name of the rule",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "ruleVersions": {
            "description": "Output only. [Output only] The updated rule ids if exist.",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "type": "array"
          },
          "schedule": {
            "description": "crontab format schedule for scheduled evaluation, currently only support the following schedule: \"0 */1 * * *\", \"0 */6 * * *\", \"0 */12 * * *\", \"0 0 */1 * *\", \"0 0 */7 * *\",",
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. [Output only] Update time stamp",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Execution": {
        "description": "Message describing Execution object",
        "properties": {
          "endTime": {
            "description": "Output only. [Output only] End time stamp",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "evaluationId": {
            "description": "Output only. [Output only] Evaluation ID",
            "readOnly": true,
            "type": "string"
          },
          "externalDataSources": {
            "description": "Optional. External data sources",
            "items": {
              "$ref": "#/components/schemas/ExternalDataSources"
            },
            "type": "array"
          },
          "inventoryTime": {
            "description": "Output only. [Output only] Inventory time stamp",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "labels": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Labels as key value pairs",
            "type": "object"
          },
          "name": {
            "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}",
            "type": "string"
          },
          "notices": {
            "description": "Output only. Additional information generated by the execution",
            "items": {
              "$ref": "#/components/schemas/Notice"
            },
            "readOnly": true,
            "type": "array"
          },
          "resultSummary": {
            "$ref": "#/components/schemas/Summary",
            "description": "Output only. [Output only] Result summary for the execution",
            "readOnly": true
          },
          "ruleResults": {
            "description": "Output only. execution result summary per rule",
            "items": {
              "$ref": "#/components/schemas/RuleExecutionResult"
            },
            "readOnly": true,
            "type": "array"
          },
          "runType": {
            "description": "type represent whether the execution executed directly by user or scheduled according evaluation.schedule field.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "ONE_TIME",
              "SCHEDULED"
            ],
            "type": "string"
          },
          "startTime": {
            "description": "Output only. [Output only] Start time stamp",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "state": {
            "description": "Output only. [Output only] State",
            "enum": [
              "STATE_UNSPECIFIED",
              "RUNNING",
              "SUCCEEDED",
              "FAILED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExecutionResult": {
        "description": "Message describing the result of an execution",
        "properties": {
          "commands": {
            "description": "The commands to remediate the violation.",
            "items": {
              "$ref": "#/components/schemas/Command"
            },
            "type": "array"
          },
          "documentationUrl": {
            "description": "The URL for the documentation of the rule.",
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/Resource",
            "description": "The resource that violates the rule."
          },
          "rule": {
            "description": "The rule that is violated in an evaluation.",
            "type": "string"
          },
          "severity": {
            "description": "The severity of violation.",
            "type": "string"
          },
          "type": {
            "description": "Execution result type of the scanned resource",
            "enum": [
              "TYPE_UNSPECIFIED",
              "TYPE_PASSED",
              "TYPE_VIOLATED"
            ],
            "type": "string"
          },
          "violationDetails": {
            "$ref": "#/components/schemas/ViolationDetails",
            "description": "The details of violation in an evaluation result."
          },
          "violationMessage": {
            "description": "The violation message of an execution.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExternalDataSources": {
        "description": "Message for external data sources",
        "properties": {
          "assetType": {
            "description": "Required. The asset type of the external data source this can be one of go/cai-asset-types to override the default asset type or it can be a custom type defined by the user custom type must match the asset type in the rule",
            "type": "string"
          },
          "name": {
            "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data",
            "type": "string"
          },
          "type": {
            "description": "Required. Type of external data source",
            "enum": [
              "TYPE_UNSPECIFIED",
              "BIG_QUERY_TABLE"
            ],
            "type": "string"
          },
          "uri": {
            "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FrontEndServer": {
        "description": "The front end server",
        "properties": {
          "name": {
            "description": "Output only. The frontend name",
            "readOnly": true,
            "type": "string"
          },
          "osVersion": {
            "description": "Output only. OS information",
            "readOnly": true,
            "type": "string"
          },
          "resources": {
            "description": "Output only. resources in the component",
            "items": {
              "$ref": "#/components/schemas/CloudResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "GceInstanceFilter": {
        "description": "Message describing compute engine instance filter",
        "properties": {
          "serviceAccounts": {
            "description": "Service account of compute engine",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "HealthCheck": {
        "description": "HealthCheck contains the detailed health check of a component based on asource.",
        "properties": {
          "message": {
            "description": "Output only. The message of the health check.",
            "readOnly": true,
            "type": "string"
          },
          "metric": {
            "description": "Output only. The health check source metric name.",
            "readOnly": true,
            "type": "string"
          },
          "resource": {
            "$ref": "#/components/schemas/CloudResource",
            "description": "Output only. The resource the check performs on.",
            "readOnly": true
          },
          "source": {
            "description": "Output only. The source of the health check.",
            "readOnly": true,
            "type": "string"
          },
          "state": {
            "description": "Output only. The state of the health check.",
            "enum": [
              "STATE_UNSPECIFIED",
              "PASSED",
              "FAILED",
              "DEGRADED",
              "SKIPPED",
              "UNSUPPORTED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Insight": {
        "description": "A presentation of host resource usage where the workload runs.",
        "properties": {
          "instanceId": {
            "description": "Required. The instance id where the insight is generated from",
            "type": "string"
          },
          "sapDiscovery": {
            "$ref": "#/components/schemas/SapDiscovery",
            "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
          },
          "sapValidation": {
            "$ref": "#/components/schemas/SapValidation",
            "description": "The insights data for the SAP workload validation."
          },
          "sentTime": {
            "description": "Output only. [Output only] Create time stamp",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "sqlserverValidation": {
            "$ref": "#/components/schemas/SqlserverValidation",
            "description": "The insights data for the sqlserver workload validation."
          },
          "torsoValidation": {
            "$ref": "#/components/schemas/TorsoValidation",
            "description": "The insights data for workload validation of torso workloads."
          }
        },
        "type": "object"
      },
      "Instance": {
        "description": "a vm instance",
        "properties": {
          "name": {
            "description": "Output only. name of the VM",
            "readOnly": true,
            "type": "string"
          },
          "region": {
            "description": "Output only. The location of the VM",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Output only. The state of the VM",
            "enum": [
              "INSTANCESTATE_UNSPECIFIED",
              "PROVISIONING",
              "STAGING",
              "RUNNING",
              "STOPPING",
              "STOPPED",
              "TERMINATED",
              "SUSPENDING",
              "SUSPENDED",
              "REPAIRING",
              "DEPROVISIONING"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "InstanceProperties": {
        "description": "Instance Properties.",
        "properties": {
          "instanceNumber": {
            "description": "Optional. Instance number.",
            "type": "string"
          },
          "machineType": {
            "description": "Optional. Instance machine type.",
            "type": "string"
          },
          "role": {
            "deprecated": true,
            "description": "Optional. Instance role.",
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "type": "string"
          },
          "roles": {
            "description": "Optional. Instance roles.",
            "items": {
              "enum": [
                "INSTANCE_ROLE_UNSPECIFIED",
                "INSTANCE_ROLE_ASCS",
                "INSTANCE_ROLE_ERS",
                "INSTANCE_ROLE_APP_SERVER",
                "INSTANCE_ROLE_HANA_PRIMARY",
                "INSTANCE_ROLE_HANA_SECONDARY"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "sapInstanceProperties": {
            "$ref": "#/components/schemas/SapInstanceProperties",
            "description": "Optional. SAP Instance properties."
          },
          "status": {
            "description": "Optional. Instance status.",
            "type": "string"
          },
          "upcomingMaintenanceEvent": {
            "$ref": "#/components/schemas/UpcomingMaintenanceEvent",
            "description": "Optional. the next maintenance event on VM"
          }
        },
        "type": "object"
      },
      "Layer": {
        "description": "The database layer",
        "properties": {
          "applicationType": {
            "description": "the application layer",
            "type": "string"
          },
          "databaseType": {
            "description": "Optional. the database layer",
            "type": "string"
          },
          "instances": {
            "description": "Optional. instances in a layer",
            "items": {
              "$ref": "#/components/schemas/Instance"
            },
            "type": "array"
          },
          "sid": {
            "description": "Output only. system identification of a layer",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListDiscoveredProfilesResponse": {
        "description": "List discovered profile Response returns discovered profiles from agents",
        "properties": {
          "nextPageToken": {
            "description": "Output only. A token identifying a page of results the server should return",
            "readOnly": true,
            "type": "string"
          },
          "unreachable": {
            "description": "Locations that could not be reached.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "workloadProfiles": {
            "description": "Output only. The list of workload profiles",
            "items": {
              "$ref": "#/components/schemas/WorkloadProfile"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListEvaluationsResponse": {
        "description": "Message for response to listing Evaluations",
        "properties": {
          "evaluations": {
            "description": "The list of Evaluation",
            "items": {
              "$ref": "#/components/schemas/Evaluation"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "A token identifying a page of results the server should return.",
            "type": "string"
          },
          "unreachable": {
            "description": "Locations that could not be reached.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListExecutionResultsResponse": {
        "description": "Message for response of list execution results",
        "properties": {
          "executionResults": {
            "description": "The versions from the specified publisher.",
            "items": {
              "$ref": "#/components/schemas/ExecutionResult"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListExecutionsResponse": {
        "description": "Message for response to listing Executions",
        "properties": {
          "executions": {
            "description": "The list of Execution",
            "items": {
              "$ref": "#/components/schemas/Execution"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "A token identifying a page of results the server should return.",
            "type": "string"
          },
          "unreachable": {
            "description": "Locations that could not be reached.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListLocationsResponse": {
        "description": "The response message for Locations.ListLocations.",
        "properties": {
          "locations": {
            "description": "A list of locations that matches the specified filter in the request.",
            "items": {
              "$ref": "#/components/schemas/Location"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListOperationsResponse": {
        "description": "The response message for Operations.ListOperations.",
        "properties": {
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          },
          "operations": {
            "description": "A list of operations that matches the specified filter in the request.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListRulesResponse": {
        "description": "Mesesage of response of list rules",
        "properties": {
          "nextPageToken": {
            "description": "A token identifying a page of results the server should return.",
            "type": "string"
          },
          "rules": {
            "description": "all rules in response",
            "items": {
              "$ref": "#/components/schemas/Rule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListScannedResourcesResponse": {
        "description": "Message for response to list scanned resources",
        "properties": {
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "type": "string"
          },
          "scannedResources": {
            "description": "All scanned resources in response",
            "items": {
              "$ref": "#/components/schemas/ScannedResource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "LoadBalancerServer": {
        "description": "The load balancer for sqlserver",
        "properties": {
          "ip": {
            "description": "Output only. The IP address",
            "readOnly": true,
            "type": "string"
          },
          "vm": {
            "description": "Output only. The VM name",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Location": {
        "description": "A resource that represents a Google Cloud location.",
        "properties": {
          "displayName": {
            "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
            "type": "string"
          },
          "labels": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
            "type": "object"
          },
          "locationId": {
            "description": "The canonical id for this location. For example: `\"us-east1\"`.",
            "type": "string"
          },
          "metadata": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "Service-specific metadata. For example the available capacity at the given location.",
            "type": "object"
          },
          "name": {
            "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Notice": {
        "description": "Message for additional information generated by the execution",
        "properties": {
          "message": {
            "description": "Output only. Message of the notice",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "This resource represents a long-running operation that is the result of a network API call.",
        "properties": {
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "type": "boolean"
          },
          "error": {
            "$ref": "#/components/schemas/Status",
            "description": "The error result of the operation in case of failure or cancellation."
          },
          "metadata": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "type": "object"
          },
          "name": {
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
            "type": "string"
          },
          "response": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "OperationMetadata": {
        "description": "Represents the metadata of the long-running operation.",
        "properties": {
          "apiVersion": {
            "description": "Output only. API version used to start the operation.",
            "readOnly": true,
            "type": "string"
          },
          "createTime": {
            "description": "Output only. The time the operation was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "endTime": {
            "description": "Output only. The time the operation finished running.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "requestedCancellation": {
            "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "readOnly": true,
            "type": "boolean"
          },
          "statusMessage": {
            "description": "Output only. Human-readable status of the operation, if any.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "verb": {
            "description": "Output only. Name of the verb executed by the operation.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Product": {
        "description": "Product contains the details of a product.",
        "properties": {
          "name": {
            "description": "Optional. Name of the product.",
            "type": "string"
          },
          "version": {
            "description": "Optional. Version of the product.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Message represent resource in execution result",
        "properties": {
          "name": {
            "description": "The name of the resource.",
            "type": "string"
          },
          "serviceAccount": {
            "description": "The service account associated with the resource.",
            "type": "string"
          },
          "type": {
            "description": "The type of resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceFilter": {
        "description": "Message describing resource filters",
        "properties": {
          "gceInstanceFilter": {
            "$ref": "#/components/schemas/GceInstanceFilter",
            "description": "Filter compute engine resource"
          },
          "inclusionLabels": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The label used for filter resource",
            "type": "object"
          },
          "resourceIdPatterns": {
            "description": "The id pattern for filter resource",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "scopes": {
            "description": "The scopes of evaluation resource",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ResourceStatus": {
        "description": "Message describing resource status",
        "properties": {
          "rulesNewerVersions": {
            "deprecated": true,
            "description": "Historical: Used before 2023-05-22 the new version of rule id if exists",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "state": {
            "description": "State of the resource",
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "DELETING"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Rule": {
        "description": "Message represent a rule",
        "properties": {
          "tags": {
            "description": "List of user-defined tags",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": {
            "description": "descrite rule in plain language",
            "type": "string"
          },
          "displayName": {
            "description": "the name display in UI",
            "type": "string"
          },
          "errorMessage": {
            "description": "the message template for rule",
            "type": "string"
          },
          "name": {
            "description": "rule name",
            "type": "string"
          },
          "primaryCategory": {
            "description": "the primary category",
            "type": "string"
          },
          "remediation": {
            "description": "the remediation for the rule",
            "type": "string"
          },
          "revisionId": {
            "description": "Output only. the version of the rule",
            "readOnly": true,
            "type": "string"
          },
          "secondaryCategory": {
            "description": "the secondary category",
            "type": "string"
          },
          "severity": {
            "description": "the severity of the rule",
            "type": "string"
          },
          "uri": {
            "description": "the docuement url for the rule",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RuleExecutionResult": {
        "description": "Message for execution result summary per rule",
        "properties": {
          "message": {
            "description": "Execution message, if any",
            "type": "string"
          },
          "resultCount": {
            "description": "Number of violations",
            "format": "int64",
            "type": "string"
          },
          "rule": {
            "description": "rule name",
            "type": "string"
          },
          "scannedResourceCount": {
            "description": "Number of total scanned resources",
            "format": "int64",
            "type": "string"
          },
          "state": {
            "description": "Output only. The execution status",
            "enum": [
              "STATE_UNSPECIFIED",
              "STATE_SUCCESS",
              "STATE_FAILURE",
              "STATE_SKIPPED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "RunEvaluationRequest": {
        "description": "Message for creating a Execution",
        "properties": {
          "execution": {
            "$ref": "#/components/schemas/Execution",
            "description": "Required. The resource being created"
          },
          "executionId": {
            "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and execution_id from the method_signature of Create RPC",
            "type": "string"
          },
          "requestId": {
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapComponent": {
        "description": "The component of sap workload",
        "properties": {
          "databaseProperties": {
            "$ref": "#/components/schemas/DatabaseProperties",
            "description": "Output only. All instance properties.",
            "readOnly": true
          },
          "haHosts": {
            "description": "A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "resources": {
            "description": "Output only. resources in the component",
            "items": {
              "$ref": "#/components/schemas/CloudResource"
            },
            "readOnly": true,
            "type": "array"
          },
          "sid": {
            "description": "Output only. sid is the sap component identificator",
            "readOnly": true,
            "type": "string"
          },
          "topologyType": {
            "description": "The detected topology of the component.",
            "enum": [
              "TOPOLOGY_TYPE_UNSPECIFIED",
              "TOPOLOGY_SCALE_UP",
              "TOPOLOGY_SCALE_OUT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapDiscovery": {
        "description": "The schema of SAP system discovery data.",
        "properties": {
          "applicationLayer": {
            "$ref": "#/components/schemas/SapDiscoveryComponent",
            "description": "Optional. An SAP system may run without an application layer."
          },
          "databaseLayer": {
            "$ref": "#/components/schemas/SapDiscoveryComponent",
            "description": "Required. An SAP System must have a database."
          },
          "metadata": {
            "$ref": "#/components/schemas/SapDiscoveryMetadata",
            "description": "Optional. The metadata for SAP system discovery data."
          },
          "projectNumber": {
            "description": "Optional. The GCP project number that this SapSystem belongs to.",
            "type": "string"
          },
          "systemId": {
            "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Required. Unix timestamp this system has been updated last.",
            "format": "google-datetime",
            "type": "string"
          },
          "useDrReconciliation": {
            "description": "Optional. Whether to use DR reconciliation or not.",
            "type": "boolean"
          },
          "workloadProperties": {
            "$ref": "#/components/schemas/SapDiscoveryWorkloadProperties",
            "description": "Optional. The properties of the workload."
          }
        },
        "type": "object"
      },
      "SapDiscoveryComponent": {
        "description": "Message describing the system component.",
        "properties": {
          "applicationProperties": {
            "$ref": "#/components/schemas/SapDiscoveryComponentApplicationProperties",
            "description": "Optional. The component is a SAP application."
          },
          "databaseProperties": {
            "$ref": "#/components/schemas/SapDiscoveryComponentDatabaseProperties",
            "description": "Optional. The component is a SAP database."
          },
          "haHosts": {
            "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "hostProject": {
            "description": "Required. Pantheon Project in which the resources reside.",
            "type": "string"
          },
          "region": {
            "description": "Optional. The region this component's resources are primarily located in.",
            "type": "string"
          },
          "replicationSites": {
            "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
            "items": {
              "$ref": "#/components/schemas/SapDiscoveryComponentReplicationSite"
            },
            "type": "array"
          },
          "resources": {
            "description": "Optional. The resources in a component.",
            "items": {
              "$ref": "#/components/schemas/SapDiscoveryResource"
            },
            "type": "array"
          },
          "sid": {
            "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
            "type": "string"
          },
          "topologyType": {
            "description": "Optional. The detected topology of the component.",
            "enum": [
              "TOPOLOGY_TYPE_UNSPECIFIED",
              "TOPOLOGY_SCALE_UP",
              "TOPOLOGY_SCALE_OUT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapDiscoveryComponentApplicationProperties": {
        "description": "A set of properties describing an SAP Application layer.",
        "properties": {
          "abap": {
            "deprecated": true,
            "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
            "type": "boolean"
          },
          "appInstanceNumber": {
            "description": "Optional. Instance number of the SAP application instance.",
            "type": "string"
          },
          "applicationType": {
            "description": "Required. Type of the application. Netweaver, etc.",
            "enum": [
              "APPLICATION_TYPE_UNSPECIFIED",
              "NETWEAVER",
              "NETWEAVER_ABAP",
              "NETWEAVER_JAVA"
            ],
            "type": "string"
          },
          "ascsInstanceNumber": {
            "description": "Optional. Instance number of the ASCS instance.",
            "type": "string"
          },
          "ascsUri": {
            "description": "Optional. Resource URI of the recognized ASCS host of the application.",
            "type": "string"
          },
          "ersInstanceNumber": {
            "description": "Optional. Instance number of the ERS instance.",
            "type": "string"
          },
          "kernelVersion": {
            "description": "Optional. Kernel version for Netweaver running in the system.",
            "type": "string"
          },
          "nfsUri": {
            "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapDiscoveryComponentDatabaseProperties": {
        "description": "A set of properties describing an SAP Database layer.",
        "properties": {
          "databaseSid": {
            "description": "Optional. SID of the system database.",
            "type": "string"
          },
          "databaseType": {
            "description": "Required. Type of the database. HANA, DB2, etc.",
            "enum": [
              "DATABASE_TYPE_UNSPECIFIED",
              "HANA",
              "MAX_DB",
              "DB2",
              "ORACLE",
              "SQLSERVER",
              "ASE"
            ],
            "type": "string"
          },
          "databaseVersion": {
            "description": "Optional. The version of the database software running in the system.",
            "type": "string"
          },
          "instanceNumber": {
            "description": "Optional. Instance number of the SAP instance.",
            "type": "string"
          },
          "landscapeId": {
            "description": "Optional. Landscape ID from the HANA nameserver.",
            "type": "string"
          },
          "primaryInstanceUri": {
            "description": "Required. URI of the recognized primary instance of the database.",
            "type": "string"
          },
          "sharedNfsUri": {
            "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapDiscoveryComponentReplicationSite": {
        "description": "A replication site used in Disaster Recovery (DR) configurations.",
        "properties": {
          "component": {
            "$ref": "#/components/schemas/SapDiscoveryComponent",
            "description": "Optional. The system component for the site."
          },
          "sourceSite": {
            "description": "Optional. The name of the source site from which this one replicates.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapDiscoveryMetadata": {
        "description": "Message describing SAP discovery system metadata",
        "properties": {
          "customerRegion": {
            "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
            "type": "string"
          },
          "definedSystem": {
            "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
            "type": "string"
          },
          "environmentType": {
            "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
            "type": "string"
          },
          "sapProduct": {
            "description": "Optional. This SAP product name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapDiscoveryResource": {
        "description": "Message describing a resource.",
        "properties": {
          "instanceProperties": {
            "$ref": "#/components/schemas/SapDiscoveryResourceInstanceProperties",
            "description": "Optional. A set of properties only applying to instance type resources."
          },
          "relatedResources": {
            "description": "Optional. A list of resource URIs related to this resource.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "resourceKind": {
            "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
            "enum": [
              "RESOURCE_KIND_UNSPECIFIED",
              "RESOURCE_KIND_INSTANCE",
              "RESOURCE_KIND_DISK",
              "RESOURCE_KIND_ADDRESS",
              "RESOURCE_KIND_FILESTORE",
              "RESOURCE_KIND_HEALTH_CHECK",
              "RESOURCE_KIND_FORWARDING_RULE",
              "RESOURCE_KIND_BACKEND_SERVICE",
              "RESOURCE_KIND_SUBNETWORK",
              "RESOURCE_KIND_NETWORK",
              "RESOURCE_KIND_PUBLIC_ADDRESS",
              "RESOURCE_KIND_INSTANCE_GROUP"
            ],
            "type": "string"
          },
          "resourceType": {
            "description": "Required. The type of this resource.",
            "enum": [
              "RESOURCE_TYPE_UNSPECIFIED",
              "RESOURCE_TYPE_COMPUTE",
              "RESOURCE_TYPE_STORAGE",
              "RESOURCE_TYPE_NETWORK"
            ],
            "type": "string"
          },
          "resourceUri": {
            "description": "Required. URI of the resource, includes project, location, and name.",
            "type": "string"
          },
          "updateTime": {
            "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
            "format": "google-datetime",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SapDiscoveryResourceInstanceProperties": {
        "description": "A set of properties only present for an instance type resource",
        "properties": {
          "appInstances": {
            "description": "Optional. App server instances on the host",
            "items": {
              "$ref": "#/components/schemas/SapDiscoveryResourceInstancePropertiesAppInstance"
            },
            "type": "array"
          },
          "clusterInstances": {
            "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "diskMounts": {
            "description": "Optional. Disk mounts on the instance.",
            "items": {
[...]
