{
  "openapi": "3.0.3",
  "info": {
    "title": "Paga Collect API",
    "description": "The Paga Collect API allows organizations to create persistent payment accounts and payment requests, collect payments from customers via bank transfers, USSD, cards, and offline agents in Nigeria.",
    "version": "1.3",
    "x-jentic-source-url": "https://developer-docs.paga.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://collect.paga.com",
      "description": "Production server"
    },
    {
      "url": "https://beta-collect.paga.com",
      "description": "Sandbox/Test server"
    }
  ],
  "paths": {
    "/paymentRequest": {
      "post": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "Create a payment request",
        "description": "Register a new request for payment between a payer and a payee. Once initiated successfully, the payer is notified and can proceed to authorize/execute the payment.",
        "operationId": "createPaymentRequest",
        "parameters": [
          {
            "name": "hash",
            "in": "header",
            "description": "SHA-512 hash of concatenated params: referenceNumber + amount + currency + payer.phoneNumber + payer.email + payee.accountNumber + payee.phoneNumber + payee.bankId + payee.bankAccountNumber + hashkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequestInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/status": {
      "post": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "Query payment request status",
        "description": "Query the status of a submitted request using its reference number. Returns operation status and refund information if applicable.",
        "operationId": "getPaymentRequestStatus",
        "parameters": [
          {
            "name": "hash",
            "in": "header",
            "description": "SHA-512 hash of concatenated params: referenceNumber + hashkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusRequestInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/refund/v2": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refund a payment request (v2)",
        "description": "Cancel a payment request or initiate a full or partial refund. Supports multiple partial refunds with idempotency via referenceNumber.",
        "operationId": "refundPaymentRequestV2",
        "parameters": [
          {
            "name": "hash",
            "in": "header",
            "description": "SHA-512 hash of concatenated params: referenceNumber + refundAmount + hashkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundV2Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/refund": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refund a payment request (v1)",
        "description": "Cancel a payment request or initiate a refund. Refund requests for successfully completed payment requests will be honored.",
        "operationId": "refundPaymentRequestV1",
        "parameters": [
          {
            "name": "hash",
            "in": "header",
            "description": "SHA-512 hash of concatenated params: referenceNumber + refundAmount + hashkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundV1Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "Get transaction history",
        "description": "Retrieve history of all activities for a period between given start and end dates. The period window should not exceed 3 months.",
        "operationId": "getHistory",
        "parameters": [
          {
            "name": "hash",
            "in": "header",
            "description": "SHA-512 hash of concatenated params: referenceNumber + hashkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HistoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "History retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/banks": {
      "post": {
        "tags": [
          "Banks"
        ],
        "summary": "Get supported banks",
        "description": "Retrieve a list of supported banks and their unique IDs. Required for populating payer and payee objects in the payment request model.",
        "operationId": "getBanks",
        "parameters": [
          {
            "name": "hash",
            "in": "header",
            "description": "SHA-512 hash of concatenated params: referenceNumber + hashkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BanksInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Banks list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using your public key (username) and secret key (password)."
      }
    },
    "schemas": {
      "Payer": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the payer"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of the payer. Either phoneNumber or email must be provided."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the payer. Either phoneNumber or email must be provided."
          },
          "bankId": {
            "type": "string",
            "description": "PublicId/PublicKey representing the payer's bank (for filtering payment options)."
          }
        }
      },
      "Payee": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the recipient"
          },
          "accountNumber": {
            "type": "string",
            "description": "The recipient's Paga account number (NUBAN)"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The recipient's registered phone number on Paga"
          },
          "bankId": {
            "type": "string",
            "description": "PublicId/PublicKey representing the recipient's bank (required for non-Paga recipients)"
          },
          "bankAccountNumber": {
            "type": "string",
            "description": "Bank account number for traditional bank payments (required for non-Paga recipients)"
          },
          "financialIdentificationNumber": {
            "type": "string",
            "description": "Bank Verification Number (BVN) of the recipient"
          }
        }
      },
      "PaymentRequestInput": {
        "type": "object",
        "required": [
          "referenceNumber",
          "amount",
          "currency",
          "payer",
          "payee",
          "isSuppressMessages",
          "payerCollectionFeeShare",
          "payeeCollectionFeeShare",
          "callBackUrl",
          "paymentMethods"
        ],
        "properties": {
          "referenceNumber": {
            "type": "string",
            "description": "A unique reference number representing this request"
          },
          "amount": {
            "type": "number",
            "description": "The amount being requested"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the operation (e.g., NGN)"
          },
          "payer": {
            "$ref": "#/components/schemas/Payer"
          },
          "payee": {
            "$ref": "#/components/schemas/Payee"
          },
          "expiryDateTimeUTC": {
            "type": "string",
            "description": "Time limit for the payment request (within one week). Format: yyyy-MM-ddTHH:mm:ss"
          },
          "isSuppressMessages": {
            "type": "boolean",
            "description": "Suppress direct messaging to payer and recipient. Default false."
          },
          "payerCollectionFeeShare": {
            "type": "number",
            "description": "Percentage of payment request fee charged to payer (combined with payeeCollectionFeeShare must be <= 1.0)"
          },
          "payeeCollectionFeeShare": {
            "type": "number",
            "description": "Percentage of payment request fee charged to payee"
          },
          "isAllowPartialPayments": {
            "type": "boolean",
            "description": "Whether to accept partial payments. Default false."
          },
          "isAllowOverPayments": {
            "type": "boolean",
            "description": "Whether to accept payments above the set amount. Default false."
          },
          "callBackUrl": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL for payment status update notifications"
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "BANK_TRANSFER",
                "FUNDING_USSD",
                "REQUEST_MONEY"
              ]
            },
            "description": "List of permitted payment methods"
          },
          "displayBankDetailToPayer": {
            "type": "boolean",
            "description": "Display bank details of the payer to the payee"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the payment method"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Additional properties for the payment method"
          }
        }
      },
      "PaymentRequestResponse": {
        "type": "object",
        "properties": {
          "referenceNumber": {
            "type": "string",
            "description": "The reference number provided in the request"
          },
          "statusCode": {
            "type": "string",
            "description": "Status of the operation (0 = success)"
          },
          "statusMessage": {
            "type": "string",
            "nullable": true,
            "description": "Human readable status message"
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            },
            "description": "Available payment methods for this request"
          },
          "expiryDateTimeUTC": {
            "type": "string",
            "nullable": true,
            "description": "Expiry timestamp of the payment request in UTC"
          },
          "isPayerPagaAccountHolder": {
            "type": "boolean",
            "description": "Whether the payer is a Paga account holder"
          }
        }
      },
      "StatusRequestInput": {
        "type": "object",
        "required": [
          "referenceNumber"
        ],
        "properties": {
          "referenceNumber": {
            "type": "string",
            "description": "A unique reference number representing the operation to query"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "referenceNumber": {
            "type": "string"
          },
          "statusCode": {
            "type": "string"
          },
          "statusMessage": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "referenceNumber": {
                "type": "string"
              },
              "statusCode": {
                "type": "string"
              },
              "statusMessage": {
                "type": "string"
              },
              "requestAmount": {
                "type": "number",
                "description": "The amount requested by the payee"
              },
              "totalPaymentAmount": {
                "type": "number",
                "description": "The total amount paid by the payer"
              },
              "currency": {
                "type": "string",
                "description": "Currency of the operation"
              },
              "expiryDateTimeUTC": {
                "type": "string",
                "description": "Expiry timestamp in UTC"
              },
              "refundStatus": {
                "type": "string",
                "description": "Status of refund operation"
              }
            }
          }
        }
      },
      "RefundV2Input": {
        "type": "object",
        "required": [
          "referenceNumber",
          "paymentRequestReference",
          "refundAmount",
          "currency"
        ],
        "properties": {
          "referenceNumber": {
            "type": "string",
            "description": "A unique reference number for this refund request (idempotency key)"
          },
          "paymentRequestReference": {
            "type": "string",
            "description": "The unique reference number of the payment request to be refunded"
          },
          "refundAmount": {
            "type": "number",
            "description": "Amount to be refunded"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the operation"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund request"
          }
        }
      },
      "RefundV1Input": {
        "type": "object",
        "required": [
          "referenceNumber",
          "refundAmount",
          "currency"
        ],
        "properties": {
          "referenceNumber": {
            "type": "string",
            "description": "The unique reference number of the payment request to be refunded"
          },
          "refundAmount": {
            "type": "number",
            "description": "Amount to be refunded"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the operation"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund request"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "referenceNumber": {
            "type": "string"
          },
          "statusCode": {
            "type": "string"
          },
          "statusMessage": {
            "type": "string"
          },
          "refundAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "refundDestination": {
            "type": "string",
            "description": "Destination of refund (e.g., Paga | 00012346433)"
          }
        }
      },
      "HistoryInput": {
        "type": "object",
        "required": [
          "startDateTimeUTC"
        ],
        "properties": {
          "referenceNumber": {
            "type": "string",
            "description": "Optional reference number to restrict results"
          },
          "startDateTimeUTC": {
            "type": "string",
            "description": "Start of transaction history (range <= 3 months). Format: yyyy-MM-ddTHH:mm:ss"
          },
          "endDateTimeUTC": {
            "type": "string",
            "description": "End of transaction history. Format: yyyy-MM-ddTHH:mm:ss"
          }
        }
      },
      "HistoryItem": {
        "type": "object",
        "properties": {
          "datetime": {
            "type": "string",
            "description": "Timestamp in local time"
          },
          "datetimeUTC": {
            "type": "string",
            "description": "Timestamp in UTC"
          },
          "referenceNumber": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "accountReference": {
            "type": "string",
            "nullable": true
          },
          "operation": {
            "type": "string",
            "enum": [
              "PAYMENT_REQUEST",
              "PERSISTENT_PAYMENT_ACCOUNT"
            ],
            "description": "Category of operation performed"
          },
          "action": {
            "type": "string",
            "enum": [
              "CREATE_REQUEST",
              "CREATE",
              "UPDATE",
              "DELETE"
            ],
            "description": "Subcategory of operation"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCESSFUL",
              "FAILED",
              "PENDING"
            ]
          }
        }
      },
      "HistoryResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string"
          },
          "statusMessage": {
            "type": "string"
          },
          "itemCount": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryItem"
            }
          }
        }
      },
      "BanksInput": {
        "type": "object",
        "required": [
          "referenceNumber"
        ],
        "properties": {
          "referenceNumber": {
            "type": "string",
            "description": "A unique reference number for this request"
          }
        }
      },
      "Bank": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Bank name"
          },
          "uuid": {
            "type": "string",
            "description": "Unique identifier for the bank"
          },
          "sortCode": {
            "type": "string",
            "nullable": true,
            "description": "Bank sort code"
          },
          "ussdCode": {
            "type": "string",
            "nullable": true,
            "description": "Bank USSD code"
          }
        }
      },
      "BanksResponse": {
        "type": "object",
        "properties": {
          "referenceNumber": {
            "type": "string"
          },
          "statusCode": {
            "type": "string"
          },
          "statusMessage": {
            "type": "string",
            "nullable": true
          },
          "banks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bank"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "referenceNumber": {
            "type": "string"
          },
          "statusCode": {
            "type": "string",
            "description": "Non-zero status code indicating error"
          },
          "statusMessage": {
            "type": "string",
            "description": "Human readable error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Banks",
      "description": "Operations related to Banks"
    },
    {
      "name": "History",
      "description": "Operations related to History"
    },
    {
      "name": "Payment Requests",
      "description": "Operations related to Payment Requests"
    },
    {
      "name": "Refunds",
      "description": "Operations related to Refunds"
    }
  ]
}
