{
  "openapi": "3.0.3",
  "info": {
    "title": "Omise API",
    "version": "2019-05-29",
    "description": "Omise payment gateway API for managing charges, customers, cards, tokens, refunds, transfers, recipients, sources, payment links, and account balance.",
    "x-jentic-source-url": "https://docs.omise.co/en/docs"
  },
  "servers": [
    {
      "url": "https://api.omise.co",
      "description": "Main API server"
    },
    {
      "url": "https://vault.omise.co",
      "description": "Vault server (for tokens)"
    }
  ],
  "paths": {
    "/charges": {
      "post": {
        "operationId": "createCharge",
        "summary": "Create a charge",
        "description": "Create a new charge to process a payment.",
        "tags": [
          "Charges"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount in smallest currency unit"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Three-letter ISO 4217 code"
                  },
                  "card": {
                    "type": "string",
                    "description": "Token ID (conditionally required)"
                  },
                  "customer": {
                    "type": "string",
                    "description": "Customer ID (conditionally required)"
                  },
                  "source": {
                    "type": "string",
                    "description": "Source ID (conditionally required)"
                  },
                  "capture": {
                    "type": "boolean",
                    "default": true
                  },
                  "authorization_type": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ip": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "return_uri": {
                    "type": "string",
                    "description": "Return URI (required for 3DS/redirect)"
                  },
                  "webhook_endpoints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "zero_interest_installments": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "get": {
        "operationId": "listCharges",
        "summary": "List charges",
        "description": "List all charges with optional filtering.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of charges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/charges/{id}": {
      "get": {
        "operationId": "retrieveCharge",
        "summary": "Retrieve a charge",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Charge not found"
          }
        }
      },
      "patch": {
        "operationId": "updateCharge",
        "summary": "Update a charge",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/charges/{id}/capture": {
      "post": {
        "operationId": "captureCharge",
        "summary": "Capture a charge",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "capture_amount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/charges/{id}/reverse": {
      "post": {
        "operationId": "reverseCharge",
        "summary": "Reverse a charge",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge reversed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/charges/{id}/expire": {
      "post": {
        "operationId": "expireCharge",
        "summary": "Expire a pending charge",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/charges/{id}/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Create a refund",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Charge ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Refund amount in smallest currency unit"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "void": {
                    "type": "boolean",
                    "description": "Force void processing if possible"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "get": {
        "operationId": "listRefundsForCharge",
        "summary": "List refunds for a charge",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/charges/{id}/refunds/{refund_id}": {
      "get": {
        "operationId": "retrieveRefund",
        "summary": "Retrieve a refund",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refund_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Refund not found"
          }
        }
      }
    },
    "/refunds": {
      "get": {
        "operationId": "listAllRefunds",
        "summary": "List all refunds",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "card": {
                    "type": "string",
                    "description": "Unused token ID"
                  },
                  "description": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "linked_account": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "retrieveCustomer",
        "summary": "Retrieve a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "card": {
                    "type": "string"
                  },
                  "default_card": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "linked_account": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "delete": {
        "operationId": "destroyCustomer",
        "summary": "Destroy a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/customers/{id}/cards": {
      "get": {
        "operationId": "listCards",
        "summary": "List cards for a customer",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/customers/{id}/cards/{card_id}": {
      "get": {
        "operationId": "retrieveCard",
        "summary": "Retrieve a card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Card not found"
          }
        }
      },
      "patch": {
        "operationId": "updateCard",
        "summary": "Update a card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "city": {
                    "type": "string"
                  },
                  "expiration_month": {
                    "type": "integer"
                  },
                  "expiration_year": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "delete": {
        "operationId": "destroyCard",
        "summary": "Destroy a card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/tokens": {
      "post": {
        "operationId": "createToken",
        "summary": "Create a token",
        "description": "Create a card token using the Vault server. Uses public key authentication only.",
        "tags": [
          "Tokens"
        ],
        "servers": [
          {
            "url": "https://vault.omise.co"
          }
        ],
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "card"
                ],
                "properties": {
                  "card": {
                    "type": "object",
                    "required": [
                      "name",
                      "number",
                      "expiration_month",
                      "expiration_year"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      },
                      "expiration_month": {
                        "type": "integer"
                      },
                      "expiration_year": {
                        "type": "integer"
                      },
                      "security_code": {
                        "type": "string"
                      },
                      "street1": {
                        "type": "string"
                      },
                      "street2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/tokens/{id}": {
      "get": {
        "operationId": "retrieveToken",
        "summary": "Retrieve a token",
        "tags": [
          "Tokens"
        ],
        "servers": [
          {
            "url": "https://vault.omise.co"
          }
        ],
        "security": [
          {
            "PublicKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Token not found"
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "operationId": "createTransfer",
        "summary": "Create a transfer",
        "tags": [
          "Transfers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "fail_fast": {
                    "type": "boolean"
                  },
                  "idemp_key": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "recipient": {
                    "type": "string"
                  },
                  "split_transfer": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "get": {
        "operationId": "listTransfers",
        "summary": "List transfers",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transfers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/transfers/{id}": {
      "get": {
        "operationId": "retrieveTransfer",
        "summary": "Retrieve a transfer",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Transfer not found"
          }
        }
      },
      "patch": {
        "operationId": "updateTransfer",
        "summary": "Update a transfer (callback)",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "failure_code": {
                    "type": "string"
                  },
                  "failure_message": {
                    "type": "string"
                  },
                  "success": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "delete": {
        "operationId": "destroyTransfer",
        "summary": "Destroy a transfer",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/transfers/{id}/mark_as_paid": {
      "post": {
        "operationId": "markTransferAsPaid",
        "summary": "Mark transfer as paid",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer marked as paid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/transfers/{id}/mark_as_sent": {
      "post": {
        "operationId": "markTransferAsSent",
        "summary": "Mark transfer as sent",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer marked as sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/recipients": {
      "post": {
        "operationId": "createRecipient",
        "summary": "Create a recipient",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "corporation"
                    ]
                  },
                  "tax_id": {
                    "type": "string"
                  },
                  "bank_account": {
                    "type": "object",
                    "properties": {
                      "brand": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "get": {
        "operationId": "listRecipients",
        "summary": "List recipients",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recipients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/recipients/{id}": {
      "get": {
        "operationId": "retrieveRecipient",
        "summary": "Retrieve a recipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Recipient not found"
          }
        }
      },
      "patch": {
        "operationId": "updateRecipient",
        "summary": "Update a recipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "corporation"
                    ]
                  },
                  "tax_id": {
                    "type": "string"
                  },
                  "bank_account": {
                    "type": "object",
                    "properties": {
                      "brand": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "delete": {
        "operationId": "destroyRecipient",
        "summary": "Delete a recipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/recipients/{id}/verify": {
      "patch": {
        "operationId": "verifyRecipient",
        "summary": "Verify a recipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/sources": {
      "post": {
        "operationId": "createSource",
        "summary": "Create a payment source",
        "tags": [
          "Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "type"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount in smallest currency unit"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Three-letter ISO 4217 code"
                  },
                  "type": {
                    "type": "string",
                    "description": "Payment source type (alipay, fpx, econtext, etc.)"
                  },
                  "bank": {
                    "type": "string"
                  },
                  "barcode": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "installment_term": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "mobile_number": {
                    "type": "string"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer"
                        },
                        "sku": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "platform_type": {
                    "type": "string",
                    "enum": [
                      "WEB",
                      "IOS",
                      "ANDROID"
                    ]
                  },
                  "zero_interest_installments": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/sources/{id}": {
      "get": {
        "operationId": "retrieveSource",
        "summary": "Retrieve a source",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Source not found"
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "retrieveBalance",
        "summary": "Retrieve account balance",
        "tags": [
          "Balance"
        ],
        "responses": {
          "200": {
            "description": "Balance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/links/{id}/charges": {
      "get": {
        "operationId": "listChargesForLink",
        "summary": "List charges for a payment link",
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chronological",
                "reverse_chronological"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of charges for the link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/external/links": {
      "post": {
        "operationId": "createPaymentLink",
        "summary": "Create a payment link",
        "tags": [
          "Payment Links"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template_id",
                  "team_id",
                  "name",
                  "amount"
                ],
                "properties": {
                  "template_id": {
                    "type": "string"
                  },
                  "team_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "integer"
                  },
                  "multiple_usage": {
                    "type": "boolean"
                  },
                  "features": {
                    "type": "object"
                  },
                  "custom_webhook": {
                    "type": "string"
                  },
                  "returnUrl": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/external/links/{link_id}": {
      "get": {
        "operationId": "retrievePaymentLink",
        "summary": "Retrieve a payment link",
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Link not found"
          }
        }
      }
    },
    "/external/{team_id}/links": {
      "get": {
        "operationId": "listPaymentLinksForTeam",
        "summary": "List payment links for a team",
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payment links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/external/templates/{template_id}": {
      "get": {
        "operationId": "retrieveTemplate",
        "summary": "Retrieve a template",
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/external/{team_id}/templates": {
      "get": {
        "operationId": "listTemplatesForTeam",
        "summary": "List templates for a team",
        "tags": [
          "Payment Links"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SecretKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using secret API key as username (password left blank)"
      },
      "PublicKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using public API key as username (for token/vault operations)"
      }
    },
    "schemas": {
      "Charge": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "charge"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "authorized": {
            "type": "boolean"
          },
          "capture": {
            "type": "boolean"
          },
          "captured_amount": {
            "type": "integer"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "expired": {
            "type": "boolean"
          },
          "expired_at": {
            "type": "string",
            "format": "date-time"
          },
          "failure_code": {
            "type": "string"
          },
          "failure_message": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "paid": {
            "type": "boolean"
          },
          "paid_at": {
            "type": "string",
            "format": "date-time"
          },
          "refundable": {
            "type": "boolean"
          },
          "refunded_amount": {
            "type": "integer"
          },
          "return_uri": {
            "type": "string"
          },
          "reversed": {
            "type": "boolean"
          },
          "reversible": {
            "type": "boolean"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transaction": {
            "type": "string"
          },
          "voided": {
            "type": "boolean"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "customer"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "default_card": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "cards": {
            "$ref": "#/components/schemas/List"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "card"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "bank": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expiration_month": {
            "type": "integer"
          },
          "expiration_year": {
            "type": "integer"
          },
          "financing": {
            "type": "string"
          },
          "fingerprint": {
            "type": "string"
          },
          "first_digits": {
            "type": "string"
          },
          "last_digits": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "security_code_check": {
            "type": "boolean"
          }
        }
      },
      "Token": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "token"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "charge_status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "used": {
            "type": "boolean"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "refund"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "charge": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "funding_amount": {
            "type": "integer"
          },
          "funding_currency": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "status": {
            "type": "string"
          },
          "transaction": {
            "type": "string"
          },
          "voided": {
            "type": "boolean"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "transfer"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "bank_account": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "fail_fast": {
            "type": "boolean"
          },
          "fee": {
            "type": "integer"
          },
          "paid": {
            "type": "boolean"
          },
          "paid_at": {
            "type": "string",
            "format": "date-time"
          },
          "recipient": {
            "type": "string"
          },
          "sendable": {
            "type": "boolean"
          },
          "sent": {
            "type": "boolean"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "transaction": {
            "type": "string"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "recipient"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "bank_account": {
            "type": "object",
            "properties": {
              "brand": {
                "type": "string"
              },
              "number": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "individual",
              "corporation"
            ]
          },
          "verified": {
            "type": "boolean"
          },
          "verified_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "source"
          },
          "id": {
            "type": "string"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "charge_status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "flow": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "references": {
            "type": "object"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "balance"
          },
          "livemode": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "on_hold": {
            "type": "integer"
          },
          "reserve": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "transferable": {
            "type": "integer"
          }
        }
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "multiple_usage": {
            "type": "boolean"
          },
          "transaction_url": {
            "type": "string"
          },
          "transaction_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "returnUrl": {
            "type": "string"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "order": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "SecretKeyAuth": []
    }
  ]
}