{
  "openapi": "3.0.3",
  "info": {
    "title": "Screenshotbase API",
    "version": "1.0.0",
    "description": "Screenshotbase website screenshot rendering API for capturing and rendering website screenshots.",
    "x-jentic-source-url": "https://screenshotbase.com/docs"
  },
  "servers": [
    {
      "url": "https://api.screenshotbase.com"
    }
  ],
  "paths": {
    "/v1/take": {
      "get": {
        "operationId": "takeScreenshot",
        "summary": "Render a website screenshot",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Website URL to render"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "jpg",
                "jpeg",
                "png",
                "gif",
                "webp"
              ],
              "default": "png"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 80
            }
          },
          {
            "name": "full_page",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "viewport_width",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1280
            }
          },
          {
            "name": "viewport_height",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 800
            }
          },
          {
            "name": "delay",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 30
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 60,
              "minimum": 5,
              "maximum": 60
            }
          },
          {
            "name": "wait_until",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "load",
                "domcontentloaded",
                "networkidle0",
                "networkidle2"
              ],
              "default": "load"
            }
          },
          {
            "name": "block_cookie_banners",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "block_ads",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "block_chats",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get API quota status",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Quota info"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}