{
  "openapi": "3.0.3",
  "info": {
    "title": "VK API",
    "description": "VK (formerly VKontakte) is a Russian social network. This API provides access to user data, wall posts, friends, groups, photos, and messages.",
    "version": "5.131",
    "contact": {
      "name": "VK Developer Support",
      "url": "https://vk.com/dev"
    }
  },
  "servers": [
    {
      "url": "https://api.vk.com/method",
      "description": "VK API Production Server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/users.get": {
      "get": {
        "operationId": "usersGet",
        "summary": "Get user profiles",
        "description": "Returns detailed information on users. You can specify up to 1000 user IDs.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "user_ids",
            "in": "query",
            "description": "Comma-separated list of user IDs or screen names. By default, the current user ID is used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of additional profile fields to return (e.g., photo_50, city, verified, counters).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name_case",
            "in": "query",
            "description": "Case for declension of user name and surname.",
            "schema": {
              "type": "string",
              "enum": ["nom", "gen", "dat", "acc", "ins", "abl"]
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "Access token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "description": "API version.",
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users.search": {
      "get": {
        "operationId": "usersSearch",
        "summary": "Search for users",
        "description": "Returns a list of users matching the search criteria.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string (e.g., Vasya Babich).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: 0 - by popularity, 1 - by registration date.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset needed to return a specific subset of users.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of users to return (max 1000).",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 20
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of additional profile fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wall.get": {
      "get": {
        "operationId": "wallGet",
        "summary": "Get wall posts",
        "description": "Returns a list of posts on a user wall or community wall.",
        "tags": ["Wall"],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "ID of the user or community. Use a negative value to designate a community ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "User or community short address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset needed to return a specific subset of posts.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of posts to return (max 100).",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply.",
            "schema": {
              "type": "string",
              "enum": ["owner", "others", "all", "postponed", "suggests"]
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "1 to return wall, profiles, and groups fields; 0 otherwise.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of additional fields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WallGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wall.post": {
      "post": {
        "operationId": "wallPost",
        "summary": "Create a wall post",
        "description": "Adds a new post on a user wall or community wall. Can also be used to publish suggested or scheduled posts.",
        "tags": ["Wall"],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "User ID or community ID. Use a negative value to designate a community ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "friends_only",
            "in": "query",
            "description": "1 to post to friends only; 0 for all users.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "from_group",
            "in": "query",
            "description": "1 to post on behalf of a community.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "message",
            "in": "query",
            "description": "Post text. Required if attachments is not set.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachments",
            "in": "query",
            "description": "Comma-separated list of media attachments (e.g., photo100172_166443618).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publish_date",
            "in": "query",
            "description": "Publication date (Unix timestamp). If used, post will be scheduled.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Geographical latitude of a check-in.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "long",
            "in": "query",
            "description": "Geographical longitude of a check-in.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WallPostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/friends.get": {
      "get": {
        "operationId": "friendsGet",
        "summary": "Get friends list",
        "description": "Returns a list of user friend IDs or detailed information about a user's friends.",
        "tags": ["Friends"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID. By default, the current user ID is used.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": ["name", "hints", "random"]
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of friends to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to return a specific subset.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Profile fields to return (e.g., nickname, domain, city).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FriendsGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups.get": {
      "get": {
        "operationId": "groupsGet",
        "summary": "Get user communities",
        "description": "Returns a list of the communities to which a user belongs.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "If set to 1, returns complete information about communities.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Types of communities to return.",
            "schema": {
              "type": "string",
              "enum": ["admin", "editor", "moder", "groups", "publics", "events"]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Community fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of communities to return (max 1000).",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupsGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups.getById": {
      "get": {
        "operationId": "groupsGetById",
        "summary": "Get communities by ID",
        "description": "Returns information about communities by their IDs.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "group_ids",
            "in": "query",
            "description": "Comma-separated IDs or screen names of communities.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "ID or screen name of a single community.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Community fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupsGetByIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/photos.get": {
      "get": {
        "operationId": "photosGet",
        "summary": "Get photos",
        "description": "Returns a list of a user's or community's photos.",
        "tags": ["Photos"],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "required": true,
            "description": "ID of the user or community (negative for community).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "album_id",
            "in": "query",
            "required": true,
            "description": "Photo album ID or wall, profile, saved.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photo_ids",
            "in": "query",
            "description": "Comma-separated photo identifiers.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rev",
            "in": "query",
            "description": "1 for reverse chronological order.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "1 to return additional likes, comments, tags fields.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of photos to return (max 1000).",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotosGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/photos.getAlbums": {
      "get": {
        "operationId": "photosGetAlbums",
        "summary": "Get photo albums",
        "description": "Returns a list of a user's or community's photo albums.",
        "tags": ["Photos"],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "ID of the user or community.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "album_ids",
            "in": "query",
            "description": "Comma-separated album IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "need_system",
            "in": "query",
            "description": "1 to return system albums (wall, profile).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "need_covers",
            "in": "query",
            "description": "1 to return album cover photo.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "photo_sizes",
            "in": "query",
            "description": "1 to return photo sizes as a special array.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotosGetAlbumsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages.send": {
      "post": {
        "operationId": "messagesSend",
        "summary": "Send a message",
        "description": "Sends a message to a user or group chat.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID to send the message to.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "peer_id",
            "in": "query",
            "description": "Destination ID: user ID, 2000000000 + chat_id for group chat, or negative community ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "random_id",
            "in": "query",
            "required": true,
            "description": "Unique ID used to prevent duplicate message sending.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "message",
            "in": "query",
            "description": "Message text. Required if attachment is not set.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachment",
            "in": "query",
            "description": "Comma-separated list of attached objects (e.g., photo100172_166443618).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sticker_id",
            "in": "query",
            "description": "Sticker ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Geographical latitude.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "long",
            "in": "query",
            "description": "Geographical longitude.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "reply_to",
            "in": "query",
            "description": "ID of the message to reply to.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with message ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagesSendResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages.getHistory": {
      "get": {
        "operationId": "messagesGetHistory",
        "summary": "Get message history",
        "description": "Returns message history for the specified user or group chat.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to return a specific subset of messages.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of messages to return (max 200).",
            "schema": {
              "type": "integer",
              "maximum": 200,
              "default": 20
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID for the conversation.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "peer_id",
            "in": "query",
            "description": "Peer ID for the conversation.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_message_id",
            "in": "query",
            "description": "Starting message ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "rev",
            "in": "query",
            "description": "1 for chronological order, 0 for reverse.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "1 to return user and community objects in response.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional profile fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagesGetHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/newsfeed.get": {
      "get": {
        "operationId": "newsfeedGet",
        "summary": "Get news feed",
        "description": "Returns data required to show newsfeed for the current user.",
        "tags": ["Newsfeed"],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "description": "Filters to apply: post, photo, photo_tag, wall_photo, friend, note.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "return_banned",
            "in": "query",
            "description": "1 to return news items from banned sources.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Earliest timestamp (Unix) of news items to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Latest timestamp (Unix) of news items to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_photos",
            "in": "query",
            "description": "Maximum number of photos to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of news items to return (max 100).",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "start_from",
            "in": "query",
            "description": "Identifier for pagination (from previous response next_from).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional profile fields to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsfeedGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/likes.add": {
      "post": {
        "operationId": "likesAdd",
        "summary": "Add a like",
        "description": "Adds the specified object to the Likes list of the current user.",
        "tags": ["Likes"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Object type.",
            "schema": {
              "type": "string",
              "enum": ["post", "comment", "photo", "audio", "video", "note", "market", "photo_comment", "video_comment", "topic_comment", "market_comment"]
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "ID of the object owner.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item_id",
            "in": "query",
            "required": true,
            "description": "Object ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikesAddResponse"
                }
              }
            }
          }
        }
      }
    },
    "/video.get": {
      "get": {
        "operationId": "videoGet",
        "summary": "Get video files",
        "description": "Returns detailed information about videos.",
        "tags": ["Video"],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "ID of the user or community.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "videos",
            "in": "query",
            "description": "Comma-separated video IDs in ownerID_videoID format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "album_id",
            "in": "query",
            "description": "ID of the album containing videos.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of videos to return (max 200).",
            "schema": {
              "type": "integer",
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "1 to return additional info.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5.131"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGetResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://oauth.vk.com/authorize",
            "scopes": {
              "friends": "Access to friends list",
              "photos": "Access to photos",
              "video": "Access to videos",
              "wall": "Access to wall posts",
              "groups": "Access to communities",
              "messages": "Access to messages",
              "offline": "Access token does not expire",
              "notifications": "Access to notifications"
            }
          }
        }
      }
    },
    "schemas": {
      "VkError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "error_code": {
                "type": "integer"
              },
              "error_msg": {
                "type": "string"
              },
              "request_params": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UserObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User ID"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "deactivated": {
            "type": "string",
            "description": "Returns if a profile is deleted or blocked"
          },
          "is_closed": {
            "type": "boolean",
            "description": "Whether the profile is private"
          },
          "can_access_closed": {
            "type": "boolean"
          },
          "photo_50": {
            "type": "string",
            "format": "uri"
          },
          "photo_100": {
            "type": "string",
            "format": "uri"
          },
          "online": {
            "type": "integer"
          },
          "screen_name": {
            "type": "string"
          },
          "sex": {
            "type": "integer",
            "description": "1 - female, 2 - male, 0 - not specified"
          },
          "city": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "country": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "verified": {
            "type": "integer"
          }
        }
      },
      "UsersGetResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserObject"
            }
          }
        }
      },
      "UsersSearchResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserObject"
                }
              }
            }
          }
        }
      },
      "WallPostObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "owner_id": {
            "type": "integer"
          },
          "from_id": {
            "type": "integer"
          },
          "date": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "text": {
            "type": "string"
          },
          "post_type": {
            "type": "string"
          },
          "comments": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          },
          "likes": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "user_likes": {
                "type": "integer"
              }
            }
          },
          "reposts": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          },
          "views": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "WallGetResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WallPostObject"
                }
              }
            }
          }
        }
      },
      "WallPostResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "post_id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "FriendsGetResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "integer"
                    },
                    {
                      "$ref": "#/components/schemas/UserObject"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "GroupObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "screen_name": {
            "type": "string"
          },
          "is_closed": {
            "type": "integer",
            "description": "0 - open, 1 - closed, 2 - private"
          },
          "type": {
            "type": "string",
            "enum": ["group", "page", "event"]
          },
          "photo_50": {
            "type": "string",
            "format": "uri"
          },
          "photo_100": {
            "type": "string",
            "format": "uri"
          },
          "photo_200": {
            "type": "string",
            "format": "uri"
          },
          "members_count": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "GroupsGetResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "GroupsGetByIdResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupObject"
            }
          }
        }
      },
      "PhotoObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "album_id": {
            "type": "integer"
          },
          "owner_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "date": {
            "type": "integer"
          },
          "sizes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PhotosGetResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PhotoObject"
                }
              }
            }
          }
        }
      },
      "PhotosGetAlbumsResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "thumb_id": {
                      "type": "integer"
                    },
                    "owner_id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MessagesSendResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "integer",
            "description": "Message ID"
          }
        }
      },
      "MessagesGetHistoryResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "date": {
                      "type": "integer"
                    },
                    "peer_id": {
                      "type": "integer"
                    },
                    "from_id": {
                      "type": "integer"
                    },
                    "text": {
                      "type": "string"
                    },
                    "out": {
                      "type": "integer",
                      "description": "1 for outgoing, 0 for incoming"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "NewsfeedGetResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "source_id": {
                      "type": "integer"
                    },
                    "date": {
                      "type": "integer"
                    },
                    "post_id": {
                      "type": "integer"
                    },
                    "text": {
                      "type": "string"
                    }
                  }
                }
              },
              "profiles": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserObject"
                }
              },
              "groups": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GroupObject"
                }
              },
              "next_from": {
                "type": "string"
              }
            }
          }
        }
      },
      "LikesAddResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "likes": {
                "type": "integer",
                "description": "Total number of likes"
              }
            }
          }
        }
      },
      "VideoGetResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "owner_id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "integer"
                    },
                    "date": {
                      "type": "integer"
                    },
                    "views": {
                      "type": "integer"
                    },
                    "comments": {
                      "type": "integer"
                    },
                    "player": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
