{
  "openapi": "3.0.3",
  "info": {
    "title": "HouseBuddy API",
    "description": "Real estate open house and lead capture app API for managing open houses, visitors, and property listings.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://housebuddy.ai/api/public/api-docs"
  },
  "servers": [
    {
      "url": "https://api.housebuddy.ai/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Properties",
      "description": "Property management"
    },
    {
      "name": "Open Houses",
      "description": "Open house event management"
    },
    {
      "name": "Visitors",
      "description": "Visitor and lead management"
    },
    {
      "name": "Agents",
      "description": "Agent management"
    }
  ],
  "paths": {
    "/properties": {
      "get": {
        "tags": ["Properties"],
        "summary": "List properties",
        "operationId": "listProperties",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "sold", "pending", "off_market"]
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Property"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Properties"],
        "summary": "Create property",
        "operationId": "createProperty",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          }
        }
      }
    },
    "/properties/{propertyId}": {
      "get": {
        "tags": ["Properties"],
        "summary": "Get property",
        "operationId": "getProperty",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Properties"],
        "summary": "Update property",
        "operationId": "updateProperty",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          }
        }
      }
    },
    "/open-houses": {
      "get": {
        "tags": ["Open Houses"],
        "summary": "List open houses",
        "operationId": "listOpenHouses",
        "parameters": [
          {
            "name": "propertyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["upcoming", "active", "completed", "cancelled"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OpenHouse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Open Houses"],
        "summary": "Create open house",
        "operationId": "createOpenHouse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenHouseInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Open house created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenHouse"
                }
              }
            }
          }
        }
      }
    },
    "/open-houses/{openHouseId}": {
      "get": {
        "tags": ["Open Houses"],
        "summary": "Get open house",
        "operationId": "getOpenHouse",
        "parameters": [
          {
            "name": "openHouseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenHouse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Open Houses"],
        "summary": "Update open house",
        "operationId": "updateOpenHouse",
        "parameters": [
          {
            "name": "openHouseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenHouseInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open house updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenHouse"
                }
              }
            }
          }
        }
      }
    },
    "/visitors": {
      "get": {
        "tags": ["Visitors"],
        "summary": "List visitors",
        "operationId": "listVisitors",
        "parameters": [
          {
            "name": "openHouseId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Visitor"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Visitors"],
        "summary": "Check in visitor",
        "operationId": "checkInVisitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitorInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Visitor checked in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Visitor"
                }
              }
            }
          }
        }
      }
    },
    "/visitors/{visitorId}": {
      "get": {
        "tags": ["Visitors"],
        "summary": "Get visitor",
        "operationId": "getVisitor",
        "parameters": [
          {
            "name": "visitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Visitor"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "tags": ["Agents"],
        "summary": "List agents",
        "operationId": "listAgents",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}": {
      "get": {
        "tags": ["Agents"],
        "summary": "Get agent",
        "operationId": "getAgent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "Property": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "address": {"type": "string"},
          "city": {"type": "string"},
          "state": {"type": "string"},
          "zipCode": {"type": "string"},
          "price": {"type": "number"},
          "bedrooms": {"type": "integer"},
          "bathrooms": {"type": "number"},
          "squareFeet": {"type": "integer"},
          "status": {"type": "string", "enum": ["active", "sold", "pending", "off_market"]},
          "agentId": {"type": "string"},
          "mlsNumber": {"type": "string"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "PropertyInput": {
        "type": "object",
        "required": ["address", "city", "state", "price"],
        "properties": {
          "address": {"type": "string"},
          "city": {"type": "string"},
          "state": {"type": "string"},
          "zipCode": {"type": "string"},
          "price": {"type": "number"},
          "bedrooms": {"type": "integer"},
          "bathrooms": {"type": "number"},
          "squareFeet": {"type": "integer"},
          "status": {"type": "string", "enum": ["active", "sold", "pending", "off_market"]},
          "agentId": {"type": "string"},
          "mlsNumber": {"type": "string"}
        }
      },
      "OpenHouse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "propertyId": {"type": "string"},
          "agentId": {"type": "string"},
          "startTime": {"type": "string", "format": "date-time"},
          "endTime": {"type": "string", "format": "date-time"},
          "status": {"type": "string", "enum": ["upcoming", "active", "completed", "cancelled"]},
          "visitorCount": {"type": "integer"},
          "qrCode": {"type": "string"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "OpenHouseInput": {
        "type": "object",
        "required": ["propertyId", "startTime", "endTime"],
        "properties": {
          "propertyId": {"type": "string"},
          "agentId": {"type": "string"},
          "startTime": {"type": "string", "format": "date-time"},
          "endTime": {"type": "string", "format": "date-time"}
        }
      },
      "Visitor": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "openHouseId": {"type": "string"},
          "propertyId": {"type": "string"},
          "firstName": {"type": "string"},
          "lastName": {"type": "string"},
          "email": {"type": "string", "format": "email"},
          "phone": {"type": "string"},
          "notes": {"type": "string"},
          "checkInTime": {"type": "string", "format": "date-time"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "VisitorInput": {
        "type": "object",
        "required": ["openHouseId", "firstName", "lastName", "email"],
        "properties": {
          "openHouseId": {"type": "string"},
          "firstName": {"type": "string"},
          "lastName": {"type": "string"},
          "email": {"type": "string", "format": "email"},
          "phone": {"type": "string"},
          "notes": {"type": "string"}
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "email": {"type": "string", "format": "email"},
          "phone": {"type": "string"},
          "licenseNumber": {"type": "string"},
          "createdAt": {"type": "string", "format": "date-time"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {"type": "string"},
              "message": {"type": "string"}
            }
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
