{
  "openapi": "3.0.0",
  "info": {
    "description": "This API provides content for financial instutions participating in Mastercard Personalized Offers to use in online and mobile banking applications for cardholders.",
    "title": "Personalized Offers",
    "version": "1.3",
    "x-artifactId": "personalized-loyalty-offers",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/mastercard.com/PersonalizedLoyaltyOffers/1.3/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.mastercard.com/devzone/api/portal/swagger/personalized-offers",
        "version": "2.0"
      }
    ],
    "x-providerName": "mastercard.com",
    "x-serviceName": "PersonalizedLoyaltyOffers"
  },
  "servers": [
    {
      "url": "https://api.mastercard.com/plo/v1"
    }
  ],
  "paths": {
    "/activatestatementcreditoffer": {
      "post": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session identifier as returned by the UserToken resource.",
            "in": "query",
            "name": "UserToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "c7dcfca7-cf35-36b0-9e67-d4f363d643e0",
            "in": "query",
            "name": "OfferId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateOfferResponse"
                }
              }
            },
            "description": "This resource returns information about the activated offer."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Activate Statement Credit Offer"
        ],
        "description": "This resource is used to make a statement credit offer available for redemption.\n",
        "summary": "Make Statement Credit Offer Available Redeemable",
        "x-testable": false
      }
    },
    "/matchedoffers": {
      "get": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session identifier as returned by the UserToken resource.",
            "in": "query",
            "name": "UserToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When utilized with a multi-lingual implementation, may be the tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2 format.",
            "example": "en_US",
            "in": "query",
            "name": "Lang",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fuzzy term to search retailers with offers for the user. In general, searching of Matched Offers is not advised as users generally have a modest selection of highly relevant promotions.",
            "example": "Example.com",
            "in": "query",
            "name": "MerchantName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer Categories.",
            "example": "DEPARTMENTSTORE",
            "in": "query",
            "name": "Category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.",
            "example": "POSTPAIDCREDIT",
            "in": "query",
            "name": "OfferType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Segment of offers to return.",
            "example": 1,
            "in": "query",
            "name": "PageNumber",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Segment size of offer to be returned. Default is 25.",
            "example": 1,
            "in": "query",
            "name": "ItemsPerPage",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchedOffersResponse"
                }
              }
            },
            "description": "This resource returns offers that are available to the user and conform to the search criteria (if specified)."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Matched Offers"
        ],
        "description": "This resource returns offers that are available to the user and conform to the search criteria (if specified).\n",
        "summary": "Returns Matched Offers",
        "x-testable": false
      }
    },
    "/offerdetails": {
      "get": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session identifier as returned by the UserToken resource.",
            "example": "mh3WonUm5xmE",
            "in": "query",
            "name": "UserToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "c7dcfca7-cf35-36b0-9e67-d4f363d643e0",
            "in": "query",
            "name": "OfferId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDetailsResponse"
                }
              }
            },
            "description": "This resource returns extended information for the requested offer, typically used to display a detail view."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Offer Details"
        ],
        "description": "This resource returns extended information for the requested offer, typically used to display a detail view.\n",
        "summary": "Returns Information on an Offer",
        "x-testable": false
      }
    },
    "/redeemedoffers": {
      "get": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session identifier as returned by the UserToken resource.",
            "in": "query",
            "name": "UserToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When utilized with a multi-lingual implementation, may be the tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2 format.",
            "example": "en_US",
            "in": "query",
            "name": "Lang",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Segment of offers to return.",
            "example": 1,
            "in": "query",
            "name": "PageNumber",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Segment size of offer to be returned. Default is 25.",
            "example": 1,
            "in": "query",
            "name": "ItemsPerPage",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemedOffersResponse"
                }
              }
            },
            "description": "This resource returns offers that have been fulfilled by the user."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Redeemed Offers"
        ],
        "description": "This resource returns offers that have been fulfilled by the user.\n",
        "summary": "Returns Redeemed Offers",
        "x-testable": false
      }
    },
    "/statementcreditactivationdetail": {
      "get": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session identifier as returned by the UserToken resource.",
            "in": "query",
            "name": "UserToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Distinct identifier for the offer being available for redemption by the user as returned by Activate Statement Credit Offer or Redeemed Offers, not intended for end-user display.",
            "example": "TRU_1000136",
            "in": "query",
            "name": "ActivationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementCreditActivationResponse"
                }
              }
            },
            "description": "This resource returns extended information about the specified activated postpaid credit offer."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Statement Credit Activation Detail"
        ],
        "description": "This resource returns extended information about the specified activated postpaid credit offer.\n",
        "summary": "Returns Information About Redeemable Postpaid Credit Offer",
        "x-testable": false
      }
    },
    "/userfeedback": {
      "post": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session identifier as returned by the UserToken resource.",
            "in": "query",
            "name": "UserToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "d82e1e7c-c6b9-3b46-acd0-5498731c2838",
            "in": "query",
            "name": "OfferId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User response to the offer. 0- Dislike offer. 1- Like offer.",
            "example": 1,
            "in": "query",
            "name": "Feedback",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFeedbackResponse"
                }
              }
            },
            "description": "This resource returns the user rating of the specified offer."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "User Feedback"
        ],
        "description": "This resource allows a user to provide a thumbs-up or a thumbs-down rating of the specified offer. Offer matches that are disliked will be supressed from the results of future calls to Matched Offers.\n",
        "summary": "Provide User Feedback on Offer",
        "x-testable": false
      }
    },
    "/usersavings": {
      "get": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session identifier as returned by the UserToken resource.",
            "in": "query",
            "name": "UserToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSavingsResponse"
                }
              }
            },
            "description": "This resource returns the accumulated and potential savings for a Personalized Offers user."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "User Savings"
        ],
        "description": "This resource returns the accumulated and potential savings for a Personalized Offers user.\n",
        "summary": "Returns Savings for the User",
        "x-testable": false
      }
    },
    "/usertoken": {
      "get": {
        "parameters": [
          {
            "description": "Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.",
            "example": "999999",
            "in": "query",
            "name": "FId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authorization Information. AES 128-bit encrypted concatenation of \"User ID as specified in enrollment:FI ID as provided by Mastercard:current Unix time\". Key exchange and establishment of maintenance procedures occur during implementation.",
            "in": "query",
            "name": "AuthInfo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTokenResponse"
                }
              }
            },
            "description": "This resource returns the user session token (UserToken), which is a required input to all other API resources."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "User Token"
        ],
        "description": "This resource creates the user session. It must be called prior to any other API calls for the specified user. The Token value does not expire.\n",
        "summary": "Returns User Session Token",
        "x-testable": false
      }
    }
  },
  "components": {
    "schemas": {
      "ActivateOfferResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/ActivateResponse"
          }
        },
        "type": "object"
      },
      "ActivateResponse": {
        "properties": {
          "ScActivation": {
            "$ref": "#/components/schemas/ScActivation"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          }
        },
        "type": "object"
      },
      "ActivationResponse": {
        "properties": {
          "ScActivation": {
            "$ref": "#/components/schemas/ScActivation"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          }
        },
        "type": "object"
      },
      "DetailPostpaidCreditOffer": {
        "properties": {
          "CashBack": {
            "description": "Value of POSTPAIDCREDIT deal redemption.",
            "example": 10,
            "type": "string"
          },
          "CurrencyCode": {
            "description": "ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.",
            "example": "USD",
            "type": "string"
          },
          "MaxCashback": {
            "description": "The most cash back which a user can earn for the offer.",
            "example": 10,
            "type": "string"
          },
          "MinTransactionAmountToRedeem": {
            "description": "The smallest purchase amount that will qualify for redemption.",
            "example": 30,
            "type": "string"
          },
          "StatementCreditType": {
            "description": "Calculation kind of the redemption value. SPEND_CASH/VISIT_CASH- fixed value. SPEND_PERCENTAGE/VISIT_PERCENTAGE- share value.",
            "example": "SPEND_CASH",
            "type": "string"
          },
          "VisitThreshold": {
            "description": "The number of purchases required to qualify for redemption.",
            "example": 1,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Error": {
        "properties": {
          "ReasonCode": {
            "description": "This will identify the reason for the error.",
            "type": "string"
          },
          "Source": {
            "description": "This is the unique identifier that attempts to define the field in error when available.  If a specific field can't be identified System will be returned.",
            "example": "Atms.Atm.Location.Address.Line1",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "Errors": {
            "$ref": "#/components/schemas/Errors"
          }
        },
        "type": "object"
      },
      "Errors": {
        "properties": {
          "Error": {
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "FeedbackResponse": {
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "UserFeedback": {
            "$ref": "#/components/schemas/UserFeedback"
          }
        },
        "type": "object"
      },
      "Items": {
        "properties": {
          "MatchedOffer": {
            "$ref": "#/components/schemas/MatchedOffer"
          }
        },
        "type": "object"
      },
      "MatchedOffer": {
        "properties": {
          "ActiveSc": {
            "description": "ACTIVATED_STATEMENT_CREDIT- ready for redemption by the user. AVAILABLE- requires call to Activate Statement Credit Offer to make ready for redemption.",
            "example": "AVAILABLE",
            "type": "string"
          },
          "CurrencyCode": {
            "description": "ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.",
            "example": "USD",
            "type": "string"
          },
          "Discount": {
            "description": "The markdown represented by the offer, in absolute value or percentage.",
            "example": 20,
            "type": "string"
          },
          "DiscountType": {
            "description": "The kind of markdown represented by the offer. ABSOLUTE- fixed amount. PERCENTAGE- share of purchase.",
            "example": 20,
            "type": "string"
          },
          "EventEndDate": {
            "description": "Last day that redemption can be made.",
            "example": "2012-07-10",
            "format": "date",
            "type": "string"
          },
          "EventStartDate": {
            "description": "First day that redemption can be made by any user, may not apply to the specified user.",
            "example": "2012-05-10",
            "format": "date",
            "type": "string"
          },
          "Headline": {
            "description": "Brief details about the deal.",
            "example": "Shop at Example.com and get 20% back on purchase of $25 or more",
            "type": "string"
          },
          "Language": {
            "description": "Tongue of offer display text.",
            "example": "English",
            "type": "string"
          },
          "Merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "MerchantImageURL": {
            "description": "Square picture of the retailer logo.",
            "example": "https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png",
            "type": "string"
          },
          "OfferId": {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "c7dcfca7-cf35-36b0-9e67-d4f363d643e0",
            "type": "string"
          },
          "OfferSource": {
            "description": "Platform that made the offer available, not intended for end-user display.",
            "example": "Truaxis",
            "type": "string"
          },
          "OfferType": {
            "description": "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.",
            "example": "POSTPAIDCREDIT",
            "type": "string"
          },
          "Price": {
            "description": "Reserved for future use.",
            "example": 0,
            "type": "string"
          },
          "RedemptionMode": {
            "description": "Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.",
            "example": "CASH",
            "type": "string"
          },
          "ShortDescription": {
            "description": "Summary of the deal, typically displayed beneath the headline in a list view.",
            "example": "On your next purchase of $25 or more at Example.com online or at a store, receive 20% back posted to the card associated with this account.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MatchedOffersResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/MatchedResponse"
          }
        },
        "type": "object"
      },
      "MatchedResponse": {
        "properties": {
          "CurrentPage": {
            "description": "Count of current offer return segment.",
            "example": 1,
            "type": "integer"
          },
          "Items": {
            "$ref": "#/components/schemas/Items"
          },
          "ItemsPerPage": {
            "description": "Count of offers in the returned segment.",
            "example": 1,
            "type": "integer"
          },
          "NumberOfPages": {
            "description": "Count of offer return segments.",
            "example": 1,
            "type": "integer"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "TotalCount": {
            "description": "Count of all offers available for criteria.",
            "example": 8,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Merchant": {
        "properties": {
          "Category": {
            "description": "The type of retailer to which the offer applies.",
            "example": "DEPARTMENTSTORE",
            "type": "string"
          },
          "MerchantDistance": {
            "description": "Reserved for future use.",
            "example": 0,
            "type": "string"
          },
          "Name": {
            "description": "Display name for the retailer to which the offer applies.",
            "example": "Example.com",
            "type": "string"
          },
          "StoreLocatorUrl": {
            "description": "Web page where retailer outlets can be found.",
            "example": "http://www.example.com/locations/",
            "type": "string"
          },
          "WebsiteUrl": {
            "description": "The internet address of the retailer.",
            "example": "http://www.example.com/",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferDetails": {
        "properties": {
          "CurrencyCode": {
            "description": "ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.",
            "example": "USD",
            "type": "string"
          },
          "DetailPostpaidCreditOffer": {
            "$ref": "#/components/schemas/DetailPostpaidCreditOffer"
          },
          "EventEndDate": {
            "description": "Last day that redemption can be made.",
            "example": "2012-07-10",
            "format": "date",
            "type": "string"
          },
          "EventStartDate": {
            "description": "First day that redemption can be made by any user, may not apply to the specified user.",
            "example": "2012-05-10",
            "format": "date",
            "type": "string"
          },
          "Headline": {
            "description": "Brief details about the deal.",
            "example": "Shop at Example.com and get 20% back on purchase of $25 or more",
            "type": "string"
          },
          "Language": {
            "description": "Tongue of offer display text.",
            "example": "English",
            "type": "string"
          },
          "LinkOut": {
            "description": "Deprecated."
          },
          "LongDescription": {
            "description": "Explanation of the deal, typically displayed beneath the headline in a detail view. Often the same as the ShortDescription.",
            "example": "On your next purchase of $30 or more at Example.com online or at a store, receive $10.00 back posted to the card associated with this account.",
            "type": "string"
          },
          "Merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "OfferDisplay": {
            "$ref": "#/components/schemas/OfferDisplay"
          },
          "OfferId": {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "c7dcfca7-cf35-36b0-9e67-d4f363d643e0",
            "type": "string"
          },
          "OfferMedia": {
            "$ref": "#/components/schemas/OfferMedia"
          },
          "OfferSource": {
            "description": "Platform that made the offer available, not intended for end-user display.",
            "example": "Truaxis",
            "type": "string"
          },
          "OfferType": {
            "description": "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.",
            "example": "POSTPAIDCREDIT",
            "type": "string"
          },
          "OfferUrl": {
            "description": "Deprecated."
          },
          "RedemptionMode": {
            "description": "Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.",
            "example": "CASH",
            "type": "string"
          },
          "RedemptionType": {
            "description": "Where a purchase may be made to qualify for the offer- INSTORE, ONLINE, or ONLINE-INSTORE (either).",
            "example": "ONLINE-INSTORE",
            "type": "string"
          },
          "ShortDescription": {
            "description": "Summary of the deal, typically displayed beneath the headline in a list view.",
            "example": "On your next purchase of $25 or more at Example.com online or at a store, receive 20% back posted to the card associated with this account.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferDetailsResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/OfferResponse"
          }
        },
        "type": "object"
      },
      "OfferDisplay": {
        "properties": {
          "DetailedTerms": {
            "description": "Conditions required for successful redemption of the offer.",
            "example": "Offer is non-transferable and applies to one purchase of a min. of $30 online or in store charged to your card by the expiration date.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferImages": {
        "properties": {
          "AltText": {
            "description": "Description of a picture or graphic that may be displayed along with the offer information.",
            "example": "Example.com",
            "type": "string"
          },
          "Description": {
            "description": "Verbal details of the image, may be used for accessiblity.",
            "example": "The logo for Example.com",
            "type": "string"
          },
          "ImageUrl": {
            "description": "A picture or graphic that may be displayed along with the offer information.",
            "example": "https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferMedia": {
        "properties": {
          "OfferImages": {
            "items": {
              "$ref": "#/components/schemas/OfferImages"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OfferResponse": {
        "properties": {
          "OfferDetails": {
            "$ref": "#/components/schemas/OfferDetails"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          }
        },
        "type": "object"
      },
      "PrepaidOfferSavings": {
        "properties": {
          "AmountSaved": {
            "description": "Deprecated.",
            "example": 0,
            "type": "string"
          },
          "NumAvailable": {
            "description": "Deprecated.",
            "example": 0,
            "type": "string"
          },
          "NumPurchased": {
            "description": "Deprecated.",
            "example": 0,
            "type": "string"
          },
          "PotentialSavings": {
            "description": "Deprecated.",
            "example": 0,
            "type": "string"
          }
        },
        "type": "object"
      },
      "RedeemedOffersResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/ReedemedResponse"
          }
        },
        "type": "object"
      },
      "RedemedItems": {
        "properties": {
          "RedemedOffer": {
            "$ref": "#/components/schemas/RedemedOffer"
          }
        },
        "type": "object"
      },
      "RedemedOffer": {
        "properties": {
          "ActivationDate": {
            "description": "Day on which the offer became ready for redemption.",
            "example": "2015-10-15",
            "format": "date",
            "type": "string"
          },
          "ActivationId": {
            "description": "Distinct identifier for the offer being available for redemption by the user, not intended for end-user display.",
            "example": "TRU_1000136",
            "type": "string"
          },
          "CurrencyCode": {
            "description": "ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.",
            "example": "USD",
            "type": "string"
          },
          "DetailPostpaidCreditOffer": {
            "$ref": "#/components/schemas/DetailPostpaidCreditOffer"
          },
          "EventEndDate": {
            "description": "Last day that redemption can be made.",
            "example": "2012-07-10",
            "format": "date",
            "type": "string"
          },
          "EventStartDate": {
            "description": "First day that redemption can be made.",
            "example": "2012-05-10",
            "format": "date",
            "type": "string"
          },
          "Headline": {
            "description": "Brief details about the deal.",
            "example": "Shop at Example.com and get 20% back on purchase of $25 or more",
            "type": "string"
          },
          "Language": {
            "description": "Tongue of offer display text.",
            "example": "English",
            "type": "string"
          },
          "LinkoutUrl": {
            "description": "Deprecated, disregard.",
            "type": "string"
          },
          "LongDescription": {
            "description": "Explanation of the deal, typically displayed beneath the headline in a detail view. Often the same as the ShortDescription.",
            "example": "On your next purchase of $30 or more at Example.com online or at a store, receive $10.00 back posted to the card associated with this account.",
            "type": "string"
          },
          "MaxUserRedemptions": {
            "description": "The number of times that the cardholder may take advantage of this offer.",
            "example": 1,
            "type": "integer"
          },
          "Merchant": {
            "$ref": "#/components/schemas/RedemedOfferMerchant"
          },
          "OfferDisplay": {
            "$ref": "#/components/schemas/OfferDisplay"
          },
          "OfferId": {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "c7dcfca7-cf35-36b0-9e67-d4f363d643e0",
            "type": "string"
          },
          "OfferMedia": {
            "$ref": "#/components/schemas/OfferMedia"
          },
          "OfferSource": {
            "description": "Platform that made the offer available, not intended for end-user display.",
            "example": "Truaxis",
            "type": "string"
          },
          "OfferType": {
            "description": "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.",
            "example": "POSTPAIDCREDIT",
            "type": "string"
          },
          "OfferUrl": {
            "description": "Deprecated, disregard.",
            "type": "string"
          },
          "RedemptionMode": {
            "description": "Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.",
            "example": "CASH",
            "type": "string"
          },
          "RedemptionType": {
            "description": "Where a purchase may be made to qualify for the offer- INSTORE, ONLINE, or ONLINE-INSTORE (either).",
            "example": "ONLINE-INSTORE",
            "type": "string"
          },
          "ShortDescription": {
            "description": "Summary of the deal, typically displayed beneath the headline in a list view.",
            "example": "On your next purchase of $30 or more at Example.com inline or at a store, receive $10.00 back posted to the card associated with this account.",
            "type": "string"
          },
          "Transactions": {
            "$ref": "#/components/schemas/Transaction"
          }
        },
        "type": "object"
      },
      "RedemedOfferMerchant": {
        "properties": {
          "Category": {
            "description": "The type of retailer to which the offer applies, not intended for end-user display.",
            "example": "DEPARTMENTSTORE",
            "type": "string"
          },
          "MerchantDistance": {
            "description": "Reserved for future use.",
            "example": 0,
            "type": "number"
          },
          "Name": {
            "description": "Display name for the retailer to which the offer applies.",
            "example": "Example.com",
            "type": "string"
          },
          "StoreLocatorUrl": {
            "description": "Web page where retailer outlets can be found.",
            "example": "http://www.example.com/locations/",
            "type": "string"
          },
          "WebsiteUrl": {
            "description": "The internet address of the retailer.",
            "example": "http://www.example.com/",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReedemedResponse": {
        "properties": {
          "CurrentPage": {
            "description": "Count of current offer return segment.",
            "example": 1,
            "type": "integer"
          },
          "Items": {
            "$ref": "#/components/schemas/RedemedItems"
          },
          "ItemsPerPage": {
            "description": "Count of offers in the returned segment.",
            "example": 1,
            "type": "integer"
          },
          "NumberOfPages": {
            "description": "Count of offer return segments.",
            "example": 1,
            "type": "integer"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "TotalCount": {
            "description": "Count of all offers available for criteria.",
            "example": 8,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SavingsResponse": {
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "UserSavings": {
            "$ref": "#/components/schemas/UserSavings"
          }
        },
        "type": "object"
      },
      "ScActivation": {
        "properties": {
          "ActivationDate": {
            "description": "Day on which the offer became ready for redemption.",
            "example": "2015-10-15",
            "format": "date",
            "type": "string"
          },
          "ActivationId": {
            "description": "Distinct identifier for the offer being available for redemption by the user, not intended for end-user display.",
            "example": "TRU_1000136",
            "type": "string"
          },
          "CashBack": {
            "description": "Value earned upon fulfillment of offer conditions, not applicable to points activations.",
            "example": 0,
            "type": "string"
          },
          "DaysRemaining": {
            "description": "Number of days until the offer expires.",
            "example": 13,
            "type": "string"
          },
          "Headline": {
            "description": "Brief details about the deal.",
            "example": "Shop at Example.com and get $10.00 back on purchase of $30 or more",
            "type": "string"
          },
          "Merchant": {
            "description": "Display name for the retailer to which the offer applies.",
            "example": "Example.com",
            "type": "string"
          },
          "MerchantLogo": {
            "description": "Square retailer brand image.",
            "example": "https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png",
            "type": "string"
          },
          "OfferId": {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "c7dcfca7-cf35-36b0-9e67-d4f363d643e0",
            "type": "string"
          },
          "PointsEarned": {
            "description": "Value earned upon fulfillment of offer conditions, not applicable to cash activations.",
            "example": 0,
            "type": "string"
          },
          "RedemptionEndDate": {
            "description": "Last day on which a purchase will qualify for the offer.",
            "example": "2015-10-29",
            "format": "date",
            "type": "string"
          },
          "RedemptionMode": {
            "description": "Type of credit made upon redemption of the offer- CASH or POINTS.",
            "example": "CASH",
            "type": "string"
          },
          "RemainingSpend": {
            "description": "Purchase amount still required to redeem the offer.",
            "example": 30,
            "type": "string"
          },
          "ShortDescription": {
            "description": "Summary of the deal, typically displayed beneath the headline in a list view.",
            "example": "On your next purchase of $30 or more at Example.com inline or at a store, receive $10.00 back posted to the card associated with this account.",
            "type": "string"
          },
          "Status": {
            "description": "Disposition of offer- ACTIVATED, REDEEMED, CREDIT_DECLINED.",
            "example": "ACTIVATED",
            "type": "string"
          },
          "TotalSpend": {
            "description": "Count of purchases user made to redeem the offer.",
            "example": 0,
            "type": "string"
          }
        },
        "type": "object"
      },
      "StatementCreditActivationResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/ActivationResponse"
          }
        },
        "type": "object"
      },
      "StatementCreditOffersSavings": {
        "properties": {
          "EarnedCashback": {
            "description": "Value of postpaid credit deal redemptions.",
            "example": 21,
            "type": "string"
          },
          "NumAvailable": {
            "description": "Count of postpaid credit deals that are ready for activation or redemption.",
            "example": 0,
            "type": "string"
          },
          "NumRedeemed": {
            "description": "Count of postpaid credit deals redeemed.",
            "example": 1,
            "type": "string"
          },
          "PotentialSavings": {
            "description": "Minimum value of unredeemed postpaid credit deals.",
            "example": 195,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Status": {
        "properties": {
          "Code": {
            "description": "Status Code",
            "example": 600,
            "type": "string"
          },
          "Message": {
            "description": "Success or Failure",
            "example": "Success",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TokenResponse": {
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "UserToken": {
            "$ref": "#/components/schemas/UserToken"
          }
        },
        "type": "object"
      },
      "Transaction": {
        "properties": {
          "CashBackEarned": {
            "description": "Value earned upon fulfillment of offer conditions, not applicable to points activations.",
            "example": 0,
            "type": "string"
          },
          "PointsEarned": {
            "description": "Value earned upon fulfillment of offer conditions, not applicable to cash activations.",
            "example": 0,
            "type": "string"
          },
          "RedemptionDate": {
            "description": "The day on which a purchase fulfilled the offer.",
            "example": "2015-10-12",
            "format": "date",
            "type": "string"
          },
          "TransactionAmount": {
            "description": "Value of the purchase that fulfilled the offer, decimal is implied.",
            "example": 12,
            "type": "string"
          }
        },
        "type": "object"
      },
      "UserFeedback": {
        "properties": {
          "Feedback": {
            "description": "Response provided by the user.",
            "example": 1,
            "type": "string"
          },
          "OfferId": {
            "description": "System-wide identifier for the campaign, not intended for end-user display.",
            "example": "c7dcfca7-cf35-36b0-9e67-d4f363d643e0",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UserFeedbackResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/FeedbackResponse"
          }
        },
        "type": "object"
      },
      "UserSavings": {
        "properties": {
          "PrepaidOfferSavings": {
            "$ref": "#/components/schemas/PrepaidOfferSavings"
          },
          "StatementCreditOffersSavings": {
            "$ref": "#/components/schemas/StatementCreditOffersSavings"
          },
          "TotalAmountSaved": {
            "description": "Combined value of purchased and redeemed deals.",
            "example": 21,
            "type": "string"
          },
          "TotalOffersUsed": {
            "description": "Combined count of purchased and redeemed deals.",
            "example": 1,
            "type": "string"
          }
        },
        "type": "object"
      },
      "UserSavingsResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/SavingsResponse"
          }
        },
        "type": "object"
      },
      "UserToken": {
        "properties": {
          "Token": {
            "description": "Session identifier that is passed for subsequent API calls.",
            "example": "mh3WonUm5xmE",
            "type": "string"
          }
        },
        "type": "object"
      },
      "UserTokenResponse": {
        "properties": {
          "Response": {
            "$ref": "#/components/schemas/TokenResponse"
          }
        },
        "type": "object"
      }
    }
  }
}