{
  "openapi": "3.0.0",
  "info": {
    "description": "<p>Make use of our in-depth documentation to get more information about the various functions of the service. Those willing to explore the mechanics of Data2CRM.API can test it in live regime using the short code samples.</p><p>Select CRM: <span id=\"docs-select-crm\" style=\"font-weight: bold\">Loading... please wait</span></p><p>Here are the API access keys:<br><b>X-API2CRM-USER-KEY</b>: <span id=\"docs-user-key\">e2a6379ab878ae7e58119d4ec842bf9c</span><br><b>X-API2CRM-APPLICATION-KEY</b>: <span id=\"docs-crm-key\">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p id=\"docs-crm-access\">The CRM access details are:<br><b>URL</b>: <a id=\"docs-crm-url\" href=\"https://login.salesforce.com/\" target=\"_blank\">https://login.salesforce.com/</a><br><b>E-mail / Username</b>: <span id=\"docs-crm-username\">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>: <span id=\"docs-crm-password\">data2crmapi123</span></p>",
    "title": "Data2CRM.API",
    "version": "1",
    "x-jentic-source-url": "https://app.api2crm.com/swagger/spec/data2crm_api.json"
  },
  "servers": [
    {
      "url": "https://api-2445581398133.apicast.io:443/v1"
    }
  ],
  "paths": {
    "/application": {
      "post": {
        "parameters": [
          {
            "description": "API2CRM user key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationEntityRelation"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "application"
        ],
        "description": "Add application into the system",
        "operationId": "createApplicationEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationEntityWrite"
              }
            }
          },
          "description": "Add application into the system",
          "required": true
        },
        "summary": "POST for application"
      }
    },
    "/application/count": {
      "get": {
        "parameters": [
          {
            "description": "API2CRM user key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "application"
        ],
        "description": "Count all applications from the system",
        "operationId": "getApplicationCountCollection",
        "summary": "COUNT for application"
      }
    },
    "/application/entity/account": {
      "post": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEntityRelation"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Add account into the system",
        "operationId": "createAccountEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntity"
              }
            }
          },
          "description": "Add account into the system",
          "required": true
        },
        "summary": "POST for account"
      }
    },
    "/application/entity/account/aggregate": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pipeline",
            "in": "query",
            "name": "pipeline",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aggregate"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Returns aggregate for accounts",
        "operationId": "getAccountAggregate",
        "summary": "AGGREGATE for account"
      }
    },
    "/application/entity/account/bulk": {
      "delete": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntity"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "",
        "operationId": "deleteAccountCollectionBulk",
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkEntity"
        },
        "summary": "DELETE bulk  for account"
      },
      "post": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntityRelation"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Add account into the system",
        "operationId": "createAccountEntityBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEntity"
              }
            }
          },
          "description": "Add account into the system",
          "required": true
        },
        "summary": "POST bulk  for account"
      },
      "put": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntityRelation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "account"
        ],
        "description": "",
        "operationId": "updateAccountEntityBulk",
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkEntity"
        },
        "summary": "PUT bulk  for account"
      }
    },
    "/application/entity/account/count": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Count all accounts from the system",
        "operationId": "getAccountCountCollection",
        "summary": "COUNT for account"
      }
    },
    "/application/entity/account/describe": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDescribe"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Returns describe for accounts",
        "operationId": "getAccountDescribe",
        "summary": "DESCRIBE for account"
      }
    },
    "/application/entity/account/list": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Amount of results (default: 25)",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to show (default: 1)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies ascending or descending sort on existing fields",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Find all unique values for selected field",
            "in": "query",
            "name": "unique",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AccountEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Returns all accounts from the system",
        "operationId": "getAccountCollection",
        "summary": "GET for account"
      }
    },
    "/application/entity/account/{account_id}": {
      "delete": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Account Identifier",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Delete account information",
        "operationId": "deleteAccountEntity",
        "summary": "DELETE for account"
      },
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Account Identifier",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEntity"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Return account information",
        "operationId": "getAccountEntity",
        "summary": "GET for account"
      },
      "put": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Account Identifier",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEntityRelation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Update account information",
        "operationId": "updateAccountEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntity"
              }
            }
          },
          "description": "Update account information",
          "required": true
        },
        "summary": "PUT for account"
      }
    },
    "/application/entity/attachment": {
      "post": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentEntityRelation"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Add attachment into the system",
        "operationId": "createAttachmentEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentEntityWrite"
              }
            }
          },
          "description": "Add attachment into the system",
          "required": true
        },
        "summary": "POST for attachment"
      }
    },
    "/application/entity/attachment/aggregate": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pipeline",
            "in": "query",
            "name": "pipeline",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aggregate"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Returns aggregate for attachments",
        "operationId": "getAttachmentAggregate",
        "summary": "AGGREGATE for attachment"
      }
    },
    "/application/entity/attachment/bulk": {
      "delete": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntity"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "deleteAttachmentCollectionBulk",
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkEntity"
        },
        "summary": "DELETE bulk  for attachment"
      },
      "post": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntityRelation"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Add attachment into the system",
        "operationId": "createAttachmentEntityBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEntity"
              }
            }
          },
          "description": "Add attachment into the system",
          "required": true
        },
        "summary": "POST bulk  for attachment"
      },
      "put": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntityRelation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "updateAttachmentEntityBulk",
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkEntity"
        },
        "summary": "PUT bulk  for attachment"
      }
    },
    "/application/entity/attachment/count": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Count all attachments from the system",
        "operationId": "getAttachmentCountCollection",
        "summary": "COUNT for attachment"
      }
    },
    "/application/entity/attachment/describe": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentDescribe"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Returns describe for attachments",
        "operationId": "getAttachmentDescribe",
        "summary": "DESCRIBE for attachment"
      }
    },
    "/application/entity/attachment/list": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Amount of results (default: 25)",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to show (default: 1)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies ascending or descending sort on existing fields",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Find all unique values for selected field",
            "in": "query",
            "name": "unique",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AttachmentEntityList"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Returns all attachments from the system",
        "operationId": "getAttachmentCollection",
        "summary": "GET for attachment"
      }
    },
    "/application/entity/attachment/{attachment_id}": {
      "delete": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Attachment Identifier",
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Delete attachment information",
        "operationId": "deleteAttachmentEntity",
        "summary": "DELETE for attachment"
      },
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Attachment Identifier",
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentEntity"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Return attachment information",
        "operationId": "getAttachmentEntity",
        "summary": "GET for attachment"
      },
      "put": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Attachment Identifier",
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentEntityRelation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "Update attachment information",
        "operationId": "updateAttachmentEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentEntityWrite"
              }
            }
          },
          "description": "Update attachment information",
          "required": true
        },
        "summary": "PUT for attachment"
      }
    },
    "/application/entity/call": {
      "post": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallEntityRelation"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "call"
        ],
        "description": "Add call into the system",
        "operationId": "createCallEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallEntity"
              }
            }
          },
          "description": "Add call into the system",
          "required": true
        },
        "summary": "POST for call"
      }
    },
    "/application/entity/call/aggregate": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pipeline",
            "in": "query",
            "name": "pipeline",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aggregate"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "call"
        ],
        "description": "Returns aggregate for calls",
        "operationId": "getCallAggregate",
        "summary": "AGGREGATE for call"
      }
    },
    "/application/entity/call/bulk": {
      "delete": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntity"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "call"
        ],
        "description": "",
        "operationId": "deleteCallCollectionBulk",
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkEntity"
        },
        "summary": "DELETE bulk  for call"
      },
      "post": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntityRelation"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "call"
        ],
        "description": "Add call into the system",
        "operationId": "createCallEntityBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEntity"
              }
            }
          },
          "description": "Add call into the system",
          "required": true
        },
        "summary": "POST bulk  for call"
      },
      "put": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEntityRelation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "tags": [
          "call"
        ],
        "description": "",
        "operationId": "updateCallEntityBulk",
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkEntity"
        },
        "summary": "PUT bulk  for call"
      }
    },
    "/application/entity/call/count": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "call"
        ],
        "description": "Count all calls from the system",
        "operationId": "getCallCountCollection",
        "summary": "COUNT for call"
      }
    },
    "/application/entity/call/describe": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallDescribe"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "call"
        ],
        "description": "Returns describe for calls",
        "operationId": "getCallDescribe",
        "summary": "DESCRIBE for call"
      }
    },
    "/application/entity/call/list": {
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "true; true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Amount of results (default: 25)",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to show (default: 1)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies ascending or descending sort on existing fields",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Find all unique values for selected field",
            "in": "query",
            "name": "unique",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CallEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "call"
        ],
        "description": "Returns all calls from the system",
        "operationId": "getCallCollection",
        "summary": "GET for call"
      }
    },
    "/application/entity/call/{call_id}": {
      "delete": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Call Identifier",
            "in": "path",
            "name": "call_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "call"
        ],
        "description": "Delete call information",
        "operationId": "deleteCallEntity",
        "summary": "DELETE for call"
      },
      "get": {
        "parameters": [
          {
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "schema": {
              "default": "e2a6379ab878ae7e58119d4ec842bf9c",
              "type": "string"
            }
          },
          {
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "schema": {
              "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
              "type": "string"
            }
          },
          {
            "description": "Return native response",
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Enable",
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Create",
            "in": "header",
            "name": "X-API2CRM-DATA-CREATE",
            "required": false,
            "schema": {
              "enum": [
                "false",
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Version",
            "in": "header",
            "name": "X-API2CRM-DATA-VERSION",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data Is Final",
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Data Strategy",
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "schema": {
              "enum": [
                "simple"
              ],
              "type": "string"
            }
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Describe Create",
[...]
