{
  "openapi": "3.0.3",
  "info": {
    "title": "Stability AI API",
    "description": "The Stability AI REST API provides endpoints for image generation, editing, upscaling, 3D model generation, and account management. The API supports both v1 (engine-based) and v2beta (stable-image) endpoint patterns.",
    "version": "2.0",
    "x-jentic-source-url": "https://platform.stability.ai/docs/api-reference",
    "contact": {
      "name": "Stability AI",
      "url": "https://stability.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.stability.ai"
    }
  ],
  "paths": {
    "/v2beta/stable-image/generate/ultra": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate image using Stable Image Ultra",
        "description": "Generate a high-quality image using Stable Image Ultra. Supports text-to-image and image-to-image generation.",
        "operationId": "generateStableImageUltra",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UltraGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/generate/core": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate image using Stable Image Core",
        "description": "Generate an image using Stable Image Core. A fast, high-quality generation model suitable for most use cases.",
        "operationId": "generateStableImageCore",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CoreGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/generate/sd3": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate image using Stable Diffusion 3",
        "description": "Generate an image using Stable Diffusion 3. Supports text-to-image and image-to-image modes with multiple model variants (sd3-medium, sd3-large, sd3-large-turbo).",
        "operationId": "generateStableDiffusion3",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SD3GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/upscale/fast": {
      "post": {
        "tags": [
          "Upscale"
        ],
        "summary": "Upscale image using Fast Upscaler",
        "description": "Quickly upscale an image using the fast upscaler. Returns the result synchronously.",
        "operationId": "upscaleImageFast",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FastUpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upscaled image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/upscale/conservative": {
      "post": {
        "tags": [
          "Upscale"
        ],
        "summary": "Upscale image using Conservative Upscaler",
        "description": "Upscale an image while preserving original details using the conservative upscaler. Returns the result synchronously.",
        "operationId": "upscaleImageConservative",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ConservativeUpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upscaled image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/upscale/creative": {
      "post": {
        "tags": [
          "Upscale"
        ],
        "summary": "Start Creative Upscale",
        "description": "Start an asynchronous creative upscale job that reimagines the image at higher resolution. Returns a generation ID to poll for results.",
        "operationId": "upscaleImageCreativeStart",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreativeUpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creative upscale job started. Use the returned generation ID to fetch the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/upscale/creative/result/{id}": {
      "get": {
        "tags": [
          "Upscale",
          "Results"
        ],
        "summary": "Fetch Creative Upscale result",
        "description": "Fetch the result of a creative upscale job by its generation ID. Returns 202 if still processing.",
        "operationId": "getCreativeUpscaleResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The generation ID returned from the creative upscale start request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upscaled image is ready",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "202": {
            "description": "Generation is still in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid generation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/edit/inpaint": {
      "post": {
        "tags": [
          "Edit"
        ],
        "summary": "Inpaint an image",
        "description": "Fill in masked areas of an image using AI. Provide a source image, a mask, and an optional text prompt to guide the inpainting.",
        "operationId": "editImageInpaint",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/InpaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inpainted image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/edit/outpaint": {
      "post": {
        "tags": [
          "Edit"
        ],
        "summary": "Outpaint an image",
        "description": "Extend an image beyond its original boundaries. Specify the number of pixels to extend in each direction.",
        "operationId": "editImageOutpaint",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OutpaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Outpainted image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/edit/erase": {
      "post": {
        "tags": [
          "Edit"
        ],
        "summary": "Erase objects from an image",
        "description": "Remove objects from an image by providing a mask indicating the region to erase. The erased area is filled in naturally.",
        "operationId": "editImageErase",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EraseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image with erased region returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/edit/search-and-replace": {
      "post": {
        "tags": [
          "Edit"
        ],
        "summary": "Search and replace objects in an image",
        "description": "Automatically locate and replace an object in an image using natural language descriptions. No mask required.",
        "operationId": "editImageSearchAndReplace",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SearchAndReplaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/edit/search-and-recolor": {
      "post": {
        "tags": [
          "Edit"
        ],
        "summary": "Search and recolor objects in an image",
        "description": "Automatically locate an object in an image using a text description and recolor it according to a prompt.",
        "operationId": "editImageSearchAndRecolor",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SearchAndRecolorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recolored image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/edit/remove-background": {
      "post": {
        "tags": [
          "Edit"
        ],
        "summary": "Remove background from an image",
        "description": "Remove the background from an image, returning the foreground subject with a transparent background.",
        "operationId": "editImageRemoveBackground",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image with background removed",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/edit/replace-background-and-relight": {
      "post": {
        "tags": [
          "Edit"
        ],
        "summary": "Replace background and relight an image",
        "description": "Replace the background of an image and adjust lighting to match the new scene. Combines background removal with scene generation and relighting.",
        "operationId": "editImageReplaceBackgroundAndRelight",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBackgroundAndRelightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image with replaced background and adjusted lighting",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/control/sketch": {
      "post": {
        "tags": [
          "Control"
        ],
        "summary": "Generate image from sketch",
        "description": "Generate an image guided by a sketch or line drawing. The sketch provides structural guidance for the generated image.",
        "operationId": "controlImageSketch",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ControlSketchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/control/structure": {
      "post": {
        "tags": [
          "Control"
        ],
        "summary": "Generate image from structure reference",
        "description": "Generate an image guided by a structural reference image. Preserves the spatial layout and depth of the reference.",
        "operationId": "controlImageStructure",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ControlStructureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/stable-image/control/style": {
      "post": {
        "tags": [
          "Control"
        ],
        "summary": "Generate image from style reference",
        "description": "Generate an image guided by a style reference image. Applies the artistic style of the reference to the generated output.",
        "operationId": "controlImageStyle",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ControlStyleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image returned successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/3d/stable-fast-3d": {
      "post": {
        "tags": [
          "3D"
        ],
        "summary": "Generate 3D model with Stable Fast 3D",
        "description": "Generate a 3D model from a single image using Stable Fast 3D. Returns a GLB file.",
        "operationId": "generate3dStableFast3d",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StableFast3dRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "3D model generated successfully",
            "content": {
              "model/gltf-binary": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/3d/stable-point-aware-3d": {
      "post": {
        "tags": [
          "3D"
        ],
        "summary": "Generate 3D model with Stable Point-Aware 3D",
        "description": "Generate a high-quality 3D model from a single image using Stable Point-Aware 3D (SPA3D). Returns a GLB file.",
        "operationId": "generate3dStablePointAware3d",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StablePointAware3dRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "3D model generated successfully",
            "content": {
              "model/gltf-binary": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/results/{id}": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Fetch async generation result",
        "description": "Fetch the result of any asynchronous generation by its ID. Returns 202 if still processing.",
        "operationId": "getAsyncGenerationResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The generation ID returned from an async generation request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation result is ready",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "202": {
            "description": "Generation is still in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid generation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/generation/{engine_id}/text-to-image": {
      "post": {
        "tags": [
          "v1 Generation"
        ],
        "summary": "Generate image from text (v1)",
        "description": "Generate an image from a text prompt using a specified engine. This is the legacy v1 endpoint.",
        "operationId": "v1GenerateTextToImage",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "required": true,
            "description": "The engine to use for generation (e.g., stable-diffusion-xl-1024-v1-0).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1TextToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image(s) generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/generation/{engine_id}/image-to-image": {
      "post": {
        "tags": [
          "v1 Generation"
        ],
        "summary": "Generate image from image (v1)",
        "description": "Generate a new image from an existing image and text prompt using a specified engine. This is the legacy v1 endpoint.",
        "operationId": "v1GenerateImageToImage",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "required": true,
            "description": "The engine to use for generation (e.g., stable-diffusion-xl-1024-v1-0).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/V1ImageToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image(s) generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/generation/{engine_id}/image-to-image/upscale": {
      "post": {
        "tags": [
          "v1 Generation"
        ],
        "summary": "Upscale image (v1)",
        "description": "Upscale an image using a specified engine. This is the legacy v1 endpoint.",
        "operationId": "v1UpscaleImage",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "required": true,
            "description": "The engine to use for upscaling (e.g., esrgan-v1-x2plus).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/V1UpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upscaled image returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/generation/{engine_id}/image-to-image/masking": {
      "post": {
        "tags": [
          "v1 Generation"
        ],
        "summary": "Inpaint image with mask (v1)",
        "description": "Modify portions of an image using a mask and text prompt. This is the legacy v1 inpainting endpoint.",
        "operationId": "v1MaskImage",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "required": true,
            "description": "The engine to use for masking (e.g., stable-diffusion-xl-1024-v1-0).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/V1MaskingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inpainted image returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content moderation filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/engines/list": {
      "get": {
        "tags": [
          "Engines"
        ],
        "summary": "List available engines",
        "description": "List all engines available to your organization.",
        "operationId": "listEngines",
        "responses": {
          "200": {
            "description": "List of engines returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/account": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user account information",
        "description": "Get the account information associated with the current API key.",
        "operationId": "getUserAccount",
        "responses": {
          "200": {
            "description": "Account information returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/balance": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user credit balance",
        "description": "Get the credit balance for the account associated with the current API key.",
        "operationId": "getUserBalance",
        "responses": {
          "200": {
            "description": "Balance information returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication. Obtain your key from https://platform.stability.ai/account/keys. Pass as: Authorization: Bearer <your-api-key>"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique error identifier"
          },
          "name": {
            "type": "string",
            "description": "Error name/type"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        },
        "required": [
          "id",
          "name",
          "message"
        ]
      },
      "ImageResponse": {
        "type": "object",
        "description": "Response containing a base64-encoded image when Accept header is application/json.",
        "properties": {
          "image": {
            "type": "string",
            "description": "Base64-encoded image data"
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "CONTENT_FILTERED"
            ],
            "description": "The reason the generation finished"
          },
          "seed": {
            "type": "integer",
            "description": "The seed used for generation"
          }
        },
        "required": [
          "image",
          "finish_reason",
          "seed"
        ]
      },
      "AsyncGenerationResponse": {
        "type": "object",
        "description": "Response from an asynchronous generation request containing the generation ID.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The generation ID to use for polling the result"
          },
          "status": {
            "type": "string",
            "description": "Current status of the generation"
          }
        },
        "required": [
          "id"
        ]
      },
      "UltraGenerateRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired image. Maximum 10000 characters.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude from the image.",
            "maxLength": 10000
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Optional reference image for image-to-image generation."
          },
          "strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "How much influence the reference image has (0 = no influence, 1 = full influence). Only used with image."
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "1:1",
              "21:9",
              "2:3",
              "3:2",
              "4:5",
              "5:4",
              "9:16",
              "9:21"
            ],
            "default": "1:1",
            "description": "Aspect ratio for the generated image."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility. Use 0 for a random seed."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "prompt"
        ]
      },
      "CoreGenerateRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired image. Maximum 10000 characters.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude from the image.",
            "maxLength": 10000
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Optional reference image for image-to-image generation."
          },
          "strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "How much influence the reference image has. Only used with image."
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "1:1",
              "21:9",
              "2:3",
              "3:2",
              "4:5",
              "5:4",
              "9:16",
              "9:21"
            ],
            "default": "1:1",
            "description": "Aspect ratio for the generated image."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "style_preset": {
            "type": "string",
            "enum": [
              "3d-model",
              "analog-film",
              "anime",
              "cinematic",
              "comic-book",
              "digital-art",
              "enhance",
              "fantasy-art",
              "isometric",
              "line-art",
              "low-poly",
              "modeling-compound",
              "neon-punk",
              "origami",
              "photographic",
              "pixel-art",
              "tile-texture"
            ],
            "description": "Preset style to guide image generation."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "prompt"
        ]
      },
      "SD3GenerateRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired image. Maximum 10000 characters.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude from the image.",
            "maxLength": 10000
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Optional reference image for image-to-image generation."
          },
          "strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "How much influence the reference image has. Only used with image."
          },
          "model": {
            "type": "string",
            "enum": [
              "sd3-medium",
              "sd3-large",
              "sd3-large-turbo"
            ],
            "default": "sd3-large",
            "description": "The SD3 model variant to use."
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "1:1",
              "21:9",
              "2:3",
              "3:2",
              "4:5",
              "5:4",
              "9:16",
              "9:21"
            ],
            "default": "1:1",
            "description": "Aspect ratio for the generated image."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "cfg_scale": {
            "type": "number",
            "format": "float",
            "minimum": 1,
            "maximum": 10,
            "description": "How strictly the model follows the prompt. Higher values = stricter adherence."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "prompt"
        ]
      },
      "FastUpscaleRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The image to upscale."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image"
        ]
      },
      "ConservativeUpscaleRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The image to upscale."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt to guide the upscaling process.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to avoid during upscaling.",
            "maxLength": 10000
          },
          "creativity": {
            "type": "number",
            "format": "float",
            "minimum": 0.2,
            "maximum": 0.5,
            "default": 0.35,
            "description": "Controls the amount of creative enhancement. Lower values preserve more detail."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image",
          "prompt"
        ]
      },
      "CreativeUpscaleRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The image to upscale."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt to guide the creative upscaling.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to avoid.",
            "maxLength": 10000
          },
          "creativity": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 0.35,
            "default": 0.3,
            "description": "Controls the level of creative reinterpretation."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image",
          "prompt"
        ]
      },
      "InpaintRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The source image to inpaint."
          },
          "mask": {
            "type": "string",
            "format": "binary",
            "description": "Mask image where white pixels indicate areas to inpaint and black pixels indicate areas to preserve."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt to guide the inpainting.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude from the inpainted region.",
            "maxLength": 10000
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "grow_mask": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Number of pixels to expand the mask by."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image",
          "prompt"
        ]
      },
      "OutpaintRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The source image to outpaint."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt to guide the outpainting.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude from the outpainted region.",
            "maxLength": 10000
          },
          "left": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "default": 0,
            "description": "Number of pixels to extend to the left."
          },
          "right": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "default": 0,
            "description": "Number of pixels to extend to the right."
          },
          "up": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "default": 0,
            "description": "Number of pixels to extend upward."
          },
          "down": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "default": 0,
            "description": "Number of pixels to extend downward."
          },
          "creativity": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5,
            "description": "Controls the creative freedom of the outpainting."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image"
        ]
      },
      "EraseRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The source image."
          },
          "mask": {
            "type": "string",
            "format": "binary",
            "description": "Mask image where white pixels indicate areas to erase."
          },
          "grow_mask": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Number of pixels to expand the mask by."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image"
        ]
      },
      "SearchAndReplaceRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The source image."
          },
          "prompt": {
            "type": "string",
            "description": "Text describing the replacement content.",
            "maxLength": 10000
          },
          "search_prompt": {
            "type": "string",
            "description": "Text describing the object to find and replace.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude.",
            "maxLength": 10000
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "grow_mask": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Number of pixels to expand the detected mask by."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image",
          "prompt",
          "search_prompt"
        ]
      },
      "SearchAndRecolorRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The source image."
          },
          "prompt": {
            "type": "string",
            "description": "Text describing the desired recoloring.",
            "maxLength": 10000
          },
          "select_prompt": {
            "type": "string",
            "description": "Text describing the object to find and recolor.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude.",
            "maxLength": 10000
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "grow_mask": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Number of pixels to expand the detected mask by."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image",
          "prompt",
          "select_prompt"
        ]
      },
      "RemoveBackgroundRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The image from which to remove the background."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "webp"
            ],
            "default": "png",
            "description": "Output image format. Must support transparency."
          }
        },
        "required": [
          "image"
        ]
      },
      "ReplaceBackgroundAndRelightRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The source image containing a foreground subject."
          },
          "background_prompt": {
            "type": "string",
            "description": "Text describing the desired new background.",
            "maxLength": 10000
          },
          "foreground_prompt": {
            "type": "string",
            "description": "Text describing the foreground subject to preserve.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude.",
            "maxLength": 10000
          },
          "background_reference": {
            "type": "string",
            "format": "binary",
            "description": "Optional reference image for the background."
          },
          "light_reference": {
            "type": "string",
            "format": "binary",
            "description": "Optional reference image for lighting."
          },
          "light_source_direction": {
            "type": "string",
            "enum": [
              "above",
              "below",
              "left",
              "right"
            ],
            "description": "Direction of the primary light source."
          },
          "light_source_strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Strength of the relighting effect."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image"
        ]
      },
      "ControlSketchRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The sketch or line drawing to use as structural guidance."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired image.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude.",
            "maxLength": 10000
          },
          "control_strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.7,
            "description": "How closely the output follows the sketch."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image",
          "prompt"
        ]
      },
      "ControlStructureRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The reference image providing structural guidance."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired image.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude.",
            "maxLength": 10000
          },
          "control_strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.7,
            "description": "How closely the output follows the structural reference."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "image",
          "prompt"
        ]
      },
      "ControlStyleRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The reference image providing style guidance."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the desired image.",
            "maxLength": 10000
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text describing what to exclude.",
            "maxLength": 10000
          },
          "fidelity": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5,
            "description": "How closely the output matches the style of the reference."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967294,
            "description": "Random seed for reproducibility."
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "1:1",
              "21:9",
              "2:3",
              "3:2",
              "4:5",
              "5:4",
              "9:16",
              "9:21"
            ],
            "default": "1:1",
            "description": "Aspect ratio for the generated image."
          }
        },
        "required": [
          "image",
          "prompt"
        ]
      },
      "StableFast3dRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The image to generate a 3D model from."
          },
          "texture_resolution": {
            "type": "integer",
            "enum": [
              512,
              1024,
              2048
            ],
            "default": 1024,
            "description": "Resolution of the texture map for the 3D model."
          },
          "foreground_ratio": {
            "type": "number",
            "format": "float",
            "minimum": 0.1,
            "maximum": 1,
            "default": 0.85,
            "description": "Ratio of the foreground object in the image."
          },
          "remesh": {
            "type": "string",
            "enum": [
              "none",
              "triangle",
              "quad"
            ],
            "default": "none",
            "description": "Remeshing algorithm to apply."
          },
          "vertex_count": {
            "type": "integer",
            "minimum": -1,
            "maximum": 20000,
            "default": -1,
            "description": "Target vertex count for remeshing. -1 for automatic."
          }
        },
        "required": [
          "image"
        ]
      },
      "StablePointAware3dRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The image to generate a 3D model from."
          },
          "texture_resolution": {
            "type": "integer",
            "enum": [
              512,
              1024,
              2048
            ],
            "default": 1024,
            "description": "Resolution of the texture map for the 3D model."
          },
          "foreground_ratio": {
            "type": "number",
            "format": "float",
            "minimum": 0.1,
            "maximum": 1,
            "default": 0.85,
            "description": "Ratio of the foreground object in the image."
          },
          "remesh": {
            "type": "string",
            "enum": [
              "none",
              "triangle",
              "quad"
            ],
            "default": "none",
            "description": "Remeshing algorithm to apply."
          },
          "vertex_count": {
            "type": "integer",
            "minimum": -1,
            "maximum": 20000,
            "default": -1,
            "description": "Target vertex count for remeshing. -1 for automatic."
          },
          "target_type": {
            "type": "string",
            "enum": [
              "none",
              "mesh",
              "point_cloud"
            ],
            "default": "none",
            "description": "Type of 3D output target."
          },
          "target_count": {
            "type": "integer",
            "minimum": 100,
            "maximum": 100000,
            "description": "Target count for mesh or point cloud output."
          }
        },
        "required": [
          "image"
        ]
      },
      "V1TextToImageRequest": {
        "type": "object",
        "properties": {
          "text_prompts": {
            "type": "array",
            "description": "Array of text prompts with optional weights.",
            "items": {
              "$ref": "#/components/schemas/TextPrompt"
            },
            "minItems": 1
          },
          "height": {
            "type": "integer",
            "minimum": 128,
            "description": "Height of the generated image in pixels. Must be a multiple of 64."
          },
          "width": {
            "type": "integer",
            "minimum": 128,
            "description": "Width of the generated image in pixels. Must be a multiple of 64."
          },
          "cfg_scale": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 35,
            "default": 7,
            "description": "How strictly the generation follows the prompt."
          },
          "clip_guidance_preset": {
            "type": "string",
            "enum": [
              "FAST_BLUE",
              "FAST_GREEN",
              "NONE",
              "SIMPLE",
              "SLOW",
              "SLOWER",
              "SLOWEST"
            ],
            "default": "NONE",
            "description": "CLIP guidance preset."
          },
          "sampler": {
            "type": "string",
            "enum": [
              "DDIM",
              "DDPM",
              "K_DPMPP_2M",
              "K_DPMPP_2S_ANCESTRAL",
              "K_DPM_2",
              "K_DPM_2_ANCESTRAL",
              "K_EULER",
              "K_EULER_ANCESTRAL",
              "K_HEUN",
              "K_LMS"
            ],
            "description": "Sampler to use for the diffusion process."
          },
          "samples": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 1,
            "description": "Number of images to generate."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967295,
            "description": "Random seed for reproducibility."
          },
          "steps": {
            "type": "integer",
            "minimum": 10,
            "maximum": 150,
            "default": 30,
            "description": "Number of diffusion steps."
          },
          "style_preset": {
            "type": "string",
            "enum": [
              "3d-model",
              "analog-film",
              "anime",
              "cinematic",
              "comic-book",
              "digital-art",
              "enhance",
              "fantasy-art",
              "isometric",
              "line-art",
              "low-poly",
              "modeling-compound",
              "neon-punk",
              "origami",
              "photographic",
              "pixel-art",
              "tile-texture"
            ],
            "description": "Preset style to guide generation."
          }
        },
        "required": [
          "text_prompts"
        ]
      },
      "V1ImageToImageRequest": {
        "type": "object",
        "properties": {
          "init_image": {
            "type": "string",
            "format": "binary",
            "description": "The initial image to transform."
          },
          "text_prompts": {
            "type": "array",
            "description": "Array of text prompts with optional weights.",
            "items": {
              "$ref": "#/components/schemas/TextPrompt"
            },
            "minItems": 1
          },
          "image_strength": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.35,
            "description": "How much influence the init_image has on generation."
          },
          "init_image_mode": {
            "type": "string",
            "enum": [
              "IMAGE_STRENGTH",
              "STEP_SCHEDULE"
            ],
            "default": "IMAGE_STRENGTH",
            "description": "Whether to use image_strength or step_schedule for image influence."
          },
          "step_schedule_start": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Skips a proportion of the start of the diffusion steps."
          },
          "step_schedule_end": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Skips a proportion of the end of the diffusion steps."
          },
          "cfg_scale": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 35,
            "default": 7,
            "description": "How strictly the generation follows the prompt."
          },
          "sampler": {
            "type": "string",
            "enum": [
              "DDIM",
              "DDPM",
              "K_DPMPP_2M",
              "K_DPMPP_2S_ANCESTRAL",
              "K_DPM_2",
              "K_DPM_2_ANCESTRAL",
              "K_EULER",
              "K_EULER_ANCESTRAL",
              "K_HEUN",
              "K_LMS"
            ],
            "description": "Sampler to use."
          },
          "samples": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 1,
            "description": "Number of images to generate."
          },
          "seed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4294967295,
            "description": "Random seed."
          },
          "steps": {
            "type": "integer",
            "minimum": 10,
            "maximum": 150,
            "default": 30,
            "description": "Number of diffusion steps."
          },
          "style_preset": {
            "type": "string",
            "enum": [
              "3d-model",
              "analog-film",
              "anime",
              "cinematic",
              "comic-book",
              "digital-art",
              "enhance",
              "fantasy-art",
              "isometric",
              "line-art",
              "low-poly",
              "modeling-compound",
              "neon-punk",
              "origami",
              "photographic",
              "pixel-art",
              "tile-texture"
            ],
            "description": "Preset style."
          }
        },
        "required": [
          "init_image",
          "text_prompts"
        ]
      },
      "V1UpscaleRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "The image to upscale."
          },
          "width": {
            "type": "integer",
            "minimum": 512,
            "description": "Desired width of the upscaled image."
          },
          "height": {
            "type": "integer",
            "minimum": 512,
            "description": "Desired height of the upscaled image."
          }
        },
        "required": [
          "image"
        ]
      },
      "V1MaskingRequest": {
        "type": "object",
        "properties": {
          "init_image": {
            "type": "string",
            "format": "binary",
            "description": "The source image to inpaint."
          },
          "mask_image": {
            "type": "string",
            "format": "binary",
            "description": "Mask image indicating regions to inpaint (white = inpaint, black = preserve)."
          },
          "mask_source": {
            "type": "string",
            "enum": [
              "MASK_IMAGE_WHITE",
              "MASK_IMAGE_BLACK",
              "INIT_IMAGE_ALPHA"
            ],
[...]
