{
  "openapi": "3.0.3",
  "info": {
    "title": "PropEco Flood Risk API",
    "version": "1.0.0",
    "description": "Retrieves flood risk information for UK properties and locations, including risk assessments for England, Scotland, and Wales, elevation data, coastal proximity, flood defences, and historical flood events.",
    "x-jentic-source-url": "https://docs.propeco.io/api-reference/flood-risk/"
  },
  "servers": [
    {
      "url": "https://api.propeco.io"
    }
  ],
  "paths": {
    "/flood-risk": {
      "get": {
        "operationId": "getFloodRisk",
        "summary": "Get flood risk data",
        "description": "Retrieves flood risk information for a specific UK property or geographical location.",
        "tags": [
          "Flood Risk"
        ],
        "parameters": [
          {
            "name": "UPRN",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Unique Property Reference Number"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Latitude (ETRS89/EPSG:4258)"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Longitude (ETRS89/EPSG:4258)"
          },
          {
            "name": "x_coord",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "BNG/EPSG:27700 X coordinate"
          },
          {
            "name": "y_coord",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "BNG/EPSG:27700 Y coordinate"
          }
        ],
        "responses": {
          "200": {
            "description": "Flood risk data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloodRiskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FloodRiskResponse": {
        "type": "object",
        "properties": {
          "coordinates": {
            "type": "object",
            "properties": {
              "bng": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "number"
                  },
                  "y": {
                    "type": "number"
                  }
                }
              },
              "wgs84": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "elevation": {
            "type": "number"
          },
          "coastalProximity": {
            "type": "object",
            "properties": {
              "distance": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "floodDefences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "distance": {
                  "type": "number"
                }
              }
            }
          },
          "england": {
            "$ref": "#/components/schemas/RegionalFloodRisk"
          },
          "scotland": {
            "$ref": "#/components/schemas/RegionalFloodRisk"
          },
          "wales": {
            "$ref": "#/components/schemas/RegionalFloodRisk"
          },
          "historicalEvents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RegionalFloodRisk": {
        "type": "object",
        "properties": {
          "riskDescription": {
            "type": "string"
          },
          "annualRiskProportion": {
            "type": "number"
          },
          "distanceToNearestRiskZone": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}