{
  "openapi": "3.0.3",
  "info": {
    "title": "Zoho Campaigns API",
    "version": "1.0.0",
    "description": "Zoho Campaigns email marketing platform API. Manage mailing lists, subscribers, campaigns, segments, custom fields, and merge tags. Supports contact management, bulk operations, and campaign reporting.",
    "x-jentic-source-url": "https://www.zoho.com/campaigns/help/developers/"
  },
  "servers": [
    {
      "url": "https://campaigns.zoho.com/api/v1.1"
    }
  ],
  "paths": {
    "/getmailinglists": {
      "get": {
        "operationId": "getMailingLists",
        "summary": "Get mailing lists",
        "description": "Fetch all mailing lists and their details including list key, subscriber count, and status.",
        "tags": ["List Management"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" }, "description": "Response format" },
          { "name": "sort", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Sort field" },
          { "name": "fromindex", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "range", "in": "query", "required": false, "schema": { "type": "integer", "default": 20 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MailingListsResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/getlistadvanceddetails": {
      "get": {
        "operationId": "getListAdvancedDetails",
        "summary": "Get list advanced details",
        "description": "Fetch advanced details of a specific mailing list.",
        "tags": ["List Management"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Mailing list key" }
        ],
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListAdvancedDetails" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/getlistcontacts": {
      "get": {
        "operationId": "getListContacts",
        "summary": "Get list contacts",
        "description": "Get the contacts in a mailing list filtered by subscription status.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string", "enum": ["active", "unsub", "bounce", "spam"] } },
          { "name": "sort", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "fromindex", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "range", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/getallcontactfields": {
      "get": {
        "operationId": "getAllContactFields",
        "summary": "Get all contact fields",
        "description": "Fetch all contact fields including custom fields to get profile information.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "type", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Field type filter" }
        ],
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/getsegmentdetails": {
      "get": {
        "operationId": "getSegmentDetails",
        "summary": "Get segment details",
        "tags": ["Segments"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/getsegmentcontacts": {
      "get": {
        "operationId": "getSegmentContacts",
        "summary": "Get segment contacts",
        "tags": ["Segments"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "segkey", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Segment key" }
        ],
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/updatelistdetails": {
      "post": {
        "operationId": "updateListDetails",
        "summary": "Update mailing list details",
        "description": "Edit a mailing list's name and sign-up form settings.",
        "tags": ["List Management"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "listname", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "signupform", "in": "query", "required": false, "schema": { "type": "string", "enum": ["enabled", "disabled"] } }
        ],
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/deletemailinglist": {
      "post": {
        "operationId": "deleteMailingList",
        "summary": "Delete a mailing list",
        "tags": ["List Management"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/totalcontacts": {
      "get": {
        "operationId": "getTotalContacts",
        "summary": "Get total contacts count",
        "description": "View the total number of contacts in a mailing list.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "type": "object", "properties": { "total_contacts": { "type": "integer" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/listsubscribe": {
      "post": {
        "operationId": "subscribeContact",
        "summary": "Subscribe a contact",
        "description": "Add a single contact with custom fields to a mailing list.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "contactinfo", "in": "query", "required": true, "schema": { "type": "string" }, "description": "JSON string with contact details including email and custom fields" }
        ],
        "responses": {
          "200": { "description": "Subscribed", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/listunsubscribe": {
      "post": {
        "operationId": "unsubscribeContact",
        "summary": "Unsubscribe a contact",
        "description": "Unsubscribe a user from a mailing list.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "contactinfo", "in": "query", "required": true, "schema": { "type": "string" }, "description": "JSON with contact email" }
        ],
        "responses": {
          "200": { "description": "Unsubscribed", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contactdonotmail": {
      "post": {
        "operationId": "contactDoNotMail",
        "summary": "Move contact to Do-Not-Mail",
        "description": "Move a contact to the Do-Not-Mail registry.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "contactinfo", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/addlistandcontacts": {
      "post": {
        "operationId": "addListAndContacts",
        "summary": "Add new list and contacts",
        "description": "Create a new mailing list and add contacts to it in a single operation.",
        "tags": ["List Management"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listname", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "contactinfo", "in": "query", "required": true, "schema": { "type": "string" }, "description": "JSON with contacts data" }
        ],
        "responses": {
          "200": { "description": "Created", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" }, "listkey": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/addlistcontactsinbulk": {
      "post": {
        "operationId": "addContactsInBulk",
        "summary": "Add contacts in bulk to existing list",
        "description": "Add multiple contacts to an existing mailing list in bulk.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "listkey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "contactinfo", "in": "query", "required": true, "schema": { "type": "string" }, "description": "JSON array with contact data" }
        ],
        "responses": {
          "200": { "description": "Added", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/createcustomfield": {
      "post": {
        "operationId": "createCustomField",
        "summary": "Create a custom field",
        "description": "Create a custom field for contacts.",
        "tags": ["Custom Fields"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "fieldname", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "fieldtype", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Created", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/createmergetags": {
      "post": {
        "operationId": "createMergeTags",
        "summary": "Create merge tags",
        "description": "Create merge tags for dynamic content personalization.",
        "tags": ["Custom Fields"],
        "parameters": [
          { "name": "resfmt", "in": "query", "required": false, "schema": { "type": "string", "enum": ["JSON", "XML"], "default": "JSON" } },
          { "name": "mergetagname", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "mergetagtype", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Created", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MailingListsResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "list_of_details": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailingList" }
          }
        }
      },
      "MailingList": {
        "type": "object",
        "properties": {
          "listkey": { "type": "string" },
          "listname": { "type": "string" },
          "open_count": { "type": "integer" },
          "active_contacts_count": { "type": "integer" },
          "total_contacts": { "type": "integer" },
          "creation_time": { "type": "string" }
        }
      },
      "ListAdvancedDetails": {
        "type": "object",
        "properties": {
          "listkey": { "type": "string" },
          "listname": { "type": "string" },
          "active_count": { "type": "integer" },
          "unsub_count": { "type": "integer" },
          "bounce_count": { "type": "integer" },
          "spam_count": { "type": "integer" }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "list_of_details": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Contact" }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "contact_email": { "type": "string", "format": "email" },
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "phone": { "type": "string" },
          "added_time": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with access tokens",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
            "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
            "scopes": {
              "ZohoCampaigns.contact.READ": "Read contacts",
              "ZohoCampaigns.contact.CREATE": "Create contacts",
              "ZohoCampaigns.contact.UPDATE": "Update contacts",
              "ZohoCampaigns.contact.DELETE": "Delete contacts"
            }
          }
        }
      }
    }
  },
  "security": [{ "oauth2": [] }]
}
