{
  "openapi": "3.0.3",
  "info": {
    "title": "Flutterwave Payments API",
    "description": "Flutterwave v4 Payments API for creating customers, managing payment methods, processing card charges, and initiating transfers across Africa and globally.",
    "version": "4.0",
    "x-jentic-source-url": "https://developer.flutterwave.com/docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.flutterwave.com",
      "description": "Production server"
    },
    {
      "url": "https://developersandbox-api.flutterwave.com",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "description": "Create a customer entity to store customer details. Links customer information to payment data.",
        "operationId": "createCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/payment-methods": {
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Create a payment method",
        "description": "Create a payment method object using encrypted card information. The card details must be encrypted using AES-256-GCM.",
        "operationId": "createPaymentMethod",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique idempotency key to prevent duplicate operations",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Trace-Id",
            "in": "header",
            "description": "Unique trace ID for request tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentMethodRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment method created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/charges": {
      "post": {
        "tags": [
          "Charges"
        ],
        "summary": "Create a charge",
        "description": "Charge a customer using their payment method. Send the payment method ID, customer ID, and transaction details to initiate a charge.",
        "operationId": "createCharge",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique idempotency key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Trace-Id",
            "in": "header",
            "description": "Unique trace ID for request tracking",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Scenario-Key",
            "in": "header",
            "description": "Scenario key for sandbox testing (e.g., scenario:auth_3ds&issuer:approved)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Charge created (may require further authorization)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/charges/{charge_id}": {
      "put": {
        "tags": [
          "Charges"
        ],
        "summary": "Authorize a charge",
        "description": "Update a pending charge with authorization details (e.g., PIN, OTP, 3DS redirect). Used when a charge requires additional customer authorization.",
        "operationId": "authorizeCharge",
        "parameters": [
          {
            "name": "charge_id",
            "in": "path",
            "required": true,
            "description": "The charge ID to authorize",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Trace-Id",
            "in": "header",
            "description": "Unique trace ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Scenario-Key",
            "in": "header",
            "description": "Scenario key for sandbox testing",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge authorized (may redirect for 3DS)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/direct-transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Initiate a direct transfer",
        "description": "Create a transfer using the Orchestrator helper for payouts.",
        "operationId": "createDirectTransfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token obtained from the token endpoint (POST https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token) using client_credentials grant."
      }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "CustomerName": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "middle": {
            "type": "string"
          },
          "last": {
            "type": "string"
          }
        }
      },
      "Phone": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string"
          },
          "number": {
            "type": "string"
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "name": {
            "$ref": "#/components/schemas/CustomerName"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "CustomerData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique customer ID (e.g., cus_J0PvwvJB2n)"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "$ref": "#/components/schemas/CustomerName"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          },
          "created_datetime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CustomerData"
          }
        }
      },
      "CardInput": {
        "type": "object",
        "required": [
          "encrypted_card_number",
          "encrypted_expiry_month",
          "encrypted_expiry_year",
          "encrypted_cvv",
          "nonce"
        ],
        "properties": {
          "encrypted_card_number": {
            "type": "string",
            "description": "AES-256-GCM encrypted card number"
          },
          "encrypted_expiry_month": {
            "type": "string",
            "description": "AES-256-GCM encrypted expiry month"
          },
          "encrypted_expiry_year": {
            "type": "string",
            "description": "AES-256-GCM encrypted expiry year"
          },
          "encrypted_cvv": {
            "type": "string",
            "description": "AES-256-GCM encrypted CVV"
          },
          "nonce": {
            "type": "string",
            "description": "12-character nonce used for AES encryption"
          }
        }
      },
      "CreatePaymentMethodRequest": {
        "type": "object",
        "required": [
          "type",
          "card"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "card"
            ],
            "description": "Payment method type"
          },
          "card": {
            "$ref": "#/components/schemas/CardInput"
          }
        }
      },
      "CardData": {
        "type": "object",
        "properties": {
          "expiry_month": {
            "type": "integer"
          },
          "expiry_year": {
            "type": "integer"
          },
          "first6": {
            "type": "string",
            "description": "First 6 digits of the card number (BIN)"
          },
          "last4": {
            "type": "string",
            "description": "Last 4 digits of the card number"
          },
          "network": {
            "type": "string",
            "enum": [
              "mastercard",
              "visa",
              "verve",
              "MASTERCARD",
              "VISA",
              "VERVE"
            ],
            "description": "Card network"
          }
        }
      },
      "PaymentMethodData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/CardData"
          },
          "id": {
            "type": "string",
            "description": "Payment method ID (e.g., pmd_wlVhaYmkl2)"
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          },
          "created_datetime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentMethodResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PaymentMethodData"
          }
        }
      },
      "CreateChargeRequest": {
        "type": "object",
        "required": [
          "reference",
          "currency",
          "customer_id",
          "payment_method_id",
          "amount"
        ],
        "properties": {
          "reference": {
            "type": "string",
            "description": "Unique transaction reference"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code (e.g., NGN, USD)"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "payment_method_id": {
            "type": "string",
            "description": "Payment method ID"
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after 3DS authorization"
          },
          "amount": {
            "type": "number",
            "description": "Charge amount"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Additional metadata"
          }
        }
      },
      "NextAction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "authorize",
              "redirect_url"
            ],
            "description": "Type of next action required"
          },
          "authorization": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "pin",
                  "otp",
                  "3ds"
                ]
              }
            }
          },
          "redirect_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL to redirect the customer for 3DS authorization"
              }
            }
          }
        }
      },
      "ChargeData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Charge ID (e.g., chg_VoUhmFMhmF)"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed"
            ],
            "description": "Charge status"
          },
          "next_action": {
            "$ref": "#/components/schemas/NextAction"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "payment_method_details": {
            "type": "object",
            "additionalProperties": true
          },
          "processor_response": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "created_datetime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "pending",
              "error"
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ChargeData"
          }
        }
      },
      "AuthorizeChargeRequest": {
        "type": "object",
        "required": [
          "authorization"
        ],
        "properties": {
          "authorization": {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "pin",
                  "otp",
                  "avs"
                ],
                "description": "Authorization type"
              },
              "pin": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "string",
                    "description": "12-character nonce for PIN encryption"
                  },
                  "encrypted_pin": {
                    "type": "string",
                    "description": "AES-256-GCM encrypted PIN"
                  }
                }
              }
            }
          }
        }
      },
      "DirectTransferRequest": {
        "type": "object",
        "properties": {
          "account_bank": {
            "type": "string",
            "description": "Bank code"
          },
          "account_number": {
            "type": "string",
            "description": "Recipient account number"
          },
          "amount": {
            "type": "number",
            "description": "Transfer amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "reference": {
            "type": "string",
            "description": "Unique transfer reference"
          },
          "narration": {
            "type": "string",
            "description": "Transfer description/narration"
          }
        }
      },
      "TransferResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "reference": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "created_datetime": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Charges",
      "description": "Operations related to Charges"
    },
    {
      "name": "Customers",
      "description": "Operations related to Customers"
    },
    {
      "name": "Payment Methods",
      "description": "Operations related to Payment Methods"
    },
    {
      "name": "Transfers",
      "description": "Operations related to Transfers"
    }
  ]
}
