{
  "openapi": "3.0.0",
  "info": {
    "title": "API de treinamento do consumidor.gov.br",
    "description": "## Como solicitar acesso \u00e0 API: \n1. Cadastrar o seu CPF no sistema atrav\u00e9s do link: [treinamento.consumidor.gov.br](https://treinamento.consumidor.gov.br) ; \n2. Informar via e-mail para [suporte.fornecedor@consumidor.gov.br](suporte.fornecedor@consumidor.gov.br), o CNPJ do fornecedor que ser\u00e1 vinculado ao CPF cadastrado. \n## Como gerar um token JWT: \n Para gerar um token JWT \u00e9 necess\u00e1rio ter em m\u00e3o os seguintes c\u00f3digos: \n* cliente_id \n* code \n* cliente_secret \n\n Esses dados podem ser obtidos atrav\u00e9s do sistema quando logado como gestor. Para isso, basta clicar em 'Acesso Restrito para Gestores e Empresas' localizado no rodap\u00e9 da p\u00e1gina. \n\n Ap\u00f3s feito o login como gestor, \u00e9 necess\u00e1rio clicar em 'Menu'\u27f6'Cadastro'\u27f6'Editar'. Neste ponto, ao rolar a p\u00e1gina at\u00e9 o final \u00e9 poss\u00edvel observar os c\u00f3digos necess\u00e1rios para a gera\u00e7\u00e3o do Token JWT. \n### Observa\u00e7\u00e3o \n1. Os c\u00f3digos mencionados acima s\u00e3o chaves identificadoras, permanentes e imut\u00e1veis requeridas para a gera\u00e7\u00e3o do Token. \n2. O Token \u00e9 uma chave autorizadora, tempor\u00e1ria e mut\u00e1vel que expira em 24 horas. \n## Documenta\u00e7\u00e3o complementar: \n* [https://treinamento.consumidor.gov.br/pages/principal/documentacao-rest](https://treinamento.consumidor.gov.br/pages/principal/documentacao-rest) \n## Swagger de produ\u00e7\u00e3o: \n* [https://app.swaggerhub.com/apis-docs/consumidor/consumidor.gov.br](https://app.swaggerhub.com/apis-docs/consumidor/consumidor.gov.br)",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/consumidor.gov.br/api-consumidor-treinamento/1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api-treinamento.consumidor.gov.br/api/servico",
      "description": "Servidor de Teste"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/seguranca/empresa/token": {
      "post": {
        "description": "Endpoint de autentica\u00e7\u00e3o que retorna Token JWT. \n\n\u00c9 necess\u00e1rio login com o Token gerado para acessar as demais funcionalidades da API.",
        "tags": [
          "Autentica\u00e7\u00e3o"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "client_credentials"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response_200_token"
                }
              }
            }
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        }
      }
    },
    "/reclamacoes/listar": {
      "get": {
        "description": "Servi\u00e7o que retorna a listagem de reclama\u00e7\u00f5es com filtragem dos dados. Os par\u00e2metros de filtragem s\u00e3o opcionais, e por isso, devem ser passados como par\u00e2metros da requisi\u00e7\u00e3o, podendo ser omitidos caso n\u00e3o sejam utilizados.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "$ref": "#/components/parameters/numero_protocolo_param"
          },
          {
            "$ref": "#/components/parameters/codigoTipoTramiteReclamacao"
          },
          {
            "$ref": "#/components/parameters/codigoSituacaoReclamacao"
          },
          {
            "$ref": "#/components/parameters/numAvaliacao"
          },
          {
            "$ref": "#/components/parameters/nomeReclamante"
          },
          {
            "$ref": "#/components/parameters/cpfReclamante"
          },
          {
            "$ref": "#/components/parameters/siglaRegiao"
          },
          {
            "$ref": "#/components/parameters/siglaUF"
          },
          {
            "$ref": "#/components/parameters/codigoMunicipio"
          },
          {
            "$ref": "#/components/parameters/notaConsumidor"
          },
          {
            "$ref": "#/components/parameters/codigoMeioConsumo"
          },
          {
            "$ref": "#/components/parameters/textoReferenciaFornecedor"
          },
          {
            "$ref": "#/components/parameters/dataIniPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataFimPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataIniPrazo"
          },
          {
            "$ref": "#/components/parameters/dataFimPrazo"
          },
          {
            "$ref": "#/components/parameters/horaInicialPeriodo"
          },
          {
            "$ref": "#/components/parameters/horaFinalPeriodo"
          },
          {
            "$ref": "#/components/parameters/codigoGrupoEconomico"
          },
          {
            "$ref": "#/components/parameters/codigoArea"
          },
          {
            "$ref": "#/components/parameters/codigoAssunto"
          },
          {
            "$ref": "#/components/parameters/codigoProblema"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_listar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/detalhe": {
      "get": {
        "description": "Servi\u00e7o que retorna os detalhes de uma \u00fanica reclama\u00e7\u00e3o. Ser\u00e3o retornados os dados dos tr\u00e2mites e as informa\u00e7\u00f5es sobre o consumidor e o gestor da reclama\u00e7\u00e3o. Os anexos dos tr\u00e2mites estar\u00e3o sem os bytes do arquivo, sendo necess\u00e1rio acesso a outro recurso para baixar os bytes.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_detalhe"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/cadastros/subsidiarias/listar": {
      "get": {
        "description": "Servi\u00e7o que retorna as empresas que fazem parte do grupo econ\u00f4mico vinculado ao CPF autorizado.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_subsidiarias"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/baixar": {
      "get": {
        "description": "Servi\u00e7o que retorna arquivo em base 64 de um relat\u00f3rio com os detalhes da reclama\u00e7\u00e3o dado um n\u00famero de protocolo.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/tramite/{numeroTramite}/anexo/{numeroAnexo}/baixar": {
      "get": {
        "description": "Servi\u00e7o que retorna arquivo em base 64 de um anexo existente em um dado tramite.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroTramite",
            "in": "path",
            "description": "C\u00f3digo interno do tramite (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroAnexo",
            "in": "path",
            "description": "C\u00f3digo interno do anexo (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/complementar": {
      "post": {
        "description": "Servi\u00e7o para complementar uma reclama\u00e7\u00e3o.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "N\u00famero do protocolo que identifica uma \u00fanica reclama\u00e7\u00e3o.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "{\"texto\": \"Prezado consumidor, estamos avaliando sua reclama\u00e7\u00e3o e logo mais entraremos em contato.\"}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/responder": {
      "post": {
        "description": "Servi\u00e7o para responder uma reclama\u00e7\u00e3o ao consumidor.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "N\u00famero do protocolo que identifica uma \u00fanica reclama\u00e7\u00e3o.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "{\"texto\": \"A empresa agradece a paci\u00eancia na resolu\u00e7\u00e3o do conflito\"}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/redirecionar": {
      "post": {
        "description": "Servi\u00e7o para redirecionar uma reclama\u00e7\u00e3o para outra empresa de mesmo grupo econ\u00f4mico.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "N\u00famero do protocolo que identifica uma \u00fanica reclama\u00e7\u00e3o.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "texto": {
                    "type": "string",
                    "example": "Redicionando da empreda Planeta Operacional para a empresa Planeta Financeira por envolver assuntos de pagamento"
                  },
                  "identificacaoEmpresaGrupo": {
                    "type": "number",
                    "example": 123
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reclamacao/{numeroProtocolo}/recusar": {
      "post": {
        "description": "Servi\u00e7o para encaminhar uma reclama\u00e7\u00e3o para an\u00e1lise do gestor.",
        "tags": [
          "Fornecedores"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "N\u00famero do protocolo que identifica uma \u00fanica reclama\u00e7\u00e3o.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "{\"texto\": \"O consumidor se confundiu. A nossa empresa Planeta n\u00e3o trabalha com vendas de produtos de pescaria.\"}"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_201_created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orgao/reclamacoes/listar": {
      "get": {
        "description": "Servi\u00e7o que retorna a listagem de reclama\u00e7\u00f5es com filtragem dos dados. Os par\u00e2metros de filtragem s\u00e3o opcionais, e por isso, devem ser passados como par\u00e2metros da requisi\u00e7\u00e3o, podendo ser omitidos caso n\u00e3o sejam utilizados.",
        "tags": [
          "\u00d3rg\u00e3os de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "$ref": "#/components/parameters/numero_protocolo_param"
          },
          {
            "$ref": "#/components/parameters/codigoTipoTramiteReclamacao"
          },
          {
            "$ref": "#/components/parameters/codigoSituacaoReclamacao"
          },
          {
            "$ref": "#/components/parameters/numAvaliacao"
          },
          {
            "$ref": "#/components/parameters/nomeReclamante"
          },
          {
            "$ref": "#/components/parameters/cpfReclamante"
          },
          {
            "$ref": "#/components/parameters/siglaRegiao"
          },
          {
            "$ref": "#/components/parameters/siglaUF"
          },
          {
            "$ref": "#/components/parameters/codigoMunicipio"
          },
          {
            "$ref": "#/components/parameters/notaConsumidor"
          },
          {
            "$ref": "#/components/parameters/codigoMeioConsumo"
          },
          {
            "$ref": "#/components/parameters/textoReferenciaFornecedor"
          },
          {
            "$ref": "#/components/parameters/dataIniPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataFimPeriodo"
          },
          {
            "$ref": "#/components/parameters/dataIniPrazo"
          },
          {
            "$ref": "#/components/parameters/dataFimPrazo"
          },
          {
            "$ref": "#/components/parameters/horaInicialPeriodo"
          },
          {
            "$ref": "#/components/parameters/horaFinalPeriodo"
          },
          {
            "$ref": "#/components/parameters/codigoGrupoEconomico"
          },
          {
            "$ref": "#/components/parameters/codigoArea"
          },
          {
            "$ref": "#/components/parameters/codigoAssunto"
          },
          {
            "$ref": "#/components/parameters/codigoProblema"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_listar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/orgao/{numeroProtocolo}/detalhe": {
      "get": {
        "description": "Servi\u00e7o que retorna os detalhes de uma \u00fanica reclama\u00e7\u00e3o. Ser\u00e3o retornados os dados dos tr\u00e2mites e as informa\u00e7\u00f5es sobre o consumidor e o gestor da reclama\u00e7\u00e3o. Os anexos dos tr\u00e2mites estar\u00e3o sem os bytes do arquivo, sendo necess\u00e1rio acesso a outro recurso para baixar os bytes.",
        "tags": [
          "\u00d3rg\u00e3os de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_detalhe"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/orgao/reclamacao/{numeroProtocolo}/baixar": {
      "get": {
        "description": "Servi\u00e7o que retorna arquivo em base 64 de um relat\u00f3rio com os detalhes da reclama\u00e7\u00e3o dado um n\u00famero de protocolo.",
        "tags": [
          "\u00d3rg\u00e3os de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/orgao/{numeroProtocolo}/situacao": {
      "get": {
        "description": "Servi\u00e7o que retorna a situa\u00e7\u00e3o de um dado numero de protocolo.",
        "tags": [
          "\u00d3rg\u00e3os de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_situacao"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/orgao/reclamacao/{numeroProtocolo}/tramite/{numeroTramite}/anexo/{numeroAnexo}/baixar": {
      "get": {
        "description": "Servi\u00e7o que retorna arquivo em base 64 de um anexo existente em um dado tramite.",
        "tags": [
          "\u00d3rg\u00e3os de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          },
          {
            "name": "numeroProtocolo",
            "in": "path",
            "description": "Protocolo que deseja detalhar",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroTramite",
            "in": "path",
            "description": "C\u00f3digo interno do tramite (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "numeroAnexo",
            "in": "path",
            "description": "C\u00f3digo interno do anexo (id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_baixar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token informado inv\u00e1lido ou inexistente.\n\n CPF do usu\u00e1rio autorizado inexistente ou inv\u00e1lido. \n\n Bad Request"
          },
          "404": {
            "description": "Sem resultado para estes par\u00e2metros."
          }
        }
      }
    },
    "/orgao/obter/situacoes": {
      "post": {
        "description": "Servi\u00e7o que retorna as situa\u00e7\u00f5es de uma lista de protocolos passada no corpo da requisi\u00e7\u00e3o.",
        "tags": [
          "\u00d3rg\u00e3os de Monitoramento"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/host_param"
          },
          {
            "$ref": "#/components/parameters/user_agent_param"
          },
          {
            "$ref": "#/components/parameters/versao_param"
          },
          {
            "$ref": "#/components/parameters/cpf_autorizado_param"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "example": [
                  20211200000008600,
                  20211200000008596
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/response_200_situacoes"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "codigoTipoTramiteReclamacao": {
        "name": "codigoTipoTramiteReclamacao",
        "in": "query",
        "description": "C\u00f3digo de um tipo de tr\u00e2mite das reclama\u00e7\u00f5es, sendo: Sendo 1) Abertura da reclama\u00e7\u00e3o, 2)Visualizada pelo fornecedor, 3) Resposta do fornecedor, 4) Avalia\u00e7\u00e3o do consumidor, 5)Reclama\u00e7\u00e3o finalizada, 6) Complemento da reclama\u00e7\u00e3o, 7) Ativa\u00e7\u00e3o do fornecedor indicado, 8) Reclama\u00e7\u00e3o encaminhada para an\u00e1lise do gestor, 9) Reclama\u00e7\u00e3o devolvida para a empresa, 10) Redirecionamento da reclama\u00e7\u00e3o, 11) Edi\u00e7\u00e3o de conte\u00fado, 12) Prazo expirado para an\u00e1lise da recusa, 13) Recusa forncecedor indicado, 14) Prazo expirado para avalia\u00e7\u00e3o, 15) Intera\u00e7\u00e3o do gestor, 16) Reclama\u00e7\u00e3o cancelada pelo gestor,  17) Prazo expirado para resposta, 18) Reclama\u00e7\u00e3o exclu\u00edda",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoSituacaoReclamacao": {
        "name": "codigoSituacaoReclamacao",
        "in": "query",
        "description": "C\u00f3digo de uma situa\u00e7\u00e3o das reclama\u00e7\u00f5es, sendo  1) Aberta, 2) Em an\u00e1lise pelo gestor,  3) Em an\u00e1lise pelo fornecedor, 4) Respondida, 5) N\u00e3o Respondida, 6) Finalizada avaliada, 7) Finalizada n\u00e3o avaliada, 8) Cancelada, 9) Encerrada, 10) Fornecedor em credenciamento",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "numAvaliacao": {
        "name": "numAvaliacao",
        "in": "query",
        "description": "Referente \u00e0 conclus\u00e3o da avalia\u00e7\u00e3o. sendo: 1) Resolvida, 2) N\u00e3o Resolvida, 3) N\u00e3o Avaliada",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true,
          "enum": [
            1,
            2,
            3
          ]
        }
      },
      "nomeReclamante": {
        "name": "nomeReclamante",
        "in": "query",
        "description": "Nome do reclamante das reclama\u00e7\u00f5es. Assume prefixos e sufixos. Por exemplo:o nome 'Jo\u00e3o' poder\u00e1 retornar 'Jo\u00e3o Paulo' e 'Ant\u00f4nio Jo\u00e3o'",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "cpfReclamante": {
        "name": "cpfReclamante",
        "in": "query",
        "description": "CPF do reclamante das reclama\u00e7\u00f5es. Somente os n\u00fameros.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "siglaRegiao": {
        "name": "siglaRegiao",
        "in": "query",
        "description": "Sigla da regi\u00e3o dos endere\u00e7os das reclama\u00e7\u00f5es. SE, S, CO, N, NE",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true,
          "enum": [
            "SE",
            "S",
            "CO",
            "N",
            "NE"
          ]
        }
      },
      "siglaUF": {
        "name": "siglaUF",
        "in": "query",
        "description": "Sigla do estado dos endere\u00e7os das reclama\u00e7\u00f5es. Ex: PA, SP, MS, DF",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "codigoMunicipio": {
        "name": "codigoMunicipio",
        "in": "query",
        "description": "C\u00f3digo do munic\u00edpio dos endere\u00e7os das reclama\u00e7\u00f5es. https://www.ibge.gov.br/explica/codigos-dos-municipios.php",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "notaConsumidor": {
        "name": "notaConsumidor",
        "in": "query",
        "description": "Avalia\u00e7\u00e3o que o consumidor fez em rela\u00e7\u00e3o ao atendimento (1 a 5).",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true,
          "enum": [
            1,
            2,
            3,
            4,
            5
          ]
        }
      },
      "codigoMeioConsumo": {
        "name": "codigoMeioConsumo",
        "in": "query",
        "description": "C\u00f3digo do meio de consumo (campo 'Como Comprou/Contratou'), sendo: 1) Internet, 2)Loja f\u00edsica, 3) Telefone, 4) Cat\u00e1logo, 5) Domic\u00edlio, 6) Ganhei de presente, 7) Stand, feiras e eventos, 8) N\u00e3o comprei / contratei, 9) SMS / Mensagem de texto",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true,
          "enum": [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9
          ]
        }
      },
      "textoReferenciaFornecedor": {
        "name": "textoReferenciaFornecedor",
        "in": "query",
        "description": "Texto livre de refer\u00eancia nas reclama\u00e7\u00f5es.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataIniPeriodo": {
        "name": "dataIniPeriodo",
        "in": "query",
        "description": "Data inicial da abertura das reclama\u00e7\u00f5es, no formato 'dd-MM-yyyy'. \u00c9 obrigat\u00f3rio caso a data final for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataFimPeriodo": {
        "name": "dataFimPeriodo",
        "in": "query",
        "description": "Data final da abertura das reclama\u00e7\u00f5es, no formato 'dd-MM-yyyy'. \u00c9 obrigat\u00f3rio caso a data inicial for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataIniPrazo": {
        "name": "dataIniPrazo",
        "in": "query",
        "description": "Data inicial do prazo das reclama\u00e7\u00f5es, no formato 'dd-MM-yyyy'. N\u00e3o h\u00e1 op\u00e7\u00e3o com horas. \u00c9 obrigat\u00f3rio caso a data final do prazo for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "dataFimPrazo": {
        "name": "dataFimPrazo",
        "in": "query",
        "description": "Data final do prazo das reclama\u00e7\u00f5es, no formato 'dd-MM-yyyy'. N\u00e3o h\u00e1 op\u00e7\u00e3o com horas. \u00c9 obrigat\u00f3rio caso a data inicial do prazo for preenchida.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "horaInicialPeriodo": {
        "name": "horaInicialPeriodo",
        "in": "query",
        "description": "Hora referente a data inicial da abertura das reclama\u00e7\u00f5es, no formato 'HH:mm:ss'. Caso n\u00e3o preenchida assumir\u00e1 '00:00:00'.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "horaFinalPeriodo": {
        "name": "horaFinalPeriodo",
        "in": "query",
        "description": "Hora referente a data final da abertura das reclama\u00e7\u00f5es, no formato 'HH:mm:ss'. Caso n\u00e3o preenchida assumir\u00e1 '23:59:59'.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "nullable": true
        }
      },
      "codigoGrupoEconomico": {
        "name": "codigoGrupoEconomico",
        "in": "query",
        "description": "C\u00f3digo do grupo ec\u00f4nomico do fornecedor das reclama\u00e7\u00f5es.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoArea": {
        "name": "codigoArea",
        "in": "query",
        "description": "C\u00f3digo da \u00e1rea das reclama\u00e7\u00f5es.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoAssunto": {
        "name": "codigoAssunto",
        "in": "query",
        "description": "C\u00f3digo do assunto relacionado com a \u00e1rea.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "codigoProblema": {
        "name": "codigoProblema",
        "in": "query",
        "description": "C\u00f3digo do problema relacionado com o assunto.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      },
      "host_param": {
        "name": "Host",
        "in": "header",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "nullable": false,
          "default": "api-treinamento.consumidor.gov.br"
        }
      },
      "user_agent_param": {
        "name": "User-Agent",
        "in": "header",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "default": "api-consumidor"
        }
      },
      "versao_param": {
        "name": "versao",
        "in": "header",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "default": "1.0"
        }
      },
      "cpf_autorizado_param": {
        "name": "cpfAutorizado",
        "in": "header",
        "description": "CPF do usu\u00e1rio autorizado. Deve ser um usu\u00e1rio v\u00e1lido ativo da credenciada",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "integer"
        }
      },
      "numero_protocolo_param": {
        "name": "numeroProtocolo",
        "in": "query",
        "description": "N\u00famero do protocolo, que identifica uma \u00fanica reclama\u00e7\u00e3o",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "schemas": {
      "response_201_created": {
        "properties": {
          "tipo": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "integer"
          },
          "protocoloReclamacao": {
            "type": "string"
          }
        }
      },
      "response_200_listar": {
        "properties": {
          "protocolo": {
            "type": "string"
          },
          "situacao": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "meioConsumo": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "prazo": {
            "type": "string"
          },
          "prazoManifestacao": {
            "type": "string"
          },
          "nomeCampoPrazo": {
            "type": "string"
          },
          "dataAbertura": {
            "type": "string"
          },
          "area": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "assunto": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "problema": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "reclamante": {
            "type": "object",
            "properties": {
              "numeroIdentificacao": {
                "type": "string"
              },
              "nome": {
                "type": "string"
              },
              "estado": {
                "type": "string"
              },
              "cidade": {
                "type": "string"
              },
              "logradouro": {
                "type": "string"
              },
              "bairro": {
                "type": "string"
              },
              "numeroComplemento": {
                "type": "string"
              },
              "dataNascimento": {
                "type": "string"
              },
              "documento": {
                "type": "string"
              },
              "cep": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "telefones": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "reclamado": {
            "type": "object",
            "properties": {
              "numeroIdentificacao": {
                "type": "string"
              },
              "nome": {
                "type": "string"
              },
              "estado": {
                "type": "string"
              },
              "cidade": {
                "type": "string"
              },
              "logradouro": {
                "type": "string"
              },
              "bairro": {
                "type": "string"
              },
              "numeroComplemento": {
                "type": "string"
              },
              "dataNascimento": {
                "type": "string"
              },
              "documento": {
                "type": "string"
              },
              "cep": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "telefones": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "mediador": {
            "type": "object",
            "properties": {
              "numeroIdentificacao": {
                "type": "string"
              },
              "nome": {
                "type": "string"
              },
              "estado": {
                "type": "string"
              },
              "cidade": {
                "type": "string"
              },
              "logradouro": {
                "type": "string"
              },
              "bairro": {
                "type": "string"
              },
              "numeroComplemento": {
                "type": "string"
              },
              "dataNascimento": {
                "type": "string"
              },
              "documento": {
                "type": "string"
              },
              "cep": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "telefones": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "tramites": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "number"
                },
                "tipo": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "number"
                    },
                    "descricao": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "string"
                },
                "autor": {
                  "type": "string"
                },
                "protocoloReclamacao": {
                  "type": "string"
                },
                "textos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "texto": {
                        "type": "string"
                      },
                      "tipo": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "descricao": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "anexos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "number"
                      },
                      "nome": {
                        "type": "string"
                      },
                      "tamanho": {
                        "type": "number"
                      },
                      "arquivoBase64": {
                        "type": "string"
                      },
                      "acao": {
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "acoes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string"
                },
                "href": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "method": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "response_200_detalhe": {
        "properties": {
          "dado": {
            "type": "object",
            "properties": {
              "protocolo": {
                "type": "string"
              },
              "situacao": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "meioConsumo": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "prazo": {
                "type": "string"
              },
              "prazoManifestacao": {
                "type": "string"
              },
              "nomeCampoPrazo": {
                "type": "string"
              },
              "dataAbertura": {
                "type": "string"
              },
              "area": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "assunto": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "problema": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "number"
                  },
                  "descricao": {
                    "type": "string"
                  }
                }
              },
              "reclamante": {
                "type": "object",
                "properties": {
                  "numeroIdentificacao": {
                    "type": "string"
                  },
                  "nome": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "logradouro": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "numeroComplemento": {
                    "type": "string"
                  },
                  "dataNascimento": {
                    "type": "string"
                  },
                  "documento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "reclamado": {
                "type": "object",
                "properties": {
                  "numeroIdentificacao": {
                    "type": "string"
                  },
                  "nome": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "logradouro": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "numeroComplemento": {
                    "type": "string"
                  },
                  "dataNascimento": {
                    "type": "string"
                  },
                  "documento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "mediador": {
                "type": "object",
                "properties": {
                  "numeroIdentificacao": {
                    "type": "string"
                  },
                  "nome": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "cidade": {
                    "type": "string"
                  },
                  "logradouro": {
                    "type": "string"
                  },
                  "bairro": {
                    "type": "string"
                  },
                  "numeroComplemento": {
                    "type": "string"
                  },
                  "dataNascimento": {
                    "type": "string"
                  },
                  "documento": {
                    "type": "string"
                  },
                  "cep": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "tramites": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "number"
                    },
                    "tipo": {
                      "type": "object",
                      "properties": {
                        "codigo": {
                          "type": "number"
                        },
                        "descricao": {
                          "type": "string"
                        }
                      }
                    },
                    "data": {
                      "type": "string"
                    },
                    "autor": {
                      "type": "string"
                    },
                    "protocoloReclamacao": {
                      "type": "string"
                    },
                    "textos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "texto": {
                            "type": "string"
                          },
                          "tipo": {
                            "type": "object",
                            "properties": {
                              "codigo": {
                                "type": "number"
                              },
                              "descricao": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "anexos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "nome": {
                            "type": "string"
                          },
                          "tamanho": {
                            "type": "number"
                          },
                          "arquivoBase64": {
                            "type": "string"
                          },
                          "acao": {
                            "type": "object",
                            "properties": {
                              "rel": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "method": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "acoes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "rel": {
                      "type": "string"
                    },
                    "href": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "response_200_baixar": {
        "properties": {
          "dado": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "nome": {
                "type": "string"
              },
              "tamanho": {
                "type": "number"
              },
              "arquivoBase64": {
                "type": "string"
              }
            }
          }
        }
      },
      "response_200_situacao": {
        "properties": {
          "dado": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "number"
              },
              "descricao": {
                "type": "string"
              }
            }
          }
        }
      },
      "response_200_situacoes": {
        "properties": {
          "dados": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "protocolo": {
                  "type": "number"
                },
                "situacaoNegociacaoReclamacao": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "response_200_subsidiarias": {
        "properties": {
          "dados": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "number"
                },
                "descricao": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "response_200_token": {
        "properties": {
          "expires_in": {
            "type": "integer",
            "description": "Tempo em segundos que o Token ir\u00e1 expirar.",
            "example": 28800
          },
          "access_token": {
            "type": "string",
            "description": "Token tempor\u00e1rio da credenciada. Deve ser utilizado nos demais acessos.",
            "example": "b895ec3c0e14d76967b564e2fa795862"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Access token is missing or invalid"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}