{
  "openapi": "3.0.1",
  "info": {
    "title": "UN World Population Data Portal API",
    "description": "The United Nations Population Division Data Portal API provides access to comprehensive demographic data including population estimates and projections, fertility, mortality, and migration indicators for all countries and areas of the world. Data is sourced from the World Population Prospects and other UN Population Division publications.",
    "termsOfService": "https://population.un.org/dataportal/about/dataprocess",
    "contact": {
      "name": "UN Population Division",
      "url": "https://population.un.org",
      "email": "population@un.org"
    },
    "license": {
      "name": "Creative Commons CC BY 3.0 IGO",
      "url": "http://creativecommons.org/licenses/by/3.0/igo/"
    },
    "version": "1.0"
  },
  "externalDocs": {
    "description": "API Documentation (Swagger UI)",
    "url": "https://population.un.org/dataportalapi/"
  },
  "servers": [
    {
      "url": "https://population.un.org/dataportalapi",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/data/indicators/{indicators}/locations/{locations}": {
      "get": {
        "tags": ["Data"],
        "summary": "Get population data by indicators and locations",
        "description": "Returns data for a given set of Indicators, Locations, StartYear, EndYear, StartAge, EndAge, Variants, Sexes and Categories.",
        "operationId": "getDataByIndicatorsAndLocations",
        "parameters": [
          {
            "name": "indicators",
            "in": "path",
            "description": "Comma or semicolon separated list of Indicator IDs or short names (e.g., '49' for total population, or 'TPopulation1Jan').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locations",
            "in": "path",
            "description": "Comma or semicolon separated list of Location codes (ISO3, ISO2, or M49 numeric codes, e.g., 'USA;GBR' or '840;826').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "description": "Start year for the data range.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "description": "End year for the data range.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "variants",
            "in": "query",
            "description": "Comma or semicolon separated list of Variant IDs (e.g., '4' for medium variant).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sexes",
            "in": "query",
            "description": "Comma or semicolon separated list of Sex IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ages",
            "in": "query",
            "description": "Comma or semicolon separated list of Age IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma or semicolon separated list of Category IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagingInHeader",
            "in": "query",
            "description": "If true, paging information is returned in response headers instead of the body.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: json (default), xml, or csv.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting. Prefix with '-' for descending order.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number for paginated results.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with population data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MainDataSetFullDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found - indicator or location codes do not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/data/indicators/{indicators}/locations/{locations}/start/{startYear}/end/{endYear}": {
      "get": {
        "tags": ["Data"],
        "summary": "Get population data by indicators, locations, and year range",
        "description": "Returns data for a given set of Indicators, Locations, StartYear and EndYear.",
        "operationId": "getDataByIndicatorsLocationsAndYears",
        "parameters": [
          {
            "name": "indicators",
            "in": "path",
            "description": "Comma or semicolon separated list of Indicator IDs or short names.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locations",
            "in": "path",
            "description": "Comma or semicolon separated list of Location codes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startYear",
            "in": "path",
            "description": "Start year for the data range.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endYear",
            "in": "path",
            "description": "End year for the data range.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "variants",
            "in": "query",
            "description": "Comma or semicolon separated list of Variant IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sexes",
            "in": "query",
            "description": "Comma or semicolon separated list of Sex IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: json, xml, or csv.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting. Prefix with '-' for descending.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number for paginated results.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with population data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MainDataSetFullDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/Indicators": {
      "get": {
        "tags": ["Indicators"],
        "summary": "List all indicators",
        "description": "Returns a paged list of all active Indicators including population, fertility, mortality, and migration indicators.",
        "operationId": "listIndicators",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting. Prefix with '-' for descending. Defaults to 'id'.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: json, xml, or csv.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all indicators.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndicatorFlatDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/Indicators/{codes}": {
      "get": {
        "tags": ["Indicators"],
        "summary": "Get indicators by codes",
        "description": "Returns a list of Indicators filtered by one or more codes that can be Indicator IDs or short names, separated by semicolons or commas.",
        "operationId": "getIndicatorsByCodes",
        "parameters": [
          {
            "name": "codes",
            "in": "path",
            "description": "Semicolon or comma separated Indicator IDs (e.g., '1;24;19') or short names (e.g., 'TPopulation1Jan;TFR5').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: json, xml, or csv.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered list of indicators.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndicatorFlatDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/locations": {
      "get": {
        "tags": ["Locations"],
        "summary": "List all locations",
        "description": "Returns a paged list of all Locations (countries and areas).",
        "operationId": "listLocations",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: json, xml, or csv.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all locations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationFlatDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/locations/{codes}": {
      "get": {
        "tags": ["Locations"],
        "summary": "Get locations by codes",
        "description": "Returns a list of Locations filtered by one or more codes (ISO3, ISO2, or M49 numeric codes) separated by semicolons or commas.",
        "operationId": "getLocationsByCodes",
        "parameters": [
          {
            "name": "codes",
            "in": "path",
            "description": "Semicolon or comma separated location codes: ISO 3166-1 alpha-3 (e.g., 'USA;GBR'), alpha-2 (e.g., 'US;GB'), or M49 numeric (e.g., '840;826').",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: json, xml, or csv.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered list of locations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationFlatDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/locationsWithAggregates": {
      "get": {
        "tags": ["Locations"],
        "summary": "List all locations with aggregates",
        "description": "Returns a list of all Locations including aggregate regions (e.g., World, continents, income groups) sorted by the specified parameter.",
        "operationId": "listLocationsWithAggregates",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format: json, xml, or csv.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all locations with aggregates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationFlatDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/dimensions/times/{timeType}": {
      "get": {
        "tags": ["Dimensions"],
        "summary": "Get available time periods",
        "description": "Returns a list of all available time periods of the specified type.",
        "operationId": "getTimesByType",
        "parameters": [
          {
            "name": "timeType",
            "in": "path",
            "description": "Type of time dimension to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of time periods.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/dimensions/variants": {
      "get": {
        "tags": ["Dimensions"],
        "summary": "List all projection variants",
        "description": "Returns a list of all available projection Variants (e.g., Medium, High, Low fertility variants).",
        "operationId": "listVariants",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projection variants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VariantDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/dimensions/variants/{param}": {
      "get": {
        "tags": ["Dimensions"],
        "summary": "Get variants by IDs or short names",
        "description": "Returns a list of Variants filtered by IDs or short names.",
        "operationId": "getVariantsByParam",
        "parameters": [
          {
            "name": "param",
            "in": "path",
            "description": "Semicolon or comma separated Variant IDs or short names.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered list of variants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VariantDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/empirical/data": {
      "get": {
        "tags": ["EmpiricalData"],
        "summary": "Get empirical population data",
        "description": "Returns empirical (observed, census-based) population data for given indicators, locations, and year range.",
        "operationId": "getEmpiricalData",
        "parameters": [
          {
            "name": "indicators",
            "in": "query",
            "description": "Semicolon or comma separated Indicator IDs or short names.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locations",
            "in": "query",
            "description": "Semicolon or comma separated Location codes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "description": "Start year.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "description": "End year.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empirical data results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmpiricalDataDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/sources": {
      "get": {
        "tags": ["Sources"],
        "summary": "List all data sources",
        "description": "Returns a list of all data Sources used by the Population Division.",
        "operationId": "listSources",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field name for sorting.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SourceDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/sources/{codes}": {
      "get": {
        "tags": ["Sources"],
        "summary": "Get sources by IDs",
        "description": "Returns a list of Sources filtered by one or more Source IDs.",
        "operationId": "getSourcesByCodes",
        "parameters": [
          {
            "name": "codes",
            "in": "path",
            "description": "Semicolon or comma separated Source IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered list of sources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SourceDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/sources/{sourceIds}/indicators": {
      "get": {
        "tags": ["Sources"],
        "summary": "Get indicators for specific sources",
        "description": "Returns all indicators available for the specified data sources.",
        "operationId": "getIndicatorsForSources",
        "parameters": [
          {
            "name": "sourceIds",
            "in": "path",
            "description": "Semicolon or comma separated Source IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of indicators for the sources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndicatorFlatDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/topics": {
      "get": {
        "tags": ["Topics"],
        "summary": "List all topics",
        "description": "Returns a list of all demographic Topics (e.g., Population, Fertility, Mortality, Migration).",
        "operationId": "listTopics",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopicDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/metadata/ages/{indicatorIds}": {
      "get": {
        "tags": ["Metadata"],
        "summary": "Get age metadata for indicators",
        "description": "Returns age group metadata available for the specified indicators.",
        "operationId": "getAgeMetadata",
        "parameters": [
          {
            "name": "indicatorIds",
            "in": "path",
            "description": "Semicolon or comma separated Indicator IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Age metadata for the indicators.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgeMetadataDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/metadata/sexes/{indicatorIds}": {
      "get": {
        "tags": ["Metadata"],
        "summary": "Get sex metadata for indicators",
        "description": "Returns sex dimension metadata available for the specified indicators.",
        "operationId": "getSexMetadata",
        "parameters": [
          {
            "name": "indicatorIds",
            "in": "path",
            "description": "Semicolon or comma separated Indicator IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sex metadata for the indicators.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryMetadataDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/metadata/categories/{indicatorIds}": {
      "get": {
        "tags": ["Metadata"],
        "summary": "Get category metadata for indicators",
        "description": "Returns category metadata available for the specified indicators.",
        "operationId": "getCategoryMetadata",
        "parameters": [
          {
            "name": "indicatorIds",
            "in": "path",
            "description": "Semicolon or comma separated Indicator IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category metadata for the indicators.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryMetadataDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v1/metadata/variants/{indicatorIds}": {
      "get": {
        "tags": ["Metadata"],
        "summary": "Get variant metadata for indicators",
        "description": "Returns projection variant metadata available for the specified indicators.",
        "operationId": "getVariantMetadata",
        "parameters": [
          {
            "name": "indicatorIds",
            "in": "path",
            "description": "Semicolon or comma separated Indicator IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "csv"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variant metadata for the indicators.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VariantMetadataDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/token/request": {
      "post": {
        "tags": ["Token"],
        "summary": "Request an API bearer token",
        "description": "Requests a bearer token to be generated. The token is required for accessing all data endpoints.",
        "operationId": "requestToken",
        "security": [],
        "requestBody": {
          "description": "Token request containing user information.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MainDataSetFullDto": {
        "type": "object",
        "description": "Full dataset record containing population indicator data.",
        "properties": {
          "locationId": {
            "type": "integer",
            "format": "int32",
            "description": "Location numeric ID."
          },
          "location": {
            "type": "string",
            "nullable": true,
            "description": "Location name."
          },
          "iso3": {
            "type": "string",
            "nullable": true,
            "description": "ISO 3166-1 alpha-3 code."
          },
          "iso2": {
            "type": "string",
            "nullable": true,
            "description": "ISO 3166-1 alpha-2 code."
          },
          "indicatorId": {
            "type": "integer",
            "format": "int32",
            "description": "Indicator numeric ID."
          },
          "indicator": {
            "type": "string",
            "nullable": true,
            "description": "Indicator name."
          },
          "indicatorShortName": {
            "type": "string",
            "nullable": true,
            "description": "Indicator short name code."
          },
          "sex": {
            "type": "string",
            "nullable": true,
            "description": "Sex category (e.g., Both Sexes, Male, Female)."
          },
          "sexId": {
            "type": "integer",
            "format": "int32",
            "description": "Sex category ID."
          },
          "variant": {
            "type": "string",
            "nullable": true,
            "description": "Projection variant name."
          },
          "variantId": {
            "type": "integer",
            "format": "int32",
            "description": "Projection variant ID."
          },
          "age": {
            "type": "string",
            "nullable": true,
            "description": "Age group label."
          },
          "ageId": {
            "type": "integer",
            "format": "int32",
            "description": "Age group ID."
          },
          "ageStart": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Start of age range."
          },
          "ageEnd": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "End of age range."
          },
          "ageMid": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Midpoint of age range."
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "Data category."
          },
          "categoryId": {
            "type": "integer",
            "format": "int32",
            "description": "Category ID."
          },
          "timeLabel": {
            "type": "string",
            "nullable": true,
            "description": "Time period label."
          },
          "timeMid": {
            "type": "number",
            "format": "double",
            "description": "Midpoint of time period."
          },
          "timeStart": {
            "type": "number",
            "format": "double",
            "description": "Start of time period."
          },
          "timeEnd": {
            "type": "number",
            "format": "double",
            "description": "End of time period."
          },
          "value": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Data value (population count, rate, ratio, etc.)."
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Data source name."
          },
          "sourceId": {
            "type": "integer",
            "format": "int32",
            "description": "Data source ID."
          }
        },
        "additionalProperties": false
      },
      "EmpiricalDataDto": {
        "type": "object",
        "description": "Empirical (observed) data record.",
        "properties": {
          "locationId": {
            "type": "integer",
            "format": "int32"
          },
          "indicatorId": {
            "type": "integer",
            "format": "int32"
          },
          "sexId": {
            "type": "integer",
            "format": "int32"
          },
          "ageId": {
            "type": "integer",
            "format": "int32"
          },
          "timeMid": {
            "type": "number",
            "format": "double"
          },
          "timeStart": {
            "type": "number",
            "format": "double"
          },
          "timeEnd": {
            "type": "number",
            "format": "double"
          },
          "value": {
            "type": "number",
            "format": "double"
          },
          "series": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IndicatorFlatDto": {
        "type": "object",
        "description": "Indicator definition.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "shortName": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "dimAge": {
            "type": "boolean",
            "description": "Whether this indicator has an age dimension."
          },
          "dimSex": {
            "type": "boolean",
            "description": "Whether this indicator has a sex dimension."
          },
          "dimVariant": {
            "type": "boolean",
            "description": "Whether this indicator has projection variants."
          },
          "dimCategory": {
            "type": "boolean",
            "description": "Whether this indicator has categories."
          },
          "defaultAgeId": {
            "type": "integer",
            "format": "int32"
          },
          "defaultSexId": {
            "type": "integer",
            "format": "int32"
          },
          "defaultVariantId": {
            "type": "integer",
            "format": "int32"
          },
          "defaultCategoryId": {
            "type": "integer",
            "format": "int32"
          },
          "unitShortLabel": {
            "type": "string",
            "nullable": true
          },
          "unitLongLabel": {
            "type": "string",
            "nullable": true
          },
          "sourceId": {
            "type": "integer",
            "format": "int32"
          },
          "sourceName": {
            "type": "string",
            "nullable": true
          },
          "topicId": {
            "type": "integer",
            "format": "int32"
          },
          "topicName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LocationFlatDto": {
        "type": "object",
        "description": "Location (country or area) definition.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "iso3": {
            "type": "string",
            "nullable": true
          },
          "iso2": {
            "type": "string",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TimeDto": {
        "type": "object",
        "description": "Time period definition.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "mid": {
            "type": "number",
            "format": "double"
          },
          "start": {
            "type": "number",
            "format": "double"
          },
          "end": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "VariantDto": {
        "type": "object",
        "description": "Projection variant definition (e.g., Medium, High, Low).",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "shortName": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SourceDto": {
        "type": "object",
        "description": "Data source definition.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "citation": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TopicDto": {
        "type": "object",
        "description": "Demographic topic grouping.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "shortName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgeMetadataDto": {
        "type": "object",
        "description": "Age group metadata for an indicator.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "ageStart": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ageEnd": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ageMid": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CategoryMetadataDto": {
        "type": "object",
        "description": "Category or sex metadata for an indicator.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "VariantMetadataDto": {
        "type": "object",
        "description": "Variant metadata for an indicator.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "shortName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TokenRequestDto": {
        "type": "object",
        "description": "Request body for obtaining an API bearer token.",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the requester.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TokenRequestResponse": {
        "type": "object",
        "description": "Response containing the bearer token.",
        "properties": {
          "token": {
            "type": "string",
            "nullable": true,
            "description": "JWT bearer token for API access."
          },
          "expiresIn": {
            "type": "integer",
            "format": "int32",
            "description": "Token expiration time in seconds."
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "description": "RFC 7807 problem details for error responses.",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "description": "JWT Authorization header using the Bearer scheme. Obtain a token via the /api/token/request endpoint.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "Data",
      "description": "Population data retrieval endpoints for estimates and projections."
    },
    {
      "name": "EmpiricalData",
      "description": "Empirical (observed/census-based) population data."
    },
    {
      "name": "Indicators",
      "description": "Demographic indicators (population, fertility, mortality, migration)."
    },
    {
      "name": "Locations",
      "description": "Countries, areas, and aggregate regions."
    },
    {
      "name": "Dimensions",
      "description": "Time periods and projection variants."
    },
    {
      "name": "Sources",
      "description": "Data sources and publications."
    },
    {
      "name": "Topics",
      "description": "Demographic topic groupings."
    },
    {
      "name": "Metadata",
      "description": "Metadata about available dimensions for indicators."
    },
    {
      "name": "Token",
      "description": "Authentication token management."
    }
  ]
}
