{
  "openapi": "3.0.3",
  "info": {
    "title": "T2M URL Shortener API",
    "description": "API for creating, managing, and tracking shortened URLs. Provides URL management, tagging, and comprehensive click statistics.",
    "version": "1.0.0",
    "contact": {
      "name": "T2M",
      "url": "https://t2mio.com"
    },
    "x-jentic-source-url": "https://t2mio.com/docs/api"
  },
  "servers": [
    {
      "url": "https://t2mio.com/api/v1",
      "description": "T2M Production API"
    }
  ],
  "security": [
    {
      "apiKey": [],
      "apiSecret": []
    }
  ],
  "paths": {
    "/urls": {
      "get": {
        "tags": [
          "URLs"
        ],
        "summary": "List all shortened URLs",
        "operationId": "listUrls",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Url"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all shortened URLs"
      },
      "post": {
        "tags": [
          "URLs"
        ],
        "summary": "Create a shortened URL",
        "operationId": "createUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "long_url"
                ],
                "properties": {
                  "long_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The original long URL to shorten"
                  },
                  "custom_alias": {
                    "type": "string",
                    "description": "Custom short URL alias"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the URL"
                  },
                  "tag_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Tag IDs to associate"
                  },
                  "expiry_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiration date for the URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Url"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a shortened URL"
      }
    },
    "/urls/{id}": {
      "get": {
        "tags": [
          "URLs"
        ],
        "summary": "Get a specific URL",
        "operationId": "getUrl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Url"
                }
              }
            }
          },
          "404": {
            "description": "URL not found"
          }
        },
        "description": "Get a specific URL"
      },
      "put": {
        "tags": [
          "URLs"
        ],
        "summary": "Update a shortened URL",
        "operationId": "updateUrl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "long_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "title": {
                    "type": "string"
                  },
                  "tag_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "expiry_date": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Url"
                }
              }
            }
          }
        },
        "description": "Update a shortened URL"
      },
      "delete": {
        "tags": [
          "URLs"
        ],
        "summary": "Delete a shortened URL",
        "operationId": "deleteUrl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL deleted"
          },
          "404": {
            "description": "URL not found"
          }
        },
        "description": "Delete a shortened URL"
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List all tags",
        "operationId": "listTags",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List all tags"
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create a tag",
        "operationId": "createTag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        },
        "description": "Create a tag"
      }
    },
    "/tags/{id}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get a specific tag",
        "operationId": "getTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        },
        "description": "Get a specific tag"
      },
      "put": {
        "tags": [
          "Tags"
        ],
        "summary": "Update a tag",
        "operationId": "updateTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated"
          }
        },
        "description": "Update a tag"
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Delete a tag",
        "operationId": "deleteTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted"
          }
        },
        "description": "Delete a tag"
      }
    },
    "/stats/daily": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get daily click statistics",
        "operationId": "getDailyStats",
        "parameters": [
          {
            "name": "url_id",
            "in": "query",
            "description": "Filter by URL ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          }
        },
        "description": "Get daily click statistics"
      }
    },
    "/stats/monthly": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get monthly click statistics",
        "operationId": "getMonthlyStats",
        "parameters": [
          {
            "name": "url_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monthly statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          }
        },
        "description": "Get monthly click statistics"
      }
    },
    "/stats/yearly": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get yearly click statistics",
        "operationId": "getYearlyStats",
        "parameters": [
          {
            "name": "url_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Yearly statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          }
        },
        "description": "Get yearly click statistics"
      }
    },
    "/stats/alltime": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get all-time click statistics",
        "operationId": "getAlltimeStats",
        "parameters": [
          {
            "name": "url_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All-time statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          }
        },
        "description": "Get all-time click statistics"
      }
    },
    "/stats/geo": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get geographic/country click statistics",
        "operationId": "getGeoStats",
        "parameters": [
          {
            "name": "url_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geographic statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          }
        },
        "description": "Get geographic/country click statistics"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API Key from T2M dashboard"
      },
      "apiSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Secret",
        "description": "API Secret from T2M dashboard"
      }
    },
    "schemas": {
      "Url": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "long_url": {
            "type": "string",
            "format": "uri"
          },
          "short_url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "clicks": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "expiry_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "clicks": {
                  "type": "integer"
                },
                "unique_clicks": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Stats"
    },
    {
      "name": "Tags"
    },
    {
      "name": "URLs"
    }
  ]
}
