{
  "openapi": "3.0.3",
  "info": {
    "title": "CheetahO Image Optimization API",
    "description": "CheetahO is an image optimization and compression API that supports JPEG, PNG, and GIF formats. It provides lossy and lossless compression, image resizing, WebP conversion, and custom quality settings.",
    "version": "2.0.0",
    "contact": {
      "name": "CheetahO",
      "url": "https://cheetaho.com"
    },
    "x-jentic-source-url": "https://cheetaho.com/api-documentation/"
  },
  "externalDocs": {
    "description": "CheetahO API Documentation",
    "url": "https://cheetaho.com/api-documentation/"
  },
  "servers": [
    {
      "url": "https://api.cheetaho.com",
      "description": "CheetahO Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Optimization",
      "description": "Image optimization and compression endpoints"
    },
    {
      "name": "Account",
      "description": "User account and quota management"
    }
  ],
  "paths": {
    "/api/v2/media/optimization": {
      "post": {
        "operationId": "optimizeImage",
        "summary": "Optimize an image",
        "description": "Optimize an image by providing a URL or uploading a file. Supports lossy/lossless compression, resizing, WebP conversion, and custom quality settings.",
        "tags": ["Optimization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizationRequest"
              },
              "examples": {
                "urlOptimization": {
                  "summary": "URL-based optimization",
                  "value": {
                    "url": "https://example.com/image.jpg",
                    "compression": "lossy",
                    "wait": true,
                    "web_p": true
                  }
                },
                "withResize": {
                  "summary": "Optimization with resize",
                  "value": {
                    "url": "https://example.com/image.jpg",
                    "compression": "lossy",
                    "quality": 50,
                    "keep_exif": 1,
                    "web_p": true,
                    "wait": true,
                    "resize": {
                      "width": 100,
                      "height": 75,
                      "strategy": "crop"
                    }
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OptimizationUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image optimized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "type": "ValidationException",
                    "message": [
                      {
                        "attribute": "compression",
                        "text": "The compression field is required."
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "type": "AuthorizationException",
                    "message": "Invalid API Key or Secret."
                  }
                }
              }
            }
          },
          "413": {
            "description": "File exceeds plan limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "type": "FileValidationException",
                    "message": "File exceeds your plan limit. Please upgrade."
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "type": "UnsupportedMediaType",
                    "message": "Unsupported image format."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user": {
      "get": {
        "operationId": "getUserAccount",
        "summary": "Get user account data",
        "description": "Retrieve account data including used quota, current plan name, and username.",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "User account data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "header",
        "description": "API key obtained from the CheetahO dashboard API Credentials section."
      }
    },
    "schemas": {
      "OptimizationRequest": {
        "type": "object",
        "required": ["url", "compression"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image to optimize."
          },
          "compression": {
            "type": "string",
            "enum": ["lossy", "lossless"],
            "description": "Compression type: lossy for maximum compression, lossless for no quality loss."
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Custom quality level (1-100). Only applicable with lossy compression. Values below 25 for JPEG may produce unusable results."
          },
          "keep_exif": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to preserve EXIF metadata in the optimized image."
          },
          "web_p": {
            "type": "boolean",
            "description": "When true, also generates a WebP version of the optimized image."
          },
          "wait": {
            "type": "boolean",
            "description": "When true, the request waits for optimization to complete before responding."
          },
          "resize": {
            "$ref": "#/components/schemas/ResizeOptions"
          }
        }
      },
      "OptimizationUploadRequest": {
        "type": "object",
        "required": ["file", "compression"],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Image file to upload and optimize."
          },
          "compression": {
            "type": "string",
            "enum": ["lossy", "lossless"],
            "description": "Compression type."
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Custom quality level (1-100)."
          },
          "keep_exif": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to preserve EXIF metadata."
          },
          "web_p": {
            "type": "boolean",
            "description": "Generate a WebP version."
          },
          "wait": {
            "type": "boolean",
            "description": "Wait for optimization to complete."
          },
          "resize": {
            "type": "string",
            "description": "JSON-encoded resize options object."
          }
        }
      },
      "ResizeOptions": {
        "type": "object",
        "required": ["width", "height", "strategy"],
        "properties": {
          "width": {
            "type": "integer",
            "description": "Target width in pixels. Image will never be enlarged beyond original dimensions."
          },
          "height": {
            "type": "integer",
            "description": "Target height in pixels. Image will never be enlarged beyond original dimensions."
          },
          "strategy": {
            "type": "string",
            "enum": ["exact", "portrait", "landscape", "auto", "fit", "crop"],
            "description": "Resize strategy: exact (ignores aspect ratio), portrait (exact height, auto width), landscape (exact width, auto height), auto (optimal based on aspect ratio), fit (crop and resize to fit), crop (crop to exact dimensions)."
          }
        }
      },
      "OptimizationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OptimizedImage"
                }
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique transaction identifier."
              }
            }
          }
        }
      },
      "OptimizedImage": {
        "type": "object",
        "properties": {
          "original_size": {
            "type": "integer",
            "description": "Original file size in bytes."
          },
          "optimized_size": {
            "type": "integer",
            "description": "Optimized file size in bytes."
          },
          "saved_bytes": {
            "type": "integer",
            "description": "Number of bytes saved."
          },
          "saved_percent": {
            "type": "number",
            "description": "Percentage of size reduction."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to download the optimized image. Available for a limited time."
          },
          "optimization_status": {
            "type": "string",
            "description": "Status of the optimization process."
          },
          "web_p_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to download the WebP version, if requested."
          },
          "valid_till": {
            "type": "string",
            "description": "Timestamp indicating how long the optimized image is available for download."
          },
          "message": {
            "type": "string",
            "nullable": true,
            "description": "Additional message about the optimization."
          },
          "width": {
            "type": "integer",
            "description": "Width of the optimized image in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Height of the optimized image in pixels."
          }
        }
      },
      "UserAccountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string",
                "description": "Account username."
              },
              "plan_name": {
                "type": "string",
                "description": "Current plan name."
              },
              "quota_used": {
                "type": "integer",
                "description": "Number of images optimized in the current billing period."
              },
              "quota_limit": {
                "type": "integer",
                "description": "Maximum number of images allowed in the current billing period."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Error type classification.",
                "enum": [
                  "ValidationException",
                  "AuthorizationException",
                  "FileValidationException",
                  "UnsupportedMediaType"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "attribute": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ],
                "description": "Error message string or array of validation errors."
              }
            }
          }
        }
      }
    }
  }
}
