{
  "openapi": "3.0.3",
  "info": {
    "title": "Snackeet API",
    "version": "1.0.0",
    "description": "API for Snackeet integration. Snackeet is a visual builder for creating stunning interactive and conversational short stories, online quizzes, surveys, polls and much more. This API enables OAuth authentication, organization/project/story management, and user answer extraction.",
    "contact": {
      "name": "Snackeet Dev Team",
      "url": "https://snackeet.com",
      "email": "hello@snackeet.com"
    },
    "x-jentic-source-url": "https://app.swaggerhub.com/apis-docs/snackeet/snackeet-oauth/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.snackeet.com",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Get Token for both authorization_code and refresh_token grants",
        "description": "Operation for both grant types authorization_code and refresh_token.\n\nFor authorization_code grant, provide: code, client_id, client_secret, grant_type='authorization_code', redirect_uri.\n\nFor refresh_token grant, provide: refresh_token, client_id, client_secret, grant_type='refresh_token'.",
        "operationId": "oauthToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing client_id, invalid response_type, invalid grant_type, missing redirect_uri, invalid redirect_uri, or missing refresh_token"
          },
          "500": {
            "description": "Server error or refresh_token expired"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organizations list",
        "description": "Returns a list of organizations the authenticated user belongs to.",
        "operationId": "getOrganizations",
        "responses": {
          "200": {
            "description": "Organizations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organizations"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Access Token expired"
          },
          "403": {
            "description": "Forbidden - Invalid Token"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get projects (workspaces) list",
        "description": "Returns a list of projects belonging to the specified organization.",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "ID of the organization that owns the list of projects",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Projects"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing organization in query"
          },
          "401": {
            "description": "Unauthorized - Access Token expired"
          },
          "403": {
            "description": "Forbidden - Invalid Token"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/snackeets": {
      "get": {
        "tags": [
          "Stories"
        ],
        "summary": "Get stories list",
        "description": "Returns a list of stories belonging to the specified project.",
        "operationId": "getSnackeets",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "ID of the project that owns the list of stories",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stories"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing project in query"
          },
          "401": {
            "description": "Unauthorized - Access Token expired"
          },
          "403": {
            "description": "Forbidden - Invalid Token"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/users/answers": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Extract answers of all story's users",
        "description": "Extracts all user answers/responses from a specific story.",
        "operationId": "getAnswers",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "ID of the project that owns the list of stories",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "story_id",
            "in": "query",
            "description": "Story ID of the story to extract users' answers from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User answers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAnswers"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing project or story_id in query"
          },
          "401": {
            "description": "Unauthorized - Access Token expired"
          },
          "403": {
            "description": "Forbidden - Invalid Token"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Obtain your access token via the /oauth/token endpoint. Tokens expire in 3600 seconds; use refresh tokens (valid 14 days) to obtain new access tokens."
      }
    },
    "schemas": {
      "OAuthTokenRequest": {
        "type": "object",
        "required": [
          "client_id",
          "client_secret",
          "grant_type"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "Your application's client ID"
          },
          "client_secret": {
            "type": "string",
            "description": "Your application's client secret"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ],
            "description": "The grant type for the token request"
          },
          "code": {
            "type": "string",
            "description": "Temporary authorization code (required for authorization_code grant)"
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URI (required for authorization_code grant)"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token (required for refresh_token grant)"
          }
        }
      },
      "Token": {
        "type": "object",
        "required": [
          "_id",
          "access_token",
          "token_type",
          "expires_in",
          "refresh_token"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Token record ID",
            "example": "507f1f77bcf86cd799439113"
          },
          "access_token": {
            "type": "string",
            "description": "Access token consisting of 40 characters in the range of a-z and 0-9",
            "example": "b679480440b2f679d369709a2b67e8302b4e82a7"
          },
          "token_type": {
            "type": "string",
            "description": "Token type",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "number",
            "description": "Token lifetime in seconds (1 hour)",
            "example": 3600
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token consisting of 40 characters, valid for 14 days",
            "example": "1bf9c48c77475c83e16d2eeef9cc567dd956e814"
          }
        }
      },
      "Organization": {
        "type": "object",
        "required": [
          "_id",
          "object",
          "name"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Organization ID",
            "example": "507f1f77bcf86cd799439011"
          },
          "object": {
            "type": "string",
            "description": "Object type",
            "example": "organization"
          },
          "name": {
            "type": "string",
            "description": "Organization name",
            "example": "Snackeet's organization"
          }
        }
      },
      "Organizations": {
        "type": "array",
        "description": "List of organizations",
        "items": {
          "$ref": "#/components/schemas/Organization"
        }
      },
      "Project": {
        "type": "object",
        "required": [
          "_id",
          "object",
          "name"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Project ID",
            "example": "507f1f77bcf86cd799439012"
          },
          "object": {
            "type": "string",
            "description": "Object type",
            "example": "project"
          },
          "name": {
            "type": "string",
            "description": "Project name",
            "example": "My Workspace"
          }
        }
      },
      "Projects": {
        "type": "array",
        "description": "List of projects",
        "items": {
          "$ref": "#/components/schemas/Project"
        }
      },
      "Story": {
        "type": "object",
        "required": [
          "_id",
          "story_id",
          "name",
          "project"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Story record ID",
            "example": "507f1f77bcf86cd799439012"
          },
          "story_id": {
            "type": "string",
            "description": "Story ID",
            "example": "508f1f77bcf86cd788439012"
          },
          "name": {
            "type": "string",
            "description": "Story name",
            "example": "My Snackeet"
          },
          "project": {
            "type": "string",
            "description": "Project ID the story belongs to",
            "example": "608g1f87aff86ed788439015"
          }
        }
      },
      "Stories": {
        "type": "array",
        "description": "List of stories",
        "items": {
          "$ref": "#/components/schemas/Story"
        }
      },
      "UserAnswer": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "User ID",
            "example": "610a64a2e36168150deced6a"
          },
          "date_created": {
            "type": "string",
            "description": "Date the answer was created",
            "example": "04/08/2021 - 09:57"
          },
          "first_landed": {
            "type": "string",
            "description": "Date the user first landed on the story",
            "example": "04/08/2021 - 09:57"
          }
        },
        "additionalProperties": {
          "description": "Dynamic answer fields keyed by question IDs"
        }
      },
      "UserAnswers": {
        "type": "array",
        "description": "List of user answers",
        "items": {
          "$ref": "#/components/schemas/UserAnswer"
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth",
      "description": "Operations to acquire Access Token"
    },
    {
      "name": "Organizations",
      "description": "Operations to manage your organization"
    },
    {
      "name": "Projects",
      "description": "Operations to manage your projects"
    },
    {
      "name": "Stories",
      "description": "Operations to manage your stories"
    },
    {
      "name": "Users",
      "description": "Operations to manage your stories' users"
    }
  ]
}