{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipkart Marketplace Seller API",
    "version": "3.0",
    "description": "Flipkart Marketplace Seller API for managing product listings, orders, shipments, returns, and services on the Flipkart platform.",
    "x-jentic-source-url": "https://seller.flipkart.com/api-docs/index.html"
  },
  "servers": [{"url": "https://api.flipkart.net/sellers"}],
  "paths": {
    "/listings/v3": {
      "post": {"operationId": "createListings", "summary": "Create product listings", "tags": ["Listings"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/listings/v3/update": {
      "post": {"operationId": "updateListings", "summary": "Update existing listings", "tags": ["Listings"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/listings/v3/{skuIds}": {
      "get": {"operationId": "getListings", "summary": "Get listings by SKU IDs", "tags": ["Listings"], "parameters": [{"name": "skuIds", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/listings/v3/update/price": {
      "post": {"operationId": "updatePrice", "summary": "Update product pricing", "tags": ["Listings"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/listings/v3/update/inventory": {
      "post": {"operationId": "updateInventory", "summary": "Update stock quantities", "tags": ["Listings"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v3/shipments/filter/": {
      "post": {"operationId": "filterShipments", "summary": "Filter and retrieve shipments", "tags": ["Orders"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v3/shipments/{shipmentIds}": {
      "get": {"operationId": "getShipments", "summary": "Get shipment details", "tags": ["Orders"], "parameters": [{"name": "shipmentIds", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v3/shipments/{shipmentIds}/labels": {
      "get": {"operationId": "getShipmentLabels", "summary": "Get shipment labels", "tags": ["Orders"], "parameters": [{"name": "shipmentIds", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v3/shipments/{shipmentIds}/invoices": {
      "get": {"operationId": "getShipmentInvoices", "summary": "Get shipment invoices", "tags": ["Orders"], "parameters": [{"name": "shipmentIds", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v3/shipments/dispatch": {
      "post": {"operationId": "dispatchShipments", "summary": "Mark shipments as dispatched", "tags": ["Orders"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v3/shipments/cancel": {
      "post": {"operationId": "cancelShipments", "summary": "Cancel shipments", "tags": ["Orders"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v2/returns": {
      "get": {"operationId": "listReturns", "summary": "List return requests", "tags": ["Returns"], "parameters": [{"name": "returnIds", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v2/returns/approve": {
      "post": {"operationId": "approveReturns", "summary": "Approve returns", "tags": ["Returns"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/v2/returns/reject": {
      "post": {"operationId": "rejectReturns", "summary": "Reject returns", "tags": ["Returns"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {"type": "object", "properties": {"error": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "oauth2": {"type": "oauth2", "flows": {"clientCredentials": {"tokenUrl": "https://api.flipkart.net/oauth-service/oauth/token", "scopes": {}}}}
    }
  },
  "security": [{"oauth2": []}]
}
