{
  "openapi": "3.0.3",
  "info": {
    "title": "Crowdsignal API",
    "version": "1.0.0",
    "description": "The Crowdsignal API allows you to manage polls, ratings, and surveys programmatically. Create, update, and retrieve polls, collect votes, manage comments, and customize styling.",
    "x-jentic-source-url": "https://crowdsignal.com/support/api/"
  },
  "servers": [
    {
      "url": "https://api.crowdsignal.com/v1"
    }
  ],
  "paths": {
    "/pdInitiate": {
      "post": {
        "operationId": "initiate",
        "summary": "Register a user with the API key",
        "description": "Register a user with the API key to obtain a userCode for subsequent requests.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "partnerGUID",
                  "partnerUserID",
                  "email",
                  "password"
                ],
                "properties": {
                  "partnerGUID": {
                    "type": "string",
                    "description": "API key."
                  },
                  "partnerUserID": {
                    "type": "string",
                    "description": "Partner user identifier."
                  },
                  "email": {
                    "type": "string",
                    "description": "User email address."
                  },
                  "password": {
                    "type": "string",
                    "description": "User password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully registered, returns userCode.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetUserCode": {
      "post": {
        "operationId": "getUserCode",
        "summary": "Retrieve the Crowdsignal API userCode",
        "description": "Retrieve the Crowdsignal API userCode for an existing user.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "partnerGUID",
                  "partnerUserID"
                ],
                "properties": {
                  "partnerGUID": {
                    "type": "string",
                    "description": "API key."
                  },
                  "partnerUserID": {
                    "type": "string",
                    "description": "Partner user identifier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved userCode.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetFolders": {
      "post": {
        "operationId": "getFolders",
        "summary": "Retrieve a list of folders",
        "description": "Retrieve a list of folders in your account.",
        "tags": [
          "Folders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode"
                ],
                "properties": {
                  "userCode": {
                    "type": "string",
                    "description": "User authentication code."
                  },
                  "start": {
                    "type": "integer",
                    "description": "Pagination start index."
                  },
                  "end": {
                    "type": "integer",
                    "description": "Pagination end index."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of folders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetAccount": {
      "post": {
        "operationId": "getAccount",
        "summary": "Retrieve account details",
        "description": "Retrieve your Crowdsignal account details.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/UpdateAccount": {
      "post": {
        "operationId": "updateAccount",
        "summary": "Update account details",
        "description": "Update your Crowdsignal account.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetPoll": {
      "post": {
        "operationId": "getPoll",
        "summary": "Retrieve a poll's configuration",
        "description": "Retrieve a poll's configuration by its ID.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer",
                    "description": "Poll ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Poll configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Poll"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetPolls": {
      "post": {
        "operationId": "getPolls",
        "summary": "List polls",
        "description": "List polls in account with optional pagination and filtering.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "start": {
                    "type": "integer"
                  },
                  "end": {
                    "type": "integer"
                  },
                  "folder_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of poll summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Poll"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CreatePoll": {
      "post": {
        "operationId": "createPoll",
        "summary": "Create a new poll",
        "description": "Create a new poll with questions, answers, and settings.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "question",
                  "answers"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "question": {
                    "type": "string"
                  },
                  "answers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "settings": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created poll.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Poll"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/UpdatePoll": {
      "post": {
        "operationId": "updatePoll",
        "summary": "Update existing poll",
        "description": "Update existing poll configuration.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "question": {
                    "type": "string"
                  },
                  "answers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "settings": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated poll.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Poll"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DeletePoll": {
      "post": {
        "operationId": "deletePoll",
        "summary": "Delete a poll",
        "description": "Delete a poll by its ID.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Poll deleted successfully."
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetPollResults": {
      "post": {
        "operationId": "getPollResults",
        "summary": "Retrieve poll results",
        "description": "Retrieve poll results with percentages and totals.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Poll results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetPollVotes": {
      "post": {
        "operationId": "getPollVotes",
        "summary": "Retrieve individual poll votes",
        "description": "Retrieve individual poll votes. Requires Premium, Pro (legacy), or higher account.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id",
                  "start",
                  "end"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "start": {
                    "type": "integer"
                  },
                  "end": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of vote objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ResetPollResults": {
      "post": {
        "operationId": "resetPollResults",
        "summary": "Clear all results for a poll",
        "description": "Clear all results for a poll.",
        "tags": [
          "Polls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results cleared successfully."
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetPollComments": {
      "post": {
        "operationId": "getPollComments",
        "summary": "Retrieve comments on a poll",
        "description": "Retrieve comments on a poll with optional pagination.",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "start": {
                    "type": "integer"
                  },
                  "end": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of comment objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ModerateComment": {
      "post": {
        "operationId": "moderateComment",
        "summary": "Approve or reject a comment",
        "description": "Approve or reject poll comments.",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "id",
                  "method"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer",
                    "description": "Comment ID."
                  },
                  "method": {
                    "type": "integer",
                    "description": "1 = approve, 2 = reject.",
                    "enum": [
                      1,
                      2
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment moderated successfully."
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Vote": {
      "post": {
        "operationId": "vote",
        "summary": "Register a vote on a poll",
        "description": "Register a vote on a poll. Poll owner must be Business or Team subscriber.",
        "tags": [
          "Voting"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userCode",
                  "poll_id"
                ],
                "properties": {
                  "userCode": {
                    "type": "string"
                  },
                  "poll_id": {
                    "type": "integer"
                  },
                  "answers_text": {
                    "type": "string",
                    "description": "Comma-separated answer IDs."
                  },
                  "other_text": {
                    "type": "string",
                    "description": "Custom answer text."
                  },
                  "url": {
                    "type": "string"
                  },
                  "ip": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "object",
                    "description": "Custom voter identification tags."
                  },
                  "widget_id": {
                    "type": "integer"
                  },
                  "cookie": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated poll results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Poll": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "question": {
            "type": "string"
          },
          "answers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "PollResults": {
        "type": "object",
        "properties": {
          "total_votes": {
            "type": "integer"
          },
          "answers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "text": {
                  "type": "string"
                },
                "votes": {
                  "type": "integer"
                },
                "percentage": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Vote": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "tags": {
            "type": "object"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "partnerGUID",
        "description": "Crowdsignal API key used as partnerGUID parameter."
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Createpoll"
    },
    {
      "name": "Deletepoll"
    },
    {
      "name": "Getaccount"
    },
    {
      "name": "Getfolders"
    },
    {
      "name": "Getpoll"
    },
    {
      "name": "Getpollcomments"
    },
    {
      "name": "Getpollresults"
    },
    {
      "name": "Getpolls"
    },
    {
      "name": "Getpollvotes"
    },
    {
      "name": "Getusercode"
    },
    {
      "name": "Moderatecomment"
    },
    {
      "name": "Pdinitiate"
    },
    {
      "name": "Resetpollresults"
    },
    {
      "name": "Updateaccount"
    },
    {
      "name": "Updatepoll"
    },
    {
      "name": "Vote"
    }
  ]
}