{
  "openapi": "3.0.3",
  "info": {
    "title": "mempool.space REST API",
    "version": "1.0.0",
    "description": "Bitcoin blockchain explorer API providing access to blocks, transactions, addresses, mempool data, mining statistics, Lightning Network data, and fee estimates.",
    "x-jentic-source-url": "https://mempool.space/docs/api/rest"
  },
  "servers": [
    {
      "url": "https://mempool.space"
    }
  ],
  "paths": {
    "/api/v1/difficulty-adjustment": {
      "get": {
        "operationId": "getDifficultyAdjustment",
        "summary": "Get difficulty adjustment details",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Difficulty adjustment information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DifficultyAdjustment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/prices": {
      "get": {
        "operationId": "getPrices",
        "summary": "Get current BTC price in major currencies",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Current BTC prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prices"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/historical-price": {
      "get": {
        "operationId": "getHistoricalPrice",
        "summary": "Get historical BTC pricing",
        "tags": [
          "General"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Currency code (e.g., USD, EUR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp for historical price",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical price data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalPrice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/address/{address}": {
      "get": {
        "operationId": "getAddress",
        "summary": "Get address details with chain and mempool stats",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Bitcoin address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/address/{address}/txs": {
      "get": {
        "operationId": "getAddressTransactions",
        "summary": "Get recent transactions for an address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Bitcoin address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_txid",
            "in": "query",
            "description": "Transaction ID for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/address/{address}/txs/chain": {
      "get": {
        "operationId": "getAddressConfirmedTransactions",
        "summary": "Get confirmed transactions for an address (25 per page)",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of confirmed transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/address/{address}/txs/mempool": {
      "get": {
        "operationId": "getAddressMempoolTransactions",
        "summary": "Get unconfirmed transactions for an address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of unconfirmed transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/address/{address}/utxo": {
      "get": {
        "operationId": "getAddressUtxo",
        "summary": "Get unspent transaction outputs for an address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of UTXOs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Utxo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/validate-address/{address}": {
      "get": {
        "operationId": "validateAddress",
        "summary": "Validate a Bitcoin address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/block/{hash}": {
      "get": {
        "operationId": "getBlock",
        "summary": "Get full block details",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Block hash",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/block/{hash}/header": {
      "get": {
        "operationId": "getBlockHeader",
        "summary": "Get hex-encoded block header",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hex-encoded block header",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/block-height/{height}": {
      "get": {
        "operationId": "getBlockHash",
        "summary": "Get block hash at a specific height",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block hash",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/block/{hash}/status": {
      "get": {
        "operationId": "getBlockStatus",
        "summary": "Get block confirmation status",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/tip/height": {
      "get": {
        "operationId": "getBlockTipHeight",
        "summary": "Get latest block height",
        "tags": [
          "Blocks"
        ],
        "responses": {
          "200": {
            "description": "Latest block height",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/tip/hash": {
      "get": {
        "operationId": "getBlockTipHash",
        "summary": "Get latest block hash",
        "tags": [
          "Blocks"
        ],
        "responses": {
          "200": {
            "description": "Latest block hash",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/block/{hash}/txid/{index}": {
      "get": {
        "operationId": "getBlockTransactionByIndex",
        "summary": "Get transaction ID at a specific index in a block",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction ID",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/block/{hash}/txids": {
      "get": {
        "operationId": "getBlockTransactionIds",
        "summary": "Get all transaction IDs in a block",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/block/{hash}/txs/{startIndex}": {
      "get": {
        "operationId": "getBlockTransactions",
        "summary": "Get block transactions paginated (25 per page)",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/{startHeight}": {
      "get": {
        "operationId": "getBlocks",
        "summary": "Get past 10 blocks starting from height",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "startHeight",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mining/pools/{timePeriod}": {
      "get": {
        "operationId": "getMiningPools",
        "summary": "Get mining pools ranked by blocks mined",
        "tags": [
          "Mining"
        ],
        "parameters": [
          {
            "name": "timePeriod",
            "in": "path",
            "required": true,
            "description": "Time period (24h, 3d, 1w, 1m, 3m, 6m, 1y, 2y, 3y)",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "3d",
                "1w",
                "1m",
                "3m",
                "6m",
                "1y",
                "2y",
                "3y"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mining pools data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MiningPools"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mining/pool/{slug}": {
      "get": {
        "operationId": "getMiningPool",
        "summary": "Get specific mining pool details",
        "tags": [
          "Mining"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mining pool details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MiningPool"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mining/hashrate/{timePeriod}": {
      "get": {
        "operationId": "getNetworkHashrate",
        "summary": "Get network hashrate and difficulty",
        "tags": [
          "Mining"
        ],
        "parameters": [
          {
            "name": "timePeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network hashrate data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashrateData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mining/reward-stats/{blockCount}": {
      "get": {
        "operationId": "getMiningRewardStats",
        "summary": "Get reward statistics for recent blocks",
        "tags": [
          "Mining"
        ],
        "parameters": [
          {
            "name": "blockCount",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mining reward statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mining/blocks/fees/{timePeriod}": {
      "get": {
        "operationId": "getMiningBlockFees",
        "summary": "Get average block fees over time",
        "tags": [
          "Mining"
        ],
        "parameters": [
          {
            "name": "timePeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Average block fees data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockFeeData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fees/mempool-blocks": {
      "get": {
        "operationId": "getFeeMempoolBlocks",
        "summary": "Get current mempool as projected blocks",
        "tags": [
          "Fees"
        ],
        "responses": {
          "200": {
            "description": "Projected mempool blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MempoolBlock"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fees/recommended": {
      "get": {
        "operationId": "getRecommendedFees",
        "summary": "Get suggested transaction fee rates",
        "tags": [
          "Fees"
        ],
        "responses": {
          "200": {
            "description": "Recommended fees",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedFees"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mempool": {
      "get": {
        "operationId": "getMempool",
        "summary": "Get current mempool backlog statistics",
        "tags": [
          "Mempool"
        ],
        "responses": {
          "200": {
            "description": "Mempool statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MempoolStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mempool/txids": {
      "get": {
        "operationId": "getMempoolTxIds",
        "summary": "Get all mempool transaction IDs",
        "tags": [
          "Mempool"
        ],
        "responses": {
          "200": {
            "description": "Array of transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mempool/recent": {
      "get": {
        "operationId": "getMempoolRecent",
        "summary": "Get last 10 mempool transactions",
        "tags": [
          "Mempool"
        ],
        "responses": {
          "200": {
            "description": "Recent mempool transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tx/{txid}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get full transaction details",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tx/{txid}/hex": {
      "get": {
        "operationId": "getTransactionHex",
        "summary": "Get serialized hex representation of a transaction",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hex-encoded transaction",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tx/{txid}/outspend/{vout}": {
      "get": {
        "operationId": "getTransactionOutspend",
        "summary": "Get spending status of a transaction output",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vout",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Output spending status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outspend"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tx/{txid}/outspends": {
      "get": {
        "operationId": "getTransactionOutspends",
        "summary": "Get spending status of all transaction outputs",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of output spending statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Outspend"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tx/{txid}/status": {
      "get": {
        "operationId": "getTransactionStatus",
        "summary": "Get transaction confirmation status",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tx": {
      "post": {
        "operationId": "broadcastTransaction",
        "summary": "Broadcast a raw transaction",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Raw transaction hex string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction ID of the broadcasted transaction",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lightning/statistics/{interval}": {
      "get": {
        "operationId": "getLightningStatistics",
        "summary": "Get network-wide Lightning statistics",
        "tags": [
          "Lightning"
        ],
        "parameters": [
          {
            "name": "interval",
            "in": "path",
            "required": true,
            "description": "Time interval",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "24h",
                "3d",
                "1w",
                "1m",
                "3m",
                "6m",
                "1y",
                "2y",
                "3y"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lightning network statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightningStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lightning/search": {
      "get": {
        "operationId": "searchLightningNodes",
        "summary": "Search for Lightning nodes and channels",
        "tags": [
          "Lightning"
        ],
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightningSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lightning/nodes/rankings": {
      "get": {
        "operationId": "getLightningNodeRankings",
        "summary": "Get top 100 Lightning nodes by liquidity and connectivity",
        "tags": [
          "Lightning"
        ],
        "responses": {
          "200": {
            "description": "Node rankings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LightningNode"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lightning/nodes/{pubKey}": {
      "get": {
        "operationId": "getLightningNode",
        "summary": "Get specific Lightning node details",
        "tags": [
          "Lightning"
        ],
        "parameters": [
          {
            "name": "pubKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Node details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightningNode"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lightning/channels/{channelId}": {
      "get": {
        "operationId": "getLightningChannel",
        "summary": "Get Lightning channel information",
        "tags": [
          "Lightning"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightningChannel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lightning/channels": {
      "get": {
        "operationId": "getLightningNodeChannels",
        "summary": "Get channels for a Lightning node",
        "tags": [
          "Lightning"
        ],
        "parameters": [
          {
            "name": "public_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Channel status filter",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "active",
                "closed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LightningChannel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/services/accelerator/accelerations": {
      "get": {
        "operationId": "getAccelerations",
        "summary": "Get current transaction accelerations",
        "tags": [
          "Accelerator"
        ],
        "responses": {
          "200": {
            "description": "Current accelerations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Acceleration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "DifficultyAdjustment": {
        "type": "object",
        "properties": {
          "progressPercent": {
            "type": "number"
          },
          "difficultyChange": {
            "type": "number"
          },
          "estimatedRetargetDate": {
            "type": "integer"
          },
          "remainingBlocks": {
            "type": "integer"
          },
          "remainingTime": {
            "type": "integer"
          },
          "previousRetarget": {
            "type": "number"
          }
        }
      },
      "Prices": {
        "type": "object",
        "properties": {
          "USD": {
            "type": "number"
          },
          "EUR": {
            "type": "number"
          },
          "GBP": {
            "type": "number"
          },
          "CAD": {
            "type": "number"
          },
          "CHF": {
            "type": "number"
          },
          "AUD": {
            "type": "number"
          },
          "JPY": {
            "type": "number"
          }
        }
      },
      "HistoricalPrice": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer"
                },
                "USD": {
                  "type": "number"
                },
                "EUR": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "chain_stats": {
            "type": "object",
            "properties": {
              "funded_txo_count": {
                "type": "integer"
              },
              "funded_txo_sum": {
                "type": "integer"
              },
              "spent_txo_count": {
                "type": "integer"
              },
              "spent_txo_sum": {
                "type": "integer"
              },
              "tx_count": {
                "type": "integer"
              }
            }
          },
          "mempool_stats": {
            "type": "object",
            "properties": {
              "funded_txo_count": {
                "type": "integer"
              },
              "funded_txo_sum": {
                "type": "integer"
              },
              "spent_txo_count": {
                "type": "integer"
              },
              "spent_txo_sum": {
                "type": "integer"
              },
              "tx_count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AddressValidation": {
        "type": "object",
        "properties": {
          "isValid": {
            "type": "boolean"
          },
          "address": {
            "type": "string"
          },
          "isScript": {
            "type": "boolean"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "locktime": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          },
          "fee": {
            "type": "integer"
          },
          "vin": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "txid": {
                  "type": "string"
                },
                "vout": {
                  "type": "integer"
                },
                "prevout": {
                  "type": "object"
                }
              }
            }
          },
          "vout": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "scriptpubkey": {
                  "type": "string"
                },
                "value": {
                  "type": "integer"
                }
              }
            }
          },
          "status": {
            "$ref": "#/components/schemas/TransactionStatus"
          }
        }
      },
      "TransactionStatus": {
        "type": "object",
        "properties": {
          "confirmed": {
            "type": "boolean"
          },
          "block_height": {
            "type": "integer"
          },
          "block_hash": {
            "type": "string"
          },
          "block_time": {
            "type": "integer"
          }
        }
      },
      "Utxo": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "vout": {
            "type": "integer"
          },
          "value": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/TransactionStatus"
          }
        }
      },
      "Outspend": {
        "type": "object",
        "properties": {
          "spent": {
            "type": "boolean"
          },
          "txid": {
            "type": "string"
          },
          "vin": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/TransactionStatus"
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "height": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          },
          "tx_count": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          },
          "merkle_root": {
            "type": "string"
          },
          "previousblockhash": {
            "type": "string"
          },
          "nonce": {
            "type": "integer"
          },
          "bits": {
            "type": "integer"
          },
          "difficulty": {
            "type": "number"
          }
        }
      },
      "BlockStatus": {
        "type": "object",
        "properties": {
          "in_best_chain": {
            "type": "boolean"
          },
          "height": {
            "type": "integer"
          },
          "next_best": {
            "type": "string"
          }
        }
      },
      "MiningPools": {
        "type": "object",
        "properties": {
          "pools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MiningPool"
            }
          },
          "blockCount": {
            "type": "integer"
          }
        }
      },
      "MiningPool": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "blockCount": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "emptyBlocks": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "HashrateData": {
        "type": "object",
        "properties": {
          "hashrates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "integer"
                },
                "avgHashrate": {
                  "type": "number"
                }
              }
            }
          },
          "difficulty": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "integer"
                },
                "difficulty": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "RewardStats": {
        "type": "object",
        "properties": {
          "startBlock": {
            "type": "integer"
          },
          "endBlock": {
            "type": "integer"
          },
          "totalReward": {
            "type": "string"
          },
          "totalFee": {
            "type": "string"
          },
          "totalTx": {
            "type": "string"
          }
        }
      },
      "BlockFeeData": {
        "type": "object",
        "properties": {
          "avgHeight": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          },
          "avgFees": {
            "type": "number"
          }
        }
      },
      "RecommendedFees": {
        "type": "object",
        "properties": {
          "fastestFee": {
            "type": "integer"
          },
          "halfHourFee": {
            "type": "integer"
          },
          "hourFee": {
            "type": "integer"
          },
          "economyFee": {
            "type": "integer"
          },
          "minimumFee": {
            "type": "integer"
          }
        }
      },
      "MempoolBlock": {
        "type": "object",
        "properties": {
          "blockSize": {
            "type": "integer"
          },
          "blockVSize": {
            "type": "number"
          },
          "nTx": {
            "type": "integer"
          },
          "totalFees": {
            "type": "integer"
          },
          "medianFee": {
            "type": "number"
          },
          "feeRange": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "MempoolStats": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "vsize": {
            "type": "integer"
          },
          "total_fee": {
            "type": "integer"
          },
          "fee_histogram": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "LightningStats": {
        "type": "object",
        "properties": {
          "latest": {
            "type": "object",
            "properties": {
              "channel_count": {
                "type": "integer"
              },
              "node_count": {
                "type": "integer"
              },
              "total_capacity": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LightningSearchResult": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LightningNode"
            }
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LightningChannel"
            }
          }
        }
      },
      "LightningNode": {
        "type": "object",
        "properties": {
          "public_key": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "capacity": {
            "type": "integer"
          },
          "channels": {
            "type": "integer"
          },
          "first_seen": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          },
          "city": {
            "type": "object"
          },
          "country": {
            "type": "object"
          }
        }
      },
      "LightningChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "short_id": {
            "type": "string"
          },
          "capacity": {
            "type": "integer"
          },
          "transaction_id": {
            "type": "string"
          },
          "transaction_vout": {
            "type": "integer"
          },
          "closing_transaction_id": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "Acceleration": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "added": {
            "type": "integer"
          },
          "feeDelta": {
            "type": "number"
          },
          "pools": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      }
    }
  }
}