{
  "openapi": "3.0.0",
  "info": {
    "title": "Decidento API documentation",
    "description": "Decidento API documentation provides programmatic access to articles, companies, signals resources.",
    "version": "2.0",
    "x-jentic-source-url": "https://api.decidento.com/documentation/?url=/documentation/file/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.decidento.com",
      "description": "Production Environment"
    },
    {
      "url": "https://decidento.dev2.colonel-moutarde.fr",
      "description": "Staging Environment"
    }
  ],
  "paths": {
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "get last articles",
        "description": "",
        "operationId": "getArticles",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term (keywords, siren, social name, ...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siren",
            "in": "query",
            "description": "Siren of main companies related to article / signals (format : ^([0-9]{9}))",
            "schema": {
              "type": "integer",
              "format": "int9",
              "maxLength": 9,
              "minLength": 9,
              "pattern": "^([0-9]{9})"
            }
          },
          {
            "name": "date_begin",
            "in": "query",
            "description": "Begin date published (ex: 2019-03-03)",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "End date published (ex: 2019-03-03)",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum records to return. If the value exceeds the maximum (200), then the maximum value will be used.",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start number for returned articles. (usefull for paginate results).",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order Field",
            "schema": {
              "type": "string",
              "default": "publishedAt",
              "enum": [
                "publishedAt"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Output paginate info meta",
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          },
          {
            "name": "X-API-VERSION",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 225741
                      },
                      "title": {
                        "type": "string",
                        "example": "Partenariat entre Open Tourisme Lab et Altran"
                      },
                      "text": {
                        "type": "string",
                        "example": "Un partenariat entre Open Tourisme Lab Nimes Metropole (<em>si\u00e8ge \u00e0 Nimes /30 - acc\u00e9l\u00e9rateur de start-up sp\u00e9cialis\u00e9es dans le tourisme</em>)&nbsp;et Altran Technologies - Altran (<em>si\u00e8ge \u00e0 Neuilly-sur-Seine /92 - conseil en innovation et ing\u00e9nierie avanc\u00e9e - effectif groupe estim\u00e9 : 12500 - CA l\u00e9gal 2018 : 1 023 212 313\u20ac - CA groupe estim\u00e9 2016 : 2 120 000 000\u20ac</em>)&nbsp;a \u00e9t\u00e9 officiellement sign\u00e9 et s'adresse aux professionnels du tourisme. Altran apportera alors son expertise avec des s\u00e9minaires, des workshops et des audits pour les entreprises accompagn\u00e9es par Open Tourisme Lab. <a href=\"https://ecomnews.fr/article/Nimes-open-tourisme-tab-renforce-grace-altran-mieux-accompagner-start-up\">Plus d'informations ici</a>.&nbsp;"
                      },
                      "pub_date": {
                        "description": "Format d/m/Y",
                        "type": "string",
                        "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
                        "example": "22/10/2018"
                      },
                      "departments": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Department"
                        }
                      },
                      "sources": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Source"
                        }
                      },
                      "companies": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/CompanyLight"
                        }
                      },
                      "sectors": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Sector"
                        }
                      },
                      "quoted_articles": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/QuotedArticle"
                        }
                      },
                      "signals": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/Signal_A"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_B"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_C"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_D"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_E"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_F"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_G"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_H"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_Hbis"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_I"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_J"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_K"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_K1"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_L"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_M"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_N"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_O"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_P"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_Q"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_R"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_S"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_T"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_Tbis"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_U"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_V"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_W"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_X"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_Y"
                            },
                            {
                              "$ref": "#/components/schemas/Signal_Z"
                            }
                          ]
                        }
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/articles/search": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "search list of article",
        "description": "",
        "operationId": "searchArticles",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term (keywords, siren, social name, ...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siren",
            "in": "query",
            "description": "List of SIREN (comma separated)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "int9",
                "minLength": 9
              }
            }
          },
          {
            "name": "date_begin",
            "in": "query",
            "description": "Begin date published (ex: 2019-03-03)",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "End date published (ex: 2019-03-03)",
            "schema": {
              "type": "string",
              "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum records to return. If the value exceeds the maximum (200), then the maximum value will be used.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start number for returned articles. (usefull for paginate results).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order Field",
            "schema": {
              "type": "string",
              "default": "publishedAt",
              "enum": [
                "publishedAt"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Output paginate info meta",
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          },
          {
            "name": "X-API-VERSION",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 225741
                      },
                      "pub_date": {
                        "description": "Format d/m/Y",
                        "type": "string",
                        "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
                        "example": "22/10/2018"
                      },
                      "companies_links": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/CompanySimple"
                        }
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ArticleLinks"
                        }
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/articles/{articleId}": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Find article by ID",
        "description": "Returns a single article",
        "operationId": "getArticleById",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "ID of article to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/articles/collection": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Find a collection of articles by IDS",
        "description": "Returns a collection of articles",
        "operationId": "getArticlesCollectionByIds",
        "parameters": [
          {
            "name": "listIds",
            "in": "query",
            "description": "IDS of articles to return",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Search companies with parameters",
        "description": "Returns a list of companies",
        "operationId": "getCompanies",
        "parameters": [
          {
            "name": "siren",
            "in": "query",
            "description": "siren unique id",
            "schema": {
              "type": "integer",
              "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
              "example": "662042449"
            }
          },
          {
            "name": "term",
            "in": "query",
            "description": "Search term",
            "schema": {
              "type": "string",
              "example": "CEGID"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of companies returned",
            "schema": {
              "type": "integer",
              "default": "100",
              "pattern": "^\\d+$",
              "example": "100"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start number for returned companies. (usefull for paginate results)",
            "schema": {
              "type": "integer",
              "default": "1",
              "pattern": "^\\d+$",
              "example": "100"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order field for results",
            "schema": {
              "type": "string",
              "default": "socialName",
              "enum": [
                "socialName",
                "siren",
                "updatedAt"
              ],
              "example": "updatedAt"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Output paginate info meta",
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyLight"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/companies/{companyId}": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Find company by ID",
        "description": "Returns a single company",
        "operationId": "getCompanyById",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID of company to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "pattern": "^\\d+$",
              "example": 2105
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/companies/collection": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Find a collection of companies by IDS",
        "description": "Returns a collection of companies",
        "operationId": "getCompaniesCollectionByIds",
        "parameters": [
          {
            "name": "listIds",
            "in": "query",
            "description": "IDS of companies to return",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/companies/v2": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Search companies with parameters",
        "description": "Returns a list of companies",
        "operationId": "getCompaniesV2",
        "parameters": [
          {
            "name": "siren",
            "in": "query",
            "description": "siren unique id",
            "schema": {
              "type": "integer",
              "pattern": "^\\d{9}$",
              "example": "327888111"
            }
          },
          {
            "name": "siret",
            "in": "query",
            "description": "siret unique id",
            "schema": {
              "type": "integer",
              "pattern": "^\\d{14}$",
              "example": "32788811100447"
            }
          },
          {
            "name": "term",
            "in": "query",
            "description": "Search term",
            "schema": {
              "type": "string",
              "example": "CEGID"
            }
          },
          {
            "name": "code_postal",
            "in": "query",
            "description": "Zip code",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$",
              "example": "69009"
            }
          },
          {
            "name": "ville",
            "in": "query",
            "description": "City",
            "schema": {
              "type": "string",
              "example": "Lyon"
            }
          },
          {
            "name": "pays",
            "in": "query",
            "description": "Country",
            "schema": {
              "type": "string",
              "example": "France"
            }
          },
          {
            "name": "naf",
            "in": "query",
            "description": "Search Companies Ape Code",
            "schema": {
              "type": "string",
              "example": "70.10Z"
            }
          },
          {
            "name": "radiee",
            "in": "query",
            "description": "Search Companies is Radiate",
            "schema": {
              "type": "integer",
              "default": "null",
              "pattern": "^\\d{1}$",
              "example": "1",
              "nullable": true
            }
          },
          {
            "name": "appartient_groupe",
            "in": "query",
            "description": "Search Companies is Owned by a Group",
            "schema": {
              "type": "integer",
              "default": "null",
              "pattern": "^\\d{1}$",
              "example": "1",
              "nullable": true
            }
          },
          {
            "name": "derniere_maj",
            "in": "query",
            "description": "Search Companies last update (greater than date)",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2021-11-12"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of companies returned",
            "schema": {
              "type": "integer",
              "default": "100",
              "pattern": "^\\d+$",
              "example": "100"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start number for returned companies. (usefull for paginate results)",
            "schema": {
              "type": "integer",
              "default": "1",
              "pattern": "^\\d+$",
              "example": "100"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order field for results",
            "schema": {
              "type": "string",
              "default": "last_modified",
              "enum": [
                "raison_sociale_keyword",
                "last_kpi.ca_bilan",
                "last_kpi.effectif",
                "cccid",
                "last_modified"
              ],
              "example": "last_modified"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Output paginate info meta",
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyLightV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/companies/{companyCccid}/v2": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Find company by CCCID",
        "description": "Returns a single company",
        "operationId": "getCompanyByCccid",
        "parameters": [
          {
            "name": "companyCccid",
            "in": "path",
            "description": "CCCID of company to return",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(FR|ETR)_\\d{9}$",
              "example": "FR_327888111"
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/companies/collection/v2": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Find a collection of companies by SIREN",
        "description": "Returns a collection of companies",
        "operationId": "getCompaniesCollectionBySiren",
        "parameters": [
          {
            "name": "listIds",
            "in": "query",
            "description": "SIREN of companies to return",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "pattern": "^\\d{9}$",
                "example": 327888111
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/signals": {
      "get": {
        "tags": [
          "signals"
        ],
        "summary": "get last signals",
        "description": "",
        "operationId": "getSignals",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit values that need to be considered for filter",
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to start (combine with limit for paginate)",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order Field",
            "schema": {
              "type": "string",
              "default": "updatedAt",
              "enum": [
                "updatedAt",
                "publishedAt"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Output paginate info meta",
            "schema": {
              "type": "boolean",
              "default": "false"
            }
          },
          {
            "name": "_format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SignalLight"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/signals/{signalId}": {
      "get": {
        "tags": [
          "signals"
        ],
        "summary": "Find signal by ID",
        "description": "Returns a single signal",
        "operationId": "getSignalById",
        "parameters": [
          {
            "name": "signalId",
            "in": "path",
            "description": "ID of signal to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Signal_A"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_B"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_C"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_D"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_E"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_F"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_G"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_H"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Hbis"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_I"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_J"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_K"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_K1"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_L"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_M"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_N"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_O"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_P"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Q"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_R"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_S"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_T"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Tbis"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_U"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_V"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_W"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_X"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Y"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z1"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z2"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z3"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    },
    "/signals/collection": {
      "get": {
        "tags": [
          "signals"
        ],
        "summary": "Find collection of signals by IDS",
        "description": "Returns a colelction of signals",
        "operationId": "getSignalsCollectionByIds",
        "parameters": [
          {
            "name": "listIds",
            "in": "query",
            "description": "IDS of signals to return",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Signal_A"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_B"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_C"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_D"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_E"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_F"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_G"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_H"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Hbis"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_I"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_J"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_K"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_K1"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_L"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_M"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_N"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_O"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_P"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Q"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_R"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_S"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_T"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Tbis"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_U"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_V"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_W"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_X"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Y"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z1"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z2"
                    },
                    {
                      "$ref": "#/components/schemas/Signal_Z3"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "X_AUTH_TOKEN": []
          },
          {
            "X_AUTH_ID": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SignalLight": {
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "integer"
                },
                "code": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "status": {
            "description": "Signal Status",
            "type": "string",
            "enum": [
              "D\u00e9tect\u00e9",
              "Suivi",
              "Termin\u00e9"
            ]
          },
          "links": {
            "type": "array",
            "items": {
              "properties": {
                "rel": {
                  "type": "string"
                },
                "href": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "departments_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Department"
            }
          },
          "last_article_pubdate": {
            "description": "Date de publication du dernier article (dd/mm/YYYY)",
            "type": "string",
            "format": "date",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "26/03/2021"
          },
          "creation_date": {
            "description": "Date de cr\u00e9ation du signal (dd/mm/YYYY)",
            "type": "string",
            "format": "date",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "26/03/2021"
          },
          "last_update": {
            "description": "Date de mise \u00e0 jour du signal (dd/mm/YYYY)",
            "type": "string",
            "format": "date",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "26/03/2021"
          }
        },
        "type": "object"
      },
      "Signal": {
        "required": [
          "type"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "last_article_pubdate": {
            "description": "Date de publication du dernier article (dd/mm/YYYY)",
            "type": "string",
            "format": "date",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "26/03/2021"
          },
          "creation_date": {
            "description": "Date de cr\u00e9ation du signal (dd/mm/YYYY)",
            "type": "string",
            "format": "date",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "26/03/2021"
          },
          "last_update": {
            "description": "Date de mise \u00e0 jour du signal (dd/mm/YYYY)",
            "type": "string",
            "format": "date",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "26/03/2021"
          },
          "follow_date": {
            "description": "Date de mise \u00e0 jour du statut suivi du signal (dd/mm/YYYY)",
            "type": "string",
            "format": "date",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "26/03/2022"
          },
          "type": {
            "type": "string"
          },
          "label_type": {
            "type": "string"
          },
          "status": {
            "description": "Order Status",
            "type": "string",
            "enum": [
              "D\u00e9tect\u00e9",
              "Suivi",
              "Termin\u00e9"
            ]
          },
          "company_main": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyLight"
            }
          },
          "company_alt": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyLight"
            }
          },
          "continents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Department"
            }
          },
          "city": {
            "type": "array",
            "items": {
              "properties": {
                "label": {
                  "type": "string"
                },
                "zip_code": {
                  "type": "string"
                },
                "insee_code": {
                  "type": "string"
                },
                "departement_code": {
                  "type": "string"
                }
              },
              "type": "object",
              "example": {
                "label": "Parcoul-Chenaud",
                "zip_code": "24410",
                "insee_code": "24316",
                "departement_code": "24"
              }
            }
          },
          "city_label": {
            "type": "string"
          },
          "city_zip_code": {
            "type": "string"
          }
        },
        "type": "object",
        "discriminator": {
          "propertyName": "type"
        },
        "xml": {
          "name": "Order"
        }
      },
      "Signal_A": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "surface_totale_facilities": {
                "type": "integer"
              },
              "surface_terrain": {
                "type": "integer"
              },
              "surface_bati": {
                "type": "integer"
              },
              "date_start_facilities": {
                "type": "string",
                "format": "date-time"
              },
              "date_end_facilities_building": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_facilities_ground": {
                "type": "integer"
              },
              "cout_total_facilities_construction": {
                "type": "integer"
              },
              "cout_total_facilities": {
                "type": "integer"
              },
              "maitre_ouvrage": {
                "$ref": "#/components/schemas/CompanyLight"
              },
              "maitre_oeuvre": {
                "$ref": "#/components/schemas/CompanyLight"
              },
              "type_projet_facilities": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_facilities": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "building_permit": {
                "properties": {
                  "permit_number": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "type": "object",
                "example": {
                  "permit_number": "08611322A0002",
                  "type": "permis_amenager"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_B": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "surface_totale_construction": {
                "type": "integer"
              },
              "surface_totale_construction_ground": {
                "type": "integer"
              },
              "date_start_construction": {
                "type": "string",
                "format": "date-time"
              },
              "date_end_construction": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_construction": {
                "type": "integer"
              },
              "cout_total_facilities_construction": {
                "type": "integer"
              },
              "cout_total_facilities": {
                "type": "integer"
              },
              "maitre_ouvrage": {
                "$ref": "#/components/schemas/CompanyLight"
              },
              "nature_op_construction_detail": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "nature_op_construction": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_construction": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "linked_projet_construction": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "building_permit": {
                "properties": {
                  "permit_number": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "type": "object",
                "example": {
                  "permit_number": "02431621R0016",
                  "type": "pc_dp_creant_logements"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_C": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_infrastructures_works": {
                "type": "string",
                "format": "date-time"
              },
              "date_end_infrastructures_works": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_infrastructures": {
                "type": "integer"
              },
              "maitre_ouvrage": {
                "$ref": "#/components/schemas/CompanyLight"
              },
              "type_projet_infrastructures": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_infrastructures": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_D": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "type_projet_disputes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_disputes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_E": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_infrastructures_implantation": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_creation_invest": {
                "type": "integer"
              },
              "etablishement_number_creation": {
                "type": "integer"
              },
              "type_projet_creation": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_creation": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_F": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "nature_op_growth": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_growth": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_G": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_relocation": {
                "type": "string",
                "format": "date-time"
              },
              "nature_op_relocation": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type_projet_relocation": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_relocation": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_H": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "nature_op_export": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_export": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_Hbis": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "nature_op_export_goods": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_export_goods": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_I": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_end_closing": {
                "type": "string",
                "format": "date-time"
              },
              "nature_op_export": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_export": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_J": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_end_closing": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_innovation": {
                "type": "integer"
              },
              "step_projet_innovation": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_K": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_invest_materials": {
                "type": "string",
                "format": "date-time"
              },
              "date_end_invest_materials": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_invest_materials": {
                "type": "integer"
              },
              "step_projet_invest_materials": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_K1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_invest": {
                "type": "string",
                "format": "date-time"
              },
              "date_end_invest": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_invest": {
                "type": "integer"
              },
              "step_projet_invest": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "nature_invest": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_L": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "cout_total_fundraising": {
                "type": "integer"
              },
              "nature_op_fundraising": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type_projet_operation_fundraising": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_fundraising": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "linked_projet_fundraising": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_M": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "effectif_dismissals": {
                "type": "integer"
              },
              "type_projet_dismissals": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_dismissals": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_N": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "effectif_recruitments": {
                "type": "integer"
              },
              "type_projet_recruitments_functions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_recruitments": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_O": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_receivership": {
                "type": "string",
                "format": "date-time"
              },
              "type_projet_receivership": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_receivership": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_P": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "cout_total_transaction_fusacq": {
                "type": "integer"
              },
              "type_projet_fusacq": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_fusacq": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_Q": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "cout_total_public_financing": {
                "type": "integer"
              },
              "type_projet_public_financing": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_public_financing": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_R": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "type_projet_decline": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_S": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_launch": {
                "type": "string",
                "format": "date-time"
              },
              "type_projet_launch": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_launch": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_T": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_invest_rd": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_invest_rd": {
                "type": "integer"
              },
              "step_projet_rd": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_Tbis": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_invest": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_invest": {
                "type": "integer"
              },
              "step_projet": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_U": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_nomination": {
                "type": "string",
                "format": "date-time"
              },
              "identity_nomination": {
                "type": "string"
              },
              "type_projet_nomination_function": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_nomination": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_V": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_start_invest_communication": {
                "type": "string",
                "format": "date-time"
              },
              "cout_total_invest_communication": {
                "type": "integer"
              },
              "nature_investment": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_invest_communication": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_W": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "surface_totale_land_frame": {
                "type": "integer"
              },
              "cout_total_land_frame_ope": {
                "type": "integer"
              },
              "cout_total_land_frame_sale": {
                "type": "integer"
              },
              "type_projet_land_frame": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_land_frame": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_X": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "type": "object"
          }
        ]
      },
      "Signal_Y": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "type_projet_information": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_Z": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "date_event": {
                "type": "string",
                "format": "date-time"
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_Z1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "nature_rse": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_rse": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "cout_total_invest_rse": {
                "type": "integer"
              },
              "estimated_date": {
                "type": "string",
                "format": "date-time"
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_Z2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "nature_restructuring": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_restructuring": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "nb_restructuring": {
                "type": "integer"
              },
              "cout_total_invest": {
                "type": "integer"
              },
              "estimated_date": {
                "type": "string",
                "format": "date-time"
              }
            },
            "type": "object"
          }
        ]
      },
      "Signal_Z3": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Signal"
          },
          {
            "properties": {
              "nature_act": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "step_projet_act": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type_act": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "decision": {
                "type": "string"
              },
              "operation_detail": {
                "type": "integer"
              },
              "act_id": {
                "type": "string"
              },
              "estimated_date": {
                "type": "string",
                "format": "date-time"
              }
            },
            "type": "object"
          }
        ]
      },
      "Source": {
        "properties": {
          "source": {
            "type": "string"
          },
          "pub_date": {
            "description": "Format d/m/Y",
            "type": "string",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$"
          },
          "author": {
            "type": "string"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          }
        },
        "type": "object",
        "example": {
          "source": "ECOMNEWS",
          "pub_date": "28/01/2020",
          "author": "Denys B\u00e9darride",
          "uri": "https://ecomnews.fr/article/Nimes-open-tourisme-tab-renforce-grace-altran-mieux-accompagner-start-up"
        }
      },
      "Link": {
        "properties": {
          "rel": {
            "type": "string",
            "enum": [
              "self",
              "blank"
            ],
            "example": "self"
          },
          "href": {
            "type": "string",
            "example": "https://api.decidento.com/companies/2438"
          }
        },
        "type": "object",
        "example": {
          "rel": "self",
          "href": "https://api.decidento.com/companies/2438"
        }
      },
      "ArticleLinks": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ArticleLink"
        },
        "example": [
          {
            "rel": "self",
            "href": "https://api.decidento.com/articles/2438"
          },
          {
            "rel": "extranet",
            "href": "https://api.decidento.com/extranet/article/24384"
          }
        ]
      },
      "ArticleLink": {
        "properties": {
          "rel": {
            "type": "string",
            "enum": [
              "self",
              "blank",
              "extranet"
            ],
            "example": "self"
          },
          "href": {
            "type": "string",
            "example": "https://api.decidento.com/articles/2438"
          }
        },
        "type": "object",
        "example": {
          "rel": "self",
          "href": "https://api.decidento.com/companies/2438"
        }
      },
      "Department": {
        "properties": {
          "code": {
            "type": "string"
          },
          "dep": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        },
        "type": "object",
        "example": {
          "code": 92,
          "dep": "Hauts de Seine",
          "region": "\u00cele-de-France"
        }
      },
      "Sector": {
        "properties": {
          "activity": {
            "type": "string"
          },
          "picture": {
            "type": "string"
          }
        },
        "type": "object",
        "example": {
          "activity": "Distribution Sp\u00e9cialis\u00e9e",
          "picture": "https://api.decidento.com/uploads/medias/Distribution180.png"
        }
      },
      "QuotedArticle": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        },
        "type": "object",
        "example": {
          "id": 164243,
          "title": "Une nouvelle chaudi\u00e8re biomasse \u00e0 160 M\u20ac pour Norske Skog Golbey ?",
          "links": {
            "$ref": "#/components/schemas/Link/example"
          }
        }
      },
      "Article": {
        "properties": {
          "id": {
            "type": "integer",
            "example": 225741
          },
          "title": {
            "type": "string",
            "example": "Partenariat entre Open Tourisme Lab et Altran"
          },
          "text": {
            "type": "string",
            "example": "Un partenariat entre Open Tourisme Lab Nimes Metropole (<em>si\u00e8ge \u00e0 Nimes /30 - acc\u00e9l\u00e9rateur de start-up sp\u00e9cialis\u00e9es dans le tourisme</em>)&nbsp;et Altran Technologies - Altran (<em>si\u00e8ge \u00e0 Neuilly-sur-Seine /92 - conseil en innovation et ing\u00e9nierie avanc\u00e9e - effectif groupe estim\u00e9 : 12500 - CA l\u00e9gal 2018 : 1 023 212 313\u20ac - CA groupe estim\u00e9 2016 : 2 120 000 000\u20ac</em>)&nbsp;a \u00e9t\u00e9 officiellement sign\u00e9 et s'adresse aux professionnels du tourisme. Altran apportera alors son expertise avec des s\u00e9minaires, des workshops et des audits pour les entreprises accompagn\u00e9es par Open Tourisme Lab. <a href=\"https://ecomnews.fr/article/Nimes-open-tourisme-tab-renforce-grace-altran-mieux-accompagner-start-up\">Plus d'informations ici</a>.&nbsp;"
          },
          "pub_date": {
            "description": "Format d/m/Y",
            "type": "string",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "22/10/2018"
          },
          "event_date": {
            "description": "Format d/m/Y",
            "type": "string",
            "pattern": "^\\d{2}/\\d{2}/\\d{4}$",
            "example": "22/10/2018"
          },
          "author": {
            "type": "string",
            "example": "M\u00e9lodie H"
          },
          "nature_info": {
            "type": "string",
            "enum": [
              "International",
              "National"
            ],
            "example": "National"
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Department"
            }
          },
          "country": {
            "type": "string",
            "example": "France"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          },
          "companies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyLight"
            }
          },
          "sectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sector"
            }
          },
          "quoted_articles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuotedArticle"
            }
          },
          "signals": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Signal_A"
                },
                {
                  "$ref": "#/components/schemas/Signal_B"
                },
                {
                  "$ref": "#/components/schemas/Signal_C"
                },
                {
                  "$ref": "#/components/schemas/Signal_D"
                },
                {
                  "$ref": "#/components/schemas/Signal_E"
                },
                {
                  "$ref": "#/components/schemas/Signal_F"
                },
                {
                  "$ref": "#/components/schemas/Signal_G"
                },
                {
                  "$ref": "#/components/schemas/Signal_H"
                },
                {
                  "$ref": "#/components/schemas/Signal_Hbis"
                },
                {
                  "$ref": "#/components/schemas/Signal_I"
                },
                {
                  "$ref": "#/components/schemas/Signal_J"
                },
                {
                  "$ref": "#/components/schemas/Signal_K"
                },
                {
                  "$ref": "#/components/schemas/Signal_K1"
                },
                {
                  "$ref": "#/components/schemas/Signal_L"
                },
                {
                  "$ref": "#/components/schemas/Signal_M"
                },
                {
                  "$ref": "#/components/schemas/Signal_N"
                },
                {
                  "$ref": "#/components/schemas/Signal_O"
                },
                {
                  "$ref": "#/components/schemas/Signal_P"
                },
                {
                  "$ref": "#/components/schemas/Signal_Q"
                },
                {
                  "$ref": "#/components/schemas/Signal_R"
                },
                {
                  "$ref": "#/components/schemas/Signal_S"
                },
                {
                  "$ref": "#/components/schemas/Signal_T"
                },
                {
                  "$ref": "#/components/schemas/Signal_Tbis"
                },
                {
                  "$ref": "#/components/schemas/Signal_U"
                },
                {
                  "$ref": "#/components/schemas/Signal_V"
                },
                {
                  "$ref": "#/components/schemas/Signal_W"
                },
                {
                  "$ref": "#/components/schemas/Signal_X"
                },
                {
                  "$ref": "#/components/schemas/Signal_Y"
                },
                {
                  "$ref": "#/components/schemas/Signal_Z"
                }
              ]
            }
          }
        },
        "type": "object"
      },
      "CompanyLight": {
        "properties": {
          "id": {
            "type": "integer",
            "example": 72242
          },
          "siren": {
            "type": "integer",
            "maxLength": 9,
            "minLength": 9,
            "pattern": "^\\d{9}$",
            "example": 831946488
          },
          "siret": {
            "type": "integer",
            "maxLength": 14,
            "minLength": 14,
            "pattern": "^\\d{14}$",
            "example": 83194648800010
          },
          "social_name": {
            "type": "string",
            "example": "OPEN TOURISME LAB NIMES METROPOLE"
          },
          "siege": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "sirets": {
            "type": "array",
            "items": {
              "properties": {
                "siret": {
                  "type": "string",
                  "example": 83194648800123
                },
                "cp": {
                  "type": "string",
                  "example": 75019
                }
              },
              "type": "object"
            },
            "example": [
              {
                "siret": 83194648800123,
                "type": 75008
              },
              {
                "siret": 8319464885123,
                "type": 75019
              }
            ]
          }
        },
        "type": "object",
        "example": {
          "id": 72242,
          "siren": 831946488,
          "siret": 83194648800010,
          "siege": true,
          "social_name": "OPEN TOURISME LAB NIMES METROPOLE",
          "sirets": [
            {
              "siret": 83194648800123,
              "type": 75008
            },
            {
              "siret": 83194648800128,
              "type": 75019
            }
          ],
          "links": [
            {
              "rel": "self",
              "href": "https://api.decidento.com/companies/2438"
            },
            {
              "rel": "self",
              "href": "https://api.decidento.com/companies/24384"
            }
          ]
        }
      },
      "CompanySimple": {
        "properties": {
          "id": {
            "type": "integer",
            "example": 72242
          },
          "siren": {
            "type": "integer",
            "maxLength": 9,
            "minLength": 9,
            "pattern": "^\\d{9}$",
            "example": 831946488
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        },
        "type": "object",
        "example": {
          "id": 72242,
          "siren": 831946488,
          "links": [
            {
              "rel": "self",
              "href": "https://api.decidento.com/companies/2438"
            },
            {
              "rel": "self",
              "href": "https://api.decidento.com/companies/24384"
            }
          ]
        }
      },
      "Company": {
        "example": {
          "last_modified": "2015-08-28 03:40:48",
          "enseigne": "Burger King",
          "sigle": "LCL",
          "rcs": "RCS Paris 654 987 321",
          "tva_number": "FR76662042449",
          "index_euro": 998209,
          "immatriculation_date": "01/07/1966",
          "naf_code": "6419Z - Autres interm\u00e9diations mon\u00e9taires",
          "juridic_form": "Autre SA \u00e0 conseil d'administration",
          "type_etablissement": "1",
          "categorie_full": "Autres interm\u00e9diations mon\u00e9taires",
          "category_light": "banque et assurance",
          "capital_social": 2499597122,
          "fonds_propres": 344069905,
          "ca_bilan": 44069905,
          "effectif_precis": 43200,
          "resultat_net": 3645976,
          "resultat_exploitation": 645976,
          "radiate": false,
          "indice_risque_info_legal": "Risque faible",
          "indice_risque_score3": 5,
          "anne_indice_risque_score3": 2017,
          "nb_filliales_directes\"": 2,
          "nb_filliales_indirectes\"": 2,
          "address": "1762 route de Pontenx",
          "zip": "40160",
          "city": "PARENTIS-EN-BORN",
          "department": "Landes",
          "country": "France",
          "geo_lat": 44.342170715332,
          "geo_long": -1.0811624526978,
          "telephone_number": "05 58 82 95 00",
          "fax_number": "01 42 82 12 99",
          "web_site": "//google.fr",
          "url_maps\"": "44.3351073;-1.0852105000000165",
          "url_viadeo\"": "",
          "url_twitter\"": "",
          "url_gnews\"": "",
          "url_wikipedia\"": "",
          "url_facebook\"": "",
          "url_linkedin\"": "",
          "url_score3\"": "//www.score3.fr/VERMILION-REP-SAS-410964837.shtml",
          "url_scoopit\"": "",
          "logo_url\"": "",
          "email_contact\"": "contact@mycompany.com",
          "contacts": [
            {
              "name": "mr X",
              "role": "Pr\u00e9sident"
            },
            {
              "name": "Miss Y",
              "role": "Directeur g\u00e9n\u00e9ral"
            }
          ],
          "nb_actes": 5
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/CompanyLight"
          },
          {
            "properties": {
              "last_modified": {
                "type": "string",
                "format": "date-time"
              },
              "enseigne": {
                "type": "string"
              },
              "sigle": {
                "type": "string"
              },
              "rcs": {
                "type": "string"
              },
              "tva_number": {
                "type": "string"
              },
              "index_euro": {
                "type": "integer"
              },
              "immatriculation_date": {
                "description": "Format d/m/Y",
                "type": "string",
                "format": "date",
                "pattern": "^\\d{2}/\\d{2}/\\d{4}$"
              },
              "naf_code": {
                "type": "string"
              },
              "juridic_form": {
                "type": "string"
              },
              "type_etablissement": {
                "type": "string",
                "enum": [
                  "0",
                  "1",
                  "2"
                ]
              },
              "categorie_full": {
                "type": "string"
              },
              "categorie_light": {
                "type": "string"
              },
              "capital_social": {
                "type": "integer"
              },
              "fonds_propres": {
                "type": "integer"
              },
              "ca_bilan": {
                "type": "integer"
              },
              "effectif_precis": {
                "type": "integer"
              },
              "resultat_net": {
                "type": "integer"
              },
              "resultat_exploitation": {
                "type": "integer"
              },
              "date_cloture": {
                "description": "Format d/m/Y",
                "type": "string",
                "format": "date",
                "pattern": "^\\d{2}/\\d{2}/\\d{4}$"
              },
              "radiate": {
                "type": "boolean"
              },
              "indice_risque_info_legal": {
                "type": "string"
              },
              "indice_risque_score3": {
                "description": "Score between 0-10",
                "type": "string"
              },
              "anne_indice_risque_score3": {
                "type": "string"
              },
              "nb_actionnaires": {
                "type": "integer"
              },
              "nb_filliales_directes": {
                "type": "integer"
              },
              "nb_filliales_indirectes": {
                "type": "integer"
              },
              "address": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "department": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "geo_lat": {
                "type": "number"
              },
              "geo_long": {
                "type": "number"
              },
              "telephone_number": {
                "type": "string"
              },
              "fax_number": {
                "type": "string"
              },
              "web_site": {
                "type": "string"
              },
              "url_maps": {
                "type": "string"
              },
              "url_viadeo\"": {
                "type": "string"
              },
              "url_twitter\"": {
                "type": "string"
              },
              "url_gnews\"": {
                "type": "string"
              },
              "url_wikipedia\"": {
                "type": "string"
              },
              "url_facebook\"": {
                "type": "string"
              },
              "url_linkedin\"": {
                "type": "string"
              },
              "url_score3\"": {
                "type": "string"
              },
              "url_scoopit\"": {
                "type": "string"
              },
              "logo_url\"": {
                "type": "string"
              },
              "email_contact\"": {
                "type": "string"
              },
              "contacts": {
                "type": "array",
                "items": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "nb_actes": {
                "type": "integer"
              }
            },
            "type": "object"
          }
        ]
      },
      "Contact": {
        "properties": {
          "type": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0,
            "example": "P.Physique"
          },
          "name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0,
            "example": "XXXXXX"
          },
          "first_name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0,
            "example": "yyyyyy"
          },
          "role": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0,
            "example": "Pr\u00e9sident"
          }
        },
        "type": "object"
      },
      "CompanyLightV2": {
        "properties": {
          "cccid": {
            "type": "string",
            "maxLength": 14,
            "minLength": 13,
            "pattern": "^(FR|ETR)_\\d{9}$",
            "example": "FR_123456789"
          },
          "siren": {
            "type": "integer",
            "maxLength": 9,
            "minLength": 9,
            "pattern": "^\\d{9}$",
            "example": 831946488,
            "nullable": true
          },
          "siret_siege": {
            "type": "integer",
            "maxLength": 14,
            "minLength": 14,
            "pattern": "^\\d{14}$",
            "example": 83194648800010,
            "nullable": true
          },
          "raison_sociale": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0,
            "example": "OPEN TOURISME LAB NIMES METROPOLE",
            "nullable": true
          },
          "type_etablissement": {
            "type": "string",
            "example": "siege",
            "nullable": true
          },
          "appartient_groupe": {
            "type": "boolean",
            "example": false
          },
          "adresse_complete": {
            "type": "string",
            "maxLength": 150,
            "minLength": 0,
            "example": "13 rue Jules Valles 69100 VILLEURBANNE",
            "nullable": true
          },
          "adresse_postale": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0,
            "example": "13 rue Jules Valles",
            "nullable": true
          },
          "code_postal": {
            "type": "string",
            "maxLength": 5,
[...]
