{
  "openapi": "3.0.3",
  "info": {
    "title": "Modusign API",
    "version": "1.0.0",
    "description": "Modusign is a Korean e-signature platform. The API provides document management, signature requests, templates, embedded signing, webhooks, file operations, and label management.",
    "x-jentic-source-url": "https://developers.modusign.co.kr/reference"
  },
  "servers": [{"url": "https://api.modusign.co.kr"}],
  "paths": {
    "/documents": {
      "post": {"operationId": "createDocument", "summary": "Create signature request", "tags": ["Documents"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateDocumentRequest"}}}}, "responses": {"200": {"description": "Document created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Document"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "get": {"operationId": "listDocuments", "summary": "List documents", "tags": ["Documents"], "parameters": [{"name": "page", "in": "query", "required": false, "schema": {"type": "integer"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Document list", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DocumentListResponse"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/documents/template": {"post": {"operationId": "createDocumentFromTemplate", "summary": "Create signature request from template", "tags": ["Documents"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateFromTemplateRequest"}}}}, "responses": {"200": {"description": "Document created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Document"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}": {"get": {"operationId": "getDocument", "summary": "Get document details", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Document details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Document"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}/cancel": {"post": {"operationId": "cancelDocument", "summary": "Cancel signature request", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Request cancelled"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}/remind": {"post": {"operationId": "remindDocument", "summary": "Resend signing reminder", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Reminder sent"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}/histories": {"get": {"operationId": "getDocumentHistory", "summary": "Get document history", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Document history", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object"}}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}/forward": {"post": {"operationId": "forwardDocument", "summary": "Forward completed document", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"email": {"type": "string"}}}}}}, "responses": {"200": {"description": "Document forwarded"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}/metadata": {"put": {"operationId": "updateDocumentMetadata", "summary": "Update document metadata", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Metadata updated"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}/labels": {"post": {"operationId": "addDocumentLabel", "summary": "Add label to document", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"labelId": {"type": "string"}}}}}}, "responses": {"200": {"description": "Label added"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/documents/{id}/labels/{labelId}": {"delete": {"operationId": "removeDocumentLabel", "summary": "Remove label from document", "tags": ["Documents"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "labelId", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Label removed"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/embedded/drafts": {"post": {"operationId": "createEmbeddedDraft", "summary": "Create embedded draft", "tags": ["Embedded"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Draft created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/embedded/drafts/template": {"post": {"operationId": "createEmbeddedDraftFromTemplate", "summary": "Create embedded draft from template", "tags": ["Embedded"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Draft created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/templates": {
      "post": {"operationId": "createTemplate", "summary": "Create template", "tags": ["Templates"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Template created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Template"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "get": {"operationId": "listTemplates", "summary": "List templates", "tags": ["Templates"], "responses": {"200": {"description": "Template list", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Template"}}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/templates/{id}": {
      "get": {"operationId": "getTemplate", "summary": "Get template", "tags": ["Templates"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Template details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Template"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteTemplate", "summary": "Delete template", "tags": ["Templates"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Template deleted"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/webhooks": {
      "get": {"operationId": "listWebhooks", "summary": "List webhooks", "tags": ["Webhooks"], "responses": {"200": {"description": "Webhook list"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createWebhook", "summary": "Create webhook", "tags": ["Webhooks"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebhookInput"}}}}, "responses": {"200": {"description": "Webhook created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/webhooks/{id}": {
      "get": {"operationId": "getWebhook", "summary": "Get webhook", "tags": ["Webhooks"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Webhook details"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateWebhook", "summary": "Update webhook", "tags": ["Webhooks"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebhookInput"}}}}, "responses": {"200": {"description": "Webhook updated"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteWebhook", "summary": "Delete webhook", "tags": ["Webhooks"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Webhook deleted"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/files/upload": {"post": {"operationId": "uploadFile", "summary": "Upload a file", "tags": ["Files"], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"file": {"type": "string", "format": "binary"}}}}}}, "responses": {"200": {"description": "File uploaded"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/files/merge": {"post": {"operationId": "mergeFiles", "summary": "Merge document files", "tags": ["Files"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Files merged"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/labels": {
      "get": {"operationId": "listLabels", "summary": "List labels", "tags": ["Labels"], "responses": {"200": {"description": "Label list"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createLabel", "summary": "Create a label", "tags": ["Labels"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string"}}}}}}, "responses": {"200": {"description": "Label created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/labels/{id}": {
      "put": {"operationId": "updateLabel", "summary": "Update a label", "tags": ["Labels"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string"}}}}}}, "responses": {"200": {"description": "Label updated"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteLabel", "summary": "Delete a label", "tags": ["Labels"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Label deleted"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/users/me": {"get": {"operationId": "getUser", "summary": "Get current user info", "tags": ["Users"], "responses": {"200": {"description": "User info"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/users/me/subscription": {"get": {"operationId": "getSubscription", "summary": "Get subscription info", "tags": ["Users"], "responses": {"200": {"description": "Subscription info"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/users/me/usages": {"get": {"operationId": "getUsages", "summary": "Get usage stats", "tags": ["Users"], "responses": {"200": {"description": "Usage stats"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}
  },
  "components": {
    "schemas": {
      "Document": {"type": "object", "properties": {"id": {"type": "string"}, "title": {"type": "string"}, "status": {"type": "string"}, "createdAt": {"type": "string", "format": "date-time"}}},
      "DocumentListResponse": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/Document"}}, "total": {"type": "integer"}}},
      "CreateDocumentRequest": {"type": "object", "properties": {"title": {"type": "string"}, "fileId": {"type": "string"}, "participants": {"type": "array", "items": {"type": "object"}}}},
      "CreateFromTemplateRequest": {"type": "object", "properties": {"templateId": {"type": "string"}, "participants": {"type": "array", "items": {"type": "object"}}}},
      "Template": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "createdAt": {"type": "string", "format": "date-time"}}},
      "WebhookInput": {"type": "object", "properties": {"url": {"type": "string"}, "events": {"type": "array", "items": {"type": "string"}}}},
      "ErrorResponse": {"type": "object", "properties": {"status": {"type": "string", "enum": ["error"]}, "code": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "basicAuth": {"type": "http", "scheme": "basic", "description": "Basic Auth with account email as username and API-KEY as password"},
      "bearerAuth": {"type": "http", "scheme": "bearer", "description": "OAuth access token"}
    }
  },
  "security": [{"basicAuth": []}, {"bearerAuth": []}]
}
