{
  "openapi": "3.0.3",
  "info": {
    "title": "TMDb API",
    "description": "The Movie Database (TMDb) API v3. Community-based movie and TV data including search, details, ratings, and account management.",
    "version": "3.0.0",
    "contact": {
      "name": "TMDb",
      "url": "https://www.themoviedb.org/"
    }
  },
  "servers": [
    {
      "url": "https://api.themoviedb.org",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/3/authentication": {
      "get": {
        "operationId": "validateApiKey",
        "summary": "Validate API key",
        "description": "Test your API key to confirm it is valid.",
        "tags": ["Authentication"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status_code": {
                      "type": "integer"
                    },
                    "status_message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/3/authentication/guest_session/new": {
      "get": {
        "operationId": "createGuestSession",
        "summary": "Create guest session",
        "description": "Create a temporary guest session for rating movies and TV shows.",
        "tags": ["Authentication"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "guest_session_id": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/authentication/token/new": {
      "get": {
        "operationId": "createRequestToken",
        "summary": "Create request token",
        "description": "Create a temporary request token to validate a TMDb user login.",
        "tags": ["Authentication"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "expires_at": {
                      "type": "string"
                    },
                    "request_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/authentication/session/new": {
      "post": {
        "operationId": "createSession",
        "summary": "Create session",
        "description": "Create a session ID after the user has approved the request token.",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["request_token"],
                "properties": {
                  "request_token": {
                    "type": "string",
                    "description": "The approved request token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "session_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "Get account details",
        "description": "Retrieve public account details by account ID.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The account ID"
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/favorite": {
      "post": {
        "operationId": "addFavorite",
        "summary": "Mark as favorite",
        "description": "Mark a movie or TV show as a favorite.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["media_type", "media_id", "favorite"],
                "properties": {
                  "media_type": {
                    "type": "string",
                    "enum": ["movie", "tv"],
                    "description": "The type of media"
                  },
                  "media_id": {
                    "type": "integer",
                    "description": "The ID of the media"
                  },
                  "favorite": {
                    "type": "boolean",
                    "description": "Whether to add or remove from favorites"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/favorite/movies": {
      "get": {
        "operationId": "getFavoriteMovies",
        "summary": "Get favorite movies",
        "description": "Get the list of favorite movies for an account.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/favorite/tv": {
      "get": {
        "operationId": "getFavoriteTvShows",
        "summary": "Get favorite TV shows",
        "description": "Get the list of favorite TV shows for an account.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/watchlist": {
      "post": {
        "operationId": "addToWatchlist",
        "summary": "Add to watchlist",
        "description": "Add a movie or TV show to your watchlist.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["media_type", "media_id", "watchlist"],
                "properties": {
                  "media_type": {
                    "type": "string",
                    "enum": ["movie", "tv"]
                  },
                  "media_id": {
                    "type": "integer"
                  },
                  "watchlist": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/rated/movies": {
      "get": {
        "operationId": "getRatedMovies",
        "summary": "Get rated movies",
        "description": "Get the list of rated movies for an account.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/rated/tv": {
      "get": {
        "operationId": "getRatedTvShows",
        "summary": "Get rated TV shows",
        "description": "Get the list of rated TV shows for an account.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/rated/tv/episodes": {
      "get": {
        "operationId": "getRatedTvEpisodes",
        "summary": "Get rated TV episodes",
        "description": "Get the list of rated TV episodes for an account.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/account/{account_id}/lists": {
      "get": {
        "operationId": "getAccountLists",
        "summary": "Get user lists",
        "description": "Get all lists created by an account.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/movie/{movie_id}": {
      "get": {
        "operationId": "getMovieDetails",
        "summary": "Get movie details",
        "description": "Get the top level details of a movie by ID.",
        "tags": ["Movies"],
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The movie ID"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Movie not found"
          }
        }
      }
    },
    "/3/movie/popular": {
      "get": {
        "operationId": "getPopularMovies",
        "summary": "Get popular movies",
        "description": "Get a list of movies ordered by popularity.",
        "tags": ["Movies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 code to filter release region"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/movie/top_rated": {
      "get": {
        "operationId": "getTopRatedMovies",
        "summary": "Get top rated movies",
        "description": "Get a list of movies ordered by rating.",
        "tags": ["Movies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 code to filter release region"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/movie/upcoming": {
      "get": {
        "operationId": "getUpcomingMovies",
        "summary": "Get upcoming movies",
        "description": "Get a list of upcoming movies in theatres.",
        "tags": ["Movies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 code to filter release region"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/movie/now_playing": {
      "get": {
        "operationId": "getNowPlayingMovies",
        "summary": "Get now playing movies",
        "description": "Get a list of movies that are currently in theatres.",
        "tags": ["Movies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 code to filter release region"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/movie/{movie_id}/rating": {
      "post": {
        "operationId": "rateMovie",
        "summary": "Rate a movie",
        "description": "Rate a movie on a scale of 0.5 to 10.",
        "tags": ["Movies"],
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["value"],
                "properties": {
                  "value": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 10,
                    "description": "Rating value between 0.5 and 10"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMovieRating",
        "summary": "Delete movie rating",
        "description": "Delete a user rating for a movie.",
        "tags": ["Movies"],
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Rating deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/tv/{series_id}": {
      "get": {
        "operationId": "getTvSeriesDetails",
        "summary": "Get TV series details",
        "description": "Get the details of a TV show.",
        "tags": ["TV Series"],
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The TV series ID"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvSeriesDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "TV series not found"
          }
        }
      }
    },
    "/3/tv/popular": {
      "get": {
        "operationId": "getPopularTvShows",
        "summary": "Get popular TV shows",
        "description": "Get a list of TV shows ordered by popularity.",
        "tags": ["TV Series"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/tv/top_rated": {
      "get": {
        "operationId": "getTopRatedTvShows",
        "summary": "Get top rated TV shows",
        "description": "Get a list of TV shows ordered by rating.",
        "tags": ["TV Series"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/tv/{series_id}/rating": {
      "post": {
        "operationId": "rateTvShow",
        "summary": "Rate a TV show",
        "description": "Rate a TV show on a scale of 0.5 to 10.",
        "tags": ["TV Series"],
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["value"],
                "properties": {
                  "value": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTvShowRating",
        "summary": "Delete TV show rating",
        "description": "Delete a user rating for a TV show.",
        "tags": ["TV Series"],
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Rating deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/person/{person_id}": {
      "get": {
        "operationId": "getPersonDetails",
        "summary": "Get person details",
        "description": "Get the primary person details by ID.",
        "tags": ["People"],
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The person ID"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Person not found"
          }
        }
      }
    },
    "/3/person/popular": {
      "get": {
        "operationId": "getPopularPeople",
        "summary": "Get popular people",
        "description": "Get a list of popular people.",
        "tags": ["People"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/search/movie": {
      "get": {
        "operationId": "searchMovies",
        "summary": "Search movies",
        "description": "Search for movies by title.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query for movies"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include adult content in results"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 code to filter release region"
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by release year"
          },
          {
            "name": "primary_release_year",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by primary release year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/search/tv": {
      "get": {
        "operationId": "searchTvShows",
        "summary": "Search TV shows",
        "description": "Search for TV shows by title.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query for TV shows"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "first_air_date_year",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by first air date year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/search/person": {
      "get": {
        "operationId": "searchPeople",
        "summary": "Search people",
        "description": "Search for people by name.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query for people"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/search/multi": {
      "get": {
        "operationId": "searchMulti",
        "summary": "Multi search",
        "description": "Search for movies, TV shows, and people in a single request.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/discover/movie": {
      "get": {
        "operationId": "discoverMovies",
        "summary": "Discover movies",
        "description": "Discover movies by different types of data like average rating, number of votes, genres, and certifications.",
        "tags": ["Discover"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "popularity.desc"
            },
            "description": "Sort results by the given option"
          },
          {
            "name": "with_genres",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of genre IDs to include"
          },
          {
            "name": "primary_release_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "vote_average.gte",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Minimum vote average"
          },
          {
            "name": "vote_average.lte",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Maximum vote average"
          },
          {
            "name": "vote_count.gte",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum number of votes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/discover/tv": {
      "get": {
        "operationId": "discoverTvShows",
        "summary": "Discover TV shows",
        "description": "Discover TV shows by different types of data like average rating, number of votes, genres, and networks.",
        "tags": ["Discover"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "popularity.desc"
            }
          },
          {
            "name": "with_genres",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of genre IDs"
          },
          {
            "name": "first_air_date_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "vote_average.gte",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "vote_count.gte",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TvListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/genre/movie/list": {
      "get": {
        "operationId": "getMovieGenres",
        "summary": "Get movie genres",
        "description": "Get the list of official movie genres.",
        "tags": ["Genres"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "genres": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Genre"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/genre/tv/list": {
      "get": {
        "operationId": "getTvGenres",
        "summary": "Get TV genres",
        "description": "Get the list of official TV genres.",
        "tags": ["Genres"],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "genres": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Genre"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/trending/{media_type}/{time_window}": {
      "get": {
        "operationId": "getTrending",
        "summary": "Get trending",
        "description": "Get the trending movies, TV shows, or people.",
        "tags": ["Trending"],
        "parameters": [
          {
            "name": "media_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["all", "movie", "tv", "person"]
            },
            "description": "Type of media to get trending for"
          },
          {
            "name": "time_window",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["day", "week"]
            },
            "description": "Time window for trending"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/configuration": {
      "get": {
        "operationId": "getConfiguration",
        "summary": "Get API configuration",
        "description": "Get the system wide configuration information including image base URLs and sizes.",
        "tags": ["Configuration"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "object",
                      "properties": {
                        "base_url": {
                          "type": "string"
                        },
                        "secure_base_url": {
                          "type": "string"
                        },
                        "backdrop_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "poster_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "profile_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "change_keys": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "TMDb API read access token (v4 auth). Pass as 'Authorization: Bearer <your_token>'."
      }
    },
    "parameters": {
      "language": {
        "name": "language",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "en-US"
        },
        "description": "ISO 639-1 language code"
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1,
          "maximum": 500
        },
        "description": "Page number for pagination"
      },
      "sessionId": {
        "name": "session_id",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Session ID for authenticated requests"
      },
      "sortBy": {
        "name": "sort_by",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["created_at.asc", "created_at.desc"],
          "default": "created_at.asc"
        },
        "description": "Sort order"
      }
    },
    "schemas": {
      "StatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "status_code": {
            "type": "integer"
          },
          "status_message": {
            "type": "string"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total_pages": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "include_adult": {
            "type": "boolean"
          },
          "iso_639_1": {
            "type": "string"
          },
          "iso_3166_1": {
            "type": "string"
          },
          "avatar": {
            "type": "object",
            "properties": {
              "gravatar": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "MovieSummary": {
        "type": "object",
        "properties": {
          "adult": {
            "type": "boolean"
          },
          "backdrop_path": {
            "type": "string",
            "nullable": true
          },
          "genre_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "id": {
            "type": "integer"
          },
          "original_language": {
            "type": "string"
          },
          "original_title": {
            "type": "string"
          },
          "overview": {
            "type": "string"
          },
          "popularity": {
            "type": "number"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "release_date": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "video": {
            "type": "boolean"
          },
          "vote_average": {
            "type": "number"
          },
          "vote_count": {
            "type": "integer"
          }
        }
      },
      "MovieDetails": {
        "type": "object",
        "properties": {
          "adult": {
            "type": "boolean"
          },
          "backdrop_path": {
            "type": "string",
            "nullable": true
          },
          "budget": {
            "type": "integer"
          },
          "genres": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Genre"
            }
          },
          "homepage": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "integer"
          },
          "imdb_id": {
            "type": "string",
            "nullable": true
          },
          "original_language": {
            "type": "string"
          },
          "original_title": {
            "type": "string"
          },
          "overview": {
            "type": "string"
          },
          "popularity": {
            "type": "number"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "release_date": {
            "type": "string"
          },
          "revenue": {
            "type": "integer"
          },
          "runtime": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "tagline": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "video": {
            "type": "boolean"
          },
          "vote_average": {
            "type": "number"
          },
          "vote_count": {
            "type": "integer"
          }
        }
      },
      "MovieListResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovieSummary"
            }
          },
          "total_pages": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "TvSummary": {
        "type": "object",
        "properties": {
          "adult": {
            "type": "boolean"
          },
          "backdrop_path": {
            "type": "string",
            "nullable": true
          },
          "genre_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "id": {
            "type": "integer"
          },
          "origin_country": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "original_language": {
            "type": "string"
          },
          "original_name": {
            "type": "string"
          },
          "overview": {
            "type": "string"
          },
          "popularity": {
            "type": "number"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "first_air_date": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "vote_average": {
            "type": "number"
          },
          "vote_count": {
            "type": "integer"
          }
        }
      },
      "TvSeriesDetails": {
        "type": "object",
        "properties": {
          "adult": {
            "type": "boolean"
          },
          "backdrop_path": {
            "type": "string",
            "nullable": true
          },
          "first_air_date": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Genre"
            }
          },
          "homepage": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "in_production": {
            "type": "boolean"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "last_air_date": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "number_of_episodes": {
            "type": "integer"
          },
          "number_of_seasons": {
            "type": "integer"
          },
          "origin_country": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "original_language": {
            "type": "string"
          },
          "original_name": {
            "type": "string"
          },
          "overview": {
            "type": "string"
          },
          "popularity": {
            "type": "number"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "tagline": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "vote_average": {
            "type": "number"
          },
          "vote_count": {
            "type": "integer"
          }
        }
      },
      "TvListResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TvSummary"
            }
          },
          "total_pages": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "adult": {
            "type": "boolean"
          },
          "also_known_as": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "biography": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "nullable": true
          },
          "deathday": {
            "type": "string",
            "nullable": true
          },
          "gender": {
            "type": "integer"
          },
          "homepage": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "integer"
          },
          "imdb_id": {
            "type": "string"
          },
          "known_for_department": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "place_of_birth": {
            "type": "string",
            "nullable": true
          },
          "popularity": {
            "type": "number"
          },
          "profile_path": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "API key validation and session management"
    },
    {
      "name": "Account",
      "description": "User account management, favorites, watchlists, and ratings"
    },
    {
      "name": "Movies",
      "description": "Movie details, lists, and ratings"
    },
    {
      "name": "TV Series",
      "description": "TV show details, lists, and ratings"
    },
    {
      "name": "People",
      "description": "Person details and popular people"
    },
    {
      "name": "Search",
      "description": "Search for movies, TV shows, and people"
    },
    {
      "name": "Discover",
      "description": "Discover movies and TV shows by filters"
    },
    {
      "name": "Genres",
      "description": "Genre lists for movies and TV"
    },
    {
      "name": "Trending",
      "description": "Trending media content"
    },
    {
      "name": "Configuration",
      "description": "System configuration and image URLs"
    }
  ]
}