{
  "openapi": "3.0.3",
  "info": {
    "title": "PredictHQ Events API",
    "description": "PredictHQ provides intelligent event data covering concerts, festivals, sports, conferences, public holidays, and more. Search events by location, date, category, attendance, and rank with predicted impact data.",
    "version": "1.0.0",
    "contact": {
      "name": "PredictHQ",
      "url": "https://www.predicthq.com"
    },
    "x-jentic-source-url": "https://docs.predicthq.com/api/events/search-events"
  },
  "servers": [
    {
      "url": "https://api.predicthq.com",
      "description": "PredictHQ production server"
    }
  ],
  "paths": {
    "/v1/events/": {
      "get": {
        "operationId": "searchEvents",
        "summary": "Search events",
        "description": "Search for events by location, date range, category, rank, and attendance. Returns paginated results with predicted impact data.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full-text search query."
          },
          {
            "name": "within",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Geo radius filter: {radius}{unit}@{lat},{lon} (e.g. 10km@40.7,-74.0). Units: m, km, ft, mi."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated ISO 3166-1 alpha-2 country codes."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories: concerts, festivals, sports, conferences, expos, performing-arts, community, public-holidays, school-holidays, observances, severe-weather, disasters."
          },
          {
            "name": "start.gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Events starting on or after this date (YYYY-MM-DD or ISO 8601)."
          },
          {
            "name": "start.lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Events starting on or before this date."
          },
          {
            "name": "start.tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Timezone for start date params (TZ Database format, default: UTC)."
          },
          {
            "name": "end.gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Events ending on or after this date."
          },
          {
            "name": "end.lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Events ending on or before this date."
          },
          {
            "name": "active.gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Events active on or after this date."
          },
          {
            "name": "active.lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Events active on or before this date."
          },
          {
            "name": "rank.gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "description": "Minimum PHQ Rank (0-100)."
          },
          {
            "name": "rank.lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "description": "Maximum PHQ Rank."
          },
          {
            "name": "local_rank.gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "description": "Minimum Local Rank."
          },
          {
            "name": "phq_attendance.gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum predicted attendance."
          },
          {
            "name": "phq_attendance.lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum predicted attendance."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "active"
            },
            "description": "Event state: active, deleted, predicted."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort fields (prefix - for descending). Options: start, end, rank, local_rank, phq_attendance, category."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Results per page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Event search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "PredictHQ API access token passed as Bearer token."
      }
    },
    "schemas": {
      "EventSearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of results."
          },
          "overflow": {
            "type": "boolean"
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code."
          },
          "timezone": {
            "type": "string"
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "start_local": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "end_local": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds."
          },
          "rank": {
            "type": "integer",
            "description": "PHQ Rank (0-100)."
          },
          "local_rank": {
            "type": "integer",
            "nullable": true
          },
          "phq_attendance": {
            "type": "integer",
            "description": "Predicted attendance."
          },
          "scope": {
            "type": "string",
            "description": "Geographic scope: locality, county, region, country."
          },
          "geo": {
            "type": "object",
            "properties": {
              "geometry": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "coordinates": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              },
              "address": {
                "type": "object",
                "properties": {
                  "formatted_address": {
                    "type": "string"
                  },
                  "locality": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "country_code": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "entity_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "phq_labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "weight": {
                  "type": "number"
                }
              }
            }
          },
          "predicted_event_spend": {
            "type": "integer",
            "description": "Total predicted spend in USD."
          },
          "brand_safe": {
            "type": "boolean"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "first_seen": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}