{
  "openapi": "3.0.1",
  "info": {
    "title": "SecurityScorecard API",
    "description": "REST API for the SecurityScorecard platform: manage portfolios, companies, scores, findings, and integrations.\n\nThis documentation is built from two kinds of sources.\n\n## Internal API docs (`servicesWithInternalApiDocs`)\n\nSpecs are fetched at runtime from other microservices/repositories. Those sections are dynamic and reflect the live specs exposed by each service.\n\n- [audit](https://users.prod.ssc.camp/api-docs)\n- [authentication-policies](https://users.prod.ssc.camp/api-docs)\n- [eval](https://eval.prod.ssc.camp/api-docs)\n- [feedback](https://measurements.prod.ssc.camp/api-docs)\n- [fluxus](https://fluxus-rest-api.prod.ssc.camp/docs/fluxus.json)\n- [footprint](https://footprint.prod.ssc.camp/api-docs)\n- [managed-services](https://users.prod.ssc.camp/api-docs)\n- [max](https://max-api.prod.ssc.camp/api-docs)\n- [measurements](https://measurements.prod.ssc.camp/api-docs)\n- [plans](https://plans.prod.ssc.camp/api-docs)\n- [subscriptions](https://subscriptions.prod.ssc.camp/api-docs)\n- [users](https://users.prod.ssc.camp/api-docs)\n- [zzzzzz](https://users.prod.ssc.camp/api-docs)\n\n## External API docs (`servicesWithExternalApiDocs`)\n\nSpecs are bundled in this repository (local Swagger 2.0 files or static definitions). They are versioned and maintained here rather than fetched from elsewhere.",
    "contact": {
      "name": "SecurityScorecard Support",
      "email": "support@securityscorecard.io"
    },
    "version": "1.9.80",
    "x-logo": {
      "url": "https://platform.securityscorecard.io/images/ssc-logo-white-stacked.svg",
      "backgroundColor": "#222830"
    },
    "x-jentic-source-url": "https://api.securityscorecard.io/api-docs/"
  },
  "servers": [
    {
      "url": "https://api.securityscorecard.io/"
    }
  ],
  "security": [
    {
      "Token": []
    }
  ],
  "paths": {
    "/portfolios": {
      "get": {
        "tags": [
          "portfolios"
        ],
        "summary": "Get all portfolios you have access to",
        "responses": {
          "200": {
            "description": "the list of portfolios",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "portfolios"
        ],
        "summary": "Create a new portfolio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "the created portfolio",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Portfolio"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/portfolios/companies/bulk-upload": {
      "put": {
        "tags": [
          "Portfolio",
          "portfolios"
        ],
        "summary": "Add companies in bulk to a portfolios",
        "description": "Add companies in bulk to a portfolios",
        "parameters": [
          {
            "name": "auth_mechanism",
            "in": "query",
            "description": "propaged auth mechanism to distinguish platform requests and API integrations",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "companies",
                  "portfolios"
                ],
                "type": "object",
                "properties": {
                  "portfolios": {
                    "type": "array",
                    "description": "list of portfolio IDs",
                    "items": {
                      "type": "string"
                    }
                  },
                  "companies": {
                    "type": "array",
                    "description": "company domains",
                    "items": {
                      "type": "string"
                    }
                  },
                  "bulkInvite": {
                    "type": "boolean",
                    "description": "t/f if the upload was created via csv bulk upload"
                  },
                  "tagType": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "No response body",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/portfolios/{portfolio_id}": {
      "put": {
        "tags": [
          "portfolios"
        ],
        "summary": "Edit a portfolio",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "the edited portfolio",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Portfolio"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "portfolios"
        ],
        "summary": "Delete a portfolio",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "description": "id of a portfolio you have write access to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/portfolios/{portfolio_id}/companies": {
      "get": {
        "tags": [
          "portfolios"
        ],
        "summary": "Get all companies in a portfolio",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "description": "a portfolio unique id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          },
          {
            "name": "grade",
            "in": "query",
            "description": "company score grade filter",
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "industry",
            "in": "query",
            "description": "industry filter",
            "schema": {
              "type": "string"
            },
            "example": "retail"
          },
          {
            "name": "vulnerability",
            "in": "query",
            "description": "CVE vulnerability filter",
            "schema": {
              "type": "string"
            },
            "example": "CVE-2016-0800"
          },
          {
            "name": "issue_type",
            "in": "query",
            "description": "issue type filter",
            "schema": {
              "type": "string"
            },
            "example": "service_vuln_host_medium"
          },
          {
            "name": "status",
            "in": "query",
            "description": "company status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            },
            "example": "inactive"
          },
          {
            "name": "had_breach_within_last_days",
            "in": "query",
            "description": "companies with breaches in last N days",
            "schema": {
              "type": "number"
            },
            "example": 15
          }
        ],
        "responses": {
          "200": {
            "description": "the list of companies",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioCompaniesList"
                }
              }
            }
          }
        }
      }
    },
    "/portfolios/{id}/companies/all": {
      "delete": {
        "tags": [
          "Portfolio",
          "portfolios"
        ],
        "summary": "Remove all companies from a portfolio",
        "description": "Remove all companies from a portfolio",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "portfolio id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/portfolios/{portfolio_id}/companies/{domain}": {
      "put": {
        "tags": [
          "portfolios"
        ],
        "summary": "Add company to portfolio",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "description": "a portfolio unique id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          },
          {
            "name": "domain",
            "in": "path",
            "description": "a company's internet domain. this parameter accepts any valid internet domain.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "added company's summary",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AddCompanyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "portfolios"
        ],
        "summary": "Remove company from portfolio",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "description": "id of a portfolio you have write access to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          },
          {
            "name": "domain",
            "in": "path",
            "description": "company primary domain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/portfolios/{portfolio_id}/expanded-risk": {
      "get": {
        "tags": [
          "portfolios"
        ],
        "summary": "Get all expanded risk events in a portfolio",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "description": "a portfolio unique id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cf4f5858-2b59-41ba-853c-8a506528d491"
          },
          {
            "name": "category",
            "in": "query",
            "description": "optionally filter events by category",
            "schema": {
              "type": "string",
              "enum": [
                "adverse",
                "corruption",
                "financial crime",
                "high risk industry",
                "pep",
                "relative or associate",
                "sanctions",
                "state owned company",
                "terrorism",
                "watchlist"
              ]
            },
            "example": "watchlist"
          },
          {
            "name": "confidence",
            "in": "query",
            "description": "optionally filter events by confidence",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "unlikely",
                "medium",
                "high"
              ]
            },
            "example": "high"
          },
          {
            "name": "page",
            "in": "query",
            "description": "optionally specify which page of results to return",
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "optionally specify how many results to return",
            "schema": {
              "maximum": 5000,
              "minimum": 1,
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "description": "URL to be used to used to fetch additional pages of results",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandedRiskEvents"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Company must be added to a portfolio first",
            "content": {}
          },
          "404": {
            "description": "Company not found",
            "content": {}
          },
          "default": {
            "description": "Error Payload",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandedRiskErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scorecard-tags": {
      "get": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Get all scorecard tags",
        "description": "Get all scorecard tags",
        "responses": {
          "200": {
            "description": "a list of scorecard tags",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "entries",
                    "total"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "a scorecard tag"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false,
                  "description": "a list of scorecard tags"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Create a scorecard tag",
        "description": "Create a scorecard tag",
        "requestBody": {
          "description": "scorecard tag payload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "description": "the created scorecard tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "a scorecard tag",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "unique identifier of the scorecard tag"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "description": "a scorecard tag"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "TagCreate"
      }
    },
    "/scorecard-tags/bulk-delete": {
      "post": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Deletes a list of tags by the given ids in a singl",
        "description": "Deletes a list of tags by the given ids in a single request",
        "requestBody": {
          "description": "list of tag ids",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "ids"
                ],
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "public_tags": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false,
                "description": "ids of tags"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "BulkDelete"
      }
    },
    "/scorecard-tags/groups": {
      "get": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Get all scorecard tag groups",
        "description": "Get all scorecard tag groups",
        "responses": {
          "200": {
            "description": "a list of Scorecard Tag Groups",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "entries"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Scorecard Tag Group"
                      }
                    }
                  },
                  "additionalProperties": false,
                  "description": "a list of Scorecard Tag Groups"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Create a new scorecard tag group",
        "description": "Create a new scorecard tag group",
        "requestBody": {
          "description": "tag group payload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "scorecard tag group name"
                  }
                },
                "additionalProperties": false,
                "description": "Scorecard Tag Group Payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Scorecard Tag Group",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "pattern": "^[\\da-z-]{16,}$",
                      "type": "string",
                      "description": "the id of the scorecard tag group",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string",
                      "description": "scorecard tag group name"
                    }
                  },
                  "additionalProperties": false,
                  "description": "Scorecard Tag Group"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "ScorecardTagGroupPayload"
      }
    },
    "/scorecard-tags/groups/{id}": {
      "get": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Get a scorecard tag group",
        "description": "Get a scorecard tag group",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "scorecard tag group id",
            "required": true,
            "schema": {
              "pattern": "^[\\da-z-]{16,}$",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scorecard Tag Group",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "pattern": "^[\\da-z-]{16,}$",
                      "type": "string",
                      "description": "the id of the scorecard tag group",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string",
                      "description": "scorecard tag group name"
                    }
                  },
                  "additionalProperties": false,
                  "description": "Scorecard Tag Group"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Edit a scorecard tag group",
        "description": "Edit a scorecard tag group",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "pattern": "^[\\da-z-]{16,}$",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "tag group payload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "scorecard tag group name"
                  }
                },
                "additionalProperties": false,
                "description": "Scorecard Tag Group Payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Scorecard Tag Group",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "pattern": "^[\\da-z-]{16,}$",
                      "type": "string",
                      "description": "the id of the scorecard tag group",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string",
                      "description": "scorecard tag group name"
                    }
                  },
                  "additionalProperties": false,
                  "description": "Scorecard Tag Group"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "ScorecardTagGroupPayload"
      },
      "delete": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Delete a scorecard tag group",
        "description": "Delete a scorecard tag group",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "pattern": "^[\\da-z-]{16,}$",
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/scorecard-tags/remove-public-tag-association": {
      "post": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Deletes a list of tags by the given ids in a singl",
        "description": "Deletes a list of tags by the given ids in a single request",
        "requestBody": {
          "description": "payload of the public tag that is going to be removed fomr a domain",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "domain",
                  "tag_name"
                ],
                "type": "object",
                "properties": {
                  "tag_name": {
                    "type": "string",
                    "description": "the public tag name"
                  },
                  "domain": {
                    "type": "string",
                    "description": "the domain where the public tag is going to be removed"
                  }
                },
                "additionalProperties": false,
                "description": "Removes a public tag associated to the given domain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "RemovePublicTagAssociation"
      }
    },
    "/scorecard-tags/{id}": {
      "put": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Update a scorecard tag",
        "description": "Update a scorecard tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "scorecard tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "scorecard tag payload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "unique identifier of the scorecard tag"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "privacy": {
                    "type": "string",
                    "default": "shared"
                  }
                },
                "additionalProperties": false,
                "description": "the updated scorecard tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "a scorecard tag",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "unique identifier of the scorecard tag"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "description": "a scorecard tag"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "TagUpdate"
      },
      "delete": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Delete a scorecard tag",
        "description": "Delete a scorecard tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "scorecard tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/scorecard-tags/{id}/companies": {
      "get": {
        "tags": [
          "scorecard-tags"
        ],
        "summary": "Get all companies associated with a scorecard tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "a scorecard tag unique id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          },
          {
            "name": "grade",
            "in": "query",
            "description": "company score grade filter",
            "schema": {
              "type": "string"
            },
            "example": "A"
          },
          {
            "name": "industry",
            "in": "query",
            "description": "industry filter",
            "schema": {
              "type": "string"
            },
            "example": "retail"
          },
          {
            "name": "vulnerability",
            "in": "query",
            "description": "CVE vulnerability filter",
            "schema": {
              "type": "string"
            },
            "example": "CVE-2016-0800"
          },
          {
            "name": "issue_type",
            "in": "query",
            "description": "issue type filter",
            "schema": {
              "type": "string"
            },
            "example": "service_vuln_host_medium"
          },
          {
            "name": "status",
            "in": "query",
            "description": "company status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            },
            "example": "inactive"
          },
          {
            "name": "had_breach_within_last_days",
            "in": "query",
            "description": "companies with breaches in last N days",
            "schema": {
              "type": "number"
            },
            "example": 15
          }
        ],
        "responses": {
          "200": {
            "description": "the list of companies",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioCompaniesList"
                }
              }
            }
          }
        }
      }
    },
    "/scorecard-tags/{id}/companies/{domain}": {
      "post": {
        "tags": [
          "scorecard-tags"
        ],
        "summary": "Add a scorecard tag to a company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "a scorecard tag unique id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          },
          {
            "name": "domain",
            "in": "path",
            "description": "a company's internet domain. this parameter accepts any valid internet domain.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "added company's summary",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySummary"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "scorecard-tags"
        ],
        "summary": "Remove a scorecard tag from a company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of a scorecard tag you have write access to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "55e448c4e4b0c986fd66ff12"
          },
          {
            "name": "domain",
            "in": "path",
            "description": "company primary domain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/scorecard-tags/{tag_id}/groups/{tag_group_id}": {
      "post": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Add scorecard tag to a scorecard tag group",
        "description": "Add scorecard tag to a scorecard tag group",
        "parameters": [
          {
            "name": "tag_group_id",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "pattern": "^[\\da-z-]{16,}$",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tag_id",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response body",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Tag",
          "scorecard-tags"
        ],
        "summary": "Remove scorecard tag from a scorecard tag group",
        "description": "Remove scorecard tag from a scorecard tag group",
        "parameters": [
          {
            "name": "tag_group_id",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "pattern": "^[\\da-z-]{16,}$",
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tag_id",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/ip-domain-tags": {
      "get": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Get all ip domain tags",
        "operationId": "getApi",
        "responses": {
          "200": {
            "description": "tag schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "entries"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Create an ip domain tag",
        "operationId": "postApi",
        "requestBody": {
          "description": "ip domain tag payload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "tag"
                ],
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string",
                    "description": "tag name"
                  },
                  "description": {
                    "type": "string",
                    "description": "tag description"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "tag schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "description",
                    "id",
                    "tag"
                  ],
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "tag": {
                      "type": "string",
                      "description": "tag name"
                    },
                    "description": {
                      "type": "string",
                      "description": "tag description"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/ip-domain-tags/groups": {
      "get": {
        "tags": [
          "{Parent Domain}",
          "ip-domain-tags"
        ],
        "summary": "Get all ip domain tag groups",
        "operationId": "getByParentdomainTagGroups",
        "responses": {
          "200": {
            "description": "tag group schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "entries"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Create a new ip domain tag group",
        "operationId": "postApiTagGroups",
        "requestBody": {
          "description": "ip domain tag group payload",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "tag group name"
                  },
                  "description": {
                    "type": "string",
                    "description": "tag group description",
                    "default": ""
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "tag group schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "description",
                    "id",
                    "name",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "name": {
                      "type": "string",
                      "description": "tag name"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "description": {
                      "type": "string",
                      "description": "tag description"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/ip-domain-tags/groups/{id}": {
      "get": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Get an ip domain tag group",
        "operationId": "getApiTagGroupsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "tag group schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "description",
                    "id",
                    "name",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "name": {
                      "type": "string",
                      "description": "tag name"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "description": {
                      "type": "string",
                      "description": "tag description"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Edit an ip domain tag group",
        "operationId": "putApiTagGroupsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ip domain tag group payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "tag group name"
                  },
                  "description": {
                    "type": "string",
                    "description": "tag group description"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "tag group schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "description",
                    "id",
                    "name",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "name": {
                      "type": "string",
                      "description": "tag name"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "description": {
                      "type": "string",
                      "description": "tag description"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Delete an ip domain tag group",
        "operationId": "deleteApiTagGroupsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/ip-domain-tags/parent-domains/{parentDomain}/domains": {
      "get": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Get all the domain tags of the parent domain",
        "operationId": "getApiByParentdomainDomainRelatedTags",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "tag schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "entries"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/ip-domain-tags/parent-domains/{parentDomain}/ips": {
      "get": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Get all the ip tags of the parent domain",
        "operationId": "getApiByParentdomainIpRelatedTags",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "tag schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "entries"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/ip-domain-tags/{tagId}": {
      "put": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Edit an ip domain tag",
        "operationId": "putApiByTagid",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "id tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ip domain tag payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string",
                    "description": "name of the tag to be updated"
                  },
                  "description": {
                    "type": "string",
                    "description": "description for the tag to be updated"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "tag schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "description",
                    "id",
                    "tag"
                  ],
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "tag": {
                      "type": "string",
                      "description": "tag name"
                    },
                    "description": {
                      "type": "string",
                      "description": "tag description"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Delete an ip domain tag",
        "operationId": "deleteApiByTagid",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No response body",
            "content": {}
          }
        }
      }
    },
    "/ip-domain-tags/{tagId}/groups/{tagGroupId}": {
      "post": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Add ip domain tag to a ip domain tag group",
        "operationId": "postApiGroupsByTaggroupidAssociationByTagid",
        "parameters": [
          {
            "name": "tagGroupId",
            "in": "path",
            "description": "tag group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "tag group schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "description",
                    "id",
                    "name",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "name": {
                      "type": "string",
                      "description": "tag name"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "description": {
                      "type": "string",
                      "description": "tag description"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Remove ip domain tag to a ip domain tag group",
        "operationId": "deleteApiGroupsByTaggroupidAssociationByTagid",
        "parameters": [
          {
            "name": "tagGroupId",
            "in": "path",
            "description": "id of updated tag-group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "tag group schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "description",
                    "id",
                    "name",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "id": {
                      "type": "string",
                      "description": "tag organization id"
                    },
                    "name": {
                      "type": "string",
                      "description": "tag name"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "description": {
                      "type": "string",
                      "description": "tag description"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/ip-domain-tags/{tagId}/parent-domains/{parentDomain}/domain/{domain}": {
      "post": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Add a tag to a domain",
        "operationId": "postApiByParentdomainDomainByDomainAssociateTagsByTagid",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "description": "domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "domain association schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "domain",
                    "organization_id",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "domain"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "orgarnization id"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Remove a tag from a domain",
        "operationId": "deleteApiByParentdomainDomainByDomainAssociateTagsByTagid",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "description": "domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "domain association schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "domain",
                    "organization_id",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "domain"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "orgarnization id"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/ip-domain-tags/{tagId}/parent-domains/{parentDomain}/ip/{ip}": {
      "post": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Add a tag to an ip",
        "operationId": "postApiByParentdomainIpByIpAssociateTagsByTagid",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "path",
            "description": "ip",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ip association schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "ip",
                    "organization_id",
                    "parent_domain",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "ip address"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "orgarnization id"
                    },
                    "parent_domain": {
                      "type": "string",
                      "description": "ip parent domain"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Api",
          "ip-domain-tags"
        ],
        "summary": "Remove a tag from an ip",
        "operationId": "deleteApiByParentdomainIpByIpAssociateTagsByTagid",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "path",
            "description": "ip",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "tag id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ip association schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "ip",
                    "organization_id",
                    "parent_domain",
                    "tags"
                  ],
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "ip address"
                    },
                    "tags": {
                      "type": "array",
                      "description": "array of tag ids"
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "orgarnization id"
                    },
                    "parent_domain": {
                      "type": "string",
                      "description": "ip parent domain"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/parent-domains/{parentDomain}/domains": {
      "post": {
        "tags": [
          "{Parent Domain}",
          "ip-domain-tags"
        ],
        "summary": "Get all the domains for the parent domain",
        "operationId": "postByParentdomainAssetsDomains",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "filters, sorting and pagination",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page",
                  "page_size"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "condition",
                        "field",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "operator": {
                          "type": "string",
                          "description": "boolean operator - must be the same for all filters",
                          "example": "and",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        "field": {
                          "type": "string",
                          "description": "column name used for filtering",
                          "example": "ip",
                          "enum": [
                            "status",
                            "findings",
                            "issues",
                            "scoreImpact",
                            "domain",
                            "domainType",
                            "ips",
                            "ipsCount",
                            "criticality",
                            "tags",
                            "publicTags",
                            "assetCategories",
                            "assignees",
                            "sources"
                          ]
                        },
                        "condition": {
                          "type": "string",
                          "description": "condition that's used for comparing field value to input value",
                          "example": "=",
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "contains",
                            "does_not_contain",
                            "between",
                            "is_not_between",
                            "includes_all",
                            "includes_any",
                            "excludes_all",
                            "<<"
                          ]
                        },
                        "value": {
                          "type": "object",
                          "description": "filters input value - array of 2 values for comparisons such as `between`, string otherwise",
                          "example": "127.0.0.1"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "string",
                    "description": "field to sort by",
                    "enum": [
                      "status",
                      "-status",
                      "findings",
                      "-findings",
                      "issues",
                      "-issues",
                      "scoreImpact",
                      "-scoreImpact",
                      "domain",
                      "-domain",
                      "ipsCount",
                      "-ipsCount",
                      "criticality",
                      "-criticality",
                      "assetCategories",
                      "-assetCategories",
                      "sources",
                      "-sources"
                    ]
                  },
                  "page": {
                    "type": "number",
                    "description": "required page number, first page is 0"
                  },
                  "page_size": {
                    "type": "number",
                    "description": "size of the pages in the paginated result"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "domain schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "entries",
                    "size"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false
                      }
                    },
                    "size": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/parent-domains/{parentDomain}/ips": {
      "post": {
        "tags": [
          "{Parent Domain}",
          "ip-domain-tags"
        ],
        "summary": "Get all the ips for the parent domain",
        "operationId": "postByParentdomainAssetsIps",
        "parameters": [
          {
            "name": "parentDomain",
            "in": "path",
            "description": "parent domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "filters, sorting and pagination",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page",
                  "page_size"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "condition",
                        "field",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "operator": {
                          "type": "string",
                          "description": "boolean operator - must be the same for all filters",
                          "example": "and",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        "field": {
                          "type": "string",
                          "description": "column name used for filtering",
                          "example": "ip",
                          "enum": [
                            "status",
                            "findings",
                            "issues",
                            "scoreImpact",
                            "ip",
                            "domain",
                            "country",
                            "tags",
                            "assetCategories",
                            "assignees",
                            "sources",
                            "hostnames"
                          ]
                        },
                        "condition": {
                          "type": "string",
                          "description": "condition that's used for comparing field value to input value",
                          "example": "=",
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "contains",
                            "does_not_contain",
                            "between",
                            "is_not_between",
                            "includes_all",
                            "includes_any",
                            "excludes_all",
                            "<<"
                          ]
                        },
                        "value": {
                          "type": "object",
                          "description": "filters input value - array of 2 values for comparisons such as `between`, string otherwise",
                          "example": "127.0.0.1"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "string",
                    "description": "field to sort by",
                    "enum": [
                      "findings",
                      "-findings",
                      "issues",
                      "-issues",
                      "scoreImpact",
                      "-scoreImpact",
                      "ip",
                      "-ip",
                      "domain",
                      "-domain",
                      "assetCategories",
                      "-assetCategories",
                      "detection",
                      "-detection",
                      "sources",
                      "-sources"
                    ]
                  },
                  "page": {
                    "type": "number",
                    "description": "required page number, first page is 0"
                  },
                  "page_size": {
                    "type": "number",
                    "description": "size of the pages in the paginated result"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ip schema",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "entries",
                    "size"
                  ],
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false
                      }
                    },
                    "size": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/companies/bulk-searches": {
      "post": {
        "tags": [
          "Company",
          "scores"
        ],
        "summary": "Search companies in bulk",
        "description": "Search companies in bulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "searches"
                ],
                "type": "object",
                "properties": {
                  "searches": {
                    "type": "array",
                    "description": "search text array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "maxSearches": {
                    "type": "integer",
                    "description": "number of searches to perform"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "bulk searches results",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "not_found",
                    "repeated_domains",
                    "scorecards"
                  ],
                  "type": "object",
                  "properties": {
                    "scorecards": {
                      "type": "array",
                      "description": "list of domains found",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "scorecard search result"
                      }
                    },
                    "not_found": {
                      "type": "array",
                      "description": "list of searches which has not found",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "not found search data"
                      }
                    },
                    "repeated_domains": {
                      "type": "array",
                      "description": "list of domains found and repeated",
                      "items": {
                        "type": "string"
                      }
                    },
                    "scorecards_repeated": {
                      "type": "array",
                      "description": "list of scorecards repeated",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "scorecard search result"
                      }
                    },
                    "not_found_repeated": {
                      "type": "array",
                      "description": "list of searches which has not found and repeated",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "not found search data"
                      }
                    }
                  },
                  "additionalProperties": false,
                  "description": "bulk searches results"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/companies/{scorecard_identifier}": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "Get a company information and scorecard summary",
        "parameters": [
          {
            "name": "scorecard_identifier",
            "in": "path",
            "description": "primary identifier of a company or scorecard in SecurityScorecard. To determine this value, company must be added to a portfolio first.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "company's summary",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: The scorecard_identifier or the authorization header is malformed.",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Company needs to be added to a portfolio first",
            "content": {}
          },
          "404": {
            "description": "company doesn't have a scorecard yet, you can add it to any portfolio to get it created.",
            "content": {}
          }
        }
      }
    },
    "/companies/{scorecard_identifier}/expanded-risk": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "Get a company's expanded risk",
        "parameters": [
          {
            "name": "scorecard_identifier",
            "in": "path",
            "description": "primary identifier of a company or scorecard",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "category",
            "in": "query",
            "description": "optionally filter events by category",
            "schema": {
              "type": "string",
              "enum": [
                "adverse",
                "corruption",
                "financial crime",
                "high risk industry",
                "pep",
                "relative or associate",
                "sanctions",
                "state owned company",
                "terrorism",
                "watchlist"
              ]
            },
            "example": "watchlist"
          },
          {
            "name": "confidence",
            "in": "query",
            "description": "optionally filter events by confidence",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "unlikely",
                "medium",
                "high"
              ]
            },
            "example": "high"
          },
          {
            "name": "page",
            "in": "query",
            "description": "optionally specify which page of results to return",
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "optionally specify how many results to return",
            "schema": {
              "maximum": 5000,
              "minimum": 1,
              "type": "integer"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "description": "URL to be used to used to fetch additional pages of results",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandedRiskEvents"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Company must be added to a portfolio first",
            "content": {}
          },
          "404": {
            "description": "Company not found",
            "content": {}
          },
          "default": {
            "description": "Error Payload",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandedRiskErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{scorecard_identifier}/factors": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "Get a company's factor scores and issue counts",
        "parameters": [
          {
            "name": "scorecard_identifier",
            "in": "path",
            "description": "primary identifier of a company or scorecard",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "severity",
            "in": "query",
            "description": "optionally filter issues by severity",
            "schema": {
              "type": "string",
              "enum": [
                "positive",
                "info",
                "low",
                "medium",
                "high"
              ]
            },
            "example": "high"
          },
          {
            "name": "severity_in",
            "in": "query",
            "description": "optionally filter issues by comma separated severity list",
            "schema": {
              "type": "string"
            },
            "example": "high,medium"
          }
        ],
        "responses": {
          "200": {
            "description": "company's factors",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyFactors"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: The scorecard_identifier or the authorization header is malformed.",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "to access scorecard's factor level data, company must be added to a portfolio first.",
            "content": {}
          },
          "404": {
            "description": "company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored.",
            "content": {}
          }
        }
      }
    },
    "/companies/{scorecard_identifier}/history/factors/score": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "Get a company's historical factor scores",
        "description": "Note: each entry in the response will have scores for each factor, you can obtain the factors currently available from [factor metadata](#tag/metadata%2Fpaths%2F~1metadata~1factors%2Fget)",
        "parameters": [
          {
            "name": "scorecard_identifier",
            "in": "path",
            "description": "primary identifier of a company or scorecard",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "history start date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2019-03-14"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "history end date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2019-04-24"
          },
          {
            "name": "timing",
            "in": "query",
            "description": "date granularity, it could be \"daily\" (default), \"weekly\" or \"monthly\"",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            },
            "example": "monthly"
          }
        ],
        "responses": {
          "200": {
            "description": "company historical scores",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyFactorScoreHistory"
                }
              }
            }
          },
          "403": {
            "description": "to access scorecard's factor level data, company must be added to a portfolio first.",
            "content": {}
          },
          "404": {
            "description": "company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored.",
            "content": {}
          }
        }
      }
    },
    "/companies/{scorecard_identifier}/history/score": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "Get a company's historical scores",
        "parameters": [
          {
            "name": "scorecard_identifier",
            "in": "path",
            "description": "primary identifier of a company or scorecard",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "timing",
            "in": "query",
            "description": "timing granularity",
            "schema": {
              "type": "string",
              "default": "daily",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            },
            "example": "daily"
          },
          {
            "name": "from",
            "in": "query",
            "description": "history start date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2018-01-14"
          },
          {
            "name": "to",
            "in": "query",
            "description": "history end date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2018-02-24"
          }
        ],
        "responses": {
          "200": {
            "description": "company historical scores",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyScoreHistory"
                }
              }
            }
          },
          "403": {
            "description": "to access scorecard's factor level data, company must be added to a portfolio first.",
            "content": {}
          },
          "404": {
            "description": "company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored.",
            "content": {}
          }
        }
      }
    },
    "/companies/{domain}/score-plans/by-target/{score}": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "Get the score plan by score target",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "primary domain identifying a company",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "score",
            "in": "path",
            "description": "score target: the score you want to reach",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 90
          }
        ],
        "responses": {
          "200": {
            "description": "issue context in similar companies",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ScorePlan"
                }
              }
            }
          },
          "403": {
            "description": "to access this scorecard, company must be added to a portfolio first.",
            "content": {}
          },
          "404": {
            "description": "company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored.",
            "content": {}
          }
        }
      }
    },
    "/companies/{scorecard_identifier}/summary-factors": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "Get a company information, scorecard summary, factor scores and issue counts",
        "parameters": [
          {
            "name": "scorecard_identifier",
            "in": "path",
            "description": "primary identifier of a company or scorecard",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "severity",
            "in": "query",
            "description": "optionally filter issues by severity",
            "schema": {
              "type": "string",
              "enum": [
                "positive",
                "info",
                "low",
                "medium",
                "high"
              ]
            },
            "example": "high"
          },
          {
            "name": "severity_in",
            "in": "query",
            "description": "optionally filter issues by comma separated severity list",
            "schema": {
              "type": "string"
            },
            "example": "high,medium"
          }
        ],
        "responses": {
          "200": {
            "description": "company's summary and factors",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySummaryFactors"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: The scorecard_identifier or the authorization header is malformed.",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Company needs to be added to a portfolio first",
            "content": {}
          },
          "404": {
            "description": "Company not found",
            "content": {}
          }
        }
      }
    },
    "/industries/{industry}/factors": {
      "get": {
        "tags": [
          "scores"
        ],
        "summary": "get factor scores for the industry",
        "description": "get factor scores for the industry",
        "parameters": [
          {
            "name": "industry",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "technology"
          },
          {
            "name": "score_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
