{
  "openapi": "3.0.3",
  "info": {
    "title": "Booqi API",
    "version": "1.0.0",
    "description": "Booqi ticketing platform API for managing categories, customers, products, orders, tickets, upsells, subscriptions, and scanner settings.",
    "x-jentic-source-url": "https://booqi.docs.apiary.io/"
  },
  "servers": [
    {
      "url": "https://api.booqi.com"
    }
  ],
  "paths": {
    "/coupon": {
      "post": {
        "operationId": "validateCoupon",
        "summary": "Validate coupon code",
        "description": "Validate a coupon code, optionally for a specific product.",
        "tags": ["Coupons"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["coupon"],
                "properties": {
                  "coupon": { "type": "string", "description": "Coupon code to validate" },
                  "product": { "type": "string", "description": "Product ID to check coupon against" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Coupon validation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CouponResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/checkin": {
      "post": {
        "operationId": "checkinTicket",
        "summary": "Check in ticket by barcode",
        "description": "Check in a ticket using its barcode. Optionally simulate the check-in without actually performing it.",
        "tags": ["Check-in"],
        "parameters": [
          { "name": "Auth-Token", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["barcode"],
                "properties": {
                  "barcode": { "type": "string", "description": "Ticket barcode" },
                  "simulate": { "type": "boolean", "description": "If true, simulate the check-in without performing it" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Check-in result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "Retrieve all categories",
        "tags": ["Categories"],
        "responses": {
          "200": { "description": "List of categories", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Category" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Retrieve single category",
        "tags": ["Categories"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Category details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Category" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "Retrieve all customers",
        "tags": ["Customers"],
        "responses": {
          "200": { "description": "List of customers", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Customer" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create new customer",
        "tags": ["Customers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created customer", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Retrieve single customer",
        "tags": ["Customers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Customer details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/customers/search": {
      "post": {
        "operationId": "searchCustomer",
        "summary": "Search customer by email",
        "tags": ["Customers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Customer search result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "Retrieve all products",
        "tags": ["Products"],
        "responses": {
          "200": { "description": "List of products", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Retrieve single product",
        "tags": ["Products"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Product details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Product" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/products/{id}/plots": {
      "get": {
        "operationId": "getProductPlots",
        "summary": "Retrieve product plots",
        "tags": ["Products"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "after", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Filter plots after this value" }
        ],
        "responses": {
          "200": { "description": "Product plots", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/products/{id}/upsells": {
      "get": {
        "operationId": "getProductUpsells",
        "summary": "Retrieve product upsells",
        "tags": ["Products"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Product upsells", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Upsell" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/upsells": {
      "get": {
        "operationId": "listUpsells",
        "summary": "Retrieve all upsells",
        "tags": ["Products"],
        "responses": {
          "200": { "description": "List of upsells", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Upsell" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "Retrieve all orders",
        "description": "Paginated list of orders (50 per page).",
        "tags": ["Orders"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "orderingCol", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "orderingDir", "in": "query", "required": false, "schema": { "type": "string", "enum": ["asc", "desc"] } },
          { "name": "filterFrom", "in": "query", "required": false, "schema": { "type": "string", "format": "date" } },
          { "name": "filterUntil", "in": "query", "required": false, "schema": { "type": "string", "format": "date" } },
          { "name": "filterCol", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of orders", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Order" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create new order",
        "tags": ["Orders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created order", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Order" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Retrieve single order",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Order details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Order" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel order and tickets",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Order cancelled" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders/{id}/tickets": {
      "get": {
        "operationId": "listOrderTickets",
        "summary": "Retrieve order tickets",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Order tickets", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Ticket" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders/{id}/tickets/{ticket_id}": {
      "get": {
        "operationId": "getOrderTicket",
        "summary": "Retrieve single ticket",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ticket_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Ticket details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ticket" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "cancelOrderTicket",
        "summary": "Cancel single ticket",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ticket_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Ticket cancelled" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders/{id}/upsells": {
      "get": {
        "operationId": "listOrderUpsells",
        "summary": "Retrieve order upsells",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Order upsells", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Upsell" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders/{id}/upsells/{upsell_id}": {
      "get": {
        "operationId": "getOrderUpsell",
        "summary": "Retrieve single upsell",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "upsell_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Upsell details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Upsell" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "cancelOrderUpsell",
        "summary": "Cancel single upsell",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "upsell_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Upsell cancelled" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders/{id}/additions": {
      "get": {
        "operationId": "listOrderAdditions",
        "summary": "Retrieve order additions",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Order additions", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/orders/{id}/events": {
      "get": {
        "operationId": "listOrderEvents",
        "summary": "Retrieve order events",
        "tags": ["Orders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Order events", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/organisation/additions": {
      "get": {
        "operationId": "listOrganisationAdditions",
        "summary": "Retrieve all additions",
        "tags": ["Organisation"],
        "responses": {
          "200": { "description": "All additions", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/organisation/scanner": {
      "get": {
        "operationId": "getScannerSettings",
        "summary": "Retrieve scanner settings",
        "tags": ["Organisation"],
        "parameters": [
          { "name": "Device-Token", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Scanner settings", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "Retrieve all subscriptions",
        "tags": ["Subscriptions"],
        "responses": {
          "200": { "description": "List of subscriptions", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Subscription" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "addSubscription",
        "summary": "Add subscription",
        "tags": ["Subscriptions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer": { "type": "string" },
                  "subscription": { "type": "string" },
                  "audiences": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Subscription added", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Subscription" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Retrieve single subscription",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Subscription details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Subscription" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/subscriptions/{id}/upsells": {
      "get": {
        "operationId": "listSubscriptionUpsells",
        "summary": "Retrieve subscription upsells",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Subscription upsells", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Upsell" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/user-subscriptions": {
      "get": {
        "operationId": "listUserSubscriptions",
        "summary": "Retrieve user subscriptions",
        "tags": ["Subscriptions"],
        "responses": {
          "200": { "description": "User subscriptions list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserSubscription" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/user-subscriptions/{id}": {
      "get": {
        "operationId": "getUserSubscription",
        "summary": "Retrieve single user subscription",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "User subscription details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserSubscription" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "cancelUserSubscription",
        "summary": "Cancel user subscription and passes",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Subscription cancelled" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/user-subscriptions/{id}/passes": {
      "get": {
        "operationId": "listSubscriptionPasses",
        "summary": "Retrieve subscription passes",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Subscription passes", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "activateSubscriptionPasses",
        "summary": "Activate subscription passes",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "first_name", "last_name", "birthday"],
                "properties": {
                  "id": { "type": "string" },
                  "first_name": { "type": "string" },
                  "last_name": { "type": "string" },
                  "birthday": { "type": "string", "format": "date" },
                  "avatar": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Passes activated" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Category": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" } } },
      "Customer": { "type": "object", "properties": { "id": { "type": "string" }, "first_name": { "type": "string" }, "last_name": { "type": "string" }, "email": { "type": "string", "format": "email" } } },
      "CustomerCreateRequest": { "type": "object", "required": ["first_name", "last_name", "email"], "properties": { "first_name": { "type": "string" }, "last_name": { "type": "string" }, "email": { "type": "string", "format": "email" }, "password": { "type": "string" } } },
      "Product": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "description": { "type": "string" } } },
      "Order": { "type": "object", "properties": { "id": { "type": "string" }, "status": { "type": "string" }, "customer": { "type": "string" } } },
      "OrderCreateRequest": { "type": "object", "properties": { "customer": { "type": "object" }, "product": { "type": "string" }, "audiences": { "type": "array", "items": { "type": "string" } }, "upsells": { "type": "array", "items": { "type": "string" } }, "coupon": { "type": "string" }, "manual": { "type": "boolean" }, "simulate": { "type": "boolean" }, "status": { "type": "string" } } },
      "Ticket": { "type": "object", "properties": { "id": { "type": "string" }, "barcode": { "type": "string" }, "status": { "type": "string" } } },
      "Upsell": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" } } },
      "Subscription": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" } } },
      "UserSubscription": { "type": "object", "properties": { "id": { "type": "string" }, "subscription_id": { "type": "string" }, "status": { "type": "string" } } },
      "CouponResponse": { "type": "object", "properties": { "valid": { "type": "boolean" }, "discount": { "type": "number" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "authToken": { "type": "apiKey", "in": "header", "name": "Auth-Token", "description": "Authentication token (or Authorization header for backwards compatibility)" }
    }
  },
  "security": [
    { "authToken": [] }
  ]
}