{
  "openapi": "3.0.3",
  "info": {
    "title": "NiceHash API",
    "description": "NiceHash is a crypto mining marketplace that connects sellers of hashing power (miners) with buyers. This API provides access to public market data, hashpower marketplace management, mining pool configuration, exchange trading, and account/wallet operations.",
    "version": "2.0.0",
    "contact": {
      "name": "NiceHash",
      "url": "https://www.nicehash.com"
    },
    "x-logo": {
      "url": "https://www.nicehash.com/static/media/logo.svg"
    }
  },
  "servers": [
    {
      "url": "https://api2.nicehash.com",
      "description": "Production"
    },
    {
      "url": "https://api-test.nicehash.com",
      "description": "Test / Sandbox (testnet)"
    }
  ],
  "security": [],
  "paths": {
    "/main/api/v2/public/stats/global/current/": {
      "get": {
        "operationId": "getGlobalStatsCurrent",
        "summary": "Get current global stats",
        "description": "Returns current global profitability and hashrate statistics for all algorithms.",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "algorithms": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AlgorithmStats"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/public/stats/global/24h/": {
      "get": {
        "operationId": "getGlobalStats24h",
        "summary": "Get 24-hour global stats",
        "description": "Returns global profitability and hashrate statistics averaged over the last 24 hours.",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "algorithms": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AlgorithmStats"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/public/orders/active/": {
      "get": {
        "operationId": "getActiveOrders",
        "summary": "Get active orders",
        "description": "Returns a list of all currently active hashpower orders on the marketplace.",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/public/orders/active2/": {
      "get": {
        "operationId": "getActiveOrders2",
        "summary": "Get active orders (v2)",
        "description": "Returns a list of all currently active hashpower orders on the marketplace (version 2 format).",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/public/buy/info/": {
      "get": {
        "operationId": "getBuyInfo",
        "summary": "Get buy info",
        "description": "Returns information about buying hashpower, including minimum amounts and available algorithms.",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/mining/algorithms/": {
      "get": {
        "operationId": "getMiningAlgorithms",
        "summary": "List mining algorithms",
        "description": "Returns a list of all supported mining algorithms with their details.",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "miningAlgorithms": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MiningAlgorithm"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/mining/markets/": {
      "get": {
        "operationId": "getMiningMarkets",
        "summary": "List mining markets",
        "description": "Returns a list of available mining markets (e.g., EU, USA).",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/public/currencies/": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "List supported currencies",
        "description": "Returns a list of all supported currencies with their properties.",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/public/simplemultialgo/info/": {
      "get": {
        "operationId": "getSimpleMultiAlgoInfo",
        "summary": "Get simple multi-algorithm info",
        "description": "Returns paying rates for all algorithms in simple multi-algorithm mining mode.",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "simplemultialgo": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SimpleMultiAlgoInfo"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/api/v2/info/status": {
      "get": {
        "operationId": "getExchangeStatus",
        "summary": "Get exchange status",
        "description": "Returns current status of the NiceHash exchange.",
        "tags": ["Exchange - Public"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/api/v2/trades": {
      "get": {
        "operationId": "getExchangeTrades",
        "summary": "Get exchange trades",
        "description": "Returns recent trades for a given market pair.",
        "tags": ["Exchange - Public"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market symbol (e.g., BTCUSDT, ETHBTC).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeTrade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/api/v2/candlesticks": {
      "get": {
        "operationId": "getExchangeCandlesticks",
        "summary": "Get exchange candlestick data",
        "description": "Returns OHLCV candlestick data for a given market pair and time range.",
        "tags": ["Exchange - Public"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market symbol (e.g., BTCUSDT).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start time as Unix timestamp in milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End time as Unix timestamp in milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "description": "Candlestick resolution/interval (e.g., 1, 5, 15, 60, 1440).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candlestick"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/api/v2/orderbook": {
      "get": {
        "operationId": "getExchangeOrderBook",
        "summary": "Get exchange order book",
        "description": "Returns the order book (bids and asks) for a given market pair.",
        "tags": ["Exchange - Public"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market symbol (e.g., BTCUSDT).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of entries to return per side.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBook"
                }
              }
            }
          }
        }
      }
    },
    "/main/api/v2/accounting/accounts2/": {
      "get": {
        "operationId": "getAccounts",
        "summary": "Get all accounts",
        "description": "Returns a list of all wallet accounts with their balances.",
        "tags": ["Accounting"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "$ref": "#/components/schemas/AccountBalance"
                    },
                    "currencies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountBalance"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/accounting/account2/{currency}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account for a specific currency",
        "description": "Returns the wallet account balance for a specific currency.",
        "tags": ["Accounting"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code (e.g., BTC, ETH).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/accounting/withdrawalAddresses/": {
      "get": {
        "operationId": "getWithdrawalAddresses",
        "summary": "List withdrawal addresses",
        "description": "Returns a paginated list of withdrawal addresses for a given currency.",
        "tags": ["Accounting"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency code (e.g., BTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Page size.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (0-based).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/accounting/withdrawalAddresses/types/": {
      "get": {
        "operationId": "getWithdrawalAddressTypes",
        "summary": "List withdrawal address types",
        "description": "Returns a list of supported withdrawal address types.",
        "tags": ["Accounting"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/accounting/withdrawal/": {
      "post": {
        "operationId": "createWithdrawal",
        "summary": "Create a withdrawal",
        "description": "Creates a new withdrawal request to a pre-configured withdrawal address.",
        "tags": ["Accounting"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["withdrawalAddressId", "amount", "currency"],
                "properties": {
                  "withdrawalAddressId": {
                    "type": "string",
                    "description": "ID of the pre-configured withdrawal address."
                  },
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "Amount to withdraw."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (e.g., BTC)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/hashpower/myOrders": {
      "get": {
        "operationId": "getMyHashpowerOrders",
        "summary": "Get my hashpower orders",
        "description": "Returns a list of your hashpower orders, optionally filtered by algorithm and market.",
        "tags": ["Hashpower"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "algorithm",
            "in": "query",
            "required": false,
            "description": "Algorithm name (e.g., SHA256, SCRYPT, X11).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "description": "Market location (e.g., EU, USA).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ts",
            "in": "query",
            "required": false,
            "description": "Timestamp for pagination.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "op",
            "in": "query",
            "required": false,
            "description": "Comparison operator for timestamp-based pagination (GT or LT).",
            "schema": {
              "type": "string",
              "enum": ["GT", "LT"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HashpowerOrder"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/hashpower/orderBook/": {
      "get": {
        "operationId": "getHashpowerOrderBook",
        "summary": "Get hashpower order book",
        "description": "Returns the hashpower order book for a specified algorithm.",
        "tags": ["Hashpower"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "algorithm",
            "in": "query",
            "required": true,
            "description": "Algorithm name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/hashpower/order/": {
      "post": {
        "operationId": "createHashpowerOrder",
        "summary": "Create a hashpower order",
        "description": "Creates a new hashpower order to buy mining power on the marketplace.",
        "tags": ["Hashpower"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["market", "algorithm", "amount", "price", "limit", "poolId", "type"],
                "properties": {
                  "market": {
                    "type": "string",
                    "description": "Market location (e.g., EU, USA)."
                  },
                  "algorithm": {
                    "type": "string",
                    "description": "Mining algorithm name."
                  },
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "Order amount in BTC."
                  },
                  "price": {
                    "type": "number",
                    "format": "double",
                    "description": "Price per unit of hashing speed."
                  },
                  "limit": {
                    "type": "number",
                    "format": "double",
                    "description": "Speed limit."
                  },
                  "poolId": {
                    "type": "string",
                    "description": "ID of the mining pool to direct hashpower to."
                  },
                  "type": {
                    "type": "string",
                    "description": "Order type (STANDARD or FIXED).",
                    "enum": ["STANDARD", "FIXED"]
                  },
                  "marketFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Market factor for price calculation."
                  },
                  "displayMarketFactor": {
                    "type": "string",
                    "description": "Display market factor unit."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hashpower order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashpowerOrder"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/hashpower/order/{orderId}": {
      "delete": {
        "operationId": "cancelHashpowerOrder",
        "summary": "Cancel a hashpower order",
        "description": "Cancels an existing hashpower order.",
        "tags": ["Hashpower"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The ID of the hashpower order to cancel.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/hashpower/order/{orderId}/refill/": {
      "post": {
        "operationId": "refillHashpowerOrder",
        "summary": "Refill a hashpower order",
        "description": "Adds funds to an existing hashpower order.",
        "tags": ["Hashpower"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The ID of the hashpower order to refill.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "Amount in BTC to add to the order."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order refilled successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/hashpower/order/{orderId}/updatePriceAndLimit/": {
      "post": {
        "operationId": "updateHashpowerOrderPriceAndLimit",
        "summary": "Update hashpower order price and limit",
        "description": "Updates the price and speed limit of an existing hashpower order.",
        "tags": ["Hashpower"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The ID of the hashpower order to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["price", "limit"],
                "properties": {
                  "price": {
                    "type": "number",
                    "format": "double",
                    "description": "New price per unit of hashing speed."
                  },
                  "limit": {
                    "type": "number",
                    "format": "double",
                    "description": "New speed limit."
                  },
                  "marketFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Market factor for price calculation."
                  },
                  "displayMarketFactor": {
                    "type": "string",
                    "description": "Display market factor unit."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/pool/": {
      "post": {
        "operationId": "createPool",
        "summary": "Create a mining pool",
        "description": "Creates a new mining pool configuration for directing hashpower.",
        "tags": ["Pools"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "algorithm", "stratumHostname", "stratumPort", "username", "password"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the pool."
                  },
                  "algorithm": {
                    "type": "string",
                    "description": "Mining algorithm."
                  },
                  "stratumHostname": {
                    "type": "string",
                    "description": "Stratum server hostname."
                  },
                  "stratumPort": {
                    "type": "integer",
                    "description": "Stratum server port."
                  },
                  "username": {
                    "type": "string",
                    "description": "Pool username/worker."
                  },
                  "password": {
                    "type": "string",
                    "description": "Pool password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pool created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/pool/{poolId}": {
      "delete": {
        "operationId": "deletePool",
        "summary": "Delete a mining pool",
        "description": "Deletes a mining pool configuration.",
        "tags": ["Pools"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "description": "The ID of the pool to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pool deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/main/api/v2/pools/": {
      "get": {
        "operationId": "getPools",
        "summary": "List mining pools",
        "description": "Returns a list of all configured mining pools.",
        "tags": ["Pools"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pool"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/api/v2/myOrders": {
      "get": {
        "operationId": "getMyExchangeOrders",
        "summary": "Get my exchange orders",
        "description": "Returns a list of your orders on the NiceHash exchange.",
        "tags": ["Exchange - Private"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market symbol (e.g., BTCUSDT).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeOrder"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/api/v2/myTrades": {
      "get": {
        "operationId": "getMyExchangeTrades",
        "summary": "Get my exchange trades",
        "description": "Returns a list of your executed trades on the NiceHash exchange.",
        "tags": ["Exchange - Private"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market symbol (e.g., BTCUSDT).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeTrade"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/api/v2/order": {
      "post": {
        "operationId": "createExchangeOrder",
        "summary": "Create an exchange order",
        "description": "Places a new buy or sell order on the NiceHash exchange.",
        "tags": ["Exchange - Private"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["market", "side", "type", "quantity"],
                "properties": {
                  "market": {
                    "type": "string",
                    "description": "Market symbol (e.g., BTCUSDT)."
                  },
                  "side": {
                    "type": "string",
                    "description": "Order side.",
                    "enum": ["BUY", "SELL"]
                  },
                  "type": {
                    "type": "string",
                    "description": "Order type.",
                    "enum": ["LIMIT", "MARKET"]
                  },
                  "quantity": {
                    "type": "number",
                    "format": "double",
                    "description": "Order quantity."
                  },
                  "price": {
                    "type": "number",
                    "format": "double",
                    "description": "Order price (required for LIMIT orders)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeOrder"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelExchangeOrder",
        "summary": "Cancel an exchange order",
        "description": "Cancels an existing order on the NiceHash exchange.",
        "tags": ["Exchange - Private"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "The ID of the order to cancel.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth",
        "description": "HMAC-SHA256 authentication. The X-Auth header value is formatted as '{api_key}:{hmac_digest}'. The HMAC message is constructed by concatenating the API key, server time (X-Time header), nonce (X-Nonce header), empty string, organization ID (X-Organization-Id header), empty string, HTTP method, path, query string, and request body (if present), each separated by a null byte (\\x00). Additional required headers: X-Time (server timestamp), X-Nonce (unique UUID), X-Organization-Id (your org ID), X-Request-Id (unique request UUID)."
      }
    },
    "schemas": {
      "AlgorithmStats": {
        "type": "object",
        "properties": {
          "algorithm": {
            "type": "string",
            "description": "Algorithm name."
          },
          "title": {
            "type": "string",
            "description": "Algorithm display title."
          },
          "speed": {
            "type": "string",
            "description": "Current total hashing speed."
          },
          "paying": {
            "type": "string",
            "description": "Current paying rate in BTC per unit."
          }
        }
      },
      "MiningAlgorithm": {
        "type": "object",
        "properties": {
          "algorithm": {
            "type": "string",
            "description": "Algorithm identifier."
          },
          "title": {
            "type": "string",
            "description": "Human-readable algorithm name."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the algorithm is currently enabled."
          },
          "order": {
            "type": "integer",
            "description": "Display order."
          }
        }
      },
      "SimpleMultiAlgoInfo": {
        "type": "object",
        "properties": {
          "algorithm": {
            "type": "string",
            "description": "Algorithm name."
          },
          "title": {
            "type": "string",
            "description": "Algorithm display title."
          },
          "paying": {
            "type": "string",
            "description": "Paying rate."
          },
          "speed": {
            "type": "number",
            "format": "double",
            "description": "Hashing speed."
          }
        }
      },
      "AccountBalance": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code."
          },
          "totalBalance": {
            "type": "string",
            "description": "Total balance."
          },
          "available": {
            "type": "string",
            "description": "Available (unlocked) balance."
          },
          "pending": {
            "type": "string",
            "description": "Pending balance."
          }
        }
      },
      "HashpowerOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Order ID."
          },
          "type": {
            "type": "string",
            "description": "Order type (STANDARD or FIXED)."
          },
          "algorithm": {
            "type": "string",
            "description": "Mining algorithm."
          },
          "market": {
            "type": "string",
            "description": "Market location."
          },
          "status": {
            "type": "string",
            "description": "Order status."
          },
          "price": {
            "type": "string",
            "description": "Price per unit."
          },
          "limit": {
            "type": "string",
            "description": "Speed limit."
          },
          "amount": {
            "type": "string",
            "description": "Remaining amount in BTC."
          },
          "availableAmount": {
            "type": "string",
            "description": "Available amount."
          },
          "acceptedSpeed": {
            "type": "string",
            "description": "Currently accepted hashing speed."
          },
          "poolId": {
            "type": "string",
            "description": "Target pool ID."
          }
        }
      },
      "Pool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Pool ID."
          },
          "name": {
            "type": "string",
            "description": "Pool display name."
          },
          "algorithm": {
            "type": "string",
            "description": "Mining algorithm."
          },
          "stratumHostname": {
            "type": "string",
            "description": "Stratum server hostname."
          },
          "stratumPort": {
            "type": "integer",
            "description": "Stratum server port."
          },
          "username": {
            "type": "string",
            "description": "Pool username."
          },
          "password": {
            "type": "string",
            "description": "Pool password."
          },
          "status": {
            "type": "string",
            "description": "Pool verification status."
          }
        }
      },
      "ExchangeTrade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Trade ID."
          },
          "dir": {
            "type": "string",
            "description": "Trade direction (BUY or SELL)."
          },
          "price": {
            "type": "string",
            "description": "Trade price."
          },
          "qty": {
            "type": "string",
            "description": "Trade quantity."
          },
          "spiQty": {
            "type": "string",
            "description": "SPI quantity."
          },
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "Trade timestamp."
          }
        }
      },
      "ExchangeOrder": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Order ID."
          },
          "market": {
            "type": "string",
            "description": "Market symbol."
          },
          "side": {
            "type": "string",
            "description": "Order side (BUY or SELL)."
          },
          "type": {
            "type": "string",
            "description": "Order type (LIMIT or MARKET)."
          },
          "price": {
            "type": "string",
            "description": "Order price."
          },
          "origQty": {
            "type": "string",
            "description": "Original quantity."
          },
          "executedQty": {
            "type": "string",
            "description": "Executed quantity."
          },
          "status": {
            "type": "string",
            "description": "Order status."
          },
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "Order creation timestamp."
          }
        }
      },
      "Candlestick": {
        "type": "object",
        "properties": {
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "Candle open time."
          },
          "open": {
            "type": "string",
            "description": "Open price."
          },
          "high": {
            "type": "string",
            "description": "High price."
          },
          "low": {
            "type": "string",
            "description": "Low price."
          },
          "close": {
            "type": "string",
            "description": "Close price."
          },
          "volume": {
            "type": "string",
            "description": "Volume."
          }
        }
      },
      "OrderBook": {
        "type": "object",
        "properties": {
          "bids": {
            "type": "array",
            "description": "List of bid entries [price, quantity].",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "asks": {
            "type": "array",
            "description": "List of ask entries [price, quantity].",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Public",
      "description": "Public market data endpoints (no authentication required)."
    },
    {
      "name": "Exchange - Public",
      "description": "Public exchange endpoints (no authentication required)."
    },
    {
      "name": "Accounting",
      "description": "Account and wallet management endpoints."
    },
    {
      "name": "Hashpower",
      "description": "Hashpower marketplace order management."
    },
    {
      "name": "Pools",
      "description": "Mining pool configuration management."
    },
    {
      "name": "Exchange - Private",
      "description": "Authenticated exchange trading endpoints."
    }
  ]
}
