{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Security Command Center API",
    "version": "v1beta1",
    "x-jentic-source-url": "https://securitycenter.googleapis.com/$discovery/rest?version=v1beta1"
  },
  "servers": [
    {
      "url": "https://securitycenter.googleapis.com/"
    }
  ],
  "paths": {
    "/v1beta1/{+name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The name of the operation resource to be deleted.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
        "operationId": "securitycenter.organizations.operations.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Required. Relative resource name of the source. Its format is \"organizations/[organization_id]/source/[source_id]\".",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Gets a source.",
        "operationId": "securitycenter.organizations.sources.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The time at which the updated SecurityMarks take effect.",
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The FieldMask to use when updating the security marks resource.",
            "in": "query",
            "name": "updateMask",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudSecuritycenterV1beta1SecurityMarks"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Updates security marks.",
        "operationId": "securitycenter.organizations.assets.updateSecurityMarks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudSecuritycenterV1beta1SecurityMarks"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+name}:cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The name of the operation resource to be cancelled.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
        "operationId": "securitycenter.organizations.operations.cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+name}:setState": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudSecuritycenterV1beta1Finding"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Updates the state of a finding.",
        "operationId": "securitycenter.organizations.sources.findings.setState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetFindingStateRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+parent}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Name of the organization assets should belong to. Its format is \"organizations/[organization_id]\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When compare_duration is set, the ListAssetResult's \"state\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state is \"UNUSED\", which indicates that the asset is present at read_time.",
            "in": "query",
            "name": "compareDuration",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields.",
            "in": "query",
            "name": "fieldMask",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
            "in": "query",
            "name": "readTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssetsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Lists an organization's assets.",
        "operationId": "securitycenter.organizations.assets.list"
      }
    },
    "/v1beta1/{+parent}/assets:group": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Name of the organization to groupBy. Its format is \"organizations/[organization_id]\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GroupAssetsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Filters an organization's assets and groups them by their specified properties.",
        "operationId": "securitycenter.organizations.assets.group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAssetsRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+parent}/assets:runDiscovery": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Name of the organization to run asset discovery for. Its format is \"organizations/[organization_id]\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Runs asset discovery. The discovery is tracked with a long-running operation. This API can only be called with limited frequency for an organization. If it is called too frequently the caller will receive a TOO_MANY_REQUESTS error.",
        "operationId": "securitycenter.organizations.assets.runDiscovery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunAssetDiscoveryRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+parent}/findings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
            "in": "query",
            "name": "fieldMask",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
            "in": "query",
            "name": "readTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListFindingsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
        "operationId": "securitycenter.organizations.sources.findings.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Required. Resource name of the new finding's parent. Its format should be \"organizations/[organization_id]/sources/[source_id]\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Unique identifier provided by the client within the parent scope. It must be alphanumeric and less than or equal to 32 characters and greater than 0 characters in length.",
            "in": "query",
            "name": "findingId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudSecuritycenterV1beta1Finding"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Creates a finding. The corresponding source must exist for finding creation to succeed.",
        "operationId": "securitycenter.organizations.sources.findings.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudSecuritycenterV1beta1Finding"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+parent}/findings:group": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\". To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GroupFindingsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
        "operationId": "securitycenter.organizations.sources.findings.group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupFindingsRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+parent}/sources": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListSourcesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Lists all sources belonging to an organization.",
        "operationId": "securitycenter.organizations.sources.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Required. Resource name of the new source's parent. Its format should be \"organizations/[organization_id]\".",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Creates a source.",
        "operationId": "securitycenter.organizations.sources.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Source"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+resource}:getIamPolicy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Gets the access control policy on the specified Source.",
        "operationId": "securitycenter.organizations.sources.getIamPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIamPolicyRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+resource}:setIamPolicy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": "Sets the access control policy on the specified Source.",
        "operationId": "securitycenter.organizations.sources.setIamPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetIamPolicyRequest"
              }
            }
          }
        }
      }
    },
    "/v1beta1/{+resource}:testIamPermissions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestIamPermissionsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "organizations"
        ],
        "description": " Returns the permissions that a caller has on the specified source.",
        "operationId": "securitycenter.organizations.sources.testIamPermissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestIamPermissionsRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Access": {
        "description": "Represents an access event.",
        "properties": {
          "callerIp": {
            "description": "Caller's IP address, such as \"1.1.1.1\".",
            "type": "string"
          },
          "callerIpGeo": {
            "$ref": "#/components/schemas/Geolocation",
            "description": "The caller IP's geolocation, which identifies where the call came from."
          },
          "methodName": {
            "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
            "type": "string"
          },
          "principalEmail": {
            "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user or a service account acting on behalf of a third party principal making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id).",
            "type": "string"
          },
          "principalSubject": {
            "description": "A string that represents the principal_subject that is associated with the identity. Unlike `principal_email`, `principal_subject` supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format is `principal://iam.googleapis.com/{identity pool name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD, FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format `serviceAccount:{identity pool name}[{subject}]`.",
            "type": "string"
          },
          "serviceAccountDelegationInfo": {
            "description": "The identity delegation history of an authenticated service account that made the request. The `serviceAccountDelegationInfo[]` object contains information about the real authorities that try to access Google Cloud resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
            "items": {
              "$ref": "#/components/schemas/ServiceAccountDelegationInfo"
            },
            "type": "array"
          },
          "serviceAccountKeyName": {
            "description": "The name of the service account key that was used to create or exchange credentials when authenticating the service account that made the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\". ",
            "type": "string"
          },
          "serviceName": {
            "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
            "type": "string"
          },
          "userAgent": {
            "description": "The caller's user agent string associated with the finding.",
            "type": "string"
          },
          "userAgentFamily": {
            "description": "Type of user agent associated with the finding. For example, an operating system shell or an embedded or standalone application.",
            "type": "string"
          },
          "userName": {
            "description": "A string that represents a username. The username provided depends on the type of the finding and is likely not an IAM principal. For example, this can be a system username if the finding is related to a virtual machine, or it can be an application login username.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AccessReview": {
        "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding.",
        "properties": {
          "group": {
            "description": "The API group of the resource. \"*\" means all.",
            "type": "string"
          },
          "name": {
            "description": "The name of the resource being requested. Empty means all.",
            "type": "string"
          },
          "ns": {
            "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
            "type": "string"
          },
          "resource": {
            "description": "The optional resource type requested. \"*\" means all.",
            "type": "string"
          },
          "subresource": {
            "description": "The optional subresource type.",
            "type": "string"
          },
          "verb": {
            "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all.",
            "type": "string"
          },
          "version": {
            "description": "The API version of the resource. \"*\" means all.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AdaptiveProtection": {
        "description": "Information about [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/cloud-armor-overview#google-cloud-armor-adaptive-protection).",
        "properties": {
          "confidence": {
            "description": "A score of 0 means that there is low confidence that the detected event is an actual attack. A score of 1 means that there is high confidence that the detected event is an attack. See the [Adaptive Protection documentation](https://cloud.google.com/armor/docs/adaptive-protection-overview#configure-alert-tuning) for further explanation.",
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "AffectedResources": {
        "description": "Details about resources affected by this finding.",
        "properties": {
          "count": {
            "description": "The count of resources affected by the finding.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Allowed": {
        "description": "Allowed IP rule.",
        "properties": {
          "ipRules": {
            "description": "Optional. Optional list of allowed IP rules.",
            "items": {
              "$ref": "#/components/schemas/IpRule"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Application": {
        "description": "Represents an application associated with a finding.",
        "properties": {
          "baseUri": {
            "description": "The base URI that identifies the network location of the application in which the vulnerability was detected. For example, `http://example.com`.",
            "type": "string"
          },
          "fullUri": {
            "description": "The full URI with payload that can be used to reproduce the vulnerability. For example, `http://example.com?p=aMmYgI6H`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Asset": {
        "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource.",
        "properties": {
          "createTime": {
            "description": "The time at which the asset was created in Security Command Center.",
            "format": "google-datetime",
            "type": "string"
          },
          "name": {
            "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\".",
            "type": "string"
          },
          "resourceProperties": {
            "additionalProperties": {},
            "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user.",
            "type": "object"
          },
          "securityCenterProperties": {
            "$ref": "#/components/schemas/SecurityCenterProperties",
            "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user."
          },
          "securityMarks": {
            "$ref": "#/components/schemas/GoogleCloudSecuritycenterV1beta1SecurityMarks",
            "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset."
          },
          "updateTime": {
            "description": "The time at which the asset was last updated, added, or deleted in Security Command Center.",
            "format": "google-datetime",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AssetDiscoveryConfig": {
        "description": "The configuration used for Asset Discovery runs.",
        "properties": {
          "inclusionMode": {
            "description": "The mode to use for filtering asset discovery.",
            "enum": [
              "INCLUSION_MODE_UNSPECIFIED",
              "INCLUDE_ONLY",
              "EXCLUDE"
            ],
            "type": "string"
          },
          "projectIds": {
            "description": "The project ids to use for filtering asset discovery.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Attack": {
        "description": "Information about DDoS attack volume and classification.",
        "properties": {
          "classification": {
            "description": "Type of attack, for example, 'SYN-flood', 'NTP-udp', or 'CHARGEN-udp'.",
            "type": "string"
          },
          "volumeBps": {
            "deprecated": true,
            "description": "Total BPS (bytes per second) volume of attack. Deprecated - refer to volume_bps_long instead.",
            "format": "int32",
            "type": "integer"
          },
          "volumeBpsLong": {
            "description": "Total BPS (bytes per second) volume of attack.",
            "format": "int64",
            "type": "string"
          },
          "volumePps": {
            "deprecated": true,
            "description": "Total PPS (packets per second) volume of attack. Deprecated - refer to volume_pps_long instead.",
            "format": "int32",
            "type": "integer"
          },
          "volumePpsLong": {
            "description": "Total PPS (packets per second) volume of attack.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AttackExposure": {
        "description": "An attack exposure contains the results of an attack path simulation run.",
        "properties": {
          "attackExposureResult": {
            "description": "The resource name of the attack path simulation result that contains the details regarding this attack exposure score. Example: `organizations/123/simulations/456/attackExposureResults/789`",
            "type": "string"
          },
          "exposedHighValueResourcesCount": {
            "description": "The number of high value resources that are exposed as a result of this finding.",
            "format": "int32",
            "type": "integer"
          },
          "exposedLowValueResourcesCount": {
            "description": "The number of high value resources that are exposed as a result of this finding.",
            "format": "int32",
            "type": "integer"
          },
          "exposedMediumValueResourcesCount": {
            "description": "The number of medium value resources that are exposed as a result of this finding.",
            "format": "int32",
            "type": "integer"
          },
          "latestCalculationTime": {
            "description": "The most recent time the attack exposure was updated on this finding.",
            "format": "google-datetime",
            "type": "string"
          },
          "score": {
            "description": "A number between 0 (inclusive) and infinity that represents how important this finding is to remediate. The higher the score, the more important it is to remediate.",
            "format": "double",
            "type": "number"
          },
          "state": {
            "description": "What state this AttackExposure is in. This captures whether or not an attack exposure has been calculated or not.",
            "enum": [
              "STATE_UNSPECIFIED",
              "CALCULATED",
              "NOT_CALCULATED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "AuditConfig": {
        "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
        "properties": {
          "auditLogConfigs": {
            "description": "The configuration for logging of each type of permission.",
            "items": {
              "$ref": "#/components/schemas/AuditLogConfig"
            },
            "type": "array"
          },
          "service": {
            "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AuditLogConfig": {
        "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
        "properties": {
          "exemptedMembers": {
            "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "logType": {
            "description": "The log type that this config enables.",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "ADMIN_READ",
              "DATA_WRITE",
              "DATA_READ"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "AwsAccount": {
        "description": "An AWS account that is a member of an organization.",
        "properties": {
          "id": {
            "description": "The unique identifier (ID) of the account, containing exactly 12 digits.",
            "type": "string"
          },
          "name": {
            "description": "The friendly name of this account.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AwsMetadata": {
        "description": "AWS metadata associated with the resource, only applicable if the finding's cloud provider is Amazon Web Services.",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AwsAccount",
            "description": "The AWS account associated with the resource."
          },
          "organization": {
            "$ref": "#/components/schemas/AwsOrganization",
            "description": "The AWS organization associated with the resource."
          },
          "organizationalUnits": {
            "description": "A list of AWS organizational units associated with the resource, ordered from lowest level (closest to the account) to highest level.",
            "items": {
              "$ref": "#/components/schemas/AwsOrganizationalUnit"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AwsOrganization": {
        "description": "An organization is a collection of accounts that are centrally managed together using consolidated billing, organized hierarchically with organizational units (OUs), and controlled with policies.",
        "properties": {
          "id": {
            "description": "The unique identifier (ID) for the organization. The regex pattern for an organization ID string requires \"o-\" followed by from 10 to 32 lowercase letters or digits.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AwsOrganizationalUnit": {
        "description": "An Organizational Unit (OU) is a container of AWS accounts within a root of an organization. Policies that are attached to an OU apply to all accounts contained in that OU and in any child OUs.",
        "properties": {
          "id": {
            "description": "The unique identifier (ID) associated with this OU. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits. For example, \"ou-ab12-cd34ef56\".",
            "type": "string"
          },
          "name": {
            "description": "The friendly name of the OU.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureManagementGroup": {
        "description": "Represents an Azure management group.",
        "properties": {
          "displayName": {
            "description": "The display name of the Azure management group.",
            "type": "string"
          },
          "id": {
            "description": "The UUID of the Azure management group, for example, `20000000-0001-0000-0000-000000000000`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureMetadata": {
        "description": "Azure metadata associated with the resource, only applicable if the finding's cloud provider is Microsoft Azure.",
        "properties": {
          "managementGroups": {
            "description": "A list of Azure management groups associated with the resource, ordered from lowest level (closest to the subscription) to highest level.",
            "items": {
              "$ref": "#/components/schemas/AzureManagementGroup"
            },
            "type": "array"
          },
          "resourceGroup": {
            "$ref": "#/components/schemas/AzureResourceGroup",
            "description": "The Azure resource group associated with the resource."
          },
          "subscription": {
            "$ref": "#/components/schemas/AzureSubscription",
            "description": "The Azure subscription associated with the resource."
          },
          "tenant": {
            "$ref": "#/components/schemas/AzureTenant",
            "description": "The Azure Entra tenant associated with the resource."
          }
        },
        "type": "object"
      },
      "AzureResourceGroup": {
        "description": "Represents an Azure resource group.",
        "properties": {
          "id": {
            "description": "The ID of the Azure resource group.",
            "type": "string"
          },
          "name": {
            "description": "The name of the Azure resource group. This is not a UUID.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureSubscription": {
        "description": "Represents an Azure subscription.",
        "properties": {
          "displayName": {
            "description": "The display name of the Azure subscription.",
            "type": "string"
          },
          "id": {
            "description": "The UUID of the Azure subscription, for example, `291bba3f-e0a5-47bc-a099-3bdcb2a50a05`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AzureTenant": {
        "description": "Represents a Microsoft Entra tenant.",
        "properties": {
          "displayName": {
            "description": "The display name of the Azure tenant.",
            "type": "string"
          },
          "id": {
            "description": "The ID of the Microsoft Entra tenant, for example, \"a11aaa11-aa11-1aa1-11aa-1aaa11a\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BackupDisasterRecovery": {
        "description": "Information related to Google Cloud Backup and DR Service findings.",
        "properties": {
          "host": {
            "description": "The name of a Backup and DR host, which is managed by the backup and recovery appliance and known to the management console. The host can be of type Generic (for example, Compute Engine, SQL Server, Oracle DB, SMB file system, etc.), vCenter, or an ESX server. See the [Backup and DR documentation on hosts](https://cloud.google.com/backup-disaster-recovery/docs/configuration/manage-hosts-and-their-applications) for more information. For example, `centos7-01`.",
            "type": "string"
          },
          "appliance": {
            "description": "The name of the Backup and DR appliance that captures, moves, and manages the lifecycle of backup data. For example, `backup-server-57137`.",
            "type": "string"
          },
          "applications": {
            "description": "The names of Backup and DR applications. An application is a VM, database, or file system on a managed host monitored by a backup and recovery appliance. For example, `centos7-01-vol00`, `centos7-01-vol01`, `centos7-01-vol02`.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "backupCreateTime": {
            "description": "The timestamp at which the Backup and DR backup was created.",
            "format": "google-datetime",
            "type": "string"
          },
          "backupTemplate": {
            "description": "The name of a Backup and DR template which comprises one or more backup policies. See the [Backup and DR documentation](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#temp) for more information. For example, `snap-ov`.",
            "type": "string"
          },
          "backupType": {
            "description": "The backup type of the Backup and DR image. For example, `Snapshot`, `Remote Snapshot`, `OnVault`.",
            "type": "string"
          },
          "policies": {
            "description": "The names of Backup and DR policies that are associated with a template and that define when to run a backup, how frequently to run a backup, and how long to retain the backup image. For example, `onvaults`.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "policyOptions": {
            "description": "The names of Backup and DR advanced policy options of a policy applying to an application. See the [Backup and DR documentation on policy options](https://cloud.google.com/backup-disaster-recovery/docs/create-plan/policy-settings). For example, `skipofflineappsincongrp, nounmap`.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "profile": {
            "description": "The name of the Backup and DR resource profile that specifies the storage media for backups of application and VM data. See the [Backup and DR documentation on profiles](https://cloud.google.com/backup-disaster-recovery/docs/concepts/backup-plan#profile). For example, `GCP`.",
            "type": "string"
          },
          "storagePool": {
            "description": "The name of the Backup and DR storage pool that the backup and recovery appliance is storing data in. The storage pool could be of type Cloud, Primary, Snapshot, or OnVault. See the [Backup and DR documentation on storage pools](https://cloud.google.com/backup-disaster-recovery/docs/concepts/storage-pools). For example, `DiskPoolOne`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Binding": {
        "description": "Associates `members`, or principals, with a `role`.",
        "properties": {
          "condition": {
            "$ref": "#/components/schemas/Expr",
            "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          },
          "members": {
            "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "role": {
            "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CancelOperationRequest": {
        "description": "The request message for Operations.CancelOperation.",
        "properties": {},
        "type": "object"
      },
      "Chokepoint": {
        "description": "Contains details about a chokepoint, which is a resource or resource group where high-risk attack paths converge, based on [attack path simulations] (https://cloud.google.com/security-command-center/docs/attack-exposure-learn#attack_path_simulations).",
        "properties": {
          "relatedFindings": {
            "description": "List of resource names of findings associated with this chokepoint. For example, organizations/123/sources/456/findings/789. This list will have at most 100 findings.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CloudArmor": {
        "description": "Fields related to Google Cloud Armor findings.",
        "properties": {
          "adaptiveProtection": {
            "$ref": "#/components/schemas/AdaptiveProtection",
            "description": "Information about potential Layer 7 DDoS attacks identified by [Google Cloud Armor Adaptive Protection](https://cloud.google.com/armor/docs/adaptive-protection-overview)."
          },
          "attack": {
            "$ref": "#/components/schemas/Attack",
            "description": "Information about DDoS attack volume and classification."
          },
          "duration": {
            "description": "Duration of attack from the start until the current moment (updated every 5 minutes).",
            "format": "google-duration",
            "type": "string"
          },
          "requests": {
            "$ref": "#/components/schemas/Requests",
            "description": "Information about incoming requests evaluated by [Google Cloud Armor security policies](https://cloud.google.com/armor/docs/security-policy-overview)."
          },
          "securityPolicy": {
            "$ref": "#/components/schemas/SecurityPolicy",
            "description": "Information about the [Google Cloud Armor security policy](https://cloud.google.com/armor/docs/security-policy-overview) relevant to the finding."
          },
          "threatVector": {
            "description": "Distinguish between volumetric & protocol DDoS attack and application layer attacks. For example, \"L3_4\" for Layer 3 and Layer 4 DDoS attacks, or \"L_7\" for Layer 7 DDoS attacks.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudDlpDataProfile": {
        "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding.",
        "properties": {
          "dataProfile": {
            "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
            "type": "string"
          },
          "parentType": {
            "description": "The resource hierarchy level at which the data profile was generated.",
            "enum": [
              "PARENT_TYPE_UNSPECIFIED",
              "ORGANIZATION",
              "PROJECT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudDlpInspection": {
        "description": "Details about the Cloud Data Loss Prevention (Cloud DLP) [inspection job](https://cloud.google.com/dlp/docs/concepts-job-triggers) that produced the finding.",
        "properties": {
          "fullScan": {
            "description": "Whether Cloud DLP scanned the complete resource or a sampled subset.",
            "type": "boolean"
          },
          "infoType": {
            "description": "The type of information (or *[infoType](https://cloud.google.com/dlp/docs/infotypes-reference)*) found, for example, `EMAIL_ADDRESS` or `STREET_ADDRESS`.",
            "type": "string"
          },
          "infoTypeCount": {
            "description": "The number of times Cloud DLP found this infoType within this job and resource.",
            "format": "int64",
            "type": "string"
          },
          "inspectJob": {
            "description": "Name of the inspection job, for example, `projects/123/locations/europe/dlpJobs/i-8383929`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudLoggingEntry": {
        "description": "Metadata taken from a [Cloud Logging LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry)",
        "properties": {
          "insertId": {
            "description": "A unique identifier for the log entry.",
            "type": "string"
          },
          "logId": {
            "description": "The type of the log (part of `log_name`. `log_name` is the resource name of the log to which this log entry belongs). For example: `cloudresourcemanager.googleapis.com/activity`. Note that this field is not URL-encoded, unlike the `LOG_ID` field in `LogEntry`.",
            "type": "string"
          },
          "resourceContainer": {
            "description": "The organization, folder, or project of the monitored resource that produced this log entry.",
            "type": "string"
          },
          "timestamp": {
            "description": "The time the event described by the log entry occurred.",
            "format": "google-datetime",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Compliance": {
        "description": "Contains compliance information about a security standard indicating unmet recommendations.",
        "properties": {
          "ids": {
            "description": "Policies within the standard or benchmark, for example, A.12.4.1",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "standard": {
            "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
            "type": "string"
          },
          "version": {
            "description": "Version of the standard or benchmark, for example, 1.1",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ComplianceSnapshot": {
        "deprecated": true,
        "description": "Result containing the properties and count of a ComplianceSnapshot request.",
        "properties": {
          "category": {
            "description": "The category of Findings matching.",
            "type": "string"
          },
          "cloudProvider": {
            "description": "The cloud provider for the compliance snapshot.",
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "GOOGLE_CLOUD_PLATFORM",
              "AMAZON_WEB_SERVICES",
              "MICROSOFT_AZURE"
            ],
            "type": "string"
          },
          "complianceStandard": {
            "description": "The compliance standard (ie CIS).",
            "type": "string"
          },
          "complianceVersion": {
            "description": "The compliance version (ie 1.3) in CIS 1.3.",
            "type": "string"
          },
          "count": {
            "description": "Total count of findings for the given properties.",
            "format": "int64",
            "type": "string"
          },
          "leafContainerResource": {
            "description": "The leaf container resource name that is closest to the snapshot.",
            "type": "string"
          },
          "name": {
            "description": "The compliance snapshot name. Format: //sources//complianceSnapshots/",
            "type": "string"
          },
          "snapshotTime": {
            "description": "The snapshot time of the snapshot.",
            "format": "google-datetime",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Connection": {
        "description": "Contains information about the IP connection associated with the finding.",
        "properties": {
          "destinationIp": {
            "description": "Destination IP address. Not present for sockets that are listening and not connected.",
            "type": "string"
          },
          "destinationPort": {
            "description": "Destination port. Not present for sockets that are listening and not connected.",
            "format": "int32",
            "type": "integer"
          },
          "protocol": {
            "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
            "enum": [
              "PROTOCOL_UNSPECIFIED",
              "ICMP",
              "TCP",
              "UDP",
              "GRE",
              "ESP"
            ],
            "type": "string"
          },
          "sourceIp": {
            "description": "Source IP address.",
            "type": "string"
          },
          "sourcePort": {
            "description": "Source port.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Contact": {
        "description": "The email address of a contact.",
        "properties": {
          "email": {
            "description": "An email address. For example, \"`person123@company.com`\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ContactDetails": {
        "description": "Details about specific contacts",
        "properties": {
          "contacts": {
            "description": "A list of contacts",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Container": {
        "description": "Container associated with the finding.",
        "properties": {
          "createTime": {
            "description": "The time that the container was created.",
            "format": "google-datetime",
            "type": "string"
          },
          "imageId": {
            "description": "Optional container image ID, if provided by the container runtime. Uniquely identifies the container image launched using a container image digest.",
            "type": "string"
          },
          "labels": {
            "description": "Container labels, as provided by the container runtime.",
            "items": {
              "$ref": "#/components/schemas/Label"
            },
            "type": "array"
          },
          "name": {
            "description": "Name of the container.",
            "type": "string"
          },
          "uri": {
            "description": "Container image URI provided when configuring a pod or container. This string can identify a container image version using mutable tags.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Cve": {
        "description": "CVE stands for Common Vulnerabilities and Exposures. Information from the [CVE record](https://www.cve.org/ResourcesSupport/Glossary) that describes this vulnerability.",
        "properties": {
          "cvssv3": {
            "$ref": "#/components/schemas/Cvssv3",
            "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document"
          },
          "exploitReleaseDate": {
            "description": "Date the first publicly available exploit or PoC was released.",
            "format": "google-datetime",
            "type": "string"
          },
          "exploitationActivity": {
            "description": "The exploitation activity of the vulnerability in the wild.",
            "enum": [
              "EXPLOITATION_ACTIVITY_UNSPECIFIED",
              "WIDE",
              "CONFIRMED",
              "AVAILABLE",
              "ANTICIPATED",
              "NO_KNOWN"
            ],
            "type": "string"
          },
          "firstExploitationDate": {
            "description": "Date of the earliest known exploitation.",
            "format": "google-datetime",
            "type": "string"
          },
          "id": {
            "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
            "type": "string"
          },
          "impact": {
            "description": "The potential impact of the vulnerability if it was to be exploited.",
            "enum": [
              "RISK_RATING_UNSPECIFIED",
              "LOW",
              "MEDIUM",
              "HIGH",
              "CRITICAL"
            ],
            "type": "string"
          },
          "observedInTheWild": {
            "description": "Whether or not the vulnerability has been observed in the wild.",
            "type": "boolean"
          },
          "references": {
            "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
            "items": {
              "$ref": "#/components/schemas/Reference"
            },
            "type": "array"
          },
          "upstreamFixAvailable": {
            "description": "Whether upstream fix is available for the CVE.",
            "type": "boolean"
          },
          "zeroDay": {
            "description": "Whether or not the vulnerability was zero day when the finding was published.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Cvssv3": {
        "description": "Common Vulnerability Scoring System version 3.",
        "properties": {
          "attackComplexity": {
            "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
            "enum": [
              "ATTACK_COMPLEXITY_UNSPECIFIED",
              "ATTACK_COMPLEXITY_LOW",
              "ATTACK_COMPLEXITY_HIGH"
            ],
            "type": "string"
          },
          "attackVector": {
            "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
            "enum": [
              "ATTACK_VECTOR_UNSPECIFIED",
              "ATTACK_VECTOR_NETWORK",
              "ATTACK_VECTOR_ADJACENT",
              "ATTACK_VECTOR_LOCAL",
              "ATTACK_VECTOR_PHYSICAL"
            ],
            "type": "string"
          },
          "availabilityImpact": {
            "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE"
            ],
            "type": "string"
          },
          "baseScore": {
            "description": "The base score is a function of the base metric scores.",
            "format": "double",
            "type": "number"
          },
          "confidentialityImpact": {
            "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE"
            ],
            "type": "string"
          },
          "integrityImpact": {
            "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
            "enum": [
              "IMPACT_UNSPECIFIED",
              "IMPACT_HIGH",
              "IMPACT_LOW",
              "IMPACT_NONE"
            ],
            "type": "string"
          },
          "privilegesRequired": {
            "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
            "enum": [
              "PRIVILEGES_REQUIRED_UNSPECIFIED",
              "PRIVILEGES_REQUIRED_NONE",
              "PRIVILEGES_REQUIRED_LOW",
              "PRIVILEGES_REQUIRED_HIGH"
            ],
            "type": "string"
          },
          "scope": {
            "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
            "enum": [
              "SCOPE_UNSPECIFIED",
              "SCOPE_UNCHANGED",
              "SCOPE_CHANGED"
            ],
            "type": "string"
          },
          "userInteraction": {
            "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
            "enum": [
              "USER_INTERACTION_UNSPECIFIED",
              "USER_INTERACTION_NONE",
              "USER_INTERACTION_REQUIRED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Cwe": {
        "description": "CWE stands for Common Weakness Enumeration. Information about this weakness, as described by [CWE](https://cwe.mitre.org/).",
        "properties": {
          "id": {
            "description": "The CWE identifier, e.g. CWE-94",
            "type": "string"
          },
          "references": {
            "description": "Any reference to the details on the CWE, for example, https://cwe.mitre.org/data/definitions/94.html",
            "items": {
              "$ref": "#/components/schemas/Reference"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataAccessEvent": {
        "description": "Details about a data access attempt made by a principal not authorized under applicable data security policy.",
        "properties": {
          "eventId": {
            "description": "Unique identifier for data access event.",
            "type": "string"
          },
          "eventTime": {
            "description": "Timestamp of data access event.",
            "format": "google-datetime",
            "type": "string"
          },
          "operation": {
            "description": "The operation performed by the principal to access the data.",
            "enum": [
              "OPERATION_UNSPECIFIED",
              "READ",
              "MOVE",
              "COPY"
            ],
            "type": "string"
          },
          "principalEmail": {
            "description": "The email address of the principal that accessed the data. The principal could be a user account, service account, Google group, or other.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataFlowEvent": {
        "description": "Details about a data flow event, in which either the data is moved to or is accessed from a non-compliant geo-location, as defined in the applicable data security policy.",
        "properties": {
          "eventId": {
            "description": "Unique identifier for data flow event.",
            "type": "string"
          },
          "eventTime": {
            "description": "Timestamp of data flow event.",
            "format": "google-datetime",
            "type": "string"
          },
          "operation": {
            "description": "The operation performed by the principal for the data flow event.",
            "enum": [
              "OPERATION_UNSPECIFIED",
              "READ",
              "MOVE",
              "COPY"
            ],
            "type": "string"
          },
          "principalEmail": {
            "description": "The email address of the principal that initiated the data flow event. The principal could be a user account, service account, Google group, or other.",
            "type": "string"
          },
          "violatedLocation": {
            "description": "Non-compliant location of the principal or the data destination.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataRetentionDeletionEvent": {
        "description": "Details about data retention deletion violations, in which the data is non-compliant based on their retention or deletion time, as defined in the applicable data security policy. The Data Retention Deletion (DRD) control is a control of the DSPM (Data Security Posture Management) suite that enables organizations to manage data retention and deletion policies in compliance with regulations, such as GDPR and CRPA. DRD supports two primary policy types: maximum storage length (max TTL) and minimum storage length (min TTL). Both are aimed at helping organizations meet regulatory and data management commitments.",
        "properties": {
          "dataObjectCount": {
            "description": "Number of objects that violated the policy for this resource. If the number is less than 1,000, then the value of this field is the exact number. If the number of objects that violated the policy is greater than or equal to 1,000, then the value of this field is 1000.",
            "format": "int64",
            "type": "string"
          },
          "eventDetectionTime": {
            "description": "Timestamp indicating when the event was detected.",
            "format": "google-datetime",
            "type": "string"
          },
          "eventType": {
            "description": "Type of the DRD event.",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "EVENT_TYPE_MAX_TTL_EXCEEDED"
            ],
            "type": "string"
          },
          "maxRetentionAllowed": {
            "description": "Maximum duration of retention allowed from the DRD control. This comes from the DRD control where users set a max TTL for their data. For example, suppose that a user sets the max TTL for a Cloud Storage bucket to 90 days. However, an object in that bucket is 100 days old. In this case, a DataRetentionDeletionEvent will be generated for that Cloud Storage bucket, and the max_retention_allowed is 90 days.",
            "format": "google-duration",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Database": {
[...]
