{
  "openapi": "3.0.3",
  "info": {
    "title": "FullHunt API",
    "description": "FullHunt provides an attack surface management and intelligence platform. The API enables querying domain details, subdomains, host information, and performing global searches across the FullHunt database of Internet-connected assets.",
    "version": "1.0.0",
    "contact": {
      "name": "FullHunt Support",
      "url": "https://fullhunt.io"
    },
    "x-jentic-source-url": "https://api-docs.fullhunt.io/#introduction"
  },
  "servers": [
    {
      "url": "https://fullhunt.io/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Domain",
      "description": "Domain intelligence operations"
    },
    {
      "name": "Host",
      "description": "Host detail operations"
    },
    {
      "name": "Search",
      "description": "Global search across the FullHunt database (Enterprise)"
    }
  ],
  "paths": {
    "/domain/{domain}/details": {
      "get": {
        "operationId": "getDomainDetails",
        "summary": "Get domain details",
        "description": "Retrieve comprehensive details about a domain, including all discovered hosts with DNS records, certificates, cloud metadata, IP information, open ports, network services, and detected products.",
        "tags": ["Domain"],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name to query (e.g., example.com).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domain/{domain}/subdomains": {
      "get": {
        "operationId": "getDomainSubdomains",
        "summary": "Get domain subdomains",
        "description": "Retrieve all discovered subdomains for a given domain.",
        "tags": ["Domain"],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name to query.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomains retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubdomainsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/host/{host}": {
      "get": {
        "operationId": "getHostDetails",
        "summary": "Get host details",
        "description": "Retrieve detailed information about a specific host, including DNS records, SSL/TLS certificates, cloud provider metadata, IP geolocation, open ports, network services, and detected technologies.",
        "tags": ["Host"],
        "parameters": [
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Hostname to query (e.g., subdomain.example.com).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Host details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostDetails"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Host not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/global/search": {
      "post": {
        "operationId": "globalSearch",
        "summary": "Global search",
        "description": "Search across the entire FullHunt database using various filters. This endpoint is available for enterprise users only.",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Enterprise access required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "FullHunt API key passed via the X-API-KEY header."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "total_results": { "type": "integer" },
          "last_scan": { "type": "string", "format": "date-time" },
          "user_plan": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "DomainDetailsResponse": {
        "type": "object",
        "properties": {
          "domain": { "type": "string" },
          "hosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostDetails"
            }
          },
          "status": { "type": "integer" },
          "message": { "type": "string" },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "SubdomainsResponse": {
        "type": "object",
        "properties": {
          "domain": { "type": "string" },
          "hosts": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of discovered subdomains."
          },
          "status": { "type": "integer" },
          "message": { "type": "string" },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "HostDetails": {
        "type": "object",
        "properties": {
          "host": { "type": "string" },
          "domain": { "type": "string" },
          "ip_address": { "type": "string" },
          "http_status_code": { "type": "integer" },
          "is_live": { "type": "boolean" },
          "dns": {
            "type": "object",
            "properties": {
              "a": { "type": "array", "items": { "type": "string" } },
              "aaaa": { "type": "array", "items": { "type": "string" } },
              "cname": { "type": "array", "items": { "type": "string" } },
              "mx": { "type": "array", "items": { "type": "string" } },
              "ns": { "type": "array", "items": { "type": "string" } },
              "ptr": { "type": "array", "items": { "type": "string" } },
              "txt": { "type": "array", "items": { "type": "string" } }
            }
          },
          "tls_certificate": {
            "type": "object",
            "properties": {
              "issuer": { "type": "string" },
              "subject": { "type": "string" },
              "valid_from": { "type": "string", "format": "date-time" },
              "valid_to": { "type": "string", "format": "date-time" },
              "serial_number": { "type": "string" }
            }
          },
          "cloud": {
            "type": "object",
            "properties": {
              "provider": { "type": "string" },
              "region": { "type": "string" }
            }
          },
          "ip_metadata": {
            "type": "object",
            "properties": {
              "asn": { "type": "integer" },
              "organization": { "type": "string" },
              "country_code": { "type": "string" },
              "city": { "type": "string" }
            }
          },
          "ports": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "port": { "type": "integer" },
                "service": { "type": "string" },
                "product": { "type": "string" },
                "version": { "type": "string" }
              }
            }
          },
          "technologies": {
            "type": "array",
            "items": { "type": "string" }
          },
          "cdn": { "type": "string" },
          "tags": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "GlobalSearchRequest": {
        "type": "object",
        "properties": {
          "country": { "type": "string", "description": "ISO country code filter." },
          "product": { "type": "string", "description": "Product name filter (e.g., Apache, Nginx)." },
          "organization": { "type": "string", "description": "Organization name filter." },
          "asn": { "type": "integer", "description": "Autonomous System Number filter." },
          "port": { "type": "integer", "description": "Port number filter." },
          "tags": { "type": "array", "items": { "type": "string" }, "description": "Service tags filter." },
          "technology": { "type": "string", "description": "Web technology filter." },
          "cloud_provider": { "type": "string", "description": "Cloud provider filter." },
          "cdn": { "type": "string", "description": "CDN provider filter." }
        }
      },
      "GlobalSearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "additionalProperties": true,
            "description": "Applied search filters."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostDetails"
            }
          },
          "total_pages": { "type": "integer" },
          "total_query_results": { "type": "integer" }
        }
      }
    }
  }
}
