{
  "openapi": "3.0.3",
  "info": {
    "title": "Instamojo Payments API",
    "description": "Instamojo v2 Payments API for creating payment requests, querying payment status, and processing refunds for Indian merchants.",
    "version": "2",
    "x-jentic-source-url": "https://docs.instamojo.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.instamojo.com",
      "description": "Production server"
    },
    {
      "url": "https://test.instamojo.com",
      "description": "Sandbox/Test server"
    }
  ],
  "paths": {
    "/v2/payment_requests": {
      "post": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "Create a payment request",
        "description": "Create a payment request on Instamojo. Returns a payment link URL that the buyer should be redirected to for payment.",
        "operationId": "createPaymentRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequestInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/payment_requests/{id}": {
      "get": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "Get payment request status",
        "description": "Query the status of a payment request using its ID. Returns the payment request details including payment status.",
        "operationId": "getPaymentRequestStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payment request ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment request details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/payment_requests/{payment_request_id}/payments/{payment_id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment details",
        "description": "Retrieve details of a specific payment within a payment request.",
        "operationId": "getPaymentDetails",
        "parameters": [
          {
            "name": "payment_request_id",
            "in": "path",
            "required": true,
            "description": "Payment request ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "description": "Payment ID (e.g., MOJO5a06005J21512197)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/resolutions": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Initiate a refund",
        "description": "Initiate a refund for a completed payment. Refunds are processed as resolutions on Instamojo.",
        "operationId": "initiateRefund",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or refund not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate access token",
        "description": "Generate an OAuth2 access token using client credentials (client_id and client_secret).",
        "operationId": "generateAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token obtained via Application Based Authentication (client_credentials grant with client_id and client_secret)."
      }
    },
    "schemas": {
      "CreatePaymentRequestInput": {
        "type": "object",
        "required": [
          "amount",
          "purpose"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "description": "Amount for the payment request (e.g., '2500.00')"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the payment (can be used as custom data/unique identifier)"
          },
          "buyer_name": {
            "type": "string",
            "description": "Name of the buyer"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Buyer's email address"
          },
          "phone": {
            "type": "string",
            "description": "Buyer's phone number"
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect buyer after payment. payment_id, payment_request_id, and payment_status will be appended as query params."
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST webhook notifications with payment details"
          },
          "send_email": {
            "type": "boolean",
            "description": "Whether to send payment email to buyer. Set false for programmatic integrations.",
            "default": false
          },
          "send_sms": {
            "type": "boolean",
            "description": "Whether to send payment SMS to buyer. Set false for programmatic integrations.",
            "default": false
          },
          "allow_repeated_payments": {
            "type": "boolean",
            "description": "Whether to allow multiple payments on this request",
            "default": false
          }
        }
      },
      "PaymentRequestData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment request ID (e.g., d66cb29dd059482e8072999f995c4eef)"
          },
          "purpose": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Payment request status"
          },
          "longurl": {
            "type": "string",
            "format": "uri",
            "description": "Full URL for the payment page - redirect buyer here"
          },
          "shorturl": {
            "type": "string",
            "format": "uri",
            "description": "Short URL for the payment page"
          },
          "redirect_url": {
            "type": "string"
          },
          "webhook": {
            "type": "string"
          },
          "send_email": {
            "type": "boolean"
          },
          "send_sms": {
            "type": "boolean"
          },
          "allow_repeated_payments": {
            "type": "boolean"
          },
          "buyer_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentRequestResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "payment_request": {
            "$ref": "#/components/schemas/PaymentRequestData"
          }
        }
      },
      "PaymentData": {
        "type": "object",
        "properties": {
          "payment_id": {
            "type": "string",
            "description": "Payment ID (e.g., MOJO5a06005J21512197)"
          },
          "payment_request_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "Credit",
              "Failed"
            ],
            "description": "Payment status"
          },
          "amount": {
            "type": "string"
          },
          "fees": {
            "type": "string",
            "description": "Fees charged by Instamojo"
          },
          "currency": {
            "type": "string",
            "description": "Currency (typically INR)"
          },
          "buyer_name": {
            "type": "string"
          },
          "buyer_email": {
            "type": "string"
          },
          "buyer_phone": {
            "type": "string"
          },
          "purpose": {
            "type": "string"
          }
        }
      },
      "PaymentRequestDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "payment_request": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentRequestData"
              },
              {
                "type": "object",
                "properties": {
                  "payments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PaymentData"
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "PaymentDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentData"
          }
        }
      },
      "RefundInput": {
        "type": "object",
        "required": [
          "payment_id",
          "type",
          "body"
        ],
        "properties": {
          "payment_id": {
            "type": "string",
            "description": "The payment ID to refund"
          },
          "type": {
            "type": "string",
            "enum": [
              "RFD",
              "TNR",
              "QFL",
              "QNR",
              "EWN",
              "TAN",
              "PTH"
            ],
            "description": "Refund type: RFD=Duplicate/delayed, TNR=Product not received, QFL=Quality issue, QNR=Quantity mismatch, EWN=Event canceled, TAN=Not as described, PTH=Other"
          },
          "body": {
            "type": "string",
            "description": "Reason for the refund"
          },
          "refund_amount": {
            "type": "string",
            "description": "Amount to refund (for partial refunds)"
          }
        }
      },
      "RefundData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "payment_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "refund_amount": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "refund": {
            "$ref": "#/components/schemas/RefundData"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "client_id",
          "client_secret",
          "grant_type"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "Application client ID"
          },
          "client_secret": {
            "type": "string",
            "description": "Application client secret"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ],
            "description": "OAuth2 grant type"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Bearer access token"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (Bearer)"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token validity in seconds"
          },
          "scope": {
            "type": "string",
            "description": "Token scope"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Payment Requests",
      "description": "Operations related to Payment Requests"
    },
    {
      "name": "Payments",
      "description": "Operations related to Payments"
    },
    {
      "name": "Refunds",
      "description": "Operations related to Refunds"
    }
  ]
}
