{
  "openapi": "3.0.3",
  "info": {
    "title": "iVvy API",
    "version": "1.0.0",
    "description": "The iVvy API provides programmatic access to iVvy products including Venue Software, Events Software, iVvy Marketplace, Contacts CRM, and Partner Software.",
    "contact": {
      "name": "iVvy Developer",
      "url": "https://developer.ivvy.com"
    },
    "x-jentic-source-url": "https://github.com/ivvycode/apidocs"
  },
  "servers": [
    { "url": "https://api.ivvy.com/v1" }
  ],
  "security": [
    { "apiKey": [] }
  ],
  "tags": [
    { "name": "Contacts", "description": "Contact/CRM operations" },
    { "name": "Events", "description": "Event management" },
    { "name": "Venues", "description": "Venue management" },
    { "name": "Invoice", "description": "Invoice operations" },
    { "name": "Account", "description": "Account management" }
  ],
  "paths": {
    "/contact/getContactList": {
      "post": {
        "operationId": "getContactList",
        "tags": ["Contacts"],
        "summary": "Get contact list",
        "description": "Returns a paginated list of contacts in the account.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/contact/getContact": {
      "post": {
        "operationId": "getContact",
        "tags": ["Contacts"],
        "summary": "Get contact",
        "description": "Returns the details of a specific contact.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/event/getEventList": {
      "post": {
        "operationId": "getEventList",
        "tags": ["Events"],
        "summary": "Get event list",
        "description": "Returns a paginated list of events.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/event/getEvent": {
      "post": {
        "operationId": "getEvent",
        "tags": ["Events"],
        "summary": "Get event",
        "description": "Returns details of a specific event.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Event" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/venue/getVenueList": {
      "post": {
        "operationId": "getVenueList",
        "tags": ["Venues"],
        "summary": "Get venue list",
        "description": "Returns a paginated list of venues.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VenueListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/invoice/getInvoiceList": {
      "post": {
        "operationId": "getInvoiceList",
        "tags": ["Invoice"],
        "summary": "Get invoice list",
        "description": "Returns a paginated list of invoices.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvoiceListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "iVvy API key"
      }
    },
    "schemas": {
      "ListRequest": {
        "type": "object",
        "properties": {
          "perPage": { "type": "integer", "default": 100 },
          "start": { "type": "integer", "default": 0 },
          "filter": { "type": "object" },
          "orderBy": { "type": "string" },
          "orderDir": { "type": "string", "enum": ["asc", "desc"] }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" },
          "company": { "type": "string" },
          "createdDate": { "type": "string", "format": "date-time" },
          "modifiedDate": { "type": "string", "format": "date-time" }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalResults": { "type": "integer" },
              "start": { "type": "integer" },
              "perPage": { "type": "integer" }
            }
          },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "startDateTime": { "type": "string", "format": "date-time" },
          "endDateTime": { "type": "string", "format": "date-time" },
          "status": { "type": "string" },
          "type": { "type": "string" }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalResults": { "type": "integer" },
              "start": { "type": "integer" }
            }
          },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "address": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "country": { "type": "string" }
        }
      },
      "VenueListResponse": {
        "type": "object",
        "properties": {
          "meta": { "type": "object" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Venue" } }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "reference": { "type": "string" },
          "status": { "type": "string" },
          "totalAmount": { "type": "number" },
          "paidAmount": { "type": "number" },
          "createdDate": { "type": "string", "format": "date-time" }
        }
      },
      "InvoiceListResponse": {
        "type": "object",
        "properties": {
          "meta": { "type": "object" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Invoice" } }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
