{
  "openapi": "3.0.3",
  "info": {
    "title": "Lexicala API",
    "version": "1.0.0",
    "description": "Lexicala is a multilingual dictionary API supporting 50+ languages. Provides word definitions, translations, examples, and morphological information.",
    "x-jentic-source-url": "https://api.lexicala.com/"
  },
  "servers": [
    {
      "url": "https://dictapi.lexicala.com/v2"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchEntries",
        "summary": "Search dictionary entries",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Word to search for"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 639-1 language code"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Dictionary source"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page-length",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entries/{entryId}": {
      "get": {
        "operationId": "getEntry",
        "summary": "Get dictionary entry",
        "tags": [
          "Entries"
        ],
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List available languages",
        "tags": [
          "Languages"
        ],
        "responses": {
          "200": {
            "description": "Language list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/senses/{senseId}": {
      "get": {
        "operationId": "getSense",
        "summary": "Get a sense",
        "tags": [
          "Entries"
        ],
        "parameters": [
          {
            "name": "senseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sense details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sense"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "n_results": {
            "type": "integer"
          },
          "page_number": {
            "type": "integer"
          },
          "results_per_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entry"
            }
          }
        }
      },
      "Entry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "headword": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "pos": {
                "type": "string"
              }
            }
          },
          "senses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sense"
            }
          }
        }
      },
      "Sense": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "definition": {
            "type": "string"
          },
          "examples": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "translations": {
            "type": "object"
          }
        }
      },
      "LanguageListResponse": {
        "type": "object",
        "properties": {
          "language_names": {
            "type": "object"
          },
          "resources": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}