{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Stores and retrieves potentially large, immutable data objects.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Cloud Storage JSON API",
    "version": "v1",
    "x-jentic-source-url": "https://storage.googleapis.com/$discovery/rest?version=v1"
  },
  "servers": [
    {
      "url": "https://storage.googleapis.com/storage/v1"
    }
  ],
  "paths": {
    "/b": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "A valid API project identifier.",
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of buckets to return in a single response. The service will use this parameter or 1,000 items, whichever is smaller.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "default": 1000,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "A previously-returned page token representing part of the larger set of results to view.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results to buckets whose names begin with this prefix.",
            "in": "query",
            "name": "prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "If true, only soft-deleted bucket versions will be returned. The default is false. For more information, see [Soft Delete](https://cloud.google.com/storage/docs/soft-delete).",
            "in": "query",
            "name": "softDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The project to be billed for this request.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Buckets"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Retrieves a list of buckets for a given project.",
        "operationId": "storage.buckets.list"
      },
      "post": {
        "parameters": [
          {
            "description": "A valid API project identifier.",
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When set to true, object retention is enabled for this bucket.",
            "in": "query",
            "name": "enableObjectRetention",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Apply a predefined set of access controls to this bucket.",
            "in": "query",
            "name": "predefinedAcl",
            "schema": {
              "enum": [
                "authenticatedRead",
                "private",
                "projectPrivate",
                "publicRead",
                "publicReadWrite"
              ],
              "type": "string"
            }
          },
          {
            "description": "Apply a predefined set of default object access controls to this bucket.",
            "in": "query",
            "name": "predefinedDefaultObjectAcl",
            "schema": {
              "enum": [
                "authenticatedRead",
                "bucketOwnerFullControl",
                "bucketOwnerRead",
                "private",
                "projectPrivate",
                "publicRead"
              ],
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Creates a new bucket.",
        "operationId": "storage.buckets.insert",
        "requestBody": {
          "$ref": "#/components/requestBodies/Bucket"
        }
      }
    },
    "/b/{bucket}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If set, only deletes the bucket if its metageneration matches this value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If set, only deletes the bucket if its metageneration does not match this value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Deletes an empty bucket. Deletions are permanent unless soft delete is enabled on the bucket.",
        "operationId": "storage.buckets.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, specifies the generation of the bucket. This is required if softDeleted is true.",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "If true, return the soft-deleted version of this bucket. The default is false. For more information, see [Soft Delete](https://cloud.google.com/storage/docs/soft-delete).",
            "in": "query",
            "name": "softDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Returns metadata for the specified bucket.",
        "operationId": "storage.buckets.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Apply a predefined set of access controls to this bucket.",
            "in": "query",
            "name": "predefinedAcl",
            "schema": {
              "enum": [
                "authenticatedRead",
                "private",
                "projectPrivate",
                "publicRead",
                "publicReadWrite"
              ],
              "type": "string"
            }
          },
          {
            "description": "Apply a predefined set of default object access controls to this bucket.",
            "in": "query",
            "name": "predefinedDefaultObjectAcl",
            "schema": {
              "enum": [
                "authenticatedRead",
                "bucketOwnerFullControl",
                "bucketOwnerRead",
                "private",
                "projectPrivate",
                "publicRead"
              ],
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Patches a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.",
        "operationId": "storage.buckets.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bucket"
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Apply a predefined set of access controls to this bucket.",
            "in": "query",
            "name": "predefinedAcl",
            "schema": {
              "enum": [
                "authenticatedRead",
                "private",
                "projectPrivate",
                "publicRead",
                "publicReadWrite"
              ],
              "type": "string"
            }
          },
          {
            "description": "Apply a predefined set of default object access controls to this bucket.",
            "in": "query",
            "name": "predefinedDefaultObjectAcl",
            "schema": {
              "enum": [
                "authenticatedRead",
                "bucketOwnerFullControl",
                "bucketOwnerRead",
                "private",
                "projectPrivate",
                "publicRead"
              ],
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.",
        "operationId": "storage.buckets.update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bucket"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/acl": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControls"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ],
        "description": "Retrieves ACL entries on the specified bucket.",
        "operationId": "storage.bucketAccessControls.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ],
        "description": "Creates a new ACL entry on the specified bucket.",
        "operationId": "storage.bucketAccessControls.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketAccessControl"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/acl/{entity}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ],
        "description": "Permanently deletes the ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.bucketAccessControls.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ],
        "description": "Returns the ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.bucketAccessControls.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ],
        "description": "Patches an ACL entry on the specified bucket.",
        "operationId": "storage.bucketAccessControls.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketAccessControl"
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ],
        "description": "Updates an ACL entry on the specified bucket.",
        "operationId": "storage.bucketAccessControls.update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketAccessControl"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/anywhereCaches": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of the parent bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of items to return in a single page of responses. Maximum 1000.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "A previously-returned page token representing part of the larger set of results to view.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnywhereCaches"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "anywhereCaches"
        ],
        "description": "Returns a list of Anywhere Cache instances of the bucket matching the criteria.",
        "operationId": "storage.anywhereCaches.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Name of the parent bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "anywhereCaches"
        ],
        "description": "Creates an Anywhere Cache instance.",
        "operationId": "storage.anywhereCaches.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnywhereCache"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/anywhereCaches/{anywhereCacheId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of the parent bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of requested Anywhere Cache instance.",
            "in": "path",
            "name": "anywhereCacheId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnywhereCache"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "anywhereCaches"
        ],
        "description": "Returns the metadata of an Anywhere Cache instance.",
        "operationId": "storage.anywhereCaches.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Name of the parent bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of requested Anywhere Cache instance.",
            "in": "path",
            "name": "anywhereCacheId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "anywhereCaches"
        ],
        "description": "Updates the config(ttl and admissionPolicy) of an Anywhere Cache instance.",
        "operationId": "storage.anywhereCaches.update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnywhereCache"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/anywhereCaches/{anywhereCacheId}/disable": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Name of the parent bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of requested Anywhere Cache instance.",
            "in": "path",
            "name": "anywhereCacheId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnywhereCache"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "anywhereCaches"
        ],
        "description": "Disables an Anywhere Cache instance.",
        "operationId": "storage.anywhereCaches.disable"
      }
    },
    "/b/{bucket}/anywhereCaches/{anywhereCacheId}/pause": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Name of the parent bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of requested Anywhere Cache instance.",
            "in": "path",
            "name": "anywhereCacheId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnywhereCache"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "anywhereCaches"
        ],
        "description": "Pauses an Anywhere Cache instance.",
        "operationId": "storage.anywhereCaches.pause"
      }
    },
    "/b/{bucket}/anywhereCaches/{anywhereCacheId}/resume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Name of the parent bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of requested Anywhere Cache instance.",
            "in": "path",
            "name": "anywhereCacheId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnywhereCache"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "anywhereCaches"
        ],
        "description": "Resumes a paused or disabled Anywhere Cache instance.",
        "operationId": "storage.anywhereCaches.resume"
      }
    },
    "/b/{bucket}/defaultObjectAcl": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, only return default ACL listing if the bucket's current metageneration matches this value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, only return default ACL listing if the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControls"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ],
        "description": "Retrieves default object ACL entries on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ],
        "description": "Creates a new default object ACL entry on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/defaultObjectAcl/{entity}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ],
        "description": "Permanently deletes the default object ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ],
        "description": "Returns the default object ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ],
        "description": "Patches a default object ACL entry on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ],
        "description": "Updates a default object ACL entry on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/folders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of the bucket in which to look for folders.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Returns results in a directory-like mode. The only supported value is '/'. If set, items will only contain folders that either exactly match the prefix, or are one level below the prefix.",
            "in": "query",
            "name": "delimiter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results to folders whose names are lexicographically before endOffset. If startOffset is also set, the folders listed will have names between startOffset (inclusive) and endOffset (exclusive).",
            "in": "query",
            "name": "endOffset",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of items to return in a single page of responses.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "A previously-returned page token representing part of the larger set of results to view.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results to folders whose paths begin with this prefix. If set, the value must either be an empty string or end with a '/'.",
            "in": "query",
            "name": "prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results to folders whose names are lexicographically equal to or after startOffset. If endOffset is also set, the folders listed will have names between startOffset (inclusive) and endOffset (exclusive).",
            "in": "query",
            "name": "startOffset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Folders"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "folders"
        ],
        "description": "Retrieves a list of folders matching the criteria. Only applicable to buckets with hierarchical namespace enabled.",
        "operationId": "storage.folders.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Name of the bucket in which the folder resides.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If true, any parent folder which doesn't exist will be created automatically.",
            "in": "query",
            "name": "recursive",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "folders"
        ],
        "description": "Creates a new folder. Only applicable to buckets with hierarchical namespace enabled.",
        "operationId": "storage.folders.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Folder"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/folders/{folder}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Name of the bucket in which the folder resides.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of a folder.",
            "in": "path",
            "name": "folder",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If set, only deletes the folder if its metageneration matches this value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If set, only deletes the folder if its metageneration does not match this value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "folders"
        ],
        "description": "Permanently deletes a folder. Only applicable to buckets with hierarchical namespace enabled.",
        "operationId": "storage.folders.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Name of the bucket in which the folder resides.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of a folder.",
            "in": "path",
            "name": "folder",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the folder metadata conditional on whether the folder's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the folder metadata conditional on whether the folder's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "folders"
        ],
        "description": "Returns metadata for the specified folder. Only applicable to buckets with hierarchical namespace enabled.",
        "operationId": "storage.folders.get"
      }
    },
    "/b/{bucket}/folders/{sourceFolder}/renameTo/folders/{destinationFolder}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Name of the bucket in which the folders are in.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the source folder.",
            "in": "path",
            "name": "sourceFolder",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the destination folder.",
            "in": "path",
            "name": "destinationFolder",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the source object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifSourceMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the source object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifSourceMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleLongrunningOperation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "folders"
        ],
        "description": "Renames a source folder to a destination folder. Only applicable to buckets with hierarchical namespace enabled.",
        "operationId": "storage.folders.rename"
      }
    },
    "/b/{bucket}/iam": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The IAM policy format version to be returned. If the optionsRequestedPolicyVersion is for an older version that doesn't support part of the requested IAM policy, the request fails.",
            "in": "query",
            "name": "optionsRequestedPolicyVersion",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Returns an IAM policy for the specified bucket.",
        "operationId": "storage.buckets.getIamPolicy"
      },
      "put": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Updates an IAM policy for the specified bucket.",
        "operationId": "storage.buckets.setIamPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Policy"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/iam/testPermissions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Permissions to test.",
            "explode": true,
            "in": "query",
            "name": "permissions",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestIamPermissionsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Tests a set of permissions on the given bucket to see which, if any, are held by the caller.",
        "operationId": "storage.buckets.testIamPermissions"
      }
    },
    "/b/{bucket}/lockRetentionPolicy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The project to be billed for this request. Required for Requester Pays buckets.",
            "in": "query",
            "name": "userProject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ],
        "description": "Locks retention policy on a bucket.",
        "operationId": "storage.buckets.lockRetentionPolicy"
      }
    },
    "/b/{bucket}/managedFolders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Name of the bucket containing the managed folder.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of items to return in a single page of responses.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "A previously-returned page token representing part of the larger set of results to view.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The managed folder name/path prefix to filter the output list of results.",
            "in": "query",
            "name": "prefix",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedFolders"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform.read-only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "managedFolders"
        ],
        "description": "Lists managed folders in the given bucket.",
        "operationId": "storage.managedFolders.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Name of the bucket containing the managed folder.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedFolder"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "managedFolders"
        ],
        "description": "Creates a new managed folder.",
        "operationId": "storage.managedFolders.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagedFolder"
              }
            }
          }
        }
      }
    },
    "/b/{bucket}/managedFolders/{managedFolder}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Name of the bucket containing the managed folder.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The managed folder name/path.",
            "in": "path",
            "name": "managedFolder",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Allows the deletion of a managed folder even if it is not empty. A managed folder is empty if there are no objects or managed folders that it applies to. Callers must have storage.managedFolders.setIamPolicy permission.",
            "in": "query",
            "name": "allowNonEmpty",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "If set, only deletes the managed folder if its metageneration matches this value.",
            "in": "query",
[...]
