{
  "openapi": "3.0.3",
  "info": {
    "title": "ObjectCut API",
    "description": "Background and foreground removal API. ObjectCut uses AI to automatically remove backgrounds or foregrounds from images, returning the processed image. Available via RapidAPI marketplace.",
    "version": "1.0.0",
    "contact": {
      "name": "ObjectCut",
      "url": "https://objectcut.com"
    },
    "x-jentic-source-url": "https://objectcut.com/"
  },
  "servers": [
    {
      "url": "https://objectcut.p.rapidapi.com",
      "description": "RapidAPI production server"
    }
  ],
  "tags": [
    {
      "name": "Background Removal",
      "description": "Operations for removing backgrounds or foregrounds from images"
    }
  ],
  "paths": {
    "/api/v1/remove-background": {
      "post": {
        "tags": ["Background Removal"],
        "summary": "Remove background from image via URL",
        "description": "Remove the background or foreground from an image by providing a publicly accessible image URL. Returns the processed image with the specified element removed.",
        "operationId": "removeBackgroundByUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Publicly accessible URL of the image to process"
                  },
                  "to_remove": {
                    "type": "string",
                    "enum": ["background", "foreground"],
                    "description": "Specifies what to remove from the image",
                    "default": "background"
                  }
                },
                "required": ["image_url", "to_remove"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image processed successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Processed image with background/foreground removed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image URL or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - subscription required or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (Basic/Pro: 1 req/s, Ultra: 3 req/s, Mega: 5 req/s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "rapidApiKey": []
          }
        ]
      }
    },
    "/api/v1/remove-background/upload": {
      "post": {
        "tags": ["Background Removal"],
        "summary": "Remove background from uploaded image",
        "description": "Remove the background or foreground from an image by uploading the image file directly.",
        "operationId": "removeBackgroundByUpload",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to process"
                  },
                  "to_remove": {
                    "type": "string",
                    "enum": ["background", "foreground"],
                    "description": "Specifies what to remove from the image",
                    "default": "background"
                  }
                },
                "required": ["image", "to_remove"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image processed successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Processed image with background/foreground removed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - subscription required or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "rapidApiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "rapidApiKey": {
        "type": "apiKey",
        "name": "x-rapidapi-key",
        "in": "header",
        "description": "RapidAPI key for authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  }
}
