{
  "openapi": "3.0.3",
  "info": {
    "title": "Rebrandly API",
    "description": "Rebrandly is a link management platform to create, measure, and manage branded short URLs. The API allows you to programmatically create, update, delete, and track branded short links, manage custom domains, tags, retargeting scripts, and account settings.",
    "version": "1.0.0",
    "contact": {
      "name": "Rebrandly",
      "url": "https://www.rebrandly.com"
    },
    "x-jentic-source-url": "https://developers.rebrandly.com"
  },
  "servers": [
    {
      "url": "https://api.rebrandly.com/v1",
      "description": "Rebrandly API v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/links": {
      "post": {
        "operationId": "createLink",
        "summary": "Create a new branded short link",
        "description": "Creates a new branded short link pointing to a specified destination URL.",
        "tags": ["Links"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "403": {
            "description": "Conflict - slashtag already exists or limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listLinks",
        "summary": "List all branded short links",
        "description": "Returns a list of branded short links with support for filtering, sorting, and cursor-based pagination.",
        "tags": ["Links"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "name": "domain.id",
            "in": "query",
            "description": "Filter links by a specific branded domain ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain.fullName",
            "in": "query",
            "description": "Filter links by a specific branded domain name (FQDN).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slashtag",
            "in": "query",
            "description": "Filter links by their slashtag value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creator.id",
            "in": "query",
            "description": "Filter links created by a specific teammate ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter links created on or after this date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter links created on or before this date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting criteria.",
            "schema": {
              "type": "string",
              "enum": ["createdAt", "updatedAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sorting direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (max 25).",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 25
            }
          },
          {
            "name": "last",
            "in": "query",
            "description": "Pagination cursor. Pass the ID of the last link from the previous page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Link"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLinks",
        "summary": "Delete multiple branded short links in bulk",
        "description": "Deletes multiple branded short links simultaneously. Accepts a maximum of 25 link IDs per request.",
        "tags": ["Links"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["links"],
                "properties": {
                  "links": {
                    "type": "array",
                    "description": "List of link IDs to delete (max 25).",
                    "maxItems": 25,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Links deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "description": "List of IDs of the deleted links.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of links deleted."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/links/{id}": {
      "get": {
        "operationId": "getLink",
        "summary": "Get details of a branded short link",
        "description": "Retrieves details about a specific branded short link by its unique identifier.",
        "tags": ["Links"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateLink",
        "summary": "Update a branded short link",
        "description": "Updates properties of an existing branded short link.",
        "tags": ["Links"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link to update.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLink",
        "summary": "Delete a branded short link",
        "description": "Deletes a specific branded short link by its unique identifier.",
        "tags": ["Links"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link to delete.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Link deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/links/count": {
      "get": {
        "operationId": "getLinksCount",
        "summary": "Get the count of branded short links",
        "description": "Returns the total number of branded short links, with optional filtering.",
        "tags": ["Links"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "name": "domain.id",
            "in": "query",
            "description": "Filter by branded domain ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain.fullName",
            "in": "query",
            "description": "Filter by branded domain name (FQDN).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter links created on or after this date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter links created on or before this date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          }
        }
      }
    },
    "/links/new": {
      "get": {
        "operationId": "createLinkExpress",
        "summary": "Create a branded short link (express)",
        "description": "Creates a new branded short link using query parameters instead of a request body. Useful for quick link creation.",
        "tags": ["Links"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "The destination URL for the short link.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "slashtag",
            "in": "query",
            "description": "Custom keyword for the short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain.fullName",
            "in": "query",
            "description": "Branded domain name to use.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        }
      }
    },
    "/links/{id}/tags": {
      "get": {
        "operationId": "getLinkTags",
        "summary": "List tags attached to a link",
        "description": "Returns all tags that are attached to a specific branded short link.",
        "tags": ["Links", "Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/links/{id}/tags/{tagId}": {
      "post": {
        "operationId": "attachTagToLink",
        "summary": "Attach a tag to a link",
        "description": "Attaches an existing tag to a specific branded short link.",
        "tags": ["Links", "Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the tag to attach.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "Link or tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "detachTagFromLink",
        "summary": "Detach a tag from a link",
        "description": "Removes a tag from a specific branded short link.",
        "tags": ["Links", "Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the tag to detach.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag detached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "Link or tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/links/{id}/scripts": {
      "get": {
        "operationId": "getLinkScripts",
        "summary": "List scripts attached to a link",
        "description": "Returns all retargeting scripts attached to a specific branded short link.",
        "tags": ["Links", "Scripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of scripts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Script"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/links/{id}/scripts/{scriptId}": {
      "post": {
        "operationId": "attachScriptToLink",
        "summary": "Attach a retargeting script to a link",
        "description": "Attaches an existing retargeting script to a specific branded short link.",
        "tags": ["Links", "Scripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the retargeting script to attach.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Script attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          },
          "404": {
            "description": "Link or script not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "detachScriptFromLink",
        "summary": "Detach a retargeting script from a link",
        "description": "Removes a retargeting script from a specific branded short link.",
        "tags": ["Links", "Scripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded short link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the retargeting script to detach.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Script detached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          },
          "404": {
            "description": "Link or script not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "listDomains",
        "summary": "List branded domains",
        "description": "Returns a list of branded domains available in the workspace.",
        "tags": ["Domains"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by domain type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting criteria.",
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sorting direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (max 25).",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 25
            }
          },
          {
            "name": "last",
            "in": "query",
            "description": "Pagination cursor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "operationId": "getDomain",
        "summary": "Get domain details",
        "description": "Retrieves details about a specific branded domain.",
        "tags": ["Domains"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the branded domain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/count": {
      "get": {
        "operationId": "getDomainsCount",
        "summary": "Get the count of branded domains",
        "description": "Returns the total number of branded domains available in the workspace.",
        "tags": ["Domains"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by domain type.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Returns a list of tags in the workspace.",
        "tags": ["Tags"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting criteria.",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sorting direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (max 25).",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 25
            }
          },
          {
            "name": "last",
            "in": "query",
            "description": "Pagination cursor. Pass the ID of the last tag from the previous page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a new tag",
        "description": "Creates a new tag in the workspace.",
        "tags": ["Tags"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        }
      }
    },
    "/tags/{id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get tag details",
        "description": "Retrieves details about a specific tag.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the tag.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "description": "Updates properties of an existing tag.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the tag to update.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag",
        "description": "Deletes a specific tag by its unique identifier.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the tag to delete.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tags/count": {
      "get": {
        "operationId": "getTagsCount",
        "summary": "Get the count of tags",
        "description": "Returns the total number of tags in the workspace.",
        "tags": ["Tags"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          }
        }
      }
    },
    "/scripts": {
      "get": {
        "operationId": "listScripts",
        "summary": "List retargeting scripts",
        "description": "Returns a list of retargeting scripts in the workspace.",
        "tags": ["Scripts"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting criteria.",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sorting direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (max 25).",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 25
            }
          },
          {
            "name": "last",
            "in": "query",
            "description": "Pagination cursor. Pass the ID of the last script from the previous page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of scripts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Script"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createScript",
        "summary": "Create a new retargeting script",
        "description": "Creates a new retargeting script in the workspace.",
        "tags": ["Scripts"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScriptCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Script created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          }
        }
      }
    },
    "/scripts/{id}": {
      "get": {
        "operationId": "getScript",
        "summary": "Get retargeting script details",
        "description": "Retrieves details about a specific retargeting script.",
        "tags": ["Scripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the retargeting script.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Script details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          },
          "404": {
            "description": "Script not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateScript",
        "summary": "Update a retargeting script",
        "description": "Updates properties of an existing retargeting script.",
        "tags": ["Scripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the retargeting script to update.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScriptCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Script updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          },
          "404": {
            "description": "Script not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteScript",
        "summary": "Delete a retargeting script",
        "description": "Deletes a specific retargeting script by its unique identifier.",
        "tags": ["Scripts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the retargeting script to delete.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Script deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          },
          "404": {
            "description": "Script not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scripts/count": {
      "get": {
        "operationId": "getScriptsCount",
        "summary": "Get the count of retargeting scripts",
        "description": "Returns the total number of retargeting scripts in the workspace.",
        "tags": ["Scripts"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Script count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Retrieves details about the authenticated account, including subscription limits and usage.",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List workspaces",
        "description": "Returns a list of workspaces the authenticated user has access to.",
        "tags": ["Workspaces"],
        "responses": {
          "200": {
            "description": "List of workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header",
        "description": "API key for authentication. Obtain from the Rebrandly dashboard."
      }
    },
    "parameters": {
      "WorkspaceHeader": {
        "name": "workspace",
        "in": "header",
        "description": "Workspace ID. Required if the account has multiple workspaces; defaults to the main workspace if omitted.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the branded short link."
          },
          "title": {
            "type": "string",
            "description": "Title of the link."
          },
          "slashtag": {
            "type": "string",
            "description": "The keyword portion of the branded short link."
          },
          "destination": {
            "type": "string",
            "format": "uri",
            "description": "The destination URL the short link points to."
          },
          "shortUrl": {
            "type": "string",
            "description": "The full branded short URL."
          },
          "domain": {
            "$ref": "#/components/schemas/DomainRef"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the link was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the link was last updated."
          }
        }
      },
      "LinkCreate": {
        "type": "object",
        "required": ["destination"],
        "properties": {
          "destination": {
            "type": "string",
            "format": "uri",
            "description": "The destination URL the branded short link will point to."
          },
          "slashtag": {
            "type": "string",
            "description": "Custom keyword for the short link. Auto-generated if omitted."
          },
          "domain": {
            "$ref": "#/components/schemas/DomainRef"
          },
          "title": {
            "type": "string",
            "description": "Custom title for the link."
          }
        }
      },
      "LinkUpdate": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "format": "uri",
            "description": "Updated destination URL."
          },
          "slashtag": {
            "type": "string",
            "description": "Updated slashtag."
          },
          "title": {
            "type": "string",
            "description": "Updated title."
          },
          "domain": {
            "$ref": "#/components/schemas/DomainRef"
          }
        }
      },
      "DomainRef": {
        "type": "object",
        "description": "Reference to a branded domain. Specify id, fullName, or both.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the branded domain."
          },
          "fullName": {
            "type": "string",
            "description": "Fully qualified domain name (e.g., rebrand.ly)."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the domain."
          },
          "fullName": {
            "type": "string",
            "description": "Fully qualified domain name."
          },
          "active": {
            "type": "boolean",
            "description": "Whether the domain is currently active."
          },
          "type": {
            "type": "string",
            "description": "Type of the domain."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the domain was added."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the domain was last updated."
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the tag."
          },
          "name": {
            "type": "string",
            "description": "Name of the tag."
          },
          "color": {
            "type": "string",
            "description": "Hex color code of the tag (without #)."
          }
        }
      },
      "TagCreate": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the tag."
          },
          "color": {
            "type": "string",
            "description": "Hex color code of the tag (without #)."
          }
        }
      },
      "Script": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the retargeting script."
          },
          "name": {
            "type": "string",
            "description": "Name of the retargeting script."
          },
          "uri": {
            "type": "string",
            "format": "uri",
            "description": "URI of the retargeting script."
          }
        }
      },
      "ScriptCreate": {
        "type": "object",
        "required": ["name", "uri"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the retargeting script."
          },
          "uri": {
            "type": "string",
            "format": "uri",
            "description": "URI of the retargeting script."
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account unique identifier."
          },
          "fullName": {
            "type": "string",
            "description": "Account display name."
          },
          "username": {
            "type": "string",
            "description": "Username or email."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address."
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "description": "Profile avatar URL."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp."
          },
          "subscription": {
            "type": "object",
            "description": "Subscription details.",
            "properties": {
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "Subscription start date."
              },
              "limits": {
                "type": "object",
                "description": "Usage limits for the account.",
                "properties": {
                  "links": {
                    "$ref": "#/components/schemas/UsageLimit"
                  },
                  "domains": {
                    "$ref": "#/components/schemas/UsageLimit"
                  },
                  "workspaces": {
                    "$ref": "#/components/schemas/UsageLimit"
                  },
                  "teammates": {
                    "$ref": "#/components/schemas/UsageLimit"
                  },
                  "tags": {
                    "$ref": "#/components/schemas/UsageLimit"
                  },
                  "scripts": {
                    "$ref": "#/components/schemas/UsageLimit"
                  }
                }
              }
            }
          }
        }
      },
      "UsageLimit": {
        "type": "object",
        "properties": {
          "used": {
            "type": "integer",
            "description": "Number of resources currently in use."
          },
          "max": {
            "type": "integer",
            "description": "Maximum number of resources allowed."
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the workspace."
          },
          "name": {
            "type": "string",
            "description": "Name of the workspace."
          }
        }
      },
      "Count": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total count of resources."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string",
            "description": "The property that caused the error."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Links",
      "description": "Manage branded short links."
    },
    {
      "name": "Domains",
      "description": "Manage branded domains."
    },
    {
      "name": "Tags",
      "description": "Manage tags for organizing links."
    },
    {
      "name": "Scripts",
      "description": "Manage retargeting scripts."
    },
    {
      "name": "Account",
      "description": "Retrieve account information."
    },
    {
      "name": "Workspaces",
      "description": "Manage workspaces."
    }
  ]
}