{
  "openapi": "3.0.3",
  "info": {
    "title": "Interswitch API",
    "version": "1.0.0",
    "description": "African payment processing and financial services platform",
    "x-jentic-source-url": "https://developer.interswitchgroup.com/"
  },
  "servers": [
    {
      "url": "https://api.interswitchgroup.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    "Transfers",
    "Bills",
    "Payments"
  ],
  "paths": {
    "/payments": {
      "post": {
        "summary": "Initiate payment",
        "description": "Initiate payment",
        "tags": [
          "Payments"
        ],
        "operationId": "initiatePayment",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/payments/{transactionId}": {
      "get": {
        "summary": "Get payment status",
        "description": "Get payment status",
        "tags": [
          "Payments"
        ],
        "operationId": "getPaymentStatus",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/transfers": {
      "post": {
        "summary": "Create transfer",
        "description": "Create transfer",
        "tags": [
          "Transfers"
        ],
        "operationId": "createTransfer",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/billers": {
      "get": {
        "summary": "List billers",
        "description": "List billers",
        "tags": [
          "Bills"
        ],
        "operationId": "listBillers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}