{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "x-jentic-source-url": "https://gateway-service.stg.ostana.io/v3/api-docs"
  },
  "servers": [
    {
      "url": "https://gateway-service.stg.ostana.io",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/redirect-sms-click": {
      "put": {
        "tags": [
          "campaign-sms-stats-controller"
        ],
        "operationId": "trackCampaignLinkClick",
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "businessEntityId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memberId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "campaignType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appMessageId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/business-entity-service/stripe/webhook": {
      "post": {
        "tags": [
          "stripe-webhook-controller"
        ],
        "operationId": "stripeWebhook",
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/stripe/webhook": {
      "post": {
        "tags": [
          "stripe-webhook-controller"
        ],
        "operationId": "stripeWebhook_1",
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/outbound-sms-status/{campaignId}/{businessEntityId}/{memberId}": {
      "post": {
        "tags": [
          "plivo-webhook-controller"
        ],
        "operationId": "processOutboundSmsStatus",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "businessEntityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignType": {
                    "type": "string"
                  },
                  "appMessageId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "appMessageId",
                  "campaignType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/mind-body": {
      "post": {
        "tags": [
          "mind-body-controller"
        ],
        "operationId": "acceptWebhook",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "head": {
        "tags": [
          "mind-body-controller"
        ],
        "operationId": "checkWebhook",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/lightspeed/orders": {
      "post": {
        "tags": [
          "lightspeed-controller"
        ],
        "operationId": "acceptOrder",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/lightspeed/customers": {
      "post": {
        "tags": [
          "lightspeed-controller"
        ],
        "operationId": "acceptCustomer",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/inbound-sms": {
      "post": {
        "tags": [
          "plivo-webhook-controller"
        ],
        "operationId": "processIncomingSms",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/external/orders": {
      "post": {
        "tags": [
          "bridge-controller"
        ],
        "operationId": "acceptExternalOrder",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idtoken",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/external/customers": {
      "post": {
        "tags": [
          "bridge-controller"
        ],
        "operationId": "acceptExternalConsumer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idtoken",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/email-verification-results/z-bounce": {
      "post": {
        "tags": [
          "email-verification-webhook-controller"
        ],
        "operationId": "acceptZBounceEmailVerificationResults",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/clover": {
      "post": {
        "tags": [
          "clover-controller"
        ],
        "operationId": "acceptNotification",
        "parameters": [
          {
            "name": "x-clover-auth",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloverNotificationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/configs/private": {
      "get": {
        "tags": [
          "frontend-configs-controller"
        ],
        "operationId": "getPrivateProperties",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrontendPrivateProperties"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CloverNotificationDto": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string"
          },
          "merchants": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CloverObjectEventDto"
              }
            }
          },
          "verificationCode": {
            "type": "string"
          }
        }
      },
      "CloverObjectEventDto": {
        "type": "object",
        "properties": {
          "objectId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "object": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "JsonNode": {},
      "FrontendPrivateProperties": {
        "type": "object",
        "properties": {
          "unlayerProjectId": {
            "type": "string",
            "minLength": 1
          },
          "emailCampaignBlankTemplateId": {
            "type": "string",
            "minLength": 1
          },
          "envName": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "emailCampaignBlankTemplateId",
          "envName",
          "unlayerProjectId"
        ]
      }
    }
  }
}