{
  "openapi": "3.0.3",
  "info": {
    "title": "AEMET OpenData API",
    "description": "Weather and forecast data from Spain's national meteorological agency (Agencia Estatal de Meteorologia). Provides access to observations, predictions, alerts, fire risk indices, maps, and climatological data for Spanish municipalities, provinces, and regions.",
    "version": "1.0.0",
    "contact": {
      "name": "AEMET OpenData",
      "url": "https://opendata.aemet.es"
    },
    "x-jentic-source-url": "https://opendata.aemet.es/centrodedescargas/inicio"
  },
  "servers": [
    {
      "url": "https://opendata.aemet.es/opendata",
      "description": "AEMET OpenData Production Server"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Alerts",
      "description": "Adverse weather alerts (avisos CAP)"
    },
    {
      "name": "Fire Risk",
      "description": "Forest fire risk indices and maps"
    },
    {
      "name": "Master Data",
      "description": "Reference data for municipalities and stations"
    },
    {
      "name": "Maps",
      "description": "Analysis maps and significant weather graphics"
    },
    {
      "name": "Observations",
      "description": "Conventional weather station observation data"
    },
    {
      "name": "Municipal Predictions",
      "description": "Weather predictions for specific municipalities"
    },
    {
      "name": "Mountain Predictions",
      "description": "Weather predictions for mountain areas"
    },
    {
      "name": "Beach Predictions",
      "description": "Weather predictions for beaches"
    },
    {
      "name": "UV Index",
      "description": "Ultraviolet radiation index forecasts"
    },
    {
      "name": "Maritime Predictions",
      "description": "High-sea and coastal maritime forecasts"
    },
    {
      "name": "Regional Predictions",
      "description": "Text forecasts for autonomous communities (CCAA)"
    },
    {
      "name": "National Predictions",
      "description": "National-level text weather forecasts"
    },
    {
      "name": "Provincial Predictions",
      "description": "Text forecasts for provinces"
    },
    {
      "name": "Snow Predictions",
      "description": "Nivological (snow) information"
    }
  ],
  "paths": {
    "/api/avisos_cap/ultimoelaborado/area/{area}": {
      "get": {
        "operationId": "getLatestAlertsByArea",
        "summary": "Get latest adverse weather alerts for a region",
        "description": "Returns the latest elaborated adverse weather alerts (CAP format) for the specified area.",
        "tags": ["Alerts"],
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "description": "Area code (e.g., 'esp' for all Spain, '61' for Andalucia)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alert data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No data available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/avisos_cap/archivo/fechaini/{fechaIniStr}/fechafin/{fechaFinStr}": {
      "get": {
        "operationId": "getAlertArchive",
        "summary": "Get archived alerts within a date range",
        "description": "Returns archived adverse weather alerts between the specified dates. Data available from 18/06/2018 onwards.",
        "tags": ["Alerts"],
        "parameters": [
          {
            "name": "fechaIniStr",
            "in": "path",
            "required": true,
            "description": "Start date in format YYYY-MM-DDTHH:MM:SSUTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fechaFinStr",
            "in": "path",
            "required": true,
            "description": "End date in format YYYY-MM-DDTHH:MM:SSUTC",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with archived alert data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/incendios/mapasriesgo/estimado/area/{area}": {
      "get": {
        "operationId": "getEstimatedFireRisk",
        "summary": "Get current estimated fire risk map",
        "description": "Returns the current estimated forest fire risk map for the specified area.",
        "tags": ["Fire Risk"],
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "description": "Area code: 'p' for Peninsula/Balearics, 'c' for Canary Islands",
            "schema": {
              "type": "string",
              "enum": ["p", "c"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fire risk data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/incendios/mapasriesgo/previsto/dia/{dia}/area/{area}": {
      "get": {
        "operationId": "getForecastedFireRisk",
        "summary": "Get forecasted fire risk map",
        "description": "Returns the forecasted forest fire risk map for the specified day and area.",
        "tags": ["Fire Risk"],
        "parameters": [
          {
            "name": "dia",
            "in": "path",
            "required": true,
            "description": "Day ahead (1-7)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7
            }
          },
          {
            "name": "area",
            "in": "path",
            "required": true,
            "description": "Area code: 'p' for Peninsula/Balearics, 'c' for Canary Islands",
            "schema": {
              "type": "string",
              "enum": ["p", "c"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/maestro/municipios": {
      "get": {
        "operationId": "getAllMunicipalities",
        "summary": "Get all Spanish municipalities",
        "description": "Returns a list of all Spanish municipalities with their codes for use with other AEMET services.",
        "tags": ["Master Data"],
        "responses": {
          "200": {
            "description": "Successful response with municipality list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/maestro/municipio/{municipio}": {
      "get": {
        "operationId": "getMunicipality",
        "summary": "Get specific municipality information",
        "description": "Returns information for a specific municipality.",
        "tags": ["Master Data"],
        "parameters": [
          {
            "name": "municipio",
            "in": "path",
            "required": true,
            "description": "Municipality code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mapasygraficos/analisis": {
      "get": {
        "operationId": "getAnalysisMaps",
        "summary": "Get analysis maps",
        "description": "Returns analysis maps showing pressure patterns and fronts, updated every 12 hours at 00:00 and 12:00 UTC.",
        "tags": ["Maps"],
        "responses": {
          "200": {
            "description": "Successful response with map data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/observacion/convencional/todas": {
      "get": {
        "operationId": "getAllObservations",
        "summary": "Get all current observation data",
        "description": "Returns current observation data from all weather stations (last 12 hours).",
        "tags": ["Observations"],
        "responses": {
          "200": {
            "description": "Successful response with observation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/observacion/convencional/datos/estacion/{idema}": {
      "get": {
        "operationId": "getStationObservation",
        "summary": "Get observation data for a specific station",
        "description": "Returns observation data from a specific weather station (last 12 hours).",
        "tags": ["Observations"],
        "parameters": [
          {
            "name": "idema",
            "in": "path",
            "required": true,
            "description": "Station identifier (IDEMA code)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/observacion/convencional/mensajes/tipomensaje/{tipomensaje}": {
      "get": {
        "operationId": "getObservationMessages",
        "summary": "Get observation messages by type",
        "description": "Returns observation messages of the specified type. Returns tar.gz containing JSON/BUFR format files.",
        "tags": ["Observations"],
        "parameters": [
          {
            "name": "tipomensaje",
            "in": "path",
            "required": true,
            "description": "Message type",
            "schema": {
              "type": "string",
              "enum": ["climat", "synop", "temp"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/especifica/municipio/diaria/{municipio}": {
      "get": {
        "operationId": "getDailyMunicipalForecast",
        "summary": "Get daily forecast for a municipality",
        "description": "Returns the daily weather forecast for the specified municipality.",
        "tags": ["Municipal Predictions"],
        "parameters": [
          {
            "name": "municipio",
            "in": "path",
            "required": true,
            "description": "Municipality code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/especifica/municipio/horaria/{municipio}": {
      "get": {
        "operationId": "getHourlyMunicipalForecast",
        "summary": "Get hourly forecast for a municipality",
        "description": "Returns the hourly weather forecast for the specified municipality (48-hour period).",
        "tags": ["Municipal Predictions"],
        "parameters": [
          {
            "name": "municipio",
            "in": "path",
            "required": true,
            "description": "Municipality code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hourly forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/especifica/montaña/pasada/area/{area}": {
      "get": {
        "operationId": "getMountainWeatherSummary",
        "summary": "Get past mountain weather summary",
        "description": "Returns the past 24-36 hour mountain weather summary for the specified area.",
        "tags": ["Mountain Predictions"],
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "description": "Mountain area code (peu1, nav1, arn1, arn2, cat1, rio1, mad2, gre1, nev1)",
            "schema": {
              "type": "string",
              "enum": ["peu1", "nav1", "arn1", "arn2", "cat1", "rio1", "mad2", "gre1", "nev1"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/especifica/montaña/pasada/area/{area}/dia/{dia}": {
      "get": {
        "operationId": "getMountainForecastByDay",
        "summary": "Get mountain forecast for a specific day",
        "description": "Returns mountain weather forecast for the specified area and day.",
        "tags": ["Mountain Predictions"],
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "description": "Mountain area code",
            "schema": {
              "type": "string",
              "enum": ["peu1", "nav1", "arn1", "arn2", "cat1", "rio1", "mad2", "gre1", "nev1"]
            }
          },
          {
            "name": "dia",
            "in": "path",
            "required": true,
            "description": "Day (0=today, 1=tomorrow, 2=day after, 3=three days ahead)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/especifica/nivologica/{area}": {
      "get": {
        "operationId": "getSnowInfo",
        "summary": "Get nivological (snow) information",
        "description": "Returns snow information for the specified Pyrenees area.",
        "tags": ["Snow Predictions"],
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "description": "Area code: '0' for Catalan Pyrenees, '1' for Navarra/Aragon Pyrenees",
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/especifica/playa/{playa}": {
      "get": {
        "operationId": "getBeachForecast",
        "summary": "Get beach weather forecast",
        "description": "Returns the weather forecast for a specific beach, including cloudiness at 11:00 and 17:00 local time and precipitation risk.",
        "tags": ["Beach Predictions"],
        "parameters": [
          {
            "name": "playa",
            "in": "path",
            "required": true,
            "description": "Beach code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with beach forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/especifica/uvi/{dia}": {
      "get": {
        "operationId": "getUVIndex",
        "summary": "Get UV index forecast",
        "description": "Returns the ultraviolet radiation index forecast for the specified day.",
        "tags": ["UV Index"],
        "parameters": [
          {
            "name": "dia",
            "in": "path",
            "required": true,
            "description": "Day ahead (0-4)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 4
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with UV index data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/maritima/altamar/area/{area}": {
      "get": {
        "operationId": "getHighSeaForecast",
        "summary": "Get high-sea maritime forecast",
        "description": "Returns the high-sea maritime forecast for the specified area.",
        "tags": ["Maritime Predictions"],
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "description": "Area code: '0' South Atlantic, '1' North Atlantic, '2' Mediterranean",
            "schema": {
              "type": "string",
              "enum": ["0", "1", "2"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/maritima/costera/costa/{costa}": {
      "get": {
        "operationId": "getCoastalForecast",
        "summary": "Get coastal maritime forecast",
        "description": "Returns the coastal maritime forecast for the specified coastal region.",
        "tags": ["Maritime Predictions"],
        "parameters": [
          {
            "name": "costa",
            "in": "path",
            "required": true,
            "description": "Coastal region code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/ccaa/hoy/{ccaa}": {
      "get": {
        "operationId": "getRegionalForecastToday",
        "summary": "Get today's regional forecast",
        "description": "Returns today's text weather forecast for the specified autonomous community.",
        "tags": ["Regional Predictions"],
        "parameters": [
          {
            "name": "ccaa",
            "in": "path",
            "required": true,
            "description": "Autonomous community code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/ccaa/manana/{ccaa}": {
      "get": {
        "operationId": "getRegionalForecastTomorrow",
        "summary": "Get tomorrow's regional forecast",
        "description": "Returns tomorrow's text weather forecast for the specified autonomous community.",
        "tags": ["Regional Predictions"],
        "parameters": [
          {
            "name": "ccaa",
            "in": "path",
            "required": true,
            "description": "Autonomous community code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/ccaa/medioplazo/{ccaa}": {
      "get": {
        "operationId": "getRegionalForecastMediumTerm",
        "summary": "Get medium-term regional forecast",
        "description": "Returns the medium-term text weather forecast for the specified autonomous community.",
        "tags": ["Regional Predictions"],
        "parameters": [
          {
            "name": "ccaa",
            "in": "path",
            "required": true,
            "description": "Autonomous community code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/ccaa/pasadomanana/{ccaa}": {
      "get": {
        "operationId": "getRegionalForecastDayAfterTomorrow",
        "summary": "Get day-after-tomorrow regional forecast",
        "description": "Returns the day-after-tomorrow text weather forecast for the specified autonomous community.",
        "tags": ["Regional Predictions"],
        "parameters": [
          {
            "name": "ccaa",
            "in": "path",
            "required": true,
            "description": "Autonomous community code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/nacional/hoy": {
      "get": {
        "operationId": "getNationalForecastToday",
        "summary": "Get today's national forecast",
        "description": "Returns today's national weather forecast text.",
        "tags": ["National Predictions"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/nacional/manana": {
      "get": {
        "operationId": "getNationalForecastTomorrow",
        "summary": "Get tomorrow's national forecast",
        "description": "Returns tomorrow's national weather forecast text.",
        "tags": ["National Predictions"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/nacional/medioplazo": {
      "get": {
        "operationId": "getNationalForecastMediumTerm",
        "summary": "Get medium-term national forecast",
        "description": "Returns the medium-term national weather forecast text.",
        "tags": ["National Predictions"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/nacional/pasadomanana": {
      "get": {
        "operationId": "getNationalForecastDayAfterTomorrow",
        "summary": "Get day-after-tomorrow national forecast",
        "description": "Returns the day-after-tomorrow national weather forecast text.",
        "tags": ["National Predictions"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/nacional/tendencia": {
      "get": {
        "operationId": "getNationalTrendForecast",
        "summary": "Get national trend forecast",
        "description": "Returns the national weather trend forecast text.",
        "tags": ["National Predictions"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/provincia/hoy/{provincia}": {
      "get": {
        "operationId": "getProvincialForecastToday",
        "summary": "Get today's provincial forecast",
        "description": "Returns today's text weather forecast for the specified province. Updated daily at 14:00 local time.",
        "tags": ["Provincial Predictions"],
        "parameters": [
          {
            "name": "provincia",
            "in": "path",
            "required": true,
            "description": "Province code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/prediccion/provincia/manana/{provincia}": {
      "get": {
        "operationId": "getProvincialForecastTomorrow",
        "summary": "Get tomorrow's provincial forecast",
        "description": "Returns tomorrow's text weather forecast for the specified province.",
        "tags": ["Provincial Predictions"],
        "parameters": [
          {
            "name": "provincia",
            "in": "path",
            "required": true,
            "description": "Province code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key obtained from AEMET OpenData portal"
      }
    },
    "schemas": {
      "DataResponse": {
        "type": "object",
        "properties": {
          "descripcion": {
            "type": "string",
            "description": "Response description"
          },
          "estado": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "datos": {
            "type": "string",
            "description": "URL to download the actual data"
          },
          "metadatos": {
            "type": "string",
            "description": "URL to download metadata"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "descripcion": {
            "type": "string",
            "description": "Error description"
          },
          "estado": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  }
}
