{
  "openapi": "3.0.3",
  "info": {
    "title": "Chameleon-i API",
    "version": "1.0",
    "description": "Chameleon-i is one of the most flexible recruitment database solutions on the market today. API endpoints are rooted at https://chiapi.chameleoni.com/",
    "x-jentic-source-url": "https://chameleoni-api.readme.io"
  },
  "servers": [
    {
      "url": "https://chiapi.chameleoni.com"
    }
  ],
  "paths": {
    "/candidate/lookup": {
      "get": {
        "summary": "Lookups",
        "description": "This endpoint is used for\n1- List the superset of  field/type that Chameleon-i can accept , including normal fields and custom fields. \n\n2- List the superset of  all drop down lists\nExample :\n\u201ccountry\u201d, \"title\" , \"visatype\" , \"noticeperiod\" , \"travel\" , \"transportation\" , \"note_types\", etc...",
        "operationId": "candidate-lookup",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl https://chiapi.chameleoni.com/candidate/lookup"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        },
        "tags": [
          "Candidate"
        ]
      }
    },
    "/candidate/add": {
      "post": {
        "summary": "Add",
        "description": "This endpoint is used to create new candidate in Chameleon-i database",
        "operationId": "candidate-add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "surname"
                ],
                "properties": {
                  "title": {
                    "type": "integer",
                    "description": "Accepted values can be found in \"lookups\" field \"title\"",
                    "default": 6,
                    "format": "int32"
                  },
                  "surname": {
                    "type": "string",
                    "description": "Candidate Surname",
                    "default": "testsurname"
                  },
                  "forename": {
                    "type": "string",
                    "description": "Candidate Forename",
                    "default": "testforename"
                  },
                  "dateofbirth": {
                    "type": "string",
                    "description": "Birthday , format \"DD-MM-YYYY\"",
                    "default": "01-06-1950"
                  },
                  "telno": {
                    "type": "string"
                  },
                  "mobiletelno": {
                    "type": "string"
                  },
                  "worktelno": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "Candidate Email address",
                    "default": "testemail@test.com"
                  },
                  "street": {
                    "type": "string"
                  },
                  "suburb": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "county": {
                    "type": "string"
                  },
                  "country": {
                    "type": "integer",
                    "description": "Accepted values can be found in \"lookups\" field \"country\"",
                    "default": 223,
                    "format": "int32"
                  },
                  "postcode": {
                    "type": "string"
                  },
                  "eligible_uk": {
                    "type": "string",
                    "default": "1",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "eligible_eu": {
                    "type": "string",
                    "default": "1",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "only 2 values are accepted , \"cv\" & \"attachment\"",
                          "enum": [
                            "cv",
                            "attachment"
                          ]
                        },
                        "filename": {
                          "type": "string",
                          "description": "the name of file that will appear under entity \"Attached files\" if type is \"attachment\" or the candidate cv if type is \"cv\"",
                          "default": "filename.docx"
                        },
                        "content": {
                          "type": "string",
                          "description": "base64 content",
                          "default": "UEsDBBQABgAIAAAAIQDfpNJsWgEAACAFAAATAAgCW0NvbnRlbnRfVHlwZXNdLnhtbCCiBAIooAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC0lMtuwjAQRfeV+g+Rt1Vi6KKqKgKLPpYtUukHGHsCVv2Sx7z+vhMCUVUBkQpsIiUz994zVsaD0dqabAkRtXcl6xc9loGTXmk3K9nX5C1/ZBkm4ZQw3kHJNoBsNLy9GUw2ATAjtcOSzVMKT5yjnIMVWPgAjiqVj1Ykeo0zHoT8FjPg973eA5feJXApT7UHGw5eoBILk7LXNX1uSCIYZNlz01hnlUyEYLQUiep86dSflHyXUJBy24NzHfCOGhg/mFBXjgfsdB90NFEryMYipndhqYuvfFRcebmwpCxO2xzg9FWlJbT62i1ELwGRztyaoq1Yod2e/ygHpo0BvDxF49sdDymR4BoAO+dOhBVMP69G8cu8E6Si3ImYGrg8RmvdCZFoA6F59s/m2NqciqTOcfQBaaPjP8ber2ytzmngADHp039dm0jWZ88H9W2gQB3I5tv7bfgDAAD//wMAUEsDBBQABgAIAAAAIQAekRq37wAAAE4CAAALAAgCX3JlbHMvLnJlbHMgogQCKKAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArJLBasMwDEDvg/2D0b1R2sEYo04vY9DbGNkHCFtJTBPb2GrX/v082NgCXelhR8vS05PQenOcRnXglF3wGpZVDYq9Cdb5XsNb+7x4AJWFvKUxeNZw4gyb5vZm/cojSSnKg4tZFYrPGgaR+IiYzcAT5SpE9uWnC2kiKc/UYySzo55xVdf3mH4zoJkx1dZqSFt7B6o9Rb6GHbrOGX4KZj+xlzMtkI/C3rJdxFTqk7gyjWop9SwabDAvJZyRYqwKGvC80ep6o7+nxYmFLAmhCYkv+3xmXBJa/ueK5hk/Nu8hWbRf4W8bnF1B8wEAAP//AwBQSwMEFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAB3b3JkL2RvY3VtZW50LnhtbKSWyW7bMBBA7wX6D4LuCbV4ixA7aJO4yKFA0LQfQFO0RYQbSHrr13eoxXKrNJCVC0UOOW9Gw+GQt3cHwYMdNZYpOQ/j6ygMqCQqZ3IzD3/9XF7NwsA6LHPMlaTz8EhteLf4/Ol2n+WKbAWVLgCEtNlek3lYOKczhCwpqMD2WjBilFVrd02UQGq9ZoSivTI5SqI4KnvaKEKtBXv3WO6wDWscOfSj5QbvQdkDR4gU2Dh6aBnxxZAxukGzLigZAII/TOIuKr0YNUHeqw5oNAgEXnVI42GkN35uMoyUdEnTYaS0S5oNI3XSSXQTXGkqYXKtjMAOhmaDBDavW30FYI0dWzHO3BGY0aTBYCZfB3gEWieCSPOLCVMkVE55mjcUNQ+3Rma1/tVJ37ueVfr156RBeT+zYO4G0YPj1jW6pk/sKvWHurCUUUOGcoijkrZg+lQdxFAaTBYNZPdeAHaCN+v2Ou551P5X2h6qbWiBfdyv907wyvP3iXHUYzc94qTRx4W/bTaeCMjg1vCg0JwFN+5ZfBpA0gFMCO15WTSMWc1ApD3dnsN6HquGU+2K57A2sHHPGvivM2cAm7u8uIiSNHFFXhc7XGB7SnRPpJc5NT7hjuIsRnrzsYPwzaitbmnsY7SntiTu/ePkAlZ9oM4Puf2YMy8F1lApBcmeNlIZvOLgERyPADI8KHfAt5Ao/lN26aGU+70OfI0JF/CqWqn86L8a5kaZxgY/QVImy3Qa3cTLsJTCneS8NP2ynD6OZ1OQZvCCy3/MwwhWjeNpK3qga7zlzs/cP46Sr2lpxfjGLZaM04Ao6aA+2lvkRb41Zav9GkuJezZv8EsfNy+/YQpKSZwko8jbhKyNxzPoo2rBd+yVnYKKF4+qJYZtCtcOV8o5Jdoxp+uz2YLinMLdMU3K4VopdzbcbF05rM0RxS1IrcaEVmtKMTxUvxkf94wzSZ+ZI+BlOilnUfOLZbcKPmrftos/AAAA//8DAFBLAwQUAAYACAAAACEA1mSzUfQAAAAxAwAAHAAIAXdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHMgogQBKKAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACskstqwzAQRfeF/oOYfS07fVBC5GxKIdvW/QBFHj+oLAnN9OG/r0hJ69BguvByrphzz4A228/BineM1HunoMhyEOiMr3vXKnipHq/uQRBrV2vrHSoYkWBbXl5sntBqTkvU9YFEojhS0DGHtZRkOhw0ZT6gSy+Nj4PmNMZWBm1edYtyled3Mk4ZUJ4wxa5WEHf1NYhqDPgftm+a3uCDN28DOj5TIT9w/4zM6ThKWB1bZAWTMEtEkOdFVkuK0B+LYzKnUCyqwKPFqcBhnqu/XbKe0y7+th/G77CYc7hZ0qHxjiu9txOPn+goIU8+evkFAAD//wMAUEsDBBQABgAIAAAAIQC29GeY0gYAAMkgAAAVAAAAd29yZC90aGVtZS90aGVtZTEueG1s7FlLixtHEL4H8h+Guct6zehhrDXSSPJr1zbetYOPvVJrpq2eadHd2rUwhmCfcgkEnJBDDLnlEEIMMcTkkh9jsEmcH5HqHkkzLfXEj12DCbuCVT++qv66qrq6NHPh4v2YOkeYC8KSjls9V3EdnIzYmCRhx719MCy1XEdIlIwRZQnuuAss3Is7n392AZ2XEY6xA/KJOI86biTl7Hy5LEYwjMQ5NsMJzE0Yj5GELg/LY46OQW9My7VKpVGOEUlcJ0ExqL0xmZARdg6USndnpXxA4V8ihRoYUb6vVGNDQmPH06r6EgsRUO4cIdpxYZ0xOz7A96XrUCQkTHTciv5zyzsXymshKgtkc3JD/beUWwqMpzUtx8PDtaDn+V6ju9avAVRu4wbNQWPQWOvTADQawU5TLqbOZi3wltgcKG1adPeb/XrVwOf017fwXV99DLwGpU1vCz8cBpkNc6C06W/h/V671zf1a1DabGzhm5Vu32saeA2KKEmmW+iK36gHq92uIRNGL1vhbd8bNmtLeIYq56IrlU9kUazF6B7jQwBo5yJJEkcuZniCRoALECWHnDi7JIwg8GYoYQKGK7XKsFKH/+rj6Zb2KDqPUU46HRqJrSHFxxEjTmay414FrW4O8urFi5ePnr989PvLx49fPvp1ufa23GWUhHm5Nz9988/TL52/f/vxzZNv7XiRx7/+5avXf/z5X+qlQeu7Z6+fP3v1/dd//fzEAu9ydJiHH5AYC+c6PnZusRg2aFkAH/L3kziIEMlLdJNQoAQpGQt6ICMDfX2BKLLgeti04x0O6cIGvDS/ZxDej/hcEgvwWhQbwD3GaI9x656uqbXyVpgnoX1xPs/jbiF0ZFs72PDyYD6DuCc2lUGEDZo3KbgchTjB0lFzbIqxRewuIYZd98iIM8Em0rlLnB4iVpMckEMjmjKhyyQGvyxsBMHfhm327jg9Rm3q+/jIRMLZQNSmElPDjJfQXKLYyhjFNI/cRTKykdxf8JFhcCHB0yGmzBmMsRA2mRt8YdC9BmnG7vY9uohNJJdkakPuIsbyyD6bBhGKZ1bOJIny2CtiCiGKnJtMWkkw84SoPvgBJYXuvkOw4e63n+3bkIbsAaJm5tx2JDAzz+OCThC2Ke/y2EixXU6s0dGbh0Zo72JM0TEaY+zcvmLDs5lh84z01QiyymVss81VZMaq6idYQK2kihuLY4kwQnYfh6yAz95iI/EsUBIjXqT5+tQMmQFcdbE1XuloaqRSwtWhtZO4IWJjf4Vab0bICCvVF/Z4XXDDf+9yxkDm3gfI4PeWgcT+zrY5QNRYIAuYAwRVhi3dgojh/kxEHSctNrfKTcxDm7mhvFH0xCR5awW0Ufv4H6/2gQrj1Q9PLdjTqXfswJNUOkXJZLO+KcJtVjUB42Py6Rc1fTRPbmK4RyzQs5rmrKb539c0Ref5rJI5q2TOKhm7yEeoZLLiRT8CWj3o0Vriwqc+E0LpvlxQvCt02SPg7I+HMKg7Wmj9kGkWQXO5nIELOdJthzP5BZHRfoRmsExVrxCKpepQODMmoHDSw1bdaoLO4z02Tker1dVzTRBAMhuHwms1DmWaTEcbzewB3lq97oX6QeuKgJJ9HxK5xUwSdQuJ5mrwLST0zk6FRdvCoqXUF7LQX0uvwOXkIPVI3PdSRhBuENJj5adUfuXdU/d0kTHNbdcs22srrqfjaYNELtxMErkwjODy2Bw+ZV+3M5ca9JQptmk0Wx/D1yqJbOQGmpg95xjOXN0HNSM067gT+MkEzXgG+oTKVIiGSccdyaWhPySzzLiQfSSiFKan0v3HRGLuUBJDrOfdQJOMW7XWVHv8RMm1K5+e5fRX3sl4MsEjWTCSdWEuVWKdPSFYddgcSO9H42PnkM75LQSG8ptVZcAxEXJtzTHhueDOrLiRrpZH0Xjfkh1RRGcRWt4o+WSewnV7TSe3D810c1dmf7mZw1A56cS37tuF1EQuaRZcIOrWtOePj3fJ51hled9glabuzVzXXuW6olvi5BdCjlq2mEFNMbZQy0ZNaqdYEOSWW4dm0R1x2rfBZtSqC2JVV+re1ottdngPIr8P1eqcSqGpwq8WjoLVK8k0E+jRVXa5L505Jx33QcXvekHND0qVlj8oeXWvUmr53Xqp6/v16sCvVvq92kMwioziqp+uPYQf+3SxfG+vx7fe3cerUvvciMVlpuvgshbW7+6rteJ39w4Byzxo1IbtervXKLXr3WHJ6/dapXbQ6JX6jaDZH/YDv9UePnSdIw32uvXAawxapUY1CEpeo6Lot9qlplerdb1mtzXwug+Xtoadr75X5tW8dv4FAAD//wMAUEsDBBQABgAIAAAAIQDPwWgDEQQAAMYLAAARAAAAd29yZC9zZXR0aW5ncy54bWy0Vt9v2zgMfj/g/ofAz5f6R5w0NZYOTdNcOzS3Ye6wZ9lSYqGWZEhy0uxw//tRshSn6zCkG/qS0PzIjzRFkX73/onVgy2Rigo+C+KzKBgQXgpM+WYWfHlYDqfBQGnEMaoFJ7NgT1Tw/vLPP97tMkW0BjM1AAquMlbOgkrrJgtDVVaEIXUmGsIBXAvJkIZHuQkZko9tMywFa5CmBa2p3odJFE0CRyNmQSt55iiGjJZSKLHWxiUT6zUtifvzHvKUuJ3LQpQtI1zbiKEkNeQguKpoozwb+1U2ACtPsv3ZS2xZ7e12cXTC6+6ExAePU9IzDo0UJVEKDojVPkHK+8DpC6JD7DOI7V7RUoF7HFnpOPPx6wiSFwSTkjy9jmPqOELwPOah+HU8kwMP7QsbT34tmSMChTWuXsWS+LqGxhdpVCF16CLDSF6X1PhAt2d9jVR9Std00D0tJJLdnXQtw8rsbsOFREUN6UDrDOD0BzY78wtFNH9WJE9Wb+oQXMKM+CYEG+yyhsgSLgoMmCgKQgNgskZtrR9QkWvRgMkWQZLniYPLCklUaiLzBpXQw9eCaylqb4fFP0JfwwyR0OLOw06UXsq76QQeHDFI+9nEWQkM42OXtZKeXl/jYKPH4+OQ3wcSME0lxeTBlCvX+5osIfmcfiNXHH9olabAaOfOb2TwswQIN5E/wgE/7BuyJEi3UKY3CmZPYlnTZkWlFPKOYzjnNwtG12siIQBFmqygfagUO1vnW4IwLLE3itsq8hWM4X6NHqAtH+dCa8Fu900Ftf69k7T9Hh63L6xirLzwWQh9MI0m6fnoymVq0FOQi3gcn5//CLm+SZP5yMV3UVlm1tgn6SXTugPWeVwjVkiKBiuz6EJjUcjHOeUeLwhME3KM5G3hweGwAxRDdb2EInrAFoBlmKpmQdZWrldIbnpeZyF/qIU58uHAZWYMkX9L0TYdupOo6VrSm8Rp6jwp1/eUeb1qi9x7cZh/R1DL8cettHXqy7PLNByxvdr3yLaKtSV8+CU3h1tQDO2A5DC/cp1Vy9x0BVmhpumaq9jEs6Cmm0rHxkXDE4bPI/tQbBKHJRZLOsw+oNK8KFg7odclXndkN/K6Ua9LvS7tdWOvG/e6iddNjK6CcSJryh+hz71o9GtR12JH8G2Pv1B1RVAVasiiG/3QbaJTuF2gBtuMPMGSIJhq+OpsKGboyeyMZGLcnXWN9qLVz2wNZoyb5wxmn7qbHT5zth3/XS5mJZUUujPfs6LfNGdd4jVVMBUaWEpaSI/9ZbE4zbAo78wOTF1rTq/SRTrpLl08tstM28EB5/6ZrOdIEeww7zruXP+9uJkm08l8PLxZjC6GaZLeDKfzFKR4GS2iaRLNp+P/3J31H+CX/wMAAP//AwBQSwMEFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAB3b3JkL3N0eWxlcy54bWy8nV1z27oRhu870//A0VV7kcjyh5x4jnPGdpLa0zjHJ7Kba4iEJNQgoZJUbPfXFwApCfISFBfc+iaxKO0DEC/eJZYf0m+/P6cy+sXzQqjsfDB6fzCIeBarRGTz88HD/dd3HwZRUbIsYVJl/HzwwovB75/++pffns6K8kXyItKArDhL4/PBoiyXZ8NhES94yor3askz/eZM5Skr9ct8PkxZ/rhavotVumSlmAopypfh4cHBeFBj8i4UNZuJmH9W8SrlWWnjhzmXmqiyYiGWxZr21IX2pPJkmauYF4Xe6VRWvJSJbIMZHQNQKuJcFWpWvtc7U/fIonT46MD+lcot4AQHOASAccyfcYwPNWOoI12OSHCc8YYjEocT1hkHUCRlskBRDtfjOjSxrGQLVixcIsd16mSDe0nNGKXx2c08UzmbSk3SqkdauMiCzb96/81/9k/+bLebXRh80l5IVPyZz9hKloV5md/l9cv6lf3vq8rKIno6Y0UsxL3uoG4lFbrB64usEAP9DmdFeVEI1vjmwvzR+E5clM7mS5GIwdC0+MjzTL/9i8nzwWG1qfjvZsNmy5Xp1M42ybL5ehvP3j1M3M45m6a6qfMBy99NLmzg6PhMijkrV7lODOaVJVT5I0+u9P7z53LFpPnwsB6Y6n9nuJavX9leLlksbKfYrOQ6TYzGB6YHUpisdHjycf3ix8qIx1alqhuxgOr/DXYIFNPZQ+eSSZXS9Lt89k3FjzyZlPqN84FtS298uLnLhcp12joffLRt6o0TnoprkSQ8cz6YLUTCfy549lDwZLv9z6829dQbYrXK9N9Hp2M7i2SRfHmO+dIkMv1uxoym302ANJ9eiW3jNvw/a9iolq0pfsGZyebR6DXCdh+FODQRhbO3zczVq323n0I1dPRWDR2/VUMnb9XQ+K0aOn2rhj68VUMW8/9sSGSJPnDYz8NmAHUfx+NGNMdjNjTH4yU0x2MVNMfjBDTHM9HRHM88RnM80xTBKVXsm4XOZD/yzPZ27v5jRBh3/yEhjLv/CBDG3Z/ww7j783sYd386D+Puz95h3P3JGs+tllrRjbZZVvZ22UypMlMlj8yitzeNZZplS1wanjno8ZxkJwkwVWarD8S9aTGzr/fPEGvS8ON5aSrFSM2imZibkqd3x3n2i0u15BFLEs0jBOZcF2WeEQmZ0zmf8ZxnMaec2HRQUwlG2SqdEszNJZuTsXiWEA/fmkiSFDYTWtfPC2MSQTCpUxbnqn/XFCPLD99E0X+sDCS6XEnJiVjfaaaYZfWvDSymf2lgMf0rA4vpXxg4mlENUU0jGqmaRjRgNY1o3Kr5STVuNY1o3Goa0bjVtP7jdi9KaVO8u+oYdT93dyWVuSjRux8TMc/sWdnepPqcaXTHcjbP2XIRmbPazVh3n7HtXKrkJbqnOKZtSFTrejtFzLlska36D+gOjcpcGx6RvTY8IoNteP0tdquXyWaBdk1Tz0xW07LRtJbUybQTJlfVgra/21jZf4ZtDfBV5AWZDZqxBDP4u1nOGjkpMt+2l/07tmX1t9XrrETavRpJ0Eup4keaNHz9suS5Lssee5O+KinVE0/oiJMyV9Vccy1/aCXpZPkv6XLBCmFrpR1E90P9+naG6JYte+/QnWQio9Hty7uUCRnRrSCu72+/RfdqacpMMzA0wEtVliolY9ZnAv/2k0//TtPBC10EZy9Ee3tBdHrIwq4EwUGmIqmEiKSXmSITJMdQy/snf5kqlic0tLucV3cQlZyIOGHpslp0EHhL58UnnX8IVkOW9y+WC3NeiMpU9yQw57RhsZr+m8f9U913FZGcGfpjVdrzj3apa6PpcP2XCTu4/ksEq6Y+PJj5S7CzO7j+O7uDo9rZK8mKQngvoQbzqHZ3zaPe3/7FX81TUuWzlaQbwDWQbATXQLIhVHKVZgXlHlse4Q5bHvX+Ek4ZyyM4JWd5/8hFQiaGhVEpYWFUMlgYlQYWRipA/zt0HFj/23QcWP97dSoY0RLAgVHNM9LDP9FVHgdGNc8sjGqeWRjVPLMwqnl29Dnis5leBNMdYhwk1ZxzkHQHmqzk6VLlLH8hQn6RfM4ITpBWtLtczcyjJSqrbuImQJpz1JJwsV3hqET+yadkXTMsyn4RnBFlUipFdG5te8Cxkbv3ru0Ls0+C9O7CnWQxXyiZ8NyzT/5YXS9PqscyXnffdqPTac9vYr4oo8lic7bfxYwP9kauC/adsP0NNo35eP3wS1PYLU/EKl13FD5MMT7qHmxn9E7w8f7g7UpiJ/KkYyRsc7w/crtK3ok87RgJ2/zQMdL6dCeyzQ+fWf7YOBFO2+bPpsbzTL7Ttlm0CW5stm0ibSKbpuBp2yzasUp0EcfmagFUp5tn/PHdzOOPx7jIT8HYyU/p7Cs/os1gP/gvYY7smKRp29vcPQHyvl1Ed8qcf65Udd5+54JT94e6bvTCKSt41Mg56n7haifL+Mexc7rxIzrnHT+icwLyIzplIm84KiX5KZ1zkx/ROUn5EehsBY8IuGwF43HZCsaHZCtICclWPVYBfkTn5YAfgTYqRKCN2mOl4EegjArCg4wKKWijQgTaqBCBNipcgOGMCuNxRoXxIUaFlBCjQgraqBCBNipEoI0KEWijQgTaqIFre294kFEhBW1UiEAbFSLQRrXrxR5GhfE4o8L4EKNCSohRIQVtVIhAGxUi0EaFCLRRIQJtVIhAGRWEBxkVUtBGhQi0USECbdTqUcNwo8J4nFFhfIhRISXEqJCCNipEoI0KEWijQgTaqBCBNipEoIwKwoOMCiloo0IE2qgQgTaqvVjYw6gwHmdUGB9iVEgJMSqkoI0KEWijQgTaqBCBNipEoI0KESijgvAgo0IK2qgQgTYqRLTNz/oSpe82+xH+rKf3jv3ul67qTv1wH+V2UUfdUete+Vndn0W4VOoxanzw8MjWG90gYiqFsqeoPZfVXa69JQJ14fOPq/YnfFx6zy9dqp+FsNdMAfy4ayQ4p3LcNuXdSFDkHbfNdDcSrDqP27KvGwkOg8dtSdf6cn1Tij4cgeC2NOMEjzzhbdnaCYdD3JajnUA4wm2Z2QmEA9yWj53Ak8gk59fRJx3Haby5vxQQ2qajQzj1E9qmJdRqnY6hMbqK5id0Vc9P6Cqjn4DS04vBC+tHoRX2o8KkhjbDSh1uVD8BKzUkBEkNMOFSQ1Sw1BAVJjVMjFipIQErdXhy9hOCpAaYcKkhKlhqiAqTGh7KsFJDAlZqSMBK3fOA7MWESw1RwVJDVJjUcHGHlRoSsFJDAlZqSAiSGmDCpYaoYKkhKkxqUCWjpYYErNSQgJUaEoKkBphwqSEqWGqIapPankXZkRqlsBOOW4Q5gbgDshOIS85OYEC15EQHVksOIbBaglqtNcdVS65ofkJX9fyErjL6CSg9vRi8sH4UWmE/KkxqXLXUJHW4Uf0ErNS4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1OHJ2U8IkhpXLbVKjauWWqXGVUt+qXHVUpPUuGqpSWpctdQkdc8DshcTLjWuWmqVGlct+aXGVUtNUuOqpSapcdVSk9S4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1LhqqUlqXLXklRpXLbVKjauWWqXGVUu3OkQQfAXUJGV5GdF9X9w1KxYl6//lhA9Zzgslf/Ekot3Vb6i9HD7t/PyVYdvf9tOfL/WYmW9Adx5XSqpvgK2B9oM3yeZnqkyw6UlU/3pYvdl2uL5cW7VoA2FT8UK3FdffXeVpqv4O2s1DVPYbaF837PmiWtuR7QRcf7oe0u14VZ/bGa3Wfpdmwrf02RqidYwqz/g6+LFOAvt6qPszldVPpuk/brJEA57qnwurepo8swql37/iUt6y6tNq6f+o5LOyend0YL+y4NX70+rb97zxuU3TXsBwtzPVy/pn2zzjXX0ff33/gHdKmlzUMNz2Zpa+I73t2/qv4tP/AAAA//8DAFBLAwQUAAYACAAAACEA7wopTk4BAAB+AwAAFAAAAHdvcmQvd2ViU2V0dGluZ3MueG1snNNfa8IwEADw98G+Q8m7psoUKVZhDMdexmDbB4jp1YYluZKLq+7T79qpc/hi95L/9+MuIfPlztnkEwIZ9LkYDVORgNdYGL/JxfvbajATCUXlC2XRQy72QGK5uL2ZN1kD61eIkU9SwoqnzOlcVDHWmZSkK3CKhliD580Sg1ORp2EjnQof23qg0dUqmrWxJu7lOE2n4sCEaxQsS6PhAfXWgY9dvAxgWURPlanpqDXXaA2Gog6ogYjrcfbHc8r4EzO6u4Cc0QEJyzjkYg4ZdRSHj9Ju5OwvMOkHjC+AqYZdP2N2MCRHnjum6OdMT44pzpz/JXMGUBGLqpcyPt6rbGNVVJWi6lyEfklNTtzetXfkdPa08RjU2rLEr57wwyUd3LZcf9t1Q9h1620JYsEfAutonPmCFYb7gA1BkO2yshabl+dHnsg/v2bxDQAA//8DAFBLAwQUAAYACAAAACEAmaU8RAICAACCBwAAEgAAAHdvcmQvZm9udFRhYmxlLnhtbNyT24rbMBCG7wt9B6P7jWXnsKlZZ+m2GyiUXizbB1BkORbVwWiUOHn7jmQnDYTAutBC6wtb/kfzeea35uHxoFWyFw6kNSXJJpQkwnBbSbMtyffX9d2SJOCZqZiyRpTkKIA8rt6/e+iK2hoPCeYbKDQvSeN9W6Qp8EZoBhPbCoPB2jrNPL66baqZ+7Fr77jVLfNyI5X0xzSndEEGjHsLxda15OKz5TstjI/5qRMKidZAI1s40bq30DrrqtZZLgCwZ616nmbSnDHZ7AqkJXcWbO0n2MxQUURhekbjSqtfgPk4QH4FWHBxGMdYDowUMy85shrHWZw5srrg/F4xFwCofNWMouQnX9OQyzxrGDSXRDGuqPkZd9TBI82LL1tjHdsoJOFfT/DHJREc7th/eMSlOEQ9tEBWwygkXWGYxsxPTMmNkzHQMmNBZBjbM1US7GFN5zT0ktMZnYY7ScNG3jAHIkD6jbSXa6alOp5U6CRAH2il581J3zMnQ9V9COQWAzvY0JI8zyjNn9dr0isZVkdRmd0/DUoevhWvD4MyPSs0KDxy4mvWc3jknPfgN9PegSsnPmJZ6oYPT3SBDvRORDf+rA+h6ysf7pfzv+LDq9QCkm+iS16sZuaGIzk6MsXTMYsnZDrKERe5/44jw4wkX+W28TcnJczHfzopwwJWPwEAAP//AwBQSwMEFAAGAAgAAAAhADFTaSlyAQAA8wIAABEACAFkb2NQcm9wcy9jb3JlLnhtbCCiBAEooAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIySTW/CMAxA75P2H6rcS1JgaKraon2I05AmjYlpt5AYyGiTKAkU/v3SlpZVcNjNjp9fXSfJ9FjkwQGMFUqmKBoQFIBkigu5SdHnYhY+osA6KjnNlYQUncCiaXZ/lzAdM2Xg3SgNxgmwgTdJGzOdoq1zOsbYsi0U1A48IX1xrUxBnU/NBmvKdnQDeEjIBBfgKKeO4koY6s6IzkrOOqXem7wWcIYhhwKkszgaRPjCOjCFvdlQV/6QhXAnDTfRttjRRys6sCzLQTmqUT9/hL/mbx/1r4ZCVrtigLKEs9gJl0OW4EvoI7tf/QBzzXGX+JgZoE6ZbEkhD55Wap8v6ZrWWFuqlr6DU6kMt17QyzzGwTIjtPNX2eh7B57OqXVzf7drAfz5dPWla6JqMnAQ1evIhjXRpcl51c10wAO/orhZaFtZjl5eFzOUDclwFJJJSB4X0Sgej2NCvqsBe/0XYXEe4P/Gh76xFTQ76j/T7BcAAP//AwBQSwMEFAAGAAgAAAAhAGS2FjhvAQAAxwIAABAACAFkb2NQcm9wcy9hcHAueG1sIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnFJNS8QwEL0L/ofS+zbtCiIyG5EV8eDHwlb3HJJpG0yTkETZ/fdO7W6teDOneW8yj/cmgZt9b7JPDFE7u8qroswztNIpbdtV/lrfL67yLCZhlTDO4io/YMxv+PkZbILzGJLGmJGEjau8S8lfMxZlh72IBbUtdRoXepEIhpa5ptES75z86NEmtizLS4b7hFahWvhJMB8Vrz/Tf0WVk4O/+FYfPOlxqLH3RiTkz8OkKZRLPbCJhdolYWrdI6+IngBsRItx4MYCdi6oyJfAxgLWnQhCJtofr4idQbj13mgpEi2WP2kZXHRNyl6+3WbDOLD5FaAEW5QfQacDL4HNITxqO9oYC7IVRBuE747eJgRbKQyuKTtvhIkI7IeAteu9sCTHpor03uOrr93dsIbjyG9ylnGnU7f1Qg5eLuZpZw3YEouK7E8OJgIe6DmCGeRp1raoTnf+Nob9vY3/kleXRUnne2EnjmJPH4Z/AQAA//8DAFBLAQItABQABgAIAAAAIQDfpNJsWgEAACAFAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhAB6RGrfvAAAATgIAAAsAAAAAAAAAAAAAAAAAkwMAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAAAAAAAAAAAAAAAswYAAHdvcmQvZG9jdW1lbnQueG1sUEsBAi0AFAAGAAgAAAAhANZks1H0AAAAMQMAABwAAAAAAAAAAAAAAAAAxwkAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNQSwECLQAUAAYACAAAACEAtvRnmNIGAADJIAAAFQAAAAAAAAAAAAAAAAD9CwAAd29yZC90aGVtZS90aGVtZTEueG1sUEsBAi0AFAAGAAgAAAAhAM/BaAMRBAAAxgsAABEAAAAAAAAAAAAAAAAAAhMAAHdvcmQvc2V0dGluZ3MueG1sUEsBAi0AFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAAAAAAAAAAAAAAAQhcAAHdvcmQvc3R5bGVzLnhtbFBLAQItABQABgAIAAAAIQDvCilOTgEAAH4DAAAUAAAAAAAAAAAAAAAAABQjAAB3b3JkL3dlYlNldHRpbmdzLnhtbFBLAQItABQABgAIAAAAIQCZpTxEAgIAAIIHAAASAAAAAAAAAAAAAAAAAJQkAAB3b3JkL2ZvbnRUYWJsZS54bWxQSwECLQAUAAYACAAAACEAMVNpKXIBAADzAgAAEQAAAAAAAAAAAAAAAADGJgAAZG9jUHJvcHMvY29yZS54bWxQSwECLQAUAAYACAAAACEAZLYWOG8BAADHAgAAEAAAAAAAAAAAAAAAAABvKQAAZG9jUHJvcHMvYXBwLnhtbFBLBQYAAAAACwALAMECAAAULAAAAAA="
                        }
                      },
                      "type": "object"
                    }
                  },
                  "note": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "note description",
                        "default": "note description"
                      },
                      "startdate": {
                        "type": "string",
                        "description": "Note start date . format DD-MMM-YYYY HH:mm:ss",
                        "default": "01-Jan-2023 15:30:00"
                      },
                      "notetypeid": {
                        "type": "integer",
                        "description": "Accepted values can be found in \"lookups\" field \"note_types\"",
                        "default": 10,
                        "format": "int32"
                      }
                    }
                  },
                  "userid": {
                    "type": "integer",
                    "description": "Accepted values can be found in users/list , field : userid",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl -X POST https://chiapi.chameleoni.com/candidate/add"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Candidate"
        ]
      }
    },
    "/candidate/read/{candidateID}": {
      "get": {
        "summary": "Read",
        "description": "This endpoint is used to read candidate from Chameleon-i database",
        "operationId": "candidate-read",
        "parameters": [
          {
            "name": "candidateID",
            "in": "path",
            "description": "Candidate ID",
            "schema": {
              "type": "string",
              "default": "26387495"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl  https://chiapi.chameleoni.com/candidate/read/{candidateID}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Candidate"
        ]
      }
    },
    "/candidate/update/{candidateID}": {
      "post": {
        "summary": "Update",
        "description": "This endpoint is used to update an existing candidate in Chameleon-i database",
        "operationId": "candidate-update",
        "parameters": [
          {
            "name": "candidateID",
            "in": "path",
            "description": "Candidate ID",
            "schema": {
              "type": "string",
              "default": "25882708"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Accepted values can be found in \"lookups\" field \"title\"",
                    "default": "6"
                  },
                  "surname": {
                    "type": "string",
                    "description": "Candidate Surname",
                    "default": "testsurename"
                  },
                  "forename": {
                    "type": "string",
                    "description": "Candidate Forename",
                    "default": "testforename"
                  },
                  "email": {
                    "type": "string",
                    "description": "Candidate Email address",
                    "default": "testemail@test.com"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "only 2 values are accepted , \"cv\" & \"attachment\"",
                          "enum": [
                            "cv",
                            "attachment"
                          ]
                        },
                        "filename": {
                          "type": "string",
                          "description": "the name of file that will appear under entity \"Attached files\" if type is \"attachment\" or the candidate cv if type is \"cv\"",
                          "default": "filename.docx"
                        },
                        "content": {
                          "type": "string",
                          "description": "base64 content",
                          "default": "UEsDBBQABgAIAAAAIQDfpNJsWgEAACAFAAATAAgCW0NvbnRlbnRfVHlwZXNdLnhtbCCiBAIooAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC0lMtuwjAQRfeV+g+Rt1Vi6KKqKgKLPpYtUukHGHsCVv2Sx7z+vhMCUVUBkQpsIiUz994zVsaD0dqabAkRtXcl6xc9loGTXmk3K9nX5C1/ZBkm4ZQw3kHJNoBsNLy9GUw2ATAjtcOSzVMKT5yjnIMVWPgAjiqVj1Ykeo0zHoT8FjPg973eA5feJXApT7UHGw5eoBILk7LXNX1uSCIYZNlz01hnlUyEYLQUiep86dSflHyXUJBy24NzHfCOGhg/mFBXjgfsdB90NFEryMYipndhqYuvfFRcebmwpCxO2xzg9FWlJbT62i1ELwGRztyaoq1Yod2e/ygHpo0BvDxF49sdDymR4BoAO+dOhBVMP69G8cu8E6Si3ImYGrg8RmvdCZFoA6F59s/m2NqciqTOcfQBaaPjP8ber2ytzmngADHp039dm0jWZ88H9W2gQB3I5tv7bfgDAAD//wMAUEsDBBQABgAIAAAAIQAekRq37wAAAE4CAAALAAgCX3JlbHMvLnJlbHMgogQCKKAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArJLBasMwDEDvg/2D0b1R2sEYo04vY9DbGNkHCFtJTBPb2GrX/v082NgCXelhR8vS05PQenOcRnXglF3wGpZVDYq9Cdb5XsNb+7x4AJWFvKUxeNZw4gyb5vZm/cojSSnKg4tZFYrPGgaR+IiYzcAT5SpE9uWnC2kiKc/UYySzo55xVdf3mH4zoJkx1dZqSFt7B6o9Rb6GHbrOGX4KZj+xlzMtkI/C3rJdxFTqk7gyjWop9SwabDAvJZyRYqwKGvC80ep6o7+nxYmFLAmhCYkv+3xmXBJa/ueK5hk/Nu8hWbRf4W8bnF1B8wEAAP//AwBQSwMEFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAB3b3JkL2RvY3VtZW50LnhtbKSWyW7bMBBA7wX6D4LuCbV4ixA7aJO4yKFA0LQfQFO0RYQbSHrr13eoxXKrNJCVC0UOOW9Gw+GQt3cHwYMdNZYpOQ/j6ygMqCQqZ3IzD3/9XF7NwsA6LHPMlaTz8EhteLf4/Ol2n+WKbAWVLgCEtNlek3lYOKczhCwpqMD2WjBilFVrd02UQGq9ZoSivTI5SqI4KnvaKEKtBXv3WO6wDWscOfSj5QbvQdkDR4gU2Dh6aBnxxZAxukGzLigZAII/TOIuKr0YNUHeqw5oNAgEXnVI42GkN35uMoyUdEnTYaS0S5oNI3XSSXQTXGkqYXKtjMAOhmaDBDavW30FYI0dWzHO3BGY0aTBYCZfB3gEWieCSPOLCVMkVE55mjcUNQ+3Rma1/tVJ37ueVfr156RBeT+zYO4G0YPj1jW6pk/sKvWHurCUUUOGcoijkrZg+lQdxFAaTBYNZPdeAHaCN+v2Ou551P5X2h6qbWiBfdyv907wyvP3iXHUYzc94qTRx4W/bTaeCMjg1vCg0JwFN+5ZfBpA0gFMCO15WTSMWc1ApD3dnsN6HquGU+2K57A2sHHPGvivM2cAm7u8uIiSNHFFXhc7XGB7SnRPpJc5NT7hjuIsRnrzsYPwzaitbmnsY7SntiTu/ePkAlZ9oM4Puf2YMy8F1lApBcmeNlIZvOLgERyPADI8KHfAt5Ao/lN26aGU+70OfI0JF/CqWqn86L8a5kaZxgY/QVImy3Qa3cTLsJTCneS8NP2ynD6OZ1OQZvCCy3/MwwhWjeNpK3qga7zlzs/cP46Sr2lpxfjGLZaM04Ao6aA+2lvkRb41Zav9GkuJezZv8EsfNy+/YQpKSZwko8jbhKyNxzPoo2rBd+yVnYKKF4+qJYZtCtcOV8o5Jdoxp+uz2YLinMLdMU3K4VopdzbcbF05rM0RxS1IrcaEVmtKMTxUvxkf94wzSZ+ZI+BlOilnUfOLZbcKPmrftos/AAAA//8DAFBLAwQUAAYACAAAACEA1mSzUfQAAAAxAwAAHAAIAXdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHMgogQBKKAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACskstqwzAQRfeF/oOYfS07fVBC5GxKIdvW/QBFHj+oLAnN9OG/r0hJ69BguvByrphzz4A228/BineM1HunoMhyEOiMr3vXKnipHq/uQRBrV2vrHSoYkWBbXl5sntBqTkvU9YFEojhS0DGHtZRkOhw0ZT6gSy+Nj4PmNMZWBm1edYtyled3Mk4ZUJ4wxa5WEHf1NYhqDPgftm+a3uCDN28DOj5TIT9w/4zM6ThKWB1bZAWTMEtEkOdFVkuK0B+LYzKnUCyqwKPFqcBhnqu/XbKe0y7+th/G77CYc7hZ0qHxjiu9txOPn+goIU8+evkFAAD//wMAUEsDBBQABgAIAAAAIQC29GeY0gYAAMkgAAAVAAAAd29yZC90aGVtZS90aGVtZTEueG1s7FlLixtHEL4H8h+Guct6zehhrDXSSPJr1zbetYOPvVJrpq2eadHd2rUwhmCfcgkEnJBDDLnlEEIMMcTkkh9jsEmcH5HqHkkzLfXEj12DCbuCVT++qv66qrq6NHPh4v2YOkeYC8KSjls9V3EdnIzYmCRhx719MCy1XEdIlIwRZQnuuAss3Is7n392AZ2XEY6xA/KJOI86biTl7Hy5LEYwjMQ5NsMJzE0Yj5GELg/LY46OQW9My7VKpVGOEUlcJ0ExqL0xmZARdg6USndnpXxA4V8ihRoYUb6vVGNDQmPH06r6EgsRUO4cIdpxYZ0xOz7A96XrUCQkTHTciv5zyzsXymshKgtkc3JD/beUWwqMpzUtx8PDtaDn+V6ju9avAVRu4wbNQWPQWOvTADQawU5TLqbOZi3wltgcKG1adPeb/XrVwOf017fwXV99DLwGpU1vCz8cBpkNc6C06W/h/V671zf1a1DabGzhm5Vu32saeA2KKEmmW+iK36gHq92uIRNGL1vhbd8bNmtLeIYq56IrlU9kUazF6B7jQwBo5yJJEkcuZniCRoALECWHnDi7JIwg8GYoYQKGK7XKsFKH/+rj6Zb2KDqPUU46HRqJrSHFxxEjTmay414FrW4O8urFi5ePnr989PvLx49fPvp1ufa23GWUhHm5Nz9988/TL52/f/vxzZNv7XiRx7/+5avXf/z5X+qlQeu7Z6+fP3v1/dd//fzEAu9ydJiHH5AYC+c6PnZusRg2aFkAH/L3kziIEMlLdJNQoAQpGQt6ICMDfX2BKLLgeti04x0O6cIGvDS/ZxDej/hcEgvwWhQbwD3GaI9x656uqbXyVpgnoX1xPs/jbiF0ZFs72PDyYD6DuCc2lUGEDZo3KbgchTjB0lFzbIqxRewuIYZd98iIM8Em0rlLnB4iVpMckEMjmjKhyyQGvyxsBMHfhm327jg9Rm3q+/jIRMLZQNSmElPDjJfQXKLYyhjFNI/cRTKykdxf8JFhcCHB0yGmzBmMsRA2mRt8YdC9BmnG7vY9uohNJJdkakPuIsbyyD6bBhGKZ1bOJIny2CtiCiGKnJtMWkkw84SoPvgBJYXuvkOw4e63n+3bkIbsAaJm5tx2JDAzz+OCThC2Ke/y2EixXU6s0dGbh0Zo72JM0TEaY+zcvmLDs5lh84z01QiyymVss81VZMaq6idYQK2kihuLY4kwQnYfh6yAz95iI/EsUBIjXqT5+tQMmQFcdbE1XuloaqRSwtWhtZO4IWJjf4Vab0bICCvVF/Z4XXDDf+9yxkDm3gfI4PeWgcT+zrY5QNRYIAuYAwRVhi3dgojh/kxEHSctNrfKTcxDm7mhvFH0xCR5awW0Ufv4H6/2gQrj1Q9PLdjTqXfswJNUOkXJZLO+KcJtVjUB42Py6Rc1fTRPbmK4RyzQs5rmrKb539c0Ref5rJI5q2TOKhm7yEeoZLLiRT8CWj3o0Vriwqc+E0LpvlxQvCt02SPg7I+HMKg7Wmj9kGkWQXO5nIELOdJthzP5BZHRfoRmsExVrxCKpepQODMmoHDSw1bdaoLO4z02Tker1dVzTRBAMhuHwms1DmWaTEcbzewB3lq97oX6QeuKgJJ9HxK5xUwSdQuJ5mrwLST0zk6FRdvCoqXUF7LQX0uvwOXkIPVI3PdSRhBuENJj5adUfuXdU/d0kTHNbdcs22srrqfjaYNELtxMErkwjODy2Bw+ZV+3M5ca9JQptmk0Wx/D1yqJbOQGmpg95xjOXN0HNSM067gT+MkEzXgG+oTKVIiGSccdyaWhPySzzLiQfSSiFKan0v3HRGLuUBJDrOfdQJOMW7XWVHv8RMm1K5+e5fRX3sl4MsEjWTCSdWEuVWKdPSFYddgcSO9H42PnkM75LQSG8ptVZcAxEXJtzTHhueDOrLiRrpZH0Xjfkh1RRGcRWt4o+WSewnV7TSe3D810c1dmf7mZw1A56cS37tuF1EQuaRZcIOrWtOePj3fJ51hled9glabuzVzXXuW6olvi5BdCjlq2mEFNMbZQy0ZNaqdYEOSWW4dm0R1x2rfBZtSqC2JVV+re1ottdngPIr8P1eqcSqGpwq8WjoLVK8k0E+jRVXa5L505Jx33QcXvekHND0qVlj8oeXWvUmr53Xqp6/v16sCvVvq92kMwioziqp+uPYQf+3SxfG+vx7fe3cerUvvciMVlpuvgshbW7+6rteJ39w4Byzxo1IbtervXKLXr3WHJ6/dapXbQ6JX6jaDZH/YDv9UePnSdIw32uvXAawxapUY1CEpeo6Lot9qlplerdb1mtzXwug+Xtoadr75X5tW8dv4FAAD//wMAUEsDBBQABgAIAAAAIQDPwWgDEQQAAMYLAAARAAAAd29yZC9zZXR0aW5ncy54bWy0Vt9v2zgMfj/g/ofAz5f6R5w0NZYOTdNcOzS3Ye6wZ9lSYqGWZEhy0uxw//tRshSn6zCkG/qS0PzIjzRFkX73/onVgy2Rigo+C+KzKBgQXgpM+WYWfHlYDqfBQGnEMaoFJ7NgT1Tw/vLPP97tMkW0BjM1AAquMlbOgkrrJgtDVVaEIXUmGsIBXAvJkIZHuQkZko9tMywFa5CmBa2p3odJFE0CRyNmQSt55iiGjJZSKLHWxiUT6zUtifvzHvKUuJ3LQpQtI1zbiKEkNeQguKpoozwb+1U2ACtPsv3ZS2xZ7e12cXTC6+6ExAePU9IzDo0UJVEKDojVPkHK+8DpC6JD7DOI7V7RUoF7HFnpOPPx6wiSFwSTkjy9jmPqOELwPOah+HU8kwMP7QsbT34tmSMChTWuXsWS+LqGxhdpVCF16CLDSF6X1PhAt2d9jVR9Std00D0tJJLdnXQtw8rsbsOFREUN6UDrDOD0BzY78wtFNH9WJE9Wb+oQXMKM+CYEG+yyhsgSLgoMmCgKQgNgskZtrR9QkWvRgMkWQZLniYPLCklUaiLzBpXQw9eCaylqb4fFP0JfwwyR0OLOw06UXsq76QQeHDFI+9nEWQkM42OXtZKeXl/jYKPH4+OQ3wcSME0lxeTBlCvX+5osIfmcfiNXHH9olabAaOfOb2TwswQIN5E/wgE/7BuyJEi3UKY3CmZPYlnTZkWlFPKOYzjnNwtG12siIQBFmqygfagUO1vnW4IwLLE3itsq8hWM4X6NHqAtH+dCa8Fu900Ftf69k7T9Hh63L6xirLzwWQh9MI0m6fnoymVq0FOQi3gcn5//CLm+SZP5yMV3UVlm1tgn6SXTugPWeVwjVkiKBiuz6EJjUcjHOeUeLwhME3KM5G3hweGwAxRDdb2EInrAFoBlmKpmQdZWrldIbnpeZyF/qIU58uHAZWYMkX9L0TYdupOo6VrSm8Rp6jwp1/eUeb1qi9x7cZh/R1DL8cettHXqy7PLNByxvdr3yLaKtSV8+CU3h1tQDO2A5DC/cp1Vy9x0BVmhpumaq9jEs6Cmm0rHxkXDE4bPI/tQbBKHJRZLOsw+oNK8KFg7odclXndkN/K6Ua9LvS7tdWOvG/e6iddNjK6CcSJryh+hz71o9GtR12JH8G2Pv1B1RVAVasiiG/3QbaJTuF2gBtuMPMGSIJhq+OpsKGboyeyMZGLcnXWN9qLVz2wNZoyb5wxmn7qbHT5zth3/XS5mJZUUujPfs6LfNGdd4jVVMBUaWEpaSI/9ZbE4zbAo78wOTF1rTq/SRTrpLl08tstM28EB5/6ZrOdIEeww7zruXP+9uJkm08l8PLxZjC6GaZLeDKfzFKR4GS2iaRLNp+P/3J31H+CX/wMAAP//AwBQSwMEFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAB3b3JkL3N0eWxlcy54bWy8nV1z27oRhu870//A0VV7kcjyh5x4jnPGdpLa0zjHJ7Kba4iEJNQgoZJUbPfXFwApCfISFBfc+iaxKO0DEC/eJZYf0m+/P6cy+sXzQqjsfDB6fzCIeBarRGTz88HD/dd3HwZRUbIsYVJl/HzwwovB75/++pffns6K8kXyItKArDhL4/PBoiyXZ8NhES94yor3askz/eZM5Skr9ct8PkxZ/rhavotVumSlmAopypfh4cHBeFBj8i4UNZuJmH9W8SrlWWnjhzmXmqiyYiGWxZr21IX2pPJkmauYF4Xe6VRWvJSJbIMZHQNQKuJcFWpWvtc7U/fIonT46MD+lcot4AQHOASAccyfcYwPNWOoI12OSHCc8YYjEocT1hkHUCRlskBRDtfjOjSxrGQLVixcIsd16mSDe0nNGKXx2c08UzmbSk3SqkdauMiCzb96/81/9k/+bLebXRh80l5IVPyZz9hKloV5md/l9cv6lf3vq8rKIno6Y0UsxL3uoG4lFbrB64usEAP9DmdFeVEI1vjmwvzR+E5clM7mS5GIwdC0+MjzTL/9i8nzwWG1qfjvZsNmy5Xp1M42ybL5ehvP3j1M3M45m6a6qfMBy99NLmzg6PhMijkrV7lODOaVJVT5I0+u9P7z53LFpPnwsB6Y6n9nuJavX9leLlksbKfYrOQ6TYzGB6YHUpisdHjycf3ix8qIx1alqhuxgOr/DXYIFNPZQ+eSSZXS9Lt89k3FjzyZlPqN84FtS298uLnLhcp12joffLRt6o0TnoprkSQ8cz6YLUTCfy549lDwZLv9z6829dQbYrXK9N9Hp2M7i2SRfHmO+dIkMv1uxoym302ANJ9eiW3jNvw/a9iolq0pfsGZyebR6DXCdh+FODQRhbO3zczVq323n0I1dPRWDR2/VUMnb9XQ+K0aOn2rhj68VUMW8/9sSGSJPnDYz8NmAHUfx+NGNMdjNjTH4yU0x2MVNMfjBDTHM9HRHM88RnM80xTBKVXsm4XOZD/yzPZ27v5jRBh3/yEhjLv/CBDG3Z/ww7j783sYd386D+Puz95h3P3JGs+tllrRjbZZVvZ22UypMlMlj8yitzeNZZplS1wanjno8ZxkJwkwVWarD8S9aTGzr/fPEGvS8ON5aSrFSM2imZibkqd3x3n2i0u15BFLEs0jBOZcF2WeEQmZ0zmf8ZxnMaec2HRQUwlG2SqdEszNJZuTsXiWEA/fmkiSFDYTWtfPC2MSQTCpUxbnqn/XFCPLD99E0X+sDCS6XEnJiVjfaaaYZfWvDSymf2lgMf0rA4vpXxg4mlENUU0jGqmaRjRgNY1o3Kr5STVuNY1o3Goa0bjVtP7jdi9KaVO8u+oYdT93dyWVuSjRux8TMc/sWdnepPqcaXTHcjbP2XIRmbPazVh3n7HtXKrkJbqnOKZtSFTrejtFzLlska36D+gOjcpcGx6RvTY8IoNteP0tdquXyWaBdk1Tz0xW07LRtJbUybQTJlfVgra/21jZf4ZtDfBV5AWZDZqxBDP4u1nOGjkpMt+2l/07tmX1t9XrrETavRpJ0Eup4keaNHz9suS5Lssee5O+KinVE0/oiJMyV9Vccy1/aCXpZPkv6XLBCmFrpR1E90P9+naG6JYte+/QnWQio9Hty7uUCRnRrSCu72+/RfdqacpMMzA0wEtVliolY9ZnAv/2k0//TtPBC10EZy9Ee3tBdHrIwq4EwUGmIqmEiKSXmSITJMdQy/snf5kqlic0tLucV3cQlZyIOGHpslp0EHhL58UnnX8IVkOW9y+WC3NeiMpU9yQw57RhsZr+m8f9U913FZGcGfpjVdrzj3apa6PpcP2XCTu4/ksEq6Y+PJj5S7CzO7j+O7uDo9rZK8mKQngvoQbzqHZ3zaPe3/7FX81TUuWzlaQbwDWQbATXQLIhVHKVZgXlHlse4Q5bHvX+Ek4ZyyM4JWd5/8hFQiaGhVEpYWFUMlgYlQYWRipA/zt0HFj/23QcWP97dSoY0RLAgVHNM9LDP9FVHgdGNc8sjGqeWRjVPLMwqnl29Dnis5leBNMdYhwk1ZxzkHQHmqzk6VLlLH8hQn6RfM4ITpBWtLtczcyjJSqrbuImQJpz1JJwsV3hqET+yadkXTMsyn4RnBFlUipFdG5te8Cxkbv3ru0Ls0+C9O7CnWQxXyiZ8NyzT/5YXS9PqscyXnffdqPTac9vYr4oo8lic7bfxYwP9kauC/adsP0NNo35eP3wS1PYLU/EKl13FD5MMT7qHmxn9E7w8f7g7UpiJ/KkYyRsc7w/crtK3ok87RgJ2/zQMdL6dCeyzQ+fWf7YOBFO2+bPpsbzTL7Ttlm0CW5stm0ibSKbpuBp2yzasUp0EcfmagFUp5tn/PHdzOOPx7jIT8HYyU/p7Cs/os1gP/gvYY7smKRp29vcPQHyvl1Ed8qcf65Udd5+54JT94e6bvTCKSt41Mg56n7haifL+Mexc7rxIzrnHT+icwLyIzplIm84KiX5KZ1zkx/ROUn5EehsBY8IuGwF43HZCsaHZCtICclWPVYBfkTn5YAfgTYqRKCN2mOl4EegjArCg4wKKWijQgTaqBCBNipcgOGMCuNxRoXxIUaFlBCjQgraqBCBNipEoI0KEWijQgTaqIFre294kFEhBW1UiEAbFSLQRrXrxR5GhfE4o8L4EKNCSohRIQVtVIhAGxUi0EaFCLRRIQJtVIhAGRWEBxkVUtBGhQi0USECbdTqUcNwo8J4nFFhfIhRISXEqJCCNipEoI0KEWijQgTaqBCBNipEoIwKwoOMCiloo0IE2qgQgTaqvVjYw6gwHmdUGB9iVEgJMSqkoI0KEWijQgTaqBCBNipEoI0KESijgvAgo0IK2qgQgTYqRLTNz/oSpe82+xH+rKf3jv3ul67qTv1wH+V2UUfdUete+Vndn0W4VOoxanzw8MjWG90gYiqFsqeoPZfVXa69JQJ14fOPq/YnfFx6zy9dqp+FsNdMAfy4ayQ4p3LcNuXdSFDkHbfNdDcSrDqP27KvGwkOg8dtSdf6cn1Tij4cgeC2NOMEjzzhbdnaCYdD3JajnUA4wm2Z2QmEA9yWj53Ak8gk59fRJx3Haby5vxQQ2qajQzj1E9qmJdRqnY6hMbqK5id0Vc9P6Cqjn4DS04vBC+tHoRX2o8KkhjbDSh1uVD8BKzUkBEkNMOFSQ1Sw1BAVJjVMjFipIQErdXhy9hOCpAaYcKkhKlhqiAqTGh7KsFJDAlZqSMBK3fOA7MWESw1RwVJDVJjUcHGHlRoSsFJDAlZqSAiSGmDCpYaoYKkhKkxqUCWjpYYErNSQgJUaEoKkBphwqSEqWGqIapPankXZkRqlsBOOW4Q5gbgDshOIS85OYEC15EQHVksOIbBaglqtNcdVS65ofkJX9fyErjL6CSg9vRi8sH4UWmE/KkxqXLXUJHW4Uf0ErNS4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1OHJ2U8IkhpXLbVKjauWWqXGVUt+qXHVUpPUuGqpSWpctdQkdc8DshcTLjWuWmqVGlct+aXGVUtNUuOqpSapcdVSk9S4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1LhqqUlqXLXklRpXLbVKjauWWqXGVUu3OkQQfAXUJGV5GdF9X9w1KxYl6//lhA9Zzgslf/Ekot3Vb6i9HD7t/PyVYdvf9tOfL/WYmW9Adx5XSqpvgK2B9oM3yeZnqkyw6UlU/3pYvdl2uL5cW7VoA2FT8UK3FdffXeVpqv4O2s1DVPYbaF837PmiWtuR7QRcf7oe0u14VZ/bGa3Wfpdmwrf02RqidYwqz/g6+LFOAvt6qPszldVPpuk/brJEA57qnwurepo8swql37/iUt6y6tNq6f+o5LOyend0YL+y4NX70+rb97zxuU3TXsBwtzPVy/pn2zzjXX0ff33/gHdKmlzUMNz2Zpa+I73t2/qv4tP/AAAA//8DAFBLAwQUAAYACAAAACEA7wopTk4BAAB+AwAAFAAAAHdvcmQvd2ViU2V0dGluZ3MueG1snNNfa8IwEADw98G+Q8m7psoUKVZhDMdexmDbB4jp1YYluZKLq+7T79qpc/hi95L/9+MuIfPlztnkEwIZ9LkYDVORgNdYGL/JxfvbajATCUXlC2XRQy72QGK5uL2ZN1kD61eIkU9SwoqnzOlcVDHWmZSkK3CKhliD580Sg1ORp2EjnQof23qg0dUqmrWxJu7lOE2n4sCEaxQsS6PhAfXWgY9dvAxgWURPlanpqDXXaA2Gog6ogYjrcfbHc8r4EzO6u4Cc0QEJyzjkYg4ZdRSHj9Ju5OwvMOkHjC+AqYZdP2N2MCRHnjum6OdMT44pzpz/JXMGUBGLqpcyPt6rbGNVVJWi6lyEfklNTtzetXfkdPa08RjU2rLEr57wwyUd3LZcf9t1Q9h1620JYsEfAutonPmCFYb7gA1BkO2yshabl+dHnsg/v2bxDQAA//8DAFBLAwQUAAYACAAAACEAmaU8RAICAACCBwAAEgAAAHdvcmQvZm9udFRhYmxlLnhtbNyT24rbMBCG7wt9B6P7jWXnsKlZZ+m2GyiUXizbB1BkORbVwWiUOHn7jmQnDYTAutBC6wtb/kfzeea35uHxoFWyFw6kNSXJJpQkwnBbSbMtyffX9d2SJOCZqZiyRpTkKIA8rt6/e+iK2hoPCeYbKDQvSeN9W6Qp8EZoBhPbCoPB2jrNPL66baqZ+7Fr77jVLfNyI5X0xzSndEEGjHsLxda15OKz5TstjI/5qRMKidZAI1s40bq30DrrqtZZLgCwZ616nmbSnDHZ7AqkJXcWbO0n2MxQUURhekbjSqtfgPk4QH4FWHBxGMdYDowUMy85shrHWZw5srrg/F4xFwCofNWMouQnX9OQyzxrGDSXRDGuqPkZd9TBI82LL1tjHdsoJOFfT/DHJREc7th/eMSlOEQ9tEBWwygkXWGYxsxPTMmNkzHQMmNBZBjbM1US7GFN5zT0ktMZnYY7ScNG3jAHIkD6jbSXa6alOp5U6CRAH2il581J3zMnQ9V9COQWAzvY0JI8zyjNn9dr0isZVkdRmd0/DUoevhWvD4MyPSs0KDxy4mvWc3jknPfgN9PegSsnPmJZ6oYPT3SBDvRORDf+rA+h6ysf7pfzv+LDq9QCkm+iS16sZuaGIzk6MsXTMYsnZDrKERe5/44jw4wkX+W28TcnJczHfzopwwJWPwEAAP//AwBQSwMEFAAGAAgAAAAhADFTaSlyAQAA8wIAABEACAFkb2NQcm9wcy9jb3JlLnhtbCCiBAEooAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIySTW/CMAxA75P2H6rcS1JgaKraon2I05AmjYlpt5AYyGiTKAkU/v3SlpZVcNjNjp9fXSfJ9FjkwQGMFUqmKBoQFIBkigu5SdHnYhY+osA6KjnNlYQUncCiaXZ/lzAdM2Xg3SgNxgmwgTdJGzOdoq1zOsbYsi0U1A48IX1xrUxBnU/NBmvKdnQDeEjIBBfgKKeO4koY6s6IzkrOOqXem7wWcIYhhwKkszgaRPjCOjCFvdlQV/6QhXAnDTfRttjRRys6sCzLQTmqUT9/hL/mbx/1r4ZCVrtigLKEs9gJl0OW4EvoI7tf/QBzzXGX+JgZoE6ZbEkhD55Wap8v6ZrWWFuqlr6DU6kMt17QyzzGwTIjtPNX2eh7B57OqXVzf7drAfz5dPWla6JqMnAQ1evIhjXRpcl51c10wAO/orhZaFtZjl5eFzOUDclwFJJJSB4X0Sgej2NCvqsBe/0XYXEe4P/Gh76xFTQ76j/T7BcAAP//AwBQSwMEFAAGAAgAAAAhAGS2FjhvAQAAxwIAABAACAFkb2NQcm9wcy9hcHAueG1sIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnFJNS8QwEL0L/ofS+zbtCiIyG5EV8eDHwlb3HJJpG0yTkETZ/fdO7W6teDOneW8yj/cmgZt9b7JPDFE7u8qroswztNIpbdtV/lrfL67yLCZhlTDO4io/YMxv+PkZbILzGJLGmJGEjau8S8lfMxZlh72IBbUtdRoXepEIhpa5ptES75z86NEmtizLS4b7hFahWvhJMB8Vrz/Tf0WVk4O/+FYfPOlxqLH3RiTkz8OkKZRLPbCJhdolYWrdI6+IngBsRItx4MYCdi6oyJfAxgLWnQhCJtofr4idQbj13mgpEi2WP2kZXHRNyl6+3WbDOLD5FaAEW5QfQacDL4HNITxqO9oYC7IVRBuE747eJgRbKQyuKTtvhIkI7IeAteu9sCTHpor03uOrr93dsIbjyG9ylnGnU7f1Qg5eLuZpZw3YEouK7E8OJgIe6DmCGeRp1raoTnf+Nob9vY3/kleXRUnne2EnjmJPH4Z/AQAA//8DAFBLAQItABQABgAIAAAAIQDfpNJsWgEAACAFAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhAB6RGrfvAAAATgIAAAsAAAAAAAAAAAAAAAAAkwMAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAAAAAAAAAAAAAAAswYAAHdvcmQvZG9jdW1lbnQueG1sUEsBAi0AFAAGAAgAAAAhANZks1H0AAAAMQMAABwAAAAAAAAAAAAAAAAAxwkAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNQSwECLQAUAAYACAAAACEAtvRnmNIGAADJIAAAFQAAAAAAAAAAAAAAAAD9CwAAd29yZC90aGVtZS90aGVtZTEueG1sUEsBAi0AFAAGAAgAAAAhAM/BaAMRBAAAxgsAABEAAAAAAAAAAAAAAAAAAhMAAHdvcmQvc2V0dGluZ3MueG1sUEsBAi0AFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAAAAAAAAAAAAAAAQhcAAHdvcmQvc3R5bGVzLnhtbFBLAQItABQABgAIAAAAIQDvCilOTgEAAH4DAAAUAAAAAAAAAAAAAAAAABQjAAB3b3JkL3dlYlNldHRpbmdzLnhtbFBLAQItABQABgAIAAAAIQCZpTxEAgIAAIIHAAASAAAAAAAAAAAAAAAAAJQkAAB3b3JkL2ZvbnRUYWJsZS54bWxQSwECLQAUAAYACAAAACEAMVNpKXIBAADzAgAAEQAAAAAAAAAAAAAAAADGJgAAZG9jUHJvcHMvY29yZS54bWxQSwECLQAUAAYACAAAACEAZLYWOG8BAADHAgAAEAAAAAAAAAAAAAAAAABvKQAAZG9jUHJvcHMvYXBwLnhtbFBLBQYAAAAACwALAMECAAAULAAAAAA="
                        }
                      },
                      "type": "object"
                    }
                  },
                  "note": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "note description",
                        "default": "note description"
                      },
                      "startdate": {
                        "type": "string",
                        "description": "Note start date . format DD-MMM-YYYY HH:mm:ss",
                        "default": "01-Jan-2023 15:30:00"
                      },
                      "notetypeid": {
                        "type": "integer",
                        "description": "Accepted values can be found in \"lookups\" field \"note_types\"",
                        "default": 10,
                        "format": "int32"
                      }
                    }
                  },
                  "userid": {
                    "type": "integer",
                    "description": "Accepted values can be found in users/list , field : userid",
                    "format": "int32"
                  },
                  "tags": {
                    "type": "array",
                    "description": "Tags",
                    "items": {
                      "properties": {
                        "tagid": {
                          "type": "integer",
                          "description": "The tag id , superset of tags (id & description) can be found in \"lookups\" under name \"tag_tree\"",
                          "default": 727136,
                          "format": "int32"
                        },
                        "assign": {
                          "type": "integer",
                          "description": "only 2 values are accepted , 0 & 1 , 0 means remove tag from entity , 1 means add tag to entity",
                          "default": 1,
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl -X POST https://chiapi.chameleoni.com/candidate/update/{candidateID}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Candidate"
        ]
      }
    },
    "/company/lookup": {
      "get": {
        "summary": "Lookups",
        "description": "This endpoint is used for\n1- List the superset of field/type that Chameleon-i can accept when adding or updating a company, including normal fields and custom fields. \n2- List the superset of all drop down lists\nExample :\n\u201cindustry\u201d, \"status\" , etc...",
        "operationId": "company-lookup",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl https://chiapi.chameleoni.com/company/lookup"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Company"
        ]
      }
    },
    "/company/read/{companyID}": {
      "get": {
        "summary": "Read",
        "description": "This endpoint is used to read company from Chameleon-i database",
        "operationId": "company-read",
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "2285825"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl  https://chiapi.chameleoni.com/candidate/read/{companyID}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Company"
        ]
      }
    },
    "/client/lookup": {
      "get": {
        "summary": "Lookups",
        "description": "This endpoint is used for\n1- List the superset of field/type that Chameleon-i can accept when adding or updating a client, including normal fields and custom fields. \n2- List the superset of all drop down lists\nExample :\n\u201ctitle\u201d, \"priority\" , \"note_types\" , etc...",
        "operationId": "client-lookup",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl https://chiapi.chameleoni.com/client/lookup"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Client"
        ]
      }
    },
    "/client/read/{clientID}": {
      "get": {
        "summary": "Read",
        "description": "This endpoint is used to read client from Chameleon-i database",
        "operationId": "client-read",
        "parameters": [
          {
            "name": "clientID",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "18492544"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl  https://chiapi.chameleoni.com/candidate/read/{clientID}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Client"
        ]
      }
    },
    "/requirement/read/{requirementID}": {
      "get": {
        "summary": "Read",
        "description": "This endpoint is used to read requirement from Chameleon-i database",
        "operationId": "requirement-read",
        "parameters": [
          {
            "name": "requirementID",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "1399062"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl  https://chiapi.chameleoni.com/requirement/read/{requirementID}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Requirement"
        ]
      }
    },
    "/contract/read/{contractID}": {
      "get": {
        "summary": "Read",
        "description": "This endpoint is used to read contract from Chameleon-i database",
        "operationId": "contract-read",
        "parameters": [
          {
            "name": "contractID",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "300286"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "curl  https://chiapi.chameleoni.com/candidate/read/{contractID}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Contract"
        ]
      }
    },
    "/company/add": {
      "post": {
        "summary": "Add",
        "description": "This endpoint is used to create new company in Chameleon-i database",
        "operationId": "company-add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Company name",
                    "default": "test company name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Company email address . if supplied must be a valid email address"
                  },
                  "maintelno": {
                    "type": "string",
                    "description": "Main telephone number"
                  },
                  "mainfaxno": {
                    "type": "string",
                    "description": "Main fax number"
                  },
                  "webpage": {
                    "type": "string",
                    "description": "Company Website"
                  },
                  "industry": {
                    "type": "integer",
                    "description": "Accepted values can be found in \"lookups\" field \"industry\"",
                    "default": 70732,
                    "format": "int32"
                  },
                  "status": {
                    "type": "string",
                    "description": "Accepted values can be found in \"lookups\" field \"status\"",
                    "default": "1"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "the only accepted value is \"attachment\"",
                          "default": "attachment"
                        },
                        "filename": {
                          "type": "string",
                          "description": "the name of file that will appear under entity \"Attached files\"",
                          "default": "filename.docx"
                        },
                        "content": {
                          "type": "string",
                          "description": "Base64 contents",
                          "default": "UEsDBBQABgAIAAAAIQDfpNJsWgEAACAFAAATAAgCW0NvbnRlbnRfVHlwZXNdLnhtbCCiBAIooAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC0lMtuwjAQRfeV+g+Rt1Vi6KKqKgKLPpYtUukHGHsCVv2Sx7z+vhMCUVUBkQpsIiUz994zVsaD0dqabAkRtXcl6xc9loGTXmk3K9nX5C1/ZBkm4ZQw3kHJNoBsNLy9GUw2ATAjtcOSzVMKT5yjnIMVWPgAjiqVj1Ykeo0zHoT8FjPg973eA5feJXApT7UHGw5eoBILk7LXNX1uSCIYZNlz01hnlUyEYLQUiep86dSflHyXUJBy24NzHfCOGhg/mFBXjgfsdB90NFEryMYipndhqYuvfFRcebmwpCxO2xzg9FWlJbT62i1ELwGRztyaoq1Yod2e/ygHpo0BvDxF49sdDymR4BoAO+dOhBVMP69G8cu8E6Si3ImYGrg8RmvdCZFoA6F59s/m2NqciqTOcfQBaaPjP8ber2ytzmngADHp039dm0jWZ88H9W2gQB3I5tv7bfgDAAD//wMAUEsDBBQABgAIAAAAIQAekRq37wAAAE4CAAALAAgCX3JlbHMvLnJlbHMgogQCKKAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArJLBasMwDEDvg/2D0b1R2sEYo04vY9DbGNkHCFtJTBPb2GrX/v082NgCXelhR8vS05PQenOcRnXglF3wGpZVDYq9Cdb5XsNb+7x4AJWFvKUxeNZw4gyb5vZm/cojSSnKg4tZFYrPGgaR+IiYzcAT5SpE9uWnC2kiKc/UYySzo55xVdf3mH4zoJkx1dZqSFt7B6o9Rb6GHbrOGX4KZj+xlzMtkI/C3rJdxFTqk7gyjWop9SwabDAvJZyRYqwKGvC80ep6o7+nxYmFLAmhCYkv+3xmXBJa/ueK5hk/Nu8hWbRf4W8bnF1B8wEAAP//AwBQSwMEFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAB3b3JkL2RvY3VtZW50LnhtbKSWyW7bMBBA7wX6D4LuCbV4ixA7aJO4yKFA0LQfQFO0RYQbSHrr13eoxXKrNJCVC0UOOW9Gw+GQt3cHwYMdNZYpOQ/j6ygMqCQqZ3IzD3/9XF7NwsA6LHPMlaTz8EhteLf4/Ol2n+WKbAWVLgCEtNlek3lYOKczhCwpqMD2WjBilFVrd02UQGq9ZoSivTI5SqI4KnvaKEKtBXv3WO6wDWscOfSj5QbvQdkDR4gU2Dh6aBnxxZAxukGzLigZAII/TOIuKr0YNUHeqw5oNAgEXnVI42GkN35uMoyUdEnTYaS0S5oNI3XSSXQTXGkqYXKtjMAOhmaDBDavW30FYI0dWzHO3BGY0aTBYCZfB3gEWieCSPOLCVMkVE55mjcUNQ+3Rma1/tVJ37ueVfr156RBeT+zYO4G0YPj1jW6pk/sKvWHurCUUUOGcoijkrZg+lQdxFAaTBYNZPdeAHaCN+v2Ou551P5X2h6qbWiBfdyv907wyvP3iXHUYzc94qTRx4W/bTaeCMjg1vCg0JwFN+5ZfBpA0gFMCO15WTSMWc1ApD3dnsN6HquGU+2K57A2sHHPGvivM2cAm7u8uIiSNHFFXhc7XGB7SnRPpJc5NT7hjuIsRnrzsYPwzaitbmnsY7SntiTu/ePkAlZ9oM4Puf2YMy8F1lApBcmeNlIZvOLgERyPADI8KHfAt5Ao/lN26aGU+70OfI0JF/CqWqn86L8a5kaZxgY/QVImy3Qa3cTLsJTCneS8NP2ynD6OZ1OQZvCCy3/MwwhWjeNpK3qga7zlzs/cP46Sr2lpxfjGLZaM04Ao6aA+2lvkRb41Zav9GkuJezZv8EsfNy+/YQpKSZwko8jbhKyNxzPoo2rBd+yVnYKKF4+qJYZtCtcOV8o5Jdoxp+uz2YLinMLdMU3K4VopdzbcbF05rM0RxS1IrcaEVmtKMTxUvxkf94wzSZ+ZI+BlOilnUfOLZbcKPmrftos/AAAA//8DAFBLAwQUAAYACAAAACEA1mSzUfQAAAAxAwAAHAAIAXdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHMgogQBKKAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACskstqwzAQRfeF/oOYfS07fVBC5GxKIdvW/QBFHj+oLAnN9OG/r0hJ69BguvByrphzz4A228/BineM1HunoMhyEOiMr3vXKnipHq/uQRBrV2vrHSoYkWBbXl5sntBqTkvU9YFEojhS0DGHtZRkOhw0ZT6gSy+Nj4PmNMZWBm1edYtyled3Mk4ZUJ4wxa5WEHf1NYhqDPgftm+a3uCDN28DOj5TIT9w/4zM6ThKWB1bZAWTMEtEkOdFVkuK0B+LYzKnUCyqwKPFqcBhnqu/XbKe0y7+th/G77CYc7hZ0qHxjiu9txOPn+goIU8+evkFAAD//wMAUEsDBBQABgAIAAAAIQC29GeY0gYAAMkgAAAVAAAAd29yZC90aGVtZS90aGVtZTEueG1s7FlLixtHEL4H8h+Guct6zehhrDXSSPJr1zbetYOPvVJrpq2eadHd2rUwhmCfcgkEnJBDDLnlEEIMMcTkkh9jsEmcH5HqHkkzLfXEj12DCbuCVT++qv66qrq6NHPh4v2YOkeYC8KSjls9V3EdnIzYmCRhx719MCy1XEdIlIwRZQnuuAss3Is7n392AZ2XEY6xA/KJOI86biTl7Hy5LEYwjMQ5NsMJzE0Yj5GELg/LY46OQW9My7VKpVGOEUlcJ0ExqL0xmZARdg6USndnpXxA4V8ihRoYUb6vVGNDQmPH06r6EgsRUO4cIdpxYZ0xOz7A96XrUCQkTHTciv5zyzsXymshKgtkc3JD/beUWwqMpzUtx8PDtaDn+V6ju9avAVRu4wbNQWPQWOvTADQawU5TLqbOZi3wltgcKG1adPeb/XrVwOf017fwXV99DLwGpU1vCz8cBpkNc6C06W/h/V671zf1a1DabGzhm5Vu32saeA2KKEmmW+iK36gHq92uIRNGL1vhbd8bNmtLeIYq56IrlU9kUazF6B7jQwBo5yJJEkcuZniCRoALECWHnDi7JIwg8GYoYQKGK7XKsFKH/+rj6Zb2KDqPUU46HRqJrSHFxxEjTmay414FrW4O8urFi5ePnr989PvLx49fPvp1ufa23GWUhHm5Nz9988/TL52/f/vxzZNv7XiRx7/+5avXf/z5X+qlQeu7Z6+fP3v1/dd//fzEAu9ydJiHH5AYC+c6PnZusRg2aFkAH/L3kziIEMlLdJNQoAQpGQt6ICMDfX2BKLLgeti04x0O6cIGvDS/ZxDej/hcEgvwWhQbwD3GaI9x656uqbXyVpgnoX1xPs/jbiF0ZFs72PDyYD6DuCc2lUGEDZo3KbgchTjB0lFzbIqxRewuIYZd98iIM8Em0rlLnB4iVpMckEMjmjKhyyQGvyxsBMHfhm327jg9Rm3q+/jIRMLZQNSmElPDjJfQXKLYyhjFNI/cRTKykdxf8JFhcCHB0yGmzBmMsRA2mRt8YdC9BmnG7vY9uohNJJdkakPuIsbyyD6bBhGKZ1bOJIny2CtiCiGKnJtMWkkw84SoPvgBJYXuvkOw4e63n+3bkIbsAaJm5tx2JDAzz+OCThC2Ke/y2EixXU6s0dGbh0Zo72JM0TEaY+zcvmLDs5lh84z01QiyymVss81VZMaq6idYQK2kihuLY4kwQnYfh6yAz95iI/EsUBIjXqT5+tQMmQFcdbE1XuloaqRSwtWhtZO4IWJjf4Vab0bICCvVF/Z4XXDDf+9yxkDm3gfI4PeWgcT+zrY5QNRYIAuYAwRVhi3dgojh/kxEHSctNrfKTcxDm7mhvFH0xCR5awW0Ufv4H6/2gQrj1Q9PLdjTqXfswJNUOkXJZLO+KcJtVjUB42Py6Rc1fTRPbmK4RyzQs5rmrKb539c0Ref5rJI5q2TOKhm7yEeoZLLiRT8CWj3o0Vriwqc+E0LpvlxQvCt02SPg7I+HMKg7Wmj9kGkWQXO5nIELOdJthzP5BZHRfoRmsExVrxCKpepQODMmoHDSw1bdaoLO4z02Tker1dVzTRBAMhuHwms1DmWaTEcbzewB3lq97oX6QeuKgJJ9HxK5xUwSdQuJ5mrwLST0zk6FRdvCoqXUF7LQX0uvwOXkIPVI3PdSRhBuENJj5adUfuXdU/d0kTHNbdcs22srrqfjaYNELtxMErkwjODy2Bw+ZV+3M5ca9JQptmk0Wx/D1yqJbOQGmpg95xjOXN0HNSM067gT+MkEzXgG+oTKVIiGSccdyaWhPySzzLiQfSSiFKan0v3HRGLuUBJDrOfdQJOMW7XWVHv8RMm1K5+e5fRX3sl4MsEjWTCSdWEuVWKdPSFYddgcSO9H42PnkM75LQSG8ptVZcAxEXJtzTHhueDOrLiRrpZH0Xjfkh1RRGcRWt4o+WSewnV7TSe3D810c1dmf7mZw1A56cS37tuF1EQuaRZcIOrWtOePj3fJ51hled9glabuzVzXXuW6olvi5BdCjlq2mEFNMbZQy0ZNaqdYEOSWW4dm0R1x2rfBZtSqC2JVV+re1ottdngPIr8P1eqcSqGpwq8WjoLVK8k0E+jRVXa5L505Jx33QcXvekHND0qVlj8oeXWvUmr53Xqp6/v16sCvVvq92kMwioziqp+uPYQf+3SxfG+vx7fe3cerUvvciMVlpuvgshbW7+6rteJ39w4Byzxo1IbtervXKLXr3WHJ6/dapXbQ6JX6jaDZH/YDv9UePnSdIw32uvXAawxapUY1CEpeo6Lot9qlplerdb1mtzXwug+Xtoadr75X5tW8dv4FAAD//wMAUEsDBBQABgAIAAAAIQDPwWgDEQQAAMYLAAARAAAAd29yZC9zZXR0aW5ncy54bWy0Vt9v2zgMfj/g/ofAz5f6R5w0NZYOTdNcOzS3Ye6wZ9lSYqGWZEhy0uxw//tRshSn6zCkG/qS0PzIjzRFkX73/onVgy2Rigo+C+KzKBgQXgpM+WYWfHlYDqfBQGnEMaoFJ7NgT1Tw/vLPP97tMkW0BjM1AAquMlbOgkrrJgtDVVaEIXUmGsIBXAvJkIZHuQkZko9tMywFa5CmBa2p3odJFE0CRyNmQSt55iiGjJZSKLHWxiUT6zUtifvzHvKUuJ3LQpQtI1zbiKEkNeQguKpoozwb+1U2ACtPsv3ZS2xZ7e12cXTC6+6ExAePU9IzDo0UJVEKDojVPkHK+8DpC6JD7DOI7V7RUoF7HFnpOPPx6wiSFwSTkjy9jmPqOELwPOah+HU8kwMP7QsbT34tmSMChTWuXsWS+LqGxhdpVCF16CLDSF6X1PhAt2d9jVR9Std00D0tJJLdnXQtw8rsbsOFREUN6UDrDOD0BzY78wtFNH9WJE9Wb+oQXMKM+CYEG+yyhsgSLgoMmCgKQgNgskZtrR9QkWvRgMkWQZLniYPLCklUaiLzBpXQw9eCaylqb4fFP0JfwwyR0OLOw06UXsq76QQeHDFI+9nEWQkM42OXtZKeXl/jYKPH4+OQ3wcSME0lxeTBlCvX+5osIfmcfiNXHH9olabAaOfOb2TwswQIN5E/wgE/7BuyJEi3UKY3CmZPYlnTZkWlFPKOYzjnNwtG12siIQBFmqygfagUO1vnW4IwLLE3itsq8hWM4X6NHqAtH+dCa8Fu900Ftf69k7T9Hh63L6xirLzwWQh9MI0m6fnoymVq0FOQi3gcn5//CLm+SZP5yMV3UVlm1tgn6SXTugPWeVwjVkiKBiuz6EJjUcjHOeUeLwhME3KM5G3hweGwAxRDdb2EInrAFoBlmKpmQdZWrldIbnpeZyF/qIU58uHAZWYMkX9L0TYdupOo6VrSm8Rp6jwp1/eUeb1qi9x7cZh/R1DL8cettHXqy7PLNByxvdr3yLaKtSV8+CU3h1tQDO2A5DC/cp1Vy9x0BVmhpumaq9jEs6Cmm0rHxkXDE4bPI/tQbBKHJRZLOsw+oNK8KFg7odclXndkN/K6Ua9LvS7tdWOvG/e6iddNjK6CcSJryh+hz71o9GtR12JH8G2Pv1B1RVAVasiiG/3QbaJTuF2gBtuMPMGSIJhq+OpsKGboyeyMZGLcnXWN9qLVz2wNZoyb5wxmn7qbHT5zth3/XS5mJZUUujPfs6LfNGdd4jVVMBUaWEpaSI/9ZbE4zbAo78wOTF1rTq/SRTrpLl08tstM28EB5/6ZrOdIEeww7zruXP+9uJkm08l8PLxZjC6GaZLeDKfzFKR4GS2iaRLNp+P/3J31H+CX/wMAAP//AwBQSwMEFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAB3b3JkL3N0eWxlcy54bWy8nV1z27oRhu870//A0VV7kcjyh5x4jnPGdpLa0zjHJ7Kba4iEJNQgoZJUbPfXFwApCfISFBfc+iaxKO0DEC/eJZYf0m+/P6cy+sXzQqjsfDB6fzCIeBarRGTz88HD/dd3HwZRUbIsYVJl/HzwwovB75/++pffns6K8kXyItKArDhL4/PBoiyXZ8NhES94yor3askz/eZM5Skr9ct8PkxZ/rhavotVumSlmAopypfh4cHBeFBj8i4UNZuJmH9W8SrlWWnjhzmXmqiyYiGWxZr21IX2pPJkmauYF4Xe6VRWvJSJbIMZHQNQKuJcFWpWvtc7U/fIonT46MD+lcot4AQHOASAccyfcYwPNWOoI12OSHCc8YYjEocT1hkHUCRlskBRDtfjOjSxrGQLVixcIsd16mSDe0nNGKXx2c08UzmbSk3SqkdauMiCzb96/81/9k/+bLebXRh80l5IVPyZz9hKloV5md/l9cv6lf3vq8rKIno6Y0UsxL3uoG4lFbrB64usEAP9DmdFeVEI1vjmwvzR+E5clM7mS5GIwdC0+MjzTL/9i8nzwWG1qfjvZsNmy5Xp1M42ybL5ehvP3j1M3M45m6a6qfMBy99NLmzg6PhMijkrV7lODOaVJVT5I0+u9P7z53LFpPnwsB6Y6n9nuJavX9leLlksbKfYrOQ6TYzGB6YHUpisdHjycf3ix8qIx1alqhuxgOr/DXYIFNPZQ+eSSZXS9Lt89k3FjzyZlPqN84FtS298uLnLhcp12joffLRt6o0TnoprkSQ8cz6YLUTCfy549lDwZLv9z6829dQbYrXK9N9Hp2M7i2SRfHmO+dIkMv1uxoym302ANJ9eiW3jNvw/a9iolq0pfsGZyebR6DXCdh+FODQRhbO3zczVq323n0I1dPRWDR2/VUMnb9XQ+K0aOn2rhj68VUMW8/9sSGSJPnDYz8NmAHUfx+NGNMdjNjTH4yU0x2MVNMfjBDTHM9HRHM88RnM80xTBKVXsm4XOZD/yzPZ27v5jRBh3/yEhjLv/CBDG3Z/ww7j783sYd386D+Puz95h3P3JGs+tllrRjbZZVvZ22UypMlMlj8yitzeNZZplS1wanjno8ZxkJwkwVWarD8S9aTGzr/fPEGvS8ON5aSrFSM2imZibkqd3x3n2i0u15BFLEs0jBOZcF2WeEQmZ0zmf8ZxnMaec2HRQUwlG2SqdEszNJZuTsXiWEA/fmkiSFDYTWtfPC2MSQTCpUxbnqn/XFCPLD99E0X+sDCS6XEnJiVjfaaaYZfWvDSymf2lgMf0rA4vpXxg4mlENUU0jGqmaRjRgNY1o3Kr5STVuNY1o3Goa0bjVtP7jdi9KaVO8u+oYdT93dyWVuSjRux8TMc/sWdnepPqcaXTHcjbP2XIRmbPazVh3n7HtXKrkJbqnOKZtSFTrejtFzLlska36D+gOjcpcGx6RvTY8IoNteP0tdquXyWaBdk1Tz0xW07LRtJbUybQTJlfVgra/21jZf4ZtDfBV5AWZDZqxBDP4u1nOGjkpMt+2l/07tmX1t9XrrETavRpJ0Eup4keaNHz9suS5Lssee5O+KinVE0/oiJMyV9Vccy1/aCXpZPkv6XLBCmFrpR1E90P9+naG6JYte+/QnWQio9Hty7uUCRnRrSCu72+/RfdqacpMMzA0wEtVliolY9ZnAv/2k0//TtPBC10EZy9Ee3tBdHrIwq4EwUGmIqmEiKSXmSITJMdQy/snf5kqlic0tLucV3cQlZyIOGHpslp0EHhL58UnnX8IVkOW9y+WC3NeiMpU9yQw57RhsZr+m8f9U913FZGcGfpjVdrzj3apa6PpcP2XCTu4/ksEq6Y+PJj5S7CzO7j+O7uDo9rZK8mKQngvoQbzqHZ3zaPe3/7FX81TUuWzlaQbwDWQbATXQLIhVHKVZgXlHlse4Q5bHvX+Ek4ZyyM4JWd5/8hFQiaGhVEpYWFUMlgYlQYWRipA/zt0HFj/23QcWP97dSoY0RLAgVHNM9LDP9FVHgdGNc8sjGqeWRjVPLMwqnl29Dnis5leBNMdYhwk1ZxzkHQHmqzk6VLlLH8hQn6RfM4ITpBWtLtczcyjJSqrbuImQJpz1JJwsV3hqET+yadkXTMsyn4RnBFlUipFdG5te8Cxkbv3ru0Ls0+C9O7CnWQxXyiZ8NyzT/5YXS9PqscyXnffdqPTac9vYr4oo8lic7bfxYwP9kauC/adsP0NNo35eP3wS1PYLU/EKl13FD5MMT7qHmxn9E7w8f7g7UpiJ/KkYyRsc7w/crtK3ok87RgJ2/zQMdL6dCeyzQ+fWf7YOBFO2+bPpsbzTL7Ttlm0CW5stm0ibSKbpuBp2yzasUp0EcfmagFUp5tn/PHdzOOPx7jIT8HYyU/p7Cs/os1gP/gvYY7smKRp29vcPQHyvl1Ed8qcf65Udd5+54JT94e6bvTCKSt41Mg56n7haifL+Mexc7rxIzrnHT+icwLyIzplIm84KiX5KZ1zkx/ROUn5EehsBY8IuGwF43HZCsaHZCtICclWPVYBfkTn5YAfgTYqRKCN2mOl4EegjArCg4wKKWijQgTaqBCBNipcgOGMCuNxRoXxIUaFlBCjQgraqBCBNipEoI0KEWijQgTaqIFre294kFEhBW1UiEAbFSLQRrXrxR5GhfE4o8L4EKNCSohRIQVtVIhAGxUi0EaFCLRRIQJtVIhAGRWEBxkVUtBGhQi0USECbdTqUcNwo8J4nFFhfIhRISXEqJCCNipEoI0KEWijQgTaqBCBNipEoIwKwoOMCiloo0IE2qgQgTaqvVjYw6gwHmdUGB9iVEgJMSqkoI0KEWijQgTaqBCBNipEoI0KESijgvAgo0IK2qgQgTYqRLTNz/oSpe82+xH+rKf3jv3ul67qTv1wH+V2UUfdUete+Vndn0W4VOoxanzw8MjWG90gYiqFsqeoPZfVXa69JQJ14fOPq/YnfFx6zy9dqp+FsNdMAfy4ayQ4p3LcNuXdSFDkHbfNdDcSrDqP27KvGwkOg8dtSdf6cn1Tij4cgeC2NOMEjzzhbdnaCYdD3JajnUA4wm2Z2QmEA9yWj53Ak8gk59fRJx3Haby5vxQQ2qajQzj1E9qmJdRqnY6hMbqK5id0Vc9P6Cqjn4DS04vBC+tHoRX2o8KkhjbDSh1uVD8BKzUkBEkNMOFSQ1Sw1BAVJjVMjFipIQErdXhy9hOCpAaYcKkhKlhqiAqTGh7KsFJDAlZqSMBK3fOA7MWESw1RwVJDVJjUcHGHlRoSsFJDAlZqSAiSGmDCpYaoYKkhKkxqUCWjpYYErNSQgJUaEoKkBphwqSEqWGqIapPankXZkRqlsBOOW4Q5gbgDshOIS85OYEC15EQHVksOIbBaglqtNcdVS65ofkJX9fyErjL6CSg9vRi8sH4UWmE/KkxqXLXUJHW4Uf0ErNS4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1OHJ2U8IkhpXLbVKjauWWqXGVUt+qXHVUpPUuGqpSWpctdQkdc8DshcTLjWuWmqVGlct+aXGVUtNUuOqpSapcdVSk9S4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1LhqqUlqXLXklRpXLbVKjauWWqXGVUu3OkQQfAXUJGV5GdF9X9w1KxYl6//lhA9Zzgslf/Ekot3Vb6i9HD7t/PyVYdvf9tOfL/WYmW9Adx5XSqpvgK2B9oM3yeZnqkyw6UlU/3pYvdl2uL5cW7VoA2FT8UK3FdffXeVpqv4O2s1DVPYbaF837PmiWtuR7QRcf7oe0u14VZ/bGa3Wfpdmwrf02RqidYwqz/g6+LFOAvt6qPszldVPpuk/brJEA57qnwurepo8swql37/iUt6y6tNq6f+o5LOyend0YL+y4NX70+rb97zxuU3TXsBwtzPVy/pn2zzjXX0ff33/gHdKmlzUMNz2Zpa+I73t2/qv4tP/AAAA//8DAFBLAwQUAAYACAAAACEA7wopTk4BAAB+AwAAFAAAAHdvcmQvd2ViU2V0dGluZ3MueG1snNNfa8IwEADw98G+Q8m7psoUKVZhDMdexmDbB4jp1YYluZKLq+7T79qpc/hi95L/9+MuIfPlztnkEwIZ9LkYDVORgNdYGL/JxfvbajATCUXlC2XRQy72QGK5uL2ZN1kD61eIkU9SwoqnzOlcVDHWmZSkK3CKhliD580Sg1ORp2EjnQof23qg0dUqmrWxJu7lOE2n4sCEaxQsS6PhAfXWgY9dvAxgWURPlanpqDXXaA2Gog6ogYjrcfbHc8r4EzO6u4Cc0QEJyzjkYg4ZdRSHj9Ju5OwvMOkHjC+AqYZdP2N2MCRHnjum6OdMT44pzpz/JXMGUBGLqpcyPt6rbGNVVJWi6lyEfklNTtzetXfkdPa08RjU2rLEr57wwyUd3LZcf9t1Q9h1620JYsEfAutonPmCFYb7gA1BkO2yshabl+dHnsg/v2bxDQAA//8DAFBLAwQUAAYACAAAACEAmaU8RAICAACCBwAAEgAAAHdvcmQvZm9udFRhYmxlLnhtbNyT24rbMBCG7wt9B6P7jWXnsKlZZ+m2GyiUXizbB1BkORbVwWiUOHn7jmQnDYTAutBC6wtb/kfzeea35uHxoFWyFw6kNSXJJpQkwnBbSbMtyffX9d2SJOCZqZiyRpTkKIA8rt6/e+iK2hoPCeYbKDQvSeN9W6Qp8EZoBhPbCoPB2jrNPL66baqZ+7Fr77jVLfNyI5X0xzSndEEGjHsLxda15OKz5TstjI/5qRMKidZAI1s40bq30DrrqtZZLgCwZ616nmbSnDHZ7AqkJXcWbO0n2MxQUURhekbjSqtfgPk4QH4FWHBxGMdYDowUMy85shrHWZw5srrg/F4xFwCofNWMouQnX9OQyzxrGDSXRDGuqPkZd9TBI82LL1tjHdsoJOFfT/DHJREc7th/eMSlOEQ9tEBWwygkXWGYxsxPTMmNkzHQMmNBZBjbM1US7GFN5zT0ktMZnYY7ScNG3jAHIkD6jbSXa6alOp5U6CRAH2il581J3zMnQ9V9COQWAzvY0JI8zyjNn9dr0isZVkdRmd0/DUoevhWvD4MyPSs0KDxy4mvWc3jknPfgN9PegSsnPmJZ6oYPT3SBDvRORDf+rA+h6ysf7pfzv+LDq9QCkm+iS16sZuaGIzk6MsXTMYsnZDrKERe5/44jw4wkX+W28TcnJczHfzopwwJWPwEAAP//AwBQSwMEFAAGAAgAAAAhADFTaSlyAQAA8wIAABEACAFkb2NQcm9wcy9jb3JlLnhtbCCiBAEooAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIySTW/CMAxA75P2H6rcS1JgaKraon2I05AmjYlpt5AYyGiTKAkU/v3SlpZVcNjNjp9fXSfJ9FjkwQGMFUqmKBoQFIBkigu5SdHnYhY+osA6KjnNlYQUncCiaXZ/lzAdM2Xg3SgNxgmwgTdJGzOdoq1zOsbYsi0U1A48IX1xrUxBnU/NBmvKdnQDeEjIBBfgKKeO4koY6s6IzkrOOqXem7wWcIYhhwKkszgaRPjCOjCFvdlQV/6QhXAnDTfRttjRRys6sCzLQTmqUT9/hL/mbx/1r4ZCVrtigLKEs9gJl0OW4EvoI7tf/QBzzXGX+JgZoE6ZbEkhD55Wap8v6ZrWWFuqlr6DU6kMt17QyzzGwTIjtPNX2eh7B57OqXVzf7drAfz5dPWla6JqMnAQ1evIhjXRpcl51c10wAO/orhZaFtZjl5eFzOUDclwFJJJSB4X0Sgej2NCvqsBe/0XYXEe4P/Gh76xFTQ76j/T7BcAAP//AwBQSwMEFAAGAAgAAAAhAGS2FjhvAQAAxwIAABAACAFkb2NQcm9wcy9hcHAueG1sIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnFJNS8QwEL0L/ofS+zbtCiIyG5EV8eDHwlb3HJJpG0yTkETZ/fdO7W6teDOneW8yj/cmgZt9b7JPDFE7u8qroswztNIpbdtV/lrfL67yLCZhlTDO4io/YMxv+PkZbILzGJLGmJGEjau8S8lfMxZlh72IBbUtdRoXepEIhpa5ptES75z86NEmtizLS4b7hFahWvhJMB8Vrz/Tf0WVk4O/+FYfPOlxqLH3RiTkz8OkKZRLPbCJhdolYWrdI6+IngBsRItx4MYCdi6oyJfAxgLWnQhCJtofr4idQbj13mgpEi2WP2kZXHRNyl6+3WbDOLD5FaAEW5QfQacDL4HNITxqO9oYC7IVRBuE747eJgRbKQyuKTtvhIkI7IeAteu9sCTHpor03uOrr93dsIbjyG9ylnGnU7f1Qg5eLuZpZw3YEouK7E8OJgIe6DmCGeRp1raoTnf+Nob9vY3/kleXRUnne2EnjmJPH4Z/AQAA//8DAFBLAQItABQABgAIAAAAIQDfpNJsWgEAACAFAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhAB6RGrfvAAAATgIAAAsAAAAAAAAAAAAAAAAAkwMAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAAAAAAAAAAAAAAAswYAAHdvcmQvZG9jdW1lbnQueG1sUEsBAi0AFAAGAAgAAAAhANZks1H0AAAAMQMAABwAAAAAAAAAAAAAAAAAxwkAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNQSwECLQAUAAYACAAAACEAtvRnmNIGAADJIAAAFQAAAAAAAAAAAAAAAAD9CwAAd29yZC90aGVtZS90aGVtZTEueG1sUEsBAi0AFAAGAAgAAAAhAM/BaAMRBAAAxgsAABEAAAAAAAAAAAAAAAAAAhMAAHdvcmQvc2V0dGluZ3MueG1sUEsBAi0AFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAAAAAAAAAAAAAAAQhcAAHdvcmQvc3R5bGVzLnhtbFBLAQItABQABgAIAAAAIQDvCilOTgEAAH4DAAAUAAAAAAAAAAAAAAAAABQjAAB3b3JkL3dlYlNldHRpbmdzLnhtbFBLAQItABQABgAIAAAAIQCZpTxEAgIAAIIHAAASAAAAAAAAAAAAAAAAAJQkAAB3b3JkL2ZvbnRUYWJsZS54bWxQSwECLQAUAAYACAAAACEAMVNpKXIBAADzAgAAEQAAAAAAAAAAAAAAAADGJgAAZG9jUHJvcHMvY29yZS54bWxQSwECLQAUAAYACAAAACEAZLYWOG8BAADHAgAAEAAAAAAAAAAAAAAAAABvKQAAZG9jUHJvcHMvYXBwLnhtbFBLBQYAAAAACwALAMECAAAULAAAAAA="
                        }
                      },
                      "type": "object"
                    }
                  },
                  "userid": {
                    "type": "integer",
                    "description": "Accepted values can be found in users/list , field : userid",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl -X POST https://chiapi.chameleoni.com/company/add"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Company"
        ]
      }
    },
    "/client/add": {
      "post": {
        "summary": "Add",
        "description": "This endpoint is used to create new client in Chameleon-i database",
        "operationId": "client-add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "surname",
                  "company_name"
                ],
                "properties": {
                  "surname": {
                    "type": "string",
                    "description": "Client surname",
                    "default": "testsurname"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Company this client belong to",
                    "default": "test company"
                  },
                  "forename": {
                    "type": "string",
                    "description": "Client forename",
                    "default": "Client forename"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email . if supplied must be a valid email address"
                  },
                  "jobtitle": {
                    "type": "string",
                    "description": "Job title"
                  },
                  "mobiletelno": {
                    "type": "string",
                    "description": "Mobile telephone number"
                  },
                  "worktelno": {
                    "type": "string",
                    "description": "Work telephone number"
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "LinkedIn profile"
                  },
                  "title": {
                    "type": "integer",
                    "description": "Accepted values can be found in \"lookups\" field \"title\"",
                    "default": 6,
                    "format": "int32"
                  },
                  "priority": {
                    "type": "integer",
                    "description": "Accepted values can be found in \"lookups\" field \"priority\"",
                    "default": 7512,
                    "format": "int32"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "the only accepted value is \"attachment\"",
                          "default": "attachment"
                        },
                        "filename": {
                          "type": "string",
                          "description": "the name of file that will appear under entity \"Attached files\"",
                          "default": "filename.docx"
                        },
                        "content": {
                          "type": "string",
                          "description": "Base64 contents",
                          "default": "UEsDBBQABgAIAAAAIQDfpNJsWgEAACAFAAATAAgCW0NvbnRlbnRfVHlwZXNdLnhtbCCiBAIooAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC0lMtuwjAQRfeV+g+Rt1Vi6KKqKgKLPpYtUukHGHsCVv2Sx7z+vhMCUVUBkQpsIiUz994zVsaD0dqabAkRtXcl6xc9loGTXmk3K9nX5C1/ZBkm4ZQw3kHJNoBsNLy9GUw2ATAjtcOSzVMKT5yjnIMVWPgAjiqVj1Ykeo0zHoT8FjPg973eA5feJXApT7UHGw5eoBILk7LXNX1uSCIYZNlz01hnlUyEYLQUiep86dSflHyXUJBy24NzHfCOGhg/mFBXjgfsdB90NFEryMYipndhqYuvfFRcebmwpCxO2xzg9FWlJbT62i1ELwGRztyaoq1Yod2e/ygHpo0BvDxF49sdDymR4BoAO+dOhBVMP69G8cu8E6Si3ImYGrg8RmvdCZFoA6F59s/m2NqciqTOcfQBaaPjP8ber2ytzmngADHp039dm0jWZ88H9W2gQB3I5tv7bfgDAAD//wMAUEsDBBQABgAIAAAAIQAekRq37wAAAE4CAAALAAgCX3JlbHMvLnJlbHMgogQCKKAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArJLBasMwDEDvg/2D0b1R2sEYo04vY9DbGNkHCFtJTBPb2GrX/v082NgCXelhR8vS05PQenOcRnXglF3wGpZVDYq9Cdb5XsNb+7x4AJWFvKUxeNZw4gyb5vZm/cojSSnKg4tZFYrPGgaR+IiYzcAT5SpE9uWnC2kiKc/UYySzo55xVdf3mH4zoJkx1dZqSFt7B6o9Rb6GHbrOGX4KZj+xlzMtkI/C3rJdxFTqk7gyjWop9SwabDAvJZyRYqwKGvC80ep6o7+nxYmFLAmhCYkv+3xmXBJa/ueK5hk/Nu8hWbRf4W8bnF1B8wEAAP//AwBQSwMEFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAB3b3JkL2RvY3VtZW50LnhtbKSWyW7bMBBA7wX6D4LuCbV4ixA7aJO4yKFA0LQfQFO0RYQbSHrr13eoxXKrNJCVC0UOOW9Gw+GQt3cHwYMdNZYpOQ/j6ygMqCQqZ3IzD3/9XF7NwsA6LHPMlaTz8EhteLf4/Ol2n+WKbAWVLgCEtNlek3lYOKczhCwpqMD2WjBilFVrd02UQGq9ZoSivTI5SqI4KnvaKEKtBXv3WO6wDWscOfSj5QbvQdkDR4gU2Dh6aBnxxZAxukGzLigZAII/TOIuKr0YNUHeqw5oNAgEXnVI42GkN35uMoyUdEnTYaS0S5oNI3XSSXQTXGkqYXKtjMAOhmaDBDavW30FYI0dWzHO3BGY0aTBYCZfB3gEWieCSPOLCVMkVE55mjcUNQ+3Rma1/tVJ37ueVfr156RBeT+zYO4G0YPj1jW6pk/sKvWHurCUUUOGcoijkrZg+lQdxFAaTBYNZPdeAHaCN+v2Ou551P5X2h6qbWiBfdyv907wyvP3iXHUYzc94qTRx4W/bTaeCMjg1vCg0JwFN+5ZfBpA0gFMCO15WTSMWc1ApD3dnsN6HquGU+2K57A2sHHPGvivM2cAm7u8uIiSNHFFXhc7XGB7SnRPpJc5NT7hjuIsRnrzsYPwzaitbmnsY7SntiTu/ePkAlZ9oM4Puf2YMy8F1lApBcmeNlIZvOLgERyPADI8KHfAt5Ao/lN26aGU+70OfI0JF/CqWqn86L8a5kaZxgY/QVImy3Qa3cTLsJTCneS8NP2ynD6OZ1OQZvCCy3/MwwhWjeNpK3qga7zlzs/cP46Sr2lpxfjGLZaM04Ao6aA+2lvkRb41Zav9GkuJezZv8EsfNy+/YQpKSZwko8jbhKyNxzPoo2rBd+yVnYKKF4+qJYZtCtcOV8o5Jdoxp+uz2YLinMLdMU3K4VopdzbcbF05rM0RxS1IrcaEVmtKMTxUvxkf94wzSZ+ZI+BlOilnUfOLZbcKPmrftos/AAAA//8DAFBLAwQUAAYACAAAACEA1mSzUfQAAAAxAwAAHAAIAXdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHMgogQBKKAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACskstqwzAQRfeF/oOYfS07fVBC5GxKIdvW/QBFHj+oLAnN9OG/r0hJ69BguvByrphzz4A228/BineM1HunoMhyEOiMr3vXKnipHq/uQRBrV2vrHSoYkWBbXl5sntBqTkvU9YFEojhS0DGHtZRkOhw0ZT6gSy+Nj4PmNMZWBm1edYtyled3Mk4ZUJ4wxa5WEHf1NYhqDPgftm+a3uCDN28DOj5TIT9w/4zM6ThKWB1bZAWTMEtEkOdFVkuK0B+LYzKnUCyqwKPFqcBhnqu/XbKe0y7+th/G77CYc7hZ0qHxjiu9txOPn+goIU8+evkFAAD//wMAUEsDBBQABgAIAAAAIQC29GeY0gYAAMkgAAAVAAAAd29yZC90aGVtZS90aGVtZTEueG1s7FlLixtHEL4H8h+Guct6zehhrDXSSPJr1zbetYOPvVJrpq2eadHd2rUwhmCfcgkEnJBDDLnlEEIMMcTkkh9jsEmcH5HqHkkzLfXEj12DCbuCVT++qv66qrq6NHPh4v2YOkeYC8KSjls9V3EdnIzYmCRhx719MCy1XEdIlIwRZQnuuAss3Is7n392AZ2XEY6xA/KJOI86biTl7Hy5LEYwjMQ5NsMJzE0Yj5GELg/LY46OQW9My7VKpVGOEUlcJ0ExqL0xmZARdg6USndnpXxA4V8ihRoYUb6vVGNDQmPH06r6EgsRUO4cIdpxYZ0xOz7A96XrUCQkTHTciv5zyzsXymshKgtkc3JD/beUWwqMpzUtx8PDtaDn+V6ju9avAVRu4wbNQWPQWOvTADQawU5TLqbOZi3wltgcKG1adPeb/XrVwOf017fwXV99DLwGpU1vCz8cBpkNc6C06W/h/V671zf1a1DabGzhm5Vu32saeA2KKEmmW+iK36gHq92uIRNGL1vhbd8bNmtLeIYq56IrlU9kUazF6B7jQwBo5yJJEkcuZniCRoALECWHnDi7JIwg8GYoYQKGK7XKsFKH/+rj6Zb2KDqPUU46HRqJrSHFxxEjTmay414FrW4O8urFi5ePnr989PvLx49fPvp1ufa23GWUhHm5Nz9988/TL52/f/vxzZNv7XiRx7/+5avXf/z5X+qlQeu7Z6+fP3v1/dd//fzEAu9ydJiHH5AYC+c6PnZusRg2aFkAH/L3kziIEMlLdJNQoAQpGQt6ICMDfX2BKLLgeti04x0O6cIGvDS/ZxDej/hcEgvwWhQbwD3GaI9x656uqbXyVpgnoX1xPs/jbiF0ZFs72PDyYD6DuCc2lUGEDZo3KbgchTjB0lFzbIqxRewuIYZd98iIM8Em0rlLnB4iVpMckEMjmjKhyyQGvyxsBMHfhm327jg9Rm3q+/jIRMLZQNSmElPDjJfQXKLYyhjFNI/cRTKykdxf8JFhcCHB0yGmzBmMsRA2mRt8YdC9BmnG7vY9uohNJJdkakPuIsbyyD6bBhGKZ1bOJIny2CtiCiGKnJtMWkkw84SoPvgBJYXuvkOw4e63n+3bkIbsAaJm5tx2JDAzz+OCThC2Ke/y2EixXU6s0dGbh0Zo72JM0TEaY+zcvmLDs5lh84z01QiyymVss81VZMaq6idYQK2kihuLY4kwQnYfh6yAz95iI/EsUBIjXqT5+tQMmQFcdbE1XuloaqRSwtWhtZO4IWJjf4Vab0bICCvVF/Z4XXDDf+9yxkDm3gfI4PeWgcT+zrY5QNRYIAuYAwRVhi3dgojh/kxEHSctNrfKTcxDm7mhvFH0xCR5awW0Ufv4H6/2gQrj1Q9PLdjTqXfswJNUOkXJZLO+KcJtVjUB42Py6Rc1fTRPbmK4RyzQs5rmrKb539c0Ref5rJI5q2TOKhm7yEeoZLLiRT8CWj3o0Vriwqc+E0LpvlxQvCt02SPg7I+HMKg7Wmj9kGkWQXO5nIELOdJthzP5BZHRfoRmsExVrxCKpepQODMmoHDSw1bdaoLO4z02Tker1dVzTRBAMhuHwms1DmWaTEcbzewB3lq97oX6QeuKgJJ9HxK5xUwSdQuJ5mrwLST0zk6FRdvCoqXUF7LQX0uvwOXkIPVI3PdSRhBuENJj5adUfuXdU/d0kTHNbdcs22srrqfjaYNELtxMErkwjODy2Bw+ZV+3M5ca9JQptmk0Wx/D1yqJbOQGmpg95xjOXN0HNSM067gT+MkEzXgG+oTKVIiGSccdyaWhPySzzLiQfSSiFKan0v3HRGLuUBJDrOfdQJOMW7XWVHv8RMm1K5+e5fRX3sl4MsEjWTCSdWEuVWKdPSFYddgcSO9H42PnkM75LQSG8ptVZcAxEXJtzTHhueDOrLiRrpZH0Xjfkh1RRGcRWt4o+WSewnV7TSe3D810c1dmf7mZw1A56cS37tuF1EQuaRZcIOrWtOePj3fJ51hled9glabuzVzXXuW6olvi5BdCjlq2mEFNMbZQy0ZNaqdYEOSWW4dm0R1x2rfBZtSqC2JVV+re1ottdngPIr8P1eqcSqGpwq8WjoLVK8k0E+jRVXa5L505Jx33QcXvekHND0qVlj8oeXWvUmr53Xqp6/v16sCvVvq92kMwioziqp+uPYQf+3SxfG+vx7fe3cerUvvciMVlpuvgshbW7+6rteJ39w4Byzxo1IbtervXKLXr3WHJ6/dapXbQ6JX6jaDZH/YDv9UePnSdIw32uvXAawxapUY1CEpeo6Lot9qlplerdb1mtzXwug+Xtoadr75X5tW8dv4FAAD//wMAUEsDBBQABgAIAAAAIQDPwWgDEQQAAMYLAAARAAAAd29yZC9zZXR0aW5ncy54bWy0Vt9v2zgMfj/g/ofAz5f6R5w0NZYOTdNcOzS3Ye6wZ9lSYqGWZEhy0uxw//tRshSn6zCkG/qS0PzIjzRFkX73/onVgy2Rigo+C+KzKBgQXgpM+WYWfHlYDqfBQGnEMaoFJ7NgT1Tw/vLPP97tMkW0BjM1AAquMlbOgkrrJgtDVVaEIXUmGsIBXAvJkIZHuQkZko9tMywFa5CmBa2p3odJFE0CRyNmQSt55iiGjJZSKLHWxiUT6zUtifvzHvKUuJ3LQpQtI1zbiKEkNeQguKpoozwb+1U2ACtPsv3ZS2xZ7e12cXTC6+6ExAePU9IzDo0UJVEKDojVPkHK+8DpC6JD7DOI7V7RUoF7HFnpOPPx6wiSFwSTkjy9jmPqOELwPOah+HU8kwMP7QsbT34tmSMChTWuXsWS+LqGxhdpVCF16CLDSF6X1PhAt2d9jVR9Std00D0tJJLdnXQtw8rsbsOFREUN6UDrDOD0BzY78wtFNH9WJE9Wb+oQXMKM+CYEG+yyhsgSLgoMmCgKQgNgskZtrR9QkWvRgMkWQZLniYPLCklUaiLzBpXQw9eCaylqb4fFP0JfwwyR0OLOw06UXsq76QQeHDFI+9nEWQkM42OXtZKeXl/jYKPH4+OQ3wcSME0lxeTBlCvX+5osIfmcfiNXHH9olabAaOfOb2TwswQIN5E/wgE/7BuyJEi3UKY3CmZPYlnTZkWlFPKOYzjnNwtG12siIQBFmqygfagUO1vnW4IwLLE3itsq8hWM4X6NHqAtH+dCa8Fu900Ftf69k7T9Hh63L6xirLzwWQh9MI0m6fnoymVq0FOQi3gcn5//CLm+SZP5yMV3UVlm1tgn6SXTugPWeVwjVkiKBiuz6EJjUcjHOeUeLwhME3KM5G3hweGwAxRDdb2EInrAFoBlmKpmQdZWrldIbnpeZyF/qIU58uHAZWYMkX9L0TYdupOo6VrSm8Rp6jwp1/eUeb1qi9x7cZh/R1DL8cettHXqy7PLNByxvdr3yLaKtSV8+CU3h1tQDO2A5DC/cp1Vy9x0BVmhpumaq9jEs6Cmm0rHxkXDE4bPI/tQbBKHJRZLOsw+oNK8KFg7odclXndkN/K6Ua9LvS7tdWOvG/e6iddNjK6CcSJryh+hz71o9GtR12JH8G2Pv1B1RVAVasiiG/3QbaJTuF2gBtuMPMGSIJhq+OpsKGboyeyMZGLcnXWN9qLVz2wNZoyb5wxmn7qbHT5zth3/XS5mJZUUujPfs6LfNGdd4jVVMBUaWEpaSI/9ZbE4zbAo78wOTF1rTq/SRTrpLl08tstM28EB5/6ZrOdIEeww7zruXP+9uJkm08l8PLxZjC6GaZLeDKfzFKR4GS2iaRLNp+P/3J31H+CX/wMAAP//AwBQSwMEFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAB3b3JkL3N0eWxlcy54bWy8nV1z27oRhu870//A0VV7kcjyh5x4jnPGdpLa0zjHJ7Kba4iEJNQgoZJUbPfXFwApCfISFBfc+iaxKO0DEC/eJZYf0m+/P6cy+sXzQqjsfDB6fzCIeBarRGTz88HD/dd3HwZRUbIsYVJl/HzwwovB75/++pffns6K8kXyItKArDhL4/PBoiyXZ8NhES94yor3askz/eZM5Skr9ct8PkxZ/rhavotVumSlmAopypfh4cHBeFBj8i4UNZuJmH9W8SrlWWnjhzmXmqiyYiGWxZr21IX2pPJkmauYF4Xe6VRWvJSJbIMZHQNQKuJcFWpWvtc7U/fIonT46MD+lcot4AQHOASAccyfcYwPNWOoI12OSHCc8YYjEocT1hkHUCRlskBRDtfjOjSxrGQLVixcIsd16mSDe0nNGKXx2c08UzmbSk3SqkdauMiCzb96/81/9k/+bLebXRh80l5IVPyZz9hKloV5md/l9cv6lf3vq8rKIno6Y0UsxL3uoG4lFbrB64usEAP9DmdFeVEI1vjmwvzR+E5clM7mS5GIwdC0+MjzTL/9i8nzwWG1qfjvZsNmy5Xp1M42ybL5ehvP3j1M3M45m6a6qfMBy99NLmzg6PhMijkrV7lODOaVJVT5I0+u9P7z53LFpPnwsB6Y6n9nuJavX9leLlksbKfYrOQ6TYzGB6YHUpisdHjycf3ix8qIx1alqhuxgOr/DXYIFNPZQ+eSSZXS9Lt89k3FjzyZlPqN84FtS298uLnLhcp12joffLRt6o0TnoprkSQ8cz6YLUTCfy549lDwZLv9z6829dQbYrXK9N9Hp2M7i2SRfHmO+dIkMv1uxoym302ANJ9eiW3jNvw/a9iolq0pfsGZyebR6DXCdh+FODQRhbO3zczVq323n0I1dPRWDR2/VUMnb9XQ+K0aOn2rhj68VUMW8/9sSGSJPnDYz8NmAHUfx+NGNMdjNjTH4yU0x2MVNMfjBDTHM9HRHM88RnM80xTBKVXsm4XOZD/yzPZ27v5jRBh3/yEhjLv/CBDG3Z/ww7j783sYd386D+Puz95h3P3JGs+tllrRjbZZVvZ22UypMlMlj8yitzeNZZplS1wanjno8ZxkJwkwVWarD8S9aTGzr/fPEGvS8ON5aSrFSM2imZibkqd3x3n2i0u15BFLEs0jBOZcF2WeEQmZ0zmf8ZxnMaec2HRQUwlG2SqdEszNJZuTsXiWEA/fmkiSFDYTWtfPC2MSQTCpUxbnqn/XFCPLD99E0X+sDCS6XEnJiVjfaaaYZfWvDSymf2lgMf0rA4vpXxg4mlENUU0jGqmaRjRgNY1o3Kr5STVuNY1o3Goa0bjVtP7jdi9KaVO8u+oYdT93dyWVuSjRux8TMc/sWdnepPqcaXTHcjbP2XIRmbPazVh3n7HtXKrkJbqnOKZtSFTrejtFzLlska36D+gOjcpcGx6RvTY8IoNteP0tdquXyWaBdk1Tz0xW07LRtJbUybQTJlfVgra/21jZf4ZtDfBV5AWZDZqxBDP4u1nOGjkpMt+2l/07tmX1t9XrrETavRpJ0Eup4keaNHz9suS5Lssee5O+KinVE0/oiJMyV9Vccy1/aCXpZPkv6XLBCmFrpR1E90P9+naG6JYte+/QnWQio9Hty7uUCRnRrSCu72+/RfdqacpMMzA0wEtVliolY9ZnAv/2k0//TtPBC10EZy9Ee3tBdHrIwq4EwUGmIqmEiKSXmSITJMdQy/snf5kqlic0tLucV3cQlZyIOGHpslp0EHhL58UnnX8IVkOW9y+WC3NeiMpU9yQw57RhsZr+m8f9U913FZGcGfpjVdrzj3apa6PpcP2XCTu4/ksEq6Y+PJj5S7CzO7j+O7uDo9rZK8mKQngvoQbzqHZ3zaPe3/7FX81TUuWzlaQbwDWQbATXQLIhVHKVZgXlHlse4Q5bHvX+Ek4ZyyM4JWd5/8hFQiaGhVEpYWFUMlgYlQYWRipA/zt0HFj/23QcWP97dSoY0RLAgVHNM9LDP9FVHgdGNc8sjGqeWRjVPLMwqnl29Dnis5leBNMdYhwk1ZxzkHQHmqzk6VLlLH8hQn6RfM4ITpBWtLtczcyjJSqrbuImQJpz1JJwsV3hqET+yadkXTMsyn4RnBFlUipFdG5te8Cxkbv3ru0Ls0+C9O7CnWQxXyiZ8NyzT/5YXS9PqscyXnffdqPTac9vYr4oo8lic7bfxYwP9kauC/adsP0NNo35eP3wS1PYLU/EKl13FD5MMT7qHmxn9E7w8f7g7UpiJ/KkYyRsc7w/crtK3ok87RgJ2/zQMdL6dCeyzQ+fWf7YOBFO2+bPpsbzTL7Ttlm0CW5stm0ibSKbpuBp2yzasUp0EcfmagFUp5tn/PHdzOOPx7jIT8HYyU/p7Cs/os1gP/gvYY7smKRp29vcPQHyvl1Ed8qcf65Udd5+54JT94e6bvTCKSt41Mg56n7haifL+Mexc7rxIzrnHT+icwLyIzplIm84KiX5KZ1zkx/ROUn5EehsBY8IuGwF43HZCsaHZCtICclWPVYBfkTn5YAfgTYqRKCN2mOl4EegjArCg4wKKWijQgTaqBCBNipcgOGMCuNxRoXxIUaFlBCjQgraqBCBNipEoI0KEWijQgTaqIFre294kFEhBW1UiEAbFSLQRrXrxR5GhfE4o8L4EKNCSohRIQVtVIhAGxUi0EaFCLRRIQJtVIhAGRWEBxkVUtBGhQi0USECbdTqUcNwo8J4nFFhfIhRISXEqJCCNipEoI0KEWijQgTaqBCBNipEoIwKwoOMCiloo0IE2qgQgTaqvVjYw6gwHmdUGB9iVEgJMSqkoI0KEWijQgTaqBCBNipEoI0KESijgvAgo0IK2qgQgTYqRLTNz/oSpe82+xH+rKf3jv3ul67qTv1wH+V2UUfdUete+Vndn0W4VOoxanzw8MjWG90gYiqFsqeoPZfVXa69JQJ14fOPq/YnfFx6zy9dqp+FsNdMAfy4ayQ4p3LcNuXdSFDkHbfNdDcSrDqP27KvGwkOg8dtSdf6cn1Tij4cgeC2NOMEjzzhbdnaCYdD3JajnUA4wm2Z2QmEA9yWj53Ak8gk59fRJx3Haby5vxQQ2qajQzj1E9qmJdRqnY6hMbqK5id0Vc9P6Cqjn4DS04vBC+tHoRX2o8KkhjbDSh1uVD8BKzUkBEkNMOFSQ1Sw1BAVJjVMjFipIQErdXhy9hOCpAaYcKkhKlhqiAqTGh7KsFJDAlZqSMBK3fOA7MWESw1RwVJDVJjUcHGHlRoSsFJDAlZqSAiSGmDCpYaoYKkhKkxqUCWjpYYErNSQgJUaEoKkBphwqSEqWGqIapPankXZkRqlsBOOW4Q5gbgDshOIS85OYEC15EQHVksOIbBaglqtNcdVS65ofkJX9fyErjL6CSg9vRi8sH4UWmE/KkxqXLXUJHW4Uf0ErNS4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1OHJ2U8IkhpXLbVKjauWWqXGVUt+qXHVUpPUuGqpSWpctdQkdc8DshcTLjWuWmqVGlct+aXGVUtNUuOqpSapcdVSk9S4askrNa5aapUaVy21So2rlvxS46qlJqlx1VKT1LhqqUlqXLXklRpXLbVKjauWWqXGVUu3OkQQfAXUJGV5GdF9X9w1KxYl6//lhA9Zzgslf/Ekot3Vb6i9HD7t/PyVYdvf9tOfL/WYmW9Adx5XSqpvgK2B9oM3yeZnqkyw6UlU/3pYvdl2uL5cW7VoA2FT8UK3FdffXeVpqv4O2s1DVPYbaF837PmiWtuR7QRcf7oe0u14VZ/bGa3Wfpdmwrf02RqidYwqz/g6+LFOAvt6qPszldVPpuk/brJEA57qnwurepo8swql37/iUt6y6tNq6f+o5LOyend0YL+y4NX70+rb97zxuU3TXsBwtzPVy/pn2zzjXX0ff33/gHdKmlzUMNz2Zpa+I73t2/qv4tP/AAAA//8DAFBLAwQUAAYACAAAACEA7wopTk4BAAB+AwAAFAAAAHdvcmQvd2ViU2V0dGluZ3MueG1snNNfa8IwEADw98G+Q8m7psoUKVZhDMdexmDbB4jp1YYluZKLq+7T79qpc/hi95L/9+MuIfPlztnkEwIZ9LkYDVORgNdYGL/JxfvbajATCUXlC2XRQy72QGK5uL2ZN1kD61eIkU9SwoqnzOlcVDHWmZSkK3CKhliD580Sg1ORp2EjnQof23qg0dUqmrWxJu7lOE2n4sCEaxQsS6PhAfXWgY9dvAxgWURPlanpqDXXaA2Gog6ogYjrcfbHc8r4EzO6u4Cc0QEJyzjkYg4ZdRSHj9Ju5OwvMOkHjC+AqYZdP2N2MCRHnjum6OdMT44pzpz/JXMGUBGLqpcyPt6rbGNVVJWi6lyEfklNTtzetXfkdPa08RjU2rLEr57wwyUd3LZcf9t1Q9h1620JYsEfAutonPmCFYb7gA1BkO2yshabl+dHnsg/v2bxDQAA//8DAFBLAwQUAAYACAAAACEAmaU8RAICAACCBwAAEgAAAHdvcmQvZm9udFRhYmxlLnhtbNyT24rbMBCG7wt9B6P7jWXnsKlZZ+m2GyiUXizbB1BkORbVwWiUOHn7jmQnDYTAutBC6wtb/kfzeea35uHxoFWyFw6kNSXJJpQkwnBbSbMtyffX9d2SJOCZqZiyRpTkKIA8rt6/e+iK2hoPCeYbKDQvSeN9W6Qp8EZoBhPbCoPB2jrNPL66baqZ+7Fr77jVLfNyI5X0xzSndEEGjHsLxda15OKz5TstjI/5qRMKidZAI1s40bq30DrrqtZZLgCwZ616nmbSnDHZ7AqkJXcWbO0n2MxQUURhekbjSqtfgPk4QH4FWHBxGMdYDowUMy85shrHWZw5srrg/F4xFwCofNWMouQnX9OQyzxrGDSXRDGuqPkZd9TBI82LL1tjHdsoJOFfT/DHJREc7th/eMSlOEQ9tEBWwygkXWGYxsxPTMmNkzHQMmNBZBjbM1US7GFN5zT0ktMZnYY7ScNG3jAHIkD6jbSXa6alOp5U6CRAH2il581J3zMnQ9V9COQWAzvY0JI8zyjNn9dr0isZVkdRmd0/DUoevhWvD4MyPSs0KDxy4mvWc3jknPfgN9PegSsnPmJZ6oYPT3SBDvRORDf+rA+h6ysf7pfzv+LDq9QCkm+iS16sZuaGIzk6MsXTMYsnZDrKERe5/44jw4wkX+W28TcnJczHfzopwwJWPwEAAP//AwBQSwMEFAAGAAgAAAAhADFTaSlyAQAA8wIAABEACAFkb2NQcm9wcy9jb3JlLnhtbCCiBAEooAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIySTW/CMAxA75P2H6rcS1JgaKraon2I05AmjYlpt5AYyGiTKAkU/v3SlpZVcNjNjp9fXSfJ9FjkwQGMFUqmKBoQFIBkigu5SdHnYhY+osA6KjnNlYQUncCiaXZ/lzAdM2Xg3SgNxgmwgTdJGzOdoq1zOsbYsi0U1A48IX1xrUxBnU/NBmvKdnQDeEjIBBfgKKeO4koY6s6IzkrOOqXem7wWcIYhhwKkszgaRPjCOjCFvdlQV/6QhXAnDTfRttjRRys6sCzLQTmqUT9/hL/mbx/1r4ZCVrtigLKEs9gJl0OW4EvoI7tf/QBzzXGX+JgZoE6ZbEkhD55Wap8v6ZrWWFuqlr6DU6kMt17QyzzGwTIjtPNX2eh7B57OqXVzf7drAfz5dPWla6JqMnAQ1evIhjXRpcl51c10wAO/orhZaFtZjl5eFzOUDclwFJJJSB4X0Sgej2NCvqsBe/0XYXEe4P/Gh76xFTQ76j/T7BcAAP//AwBQSwMEFAAGAAgAAAAhAGS2FjhvAQAAxwIAABAACAFkb2NQcm9wcy9hcHAueG1sIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnFJNS8QwEL0L/ofS+zbtCiIyG5EV8eDHwlb3HJJpG0yTkETZ/fdO7W6teDOneW8yj/cmgZt9b7JPDFE7u8qroswztNIpbdtV/lrfL67yLCZhlTDO4io/YMxv+PkZbILzGJLGmJGEjau8S8lfMxZlh72IBbUtdRoXepEIhpa5ptES75z86NEmtizLS4b7hFahWvhJMB8Vrz/Tf0WVk4O/+FYfPOlxqLH3RiTkz8OkKZRLPbCJhdolYWrdI6+IngBsRItx4MYCdi6oyJfAxgLWnQhCJtofr4idQbj13mgpEi2WP2kZXHRNyl6+3WbDOLD5FaAEW5QfQacDL4HNITxqO9oYC7IVRBuE747eJgRbKQyuKTtvhIkI7IeAteu9sCTHpor03uOrr93dsIbjyG9ylnGnU7f1Qg5eLuZpZw3YEouK7E8OJgIe6DmCGeRp1raoTnf+Nob9vY3/kleXRUnne2EnjmJPH4Z/AQAA//8DAFBLAQItABQABgAIAAAAIQDfpNJsWgEAACAFAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhAB6RGrfvAAAATgIAAAsAAAAAAAAAAAAAAAAAkwMAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAD3F5a7lAgAAIQsAABEAAAAAAAAAAAAAAAAAswYAAHdvcmQvZG9jdW1lbnQueG1sUEsBAi0AFAAGAAgAAAAhANZks1H0AAAAMQMAABwAAAAAAAAAAAAAAAAAxwkAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNQSwECLQAUAAYACAAAACEAtvRnmNIGAADJIAAAFQAAAAAAAAAAAAAAAAD9CwAAd29yZC90aGVtZS90aGVtZTEueG1sUEsBAi0AFAAGAAgAAAAhAM/BaAMRBAAAxgsAABEAAAAAAAAAAAAAAAAAAhMAAHdvcmQvc2V0dGluZ3MueG1sUEsBAi0AFAAGAAgAAAAhAL55tS+lCwAAT3MAAA8AAAAAAAAAAAAAAAAAQhcAAHdvcmQvc3R5bGVzLnhtbFBLAQItABQABgAIAAAAIQDvCilOTgEAAH4DAAAUAAAAAAAAAAAAAAAAABQjAAB3b3JkL3dlYlNldHRpbmdzLnhtbFBLAQItABQABgAIAAAAIQCZpTxEAgIAAIIHAAASAAAAAAAAAAAAAAAAAJQkAAB3b3JkL2ZvbnRUYWJsZS54bWxQSwECLQAUAAYACAAAACEAMVNpKXIBAADzAgAAEQAAAAAAAAAAAAAAAADGJgAAZG9jUHJvcHMvY29yZS54bWxQSwECLQAUAAYACAAAACEAZLYWOG8BAADHAgAAEAAAAAAAAAAAAAAAAABvKQAAZG9jUHJvcHMvYXBwLnhtbFBLBQYAAAAACwALAMECAAAULAAAAAA="
                        }
                      },
                      "type": "object"
                    }
                  },
                  "note": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "note description",
                        "default": "note description"
                      },
                      "startdate": {
                        "type": "string",
                        "description": "Note start date . format DD-MMM-YYYY HH:mm:ss",
                        "default": "01-Jan-2023 15:30:00"
                      },
                      "notetypeid": {
                        "type": "integer",
                        "description": "Accepted values can be found in \"lookups\" field \"note_types\"",
                        "default": 10,
                        "format": "int32"
                      }
                    }
                  },
                  "userid": {
                    "type": "integer",
                    "description": "Accepted values can be found in users/list , field : userid",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "curl -X POST https://chiapi.chameleoni.com/client/add"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Client"
        ]
      }
    },
    "/company/update/{companyID}": {
      "post": {
        "summary": "Update",
        "description": "This endpoint is used to update an existing company in Chameleon-i database",
        "operationId": "company-update",
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "description": "Company ID",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 4107572
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Company name",
                    "default": "test company name2"
                  },
                  "email": {
                    "type": "string",
                    "description": "Company email address . if supplied must be a valid email address"
                  },
                  "maintelno": {
                    "type": "string",
                    "description": "Main telephone number"
                  },
                  "mainfaxno": {
                    "type": "string",
                    "description": "Main fax number"
                  },
                  "webpage": {
                    "type": "string",
                    "description": "Company Website"
                  },
                  "industry": {
                    "type": "integer",
                    "description": "Accepted values can be found in \"lookups\" field \"industry\"",
                    "default": 70732,
                    "format": "int32"
                  },
                  "status": {
                    "type": "integer",
                    "description": "Accepted values can be found in \"lookups\" field \"status\"",
                    "default": 1,
                    "format": "int32"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "the only accepted value is \"attachment\"",
                          "default": "attachment"
                        },
                        "filename": {
                          "type": "string",
                          "description": "the name of file that will appear under entity \"Attached files\"",
                          "default": "filename.docx"
                        },
                        "content": {
                          "type": "string",
                          "description": "Base64 contents",
[...]
