{
  "openapi": "3.0.1",
  "info": {
    "title": "Neon CRM API Reference",
    "version": "2.11",
    "description": "Welcome to the Neon CRM API v2. This version is a complete rebuild of the existing [API v1](https://developer.neoncrm.com/api) and adopts many modern RESTful API conventions. API v2 also introduces new methods for working with custom fields and events, in addition to updating and extending the functionality of all the existing methods from v1.\n\nAPI v2 has two possible base URLs, depending on the type of Neon CRM instance you are using:\n- **Production & Sandbox Instances:** [https://api.neoncrm.com/v2](https://api.neoncrm.com/v2)\n- **Trial Instances:** [https://trial.neoncrm.com/v2](https://trial.neoncrm.com/v2)\n\n### Authorization\nAPI v2 authorizes all requests using [HTTP basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). Use the values below for the username and password pair in the `Authorization` header of your request.\n- *Username* \u2013 The organization ID of your Neon CRM instance\n- *Password* \u2013 An API key associated with a user in the instance\n\nLearn [how to obtain an org ID and API key](https://developer.neoncrm.com/authentication/) from your Neon CRM instance.\n\n### Versioning\nThis API is versioned to allow for ongoing fixes and updates to the API that may include backwards-incompatible changes. Specify the API version by including the header `NEON-API-VERSION: 2.X` with every request. The current version is listed at the top of these docs.\n\nLearn more about [versioning in API v2](https://developer.neoncrm.com/versioning/).\n\n### Legacy Events vs Next Gen Events\nCurrently, only [legacy events](https://support.neonone.com/hc/en-us/articles/18441378851981-Legacy-Events-Vs-Events) are supported within Neon CRM's API. [Follow this page for updates.](https://developer.neoncrm.com/updates/)",
    "x-jentic-source-url": "https://developer.neoncrm.com/api-v2/docs/v2.11.yaml"
  },
  "servers": [
    {
      "url": "https://api.neoncrm.com/v2",
      "description": "Production instances"
    },
    {
      "url": "https://trial.neoncrm.com/v2",
      "description": "Trial instances"
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": " "
    },
    {
      "name": "Activities",
      "description": " "
    },
    {
      "name": "Addresses",
      "description": " "
    },
    {
      "name": "Campaigns",
      "description": " "
    },
    {
      "name": "Custom Fields",
      "description": " "
    },
    {
      "name": "Custom Objects",
      "description": " "
    },
    {
      "name": "Custom Object Fields",
      "description": " "
    },
    {
      "name": "Custom Object Form Layouts",
      "description": " "
    },
    {
      "name": "Custom Object List Layouts",
      "description": " "
    },
    {
      "name": "Custom Object Records",
      "description": " "
    },
    {
      "name": "Custom Object Relations",
      "description": " "
    },
    {
      "name": "Custom Object Validators",
      "description": " "
    },
    {
      "name": "Donations",
      "description": " "
    },
    {
      "name": "Event Registrations",
      "description": " "
    },
    {
      "name": "Events",
      "description": " "
    },
    {
      "name": "Grants",
      "description": " "
    },
    {
      "name": "Households",
      "description": " "
    },
    {
      "name": "Memberships",
      "description": " "
    },
    {
      "name": "Online Store",
      "description": " "
    },
    {
      "name": "Orders",
      "description": " "
    },
    {
      "name": "Payments",
      "description": " "
    },
    {
      "name": "Pledges",
      "description": " "
    },
    {
      "name": "Properties",
      "description": " "
    },
    {
      "name": "Recurring Donations",
      "description": " "
    },
    {
      "name": "ShippingAddresses",
      "description": " "
    },
    {
      "name": "SoftCredits",
      "description": "Soft Credit Controller"
    },
    {
      "name": "Volunteers",
      "description": " "
    },
    {
      "name": "Volunteer Groups",
      "description": " "
    },
    {
      "name": "Volunteer Opportunities",
      "description": " "
    },
    {
      "name": "Volunteer Roles",
      "description": " "
    },
    {
      "name": "Volunteer Shifts",
      "description": " "
    },
    {
      "name": "Volunteer Time Sheets",
      "description": " "
    },
    {
      "name": "Webhooks",
      "description": " "
    },
    {
      "name": "Windfall",
      "description": "Wealth screening data from Windfall"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets a list of accounts",
        "operationId": "listUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "INDIVIDUAL",
                "COMPANY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSearchResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates an account",
        "operationId": "addUsingPOST",
        "requestBody": {
          "description": "apiAccount",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "apiAccount"
      }
    },
    "/accounts/link": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Link an individual account to an company",
        "operationId": "linkUsingPOST",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkIndividualToCompany"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/accounts/search": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Searches for accounts",
        "operationId": "searchUsingPOST",
        "requestBody": {
          "description": "searchRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "searchRequest"
      }
    },
    "/accounts/search/outputFields": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets a list of possible output columns for the /accounts/search method",
        "operationId": "outputFieldsUsingGET",
        "parameters": [
          {
            "name": "searchKey",
            "in": "query",
            "description": "searchKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OutputFields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/search/searchFields": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets a list of possible search criteria fields for the /accounts/search method",
        "operationId": "searchFieldsUsingGET",
        "parameters": [
          {
            "name": "searchKey",
            "in": "query",
            "description": "searchKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchFields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/unlink": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Remove an individual account from an company",
        "operationId": "unlinkUsingPOST",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndividualToCompany"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/accounts/windfall": {
      "delete": {
        "tags": [
          "Windfall"
        ],
        "summary": "Delete Windfall data on all accounts",
        "operationId": "deleteWindfallAllUsingDELETE",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWindfall"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets an account",
        "operationId": "detailUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Updates an account",
        "operationId": "updateUsingPUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "account"
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Patch an account",
        "operationId": "patchUsingPATCH",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "originalAccount",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "originalAccount"
      }
    },
    "/accounts/{id}/contacts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets company account contacts",
        "operationId": "getContactsUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "description": "currentPage",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountContacts"
                }
              }
            }
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountContacts"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates a contact",
        "operationId": "createContactUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "contact",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdAndRefIdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdAndRefIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "contact"
      }
    },
    "/accounts/{id}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets a contact",
        "operationId": "getContactUsingGET",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Updates a contact",
        "operationId": "updateContactUsingPUT",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "contact",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "contact"
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Deletes an contact",
        "operationId": "deleteUsingDELETE",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Patch a contact",
        "operationId": "patchContactUsingPATCH",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "originalContact",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "originalContact"
      }
    },
    "/accounts/{id}/donations": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of donations for this account",
        "operationId": "getDonationsUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "description": "currentPage",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "sortColumn",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "date",
                "amount"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "sortDirection",
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDonationSearchResult"
                }
              }
            }
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDonationSearchResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/{id}/eventRegistrations": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets a list of event registrations for this account",
        "operationId": "getEventRegistrationsUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "registrationDateTime"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationEventRegistration"
                }
              }
            }
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationEventRegistration"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/{id}/memberships": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account's membership history",
        "operationId": "listMembershipUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "description": "Default value : 0",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Default value : 20",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "sortColumn",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "date",
                "amount"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "sortDirection",
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "required": false,
            "description": "Matches Active member flag on account detail pages and indicates active status of membership level (Based on expiration date + grace period settings for the instance).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "primaryActiveMembership",
            "in": "query",
            "required": false,
            "description": "Shows highest value membership level and matches field on account detail page.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/{id}/orders": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account's order history",
        "operationId": "listOrderUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "description": "Default value : 0",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Default value : 20",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "sortColumn",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "date",
                "amount"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "sortDirection",
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          },
          {
            "name": "transactionTypes",
            "in": "query",
            "description": "transactionTypes",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "DONATION",
                  "MEMBERSHIP",
                  "EVENT_REGISTRATION",
                  "PRODUCT"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/{id}/pledges": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of pledges for this account",
        "operationId": "getPledgesUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "description": "currentPage",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "sortColumn",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "date",
                "amount"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "sortDirection",
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPledgeSearchResult"
                }
              }
            }
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPledgeSearchResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/accounts/{id}/windfall": {
      "get": {
        "tags": [
          "Windfall"
        ],
        "summary": "Get Windfall data on an account",
        "operationId": "getWindfallUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWindfall"
                }
              }
            }
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWindfall"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Windfall"
        ],
        "summary": "Add Windfall data to an account",
        "operationId": "addUsingPOST_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "accountWindfallData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountWindfall"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "accountWindfallData"
      },
      "delete": {
        "tags": [
          "Windfall"
        ],
        "summary": "Delete Windfall data on an account",
        "operationId": "deleteUsingDELETE_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWindfall"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/activities": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create a activity",
        "operationId": "createUsingPOST",
        "requestBody": {
          "description": "activity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Activity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/activities/search": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Search for activities",
        "operationId": "searchUsingPOST_1",
        "requestBody": {
          "description": "searchRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "searchRequest"
      }
    },
    "/activities/search/outputFields": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets a list of possible output columns for the /activities/search method",
        "operationId": "outputFieldsUsingGET_1",
        "parameters": [
          {
            "name": "searchKey",
            "in": "query",
            "description": "searchKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OutputFields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/activities/search/searchFields": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets a list of possible search criteria fields for the /activities/search method",
        "operationId": "searchFieldsUsingGET_1",
        "parameters": [
          {
            "name": "searchKey",
            "in": "query",
            "description": "searchKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchFields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/activities/{id}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get an activity",
        "operationId": "getUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Activities"
        ],
        "summary": "Patch an activity",
        "operationId": "patch_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Activity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Update an activity",
        "operationId": "update_12",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Activity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Delete an activity",
        "operationId": "delete_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        }
      }
    },
    "/addresses": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Creates a new address",
        "operationId": "addUsingPOST_1",
        "requestBody": {
          "description": "addressAdd",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressAdd"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdAndRefIdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountIdAndRefIdResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "addressAdd"
      }
    },
    "/addresses/{addressId}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Gets an address",
        "operationId": "detailUsingGET_1",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "addressId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Addresses"
        ],
        "summary": "Updates an address",
        "operationId": "updateUsingPUT_1",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "addressId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "address",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Address"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "address"
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "Deletes an address",
        "operationId": "deleteUsingDELETE_1",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "addressId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/addresses/{id}": {
      "patch": {
        "tags": [
          "Addresses"
        ],
        "summary": "Patch an address",
        "operationId": "patchUsingPATCH_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "originalAddress",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Address"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "originalAddress"
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Gets a list of campaigns",
        "operationId": "listCampaignsUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdCodeNameTriple2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Creates a campaign",
        "operationId": "createCampaignUsingPOST",
        "requestBody": {
          "description": "campaign",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "campaign"
      }
    },
    "/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Gets a campaign",
        "operationId": "getCampaignUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Updates a campaign",
        "operationId": "updateUsingPUT_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "campaign",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "campaign"
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Deletes a campaign",
        "operationId": "deleteUsingDELETE_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Patch a campaign",
        "operationId": "patchUsingPATCH_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "originalCampaign",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "originalCampaign"
      }
    },
    "/campaigns/{id}/p2p": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Gets peer-to-peer fundraiser list",
        "operationId": "getPeer2PeerFundraiserUsingGET",
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "description": "currentPage",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Add a fundraiser to a campaign",
        "operationId": "addFundraiserToCampaignUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "fundraiser",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignFundraiser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "fundraiser"
      }
    },
    "/customFields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Gets custom fields",
        "operationId": "listCustomFieldsUsingGET",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "category",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Account",
                "Donation",
                "Event",
                "Attendee",
                "Individual",
                "Company",
                "Activity",
                "Membership",
                "Product",
                "Prospect",
                "Grant"
              ]
            }
          },
          {
            "name": "isEventSpecificField",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "attendeeQuestion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldData"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Creates a custom field",
        "operationId": "addUsingPOST_2",
        "requestBody": {
          "description": "customFieldData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "customFieldData"
      }
    },
    "/customFields/addToGroup": {
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Add a custom field to a group",
        "operationId": "moveToGroupUsingPOST",
        "requestBody": {
          "description": "moveToGroup",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveToGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "moveToGroup"
      }
    },
    "/customFields/groups": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Gets a list of custom field groups",
        "operationId": "listUsingGET_1",
        "parameters": [
          {
            "name": "component",
            "in": "query",
            "description": "component",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Account",
                "Donation",
                "Event",
                "Attendee",
                "Individual",
                "Company",
                "Activity",
                "Membership",
                "Product",
                "Prospect",
                "Grant"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldGroup"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Creates a custom field group",
        "operationId": "addUsingPOST_3",
        "requestBody": {
          "description": "customFieldGroup",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdResult"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "customFieldGroup"
      }
    },
    "/customFields/groups/{groupId}": {
      "put": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Updates a custom field group",
        "operationId": "updateUsingPUT_4",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "customFieldGroup",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCustomFieldGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "customFieldGroup"
      },
      "delete": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Deletes a custom field group",
        "operationId": "deleteUsingDELETE_4",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/customFields/{id}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Gets a custom field",
        "operationId": "getUsingGET_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Updates a custom field",
        "operationId": "updateUsingPUT_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "customFieldData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "customFieldData"
      },
      "delete": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Deletes a custom field",
        "operationId": "deleteUsingDELETE_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/donations": {
      "post": {
        "tags": [
          "Donations"
        ],
        "summary": "Creates a new donation",
        "operationId": "createUsingPOST_1",
        "requestBody": {
          "description": "donation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Donation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DonationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "222": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DonationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "donation"
      }
    },
    "/donations/search": {
      "post": {
        "tags": [
          "Donations"
        ],
        "summary": "Search for donations, pledges, and pledge payments",
        "operationId": "searchUsingPOST_2",
        "requestBody": {
          "description": "searchRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "searchRequest"
      }
    },
    "/donations/search/outputFields": {
      "get": {
        "tags": [
          "Donations"
        ],
        "summary": "Gets a list of possible output columns for the /donations/search method",
        "operationId": "outputFieldsUsingGET_2",
        "parameters": [
          {
            "name": "searchKey",
            "in": "query",
            "description": "searchKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OutputFields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/donations/search/searchFields": {
      "get": {
        "tags": [
          "Donations"
        ],
        "summary": "Gets a list of possible search criteria fields for the /donations/search method",
        "operationId": "searchFieldsUsingGET_2",
        "parameters": [
          {
            "name": "searchKey",
            "in": "query",
            "description": "searchKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchFields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      }
    },
    "/donations/{donationId}/payments": {
      "post": {
        "tags": [
          "Donations"
        ],
        "summary": "Add a payment for donation",
        "operationId": "addPaymentUsingPOST",
        "parameters": [
          {
            "name": "donationId",
            "in": "path",
            "description": "donationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "payment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ],
        "x-codegen-request-body-name": "payment"
      }
    },
    "/donations/{id}": {
      "get": {
        "tags": [
          "Donations"
        ],
        "summary": "Gets a donation",
        "operationId": "getUsingGET_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Donation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-API-KEY": [
              "global"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Donations"
        ],
        "summary": "Updates a donation",
        "operationId": "updateUsingPUT_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "donation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Donation"
              }
            }
          },
          "required": true
        },
        "responses": {
[...]
