{
  "openapi": "3.0.3",
  "info": {
    "title": "Kickbox Email Verification API",
    "description": "Kickbox makes it easy to verify your email lists, or integrate email verification into your application with our API. The API allows you to verify email addresses, check for disposable email addresses, submit batch verification jobs, and check your account balance.",
    "version": "2.0.0",
    "contact": {
      "name": "Kickbox Support",
      "url": "https://kickbox.com/contact/"
    },
    "x-jentic-source-url": "https://docs.kickbox.com/reference"
  },
  "servers": [
    {
      "url": "https://api.kickbox.com/v2",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/verify": {
      "get": {
        "summary": "Verify an Email Address",
        "description": "Check to see if an email address is real and retrieve additional metadata about its overall quality.",
        "operationId": "verifyEmailAddress",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The email address to verify",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email",
              "example": "bill.lumbergh@gmail.com"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Maximum time in milliseconds to wait for a response (default: 6000)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 6000,
              "minimum": 1000,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful verification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                },
                "examples": {
                  "deliverable": {
                    "summary": "Deliverable email",
                    "value": {
                      "result": "deliverable",
                      "reason": "accepted_email",
                      "role": false,
                      "free": true,
                      "disposable": false,
                      "accept_all": false,
                      "did_you_mean": null,
                      "sendex": 0.92,
                      "email": "bill.lumbergh@gmail.com",
                      "user": "bill.lumbergh",
                      "domain": "gmail.com",
                      "success": true
                    }
                  },
                  "undeliverable": {
                    "summary": "Undeliverable email",
                    "value": {
                      "result": "undeliverable",
                      "reason": "rejected_email",
                      "role": false,
                      "free": false,
                      "disposable": false,
                      "accept_all": false,
                      "did_you_mean": null,
                      "sendex": 0,
                      "email": "invalid@example.com",
                      "user": "invalid",
                      "domain": "example.com",
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Email Verification"]
      }
    },
    "/verify-batch": {
      "post": {
        "summary": "Verify Multiple Email Addresses",
        "description": "Submit multiple email addresses for batch verification. This endpoint accepts a list of email addresses and returns a job ID that can be used to check the status and retrieve results.",
        "operationId": "verifyEmailBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchVerifyRequest"
              },
              "example": {
                "emails": [
                  "bill.lumbergh@gmail.com",
                  "peter.gibbons@initech.com",
                  "michael.bolton@initech.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchVerifyResponse"
                },
                "example": {
                  "id": 465,
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Batch Verification"]
      }
    },
    "/verify-batch/{id}": {
      "get": {
        "summary": "Check Job Status",
        "description": "Check the status of a batch verification job and retrieve results when complete.",
        "operationId": "checkBatchJobStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The batch job ID returned from the verify-batch endpoint",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 465
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                },
                "examples": {
                  "processing": {
                    "summary": "Job in progress",
                    "value": {
                      "id": 465,
                      "status": "processing",
                      "progress": 50,
                      "success": true
                    }
                  },
                  "complete": {
                    "summary": "Job complete",
                    "value": {
                      "id": 465,
                      "status": "complete",
                      "progress": 100,
                      "results": [
                        {
                          "email": "bill.lumbergh@gmail.com",
                          "result": "deliverable",
                          "reason": "accepted_email",
                          "role": false,
                          "free": true,
                          "disposable": false,
                          "accept_all": false,
                          "sendex": 0.92
                        }
                      ],
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid job ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Batch Verification"]
      }
    },
    "/balance": {
      "get": {
        "summary": "Check Credit Balance",
        "description": "Check your account credit balance to see how many verification credits you have remaining.",
        "operationId": "getCreditBalance",
        "responses": {
          "200": {
            "description": "Current account balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                },
                "example": {
                  "balance": 15000,
                  "success": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Account"]
      }
    },
    "/disposable/{email}": {
      "get": {
        "summary": "Check for Disposable Email",
        "description": "Check if an email address is from a disposable email provider (e.g., trashmail.com, mailinator.com).",
        "operationId": "checkDisposableEmail",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "The email address to check",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email",
              "example": "test@mailinator.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disposable check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisposableResponse"
                },
                "examples": {
                  "disposable": {
                    "summary": "Disposable email detected",
                    "value": {
                      "disposable": true,
                      "success": true
                    }
                  },
                  "not_disposable": {
                    "summary": "Not a disposable email",
                    "value": {
                      "disposable": false,
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid email format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Email Verification"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query",
        "description": "API key for authentication. You can obtain an API key by signing up at https://app.kickbox.com/signup"
      }
    },
    "schemas": {
      "VerifyResponse": {
        "type": "object",
        "description": "Response from email verification",
        "properties": {
          "result": {
            "type": "string",
            "description": "The verification result",
            "enum": [
              "deliverable",
              "undeliverable",
              "risky",
              "unknown"
            ],
            "example": "deliverable"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the result",
            "enum": [
              "invalid_email",
              "invalid_domain",
              "rejected_email",
              "accepted_email",
              "low_quality",
              "low_deliverability",
              "no_connect",
              "timeout",
              "invalid_smtp",
              "unavailable_smtp",
              "unexpected_error"
            ],
            "example": "accepted_email"
          },
          "role": {
            "type": "boolean",
            "description": "True if the email address is a role address (postmaster@example.com, support@example.com, etc)",
            "example": false
          },
          "free": {
            "type": "boolean",
            "description": "True if the email address uses a free email service like gmail.com or yahoo.com",
            "example": true
          },
          "disposable": {
            "type": "boolean",
            "description": "True if the email address uses a disposable domain like trashmail.com or mailinator.com",
            "example": false
          },
          "accept_all": {
            "type": "boolean",
            "description": "True if the email was accepted, but the domain appears to accept all emails addressed to that domain",
            "example": false
          },
          "did_you_mean": {
            "type": "string",
            "nullable": true,
            "description": "Returns a suggested email if a possible spelling error was detected (bill.lumbergh@gamil.com -> bill.lumbergh@gmail.com)",
            "example": null
          },
          "sendex": {
            "type": "number",
            "format": "float",
            "description": "A quality score of the provided email address ranging between 0 (no quality) and 1 (perfect quality)",
            "minimum": 0,
            "maximum": 1,
            "example": 0.92
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Returns a normalized version of the provided email address (BoB@example.com -> bob@example.com)",
            "example": "bill.lumbergh@gmail.com"
          },
          "user": {
            "type": "string",
            "description": "The user (a.k.a local part) of the provided email address (bob@example.com -> bob)",
            "example": "bill.lumbergh"
          },
          "domain": {
            "type": "string",
            "description": "The domain of the provided email address (bob@example.com -> example.com)",
            "example": "gmail.com"
          },
          "success": {
            "type": "boolean",
            "description": "True if the API request was successful (i.e., no authentication or unexpected errors occurred)",
            "example": true
          }
        },
        "required": [
          "result",
          "reason",
          "role",
          "free",
          "disposable",
          "accept_all",
          "sendex",
          "email",
          "user",
          "domain",
          "success"
        ]
      },
      "BatchVerifyRequest": {
        "type": "object",
        "description": "Request to verify multiple email addresses",
        "properties": {
          "emails": {
            "type": "array",
            "description": "Array of email addresses to verify",
            "items": {
              "type": "string",
              "format": "email"
            },
            "minItems": 1,
            "maxItems": 100000,
            "example": [
              "bill.lumbergh@gmail.com",
              "peter.gibbons@initech.com"
            ]
          }
        },
        "required": ["emails"]
      },
      "BatchVerifyResponse": {
        "type": "object",
        "description": "Response from batch verification submission",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The batch job ID to use for checking status",
            "example": 465
          },
          "success": {
            "type": "boolean",
            "description": "True if the batch job was created successfully",
            "example": true
          }
        },
        "required": ["id", "success"]
      },
      "BatchStatusResponse": {
        "type": "object",
        "description": "Response containing batch job status",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The batch job ID",
            "example": 465
          },
          "status": {
            "type": "string",
            "description": "The current status of the batch job",
            "enum": [
              "processing",
              "complete",
              "failed"
            ],
            "example": "complete"
          },
          "progress": {
            "type": "integer",
            "description": "Progress percentage (0-100)",
            "minimum": 0,
            "maximum": 100,
            "example": 100
          },
          "results": {
            "type": "array",
            "description": "Array of verification results (only present when status is complete)",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "result": {
                  "type": "string",
                  "enum": [
                    "deliverable",
                    "undeliverable",
                    "risky",
                    "unknown"
                  ]
                },
                "reason": {
                  "type": "string"
                },
                "role": {
                  "type": "boolean"
                },
                "free": {
                  "type": "boolean"
                },
                "disposable": {
                  "type": "boolean"
                },
                "accept_all": {
                  "type": "boolean"
                },
                "sendex": {
                  "type": "number",
                  "format": "float"
                }
              }
            }
          },
          "success": {
            "type": "boolean",
            "description": "True if the API request was successful",
            "example": true
          }
        },
        "required": ["id", "status", "progress", "success"]
      },
      "BalanceResponse": {
        "type": "object",
        "description": "Response containing account balance",
        "properties": {
          "balance": {
            "type": "integer",
            "description": "The number of verification credits remaining in your account",
            "example": 15000
          },
          "success": {
            "type": "boolean",
            "description": "True if the API request was successful",
            "example": true
          }
        },
        "required": ["balance", "success"]
      },
      "DisposableResponse": {
        "type": "object",
        "description": "Response indicating if email is from disposable provider",
        "properties": {
          "disposable": {
            "type": "boolean",
            "description": "True if the email address uses a disposable email provider",
            "example": false
          },
          "success": {
            "type": "boolean",
            "description": "True if the API request was successful",
            "example": true
          }
        },
        "required": ["disposable", "success"]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "False when an error occurs",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Error message describing what went wrong",
            "example": "Invalid API key"
          }
        },
        "required": ["success", "message"]
      }
    }
  },
  "tags": [
    {
      "name": "Email Verification",
      "description": "Operations for verifying individual email addresses"
    },
    {
      "name": "Batch Verification",
      "description": "Operations for batch email verification"
    },
    {
      "name": "Account",
      "description": "Operations for managing your account"
    }
  ]
}
