{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipkart Seller API",
    "version": "3.0.0",
    "description": "Flipkart Marketplace Seller API v3.0 for managing listings, orders, shipments, and authentication on the Flipkart marketplace.",
    "x-jentic-source-url": "https://seller.flipkart.com/api-docs/index.html"
  },
  "servers": [
    {
      "url": "https://api.flipkart.net",
      "description": "Production server"
    }
  ],
  "paths": {
    "/oauth-service/oauth/token": {
      "get": {
        "operationId": "getAccessToken",
        "summary": "Generate access token",
        "description": "Generate an access token using client credentials, authorization code, or refresh token grant types.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "client_credentials",
                "authorization_code",
                "refresh_token"
              ]
            },
            "description": "OAuth grant type"
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Seller_Api"
            },
            "description": "API scope (required for client_credentials)"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Redirect URI (required for authorization_code)"
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Authorization code (required for authorization_code)"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "State parameter (required for authorization_code)"
          },
          {
            "name": "refresh_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Refresh token (required for refresh_token)"
          }
        ],
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Authentication failed - invalid credentials"
          }
        }
      }
    },
    "/oauth-service/oauth/token/expiry": {
      "get": {
        "operationId": "checkTokenExpiry",
        "summary": "Check token expiry",
        "description": "Check whether an access or refresh token has expired.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "access",
                "refresh"
              ]
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token to check"
          }
        ],
        "responses": {
          "200": {
            "description": "Token expiry information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenExpiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sellers/v3/shipments/filter": {
      "post": {
        "operationId": "filterShipments",
        "summary": "Filter shipments",
        "description": "Search and filter shipments by various criteria.",
        "tags": [
          "Order Management"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Filtered shipments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sellers/v3/shipments/{shipmentId}": {
      "get": {
        "operationId": "getShipmentDetails",
        "summary": "Get shipment details",
        "description": "Retrieve details of a specific shipment.",
        "tags": [
          "Order Management"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/sellers/v3/shipments/{shipmentId}/labels": {
      "get": {
        "operationId": "getShipmentLabels",
        "summary": "Get shipment labels",
        "description": "Retrieve shipping labels for a shipment.",
        "tags": [
          "Order Management"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipping label",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/sellers/v3/shipments/{shipmentId}/invoices": {
      "get": {
        "operationId": "getShipmentInvoices",
        "summary": "Get shipment invoices",
        "description": "Retrieve invoices for a shipment.",
        "tags": [
          "Order Management"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/sellers/v3/shipments/dispatch/confirm": {
      "post": {
        "operationId": "confirmDispatch",
        "summary": "Confirm shipment dispatch",
        "description": "Mark shipments as dispatched.",
        "tags": [
          "Order Management"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shipmentIds"
                ],
                "properties": {
                  "shipmentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dispatch confirmed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sellers/v3/shipments/{shipmentId}/cancel": {
      "post": {
        "operationId": "cancelShipment",
        "summary": "Cancel a shipment",
        "description": "Cancel a shipment by its ID.",
        "tags": [
          "Order Management"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment cancelled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/sellers/v3/returns/{returnId}/approve": {
      "post": {
        "operationId": "approveReturn",
        "summary": "Approve a return",
        "description": "Approve a customer return request.",
        "tags": [
          "Returns"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "returnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return approved"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sellers/v3/returns/{returnId}/reject": {
      "post": {
        "operationId": "rejectReturn",
        "summary": "Reject a return",
        "description": "Reject a customer return request.",
        "tags": [
          "Returns"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "returnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return rejected"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sellers/v3/listings": {
      "post": {
        "operationId": "createListings",
        "summary": "Create product listings",
        "description": "Create new product listings on the Flipkart marketplace.",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listings created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sellers/v3/listings/update": {
      "post": {
        "operationId": "updateListings",
        "summary": "Update product listings",
        "description": "Update existing product listings.",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listings updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Base64-encoded appId:appSecret"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 access token"
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "scope": {
            "type": "string"
          },
          "refresh_token_expires_in": {
            "type": "integer"
          }
        }
      },
      "TokenExpiryResponse": {
        "type": "object",
        "properties": {
          "expired": {
            "type": "boolean"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          }
        }
      },
      "ShipmentFilterRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "states": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "orderDate": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "to": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "dispatchAfterDate": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "to": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "sort": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string"
              },
              "order": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "pageSize": {
                "type": "integer"
              },
              "pageNumber": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ShipmentListResponse": {
        "type": "object",
        "properties": {
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shipment"
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextPageUrl": {
            "type": "string"
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "shipmentId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "orderDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "dispatchByDate": {
            "type": "string",
            "format": "date-time"
          },
          "dispatchAfterDate": {
            "type": "string",
            "format": "date-time"
          },
          "orderItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orderItemId": {
                  "type": "string"
                },
                "listingId": {
                  "type": "string"
                },
                "sku": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                },
                "priceComponents": {
                  "type": "object",
                  "properties": {
                    "sellingPrice": {
                      "type": "number"
                    },
                    "shippingCharge": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreateListingsRequest": {
        "type": "object",
        "properties": {
          "listings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productId": {
                  "type": "string"
                },
                "skuId": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                },
                "mrp": {
                  "type": "number"
                },
                "stock": {
                  "type": "integer"
                },
                "listingStatus": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UpdateListingsRequest": {
        "type": "object",
        "properties": {
          "listings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "listingId": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                },
                "mrp": {
                  "type": "number"
                },
                "stock": {
                  "type": "integer"
                },
                "listingStatus": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}