{
  "openapi": "3.0.3",
  "info": {
    "title": "SlideSpeak API",
    "description": "API for generating, editing, and managing AI-powered presentations. Supports text-to-presentation, document-based generation, templates, and webhooks.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.slidespeak.co/"
  },
  "servers": [
    {
      "url": "https://api.slidespeak.co/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getuserinfo",
        "summary": "Get user info",
        "description": "Retrieve the username associated with the API key.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/task_status/{task_id}": {
      "get": {
        "operationId": "gettaskstatus",
        "summary": "Check task status",
        "description": "Get the status of an asynchronous task such as presentation generation.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the task",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentations/{id}/download": {
      "get": {
        "operationId": "downloadpresentation",
        "summary": "Download presentation",
        "description": "Get a short-lived download URL for a presentation by ID.",
        "tags": [
          "Presentations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The presentation request ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download URL retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/templates": {
      "get": {
        "operationId": "listdefaulttemplates",
        "summary": "List default templates",
        "description": "Retrieve all available default presentation templates.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/templates/branded": {
      "get": {
        "operationId": "listbrandedtemplates",
        "summary": "List branded templates",
        "description": "Retrieve all processed branded templates.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Branded templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/document/upload": {
      "post": {
        "operationId": "uploaddocument",
        "summary": "Upload document",
        "description": "Upload a document to use for generating a presentation.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/generate": {
      "post": {
        "operationId": "generatepresentation",
        "summary": "Generate presentation",
        "description": "Generate a presentation from plain text, documents, or a pre-built outline.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneratePresentationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/outline": {
      "post": {
        "operationId": "generateoutline",
        "summary": "Generate outline",
        "description": "Generate or edit a presentation outline before generating the full presentation.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateOutlineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Outline generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutlineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/generate/slide-by-slide": {
      "post": {
        "operationId": "generateslidebyslide",
        "summary": "Generate slide-by-slide",
        "description": "Generate a presentation by specifying each slide individually.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlideBySlideRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/edit/slide": {
      "post": {
        "operationId": "editslide",
        "summary": "Edit slide",
        "description": "Insert, regenerate, or remove a slide in an existing presentation.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSlideRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Slide edit started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/edit": {
      "post": {
        "operationId": "editpresentation",
        "summary": "Edit presentation",
        "description": "Edit an existing presentation.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPresentationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation edit started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/subscribe": {
      "post": {
        "operationId": "subscribewebhook",
        "summary": "Create webhook subscription",
        "description": "Subscribe to receive a webhook when presentation generation finishes.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/unsubscribe": {
      "delete": {
        "operationId": "unsubscribewebhook",
        "summary": "Delete webhook subscription",
        "description": "Unsubscribe from an existing webhook.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      },
      "UserInfoResponse": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Username associated with the API key"
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "task_status": {
            "type": "string",
            "description": "Status of the task",
            "enum": [
              "STARTED",
              "PENDING",
              "SUCCESS",
              "FAILURE"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "The request ID to use for downloading the presentation"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "The task ID to poll for status"
          }
        }
      },
      "DownloadResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Short-lived download URL for the presentation"
          }
        }
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Template identifier"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "description": "Thumbnail image URL"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "document_id": {
            "type": "string",
            "description": "Identifier for the uploaded document"
          }
        }
      },
      "GeneratePresentationRequest": {
        "type": "object",
        "properties": {
          "plain_text": {
            "type": "string",
            "description": "Plain text content to generate presentation from"
          },
          "document_id": {
            "type": "string",
            "description": "ID of an uploaded document to generate from"
          },
          "length": {
            "type": "integer",
            "description": "Number of slides to generate"
          },
          "template": {
            "type": "string",
            "description": "Template identifier to use (e.g. 'default')"
          },
          "outline": {
            "type": "object",
            "description": "Pre-built outline to generate from"
          }
        }
      },
      "GenerateOutlineRequest": {
        "type": "object",
        "properties": {
          "plain_text": {
            "type": "string",
            "description": "Text content or topic to generate outline from"
          },
          "document_id": {
            "type": "string",
            "description": "ID of an uploaded document to generate outline from"
          },
          "length": {
            "type": "integer",
            "description": "Number of slides in the outline"
          }
        }
      },
      "OutlineResponse": {
        "type": "object",
        "properties": {
          "outline": {
            "type": "object",
            "description": "Generated outline structure"
          }
        }
      },
      "SlideBySlideRequest": {
        "type": "object",
        "properties": {
          "slides": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Slide title"
                },
                "content": {
                  "type": "string",
                  "description": "Slide content"
                }
              }
            },
            "description": "Array of individual slide specifications"
          },
          "template": {
            "type": "string",
            "description": "Template identifier"
          }
        }
      },
      "EditSlideRequest": {
        "type": "object",
        "properties": {
          "presentation_id": {
            "type": "string",
            "description": "ID of the presentation to edit"
          },
          "action": {
            "type": "string",
            "description": "Action to perform",
            "enum": [
              "insert",
              "regenerate",
              "remove"
            ]
          },
          "slide_index": {
            "type": "integer",
            "description": "Index of the slide to edit"
          },
          "content": {
            "type": "string",
            "description": "New content for the slide"
          }
        }
      },
      "EditPresentationRequest": {
        "type": "object",
        "properties": {
          "presentation_id": {
            "type": "string",
            "description": "ID of the presentation to edit"
          },
          "instructions": {
            "type": "string",
            "description": "Edit instructions"
          }
        }
      },
      "WebhookSubscribeRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event types to subscribe to"
          }
        }
      },
      "WebhookSubscribeResponse": {
        "type": "object",
        "properties": {
          "subscription_id": {
            "type": "string",
            "description": "Webhook subscription identifier"
          }
        }
      },
      "WebhookUnsubscribeRequest": {
        "type": "object",
        "required": [
          "subscription_id"
        ],
        "properties": {
          "subscription_id": {
            "type": "string",
            "description": "Webhook subscription ID to remove"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Documents",
      "description": "Operations related to Documents"
    },
    {
      "name": "Presentations",
      "description": "Operations related to Presentations"
    },
    {
      "name": "Tasks",
      "description": "Operations related to Tasks"
    },
    {
      "name": "Templates",
      "description": "Operations related to Templates"
    },
    {
      "name": "User",
      "description": "Operations related to User"
    },
    {
      "name": "Webhooks",
      "description": "Operations related to Webhooks"
    }
  ]
}