{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Clarity Data Export API",
    "version": "v1",
    "description": "Download Microsoft Clarity dashboard data programmatically for advanced analysis and system integration. Returns dashboard insights (traffic, engagement, scroll depth, rage clicks, script errors, and more) as JSON over the last 1-3 days, broken down by up to three dimensions. Limits: 10 requests per project per day; response capped at 1,000 rows, no pagination; results in UTC.",
    "contact": {
      "email": "clarityMS@microsoft.com",
      "url": "https://learn.microsoft.com/en-us/clarity/setup-and-installation/clarity-data-export-api"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/ash-jentic/jentic-public-apis/bcd1e0711e4e6dbfaba2574ff7b9acf7cab1ffb7/apis/openapi/clarity.ms/main/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.clarity.ms"
    }
  ],
  "paths": {
    "/export-data/api/v1/project-live-insights": {
      "get": {
        "operationId": "getProjectLiveInsights",
        "summary": "Fetch project dashboard insights",
        "description": "Fetches the Clarity dashboard data structured in JSON format over a specified date range (last 24, 48, or 72 hours) and can break down insights by up to three dimensions. Metrics include Traffic, Engagement Time, Scroll Depth, Popular Pages, Dead/Rage/Error Click Counts, Excessive Scroll, Quickback Click, and Script Error Count.",
        "parameters": [
          {
            "name": "numOfDays",
            "in": "query",
            "required": true,
            "description": "Number of days for the data export since the API call: 1, 2, or 3 (last 24, 48, or 72 hours respectively).",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            }
          },
          {
            "name": "dimension1",
            "in": "query",
            "required": false,
            "description": "First dimension to break down insights. Possible values: Browser, Device, Country/Region, OS, Source, Medium, Campaign, Channel, URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimension2",
            "in": "query",
            "required": false,
            "description": "Second dimension to break down insights. Same possible values as dimension1.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimension3",
            "in": "query",
            "required": false,
            "description": "Third dimension to break down insights. Same possible values as dimension1. Maximum of three dimensions per request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data grouped by metric. Results are in UTC. Limited to 1,000 rows, no pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "metricName": {
                        "type": "string",
                        "description": "Metric name, e.g. Traffic, EngagementTime, ScrollDepth."
                      },
                      "information": {
                        "type": "array",
                        "description": "Data points for this metric, one per dimension value combination.",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  }
                },
                "example": [
                  {
                    "metricName": "Traffic",
                    "information": [
                      {
                        "totalSessionCount": "291942",
                        "totalBotSessionCount": "31076",
                        "distantUserCount": "212836",
                        "PagesPerSessionPercentage": 2.2609,
                        "OS": "Android"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest — invalid request parameters."
          },
          "401": {
            "description": "Unauthorized — missing, invalid, or expired token."
          },
          "403": {
            "description": "Forbidden — token not authorized for operation."
          },
          "429": {
            "description": "TooManyRequests — exceeded daily limit (maximum 10 API requests per project per day)."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API access token generated by a Clarity project admin: project Settings -> Data Export -> Generate new API token."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}