{
  "openapi": "3.0.3",
  "info": {
    "title": "Gate.io API",
    "description": "Gate.io cryptocurrency exchange REST API v4 for spot trading, market data, wallet operations, and account management.",
    "version": "4.0.0",
    "contact": {
      "name": "Gate.io",
      "url": "https://www.gate.io"
    }
  },
  "servers": [
    {
      "url": "https://api.gateio.ws/api/v4",
      "description": "Gate.io REST API v4"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "ApiSignAuth": []
    }
  ],
  "paths": {
    "/spot/currencies": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List all currencies",
        "description": "Returns a list of all currencies supported by Gate.io.",
        "tags": ["Spot"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/currency_pairs": {
      "get": {
        "operationId": "listCurrencyPairs",
        "summary": "List all currency pairs",
        "description": "Returns a list of all currency pairs supported for spot trading.",
        "tags": ["Spot"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyPair"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/tickers": {
      "get": {
        "operationId": "listTickers",
        "summary": "Retrieve ticker information",
        "description": "Returns ticker information for all or a specific currency pair.",
        "tags": ["Spot"],
        "security": [],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "description": "Currency pair, e.g. BTC_USDT. If not specified, returns all.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ticker"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/order_book": {
      "get": {
        "operationId": "getOrderBook",
        "summary": "Retrieve order book",
        "description": "Returns the order book for a given currency pair.",
        "tags": ["Spot"],
        "security": [],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "required": true,
            "description": "Currency pair, e.g. BTC_USDT.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Order depth. 0 means no aggregation.",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of order depth data in asks or bids.",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBook"
                }
              }
            }
          }
        }
      }
    },
    "/spot/trades": {
      "get": {
        "operationId": "listTrades",
        "summary": "Retrieve market trades",
        "description": "Returns a list of recent market trades for a given currency pair.",
        "tags": ["Spot"],
        "security": [],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "required": true,
            "description": "Currency pair, e.g. BTC_USDT.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "last_id",
            "in": "query",
            "description": "Return trades after this trade ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/candlesticks": {
      "get": {
        "operationId": "listCandlesticks",
        "summary": "Market candlesticks",
        "description": "Returns candlestick/kline data for a given currency pair.",
        "tags": ["Spot"],
        "security": [],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "required": true,
            "description": "Currency pair, e.g. BTC_USDT.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Candlestick interval. Supported values: 10s, 1m, 5m, 15m, 30m, 1h, 4h, 8h, 1d, 7d, 30d.",
            "schema": {
              "type": "string",
              "default": "30m"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start time of candlesticks in Unix timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End time of candlesticks in Unix timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of [timestamp, volume, close, high, low, open]"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/accounts": {
      "get": {
        "operationId": "listSpotAccounts",
        "summary": "List spot accounts",
        "description": "Returns a list of spot accounts with balances.",
        "tags": ["Spot"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpotAccount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/fee": {
      "get": {
        "operationId": "getTradingFee",
        "summary": "Query trading fee rates",
        "description": "Returns the trading fee rate for a given currency pair.",
        "tags": ["Spot"],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "description": "Currency pair to query fee for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradingFee"
                }
              }
            }
          }
        }
      }
    },
    "/spot/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Returns a list of spot orders matching specified criteria.",
        "tags": ["Spot"],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "required": true,
            "description": "Currency pair, e.g. BTC_USDT.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "Order status: open or finished.",
            "schema": {
              "type": "string",
              "enum": ["open", "finished"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "description": "Places a new spot trading order.",
        "tags": ["Spot"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelAllOrders",
        "summary": "Cancel all open orders",
        "description": "Cancels all open orders in a given currency pair.",
        "tags": ["Spot"],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "required": true,
            "description": "Currency pair, e.g. BTC_USDT.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/orders/{order_id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get a single order",
        "description": "Returns details of a single order by ID.",
        "tags": ["Spot"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency_pair",
            "in": "query",
            "required": true,
            "description": "Currency pair, e.g. BTC_USDT.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel a single order",
        "description": "Cancels a single order by ID.",
        "tags": ["Spot"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency_pair",
            "in": "query",
            "required": true,
            "description": "Currency pair, e.g. BTC_USDT.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/spot/batch_orders": {
      "post": {
        "operationId": "createBatchOrders",
        "summary": "Create batch orders",
        "description": "Places multiple orders in a single request. Maximum 10 orders per batch.",
        "tags": ["Spot"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderRequest"
                },
                "maxItems": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch orders created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spot/cancel_batch_orders": {
      "post": {
        "operationId": "cancelBatchOrders",
        "summary": "Cancel batch orders",
        "description": "Cancels multiple orders in a single request.",
        "tags": ["Spot"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "currency_pair": {
                      "type": "string",
                      "description": "Currency pair"
                    },
                    "id": {
                      "type": "string",
                      "description": "Order ID to cancel"
                    }
                  },
                  "required": ["currency_pair", "id"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch orders cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/deposit_address": {
      "get": {
        "operationId": "getDepositAddress",
        "summary": "Get deposit address",
        "description": "Returns the deposit address for a given currency.",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAddress"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/deposits": {
      "get": {
        "operationId": "listDeposits",
        "summary": "Get deposit records",
        "description": "Returns a list of deposit records.",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DepositRecord"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/withdrawals": {
      "get": {
        "operationId": "listWithdrawals",
        "summary": "Get withdrawal records",
        "description": "Returns a list of withdrawal records.",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WithdrawalRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWithdrawal",
        "summary": "Withdraw",
        "description": "Creates a new withdrawal request.",
        "tags": ["Wallet"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currency", "amount", "address"],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency name"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Withdrawal amount"
                  },
                  "address": {
                    "type": "string",
                    "description": "Withdrawal address"
                  },
                  "memo": {
                    "type": "string",
                    "description": "Memo or tag for the address"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Blockchain network name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Withdrawal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalRecord"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "KEY",
        "description": "API Key"
      },
      "ApiSignAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "SIGN",
        "description": "HMAC SHA512 signature"
      }
    },
    "schemas": {
      "Currency": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency name"
          },
          "delisted": {
            "type": "boolean",
            "description": "Whether currency is delisted"
          },
          "withdraw_disabled": {
            "type": "boolean",
            "description": "Whether withdrawal is disabled"
          },
          "withdraw_delayed": {
            "type": "boolean",
            "description": "Whether withdrawal is delayed"
          },
          "deposit_disabled": {
            "type": "boolean",
            "description": "Whether deposit is disabled"
          },
          "trade_disabled": {
            "type": "boolean",
            "description": "Whether trading is disabled"
          }
        }
      },
      "CurrencyPair": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Currency pair name"
          },
          "base": {
            "type": "string",
            "description": "Base currency"
          },
          "quote": {
            "type": "string",
            "description": "Quote currency"
          },
          "fee": {
            "type": "string",
            "description": "Trading fee rate"
          },
          "min_base_amount": {
            "type": "string",
            "description": "Minimum base currency trade amount"
          },
          "min_quote_amount": {
            "type": "string",
            "description": "Minimum quote currency trade amount"
          },
          "amount_precision": {
            "type": "integer",
            "description": "Amount decimal precision"
          },
          "precision": {
            "type": "integer",
            "description": "Price decimal precision"
          },
          "trade_status": {
            "type": "string",
            "enum": ["untradable", "buyable", "sellable", "tradable"],
            "description": "Trading status"
          }
        }
      },
      "Ticker": {
        "type": "object",
        "properties": {
          "currency_pair": {
            "type": "string"
          },
          "last": {
            "type": "string",
            "description": "Last traded price"
          },
          "lowest_ask": {
            "type": "string",
            "description": "Lowest ask price"
          },
          "highest_bid": {
            "type": "string",
            "description": "Highest bid price"
          },
          "change_percentage": {
            "type": "string",
            "description": "24h change percentage"
          },
          "base_volume": {
            "type": "string",
            "description": "24h base currency volume"
          },
          "quote_volume": {
            "type": "string",
            "description": "24h quote currency volume"
          },
          "high_24h": {
            "type": "string",
            "description": "24h highest price"
          },
          "low_24h": {
            "type": "string",
            "description": "24h lowest price"
          }
        }
      },
      "OrderBook": {
        "type": "object",
        "properties": {
          "asks": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Ask orders [price, amount]"
          },
          "bids": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Bid orders [price, amount]"
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Trade ID"
          },
          "create_time": {
            "type": "string",
            "description": "Trade time in Unix timestamp"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"],
            "description": "Trade side"
          },
          "amount": {
            "type": "string",
            "description": "Trade amount"
          },
          "price": {
            "type": "string",
            "description": "Trade price"
          }
        }
      },
      "SpotAccount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency name"
          },
          "available": {
            "type": "string",
            "description": "Available balance"
          },
          "locked": {
            "type": "string",
            "description": "Locked balance"
          }
        }
      },
      "TradingFee": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer",
            "description": "User ID"
          },
          "taker_fee": {
            "type": "string",
            "description": "Taker fee rate"
          },
          "maker_fee": {
            "type": "string",
            "description": "Maker fee rate"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Order ID"
          },
          "text": {
            "type": "string",
            "description": "User-defined order text"
          },
          "create_time": {
            "type": "string",
            "description": "Creation time in Unix timestamp"
          },
          "update_time": {
            "type": "string",
            "description": "Last update time in Unix timestamp"
          },
          "currency_pair": {
            "type": "string",
            "description": "Currency pair"
          },
          "status": {
            "type": "string",
            "enum": ["open", "closed", "cancelled"],
            "description": "Order status"
          },
          "type": {
            "type": "string",
            "enum": ["limit", "market"],
            "description": "Order type"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"],
            "description": "Order side"
          },
          "amount": {
            "type": "string",
            "description": "Trade amount"
          },
          "price": {
            "type": "string",
            "description": "Order price"
          },
          "filled_total": {
            "type": "string",
            "description": "Total filled in quote currency"
          },
          "fee": {
            "type": "string",
            "description": "Fee deducted"
          },
          "fee_currency": {
            "type": "string",
            "description": "Fee currency"
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "required": ["currency_pair", "side", "amount"],
        "properties": {
          "text": {
            "type": "string",
            "description": "User-defined order text, up to 28 characters"
          },
          "currency_pair": {
            "type": "string",
            "description": "Currency pair, e.g. BTC_USDT"
          },
          "type": {
            "type": "string",
            "enum": ["limit", "market"],
            "default": "limit",
            "description": "Order type"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"],
            "description": "Order side"
          },
          "amount": {
            "type": "string",
            "description": "Trade amount"
          },
          "price": {
            "type": "string",
            "description": "Order price. Required for limit orders."
          },
          "time_in_force": {
            "type": "string",
            "enum": ["gtc", "ioc", "poc", "fok"],
            "default": "gtc",
            "description": "Time in force: gtc (good till cancelled), ioc (immediate or cancel), poc (pending or cancelled), fok (fill or kill)"
          },
          "account": {
            "type": "string",
            "enum": ["spot", "margin", "cross_margin"],
            "default": "spot",
            "description": "Trading account type"
          }
        }
      },
      "DepositAddress": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency name"
          },
          "address": {
            "type": "string",
            "description": "Deposit address"
          },
          "multichain_addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "payment_id": {
                  "type": "string"
                },
                "payment_name": {
                  "type": "string"
                },
                "obtain_failed": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "DepositRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Record ID"
          },
          "timestamp": {
            "type": "string",
            "description": "Deposit time"
          },
          "currency": {
            "type": "string",
            "description": "Currency name"
          },
          "address": {
            "type": "string",
            "description": "Deposit address"
          },
          "amount": {
            "type": "string",
            "description": "Deposit amount"
          },
          "status": {
            "type": "string",
            "description": "Deposit status"
          }
        }
      },
      "WithdrawalRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Record ID"
          },
          "timestamp": {
            "type": "string",
            "description": "Withdrawal time"
          },
          "currency": {
            "type": "string",
            "description": "Currency name"
          },
          "address": {
            "type": "string",
            "description": "Withdrawal address"
          },
          "amount": {
            "type": "string",
            "description": "Withdrawal amount"
          },
          "status": {
            "type": "string",
            "description": "Withdrawal status"
          },
          "txid": {
            "type": "string",
            "description": "Transaction ID on blockchain"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Spot",
      "description": "Spot trading operations"
    },
    {
      "name": "Wallet",
      "description": "Wallet and fund operations"
    }
  ]
}
