{
  "openapi": "3.0.3",
  "info": {
    "title": "Ashby API",
    "version": "1.0.0",
    "description": "Ashby ATS (Applicant Tracking System) API - RPC-style endpoints",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/ashbyhq.com/ashby/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.ashbyhq.com"
    }
  ],
  "paths": {
    "/application.changeSource": {
      "post": {
        "summary": "Application Changesource",
        "operationId": "application_changeSource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Changesource"
        ]
      }
    },
    "/application.changeStage": {
      "post": {
        "summary": "Application Changestage",
        "operationId": "application_changeStage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Changestage"
        ]
      }
    },
    "/application.create": {
      "post": {
        "summary": "Application Create",
        "operationId": "application_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Create"
        ]
      }
    },
    "/application.info": {
      "post": {
        "summary": "Application Info",
        "operationId": "application_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Info"
        ]
      }
    },
    "/application.list": {
      "post": {
        "summary": "Application List",
        "operationId": "application_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.List"
        ]
      }
    },
    "/application.transfer": {
      "post": {
        "summary": "Application Transfer",
        "operationId": "application_transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Transfer"
        ]
      }
    },
    "/application.update": {
      "post": {
        "summary": "Application Update",
        "operationId": "application_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Update"
        ]
      }
    },
    "/application.updateHistory": {
      "post": {
        "summary": "Application Updatehistory",
        "operationId": "application_updateHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Updatehistory"
        ]
      }
    },
    "/application.listHistory": {
      "post": {
        "summary": "Application Listhistory",
        "operationId": "application_listHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Listhistory"
        ]
      }
    },
    "/application.addHiringTeamMember": {
      "post": {
        "summary": "Application Addhiringteammember",
        "operationId": "application_addHiringTeamMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Addhiringteammember"
        ]
      }
    },
    "/application.listCriteriaEvaluations": {
      "post": {
        "summary": "Application Listcriteriaevaluations",
        "operationId": "application_listCriteriaEvaluations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Listcriteriaevaluations"
        ]
      }
    },
    "/application.removeHiringTeamMember": {
      "post": {
        "summary": "Application Removehiringteammember",
        "operationId": "application_removeHiringTeamMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Application.Removehiringteammember"
        ]
      }
    },
    "/approval.list": {
      "post": {
        "summary": "Approval List",
        "operationId": "approval_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Approval.List"
        ]
      }
    },
    "/apiKey.info": {
      "post": {
        "summary": "Apikey Info",
        "operationId": "apiKey_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Apikey.Info"
        ]
      }
    },
    "/applicationFeedback.list": {
      "post": {
        "summary": "Applicationfeedback List",
        "operationId": "applicationFeedback_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Applicationfeedback.List"
        ]
      }
    },
    "/applicationFeedback.submit": {
      "post": {
        "summary": "Applicationfeedback Submit",
        "operationId": "applicationFeedback_submit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Applicationfeedback.Submit"
        ]
      }
    },
    "/assessment.addCompletedToCandidate": {
      "post": {
        "summary": "Assessment Addcompletedtocandidate",
        "operationId": "assessment_addCompletedToCandidate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Assessment.Addcompletedtocandidate"
        ]
      }
    },
    "/assessment.start": {
      "post": {
        "summary": "Assessment Start",
        "operationId": "assessment_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Assessment.Start"
        ]
      }
    },
    "/assessment.list": {
      "post": {
        "summary": "Assessment List",
        "operationId": "assessment_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Assessment.List"
        ]
      }
    },
    "/assessment.update": {
      "post": {
        "summary": "Assessment Update",
        "operationId": "assessment_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Assessment.Update"
        ]
      }
    },
    "/assessment.cancel": {
      "post": {
        "summary": "Assessment Cancel",
        "operationId": "assessment_cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Assessment.Cancel"
        ]
      }
    },
    "/brand.list": {
      "post": {
        "summary": "Brand List",
        "operationId": "brand_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Brand.List"
        ]
      }
    },
    "/candidate.addProject": {
      "post": {
        "summary": "Candidate Addproject",
        "operationId": "candidate_addProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Addproject"
        ]
      }
    },
    "/candidate.addTag": {
      "post": {
        "summary": "Candidate Addtag",
        "operationId": "candidate_addTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Addtag"
        ]
      }
    },
    "/candidate.anonymize": {
      "post": {
        "summary": "Candidate Anonymize",
        "operationId": "candidate_anonymize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Anonymize"
        ]
      }
    },
    "/candidate.create": {
      "post": {
        "summary": "Candidate Create",
        "operationId": "candidate_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Create"
        ]
      }
    },
    "/candidate.createNote": {
      "post": {
        "summary": "Candidate Createnote",
        "operationId": "candidate_createNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Createnote"
        ]
      }
    },
    "/candidate.info": {
      "post": {
        "summary": "Candidate Info",
        "operationId": "candidate_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Info"
        ]
      }
    },
    "/candidate.list": {
      "post": {
        "summary": "Candidate List",
        "operationId": "candidate_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.List"
        ]
      }
    },
    "/candidate.listClientInfo": {
      "post": {
        "summary": "Candidate Listclientinfo",
        "operationId": "candidate_listClientInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Listclientinfo"
        ]
      }
    },
    "/candidate.listNotes": {
      "post": {
        "summary": "Candidate Listnotes",
        "operationId": "candidate_listNotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Listnotes"
        ]
      }
    },
    "/candidate.search": {
      "post": {
        "summary": "Candidate Search",
        "operationId": "candidate_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Search"
        ]
      }
    },
    "/candidate.listProjects": {
      "post": {
        "summary": "Candidate Listprojects",
        "operationId": "candidate_listProjects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Listprojects"
        ]
      }
    },
    "/candidate.update": {
      "post": {
        "summary": "Candidate Update",
        "operationId": "candidate_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Update"
        ]
      }
    },
    "/candidate.uploadFile": {
      "post": {
        "summary": "Candidate Uploadfile",
        "operationId": "candidate_uploadFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Uploadfile"
        ]
      }
    },
    "/candidate.uploadResume": {
      "post": {
        "summary": "Candidate Uploadresume",
        "operationId": "candidate_uploadResume",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Uploadresume"
        ]
      }
    },
    "/candidate.removeProject": {
      "post": {
        "summary": "Candidate Removeproject",
        "operationId": "candidate_removeProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Removeproject"
        ]
      }
    },
    "/candidate.removeTag": {
      "post": {
        "summary": "Candidate Removetag",
        "operationId": "candidate_removeTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Removetag"
        ]
      }
    },
    "/candidate.addEmailMessage": {
      "post": {
        "summary": "Candidate Addemailmessage",
        "operationId": "candidate_addEmailMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Addemailmessage"
        ]
      }
    },
    "/candidate.listFraudChecks": {
      "post": {
        "summary": "Candidate Listfraudchecks",
        "operationId": "candidate_listFraudChecks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Listfraudchecks"
        ]
      }
    },
    "/candidate.setFraudStatus": {
      "post": {
        "summary": "Candidate Setfraudstatus",
        "operationId": "candidate_setFraudStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidate.Setfraudstatus"
        ]
      }
    },
    "/applicationHiringTeamRole.list": {
      "post": {
        "summary": "Applicationhiringteamrole List",
        "operationId": "applicationHiringTeamRole_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Applicationhiringteamrole.List"
        ]
      }
    },
    "/applicationForm.submit": {
      "post": {
        "summary": "Applicationform Submit",
        "operationId": "applicationForm_submit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Applicationform.Submit"
        ]
      }
    },
    "/approvalDefinition.update": {
      "post": {
        "summary": "Approvaldefinition Update",
        "operationId": "approvalDefinition_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Approvaldefinition.Update"
        ]
      }
    },
    "/archiveReason.list": {
      "post": {
        "summary": "Archivereason List",
        "operationId": "archiveReason_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Archivereason.List"
        ]
      }
    },
    "/candidateTag.create": {
      "post": {
        "summary": "Candidatetag Create",
        "operationId": "candidateTag_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidatetag.Create"
        ]
      }
    },
    "/candidateTag.list": {
      "post": {
        "summary": "Candidatetag List",
        "operationId": "candidateTag_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidatetag.List"
        ]
      }
    },
    "/candidateTag.archive": {
      "post": {
        "summary": "Candidatetag Archive",
        "operationId": "candidateTag_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Candidatetag.Archive"
        ]
      }
    },
    "/department.info": {
      "post": {
        "summary": "Department Info",
        "operationId": "department_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Department.Info"
        ]
      }
    },
    "/department.list": {
      "post": {
        "summary": "Department List",
        "operationId": "department_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Department.List"
        ]
      }
    },
    "/department.create": {
      "post": {
        "summary": "Department Create",
        "operationId": "department_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Department.Create"
        ]
      }
    },
    "/department.archive": {
      "post": {
        "summary": "Department Archive",
        "operationId": "department_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Department.Archive"
        ]
      }
    },
    "/department.restore": {
      "post": {
        "summary": "Department Restore",
        "operationId": "department_restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Department.Restore"
        ]
      }
    },
    "/department.move": {
      "post": {
        "summary": "Department Move",
        "operationId": "department_move",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Department.Move"
        ]
      }
    },
    "/department.update": {
      "post": {
        "summary": "Department Update",
        "operationId": "department_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Department.Update"
        ]
      }
    },
    "/file.info": {
      "post": {
        "summary": "File Info",
        "operationId": "file_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "File.Info"
        ]
      }
    },
    "/file.createFileUploadHandle": {
      "post": {
        "summary": "File Createfileuploadhandle",
        "operationId": "file_createFileUploadHandle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "File.Createfileuploadhandle"
        ]
      }
    },
    "/closeReason.list": {
      "post": {
        "summary": "Closereason List",
        "operationId": "closeReason_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Closereason.List"
        ]
      }
    },
    "/communicationTemplate.list": {
      "post": {
        "summary": "Communicationtemplate List",
        "operationId": "communicationTemplate_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Communicationtemplate.List"
        ]
      }
    },
    "/customField.create": {
      "post": {
        "summary": "Customfield Create",
        "operationId": "customField_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customfield.Create"
        ]
      }
    },
    "/customField.info": {
      "post": {
        "summary": "Customfield Info",
        "operationId": "customField_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customfield.Info"
        ]
      }
    },
    "/customField.list": {
      "post": {
        "summary": "Customfield List",
        "operationId": "customField_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customfield.List"
        ]
      }
    },
    "/customField.setValue": {
      "post": {
        "summary": "Customfield Setvalue",
        "operationId": "customField_setValue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customfield.Setvalue"
        ]
      }
    },
    "/customField.setValues": {
      "post": {
        "summary": "Customfield Setvalues",
        "operationId": "customField_setValues",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customfield.Setvalues"
        ]
      }
    },
    "/customField.updateSelectableValues": {
      "post": {
        "summary": "Customfield Updateselectablevalues",
        "operationId": "customField_updateSelectableValues",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customfield.Updateselectablevalues"
        ]
      }
    },
    "/interview.info": {
      "post": {
        "summary": "Interview Info",
        "operationId": "interview_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interview.Info"
        ]
      }
    },
    "/interview.list": {
      "post": {
        "summary": "Interview List",
        "operationId": "interview_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interview.List"
        ]
      }
    },
    "/feedbackFormDefinition.info": {
      "post": {
        "summary": "Feedbackformdefinition Info",
        "operationId": "feedbackFormDefinition_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Feedbackformdefinition.Info"
        ]
      }
    },
    "/feedbackFormDefinition.list": {
      "post": {
        "summary": "Feedbackformdefinition List",
        "operationId": "feedbackFormDefinition_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Feedbackformdefinition.List"
        ]
      }
    },
    "/hiringTeam.addMember": {
      "post": {
        "summary": "Hiringteam Addmember",
        "operationId": "hiringTeam_addMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Hiringteam.Addmember"
        ]
      }
    },
    "/hiringTeam.removeMember": {
      "post": {
        "summary": "Hiringteam Removemember",
        "operationId": "hiringTeam_removeMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Hiringteam.Removemember"
        ]
      }
    },
    "/hiringTeamRole.list": {
      "post": {
        "summary": "Hiringteamrole List",
        "operationId": "hiringTeamRole_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Hiringteamrole.List"
        ]
      }
    },
    "/interviewEvent.list": {
      "post": {
        "summary": "Interviewevent List",
        "operationId": "interviewEvent_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewevent.List"
        ]
      }
    },
    "/interviewPlan.list": {
      "post": {
        "summary": "Interviewplan List",
        "operationId": "interviewPlan_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewplan.List"
        ]
      }
    },
    "/job.create": {
      "post": {
        "summary": "Job Create",
        "operationId": "job_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Job.Create"
        ]
      }
    },
    "/job.info": {
      "post": {
        "summary": "Job Info",
        "operationId": "job_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Job.Info"
        ]
      }
    },
    "/job.list": {
      "post": {
        "summary": "Job List",
        "operationId": "job_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Job.List"
        ]
      }
    },
    "/job.setStatus": {
      "post": {
        "summary": "Job Setstatus",
        "operationId": "job_setStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Job.Setstatus"
        ]
      }
    },
    "/job.update": {
      "post": {
        "summary": "Job Update",
        "operationId": "job_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Job.Update"
        ]
      }
    },
    "/job.updateCompensation": {
      "post": {
        "summary": "Job Updatecompensation",
        "operationId": "job_updateCompensation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Job.Updatecompensation"
        ]
      }
    },
    "/job.search": {
      "post": {
        "summary": "Job Search",
        "operationId": "job_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Job.Search"
        ]
      }
    },
    "/interviewSchedule.cancel": {
      "post": {
        "summary": "Interviewschedule Cancel",
        "operationId": "interviewSchedule_cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewschedule.Cancel"
        ]
      }
    },
    "/interviewSchedule.create": {
      "post": {
        "summary": "Interviewschedule Create",
        "operationId": "interviewSchedule_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewschedule.Create"
        ]
      }
    },
    "/interviewSchedule.list": {
      "post": {
        "summary": "Interviewschedule List",
        "operationId": "interviewSchedule_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewschedule.List"
        ]
      }
    },
    "/interviewSchedule.update": {
      "post": {
        "summary": "Interviewschedule Update",
        "operationId": "interviewSchedule_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewschedule.Update"
        ]
      }
    },
    "/interviewStage.list": {
      "post": {
        "summary": "Interviewstage List",
        "operationId": "interviewStage_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewstage.List"
        ]
      }
    },
    "/interviewStage.info": {
      "post": {
        "summary": "Interviewstage Info",
        "operationId": "interviewStage_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewstage.Info"
        ]
      }
    },
    "/interviewStageGroup.list": {
      "post": {
        "summary": "Interviewstagegroup List",
        "operationId": "interviewStageGroup_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewstagegroup.List"
        ]
      }
    },
    "/interviewerPool.list": {
      "post": {
        "summary": "Interviewerpool List",
        "operationId": "interviewerPool_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.List"
        ]
      }
    },
    "/interviewerPool.info": {
      "post": {
        "summary": "Interviewerpool Info",
        "operationId": "interviewerPool_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.Info"
        ]
      }
    },
    "/interviewerPool.create": {
      "post": {
        "summary": "Interviewerpool Create",
        "operationId": "interviewerPool_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.Create"
        ]
      }
    },
    "/interviewerPool.update": {
      "post": {
        "summary": "Interviewerpool Update",
        "operationId": "interviewerPool_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.Update"
        ]
      }
    },
    "/interviewerPool.archive": {
      "post": {
        "summary": "Interviewerpool Archive",
        "operationId": "interviewerPool_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.Archive"
        ]
      }
    },
    "/interviewerPool.restore": {
      "post": {
        "summary": "Interviewerpool Restore",
        "operationId": "interviewerPool_restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.Restore"
        ]
      }
    },
    "/interviewerPool.addUser": {
      "post": {
        "summary": "Interviewerpool Adduser",
        "operationId": "interviewerPool_addUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.Adduser"
        ]
      }
    },
    "/interviewerPool.removeUser": {
      "post": {
        "summary": "Interviewerpool Removeuser",
        "operationId": "interviewerPool_removeUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Interviewerpool.Removeuser"
        ]
      }
    },
    "/location.archive": {
      "post": {
        "summary": "Location Archive",
        "operationId": "location_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Archive"
        ]
      }
    },
    "/location.create": {
      "post": {
        "summary": "Location Create",
        "operationId": "location_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Create"
        ]
      }
    },
    "/location.info": {
      "post": {
        "summary": "Location Info",
        "operationId": "location_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Info"
        ]
      }
    },
    "/location.list": {
      "post": {
        "summary": "Location List",
        "operationId": "location_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.List"
        ]
      }
    },
    "/location.move": {
      "post": {
        "summary": "Location Move",
        "operationId": "location_move",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Move"
        ]
      }
    },
    "/location.restore": {
      "post": {
        "summary": "Location Restore",
        "operationId": "location_restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Restore"
        ]
      }
    },
    "/location.updateAddress": {
      "post": {
        "summary": "Location Updateaddress",
        "operationId": "location_updateAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Updateaddress"
        ]
      }
    },
    "/location.updateName": {
      "post": {
        "summary": "Location Updatename",
        "operationId": "location_updateName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Updatename"
        ]
      }
    },
    "/location.updateWorkplaceType": {
      "post": {
        "summary": "Location Updateworkplacetype",
        "operationId": "location_updateWorkplaceType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Updateworkplacetype"
        ]
      }
    },
    "/location.updateExternalName": {
      "post": {
        "summary": "Location Updateexternalname",
        "operationId": "location_updateExternalName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Location.Updateexternalname"
        ]
      }
    },
    "/offer.create": {
      "post": {
        "summary": "Offer Create",
        "operationId": "offer_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offer.Create"
        ]
      }
    },
    "/offer.approve": {
      "post": {
        "summary": "Offer Approve",
        "operationId": "offer_approve",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offer.Approve"
        ]
      }
    },
    "/offer.info": {
      "post": {
        "summary": "Offer Info",
        "operationId": "offer_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offer.Info"
        ]
      }
    },
    "/offer.list": {
      "post": {
        "summary": "Offer List",
        "operationId": "offer_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offer.List"
        ]
      }
    },
    "/offer.start": {
      "post": {
        "summary": "Offer Start",
        "operationId": "offer_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offer.Start"
        ]
      }
    },
    "/offer.update": {
      "post": {
        "summary": "Offer Update",
        "operationId": "offer_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offer.Update"
        ]
      }
    },
    "/offer.startApprovalProcess": {
      "post": {
        "summary": "Offer Startapprovalprocess",
        "operationId": "offer_startApprovalProcess",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offer.Startapprovalprocess"
        ]
      }
    },
    "/jobBoard.list": {
      "post": {
        "summary": "Jobboard List",
        "operationId": "jobBoard_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Jobboard.List"
        ]
      }
    },
    "/project.info": {
      "post": {
        "summary": "Project Info",
        "operationId": "project_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Project.Info"
        ]
      }
    },
    "/project.list": {
      "post": {
        "summary": "Project List",
        "operationId": "project_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Project.List"
        ]
      }
    },
    "/project.search": {
      "post": {
        "summary": "Project Search",
        "operationId": "project_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Project.Search"
        ]
      }
    },
    "/referral.create": {
      "post": {
        "summary": "Referral Create",
        "operationId": "referral_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Referral.Create"
        ]
      }
    },
    "/jobPosting.info": {
      "post": {
        "summary": "Jobposting Info",
        "operationId": "jobPosting_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Jobposting.Info"
        ]
      }
    },
    "/jobPosting.list": {
      "post": {
        "summary": "Jobposting List",
        "operationId": "jobPosting_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Jobposting.List"
        ]
      }
    },
    "/jobPosting.update": {
      "post": {
        "summary": "Jobposting Update",
        "operationId": "jobPosting_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Jobposting.Update"
        ]
      }
    },
    "/report.generate": {
      "post": {
        "summary": "Report Generate",
        "operationId": "report_generate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Report.Generate"
        ]
      }
    },
    "/report.synchronous": {
      "post": {
        "summary": "Report Synchronous",
        "operationId": "report_synchronous",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Report.Synchronous"
        ]
      }
    },
    "/source.list": {
      "post": {
        "summary": "Source List",
        "operationId": "source_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Source.List"
        ]
      }
    },
    "/jobTemplate.list": {
      "post": {
        "summary": "Jobtemplate List",
        "operationId": "jobTemplate_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Jobtemplate.List"
        ]
      }
    },
    "/offerProcess.start": {
      "post": {
        "summary": "Offerprocess Start",
        "operationId": "offerProcess_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Offerprocess.Start"
        ]
      }
    },
    "/opening.info": {
      "post": {
        "summary": "Opening Info",
        "operationId": "opening_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Info"
        ]
      }
    },
    "/opening.list": {
      "post": {
        "summary": "Opening List",
        "operationId": "opening_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.List"
        ]
      }
    },
    "/opening.search": {
      "post": {
        "summary": "Opening Search",
        "operationId": "opening_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Search"
        ]
      }
    },
    "/opening.create": {
      "post": {
        "summary": "Opening Create",
        "operationId": "opening_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Create"
        ]
      }
    },
    "/opening.addJob": {
      "post": {
        "summary": "Opening Addjob",
        "operationId": "opening_addJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Addjob"
        ]
      }
    },
    "/opening.removeJob": {
      "post": {
        "summary": "Opening Removejob",
        "operationId": "opening_removeJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Removejob"
        ]
      }
    },
    "/opening.addLocation": {
      "post": {
        "summary": "Opening Addlocation",
        "operationId": "opening_addLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Addlocation"
        ]
      }
    },
    "/opening.removeLocation": {
      "post": {
        "summary": "Opening Removelocation",
        "operationId": "opening_removeLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Removelocation"
        ]
      }
    },
    "/opening.setOpeningState": {
      "post": {
        "summary": "Opening Setopeningstate",
        "operationId": "opening_setOpeningState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Setopeningstate"
        ]
      }
    },
    "/opening.setArchived": {
      "post": {
        "summary": "Opening Setarchived",
        "operationId": "opening_setArchived",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Setarchived"
        ]
      }
    },
    "/opening.update": {
      "post": {
        "summary": "Opening Update",
        "operationId": "opening_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Opening.Update"
        ]
      }
    },
    "/user.info": {
      "post": {
        "summary": "User Info",
        "operationId": "user_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.Info"
        ]
      }
    },
    "/user.list": {
      "post": {
        "summary": "User List",
        "operationId": "user_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.List"
        ]
      }
    },
    "/user.search": {
      "post": {
        "summary": "User Search",
        "operationId": "user_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.Search"
        ]
      }
    },
    "/user.interviewerSettings": {
      "post": {
        "summary": "User Interviewersettings",
        "operationId": "user_interviewerSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.Interviewersettings"
        ]
      }
    },
    "/user.updateInterviewerSettings": {
      "post": {
        "summary": "User Updateinterviewersettings",
        "operationId": "user_updateInterviewerSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.Updateinterviewersettings"
        ]
      }
    },
    "/user.createInterviewerPause": {
      "post": {
        "summary": "User Createinterviewerpause",
        "operationId": "user_createInterviewerPause",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.Createinterviewerpause"
        ]
      }
    },
    "/user.listInterviewerPauses": {
      "post": {
        "summary": "User Listinterviewerpauses",
        "operationId": "user_listInterviewerPauses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.Listinterviewerpauses"
        ]
      }
    },
    "/user.deleteInterviewerPause": {
      "post": {
        "summary": "User Deleteinterviewerpause",
        "operationId": "user_deleteInterviewerPause",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User.Deleteinterviewerpause"
        ]
      }
    },
    "/webhook.create": {
      "post": {
        "summary": "Webhook Create",
        "operationId": "webhook_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Webhook.Create"
        ]
      }
    },
    "/webhook.update": {
      "post": {
        "summary": "Webhook Update",
        "operationId": "webhook_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Webhook.Update"
        ]
      }
    },
    "/webhook.info": {
      "post": {
        "summary": "Webhook Info",
        "operationId": "webhook_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Webhook.Info"
        ]
      }
    },
    "/webhook.delete": {
      "post": {
        "summary": "Webhook Delete",
        "operationId": "webhook_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Webhook.Delete"
        ]
      }
    },
    "/referralForm.info": {
      "post": {
        "summary": "Referralform Info",
        "operationId": "referralForm_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Referralform.Info"
        ]
      }
    },
    "/sourceTrackingLink.list": {
      "post": {
        "summary": "Sourcetrackinglink List",
        "operationId": "sourceTrackingLink_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Sourcetrackinglink.List"
        ]
      }
    },
    "/surveyFormDefinition.info": {
      "post": {
        "summary": "Surveyformdefinition Info",
        "operationId": "surveyFormDefinition_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Surveyformdefinition.Info"
        ]
      }
    },
    "/surveyFormDefinition.list": {
      "post": {
        "summary": "Surveyformdefinition List",
        "operationId": "surveyFormDefinition_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Surveyformdefinition.List"
        ]
      }
    },
    "/surveyRequest.create": {
      "post": {
        "summary": "Surveyrequest Create",
        "operationId": "surveyRequest_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Surveyrequest.Create"
        ]
      }
    },
    "/surveyRequest.list": {
      "post": {
        "summary": "Surveyrequest List",
        "operationId": "surveyRequest_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Surveyrequest.List"
        ]
      }
    },
    "/surveySubmission.create": {
      "post": {
        "summary": "Surveysubmission Create",
        "operationId": "surveySubmission_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Surveysubmission.Create"
        ]
      }
    },
    "/surveySubmission.list": {
      "post": {
        "summary": "Surveysubmission List",
        "operationId": "surveySubmission_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Surveysubmission.List"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "x-jentic-source-url": "https://developers.ashbyhq.com",
  "tags": [
    {
      "name": "Apikey.Info"
    },
    {
      "name": "Application.Addhiringteammember"
    },
    {
      "name": "Application.Changesource"
    },
    {
      "name": "Application.Changestage"
    },
    {
      "name": "Application.Create"
    },
    {
      "name": "Application.Info"
    },
    {
      "name": "Application.List"
    },
    {
      "name": "Application.Listcriteriaevaluations"
    },
    {
      "name": "Application.Listhistory"
    },
    {
      "name": "Application.Removehiringteammember"
    },
    {
      "name": "Application.Transfer"
    },
    {
      "name": "Application.Update"
    },
    {
      "name": "Application.Updatehistory"
    },
    {
      "name": "Applicationfeedback.List"
    },
    {
      "name": "Applicationfeedback.Submit"
    },
    {
      "name": "Applicationform.Submit"
    },
    {
      "name": "Applicationhiringteamrole.List"
    },
    {
      "name": "Approval.List"
    },
    {
      "name": "Approvaldefinition.Update"
    },
    {
      "name": "Archivereason.List"
    },
    {
      "name": "Assessment.Addcompletedtocandidate"
    },
    {
      "name": "Assessment.Cancel"
    },
    {
      "name": "Assessment.List"
    },
    {
      "name": "Assessment.Start"
    },
    {
      "name": "Assessment.Update"
    },
    {
      "name": "Brand.List"
    },
    {
      "name": "Candidate.Addemailmessage"
    },
    {
      "name": "Candidate.Addproject"
    },
    {
      "name": "Candidate.Addtag"
    },
    {
      "name": "Candidate.Anonymize"
    },
    {
      "name": "Candidate.Create"
    },
    {
      "name": "Candidate.Createnote"
    },
    {
      "name": "Candidate.Info"
    },
    {
      "name": "Candidate.List"
    },
    {
      "name": "Candidate.Listclientinfo"
    },
    {
      "name": "Candidate.Listfraudchecks"
    },
    {
      "name": "Candidate.Listnotes"
    },
    {
      "name": "Candidate.Listprojects"
    },
    {
      "name": "Candidate.Removeproject"
    },
    {
      "name": "Candidate.Removetag"
    },
    {
      "name": "Candidate.Search"
    },
    {
      "name": "Candidate.Setfraudstatus"
    },
    {
      "name": "Candidate.Update"
    },
    {
      "name": "Candidate.Uploadfile"
    },
    {
      "name": "Candidate.Uploadresume"
    },
    {
      "name": "Candidatetag.Archive"
    },
    {
      "name": "Candidatetag.Create"
    },
    {
      "name": "Candidatetag.List"
    },
    {
      "name": "Closereason.List"
    },
    {
      "name": "Communicationtemplate.List"
    },
    {
      "name": "Customfield.Create"
    },
    {
      "name": "Customfield.Info"
    },
    {
      "name": "Customfield.List"
    },
    {
      "name": "Customfield.Setvalue"
    },
    {
      "name": "Customfield.Setvalues"
    },
    {
      "name": "Customfield.Updateselectablevalues"
    },
    {
      "name": "Department.Archive"
    },
    {
      "name": "Department.Create"
    },
    {
      "name": "Department.Info"
    },
    {
      "name": "Department.List"
    },
    {
      "name": "Department.Move"
    },
    {
      "name": "Department.Restore"
    },
    {
      "name": "Department.Update"
    },
    {
      "name": "Feedbackformdefinition.Info"
    },
    {
      "name": "Feedbackformdefinition.List"
    },
    {
      "name": "File.Createfileuploadhandle"
    },
    {
      "name": "File.Info"
    },
    {
      "name": "Hiringteam.Addmember"
    },
    {
      "name": "Hiringteam.Removemember"
    },
    {
      "name": "Hiringteamrole.List"
    },
    {
      "name": "Interview.Info"
    },
    {
      "name": "Interview.List"
    },
    {
      "name": "Interviewerpool.Adduser"
    },
    {
      "name": "Interviewerpool.Archive"
    },
    {
      "name": "Interviewerpool.Create"
    },
    {
      "name": "Interviewerpool.Info"
    },
    {
      "name": "Interviewerpool.List"
    },
    {
      "name": "Interviewerpool.Removeuser"
    },
    {
      "name": "Interviewerpool.Restore"
    },
    {
      "name": "Interviewerpool.Update"
    },
    {
      "name": "Interviewevent.List"
    },
    {
      "name": "Interviewplan.List"
    },
    {
      "name": "Interviewschedule.Cancel"
    },
    {
      "name": "Interviewschedule.Create"
    },
    {
      "name": "Interviewschedule.List"
    },
    {
      "name": "Interviewschedule.Update"
    },
    {
      "name": "Interviewstage.Info"
    },
    {
      "name": "Interviewstage.List"
    },
    {
      "name": "Interviewstagegroup.List"
    },
    {
      "name": "Job.Create"
    },
    {
      "name": "Job.Info"
    },
    {
      "name": "Job.List"
    },
    {
      "name": "Job.Search"
    },
    {
      "name": "Job.Setstatus"
    },
    {
      "name": "Job.Update"
    },
    {
      "name": "Job.Updatecompensation"
    },
    {
      "name": "Jobboard.List"
    },
    {
      "name": "Jobposting.Info"
    },
    {
      "name": "Jobposting.List"
    },
    {
      "name": "Jobposting.Update"
    },
    {
      "name": "Jobtemplate.List"
    },
    {
      "name": "Location.Archive"
    },
    {
      "name": "Location.Create"
    },
    {
      "name": "Location.Info"
    },
    {
      "name": "Location.List"
    },
    {
      "name": "Location.Move"
    },
    {
      "name": "Location.Restore"
    },
    {
      "name": "Location.Updateaddress"
    },
    {
      "name": "Location.Updateexternalname"
    },
    {
      "name": "Location.Updatename"
    },
    {
      "name": "Location.Updateworkplacetype"
    },
    {
      "name": "Offer.Approve"
    },
    {
      "name": "Offer.Create"
    },
    {
      "name": "Offer.Info"
    },
    {
      "name": "Offer.List"
    },
    {
      "name": "Offer.Start"
    },
    {
      "name": "Offer.Startapprovalprocess"
    },
    {
      "name": "Offer.Update"
    },
    {
      "name": "Offerprocess.Start"
    },
    {
      "name": "Opening.Addjob"
    },
    {
      "name": "Opening.Addlocation"
    },
    {
      "name": "Opening.Create"
    },
    {
      "name": "Opening.Info"
    },
    {
      "name": "Opening.List"
    },
    {
      "name": "Opening.Removejob"
    },
    {
      "name": "Opening.Removelocation"
    },
    {
      "name": "Opening.Search"
    },
    {
      "name": "Opening.Setarchived"
    },
    {
      "name": "Opening.Setopeningstate"
    },
    {
      "name": "Opening.Update"
    },
    {
      "name": "Project.Info"
    },
    {
      "name": "Project.List"
    },
    {
      "name": "Project.Search"
    },
    {
      "name": "Referral.Create"
    },
    {
      "name": "Referralform.Info"
    },
    {
      "name": "Report.Generate"
    },
    {
      "name": "Report.Synchronous"
    },
    {
      "name": "Source.List"
    },
    {
      "name": "Sourcetrackinglink.List"
    },
    {
      "name": "Surveyformdefinition.Info"
    },
    {
      "name": "Surveyformdefinition.List"
    },
    {
      "name": "Surveyrequest.Create"
    },
    {
      "name": "Surveyrequest.List"
    },
    {
      "name": "Surveysubmission.Create"
    },
    {
      "name": "Surveysubmission.List"
    },
    {
      "name": "User.Createinterviewerpause"
    },
    {
      "name": "User.Deleteinterviewerpause"
    },
    {
      "name": "User.Info"
    },
    {
      "name": "User.Interviewersettings"
    },
    {
      "name": "User.List"
    },
    {
      "name": "User.Listinterviewerpauses"
    },
    {
      "name": "User.Search"
    },
    {
      "name": "User.Updateinterviewersettings"
    },
    {
      "name": "Webhook.Create"
    },
    {
      "name": "Webhook.Delete"
    },
    {
      "name": "Webhook.Info"
    },
    {
      "name": "Webhook.Update"
    }
  ]
}