{
  "openapi": "3.0.3",
  "info": {
    "title": "Docusign eSignature REST API",
    "description": "The Docusign eSignature REST API provides you with a powerful, convenient, and simple Web services API for interacting with Docusign.",
    "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
    "contact": {
      "name": "Docusign Developer Center",
      "url": "https://developers.docusign.com/",
      "email": "devcenter@docusign.com"
    },
    "version": "v2.1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/docusign/OpenAPI-Specifications/master/esignature.rest.swagger-v2.1.json"
  },
  "externalDocs": {
    "description": "See the Docusign eSignature REST API Guide for more information.",
    "url": "https://docs.docusign.com/esign"
  },
  "servers": [
    {
      "url": "https://www.docusign.net/restapi"
    }
  ],
  "tags": [
    {
      "name": "AccountBrands",
      "description": "The AcccountBrands resource provides methods that enable you to create and manage [brands](/docs/esign-rest-api/esign101/concepts/branding/) for an account.\n\nBranding enables you to add the look and feel of your organization's brand to the sending, signing, and email processes, making it easier for recipients to identify envelopes coming from your organization.\n\nThe Docusign Account Custom Branding feature enables you to set the colors, logo, and text that recipients see at the account level. The settings associated with a brand are applied to all of the envelopes that use the brand. You can create multiple brand profiles for different corporate brands or internal departments.\n\n**Note:** To use this resource, branding for either signing or sending must be enabled for the account (either `canSelfBrandSend`, `canSelfBrandSign`, or both of these account settings must be set to **true**). \n\n### Next steps\n* See [how to create a brand via the API](/docs/esign-rest-api/how-to/create-brand/).\n* Learn [how to apply a brand to an envelope](/docs/esign-rest-api/how-to/apply-brand-to-envelope/)."
    },
    {
      "name": "AccountConsumerDisclosures",
      "description": "The `AccountConsumerDisclosures` resource provides methods that enable you to enable, retrieve, and manage the Electronic Record and Signature Consent Disclosure (ERSD) options for your account. This is the disclosure that displays to each new recipient who is going to sign or add other information, or who is required to view the documents you send to them. The recipient must read and agree to the terms of the disclosure before they can access and take action on the documents you send. The ERSD does not apply to copy-only recipients, but does apply to recipients who must sign or view your documents.\n\nYou can use either the default ERSD that Docusign provides for U.S.-based transactions, or a custom ERSD. \n\n## Languages\n\n**Important:** The system does not translate the ERSD for you. The default ERSD is always in English. For a custom ERSD, an account administrator must create a version of the disclosure for each language that your signers use. When you create a version of your custom ERSD for a specific signer language, you must:\n\n1. Specify the language code (`langCode`) for the signer language.\n2. Provide the `esignAgreementText` and `esignText` in the language associated with the `langCode`.\n\nFor more information, see [Legal Disclosure](https://support.docusign.com/s/document-item?bundleId=pik1583277475390&topicId=aqg1583277336549.html)."
    },
    {
      "name": "AccountCustomFields",
      "description": "Custom fields enable you to record custom information about envelopes that you can then use for sorting, organizing, searching, and other downstream processes. \n\nFor example, you can use custom fields to copy envelopes or data to multiple areas in Salesforce. eOriginal customers can eVault all of their documents from the web app by setting an account custom field with a name like `eVault with eOriginal` to **true.**\n\nYou can also use account custom fields to set the following information:\n\n- Tracking ID\n- Department \n- Use case\n- Other envelope metadata\n\n## Envelope Custom Field Visibility\n\nWhen you create an envelope custom field for your account, you have the following options: \n\n- Make it a required field for senders at the time of sending\n- Display it as an optional field at the time of sending\n- Set a specific value for the field behind the scenes (NOT SURE IF THIS IS RIGHT; MIGHT JUST BE AN UNUSED DRAFT FIELD)\n\nEnvelope recipients do not see the envelope custom fields.\n\n## Types of Envelope Custom Fields\n\nThere are two types of envelope custom fields:\n\n- `text`: Enables the sender to enter the value for the field. \n- `list`: Enables the sender to select the value of the field from a predetermined list."
    },
    {
      "name": "EnvelopeCustomFields",
      "description": "The EnvelopeCustomFields resource provides methods that allow you manage custom fields in an envelope.\n\nCustom fields can be used in the envelopes for your account to record information about the envelope, help search for envelopes and track information. The envelope custom fields are shown in the Envelope Settings section when a user is creating an envelope in the Docusign member console. The envelope custom fields are not seen by the envelope recipients.\n\nThere are two types of envelope custom fields:\n\n- `text`: Enables the sender to enter the value for the field.\n- `list`: Enables the sender to select the value of the field from a predetermined list.\n\n"
    },
    {
      "name": "EnvelopeDocumentFields",
      "description": "The EnvelopeDocumentFields resource provides methods that allow you to manage custom fields on a document.\n\nCustom fields are name-value pairs that are returned by the API but otherwise not used by Docusign. They are not seen by the envelope recipients.\n\n\n\n\n\n"
    },
    {
      "name": "EnvelopeLocks",
      "description": "Envelope locks allow you to manage locks on an envelope.\n\nTo prevent users from changing an envelope while another user is\nmodifying it, you can lock the envelope and set the time until\nthe lock expires.\n\nTo use envelope locks, the user must have envelope locking capability enabled.\n\n### Related topics\n\n- [Common API Tasks: Locking and unlocking envelopes](https://www.docusign.com/blog/dsdev-common-api-tasks-locking-and-unlocking-envelopes)\n\n"
    },
    {
      "name": "EnvelopeRecipients",
      "description": "The EnvelopeRecipients resource enables you manage the recipients of an envelope.\nAll recipient types share a set of [core parameters](#core-recipient-parameters),\nbut some recipient types have additional parameters.\nYou specify the recipient type using the `recipientType` parameter. The recipient types are as follows:\n\n<br>\n\n| Recipient type                                      | Description                                                                                                                                                                                                                                                                                                                                                                                                                                |\n| :-------------------------------------------------- | :----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [Agent](#agent-recipient)                           | Agent recipients can add name and email information for recipients that appear after the agent in routing order.                                                                                                                                                                                                                                                                                                                           |\n| [Carbon Copy](#carbon-copy-recipient)               | Carbon copy recipients get a copy of the envelope but don't need to sign, initial, date, or add information to any of the documents. This type of recipient can be used in any routing order. Carbon copy recipients receive their copy of the envelope when the envelope reaches the recipient's order in the process flow and when the envelope is completed.                                                                            |\n| [Certified Delivery](#certified-delivery-recipient) | Certified delivery recipients must receive the completed documents for the envelope to be completed. However, they don't need to sign, initial, date, or add information to any of the documents.                                                                                                                                                                                                                                          |\n| [Editor](#editor-recipient)                         | Editors have the same management and access rights for the envelope as the sender. They can make changes to the envelope as if they were using the Advanced Correct feature. This recipient can add name and email information, add or change the routing order, set authentication options, and can edit signature/initial tabs and data fields for the remaining recipients. The recipient must have a Docusign account to be an editor. |\n| [In-Person Signer](#in-person-signer-recipient)     | In-person signer recipients are Docusign users who act as signing hosts in the same physical location as the signer.                                                                                                                                                                                                                                                                                                                       |\n| [Intermediary](#intermediary-recipient)             | Intermediaries are recipients who can, but are not required to, add name and email information for recipients at the same or subsequent level in the routing order, unless subsequent agents, editors, or intermediaries are added.                                                                                                                                                                                                        |\n| [Seal](#seal-recipient)                             | Electronic seal recipients represent legal entities rather than individuals. Organizations and governments can use electronic seals to show evidence of origin and integrity of documents.                                                                                                                                                                                                                                                 |\n| [Signer](#signer-recipient)                         | Signers are recipients who must sign, initial, date, or add data to form fields on the documents in the envelope.                                                                                                                                                                                                                                                                                                                          |\n| [Witness](#witness-recipient)                       | Witnesses are recipients whose signatures affirm that the identified signers have signed the documents in the envelope.                                                                                                                                                                                                                                                                                                                    |\n\n<br>\n\nNot all recipients are are available to all account types.\nReview your account plan to determine which recipient types are available to you.\nAll recipient types are available in the development environment.\n\n\n## Core Recipient Parameters\n\nAll recipients, regardless of type, have the same common core parameters.\nThe following table contains the descriptions for the core properties for all recipient types:\n\n<br>\n\n| Name                                     | Required | Schema Type                                                           | Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n| :--------------------------------------- | :------- | :-------------------------------------------------------------------- | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| email                                    | Yes      | Email                                                                 | Email of the recipient. Notification will be sent to this email id.<br/>Maximum Length: 100 characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |\n| name                                     | Yes      | String                                                                | Full legal name of the recipient.<br/>Maximum Length: 100 characters.<br/><br/>**Note:** If you are creating an envelope with Docusign EU advanced signature enabled, ensure that recipient names do not contain any of the following characters: **^ : \\ @ , + <**                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n| accessCode                               | No       | String                                                                | This optional element specifies the access code a recipient has to enter to validate the identity.<br/>Maximum Length: 50 characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |\n| addAccessCodeToEmail                     | No       | Boolean                                                               | This optional attribute indicates that the access code is added to the email sent to the recipient; this nullifies the Security measure of Access Code on the recipient.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |\n| agentCanEditEmail                        | No       | Boolean                                                               | When **true,** the agent recipient associated with this recipient can change the recipient's pre-populated email address. This element is only active if enabled for the account.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |\n| agentCanEditName                         | No       | Boolean                                                               | When **true,** the agent recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |\n| clientUserId                             | No       | String                                                                | This specifies whether the recipient is embedded or remote.<br/><br/>If the `clientUserId` property is not null then the recipient is embedded. Note that if the `ClientUserId` property is set and either `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account settings is set to  **true,** an error is generated on sending. Maximum length: 100 characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |\n| embeddedRecipientStartURL                | No       | String                                                                | This is a sender provided valid URL string for redirecting an embedded recipient. When using this option, the embedded recipient still receives an email from Docusign, just as a remote recipient would, but when the document link in the email is clicked the recipient is redirected, through Docusign, to this URL to complete their actions. When routing to the URL, it is up to the sender's system (the server responding to the URL) to then request a recipient token to launch a signing session.<br/><br/>If the value `SIGN_AT_DOCUSIGN` is used for this node, the recipient is directed to an embedded signing or viewing process directly at Docusign. The signing or viewing action is initiated by the Docusign system and the transaction activity and Certificate of Completion records will reflect this. In all other ways the process is identical to an embedded signing or viewing operation that would be launched by any partner.<br/><br/>It is important to remember that in a typical embedded workflow the authentication of an embedded recipient is the responsibility of the sending application and Docusign expects that senders will follow their own process for establishing the recipient's identity. In this workflow the recipient goes through the sending application before the embedded signing or viewing process in initiated. However, when the sending application sets  the `EmbeddedRecipientStartURL` property to `SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or viewing process bypassing the sending application and any authentication steps the sending application would use. In this case, Docusign recommends that one of the normal Docusign authentication features (Access Code, Phone Authentication, SMS Authentication, etc.) be used to verify the identity of the recipient.<br/><br>If the `clientUserId` property is NOT set and the `embeddedRecipientStartURL` property is set, Docusign ignores the redirect URL and launch the standard signing process for the email recipient. Information can be appended to the `embeddedRecipientStartURL` property using merge fields. The available merge fields items are: envelopeId, recipientId, recipientName, recipientEmail, and customFields. The customFields must be part of the recipient or envelope. The merge fields are enclosed in double brackets.<br/><br/>_Example_:<br/>`http://senderHost/[[mergeField1]]/ beginSigningSession? [[mergeField2]]&[[mergeField3]]`|\n| customFields                             | No       | customField                                                           | An optional array of strings that allows the sender to provide custom data about the recipient. This information is returned in the envelope status but otherwise not used by Docusign. String `customField` properties have a maximum length of 100 characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n| emailNotification                        | No       | emailNotification                                                     | An optional property that has information for setting the language for the recipient's email information. It is composed of three elements:<br/><br/>*emailBody*: a string with the email message sent to the recipient.<br/>Maximum Length: 10000 characters.<br/><br/>*emailSubject*: a string with the subject of the email sent to the recipient.<br/>Maximum Length: 100 characters.<br/><br/>*supportedLanguage*: The simple type enumeration (two-letter code) for the language to use for the standard email format and the signing view for the recipient. To retrieve the possible values, use the [Accounts::listSupportedLanguages method][ListLang].<br/><br/>**Note:** You can set the `emailNotification` property separately for each recipient. If you set the value only for certain recipients, the other recipients will inherit the this value from the top-level `emailSubject` and `emailBlurb`.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n| excludedDocuments                        | No       | Array of Strings                                                      | Specifies the documents that are not visible to this recipient. Document Visibility must be enabled for the account and the enforceSignerVisibility property must be set to true for the envelope to use this.<br/><br/>When the enforceSignerVisibility property is set to **true,** documents with tabs can only be viewed by signers that have a tab on that document. Recipients that have an administrative role (Agent, Editor, or Intermediaries) or informational role (Certified Deliveries or Carbon Copies) can always see all the documents in an envelope, unless they are specifically excluded using this setting when an envelope is sent. Documents that do not have tabs are always visible to all recipients, unless they are specifically excluded using this setting when an envelope is sent.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n| idCheckConfigurationName                 | No       | String                                                                | Specifies authentication check by name. The names used here must be the same as the authentication type names used by the account (these name can also be found in the web console sending interface in the Identify list for a recipient). This overrides any default authentication setting.<br/><br/>_Example_:<br/> Your account has ID Check and SMS Authentication available and in the web console Identify list these appear as 'ID Check $' and 'SMS Auth $'. To use ID check in an envelope, the `idCheckConfigurationName` property must be  set to `ID Check $`. To use SMS, it must be set to `SMS Auth $` and you must add phone number information to the `smsAuthentication` node.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n| iDCheckInformationInput                  | No       | IdCheckInformationInput                                               | This complex element contains input information related to a recipient ID check. It can include the following information.<br/><br/>*addressInformationInput*: Used to set recipient address information and consists of:<br/><br/>*addressInformation*: consists of six elements, with street2 and zipPlus4 being optional. The elements are: street1, street2, city, state, zip, zipPlus4\\. The maximum number of characters in each element are: street1/street2 = 150 characters, city = 50 characters, state = 2 characters, and zip/zipPlus4 = 20 characters.<br/><br/>displayLevelCode: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*dobInformationInput*: Used to set recipient date of birth information and consists of:<br/><br/>*dateOfBirth*: Specifies the recipient's date, month and year of birth.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn4InformationInput*: Used to set the last four digits of the recipient's SSN information and consists of:<br/><br/>*ssn4*: Specifies the last four digits of the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn9InformationInput*: Used to set the recipient's SSN information. Note that the ssn9 information can never be returned in the response. The ssn9 input consists of:<br/><br/><br/><br/>*ssn9*: Specifies the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.                                                                                                                                                                                                                                                                                                                                                                                                                                            |\n| inheritEmailNotificationConfiguration    | No       | Boolean                                                               | Optional element. If true and the envelope recipient creates a Docusign account after signing, the Manage Account Email Notification settings are used as the default settings for the recipient's account.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n| note                                     | No       | String                                                                | A note that is unique to this recipient. This note is sent to the recipient via the signing email. The note displays in the signing UI near the upper left corner of the document on the signing screen.<br/>Maximum Length: 1000 characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |\n| phoneAuthentication                      | No       | RecipientPhoneAuthentication                                          | Optional element. Contains the elements: <br/><br/> *recipMayProvideNumber*:Boolean. When **true** thenrecipient can use whatever phone number they choose to.<br/><br/> *senderProvidedNumbers*: ArrayOfString. A list of phone numbers the recipient can use. <br/>\n| recipientId                              | No       | String<br/><br/>The string must be formatted as an integer or a GUID. | Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |\n| requireIdLookup                          | No       | Boolean                                                               | When **true,** the recipient is required to use the specified ID check method (including Phone and SMS authentication) to validate their identity.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n| roleName                                 | No*      | String                                                                | Optional element. Specifies the role name associated with the recipient.<br/><br/>This is required when working with template recipients.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |\n| routingOrder                             | Yes      | String                                                                | This element specifies the routing order of the recipient in the envelope.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |\n| smsAuthentication                        | No       | senderProvidedNumbers                                                 | Optional. Contains the element:<br/><br/>*senderProvidedNumbers*: Array that contains a list of phone numbers the recipient can use for SMS text authentication.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n| templateAccessCodeRequired               | No       | Boolean                                                               | Optional. Used only when working with template recipients. When **true** and the `TemplateLocked` parameter is set to **true,** the sender must enter an access code.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |\n| templateLocked                           | No       | Boolean                                                               | Optional. Used only when working with template recipients. When **true,** the sender cannot change any attributes of the recipient.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n| templateRequired                         | No       | Boolean                                                               | Optional. Used only when working with template recipients. When **true,**  the sender may not remove the recipient.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n| identityVerification <a name=\"toto\"></a> | No       | identityVerification                                                  | Optional. Specifies ID Verification applied on an envelope by workflow ID. <br/>See the [list](/docs/esign-rest-api/reference/accounts/identityverifications/list/) method in the [IdentityVerifications](/docs/esign-rest-api/reference/accounts/identityverifications/) resource for more information on how to retrieve workflow IDs available for an account. <br/>This can be used in addition to other [recipient authentication](/docs/esign-rest-api/esign101/concepts/recipients/auth/) methods. <br/>Note that ID Verification and ID Check are two distinct methods. ID Verification checks recipients' identity by verifying their ID while ID Check relies on data available on public records (such as current and former address).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |\n\n<br>\n\n\n\n## Agent Recipient\n\nAn agent recipient can add name and email information for recipients that appear after the agent in routing order.\n\nIn addition to the [core parameters](#core-recipient-parameters), this recipient type has the following parameters:\n\n<br>\n\n| Name               | Required | Schema Type        | Description                                                                  |\n| :----------------- | :------- | :----------------- | :--------------------------------------------------------------------------- |\n| documentVisibility | No       | documentVisibility | A complex type that specifies which documents are visible to this recipient. |\n\n<br>\n\n\n\n## Carbon Copy Recipient\n\nCarbon copy recipients receive a copy of the envelope but don't need to sign, initial,\ndate or add information to any of the documents. You can place this type of recipient in any routing order.\nCarbon copy recipients receive their copy of the envelope when the envelope\nreaches the recipient's order in the process flow and when the envelope is completed.\n\nIn addition to the [core parameters](#core-recipient-parameters), this recipient type has the following parameters:\n\n<br>\n\n| Name               | Required | Schema Type        | Description                                                                  |\n| :----------------- | :------- | :----------------- | :--------------------------------------------------------------------------- |\n| documentVisibility | No       | documentVisibility | A complex type that specifies which documents are visible to this recipient. |\n\n<br>\n\n\n\n## Certified Delivery Recipient\n\nCertified delivery recipients must receive the completed documents for the envelope to be completed. However, they don't need to sign, initial, date or add information to any of the documents.\n\nIn addition to the [core parameters](#core-recipient-parameters), this recipient type has the following parameters:\n\n<br>\n\n| Name               | Required | Schema Type        | Description                                                                  |\n| :----------------- | :------- | :----------------- | :--------------------------------------------------------------------------- |\n| documentVisibility | No       | documentVisibility | A complex type that specifies which documents are visible to this recipient. |\n\n<br>\n\n\n\n## Editor Recipient\n\nEditors have the same management and access rights for the envelope as the sender.\nThey can make changes to the envelope as if they were using the Advanced Correct feature.\nThis recipient can add name and email information,\nadd or change the routing order and set authentication options for the remaining recipients.\nAdditionally, this recipient can edit signature/initial tabs and data fields for the remaining recipients.\nThe recipient must have a Docusign account to be an editor.\n\nIn addition to the [core parameters](#core-recipient-parameters), this recipient type has the following parameters:\n\n<br>\n\n\n| Name               | Required | Schema Type        | Description                                                                  |\n| :----------------- | :------- | :----------------- | :--------------------------------------------------------------------------- |\n| documentVisibility | No       | documentVisibility | A complex type that specifies which documents are visible to this recipient. |\n\n\n<br>\n\n\n## In-Person Signer Recipient\n\nAn in-person recipient is a Docusign user, acting as a Signing Host, who is in the same physical location as the signer.\n\nThe following restrictions apply to using electronic notary when sending documents:\n\n* Authentication methods are allowed for the signer but not the notary.\n* The Sign On Paper, Document Markup, Field Markup and Change Signer options cannot be used for the documents.\n* Tabs may be assigned to the signer, but cannot be assigned to the notary.\n\nSee [eNotary Resources][enotary-resources] in the Docusign Support Center for more information about how the eNotary feature works.\n\nIn addition to the [core parameters](#core-recipient-parameters), this type adds the following parameters:\n\n<br>\n\n\n| Name                  | Required                                            | Schema Type        | Description                                                                                                                                                                                                                                                                                                                                             |\n| :-------------------- | :-------------------------------------------------- | :----------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| inPersonSigningType   | No                                                  | String             | Specifies whether the envelope uses the eNotary feature. The accepted values are:<ul markdown=1><li>`inPersonSigner` The envelope uses the normal in-person signing flow.</li><li>`notary`: The envelope uses the eNotary signing flow.</li></ul>                                                                                                       |\n| notaryHost            | Yes, when `inPersonSigningType` is `notary`         | NotaryHost         | Sets the information for the notary host for the notary in person signing flow. The following information is required: <ul markdown=1> <li>`recipientId`: A unique ID (an integer or a GUID) for the notary signing host. </li> <li>`name`: Specifies the notary's full legal name.</li> <li>`email`: Specifies the notary's email address. </li> </ul> |\n| autoNavigation        | No                                                  | Boolean            | Specifies whether auto navigation is set for the recipient.                                                                                                                                                                                                                                                                                             |\n| defaultRecipient      | No                                                  | Boolean            | When **true,** this is the default recipient for the envelope. This option is used when creating an envelope from a template.                                                                                                                                                                                                                           |\n| documentVisibility    | No                                                  | documentVisibility | A complex type that specifies which documents are visible to this recipient.                                                                                                                                                                                                                                                                            |\n| hostName              | Yes, when `inPersonSigningType` is `inPersonSigner` | String             | The name of the signing host. This is the Docusign user that is hosting the in-person signing session.                                                                                                                                                                                                                                                  |\n| hostEmail             | Yes, when `inPersonSigningType` is `inPersonSigner` | String             | The email address of the signing host. This is the Docusign user that is hosting the in-person signing session.                                                                                                                                                                                                                                         |\n| signerName            | Yes, when `inPersonSigningType` is `inPersonSigner` | String             | The in-person signer's full legal name.                                                                                                                                                                                                                                                                                                                 |\n| Name                  | Yes, when `inPersonSigningType` is `notary`         | String             | The full legal name of the signer in an eNotary flow.                                                                                                                                                                                                                                                                                                   |\n| email                 | Yes, when `inPersonSigningType` is `notary`         | String             | The signer's email address in an eNotary flow.                                                                                                                                                                                                                                                                                                          |\n| recipientSuppliesTabs | No                                                  | Boolean            | Indicates whether the recipient supplies tabs in the document.                                                                                                                                                                                                                                                                                          |\n| signatureInfo         | No                                                  | String             | Optional element only used with the recipient types In Person Signers, Signers, and Witnesses.<br/><br/>Allows the sender to pre-specify the signature name, signature initials, and signature font used in the signature stamp for the recipient.                                                                                                      |\n| signInEachLocation    | No                                                  | Boolean            | When **true** and the feature is enabled in the sender's account, the signing recipient is required to draw signatures and initials at each signature/initial tab (instead of adopting a signature/initial style or only drawing a signature/initial once).                                                                                             |\n| tabs                  | No                                                  | Tab                | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Specifies the Tabs associated with the recipient. See the [EnvelopeRecipientTabs resource](/docs/esign-rest-api/reference/envelopes/enveloperecipienttabs/) for more information about tabs.                                                                    |\n\n<br>\n\n## Intermediary Recipient\n\nAn intermediary is a recipient who can, but is not required to,\nadd name and email information for recipients\nat the same or subsequent level in the routing order,\nunless subsequent agents, editors or intermediaries are added.\n\nIn addition to the [core parameters](#core-recipient-parameters), this recipient type has the following parameters:\n\n<br>\n\n\n| Name               | Required | Schema Type        | Description                                                                  |\n| :----------------- | :------- | :----------------- | :--------------------------------------------------------------------------- |\n| documentVisibility | No       | documentVisibility | A complex type that specifies which documents are visible to this recipient. |\n\n<br>\n\n\n\n## Seal Recipient\n\nAn electronic seal recipient is a legal entity rather than an actual person.\nElectronic Seals can be used by organizations and governments to show evidence\nof origin and integrity of documents.\nEven though electronic seals can be represented by a tab in a document,\nthey do not require user interaction and apply automatically in the order specified by the sender.\nThe sender is therefore the person authorizing usage of the electronic seal in the flow.\n\nElectronic seal recipients rely on a subset of core properties, described as follows, plus the `recipientSignatureProviders` parameter:\n\n\n<br>\n\n\n| Name                        | Required        | Schema Type                                                           | Description                                                                                                                                                                                                                                      |\n| :-------------------------- | :-------------- | :-------------------------------------------------------------------- | :----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| recipientId                 | Yes             | String<br/><br/>The string must be formatted as an integer or a GUID. | Indicates the unique ID of the applied electronic seal.                                                                                                                                                                                          |\n| routingOrder                | No (default: 1) | String                                                                | Specifies the routing order of the electronic seal in the envelope. <br />The routing order assigned to your electronic seal cannot be shared with another recipient. It is recommended that you set a routing order for your electronic seals.. |\n| recipientSignatureProviders | Yes             | String                                                                | Indicates which electronic seal to apply on documents when creating an envelope.                                                                                                                                                                 |\n\n\n<br>\n\nBy default, Electronic Seals apply to all documents in an envelope.\nHowever, the `sealDocumentsWithTabsOnly` property (see `recipientSignatureProvider`)\nallows you to seal only documents that have `signHere` tabs set for the Electronic Seal recipients.\n\n<br>\n\n\n\n## Signer Recipient\n\nA signer is a recipient who must sign, initial, date, or add data to form fields on the documents in the envelope.\n\nIn addition to the [core parameters](#core-recipient-parameters), this recipient type adds the following parameters:\n\n<br>\n\n\n| Name                  | Required | Schema Type        | Description                                                                                                                                                                                                                                                                           |\n| :-------------------- | :------- | :----------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| autoNavigation        | No       | Boolean            | Specifies whether auto navigation is set for the recipient.                                                                                                                                                                                                                           |\n| defaultRecipient      | No       | Boolean            | When **true,** this is the default recipient for the envelope. This option is used when creating an envelope from a template.                                                                                                                                                         |\n| documentVisibility    | No       | documentVisibility | A complex type that specifies which documents are visible to this recipient.                                                                                                                                                                                                          |\n| isBulkRecipient       | No       | Boolean            | Indicates whether the recipient is a bulk send recipient or not.                                                                                                                                                                                                                      |\n| recipientSuppliesTabs | No       | Boolean            | Indicates whether the recipient supplies tabs in the document.                                                                                                                                                                                                                        |\n| signInEachLocation    | No       | Boolean            | When **true** and the feature is enabled in the sender's account, the signing recipient is required to draw signatures and initials at each signature/initial tab (instead of adopting a signature/initial style or only drawing a signature/initial once).                           |\n| signatureInfo         | No       | String             | Optional element only used with recipient types In Person Signers, Signers, and Witnesses.<br/><br/>Allows the sender to pre-specify the signature name, signature initials, and signature font used in the signature stamp for the recipient.                                        |\n| signerEmail           | No       | String             | Optional element. The email address for an In-Person Signer recipient Type.<br/>Maximum Length: 100 characters.                                                                                                                                                                       |\n| signerName            | Yes      | String             | Required element with recipient type In Person Signers.<br/>Maximum Length: 100 characters.<br/><br/>The full legal name of a signer for the envelope.                                                                                                                                |\n| tabs                  | No       | Tab                | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Specifies the Tabs associated with the recipient. See the [EnvelopeRecipientTabs resource](/docs/esign-rest-api/reference/envelopes/enveloperecipienttabs/)  for more information about tabs. |\n\n<br>\n\n[enotary-resources]: https://support.docusign.com/s/document-item?bundleId=gko1642535666104&topicId=jiv1635359045452.html\n\n\n## Witness Recipient\n\nA witness is a recipient whose signature affirms that the identified signers have signed the documents in the envelope.\n\nIn addition to the [core parameters](#core-recipient-parameters), this recipient type adds the following parameters:\n\n<br>\n\n\n| Name                        | Required | Schema Type        | Description                                                                                                                                                                                                                            |\n| :-------------------------- | :------- | :----------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------
[...]
