{
  "openapi": "3.0.3",
  "info": {
    "title": "TxtSync API",
    "version": "1.0.0",
    "description": "TxtSync is an SMS messaging platform API that enables sending single and bulk SMS messages, managing contacts, tags, campaigns, numbers, media, links, and templates.",
    "x-jentic-source-url": "https://docs.txtsync.com/"
  },
  "servers": [
    {
      "url": "https://api.txtsync.com"
    }
  ],
  "paths": {
    "/campaigns": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a campaign",
        "tags": ["Campaigns"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Campaign" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "tags": ["Campaigns"],
        "parameters": [
          { "name": "select", "in": "query", "description": "Fields to select", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "description": "Filter condition", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "description": "Max records to return", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "description": "Records to skip", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "description": "Sort order", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "description": "Include record count", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "description": "Return count only", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Campaign" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Retrieve a single campaign",
        "tags": ["Campaigns"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Campaign" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "updateCampaign",
        "summary": "Update a campaign",
        "tags": ["Campaigns"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Campaign" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteCampaign",
        "summary": "Delete a draft campaign",
        "tags": ["Campaigns"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}/activate": {
      "post": {
        "operationId": "activateCampaign",
        "summary": "Activate a campaign",
        "tags": ["Campaigns"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}/report": {
      "get": {
        "operationId": "getCampaignReport",
        "summary": "Get campaign statistics",
        "tags": ["Campaigns"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CampaignReport" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}/connections": {
      "post": {
        "operationId": "addCampaignConnections",
        "summary": "Add connections to a campaign",
        "tags": ["Campaign Connections"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ContactIDs": { "type": "array", "items": { "type": "string" } },
                  "TagIDs": { "type": "array", "items": { "type": "string" } },
                  "Numbers": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "listCampaignConnections",
        "summary": "List campaign connections",
        "tags": ["Campaign Connections"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" },
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}/connections/{connectionId}": {
      "get": {
        "operationId": "getCampaignConnection",
        "summary": "Retrieve a single campaign connection",
        "tags": ["Campaign Connections"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" },
          { "name": "connectionId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Connection ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "removeCampaignConnection",
        "summary": "Remove a campaign connection",
        "tags": ["Campaign Connections"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" },
          { "name": "connectionId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Connection ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}/recipients/{recipientId}": {
      "get": {
        "operationId": "getCampaignRecipient",
        "summary": "Get a single campaign recipient",
        "tags": ["Campaign Recipients"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" },
          { "name": "recipientId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Recipient ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}/recipients": {
      "get": {
        "operationId": "listCampaignRecipients",
        "summary": "List campaign recipients",
        "tags": ["Campaign Recipients"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" },
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/campaigns/{id}/recipients/{recipientId}/activityhistory": {
      "get": {
        "operationId": "getCampaignRecipientActivity",
        "summary": "Get recipient activity history",
        "tags": ["Campaign Recipients"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign ID" },
          { "name": "recipientId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Recipient ID" },
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts": {
      "post": {
        "operationId": "createContact",
        "summary": "Create contact(s)",
        "description": "Create up to 25 contacts per request",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } },
          { "name": "tagwhere", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "bulkUpdateContacts",
        "summary": "Bulk update contacts",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "where", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Filter condition" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "bulkDeleteContacts",
        "summary": "Bulk delete contacts",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "where", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Filter condition" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Retrieve a single contact",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Contact ID" }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Contact ID" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactCreateRequest" } } }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Contact ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/{id}/tags": {
      "get": {
        "operationId": "getContactTags",
        "summary": "Get tags associated with a contact",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Contact ID" },
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "subscribed", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "addTagsToContact",
        "summary": "Add tags to a contact",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Contact ID" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "TagIDs": { "type": "array", "items": { "type": "string" } } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "removeTagsFromContact",
        "summary": "Remove tags from a contact",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Contact ID" }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "TagIDs": { "type": "array", "items": { "type": "string" } } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/duplicates": {
      "get": {
        "operationId": "findDuplicateContacts",
        "summary": "Find duplicate contacts",
        "tags": ["Contacts"],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/send": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send a single SMS",
        "tags": ["SMS"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/bulk": {
      "post": {
        "operationId": "sendBulkSms",
        "summary": "Send bulk SMS",
        "tags": ["SMS"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsBulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/preview": {
      "post": {
        "operationId": "previewSms",
        "summary": "Preview SMS before sending",
        "tags": ["SMS"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "To": { "type": "string" },
                  "ToContactID": { "type": "string" },
                  "ToTagID": { "type": "string" },
                  "Message": { "type": "string" },
                  "Index": { "type": "integer" }
                },
                "required": ["Message", "Index"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms": {
      "get": {
        "operationId": "listSmsMessages",
        "summary": "List SMS messages",
        "tags": ["SMS"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/latest": {
      "get": {
        "operationId": "getLatestSms",
        "summary": "Get latest SMS messages",
        "tags": ["SMS"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } },
          { "name": "direction", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/{id}/flag": {
      "put": {
        "operationId": "flagSms",
        "summary": "Flag an important SMS",
        "tags": ["SMS"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "SMS ID" }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "FlaggedDescription": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/{id}/unflag": {
      "delete": {
        "operationId": "unflagSms",
        "summary": "Remove flag from SMS",
        "tags": ["SMS"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "SMS ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/templates": {
      "post": {
        "operationId": "createSmsTemplate",
        "summary": "Create an SMS template",
        "tags": ["SMS Templates"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["Name", "Template"], "properties": { "Name": { "type": "string" }, "Template": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "listSmsTemplates",
        "summary": "List SMS templates",
        "tags": ["SMS Templates"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms/templates/{id}": {
      "get": {
        "operationId": "getSmsTemplate",
        "summary": "Retrieve an SMS template",
        "tags": ["SMS Templates"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Template ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "updateSmsTemplate",
        "summary": "Update an SMS template",
        "tags": ["SMS Templates"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Template ID" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "Name": { "type": "string" }, "Template": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteSmsTemplate",
        "summary": "Delete an SMS template",
        "tags": ["SMS Templates"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Template ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tags": {
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "tags": ["Tags"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["Name"], "properties": { "Name": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "tags": ["Tags"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "bulkDeleteTags",
        "summary": "Bulk delete tags",
        "tags": ["Tags"],
        "parameters": [
          { "name": "where", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tags/{id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Retrieve a single tag",
        "tags": ["Tags"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Tag ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "tags": ["Tags"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Tag ID" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "Name": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag",
        "tags": ["Tags"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Tag ID" }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tags/{id}/contacts": {
      "get": {
        "operationId": "getTagContacts",
        "summary": "Get contacts associated with a tag",
        "tags": ["Tags"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "addContactsToTag",
        "summary": "Add contacts to a tag",
        "tags": ["Tags"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "ContactIDs": { "type": "array", "items": { "type": "string" } } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "updateTagContactAssociations",
        "summary": "Update contact associations for a tag",
        "tags": ["Tags"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "removeContactsFromTag",
        "summary": "Remove contacts from a tag",
        "tags": ["Tags"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "ContactIDs": { "type": "array", "items": { "type": "string" } } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tags/contacts/associations": {
      "post": {
        "operationId": "bulkManageTagContactAssociations",
        "summary": "Bulk manage tag-contact associations",
        "tags": ["Tags"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "ContactIDs": { "type": "array", "items": { "type": "string" } }, "TagIDs": { "type": "array", "items": { "type": "string" } }, "action": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/numbers/{id}": {
      "get": {
        "operationId": "getNumber",
        "summary": "Get a dedicated number",
        "tags": ["Numbers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "select", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "put": {
        "operationId": "updateNumber",
        "summary": "Update a dedicated number",
        "tags": ["Numbers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "Name": { "type": "string" }, "IsAutoReply": { "type": "boolean" }, "AutoReplyMessage": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/numbers": {
      "get": {
        "operationId": "listNumbers",
        "summary": "List dedicated numbers",
        "tags": ["Numbers"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/numbers/shared/{id}": {
      "get": {
        "operationId": "getSharedNumber",
        "summary": "Get a shared number",
        "tags": ["Numbers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "select", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/numbers/shared": {
      "get": {
        "operationId": "listSharedNumbers",
        "summary": "List shared numbers",
        "tags": ["Numbers"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/numbers/{id}/voicemessage": {
      "post": {
        "operationId": "addVoiceMessage",
        "summary": "Add a voice message to a number",
        "tags": ["Numbers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "Message": { "type": "string" }, "VoiceID": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteVoiceMessage",
        "summary": "Delete a voice message from a number",
        "tags": ["Numbers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/numbers/voicemessages": {
      "get": {
        "operationId": "listVoiceSpeakers",
        "summary": "List available voice speakers",
        "tags": ["Numbers"],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/library/links": {
      "post": {
        "operationId": "createLink",
        "summary": "Create a link",
        "tags": ["Links"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["Name"], "properties": { "Name": { "type": "string" }, "URL": { "type": "string" }, "MediaLibraryID": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "listLinks",
        "summary": "List links",
        "tags": ["Links"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/library/links/{id}": {
      "put": {
        "operationId": "updateLink",
        "summary": "Update a link",
        "tags": ["Links"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "Name": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteLink",
        "summary": "Delete a link",
        "tags": ["Links"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/library/media/upload": {
      "post": {
        "operationId": "getMediaUploadPolicy",
        "summary": "Get upload policy for media",
        "tags": ["Media"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["Name", "FileName"], "properties": { "Name": { "type": "string" }, "FileName": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/library/media": {
      "get": {
        "operationId": "listMedia",
        "summary": "List media files",
        "tags": ["Media"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/library/media/{id}": {
      "put": {
        "operationId": "updateMedia",
        "summary": "Update media metadata",
        "tags": ["Media"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "Name": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteMedia",
        "summary": "Delete a media file",
        "tags": ["Media"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/system/report": {
      "get": {
        "operationId": "getSystemReport",
        "summary": "Get system statistics",
        "tags": ["Reports"],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/timeline": {
      "get": {
        "operationId": "getTimeline",
        "summary": "Get timeline entries",
        "tags": ["Timeline"],
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "where", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer" } },
          { "name": "orderby", "in": "query", "schema": { "type": "string" } },
          { "name": "recordcount", "in": "query", "schema": { "type": "boolean" } },
          { "name": "count", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Campaign": {
        "type": "object",
        "properties": {
          "ID": { "type": "string", "description": "Campaign ID" },
          "Name": { "type": "string", "description": "Campaign name" },
          "NumberID": { "type": "string", "description": "Associated number ID" },
          "TextMessage": { "type": "string", "description": "Campaign message text" },
          "Status": { "type": "string", "description": "Campaign status" }
        }
      },
      "CampaignCreateRequest": {
        "type": "object",
        "required": ["Name"],
        "properties": {
          "Name": { "type": "string", "description": "Campaign name" },
          "NumberID": { "type": "string", "description": "Associated number ID" },
          "TextMessage": { "type": "string", "description": "Campaign message text" }
        }
      },
      "CampaignReport": {
        "type": "object",
        "properties": {
          "TotalRecipients": { "type": "integer" },
          "TotalSent": { "type": "integer" },
          "TotalDelivered": { "type": "integer" },
          "TotalFailed": { "type": "integer" }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "ID": { "type": "string", "description": "Contact ID" },
          "FirstName": { "type": "string", "description": "First name" },
          "LastName": { "type": "string", "description": "Last name" },
          "MobileNumber": { "type": "string", "description": "Mobile number" },
          "EmailAddress": { "type": "string", "description": "Email address" }
        }
      },
      "ContactCreateRequest": {
        "type": "object",
        "required": ["FirstName", "LastName", "MobileNumber"],
        "properties": {
          "FirstName": { "type": "string" },
          "LastName": { "type": "string" },
          "MobileNumber": { "type": "string" }
        }
      },
      "SmsSendRequest": {
        "type": "object",
        "required": ["Message"],
        "properties": {
          "From": { "type": "string", "description": "Sender number (optional)" },
          "To": { "type": "string", "description": "Recipient number" },
          "ToContactID": { "type": "string", "description": "Recipient contact ID" },
          "Message": { "type": "string", "description": "Message text" }
        }
      },
      "SmsBulkRequest": {
        "type": "object",
        "required": ["From", "Message"],
        "properties": {
          "From": { "type": "string", "description": "Sender number" },
          "To": { "type": "array", "items": { "type": "string" }, "description": "Recipient numbers" },
          "ToContactID": { "type": "array", "items": { "type": "string" }, "description": "Recipient contact IDs" },
          "ToTagID": { "type": "array", "items": { "type": "string" }, "description": "Recipient tag IDs" },
          "Message": { "type": "string", "description": "Message text" }
        }
      },
      "SmsResponse": {
        "type": "object",
        "properties": {
          "ID": { "type": "string" },
          "Status": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Base64 encoded ClientKey:ClientSecret"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Shared API key"
      }
    }
  },
  "security": [
    { "basicAuth": [] },
    { "apiKeyHeader": [] }
  ]
}
