{
  "openapi": "3.0.3",
  "info": {
    "title": "PayPlug Payments API",
    "description": "PayPlug payment processing API for managing payments, refunds, installment plans, and cards.",
    "version": "2019-08-06",
    "x-jentic-source-url": "https://docs.payplug.com/api/apiref.html"
  },
  "servers": [
    {
      "url": "https://api.payplug.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPayments",
        "summary": "List payments",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Number of results per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of payments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}": {
      "get": {
        "operationId": "retrievePayment",
        "summary": "Retrieve a payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The payment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatePayment",
        "summary": "Update a payment (metadata, capture, or abort)",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The payment ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Create a refund for a payment",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The payment ID"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listRefunds",
        "summary": "List refunds for a payment",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The payment ID"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "Number of results per page (max 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}/refunds/{refundId}": {
      "get": {
        "operationId": "retrieveRefund",
        "summary": "Retrieve a refund",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The payment ID"
          },
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The refund ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{cardId}": {
      "delete": {
        "operationId": "deleteCard",
        "summary": "Delete a saved card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The card ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Card deleted successfully"
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installment_plans": {
      "post": {
        "operationId": "createInstallmentPlan",
        "summary": "Create an installment plan",
        "tags": [
          "InstallmentPlans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstallmentPlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Installment plan created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installment_plans/{installmentPlanId}": {
      "get": {
        "operationId": "retrieveInstallmentPlan",
        "summary": "Retrieve an installment plan",
        "tags": [
          "InstallmentPlans"
        ],
        "parameters": [
          {
            "name": "installmentPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The installment plan ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Installment plan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "abortInstallmentPlan",
        "summary": "Abort an installment plan",
        "tags": [
          "InstallmentPlans"
        ],
        "parameters": [
          {
            "name": "installmentPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The installment plan ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "aborted"
                ],
                "properties": {
                  "aborted": {
                    "type": "boolean",
                    "description": "Must be true to abort the installment plan"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Installment plan aborted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token using your PayPlug secret key"
      }
    },
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "Three-letter ISO currency code"
          },
          "billing": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "address1": {
                "type": "string"
              },
              "address2": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "language": {
                "type": "string"
              }
            }
          },
          "shipping": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "address1": {
                "type": "string"
              },
              "address2": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "delivery_type": {
                "type": "string"
              }
            }
          },
          "hosted_payment": {
            "type": "object",
            "properties": {
              "return_url": {
                "type": "string"
              },
              "cancel_url": {
                "type": "string"
              }
            }
          },
          "notification_url": {
            "type": "string",
            "description": "URL for payment notifications"
          },
          "payment_method": {
            "type": "string",
            "description": "Payment method identifier"
          },
          "force_3ds": {
            "type": "boolean",
            "description": "Force 3D Secure authentication"
          },
          "save_card": {
            "type": "boolean",
            "description": "Save card for future payments"
          },
          "allow_save_card": {
            "type": "boolean",
            "description": "Allow customer to choose to save card"
          },
          "initiator": {
            "type": "string",
            "description": "Who initiated the payment"
          },
          "description": {
            "type": "string",
            "description": "Payment description"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom key-value metadata"
          }
        }
      },
      "UpdatePaymentRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom key-value metadata"
          },
          "captured": {
            "type": "boolean",
            "description": "Set to true to capture a deferred payment"
          },
          "aborted": {
            "type": "boolean",
            "description": "Set to true to abort a payment"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment ID"
          },
          "object": {
            "type": "string"
          },
          "is_live": {
            "type": "boolean"
          },
          "amount": {
            "type": "integer",
            "description": "Amount in cents"
          },
          "amount_refunded": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "is_paid": {
            "type": "boolean"
          },
          "is_refunded": {
            "type": "boolean"
          },
          "is_3ds": {
            "type": "boolean"
          },
          "save_card": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "card": {
            "type": "object",
            "properties": {
              "last4": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "exp_month": {
                "type": "integer"
              },
              "exp_year": {
                "type": "integer"
              },
              "brand": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "hosted_payment": {
            "type": "object",
            "properties": {
              "payment_url": {
                "type": "string"
              },
              "return_url": {
                "type": "string"
              },
              "cancel_url": {
                "type": "string"
              }
            }
          },
          "notification_url": {
            "type": "string"
          },
          "failure": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "authorization": {
            "type": "object",
            "nullable": true,
            "properties": {
              "authorized_amount": {
                "type": "integer"
              },
              "authorized_at": {
                "type": "integer"
              },
              "expires_at": {
                "type": "integer"
              }
            }
          }
        }
      },
      "PaymentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          }
        }
      },
      "CreateRefundRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Refund amount in cents. Omit for full refund."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Refund ID"
          },
          "object": {
            "type": "string"
          },
          "is_live": {
            "type": "boolean"
          },
          "payment_id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "RefundList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Refund"
            }
          }
        }
      },
      "CreateInstallmentPlanRequest": {
        "type": "object",
        "required": [
          "currency",
          "schedule"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "description": "Three-letter ISO currency code"
          },
          "schedule": {
            "type": "array",
            "description": "Array of installment schedule entries",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "Payment date"
                },
                "amount": {
                  "type": "integer",
                  "description": "Amount in cents"
                }
              }
            }
          },
          "billing": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "shipping": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          },
          "hosted_payment": {
            "type": "object",
            "properties": {
              "return_url": {
                "type": "string"
              },
              "cancel_url": {
                "type": "string"
              }
            }
          },
          "notification_url": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "InstallmentPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "is_live": {
            "type": "boolean"
          },
          "is_fully_paid": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "schedule": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "payment_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "failure": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "notification_url": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment management operations"
    },
    {
      "name": "Refunds",
      "description": "Refund management operations"
    },
    {
      "name": "Cards",
      "description": "Card management operations"
    },
    {
      "name": "InstallmentPlans",
      "description": "Installment plan management operations"
    }
  ]
}