{
  "openapi": "3.0.3",
  "info": {
    "title": "SparkPost API",
    "version": "1.0.0",
    "description": "SparkPost is a cloud-based email delivery service that provides comprehensive APIs for sending, tracking, and analyzing email campaigns and transactional messages.",
    "x-jentic-source-url": "https://developers.sparkpost.com/api/"
  },
  "servers": [
    {
      "url": "https://api.sparkpost.com/api/v1",
      "description": "SparkPost US"
    },
    {
      "url": "https://api.eu.sparkpost.com/api/v1",
      "description": "SparkPost EU"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Transmissions",
      "description": "Send email messages"
    },
    {
      "name": "Metrics",
      "description": "Analytics and reporting"
    },
    {
      "name": "Templates",
      "description": "Email templates"
    },
    {
      "name": "Recipients",
      "description": "Recipient management"
    },
    {
      "name": "Webhooks",
      "description": "Event webhooks"
    }
  ],
  "paths": {
    "/transmissions": {
      "post": {
        "summary": "Create a transmission",
        "description": "Creates and sends email messages to one or multiple recipients",
        "tags": [
          "Transmissions"
        ],
        "operationId": "createTransmission",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipients",
                  "content"
                ],
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Recipient"
                    }
                  },
                  "content": {
                    "$ref": "#/components/schemas/Content"
                  },
                  "campaign_id": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "substitution_data": {
                    "type": "object"
                  },
                  "options": {
                    "$ref": "#/components/schemas/TransmissionOptions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transmission created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "total_accepted_recipients": {
                          "type": "integer"
                        },
                        "total_rejected_recipients": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "get": {
        "summary": "List scheduled transmissions",
        "tags": [
          "Transmissions"
        ],
        "operationId": "listTransmissions",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransmissionList"
                }
              }
            }
          }
        }
      }
    },
    "/transmissions/{id}": {
      "get": {
        "summary": "Get transmission details",
        "tags": [
          "Transmissions"
        ],
        "operationId": "getTransmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transmission"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "summary": "Delete scheduled transmission",
        "tags": [
          "Transmissions"
        ],
        "operationId": "deleteTransmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Invalid state"
          }
        }
      }
    },
    "/metrics/deliverability": {
      "get": {
        "summary": "Get deliverability metrics",
        "tags": [
          "Metrics"
        ],
        "operationId": "getDeliverabilityMetrics",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/deliverability/time-series": {
      "get": {
        "summary": "Get time-series metrics",
        "tags": [
          "Metrics"
        ],
        "operationId": "getTimeSeriesMetrics",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "15min",
                "hour",
                "day"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/deliverability/domain": {
      "get": {
        "summary": "Get metrics by domain",
        "tags": [
          "Metrics"
        ],
        "operationId": "getMetricsByDomain",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainMetricsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "summary": "List templates",
        "tags": [
          "Templates"
        ],
        "operationId": "listTemplates",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a template",
        "tags": [
          "Templates"
        ],
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "summary": "Get template",
        "tags": [
          "Templates"
        ],
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "summary": "Update template",
        "tags": [
          "Templates"
        ],
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "summary": "Delete template",
        "tags": [
          "Templates"
        ],
        "operationId": "deleteTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/recipient-lists": {
      "get": {
        "summary": "List recipient lists",
        "tags": [
          "Recipients"
        ],
        "operationId": "listRecipientLists",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientListCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create recipient list",
        "tags": [
          "Recipients"
        ],
        "operationId": "createRecipientList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientListInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/recipient-lists/{id}": {
      "get": {
        "summary": "Get recipient list",
        "tags": [
          "Recipients"
        ],
        "operationId": "getRecipientList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientList"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "summary": "Update recipient list",
        "tags": [
          "Recipients"
        ],
        "operationId": "updateRecipientList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientListInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "summary": "Delete recipient list",
        "tags": [
          "Recipients"
        ],
        "operationId": "deleteRecipientList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "summary": "Get webhook",
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "summary": "Update webhook",
        "tags": [
          "Webhooks"
        ],
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "summary": "Delete webhook",
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/message-events": {
      "get": {
        "summary": "Search message events",
        "tags": [
          "Webhooks"
        ],
        "operationId": "searchMessageEvents",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "events",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipients",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageEventList"
                }
              }
            }
          }
        }
      }
    },
    "/suppression-list": {
      "get": {
        "summary": "List suppressed recipients",
        "tags": [
          "Recipients"
        ],
        "operationId": "listSuppressions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add recipient to suppression list",
        "tags": [
          "Recipients"
        ],
        "operationId": "createSuppression",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/suppression-list/{email}": {
      "get": {
        "summary": "Get suppression details",
        "tags": [
          "Recipients"
        ],
        "operationId": "getSuppression",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suppression"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "summary": "Remove from suppression list",
        "tags": [
          "Recipients"
        ],
        "operationId": "deleteSuppression",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Recipient": {
        "type": "object",
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "oneOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            ]
          },
          "metadata": {
            "type": "object"
          },
          "substitution_data": {
            "type": "object"
          }
        }
      },
      "Content": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "template_id": {
            "type": "string"
          },
          "reply_to": {
            "type": "string"
          }
        }
      },
      "TransmissionOptions": {
        "type": "object",
        "properties": {
          "open_tracking": {
            "type": "boolean"
          },
          "click_tracking": {
            "type": "boolean"
          },
          "transactional": {
            "type": "boolean"
          },
          "ip_pool": {
            "type": "string"
          },
          "inline_css": {
            "type": "boolean"
          }
        }
      },
      "Transmission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "generation_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TransmissionList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transmission"
            }
          }
        }
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DomainMetricsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          }
        }
      },
      "TemplateInput": {
        "type": "object",
        "required": [
          "name",
          "content"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/Content"
          }
        }
      },
      "TemplateList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "RecipientList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "total_accepted_recipients": {
            "type": "integer"
          }
        }
      },
      "RecipientListInput": {
        "type": "object",
        "required": [
          "name",
          "recipients"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          }
        }
      },
      "RecipientListCollection": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientList"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "target": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "name",
          "target",
          "events"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "target": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "auth_type": {
            "type": "string"
          }
        }
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "MessageEventList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Suppression": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "transactional",
              "non_transactional"
            ]
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SuppressionInput": {
        "type": "object",
        "required": [
          "email",
          "type"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "transactional",
              "non_transactional"
            ]
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SuppressionList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Suppression"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}