{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.4",
    "title": "Invoice Api",
    "termsOfService": "https://www.truckertools.com/terms",
    "contact": {
      "email": "integrations@truckertools.com"
    },
    "license": {
      "name": "Private",
      "url": "https://smartcapacity.truckertools.com"
    },
    "description": "Create or update an invoice of a load\n\n# Overview\n\n- Retrieve authentication keys from TruckerTools\n- Create authentication signatures for each Request\n- Send invoice updates to TruckerTools\n\n# Authentication\nAuthentication is done using the provided API Key and a Signature, encrypted using the Secret\nKey, in the header of the API call.\n\n```\nX-Api-Key: ${ApiKey}\nX-Signature: ${Signature}\n```\n\n| Sample Keys | |\n| - | - |\n| API Key | `f3f4b655b406bfa2e5ea81d02e862db0` |\n| Secret Key | `37d7118e12551a58a5431db8a6944baef085426b7b2bd07b1249b7a11f7ea289` |\n\n## Steps to create encrypted signature\n\n1. Build a URL-encoded query string with the following values:\n\n    | Field | Description | Example |\n    | - | - | - |\n    | `accountId` | This is your Account ID which will be provided to you. | `12345` |\n    | `userName` | This is the email of the user that needs access to the SmartCapacity system. | `user@domain.com` |\n    | `timestamp` | Current time in UTC when the request was initiated in `YYYYMMDDHHmmss` format. The request should reach Trucker Tools within 10 minutes from this timestamp. | `20220315153030` |\n\n    ```\n    accountId=12345&userName=user%40domain.com&timestamp=20220315153030\n    ```\n\n2. Encrypt the string using the AES-256-CBC encryption method, using the MD5 hash of the\n  Secret Key as the passphrase and the first 16 characters of the secret key as the IV (initialization\n  vector), then get the result as a UTF8-encoded, base 64 string.\n\n    | Encryption | |\n    |-|-|\n    | **Cipher Algorithm** | AES |\n    | **Mode** | CBC |\n    | **Key Size** | 256 |\n    | **Data** | `accountId=12345&userName=user%40domain.com&timestamp=20220315153030` |\n    | **Passphrase** | `56d64066e6035e0ac38d246a27c71027` |\n    | **IV / Nonce** | `37d7118e12551a58` |\n\n    ```\n    aIvJ83KqAw/T/L+xHkyzwW75xwSrjZZTxN2drRYyOqtrxJoSkb/pdpAG+Pl+RT+XuVv0Gfwe1774GLtxFWNgNbv9Ko4chfboDfLqD5Mvgno=\n    ```\n\n3. In order to use the output above in API calls we need to make it URL safe. To do that you need to:\n\n    - replace all `+` (plus) characters with `-` (dash)\n    - replace all `/` (slash) characters with `_` (underscore)\n    - remove all `=` (equal) characters\n\n    ```\n    aIvJ83KqAw_T_L-xHkyzwW75xwSrjZZTxN2drRYyOqtrxJoSkb_pdpAG-Pl-RT-XuVv0Gfwe1774GLtxFWNgNbv9Ko4chfboDfLqD5Mvgno\n    ```\n\n4. Convert signature to Base 64 encoding:\n\n    ```\n    YUl2SjgzS3FBd19UX0wteEhreXp3Vzc1eHdTcmpaWlR4TjJkclJZeU9xdHJ4Sm9Ta2JfcGRwQUctUGwtUlQtWHVWdjBHZndlMTc3NEdMdHhGV05nTmJ2OUtvNGNoZmJvRGZMcUQ1TXZnbm8=\n    ```\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/truckertools/broker-carrier-invoice-api/1.0.4/swagger.json"
  },
  "servers": [
    {
      "url": "https://scapi.truckertools.com",
      "description": "Production Server\n"
    },
    {
      "url": "https://scapi-staging.truckertools.com",
      "description": "Staging Server\n"
    }
  ],
  "paths": {
    "/api/sendInvoice": {
      "post": {
        "description": "Invoices generated by the brokers are accepted to display them to carriers. Invoices generated by the carriers are sent to brokers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/Signature"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invoice"
                ],
                "properties": {
                  "invoice": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "description": "Invoice details",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invoice successfully added to the system",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Validation error response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "authentication error Response",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "default": false,
                      "description": "Status of API call"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message from system why it is failed to do this action.",
                      "example": "Invalid X-Api-Key or X-Signature."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiKey": {
        "description": "Public key provided at signup.\n",
        "name": "X-Api-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Signature": {
        "description": "Unique request signature.\n",
        "name": "X-Signature",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Invoice": {
        "type": "object",
        "required": [
          "load_number",
          "status",
          "amount"
        ],
        "properties": {
          "load_number": {
            "type": "string",
            "example": "LN12345",
            "description": "Load identifier of Broker that displayed to Carrier."
          },
          "ext_id": {
            "type": "string",
            "example": "TN54321",
            "description": "Load identifier of the broker system."
          },
          "invoice_number": {
            "type": "string",
            "example": "INV54321",
            "description": "Invoice Number, if not supplied this will be autogenerated."
          },
          "amount": {
            "type": "number",
            "example": 800.5,
            "description": "Amount of the invoice"
          },
          "title": {
            "type": "string",
            "example": "Carrier Invoice for shipment LN12345",
            "description": "Invoice title"
          },
          "description": {
            "type": "string",
            "example": "For shipment picked up on 04/01/2021 at Reston,VA",
            "description": "Invoice description"
          },
          "terms": {
            "type": "string",
            "description": "Invoice temrs and conditions"
          },
          "invoice_date": {
            "type": "string",
            "example": "2020-02-20 17:14:00 EST",
            "format": "Y-m-d H:i:s T"
          },
          "due_date": {
            "type": "string",
            "example": "2020-02-20 17:14:00 EST",
            "format": "Y-m-d H:i:s T"
          },
          "carrier": {
            "$ref": "#/components/schemas/Carrier"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "payment": {
            "type": "array",
            "description": "Payment details.",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "line_items": {
            "type": "array",
            "description": "Line Item details.",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          }
        }
      },
      "Carrier": {
        "type": "object",
        "required": [
          "mc",
          "company_name",
          "dot_number"
        ],
        "properties": {
          "company_name": {
            "type": "string",
            "example": "TT Carrier",
            "description": "Name of the carrier company"
          },
          "mc": {
            "type": "string",
            "description": "MC number of the carrier",
            "example": "MC8000001"
          },
          "dot_number": {
            "type": "string",
            "example": 23456,
            "description": "DOT number of the carrier."
          },
          "contact_name": {
            "type": "string",
            "example": "Jane Carrier",
            "description": "Contact name of the carrier."
          },
          "contact_email": {
            "type": "string",
            "example": "dispatch@carrier.com",
            "description": "Contact email of the carrier."
          },
          "contact_phone": {
            "type": "string",
            "example": 1234567890,
            "description": "Contact phone number of the carrier."
          }
        }
      },
      "Status": {
        "type": "object",
        "required": [
          "type",
          "date",
          "message"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "submitted",
              "accepted",
              "rejected",
              "pending",
              "paid"
            ],
            "example": "accepted",
            "description": "Status of the invoice or invoice item. Submitted - initial status of created line item/invoice. Accepted - line item/invoice and documents have been accepted. Rejected - line item/invoice and/or documents have been rejected. - Pending - payment is pending for invoice/line item. Paid - invoice/line item is paid."
          },
          "date": {
            "type": "string",
            "example": "2020-02-20 17:14:00 EST",
            "format": "Y-m-d H:i:s T"
          },
          "message": {
            "type": "string",
            "description": "Message to add for the status"
          }
        }
      },
      "Notes": {
        "type": "object",
        "required": [
          "date",
          "message"
        ],
        "properties": {
          "date": {
            "type": "string",
            "example": "2020-02-20 17:14:00 EST",
            "format": "Y-m-d H:i:s T"
          },
          "message": {
            "type": "string",
            "description": "Notes for the invoice"
          }
        }
      },
      "Payment": {
        "type": "object",
        "required": [
          "status",
          "method",
          "amount",
          "payment_sent"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "paid",
              "partial_paid",
              "factoring"
            ],
            "example": "paid",
            "description": "Status of the invoice payment"
          },
          "method": {
            "type": "string",
            "enum": [
              "ach",
              "check"
            ],
            "example": "check",
            "description": "Method of the payment"
          },
          "amount": {
            "type": "number",
            "example": 800.5,
            "description": "Amount of the payment"
          },
          "message": {
            "type": "string",
            "description": "Details for the payment"
          },
          "payment_sent": {
            "type": "boolean",
            "example": true,
            "description": "Flag for the payment to identify payment is sent."
          },
          "payment_date": {
            "type": "string",
            "example": "2020-02-20 17:14:00 EST",
            "description": "Date of payment - actual or expected.",
            "format": "Y-m-d H:i:s T"
          }
        }
      },
      "LineItem": {
        "type": "object",
        "required": [
          "line_item_type",
          "line_item_id",
          "status",
          "amount"
        ],
        "properties": {
          "line_item_id": {
            "type": "string",
            "example": 1234,
            "description": "Unique identifier for the invoice line item to facilitate updates to the invoice and maintain uploaded documents"
          },
          "line_item_type": {
            "type": "string",
            "enum": [
              "line_haul",
              "lumper",
              "detention",
              "fuel_surcharge"
            ],
            "example": "lumper",
            "description": "Type of the line item. Any new types needs to be added by TruckerTools"
          },
          "documentRequired": {
            "type": "boolean",
            "example": true,
            "description": "Boolean flag to show/hide the document upload button on the line item. Defaults to true."
          },
          "amount": {
            "type": "number",
            "example": 100.5,
            "description": "Amount of the line item"
          },
          "description": {
            "type": "string",
            "example": "Lumper fee for shipment",
            "description": "Description of the line item"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "documents": {
            "type": "array",
            "description": "Documents for the line item",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Boolean value to remove line item from invoice"
          },
          "stop": {
            "$ref": "#/components/schemas/Stop"
          }
        }
      },
      "Document": {
        "type": "object",
        "required": [
          "document_url"
        ],
        "properties": {
          "document_url": {
            "type": "string",
            "example": "http://www.findmyimage.com/12345",
            "description": "URL to the image without authentication"
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Boolean value to remove document from invoice",
            "default": false
          }
        }
      },
      "Stop": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "STOP-1234",
            "description": "External Stop id to identify stop"
          },
          "address": {
            "type": "string",
            "example": "123 Baker St",
            "description": "Stop address"
          },
          "city": {
            "type": "string",
            "example": "Reston",
            "description": "Stop city"
          },
          "state": {
            "type": "string",
            "example": "VA",
            "description": "Stop State"
          },
          "zipCode": {
            "type": "string",
            "example": "12345",
            "description": "Stop Zipcode"
          },
          "scheduledAtEarly": {
            "type": "string",
            "example": "2020-02-20 17:14:00 EST",
            "description": "Earliest scheduled time for stop.",
            "format": "Y-m-d H:i:s T"
          },
          "scheduledAtLate": {
            "type": "string",
            "example": "2020-02-21 17:14:00 EST",
            "description": "Latest scheduled time for stop.",
            "format": "Y-m-d H:i:s T"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Status of API call"
          },
          "message": {
            "type": "string",
            "description": "Response from the API",
            "example": "Invoice successfully processed."
          },
          "details": {
            "$ref": "#/components/schemas/InvoiceResponse"
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "invoiceNumber": {
            "type": "string",
            "description": "Invoice number that was processed"
          },
          "status": {
            "type": "boolean",
            "description": "Status of the processed invoice element"
          },
          "message": {
            "type": "string",
            "description": "Response from API for the processed invoice element",
            "example": "Invoice successfully created/updated"
          }
        }
      }
    }
  }
}