{
  "openapi": "3.0.3",
  "info": {
    "title": "SimpleLogin API",
    "version": "1.0.0",
    "description": "API for SimpleLogin email alias service. Provides endpoints for authentication, managing email aliases, mailboxes, contacts, custom domains, and user settings.",
    "x-jentic-source-url": "https://simplelogin.io/docs/"
  },
  "servers": [
    {
      "url": "https://app.simplelogin.io"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "User authentication",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "device": {
                    "type": "string",
                    "description": "Device name for the API key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful, returns API key or MFA token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "mfa_enabled": {
                      "type": "boolean"
                    },
                    "mfa_key": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/auth/mfa": {
      "post": {
        "operationId": "verifyMfa",
        "summary": "Two-factor authentication",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mfa_token",
                  "mfa_key"
                ],
                "properties": {
                  "mfa_token": {
                    "type": "string"
                  },
                  "mfa_key": {
                    "type": "string"
                  },
                  "device": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MFA verified, returns API key"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid MFA token"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "operationId": "register",
        "summary": "Register a new account",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/auth/activate": {
      "post": {
        "operationId": "activateAccount",
        "summary": "Confirm new account with activation code",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "code"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account activated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/auth/forgot_password": {
      "post": {
        "operationId": "forgotPassword",
        "summary": "Request password reset",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/user_info": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get current user information",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateUserInfo",
        "summary": "Update user profile",
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_picture": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User info updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "operationId": "getUserStats",
        "summary": "Get user statistics",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User statistics"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/logout": {
      "get": {
        "operationId": "logout",
        "summary": "Log out user",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successfully logged out"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v5/alias/options": {
      "get": {
        "operationId": "getAliasOptions",
        "summary": "Get alias creation options",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Optional hostname for context-aware suggestions",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available alias options"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v3/alias/custom/new": {
      "post": {
        "operationId": "createCustomAlias",
        "summary": "Create a custom alias",
        "tags": [
          "Aliases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "alias_prefix",
                  "signed_suffix",
                  "mailbox_ids"
                ],
                "properties": {
                  "alias_prefix": {
                    "type": "string"
                  },
                  "signed_suffix": {
                    "type": "string"
                  },
                  "mailbox_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Alias created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/alias/random/new": {
      "post": {
        "operationId": "createRandomAlias",
        "summary": "Generate a random alias",
        "tags": [
          "Aliases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "uuid",
                      "word"
                    ]
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Random alias created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/aliases": {
      "get": {
        "operationId": "listAliases",
        "summary": "List user aliases",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pinned",
            "in": "query",
            "description": "Filter pinned aliases",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disabled",
            "in": "query",
            "description": "Filter disabled aliases",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "Filter enabled aliases",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aliases": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Alias"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/aliases/{aliasId}": {
      "get": {
        "operationId": "getAlias",
        "summary": "Get alias details",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateAlias",
        "summary": "Update an alias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "mailbox_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pinned": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteAlias",
        "summary": "Delete an alias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/aliases/{aliasId}/toggle": {
      "post": {
        "operationId": "toggleAlias",
        "summary": "Enable or disable an alias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias toggled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/aliases/{aliasId}/activities": {
      "get": {
        "operationId": "getAliasActivities",
        "summary": "Get alias activity log",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias activities"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/aliases/{aliasId}/contacts": {
      "get": {
        "operationId": "listAliasContacts",
        "summary": "List contacts for an alias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAliasContact",
        "summary": "Create a reverse-alias contact for an alias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contact"
                ],
                "properties": {
                  "contact": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/mailboxes": {
      "get": {
        "operationId": "listMailboxes",
        "summary": "List all mailboxes",
        "tags": [
          "Mailboxes"
        ],
        "responses": {
          "200": {
            "description": "List of mailboxes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mailboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Mailbox"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mailboxes": {
      "post": {
        "operationId": "createMailbox",
        "summary": "Create a new mailbox",
        "tags": [
          "Mailboxes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mailbox created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mailboxes/{mailboxId}": {
      "put": {
        "operationId": "updateMailbox",
        "summary": "Update a mailbox",
        "tags": [
          "Mailboxes"
        ],
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "default": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mailbox updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMailbox",
        "summary": "Delete a mailbox",
        "tags": [
          "Mailboxes"
        ],
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mailbox deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/api_key": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Create a new API key",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Alias": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "creation_timestamp": {
            "type": "integer"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "nb_forward": {
            "type": "integer"
          },
          "nb_block": {
            "type": "integer"
          },
          "nb_reply": {
            "type": "integer"
          },
          "pinned": {
            "type": "boolean"
          }
        }
      },
      "Mailbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "default": {
            "type": "boolean"
          },
          "creation_timestamp": {
            "type": "integer"
          },
          "nb_alias": {
            "type": "integer"
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "profile_picture_url": {
            "type": "string",
            "nullable": true
          },
          "is_premium": {
            "type": "boolean"
          },
          "in_trial": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authentication",
        "description": "API key obtained from login endpoint"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}