{
  "openapi": "3.0.3",
  "info": {
    "title": "Surventrix API",
    "description": "Surventrix surveying and CRM integration API with Zapier webhook support.",
    "version": "1.0.0",
    "contact": {
      "name": "Surventrix",
      "url": "https://www.surventrix.com"
    }
  },
  "servers": [
    {
      "url": "https://2.surventrix.com",
      "description": "Surventrix Production API"
    }
  ],
  "paths": {
    "/api/zapier_auth": {
      "get": {
        "summary": "zapier_auth",
        "operationId": "zapierauth",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Zapier Integration"
        ],
        "description": "This endpoint is used to verify that API credentials (API Key and Organization ID) are valid. It's typically used as a connection test when setting up the integration."
      }
    },
    "/api/sample_rest_hook_response": {
      "get": {
        "summary": "sample_rest_hook_response",
        "operationId": "sampleresthookresponse",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Zapier Integration"
        ],
        "description": "The sample data returned depends on the event_type in the request.This is an example for instruction.create.Other event_type values (e.g. instruction.paid, instruction.update_status, etc.) will return a different response structure matching the respective webhook format.The format of each response is designed to simulate real production webhook events for Zapier testing purposes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "event_type": "instruction.create"
              }
            }
          }
        }
      }
    },
    "/api/rest_hooks_subscribe": {
      "post": {
        "summary": "rest_hooks_subscribe",
        "operationId": "resthookssubscribe",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Zapier Integration"
        ],
        "description": "This endpoint registers a new REST hook subscription. Zapier calls it when a user enables a Zap trigger. Your system should save the hook_url along with the event_type, and later send webhook notifications to that URL whenever the specified event occurs. This is required to enable real-time event delivery for Zapier integrations.Below is the example for \"event_type\": \"instruction.create\"",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hook_url": {
                    "type": "string"
                  },
                  "event_type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "hook_url": "https://hooks.zapier.com/hooks/standard/12345/abcde",
                "event_type": "instruction.create"
              }
            }
          }
        }
      }
    },
    "/api/rest_hooks_unsubscribe": {
      "patch": {
        "summary": "rest_hooks_unsubscribe",
        "operationId": "resthooksunsubscribe",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Zapier Integration"
        ],
        "description": "This endpoint removes an existing REST hook subscription. Zapier calls it when a user turns off or disconnects a Zap trigger. Your system should find and disable or delete the subscription associated with the given hook_url and event_type, so no further webhook events are sent to that URL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hook_url": {
                    "type": "string"
                  },
                  "event_type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "hook_url": "https://hooks.zapier.com/hooks/standard/12345/abcde",
                "event_type": "instruction.create"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Zapier Integration",
      "description": "Zapier webhook and trigger integration endpoints"
    }
  ]
}