{
  "openapi": "3.0.3",
  "info": {
    "title": "LinkPreview API",
    "description": "LinkPreview provides URL metadata and preview generation. Given a URL, it extracts the title, description, image, and canonical URL from the target page. Supports additional fields such as image dimensions, icons, locale, and content safety detection on higher-tier plans.",
    "version": "1.0.0",
    "contact": {
      "name": "LinkPreview",
      "url": "https://www.linkpreview.net"
    },
    "x-jentic-source-url": "https://docs.linkpreview.net"
  },
  "servers": [
    {
      "url": "https://api.linkpreview.net",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Preview",
      "description": "URL preview and metadata extraction"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getPreview",
        "summary": "Get URL preview",
        "description": "Fetches metadata (title, description, image, URL) for a given web page. Additional fields are available depending on your plan tier.",
        "tags": ["Preview"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The URL to preview. Must be percent-encoded.",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "example": "https://www.google.com"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of additional fields to include in the response. Available fields depend on plan tier.",
            "schema": {
              "type": "string"
            },
            "example": "image_x,icon_type,locale"
          },
          {
            "name": "block_content",
            "in": "query",
            "required": false,
            "description": "When true, enables detection and blocking of malware or adult content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful preview response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Cannot verify API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or blank API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Blocked by robots.txt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "424": {
            "description": "Content blocked (malware or adult content detected)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "425": {
            "description": "Invalid response status from remote server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "426": {
            "description": "Too many requests per domain (max 1 request/second per unique domain)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postPreview",
        "summary": "Get URL preview (POST)",
        "description": "Same as GET but accepts parameters in the request body. Useful when the target URL is very long.",
        "tags": ["Preview"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["q"],
                "properties": {
                  "q": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to preview."
                  },
                  "fields": {
                    "type": "string",
                    "description": "Comma-separated list of additional fields."
                  },
                  "block_content": {
                    "type": "boolean",
                    "description": "Enable malware/adult content detection.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful preview response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Cannot verify API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or blank API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Blocked by robots.txt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "424": {
            "description": "Content blocked (malware or adult content detected)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "425": {
            "description": "Invalid response status from remote server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "426": {
            "description": "Too many requests per domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Linkpreview-Api-Key",
        "description": "API key obtained from https://my.linkpreview.net"
      }
    },
    "schemas": {
      "PreviewResponse": {
        "type": "object",
        "description": "URL preview metadata. Additional fields are available on higher-tier plans when requested via the 'fields' parameter.",
        "properties": {
          "title": {
            "type": "string",
            "description": "Page title extracted from the target URL."
          },
          "description": {
            "type": "string",
            "description": "Page description or summary."
          },
          "image": {
            "type": "string",
            "description": "URL of the primary preview image."
          },
          "url": {
            "type": "string",
            "description": "The original requested URL."
          },
          "canonical": {
            "type": "string",
            "description": "Canonical URL of the page. Available on Basic plan and above."
          },
          "locale": {
            "type": "string",
            "description": "Locale of the page. Available on Basic plan and above."
          },
          "site_name": {
            "type": "string",
            "description": "Name of the website. Available on Basic plan and above."
          },
          "image_x": {
            "type": "integer",
            "description": "Image width in pixels. Available on Pro plan and above."
          },
          "image_y": {
            "type": "integer",
            "description": "Image height in pixels. Available on Pro plan and above."
          },
          "image_size": {
            "type": "integer",
            "description": "Image file size in bytes. Available on Pro plan and above."
          },
          "image_type": {
            "type": "string",
            "description": "Image MIME type. Available on Pro plan and above."
          },
          "icon": {
            "type": "string",
            "description": "URL of the site favicon/icon. Available on Pro plan and above."
          },
          "icon_x": {
            "type": "integer",
            "description": "Icon width in pixels. Available on Pro plan and above."
          },
          "icon_y": {
            "type": "integer",
            "description": "Icon height in pixels. Available on Pro plan and above."
          },
          "icon_size": {
            "type": "integer",
            "description": "Icon file size in bytes. Available on Pro plan and above."
          },
          "icon_type": {
            "type": "string",
            "description": "Icon MIME type. Available on Pro plan and above."
          }
        },
        "required": ["title", "description", "image", "url"]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response returned when the API cannot fulfill the request.",
        "properties": {
          "error": {
            "type": "integer",
            "description": "HTTP status code of the error."
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the error."
          }
        }
      }
    }
  }
}
