{
  "openapi": "3.0.3",
  "info": {
    "title": "DDownload API",
    "description": "DDownload file hosting API for managing accounts, files, folders, and uploads.",
    "version": "2.0.0",
    "contact": {
      "url": "https://ddownload.com"
    },
    "termsOfService": "https://ddownload.com/tos.html"
  },
  "servers": [
    {
      "url": "https://api-v2.ddownload.com/api",
      "description": "DDownload API v2"
    }
  ],
  "externalDocs": {
    "description": "DDownload API Documentation",
    "url": "https://ddownload.com/api"
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/account/info": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get Account Info",
        "description": "Returns account information including balance, storage used, premium status, and traffic allocation.",
        "tags": ["Account"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/stats": {
      "get": {
        "operationId": "getAccountStats",
        "summary": "Get Account Statistics",
        "description": "Returns daily download, view, and sales statistics for the account.",
        "tags": ["Account"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "last",
            "in": "query",
            "description": "Number of days to return statistics for. Default: 7.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with daily statistics array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upload/server": {
      "get": {
        "operationId": "getUploadServer",
        "summary": "Get Upload Server",
        "description": "Returns the URL for the upload server to which files should be uploaded.",
        "tags": ["Upload"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with upload server URL",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "description": "Upload server URL",
                          "example": "https://up1.ddownload.com/upload/"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/file/info": {
      "get": {
        "operationId": "getFileInfo",
        "summary": "Get File Info",
        "description": "Returns metadata for one or more files including name, size, upload date, and download count.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "file_code",
            "in": "query",
            "description": "Comma-separated file codes to retrieve information for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with file metadata array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/file/list": {
      "get": {
        "operationId": "getFileList",
        "summary": "Get Files List",
        "description": "Returns a paginated list of files in the account.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of files per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fld_id",
            "in": "query",
            "description": "Folder ID to filter files by.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "description": "Filter by public status (0 or 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "Filter by creation date.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by file name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with paginated file array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/file/check": {
      "get": {
        "operationId": "checkFiles",
        "summary": "Check Files (Batch)",
        "description": "Batch check the status of up to 500 files by file code. Returns total count, stats (found/not_found/dmca), and files array.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "file_code",
            "in": "query",
            "description": "Comma-separated file codes (max 500).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "File not found"
          },
          "451": {
            "description": "File removed due to DMCA"
          }
        }
      }
    },
    "/file/exists": {
      "get": {
        "operationId": "fileExists",
        "summary": "Check File Exists",
        "description": "Check if a file exists in the account by MD5 hash or file name.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "md5",
            "in": "query",
            "description": "MD5 hash of the file to check.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the file to check.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the file (optional, used with name).",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with match array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/file/rename": {
      "get": {
        "operationId": "renameFile",
        "summary": "Rename File",
        "description": "Rename a file by file code.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "file_code",
            "in": "query",
            "description": "File code of the file to rename.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "New name for the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with updated file details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/file/set_folder": {
      "get": {
        "operationId": "setFileFolder",
        "summary": "Set File Folder",
        "description": "Move a file to a specified folder.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "file_code",
            "in": "query",
            "description": "File code of the file to move.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fld_id",
            "in": "query",
            "description": "Folder ID to move the file to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/file/set_property": {
      "get": {
        "operationId": "setFileProperty",
        "summary": "Set File Property",
        "description": "Set public or premium_only properties on a file.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "file_code",
            "in": "query",
            "description": "File code of the file to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "description": "Set file public status (0 or 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "premium_only",
            "in": "query",
            "description": "Set file to premium only (0 or 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with updated and requested file count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/deleted": {
      "get": {
        "operationId": "getDeletedFiles",
        "summary": "Get Deleted Files",
        "description": "Returns an array of recently deleted files with deletion timestamps.",
        "tags": ["File"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "last",
            "in": "query",
            "description": "Limit the number of deleted files returned.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with deleted files array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/folder/list": {
      "get": {
        "operationId": "getFolderList",
        "summary": "Get Folder and File List",
        "description": "Returns folders and files within a specified folder.",
        "tags": ["Folder"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "fld_id",
            "in": "query",
            "description": "Folder ID to list contents of. Use 0 or omit for root.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with folders and files arrays",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/folder/create": {
      "get": {
        "operationId": "createFolder",
        "summary": "Create New Folder",
        "description": "Creates a new folder with the specified name under a parent folder.",
        "tags": ["Folder"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "Parent folder ID. Use 0 for root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name for the new folder.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with new folder ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/folder/rename": {
      "get": {
        "operationId": "renameFolder",
        "summary": "Rename Folder",
        "description": "Renames a folder.",
        "tags": ["Folder"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "fld_id",
            "in": "query",
            "description": "Folder ID to rename.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "New name for the folder.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with boolean success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/folder/delete": {
      "get": {
        "operationId": "deleteFolder",
        "summary": "Delete Folder",
        "description": "Deletes a folder. Optionally force delete even if not empty.",
        "tags": ["Folder"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "fld_id",
            "in": "query",
            "description": "Folder ID to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Force delete even if folder is not empty (0 or 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with deletion details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/folder/move": {
      "get": {
        "operationId": "moveFolder",
        "summary": "Move Folder",
        "description": "Moves a folder to a new parent folder.",
        "tags": ["Folder"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "name": "fld_id",
            "in": "query",
            "description": "Folder ID to move.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "New parent folder ID. Use 0 for root.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with movement confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiKey": {
        "name": "key",
        "in": "query",
        "description": "API key obtained from account settings (Dashboard > Settings > API Details).",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "API key obtained from account settings."
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "description": "Status message"
          },
          "server_time": {
            "type": "string",
            "description": "Server timestamp"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "result": {
            "description": "Response result data (varies by endpoint)"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Account management endpoints"
    },
    {
      "name": "Upload",
      "description": "File upload endpoints"
    },
    {
      "name": "File",
      "description": "File management endpoints"
    },
    {
      "name": "Folder",
      "description": "Folder management endpoints"
    }
  ]
}
