{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenSanctions API",
    "version": "1.0.0",
    "description": "OpenSanctions API for searching and matching entities (persons, companies, etc.) against sanctions lists and related datasets. Supports entity matching, text search, and data catalog access.",
    "x-jentic-source-url": "https://api.opensanctions.org"
  },
  "servers": [
    {
      "url": "https://api.opensanctions.org"
    }
  ],
  "paths": {
    "/search/{dataset}": {
      "get": {
        "operationId": "searchEntities",
        "summary": "Search entities in a dataset",
        "description": "Text-based search with faceted navigation across entities in a dataset.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset identifier (e.g., default, sanctions)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "description": "Entity schema type to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Filter by country codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topics",
            "in": "query",
            "description": "Filter by entity topics",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_dataset",
            "in": "query",
            "description": "Include specific dataset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_dataset",
            "in": "query",
            "description": "Exclude specific dataset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fuzzy",
            "in": "query",
            "description": "Enable fuzzy matching",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/match/{dataset}": {
      "post": {
        "operationId": "matchEntities",
        "summary": "Match entities against a dataset",
        "description": "Fuzzy name matching and scoring against entities in a dataset.",
        "tags": [
          "Matching"
        ],
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "description": "Dataset identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of match results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "description": "Minimum match score threshold",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "algorithm",
            "in": "query",
            "description": "Matching algorithm to use",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topics",
            "in": "query",
            "description": "Filter by topics",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Match results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/{entityId}": {
      "get": {
        "operationId": "getEntity",
        "summary": "Get entity details",
        "description": "Fetch complete entity details by ID.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "description": "Entity identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nested",
            "in": "query",
            "description": "Include nested entity data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/{entityId}/adjacent": {
      "get": {
        "operationId": "getAdjacentEntities",
        "summary": "Get adjacent entities",
        "description": "Retrieve entities adjacent to the specified entity.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "description": "Entity identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adjacent entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statements": {
      "get": {
        "operationId": "getStatements",
        "summary": "Get raw statement data",
        "description": "Access raw statement-based data with filtering.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "description": "Filter by dataset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "description": "Filter by entity ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prop",
            "in": "query",
            "description": "Filter by property name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filter by property value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "description": "Filter by entity schema",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statement data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/catalog": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Get data catalog",
        "description": "Retrieve the data catalog with available datasets.",
        "tags": [
          "Data"
        ],
        "responses": {
          "200": {
            "description": "Data catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/algorithms": {
      "get": {
        "operationId": "listAlgorithms",
        "summary": "List matching algorithms",
        "description": "List supported matching algorithms.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Available algorithms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityResponse"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "facets": {
            "type": "object"
          }
        }
      },
      "MatchRequest": {
        "type": "object",
        "properties": {
          "queries": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "schema": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MatchResponse": {
        "type": "object",
        "properties": {
          "responses": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScoredEntity"
                  }
                },
                "total": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ScoredEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "caption": {
            "type": "string"
          },
          "schema": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "datasets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "score": {
            "type": "number"
          },
          "match": {
            "type": "boolean"
          }
        }
      },
      "EntityResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "caption": {
            "type": "string"
          },
          "schema": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "datasets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "referents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "first_seen": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen": {
            "type": "string",
            "format": "date-time"
          },
          "last_change": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StatementResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "entity_id": {
                  "type": "string"
                },
                "canonical_id": {
                  "type": "string"
                },
                "prop": {
                  "type": "string"
                },
                "schema": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "dataset": {
                  "type": "string"
                },
                "first_seen": {
                  "type": "string",
                  "format": "date-time"
                },
                "last_seen": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "CatalogResponse": {
        "type": "object",
        "properties": {
          "datasets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "summary": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "entity_count": {
                  "type": "integer"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "OpenSanctions API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}