{
    "schemes": ["https"],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "info": {
        "description": "This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/) for how to get started, more information about each endpoint, parameter descriptions, and examples.",
        "title": "Machines API",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.machines.dev",
    "basePath": "/v1",
    "paths": {
        "/apps": {
            "get": {
                "description": "List all apps with the ability to filter by organization slug.\n",
                "tags": [
                    "Apps"
                ],
                "summary": "List Apps",
                "operationId": "Apps_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The org slug, or 'personal', to filter apps",
                        "name": "org_slug",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Filter apps by role",
                        "name": "app_role",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ListAppsResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create an app with the specified details in the request body.\n",
                "tags": [
                    "Apps"
                ],
                "summary": "Create App",
                "operationId": "Apps_create",
                "parameters": [
                    {
                        "description": "App body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateAppRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}": {
            "get": {
                "description": "Retrieve details about a specific app by its name.\n",
                "tags": [
                    "Apps"
                ],
                "summary": "Get App",
                "operationId": "Apps_show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete an app by its name.\n",
                "tags": [
                    "Apps"
                ],
                "summary": "Destroy App",
                "operationId": "Apps_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    }
                }
            }
        },
        "/apps/{app_name}/certificates": {
            "get": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "List certificates for app",
                "operationId": "App_Certificates_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Hostname filter (substring match)",
                        "name": "filter",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination cursor from previous response",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Number of results per page (default 25, max 500)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/listCertificatesResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/certificates/acme": {
            "post": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "Request ACME certificate",
                "operationId": "App_Certificates_acme_create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "ACME certificate request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/createAcmeCertificateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CertificateDetail"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/certificates/custom": {
            "post": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "Upload custom certificate",
                "operationId": "App_Certificates_custom_create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Custom certificate request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/createCustomCertificateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CertificateDetail"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/certificates/{hostname}": {
            "get": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "Get certificate details",
                "operationId": "App_Certificates_show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Certificate Hostname",
                        "name": "hostname",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertificateDetail"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "Remove certificate",
                "operationId": "App_Certificates_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Certificate Hostname",
                        "name": "hostname",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/apps/{app_name}/certificates/{hostname}/acme": {
            "delete": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "Remove ACME certificates",
                "operationId": "App_Certificates_acme_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Certificate Hostname",
                        "name": "hostname",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertificateDetail"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/certificates/{hostname}/check": {
            "post": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "Check DNS and re-validate certificate",
                "operationId": "App_Certificates_check",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Certificate Hostname",
                        "name": "hostname",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CertificateCheckResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/certificates/{hostname}/custom": {
            "delete": {
                "tags": [
                    "TLS Certificates"
                ],
                "summary": "Remove custom certificate",
                "operationId": "App_Certificates_custom_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Certificate Hostname",
                        "name": "hostname",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/destroyCustomCertificateResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/deploy_token": {
            "post": {
                "tags": [
                    "Apps"
                ],
                "summary": "Create App deploy token",
                "operationId": "App_create_deploy_token",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateAppDeployTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CreateAppResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/ip_assignments": {
            "get": {
                "tags": [
                    "Apps"
                ],
                "summary": "List IP assignments for app",
                "operationId": "App_IPAssignments_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/listIPAssignmentsResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Apps"
                ],
                "summary": "Assign new IP address to app",
                "operationId": "App_IPAssignments_create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Assign IP request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/assignIPRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IPAssignment"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/ip_assignments/{ip}": {
            "delete": {
                "tags": [
                    "Apps"
                ],
                "summary": "Remove IP assignment from app",
                "operationId": "App_IPAssignments_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "IP address",
                        "name": "ip",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/apps/{app_name}/machines": {
            "get": {
                "description": "List all Machines associated with a specific app, with optional filters for including deleted Machines and filtering by region.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "List Machines",
                "operationId": "Machines_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Include deleted machines",
                        "name": "include_deleted",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Region filter",
                        "name": "region",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "comma separated list of states to filter (created, started, stopped, suspended)",
                        "name": "state",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Only return summary info about machines (omit config, checks, events, host_status, nonce, etc.)",
                        "name": "summary",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Machine"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a Machine within a specific app using the details provided in the request body.\n\n**Important**: This request can fail, and you’re responsible for handling that failure. If you ask for a large Machine, or a Machine in a region we happen to be at capacity for, you might need to retry the request, or to fall back to another region. If you’re working directly with the Machines API, you’re taking some responsibility for your own orchestration!\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Create Machine",
                "operationId": "Machines_create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Create machine request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateMachineRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Machine"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}": {
            "get": {
                "description": "Get details of a specific Machine within an app by the Machine ID.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Get Machine",
                "operationId": "Machines_show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Machine"
                        }
                    }
                }
            },
            "post": {
                "description": "Update a Machine's configuration using the details provided in the request body.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Update Machine",
                "operationId": "Machines_update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateMachineRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Machine"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a specific Machine within an app by Machine ID, with an optional force parameter to force kill the Machine if it's running.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Destroy Machine",
                "operationId": "Machines_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Force kill the machine if it's running",
                        "name": "force",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/cordon": {
            "post": {
                "description": "“Cordoning” a Machine refers to disabling its services, so the Fly Proxy won’t route requests to it. In flyctl this is used by blue/green deployments; one set of Machines is started up with services disabled, and when they are all healthy, the services are enabled on the new Machines and disabled on the old ones.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Cordon Machine",
                "operationId": "Machines_cordon",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/events": {
            "get": {
                "description": "List all events associated with a specific Machine within an app.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "List Events",
                "operationId": "Machines_list_events",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "The number of events to fetch (max of 50). If omitted, this is set to 20 by default.",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MachineEvent"
                            }
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/exec": {
            "post": {
                "description": "Execute a command on a specific Machine and return the raw command output bytes.\n",
                "produces": [
                    "application/octet-stream",
                    "application/json"
                ],
                "tags": [
                    "Machines"
                ],
                "summary": "Execute Command",
                "operationId": "Machines_exec",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MachineExecRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "stdout, stderr, exit code, and exit signal are returned",
                        "schema": {
                            "$ref": "#/definitions/flydv1.ExecResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/lease": {
            "get": {
                "description": "Retrieve the current lease of a specific Machine within an app. Machine leases can be used to obtain an exclusive lock on modifying a Machine.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Get Lease",
                "operationId": "Machines_show_lease",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Lease"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a lease for a specific Machine within an app using the details provided in the request body. Machine leases can be used to obtain an exclusive lock on modifying a Machine.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Create Lease",
                "operationId": "Machines_create_lease",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Existing lease nonce to refresh by ttl, empty or non-existent to create a new lease",
                        "name": "fly-machine-lease-nonce",
                        "in": "header"
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateLeaseRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Lease"
                        }
                    }
                }
            },
            "delete": {
                "description": "Release the lease of a specific Machine within an app. Machine leases can be used to obtain an exclusive lock on modifying a Machine.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Release Lease",
                "operationId": "Machines_release_lease",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Existing lease nonce",
                        "name": "fly-machine-lease-nonce",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/memory": {
            "get": {
                "description": "Get current memory limit and available capacity for a machine",
                "tags": [
                    "Machines"
                ],
                "summary": "Get Machine Memory",
                "operationId": "Machines_get_memory",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.memoryResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Set the memory limit for a machine using the balloon device",
                "tags": [
                    "Machines"
                ],
                "summary": "Set Machine Memory Limit",
                "operationId": "Machines_set_memory_limit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Set memory limit request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/main.setMemoryLimitRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.memoryResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/memory/reclaim": {
            "post": {
                "description": "Trigger the balloon device to reclaim memory from a machine",
                "tags": [
                    "Machines"
                ],
                "summary": "Reclaim Machine Memory",
                "operationId": "Machines_reclaim_memory",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Reclaim memory request",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/main.reclaimMemoryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.reclaimMemoryResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/metadata": {
            "get": {
                "description": "Retrieve metadata for a specific Machine within an app.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Get Metadata",
                "operationId": "Machines_show_metadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Update multiple metadata keys at once. Null values and empty strings remove keys.\n+ If `machine_version` is provided and no longer matches the current machine version, returns 412 Precondition Failed.",
                "tags": [
                    "Machines"
                ],
                "summary": "Update Metadata (set/remove multiple keys)",
                "operationId": "Machines_update_metadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update metadata request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/updateMetadataRequest"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/metadata/{key}": {
            "get": {
                "description": "Get the value of a specific metadata key",
                "tags": [
                    "Machines"
                ],
                "summary": "Get Metadata Value",
                "operationId": "Machines_get_metadata_key",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Metadata Key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/metadataValueResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Update metadata for a specific machine within an app by providing a metadata key.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Upsert Metadata Key",
                "operationId": "Machines_upsert_metadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Metadata Key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Upsert metadata key request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/upsertMetadataKeyRequest"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete metadata for a specific Machine within an app by providing a metadata key.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Delete Metadata",
                "operationId": "Machines_delete_metadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Metadata Key",
                        "name": "key",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/ps": {
            "get": {
                "description": "List all processes running on a specific Machine within an app, with optional sorting parameters.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "List Processes",
                "operationId": "Machines_list_processes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Sort by",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Order",
                        "name": "order",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProcessStat"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/restart": {
            "post": {
                "description": "Restart a specific Machine within an app, with an optional timeout parameter.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Restart Machine",
                "operationId": "Machines_restart",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Restart timeout as a Go duration string or number of seconds",
                        "name": "timeout",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Unix signal name",
                        "name": "signal",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/signal": {
            "post": {
                "description": "Send a signal to a specific Machine within an app using the details provided in the request body.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Signal Machine",
                "operationId": "Machines_signal",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SignalRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/start": {
            "post": {
                "description": "Start a specific Machine within an app.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Start Machine",
                "operationId": "Machines_start",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/stop": {
            "post": {
                "description": "Stop a specific Machine within an app, with an optional request body to specify signal and timeout.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Stop Machine",
                "operationId": "Machines_stop",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Optional request body",
                        "name": "request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/StopRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/suspend": {
            "post": {
                "description": "Suspend a specific Machine within an app. The next start operation will attempt (but is not guaranteed) to resume the Machine from a snapshot taken at suspension time, rather than performing a cold boot.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Suspend Machine",
                "operationId": "Machines_suspend",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/uncordon": {
            "post": {
                "description": "“Cordoning” a Machine refers to disabling its services, so the Fly Proxy won’t route requests to it. In flyctl this is used by blue/green deployments; one set of Machines is started up with services disabled, and when they are all healthy, the services are enabled on the new Machines and disabled on the old ones.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Uncordon Machine",
                "operationId": "Machines_uncordon",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/versions": {
            "get": {
                "description": "List all versions of the configuration for a specific Machine within an app.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "List Versions",
                "operationId": "Machines_list_versions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MachineVersion"
                            }
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/machines/{machine_id}/wait": {
            "get": {
                "description": "Wait for a Machine to reach a specific state. Specify the desired state with the state parameter. See the [Machine states table](https://fly.io/docs/machines/working-with-machines/#machine-states) for a list of possible states. The default for this parameter is `started`.\n\nThis request will block for up to 60 seconds. Set a shorter timeout with the timeout parameter.\n",
                "tags": [
                    "Machines"
                ],
                "summary": "Wait for State",
                "operationId": "Machines_wait",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Machine ID",
                        "name": "machine_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "26-character Machine version ID",
                        "name": "version",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "26-character Machine version ID (deprecated; use version)",
                        "name": "instance_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "26-character Machine event ID to start waiting after",
                        "name": "from_event_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "wait timeout. default 60s",
                        "name": "timeout",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "started",
                            "stopped",
                            "suspended",
                            "destroyed",
                            "failed",
                            "settled"
                        ],
                        "type": "string",
                        "description": "desired state(s), supports repeated or comma-separated values",
                        "name": "state",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WaitMachineResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secretkeys": {
            "get": {
                "tags": [
                    "Secrets"
                ],
                "summary": "List secret keys belonging to an app",
                "operationId": "Secretkeys_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-seperated list of secret keys to list",
                        "name": "types",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecretKeys"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secretkeys/{secret_name}": {
            "get": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Get an app's secret key",
                "operationId": "Secretkey_get",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SecretKey"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Create or update a secret key",
                "operationId": "Secretkey_set",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Create secret key request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetSecretkeyRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/SetSecretkeyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Delete an app's secret key",
                "operationId": "Secretkey_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeleteSecretkeyResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secretkeys/{secret_name}/decrypt": {
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Decrypt with a secret key",
                "operationId": "Secretkey_decrypt",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    },
                    {
                        "description": "Decrypt with secret key request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DecryptSecretkeyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DecryptSecretkeyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secretkeys/{secret_name}/encrypt": {
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Encrypt with a secret key",
                "operationId": "Secretkey_encrypt",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    },
                    {
                        "description": "Encrypt with secret key request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EncryptSecretkeyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EncryptSecretkeyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secretkeys/{secret_name}/generate": {
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Generate a random secret key",
                "operationId": "Secretkey_generate",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "generate secret key request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetSecretkeyRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/SetSecretkeyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secretkeys/{secret_name}/sign": {
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Sign with a secret key",
                "operationId": "Secretkey_sign",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    },
                    {
                        "description": "Sign with secret key request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SignSecretkeyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SignSecretkeyResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secretkeys/{secret_name}/verify": {
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Verify with a secret key",
                "operationId": "Secretkey_verify",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Secret key name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    },
                    {
                        "description": "Verify with secret key request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VerifySecretkeyRequest"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secrets": {
            "get": {
                "tags": [
                    "Secrets"
                ],
                "summary": "List app secrets belonging to an app",
                "operationId": "Secrets_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Show the secret values.",
                        "name": "show_secrets",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AppSecrets"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Update app secrets belonging to an app",
                "operationId": "Secrets_update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update app secret request, with values to set, or nil to unset",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AppSecretsUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AppSecretsUpdateResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/secrets/{secret_name}": {
            "get": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Get an app secret",
                "operationId": "Secret_get",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "App secret name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum secrets version to return. Returned when setting a new secret",
                        "name": "min_version",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Show the secret value.",
                        "name": "show_secrets",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AppSecret"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Create or update Secret",
                "operationId": "Secret_create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "App secret name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Create app secret request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetAppSecretRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/SetAppSecretResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Secrets"
                ],
                "summary": "Delete an app secret",
                "operationId": "Secret_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "App secret name",
                        "name": "secret_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeleteAppSecretResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/volumes": {
            "get": {
                "description": "List all volumes associated with a specific app.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "List Volumes",
                "operationId": "Volumes_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Only return summary info about volumes (omit blocks, block size, etc)",
                        "name": "summary",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Volume"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a volume for a specific app using the details provided in the request body.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "Create Volume",
                "operationId": "Volumes_create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateVolumeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Volume"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/volumes/{volume_id}": {
            "get": {
                "description": "Retrieve details about a specific volume by its ID within an app.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "Get Volume",
                "operationId": "Volumes_get_by_id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Volume ID",
                        "name": "volume_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Volume"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a volume's configuration using the details provided in the request body.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "Update Volume",
                "operationId": "Volumes_update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Volume ID",
                        "name": "volume_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateVolumeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Volume"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a specific volume within an app by volume ID.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "Destroy Volume",
                "operationId": "Volume_delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Volume ID",
                        "name": "volume_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Volume"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/volumes/{volume_id}/extend": {
            "put": {
                "description": "Extend a volume's size within an app using the details provided in the request body.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "Extend Volume",
                "operationId": "Volumes_extend",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Volume ID",
                        "name": "volume_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExtendVolumeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExtendVolumeResponse"
                        }
                    }
                }
            }
        },
        "/apps/{app_name}/volumes/{volume_id}/snapshots": {
            "get": {
                "description": "List all snapshots for a specific volume within an app.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "List Snapshots",
                "operationId": "Volumes_list_snapshots",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Volume ID",
                        "name": "volume_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/VolumeSnapshot"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a snapshot for a specific volume within an app.\n",
                "tags": [
                    "Volumes"
                ],
                "summary": "Create Snapshot",
                "operationId": "createVolumeSnapshot",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly App Name",
                        "name": "app_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Volume ID",
                        "name": "volume_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/orgs/{org_slug}/machines": {
            "get": {
                "description": "List all Machines associated with a specific organization. Machines are sorted by their `updated_at` timestamps, oldest to newest.\n\nThis API call represents \"a point in time\". Recent machine changes, including creations and destructions, may take time to propagate. When polling with `updated_after`, offset your timestamps to catch late-arriving events.\n",
                "tags": [
                    "Organizations"
                ],
                "summary": "List All Machines",
                "operationId": "Machines_org_list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Fly Organization Slug",
                        "name": "org_slug",
                        "in": "path",
                        "required": true
                    },
                    {
[...]
