{
  "openapi": "3.0.3",
  "info": {
    "title": "Spream Zapier API",
    "description": "Spream is a membership platform for managing content, live streaming, and event reservations with integrated member authentication and payment processing. This API enables webhook management for Zapier integrations.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://spream-zapier-6fd8e2.gitlab.io"
  },
  "servers": [
    {
      "url": "https://api.spream.co/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/zapier/webhooks": {
      "post": {
        "operationId": "createZapierWebhook",
        "summary": "Create Zapier webhook",
        "description": "Create Zapier webhook for specified event",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zapierWebhookUrl",
                  "spreamEvent"
                ],
                "properties": {
                  "zapierWebhookUrl": {
                    "type": "string",
                    "description": "Webhook destination URL"
                  },
                  "spreamEvent": {
                    "type": "string",
                    "enum": [
                      "newMember",
                      "removeMember"
                    ],
                    "description": "Event type to subscribe to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Webhook created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "operationId": "deleteZapierWebhook",
        "summary": "Remove Zapier webhook",
        "description": "Remove Zapier webhook for specified event",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "zapierWebhookUrl",
                  "spreamEvent"
                ],
                "properties": {
                  "zapierWebhookUrl": {
                    "type": "string",
                    "description": "Webhook destination URL"
                  },
                  "spreamEvent": {
                    "type": "string",
                    "enum": [
                      "newMember",
                      "removeMember"
                    ],
                    "description": "Event type to unsubscribe from"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Webhook removed successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/zapier/me": {
      "get": {
        "operationId": "getZapierAccountInfo",
        "summary": "Get account info",
        "description": "Get info about Zapier extension",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Spream account name"
          }
        }
      }
    },
    "securitySchemes": {
      "ZapierApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ZAPIER-KEY",
        "description": "API Key authentication for Zapier integration"
      }
    }
  },
  "security": [
    {
      "ZapierApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Webhooks",
      "description": "Manage Zapier webhooks for specified events"
    },
    {
      "name": "Account",
      "description": "Get account information"
    }
  ]
}