{
  "openapi": "3.0.3",
  "info": {
    "title": "Appsmith API",
    "version": "1.0.0",
    "description": "Appsmith low-code platform API for managing workspaces, applications, pages, datasources, themes, and users.",
    "x-jentic-source-url": "https://docs.appsmith.com/connect-data/reference/rest-api"
  },
  "servers": [
    {
      "url": "https://app.appsmith.com",
      "description": "Appsmith Cloud"
    },
    {
      "url": "http://localhost:8080",
      "description": "Self-hosted Appsmith"
    }
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Workspace management"
    },
    {
      "name": "Applications",
      "description": "Application management"
    },
    {
      "name": "Pages",
      "description": "Page management"
    },
    {
      "name": "Datasources",
      "description": "Datasource management"
    },
    {
      "name": "Themes",
      "description": "Theme management"
    },
    {
      "name": "Users",
      "description": "User management"
    }
  ],
  "paths": {
    "/api/v1/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List all workspaces",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create workspace",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "Get workspace",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWorkspace",
        "summary": "Update workspace",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkspace",
        "summary": "Delete workspace",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/v1/applications": {
      "get": {
        "operationId": "listApplications",
        "summary": "List applications",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "Apps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Application"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApplication",
        "summary": "Create application",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "workspaceId"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Application"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/applications/{applicationId}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Get application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Application"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateApplication",
        "summary": "Update application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteApplication",
        "summary": "Delete application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/v1/applications/{applicationId}/publish": {
      "post": {
        "operationId": "publishApplication",
        "summary": "Publish application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Published"
          }
        }
      }
    },
    "/api/v1/applications/{applicationId}/fork/{workspaceId}": {
      "post": {
        "operationId": "forkApplication",
        "summary": "Fork application to workspace",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Application"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/applications/import/{workspaceId}": {
      "post": {
        "operationId": "importApplication",
        "summary": "Import application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Imported"
          }
        }
      }
    },
    "/api/v1/applications/export/{applicationId}": {
      "get": {
        "operationId": "exportApplication",
        "summary": "Export application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pages": {
      "post": {
        "operationId": "createPage",
        "summary": "Create page",
        "tags": [
          "Pages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "applicationId"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "applicationId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/pages/{pageId}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePage",
        "summary": "Update page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "deletePage",
        "summary": "Delete page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/v1/pages/{pageId}/clone": {
      "post": {
        "operationId": "clonePage",
        "summary": "Clone page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cloned"
          }
        }
      }
    },
    "/api/v1/datasources": {
      "get": {
        "operationId": "listDatasources",
        "summary": "List datasources",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datasources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDatasource",
        "summary": "Create datasource",
        "tags": [
          "Datasources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "pluginId",
                  "workspaceId",
                  "datasourceConfiguration"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "pluginId": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "datasourceConfiguration": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/datasources/{datasourceId}": {
      "get": {
        "operationId": "getDatasource",
        "summary": "Get datasource",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datasource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDatasource",
        "summary": "Update datasource",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteDatasource",
        "summary": "Delete datasource",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/v1/datasources/{datasourceId}/test": {
      "post": {
        "operationId": "testDatasource",
        "summary": "Test datasource connection",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/themes/applications/{applicationId}": {
      "get": {
        "operationId": "getApplicationThemes",
        "summary": "Get application themes",
        "tags": [
          "Themes"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Themes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "isDefault": {
                  "type": "boolean"
                }
              }
            }
          },
          "color": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "appIsExample": {
            "type": "boolean"
          },
          "slug": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Appsmith API key"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}