{
  "openapi": "3.0.3",
  "info": {
    "title": "Bundestag API",
    "version": "1.0.0",
    "description": "API for accessing documents, proceedings, and parliamentary data from the German Bundestag's Documentation and Information System (DIP).",
    "x-jentic-source-url": "https://search.dip.bundestag.de/api/v1/swagger-ui/"
  },
  "servers": [
    {
      "url": "https://search.dip.bundestag.de/api/v1"
    }
  ],
  "paths": {
    "/drucksache": {
      "get": {
        "operationId": "listDrucksachen",
        "summary": "List printed papers (Drucksachen)",
        "description": "Retrieve a list of printed papers (Drucksachen) from the Bundestag.",
        "tags": [
          "Drucksachen"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.datum.start",
            "in": "query",
            "required": false,
            "description": "Start date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.datum.end",
            "in": "query",
            "required": false,
            "description": "End date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.wahlperiode",
            "in": "query",
            "required": false,
            "description": "Electoral term number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "f.drucksachetyp",
            "in": "query",
            "required": false,
            "description": "Type of printed paper",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format (json or xml)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of printed papers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrucksacheList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key"
          }
        }
      }
    },
    "/drucksache/{id}": {
      "get": {
        "operationId": "getDrucksache",
        "summary": "Get a specific printed paper",
        "description": "Retrieve details of a specific printed paper by its ID.",
        "tags": [
          "Drucksachen"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Drucksache ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with printed paper details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drucksache"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Drucksache not found"
          }
        }
      }
    },
    "/drucksache-text": {
      "get": {
        "operationId": "listDrucksachenText",
        "summary": "List printed papers with full text",
        "description": "Retrieve a list of printed papers including full text content.",
        "tags": [
          "Drucksachen"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.datum.start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.datum.end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrucksacheList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/drucksache-text/{id}": {
      "get": {
        "operationId": "getDrucksacheText",
        "summary": "Get full text of a specific printed paper",
        "tags": [
          "Drucksachen"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drucksache"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/plenarprotokoll": {
      "get": {
        "operationId": "listPlenarprotokolle",
        "summary": "List plenary protocols",
        "description": "Retrieve a list of plenary protocols from the Bundestag.",
        "tags": [
          "Plenarprotokolle"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.datum.start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.datum.end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.wahlperiode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of plenary protocols",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlenarprotokollList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/plenarprotokoll/{id}": {
      "get": {
        "operationId": "getPlenarprotokoll",
        "summary": "Get a specific plenary protocol",
        "tags": [
          "Plenarprotokolle"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plenarprotokoll"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/plenarprotokoll-text": {
      "get": {
        "operationId": "listPlenarprotokolleText",
        "summary": "List plenary protocols with full text",
        "tags": [
          "Plenarprotokolle"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.datum.start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.datum.end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlenarprotokollList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/plenarprotokoll-text/{id}": {
      "get": {
        "operationId": "getPlenarprotokollText",
        "summary": "Get full text of a specific plenary protocol",
        "tags": [
          "Plenarprotokolle"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plenarprotokoll"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/vorgang": {
      "get": {
        "operationId": "listVorgaenge",
        "summary": "List legislative processes (Vorgaenge)",
        "description": "Retrieve a list of legislative processes.",
        "tags": [
          "Vorgaenge"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.datum.start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.datum.end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.wahlperiode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "f.vorgangstyp",
            "in": "query",
            "required": false,
            "description": "Type of legislative process",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VorgangList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vorgang/{id}": {
      "get": {
        "operationId": "getVorgang",
        "summary": "Get a specific legislative process",
        "tags": [
          "Vorgaenge"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vorgang"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/vorgangsposition": {
      "get": {
        "operationId": "listVorgangspositionen",
        "summary": "List legislative process positions",
        "tags": [
          "Vorgaenge"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.datum.start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.datum.end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.wahlperiode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VorgangspositionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vorgangsposition/{id}": {
      "get": {
        "operationId": "getVorgangsposition",
        "summary": "Get a specific legislative process position",
        "tags": [
          "Vorgaenge"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vorgangsposition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/person": {
      "get": {
        "operationId": "listPersonen",
        "summary": "List persons (members of parliament)",
        "tags": [
          "Personen"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.wahlperiode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/person/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a specific person",
        "tags": [
          "Personen"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/aktivitaet": {
      "get": {
        "operationId": "listAktivitaeten",
        "summary": "List activities",
        "tags": [
          "Aktivitaeten"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f.datum.start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.datum.end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "f.wahlperiode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AktivitaetList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/aktivitaet/{id}": {
      "get": {
        "operationId": "getAktivitaet",
        "summary": "Get a specific activity",
        "tags": [
          "Aktivitaeten"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aktivitaet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DrucksacheList": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Drucksache"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "Drucksache": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "typ": {
            "type": "string"
          },
          "dokumentart": {
            "type": "string"
          },
          "drucksachetyp": {
            "type": "string"
          },
          "dokumentnummer": {
            "type": "string"
          },
          "wahlperiode": {
            "type": "integer"
          },
          "herausgeber": {
            "type": "string"
          },
          "datum": {
            "type": "string",
            "format": "date"
          },
          "titel": {
            "type": "string"
          },
          "autoren_anzahl": {
            "type": "integer"
          },
          "fundstelle": {
            "$ref": "#/components/schemas/Fundstelle"
          },
          "pdf_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PlenarprotokollList": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plenarprotokoll"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "Plenarprotokoll": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "typ": {
            "type": "string"
          },
          "dokumentart": {
            "type": "string"
          },
          "dokumentnummer": {
            "type": "string"
          },
          "wahlperiode": {
            "type": "integer"
          },
          "herausgeber": {
            "type": "string"
          },
          "datum": {
            "type": "string",
            "format": "date"
          },
          "titel": {
            "type": "string"
          },
          "pdf_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "VorgangList": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vorgang"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "Vorgang": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "typ": {
            "type": "string"
          },
          "vorgangstyp": {
            "type": "string"
          },
          "wahlperiode": {
            "type": "integer"
          },
          "titel": {
            "type": "string"
          },
          "initiative": {
            "type": "string"
          },
          "datum": {
            "type": "string",
            "format": "date"
          },
          "beratungsstand": {
            "type": "string"
          }
        }
      },
      "VorgangspositionList": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vorgangsposition"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "Vorgangsposition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "vorgangId": {
            "type": "integer"
          },
          "titel": {
            "type": "string"
          },
          "datum": {
            "type": "string",
            "format": "date"
          },
          "aktivitaet_anzeige": {
            "type": "string"
          }
        }
      },
      "PersonList": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "typ": {
            "type": "string"
          },
          "vorname": {
            "type": "string"
          },
          "nachname": {
            "type": "string"
          },
          "namenszusatz": {
            "type": "string"
          },
          "wahlperiode": {
            "type": "integer"
          },
          "basisdatum": {
            "type": "string",
            "format": "date"
          },
          "datum": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "AktivitaetList": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aktivitaet"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "Aktivitaet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "typ": {
            "type": "string"
          },
          "aktivitaetsart": {
            "type": "string"
          },
          "titel": {
            "type": "string"
          },
          "datum": {
            "type": "string",
            "format": "date"
          },
          "wahlperiode": {
            "type": "integer"
          }
        }
      },
      "Fundstelle": {
        "type": "object",
        "properties": {
          "pdf_url": {
            "type": "string",
            "format": "uri"
          },
          "dokumentnummer": {
            "type": "string"
          },
          "herausgeber": {
            "type": "string"
          },
          "datum": {
            "type": "string",
            "format": "date"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query",
        "description": "API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}