{
  "openapi": "3.0.3",
  "info": {
    "title": "GraphHopper Directions API",
    "description": "The GraphHopper Directions API provides A-to-B routing with turn-by-turn instructions, route optimization, isochrone calculations, geocoding, and matrix calculations. Supports car, bike, foot, and other vehicle profiles.",
    "version": "1.0.0",
    "contact": {
      "name": "GraphHopper GmbH",
      "url": "https://www.graphhopper.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://graphhopper.com/api/1",
      "description": "GraphHopper Directions API v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Routing",
      "description": "A-to-B routing with turn-by-turn instructions"
    },
    {
      "name": "Route Optimization",
      "description": "Optimize routes for multiple stops (Vehicle Routing Problem)"
    },
    {
      "name": "Isochrone",
      "description": "Calculate reachable areas from a point within a time or distance limit"
    },
    {
      "name": "Matrix",
      "description": "Calculate travel time and distance matrices"
    },
    {
      "name": "Geocoding",
      "description": "Forward and reverse geocoding"
    },
    {
      "name": "Map Matching",
      "description": "Snap GPS traces to road network"
    }
  ],
  "paths": {
    "/route": {
      "get": {
        "operationId": "getRoute",
        "summary": "Get route (GET)",
        "description": "Calculate a route between two or more points with turn-by-turn instructions, distance, and time.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "point",
            "in": "query",
            "required": true,
            "description": "Coordinates as latitude,longitude. Specify at least 2 points.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": [
              "48.8566,2.3522",
              "45.7640,4.8357"
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale for instructions (e.g. en, de, fr)",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "instructions",
            "in": "query",
            "description": "Include turn-by-turn instructions",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "vehicle",
            "in": "query",
            "description": "Vehicle profile",
            "schema": {
              "type": "string",
              "enum": [
                "car",
                "bike",
                "foot",
                "hike",
                "mtb",
                "racingbike",
                "scooter",
                "truck",
                "small_truck"
              ],
              "default": "car"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "Include elevation data in response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "points_encoded",
            "in": "query",
            "description": "Use encoded polyline format",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "calc_points",
            "in": "query",
            "description": "Calculate route geometry points",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "gpx"
              ],
              "default": "json"
            }
          },
          {
            "name": "algorithm",
            "in": "query",
            "description": "Routing algorithm",
            "schema": {
              "type": "string",
              "enum": [
                "round_trip",
                "alternative_route"
              ]
            }
          },
          {
            "name": "ch.disable",
            "in": "query",
            "description": "Disable contraction hierarchies speed-up",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "weighting",
            "in": "query",
            "description": "Route weighting",
            "schema": {
              "type": "string",
              "enum": [
                "fastest",
                "shortest",
                "short_fastest"
              ],
              "default": "fastest"
            }
          },
          {
            "name": "heading",
            "in": "query",
            "description": "Preferred heading at each point (0-360 degrees)",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "heading_penalty",
            "in": "query",
            "description": "Penalty for heading changes in seconds",
            "schema": {
              "type": "integer",
              "default": 120
            }
          },
          {
            "name": "pass_through",
            "in": "query",
            "description": "Force route through intermediate points",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "details",
            "in": "query",
            "description": "Path details to include (e.g. street_name, time, distance)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "snap_prevention",
            "in": "query",
            "description": "Road types to avoid snapping to",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful routing response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "operationId": "postRoute",
        "summary": "Get route (POST)",
        "description": "Calculate a route using POST request body for complex queries with many waypoints or custom settings.",
        "tags": [
          "Routing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful routing response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/isochrone": {
      "get": {
        "operationId": "getIsochrone",
        "summary": "Calculate isochrone",
        "description": "Calculate the area that is reachable from a given point within a specified time or distance limit.",
        "tags": [
          "Isochrone"
        ],
        "parameters": [
          {
            "name": "point",
            "in": "query",
            "required": true,
            "description": "Center point as latitude,longitude",
            "schema": {
              "type": "string",
              "example": "48.8566,2.3522"
            }
          },
          {
            "name": "time_limit",
            "in": "query",
            "description": "Time limit in seconds",
            "schema": {
              "type": "integer",
              "default": 600
            }
          },
          {
            "name": "distance_limit",
            "in": "query",
            "description": "Distance limit in meters (use instead of time_limit)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "vehicle",
            "in": "query",
            "description": "Vehicle profile",
            "schema": {
              "type": "string",
              "enum": [
                "car",
                "bike",
                "foot"
              ],
              "default": "car"
            }
          },
          {
            "name": "buckets",
            "in": "query",
            "description": "Number of isochrone buckets (concentric areas)",
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 5
            }
          },
          {
            "name": "reverse_flow",
            "in": "query",
            "description": "Calculate isochrone for arrivals instead of departures",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "weighting",
            "in": "query",
            "description": "Weighting type",
            "schema": {
              "type": "string",
              "enum": [
                "fastest",
                "shortest"
              ],
              "default": "fastest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful isochrone response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsochroneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/matrix": {
      "get": {
        "operationId": "getMatrix",
        "summary": "Calculate matrix (GET)",
        "description": "Calculate travel time and distance matrices between multiple origins and destinations.",
        "tags": [
          "Matrix"
        ],
        "parameters": [
          {
            "name": "point",
            "in": "query",
            "required": true,
            "description": "Points as latitude,longitude",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "from_point",
            "in": "query",
            "description": "Origin points (if different from point)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "to_point",
            "in": "query",
            "description": "Destination points (if different from point)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "vehicle",
            "in": "query",
            "description": "Vehicle profile",
            "schema": {
              "type": "string",
              "default": "car"
            }
          },
          {
            "name": "out_array",
            "in": "query",
            "description": "Output arrays to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "weights",
                  "times",
                  "distances"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful matrix response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "postMatrix",
        "summary": "Calculate matrix (POST)",
        "description": "Calculate matrix using POST for large numbers of points.",
        "tags": [
          "Matrix"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatrixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful matrix response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/geocode": {
      "get": {
        "operationId": "getGeocode",
        "summary": "Geocode address",
        "description": "Convert an address string into geographic coordinates (forward geocoding).",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Address or place name to geocode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale for results",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "Reverse geocoding mode (q should be lat,lng)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "point",
            "in": "query",
            "description": "Bias results toward this point (lat,lng)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Geocoding provider",
            "schema": {
              "type": "string",
              "enum": [
                "nominatim",
                "opencagedata",
                "default"
              ],
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vrp": {
      "post": {
        "operationId": "solveVRP",
        "summary": "Solve vehicle routing problem",
        "description": "Optimize routes for multiple vehicles and stops. Solves the Vehicle Routing Problem (VRP) with various constraints like time windows, capacities, and skills.",
        "tags": [
          "Route Optimization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VRPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "ID to poll for solution"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vrp/solution/{jobId}": {
      "get": {
        "operationId": "getVRPSolution",
        "summary": "Get VRP solution",
        "description": "Retrieve the solution for a previously submitted vehicle routing problem.",
        "tags": [
          "Route Optimization"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job ID returned from VRP submission",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VRP solution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VRPSolution"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    },
    "/match": {
      "post": {
        "operationId": "postMapMatch",
        "summary": "Map match GPS trace",
        "description": "Snap a GPS trace to the road network and return the matched route with correct geometry.",
        "tags": [
          "Map Matching"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "points": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      },
                      "minItems": 2,
                      "maxItems": 3
                    },
                    "description": "GPS points as [longitude, latitude] or [longitude, latitude, timestamp]"
                  },
                  "vehicle": {
                    "type": "string",
                    "default": "car"
                  },
                  "gps_accuracy": {
                    "type": "integer",
                    "description": "GPS accuracy in meters",
                    "default": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map matched route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "GraphHopper API key"
      }
    },
    "schemas": {
      "RouteRequest": {
        "type": "object",
        "required": [
          "points"
        ],
        "properties": {
          "points": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "minItems": 2,
              "maxItems": 2
            },
            "description": "Array of [longitude, latitude] coordinate pairs",
            "minItems": 2
          },
          "vehicle": {
            "type": "string",
            "default": "car"
          },
          "locale": {
            "type": "string",
            "default": "en"
          },
          "instructions": {
            "type": "boolean",
            "default": true
          },
          "calc_points": {
            "type": "boolean",
            "default": true
          },
          "elevation": {
            "type": "boolean",
            "default": false
          },
          "points_encoded": {
            "type": "boolean",
            "default": true
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "optimize": {
            "type": "boolean",
            "description": "Optimize waypoint order",
            "default": false
          },
          "snap_preventions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "paths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePath"
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "copyrights": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "took": {
                "type": "integer",
                "description": "Processing time in milliseconds"
              }
            }
          }
        }
      },
      "RoutePath": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "number",
            "description": "Total distance in meters"
          },
          "time": {
            "type": "integer",
            "description": "Total time in milliseconds"
          },
          "ascend": {
            "type": "number",
            "description": "Total ascent in meters"
          },
          "descend": {
            "type": "number",
            "description": "Total descent in meters"
          },
          "points": {
            "description": "Route geometry (encoded polyline or GeoJSON)",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object"
              }
            ]
          },
          "snapped_waypoints": {
            "type": "string",
            "description": "Encoded polyline of snapped waypoints"
          },
          "instructions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Instruction"
            }
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          },
          "bbox": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Bounding box [minLon, minLat, maxLon, maxLat]"
          }
        }
      },
      "Instruction": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Human-readable instruction text"
          },
          "distance": {
            "type": "number",
            "description": "Distance for this segment in meters"
          },
          "time": {
            "type": "integer",
            "description": "Time for this segment in milliseconds"
          },
          "interval": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Point index interval [start, end]"
          },
          "sign": {
            "type": "integer",
            "description": "Turn sign indicator"
          },
          "street_name": {
            "type": "string"
          },
          "exit_number": {
            "type": "integer",
            "description": "Roundabout exit number"
          }
        }
      },
      "IsochroneResponse": {
        "type": "object",
        "properties": {
          "polygons": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "Feature"
                  ]
                },
                "geometry": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "Polygon"
                      ]
                    },
                    "coordinates": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "bucket": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "info": {
            "type": "object"
          }
        }
      },
      "MatrixRequest": {
        "type": "object",
        "properties": {
          "points": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "description": "Array of [longitude, latitude] pairs"
          },
          "from_points": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "to_points": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "vehicle": {
            "type": "string",
            "default": "car"
          },
          "out_arrays": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "weights",
                "times",
                "distances"
              ]
            }
          }
        }
      },
      "MatrixResponse": {
        "type": "object",
        "properties": {
          "distances": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "description": "Distance matrix in meters"
          },
          "times": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "description": "Time matrix in milliseconds"
          },
          "weights": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "description": "Weight matrix"
          },
          "info": {
            "type": "object"
          }
        }
      },
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "hits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "point": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number"
                    },
                    "lng": {
                      "type": "number"
                    }
                  }
                },
                "osm_id": {
                  "type": "string"
                },
                "osm_type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "street": {
                  "type": "string"
                },
                "housenumber": {
                  "type": "string"
                },
                "postcode": {
                  "type": "string"
                }
              }
            }
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "VRPRequest": {
        "type": "object",
        "required": [
          "vehicles",
          "services"
        ],
        "properties": {
          "vehicles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "vehicle_id": {
                  "type": "string"
                },
                "type_id": {
                  "type": "string"
                },
                "start_address": {
                  "$ref": "#/components/schemas/Address"
                },
                "end_address": {
                  "$ref": "#/components/schemas/Address"
                },
                "earliest_start": {
                  "type": "integer"
                },
                "latest_end": {
                  "type": "integer"
                },
                "skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "max_jobs": {
                  "type": "integer"
                }
              }
            }
          },
          "vehicle_types": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type_id": {
                  "type": "string"
                },
                "capacity": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "profile": {
                  "type": "string"
                }
              }
            }
          },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "address": {
                  "$ref": "#/components/schemas/Address"
                },
                "duration": {
                  "type": "integer",
                  "description": "Service duration in seconds"
                },
                "size": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "time_windows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "earliest": {
                        "type": "integer"
                      },
                      "latest": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "required_skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "objectives": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "min",
                    "min-max"
                  ]
                },
                "value": {
                  "type": "string",
                  "enum": [
                    "completion_time",
                    "transport_time",
                    "vehicles"
                  ]
                }
              }
            }
          }
        }
      },
      "VRPSolution": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "waiting_in_queue",
              "processing",
              "finished"
            ]
          },
          "processing_time": {
            "type": "integer"
          },
          "solution": {
            "type": "object",
            "properties": {
              "costs": {
                "type": "integer"
              },
              "distance": {
                "type": "integer",
                "description": "Total distance in meters"
              },
              "time": {
                "type": "integer",
                "description": "Total time in seconds"
              },
              "transport_time": {
                "type": "integer"
              },
              "completion_time": {
                "type": "integer"
              },
              "no_vehicles": {
                "type": "integer"
              },
              "no_unassigned": {
                "type": "integer"
              },
              "routes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "vehicle_id": {
                      "type": "string"
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "location_id": {
                            "type": "string"
                          },
                          "address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "arr_time": {
                            "type": "integer"
                          },
                          "end_time": {
                            "type": "integer"
                          },
                          "distance": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "unassigned": {
                "type": "object",
                "properties": {
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "shipments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "location_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "street_hint": {
            "type": "string"
          }
        }
      }
    }
  }
}