{
  "openapi": "3.0.3",
  "info": {
    "title": "Ola.cv Domain Management API",
    "description": "RESTful API for managing .cv domain names, contacts, DNS zones, and DNS records on the Ola.cv platform.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.ola.cv/"
  },
  "servers": [
    {
      "url": "https://developer.ola.cv",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/contacts": {
      "post": {
        "operationId": "createContact",
        "summary": "Create a new contact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts on your account",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/{id}": {
      "get": {
        "operationId": "fetchContact",
        "summary": "Get details of a contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/domains/check": {
      "post": {
        "operationId": "checkDomains",
        "summary": "Check domain availability",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "fees",
            "in": "query",
            "description": "Type of fees to include (registration or all)",
            "schema": {
              "type": "string",
              "enum": [
                "registration",
                "all"
              ],
              "default": "registration"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckDomainsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain availability results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/domains": {
      "post": {
        "operationId": "registerDomain",
        "summary": "Register a domain name",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listDomains",
        "summary": "List registered domains",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/domains/{id}": {
      "get": {
        "operationId": "fetchDomain",
        "summary": "Get details of a domain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Domain ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/domains/{id}/test": {
      "delete": {
        "operationId": "deleteTestDomain",
        "summary": "Delete a test domain",
        "tags": [
          "Testing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Domain ID to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTestDomainResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zones": {
      "get": {
        "operationId": "listZones",
        "summary": "List DNS zones",
        "tags": [
          "DNS Zones"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of DNS zones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zones/{id}": {
      "get": {
        "operationId": "fetchZone",
        "summary": "Get details of a DNS zone",
        "tags": [
          "DNS Zones"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Zone ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Zone not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zones/{id}/records": {
      "get": {
        "operationId": "listDnsRecords",
        "summary": "List DNS records in a zone",
        "tags": [
          "DNS Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Zone ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of DNS records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDnsRecord",
        "summary": "Create a DNS record in a zone",
        "tags": [
          "DNS Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Zone ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDnsRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zones/{zoneId}/records/{recordId}": {
      "get": {
        "operationId": "fetchDnsRecord",
        "summary": "Get details of a DNS record",
        "tags": [
          "DNS Records"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "Zone ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "Record ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateDnsRecord",
        "summary": "Update a DNS record in a zone",
        "tags": [
          "DNS Records"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "Zone ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "Record ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDnsRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from your ola.cv developer account dashboard"
      }
    },
    "schemas": {
      "CreateContactRequest": {
        "type": "object",
        "required": [
          "name",
          "email",
          "phone",
          "address",
          "city",
          "postcode",
          "country"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Contact's full name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact's email address"
          },
          "phone": {
            "type": "string",
            "description": "Contact's phone number"
          },
          "fax": {
            "type": "string",
            "description": "Contact's fax number"
          },
          "organization": {
            "type": "string",
            "description": "Contact's organization or company name"
          },
          "address": {
            "type": "string",
            "description": "Contact's physical or street address"
          },
          "city": {
            "type": "string",
            "description": "Contact's city"
          },
          "state": {
            "type": "string",
            "description": "Contact's state or province"
          },
          "postcode": {
            "type": "string",
            "description": "Contact's postal code"
          },
          "country": {
            "type": "string",
            "description": "2-letter ISO 3166 country code (e.g., US)"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "fax": {
            "type": "string",
            "nullable": true
          },
          "organization": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Contact"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CheckDomainsRequest": {
        "type": "object",
        "required": [
          "domains"
        ],
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of .cv domain names to check"
          }
        }
      },
      "CheckDomainsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DomainAvailability"
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "DomainAvailability": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "available": {
            "type": "boolean"
          },
          "premium": {
            "type": "boolean"
          },
          "registration_fee": {
            "type": "number"
          },
          "renewal_fee": {
            "type": "number"
          },
          "transfer_fee": {
            "type": "number"
          },
          "redemption_fee": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "RegisterDomainRequest": {
        "type": "object",
        "required": [
          "name",
          "registrant"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The .cv domain name to register"
          },
          "registrant": {
            "type": "string",
            "description": "ID of an existing contact as registrant"
          },
          "admin": {
            "type": "string",
            "description": "ID of an existing contact as admin contact"
          },
          "tech": {
            "type": "string",
            "description": "ID of an existing contact as technical contact"
          },
          "billing": {
            "type": "string",
            "description": "ID of an existing contact as billing contact"
          },
          "nameservers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of nameservers to attach"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "auto_renew": {
            "type": "boolean"
          },
          "registered_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DomainResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Domain"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "DomainListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Domain"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "DeleteTestDomainResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Zone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "active"
            ]
          },
          "name_servers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "activated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ZoneResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Zone"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ZoneListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Zone"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateDnsRecordRequest": {
        "type": "object",
        "required": [
          "type",
          "name",
          "ttl",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "TXT",
              "DKIM",
              "SPF",
              "DMARC",
              "SRV"
            ],
            "description": "DNS record type"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "DNS record name (@ for zone root, or a subdomain)"
          },
          "ttl": {
            "type": "integer",
            "minimum": 60,
            "maximum": 86400,
            "description": "Time To Live in seconds (1 for automatic)"
          },
          "content": {
            "type": "string",
            "description": "Content of the DNS record"
          },
          "comment": {
            "type": "string",
            "description": "Comments or notes about the DNS record"
          },
          "priority": {
            "type": "integer",
            "description": "Required for MX, SRV and URI records"
          }
        }
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "zone_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "ttl": {
            "type": "integer"
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DnsRecordResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DnsRecord"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "DnsRecordListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "first_page_url": {
            "type": "string"
          },
          "from": {
            "type": "integer"
          },
          "next_page_url": {
            "type": "string",
            "nullable": true
          },
          "path": {
            "type": "string"
          },
          "per_page": {
            "type": "integer"
          },
          "prev_page_url": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contacts",
      "description": "Manage registrant and domain contacts"
    },
    {
      "name": "Domains",
      "description": "Check availability, register, and manage domains"
    },
    {
      "name": "DNS Zones",
      "description": "List and view DNS zones"
    },
    {
      "name": "DNS Records",
      "description": "View and manage DNS records within zones"
    },
    {
      "name": "Testing",
      "description": "Manage test domains"
    }
  ]
}