{
  "openapi": "3.0.3",
  "info": {
    "title": "Coinbase Developer Platform - Payment APIs",
    "version": "2.0.0",
    "description": "APIs for managing accounts, deposit destinations, payment methods, transfers, and webhooks for payment processing on the Coinbase Developer Platform.",
    "contact": {
      "name": "Coinbase Developer Platform",
      "email": "cdp@coinbase.com",
      "url": "https://cdp.coinbase.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-jentic-source-url": "https://docs.cdp.coinbase.com/api-reference/payment-apis/overview"
  },
  "servers": [
    {
      "url": "https://api.cdp.coinbase.com/platform",
      "description": "The production server of the CDP APIs"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Create and manage accounts that hold assets and facilitate transactions"
    },
    {
      "name": "Deposit Destinations",
      "description": "Generate crypto addresses to receive deposits into your accounts"
    },
    {
      "name": "Payment Methods",
      "description": "Link and manage payment methods like ACH and Fedwire for fiat transfers"
    },
    {
      "name": "Transfers",
      "description": "Execute transfers with upfront fee quotes and lifecycle tracking"
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to real-time notifications for transfer and payment events"
    }
  ],
  "paths": {
    "/v2/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": "List all accounts. The API will return all accounts that the API Key has Permissions to access. You can filter the results by using query parameters. Results are sorted by creation date in descending order (newest first).",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "The number of resources to return per page.",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "example": 10
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The token for the next page of resources, if any.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/accounts/{accountId}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get an account",
        "description": "Get an account by its ID.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account to retrieve.",
            "schema": {
              "type": "string",
              "pattern": "^account_[a-f0-9\\-]{36}$"
            },
            "example": "account_af2937b0-9846-4fe7-bfe9-ccc22d935114"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully got account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/deposit-destinations": {
      "get": {
        "operationId": "listDepositDestinations",
        "summary": "List deposit destinations",
        "description": "Retrieve all deposit destinations. You can filter by Account ID to see deposit destinations for a specific account.",
        "tags": [
          "Deposit Destinations"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "description": "Filter by account ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "The number of resources to return per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The token for the next page of resources.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed deposit destinations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositDestinationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDepositDestination",
        "summary": "Create a deposit destination",
        "description": "Generate a new crypto deposit address for an account.",
        "tags": [
          "Deposit Destinations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositDestinationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deposit destination created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositDestination"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payment-methods/{paymentMethodId}": {
      "get": {
        "operationId": "getPaymentMethod",
        "summary": "Get a payment method",
        "description": "Get details of a specific payment method by its ID. Returns 404 if the payment method is not found or not owned by the requesting entity.",
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "paymentMethodId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment method.",
            "schema": {
              "type": "string",
              "pattern": "^paymentMethod_[a-f0-9\\-]{36}$"
            },
            "example": "paymentMethod_8e03978e-40d5-43e8-bc93-6894a57f9324"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved payment method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Payment method not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/transfers": {
      "post": {
        "operationId": "createTransfer",
        "summary": "Create a transfer",
        "description": "Create a new transfer from a source to a target. Set execute to true for automatic execution, or false to get a fee quote first.",
        "tags": [
          "Transfers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/transfers/{transferId}": {
      "get": {
        "operationId": "getTransfer",
        "summary": "Get a transfer",
        "description": "Get details of a specific transfer by its ID.",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the transfer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Transfer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/transfers/{transferId}/execute": {
      "post": {
        "operationId": "executeTransfer",
        "summary": "Execute a transfer",
        "description": "Execute a previously created transfer that is in quoted status. Call this after reviewing the fee quote.",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the transfer to execute.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer execution initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Transfer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/data/webhooks/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getWebhookSubscription",
        "summary": "Get webhook subscription details",
        "description": "Retrieve detailed information about a specific webhook subscription including configuration, status, creation timestamp, and webhook signature secret.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the webhook subscription.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token generated from a CDP Secret API Key. Include in Authorization header as Bearer token."
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "required": [
          "accountId",
          "type",
          "owner",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "pattern": "^account_[a-f0-9\\-]{36}$",
            "description": "The ID of the Account, a UUID prefixed by account_.",
            "example": "account_af2937b0-9846-4fe7-bfe9-ccc22d935114"
          },
          "type": {
            "type": "string",
            "enum": [
              "prime",
              "business",
              "cdp"
            ],
            "description": "The type of the Account."
          },
          "owner": {
            "type": "string",
            "description": "The Owner ID (entity_ or customer_ prefixed UUID).",
            "example": "customer_af2937b0-9846-4fe7-bfe9-ccc22d935114"
          },
          "name": {
            "type": "string",
            "maxLength": 64,
            "description": "An optional name for the account.",
            "example": "My Business Account"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the account was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the account was last updated."
          }
        }
      },
      "ListAccountsResponse": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            },
            "description": "The list of accounts."
          },
          "nextPageToken": {
            "type": "string",
            "description": "The token for the next page of items, if any."
          }
        }
      },
      "DepositDestination": {
        "type": "object",
        "properties": {
          "depositDestinationId": {
            "type": "string",
            "description": "The unique identifier for the deposit destination."
          },
          "accountId": {
            "type": "string",
            "description": "The account ID this deposit destination belongs to."
          },
          "type": {
            "type": "string",
            "enum": [
              "crypto"
            ],
            "description": "The type of deposit destination."
          },
          "address": {
            "type": "string",
            "description": "The cryptocurrency address."
          },
          "network": {
            "type": "string",
            "description": "The network for the deposit address (e.g., base, ethereum)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional metadata key-value pairs."
          }
        }
      },
      "ListDepositDestinationsResponse": {
        "type": "object",
        "properties": {
          "depositDestinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepositDestination"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "The token for the next page of items."
          }
        }
      },
      "CreateDepositDestinationRequest": {
        "type": "object",
        "required": [
          "accountId",
          "type",
          "network"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The account to create the deposit destination for."
          },
          "type": {
            "type": "string",
            "enum": [
              "crypto"
            ],
            "description": "The type of deposit destination."
          },
          "network": {
            "type": "string",
            "description": "The network for the deposit address (e.g., base, ethereum)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional metadata key-value pairs for tracking."
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "paymentMethodId": {
            "type": "string",
            "pattern": "^paymentMethod_[a-f0-9\\-]{36}$",
            "description": "The unique identifier of the payment method."
          },
          "paymentRail": {
            "type": "string",
            "enum": [
              "fedwire",
              "swift"
            ],
            "description": "The payment rail for this payment method."
          },
          "active": {
            "type": "boolean",
            "description": "Whether the payment method is active."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "fedwire": {
            "$ref": "#/components/schemas/FedwireDetails"
          },
          "swift": {
            "$ref": "#/components/schemas/SwiftDetails"
          }
        }
      },
      "FedwireDetails": {
        "type": "object",
        "properties": {
          "asset": {
            "type": "string",
            "description": "The asset (e.g., usd).",
            "example": "usd"
          },
          "bankName": {
            "type": "string",
            "description": "The name of the bank.",
            "example": "ALLY BANK"
          },
          "accountLast4": {
            "type": "string",
            "description": "Last 4 digits of the account number."
          },
          "routingNumber": {
            "type": "string",
            "description": "The bank routing number."
          }
        }
      },
      "SwiftDetails": {
        "type": "object",
        "properties": {
          "asset": {
            "type": "string",
            "description": "The asset (e.g., eur).",
            "example": "eur"
          },
          "bankName": {
            "type": "string",
            "description": "The name of the bank."
          },
          "ibanLast4": {
            "type": "string",
            "description": "Last 4 digits of the IBAN."
          },
          "bic": {
            "type": "string",
            "description": "The SWIFT/BIC code."
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "transferId": {
            "type": "string",
            "description": "Unique identifier for the transfer."
          },
          "status": {
            "type": "string",
            "enum": [
              "quoted",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Current status of the transfer."
          },
          "source": {
            "$ref": "#/components/schemas/TransferSource"
          },
          "target": {
            "$ref": "#/components/schemas/TransferTarget"
          },
          "sourceAmount": {
            "type": "string",
            "description": "The amount taken from the source."
          },
          "sourceAsset": {
            "type": "string",
            "description": "The asset taken from the source."
          },
          "targetAmount": {
            "type": "string",
            "description": "The amount delivered to the target."
          },
          "targetAsset": {
            "type": "string",
            "description": "The asset delivered to the target."
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fee"
            },
            "description": "Fee breakdown for this transfer."
          },
          "exchangeRate": {
            "$ref": "#/components/schemas/ExchangeRate"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the fee quote expires."
          },
          "failureReason": {
            "type": "string",
            "description": "Human-readable failure reason (only when status is failed)."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "executedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the transfer moved from quoted to processing."
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the transfer finished."
          }
        }
      },
      "TransferSource": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The source account ID."
          },
          "asset": {
            "type": "string",
            "description": "The source asset."
          }
        }
      },
      "TransferTarget": {
        "type": "object",
        "description": "The target can be an Account, Payment Method, Onchain Address, or Email Address.",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Target account ID (when targeting an account)."
          },
          "paymentMethodId": {
            "type": "string",
            "description": "Target payment method ID (when targeting a payment method)."
          },
          "onchainAddress": {
            "type": "string",
            "description": "Target onchain address."
          },
          "network": {
            "type": "string",
            "description": "The network for onchain transfers."
          },
          "email": {
            "type": "string",
            "description": "Target email address."
          },
          "asset": {
            "type": "string",
            "description": "The target asset."
          }
        }
      },
      "CreateTransferRequest": {
        "type": "object",
        "required": [
          "source",
          "target",
          "amount",
          "asset"
        ],
        "properties": {
          "source": {
            "$ref": "#/components/schemas/TransferSource"
          },
          "target": {
            "$ref": "#/components/schemas/TransferTarget"
          },
          "amount": {
            "type": "string",
            "description": "The transfer amount.",
            "example": "100.00"
          },
          "asset": {
            "type": "string",
            "description": "The asset being transferred.",
            "example": "usd"
          },
          "amountType": {
            "type": "string",
            "enum": [
              "source",
              "target"
            ],
            "default": "source",
            "description": "Whether the amount is taken from source or received by target."
          },
          "execute": {
            "type": "boolean",
            "default": true,
            "description": "Whether to automatically execute after quoting."
          },
          "validateOnly": {
            "type": "boolean",
            "default": false,
            "description": "Validate the transfer without persisting it."
          },
          "travelRule": {
            "$ref": "#/components/schemas/TravelRule"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional metadata key-value pairs."
          }
        }
      },
      "Fee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bank",
              "conversion",
              "network",
              "other"
            ],
            "description": "The type of fee."
          },
          "amount": {
            "type": "string",
            "description": "The fee amount."
          },
          "asset": {
            "type": "string",
            "description": "The asset the fee is denominated in."
          }
        }
      },
      "ExchangeRate": {
        "type": "object",
        "properties": {
          "sourceAsset": {
            "type": "string",
            "description": "The source asset."
          },
          "targetAsset": {
            "type": "string",
            "description": "The target asset."
          },
          "rate": {
            "type": "string",
            "description": "Units of target asset per one unit of source asset."
          }
        }
      },
      "TravelRule": {
        "type": "object",
        "properties": {
          "isSelf": {
            "type": "boolean",
            "description": "Whether the receiving wallet belongs to the sender."
          },
          "isIntermediary": {
            "type": "boolean",
            "description": "Whether Coinbase is acting as an intermediary VASP."
          },
          "originator": {
            "$ref": "#/components/schemas/TravelRuleParty"
          },
          "beneficiary": {
            "$ref": "#/components/schemas/TravelRuleParty"
          }
        }
      },
      "TravelRuleParty": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Party name."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "walletType": {
            "type": "string",
            "enum": [
              "custodial",
              "non-custodial"
            ],
            "description": "Type of wallet."
          },
          "virtualAssetServiceProvider": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "identifier": {
                "type": "string"
              },
              "address": {
                "$ref": "#/components/schemas/Address"
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "required": [
          "subscriptionId",
          "eventTypes",
          "isEnabled",
          "secret",
          "target",
          "createdAt"
        ],
        "properties": {
          "subscriptionId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the subscription."
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Types of events subscribed to (e.g., onchain.activity.detected)."
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Whether the subscription is enabled."
          },
          "secret": {
            "type": "string",
            "format": "uuid",
            "description": "Secret for webhook signature validation."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "description": "A human-readable description."
          },
          "target": {
            "$ref": "#/components/schemas/WebhookTarget"
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Multi-label filters using total overlap logic."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookTarget": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The target URL for webhook delivery."
          },
          "customHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom headers to include with webhook requests."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "errorType",
          "errorMessage"
        ],
        "properties": {
          "errorType": {
            "type": "string",
            "description": "The error code.",
            "enum": [
              "already_exists",
              "bad_gateway",
              "forbidden",
              "idempotency_error",
              "internal_server_error",
              "invalid_request",
              "not_found",
              "rate_limit_exceeded",
              "service_unavailable",
              "timed_out",
              "unauthorized",
              "insufficient_balance",
              "transfer_amount_invalid",
              "transfer_asset_not_supported",
              "target_onchain_address_invalid",
              "target_email_invalid",
              "source_account_not_found",
              "target_account_not_found"
            ]
          },
          "errorMessage": {
            "type": "string",
            "description": "The error message."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request."
          },
          "errorLink": {
            "type": "string",
            "format": "uri",
            "description": "A link to corresponding error documentation."
          }
        }
      }
    }
  }
}