{
  "openapi": "3.1.0",
  "info": {
    "title": "Windy Webcams API",
    "description": "Access a global database of travel webcams. Search, filter, and display webcam feeds by location, category, and geographic region. Provides webcam images, live player embeds, and metadata for integration into maps and applications.",
    "version": "3.0.0",
    "contact": {
      "name": "Windy.com",
      "url": "https://api.windy.com/webcams"
    },
    "termsOfService": "https://api.windy.com/webcams/terms"
  },
  "servers": [
    {
      "url": "https://api.windy.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/webcams/api/v3/webcams": {
      "get": {
        "operationId": "listWebcams",
        "summary": "List webcams",
        "description": "Returns a paginated list of webcams with optional filtering by location, category, country, region, city, and other criteria.",
        "tags": ["Webcams"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of webcams to return.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of webcams to skip. Maximum depends on subscription tier (1000 free, 10000 professional).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized content.",
            "schema": {
              "type": "string",
              "default": "en",
              "enum": ["ar", "bg", "bn", "ca", "cs", "da", "de", "el", "en", "es", "et", "fa", "fi", "fr", "he", "hi", "hr", "hu", "id", "is", "it", "ja", "ko", "lt", "nb", "nl", "pl", "pt", "ro", "ru", "sk", "sl", "sq", "sr", "sv", "ta", "th", "tr", "uk", "vi", "zh", "zh-TW"]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box filter in format 'north_lat,east_lon,south_lat,west_lon'.",
            "schema": {
              "type": "string"
            },
            "example": "47.5,16.5,46.5,13.5"
          },
          {
            "name": "nearby",
            "in": "query",
            "description": "Filter by proximity in format 'latitude,longitude,radius_km'. Maximum radius is 250 km.",
            "schema": {
              "type": "string"
            },
            "example": "47.0,15.0,50"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Filter by category IDs. Maximum 10 items.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "continents",
            "in": "query",
            "description": "Filter by continent codes. Maximum 2 items.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 2
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Filter by country codes. Maximum 10 items.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Filter by region codes. Maximum 10 items.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "cities",
            "in": "query",
            "description": "Filter by city codes.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "webcamIds",
            "in": "query",
            "description": "Filter by specific webcam IDs. Maximum 50 items.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "maxItems": 50
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "sortKey",
            "in": "query",
            "description": "Field to sort results by.",
            "schema": {
              "type": "string",
              "enum": ["popularity", "createdOn"]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "categoryOperation",
            "in": "query",
            "description": "Logical operation for combining multiple category filters.",
            "schema": {
              "type": "string",
              "enum": ["and", "or"]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional data to include in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["categories", "images", "location", "player", "urls"]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of webcams.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebcamsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          }
        }
      }
    },
    "/webcams/api/v3/webcams/{webcamId}": {
      "get": {
        "operationId": "getWebcam",
        "summary": "Get a single webcam",
        "description": "Returns detailed information about a specific webcam by its ID.",
        "tags": ["Webcams"],
        "parameters": [
          {
            "name": "webcamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the webcam.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized content.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional data to include in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["categories", "images", "location", "player", "urls"]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with webcam details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webcam"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "404": {
            "description": "Webcam not found."
          }
        }
      }
    },
    "/webcams/api/v3/map/clusters": {
      "get": {
        "operationId": "getMapClusters",
        "summary": "Get map clusters",
        "description": "Returns a list of webcams optimized for displaying on a map, clustered by zoom level and bounding box.",
        "tags": ["Map"],
        "parameters": [
          {
            "name": "northLat",
            "in": "query",
            "required": true,
            "description": "Northern latitude boundary.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "southLat",
            "in": "query",
            "required": true,
            "description": "Southern latitude boundary.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "eastLon",
            "in": "query",
            "required": true,
            "description": "Eastern longitude boundary.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "westLon",
            "in": "query",
            "required": true,
            "description": "Western longitude boundary.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "required": true,
            "description": "Map zoom level for clustering.",
            "schema": {
              "type": "integer",
              "minimum": 4,
              "maximum": 18
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized content.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional data to include in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["categories", "images", "location", "player", "urls"]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with clustered webcams for map display.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebcamsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          }
        }
      }
    },
    "/webcams/api/v3/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List categories",
        "description": "Returns all available webcam categories.",
        "tags": ["Reference Data"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized category names.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          }
        }
      }
    },
    "/webcams/api/v3/continents": {
      "get": {
        "operationId": "listContinents",
        "summary": "List continents",
        "description": "Returns all available continents with webcam coverage.",
        "tags": ["Reference Data"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized continent names.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of continents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeoEntity"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          }
        }
      }
    },
    "/webcams/api/v3/countries": {
      "get": {
        "operationId": "listCountries",
        "summary": "List countries",
        "description": "Returns all available countries with webcam coverage.",
        "tags": ["Reference Data"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized country names.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of countries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeoEntity"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          }
        }
      }
    },
    "/webcams/api/v3/regions": {
      "get": {
        "operationId": "listRegions",
        "summary": "List regions",
        "description": "Returns all available regions with webcam coverage.",
        "tags": ["Reference Data"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized region names.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of regions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeoEntity"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          }
        }
      }
    },
    "/webcams/api/v3/cities": {
      "get": {
        "operationId": "listCities",
        "summary": "List cities",
        "description": "Returns all available cities with webcam coverage.",
        "tags": ["Reference Data"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for localized city names.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of cities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeoEntity"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          }
        }
      }
    },
    "/webcams/export/all-webcams.json": {
      "get": {
        "operationId": "exportAllWebcams",
        "summary": "Export all webcams",
        "description": "Returns a full export of all webcam data. Exclusive to the professional API tier.",
        "tags": ["Export"],
        "responses": {
          "200": {
            "description": "Successful response with full webcam data export.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webcam"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key."
          },
          "403": {
            "description": "Forbidden. Professional tier subscription required."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-windy-api-key",
        "description": "API key obtained from https://api.windy.com/keys"
      }
    },
    "schemas": {
      "WebcamsResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of webcams matching the query."
          },
          "webcams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webcam"
            },
            "description": "List of webcam objects."
          }
        },
        "required": ["total", "webcams"]
      },
      "Webcam": {
        "type": "object",
        "properties": {
          "webcamId": {
            "type": "integer",
            "description": "Unique identifier of the webcam."
          },
          "title": {
            "type": "string",
            "description": "Display title of the webcam."
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "unapproved", "disabled", "rejected", "duplicate", "merged"],
            "description": "Current status of the webcam."
          },
          "viewCount": {
            "type": "integer",
            "description": "Total number of views."
          },
          "lastUpdatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the last update."
          },
          "clusterSize": {
            "type": "integer",
            "description": "Number of webcams in a cluster (only present in map cluster responses)."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            },
            "description": "Categories assigned to this webcam. Included when 'categories' is in the include parameter."
          },
          "images": {
            "$ref": "#/components/schemas/WebcamImages",
            "description": "Webcam image URLs. Included when 'images' is in the include parameter."
          },
          "location": {
            "$ref": "#/components/schemas/WebcamLocation",
            "description": "Geographic location details. Included when 'location' is in the include parameter."
          },
          "player": {
            "$ref": "#/components/schemas/WebcamPlayer",
            "description": "Embeddable player URLs. Included when 'player' is in the include parameter."
          },
          "urls": {
            "$ref": "#/components/schemas/WebcamUrls",
            "description": "Related URLs. Included when 'urls' is in the include parameter."
          }
        },
        "required": ["webcamId", "title", "status", "viewCount", "lastUpdatedOn"]
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique category identifier."
          },
          "name": {
            "type": "string",
            "description": "Localized category name."
          }
        },
        "required": ["id", "name"]
      },
      "GeoEntity": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code for the geographic entity."
          },
          "name": {
            "type": "string",
            "description": "Localized name of the geographic entity."
          }
        },
        "required": ["code", "name"]
      },
      "WebcamImages": {
        "type": "object",
        "properties": {
          "current": {
            "$ref": "#/components/schemas/ImageSet",
            "description": "Current (most recent) webcam images."
          },
          "daylight": {
            "$ref": "#/components/schemas/ImageSet",
            "description": "Most recent daylight webcam images."
          },
          "sizes": {
            "$ref": "#/components/schemas/ImageSizes",
            "description": "Dimensions for each image size variant."
          }
        }
      },
      "ImageSet": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string",
            "format": "uri",
            "description": "URL of the icon-sized image."
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "description": "URL of the thumbnail image."
          },
          "preview": {
            "type": "string",
            "format": "uri",
            "description": "URL of the preview image."
          },
          "toenail": {
            "type": "string",
            "format": "uri",
            "description": "URL of the toenail (smallest) image."
          }
        }
      },
      "ImageSizes": {
        "type": "object",
        "properties": {
          "icon": {
            "$ref": "#/components/schemas/ImageDimension"
          },
          "thumbnail": {
            "$ref": "#/components/schemas/ImageDimension"
          },
          "preview": {
            "$ref": "#/components/schemas/ImageDimension"
          },
          "toenail": {
            "$ref": "#/components/schemas/ImageDimension"
          }
        }
      },
      "ImageDimension": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer",
            "description": "Width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Height in pixels."
          }
        },
        "required": ["width", "height"]
      },
      "WebcamLocation": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude coordinate."
          },
          "longitude": {
            "type": "number",
            "description": "Longitude coordinate."
          },
          "city": {
            "type": "string",
            "description": "City name."
          },
          "city_code": {
            "type": "string",
            "description": "City code."
          },
          "region": {
            "type": "string",
            "description": "Region name."
          },
          "region_code": {
            "type": "string",
            "description": "Region code."
          },
          "country": {
            "type": "string",
            "description": "Country name."
          },
          "country_code": {
            "type": "string",
            "description": "Country code."
          },
          "continent": {
            "type": "string",
            "description": "Continent name."
          },
          "continent_code": {
            "type": "string",
            "description": "Continent code."
          }
        },
        "required": ["latitude", "longitude"]
      },
      "WebcamPlayer": {
        "type": "object",
        "properties": {
          "live": {
            "type": "string",
            "format": "uri",
            "description": "URL for the live webcam player."
          },
          "day": {
            "type": "string",
            "format": "uri",
            "description": "URL for the day timelapse player."
          },
          "month": {
            "type": "string",
            "format": "uri",
            "description": "URL for the month timelapse player."
          },
          "year": {
            "type": "string",
            "format": "uri",
            "description": "URL for the year timelapse player."
          },
          "lifetime": {
            "type": "string",
            "format": "uri",
            "description": "URL for the lifetime timelapse player."
          }
        }
      },
      "WebcamUrls": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "format": "uri",
            "description": "URL to the webcam detail page on Windy."
          },
          "edit": {
            "type": "string",
            "format": "uri",
            "description": "URL to edit the webcam."
          },
          "provider": {
            "type": "string",
            "format": "uri",
            "description": "URL to the webcam provider's page."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Webcams",
      "description": "Search, list, and retrieve webcam data."
    },
    {
      "name": "Map",
      "description": "Webcam data optimized for map display."
    },
    {
      "name": "Reference Data",
      "description": "Categories, continents, countries, regions, and cities for filtering."
    },
    {
      "name": "Export",
      "description": "Bulk data export (professional tier)."
    }
  ]
}