{
  "openapi": "3.0.3",
  "info": {
    "title": "4Dem Api",
    "version": "1.0",
    "x-jentic-source-url": "https://api.4dem.it/open-api",
    "description": "4Dem Api provides programmatic access to addressbook, apikeys, authenticate, batches, campaigns resources."
  },
  "servers": [
    {
      "url": "https://api.4dem.it",
      "description": "4Dem API server"
    }
  ],
  "paths": {
    "/addressbook/": {
      "get": {
        "tags": [
          "Addressbook"
        ],
        "summary": "Retrieve user's addressbook",
        "description": "Return user's addressbook.",
        "operationId": "addressbook.index",
        "responses": {
          "200": {
            "description": "addressbook list."
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "tags": [
          "Addressbook"
        ],
        "summary": "Create new Addressbook",
        "description": "Use this endpoint to create a new addressbook.",
        "operationId": "addressbook.store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAddressbook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Id of addressbook"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Addressbook not found"
          }
        }
      }
    },
    "/addressbook/{addressbookId}": {
      "delete": {
        "tags": [
          "Addressbook"
        ],
        "summary": "Delete addressbook",
        "description": "Use this endpoint to delete addressbook.",
        "operationId": "addressbook.delete",
        "parameters": [
          {
            "name": "addressbookId",
            "in": "path",
            "description": "Id of Addressbook",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Addressbook deleted"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Addressbook not found"
          }
        }
      }
    },
    "/apikeys": {
      "get": {
        "tags": [
          "Api Key"
        ],
        "summary": "Get Api keys",
        "description": "Use this endpoint to get paginated api keys.\n\nYou can filter for a specific api_key by `note`, `ip_address` and `api_key` properties.\n\nExamples:\n\n1. filter api_key for `note` like to `mynote`: set `search` equal to `note:mynote`,\n2. filter api_key for `ip_address` like to `85.49`: set `search` equal to `ip_address:85.49`,\n3. filter api_key for `api_key` like to `12345-56`: set `search` equal to `api_key:12345-56`,\n4. filter api_key for `ip_address` equal to `85.49.56.78`: set `search` equal to `ip_address:85.49.56.78` and set `searchFields` equal to `ip_address:=`",
        "operationId": "apikeys.index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Current page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Set order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortedBy",
            "in": "query",
            "description": "Set ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search field's value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchFields",
            "in": "query",
            "description": "Search field",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchJoin",
            "in": "query",
            "description": "Set to 'and' for searching with and logic",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "and",
                "or"
              ]
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "tags": [
          "Api Key"
        ],
        "summary": "Create new Api key",
        "description": "Use this endpoint to create a new api key.",
        "operationId": "apikeys.store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreApiKey"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ApiKey created"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/apikeys/{apiKeyId}": {
      "get": {
        "tags": [
          "Api Key"
        ],
        "summary": "Get Api key",
        "operationId": "apikeys.show",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "Id of api key",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ApiKey information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "ApiKey not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Api Key"
        ],
        "summary": "Delete Api key",
        "description": "Use this endpoint to delete permanently an api key. Please verify your intergrations before delete an api key used on third parties applications.",
        "operationId": "apikeys.delete",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "Id of api key",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Return no content"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/attributes": {
      "get": {
        "tags": [
          "Attributes Definition"
        ],
        "summary": "Get store attributes",
        "description": "Return all store attributes",
        "operationId": "stores.attributes.index",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attributes list."
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "tags": [
          "Attributes Definition"
        ],
        "summary": "Create a new attribute on store",
        "description": "Use this endpoint to create a new attribute on the given store.",
        "operationId": "stores.attributes.store",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAttributeDefinition"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Id of attribute"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/attributes/{attributeId}": {
      "get": {
        "tags": [
          "Attributes Definition"
        ],
        "summary": "Return attribute information",
        "description": "Get store\n\nReturn Attribute information",
        "operationId": "stores.attributes.show",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "attributeId",
            "in": "path",
            "description": "Id of attribute",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Store not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Attributes Definition"
        ],
        "summary": "Delete the attribute from the given store",
        "description": "Note : deleting an attribute will drop all data of the deleted attribute",
        "operationId": "stores.attributes.delete",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "attributeId",
            "in": "path",
            "description": "Id of attribute",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Attribute Deleted"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/products/attributes/all": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Get product attributes",
        "description": "Return all product attributes",
        "operationId": "stores.products.attributes.index",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Id of product",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "query",
            "description": "Id of variant product",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attributes list."
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/products/attributes": {
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "Store/Update an attributes in product",
        "description": "Use this endpoint to store or update attributes on the given product.",
        "operationId": "stores.products.attributes.store",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Id of product",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "query",
            "description": "Id of variant product",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributesProduct"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Update successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/products/attributes/{attributeId}": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Return product attribute",
        "description": "Get store\n\nReturn Attribute information",
        "operationId": "stores.products.attributes.show",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Id of product",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "query",
            "description": "Id of variant product",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeId",
            "in": "path",
            "description": "Id of attribute",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Store not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Attributes"
        ],
        "summary": "Delete the attribute from the given products",
        "description": "Delete store from your account",
        "operationId": "stores.products.attributes.delete",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Id of product",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "query",
            "description": "Id of variant product",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeId",
            "in": "path",
            "description": "Id of attribute",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Attribute Deleted"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/authenticate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate user with the given Apikey",
        "description": "Authentication\n\nAuthenticate user with the given Apikey",
        "operationId": "authenticate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "APIKey"
                ],
                "properties": {
                  "APIKey": {
                    "type": "string",
                    "default": "12345-12345-12345-12345-12345"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token information"
          },
          "401": {
            "description": "Bad credentials or user not valid"
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/refresh_token": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh expired token",
        "description": "Authentication\n\nRefresh",
        "operationId": "refresh_token",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "User access token's",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refreshed Token information"
          },
          "401": {
            "description": "Access token invalid or expired"
          },
          "404": {
            "description": "Token not passed"
          }
        }
      }
    },
    "/batches": {
      "post": {
        "tags": [
          "Batch operations"
        ],
        "summary": "Create new batch operation",
        "description": "Use this endpoint to create a batch operations.\n\n**USAGE NOTES** :\nWhen you want to use a API command inside a batch operation, every API command parameter of API command must be in the operation's body.\nIf the single API operation need one or more parameters in the URI (eg. the id), this parameter must be placed inside the single operation body using **snake_case** syntax when used inside a batch operation.\n\n\nFor example you can refer to the **Product.Store** command, as you can see in the URI the **storeId** parameter is needed:\n\n    /stores/{storeId}/products\n\nand the request body look like this:\n\n    {\n        \"product_id\": \"your product id\",\n        \"variant_id\": \"your variant id\",\n        \"title\": \"T-shirt\",\n        \"description\": \"T-shirt\",\n        \"category\": \"T-shirt\",\n        \"status\": \"enabled\",\n        \"category_med\": \"man\",\n        \"category_upper\": \"child\",\n        \"product_url\": \"http://www.mystore.com/supercool-tshirt\",\n        \"product_image_url\": \"http://www.mystore.com/images/supercool-tshirt.jpg\",\n        \"brand\": \"SuperCool brand\",\n        \"price\": 56.76,\n        \"code\": \"shd8s76d-23d3\",\n        \"attributes\": [\n            {\n            \"id\": 2,\n            \"value\": \"red\"\n            }\n        ]\n    }\n\n\nTo use the same API command inside a batch operation, we need to move the **storeId** parameter inside the body as a new parameter:\n\n    {\n        \"store_id\": \"YOUR STORE ID HERE\",\n        \"product_id\": \"your product id\",\n        \"variant_id\": \"your variant id\",\n        \"title\": \"T-shirt\",\n        \"description\": \"T-shirt\",\n        \"category\": \"T-shirt\",\n        \"status\": \"enabled\",\n        \"category_med\": \"man\",\n        \"category_upper\": \"child\",\n        \"product_url\": \"http://www.mystore.com/supercool-tshirt\",\n        \"product_image_url\": \"http://www.mystore.com/images/supercool-tshirt.jpg\",\n        \"brand\": \"SuperCool brand\",\n        \"price\": 56.76,\n        \"code\": \"shd8s76d-23d3\",\n        \"attributes\": [\n            {\n            \"id\": 2,\n            \"value\": \"red\"\n            }\n        ]\n    }\n\nThis logic is valid for every API command available inside a batch operation.\n\nCommands available :\n\nfor **CustomField** :\n\n    CustomField.Store\n\nfor **Stores / Product** :\n\n    Stores.Product.Store\n    Stores.Product.Update\n    Stores.Product.Delete\n\nfor **Stores / Cart** :\n\n    Stores.Cart.Store\n    Stores.Cart.Update\n    Stores.Cart.Delete",
        "operationId": "batches.store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Batch"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch Id"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Recipient not found"
          }
        }
      }
    },
    "/reports/campaigns/{campaignId}": {
      "get": {
        "tags": [
          "Campaign - Reports"
        ],
        "summary": "Get overview statistics",
        "description": "Use this endpoint to get the main aggregate statistic of campaign",
        "operationId": "reports.campaigns.overview",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/reports/campaigns/{campaignId}/trend/{activity}": {
      "get": {
        "tags": [
          "Campaign - Reports"
        ],
        "summary": "Get trend activities",
        "description": "Use this endpoint to get information about trend activities",
        "operationId": "reports.campaigns.trend",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "activity",
            "in": "path",
            "description": "Activity type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "unique-open",
                "unique-click",
                "unsubscription",
                "spam-report"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Set period to calculate data",
            "required": false,
            "schema": {
              "type": "string",
              "default": "last24Hours",
              "enum": [
                "last24Hours",
                "last7Days",
                "last30Days"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/reports/campaigns/{campaignId}/domains/{activity}": {
      "get": {
        "tags": [
          "Campaign - Reports"
        ],
        "summary": "Get domain activities",
        "description": "Use this endpoint to get information about domain activities",
        "operationId": "reports.campaigns.domain",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "activity",
            "in": "path",
            "description": "Activity type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "total-open",
                "total-click"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Set limit of the result to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/reports/campaigns/{campaignId}/links": {
      "get": {
        "tags": [
          "Campaign - Reports"
        ],
        "summary": "Get link activities",
        "description": "Use this endpoint to get information about link activities",
        "operationId": "reports.campaigns.link",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Set limit of the result to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "campaign not found"
          }
        }
      }
    },
    "/reports/campaigns/{campaignId}/contacts-activity/{activity}": {
      "get": {
        "tags": [
          "Campaign - Reports"
        ],
        "summary": "Get contacts activities",
        "description": "Use this endpoint to get information about contacts activities",
        "operationId": "reports.campaigns.contact-actitivity",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "activity",
            "in": "path",
            "description": "Activity type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "total-open",
                "total-click",
                "unsubscription",
                "spam-report",
                "bounce"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Set limit of the result to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/reports/campaigns/{campaignId}/email-sent": {
      "get": {
        "tags": [
          "Campaign - Reports"
        ],
        "summary": "Generate email-sent report",
        "description": "Use this endpoint to generate an email sent report of campaign. This feature is available only on email campaign.",
        "operationId": "reports.campaigns.generateEmailsent",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Statistics information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Campaign not found"
          },
          "409": {
            "description": "Campaign must be in paused"
          }
        }
      }
    },
    "/reports/campaigns/{campaignId}/email-sent-download": {
      "get": {
        "tags": [
          "Campaign - Reports"
        ],
        "summary": "Download email-sent report",
        "description": "Use this endpoint to download a email sent report of campaign. This feature is available only on email campaign.",
        "operationId": "reports.campaigns.downloadEmailsent",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return resource file"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Campaign not found"
          },
          "409": {
            "description": "Campaign report error."
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieve campaigns",
        "description": "Use this endpoint to get paginated campaigns.\n\nYou can filter for a specific campaign by `name`, `status`, `email.id`, `sms.id` and `tags.id` properties.\nYou can retrieve message data information passing `include` property with `email`, or `sms` value.\n\nFor `status` property you should pass one of these values `Draft`, `Ready`, `Sending`, `Paused`, `Pending Approval`, `Sent` or `Failed`.\n\nExamples:\n\n1. filter campaigns for `name` like to `MyCampaign`: set `search` equal to `name:MyCampaign`,\n3. filter campaigns for `status` equal to `Ready`: set `search` equal to `status:Ready`,\n4. filter campaigns for `status` equal to `Sending` or `Ready`: set `search` equal to `status:Sending,Ready` and set `searchFields` equal to `status:in`\n5. filter campaigns for `status` equal to `Sent` or `Draft` and `name` equal to `MyCampaign` field: set `search` equal to `status:Sent,Draft;name:MyCampaign` and set `searchFields` equal to `status:in;name:like` and set `searchJoin` equal to `and`,\n6. filter campaigns for `email.id` equal to `124`: set `search` equal to `email.id:124` and set `searchFields` equal to `email.id:=`,\n7. filter campaigns for `email.id` equal to `124` or equal to `421`: set `search` equal to `email.id:124,421` and set `searchFields` equal to `email.id:in`,\n8. filter campaigns for `sms.id` equal to `124`: set `search` equal to `sms.id:124` and set `searchFields` equal to `sms.id:=`,\n9. filter campaigns for `sms.id` equal to `124` or equal to `421`: set `search` equal to `sms.id:124,421` and set `searchFields` equal to `sms.id:in`,\n10. filter campaigns with no sms or email defined: set `search` equal to `sms.id:0;email.id:0` and set `searchFields` equal to `sms.id:=;email.id:=` and set `searchJoin` equal to `and`,\n9. filter campaigns for `split_test.id` equal to `124` or equal to `421`: set `search` equal to `split_test.id:124,421` and set `searchFields` equal to `split_test.id:in`,\n11. filter campaigns for `tags.id` equal to `124` or equal to `421`: set `search` equal to `tags.id:124,421` and set `searchFields` equal to `tags.id:in`",
        "operationId": "campaigns.index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Current page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Set order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "created_at",
                "sent_start"
              ]
            }
          },
          {
            "name": "sortedBy",
            "in": "query",
            "description": "Set ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search field's value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchFields",
            "in": "query",
            "description": "Search field",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchJoin",
            "in": "query",
            "description": "Set to 'and' for searching with and logic",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "and",
                "or"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Return email, sms, label_tags or split_test data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms",
                "label_tags",
                "split_test"
              ]
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Create new campaign",
        "description": "Use this endpoint to create a new campaign.",
        "operationId": "campaign.store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignStore"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource Id"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/campaigns/{campaignId}/recipients": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieve campaign recipients",
        "description": "Use this endpoint to get campaign recipients information.",
        "operationId": "campaign.recipients.index",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign recipients"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Attach recipients to campaign",
        "description": "Use this endpoint to attach recipients to campaign. You can attach a recipients only if campaign is in `Draft` status. If you want to exclude some recipients from sending set `exclude` equal to `true`",
        "operationId": "campaign.recipients.store",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachCampaignRecipients"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieve campaign",
        "description": "Use this endpoint to get campaign information.",
        "operationId": "campaign.show",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign object"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Update campaign",
        "description": "Use this endpoint to create a new campaign.",
        "operationId": "campaign.update",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}/schedule": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Schedule campaign for sending",
        "description": "Use this endpoint to schedule a campaign. If the campaign has been paused by the system, you can force sending by setting the `force_send` property to true",
        "operationId": "campaign.schedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignSchedule"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}/abort": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Abort campaign",
        "description": "Use this endpoint to cancel the sending of a campaign.",
        "operationId": "campaign.abort",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Pause sending campaign",
        "description": "Use this endpoint to pause sending of a campaign.",
        "operationId": "campaign.pause",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaign/{campaignId}": {
      "delete": {
        "tags": [
          "Campaign"
        ],
        "summary": "Delete Campaign",
        "description": "Use this endpoint to delete permanently a campaign.",
        "operationId": "campaign.destroy",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Return no content"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/campaigns/{campaignId}/duplicate": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Duplicate campaign",
        "description": "Use this endpoint to clone a campaign.",
        "operationId": "campaign.duplicate",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignDuplicate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource id"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}/booster": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Create Booster",
        "description": "Use this endpoint to create a Booster. You can only create a Booster from an email campaign.",
        "operationId": "campaign.booster",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignBooster"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource id"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/split-test": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Create split test campaign",
        "description": "Use this endpoint to create a split test campaign.",
        "operationId": "campaign.split-test-store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignSplitTestStore"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource id"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}/split-test-emails": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieve split test campaign emails",
        "description": "Use this endpoint to get paginated split test emails.",
        "operationId": "campaign.split-test-email-index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Current page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Set order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "created_at",
                "sent_start"
              ]
            }
          },
          {
            "name": "sortedBy",
            "in": "query",
            "description": "Set ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emails list"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Create split test email",
        "description": "Use this endpoint to create a split test email.",
        "operationId": "campaign.split-test-email-store",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreEmail"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource id"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}/split-test-emails/{emailId}": {
      "delete": {
        "tags": [
          "Campaign"
        ],
        "summary": "Delete split test email",
        "description": "Use this endpoint to remove a single content in a split test campaign.",
        "operationId": "campaign.split-test-email-destroy",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "emailId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return no content"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/campaigns/{campaignId}/split-test-emails/{emailId}/duplicate": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Duplicate a split test email",
        "description": "Use this endpoint to duplicate a split test email.",
        "operationId": "campaign.split-test-email-duplicate",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SplitTestEmailDuplicate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource id"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "Resource not found."
          },
          "406": {
            "description": "Conflict."
          }
        }
      }
    },
    "/stores/{storeId}/carts/{cartId}/products/all": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Get product in the cart",
        "description": "Return all products present in the given cart",
        "operationId": "stores.carts.products.index",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Your Cart Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products list."
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/carts/{cartId}/products": {
      "post": {
        "tags": [
          "Carts"
        ],
        "summary": "Add product to cart",
        "description": "Use this endpoint to add a product to cart.",
        "operationId": "stores.carts.products.store",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Your Cart Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCartLine"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Product added"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/carts/{cartId}/products/{lineId}": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Return given product from the cart",
        "description": "use this endpoint to retrieve information about a given product from the cart",
        "operationId": "stores.carts.products.show",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Id of cart",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lineId",
            "in": "path",
            "description": "Your Line Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Store not found"
          }
        }
      },
      "put": {
        "tags": [
          "Carts"
        ],
        "summary": "Update product information in the cart",
        "description": "Use this endpoint to update a product quantity or price in the cart.",
        "operationId": "stores.carts.products.update",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Your Cart Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineId",
            "in": "path",
            "description": "Your Line Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCartLine"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Line updated"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "delete": {
        "tags": [
          "Carts"
        ],
        "summary": "Delete a product in the cart",
        "description": "Use this endpoint to delete a product in the cart.",
        "operationId": "stores.carts.products.delete",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Your Cart Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lineId",
            "in": "path",
            "description": "Your Line Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product removed"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/carts": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Get store carts",
        "description": "Return all store carts",
        "operationId": "stores.carts.index",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to get (default 15)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart list."
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "tags": [
          "Carts"
        ],
        "summary": "Create a new cart on store",
        "description": "Use this endpoint to create a new cart on the given store. If passed products not in the catalog, will not be added on cart.\n\n**R.O.I. MEASUREMENT**\n\nYou can measure the orders generated from a campaign using our R.O.I. tracking javascript.\n    This script must be included in your website public frontend and it will get three custom parameters set from the console link traking engine. Those parameters will be stored in a cookie on the visitor browser mapping the source campaign or automation message from were he is coming.\nThis cookie will last a for X days (default 3 days) and will store those information. If the visitor return on the website and make an order you can read this cookie and send back those information through the **source** and **source_id** parameters of the Carts commands.\nThis will make us able to measure track the the orders source if the user is coming in from a link in a campaign with R.O.I. Traking enabled.\n\n**LINK SCRIPT**\n\nUse <em>script</em> tag to add our script on your website. If you have a dedicated console, substitute [API_URL] with the url of your api.\nFor example *https://api.4dem.it/c4rt/js/ect.min.js*\n\n    [API_URL]/c4rt/js/ect.min.js\n\n**COOKIE NAME**\n\n    ectDem\n\n**COOKIE PARAMETERS**\n\n    {\n      \"id\": 23,\n      \"mode\": \"campaign\"\n    }",
        "operationId": "stores.carts.store",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCart"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Id of cart"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/stores/{storeId}/carts/{cartId}": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Return cart information",
        "description": "Get cart\n\nReturn Cart information",
        "operationId": "stores.carts.show",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Your Cart Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Store not found"
          }
        }
      },
      "put": {
        "tags": [
          "Carts"
        ],
        "summary": "Update a cart on store",
        "description": "Use this endpoint to update a cart on the given store.\n\n**R.O.I. MEASUREMENT**\n\nYou can measure the orders generated from a campaign using our R.O.I. tracking javascript.\nThis script must be included in your website public frontend and it will get three custom parameters set from the console link traking engine. Those parameters will be stored in a cookie on the visitor browser mapping the source campaign or automation message from were he is coming.\nThis cookie will last a for X days (default 3 days) and will store those information. If the visitor return on the website and make an order you can read this cookie and send back those information through the **source** and **source_id** parameters of the Carts commands.\nthis will make us able to measure track the the orders source if the user is coming in from a link in a campaign with R.O.I. Traking enabled.\n\n**LINK SCRIPT**\n\nUse <em>script</em> tag to add our script on your website. If you have a dedicated console, substitute [API_URL] with the url of your api.\nFor example *https://api.4dem.it/c4rt/js/ect.min.js*\n\n    [API_URL]/c4rt/js/ect.min.js\n\n**COOKIE NAME**\n\n    ectDem\n\n**COOKIE PARAMETERS**\n\n    {\n        \"id\": 23,\n        \"mode\": \"campaign\"\n    }",
        "operationId": "stores.carts.update",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Your Cart Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCart"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Cart updated"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "delete": {
        "tags": [
          "Carts"
        ],
        "summary": "Drop the cart from the given store",
        "description": "Use this endpoint to drop cart. The cart is not permanently deleted. It is set in the 'drop' status.",
        "operationId": "stores.carts.delete",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Id of store",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "description": "Your Cart Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Cart dropped"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/consents": {
      "get": {
        "tags": [
          "Consent"
        ],
        "summary": "Get consents",
        "description": "Use this endpoint to get paginated consents. You can search a consent passing value to search in search parameter.",
        "operationId": "consents.index",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search field's value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Current page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Set order",
            "required": false,
            "schema": {
              "type": "string",
              "default": "timestamp",
              "enum": [
                "timestamp"
              ]
            }
          },
          {
            "name": "sortedBy",
            "in": "query",
            "description": "Set ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated response"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/consents/{id}": {
      "get": {
        "tags": [
          "Consent"
        ],
        "summary": "Retrieve consent",
        "description": "Use this endpoint to get the detail of a single consent.",
        "operationId": "consents.show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consent object"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Consent"
        ],
        "summary": "Delete consent",
        "description": "Use this endpoint to delete permanently a consent.",
        "operationId": "consents.destroy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Return no content"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/consents/export": {
      "get": {
        "tags": [
          "Consent"
        ],
        "summary": "Export consents",
        "description": "Use this endpoint to download the csv file with all consents.",
        "operationId": "consents.export",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return resource file"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Display a listing of the resource.",
        "description": "Use this endpoint to get paginated subscribers.\n\nYou can filter for a specific subscriber by `id`, `email_address`, `mobile`, `bounce_type` and `subscription_status` properties.\n\nFor `subscription_status` property you should pass `Subscribed` or `Unsubscribed` or `Opt-In Pending` or `Opt-Out Pending`.\nFor `bounce_type` property you should pass `Hard` or `Soft` or `Not Bounced`.\n\nExamples:\n1. filter subscribers for `id` equal to `123`: set `search` equal to `id:123`,\n2. filter subscribers for `email_address` equal to `email@example.it`: set `search` equal to `email_address:email@example.it`,\n3. filter subscribers for `mobile` equal to `+3933312345645`: set `search` equal to `mobile:+3933312345645`,\n4. filter subscribers for `mobile` equal to `+3933312345645` or `email_address` equal to `email@example.it`: set `search` equal to `mobile:+3933312345645;email_address:email@example.it`,\n5. filter subscribers for `mobile` equal to `+3933312345645` and `email_address` equal to `email@example.it`: set `search` equal to `mobile:+3933312345645;email_address:email@example.it` and set `searchJoin` equal to `and`,\n6. filter subscribers for `bounce_type` equal to `Hard`: set `search` equal to `bounce_type:Hard`,\n7. filter subscribers for `bounce_type` equal to `Hard` or `Soft`: set `search` equal to `bounce_type:Hard,Soft`,\n8. filter subscribers for `subscription_status` equal to `Unsubscribed`: set `search` equal to `subscription_status:Unsubscribed`,\n9. filter subscribers for `subscription_status` equal to `Unsubscribed` or `Subscribed`: set `search` equal to `subscription_status:Unsubscribed,Subscribed`,\n10. filter subscribers for `subscription_status` equal to `Unsubscribed` and `bounce_type` equal to `Hard`: set `search` equal to `subscription_status:Unsubscribed;bounce_type:Hard`",
        "operationId": "subscribers.index",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to get (default 15)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Set order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortedBy",
            "in": "query",
            "description": "Set ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search field's value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchFields",
            "in": "query",
            "description": "Search field",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchJoin",
            "in": "query",
            "description": "Set to 'and' for searching with and logic",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "and",
                "or"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscribers list."
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/recipients/{recipientId}/subscribe": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Subscribe a new contact in a given recipient",
        "description": "Use this endpoint to subscribe a new contact in your recipient.",
        "operationId": "subscribers.store",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewSubscriber"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Id of subscriber"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden operation"
          },
          "404": {
            "description": "Recipient not found"
          },
          "409": {
            "description": "MissConfiguration, please contact tecnical support"
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/{subscriberId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Return contact information",
        "description": "Get contact\n\nReturn Contact information",
        "operationId": "subscribers.show",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "Id of subscriber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Return contact assigned tags",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "tags"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber information"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Recipient or Subscriber not found"
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/{subscriberId}/update": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update contact information",
        "description": "Update contact information",
        "operationId": "subscribers.update",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "Id of subscriber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriber"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Subscriber updated"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Recipient or Subscriber not found"
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/bulk/delete": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete contacts in given recipient",
        "description": "Remove contacts in given recipient.",
        "operationId": "subscribers.deleteMany",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSubscriber"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Contacts Deleted"
          },
          "400": {
            "description": "Validation error or Subscriber not deletable (if the subscriber received a campaign in the last 10 days)"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/{subscriberId}/delete": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete the given contact in given recipient",
        "description": "Remove the specified resource from storage.",
        "operationId": "subscribers.delete",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact Deleted"
          },
          "400": {
            "description": "Validation error or Subscriber not deletable (if the subscriber received a campaign in the last 10 days)"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/{contactId}/change-status": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Change status of contact",
        "description": "Use this endpoint to change status of contact",
        "operationId": "subscribers.changeStatus",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusSubscriber"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Contact status updated"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/{contactId}/send-campaign/{campaignId}": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Send campaign to contact",
        "description": "Use this endpoint to send a single campaign to contact.",
        "operationId": "subscribers.sendCampaign",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscribedId",
            "in": "path",
            "description": "Id of contact",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of campaign",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact status updated"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "406": {
            "description": "Conflict"
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/{contactId}/send-whatsapp-message": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Send WhatsApp message to contact",
        "description": "Use this endpoint to send a single WhatsApp message template to contact.",
        "operationId": "subscribers.sendWhatsAppMessage",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "Id of contact",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "schema": "SendWhatsAppMessageToContact",
                "required": [
                  "template_id"
                ],
                "properties": {
                  "template_id": {
                    "description": "Template id to sent",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created"
          },
          "400": {
            "description": "Request validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "403": {
            "description": "Forbidden action."
          },
          "404": {
            "description": "WhatsApp Template/Integration or Recipient or Contact not found"
          },
          "406": {
            "description": "Conflict"
          },
          "409": {
            "description": "WhatsApp Integration must be enabled"
          }
        }
      }
    },
    "/recipients/{recipientId}/subscribers/{subscriberId}/tags": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve tags associated with a subscriber",
        "description": "Use this endpoint to retrieve tags associated with a specific subscriber and recipient.",
        "operationId": "tags.list",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of the recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "Id of the subscriber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit of tags to retrieve per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RecipientTag information"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Subscriber or Recipient not found"
          }
        }
      }
    },
    "/recipients/{recipientId}/contacts/{subscriberId}/recovery-hard-bounce": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Recover hard bounced contact",
        "description": "This endpoint attempts to recover a contact marked as hard bounced.",
        "operationId": "subscribers.tryRecovery",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of the recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "Id of the subscriber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact successfully recovered"
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized action"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/reports/deliverability/email/{email}": {
      "get": {
        "tags": [
          "Contacts - Reports"
        ],
        "summary": "Generate a deliverability report for an email",
        "description": "This endpoint generates a report on the deliverability status of an email address.",
        "operationId": "subscribers.emailRecoveryReport",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Email address to check deliverability",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deliverability report returned",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "deliverable"
                    },
                    "reason": {
                      "type": "string",
                      "example": "accepted_email"
                    },
                    "role": {
                      "type": "boolean",
                      "example": false
                    },
                    "disposable": {
                      "type": "boolean",
                      "example": false
                    },
                    "free": {
                      "type": "boolean",
                      "example": true
                    },
                    "senderIndex": {
                      "type": "number",
                      "format": "float",
                      "example": 0.8
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error"
          },
          "401": {
            "description": "Unauthorized action"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/recipients/{recipientId}/subscribers/{subscriberId}/timeline": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve activity timeline for a subscriber",
        "description": "Use this endpoint to retrieve the activity timeline associated with a specific subscriber and recipient.",
        "operationId": "subscribers.timeline",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "The ID of the recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "description": "The ID of the subscriber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity timeline retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Activity timeline retrieved successfully"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, token missing or invalid"
          },
          "404": {
            "description": "Subscriber or Recipient not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/custom_fields/": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Retrieve all custom fields",
        "description": "Use this endpoint to get paginated custom fields.\n\nYou can filter for a specific custom field by `required`, `unique`, `name` and `type` properties.\n\nFor `required` and `unique` properties you should pass `Yes` or `No` as values instead of `true` or `false`.\n\nExamples:\n\n1. filter custom fields for `type` equal to `Single Line`: set `search` equal to `type:Single Line`,\n2. filter custom fields for `type` equal to `Single Line` or `Checkboxes`: set `search` equal to `type:Single Line,Checkboxes` and set `searchFields` equal to `type:in`\n3. filter custom fields for `type` equal to `Single Line` or `Checkboxes` and `required` field: set `search` equal to `type:Single Line,Checkboxes;required:Yes` and set `searchFields` equal to `type:in;required:=` and set `searchJoin` equal to `and`",
        "operationId": "customfields.index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Current page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Set order of custom fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortedBy",
            "in": "query",
            "description": "Set ascending or descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search field's value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchFields",
            "in": "query",
            "description": "Search field",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchJoin",
            "in": "query",
            "description": "Set to 'and' for searching with and logic",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "and",
                "or"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom fields list."
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Create new custom field",
        "description": "Use this endpoint to create a new custom field.\n\nIf you want to create a BooleanCheckbox field type you must pass one option object like this:\n\n```\n{\n    \"options\": [{\n        \"label\": \"Accept terms and conditions\",\n        \"selected\": false\n    }]\n}\n```\n",
        "operationId": "customfields.store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCustomfield"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Id of custom field"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Recipient not found"
          }
        }
      }
    },
    "/recipients/{recipientId}/custom_fields/": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Retrieve recipient custom fields",
        "description": "Use this endpoint to get paginated custom fields recipient's.\n\nYou can filter for a specific custom field by `required`, `unique`, `name` and `type` properties.\n\nFor `required` and `unique` properties you should pass `Yes` or `No` as values instead of `true` or `false`.\n\nExamples:\n\n1. filter custom fields for `type` equal to `Single Line`: set `search` equal to `type:Single Line`,\n2. filter custom fields for `type` equal to `Single Line` or `Checkboxes`: set `search` equal to `type:Single Line,Checkboxes` and set `searchFields` equal to `type:in`\n3. filter custom fields for `type` equal to `Single Line` or `Checkboxes` and `required` field: set `search` equal to `type:Single Line,Checkboxes;required:Yes` and set `searchFields` equal to `type:in;required:=` and set `searchJoin` equal to `and`",
        "operationId": "customfields.recipient",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "description": "Id of recipient",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
[...]
