{
  "openapi": "3.0.3",
  "info": {
    "title": "The News API",
    "version": "1.0.0",
    "description": "Free live and top story JSON news API. Provides access to news articles from thousands of sources worldwide with filtering by language, category, and more.",
    "x-jentic-source-url": "https://www.thenewsapi.com/"
  },
  "servers": [
    {
      "url": "https://api.thenewsapi.com/v1"
    }
  ],
  "paths": {
    "/news/all": {
      "get": {
        "operationId": "getAllNews",
        "summary": "Get all news articles",
        "description": "Returns news articles matching the specified filters",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query keywords"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of categories (general, science, sports, business, health, entertainment, tech, politics, food, travel)"
          },
          {
            "name": "exclude_categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Categories to exclude"
          },
          {
            "name": "domains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of domains to include"
          },
          {
            "name": "exclude_domains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Domains to exclude"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code (e.g., en, es, fr)"
          },
          {
            "name": "published_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only return articles published before this date"
          },
          {
            "name": "published_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only return articles published after this date"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "published_at",
                "relevance_score"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Number of results to return"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/top": {
      "get": {
        "operationId": "getTopNews",
        "summary": "Get top news stories",
        "description": "Returns the current top news stories",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Locale for top stories (e.g., us, gb, au)"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code"
          },
          {
            "name": "domains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by domains"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by categories"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Number of results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/similar/{uuid}": {
      "get": {
        "operationId": "getSimilarNews",
        "summary": "Get similar news articles",
        "description": "Returns news articles similar to the specified article",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UUID of the article to find similar articles for"
          },
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/sources": {
      "get": {
        "operationId": "getNewsSources",
        "summary": "Get available news sources",
        "description": "Returns a list of available news sources",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by language"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by categories"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourcesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "Unique article identifier"
          },
          "title": {
            "type": "string",
            "description": "Article title"
          },
          "description": {
            "type": "string",
            "description": "Article description"
          },
          "keywords": {
            "type": "string",
            "description": "Comma-separated keywords"
          },
          "snippet": {
            "type": "string",
            "description": "Short snippet of the article"
          },
          "url": {
            "type": "string",
            "description": "URL to the full article"
          },
          "image_url": {
            "type": "string",
            "description": "URL to the article image"
          },
          "language": {
            "type": "string",
            "description": "Language code"
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "description": "Publication date"
          },
          "source": {
            "type": "string",
            "description": "Source name"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Article categories"
          },
          "relevance_score": {
            "type": "number",
            "description": "Relevance score if search query was used"
          }
        }
      },
      "NewsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "found": {
                "type": "integer"
              },
              "returned": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SourcesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "query",
        "name": "api_token"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ]
}