{
  "swagger": "2.0",
  "info": {
    "title": "eCAF API: VET Student Loans version 20",
    "description": "Application programming interface for the Department of Employment and Workplace Relations's Electronic Commonwealth Assistance Form (eCAF) application. This schema describes the API for VET Student Loans 1302D-2026 version 20 (effective from 01 January 2026).",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/WENDYRICHARDS_1/ecaf-api-vet-student-loans-version-20/1.0.0"
  },
  "basePath": "/v1",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "host": "ecafapitraining.education.gov.au",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "BasicAuthentication": []
    }
  ],
  "securityDefinitions": {
    "BasicAuthentication": {
      "type": "basic",
      "description": "All API requests must be made using HTTP Basic Auth over HTTPS. Your provider service account and password must be provided as auth credentials."
    }
  },
  "paths": {
    "/enrolments": {
      "get": {
        "summary": "Enrolments",
        "description": "Returns a list of enrolments. Not all enrolment information is included - use the single enrolment endpoint to get all the information regarding an enrolment.",
        "parameters": [
          {
            "name": "SearchType",
            "in": "query",
            "description": "Search Type (Outstanding, Completed or All)",
            "required": false,
            "type": "string",
            "enum": [
              "Outstanding",
              "Completed",
              "All"
            ]
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status (EnrolmentDataSubmitted, InvitationSent, Locked, StudentDraft, Expired, StudentSubmitted or Deleted, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "EnrolmentDataSubmitted",
                "InvitationSent",
                "Locked",
                "StudentDraft",
                "Expired",
                "StudentSubmitted",
                "Deleted"
              ]
            }
          },
          {
            "name": "Id",
            "in": "query",
            "description": "Id",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "EcafType",
            "in": "query",
            "description": "Type of eCAF (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "VetStudentLoans",
                "VetStudentLoansPaper",
                "HecsHelp",
                "FeeHelp",
                "NuFeeHelp",
                "OuaFeeHelp",
                "FfurCsp",
                "SaHelp",
                "StartupHelp",
                "OsHelp"
              ]
            }
          },
          {
            "name": "Year",
            "in": "query",
            "description": "Year (multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CensusFromDate",
            "in": "query",
            "description": "Earliest census date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CensusToDate",
            "in": "query",
            "description": "Lastest census date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedFromDate",
            "in": "query",
            "description": "Earliest creation date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedToDate",
            "in": "query",
            "description": "Lastest creation date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedFromDate",
            "in": "query",
            "description": "Earliest last modified date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedToDate",
            "in": "query",
            "description": "Latest last modified date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "StudentIdentificationNumber",
            "in": "query",
            "description": "Student identification number; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "UniqueStudentIdentifier",
            "in": "query",
            "description": "Unique student identifier; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "GivenNames",
            "in": "query",
            "description": "Given names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "MiddleNames",
            "in": "query",
            "description": "Middle names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "FamilyName",
            "in": "query",
            "description": "Family name; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "EmailAddress",
            "in": "query",
            "description": "Email address; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CampusName",
            "in": "query",
            "description": "Campus name; will return records that match the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CourseOfStudyCode",
            "in": "query",
            "description": "Course of study code; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "IsUnderRevision",
            "in": "query",
            "description": "Whether the eCAF is currently under revision",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "UsiVerificationStatus",
            "in": "query",
            "description": "USI verification status (NotApplicableUsiVerificationDisabled, NotApplicableNoUsiEntered, NotApplicableFailedChecksum, NotApplicableInsufficientSupportingData, Unverified, Queued, Passed or Failed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "NotApplicableUsiVerificationDisabled",
                "NotApplicableNoUsiEntered",
                "NotApplicableFailedChecksum",
                "NotApplicableInsufficientSupportingData",
                "Unverified",
                "Queued",
                "Passed",
                "Failed"
              ]
            }
          },
          {
            "name": "AdditionalProviderData",
            "in": "query",
            "description": "Additional provider data; will return records that contain the supplied value",
            "required": false,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Enrolments"
        ],
        "responses": {
          "200": {
            "description": "An array of enrolment summary information.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnrolmentSummary"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create enrolment",
        "tags": [
          "Enrolments"
        ],
        "description": "Creates a new enrolment.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateVetStudentLoansEnrolment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The newly created enrolment.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEnrolment"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enrolments/{id}": {
      "get": {
        "summary": "Single enrolment",
        "description": "Returns information regarding a single enrolment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Enrolments"
        ],
        "responses": {
          "200": {
            "description": "Enrolment information for the VET Student Loans enrolment.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEnrolment"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update enrolment",
        "tags": [
          "Enrolments"
        ],
        "description": "Updates an existing enrolment. Enrolments with a status of 'StudentSubmitted', 'Deleted' or 'Expired' cannot be edited.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateVetStudentLoansEnrolment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated enrolment.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEnrolment"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete enrolment",
        "tags": [
          "Enrolments"
        ],
        "description": "Marks an existing enrolment as deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DeleteEnrolment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted enrolment.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEnrolment"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enrolments/{id}/audits": {
      "get": {
        "summary": "Enrolment audit entries",
        "description": "Returns a list of audit entries associated with an enrolment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Enrolments"
        ],
        "responses": {
          "200": {
            "description": "An array of audit entries.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Audit"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enrolments/{id}/audits/{auditId}": {
      "get": {
        "summary": "Single enrolment audit entry",
        "description": "Returns information regarding a single enrolment audit entry.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "auditId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Enrolments"
        ],
        "responses": {
          "200": {
            "description": "An audit entry.",
            "schema": {
              "$ref": "#/definitions/Audit"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enrolments/{id}/emails": {
      "get": {
        "summary": "Enrolment emails",
        "description": "Returns a list of emails associated with an enrolment. Not all email information is included - use the single email endpoint to get all the information regarding an email.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Enrolments"
        ],
        "responses": {
          "200": {
            "description": "An array of email summary information.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EmailSummary"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enrolments/{id}/delete": {
      "post": {
        "summary": "Delete enrolment",
        "tags": [
          "Enrolments"
        ],
        "description": "Marks an existing enrolment as deleted. This is an alternative to the DELETE /enrolments/:id endpoint that can be used if your API client library does not support providing a request body with a DELETE request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DeleteEnrolment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted enrolment.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEnrolment"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enrolments/{id}/unlock": {
      "post": {
        "summary": "Unlock enrolment",
        "tags": [
          "Enrolments"
        ],
        "description": "Unlocks a locked enrolment so that a student can logon again.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The unlocked enrolment.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEnrolment"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/enrolments/{id}/additional-provider-data": {
      "put": {
        "summary": "Update additional provider data",
        "tags": [
          "Enrolments"
        ],
        "description": "Updates the additional provider data field for an enrolment. This does not cause an audit action.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdditionalProviderData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated enrolment.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEnrolment"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs": {
      "get": {
        "summary": "eCAFs",
        "description": "Returns a list of eCAFs. Not all eCAF information is included - use the single eCAF endpoint to get all the information regarding an eCAF. By default the listing will only include unprocessed eCAFs and will be sorted in descending order of submission date.",
        "parameters": [
          {
            "name": "Processed",
            "in": "query",
            "description": "Whether the eCAF has been marked as processed (multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "boolean"
            }
          },
          {
            "name": "ExceptionType",
            "in": "query",
            "description": "Exception Type (Under18, WithoutTfn, CspOnly, IsUnderRevision, TfnVerificationFailed or UsiVerificationFailed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "Under18",
                "WithoutTfn",
                "CspOnly",
                "IsUnderRevision",
                "TfnVerificationFailed",
                "UsiVerificationFailed"
              ]
            }
          },
          {
            "name": "TfnVerificationStatus",
            "in": "query",
            "description": "Tfn Verification Status (NotApplicableTfnVerificationDisabled, NotApplicableAppliedForTfn, NotApplicableInsufficientSupportingData, NotApplicableCspOnly, NotApplicableMustPayUpfront, Unverified, Queued, Passed or Failed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "NotApplicableTfnVerificationDisabled",
                "NotApplicableAppliedForTfn",
                "NotApplicableInsufficientSupportingData",
                "NotApplicableCspOnly",
                "NotApplicableMustPayUpfront",
                "Unverified",
                "Queued",
                "Passed",
                "Failed"
              ]
            }
          },
          {
            "name": "SubmittedFromDate",
            "in": "query",
            "description": "Submitted From Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "SubmittedToDate",
            "in": "query",
            "description": "Submitted To Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "RevisionSubmissionDueFromDate",
            "in": "query",
            "description": "Revision Submission Due From Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "RevisionSubmissionDueToDate",
            "in": "query",
            "description": "Revision Submission Due To Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "HasCorrections",
            "in": "query",
            "description": "Whether the eCAF has corrections",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Id",
            "in": "query",
            "description": "Id",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "EcafType",
            "in": "query",
            "description": "Type of eCAF (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "VetStudentLoans",
                "VetStudentLoansPaper",
                "HecsHelp",
                "FeeHelp",
                "NuFeeHelp",
                "OuaFeeHelp",
                "FfurCsp",
                "SaHelp",
                "StartupHelp",
                "OsHelp"
              ]
            }
          },
          {
            "name": "Year",
            "in": "query",
            "description": "Year (multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CensusFromDate",
            "in": "query",
            "description": "Earliest census date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CensusToDate",
            "in": "query",
            "description": "Lastest census date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedFromDate",
            "in": "query",
            "description": "Earliest creation date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedToDate",
            "in": "query",
            "description": "Lastest creation date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedFromDate",
            "in": "query",
            "description": "Earliest last modified date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedToDate",
            "in": "query",
            "description": "Latest last modified date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "StudentIdentificationNumber",
            "in": "query",
            "description": "Student identification number; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "UniqueStudentIdentifier",
            "in": "query",
            "description": "Unique student identifier; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "GivenNames",
            "in": "query",
            "description": "Given names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "MiddleNames",
            "in": "query",
            "description": "Middle names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "FamilyName",
            "in": "query",
            "description": "Family name; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "EmailAddress",
            "in": "query",
            "description": "Email address; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CampusName",
            "in": "query",
            "description": "Campus name; will return records that match the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CourseOfStudyCode",
            "in": "query",
            "description": "Course of study code; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "IsUnderRevision",
            "in": "query",
            "description": "Whether the eCAF is currently under revision",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "UsiVerificationStatus",
            "in": "query",
            "description": "USI verification status (NotApplicableUsiVerificationDisabled, NotApplicableNoUsiEntered, NotApplicableFailedChecksum, NotApplicableInsufficientSupportingData, Unverified, Queued, Passed or Failed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "NotApplicableUsiVerificationDisabled",
                "NotApplicableNoUsiEntered",
                "NotApplicableFailedChecksum",
                "NotApplicableInsufficientSupportingData",
                "Unverified",
                "Queued",
                "Passed",
                "Failed"
              ]
            }
          },
          {
            "name": "AdditionalProviderData",
            "in": "query",
            "description": "Additional provider data; will return records that contain the supplied value",
            "required": false,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "An array of eCAF summary information.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EcafSummary"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}": {
      "get": {
        "summary": "Single eCAF",
        "description": "Returns information regarding a single eCAF.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "eCAF information for a VET Student Loans eCAF.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEcaf"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/audits": {
      "get": {
        "summary": "eCAF audit entries",
        "description": "Returns a list of audit entries associated with an eCAF.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "An array of audit entries.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Audit"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/corrections": {
      "get": {
        "summary": "eCAF corrections",
        "description": "Returns a list of corrections associated with an eCAF.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "An array of corrections entries.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Correction"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/audits/{auditId}": {
      "get": {
        "summary": "Single eCAF audit entry",
        "description": "Returns information regarding a single eCAF audit entry.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "auditId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "An audit entry.",
            "schema": {
              "$ref": "#/definitions/Audit"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/emails": {
      "get": {
        "summary": "eCAF emails",
        "description": "Returns a list of emails associated with an eCAF. Not all email information is included - use the single email endpoint to get all the information regarding an email.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "An array of email summary information.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EmailSummary"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/progressions": {
      "get": {
        "summary": "eCAF progressions",
        "description": "Returns a list of progressions associated with an eCAF. Not all progression information is included - use the single progression endpoint to get all the information regarding a progression.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "An array of progression summary information.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProgressionSummary"
              }
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create a progression against the eCAF",
        "description": "Creates a new progression against the eCAF and returns information regarding the single progression. Email address may optionally be specified in the body if you wish to override student's personal email address.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateProgression"
            }
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "Detailed progression information.",
            "schema": {
              "$ref": "#/definitions/ProgressionDetail"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/pdf": {
      "get": {
        "summary": "eCAF receipt",
        "description": "Gets the eCAF receipt PDF document. This is the same document that is emailed to the student when they submit their eCAF.",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "PDF document.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/tfn-document": {
      "get": {
        "summary": "Application for TFN document",
        "description": "Gets the application for TFN document that was uploaded by the student. This document will only be provided by those students that do not yet have a TFN.",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "200": {
            "description": "Application for TFN document.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/revise": {
      "post": {
        "summary": "Revise eCAF",
        "tags": [
          "eCAFs"
        ],
        "description": "Opens the eCAF for revision, which will enable modification of the enrolment data by the provider and for the student to resubmit with updated information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The eCAF data.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEcaf"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel eCAF revision",
        "tags": [
          "eCAFs"
        ],
        "description": "When called against an an eCAF that is open for revision, reverts any revisions made by the Provider or student and returns the eCAF to its original state.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The eCAF data.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEcaf"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/{id}/processed": {
      "put": {
        "summary": "Mark eCAF as processed",
        "tags": [
          "eCAFs"
        ],
        "description": "Marks an eCAF as having been processed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The processed eCAF.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEcaf"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Mark eCAF as unprocessed",
        "tags": [
          "eCAFs"
        ],
        "description": "Marks an eCAF as having not been processed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The unprocessed eCAF.",
            "schema": {
              "$ref": "#/definitions/VetStudentLoansEcaf"
            }
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found. The requested record was not found.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ecafs/processed": {
      "put": {
        "summary": "Mark multiple eCAFs as processed",
        "description": "Marks eCAFs matching the search criteria as processed.",
        "parameters": [
          {
            "name": "Processed",
            "in": "query",
            "description": "Whether the eCAF has been marked as processed (multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "boolean"
            }
          },
          {
            "name": "ExceptionType",
            "in": "query",
            "description": "Exception Type (Under18, WithoutTfn, CspOnly, IsUnderRevision, TfnVerificationFailed or UsiVerificationFailed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "Under18",
                "WithoutTfn",
                "CspOnly",
                "IsUnderRevision",
                "TfnVerificationFailed",
                "UsiVerificationFailed"
              ]
            }
          },
          {
            "name": "TfnVerificationStatus",
            "in": "query",
            "description": "Tfn Verification Status (NotApplicableTfnVerificationDisabled, NotApplicableAppliedForTfn, NotApplicableInsufficientSupportingData, NotApplicableCspOnly, NotApplicableMustPayUpfront, Unverified, Queued, Passed or Failed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "NotApplicableTfnVerificationDisabled",
                "NotApplicableAppliedForTfn",
                "NotApplicableInsufficientSupportingData",
                "NotApplicableCspOnly",
                "NotApplicableMustPayUpfront",
                "Unverified",
                "Queued",
                "Passed",
                "Failed"
              ]
            }
          },
          {
            "name": "SubmittedFromDate",
            "in": "query",
            "description": "Submitted From Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "SubmittedToDate",
            "in": "query",
            "description": "Submitted To Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "RevisionSubmissionDueFromDate",
            "in": "query",
            "description": "Revision Submission Due From Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "RevisionSubmissionDueToDate",
            "in": "query",
            "description": "Revision Submission Due To Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "HasCorrections",
            "in": "query",
            "description": "Whether the eCAF has corrections",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Id",
            "in": "query",
            "description": "Id",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "EcafType",
            "in": "query",
            "description": "Type of eCAF (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "VetStudentLoans",
                "VetStudentLoansPaper",
                "HecsHelp",
                "FeeHelp",
                "NuFeeHelp",
                "OuaFeeHelp",
                "FfurCsp",
                "SaHelp",
                "StartupHelp",
                "OsHelp"
              ]
            }
          },
          {
            "name": "Year",
            "in": "query",
            "description": "Year (multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CensusFromDate",
            "in": "query",
            "description": "Earliest census date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CensusToDate",
            "in": "query",
            "description": "Lastest census date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedFromDate",
            "in": "query",
            "description": "Earliest creation date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedToDate",
            "in": "query",
            "description": "Lastest creation date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedFromDate",
            "in": "query",
            "description": "Earliest last modified date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedToDate",
            "in": "query",
            "description": "Latest last modified date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "StudentIdentificationNumber",
            "in": "query",
            "description": "Student identification number; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "UniqueStudentIdentifier",
            "in": "query",
            "description": "Unique student identifier; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "GivenNames",
            "in": "query",
            "description": "Given names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "MiddleNames",
            "in": "query",
            "description": "Middle names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "FamilyName",
            "in": "query",
            "description": "Family name; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "EmailAddress",
            "in": "query",
            "description": "Email address; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CampusName",
            "in": "query",
            "description": "Campus name; will return records that match the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CourseOfStudyCode",
            "in": "query",
            "description": "Course of study code; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "IsUnderRevision",
            "in": "query",
            "description": "Whether the eCAF is currently under revision",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "UsiVerificationStatus",
            "in": "query",
            "description": "USI verification status (NotApplicableUsiVerificationDisabled, NotApplicableNoUsiEntered, NotApplicableFailedChecksum, NotApplicableInsufficientSupportingData, Unverified, Queued, Passed or Failed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "NotApplicableUsiVerificationDisabled",
                "NotApplicableNoUsiEntered",
                "NotApplicableFailedChecksum",
                "NotApplicableInsufficientSupportingData",
                "Unverified",
                "Queued",
                "Passed",
                "Failed"
              ]
            }
          },
          {
            "name": "AdditionalProviderData",
            "in": "query",
            "description": "Additional provider data; will return records that contain the supplied value",
            "required": false,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Mark multiple eCAFs as unprocessed",
        "description": "Marks eCAFs matching the search criteria as not processed.",
        "parameters": [
          {
            "name": "Processed",
            "in": "query",
            "description": "Whether the eCAF has been marked as processed (multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "boolean"
            }
          },
          {
            "name": "ExceptionType",
            "in": "query",
            "description": "Exception Type (Under18, WithoutTfn, CspOnly, IsUnderRevision, TfnVerificationFailed or UsiVerificationFailed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "Under18",
                "WithoutTfn",
                "CspOnly",
                "IsUnderRevision",
                "TfnVerificationFailed",
                "UsiVerificationFailed"
              ]
            }
          },
          {
            "name": "TfnVerificationStatus",
            "in": "query",
            "description": "Tfn Verification Status (NotApplicableTfnVerificationDisabled, NotApplicableAppliedForTfn, NotApplicableInsufficientSupportingData, NotApplicableCspOnly, NotApplicableMustPayUpfront, Unverified, Queued, Passed or Failed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "NotApplicableTfnVerificationDisabled",
                "NotApplicableAppliedForTfn",
                "NotApplicableInsufficientSupportingData",
                "NotApplicableCspOnly",
                "NotApplicableMustPayUpfront",
                "Unverified",
                "Queued",
                "Passed",
                "Failed"
              ]
            }
          },
          {
            "name": "SubmittedFromDate",
            "in": "query",
            "description": "Submitted From Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "SubmittedToDate",
            "in": "query",
            "description": "Submitted To Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "RevisionSubmissionDueFromDate",
            "in": "query",
            "description": "Revision Submission Due From Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "RevisionSubmissionDueToDate",
            "in": "query",
            "description": "Revision Submission Due To Date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "HasCorrections",
            "in": "query",
            "description": "Whether the eCAF has corrections",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Id",
            "in": "query",
            "description": "Id",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "EcafType",
            "in": "query",
            "description": "Type of eCAF (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "VetStudentLoans",
                "VetStudentLoansPaper",
                "HecsHelp",
                "FeeHelp",
                "NuFeeHelp",
                "OuaFeeHelp",
                "FfurCsp",
                "SaHelp",
                "StartupHelp",
                "OsHelp"
              ]
            }
          },
          {
            "name": "Year",
            "in": "query",
            "description": "Year (multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CensusFromDate",
            "in": "query",
            "description": "Earliest census date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CensusToDate",
            "in": "query",
            "description": "Lastest census date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedFromDate",
            "in": "query",
            "description": "Earliest creation date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "CreatedToDate",
            "in": "query",
            "description": "Lastest creation date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedFromDate",
            "in": "query",
            "description": "Earliest last modified date to be included",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "LastModifiedToDate",
            "in": "query",
            "description": "Latest last modified date to be included; if no time component is specified, the date will be inclusive",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "StudentIdentificationNumber",
            "in": "query",
            "description": "Student identification number; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "UniqueStudentIdentifier",
            "in": "query",
            "description": "Unique student identifier; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "GivenNames",
            "in": "query",
            "description": "Given names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "MiddleNames",
            "in": "query",
            "description": "Middle names; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "FamilyName",
            "in": "query",
            "description": "Family name; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "EmailAddress",
            "in": "query",
            "description": "Email address; will return records that contain the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CampusName",
            "in": "query",
            "description": "Campus name; will return records that match the supplied value (max length 300)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "CourseOfStudyCode",
            "in": "query",
            "description": "Course of study code; will return records that match the supplied value (max length 50)",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "IsUnderRevision",
            "in": "query",
            "description": "Whether the eCAF is currently under revision",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "UsiVerificationStatus",
            "in": "query",
            "description": "USI verification status (NotApplicableUsiVerificationDisabled, NotApplicableNoUsiEntered, NotApplicableFailedChecksum, NotApplicableInsufficientSupportingData, Unverified, Queued, Passed or Failed, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "NotApplicableUsiVerificationDisabled",
                "NotApplicableNoUsiEntered",
                "NotApplicableFailedChecksum",
                "NotApplicableInsufficientSupportingData",
                "Unverified",
                "Queued",
                "Passed",
                "Failed"
              ]
            }
          },
          {
            "name": "AdditionalProviderData",
            "in": "query",
            "description": "Additional provider data; will return records that contain the supplied value",
            "required": false,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "eCAFs"
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "description": "Bad request. A validation resulted in the request being rejected.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorised. No authentication credentials provided or authentication failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden. The account used for the request has been locked.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Unexpected (internal) error.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/emails": {
      "get": {
        "summary": "Emails",
        "description": "Returns a list of emails. Not all email information is included - use the single email endpoint to get all the information regarding an email.",
        "parameters": [
          {
            "name": "SearchType",
            "in": "query",
            "description": "Search Type (InvitesThatBounced or All)",
            "required": false,
            "type": "string",
            "enum": [
              "InvitesThatBounced",
              "All"
            ]
          },
          {
            "name": "Bounced",
            "in": "query",
            "description": "Bounced",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "EcafId",
            "in": "query",
            "description": "Ecaf Id",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "EcafType",
            "in": "query",
            "description": "Ecaf Type (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "VetStudentLoans",
                "VetStudentLoansPaper",
                "HecsHelp",
                "FeeHelp",
                "NuFeeHelp",
                "OuaFeeHelp",
                "FfurCsp",
                "SaHelp",
                "StartupHelp",
                "OsHelp"
              ]
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Type (EcafInvitation, EcafSubmission, SubmissionSummaryEmail, EcafPersonalEmailVerification, EcafDeletedEmail, EcafRevisionEmail, ProgressionInvitation, ProgressionSubmission, ProgressionPersonalEmailVerification, EcafAdministratorDeletionEmail, Correction, ProgressionSubmissionContinuing, ProgressionSubmissionNotContinuing, ProgressionSubmissionCompletedQualificationReceived, ProgressionSubmissionCompletedNoQualification or CorrectionDeleted, multiples permitted)",
            "required": false,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "EcafInvitation",
                "EcafSubmission",
                "SubmissionSummaryEmail",
[...]
