{
  "openapi": "3.0.3",
  "info": {
    "title": "Peach Payments Checkout API",
    "description": "Peach Payments provides payment solutions for businesses in Africa. The Checkout API v2 supports creating checkout sessions for Embedded and Hosted Checkout integrations, querying checkout and payment statuses, and managing transactions.",
    "version": "2.0.0",
    "contact": {
      "name": "Peach Payments Support",
      "url": "https://developer.peachpayments.com/"
    },
    "x-jentic-source-url": "https://developer.peachpayments.com/"
  },
  "servers": [
    {
      "url": "https://testsecure.peachpayments.com",
      "description": "Test environment"
    },
    {
      "url": "https://secure.peachpayments.com",
      "description": "Production environment"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Checkout",
      "description": "Checkout session management"
    },
    {
      "name": "Payments",
      "description": "Payment status and query operations"
    }
  ],
  "paths": {
    "/v2/checkout": {
      "post": {
        "operationId": "initiateCheckout",
        "summary": "Initiate Checkout",
        "description": "Create a checkout to use in Embedded Checkout or redirect the customer to the redirectUrl for Hosted Checkout. Returns a checkout ID and redirect URL.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/checkout/{checkoutId}": {
      "get": {
        "operationId": "getCheckoutStatus",
        "summary": "Get Checkout Status",
        "description": "Retrieve the status of a checkout session by its checkout ID.",
        "tags": [
          "Checkout"
        ],
        "parameters": [
          {
            "name": "checkoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The checkout ID returned from initiateCheckout"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/checkout/{checkoutId}/payment": {
      "get": {
        "operationId": "getCheckoutPayment",
        "summary": "Get Checkout Payment Details",
        "description": "Retrieve the payment details associated with a completed checkout.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "checkoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The checkout ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payments/{paymentId}": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund a Payment",
        "description": "Process a refund or reversal against an existing payment transaction.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The original payment ID to refund"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer authentication using your Peach Payments API key."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "paymentType",
          "merchantTransactionId",
          "nonce"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "description": "Payment amount with two decimal places",
            "example": "100.00"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code (e.g. ZAR, USD, KES, GHS, MUR, TZS)",
            "example": "ZAR"
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "DB",
              "PA"
            ],
            "description": "DB=Debit (immediate), PA=Pre-authorization"
          },
          "merchantTransactionId": {
            "type": "string",
            "description": "Unique merchant transaction reference"
          },
          "nonce": {
            "type": "string",
            "description": "Unique nonce for idempotency"
          },
          "shopperResultUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the customer after payment"
          },
          "defaultPaymentMethod": {
            "type": "string",
            "description": "Default payment method to pre-select"
          },
          "forceDefaultMethod": {
            "type": "boolean",
            "description": "Force the default payment method selection"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerInfo"
          },
          "billing": {
            "$ref": "#/components/schemas/BillingInfo"
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          },
          "customParameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom parameters to pass through"
          }
        }
      },
      "CustomerInfo": {
        "type": "object",
        "properties": {
          "merchantCustomerId": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile": {
            "type": "string"
          }
        }
      },
      "BillingInfo": {
        "type": "object",
        "properties": {
          "street1": {
            "type": "string"
          },
          "street2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "ShippingInfo": {
        "type": "object",
        "properties": {
          "street1": {
            "type": "string"
          },
          "street2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "checkoutId": {
            "type": "string",
            "description": "The unique checkout session ID"
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect for Hosted Checkout"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutStatusResponse": {
        "type": "object",
        "properties": {
          "checkoutId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "paymentType": {
            "type": "string"
          },
          "merchantTransactionId": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment transaction ID"
          },
          "paymentType": {
            "type": "string"
          },
          "paymentBrand": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "card": {
            "type": "object",
            "properties": {
              "bin": {
                "type": "string"
              },
              "last4Digits": {
                "type": "string"
              },
              "holder": {
                "type": "string"
              },
              "expiryMonth": {
                "type": "string"
              },
              "expiryYear": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "paymentType"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "description": "Refund amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "RF",
              "RV"
            ],
            "description": "RF=Refund, RV=Reversal"
          }
        }
      }
    }
  }
}
