{
  "openapi": "3.0.3",
  "info": {
    "title": "OKX API",
    "description": "OKX (formerly OKEx) cryptocurrency exchange REST API v5. Provides trading, market data, account management, funding, and public data endpoints for spot, margin, futures, perpetual swaps, and options trading.",
    "version": "5.0.0",
    "contact": {
      "name": "OKX",
      "url": "https://www.okx.com"
    }
  },
  "servers": [
    {
      "url": "https://www.okx.com",
      "description": "OKX Production"
    },
    {
      "url": "https://us.okx.com",
      "description": "OKX US & AU"
    },
    {
      "url": "https://eea.okx.com",
      "description": "OKX EU"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "ApiSign": [],
      "ApiTimestamp": [],
      "ApiPassphrase": []
    }
  ],
  "paths": {
    "/api/v5/account/instruments": {
      "get": {
        "operationId": "getAccountInstruments",
        "summary": "Get instruments",
        "description": "Retrieve available trading instruments for the account.",
        "tags": ["Trading Account"],
        "security": [
          {
            "ApiKey": [],
            "ApiSign": [],
            "ApiTimestamp": [],
            "ApiPassphrase": []
          }
        ],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "description": "Instrument type.",
            "schema": {
              "type": "string",
              "enum": ["SPOT", "MARGIN", "SWAP", "FUTURES", "OPTION"]
            }
          },
          {
            "name": "instFamily",
            "in": "query",
            "description": "Instrument family. Required for OPTION.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instId",
            "in": "query",
            "description": "Instrument ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/balance": {
      "get": {
        "operationId": "getAccountBalance",
        "summary": "Get balance",
        "description": "Retrieve account balance information.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "ccy",
            "in": "query",
            "description": "Single or multiple currencies separated by commas.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/positions": {
      "get": {
        "operationId": "getPositions",
        "summary": "Get positions",
        "description": "Retrieve current positions.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "description": "Instrument type filter.",
            "schema": {
              "type": "string",
              "enum": ["MARGIN", "SWAP", "FUTURES", "OPTION"]
            }
          },
          {
            "name": "instId",
            "in": "query",
            "description": "Instrument ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "posId",
            "in": "query",
            "description": "Position ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/positions-history": {
      "get": {
        "operationId": "getPositionsHistory",
        "summary": "Get positions history",
        "description": "Retrieve historical positions.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "description": "Instrument type filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instId",
            "in": "query",
            "description": "Instrument ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination: query records before this ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination: query records after this ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per request. Maximum 100.",
            "schema": {
              "type": "string",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/account-position-risk": {
      "get": {
        "operationId": "getAccountPositionRisk",
        "summary": "Get account and position risk",
        "description": "Retrieve account and position risk data.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "description": "Instrument type filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/bills": {
      "get": {
        "operationId": "getBillsLast7Days",
        "summary": "Get bills details (last 7 days)",
        "description": "Retrieve bills details for the last 7 days.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "ccy",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "mgnMode",
            "in": "query",
            "description": "Margin mode: isolated, cross.",
            "schema": { "type": "string" }
          },
          {
            "name": "ctType",
            "in": "query",
            "description": "Contract type.",
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Bill type.",
            "schema": { "type": "string" }
          },
          {
            "name": "subType",
            "in": "query",
            "description": "Bill sub-type.",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/account-config": {
      "get": {
        "operationId": "getAccountConfig",
        "summary": "Get account configuration",
        "description": "Retrieve current account configuration.",
        "tags": ["Trading Account"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/set-position-mode": {
      "post": {
        "operationId": "setPositionMode",
        "summary": "Set position mode",
        "description": "Set the position mode for the account.",
        "tags": ["Trading Account"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["posMode"],
                "properties": {
                  "posMode": {
                    "type": "string",
                    "description": "Position mode: long_short_mode or net_mode.",
                    "enum": ["long_short_mode", "net_mode"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/set-leverage": {
      "post": {
        "operationId": "setLeverage",
        "summary": "Set leverage",
        "description": "Set the leverage for an instrument.",
        "tags": ["Trading Account"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["lever", "mgnMode"],
                "properties": {
                  "lever": {
                    "type": "string",
                    "description": "Leverage multiplier."
                  },
                  "mgnMode": {
                    "type": "string",
                    "description": "Margin mode.",
                    "enum": ["isolated", "cross"]
                  },
                  "instId": {
                    "type": "string",
                    "description": "Instrument ID. Required for isolated mode."
                  },
                  "ccy": {
                    "type": "string",
                    "description": "Settlement currency."
                  },
                  "posSide": {
                    "type": "string",
                    "description": "Position side."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/max-order-qty": {
      "get": {
        "operationId": "getMaxOrderQty",
        "summary": "Get maximum order quantity",
        "description": "Retrieve the maximum order quantity for an instrument.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "tdMode",
            "in": "query",
            "required": true,
            "description": "Trade mode: cash, isolated, cross.",
            "schema": { "type": "string" }
          },
          {
            "name": "px",
            "in": "query",
            "description": "Price for limit orders.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/max-avail-size": {
      "get": {
        "operationId": "getMaxAvailSize",
        "summary": "Get maximum available balance/equity",
        "description": "Retrieve the maximum available tradeable amount.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "tdMode",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "reduceOnly",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/leverage-info": {
      "get": {
        "operationId": "getLeverageInfo",
        "summary": "Get leverage",
        "description": "Retrieve leverage setting for an instrument.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "mgnMode",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["isolated", "cross"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/trade-fee": {
      "get": {
        "operationId": "getTradeFee",
        "summary": "Get fee rates",
        "description": "Retrieve trading fee rates.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/max-withdrawal": {
      "get": {
        "operationId": "getMaxWithdrawal",
        "summary": "Get maximum withdrawals",
        "description": "Retrieve the maximum withdrawal amount.",
        "tags": ["Trading Account"],
        "parameters": [
          {
            "name": "ccy",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/account/risk-state": {
      "get": {
        "operationId": "getRiskState",
        "summary": "Get account risk state",
        "description": "Retrieve the account risk state.",
        "tags": ["Trading Account"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/order": {
      "post": {
        "operationId": "placeOrder",
        "summary": "Place order",
        "description": "Place a new order.",
        "tags": ["Trade"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getOrderDetails",
        "summary": "Get order details",
        "description": "Retrieve details of a specific order.",
        "tags": ["Trade"],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ordId",
            "in": "query",
            "description": "Order ID.",
            "schema": { "type": "string" }
          },
          {
            "name": "clOrdId",
            "in": "query",
            "description": "Client order ID.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/batch-orders": {
      "post": {
        "operationId": "placeBatchOrders",
        "summary": "Place multiple orders",
        "description": "Place multiple orders in a single request (max 20).",
        "tags": ["Trade"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlaceOrderRequest"
                },
                "maxItems": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/cancel-order": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel order",
        "description": "Cancel an existing order.",
        "tags": ["Trade"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instId"],
                "properties": {
                  "instId": { "type": "string" },
                  "ordId": { "type": "string", "description": "Order ID." },
                  "clOrdId": { "type": "string", "description": "Client order ID." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/cancel-batch-orders": {
      "post": {
        "operationId": "cancelBatchOrders",
        "summary": "Cancel multiple orders",
        "description": "Cancel multiple orders in a single request.",
        "tags": ["Trade"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["instId"],
                  "properties": {
                    "instId": { "type": "string" },
                    "ordId": { "type": "string" },
                    "clOrdId": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/amend-order": {
      "post": {
        "operationId": "amendOrder",
        "summary": "Amend order",
        "description": "Amend an existing order.",
        "tags": ["Trade"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instId"],
                "properties": {
                  "instId": { "type": "string" },
                  "ordId": { "type": "string" },
                  "clOrdId": { "type": "string" },
                  "newSz": { "type": "string", "description": "New size." },
                  "newPx": { "type": "string", "description": "New price." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/close-position": {
      "post": {
        "operationId": "closePosition",
        "summary": "Close position",
        "description": "Close an existing position.",
        "tags": ["Trade"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instId", "mgnMode"],
                "properties": {
                  "instId": { "type": "string" },
                  "mgnMode": { "type": "string", "enum": ["isolated", "cross"] },
                  "posSide": { "type": "string", "description": "Position side: long, short, net." },
                  "ccy": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/orders-pending": {
      "get": {
        "operationId": "getOrdersPending",
        "summary": "Get pending orders",
        "description": "Retrieve all pending/open orders.",
        "tags": ["Trade"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "ordType",
            "in": "query",
            "description": "Order type filter.",
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Order state filter.",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/orders-history": {
      "get": {
        "operationId": "getOrdersHistory",
        "summary": "Get order history (last 7 days)",
        "description": "Retrieve order history for the last 7 days.",
        "tags": ["Trade"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "ordType",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/orders-history-archive": {
      "get": {
        "operationId": "getOrdersHistoryArchive",
        "summary": "Get order history (last 3 months)",
        "description": "Retrieve order history for the last 3 months.",
        "tags": ["Trade"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "ordType",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/fills": {
      "get": {
        "operationId": "getFills",
        "summary": "Get transaction details (last 3 days)",
        "description": "Retrieve recent transaction/fill details.",
        "tags": ["Trade"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "ordId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/trade/fills-history": {
      "get": {
        "operationId": "getFillsHistory",
        "summary": "Get transaction details (last 3 months)",
        "description": "Retrieve historical transaction/fill details.",
        "tags": ["Trade"],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/tickers": {
      "get": {
        "operationId": "getMarketTickers",
        "summary": "Get tickers",
        "description": "Retrieve ticker information for all instruments of a type.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "description": "Instrument type.",
            "schema": {
              "type": "string",
              "enum": ["SPOT", "MARGIN", "SWAP", "FUTURES", "OPTION"]
            }
          },
          {
            "name": "instFamily",
            "in": "query",
            "description": "Instrument family. Applicable to FUTURES/SWAP/OPTION.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/ticker": {
      "get": {
        "operationId": "getMarketTicker",
        "summary": "Get ticker",
        "description": "Retrieve ticker data for a specific instrument.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "description": "Instrument ID (e.g., BTC-USDT).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/books": {
      "get": {
        "operationId": "getOrderBook",
        "summary": "Get order book",
        "description": "Retrieve the order book for an instrument.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "sz",
            "in": "query",
            "description": "Order book depth (max 400).",
            "schema": { "type": "string", "default": "1" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/books-full": {
      "get": {
        "operationId": "getFullOrderBook",
        "summary": "Get full order book",
        "description": "Retrieve the full order book snapshot.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/candles": {
      "get": {
        "operationId": "getCandles",
        "summary": "Get candlesticks",
        "description": "Retrieve candlestick/OHLCV data for an instrument.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "bar",
            "in": "query",
            "description": "Bar size (e.g., 1m, 5m, 15m, 30m, 1H, 2H, 4H, 1D, 1W, 1M).",
            "schema": { "type": "string", "default": "1m" }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination timestamp.",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination timestamp.",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results (max 300).",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/history-candles": {
      "get": {
        "operationId": "getHistoryCandles",
        "summary": "Get candlestick history",
        "description": "Retrieve historical candlestick data.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "bar",
            "in": "query",
            "schema": { "type": "string", "default": "1m" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/trades": {
      "get": {
        "operationId": "getTrades",
        "summary": "Get trades",
        "description": "Retrieve recent trades for an instrument.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results (max 500).",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/market/history-trades": {
      "get": {
        "operationId": "getHistoryTrades",
        "summary": "Get trade history",
        "description": "Retrieve historical trade data.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/public/instruments": {
      "get": {
        "operationId": "getPublicInstruments",
        "summary": "Get public instruments",
        "description": "Retrieve available trading instruments (public, no auth required).",
        "tags": ["Public Data"],
        "security": [],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["SPOT", "MARGIN", "SWAP", "FUTURES", "OPTION"]
            }
          },
          {
            "name": "uly",
            "in": "query",
            "description": "Underlying.",
            "schema": { "type": "string" }
          },
          {
            "name": "instFamily",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/public/funding-rate": {
      "get": {
        "operationId": "getFundingRate",
        "summary": "Get funding rate",
        "description": "Retrieve the current funding rate for a perpetual swap.",
        "tags": ["Public Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/public/funding-rate-history": {
      "get": {
        "operationId": "getFundingRateHistory",
        "summary": "Get funding rate history",
        "description": "Retrieve historical funding rates.",
        "tags": ["Public Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/public/open-interest": {
      "get": {
        "operationId": "getOpenInterest",
        "summary": "Get open interest",
        "description": "Retrieve open interest data.",
        "tags": ["Public Data"],
        "security": [],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["SWAP", "FUTURES", "OPTION"] }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "instFamily",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/public/mark-price": {
      "get": {
        "operationId": "getMarkPrice",
        "summary": "Get mark price",
        "description": "Retrieve the mark price for an instrument.",
        "tags": ["Public Data"],
        "security": [],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["MARGIN", "SWAP", "FUTURES", "OPTION"] }
          },
          {
            "name": "instId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "instFamily",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/public/limit-price": {
      "get": {
        "operationId": "getLimitPrice",
        "summary": "Get limit price",
        "description": "Retrieve the limit price for an instrument.",
        "tags": ["Public Data"],
        "security": [],
        "parameters": [
          {
            "name": "instId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/public/underlying": {
      "get": {
        "operationId": "getUnderlying",
        "summary": "Get underlying",
        "description": "Retrieve underlying assets.",
        "tags": ["Public Data"],
        "security": [],
        "parameters": [
          {
            "name": "instType",
            "in": "query",
            "schema": { "type": "string", "enum": ["SWAP", "FUTURES", "OPTION"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/asset/transfer": {
      "post": {
        "operationId": "fundsTransfer",
        "summary": "Funds transfer",
        "description": "Transfer funds between accounts.",
        "tags": ["Funding"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ccy", "amt", "from", "to"],
                "properties": {
                  "ccy": { "type": "string", "description": "Currency." },
                  "amt": { "type": "string", "description": "Transfer amount." },
                  "from": { "type": "string", "description": "Source account type (6=funding, 18=trading)." },
                  "to": { "type": "string", "description": "Destination account type." },
                  "subAcct": { "type": "string", "description": "Sub-account name." },
                  "type": { "type": "string", "description": "Transfer type: 0=within account, 1=master to sub, 2=sub to master." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/asset/deposit-address": {
      "get": {
        "operationId": "getDepositAddress",
        "summary": "Get deposit address",
        "description": "Retrieve deposit addresses for a currency.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "ccy",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/asset/withdrawal": {
      "post": {
        "operationId": "withdrawal",
        "summary": "Withdrawal",
        "description": "Submit a withdrawal request.",
        "tags": ["Funding"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ccy", "amt", "dest", "toAddr", "fee"],
                "properties": {
                  "ccy": { "type": "string" },
                  "amt": { "type": "string", "description": "Withdrawal amount." },
                  "dest": { "type": "string", "description": "Withdrawal method: 3=internal, 4=on-chain." },
                  "toAddr": { "type": "string", "description": "Withdrawal address." },
                  "fee": { "type": "string", "description": "Network fee." },
                  "chain": { "type": "string", "description": "Chain name (e.g., BTC-Bitcoin)." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/asset/deposit-history": {
      "get": {
        "operationId": "getDepositHistory",
        "summary": "Get deposit history",
        "description": "Retrieve deposit records.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "ccy",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Deposit state filter.",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/asset/withdrawal-history": {
      "get": {
        "operationId": "getWithdrawalHistory",
        "summary": "Get withdrawal history",
        "description": "Retrieve withdrawal records.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "ccy",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "after",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "before",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "string", "default": "100" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/asset/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get currencies",
        "description": "Retrieve available currencies for deposit and withdrawal.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "ccy",
            "in": "query",
            "description": "Currency filter.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v5/asset/balances": {
      "get": {
        "operationId": "getFundingBalance",
        "summary": "Get funding balance",
        "description": "Retrieve funding account balance.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "ccy",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "OK-ACCESS-KEY",
        "description": "API key"
      },
      "ApiSign": {
        "type": "apiKey",
        "in": "header",
        "name": "OK-ACCESS-SIGN",
        "description": "Base64-encoded HMAC SHA256 signature of timestamp + method + requestPath + body using secret key"
      },
      "ApiTimestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "OK-ACCESS-TIMESTAMP",
        "description": "UTC timestamp in ISO 8601 format (e.g., 2020-12-08T09:08:57.715Z)"
      },
      "ApiPassphrase": {
        "type": "apiKey",
        "in": "header",
        "name": "OK-ACCESS-PASSPHRASE",
        "description": "API passphrase specified when creating the API key"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code. 0 indicates success."
          },
          "msg": {
            "type": "string",
            "description": "Error message. Empty if code is 0."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Response data array."
          }
        }
      },
      "PlaceOrderRequest": {
        "type": "object",
        "required": ["instId", "tdMode", "side", "ordType", "sz"],
        "properties": {
          "instId": {
            "type": "string",
            "description": "Instrument ID (e.g., BTC-USDT)."
          },
          "tdMode": {
            "type": "string",
            "description": "Trade mode: cash, isolated, cross.",
            "enum": ["cash", "isolated", "cross"]
          },
          "ccy": {
            "type": "string",
            "description": "Margin currency. Required for cross margin orders."
          },
          "clOrdId": {
            "type": "string",
            "description": "Client-supplied order ID."
          },
          "tag": {
            "type": "string",
            "description": "Order tag."
          },
          "side": {
            "type": "string",
            "description": "Order side.",
            "enum": ["buy", "sell"]
          },
          "posSide": {
            "type": "string",
            "description": "Position side: long, short, net.",
            "enum": ["long", "short", "net"]
          },
          "ordType": {
            "type": "string",
            "description": "Order type.",
            "enum": ["market", "limit", "post_only", "fok", "ioc"]
          },
          "sz": {
            "type": "string",
            "description": "Order size."
          },
          "px": {
            "type": "string",
            "description": "Order price. Required for limit orders."
          },
          "reduceOnly": {
            "type": "boolean",
            "description": "Whether this is a reduce-only order."
          },
          "tgtCcy": {
            "type": "string",
            "description": "Target currency for quantity: base_ccy or quote_ccy."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Trading Account",
      "description": "Account management endpoints for balances, positions, leverage, and configuration"
    },
    {
      "name": "Trade",
      "description": "Order management endpoints for placing, canceling, and querying orders"
    },
    {
      "name": "Market Data",
      "description": "Public market data endpoints for tickers, order books, candles, and trades"
    },
    {
      "name": "Public Data",
      "description": "Public reference data endpoints for instruments, funding rates, and mark prices"
    },
    {
      "name": "Funding",
      "description": "Funding account endpoints for transfers, deposits, and withdrawals"
    }
  ]
}