{
  "openapi": "3.0.3",
  "info": {
    "title": "Webdam REST API",
    "description": "Webdam (now part of Bynder) digital asset management REST API. Provides programmatic access to assets, folders, lightboxes, and metadata within a Webdam account.",
    "version": "1.0.0",
    "contact": {
      "name": "Webdam Support",
      "url": "https://www.damsuccess.com/hc/en-us"
    },
    "x-jentic-source-url": "https://www.damsuccess.com/hc/en-us/articles/202134055-REST-API"
  },
  "servers": [
    {
      "url": "https://apiv2.webdamdb.com",
      "description": "Webdam API v2 Production"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 token management"
    },
    {
      "name": "Assets",
      "description": "Digital asset operations"
    },
    {
      "name": "Folders",
      "description": "Folder management"
    },
    {
      "name": "Lightboxes",
      "description": "Lightbox management"
    },
    {
      "name": "Users",
      "description": "User account management"
    },
    {
      "name": "Search",
      "description": "Asset search operations"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Obtain access token",
        "description": "Obtain an OAuth 2.0 access token using client credentials or password grant.",
        "operationId": "getAccessToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["grant_type", "client_id", "client_secret"],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": ["password", "client_credentials"],
                    "description": "OAuth 2.0 grant type"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Application client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Application client secret"
                  },
                  "username": {
                    "type": "string",
                    "description": "User email (required for password grant)"
                  },
                  "password": {
                    "type": "string",
                    "description": "User password (required for password grant)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid grant or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}": {
      "get": {
        "tags": ["Folders"],
        "summary": "Get folder details",
        "description": "Retrieve details and properties of a specific folder.",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Folder ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Folder not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Folders"],
        "summary": "Update folder",
        "description": "Update folder properties.",
        "operationId": "updateFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Folder ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Folder not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Folders"],
        "summary": "Delete folder",
        "description": "Delete a folder and optionally its contents.",
        "operationId": "deleteFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Folder ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Folder not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}/folders": {
      "get": {
        "tags": ["Folders"],
        "summary": "List subfolders",
        "description": "List all subfolders of a given folder.",
        "operationId": "listSubfolders",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Parent folder ID. Use 0 for root."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results to return"
          },
          {
            "name": "sortby",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["name", "datecreated", "datemodified"]
            },
            "description": "Sort field"
          },
          {
            "name": "sortdir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subfolders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Folders"],
        "summary": "Create subfolder",
        "description": "Create a new subfolder within a folder.",
        "operationId": "createSubfolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Parent folder ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}/assets": {
      "get": {
        "tags": ["Assets"],
        "summary": "List folder assets",
        "description": "List all assets within a given folder.",
        "operationId": "listFolderAssets",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Folder ID"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results to return"
          },
          {
            "name": "sortby",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["filename", "filesize", "datecreated", "datemodified"]
            },
            "description": "Sort field"
          },
          {
            "name": "sortdir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "facets": {
                      "type": "object"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Folder not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Assets"],
        "summary": "Upload asset to folder",
        "description": "Upload a new asset to a specific folder.",
        "operationId": "uploadAsset",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Destination folder ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  },
                  "filename": {
                    "type": "string",
                    "description": "Override filename"
                  },
                  "description": {
                    "type": "string",
                    "description": "Asset description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{assetId}": {
      "get": {
        "tags": ["Assets"],
        "summary": "Get asset details",
        "description": "Retrieve metadata and properties of a specific asset.",
        "operationId": "getAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Asset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Assets"],
        "summary": "Update asset metadata",
        "description": "Update the metadata and properties of an asset.",
        "operationId": "updateAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Asset ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Assets"],
        "summary": "Delete asset",
        "description": "Delete an asset from the DAM.",
        "operationId": "deleteAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Asset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{assetId}/download": {
      "get": {
        "tags": ["Assets"],
        "summary": "Download asset",
        "description": "Get a presigned download URL for an asset.",
        "operationId": "downloadAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Asset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "format": "uri",
                      "description": "Presigned download URL"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Search assets",
        "description": "Search for assets by keyword, metadata, or other criteria.",
        "operationId": "searchAssets",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query string"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results to return"
          },
          {
            "name": "filetype",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by file type"
          },
          {
            "name": "sortby",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["relevance", "filename", "filesize", "datecreated", "datemodified"]
            },
            "description": "Sort field"
          },
          {
            "name": "sortdir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "facets": {
                      "type": "object"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lightboxes": {
      "get": {
        "tags": ["Lightboxes"],
        "summary": "List lightboxes",
        "description": "Retrieve all lightboxes for the current user.",
        "operationId": "listLightboxes",
        "responses": {
          "200": {
            "description": "List of lightboxes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lightbox"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Lightboxes"],
        "summary": "Create lightbox",
        "description": "Create a new lightbox.",
        "operationId": "createLightbox",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Lightbox name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Lightbox description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lightbox created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lightbox"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lightboxes/{lightboxId}": {
      "get": {
        "tags": ["Lightboxes"],
        "summary": "Get lightbox",
        "description": "Retrieve details and assets in a lightbox.",
        "operationId": "getLightbox",
        "parameters": [
          {
            "name": "lightboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Lightbox ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Lightbox details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lightbox"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lightbox not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Lightboxes"],
        "summary": "Delete lightbox",
        "description": "Delete a lightbox.",
        "operationId": "deleteLightbox",
        "parameters": [
          {
            "name": "lightboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Lightbox ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Lightbox deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lightbox not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lightboxes/{lightboxId}/assets": {
      "post": {
        "tags": ["Lightboxes"],
        "summary": "Add asset to lightbox",
        "description": "Add an asset to a lightbox by asset ID.",
        "operationId": "addAssetToLightbox",
        "parameters": [
          {
            "name": "lightboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Lightbox ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Asset ID to add"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset added to lightbox"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lightbox or asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Get current user",
        "description": "Retrieve profile information for the authenticated user.",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List users",
        "description": "List all users in the account.",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 with password or client_credentials grant",
        "flows": {
          "password": {
            "tokenUrl": "https://apiv2.webdamdb.com/oauth2/token",
            "scopes": {}
          },
          "clientCredentials": {
            "tokenUrl": "https://apiv2.webdamdb.com/oauth2/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token TTL in seconds"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique asset ID"
          },
          "filename": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "filetype": {
            "type": "string",
            "description": "File extension"
          },
          "filesize": {
            "type": "string",
            "description": "Human-readable file size"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "datecreated": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "folder": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "thumbnailurls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "size": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "expired"]
          }
        }
      },
      "AssetUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "expiration_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent": {
            "type": "integer"
          },
          "num_folders": {
            "type": "integer"
          },
          "num_assets": {
            "type": "integer"
          },
          "datecreated": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "FolderUpdate": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Lightbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "num_assets": {
            "type": "integer"
          },
          "datecreated": {
            "type": "string",
            "format": "date-time"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    }
  }
}
