{"openapi":"3.0.3","info":{"title":"API V1","version":"v1"},"servers":[{"url":"https://developer.junglescout.com"}],"components":{"securitySchemes":{"authorization_header":{"type":"apiKey","name":"Authorization","in":"header","description":"Expected format: key_name:api_key"}},"schemas":{"error":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for this particular occurrence of the the error."},"title":{"type":"string","description":"Title about the error."},"detail":{"type":"string","description":"Details about the error and potential solutions to fix it."},"code":{"type":"string","enum":["VALIDATION_ERROR","INVALID_SORT_CRITERIA","INVALID_PAGE_OBJECT","INVALID_VERSION","INVALID_MARKETPLACE","INVALID_PAGE_SIZE","INVALID_COMPARISON_PERIOD","BAD_REQUEST","FORBIDDEN","RECORD_NOT_FOUND","NOT_ACCEPTABLE","UNSUPPORTED_MEDIA_TYPE","UNPROCESSABLE_ENTITY","INTERNAL_SERVER_ERROR","INVALID_ASIN","MISSING_RANK_DATA","UNSUPPORTED_CATEGORY_VALUE","CANNOT_FETCH_PRODUCT"]},"status":{"type":"string","description":"Server response status code."},"meta":{"type":"object","description":"meta object containing non-standard meta-information about the error."},"links":{"type":"object","properties":{"self":{"type":"string","description":"URL related to the error. "},"related":{"type":"object","properties":{"href":{"type":"string","description":"URL related to the error."},"meta":{"type":"object","description":"meta object containing non-standard meta information."}},"required":["href"]}},"description":"Either self or related is provided."},"source":{"type":"object","properties":{"pointer":{"type":"string","description":"JSON pointer to the associated entity in the request document causing the error."},"parameter":{"type":"string","description":"A string indicating which URI query parameter caused the error."}}}},"required":["title","detail","code","status"]},"errors_list":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/error"},"description":"List of errors, each one with the following model"}},"required":["errors"]},"links":{"type":"object","properties":{"self":{"type":"string","description":"link that generated current response's data."},"next":{"type":"string","description":"link for next page of data."}}}}},"paths":{"/api/keywords/keywords_by_asin_query":{"post":{"summary":"","description":"<div class=\"endpoint-description\">\n        <h4 class=\"opblock-title\">Description</h4>\n        <div>\n          Returns keywords for which the queried ASIN(s) appear in Amazon search results.\n          For a given keyword, Jungle Scout collects up to 3 pages of Amazon keyword search results.\n          Query up to 10 ASINs at a time.\n          Apply filters to narrow search results\n        </div>\n      </div>","tags":["Keywords"],"security":[{"authorization_header":[]}],"parameters":[{"name":"marketplace","in":"query","schema":{"type":"string","enum":["us","uk","de","in","ca","fr","it","es","mx","jp"]},"required":true},{"name":"sort","in":"query","schema":{"type":"string","enum":["name","-name","dominant_category","-dominant_category","monthly_trend","-monthly_trend","quarterly_trend","-quarterly_trend","monthly_search_volume_exact","-monthly_search_volume_exact","monthly_search_volume_broad","-monthly_search_volume_broad","recommended_promotions","-recommended_promotions","sp_brand_ad_bid","-sp_brand_ad_bid","ppc_bid_broad","-ppc_bid_broad","ppc_bid_exact","-ppc_bid_exact","ease_of_ranking_score","-ease_of_ranking_score","relevancy_score","-relevancy_score","organic_product_count","-organic_product_count"],"default":"-monthly_search_volume_exact"},"required":false},{"name":"page[size]","in":"query","required":false,"schema":{"type":"integer","default":50},"description":"Number of results per page. Max 100"},{"name":"page[cursor]","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor generated by server."}],"responses":{"403":{"description":"forbidden","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Forbidden","detail":"The application name or api key provided was invalid.","code":"FORBIDDEN","status":"403"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"422":{"description":"unprocessable_entity","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid parameter value for: 'min_monthly_search_volume_exact'","detail":"min_monthly_search_volume_exact - is not a number","code":"VALIDATION_ERROR","source":{"pointer":"/data/attributes/min_monthly_search_volume_exact"},"status":"422"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"400":{"description":"bad_request","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid resource type","detail":"param is missing or the value is empty: keywords_by_asin_query","code":"BAD_REQUEST","status":"400"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"200":{"description":"success","content":{"application/vnd.junglescout.v1+json":{"example":{"data":[{"id":"us/aaa batteries 24 pack","type":"keywords_by_asin_result","attributes":{"country":"us","name":"aaa batteries 24 pack","primary_asin":"B08RT1NF23","monthly_trend":13.5,"monthly_search_volume_exact":74882,"quarterly_trend":-44.22,"monthly_search_volume_broad":84866,"dominant_category":"Health & Household","recommended_promotions":1022,"sp_brand_ad_bid":null,"ppc_bid_broad":2.2,"ppc_bid_exact":6.67,"ease_of_ranking_score":90,"relevancy_score":70,"organic_product_count":10000,"sponsored_product_count":28,"updated_at":"2025-04-02T15:37:11.000000Z","organic_rank":0,"sponsored_rank":null,"overall_rank":null,"organic_ranking_asins_count":2,"sponsored_ranking_asins_count":1,"avg_competitor_organic_rank":4.0,"avg_competitor_sponsored_rank":2.0,"relative_organic_position":3,"relative_sponsored_position":2,"variation_lowest_organic_rank":null,"variation_lowest_sponsored_rank":null,"competitor_organic_rank":[{"asin":"B002UXRXE6","organic_rank":2},{"asin":"B09RTVN5GN","organic_rank":6}],"competitor_sponsored_rank":[{"asin":"B002UXRXE6","sponsored_rank":0},{"asin":"B09RTVN5GN","sponsored_rank":1}]}},{"id":"us/aa batteries 24 pack","type":"keywords_by_asin_result","attributes":{"country":"us","name":"aa batteries 24 pack","primary_asin":"B08RT1NF23","monthly_trend":16.72,"monthly_search_volume_exact":74515,"quarterly_trend":-54.76,"monthly_search_volume_broad":88873,"dominant_category":"Health & Household","recommended_promotions":1509,"sp_brand_ad_bid":null,"ppc_bid_broad":1.97,"ppc_bid_exact":5.16,"ease_of_ranking_score":100,"relevancy_score":52,"organic_product_count":10000,"sponsored_product_count":38,"updated_at":"2025-04-02T15:35:21.000000Z","organic_rank":0,"sponsored_rank":null,"overall_rank":null,"organic_ranking_asins_count":2,"sponsored_ranking_asins_count":1,"avg_competitor_organic_rank":21.0,"avg_competitor_sponsored_rank":4.0,"relative_organic_position":3,"relative_sponsored_position":2,"variation_lowest_organic_rank":null,"variation_lowest_sponsored_rank":null,"competitor_organic_rank":[{"asin":"B002UXRXE6","organic_rank":9},{"asin":"B09RTVN5GN","organic_rank":34}],"competitor_sponsored_rank":[{"asin":"B002UXRXE6","sponsored_rank":0},{"asin":"B09RTVN5GN","sponsored_rank":4}]}}],"meta":{"total_items":2191},"links":{"self":"http://developer.junglescout.com/api/keywords/keywords_by_asin_query?marketplace=us&page%5Bsize%5D=3","next":"http://developer.junglescout.com/api/keywords/keywords_by_asin_query?marketplace=us&page%5Bcursor%5D=Wzc0NTE1LCJhYSBiYXR0ZXJpZXMgMjQgcGFjayIsNTIuMDA5NDRd&page%5Bsize%5D=3"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"marketplace/keyword"},"type":{"type":"string","description":"Type of object. 'keyword_by_asin_result'"},"attributes":{"type":"object","properties":{"country":{"type":"string","description":"Amazon marketplace as a two character identifier (e.g. us, it)"},"name":{"type":"string","description":"Keyword or phrase"},"primary_asin":{"type":"string","description":"The first ASIN provided in the query."},"monthly_trend":{"type":"number","description":"30-day keyword performance trend data compared to the previous 30 days","nullable":true},"monthly_search_volume_exact":{"type":"integer","description":"The number of times this exact keyword has been searched in the Amazon catalog in the past 30 days (excluding the plural form or misspellings)","nullable":true},"quarterly_trend":{"type":"number","description":"90-day keyword performance trend data compared to the previous 90 days.","nullable":true},"monthly_search_volume_broad":{"type":"integer","description":"The number of times this keyword and any related keywords (synonyms, phrases, etc.) have been searched in Amazon in the last 30 days.","nullable":true},"dominant_category":{"type":"string","description":"The Amazon parent category for the top 10 ranked listings."},"recommended_promotions":{"type":"integer","description":"Estimation of how many daily units of this product you should consider offering for promotions in a 7-14 day period in order to reach the top 3 rank.","nullable":true},"updated_at":{"type":"string","description":"The date the keyword was last updated","nullable":true},"sp_brand_ad_bid":{"type":"number","description":"The estimated exact match Sponsored Brand Ad bid for a 90% chance win rate.","nullable":true},"ppc_bid_broad":{"type":"number","description":"The Estimated broad match bid rate for PPC for the selected keyword.","nullable":true},"ppc_bid_exact":{"type":"number","description":"The Estimated exact match bid rate for PPC for the selected keyword.","nullable":true},"ease_of_ranking_score":{"type":"integer","description":"This score indicates the keyword ranking potential on a scale of 0 to 100, and represents how easy it is for new products to rank for this keyword. \n Keywords with higher scores will rank easier."},"relevancy_score":{"type":"integer","description":"A high score indicating how closely related the keyword is to the seed keyword or ASIN.","nullable":true},"organic_product_count":{"type":"integer","description":"Total number of products returned on Amazon for this keyword","nullable":true},"sponsored_product_count":{"type":"integer","description":"Total number of sponsored products recently detected for this keyword","nullable":true},"organic_rank":{"type":"integer","description":"The organic position of the first ASIN for comparison (does not take into account sponsored ASINs).","nullable":true},"sponsored_rank":{"type":"integer","description":"The sponsored position of the first ASIN for comparison (does not take into account organic ASINs).","nullable":true},"overall_rank":{"type":"integer","description":"The first ASIN's overall positioning in the search results (including both organic and sponsored products).","nullable":true},"organic_ranking_asins_count":{"type":"integer","description":"Indicates how many of the competitor ASINs entered rank in the top 100 organic products for that keyword (excluding the first ASIN).","nullable":true},"sponsored_ranking_asins_count":{"type":"integer","description":"Indicates how many of the competitor ASINs entered rank in the top 100 sponsored products for that keyword (excluding the first ASIN).","nullable":true},"avg_competitor_organic_rank":{"type":"number","description":"The average organic rank for the competitor ASINs you entered (i.e. the average rank of the ASINs compared to the first ASIN).","nullable":true},"avg_competitor_sponsored_rank":{"type":"number","description":"The average sponsored rank for the competitor ASINs you entered (i.e. the average rank of the ASINs compared to the first ASIN).","nullable":true},"relative_organic_position":{"type":"integer","description":"The organic rank of the first ASIN for comparison relative to the other ASINs.","nullable":true},"relative_sponsored_position":{"type":"integer","description":"The sponsored rank of the first ASIN for comparison relative to the other ASINs.","nullable":true},"competitor_organic_rank":{"type":"array","description":"Array in which each element is the organic_rank of a competitor ASIN.","items":{"type":"object","properties":{"asin":{"type":"string","description":"ASIN"},"organic_rank":{"type":"integer","description":"Organic rank of competitor ASIN"}},"required":["asin","organic_rank"]},"nullable":true},"competitor_sponsored_rank":{"type":"array","description":"Array in which each element is the sponsored_rank of a competitor ASIN.","items":{"type":"object","properties":{"asin":{"type":"string","description":"ASIN"},"sponsored_rank":{"type":"integer","description":"Sponsored rank of competitor ASIN"}},"required":["asin","sponsored_rank"]},"nullable":true}},"required":["name","country","primary_asin","relevancy_score","monthly_trend","quarterly_trend","dominant_category","recommended_promotions","sp_brand_ad_bid","monthly_search_volume_broad","monthly_search_volume_exact","ppc_bid_broad","ppc_bid_exact","ease_of_ranking_score","organic_product_count","organic_rank","organic_ranking_asins_count","avg_competitor_organic_rank","relative_organic_position","competitor_organic_rank","competitor_sponsored_rank","sponsored_product_count","sponsored_rank","sponsored_ranking_asins_count","avg_competitor_sponsored_rank","relative_sponsored_position","overall_rank"]}},"required":["id","type","attributes"]},"description":"Keywords found."}},"required":["data"]}}}}},"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","description":"keywords_by_asin_query"},"attributes":{"type":"object","properties":{"asins":{"type":"array","items":{"type":"string"},"description":"Array of up to 10 ASINs. If querying multiple ASINs, all comparison data points will be referenced to the first ASIN in the array"},"include_variants":{"type":"boolean","description":"Include (or exclude) ASIN variants when returning related keywords. Can result in many more keyword results. Default is `true`"},"min_monthly_search_volume_exact":{"type":"integer","description":"Filter results by minimum exact match monthly search volume"},"max_monthly_search_volume_exact":{"type":"integer","description":"Filter results by maximum exact match monthly search volume"},"min_monthly_search_volume_broad":{"type":"integer","description":"Filter results by minimum broad match monthly search volume"},"max_monthly_search_volume_broad":{"type":"integer","description":"Filter results by maximum broad match monthly search volume"},"min_word_count":{"type":"integer","description":"Filter results by minimum word count"},"max_word_count":{"type":"integer","description":"Filter results by maximum word count"},"min_organic_product_count":{"type":"integer","description":"Filter results by minimum organic product count"},"max_organic_product_count":{"type":"integer","description":"Filter results by maximum organic product count"}},"required":["asins"]}},"required":["type","attributes"]}},"required":["data"],"example":{"data":{"type":"keywords_by_asin_query","attributes":{"asins":["B08RT1NF23","B002UXRXE6","B09RTVN5GN"],"include_variants":false,"min_monthly_search_volume_exact":1,"max_monthly_search_volume_exact":99999,"min_monthly_search_volume_broad":1,"max_monthly_search_volume_broad":99999,"min_word_count":1,"max_word_count":99999,"min_organic_product_count":1,"max_organic_product_count":99999}}}}}},"required":true,"description":"single resource of type: `keywords_by_asin_query`"}}},"/api/keywords/keywords_by_keyword_query":{"post":{"summary":"","description":"<div class=\"endpoint-description\">\n        <h4 class=\"opblock-title\">Description</h4>\n        <div>\n          Returns related keywords and data based on the queried keyword. Apply filters to narrow search results\n        </div>\n      </div>","tags":["Keywords"],"security":[{"authorization_header":[]}],"parameters":[{"name":"marketplace","in":"query","schema":{"type":"string","enum":["us","uk","de","in","ca","fr","it","es","mx","jp"]},"required":true},{"name":"sort","in":"query","schema":{"type":"string","enum":["name","-name","dominant_category","-dominant_category","monthly_trend","-monthly_trend","quarterly_trend","-quarterly_trend","monthly_search_volume_exact","-monthly_search_volume_exact","monthly_search_volume_broad","-monthly_search_volume_broad","recommended_promotions","-recommended_promotions","sp_brand_ad_bid","-sp_brand_ad_bid","ppc_bid_broad","-ppc_bid_broad","ppc_bid_exact","-ppc_bid_exact","ease_of_ranking_score","-ease_of_ranking_score","relevancy_score","-relevancy_score","organic_product_count","-organic_product_count"],"default":"-monthly_search_volume_exact"},"required":false},{"name":"page[size]","in":"query","required":false,"schema":{"type":"integer","default":50},"description":"Number of results per page. Max 100"},{"name":"page[cursor]","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor generated by server."}],"responses":{"403":{"description":"forbidden","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Forbidden","detail":"The application name or api key provided was invalid.","code":"FORBIDDEN","status":"403"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"422":{"description":"unprocessable_entity","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid parameter value for: 'min_monthly_search_volume_exact'","detail":"min_monthly_search_volume_exact - is not a number","code":"VALIDATION_ERROR","source":{"pointer":"/data/attributes/min_monthly_search_volume_exact"},"status":"422"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"400":{"description":"bad_request","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid resource type","detail":"param is missing or the value is empty: keywords_by_keyword_query","code":"BAD_REQUEST","status":"400"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"200":{"description":"success","content":{"application/vnd.junglescout.v1+json":{"example":{"data":[{"id":"us/alo yoga women","type":"keywords_by_keyword_result","attributes":{"country":"us","name":"alo yoga women","monthly_trend":14.73,"monthly_search_volume_exact":83255,"quarterly_trend":8.99,"monthly_search_volume_broad":89382,"dominant_category":"Clothing, Shoes & Jewelry","recommended_promotions":323,"sp_brand_ad_bid":null,"ppc_bid_broad":1.18,"ppc_bid_exact":1.11,"ease_of_ranking_score":90,"relevancy_score":122,"organic_product_count":10000,"sponsored_product_count":36}},{"id":"us/women's leggings","type":"keywords_by_keyword_result","attributes":{"country":"us","name":"women's leggings","monthly_trend":-6.74,"monthly_search_volume_exact":53180,"quarterly_trend":-44.38,"monthly_search_volume_broad":63816,"dominant_category":"Clothing, Shoes & Jewelry","recommended_promotions":28,"sp_brand_ad_bid":null,"ppc_bid_broad":1.66,"ppc_bid_exact":1.42,"ease_of_ranking_score":95,"relevancy_score":87,"organic_product_count":70000,"sponsored_product_count":14}}],"meta":{"total_items":980},"links":{"self":"http://developer.junglescout.com/api/keywords/keywords_by_keyword_query?marketplace=us&page%5Bsize%5D=4","next":"http://developer.junglescout.com/api/keywords/keywords_by_keyword_query?marketplace=us&page%5Bcursor%5D=WzUzMTgwLCJ3b21lbidzIGxlZ2dpbmdzIiw4Ny4xMjk2MTZd&page%5Bsize%5D=4"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"marketplace/keyword"},"type":{"type":"string","description":"Type of object. 'keywords_by_keyword_result'"},"attributes":{"type":"object","properties":{"country":{"type":"string","description":"Amazon marketplace as a two character identifier (e.g. us, it)."},"name":{"type":"string","description":"Keyword or phrase"},"monthly_trend":{"type":"number","description":"30-day keyword performance trend data compared to the previous 30 days.","nullable":true},"monthly_search_volume_exact":{"type":"integer","description":"The number of times this exact keyword has been searched in the Amazon catalog in the past 30 days (excluding the plural form or misspellings).","nullable":true},"quarterly_trend":{"type":"number","description":"90-day keyword performance trend data compared to the previous 90 days.","nullable":true},"monthly_search_volume_broad":{"type":"integer","description":"The number of times this keyword and any related keywords (synonyms, phrases, etc.) have been searched in Amazon in the last 30 days.","nullable":true},"dominant_category":{"type":"string","description":"The Amazon parent category for the top 10 ranked listings."},"recommended_promotions":{"type":"integer","description":"Estimation of how many daily units of this product you should consider offering for promotions in a 7-14 day period in order to reach the top 3 rank.","nullable":true},"sp_brand_ad_bid":{"type":"number","description":"The estimated exact match Sponsored Brand Ad bid for a 90% chance win rate.","nullable":true},"ppc_bid_broad":{"type":"number","description":"The Estimated broad match bid rate for PPC for the selected keyword.","nullable":true},"ppc_bid_exact":{"type":"number","description":"The Estimated exact match bid rate for PPC for the selected keyword.","nullable":true},"ease_of_ranking_score":{"type":"integer","description":"This score indicates the keyword ranking potential on a scale of 0 to 100, and represents how easy it is for new products to rank for this keyword. \n Keywords with higher scores will rank easier."},"relevancy_score":{"type":"integer","description":"A high score indicating how closely related the keyword is to the seed keyword or ASIN.","nullable":true},"organic_product_count":{"type":"integer","description":"The total number of products returned on Amazon for this keyword.","nullable":true},"sponsored_product_count":{"type":"integer","description":"The total number of sponsored products recently detected for that keyword.","nullable":true}},"required":["name","country","relevancy_score","monthly_trend","quarterly_trend","dominant_category","recommended_promotions","sp_brand_ad_bid","monthly_search_volume_broad","monthly_search_volume_exact","ppc_bid_broad","ppc_bid_exact","organic_product_count","sponsored_product_count"]}},"required":["id","type","attributes"]},"description":"Keywords found."}},"required":["data"]}}}}},"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","description":"keywords_by_keyword_query"},"attributes":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"string"},"nullable":true,"description":"<div class='endpoint-description'>\n       <h4 class='opblock-title'>Description</h4>\n         <div>\n           Filter results by dominant category. If NULL, then all categories are included.\n           <div><h4>us marketplace:</h4><p>Appliances,Arts, Crafts & Sewing,Automotive,Baby,Beauty & Personal Care,Camera & Photo,Cell Phones & Accessories,Clothing, Shoes & Jewelry,Computers & Accessories,Electronics,Grocery & Gourmet Food,Health & Household,Home & Kitchen,Industrial & Scientific,Kitchen & Dining,Musical Instruments,Office Products,Patio, Lawn & Garden,Pet Supplies,Software,Sports & Outdoors,Tools & Home Improvement,Toys & Games,Video Games</p></div><div><h4>uk marketplace:</h4><p>Automotive,Baby Products,Beauty,Business, Industry & Science,Fashion,Computers & Accessories,DIY & Tools,Electronics & Photo,Garden,Grocery,Health & Personal Care,Home & Kitchen,Jewellery,Large Appliances,Lighting,Luggage,Musical Instruments & DJ,PC & Video Games,Pet Supplies,Shoes & Bags,Sports & Outdoors,Stationery & Office Supplies,Toys & Games,Watches</p></div><div><h4>ca marketplace:</h4><p>Automotive,Baby,Beauty & Personal Care,Clothing & Accessories,Electronics,Grocery & Gourmet Food,Health & Personal Care,Industrial & Scientific,Jewelry,Luggage & Bags,Musical Instruments, Stage & Studio,Office Products,Patio, Lawn & Garden,Pet Supplies,Shoes & Handbags,Sports & Outdoors,Tools & Home Improvement,Toys & Games,Watches</p></div><div><h4>de marketplace:</h4><p>Auto & Motorrad,Baby,Baumarkt,Beauty,Bekleidung,Beleuchtung,Bücher,Bürobedarf & Schreibwaren,Computer & Zubehör,DVD & Blu-ray,Drogerie & Körperpflege,Elektro-Großgeräte,Elektronik & Foto,Fremdsprachige Bücher,Games,Garten,Gewerbe, Industrie & Wissenschaft,Haustier,Kamera & Foto,Koffer, Rucksäcke & Taschen,Küche, Haushalt & Wohnen,Lebensmittel & Getränke,Musikinstrumente & DJ-Equipment,Schmuck,Schuhe & Handtaschen,Software,Spielzeug,Sport & Freizeit,Uhren</p></div><div><h4>fr marketplace:</h4><p>Animalerie,Auto & Moto,Bagages,Beauté & Parfum,Bijoux,Bricolage,Bébé et Puériculture,Chaussures & Sacs,Commerce, Industrie & Science,Cuisine & Maison,DVD & Blu-ray,Epicerie,Fournitures de bureau,Gros électroménager,High-tech,Hygiène & Santé,Informatique,Instruments de musique & Sono,Jardin,Jeux & Jouets,Jeux vidéo,Livres,Livres anglais & étrangers,Logiciels,Luminaires & Eclairage,Montres,Sports & Loisirs,Vêtements</p></div><div><h4>in marketplace:</h4><p>Baby,Baby Products,Bags, Wallets & Luggage,Beauty,Books,Car & Motorbike,Clothing & Accessories,Electronics,Gift Cards,Grocery & Gourmet Foods,Health & Personal Care,Home & Kitchen,Industrial & Scientific,Jewellery,Movies & TV Shows,Music,Musical Instruments,Office Products,Pet Supplies,Shoes & Handbags,Software,Sports, Fitness & Outdoors,Toys & Games,Video Games,Watches</p></div><div><h4>it marketplace:</h4><p>Abbigliamento,Alimentari e cura della casa,Auto e Moto,Bellezza,Buoni regalo,CD e Vinili,Casa e cucina,Commercio, Industria e Scienza,Elettronica,Fai da te,Film e TV,Giardino e giardinaggio,Giochi e giocattoli,Gioielli,Illuminazione,Informatica,Kindle Store,Libri,Libri in altre lingue,Orologi,Prima infanzia,Salute e cura della persona,Scarpe e borse,Software,Sport e tempo libero,Valigeria,Videogiochi</p></div><div><h4>es marketplace:</h4><p>Apps y Juegos,Bebé,Belleza,Bricolaje y herramientas,Coche y moto,Deportes y aire libre,Electrónica,Equipaje,Hogar y cocina,Iluminación,Industria, empresas y ciencia,Informática,Instrumentos musicales,Jardín,Joyería,Juguetes y juegos,Libros,Oficina y papelería,Películas y TV,Relojes,Ropa,Salud y cuidado personal,Software,Tienda Kindle,Videojuegos,Zapatos y complementos</p></div><div><h4>mx marketplace:</h4><p>Bebé,Deportes y Aire Libre,Electrónicos,Herramientas y Mejoras del Hogar,Hogar y Cocina,Industria, Empresas y Ciencia,Instrumentos Musicales,Juguetes y Juegos,Libros,Música,Oficina y papelería,Ropa, Zapatos y Accesorios,Salud, Belleza y Cuidado Personal,Software,Tienda Kindle,Videojuegos</p></div><div><h4>jp marketplace:</h4><p>DIY・工具・ガーデン,おもちゃ,シューズ&バッグ,ジュエリー,スポーツ&アウトドア,ドラッグストア,ビューティー,ベビー&マタニティ,ペット用品,ホビー,ホーム&キッチン,大型家電,家電&カメラ,文房具・オフィス用品,服&ファッション小物,産業・研究開発用品,腕時計,車&バイク,食品・飲料・お酒</p></div>\n         </div>\n    </div>"},"search_terms":{"type":"array","items":{"type":"string"},"description":"Keyword or phrase to perform a search against"},"min_monthly_search_volume_exact":{"type":"integer","description":"Filter results by minimum exact match monthly search volume"},"max_monthly_search_volume_exact":{"type":"integer","description":"Filter results by maximum exact match monthly search volume"},"min_monthly_search_volume_broad":{"type":"integer","description":"Filter results by minimum broad match monthly search volume"},"max_monthly_search_volume_broad":{"type":"integer","description":"Filter results by maximum broad match monthly search volume"},"min_word_count":{"type":"integer","description":"Filter results by minimum word count"},"max_word_count":{"type":"integer","description":"Filter results by maximum word count"},"min_organic_product_count":{"type":"integer","description":"Filter results by minimum organic product count"},"max_organic_product_count":{"type":"integer","description":"Filter results by maximum organic product count"}},"required":["search_terms"]}},"required":["type","attributes"]}},"required":["data"],"example":{"data":{"type":"keywords_by_keyword_query","attributes":{"search_terms":"yoga","min_monthly_search_volume_exact":1,"max_monthly_search_volume_exact":99999,"min_monthly_search_volume_broad":1,"max_monthly_search_volume_broad":99999,"min_word_count":1,"max_word_count":99999,"min_organic_product_count":1,"max_organic_product_count":99999}}}}}},"required":true,"description":"single resource of type: `keywords_by_keyword_query`"}}},"/api/keywords/historical_search_volume":{"get":{"summary":"","description":"<div class=\"endpoint-description\">\n        <h4 class=\"opblock-title\">Description</h4>\n        <div>\n          Returns search volume of the exact keyword in 7 day increments based on the data parameters\n        </div>\n      </div>","tags":["Keywords"],"security":[{"authorization_header":[]}],"parameters":[{"name":"marketplace","in":"query","schema":{"type":"string","enum":["us","uk","de","in","ca","fr","it","es","mx","jp"]},"required":true},{"name":"keyword","in":"query","schema":{"type":"string"},"required":true,"description":"Keyword to search"},{"name":"start_date","in":"query","schema":{"type":"string"},"required":true,"description":"Start date in yyyy-mm-dd"},{"name":"end_date","in":"query","schema":{"type":"string"},"required":true,"description":"End date in yyyy-mm-dd"}],"responses":{"403":{"description":"forbidden","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Forbidden","detail":"The application name or api key provided was invalid.","code":"FORBIDDEN","status":"403"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"400":{"description":"bad_request","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid parameter value for: 'start_date'","detail":"start_date - start_date and end_date difference must be less or equal than 366 days","code":"BAD_REQUEST","source":{"parameter":"start_date"},"status":"400"}]}}}},"200":{"description":"success","content":{"application/vnd.junglescout.v1+json":{"example":{"data":[{"id":"us/sushi/2025-01-05/2025-01-11","type":"historical_keyword_search_volume","attributes":{"estimate_start_date":"2025-01-05","estimate_end_date":"2025-01-11","estimated_exact_search_volume":38735}},{"id":"us/sushi/2025-01-12/2025-01-18","type":"historical_keyword_search_volume","attributes":{"estimate_start_date":"2025-01-12","estimate_end_date":"2025-01-18","estimated_exact_search_volume":38384}},{"id":"us/sushi/2025-01-19/2025-01-25","type":"historical_keyword_search_volume","attributes":{"estimate_start_date":"2025-01-19","estimate_end_date":"2025-01-25","estimated_exact_search_volume":36878}},{"id":"us/sushi/2025-01-26/2025-02-01","type":"historical_keyword_search_volume","attributes":{"estimate_start_date":"2025-01-26","estimate_end_date":"2025-02-01","estimated_exact_search_volume":35751}}]},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"marketplace/keyword/estimate_start_date/estimate_end_date"},"type":{"type":"string","description":"Type of object. 'historical_keyword_search_volume'"},"attributes":{"type":"object","properties":{"estimate_start_date":{"type":"string","description":"start date of the search volume data point period"},"estimate_end_date":{"type":"string","description":"end date of the search volume data point period"},"estimated_exact_search_volume":{"type":"integer","description":"search volume of the selected keyword for the data point period"}},"required":["estimate_start_date","estimate_end_date","estimated_exact_search_volume"]}},"required":["id","type","attributes"]},"description":"Items found."}},"required":["data"]}}}}}}},"/api/product_database_query":{"post":{"summary":"","description":"<div class=\"endpoint-description\">\n        <h4 class=\"opblock-title\">Description</h4>\n        <div>\n          Perform a query of the Jungle Scout product catalog based on specified filters or query\n          specific ASINs by using the Keyword attribute. Use resulting data to identify groups of\n          ASINs that satisfy requirements for general product research.\n          Results from only one Amazon marketplace per query.\n        </div>\n      </div>","tags":["Product Database Query"],"security":[{"authorization_header":[]}],"parameters":[{"name":"marketplace","in":"query","schema":{"type":"string","enum":["us","uk","de","in","ca","fr","it","es","mx","jp"]},"required":true},{"name":"sort","in":"query","schema":{"type":"string","enum":["name","-name","category","-category","revenue","-revenue","sales","-sales","price","-price","rank","-rank","reviews","-reviews","lqs","-lqs","sellers","-sellers"],"default":"name"},"required":false},{"name":"page[size]","in":"query","required":false,"schema":{"type":"integer","default":50},"description":"Number of results per page. Max 100"},{"name":"page[cursor]","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor generated by server."}],"responses":{"422":{"description":"unprocessable_entity","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid parameter value for: 'min_price'","detail":"min_price - must be a valid number","code":"VALIDATION_ERROR","source":{"pointer":"/data/attributes/min_price"},"status":"422"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"400":{"description":"bad_request","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid resource type","detail":"param is missing or the value is empty: product_database_query","code":"BAD_REQUEST","status":"400"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"200":{"description":"success","content":{"application/vnd.junglescout.v1+json":{"example":{"data":[{"id":"us/B07ZZJLZT2","type":"product_database_result","attributes":{"title":"Charging Dock for Apple Watch & iPhone (Apple Certified), ONEDock Power Station w/Built-in Original Apple Lightning Connector for Docking, Made for Series, 5,4,3,2,1, AirPods, iPod","price":39.99,"reviews":1162,"category":"Cell Phones & Accessories","rating":4.3,"image_url":"https://images-na.ssl-images-amazon.com/images/I/511iUMzLGrL._AC_SR38,50_.jpg","parent_asin":"B07ZZJLZT3","is_variant":false,"seller_type":"FBA","variants":[],"breadcrumb_path":"Cell Phones & Accessories › Accessories › Chargers & Power Adapters","is_standalone":false,"is_parent":true,"is_available":true,"brand":"Press Play","product_rank":25990,"weight_value":2.2906,"weight_unit":"pounds","length_value":3.5,"width_value":7.9,"height_value":9.2,"dimensions_unit":"inches","listing_quality_score":64,"number_of_sellers":1,"buy_box_owner":"PressPlayDirect","buy_box_owner_seller_id":"A3BCDEJTJCPR6","date_first_available":"2016-11-10","date_first_available_is_estimated":false,"approximate_30_day_revenue":2399.4,"approximate_30_day_units_sold":60,"subcategory_ranks":[{"subcategory":"Smartwatch Cables & Chargers","rank":377,"id":"us/11591898011"}],"fee_breakdown":{"fba_fee":8.37,"referral_fee":5.99,"variable_closing_fee":0,"total_fees":14.37},"ean_list":["9780063304931","9780063304932"],"isbn_list":["0063304937"],"upc_list":["00001234"],"gtin_list":["09780063304933"],"variant_reviews":null,"updated_at":"2020-09-28T19:19:45Z"}}],"meta":{"total_items":4},"links":{"self":"http://developer.junglescout.com/api/product_database_query?marketplace=us"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"marketplace/ASIN"},"type":{"type":"string","description":"product_database_result"},"attributes":{"type":"object","properties":{"title":{"type":"string","description":"Last known listing title"},"price":{"type":"number","description":"Last known price"},"reviews":{"type":"integer","description":"Last known amount of reviews"},"category":{"type":"string","description":"Product main category in Amazon"},"rating":{"type":"number","minimum":1,"maximum":5,"description":"Product rating in Amazon"},"image_url":{"type":"string","description":"Product main image in Amazon"},"parent_asin":{"type":"string","description":"ASIN of parent product in marketplace","nullable":true},"brand":{"type":"string","description":"Brand to which this product belongs"},"product_rank":{"type":"number","description":"Rank of product.","nullable":true},"weight_value":{"type":"number","description":"Weight of product.","nullable":true},"weight_unit":{"type":"string","description":"Unit of measurement for product weight.","nullable":true},"length_value":{"type":"number","description":"Length of product.","nullable":true},"width_value":{"type":"number","description":"Width of product.","nullable":true},"height_value":{"type":"number","description":"Height of product.","nullable":true},"dimensions_unit":{"type":"string","description":"Unit of measurement for product length, width and height.","nullable":true},"listing_quality_score":{"type":"number","description":"Listing Quality Score of product."},"number_of_sellers":{"type":"number","description":"Number of sellers for this product."},"buy_box_owner":{"type":"string","description":"Seller that controls the Buy Box for this product."},"buy_box_owner_seller_id":{"type":"string","description":"Seller Id that controls the Buy Box for this product."},"date_first_available":{"type":"string","description":"First date this product was available for sale in format YYYY-MM-DD.","nullable":true},"date_first_available_is_estimated":{"type":"boolean","description":"If true, this product's date first available is not available from Amazon and was estimated from proxy dates such as date of first answer or date of first review."},"approximate_30_day_revenue":{"type":"number","description":"Estimated revenue from last 30 days. This is the result of approximate_30_day_units_sold * price"},"approximate_30_day_units_sold":{"type":"integer","description":"Estimated units sold based on our internal models"},"subcategory_ranks":{"type":"array","description":"A list of subcategories this product ranks in, and its rank in each subcategory","items":{"type":"object","properties":{"subcategory":{"type":"string","description":"Subcategory this product ranks in."},"rank":{"type":"number","description":"How high this product ranks in the given subcategory"},"id":{"type":"string","description":"Node Id of the subcategory","nullable":true}}}},"fee_breakdown":{"type":"object","description":"A breakdown of the fees associated with this product","nullable":true,"properties":{"fba_fee":{"type":"number","description":"FBA fee for this product"},"referral_fee":{"type":"number","description":"Referral fee for this product"},"variable_closing_fee":{"type":"number","description":"Variable closing fee for this product"},"total_fees":{"type":"number","description":"Total fees for this product"}}},"variants":{"type":"array","description":"Array with variants of product."},"breadcrumb_path":{"type":"string","description":"Breadcrumb path of the product","nullable":true},"is_available":{"type":"boolean","description":"True if product is available"},"is_parent":{"type":"boolean","description":"If true product is a parent asin"},"is_variant":{"type":"boolean","description":"If true product is a variant asin"},"is_standalone":{"type":"boolean","description":"If true product is a standalone asin"},"seller_type":{"type":"string","description":"Either FBA, FBM or AMZ"},"ean_list":{"type":"array","description":"A list of EANs associated with this product","items":{"type":"string"},"nullable":true},"upc_list":{"type":"array","description":"A list of UPCs associated with this product","items":{"type":"string"},"nullable":true},"isbn_list":{"type":"array","description":"A list of ISBNs associated with this product","items":{"type":"string"},"nullable":true},"gtin_list":{"type":"array","description":"A list of GTINs associated with this product","items":{"type":"string"},"nullable":true},"variant_reviews":{"type":"number","description":"Variant rating count of the product. Only available if is_variant = true","nullable":true},"updated_at":{"type":"string","description":"Date the product was last updated"}},"required":["title","price","reviews","category","rating","image_url","parent_asin","brand","product_rank","weight_value","weight_unit","length_value","width_value","height_value","dimensions_unit","listing_quality_score","number_of_sellers","buy_box_owner","buy_box_owner_seller_id","date_first_available","date_first_available_is_estimated","approximate_30_day_revenue","approximate_30_day_units_sold","variant_reviews","updated_at"]}},"required":["id","type","attributes"]}},"meta":{"type":"object","properties":{"total_items":{"type":"integer","description":"Number of total items found"}},"required":["total_items"]},"links":{"$ref":"#/components/schemas/links"}},"required":["data","meta","links"]}}}}},"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string"},"attributes":{"type":"object","properties":{"product_tiers":{"type":"array","items":{"type":"string","enum":["oversize","standard"]},"description":"Filter by product tier"},"seller_types":{"type":"array","items":{"type":"string","enum":["amz","fba","fbm"]},"description":"Filter by seller type (e.g. amz for Amazon, fba for fulfillment by amazon, fbm for fulfillment by merchant)"},"categories":{"type":"array","items":{"type":"string"},"nullable":true,"description":"<div class='endpoint-description'>\n       <h4 class='opblock-title'>Description</h4>\n         <div>\n           Filter results by dominant category. If NULL, then all categories are included.\n           <div><h4>us marketplace:</h4><p>Appliances,Arts, Crafts & Sewing,Automotive,Baby,Beauty & Personal Care,Camera & Photo,Cell Phones & Accessories,Clothing, Shoes & Jewelry,Computers & Accessories,Electronics,Grocery & Gourmet Food,Health & Household,Home & Kitchen,Industrial & Scientific,Kitchen & Dining,Musical Instruments,Office Products,Patio, Lawn & Garden,Pet Supplies,Software,Sports & Outdoors,Tools & Home Improvement,Toys & Games,Video Games</p></div><div><h4>uk marketplace:</h4><p>Automotive,Baby Products,Beauty,Business, Industry & Science,Fashion,Computers & Accessories,DIY & Tools,Electronics & Photo,Garden,Grocery,Health & Personal Care,Home & Kitchen,Jewellery,Large Appliances,Lighting,Luggage,Musical Instruments & DJ,PC & Video Games,Pet Supplies,Shoes & Bags,Sports & Outdoors,Stationery & Office Supplies,Toys & Games,Watches</p></div><div><h4>ca marketplace:</h4><p>Automotive,Baby,Beauty & Personal Care,Clothing & Accessories,Electronics,Grocery & Gourmet Food,Health & Personal Care,Industrial & Scientific,Jewelry,Luggage & Bags,Musical Instruments, Stage & Studio,Office Products,Patio, Lawn & Garden,Pet Supplies,Shoes & Handbags,Sports & Outdoors,Tools & Home Improvement,Toys & Games,Watches</p></div><div><h4>de marketplace:</h4><p>Auto & Motorrad,Baby,Baumarkt,Beauty,Bekleidung,Beleuchtung,Bücher,Bürobedarf & Schreibwaren,Computer & Zubehör,DVD & Blu-ray,Drogerie & Körperpflege,Elektro-Großgeräte,Elektronik & Foto,Fremdsprachige Bücher,Games,Garten,Gewerbe, Industrie & Wissenschaft,Haustier,Kamera & Foto,Koffer, Rucksäcke & Taschen,Küche, Haushalt & Wohnen,Lebensmittel & Getränke,Musikinstrumente & DJ-Equipment,Schmuck,Schuhe & Handtaschen,Software,Spielzeug,Sport & Freizeit,Uhren</p></div><div><h4>fr marketplace:</h4><p>Animalerie,Auto & Moto,Bagages,Beauté & Parfum,Bijoux,Bricolage,Bébé et Puériculture,Chaussures & Sacs,Commerce, Industrie & Science,Cuisine & Maison,DVD & Blu-ray,Epicerie,Fournitures de bureau,Gros électroménager,High-tech,Hygiène & Santé,Informatique,Instruments de musique & Sono,Jardin,Jeux & Jouets,Jeux vidéo,Livres,Livres anglais & étrangers,Logiciels,Luminaires & Eclairage,Montres,Sports & Loisirs,Vêtements</p></div><div><h4>in marketplace:</h4><p>Baby,Baby Products,Bags, Wallets & Luggage,Beauty,Books,Car & Motorbike,Clothing & Accessories,Electronics,Gift Cards,Grocery & Gourmet Foods,Health & Personal Care,Home & Kitchen,Industrial & Scientific,Jewellery,Movies & TV Shows,Music,Musical Instruments,Office Products,Pet Supplies,Shoes & Handbags,Software,Sports, Fitness & Outdoors,Toys & Games,Video Games,Watches</p></div><div><h4>it marketplace:</h4><p>Abbigliamento,Alimentari e cura della casa,Auto e Moto,Bellezza,Buoni regalo,CD e Vinili,Casa e cucina,Commercio, Industria e Scienza,Elettronica,Fai da te,Film e TV,Giardino e giardinaggio,Giochi e giocattoli,Gioielli,Illuminazione,Informatica,Kindle Store,Libri,Libri in altre lingue,Orologi,Prima infanzia,Salute e cura della persona,Scarpe e borse,Software,Sport e tempo libero,Valigeria,Videogiochi</p></div><div><h4>es marketplace:</h4><p>Apps y Juegos,Bebé,Belleza,Bricolaje y herramientas,Coche y moto,Deportes y aire libre,Electrónica,Equipaje,Hogar y cocina,Iluminación,Industria, empresas y ciencia,Informática,Instrumentos musicales,Jardín,Joyería,Juguetes y juegos,Libros,Oficina y papelería,Películas y TV,Relojes,Ropa,Salud y cuidado personal,Software,Tienda Kindle,Videojuegos,Zapatos y complementos</p></div><div><h4>mx marketplace:</h4><p>Bebé,Deportes y Aire Libre,Electrónicos,Herramientas y Mejoras del Hogar,Hogar y Cocina,Industria, Empresas y Ciencia,Instrumentos Musicales,Juguetes y Juegos,Libros,Música,Oficina y papelería,Ropa, Zapatos y Accesorios,Salud, Belleza y Cuidado Personal,Software,Tienda Kindle,Videojuegos</p></div><div><h4>jp marketplace:</h4><p>DIY・工具・ガーデン,おもちゃ,シューズ&バッグ,ジュエリー,スポーツ&アウトドア,ドラッグストア,ビューティー,ベビー&マタニティ,ペット用品,ホビー,ホーム&キッチン,大型家電,家電&カメラ,文房具・オフィス用品,服&ファッション小物,産業・研究開発用品,腕時計,車&バイク,食品・飲料・お酒</p></div>\n         </div>\n    </div>"},"include_keywords":{"type":"array","items":{"type":"string","maxLength":50},"maxItems":100,"description":"Filter by title keywords or by ASINs to include"},"exclude_keywords":{"type":"array","items":{"type":"string","maxLength":50},"maxItems":100,"description":"Filter by title keywords or by ASINs to exclude"},"exclude_top_brands":{"type":"boolean","description":"Whether to exclude top brands"},"exclude_unavailable_products":{"type":"boolean","description":"Whether to exclude unavailable products"},"min_price":{"type":"number","description":"Minimum price"},"max_price":{"type":"number","description":"Maximum price"},"min_net":{"type":"number","description":"Minimum price less FBA fees"},"max_net":{"type":"number","description":"Maximum price less FBA fees"},"min_rank":{"type":"integer","description":"Minimum best seller rank"},"max_rank":{"type":"integer","description":"Maximum best seller rank"},"min_sales":{"type":"integer","description":"Minimum monthly estimated sales"},"max_sales":{"type":"integer","description":"Maximum monthly estimated sales"},"min_revenue":{"type":"number","description":"Minimum monthly estimated revenue"},"max_revenue":{"type":"number","description":"Maximum monthly estimated revenue"},"min_reviews":{"type":"integer","description":"Minimum number of reviews"},"max_reviews":{"type":"integer","description":"Maximum number of reviews"},"min_rating":{"type":"number","minimum":1,"maximum":5,"description":"Minimum star rating (1 to 5)"},"max_rating":{"type":"number","minimum":1,"maximum":5,"description":"Maximum star rating (1 to 5)"},"min_weight":{"type":"number","description":"Minimum weight (in lbs)"},"max_weight":{"type":"number","description":"Maximum weight (in lbs)"},"min_sellers":{"type":"integer","description":"Minimum number of sellers (total of FBA, FBM, AMZ sellers)"},"max_sellers":{"type":"integer","description":"Maximum number of sellers (total of FBA, FBM, AMZ sellers)"},"min_lqs":{"type":"number","minimum":1,"maximum":10,"description":"Minimum LQS. A grade based off an in-house algorithm factoring in the quality of title, bullet points, photos, and description."},"max_lqs":{"type":"number","minimum":1,"maximum":10,"description":"Maximum LQS. A grade based off an in-house algorithm factoring in the quality of title, bullet points, photos, and description."},"min_updated_at":{"type":"string","description":"Minimum updated_at date for a product in format YYYY-MM-DD."},"max_updated_at":{"type":"string","description":"Maximum updated_at date for a product in format YYYY-MM-DD."}}}},"required":["type","attributes"]}},"required":["data"],"example":{"data":{"type":"product_database_query","attributes":{"product_tiers":["oversize","standard"],"seller_types":["amz","fba","fbm"],"include_keywords":["pasta","spaghetti"],"exclude_keywords":["sushi","ramen"],"exclude_top_brands":true,"exclude_unavailable_products":true,"min_price":10.0,"max_price":6000.0,"min_net":10.0,"max_net":5700.0,"min_rank":1,"max_rank":10000,"min_sales":1,"max_sales":100000,"min_revenue":10.0,"max_revenue":1000000.0,"min_reviews":1,"max_reviews":1000000,"min_rating":1.0,"max_rating":5.0,"min_weight":0.1,"max_weight":200.0,"min_sellers":1,"max_sellers":1000000,"min_lqs":1,"max_lqs":10,"min_updated_at":"2020-09-28","max_updated_at":"2020-09-29"}}}}}},"description":"single resource of type: `product_database_query`"}}},"/api/sales_estimates_query":{"get":{"summary":"","description":"<div class=\"endpoint-description\">\n        <h4 class=\"opblock-title\">Description</h4>\n        <div>\n          Perform a query for a specified ASIN over a period of time.\n          Use this endpoint to determine price and rank data overtime with daily datapoints.\n          Sales estimates for variant ASINs will return values for the parent ASIN.\n          The parent ASIN values are an aggregate of all variants under that parent.\n        </div>\n      </div>","tags":["Sales Estimates Query"],"security":[{"authorization_header":[]}],"parameters":[{"name":"marketplace","in":"query","schema":{"type":"string","enum":["us","uk","de","in","ca","fr","it","es","mx","jp"]},"required":true},{"name":"asin","in":"query","schema":{"type":"string"},"required":true,"description":"Asin to be searched"},{"name":"start_date","in":"query","schema":{"type":"string"},"required":true,"description":"Start Date Period"},{"name":"end_date","in":"query","schema":{"type":"string"},"required":true,"description":"End Date Period. Must be before current date."}],"responses":{"403":{"description":"forbidden","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Forbidden","detail":"The application name or api key provided was invalid.","code":"FORBIDDEN","status":"403"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"422":{"description":"unprocessable_entity","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid parameter value for: 'start_date'","detail":"start_date - start_date value must be before or equal to end_date","code":"VALIDATION_ERROR","source":{"pointer":"/data/attributes/start_date"},"status":"422"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"200":{"description":"success","content":{"application/vnd.junglescout.v1+json":{"example":{"data":[{"id":"us/B08JYQLKXZ","type":"sales_estimate_result","attributes":{"asin":"B08JYQLKXZ","is_parent":false,"is_variant":true,"is_standalone":false,"parent_asin":"B09RWP4NXB","variants":[],"data":[{"date":"2025-12-28","estimated_units_sold":1563,"last_known_price":30.8},{"date":"2025-12-27","estimated_units_sold":1388,"last_known_price":30.8},{"date":"2025-12-26","estimated_units_sold":1391,"last_known_price":29.8},{"date":"2025-12-25","estimated_units_sold":1452,"last_known_price":28.8},{"date":"2025-12-24","estimated_units_sold":1432,"last_known_price":28.8},{"date":"2025-12-23","estimated_units_sold":1387,"last_known_price":29.8},{"date":"2025-12-22","estimated_units_sold":1349,"last_known_price":29.8},{"date":"2025-12-21","estimated_units_sold":1430,"last_known_price":29.8},{"date":"2025-12-20","estimated_units_sold":1465,"last_known_price":29.8},{"date":"2025-12-19","estimated_units_sold":1383,"last_known_price":29.8},{"date":"2025-12-18","estimated_units_sold":1404,"last_known_price":29.8},{"date":"2025-12-17","estimated_units_sold":1390,"last_known_price":29.8},{"date":"2025-12-16","estimated_units_sold":1426,"last_known_price":29.8}]}}]},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"type":"object","properties":{"parent_asin":{"type":"string","description":"If parent_asin is equal to the queried ASIN, the queried ASIN is a parent.\nIf parent_asin is different than the queried ASIN, the queried ASIN is a variant.\nIf parent_asin is null, then the queried ASIN is a standalone ASIN","nullable":true},"is_parent":{"type":"boolean","description":"States if the queried ASIN is a parent ASIN"},"is_variant":{"type":"boolean","description":"States if the queried ASIN is a variant ASIN"},"is_standalone":{"type":"boolean","description":"States if the queried ASIN is a standalone ASIN"},"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","description":"Date for the particular sales estimation, represented in format YYYY-MM-DD"},"estimated_units_sold":{"type":"integer","description":"Amount of estimated units sold for the given date"},"last_known_price":{"type":"number","description":"Last known price for this data based on our scraped information"}},"required":["date","estimated_units_sold"]}},"variants":{"type":"array","description":"Contains all the variant ASINs if the queried ASIN is a parent, provides an empty array otherwise","items":{"type":"string"}}},"required":["data","is_standalone","is_parent","is_variant"]}},"required":["id","type","attributes"]}}},"required":["data"]}}}}}}},"/api/share_of_voice":{"get":{"summary":"","description":"<div class=\"endpoint-description\">\n        <h4 class=\"opblock-title\">Description</h4>\n        <div>\n          For a given keyword search on Amazon, return the share that each brand controls for the first 3 pages of\n          search results. Data for organic, sponsored, and combined share of voice. This endpoint also returns the PPC\n          bid and 30 day search volume for the queried keyword and the conversion rate of the top 3 ASINs for the last\n          week.\n        </div>\n      </div>","tags":["Share Of Voice"],"security":[{"authorization_header":[]}],"parameters":[{"name":"marketplace","in":"query","schema":{"type":"string","enum":["us","uk","de","in","ca","fr","it","es","mx","jp"]},"required":true},{"name":"keyword","in":"query","schema":{"type":"string"},"required":true,"description":"search term"}],"responses":{"403":{"description":"forbidden","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Forbidden","detail":"The application name or api key provided was invalid.","code":"FORBIDDEN","status":"403"}]},"schema":{"$ref":"#/components/schemas/errors_list"}}}},"422":{"description":"bad_request","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Invalid parameter value for: 'keyword'","detail":"keyword - can't be blank","code":"VALIDATION_ERROR","source":{"pointer":"/data/attributes/keyword"},"status":"422"}]}}}},"404":{"description":"not_found","content":{"application/vnd.junglescout.v1+json":{"example":{"errors":[{"title":"Record not found","detail":"There doesn't seem to be any Sponsored or Organic Data for this keyword (us/keyboard). Please try a different keyword to find Sponsored or Organic Data.","code":"RECORD_NOT_FOUND","status":"404"}]}}}},"200":{"description":"success","content":{"application/vnd.junglescout.v1+json":{"example":{"data":{"id":"us/golf","type":"share_of_voice","attributes":{"estimated_30_day_search_volume":333206,"exact_suggested_bid_median":1.19,"product_count":110,"updated_at":"2025-04-01T15:21:29Z","brands":[{"brand":"Callaway","combined_products":9,"combined_weighted_sov":0.2826,"combined_basic_sov":0.0818,"combined_average_position":41.33,"combined_average_price":220.41,"organic_products":9,"organic_weighted_sov":0.315,"organic_basic_sov":0.0938,"organic_average_position":41.33,"organic_average_price":220.41,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Jiskan","combined_products":1,"combined_weighted_sov":0.1829,"combined_basic_sov":0.0091,"combined_average_position":2,"combined_average_price":14.99,"organic_products":1,"organic_weighted_sov":0.2039,"organic_basic_sov":0.0104,"organic_average_position":2,"organic_average_price":14.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"A2C","combined_products":1,"combined_weighted_sov":0.1372,"combined_basic_sov":0.0091,"combined_average_position":3,"combined_average_price":29.99,"organic_products":1,"organic_weighted_sov":0.1529,"organic_basic_sov":0.0104,"organic_average_position":3,"organic_average_price":29.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"WINNER SPIRIT","combined_products":1,"combined_weighted_sov":0.1029,"combined_basic_sov":0.0091,"combined_average_position":1,"combined_average_price":159.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":1.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":1,"sponsored_average_price":159.99},{"brand":"Prodigora","combined_products":1,"combined_weighted_sov":0.0772,"combined_basic_sov":0.0091,"combined_average_position":4,"combined_average_price":4.99,"organic_products":1,"organic_weighted_sov":0.086,"organic_basic_sov":0.0104,"organic_average_position":4,"organic_average_price":4.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Bulex","combined_products":1,"combined_weighted_sov":0.0579,"combined_basic_sov":0.0091,"combined_average_position":5,"combined_average_price":5.99,"organic_products":1,"organic_weighted_sov":0.0645,"organic_basic_sov":0.0104,"organic_average_position":5,"organic_average_price":5.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"SKLZ","combined_products":2,"combined_weighted_sov":0.0434,"combined_basic_sov":0.0182,"combined_average_position":27.5,"combined_average_price":32.49,"organic_products":2,"organic_weighted_sov":0.0484,"organic_basic_sov":0.0208,"organic_average_position":27.5,"organic_average_price":32.49,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"REVASRI","combined_products":1,"combined_weighted_sov":0.0326,"combined_basic_sov":0.0091,"combined_average_position":7,"combined_average_price":39.99,"organic_products":1,"organic_weighted_sov":0.0363,"organic_basic_sov":0.0104,"organic_average_position":7,"organic_average_price":39.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Srixon","combined_products":4,"combined_weighted_sov":0.0244,"combined_basic_sov":0.0364,"combined_average_position":52,"combined_average_price":27.55,"organic_products":4,"organic_weighted_sov":0.0272,"organic_basic_sov":0.0417,"organic_average_position":52,"organic_average_price":27.55,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Jemzio","combined_products":1,"combined_weighted_sov":0.0183,"combined_basic_sov":0.0091,"combined_average_position":9,"combined_average_price":5.99,"organic_products":1,"organic_weighted_sov":0.0204,"organic_basic_sov":0.0104,"organic_average_position":9,"organic_average_price":5.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Cosportic","combined_products":1,"combined_weighted_sov":0.0103,"combined_basic_sov":0.0091,"combined_average_position":11,"combined_average_price":29.99,"organic_products":1,"organic_weighted_sov":0.0115,"organic_basic_sov":0.0104,"organic_average_position":11,"organic_average_price":29.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Handy Picks","combined_products":1,"combined_weighted_sov":0.0077,"combined_basic_sov":0.0091,"combined_average_position":12,"combined_average_price":9.99,"organic_products":1,"organic_weighted_sov":0.0086,"organic_basic_sov":0.0104,"organic_average_position":12,"organic_average_price":9.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"THIODOON","combined_products":1,"combined_weighted_sov":0.0058,"combined_basic_sov":0.0091,"combined_average_position":13,"combined_average_price":9.99,"organic_products":1,"organic_weighted_sov":0.0065,"organic_basic_sov":0.0104,"organic_average_position":13,"organic_average_price":9.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"REDTIGER","combined_products":1,"combined_weighted_sov":0.0043,"combined_basic_sov":0.0091,"combined_average_position":14,"combined_average_price":109.99,"organic_products":1,"organic_weighted_sov":0.0048,"organic_basic_sov":0.0104,"organic_average_position":14,"organic_average_price":109.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Seticek","combined_products":1,"combined_weighted_sov":0.0033,"combined_basic_sov":0.0091,"combined_average_position":15,"combined_average_price":9.99,"organic_products":1,"organic_weighted_sov":0.0036,"organic_basic_sov":0.0104,"organic_average_position":15,"organic_average_price":9.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"TaylorMade","combined_products":5,"combined_weighted_sov":0.003,"combined_basic_sov":0.0455,"combined_average_position":37.4,"combined_average_price":358.99,"organic_products":5,"organic_weighted_sov":0.0034,"organic_basic_sov":0.0521,"organic_average_position":37.4,"organic_average_price":358.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Nike","combined_products":2,"combined_weighted_sov":0.0018,"combined_basic_sov":0.0182,"combined_average_position":48.5,"combined_average_price":26.95,"organic_products":2,"organic_weighted_sov":0.002,"organic_basic_sov":0.0208,"organic_average_position":48.5,"organic_average_price":26.95,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Garmin","combined_products":2,"combined_weighted_sov":0.0016,"combined_basic_sov":0.0182,"combined_average_position":21,"combined_average_price":2574.99,"organic_products":2,"organic_weighted_sov":0.0018,"organic_basic_sov":0.0208,"organic_average_position":21,"organic_average_price":2574.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Eeokoka","combined_products":1,"combined_weighted_sov":0.001,"combined_basic_sov":0.0091,"combined_average_position":19,"combined_average_price":6.79,"organic_products":1,"organic_weighted_sov":0.0011,"organic_basic_sov":0.0104,"organic_average_position":19,"organic_average_price":6.79,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"KALIYADI","combined_products":1,"combined_weighted_sov":0.0008,"combined_basic_sov":0.0091,"combined_average_position":20,"combined_average_price":19.99,"organic_products":1,"organic_weighted_sov":0.0009,"organic_basic_sov":0.0104,"organic_average_position":20,"organic_average_price":19.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"KLAODOT","combined_products":1,"combined_weighted_sov":0.0003,"combined_basic_sov":0.0091,"combined_average_position":23,"combined_average_price":62.99,"organic_products":1,"organic_weighted_sov":0.0004,"organic_basic_sov":0.0104,"organic_average_position":23,"organic_average_price":62.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Vice Golf","combined_products":6,"combined_weighted_sov":0.0002,"combined_basic_sov":0.0545,"combined_average_position":61.33,"combined_average_price":24.35,"organic_products":6,"organic_weighted_sov":0.0002,"organic_basic_sov":0.0625,"organic_average_position":61.33,"organic_average_price":24.35,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Titleist","combined_products":5,"combined_weighted_sov":0.0001,"combined_basic_sov":0.0455,"combined_average_position":56.4,"combined_average_price":39.98,"organic_products":5,"organic_weighted_sov":0.0002,"organic_basic_sov":0.0521,"organic_average_position":56.4,"organic_average_price":39.98,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"OYGSieg","combined_products":1,"combined_weighted_sov":0.0001,"combined_basic_sov":0.0091,"combined_average_position":28,"combined_average_price":45.99,"organic_products":1,"organic_weighted_sov":0.0001,"organic_basic_sov":0.0104,"organic_average_position":28,"organic_average_price":45.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Rapsodo","combined_products":3,"combined_weighted_sov":0.0001,"combined_basic_sov":0.0273,"combined_average_position":41.67,"combined_average_price":399.33,"organic_products":3,"organic_weighted_sov":0.0001,"organic_basic_sov":0.0313,"organic_average_position":41.67,"organic_average_price":399.33,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Gogogo Sport Vpro","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":30,"combined_average_price":79.98,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":30,"organic_average_price":79.98,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Piss Missile","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":31,"combined_average_price":7.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":31,"organic_average_price":7.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"VICE","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":32,"combined_average_price":12.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":32,"organic_average_price":12.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Blue Tees Golf","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":34,"combined_average_price":199,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":34,"organic_average_price":199,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Full Choice","combined_products":2,"combined_weighted_sov":0.0,"combined_basic_sov":0.0182,"combined_average_position":63,"combined_average_price":8.99,"organic_products":2,"organic_weighted_sov":0.0,"organic_basic_sov":0.0208,"organic_average_position":63,"organic_average_price":8.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Under Armour","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":36,"combined_average_price":35.37,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":36,"organic_average_price":35.37,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Geko Golf","combined_products":2,"combined_weighted_sov":0.0,"combined_basic_sov":0.0182,"combined_average_position":19.5,"combined_average_price":15.44,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":37,"organic_average_price":15.44,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":2,"sponsored_average_price":15.44},{"brand":"FootJoy","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":38,"combined_average_price":21.95,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":38,"organic_average_price":21.95,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"YOREPEK","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":39,"combined_average_price":32.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":39,"organic_average_price":32.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"TrueBirdie","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":40,"combined_average_price":9.97,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":40,"organic_average_price":9.97,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Shanker Golf","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":41,"combined_average_price":9.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":41,"organic_average_price":9.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"WILSON","combined_products":2,"combined_weighted_sov":0.0,"combined_basic_sov":0.0182,"combined_average_position":48.5,"combined_average_price":29.9,"organic_products":2,"organic_weighted_sov":0.0,"organic_basic_sov":0.0208,"organic_average_position":48.5,"organic_average_price":29.9,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Izzo","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":43,"combined_average_price":6.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":43,"organic_average_price":6.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"CHAMPKEY","combined_products":2,"combined_weighted_sov":0.0,"combined_basic_sov":0.0182,"combined_average_position":46.5,"combined_average_price":26.99,"organic_products":2,"organic_weighted_sov":0.0,"organic_basic_sov":0.0208,"organic_average_position":46.5,"organic_average_price":26.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"NEWTON","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":3,"combined_average_price":275,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":3,"sponsored_average_price":275},{"brand":"STUFFSTASH","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":4,"combined_average_price":89.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":4,"sponsored_average_price":89.99},{"brand":"Zero Friction","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":5,"combined_average_price":1699.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":5,"sponsored_average_price":1699.99},{"brand":"JANUS","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":6,"combined_average_price":129.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":6,"sponsored_average_price":129.99},{"brand":"MGI","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":50,"combined_average_price":1522.67,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":50,"organic_average_price":1522.67,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Caddytek","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":53,"combined_average_price":99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":53,"organic_average_price":99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"UNIHIMAL","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":7,"combined_average_price":159.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":7,"sponsored_average_price":159.99},{"brand":"ZONULAR","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":8,"combined_average_price":11.9,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":8,"sponsored_average_price":11.9},{"brand":"CPZFLYED","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":9,"combined_average_price":14.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":9,"sponsored_average_price":14.99},{"brand":"Wearable4U","combined_products":2,"combined_weighted_sov":0.0,"combined_basic_sov":0.0182,"combined_average_position":45.5,"combined_average_price":2569.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":81,"organic_average_price":5004.99,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":10,"sponsored_average_price":134.99},{"brand":"G Gradual","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":57,"combined_average_price":27.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":57,"organic_average_price":27.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"ASK ECHO","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":11,"combined_average_price":199.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":11,"sponsored_average_price":199.99},{"brand":"Dr.Golf","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":12,"combined_average_price":49.9,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":12,"sponsored_average_price":49.9},{"brand":"AEORUM","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":13,"combined_average_price":69.99,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":13,"sponsored_average_price":69.99},{"brand":"KVV","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":14,"combined_average_price":229,"organic_products":0,"organic_weighted_sov":0,"organic_basic_sov":0,"organic_average_position":null,"organic_average_price":null,"sponsored_products":1,"sponsored_weighted_sov":0.0,"sponsored_basic_sov":0.0714,"sponsored_average_position":14,"sponsored_average_price":229},{"brand":"Pride Golf Tee","combined_products":2,"combined_weighted_sov":0.0,"combined_basic_sov":0.0182,"combined_average_position":74,"combined_average_price":13.99,"organic_products":2,"organic_weighted_sov":0.0,"organic_basic_sov":0.0208,"organic_average_position":74,"organic_average_price":13.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"adidas","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":65,"combined_average_price":49.93,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":65,"organic_average_price":49.93,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Voice Caddie","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":67,"combined_average_price":176.51,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":67,"organic_average_price":176.51,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"LOINTET","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":68,"combined_average_price":49.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":68,"organic_average_price":49.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Xintan Tiger","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":71,"combined_average_price":9.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":71,"organic_average_price":9.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Club Scrub","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":72,"combined_average_price":29.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":72,"organic_average_price":29.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"CRZ YOGA","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":74,"combined_average_price":32,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":74,"organic_average_price":32,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"GoSports","combined_products":3,"combined_weighted_sov":0.0,"combined_basic_sov":0.0273,"combined_average_position":84.33,"combined_average_price":436.66,"organic_products":3,"organic_weighted_sov":0.0,"organic_basic_sov":0.0313,"organic_average_position":84.33,"organic_average_price":436.66,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Arccos Golf","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":76,"combined_average_price":119.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":76,"organic_average_price":119.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Samsonite","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":79,"combined_average_price":213.1,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":79,"organic_average_price":213.1,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"KIRKLAND","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":82,"combined_average_price":35.49,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":82,"organic_average_price":35.49,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"SAPLIZE","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":84,"combined_average_price":14.99,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":84,"organic_average_price":14.99,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"PUTT-A-BOUT","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":86,"combined_average_price":38.34,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":86,"organic_average_price":38.34,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Dikutar","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":87,"combined_average_price":59.97,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":87,"organic_average_price":59.97,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Nitro Golf","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":90,"combined_average_price":28.87,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":90,"organic_average_price":28.87,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"ELECTRONIC ARTS INC","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":92,"combined_average_price":0,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":92,"organic_average_price":null,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Pride Professional Tee System","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":93,"combined_average_price":13.94,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":93,"organic_average_price":13.94,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"PUMA","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":94,"combined_average_price":8.98,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":94,"organic_average_price":8.98,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null},{"brand":"Bridgestone Golf","combined_products":1,"combined_weighted_sov":0.0,"combined_basic_sov":0.0091,"combined_average_position":96,"combined_average_price":59.95,"organic_products":1,"organic_weighted_sov":0.0,"organic_basic_sov":0.0104,"organic_average_position":96,"organic_average_price":59.95,"sponsored_products":0,"sponsored_weighted_sov":0,"sponsored_basic_sov":0,"sponsored_average_position":null,"sponsored_average_price":null}],"top_asins":[{"asin":"B09GLP62SS","name":"REVASRI Golf Rangefinder with Slope and Pin Lock Vibration, External Slope Switch for Golf Tournament Legal, Rangefinders with Rechargeable Battery 1000YDS Laser Range Finder","brand":"REVASRI","clicks":558,"conversions":27,"conversion_rate":0.05},{"asin":"B0DJDVHHHT","name":"P*ss M*ssile Driver Darts, Premium Bamboo Golf Tees, Pack of 18 | 83mm (3.25\") Wooden Tees - Organized, Durable, Eco-Friendly | Memorable Gift for Golfers, Iconic Packaging","brand":"Piss Missile","clicks":517,"conversions":37,"conversion_rate":0.07},{"asin":"B0DFYFM5G8","name":"KLAODOT Golf Net with Practice Mat,Golf Hitting Aid Nets 10x7FT for Backyard Driving Chipping Training Swing with Target Mat Balls for Outdoor Indoor，Gifts for Men Dad Him and Golfer","brand":"KLAODOT","clicks":450,"conversions":11,"conversion_rate":0.02}],"top_asins_model_end_date":"2025-03-22","top_asins_model_start_date":"2025-03-16"}}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","description":"marketplace/keyword"},"type":{"type":"string","description":"type of object. 'share_of_voice'"},"attributes":{"type":"object","properties":{"estimated_30_day_search_volume":{"type":"integer","description":"30 day search volume for the exact match of the keyword"},"exact_suggested_bid_median":{"type":"number","description":"Estimated cost of winning bid for keyword in currency of the selected marketplace"},"product_count":{"type":"integer","description":"Number of ASINs included in returned data"},"updated_at":{"type":"string","description":"Data refresh date. ISO 8601 format"},"brands":{"type":"array","items":{"type":"object","properties":{"brand":{"type":"string","description":"brand"},"combined_products":{"type":"integer","description":"Total organic and sponsored products within first 3 result pages for a given brand"},"combined_weighted_sov":{"type":"number","description":"Share of Voice with additional weight given to Amazon choice badge and products that appear higher on the results page for both organic and sponsored results"},"combined_basic_sov":{"type":"number","description":"Number of times a product appears divided by total search results for both organic and sponsored results"},"combined_average_position":{"type":"number","description":"Average position of all products of a given brand for both organic and sponsored results"},"combined_average_price":{"type":"number","description":"Average price for all products of a given brand for both organic and sponsored results"},"organic_products":{"type":"integer","description":"Number organic search result products within first 3 result pages for a given brand","nullable":true},"organic_weighted_sov":{"type":"number","description":"Share of Voice with additional weight given to Amazon choice badge and products that appear higher on the results page for organic results","nullable":true},"organic_basic_sov":{"type":"number","description":"Number of times a product appears divided by total search results for organic results","nullable":true},"organic_average_position":{"type":"number","description":"Average position of all products of a given brand for organic results","nullable":true},"organic_average_price":{"type":"number","description":"Average price for all products of a given brand organic results","nullable":true},"sponsored_products":{"type":"integer","description":"Number sponsored search result products within first 3 result pages for a given brand","nullable":true},"sponsored_weighted_sov":{"type":"number","description":"Share of Voice with additional weight given to Amazon choice badge and products that appear higher on the results page for sponsored results","nullable":true},"sponsored_basic_sov":{"type":"number","description":"Number of times a product appears divided by total search results for sponsored results","nullable":true},"sponsored_average_position":{"type":"number","description":"Average position of all products of a given brand for organic results","nullable":true},"sponsored_average_price":{"type":"number","description":"Average price for all products of a given brand sponsored results","nullable":true}},"required":["brand","combined_products","combined_weighted_sov","combined_basic_sov","combined_average_position","combined_average_price","organic_products","organic_weighted_sov","organic_basic_sov","organic_average_position","organic_average_price","sponsored_products","sponsored_weighted_sov","sponsored_basic_sov","sponsored_average_position","sponsored_average_price"]},"description":"Brands"},"top_asins_model_start_date":{"type":"string","description":"Start date of Top 3 ASIN click and conversion data","nullable":true},"top_asins_model_end_date":{"type":"string","description":"End date of Top 3 ASIN click and conversion data","nullable":true},"top_asins":{"type":"array","items":{"type":"object","properties":{"asin":{"type":"string","description":"ASIN"},"name":{"type":"string","description":"Product description","nullable":true},"brand":{"type":"string","description":"Product brand","nullable":true},"clicks":{"type":"integer","description":"Number of customer clicks within time range"},"conversions":{"type":"integer","description":"Number of purchases within time range"},"conversion_rate":{"type":"number","description":"Conversions divided by clicks","nullable":true}},"required":["asin","name","brand","clicks","conversions","conversion_rate"]},"description":"Top 3 ASINs - conversion data","nullable":true}},"required":["brands","estimated_30_day_search_volume","exact_suggested_bid_median","product_count","updated_at","top_asins_model_start_date","top_asins_model_end_date","top_asins"]}},"required":["type","attributes"]}},"required":["data"]}}}}}}}}}