{
  "openapi": "3.0.3",
  "info": {
    "title": "Neocities API",
    "description": "Neocities API for uploading, deleting, listing files, and retrieving site information.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://neocities.org/api"
  },
  "servers": [
    {
      "url": "https://neocities.org",
      "description": "Neocities API server"
    }
  ],
  "paths": {
    "/api/upload": {
      "post": {
        "operationId": "uploadFiles",
        "summary": "Upload files to your site",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string",
                  "format": "binary"
                },
                "description": "File names with extensions as parameter names, file content as values"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/delete": {
      "post": {
        "operationId": "deleteFiles",
        "summary": "Delete files from your site",
        "description": "Remove specified files. Cannot delete index.html.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "filenames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of file paths to delete"
                  }
                },
                "required": [
                  "filenames[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/list": {
      "get": {
        "operationId": "listFiles",
        "summary": "List files on your site",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Directory path to list"
          }
        ],
        "responses": {
          "200": {
            "description": "File listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/info": {
      "get": {
        "operationId": "getSiteInfo",
        "summary": "Get site information",
        "description": "Retrieve site statistics and metadata. Authentication optional for public sites when sitename parameter is provided.",
        "tags": [
          "Site"
        ],
        "parameters": [
          {
            "name": "sitename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Site name to query (for public site info without auth)"
          }
        ],
        "responses": {
          "200": {
            "description": "Site information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteInfoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/key": {
      "get": {
        "operationId": "getApiKey",
        "summary": "Get or generate API key",
        "description": "Retrieve a bearer token for API authentication. Requires HTTP Basic Auth.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "API key returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    },
                    "api_key": {
                      "type": "string",
                      "description": "Bearer token for API access"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication with Neocities username and password"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from /api/key endpoint"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "description": "Result status"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "FileListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileInfo"
            }
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "description": "File or directory path"
          },
          "is_directory": {
            "type": "boolean",
            "description": "Whether this entry is a directory"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes (only for files)"
          },
          "updated_at": {
            "type": "string",
            "description": "Last updated timestamp in RFC2822 format"
          },
          "created_at": {
            "type": "string",
            "description": "Creation timestamp in RFC2822 format"
          },
          "sha1_hash": {
            "type": "string",
            "description": "SHA1 hash of file contents (only for files)"
          }
        }
      },
      "SiteInfoResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "info": {
            "$ref": "#/components/schemas/SiteInfo"
          }
        }
      },
      "SiteInfo": {
        "type": "object",
        "properties": {
          "sitename": {
            "type": "string"
          },
          "hits": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "last_updated": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request"
      },
      "Unauthorized": {
        "description": "Authentication required"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ]
}