{
  "openapi": "3.0.3",
  "info": {
    "title": "Mensagia API",
    "version": "1.0.0",
    "description": "Mensagia is a multi-channel messaging platform API supporting SMS, Email, Voice campaigns, 2-Factor Authentication, certified messaging, and contact management. The API allows sending simple and bulk SMS/email messages, managing contacts and groups, creating campaigns, and tracking delivery notifications.",
    "x-jentic-source-url": "https://api.mensagia.com/docs/v1/"
  },
  "servers": [
    {
      "url": "https://api.mensagia.com/v1"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "operationId": "authenticate",
        "summary": "Obtain a JWT token",
        "description": "Authenticate with email and password to obtain a temporary JWT token for API access.",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get current balance",
        "description": "Retrieve the current account balance and currency.",
        "tags": ["Balance"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/balance/requests": {
      "get": {
        "operationId": "listBalanceRequests",
        "summary": "List all balance requests",
        "description": "Retrieve all balance purchase requests with optional filtering.",
        "tags": ["Balance"],
        "parameters": [
          {
            "name": "request_state_id",
            "in": "query",
            "description": "Filter by request state ID",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "name": "finish_date_min",
            "in": "query",
            "description": "Minimum finish date filter",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "finish_date_max",
            "in": "query",
            "description": "Maximum finish date filter",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": { "type": "integer", "default": 10 }
          }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalanceRequestListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createBalanceRequest",
        "summary": "Create a balance request",
        "description": "Create a new balance purchase request.",
        "tags": ["Balance"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateBalanceRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Request created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalanceRequestResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/balance/requests/{id}": {
      "get": {
        "operationId": "getBalanceRequest",
        "summary": "Get a balance request",
        "description": "Retrieve a single balance purchase request by ID.",
        "tags": ["Balance"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalanceRequestResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/balance/requests/{id}/accept": {
      "post": {
        "operationId": "acceptBalanceRequest",
        "summary": "Accept a balance request",
        "description": "Accept a balance purchase request (distributors only).",
        "tags": ["Balance"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Request accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalanceRequestResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden - distributors only", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/balance/requests/{id}/cancel": {
      "post": {
        "operationId": "cancelBalanceRequest",
        "summary": "Cancel a balance request",
        "tags": ["Balance"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Request cancelled", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalanceRequestResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/balance/requests/{id}/reject": {
      "post": {
        "operationId": "rejectBalanceRequest",
        "summary": "Reject a balance request",
        "description": "Reject a balance purchase request (distributors only).",
        "tags": ["Balance"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Request rejected", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalanceRequestResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden - distributors only", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/balance/requests/{id}/forward": {
      "post": {
        "operationId": "forwardBalanceRequest",
        "summary": "Forward a balance request",
        "description": "Forward a balance purchase request to superior distributor (distributors only).",
        "tags": ["Balance"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Request forwarded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalanceRequestResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden - distributors only", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List all contacts",
        "description": "Retrieve all contacts with optional search filters. Customers only.",
        "tags": ["Contacts"],
        "parameters": [
          { "name": "name", "in": "query", "description": "Filter by name", "required": false, "schema": { "type": "string" } },
          { "name": "number", "in": "query", "description": "Filter by phone number", "required": false, "schema": { "type": "string" } },
          { "name": "email", "in": "query", "description": "Filter by email", "required": false, "schema": { "type": "string" } },
          { "name": "city", "in": "query", "description": "Filter by city", "required": false, "schema": { "type": "string" } },
          { "name": "language", "in": "query", "description": "Filter by language", "required": false, "schema": { "type": "string" } },
          { "name": "group_ids", "in": "query", "description": "Filter by group IDs (comma-separated)", "required": false, "schema": { "type": "string" } },
          { "name": "in_sms_blacklist", "in": "query", "description": "Filter by SMS blacklist status", "required": false, "schema": { "type": "boolean" } },
          { "name": "search_type", "in": "query", "description": "Search type for string fields", "required": false, "schema": { "type": "string", "enum": ["contains", "equals"], "default": "contains" } },
          { "name": "page", "in": "query", "description": "Page number", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "description": "Results per page", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "description": "Create a new contact. Requires at minimum a phone number or email.",
        "tags": ["Contacts"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateContactRequest" } } } },
        "responses": {
          "200": { "description": "Contact created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "tags": ["Contacts"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "tags": ["Contacts"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateContactRequest" } } } },
        "responses": {
          "200": { "description": "Contact updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": ["Contacts"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Contact deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/import/json": {
      "post": {
        "operationId": "importContactsJson",
        "summary": "Import contacts via JSON",
        "description": "Import up to 1000 contacts via JSON array. Processing is asynchronous.",
        "tags": ["Contacts"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ImportContactsJsonRequest" } } } },
        "responses": {
          "200": { "description": "Import started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProcessResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/import/file": {
      "post": {
        "operationId": "importContactsFile",
        "summary": "Import contacts via file",
        "description": "Import contacts from a TXT, CSV, or XLSX file (max 50MB). Processing is asynchronous.",
        "tags": ["Contacts"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "$ref": "#/components/schemas/ImportContactsFileRequest" } } } },
        "responses": {
          "200": { "description": "Import started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProcessResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/{id}/groups/add": {
      "post": {
        "operationId": "addContactGroups",
        "summary": "Add groups to a contact",
        "tags": ["Contacts"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "groups": { "type": "string", "description": "Comma-separated group IDs" } }, "required": ["groups"] } } } },
        "responses": {
          "200": { "description": "Groups assigned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/contacts/{id}/groups/remove": {
      "post": {
        "operationId": "removeContactGroups",
        "summary": "Remove groups from a contact",
        "tags": ["Contacts"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "groups": { "type": "string", "description": "Comma-separated group IDs" } }, "required": ["groups"] } } } },
        "responses": {
          "200": { "description": "Groups removed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/agendas": {
      "get": {
        "operationId": "listAgendas",
        "summary": "List all contact groups",
        "description": "Retrieve all contact groups/agendas. Customers only.",
        "tags": ["Groups"],
        "parameters": [
          { "name": "name", "in": "query", "description": "Filter by name", "required": false, "schema": { "type": "string" } },
          { "name": "search_type", "in": "query", "required": false, "schema": { "type": "string", "enum": ["contains", "equals"], "default": "contains" } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgendaListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createAgenda",
        "summary": "Create a contact group",
        "tags": ["Groups"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" } }, "required": ["name"] } } } },
        "responses": {
          "200": { "description": "Group created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgendaResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/agendas/{id}": {
      "get": {
        "operationId": "getAgenda",
        "summary": "Get a contact group",
        "tags": ["Groups"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgendaResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "updateAgenda",
        "summary": "Update a contact group",
        "tags": ["Groups"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" } }, "required": ["name"] } } } },
        "responses": {
          "200": { "description": "Group updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgendaResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteAgenda",
        "summary": "Delete a contact group",
        "tags": ["Groups"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Group deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/extrafields": {
      "get": {
        "operationId": "listExtraFields",
        "summary": "List custom fields",
        "tags": ["Custom Fields"],
        "parameters": [
          { "name": "name", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "search_type", "in": "query", "required": false, "schema": { "type": "string", "enum": ["contains", "equals"], "default": "contains" } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExtraFieldListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createExtraField",
        "summary": "Create a custom field",
        "tags": ["Custom Fields"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateExtraFieldRequest" } } } },
        "responses": {
          "200": { "description": "Field created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExtraFieldResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/extrafields/{id}": {
      "get": {
        "operationId": "getExtraField",
        "summary": "Get a custom field",
        "tags": ["Custom Fields"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExtraFieldResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteExtraField",
        "summary": "Delete a custom field",
        "tags": ["Custom Fields"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Field deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sends": {
      "get": {
        "operationId": "listSimpleSends",
        "summary": "List all simple SMS sends",
        "tags": ["SMS"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "sendSimpleSms",
        "summary": "Send a simple SMS",
        "description": "Send a message to one or more recipients.",
        "tags": ["SMS"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SimpleSmsRequest" } } } },
        "responses": {
          "200": { "description": "SMS sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Insufficient balance", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sends/{id}": {
      "get": {
        "operationId": "getSimpleSend",
        "summary": "Get a simple SMS send",
        "tags": ["SMS"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteSimpleSend",
        "summary": "Delete a simple SMS send",
        "tags": ["SMS"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Send deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sends/multiple": {
      "get": {
        "operationId": "listMultipleSends",
        "summary": "List all multiple SMS sends",
        "tags": ["SMS"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "sendMultipleSms",
        "summary": "Send multiple SMS",
        "description": "Send SMS to multiple recipients with different messages.",
        "tags": ["SMS"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MultipleSmsRequest" } } } },
        "responses": {
          "200": { "description": "SMS sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sends/multiple/{id}": {
      "get": {
        "operationId": "getMultipleSend",
        "summary": "Get a multiple SMS send",
        "tags": ["SMS"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns": {
      "get": {
        "operationId": "listSmsCampaigns",
        "summary": "List all SMS campaigns",
        "tags": ["SMS Campaigns"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsCampaignListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createSmsCampaign",
        "summary": "Create an SMS campaign",
        "tags": ["SMS Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateSmsCampaignRequest" } } } },
        "responses": {
          "200": { "description": "Campaign created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsCampaignResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns/import": {
      "post": {
        "operationId": "createSmsCampaignFromFile",
        "summary": "Create SMS campaign from file",
        "tags": ["SMS Campaigns"],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "$ref": "#/components/schemas/SmsCampaignFileRequest" } } } },
        "responses": {
          "200": { "description": "Campaign created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsCampaignResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns/{id}": {
      "get": {
        "operationId": "getSmsCampaign",
        "summary": "Get an SMS campaign",
        "tags": ["SMS Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteSmsCampaign",
        "summary": "Delete an SMS campaign",
        "tags": ["SMS Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns/{id}/activate": {
      "post": {
        "operationId": "activateSmsCampaign",
        "summary": "Activate an SMS campaign",
        "tags": ["SMS Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign activated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns/{id}/deactivate": {
      "post": {
        "operationId": "deactivateSmsCampaign",
        "summary": "Deactivate an SMS campaign",
        "tags": ["SMS Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign deactivated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns/{id}/send": {
      "post": {
        "operationId": "sendSmsCampaignNow",
        "summary": "Send SMS campaign immediately",
        "tags": ["SMS Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SmsCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns/simulator": {
      "post": {
        "operationId": "simulateSmsCampaignCost",
        "summary": "Simulate campaign cost",
        "tags": ["SMS Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateSmsCampaignRequest" } } } },
        "responses": {
          "200": { "description": "Cost estimate", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CostSimulatorResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/sms_campaigns/{id}/delivery_notifications": {
      "get": {
        "operationId": "getSmsCampaignNotifications",
        "summary": "Get SMS campaign delivery notifications",
        "tags": ["SMS Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Delivery notifications", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeliveryNotificationResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email/send": {
      "post": {
        "operationId": "sendTransactionalEmail",
        "summary": "Send transactional email",
        "tags": ["Email"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransactionalEmailRequest" } } } },
        "responses": {
          "200": { "description": "Email sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailSendResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_campaigns": {
      "get": {
        "operationId": "listEmailCampaigns",
        "summary": "List all email campaigns",
        "tags": ["Email Campaigns"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailCampaignListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createEmailCampaign",
        "summary": "Create an email campaign",
        "tags": ["Email Campaigns"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateEmailCampaignRequest" } } } },
        "responses": {
          "200": { "description": "Campaign created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailCampaignResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_campaigns/{id}": {
      "get": {
        "operationId": "getEmailCampaign",
        "summary": "Get an email campaign",
        "tags": ["Email Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteEmailCampaign",
        "summary": "Delete an email campaign",
        "tags": ["Email Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_campaigns/{id}/activate": {
      "post": {
        "operationId": "activateEmailCampaign",
        "summary": "Activate an email campaign",
        "tags": ["Email Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign activated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_campaigns/{id}/deactivate": {
      "post": {
        "operationId": "deactivateEmailCampaign",
        "summary": "Deactivate an email campaign",
        "tags": ["Email Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign deactivated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_campaigns/{id}/send": {
      "post": {
        "operationId": "sendEmailCampaignNow",
        "summary": "Send email campaign immediately",
        "tags": ["Email Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Campaign sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailCampaignResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_campaigns/{id}/delivery_notifications": {
      "get": {
        "operationId": "getEmailCampaignNotifications",
        "summary": "Get email campaign delivery notifications",
        "tags": ["Email Campaigns"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Delivery notifications", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeliveryNotificationResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_addresses": {
      "get": {
        "operationId": "listEmailAddresses",
        "summary": "Get email sender addresses",
        "tags": ["Email"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailAddressListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/email_templates": {
      "get": {
        "operationId": "listEmailTemplates",
        "summary": "Get email templates",
        "tags": ["Email"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmailTemplateListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/2fa/pin/send": {
      "post": {
        "operationId": "send2faPin",
        "summary": "Create and send 2FA PIN",
        "tags": ["Two-Factor Authentication"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Send2faPinRequest" } } } },
        "responses": {
          "200": { "description": "PIN sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PinSendResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/2fa/pin/verify": {
      "post": {
        "operationId": "verify2faPin",
        "summary": "Verify 2FA PIN",
        "tags": ["Two-Factor Authentication"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Verify2faPinRequest" } } } },
        "responses": {
          "200": { "description": "Verification result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PinVerifyResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/notifications/sms": {
      "get": {
        "operationId": "getSmsNotifications",
        "summary": "Get SMS delivery notifications",
        "tags": ["Notifications"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NotificationListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/notifications/email": {
      "get": {
        "operationId": "getEmailNotifications",
        "summary": "Get email delivery notifications",
        "tags": ["Notifications"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NotificationListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/certificates/sms": {
      "get": {
        "operationId": "getSmsCertificates",
        "summary": "Get SMS certificates",
        "tags": ["Certificates"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CertificateListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/certificates/email": {
      "get": {
        "operationId": "getEmailCertificates",
        "summary": "Get email certificates",
        "tags": ["Certificates"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CertificateListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/two_way_sms/numbers": {
      "get": {
        "operationId": "getTwoWaySmsNumbers",
        "summary": "Get 2-way SMS numbers",
        "tags": ["Two-Way SMS"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TwoWayNumberListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/two_way_sms/conversations": {
      "get": {
        "operationId": "getTwoWayConversations",
        "summary": "Get 2-way SMS conversations",
        "tags": ["Two-Way SMS"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConversationListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/two_way_sms/send": {
      "post": {
        "operationId": "sendTwoWaySms",
        "summary": "Send 2-way SMS",
        "tags": ["Two-Way SMS"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TwoWaySmsRequest" } } } },
        "responses": {
          "200": { "description": "SMS sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/voice_campaigns": {
      "post": {
        "operationId": "createVoiceCampaign",
        "summary": "Create a voice campaign",
        "tags": ["Voice"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateVoiceCampaignRequest" } } } },
        "responses": {
          "200": { "description": "Campaign created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VoiceCampaignResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/voice/breakdown": {
      "get": {
        "operationId": "getVoiceCallBreakdown",
        "summary": "Get voice call breakdown",
        "tags": ["Voice"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VoiceBreakdownResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/voice/validated_numbers": {
      "get": {
        "operationId": "getVoiceValidatedNumbers",
        "summary": "Get validated voice numbers",
        "tags": ["Voice"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidatedNumberListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/voice/audio_library": {
      "get": {
        "operationId": "getVoiceAudioLibrary",
        "summary": "Get audio library",
        "tags": ["Voice"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AudioLibraryResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/premium_sms": {
      "post": {
        "operationId": "sendPremiumSms",
        "summary": "Send premium SMS",
        "tags": ["Premium SMS"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PremiumSmsRequest" } } } },
        "responses": {
          "200": { "description": "SMS sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SendResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/short_links": {
      "get": {
        "operationId": "listShortLinks",
        "summary": "List short links",
        "tags": ["Short Links"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShortLinkListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createShortLink",
        "summary": "Create a short link",
        "tags": ["Short Links"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "long_url": { "type": "string" } }, "required": ["long_url"] } } } },
        "responses": {
          "200": { "description": "Link created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShortLinkResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/landings": {
      "get": {
        "operationId": "listLandings",
        "summary": "List landing pages",
        "tags": ["Landings"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LandingListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "List forms",
        "tags": ["Forms"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FormListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/prices/routes": {
      "get": {
        "operationId": "getSmsPricing",
        "summary": "Get SMS pricing",
        "tags": ["Pricing"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PricingResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api_configurations": {
      "get": {
        "operationId": "listApiConfigurations",
        "summary": "List send configurations",
        "tags": ["Configurations"],
        "parameters": [
          { "name": "name", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "search_type", "in": "query", "required": false, "schema": { "type": "string", "enum": ["contains", "equals"], "default": "contains" } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api_configurations/{id}": {
      "get": {
        "operationId": "getApiConfiguration",
        "summary": "Get a send configuration",
        "tags": ["Configurations"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfigurationResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/processes": {
      "get": {
        "operationId": "listProcesses",
        "summary": "List all processes",
        "tags": ["Processes"],
        "parameters": [
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProcessListResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/processes/{id}": {
      "get": {
        "operationId": "getProcess",
        "summary": "Get a process",
        "tags": ["Processes"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProcessResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteProcess",
        "summary": "Delete a process",
        "tags": ["Processes"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Process deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/processes/{id}/summary": {
      "get": {
        "operationId": "getProcessSummary",
        "summary": "Get import summary",
        "tags": ["Processes"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Import summary", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ImportSummaryResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/processes/{id}/errors": {
      "get": {
        "operationId": "getProcessErrors",
        "summary": "Get import errors",
        "tags": ["Processes"],
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": {
          "200": { "description": "Import errors", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ImportErrorsResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tools/preview": {
      "post": {
        "operationId": "previewMessage",
        "summary": "Preview message",
        "tags": ["Tools"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreviewMessageRequest" } } } },
        "responses": {
          "200": { "description": "Message preview", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreviewMessageResponse" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tools/unsubscribe_form": {
      "get": {
        "operationId": "getUnsubscribeFormUrl",
        "summary": "Get SMS unsubscribe form URL",
        "tags": ["Tools"],
        "responses": {
          "200": { "description": "Unsubscribe form URL", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnsubscribeFormResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": { "type": "object", "required": ["email", "password"], "properties": { "email": { "type": "string" }, "password": { "type": "string" } } },
      "LoginResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "token": { "type": "string" }, "expires_in_minutes": { "type": "integer" }, "expires_at": { "type": "string", "format": "date-time" } } } } },
      "BalanceResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "amount": { "type": "number" }, "currency": { "type": "string" } } } } },
      "BalanceRequest": { "type": "object", "properties": { "id": { "type": "integer" }, "amount": { "type": "integer" }, "observations": { "type": "string" }, "status": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" }, "updated_at": { "type": "string", "format": "date-time" } } },
      "BalanceRequestListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/BalanceRequest" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "BalanceRequestResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/BalanceRequest" } } },
      "CreateBalanceRequest": { "type": "object", "required": ["amount"], "properties": { "amount": { "type": "integer" }, "observations": { "type": "string" } } },
      "Contact": { "type": "object", "properties": { "id": { "type": "integer" }, "number": { "type": "string" }, "name": { "type": "string" }, "email": { "type": "string" }, "city": { "type": "string" }, "language": { "type": "string" }, "in_sms_blacklist": { "type": "boolean" }, "in_voice_blacklist": { "type": "boolean" }, "in_mail_blacklist": { "type": "boolean" }, "groups": { "type": "array", "items": { "type": "object" } }, "extra_fields": { "type": "array", "items": { "type": "object" } }, "created_at": { "type": "string", "format": "date-time" }, "updated_at": { "type": "string", "format": "date-time" } } },
      "ContactListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "ContactResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Contact" } } },
      "CreateContactRequest": { "type": "object", "properties": { "number": { "type": "string" }, "name": { "type": "string" }, "email": { "type": "string" }, "city": { "type": "string" }, "language": { "type": "string" }, "in_sms_blacklist": { "type": "boolean" }, "in_voice_blacklist": { "type": "boolean" }, "in_mail_blacklist": { "type": "boolean" }, "groups": { "type": "string", "description": "Comma-separated group IDs" }, "extra_fields": { "type": "array", "items": { "type": "object" } } } },
      "ImportContactsJsonRequest": { "type": "object", "required": ["contacts_json"], "properties": { "contacts_json": { "type": "array", "items": { "type": "object" }, "description": "Max 1000 contacts" }, "callback_url": { "type": "string" }, "priority_field": { "type": "string", "enum": ["number", "email"] } } },
      "ImportContactsFileRequest": { "type": "object", "required": ["file", "agenda_id"], "properties": { "file": { "type": "string", "format": "binary" }, "agenda_id": { "type": "integer" }, "columns_to_import": { "type": "string" }, "add_prefix": { "type": "string" }, "file_has_heading": { "type": "boolean" }, "priority_field": { "type": "string", "enum": ["number", "email"] } } },
      "Agenda": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "users_count": { "type": "integer" }, "created_at": { "type": "string", "format": "date-time" }, "updated_at": { "type": "string", "format": "date-time" } } },
      "AgendaListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Agenda" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "AgendaResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Agenda" } } },
      "ExtraField": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "type": { "type": "string", "enum": ["number", "string", "date"] }, "date_format": { "type": "string" } } },
      "ExtraFieldListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/ExtraField" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "ExtraFieldResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/ExtraField" } } },
      "CreateExtraFieldRequest": { "type": "object", "required": ["name", "type"], "properties": { "name": { "type": "string" }, "type": { "type": "string", "enum": ["number", "string", "date"] }, "date_format": { "type": "string" } } },
      "SimpleSmsRequest": { "type": "object", "required": ["message", "numbers"], "properties": { "message": { "type": "string" }, "numbers": { "type": "string" }, "configuration_name": { "type": "string" } } },
      "MultipleSmsRequest": { "type": "object", "required": ["messages"], "properties": { "messages": { "type": "array", "items": { "type": "object", "properties": { "message": { "type": "string" }, "number": { "type": "string" } } } }, "configuration_name": { "type": "string" } } },
      "Send": { "type": "object", "properties": { "id": { "type": "integer" }, "message": { "type": "string" }, "status": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" } } },
      "SendListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Send" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "SendResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Send" } } },
      "SmsCampaign": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "message": { "type": "string" }, "status": { "type": "string" }, "scheduled_at": { "type": "string", "format": "date-time" }, "created_at": { "type": "string", "format": "date-time" }, "updated_at": { "type": "string", "format": "date-time" } } },
      "SmsCampaignListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/SmsCampaign" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "SmsCampaignResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SmsCampaign" } } },
      "CreateSmsCampaignRequest": { "type": "object", "required": ["name", "message"], "properties": { "name": { "type": "string" }, "message": { "type": "string" }, "groups": { "type": "string" }, "scheduled_at": { "type": "string", "format": "date-time" } } },
      "SmsCampaignFileRequest": { "type": "object", "required": ["file"], "properties": { "file": { "type": "string", "format": "binary" }, "name": { "type": "string" }, "message": { "type": "string" } } },
      "TransactionalEmailRequest": { "type": "object", "required": ["to", "subject", "body"], "properties": { "to": { "type": "string" }, "subject": { "type": "string" }, "body": { "type": "string" }, "from_name": { "type": "string" }, "from_email": { "type": "string" } } },
      "EmailSendResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "id": { "type": "integer" }, "status": { "type": "string" } } } } },
      "EmailCampaign": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "subject": { "type": "string" }, "status": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" }, "updated_at": { "type": "string", "format": "date-time" } } },
      "EmailCampaignListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/EmailCampaign" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "EmailCampaignResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/EmailCampaign" } } },
      "CreateEmailCampaignRequest": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" }, "subject": { "type": "string" }, "template_id": { "type": "integer" }, "body": { "type": "string" }, "groups": { "type": "string" } } },
      "EmailAddressListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "email": { "type": "string" }, "name": { "type": "string" } } } } } },
      "EmailTemplateListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "Send2faPinRequest": { "type": "object", "required": ["phone"], "properties": { "phone": { "type": "string" }, "message_template": { "type": "string" } } },
      "PinSendResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "status": { "type": "string" }, "expires_at": { "type": "string", "format": "date-time" } } } } },
      "Verify2faPinRequest": { "type": "object", "required": ["pin", "phone"], "properties": { "pin": { "type": "string" }, "phone": { "type": "string" } } },
      "PinVerifyResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "verified": { "type": "boolean" } } } } },
      "DeliveryNotificationResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "delivered": { "type": "integer" }, "failed": { "type": "integer" }, "pending": { "type": "integer" } } } } },
      "NotificationListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "status": { "type": "string" }, "recipient": { "type": "string" }, "delivered_at": { "type": "string", "format": "date-time" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "CertificateListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "type": { "type": "string" }, "recipient": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "TwoWayNumberListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "number": { "type": "string" } } } } } },
      "ConversationListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "number": { "type": "string" }, "messages": { "type": "array", "items": { "type": "object" } } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "TwoWaySmsRequest": { "type": "object", "required": ["number", "message"], "properties": { "number": { "type": "string" }, "message": { "type": "string" }, "two_way_number": { "type": "string" } } },
      "CreateVoiceCampaignRequest": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string" }, "audio_id": { "type": "integer" }, "groups": { "type": "string" }, "scheduled_at": { "type": "string", "format": "date-time" } } },
      "VoiceCampaignResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "status": { "type": "string" } } } } },
      "VoiceBreakdownResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "status": { "type": "string" }, "duration": { "type": "integer" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "ValidatedNumberListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "number": { "type": "string" } } } } } },
      "AudioLibraryResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "url": { "type": "string" } } } } } },
      "PremiumSmsRequest": { "type": "object", "required": ["message", "number"], "properties": { "message": { "type": "string" }, "number": { "type": "string" }, "configuration": { "type": "string" } } },
      "ShortLink": { "type": "object", "properties": { "id": { "type": "integer" }, "long_url": { "type": "string" }, "short_url": { "type": "string" }, "clicks": { "type": "integer" }, "created_at": { "type": "string", "format": "date-time" } } },
      "ShortLinkListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/ShortLink" } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "ShortLinkResponse": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/ShortLink" } } },
      "LandingListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "url": { "type": "string" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "FormListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "PricingResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "country": { "type": "string" }, "country_code": { "type": "string" }, "price": { "type": "number" } } } } } },
      "ConfigurationListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "sender": { "type": "string" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "ConfigurationResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "sender": { "type": "string" } } } } },
      "ProcessResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "id": { "type": "integer" }, "state": { "type": "string" }, "progress": { "type": "integer" }, "created_at": { "type": "string", "format": "date-time" } } } } },
      "ProcessListResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "integer" }, "state": { "type": "string" }, "progress": { "type": "integer" } } } }, "total": { "type": "integer" }, "per_page": { "type": "integer" }, "current_page": { "type": "integer" } } },
      "ImportSummaryResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "successful": { "type": "integer" }, "failed": { "type": "integer" }, "skipped": { "type": "integer" } } } } },
      "ImportErrorsResponse": { "type": "object", "properties": { "data": { "type": "array", "items": { "type": "object", "properties": { "row": { "type": "integer" }, "error": { "type": "string" } } } } } },
      "CostSimulatorResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "estimated_cost": { "type": "number" }, "message_count": { "type": "integer" } } } } },
      "PreviewMessageRequest": { "type": "object", "required": ["message"], "properties": { "message": { "type": "string" }, "variables": { "type": "object" } } },
      "PreviewMessageResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "rendered_message": { "type": "string" } } } } },
      "UnsubscribeFormResponse": { "type": "object", "properties": { "data": { "type": "object", "properties": { "url": { "type": "string" } } } } },
      "DeleteResponse": { "type": "object", "properties": { "data": { "type": "boolean" } } },
      "ErrorResponse": { "type": "object", "properties": { "error": { "type": "object", "properties": { "code": { "type": "string" }, "message": { "type": "string" } } } } }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT", "description": "JWT token obtained from POST /login" },
      "apiToken": { "type": "apiKey", "in": "query", "name": "api_token", "description": "Fixed API token included as query parameter" }
    }
  },
  "security": [
    { "bearerAuth": [] },
    { "apiToken": [] }
  ]
}