{
  "openapi": "3.0.0",
  "info": {
    "description": "The following endpoints allows you to access listings, rooms, rate plans, pricing and availability information within Airhost. It also allows you to create orders and cancel orders. <br/><br/> All API requests must have x-api-key in the header. <br/> <code>x-api-key: Airhost API Key or UUID</code> <br/><br/> All <b>POST</b> requests must have Content-Type in the header. <br/> <code>Content-Type: application/json</code> <br/><br/><b>Please contact Airhost to get your key.<br/> You will need to purchase and activate Booking Engine license to enable Booking Engine API.</b> <br/><br/> API URL: <code><em>https://api.airhost.co/v2</em></code><br/><br/>\nTEST API KEY: <code><em>31ae3736-3e7e-4394-a4ef-cafc7fb9a1c5</em></code>",
    "version": "1.0.0-oas3",
    "title": "Airhost Booking Engine API v2.0",
    "termsOfService": "https://cloud.airhost.co",
    "contact": {
      "name": "Us",
      "email": "support@airhost.co"
    },
    "license": {
      "name": "",
      "url": "https://cloud.airhost.co"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/airhost/booking-engine/1.0.0-oas3/swagger.json"
  },
  "paths": {
    "/listings": {
      "get": {
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/listings/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/orders": {
      "post": {
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrdersBody"
              }
            }
          },
          "required": true
        }
      }
    },
    "/orders/{id}/cancel": {
      "post": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostOrdersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderBody"
              }
            }
          },
          "required": true
        }
      }
    },
    "/rooms/{id}/price_availability": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPriceAvailabilityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/rooms/{id}/rate_plans": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRatePlansResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.airhost.co/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    },
    "schemas": {
      "GetListingsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "listings": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "listing_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "en": {
                          "type": "string"
                        }
                      }
                    },
                    "updated_at": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "GetListingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "listing_id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "photos": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "picture_id": {
                      "type": "number"
                    },
                    "url": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number"
                    },
                    "caption": {
                      "type": "string"
                    }
                  }
                }
              },
              "address": {
                "type": "object",
                "properties": {
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "address1": {
                    "type": "string"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number"
                      },
                      "lng": {
                        "type": "number"
                      }
                    }
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "state_short": {
                    "type": "string"
                  },
                  "country_short": {
                    "type": "string"
                  },
                  "formatted_address": {
                    "type": "string"
                  }
                }
              },
              "currency": {
                "type": "string"
              },
              "facilities": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "summary": {
                "type": "object",
                "properties": {
                  "en": {
                    "type": "string"
                  }
                }
              },
              "description": {
                "type": "object",
                "properties": {
                  "en": {
                    "type": "string"
                  }
                }
              },
              "property_type": {
                "type": "string"
              },
              "rooms": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "room_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "photos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "picture_id": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number"
                          },
                          "caption": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "accommodates": {
                      "type": "number"
                    },
                    "amenities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "en": {
                          "type": "string"
                        }
                      }
                    },
                    "description": {
                      "type": "object",
                      "properties": {
                        "en": {
                          "type": "string"
                        }
                      }
                    },
                    "base_price": {
                      "type": "number"
                    },
                    "cleaning_fee": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "PostOrdersBody": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "booked_at": {
                "type": "string",
                "example": 15746703781
              },
              "currency": {
                "type": "string",
                "example": "JPY"
              },
              "item_count": {
                "type": "number",
                "example": 1
              },
              "commission_total": {
                "type": "number",
                "example": 1871
              },
              "state": {
                "type": "string",
                "example": "completed"
              },
              "reservation_site": {
                "type": "string",
                "example": "airhost office"
              },
              "user": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "\u3012106-0044\u6771\u4eac\u90fd\u6e2f\u533a\u6771\u9ebb\u5e031-8-1 \u6771\u9ebb\u5e03IS\u30d3\u30eb4F"
                  },
                  "city": {
                    "type": "string",
                    "example": "\u6771\u4eac"
                  },
                  "company": {
                    "type": "string",
                    "example": "Test Company"
                  },
                  "email": {
                    "type": "string",
                    "example": "support@airhost.co"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "Yuri"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Ko"
                  },
                  "remarks": {
                    "type": "string",
                    "example": "* THIS RESERVATION HAS BEEN PRE-PAID *Guest has paid: JPY 15595.00"
                  },
                  "zip": {
                    "type": "string",
                    "example": 123456
                  },
                  "phone": {
                    "type": "string",
                    "example": "+82 10 2086 0377"
                  },
                  "locale": {
                    "type": "string",
                    "example": "ko"
                  },
                  "country": {
                    "type": "string",
                    "example": "Japan"
                  }
                }
              },
              "ota_paid_amount": {
                "type": "number",
                "example": 15595
              },
              "line_items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "starts_at": {
                      "type": "string",
                      "example": "2019-12-19"
                    },
                    "ends_at": {
                      "type": "string",
                      "example": "2019-12-21"
                    },
                    "duration": {
                      "type": "number",
                      "example": 3
                    },
                    "room_id": {
                      "type": "number",
                      "example": 55389
                    },
                    "rate_plan_id": {
                      "type": "number",
                      "example": 57722
                    },
                    "name": {
                      "type": "string",
                      "example": "Api v2 test order"
                    },
                    "state": {
                      "type": "string",
                      "example": "paid"
                    },
                    "preferences": {
                      "type": "object",
                      "properties": {
                        "adult": {
                          "type": "number",
                          "example": 2
                        },
                        "child": {
                          "type": "number",
                          "example": 2
                        },
                        "infant": {
                          "type": "number",
                          "example": 2
                        },
                        "rate_plan_id": {
                          "type": "number",
                          "example": 57722
                        },
                        "rate_plan_uid": {
                          "type": "string",
                          "example": 10395382
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string",
                              "example": "support@airhost.co"
                            },
                            "first_name": {
                              "type": "string",
                              "example": "Yuri"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Ko"
                            },
                            "phone": {
                              "type": "string",
                              "example": "+82 10 2086 0377"
                            }
                          }
                        },
                        "remarks": {
                          "type": "string",
                          "example": "* THIS RESERVATION HAS BEEN PRE-PAID *Guest has paid: JPY 15595.00"
                        },
                        "per_unit_rates": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "example": "day"
                              },
                              "key": {
                                "type": "string",
                                "example": "2019-07-19"
                              },
                              "name": {
                                "type": "string",
                                "example": "per_day"
                              },
                              "date": {
                                "type": "string",
                                "example": "2019-07-19"
                              },
                              "fee_type": {
                                "type": "string",
                                "example": "per_day"
                              },
                              "amount": {
                                "type": "number",
                                "example": 4193.3
                              },
                              "description": {
                                "type": "string",
                                "example": "Overnight Stay on 2019-07-19"
                              },
                              "extra_person_fee": {
                                "type": "number",
                                "example": 0
                              },
                              "hotel_fee": {
                                "type": "number",
                                "example": 0
                              }
                            }
                          }
                        }
                      }
                    },
                    "adjustments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "cleaning_fee"
                          },
                          "amount": {
                            "type": "number",
                            "example": 2000
                          },
                          "included": {
                            "type": "boolean",
                            "example": false
                          },
                          "state": {
                            "type": "string",
                            "example": "closed"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "number",
                      "example": 15595
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PostOrdersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/OrderResponseData"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "number",
                "example": 500
              },
              "message": {
                "type": "string",
                "example": "Invalid submission etc."
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "xxx will be deprecated soon."
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "OrderResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 10146
          },
          "uid": {
            "type": "string",
            "example": "30b33021-17fa-413d-b2f5-7448000b4ba0"
          },
          "booked_at": {
            "type": "string",
            "example": "2468-12-28T21:23:01.000+09:00"
          },
          "currency": {
            "type": "string",
            "example": "JPY"
          },
          "state": {
            "type": "string",
            "example": "completed"
          },
          "payment_state": {
            "type": "string",
            "example": "paid"
          },
          "total": {
            "type": "string",
            "example": "15595.0"
          },
          "item_total": {
            "type": "string",
            "example": "12579.9"
          },
          "adjustment_total": {
            "type": "string",
            "example": "3015.1"
          },
          "commission_total": {
            "type": "string",
            "example": "1871.0"
          },
          "payment_total": {
            "type": "string",
            "example": "15595.0"
          },
          "house_id": {
            "type": "number",
            "example": 4105
          },
          "booking_ids": {
            "type": "array",
            "items": {
              "type": "number",
              "example": 9947
            }
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "starts_at": {
                  "type": "string",
                  "example": "2020-09-19"
                },
                "ends_at": {
                  "type": "string",
                  "example": "2020-12-22"
                },
                "final_amount": {
                  "type": "string",
                  "example": "15595.0"
                },
                "per_unit_rates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "unit": {
                        "type": "string",
                        "example": "day"
                      },
                      "key": {
                        "type": "string",
                        "example": "2019-07-19"
                      },
                      "name": {
                        "type": "string",
                        "example": "per_day"
                      },
                      "date": {
                        "type": "string",
                        "example": "2019-07-19"
                      },
                      "fee_type": {
                        "type": "string",
                        "example": "per_day"
                      },
                      "amount": {
                        "type": "number",
                        "example": 4193.3
                      },
                      "description": {
                        "type": "string",
                        "example": "example description"
                      },
                      "extra_person_fee": {
                        "type": "number",
                        "example": 0
                      },
                      "hotel_fee": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  }
                },
                "rate_plan_id": {
                  "type": "number",
                  "example": 2495
                },
                "room_id": {
                  "type": "number",
                  "example": 4239
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "example@airhost.co"
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Yuri"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Ko"
                    },
                    "phone": {
                      "type": "string",
                      "example": "+82 10 2086 0377"
                    }
                  }
                },
                "remarks": {
                  "type": "string",
                  "example": "** THIS RESERVATION HAS BEEN PRE-PAID **Guest has paid: JPY 15595.00"
                },
                "adjustments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "claening_fee"
                      },
                      "amount": {
                        "type": "string",
                        "example": "3015.1"
                      },
                      "included": {
                        "type": "string",
                        "example": "false"
                      }
                    }
                  }
                }
              }
            }
          },
          "adjustments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "hotel_tax"
                },
                "amount": {
                  "type": "string",
                  "example": "3015.1"
                },
                "included": {
                  "type": "string",
                  "example": "false"
                }
              }
            }
          }
        }
      },
      "CancelOrderBody": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "example": "Guest decided to cancel"
          }
        }
      },
      "GetPriceAvailabilityResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "room_id": {
                "type": "number"
              },
              "price_availability": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "allotment": {
                      "type": "number"
                    },
                    "rate_plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rate_plan_id": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "closed": {
                            "type": "string"
                          },
                          "min_stay": {
                            "type": "number"
                          },
                          "max_stay": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "GetRatePlansResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "room_id": {
                "type": "number"
              },
              "rate_plans": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "rate_plan_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "weekly_price": {
                      "type": "object",
                      "properties": {
                        "monday": {
                          "type": "number"
                        },
                        "tuesday": {
                          "type": "number"
                        },
                        "wednesday": {
                          "type": "number"
                        },
                        "thursday": {
                          "type": "number"
                        },
                        "friday": {
                          "type": "number"
                        },
                        "saturday": {
                          "type": "number"
                        },
                        "sunday": {
                          "type": "number"
                        }
                      }
                    },
                    "guests_included": {
                      "type": "number"
                    },
                    "extra_guest_price": {
                      "type": "number"
                    },
                    "min_stay": {
                      "type": "number"
                    },
                    "max_stay": {
                      "type": "number"
                    },
                    "weekly_discount": {
                      "type": "number"
                    },
                    "monthly_discount": {
                      "type": "number"
                    },
                    "rules": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "ruid": {
            "type": "string",
            "example": "30b33021-17fa-413d-b2f5-7448000b4ba0"
          }
        }
      }
    }
  }
}