{
  "openapi": "3.0.3",
  "info": {
    "title": "BitBadges API",
    "version": "1.0.0",
    "description": "BitBadges is a platform for creating and managing digital badges and credentials across blockchains. The API provides authentication, badge management, and verification functionality.",
    "x-jentic-source-url": "https://docs.bitbadges.io"
  },
  "servers": [
    {
      "url": "https://api.bitbadges.io"
    }
  ],
  "paths": {
    "/api/v0/auth/getChallenge": {
      "post": {
        "operationId": "getAuthChallenge",
        "summary": "Get authentication challenge",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge returned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v0/auth/verify": {
      "post": {
        "operationId": "verifyAuth",
        "summary": "Verify authentication",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication verified"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/api/v0/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "List badge collections",
        "tags": [
          "Collections"
        ],
        "responses": {
          "200": {
            "description": "Collections list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v0/collections/{collectionId}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get a badge collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v0/users/{address}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user profile",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v0/users/{address}/balance/{collectionId}": {
      "get": {
        "operationId": "getUserBalance",
        "summary": "Get user badge balance",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance info"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}