{
  "openapi": "3.0.3",
  "info": {
    "title": "MeisterTask API",
    "description": "MeisterTask REST API for managing projects, sections, tasks, checklists, comments, attachments, labels, custom fields, work intervals, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.meistertask.com"
  },
  "servers": [
    {
      "url": "https://www.meistertask.com/api"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "tags": [
          "Projects"
        ],
        "summary": "List all accessible projects",
        "responses": {
          "200": {
            "description": "Projects list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "getProject",
        "tags": [
          "Projects"
        ],
        "summary": "Get a project by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/duplicate": {
      "post": {
        "operationId": "duplicateProject",
        "tags": [
          "Projects"
        ],
        "summary": "Duplicate a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Project duplicated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/members": {
      "get": {
        "operationId": "listProjectMembers",
        "tags": [
          "Memberships"
        ],
        "summary": "List project members",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Members list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/project_memberships": {
      "post": {
        "operationId": "addProjectMember",
        "tags": [
          "Memberships"
        ],
        "summary": "Add a member to a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "person_id"
                ],
                "properties": {
                  "person_id": {
                    "type": "integer"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/project_memberships/{membershipId}": {
      "put": {
        "operationId": "updateProjectMembership",
        "tags": [
          "Memberships"
        ],
        "summary": "Update a project membership",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeProjectMembership",
        "tags": [
          "Memberships"
        ],
        "summary": "Remove a member from a project",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/sections": {
      "get": {
        "operationId": "listProjectSections",
        "tags": [
          "Sections"
        ],
        "summary": "List sections in a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sections list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Section"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSection",
        "tags": [
          "Sections"
        ],
        "summary": "Create a section in a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sections/{sectionId}": {
      "get": {
        "operationId": "getSection",
        "tags": [
          "Sections"
        ],
        "summary": "Get a section by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/SectionIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Section details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateSection",
        "tags": [
          "Sections"
        ],
        "summary": "Update a section",
        "parameters": [
          {
            "$ref": "#/components/parameters/SectionIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sections/{sectionId}/tasks": {
      "get": {
        "operationId": "listSectionTasks",
        "tags": [
          "Tasks"
        ],
        "summary": "List tasks in a section",
        "parameters": [
          {
            "$ref": "#/components/parameters/SectionIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task in a section",
        "parameters": [
          {
            "$ref": "#/components/parameters/SectionIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/tasks": {
      "get": {
        "operationId": "listProjectTasks",
        "tags": [
          "Tasks"
        ],
        "summary": "List all tasks in a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "listAllTasks",
        "tags": [
          "Tasks"
        ],
        "summary": "List all tasks across all projects",
        "responses": {
          "200": {
            "description": "Tasks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "get": {
        "operationId": "getTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Get a task by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Update a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/comments": {
      "get": {
        "operationId": "listTaskComments",
        "tags": [
          "Comments"
        ],
        "summary": "List comments on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Comments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/comments/{commentId}": {
      "get": {
        "operationId": "getComment",
        "tags": [
          "Comments"
        ],
        "summary": "Get a comment by ID",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "tags": [
          "Comments"
        ],
        "summary": "Delete a comment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/attachments": {
      "get": {
        "operationId": "listTaskAttachments",
        "tags": [
          "Attachments"
        ],
        "summary": "List attachments on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Attachments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAttachment",
        "tags": [
          "Attachments"
        ],
        "summary": "Upload an attachment to a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/attachments/{attachmentId}": {
      "get": {
        "operationId": "getAttachment",
        "tags": [
          "Attachments"
        ],
        "summary": "Get an attachment by ID",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteAttachment",
        "tags": [
          "Attachments"
        ],
        "summary": "Delete an attachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/checklists": {
      "get": {
        "operationId": "listTaskChecklists",
        "tags": [
          "Checklists"
        ],
        "summary": "List checklists on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Checklists list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Checklist"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTaskChecklist",
        "tags": [
          "Checklists"
        ],
        "summary": "Create a checklist on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checklist created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklistId}": {
      "get": {
        "operationId": "getChecklist",
        "tags": [
          "Checklists"
        ],
        "summary": "Get a checklist by ID",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateChecklist",
        "tags": [
          "Checklists"
        ],
        "summary": "Update a checklist",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checklist updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteChecklist",
        "tags": [
          "Checklists"
        ],
        "summary": "Delete a checklist",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checklists/{checklistId}/checklist_items": {
      "get": {
        "operationId": "listChecklistItems",
        "tags": [
          "ChecklistItems"
        ],
        "summary": "List items in a checklist",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist items list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChecklistItem"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createChecklistItem",
        "tags": [
          "ChecklistItems"
        ],
        "summary": "Create a checklist item",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "checked": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecklistItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checklist_items/{itemId}": {
      "get": {
        "operationId": "getChecklistItem",
        "tags": [
          "ChecklistItems"
        ],
        "summary": "Get a checklist item by ID",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecklistItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateChecklistItem",
        "tags": [
          "ChecklistItems"
        ],
        "summary": "Update a checklist item",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "checked": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecklistItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteChecklistItem",
        "tags": [
          "ChecklistItems"
        ],
        "summary": "Delete a checklist item",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/labels": {
      "get": {
        "operationId": "listProjectLabels",
        "tags": [
          "Labels"
        ],
        "summary": "List labels in a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Labels list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createLabel",
        "tags": [
          "Labels"
        ],
        "summary": "Create a label in a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/labels/{labelId}": {
      "get": {
        "operationId": "getLabel",
        "tags": [
          "Labels"
        ],
        "summary": "Get a label by ID",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateLabel",
        "tags": [
          "Labels"
        ],
        "summary": "Update a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteLabel",
        "tags": [
          "Labels"
        ],
        "summary": "Delete a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/task_labels": {
      "get": {
        "operationId": "listTaskLabels",
        "tags": [
          "Labels"
        ],
        "summary": "List labels on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Task labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addLabelToTask",
        "tags": [
          "Labels"
        ],
        "summary": "Add a label to a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label_id"
                ],
                "properties": {
                  "label_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label added to task"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task_labels/{taskLabelId}": {
      "delete": {
        "operationId": "removeLabelFromTask",
        "tags": [
          "Labels"
        ],
        "summary": "Remove a label from a task",
        "parameters": [
          {
            "name": "taskLabelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label removed from task"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/task_relationships": {
      "get": {
        "operationId": "listTaskRelationships",
        "tags": [
          "TaskRelationships"
        ],
        "summary": "List relationships for a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Task relationships"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTaskRelationship",
        "tags": [
          "TaskRelationships"
        ],
        "summary": "Create a relationship between tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "related_task_id"
                ],
                "properties": {
                  "related_task_id": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relationship created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task_relationships/{relationshipId}": {
      "delete": {
        "operationId": "deleteTaskRelationship",
        "tags": [
          "TaskRelationships"
        ],
        "summary": "Delete a task relationship",
        "parameters": [
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relationship deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/work_intervals": {
      "get": {
        "operationId": "listTaskWorkIntervals",
        "tags": [
          "WorkIntervals"
        ],
        "summary": "List work intervals for a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Work intervals list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkInterval"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWorkInterval",
        "tags": [
          "WorkIntervals"
        ],
        "summary": "Create a work interval on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkIntervalCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work interval created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkInterval"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/work_intervals/{intervalId}": {
      "put": {
        "operationId": "updateWorkInterval",
        "tags": [
          "WorkIntervals"
        ],
        "summary": "Update a work interval",
        "parameters": [
          {
            "name": "intervalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkIntervalCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work interval updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkInterval"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkInterval",
        "tags": [
          "WorkIntervals"
        ],
        "summary": "Delete a work interval",
        "parameters": [
          {
            "name": "intervalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Work interval deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/persons/me": {
      "get": {
        "operationId": "getCurrentPerson",
        "tags": [
          "Persons"
        ],
        "summary": "Get the current authenticated user",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/persons/{personId}": {
      "get": {
        "operationId": "getPerson",
        "tags": [
          "Persons"
        ],
        "summary": "Get a person by ID",
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/custom_fields": {
      "get": {
        "operationId": "listTaskCustomFields",
        "tags": [
          "CustomFields"
        ],
        "summary": "List custom fields on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom fields list"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "setTaskCustomField",
        "tags": [
          "CustomFields"
        ],
        "summary": "Set a custom field value on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "custom_field_type_id",
                  "value"
                ],
                "properties": {
                  "custom_field_type_id": {
                    "type": "integer"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field value set"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{taskId}/task_subscriptions": {
      "get": {
        "operationId": "listTaskSubscriptions",
        "tags": [
          "Tasks"
        ],
        "summary": "List subscriptions for a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Task subscriptions"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "subscribeToTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Subscribe to task notifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscribed to task"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task_subscriptions/{subscriptionId}": {
      "delete": {
        "operationId": "unsubscribeFromTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Unsubscribe from task notifications",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed from task"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 bearer token. Obtain via MindMeister OAuth 2.0 flows with scopes: userinfo.profile, userinfo.email, meistertask"
      }
    },
    "parameters": {
      "ProjectIdParam": {
        "name": "projectId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "SectionIdParam": {
        "name": "sectionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "TaskIdParam": {
        "name": "taskId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Section": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "project_id": {
            "type": "integer"
          },
          "sequence": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SectionCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "sequence": {
            "type": "integer"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "description": "1=open, 2=completed, 8=trashed"
          },
          "section_id": {
            "type": "integer"
          },
          "project_id": {
            "type": "integer"
          },
          "assigned_to_id": {
            "type": "integer",
            "nullable": true
          },
          "due": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sequence": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TaskCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "assigned_to_id": {
            "type": "integer"
          },
          "due": {
            "type": "string",
            "format": "date-time"
          },
          "section_id": {
            "type": "integer"
          },
          "sequence": {
            "type": "integer"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "person_id": {
            "type": "integer"
          },
          "task_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "task_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Checklist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "task_id": {
            "type": "integer"
          },
          "items_count": {
            "type": "integer"
          },
          "items_checked_count": {
            "type": "integer"
          }
        }
      },
      "ChecklistItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "checked": {
            "type": "boolean"
          },
          "checklist_id": {
            "type": "integer"
          },
          "sequence": {
            "type": "integer"
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "project_id": {
            "type": "integer"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "avatar_thumb": {
            "type": "string"
          }
        }
      },
      "WorkInterval": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "task_id": {
            "type": "integer"
          },
          "person_id": {
            "type": "integer"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          }
        }
      },
      "WorkIntervalCreate": {
        "type": "object",
        "properties": {
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Sections",
      "description": "Section (column) management"
    },
    {
      "name": "Tasks",
      "description": "Task management"
    },
    {
      "name": "Comments",
      "description": "Task comments"
    },
    {
      "name": "Checklists",
      "description": "Checklist management"
    },
    {
      "name": "ChecklistItems",
      "description": "Checklist item management"
    },
    {
      "name": "Attachments",
      "description": "File attachments"
    },
    {
      "name": "Labels",
      "description": "Label/tag management"
    },
    {
      "name": "CustomFields",
      "description": "Custom field management"
    },
    {
      "name": "Persons",
      "description": "User/person management"
    },
    {
      "name": "WorkIntervals",
      "description": "Time tracking work intervals"
    },
    {
      "name": "TaskRelationships",
      "description": "Task dependency relationships"
    },
    {
      "name": "Memberships",
      "description": "Project membership management"
    }
  ]
}