{"openapi":"3.0.3","info":{"title":"Mouseflow API","version":"1.0.0","description":"Mouseflow analytics API for managing websites, session recordings, heatmaps, tags, and variables.","x-jentic-source-url":"https://api-docs.mouseflow.com/"},"servers":[{"url":"https://api-us.mouseflow.com","description":"US"},{"url":"https://api-eu.mouseflow.com","description":"EU"}],"paths":{"/websites":{"get":{"operationId":"listWebsites","summary":"List all websites","tags":["Websites"],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer"}},{"name":"offset","in":"query","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"createWebsite","summary":"Create a website","tags":["Websites"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["domain"],"properties":{"domain":{"type":"string"},"recordingRate":{"type":"number"}}}}}},"responses":{"201":{"description":"Website created"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/websites/{website_id}":{"get":{"operationId":"getWebsite","summary":"Get website details","tags":["Websites"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Website details"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"updateWebsite","summary":"Update website","tags":["Websites"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings":{"get":{"operationId":"listRecordings","summary":"List recordings","tags":["Recordings"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer"}},{"name":"offset","in":"query","schema":{"type":"integer"}}],"responses":{"200":{"description":"Recording list"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings/inprogress":{"get":{"operationId":"listLiveSessions","summary":"Get live sessions","tags":["Recordings"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Live sessions"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings/{recording_id}":{"get":{"operationId":"getRecording","summary":"Get recording","tags":["Recordings"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Recording details"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteRecording","summary":"Delete recording","tags":["Recordings"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings/tags":{"get":{"operationId":"listTags","summary":"List tags","tags":["Tags"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tag list"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings/{recording_id}/tag":{"post":{"operationId":"addTag","summary":"Add tag","tags":["Tags"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tag added"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"removeTag","summary":"Remove tag","tags":["Tags"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tag removed"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings/{recording_id}/star":{"post":{"operationId":"starRecording","summary":"Star recording","tags":["Recording Management"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Starred"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"unstarRecording","summary":"Unstar recording","tags":["Recording Management"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Unstarred"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings/{recording_id}/watched":{"post":{"operationId":"markWatched","summary":"Mark as watched","tags":["Recording Management"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Marked"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"markUnwatched","summary":"Mark as unwatched","tags":["Recording Management"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Unmarked"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/recordings/{recording_id}/share":{"post":{"operationId":"enableSharing","summary":"Enable sharing","tags":["Recording Management"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sharing enabled"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"disableSharing","summary":"Disable sharing","tags":["Recording Management"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recording_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sharing disabled"},"401":{"description":"Unauthorized"}}}},"/websites/{website_id}/pagelist":{"get":{"operationId":"listHeatmapPages","summary":"List heatmap pages","tags":["Heatmaps"],"parameters":[{"name":"website_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer"}},{"name":"offset","in":"query","schema":{"type":"integer"}}],"responses":{"200":{"description":"Heatmap pages"},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic"}}},"security":[{"basicAuth":[]}]}
