{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoho Invoice API",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://www.zohoapis.com/invoice/v3"
    }
  ],
  "paths": {
    "/contacts/contactpersons": {
      "post": {
        "tags": [
          "contact-persons"
        ],
        "operationId": "create_contact_person",
        "summary": "Create a contact person",
        "description": "Create a contact person for contact.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-contact-person-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-contact-person-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/contactpersons/{contact_person_id}": {
      "put": {
        "tags": [
          "contact-persons"
        ],
        "operationId": "update_contact_person",
        "summary": "Update a contact person",
        "description": "Update details of an existing contact person.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-a-contact-person-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-a-contact-person-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "contact-persons"
        ],
        "operationId": "delete_contact_person",
        "summary": "Delete a contact person",
        "description": "Delete an existing contact person.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-contact-person-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_person_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact person.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026051
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/contactpersons": {
      "get": {
        "tags": [
          "contact-persons"
        ],
        "operationId": "list_contact_persons",
        "summary": "List contact persons",
        "description": "List all contacts with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-contact-persons-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/contactpersons/{contact_person_id}": {
      "get": {
        "tags": [
          "contact-persons"
        ],
        "operationId": "get_contact_person",
        "summary": "Get a contact person",
        "description": "Get the details of a contact person.",
        "parameters": [
          {
            "name": "contact_person_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the contact person.",
            "schema": {
              "type": "string"
            },
            "example": 460000000026051
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-a-contact-person-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/contactpersons/{contact_person_id}/primary": {
      "post": {
        "tags": [
          "contact-persons"
        ],
        "operationId": "mark_contact_person_as_primary",
        "summary": "Mark as primary contact person",
        "description": "Mark a contact person as primary for contact.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mark-as-primary-contact-person-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_person_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact person.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026051
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "create_contact",
        "summary": "Create a Contact",
        "description": "Create a contact with given information.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-contact-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-contact-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "list_contacts",
        "summary": "List Contacts",
        "description": "List all contacts with pagination.",
        "parameters": [
          {
            "name": "contact_name",
            "in": "query",
            "description": "Search contacts by contact name. <code>Maximum length [100]</code> Variants: <code>contact_name_startswith</code> and <code>contact_name_contains</code>. Maximum length [100]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bowman and Co"
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Search contacts by company name. <code>Maximum length [100]</code> Variants: <code>company_name_startswith</code> and <code>company_name_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bowman and Co"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "Search contacts by first name of the contact person. <code>Maximum length [100]</code> Variants: <code>first_name_startswith</code> and <code>first_name_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Will"
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Search contacts by last name of the contact person. <code>Maximum length [100]</code> Variants: <code>last_name_startswith</code> and <code>last_name_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Smith"
          },
          {
            "name": "address",
            "in": "query",
            "description": "Search contacts by any of the address fields. <code>Maximum length [100]</code> Variants: <code>address_startswith</code> and <code>address_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "4900 Hopyard Rd, Suite 310"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Search contacts by email id of the contact person. <code>Maximum length [100]</code> Variants: <code>address_startswith</code> and <code>address_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "test@zylker.org"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Search contacts by phone number of the contact person. <code>Maximum length [100]</code> Variants: <code>phone_startswith</code> and <code>phone_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1234"
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Filter contacts by status. Allowed Values: <code>Status.All, Status.Active, Status.Inactive, Status.Duplicate and Status.Crm</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Search contacts by contact name or notes. <code>Maximum length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "Sort contacts. Allowed Values: <code>contact_name, first_name, last_name, email, outstanding_receivable_amount, created_time and last_modified_time</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "contact_name"
          },
          {
            "name": "zcrm_contact_id",
            "in": "query",
            "description": "CRM Contact ID for the contact.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 460000000026049
          },
          {
            "name": "zcrm_account_id",
            "in": "query",
            "description": "CRM Account ID for the contact.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 460000000026049
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-contacts-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}": {
      "put": {
        "tags": [
          "contacts"
        ],
        "operationId": "update_contact",
        "summary": "Update a Contact",
        "description": "Update an existing contact. To delete a contact person remove it from the contact_persons list.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-a-contact-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-a-contact-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.UPDATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "get_contact",
        "summary": "Get a Contact",
        "description": "Get details of a Contact.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-a-contact-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "operationId": "delete_contact",
        "summary": "Delete a Contact",
        "description": "Delete an existing Contact.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-contact-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/active": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "mark_as_contact_active",
        "summary": "Mark as Active",
        "description": "Mark a contact as active.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mark-as-active-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/inactive": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "mark_as_contact_inactive",
        "summary": "Mark as Inactive",
        "description": "Mark a contact as inactive.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mark-as-inactive-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/portal/enable": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "enable_portal_access",
        "summary": "Enable Portal Access",
        "description": "Enable Portal Access for a Contact.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/enable-portal-access-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/enable-portal-access-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/clientreviews": {
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "list_client_reviews",
        "summary": "View All Client Reviews",
        "description": "View the list of all client reviews for a particular contact.",
        "parameters": [
          {
            "name": "contact_id",
            "in": "query",
            "description": "Unique ID of a particular contact.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 460000000026049
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/view-all-client-reviews-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/clientreviews/{comment_id}": {
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "get_client_review",
        "summary": "Details of a Particular Client Review",
        "description": "View the details of a particular client review.",
        "parameters": [
          {
            "name": "contact_id",
            "in": "query",
            "description": "Unique ID of a particular contact.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 460000000026049
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/details-of-a-particular-client-review-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "comment_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the comment.",
          "schema": {
            "type": "string"
          },
          "example": 460000000053131
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/clientreviews/{comment_id}/comment": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "create_client_review_comment",
        "summary": "Reply a Client Review",
        "description": "Send a reply to a client's review.",
        "parameters": [
          {
            "name": "contact_id",
            "in": "query",
            "description": "Unique ID of a particular contact.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 460000000026049
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reply-a-client-review-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reply-a-client-review-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "comment_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the comment.",
          "schema": {
            "type": "string"
          },
          "example": 460000000053131
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/paymentreminder/enable": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "enable_payment_reminders",
        "summary": "Enable Payment Reminders",
        "description": "Enable automated payment reminders for a contact.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/enable-payment-reminders-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/paymentreminder/disable": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "disable_payment_reminders",
        "summary": "Disable Payment Reminders",
        "description": "Disable automated payment reminders for a contact.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/disable-payment-reminders-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/statements/email": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "email_statement",
        "summary": "Email Statement",
        "description": "Email statement to the contact. If JSONString is not inputted, mail will be sent with the default mail content.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "If start_date and end_date are not given, current month's statement will be sent to contact. <code>Date format [yyyy-mm-dd]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for the statement. <code>Date format [yyyy-mm-dd]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "multipart_or_formdata",
            "in": "query",
            "description": "Files to be attached along with the statement.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "file"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email-statement-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email-statement-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "get_statement_mail_content",
        "summary": "Get Statement Mail Content",
        "description": "Get the mail content of a contacts billing statement.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "If start_date and end_date are not given, current month's statement will be sent to contact. <code>Date format [yyyy-mm-dd]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for the statement. <code>Date format [yyyy-mm-dd]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-statement-mail-content-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/email": {
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "email_contact",
        "summary": "Email Contact",
        "description": "Send email to contact.",
        "parameters": [
          {
            "name": "send_customer_statement",
            "in": "query",
            "description": "Send customer statement pdf with email.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email-contact-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email-contact-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/comments": {
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "list_contact_comments",
        "summary": "List Comments",
        "description": "List recent activities of a contact.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-comments-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/address": {
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "get_contact_addresses",
        "summary": "Get Contact Addresses",
        "description": "Get addresses of a contact including its Shipping Address, Billing Address and other additional addresses.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-contact-addresses-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "operationId": "create_additional_address",
        "summary": "Add Additional Address",
        "description": "Add an additional address for a contact using the arguments below.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/add-additional-address-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/add-additional-address-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/address/{address_id}": {
      "put": {
        "tags": [
          "contacts"
        ],
        "operationId": "update_additional_address",
        "summary": "Edit Additional Address",
        "description": "Edit the additional address of a contact using the arguments below.",
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the address.",
            "schema": {
              "type": "string"
            },
            "example": 1053791000000186000
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edit-additional-address-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/edit-additional-address-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "operationId": "delete_additional_address",
        "summary": "Delete Additional Address",
        "description": "Delete the additional address of a contact.",
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the address.",
            "schema": {
              "type": "string"
            },
            "example": 1053791000000186000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-additional-address-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/contacts/{contact_id}/refunds": {
      "get": {
        "tags": [
          "contacts"
        ],
        "operationId": "list_contact_refunds",
        "summary": "List Refunds",
        "description": "List the refund history of a contact.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-refunds-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.contacts.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact.",
          "schema": {
            "type": "string"
          },
          "example": 460000000026049
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes": {
      "post": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "create_credit_note",
        "summary": "Create a credit note",
        "description": "Details of an existing creditnote.",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "query",
            "description": "Invoice ID of the required invoice.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "90300000079426"
          },
          {
            "name": "ignore_auto_number_generation",
            "in": "query",
            "description": "Set to true if you need to provide your own credit note number.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-credit-note-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "list_credit_notes",
        "summary": "List Credit Notes",
        "description": "List all the Credit Notes.",
        "parameters": [
          {
            "name": "creditnote_number",
            "in": "query",
            "description": "Unique number generated (starts with CN) which will be displayed in the interface and credit notes. <code>Maximum Length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "CN-29"
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date on which credit note is raised. <code>Date Format [yyyy-mm-dd]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2016-06-05"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the credit note. This can be <code>open</code>, <code>closed</code> or <code>void</code>.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "open"
          },
          {
            "name": "total",
            "in": "query",
            "description": "Total credits raised in this credit note.",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 450
          },
          {
            "name": "reference_number",
            "in": "query",
            "description": "Reference number generated for the payment. A string of your choice can also be used as the reference number. <code>Maximum Length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "INV-384"
          },
          {
            "name": "customer_name",
            "in": "query",
            "description": "Name of the customer to whom the credit note is raised. <code>Maximum Length of the name [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bowman Furniture"
          },
          {
            "name": "item_name",
            "in": "query",
            "description": "Search credit notes by item name. <code>Maximum length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "kit"
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Customer ID of the customer for whom the credit note is raised.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "903000000000099"
          },
          {
            "name": "item_description",
            "in": "query",
            "description": "description for the item. Variants <code>item_description_startswith</code> and <code>item_description_contains</code>. <code>Maximum length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "Unique string generated for the item to which a refund is to be made.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "90300000081501"
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Filter credit notes by status. Allowed values <code>Status.All</code> <code>Status.Open</code> <code>Status.Draft</code> <code>Status.Closed</code> and <code>Status.Void</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Search credit notes by credit note number or customer name or credit note reference number. <code>Maximum length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "Sort credit notes by following columns customer_name, creditnote_number, balance, total, date and created_time. Allowed Values <code>customer_name</code> <code>creditnote_number</code> <code>balance</code> <code>total</code> <code>date</code> and <code>created_time</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "created_time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-credit-notes-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}": {
      "put": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "update_credit_note",
        "summary": "Update a credit note",
        "description": "Update Details of an existing creditnote.",
        "parameters": [
          {
            "name": "ignore_auto_number_generation",
            "in": "query",
            "description": "Set to true if you need to provide your own credit note number.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-a-credit-note-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-a-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.UPDATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "get_credit_note",
        "summary": "Get a credit note",
        "description": "Details of an existing creditnote.",
        "parameters": [
          {
            "name": "print",
            "in": "query",
            "description": "Export credit note pdf with default print option. Allowed Values: <code>true</code>, <code>false</code>, <code>on</code> and <code>off</code>",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "accept",
            "in": "query",
            "description": "You can get credit note details as json/pdf/html. Default format is html. Allowed Values: <code>json</code>, <code>pdf</code> and <code>html</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-a-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "delete_credit_note",
        "summary": "Delete a credit note",
        "description": "Delete an existing credit note.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/email": {
      "post": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "email_credit_note",
        "summary": "Email a credit note",
        "description": "Email a credit note.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "description": "Customer ID of the customer for whom the credit note is raised.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "903000000000099"
          },
          {
            "name": "attachments",
            "in": "query",
            "description": "The files to be attached with the email.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "binary"
            },
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email-a-credit-note-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email-a-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/void": {
      "post": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "mark_credit_note_as_void",
        "summary": "Void a credit note",
        "description": "To mark a credit note as invalid/nullify it content.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/void-a-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/converttoopen": {
      "post": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "mark_credit_note_as_open",
        "summary": "Open a voided credit note",
        "description": "Convert a voided credit note to open.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/open-a-voided-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/emailhistory": {
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "get_credit_note_email_history",
        "summary": "Email history",
        "description": "Get email history of a credit code.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email-history-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/address/billing": {
      "put": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "update_credit_note_billing_address",
        "summary": "Update billing address",
        "description": "Updates the billing address for an existing credit note alone.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-billing-address-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-billing-address-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.UPDATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/address/shipping": {
      "put": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "update_credit_note_shipping_address",
        "summary": "Update Shipping address",
        "description": "Updates the shipping address for an existing credit note alone.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-shipping-address-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-shipping-address-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.UPDATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/templates": {
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "list_credit_note_templates",
        "summary": "List credit note templates",
        "description": "Get all credit note pdf templates.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-credit-note-templates-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/templates/{template_id}": {
      "put": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "update_credit_note_template",
        "summary": "Update a credit note template",
        "description": "Update the pdf template associated with the credit note.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the credit note template.",
            "schema": {
              "type": "string"
            },
            "example": "90300000001336"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-a-credit-note-template-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.UPDATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/invoices": {
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "list_invoices_credited",
        "summary": "List invoices credited",
        "description": "List invoices to which the credit note is applied.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-invoices-credited-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "apply_credit_to_invoice",
        "summary": "Credit to an invoice",
        "description": "Apply credit note to existing invoices.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/credit-to-an-invoice-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credit-to-an-invoice-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/invoices/{creditnote_invoice_id}": {
      "delete": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "delete_credit_notes_applied_to_invoice",
        "summary": "Delete invoices credited",
        "description": "Delete the credits applied to an invoice.",
        "parameters": [
          {
            "name": "creditnote_invoice_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the credit note invoice.",
            "schema": {
              "type": "string"
            },
            "example": "982000000567172"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-invoices-credited-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/comments": {
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "list_credit_note_comments",
        "summary": "List credit note comments & history",
        "description": "Get history and comments of a credit note.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-credit-note-comments-and-history-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "create_credit_note_comment",
        "summary": "Add a comment",
        "description": "Add a comment to an existing credit note.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/add-a-comment-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/add-a-comment-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/comments/{comment_id}": {
      "delete": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "delete_credit_note_comment",
        "summary": "Delete a Comment",
        "description": "Delete a credit note comment.",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the comment.",
            "schema": {
              "type": "string"
            },
            "example": "982000000570001"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-comment-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "name": "comment_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the comment.",
          "schema": {
            "type": "string"
          },
          "example": "982000000570001"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/refunds": {
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "list_credit_note_refunds",
        "summary": "List credit note refunds",
        "description": "List all refunds with pagination.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "description": "Customer ID of the customer for whom the credit note is raised.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "903000000000099"
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "Sort refunds list. Allowed Values: <code>refund_mode</code>, <code>reference_number</code>, <code>date</code>, <code>creditnote_number</code>, <code>customer_name</code>, <code>amount_bcy</code> and <code>amount_fcy</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "created_time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-credit-note-refunds-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/refunds": {
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "list_credit_note_refunds_of_a_credit_note",
        "summary": "List refunds of a credit note",
        "description": "List all refunds of an existing credit note.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-refunds-of-a-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "refund_credit_note",
        "summary": "Refund credit note",
        "description": "Refund credit note amount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refund-credit-note-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refund-credit-note-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/creditnotes/{creditnote_id}/refunds/{creditnote_refund_id}": {
      "get": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "get_credit_note_refund",
        "summary": "Get credit note refund",
        "description": "Get refund of a particular credit note.",
        "parameters": [
          {
            "name": "creditnote_refund_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the credit note refund.",
            "schema": {
              "type": "string"
            },
            "example": "982000000567158"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-credit-note-refund-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "update_credit_note_refund",
        "summary": "Update credit note refund",
        "description": "Update the refunded transaction.",
        "parameters": [
          {
            "name": "creditnote_refund_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the credit note refund.",
            "schema": {
              "type": "string"
            },
            "example": "982000000567158"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-credit-note-refund-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-credit-note-refund-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "credit-notes"
        ],
        "operationId": "delete_credit_note_refund",
        "summary": "Delete credit note refund",
        "description": "Delete a credit note refund.",
        "parameters": [
          {
            "name": "creditnote_refund_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the credit note refund.",
            "schema": {
              "type": "string"
            },
            "example": "982000000567158"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-credit-note-refund-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.creditnotes.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "creditnote_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the credit note.",
          "schema": {
            "type": "string"
          },
          "example": "90300000072369"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/currencies": {
      "post": {
        "tags": [
          "currency"
        ],
        "operationId": "create_currency",
        "summary": "Create a Currency",
        "description": "Create a currency for transaction.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-currency-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "currency"
        ],
        "operationId": "list_currencies",
        "summary": "List Currencies",
        "description": "Get list of currencies configured.",
        "parameters": [
          {
            "name": "filter_by",
            "in": "query",
            "description": "Filter currencies excluding base currency. Allowed Values: <code>Currencies.ExcludeBaseCurrency</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be fetched. Default value is 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records to be fetched per page. Default value is 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "example": 200
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-currencies-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.READ"
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/currencies/{currency_id}": {
      "put": {
        "tags": [
          "currency"
        ],
        "operationId": "update_currency",
        "summary": "Update a Currency",
        "description": "Update the details of a currency.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-a-currency-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.UPDATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "currency"
        ],
        "operationId": "get_currency",
        "summary": "Get a Currency",
        "description": "Get the details of a currency.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.READ"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "currency"
        ],
        "operationId": "delete_currency",
        "summary": "Delete a currency",
        "description": "Delete a currency. Currency that is associated to any transaction cannot be deleted.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-a-currency-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "currency_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the currency.",
          "schema": {
            "type": "string"
          },
          "example": "982000000004012"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/currencies/{currency_id}/exchangerates": {
      "get": {
        "tags": [
          "currency"
        ],
        "operationId": "list_exchange_rates",
        "summary": "List exchange rates",
        "description": "List of exchange rates configured for the currency.",
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "description": "Returns the exchange rate details from the given date or from previous closest match in the absence of the exchange rate on the given date.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2017-01-02"
          },
          {
            "name": "is_current_date",
            "in": "query",
            "description": "To return the exchange rate only if available for current date.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "Sorts the exchange rate according to this column. Allowed Values : <code>effective_date</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-exchange-rates-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.READ"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "currency"
        ],
        "operationId": "create_exchange_rate",
        "summary": "Create an exchange rate",
        "description": "Create an exchange rate for the specified currency.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-an-exchange-rate-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-an-exchange-rate-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.CREATE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "currency_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the currency.",
          "schema": {
            "type": "string"
          },
          "example": "982000000004012"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/settings/currencies/{currency_id}/exchangerates/{exchange_rate_id}": {
      "get": {
        "tags": [
          "currency"
        ],
        "operationId": "get_exchange_rate",
        "summary": "Get an exchange rate.",
        "description": "Get the details of an exchange rate that has been asscoiated to the currency.",
        "parameters": [
          {
            "name": "exchange_rate_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the exchange rate.",
            "schema": {
              "type": "string"
            },
            "example": "460000000038035"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-an-exchange-rate-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.READ"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "currency"
        ],
        "operationId": "update_exchange_rate",
        "summary": "Update an exchange rate",
        "description": "Update the details of exchange rate for a currency.",
        "parameters": [
          {
            "name": "exchange_rate_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the exchange rate.",
            "schema": {
              "type": "string"
            },
            "example": "460000000038035"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-an-exchange-rate-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/update-an-exchange-rate-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.UPDATE"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "currency"
        ],
        "operationId": "delete_exchange_rate",
        "summary": "Delete an exchage rate",
        "description": "Delete an exchange rate for the specified currency.",
        "parameters": [
          {
            "name": "exchange_rate_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the exchange rate.",
            "schema": {
              "type": "string"
            },
            "example": "460000000038035"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete-an-exchage-rate-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.settings.DELETE"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "currency_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the currency.",
          "schema": {
            "type": "string"
          },
          "example": "982000000004012"
        },
        {
          "$ref": "#/components/parameters/organization_id"
        }
      ]
    },
    "/customerpayments": {
      "post": {
        "tags": [
          "customer-payments"
        ],
        "operationId": "create_customer_payment",
        "summary": "Create a payment",
        "description": "Create a new payment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-a-payment-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-a-payment-response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Zoho_Auth": [
              "ZohoInvoice.customerpayments.CREATE"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "customer-payments"
        ],
        "operationId": "list_customer_payments",
        "summary": "List Customer Payments",
        "description": "List all the payments made by your customer.",
        "parameters": [
          {
            "name": "customer_name",
            "in": "query",
            "description": "Search payments by customer name. Variants: <code>customer_name_startswith</code> and <code>customer_name_contains</code>. <code>Maximum length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bowman Furniture"
          },
          {
            "name": "reference_number",
            "in": "query",
            "description": "Search payments by reference number. Variants: <code>reference_number_startswith</code> and <code>reference_number_contains</code>. <code>Maximum length [100]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "INV-384"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date on which payment is made. <code>Date Format [yyyy-mm-dd]</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2016-06-05"
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Search payments by payment amount. Variants: <code>amount_less_than</code>, <code>amount_less_equals</code>, <code>amount_greater_than</code> and <code>amount_greater_equals</code>",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 450
          },
          {
            "name": "notes",
            "in": "query",
            "description": "Search payments by customer notes. Variants: <code>notes_startswith</code> and <code>notes_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "payment_mode",
            "in": "query",
            "description": "Search payments by payment mode. Variants: <code>payment_mode_startswith</code> and <code>payment_mode_contains</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "cash"
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Filter payments by mode.Allowed Values: <code>PaymentMode.All</code>, <code>PaymentMode.Check</code>, <code>PaymentMode.Cash</code>, <code>PaymentMode.BankTransfer</code>, <code>PaymentMode.Paypal</code>, <code>PaymentMode.CreditCard</code>, <code>PaymentMode.GoogleCheckout</code>, <code>PaymentMode.Credit</code>, <code>PaymentMode.Authorizenet</code>, <code>PaymentMode.BankRemittance</code>, <code>PaymentMode.Payflowpro</code>, <code>PaymentMode.Stripe</code>, <code>PaymentMode.TwoCheckout</code>, <code>PaymentMode.Braintree</code> and <code>PaymentMode.Others</code>",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "Sort based on selected column",
            "required": false,
[...]
