{
  "openapi": "3.0.0",
  "info": {
    "description": "API de predi\u00e7\u00e3o Mil\u00eanio Bus para Radartona\n",
    "version": "1.0.0-oas3",
    "title": "API Mil\u00eanio Bus Radartona - Predi\u00e7\u00e3o",
    "contact": {
      "email": "willian.chan@mileniobus.com.br"
    },
    "license": {
      "name": "GNU GPL v3.0",
      "url": "http://www.gnu.org/licenses/gpl-3.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/willianchan/API_Milenio_Bus_Radartona_Predicao/1.0.0-oas3/swagger.json"
  },
  "tags": [
    {
      "name": "Predi\u00e7\u00e3o",
      "description": "Rotas de predi\u00e7\u00e3o de dados"
    }
  ],
  "paths": {
    "/predict": {
      "get": {
        "tags": [
          "Predi\u00e7\u00e3o"
        ],
        "summary": "Obtem predi\u00e7\u00e3o de velocidade baseado em radar, horario e clima",
        "operationId": "predict",
        "parameters": [
          {
            "in": "query",
            "name": "id_radar",
            "description": "identifica\u00e7\u00e3o do radar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "ano",
            "description": "ano de predi\u00e7\u00e3o",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "mes",
            "description": "mes de predi\u00e7\u00e3o",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "dia",
            "description": "dia de predi\u00e7\u00e3o",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "hora",
            "description": "hora de predi\u00e7\u00e3o",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "minuto",
            "description": "minuto de predi\u00e7\u00e3o",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "velocidade_maxima",
            "description": "velocidade maxima permitida na via do radar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "chuva",
            "description": "Booleano se esta chovendo",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApiResponse"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "http://ec2-52-90-7-220.compute-1.amazonaws.com/"
    }
  ],
  "components": {
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "velocidade": {
            "type": "number",
            "example": 47
          }
        }
      }
    }
  }
}