{
  "openapi": "3.0.3",
  "info": {
    "title": "Elastic Email API",
    "version": "4.0.0",
    "description": "Elastic Email API provides email sending, campaign management, contact management, and reporting capabilities. Send transactional and marketing emails via RESTful API.",
    "contact": {
      "name": "Elastic Email Support",
      "url": "https://elasticemail.com/support"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/ElasticEmail/elasticemail-go/master/openapi.yaml"
  },
  "servers": [
    { "url": "https://api.elasticemail.com/v4" }
  ],
  "security": [
    { "apikey": [] }
  ],
  "tags": [
    { "name": "Emails", "description": "Email sending operations" },
    { "name": "Campaigns", "description": "Campaign management" },
    { "name": "Contacts", "description": "Contact list management" },
    { "name": "Lists", "description": "Mailing list operations" },
    { "name": "Statistics", "description": "Reporting and statistics" },
    { "name": "Templates", "description": "Email template management" }
  ],
  "paths": {
    "/emails": {
      "post": {
        "operationId": "EmailsSend",
        "tags": ["Emails"],
        "summary": "Send Email",
        "description": "Prepare and send email. It's not needed to maintain your own SMTP server. Just provide us your email data and we'll take care of the rest.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailMessageData" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EmailSend" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/emails/transactional": {
      "post": {
        "operationId": "EmailsTransactionalSend",
        "tags": ["Emails"],
        "summary": "Send Bulk Email",
        "description": "Send transactional emails in bulk using a template or supplied content.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailTransactionalMessageData" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EmailSend" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "CampaignsList",
        "tags": ["Campaigns"],
        "summary": "Load Campaigns",
        "description": "Returns a list of all your campaigns. Required Access Level: ViewCampaigns",
        "parameters": [
          { "name": "search", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 20 } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Campaign" }
                }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "operationId": "CampaignsPost",
        "tags": ["Campaigns"],
        "summary": "Add Campaign",
        "description": "Add a campaign for processing. Required Access Level: ModifyCampaigns",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Campaign" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Campaign" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/campaigns/{name}": {
      "get": {
        "operationId": "CampaignsByNameGet",
        "tags": ["Campaigns"],
        "summary": "Load Campaign",
        "description": "Returns the specified campaign details. Required Access Level: ViewCampaigns",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Campaign" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      },
      "put": {
        "operationId": "CampaignsByNamePut",
        "tags": ["Campaigns"],
        "summary": "Update Campaign",
        "description": "Updates a previously added campaign. Required Access Level: ModifyCampaigns",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Campaign" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Campaign" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "operationId": "CampaignsByNameDelete",
        "tags": ["Campaigns"],
        "summary": "Delete Campaign",
        "description": "Delete the specific campaign. Deleted campaign cannot be recovered. Required Access Level: ModifyCampaigns",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "ContactsList",
        "tags": ["Contacts"],
        "summary": "Load Contacts",
        "description": "Returns a list of contacts. Required Access Level: ViewContacts",
        "parameters": [
          { "name": "listName", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Contact" }
                }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "operationId": "ContactsPost",
        "tags": ["Contacts"],
        "summary": "Add Contact",
        "description": "Add new Contacts to your Lists. Up to 1000 can be added (for more import CSV). Required Access Level: ModifyContacts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ContactPayload" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Contact" }
                }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/contacts/{email}": {
      "get": {
        "operationId": "ContactsByEmailGet",
        "tags": ["Contacts"],
        "summary": "Load Contact",
        "description": "Load detailed contact information for specified email. Required Access Level: ViewContacts",
        "parameters": [
          { "name": "email", "in": "path", "required": true, "schema": { "type": "string", "format": "email" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "operationId": "ContactsByEmailDelete",
        "tags": ["Contacts"],
        "summary": "Delete Contact",
        "description": "Permanently deletes the contact from all your lists. Required Access Level: ModifyContacts",
        "parameters": [
          { "name": "email", "in": "path", "required": true, "schema": { "type": "string", "format": "email" } }
        ],
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "ListsList",
        "tags": ["Lists"],
        "summary": "Load Lists",
        "description": "Returns all your existing lists. Required Access Level: ViewContacts",
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ContactList" }
                }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "operationId": "ListsPost",
        "tags": ["Lists"],
        "summary": "Add List",
        "description": "Add a new list. Required Access Level: ModifyContacts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListPayload" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactList" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/statistics": {
      "get": {
        "operationId": "StatisticsGet",
        "tags": ["Statistics"],
        "summary": "Load Statistics",
        "description": "Returns basic statistics. Required Access Level: ViewReports",
        "parameters": [
          { "name": "from", "in": "query", "required": true, "schema": { "type": "string", "format": "date-time" } },
          { "name": "to", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LogSummary" }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "TemplatesList",
        "tags": ["Templates"],
        "summary": "Load Templates",
        "description": "Returns a list of your templates. Required Access Level: ViewTemplates",
        "parameters": [
          { "name": "scopeType", "in": "query", "required": false, "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Template" }
                }
              }
            }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ElasticEmail-ApiKey",
        "description": "API key authentication"
      }
    },
    "schemas": {
      "EmailMessageData": {
        "type": "object",
        "required": ["Recipients"],
        "properties": {
          "Recipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EmailRecipient" }
          },
          "Content": { "$ref": "#/components/schemas/EmailContent" },
          "Options": { "$ref": "#/components/schemas/Options" }
        }
      },
      "EmailTransactionalMessageData": {
        "type": "object",
        "required": ["Recipients"],
        "properties": {
          "Recipients": { "$ref": "#/components/schemas/TransactionalRecipient" },
          "Content": { "$ref": "#/components/schemas/EmailContent" },
          "Options": { "$ref": "#/components/schemas/Options" }
        }
      },
      "EmailRecipient": {
        "type": "object",
        "required": ["Email"],
        "properties": {
          "Email": { "type": "string", "format": "email" },
          "Fields": { "type": "object", "additionalProperties": { "type": "string" } }
        }
      },
      "TransactionalRecipient": {
        "type": "object",
        "properties": {
          "To": { "type": "array", "items": { "type": "string" } },
          "CC": { "type": "array", "items": { "type": "string" } },
          "BCC": { "type": "array", "items": { "type": "string" } }
        }
      },
      "EmailContent": {
        "type": "object",
        "properties": {
          "Body": { "type": "array", "items": { "$ref": "#/components/schemas/BodyPart" } },
          "Merge": { "type": "object", "additionalProperties": { "type": "string" } },
          "Attachments": { "type": "array", "items": { "$ref": "#/components/schemas/MessageAttachment" } },
          "Headers": { "type": "object", "additionalProperties": { "type": "string" } },
          "Postback": { "type": "string" },
          "EnvelopeFrom": { "type": "string" },
          "From": { "type": "string" },
          "ReplyTo": { "type": "string" },
          "Subject": { "type": "string" },
          "TemplateName": { "type": "string" }
        }
      },
      "BodyPart": {
        "type": "object",
        "properties": {
          "ContentType": { "type": "string" },
          "Content": { "type": "string" },
          "Charset": { "type": "string" }
        }
      },
      "MessageAttachment": {
        "type": "object",
        "required": ["Name"],
        "properties": {
          "BinaryContent": { "type": "string", "format": "byte" },
          "Name": { "type": "string" },
          "ContentType": { "type": "string" }
        }
      },
      "Options": {
        "type": "object",
        "properties": {
          "TimeOffset": { "type": "integer" },
          "PoolName": { "type": "string" },
          "ChannelName": { "type": "string" },
          "Encoding": { "type": "string" },
          "TrackOpens": { "type": "boolean" },
          "TrackClicks": { "type": "boolean" }
        }
      },
      "EmailSend": {
        "type": "object",
        "properties": {
          "TransactionID": { "type": "string" },
          "MessageID": { "type": "string" }
        }
      },
      "Campaign": {
        "type": "object",
        "required": ["Name"],
        "properties": {
          "Name": { "type": "string" },
          "Status": { "type": "string" },
          "Recipients": { "$ref": "#/components/schemas/CampaignRecipient" },
          "Content": { "type": "array", "items": { "$ref": "#/components/schemas/CampaignTemplate" } },
          "Options": { "$ref": "#/components/schemas/CampaignOptions" },
          "Tracking": { "$ref": "#/components/schemas/CampaignTrackingType" }
        }
      },
      "CampaignRecipient": {
        "type": "object",
        "properties": {
          "ListNames": { "type": "array", "items": { "type": "string" } },
          "SegmentNames": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CampaignTemplate": {
        "type": "object",
        "properties": {
          "Poolname": { "type": "string" },
          "From": { "type": "string" },
          "ReplyTo": { "type": "string" },
          "Subject": { "type": "string" },
          "TemplateName": { "type": "string" },
          "AttachFiles": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CampaignOptions": {
        "type": "object",
        "properties": {
          "DeliveryOptimization": { "type": "string" },
          "TrackOpens": { "type": "boolean" },
          "TrackClicks": { "type": "boolean" },
          "ScheduleFor": { "type": "string", "format": "date-time" }
        }
      },
      "CampaignTrackingType": {
        "type": "string",
        "enum": ["None", "Standard", "Advanced"]
      },
      "Contact": {
        "type": "object",
        "properties": {
          "Email": { "type": "string", "format": "email" },
          "Status": { "type": "string" },
          "FirstName": { "type": "string" },
          "LastName": { "type": "string" },
          "CustomFields": { "type": "object", "additionalProperties": { "type": "string" } },
          "Consent": { "$ref": "#/components/schemas/ConsentData" },
          "Source": { "type": "string" },
          "DateAdded": { "type": "string", "format": "date-time" },
          "DateUpdated": { "type": "string", "format": "date-time" },
          "StatusChangedDate": { "type": "string", "format": "date-time" }
        }
      },
      "ContactPayload": {
        "type": "object",
        "required": ["Email"],
        "properties": {
          "Email": { "type": "string", "format": "email" },
          "Status": { "type": "string" },
          "FirstName": { "type": "string" },
          "LastName": { "type": "string" },
          "CustomFields": { "type": "object", "additionalProperties": { "type": "string" } },
          "Consent": { "$ref": "#/components/schemas/ConsentData" }
        }
      },
      "ConsentData": {
        "type": "object",
        "properties": {
          "ConsentIP": { "type": "string" },
          "ConsentDate": { "type": "string", "format": "date-time" },
          "ConsentTracking": { "type": "string" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "ListName": { "type": "string" },
          "PublicListID": { "type": "string" },
          "DateAdded": { "type": "string", "format": "date-time" },
          "AllowUnsubscribe": { "type": "boolean" }
        }
      },
      "ListPayload": {
        "type": "object",
        "required": ["ListName"],
        "properties": {
          "ListName": { "type": "string" },
          "AllowUnsubscribe": { "type": "boolean" },
          "Emails": { "type": "array", "items": { "type": "string" } }
        }
      },
      "LogSummary": {
        "type": "object",
        "properties": {
          "Recipients": { "type": "integer" },
          "EmailTotal": { "type": "integer" },
          "SmsTotal": { "type": "integer" },
          "Delivered": { "type": "integer" },
          "Bounced": { "type": "integer" },
          "InProgress": { "type": "integer" },
          "Opened": { "type": "integer" },
          "Clicked": { "type": "integer" },
          "Unsubscribed": { "type": "integer" },
          "Complaints": { "type": "integer" },
          "Inbound": { "type": "integer" },
          "ManualCancel": { "type": "integer" },
          "NotDelivered": { "type": "integer" }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "TemplateType": { "type": "string" },
          "Name": { "type": "string" },
          "DateAdded": { "type": "string", "format": "date-time" },
          "Subject": { "type": "string" },
          "Body": { "type": "array", "items": { "$ref": "#/components/schemas/BodyPart" } }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
