{
  "openapi": "3.0.3",
  "info": {
    "title": "Malpedia REST API",
    "description": "Malpedia is a curated malware corpus and threat actor database maintained by Fraunhofer FKIE. The REST API provides access to malware families, threat actors, and related intelligence data.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://malpedia.caad.fkie.fraunhofer.de/api"
  },
  "servers": [
    {
      "url": "https://malpedia.caad.fkie.fraunhofer.de/api",
      "description": "Malpedia API server"
    }
  ],
  "paths": {
    "/get/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get Malpedia version",
        "description": "Returns the current version of the Malpedia database and the timestamp.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Version information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionInfo"
                }
              }
            }
          }
        }
      }
    },
    "/list/actors": {
      "get": {
        "operationId": "listActors",
        "summary": "List all threat actors",
        "description": "Returns a list of all known threat actor names in the Malpedia database.",
        "tags": [
          "Actors"
        ],
        "responses": {
          "200": {
            "description": "List of threat actor names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get/actor/{actor_id}": {
      "get": {
        "operationId": "getActor",
        "summary": "Get threat actor details",
        "description": "Returns detailed information about a specific threat actor.",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "required": true,
            "description": "Threat actor identifier (e.g., apt28)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threat actor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Actor"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Actor not found"
          }
        }
      }
    },
    "/list/families": {
      "get": {
        "operationId": "listFamilies",
        "summary": "List all malware families",
        "description": "Returns a list of all malware family identifiers in the Malpedia database.",
        "tags": [
          "Families"
        ],
        "responses": {
          "200": {
            "description": "List of malware family identifiers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get/family/{family_id}": {
      "get": {
        "operationId": "getFamily",
        "summary": "Get malware family details",
        "description": "Returns detailed information about a specific malware family including URLs, references, and related threat actors.",
        "tags": [
          "Families"
        ],
        "parameters": [
          {
            "name": "family_id",
            "in": "path",
            "required": true,
            "description": "Malware family identifier (e.g., win.cobalt_strike)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Malware family details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Family"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Family not found"
          }
        }
      }
    },
    "/list/samples": {
      "get": {
        "operationId": "listSamples",
        "summary": "List malware samples",
        "description": "Returns a list of malware sample hashes in the database. Requires authentication.",
        "tags": [
          "Samples"
        ],
        "responses": {
          "200": {
            "description": "List of sample hashes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get/sample/{hash}": {
      "get": {
        "operationId": "getSample",
        "summary": "Get malware sample details",
        "description": "Returns details about a specific malware sample by hash.",
        "tags": [
          "Samples"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Sample hash (MD5, SHA1, or SHA256)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sample"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sample not found"
          }
        }
      }
    },
    "/find/actor/{search}": {
      "get": {
        "operationId": "findActor",
        "summary": "Search for threat actors",
        "description": "Search for threat actors by name or alias.",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching threat actors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/find/family/{search}": {
      "get": {
        "operationId": "findFamily",
        "summary": "Search for malware families",
        "description": "Search for malware families by name or alias.",
        "tags": [
          "Families"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching malware families",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/get/yara/{family_id}": {
      "get": {
        "operationId": "getYaraRules",
        "summary": "Get YARA rules for a malware family",
        "description": "Returns YARA rules associated with a specific malware family. Requires authentication.",
        "tags": [
          "YARA"
        ],
        "parameters": [
          {
            "name": "family_id",
            "in": "path",
            "required": true,
            "description": "Malware family identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "YARA rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Family not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VersionInfo": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Database version number"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the version"
          }
        }
      },
      "Actor": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Actor name"
          },
          "description": {
            "type": "string"
          },
          "meta": {
            "type": "object",
            "properties": {
              "refs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "synonyms": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "country": {
                "type": "string"
              }
            }
          },
          "families": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Family": {
        "type": "object",
        "properties": {
          "updated": {
            "type": "string"
          },
          "alt_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "common_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "attribution": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Sample": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "sha256": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication. Format: apitoken <YOUR_API_KEY>"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "System information endpoints"
    },
    {
      "name": "Actors",
      "description": "Threat actor information"
    },
    {
      "name": "Families",
      "description": "Malware family information"
    },
    {
      "name": "Samples",
      "description": "Malware sample data"
    },
    {
      "name": "YARA",
      "description": "YARA rule management"
    }
  ]
}