{
  "openapi": "3.0.3",
  "info": {
    "title": "QuickSend SMS API",
    "version": "1.0.0",
    "description": "QuickSend SMS messaging API for sending single and bulk SMS messages",
    "x-jentic-source-url": "https://quicksend.lk/Client/public_docs/QuickSend%20-%20API%20Documentation.pdf"
  },
  "servers": [
    {
      "url": "https://quicksend.lk/Client"
    }
  ],
  "paths": {
    "/api.php": {
      "get": {
        "operationId": "sendSingleSms",
        "summary": "Send single SMS",
        "description": "Send a single SMS message to one recipient",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "FUN",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SEND_SINGLE",
                "SEND_BULK_SAME",
                "SEND_BULK_DIFFERENT",
                "CHECK_BALANCE"
              ]
            }
          },
          {
            "name": "un",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username/email"
          },
          {
            "name": "up",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "senderID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sender identifier"
          },
          {
            "name": "msg",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message content"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient phone number"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS sent successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "up",
        "in": "query"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}