{
  "openapi": "3.0.3",
  "info": {
    "title": "Targa API",
    "description": "Targa AI project management API for creating, managing, and tracking elements including groups, goals, strategies, initiatives, and action items.",
    "version": "1.0.0",
    "contact": {
      "name": "Targa AI",
      "url": "https://targa.ai"
    }
  },
  "servers": [
    {
      "url": "https://production.api.targa.ai",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Elements",
      "description": "Element CRUD operations"
    },
    {
      "name": "History",
      "description": "Element history tracking"
    },
    {
      "name": "Notifications",
      "description": "Notification receiver management"
    }
  ],
  "paths": {
    "/elements": {
      "post": {
        "tags": ["Elements"],
        "summary": "Create an element",
        "description": "Creates a new element such as a group, goal, strategy, initiative, or action item.",
        "operationId": "createElement",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "Account UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateElementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Element created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid assignee or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/elements/{element_id}": {
      "get": {
        "tags": ["Elements"],
        "summary": "Get element by ID",
        "description": "Retrieves a single element by its unique identifier.",
        "operationId": "getElementById",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "description": "Element UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "Account UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Element retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "404": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": ["Elements"],
        "summary": "Update an element",
        "description": "Partially updates an existing element's properties.",
        "operationId": "updateElement",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "description": "Element UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateElementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Element updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Elements"],
        "summary": "Delete an element",
        "description": "Soft deletes an element by setting its state to deleted (3).",
        "operationId": "deleteElement",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "description": "Element UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Element deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "404": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/elements/root/{root_id}": {
      "get": {
        "tags": ["Elements"],
        "summary": "Get element by root ID",
        "description": "Retrieves an element by its root identifier.",
        "operationId": "getElementByRootId",
        "parameters": [
          {
            "name": "root_id",
            "in": "path",
            "required": true,
            "description": "Root element UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Element retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "404": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/elements/history": {
      "get": {
        "tags": ["History"],
        "summary": "Get element history",
        "description": "Retrieves the change history for a specific element.",
        "operationId": "getElementHistory",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "description": "Account UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "element_id",
            "in": "query",
            "required": true,
            "description": "Element UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/elements/notification/recievers/{element_id}": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get element notification receivers",
        "description": "Retrieves the list of users who receive notifications for a specific element.",
        "operationId": "getNotificationReceivers",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "description": "Element UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "description": "Include element creator",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Include element owner",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "watchers",
            "in": "query",
            "required": false,
            "description": "Include element watchers",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "description": "Include element assignee",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "upstream_watchers",
            "in": "query",
            "required": false,
            "description": "Include upstream watchers",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "upstream_assignee",
            "in": "query",
            "required": false,
            "description": "Include upstream assignee",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "downstream_watchers",
            "in": "query",
            "required": false,
            "description": "Include downstream watchers",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "downstream_assignee",
            "in": "query",
            "required": false,
            "description": "Include downstream assignee",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification receivers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Element not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateElementRequest": {
        "type": "object",
        "required": ["name", "type", "status", "account_id"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Element name"
          },
          "type": {
            "type": "integer",
            "description": "Element type: 1=Group, 2=Goal, 3=Strategy, 4=Initiative, 5=Action Item",
            "enum": [1, 2, 3, 4, 5]
          },
          "status": {
            "type": "string",
            "description": "Element status",
            "enum": ["ACTIVE"]
          },
          "scope": {
            "type": "integer",
            "description": "Element scope"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Account UUID"
          },
          "assignee_id": {
            "type": "string",
            "format": "uuid",
            "description": "Assignee user UUID"
          },
          "root_id": {
            "type": "string",
            "format": "uuid",
            "description": "Root element UUID"
          },
          "parent_id": {
            "type": "string",
            "format": "uuid",
            "description": "Parent element UUID"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Due date in ISO format"
          },
          "description": {
            "type": "string",
            "description": "Element description"
          }
        }
      },
      "UpdateElementRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Element name"
          },
          "description": {
            "type": "string",
            "description": "Element description"
          },
          "status": {
            "type": "string",
            "description": "Element status"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Due date in ISO format"
          },
          "assignee_id": {
            "type": "string",
            "format": "uuid",
            "description": "Assignee user UUID"
          },
          "manager_id": {
            "type": "string",
            "format": "uuid",
            "description": "Manager user UUID"
          }
        }
      },
      "Element": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid",
            "description": "Element unique identifier"
          },
          "root_id": {
            "type": "string",
            "format": "uuid",
            "description": "Root element identifier"
          },
          "parent_id": {
            "type": "string",
            "format": "uuid",
            "description": "Parent element identifier"
          },
          "name": {
            "type": "string",
            "description": "Element name"
          },
          "type": {
            "type": "integer",
            "description": "Element type: 1=Group, 2=Goal, 3=Strategy, 4=Initiative, 5=Action Item",
            "enum": [1, 2, 3, 4, 5]
          },
          "description": {
            "type": "string",
            "description": "Element description"
          },
          "status": {
            "type": "string",
            "description": "Element status"
          },
          "state": {
            "type": "integer",
            "description": "Element state: 1=active, 3=deleted"
          },
          "scope": {
            "type": "integer",
            "description": "Element scope"
          },
          "assignee": {
            "$ref": "#/components/schemas/User"
          },
          "created_by": {
            "$ref": "#/components/schemas/User"
          },
          "modified_by": {
            "$ref": "#/components/schemas/User"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Due date"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp in milliseconds"
          },
          "modified_at": {
            "type": "integer",
            "format": "int64",
            "description": "Last modification timestamp in milliseconds"
          },
          "path": {
            "type": "string",
            "description": "Element path in the hierarchy"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid",
            "description": "User unique identifier"
          },
          "first_name": {
            "type": "string",
            "description": "User first name"
          },
          "last_name": {
            "type": "string",
            "description": "User last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          }
        }
      },
      "HistoryRecord": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "History record identifier"
          },
          "element_id": {
            "type": "string",
            "format": "uuid",
            "description": "Element identifier"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Account identifier"
          },
          "changed_by": {
            "$ref": "#/components/schemas/User"
          },
          "changes": {
            "type": "object",
            "description": "Object describing the changes made"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Change timestamp in milliseconds"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}