{
  "openapi": "3.0.3",
  "info": {
    "title": "GoTo Webinar API",
    "version": "2.0.0",
    "description": "GoTo Webinar REST API v2 allows you to manage webinars, registrants, attendees, and sessions programmatically.",
    "x-jentic-source-url": "https://developer.goto.com/GoToWebinarV2"
  },
  "servers": [
    {
      "url": "https://api.getgo.com/G2W/rest/v2"
    }
  ],
  "paths": {
    "/organizers/{organizerKey}/webinars": {
      "get": {
        "operationId": "listWebinars",
        "summary": "List webinars",
        "description": "Returns webinars scheduled by the organizer",
        "tags": [
          "Webinars"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Organizer key"
          },
          {
            "name": "fromTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of date range"
          },
          {
            "name": "toTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of date range"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebinarListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebinar",
        "summary": "Create a webinar",
        "tags": [
          "Webinars"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebinarRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webinar created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webinar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizers/{organizerKey}/webinars/{webinarKey}": {
      "get": {
        "operationId": "getWebinar",
        "summary": "Get webinar details",
        "tags": [
          "Webinars"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webinarKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Webinar key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webinar"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWebinar",
        "summary": "Update a webinar",
        "tags": [
          "Webinars"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webinarKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebinarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebinar",
        "summary": "Delete a webinar",
        "tags": [
          "Webinars"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webinarKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizers/{organizerKey}/webinars/{webinarKey}/registrants": {
      "get": {
        "operationId": "listRegistrants",
        "summary": "List registrants",
        "tags": [
          "Registrants"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webinarKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Registrant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRegistrant",
        "summary": "Register for a webinar",
        "tags": [
          "Registrants"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webinarKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRegistrantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registrant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registrant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizers/{organizerKey}/webinars/{webinarKey}/attendees": {
      "get": {
        "operationId": "listAttendees",
        "summary": "List attendees",
        "tags": [
          "Attendees"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webinarKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attendee"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizers/{organizerKey}/webinars/{webinarKey}/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List sessions",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "organizerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webinarKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Webinar": {
        "type": "object",
        "properties": {
          "webinarKey": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "organizerKey": {
            "type": "integer"
          },
          "times": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "startTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "endTime": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "registrationUrl": {
            "type": "string"
          },
          "numberOfRegistrants": {
            "type": "integer"
          },
          "timeZone": {
            "type": "string"
          }
        }
      },
      "WebinarListResponse": {
        "type": "object",
        "properties": {
          "_embedded": {
            "type": "object",
            "properties": {
              "webinars": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Webinar"
                }
              }
            }
          },
          "page": {
            "type": "object",
            "properties": {
              "totalElements": {
                "type": "integer"
              },
              "size": {
                "type": "integer"
              },
              "number": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CreateWebinarRequest": {
        "type": "object",
        "required": [
          "subject",
          "times"
        ],
        "properties": {
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "times": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "startTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "endTime": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "timeZone": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "single_session",
              "series",
              "sequence"
            ]
          }
        }
      },
      "Registrant": {
        "type": "object",
        "properties": {
          "registrantKey": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "registrationDate": {
            "type": "string",
            "format": "date-time"
          },
          "joinUrl": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CreateRegistrantRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Attendee": {
        "type": "object",
        "properties": {
          "registrantKey": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "attendanceTimeInSeconds": {
            "type": "integer"
          },
          "joinTime": {
            "type": "string",
            "format": "date-time"
          },
          "leaveTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "sessionKey": {
            "type": "integer"
          },
          "webinarKey": {
            "type": "integer"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "registrantsAttended": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://authentication.logmeininc.com/oauth/authorize",
            "tokenUrl": "https://authentication.logmeininc.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}