{
  "openapi": "3.0.3",
  "info": {
    "title": "VoIPstudio API",
    "version": "1.2",
    "description": "VoIPstudio REST API provides programmatic access to telephony services.\n\n## Authentication\n\nAll authenticated requests require the `X-Auth-Token` header with your user token.\n\n### Getting a Token\n\n1. **Login**: POST to `/login` with email and password to get a short-lived token (30 min inactivity expiry)\n2. **API Tokens**: Use `/apitokens` endpoint to create long-lived API keys\n\n## Pagination\n\nUse `?page=N&limit=Z` query parameters (max 5000 records per page)\n\n## Filtering\n\nUse `?filter=[{\"property\":\"field\",\"operator\":\"op\",\"value\":\"val\"}]` with operators: eq, ne, lt, lte, gt, gte, in, like, notlike",
    "contact": {
      "url": "https://voipstudio.com/docs/api/introduction/"
    }
  },
  "servers": [
    {
      "url": "https://l7api.com/v1.2/voipstudio"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "Login",
        "operationId": "login",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_token": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apitokens": {
      "post": {
        "summary": "Create API Token",
        "operationId": "createApiToken",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Token name"
                  },
                  "expiry": {
                    "type": "integer",
                    "description": "Expiry in seconds (0 for no expiration)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "summary": "List Calls",
        "operationId": "listCalls",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/history": {
      "get": {
        "summary": "Get History",
        "operationId": "getHistory",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token"
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication and token management"
    },
    {
      "name": "Calls",
      "description": "Call management"
    },
    {
      "name": "Customer",
      "description": "Customer management"
    },
    {
      "name": "History",
      "description": "Call history and reports"
    }
  ]
}