{
  "openapi": "3.0.3",
  "info": {
    "title": "AXA Partners Travel API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://move-portal.axa-assistance.com/static/sandbox-packages/travel.openapi.json",
    "description": "AXA Partners Travel API provides programmatic access to sales resources."
  },
  "servers": [
    {
      "url": "https://sandbox.api.axapartners.com",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/sales/v2/individual/travel/orders": {
      "post": {
        "summary": "Create and store an order.",
        "description": "Cf. summary",
        "x-business-category": "TRAVEL",
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "description": "Accepted language, IANA language codification. If language not managed, \"en\" will be used by default.",
            "schema": {
              "type": "string",
              "example": "en",
              "maxLength": 5
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_code": {
                    "description": "Quote code, partner can use a default value if provided by AXA or\ngot it with quoting API.\n\n**N.B. Required when `global_quote_code` is not defined.**\n",
                    "type": "string",
                    "maxLength": 2000,
                    "example": "eJytUE1PwzAM/S85d6iFfYgeEUMgcUDALlwsr3FLUOoUN5k2TfvvJN2ASpyQdrTfh9"
                  },
                  "global_quote_code": {
                    "description": "Quote code to return all matching products. Use this code to retrieve the previous quote request\nresults for all products matching with same criteria used.\n\n**N.B. Required when `quote_code` is not defined.**\n",
                    "type": "string",
                    "example": "PVjhRoKMDmmzJQGH9NOuwF3zS4mkja9+XPC8MTGrjf6i+fU6IQ/ApyFcZF5rkDE1kUjZ8EmX+AEXqGOI",
                    "maxLength": 2000
                  },
                  "product_codes": {
                    "description": "List of selected product codes. ** Should be fulfilled only if global_quote_code is not null **\n",
                    "type": "array",
                    "maxItems": 15,
                    "items": {
                      "type": "string",
                      "maxLength": 255,
                      "example": "axa_italy_catalogue_one_product_base"
                    }
                  },
                  "original_policy_id": {
                    "description": "This field used in renewal context.\nThe original policy identifier.\n",
                    "type": "string",
                    "maxLength": 150,
                    "example": "6c76a339-cda2-4077-9a5f-562e4d01da95"
                  },
                  "related_policy_id": {
                    "description": "This field used in renewal context.\nThe related policy identifier.\n",
                    "type": "string",
                    "maxLength": 150,
                    "example": "7654a339-cda2-4077-9a5f-562e4d01d567"
                  },
                  "agent": {
                    "description": "The agent information.",
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "agent_scope": {
                            "description": "The scope of the agent that create the order.",
                            "type": "string",
                            "example": "HOME/DARTY/France",
                            "maxLength": 150
                          },
                          "agent_reference": {
                            "description": "The agent reference.",
                            "type": "string",
                            "example": "QS23ZED4",
                            "maxLength": 150
                          },
                          "agency_reference": {
                            "description": "The agency reference.",
                            "type": "string",
                            "example": "AGC_007_NORD",
                            "maxLength": 150
                          }
                        }
                      }
                    ]
                  },
                  "addons": {
                    "description": "List of additional option codes that the customer can subscribe in addition to the product.\nNote: There is here only the list of add-ons codes. The contents of each add-on is described in TravelQuotesResponse.Addons section.\n",
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "maxLength": 1000,
                      "example": "eJxVj8FuwjAMht8l5wq1ULapt5J2FRJbUGh6rUIbokgs6UwibUJ99yUrReCT"
                    }
                  },
                  "policy_holder": {
                    "description": "Policy holder.",
                    "allOf": [
                      {
                        "description": "Policy holder",
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "title": {
                                "description": "Civility (Mr, Ms, Miss, Doctor, Professor).",
                                "type": "string",
                                "enum": [
                                  "MR",
                                  "MS",
                                  "MISS",
                                  "DR",
                                  "PR"
                                ],
                                "minLength": 2,
                                "maxLength": 4,
                                "example": "MR"
                              },
                              "first_name": {
                                "description": "First name.",
                                "type": "string",
                                "example": "John",
                                "maxLength": 100
                              },
                              "middle_name": {
                                "description": "Middle name.",
                                "type": "string",
                                "maxLength": 100
                              },
                              "last_name": {
                                "description": "Last name.",
                                "type": "string",
                                "example": "Doe",
                                "maxLength": 100
                              },
                              "birth_date": {
                                "description": "Birth date - ISO 8601 format (YYYY-MM-DD).",
                                "type": "string",
                                "format": "date",
                                "example": "1990-04-25"
                              },
                              "age": {
                                "description": "Age of the person. Only required if needed for the quote and no birth_date is provided.",
                                "type": "integer",
                                "example": 33
                              },
                              "additional_information": {
                                "description": "Additional information filled by the partner if needed\n(example : Passport number, Hotel room number...).\n",
                                "type": "array",
                                "maxItems": 1000,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "description": "Information code.",
                                      "type": "string",
                                      "maxLength": 50
                                    },
                                    "value": {
                                      "description": "Information value.",
                                      "type": "string",
                                      "maxLength": 255
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "value"
                                  ]
                                },
                                "example": [
                                  {
                                    "code": "PASSPORT_NUMBER",
                                    "value": "A1455CDH"
                                  }
                                ]
                              }
                            }
                          },
                          {
                            "properties": {
                              "spoken_language": {
                                "description": "Spoken language, IANA language codification.",
                                "type": "string",
                                "example": "en",
                                "maxLength": 5
                              },
                              "phone": {
                                "description": "Phone number.\n** Required if preferred_communication_channel contain _SMS_ **\n",
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "international_prefix": {
                                        "description": "Prefix to be added to be called from abroad.",
                                        "type": "string",
                                        "maxLength": 10
                                      },
                                      "number": {
                                        "description": "Phone number. Can be local or international.",
                                        "type": "string",
                                        "maxLength": 20
                                      }
                                    },
                                    "required": [
                                      "number"
                                    ]
                                  }
                                ],
                                "example": [
                                  {
                                    "international_prefix": "+33",
                                    "number": "0651201190"
                                  }
                                ]
                              },
                              "address": {
                                "description": "Postal address",
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "street_address": {
                                        "description": "Street address.",
                                        "type": "string",
                                        "example": "150 Avenue de Paris",
                                        "maxLength": 100
                                      },
                                      "postal_code": {
                                        "description": "Postal code or zip code.",
                                        "type": "string",
                                        "example": "75001",
                                        "maxLength": 20
                                      },
                                      "city": {
                                        "description": "City.",
                                        "type": "string",
                                        "example": "Paris",
                                        "maxLength": 50
                                      },
                                      "country": {
                                        "description": "Country ISO-3166-1 alpha-2 format (2 letter codes).",
                                        "type": "string",
                                        "example": "FR",
                                        "minLength": 2,
                                        "maxLength": 2
                                      }
                                    }
                                  }
                                ]
                              },
                              "is_policy_beneficiary": {
                                "description": "Indicates if the policy holder is also a policy beneficiary.",
                                "type": "boolean"
                              },
                              "email": {
                                "description": "Email address.\n** Required if preferred_communication_channel contain _EMAIL_ **\n",
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "email",
                                    "example": "jonathan.doe@mail.com"
                                  }
                                ],
                                "example": "john.doe@mail.com"
                              },
                              "preferred_communication_channel": {
                                "description": "Communication channel on which the person preferred to be contacted.",
                                "type": "array",
                                "maxItems": 2,
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "EMAIL",
                                    "SMS"
                                  ]
                                },
                                "example": [
                                  "EMAIL",
                                  "SMS"
                                ]
                              },
                              "registrations": {
                                "description": "List of customer registrations.",
                                "type": "array",
                                "maxItems": 2,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "registration_type": {
                                      "description": "Type of person registration.",
                                      "type": "string",
                                      "enum": [
                                        "ID_CARD",
                                        "TAX_REGISTRATION"
                                      ]
                                    },
                                    "value": {
                                      "description": "Value of the registration.",
                                      "maxLength": 20,
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "value"
                                  ]
                                }
                              }
                            }
                          }
                        ],
                        "required": [
                          "preferred_communication_channel"
                        ]
                      }
                    ]
                  },
                  "beneficiaries": {
                    "description": "Beneficiaries list (other than the policy holder if he is also a beneficiary).",
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "description": "Policy beneficiary.",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "title": {
                              "description": "Civility (Mr, Ms, Miss, Doctor, Professor).",
                              "type": "string",
                              "enum": [
                                "MR",
                                "MS",
                                "MISS",
                                "DR",
                                "PR"
                              ],
                              "minLength": 2,
                              "maxLength": 4,
                              "example": "MR"
                            },
                            "first_name": {
                              "description": "First name.",
                              "type": "string",
                              "example": "John",
                              "maxLength": 100
                            },
                            "middle_name": {
                              "description": "Middle name.",
                              "type": "string",
                              "maxLength": 100
                            },
                            "last_name": {
                              "description": "Last name.",
                              "type": "string",
                              "example": "Doe",
                              "maxLength": 100
                            },
                            "birth_date": {
                              "description": "Birth date - ISO 8601 format (YYYY-MM-DD).",
                              "type": "string",
                              "format": "date",
                              "example": "1990-04-25"
                            },
                            "age": {
                              "description": "Age of the person. Only required if needed for the quote and no birth_date is provided.",
                              "type": "integer",
                              "example": 33
                            },
                            "additional_information": {
                              "description": "Additional information filled by the partner if needed\n(example : Passport number, Hotel room number...).\n",
                              "type": "array",
                              "maxItems": 1000,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "description": "Information code.",
                                    "type": "string",
                                    "maxLength": 50
                                  },
                                  "value": {
                                    "description": "Information value.",
                                    "type": "string",
                                    "maxLength": 255
                                  }
                                },
                                "required": [
                                  "code",
                                  "value"
                                ]
                              },
                              "example": [
                                {
                                  "code": "PASSPORT_NUMBER",
                                  "value": "A1455CDH"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "properties": {
                            "age_segment": {
                              "description": "Age Segment.\n\n- ADULT: Adult\n- CHILD: Child\n- INFANT: Infant or baby\n- SENIOR: Senior Citizen or Elderly Person\n",
                              "type": "string",
                              "example": "ADULT",
                              "enum": [
                                "ADULT",
                                "CHILD",
                                "INFANT",
                                "SENIOR"
                              ]
                            }
                          }
                        }
                      ]
                    }
                  },
                  "consents": {
                    "description": "List of consents displayed to the customer.",
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "description": "Customer consent.",
                      "properties": {
                        "code": {
                          "description": "Code of the consent.",
                          "type": "string",
                          "maxLength": 50
                        },
                        "is_confirmed": {
                          "description": "Indicates if the consent has been confirmed by the customer or not.",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "is_confirmed"
                      ]
                    }
                  },
                  "periodicity": {
                    "description": "Selected periodicity for the payment.\nISO 8601 format (R[n]/P18Y9M4DT11H9M8S).\n",
                    "type": "string",
                    "maxLength": 50,
                    "example": "R12/P1M"
                  },
                  "formula": {
                    "description": "Formula selected by the customer.",
                    "type": "string",
                    "maxLength": 50,
                    "example": "1-DAY"
                  }
                }
              }
            }
          },
          "description": "Order information."
        },
        "responses": {
          "201": {
            "description": "Order created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "description": "Unique final order identifier.",
                      "type": "string",
                      "example": "91ff04ed-0352-4e5e-bb83-5c88e7f3cd3a",
                      "maxLength": 150
                    },
                    "original_policy_id": {
                      "description": "This field used in renewal context.\nThe original policy identifier.\n",
                      "type": "string",
                      "maxLength": 150,
                      "example": "6c76a339-cda2-4077-9a5f-562e4d01da95"
                    },
                    "related_policy_id": {
                      "description": "This field used in renewal context.\nThe related policy identifier.\n",
                      "type": "string",
                      "maxLength": 150,
                      "example": "7654a339-cda2-4077-9a5f-562e4d01d567"
                    },
                    "quote_code": {
                      "description": "Quote code, partner can use a default value if provided by AXA or got it with quoting API.",
                      "type": "string",
                      "maxLength": 2000,
                      "example": "eJytUE1PwzAM/S85d6iFfYgeEUMgcUDALlwsr3FLUOoUN5k2TfvvJN2ASpyQdrTfh9"
                    },
                    "product_codes": {
                      "description": "List of selected product codes.",
                      "type": "array",
                      "maxItems": 15,
                      "items": {
                        "type": "string",
                        "maxLength": 255,
                        "example": "axa_italy_catalogue_one_product_base"
                      }
                    },
                    "agent": {
                      "description": "The agent information.",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "agent_scope": {
                              "description": "The scope of the agent that create the order.",
                              "type": "string",
                              "example": "HOME/DARTY/France",
                              "maxLength": 150
                            },
                            "agent_reference": {
                              "description": "The agent reference.",
                              "type": "string",
                              "example": "QS23ZED4",
                              "maxLength": 150
                            },
                            "agency_reference": {
                              "description": "The agency reference.",
                              "type": "string",
                              "example": "AGC_007_NORD",
                              "maxLength": 150
                            }
                          }
                        }
                      ]
                    },
                    "addons": {
                      "description": "List of additional option codes that the customer can subscribe in addition to the product.\nNote: There is here only the list of add-ons codes. The contents of each add-on is described in TravelQuotesResponse.Addons section.\n",
                      "type": "array",
                      "maxItems": 10,
                      "items": {
                        "type": "string",
                        "maxLength": 1000,
                        "example": "eJxVj8FuwjAMht8l5wq1ULapt5J2FRJbUGh6rUIbokgs6UwibUJ99yUrReCT"
                      }
                    },
                    "policy_holder": {
                      "description": "Policy holder.",
                      "allOf": [
                        {
                          "description": "Policy holder",
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "description": "Civility (Mr, Ms, Miss, Doctor, Professor).",
                                  "type": "string",
                                  "enum": [
                                    "MR",
                                    "MS",
                                    "MISS",
                                    "DR",
                                    "PR"
                                  ],
                                  "minLength": 2,
                                  "maxLength": 4,
                                  "example": "MR"
                                },
                                "first_name": {
                                  "description": "First name.",
                                  "type": "string",
                                  "example": "John",
                                  "maxLength": 100
                                },
                                "middle_name": {
                                  "description": "Middle name.",
                                  "type": "string",
                                  "maxLength": 100
                                },
                                "last_name": {
                                  "description": "Last name.",
                                  "type": "string",
                                  "example": "Doe",
                                  "maxLength": 100
                                },
                                "birth_date": {
                                  "description": "Birth date - ISO 8601 format (YYYY-MM-DD).",
                                  "type": "string",
                                  "format": "date",
                                  "example": "1990-04-25"
                                },
                                "age": {
                                  "description": "Age of the person. Only required if needed for the quote and no birth_date is provided.",
                                  "type": "integer",
                                  "example": 33
                                },
                                "additional_information": {
                                  "description": "Additional information filled by the partner if needed\n(example : Passport number, Hotel room number...).\n",
                                  "type": "array",
                                  "maxItems": 1000,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "description": "Information code.",
                                        "type": "string",
                                        "maxLength": 50
                                      },
                                      "value": {
                                        "description": "Information value.",
                                        "type": "string",
                                        "maxLength": 255
                                      }
                                    },
                                    "required": [
                                      "code",
                                      "value"
                                    ]
                                  },
                                  "example": [
                                    {
                                      "code": "PASSPORT_NUMBER",
                                      "value": "A1455CDH"
                                    }
                                  ]
                                }
                              }
                            },
                            {
                              "properties": {
                                "spoken_language": {
                                  "description": "Spoken language, IANA language codification.",
                                  "type": "string",
                                  "example": "en",
                                  "maxLength": 5
                                },
                                "phone": {
                                  "description": "Phone number.\n** Required if preferred_communication_channel contain _SMS_ **\n",
                                  "allOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "international_prefix": {
                                          "description": "Prefix to be added to be called from abroad.",
                                          "type": "string",
                                          "maxLength": 10
                                        },
                                        "number": {
                                          "description": "Phone number. Can be local or international.",
                                          "type": "string",
                                          "maxLength": 20
                                        }
                                      },
                                      "required": [
                                        "number"
                                      ]
                                    }
                                  ],
                                  "example": [
                                    {
                                      "international_prefix": "+33",
                                      "number": "0651201190"
                                    }
                                  ]
                                },
                                "address": {
                                  "description": "Postal address",
                                  "allOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "street_address": {
                                          "description": "Street address.",
                                          "type": "string",
                                          "example": "150 Avenue de Paris",
                                          "maxLength": 100
                                        },
                                        "postal_code": {
                                          "description": "Postal code or zip code.",
                                          "type": "string",
                                          "example": "75001",
                                          "maxLength": 20
                                        },
                                        "city": {
                                          "description": "City.",
                                          "type": "string",
                                          "example": "Paris",
                                          "maxLength": 50
                                        },
                                        "country": {
                                          "description": "Country ISO-3166-1 alpha-2 format (2 letter codes).",
                                          "type": "string",
                                          "example": "FR",
                                          "minLength": 2,
                                          "maxLength": 2
                                        }
                                      }
                                    }
                                  ]
                                },
                                "is_policy_beneficiary": {
                                  "description": "Indicates if the policy holder is also a policy beneficiary.",
                                  "type": "boolean"
                                },
                                "email": {
                                  "description": "Email address.\n** Required if preferred_communication_channel contain _EMAIL_ **\n",
                                  "allOf": [
                                    {
                                      "type": "string",
                                      "format": "email",
                                      "example": "jonathan.doe@mail.com"
                                    }
                                  ],
                                  "example": "john.doe@mail.com"
                                },
                                "preferred_communication_channel": {
                                  "description": "Communication channel on which the person preferred to be contacted.",
                                  "type": "array",
                                  "maxItems": 2,
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "EMAIL",
                                      "SMS"
                                    ]
                                  },
                                  "example": [
                                    "EMAIL",
                                    "SMS"
                                  ]
                                },
                                "registrations": {
                                  "description": "List of customer registrations.",
                                  "type": "array",
                                  "maxItems": 2,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "registration_type": {
                                        "description": "Type of person registration.",
                                        "type": "string",
                                        "enum": [
                                          "ID_CARD",
                                          "TAX_REGISTRATION"
                                        ]
                                      },
                                      "value": {
                                        "description": "Value of the registration.",
                                        "maxLength": 20,
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "value"
                                    ]
                                  }
                                }
                              }
                            }
                          ],
                          "required": [
                            "preferred_communication_channel"
                          ]
                        }
                      ]
                    },
                    "beneficiaries": {
                      "description": "Beneficiaries list (other than the policy holder if he is also a beneficiary).",
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "description": "Policy beneficiary.",
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "title": {
                                "description": "Civility (Mr, Ms, Miss, Doctor, Professor).",
                                "type": "string",
                                "enum": [
                                  "MR",
                                  "MS",
                                  "MISS",
                                  "DR",
                                  "PR"
                                ],
                                "minLength": 2,
                                "maxLength": 4,
                                "example": "MR"
                              },
                              "first_name": {
                                "description": "First name.",
                                "type": "string",
                                "example": "John",
                                "maxLength": 100
                              },
                              "middle_name": {
                                "description": "Middle name.",
                                "type": "string",
                                "maxLength": 100
                              },
                              "last_name": {
                                "description": "Last name.",
                                "type": "string",
                                "example": "Doe",
                                "maxLength": 100
                              },
                              "birth_date": {
                                "description": "Birth date - ISO 8601 format (YYYY-MM-DD).",
                                "type": "string",
                                "format": "date",
                                "example": "1990-04-25"
                              },
                              "age": {
                                "description": "Age of the person. Only required if needed for the quote and no birth_date is provided.",
                                "type": "integer",
                                "example": 33
                              },
                              "additional_information": {
                                "description": "Additional information filled by the partner if needed\n(example : Passport number, Hotel room number...).\n",
                                "type": "array",
                                "maxItems": 1000,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "description": "Information code.",
                                      "type": "string",
                                      "maxLength": 50
                                    },
                                    "value": {
                                      "description": "Information value.",
                                      "type": "string",
                                      "maxLength": 255
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "value"
                                  ]
                                },
                                "example": [
                                  {
                                    "code": "PASSPORT_NUMBER",
                                    "value": "A1455CDH"
                                  }
                                ]
                              }
                            }
                          },
                          {
                            "properties": {
                              "age_segment": {
                                "description": "Age Segment.\n\n- ADULT: Adult\n- CHILD: Child\n- INFANT: Infant or baby\n- SENIOR: Senior Citizen or Elderly Person\n",
                                "type": "string",
                                "example": "ADULT",
                                "enum": [
                                  "ADULT",
                                  "CHILD",
                                  "INFANT",
                                  "SENIOR"
                                ]
                              }
                            }
                          }
                        ]
                      }
                    },
                    "consents": {
                      "description": "List of consents displayed to the customer.",
                      "type": "array",
                      "maxItems": 10,
                      "items": {
                        "type": "object",
                        "description": "Customer consent.",
                        "properties": {
                          "code": {
                            "description": "Code of the consent.",
                            "type": "string",
                            "maxLength": 50
                          },
                          "is_confirmed": {
                            "description": "Indicates if the consent has been confirmed by the customer or not.",
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "code",
                          "is_confirmed"
                        ]
                      }
                    },
                    "price": {
                      "type": "object",
                      "description": "The order's price.",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Set of prices.",
                          "properties": {
                            "formula": {
                              "description": "Price formula reference.",
                              "type": "string",
                              "maxLength": 50,
                              "example": "12-MONTHS"
                            },
                            "total_taxes": {
                              "description": "Total amount of taxes, numeric with 2 decimals.",
                              "type": "number",
                              "example": 50.02
                            },
                            "total_discount": {
                              "description": "Total amount of discount, numeric with 2 decimals.",
                              "type": "number",
                              "example": 10
                            },
                            "premium_after_discount_excl_tax": {
                              "description": "Premium discounted excluding taxes, numeric with 2 decimals.",
                              "type": "number",
                              "example": 240
                            },
                            "price_before_discount_incl_tax": {
                              "description": "Price not discounted including taxes, numeric with 2 decimals.",
                              "type": "number",
                              "example": 340.45
                            },
                            "price_after_discount_incl_tax": {
                              "description": "Price discounted including taxes (Final price), numeric with 2 decimals.",
                              "type": "number",
                              "example": 330.45
                            },
                            "payment_periodicities": {
                              "description": "List of payment periodicities.",
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "periodicity": {
                                    "description": "Selected periodicity for the payment.\nISO 8601 format (R[n]/P18Y9M4DT11H9M8S).\n",
                                    "type": "string",
                                    "maxLength": 50,
                                    "example": "R12/P1M"
                                  },
                                  "description": {
                                    "description": "Periodicity label.",
                                    "type": "string",
                                    "example": "MONTHLY",
                                    "maxLength": 50
                                  },
                                  "amount_per_period": {
                                    "description": "The amount of the payment period.",
                                    "type": "number",
                                    "example": 71.87
                                  },
                                  "amount_first_payment": {
                                    "description": "The amount of the first payment.",
                                    "type": "number",
                                    "example": 71.87
                                  }
                                },
                                "required": [
                                  "periodicity",
                                  "description",
                                  "amount_per_period",
                                  "amount_first_payment"
                                ]
                              }
                            }
                          },
                          "required": [
                            "formula",
                            "price_after_discount_incl_tax"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "quote_code"
                  ]
                },
                "example": {
                  "order_id": "3de46cc0-a79f-4414-99c1-0e788eb61af1",
                  "quote_code": "eJytUE1PwzAM/S85d6iFfYgeEUMgcUDALlwsr3FLUOoUN5k2TfvvJN2ASpyQdrTfh9"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "400",
                  "error": "Bad Request",
                  "error_description": "The input information received were not compliant with the endpoint specification."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.\nThe identity of the caller has not been definitely confirmed (invalid issuer, expired token, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "401",
                  "error": "Unauthorized",
                  "error_description": "Header \"authorization\" is not a valid JSON Web Token."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\nThe identity of the caller is confirmed, however the required access grants are not met (missing scope, unknown client_id, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "403",
                  "error": "Forbidden",
                  "error_description": "The right to access this endpoint has not been granted in the JSON Web Token."
                }
              }
            }
          },
          "default": {
            "description": "Default response format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "500",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "sandbox_auth0_cc": [
              "urn:axa.partners.sales.individual.travel.orders.write"
            ]
          }
        ]
      }
    },
    "/sales/v2/individual/travel/orders/{order_id}": {
      "get": {
        "summary": "Retrieve order details.",
        "description": "Cf. summary",
        "x-business-category": "TRAVEL",
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "description": "Accepted language, IANA language codification. If language not managed, \"en\" will be used by default.",
            "schema": {
              "type": "string",
              "example": "en",
              "maxLength": 5
            }
          },
          {
            "name": "order_id",
            "description": "Unique order identifier.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "91ff04ed-0352-4e5e-bb83-5c88e7f3cd3a",
              "maxLength": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "description": "Unique final order identifier.",
                      "type": "string",
                      "maxLength": 150
                    },
                    "original_policy_id": {
                      "description": "This field used in renewal context.\nThe original policy identifier.\n",
                      "type": "string",
                      "maxLength": 150,
                      "example": "6c76a339-cda2-4077-9a5f-562e4d01da95"
                    },
                    "related_policy_id": {
                      "description": "This field used in renewal context.\nThe related policy identifier.\n",
                      "type": "string",
                      "maxLength": 150,
                      "example": "7654a339-cda2-4077-9a5f-562e4d01d567"
                    },
                    "quote_code": {
                      "description": "Quote code, partner can use a default value if provided by AXA or got it with quoting API.",
                      "type": "string",
                      "maxLength": 2000,
                      "example": "eJytUE1PwzAM/S85d6iFfYgeEUMgcUDALlwsr3FLUOoUN5k2TfvvJN2ASpyQdrTfh9"
                    },
                    "product_codes": {
                      "description": "List of selected product codes.\n",
                      "type": "array",
                      "maxItems": 15,
                      "items": {
                        "type": "string",
                        "maxLength": 255,
                        "example": "axa_italy_catalogue_one_product_base"
                      }
                    },
                    "agent": {
                      "description": "The agent information.",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "agent_scope": {
                              "description": "The scope of the agent that create the order.",
                              "type": "string",
                              "example": "HOME/DARTY/France",
                              "maxLength": 150
                            },
                            "agent_reference": {
                              "description": "The agent reference.",
                              "type": "string",
                              "example": "QS23ZED4",
                              "maxLength": 150
                            },
                            "agency_reference": {
                              "description": "The agency reference.",
                              "type": "string",
                              "example": "AGC_007_NORD",
                              "maxLength": 150
                            }
                          }
                        }
                      ]
                    },
                    "addons": {
                      "description": "List of additional option codes that the customer can subscribe in addition to the product.\nNote: There is here only the list of add-ons codes. The contents of each add-on is described in TravelQuotesResponse.Addons section.\n",
                      "type": "array",
                      "maxItems": 10,
                      "items": {
                        "type": "string",
                        "maxLength": 1000,
                        "example": "eJxVj8FuwjAMht8l5wq1ULapt5J2FRJbUGh6rUIbokgs6UwibUJ99yUrReCT"
                      }
                    },
                    "policy_holder": {
                      "description": "Policy holder.",
                      "allOf": [
                        {
                          "description": "Policy holder",
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "description": "Civility (Mr, Ms, Miss, Doctor, Professor).",
                                  "type": "string",
                                  "enum": [
                                    "MR",
                                    "MS",
                                    "MISS",
                                    "DR",
                                    "PR"
                                  ],
                                  "minLength": 2,
                                  "maxLength": 4,
                                  "example": "MR"
                                },
                                "first_name": {
                                  "description": "First name.",
                                  "type": "string",
                                  "example": "John",
                                  "maxLength": 100
                                },
                                "middle_name": {
                                  "description": "Middle name.",
                                  "type": "string",
                                  "maxLength": 100
                                },
                                "last_name": {
                                  "description": "Last name.",
                                  "type": "string",
                                  "example": "Doe",
                                  "maxLength": 100
                                },
                                "birth_date": {
                                  "description": "Birth date - ISO 8601 format (YYYY-MM-DD).",
                                  "type": "string",
                                  "format": "date",
                                  "example": "1990-04-25"
                                },
                                "age": {
                                  "description": "Age of the person. Only required if needed for the quote and no birth_date is provided.",
                                  "type": "integer",
                                  "example": 33
                                },
                                "additional_information": {
                                  "description": "Additional information filled by the partner if needed\n(example : Passport number, Hotel room number...).\n",
                                  "type": "array",
                                  "maxItems": 1000,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "description": "Information code.",
                                        "type": "string",
                                        "maxLength": 50
                                      },
                                      "value": {
                                        "description": "Information value.",
                                        "type": "string",
                                        "maxLength": 255
                                      }
                                    },
                                    "required": [
                                      "code",
                                      "value"
                                    ]
                                  },
                                  "example": [
                                    {
                                      "code": "PASSPORT_NUMBER",
                                      "value": "A1455CDH"
                                    }
                                  ]
                                }
                              }
                            },
                            {
                              "properties": {
                                "spoken_language": {
                                  "description": "Spoken language, IANA language codification.",
                                  "type": "string",
                                  "example": "en",
                                  "maxLength": 5
                                },
                                "phone": {
                                  "description": "Phone number.\n** Required if preferred_communication_channel contain _SMS_ **\n",
                                  "allOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "international_prefix": {
                                          "description": "Prefix to be added to be called from abroad.",
                                          "type": "string",
                                          "maxLength": 10
                                        },
                                        "number": {
                                          "description": "Phone number. Can be local or international.",
                                          "type": "string",
                                          "maxLength": 20
                                        }
                                      },
                                      "required": [
                                        "number"
                                      ]
                                    }
                                  ],
                                  "example": [
                                    {
                                      "international_prefix": "+33",
                                      "number": "0651201190"
                                    }
                                  ]
                                },
                                "address": {
                                  "description": "Postal address",
                                  "allOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "street_address": {
                                          "description": "Street address.",
                                          "type": "string",
                                          "example": "150 Avenue de Paris",
                                          "maxLength": 100
                                        },
                                        "postal_code": {
                                          "description": "Postal code or zip code.",
                                          "type": "string",
                                          "example": "75001",
                                          "maxLength": 20
                                        },
                                        "city": {
                                          "description": "City.",
                                          "type": "string",
                                          "example": "Paris",
                                          "maxLength": 50
                                        },
                                        "country": {
                                          "description": "Country ISO-3166-1 alpha-2 format (2 letter codes).",
                                          "type": "string",
                                          "example": "FR",
                                          "minLength": 2,
                                          "maxLength": 2
                                        }
                                      }
                                    }
                                  ]
                                },
                                "is_policy_beneficiary": {
                                  "description": "Indicates if the policy holder is also a policy beneficiary.",
                                  "type": "boolean"
                                },
                                "email": {
                                  "description": "Email address.\n** Required if preferred_communication_channel contain _EMAIL_ **\n",
                                  "allOf": [
                                    {
                                      "type": "string",
                                      "format": "email",
                                      "example": "jonathan.doe@mail.com"
                                    }
                                  ],
                                  "example": "john.doe@mail.com"
                                },
                                "preferred_communication_channel": {
                                  "description": "Communication channel on which the person preferred to be contacted.",
                                  "type": "array",
                                  "maxItems": 2,
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "EMAIL",
                                      "SMS"
                                    ]
                                  },
                                  "example": [
                                    "EMAIL",
                                    "SMS"
                                  ]
                                },
                                "registrations": {
                                  "description": "List of customer registrations.",
                                  "type": "array",
                                  "maxItems": 2,
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "registration_type": {
                                        "description": "Type of person registration.",
                                        "type": "string",
                                        "enum": [
                                          "ID_CARD",
                                          "TAX_REGISTRATION"
                                        ]
                                      },
                                      "value": {
                                        "description": "Value of the registration.",
                                        "maxLength": 20,
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "value"
                                    ]
                                  }
                                }
                              }
                            }
                          ],
                          "required": [
                            "preferred_communication_channel"
                          ]
                        }
                      ]
                    },
                    "beneficiaries": {
                      "description": "Beneficiaries list (other than the policy holder if he is also a beneficiary).",
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "description": "Policy beneficiary.",
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "title": {
                                "description": "Civility (Mr, Ms, Miss, Doctor, Professor).",
                                "type": "string",
                                "enum": [
                                  "MR",
                                  "MS",
                                  "MISS",
                                  "DR",
                                  "PR"
                                ],
                                "minLength": 2,
                                "maxLength": 4,
                                "example": "MR"
                              },
                              "first_name": {
                                "description": "First name.",
                                "type": "string",
                                "example": "John",
                                "maxLength": 100
                              },
                              "middle_name": {
                                "description": "Middle name.",
                                "type": "string",
                                "maxLength": 100
                              },
                              "last_name": {
                                "description": "Last name.",
                                "type": "string",
                                "example": "Doe",
                                "maxLength": 100
                              },
                              "birth_date": {
                                "description": "Birth date - ISO 8601 format (YYYY-MM-DD).",
                                "type": "string",
                                "format": "date",
                                "example": "1990-04-25"
                              },
                              "age": {
                                "description": "Age of the person. Only required if needed for the quote and no birth_date is provided.",
                                "type": "integer",
                                "example": 33
                              },
                              "additional_information": {
                                "description": "Additional information filled by the partner if needed\n(example : Passport number, Hotel room number...).\n",
                                "type": "array",
                                "maxItems": 1000,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "description": "Information code.",
                                      "type": "string",
                                      "maxLength": 50
                                    },
                                    "value": {
                                      "description": "Information value.",
                                      "type": "string",
                                      "maxLength": 255
                                    }
                                  },
                                  "required": [
                                    "code",
                                    "value"
                                  ]
                                },
                                "example": [
                                  {
                                    "code": "PASSPORT_NUMBER",
                                    "value": "A1455CDH"
                                  }
                                ]
                              }
                            }
                          },
                          {
                            "properties": {
                              "age_segment": {
                                "description": "Age Segment.\n\n- ADULT: Adult\n- CHILD: Child\n- INFANT: Infant or baby\n- SENIOR: Senior Citizen or Elderly Person\n",
                                "type": "string",
                                "example": "ADULT",
                                "enum": [
                                  "ADULT",
                                  "CHILD",
                                  "INFANT",
                                  "SENIOR"
                                ]
                              }
                            }
                          }
                        ]
                      }
                    },
                    "consents": {
                      "description": "List of consents displayed to the customer.",
                      "type": "array",
                      "maxItems": 10,
                      "items": {
                        "type": "object",
                        "description": "Customer consent.",
                        "properties": {
                          "code": {
                            "description": "Code of the consent.",
                            "type": "string",
                            "maxLength": 50
                          },
                          "is_confirmed": {
                            "description": "Indicates if the consent has been confirmed by the customer or not.",
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "code",
                          "is_confirmed"
                        ]
                      }
                    },
                    "price": {
                      "type": "object",
                      "description": "The order's price.",
                      "allOf": [
                        {
                          "type": "object",
                          "description": "Set of prices.",
                          "properties": {
                            "formula": {
                              "description": "Price formula reference.",
                              "type": "string",
                              "maxLength": 50,
                              "example": "12-MONTHS"
                            },
                            "total_taxes": {
                              "description": "Total amount of taxes, numeric with 2 decimals.",
                              "type": "number",
                              "example": 50.02
                            },
                            "total_discount": {
                              "description": "Total amount of discount, numeric with 2 decimals.",
                              "type": "number",
                              "example": 10
                            },
                            "premium_after_discount_excl_tax": {
                              "description": "Premium discounted excluding taxes, numeric with 2 decimals.",
                              "type": "number",
                              "example": 240
                            },
                            "price_before_discount_incl_tax": {
                              "description": "Price not discounted including taxes, numeric with 2 decimals.",
                              "type": "number",
                              "example": 340.45
                            },
                            "price_after_discount_incl_tax": {
                              "description": "Price discounted including taxes (Final price), numeric with 2 decimals.",
                              "type": "number",
                              "example": 330.45
                            },
                            "payment_periodicities": {
                              "description": "List of payment periodicities.",
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "periodicity": {
                                    "description": "Selected periodicity for the payment.\nISO 8601 format (R[n]/P18Y9M4DT11H9M8S).\n",
                                    "type": "string",
                                    "maxLength": 50,
                                    "example": "R12/P1M"
                                  },
                                  "description": {
                                    "description": "Periodicity label.",
                                    "type": "string",
                                    "example": "MONTHLY",
                                    "maxLength": 50
                                  },
                                  "amount_per_period": {
                                    "description": "The amount of the payment period.",
                                    "type": "number",
                                    "example": 71.87
                                  },
                                  "amount_first_payment": {
                                    "description": "The amount of the first payment.",
                                    "type": "number",
                                    "example": 71.87
                                  }
                                },
                                "required": [
                                  "periodicity",
                                  "description",
                                  "amount_per_period",
                                  "amount_first_payment"
                                ]
                              }
                            }
                          },
                          "required": [
                            "formula",
                            "price_after_discount_incl_tax"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "quote_code"
                  ]
                },
                "example": {
                  "order_id": "3de46cc0-a79f-4414-99c1-0e788eb61af1",
                  "quote_code": "eJytUE1PwzAM/S85d6iFfYgeEUMgcUDALlwsr3FLUOoUN5k2TfvvJN2ASpyQdrTfh9"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "400",
                  "error": "Bad Request",
                  "error_description": "The input information received were not compliant with the endpoint specification."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.\nThe identity of the caller has not been definitely confirmed (invalid issuer, expired token, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "401",
                  "error": "Unauthorized",
                  "error_description": "Header \"authorization\" is not a valid JSON Web Token."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\nThe identity of the caller is confirmed, however the required access grants are not met (missing scope, unknown client_id, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "403",
                  "error": "Forbidden",
                  "error_description": "The right to access this endpoint has not been granted in the JSON Web Token."
                }
              }
            }
          },
          "404": {
            "description": "Not found.\nThe server did not find a current representation for the searched resource.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "404",
                  "error": "Not Found",
                  "error_description": "The searched resource was not found."
                }
              }
            }
          },
          "default": {
            "description": "Default response format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "500",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "sandbox_auth0_cc": [
              "urn:axa.partners.sales.individual.travel.orders.read_only"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update the order.",
        "description": "Cf. summary",
        "x-business-category": "TRAVEL",
        "parameters": [
          {
            "name": "order_id",
            "description": "Unique order identifier.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "91ff04ed-0352-4e5e-bb83-5c88e7f3cd3a",
              "maxLength": 150
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_code": {
                    "description": "Quote code, partner can use a default value if provided by AXA or got it with quoting API.",
                    "type": "string",
                    "example": "eJxVj8FuwjAMht8l5wq1ULapt5J2FRJbUGh6rUIbokgs6UwibUJ99yUrReCT",
                    "maxLength": 2000
                  },
                  "addons": {
                    "description": "List of additional option codes that the customer can subscribe in addition to the product.\nNote: There is here only the list of add-ons codes. The contents of each add-on is described in the response of the End Point for Travel quote request.\n",
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "maxLength": 1000,
                      "example": "eJxVj8FuwjAMht8l5wq1ULapt5J2FRJbUGh6rUIbokgs6UwibUJ99yUrReCT"
                    }
                  }
                },
                "required": [
                  "quote_code"
                ]
              }
            }
          },
          "description": "Order update request.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Order updated (No content)."
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "400",
                  "error": "Bad Request",
                  "error_description": "The input information received were not compliant with the endpoint specification."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.\nThe identity of the caller has not been definitely confirmed (invalid issuer, expired token, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "401",
                  "error": "Unauthorized",
                  "error_description": "Header \"authorization\" is not a valid JSON Web Token."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\nThe identity of the caller is confirmed, however the required access grants are not met (missing scope, unknown client_id, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "403",
                  "error": "Forbidden",
                  "error_description": "The right to access this endpoint has not been granted in the JSON Web Token."
                }
              }
            }
          },
          "404": {
            "description": "Not found.\nThe server did not find a current representation for the searched resource.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "404",
                  "error": "Not Found",
                  "error_description": "The searched resource was not found."
                }
              }
            }
          },
          "default": {
            "description": "Default response format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "500",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "sandbox_auth0_cc": [
              "urn:axa.partners.sales.individual.travel.orders.write"
            ]
          }
        ]
      }
    },
    "/sales/v2/individual/travel/orders/{order_id}/communication_requests": {
      "post": {
        "summary": "Sends a request for a communication with the customer.",
        "description": "Cf. summary",
        "x-business-category": "TRAVEL",
        "parameters": [
          {
            "name": "order_id",
            "description": "Unique order identifier.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "91ff04ed-0352-4e5e-bb83-5c88e7f3cd3a",
              "maxLength": 150
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "description": "Communication channel.",
                    "type": "string",
                    "enum": [
                      "EMAIL"
                    ],
                    "example": "EMAIL"
                  },
                  "communication_type": {
                    "description": "Type of communication to send.",
                    "type": "string",
                    "maxLength": 150,
                    "example": "SEPA_MANDATE"
                  }
                },
                "required": [
                  "channel",
                  "communication_type"
                ]
              }
            }
          },
          "description": "Mail information."
        },
        "responses": {
          "204": {
            "description": "Request treated."
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "400",
                  "error": "Bad Request",
                  "error_description": "The input information received were not compliant with the endpoint specification."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.\nThe identity of the caller has not been definitely confirmed (invalid issuer, expired token, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "401",
                  "error": "Unauthorized",
                  "error_description": "Header \"authorization\" is not a valid JSON Web Token."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\nThe identity of the caller is confirmed, however the required access grants are not met (missing scope, unknown client_id, ...)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "403",
                  "error": "Forbidden",
                  "error_description": "The right to access this endpoint has not been granted in the JSON Web Token."
                }
              }
            }
          },
          "404": {
            "description": "Not found.\nThe server did not find a current representation for the searched resource.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
                  "status_code": "404",
                  "error": "Not Found",
                  "error_description": "The searched resource was not found."
                }
              }
            }
          },
          "default": {
            "description": "Default response format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "error_description": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "status_code": {
                      "type": "string",
                      "maxLength": 3
                    }
                  }
                },
                "example": {
[...]
