{
  "openapi": "3.0.0",
  "info": {
    "version": "production",
    "title": "Evana360 API",
    "description": "API to consume Evana360's logic",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/EVANA-AG/adapter-service/production/swagger.json"
  },
  "servers": [
    {
      "description": "Sandbox",
      "url": "https://sandbox-rest.evana.ai"
    },
    {
      "description": "Production",
      "url": "https://rest.evana.ai"
    }
  ],
  "tags": [
    {
      "name": "authentication",
      "description": "Validation of user objects to obtain an access token"
    },
    {
      "name": "binary files",
      "description": "Manage binary files within Evana360"
    },
    {
      "name": "documents",
      "description": "Manage documents. Documents are directly related to binary files"
    },
    {
      "name": "structures",
      "description": "Manage structures"
    },
    {
      "name": "keys",
      "description": "Manage keys (key-value pairs of data models) of files and elements"
    },
    {
      "name": "elements",
      "description": "Manage elements (former master data)"
    },
    {
      "name": "data models",
      "description": "Manage data models for files and elements"
    },
    {
      "name": "folders",
      "description": "Manage folders in data rooms"
    },
    {
      "name": "groups",
      "description": "Manage groups"
    },
    {
      "name": "identityprovider",
      "description": "Endpoints only available for Evana360's internal identity provider"
    },
    {
      "name": "users",
      "description": "Manage users in Evana360"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {},
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "msg": {
                  "type": "string"
                },
                "param": {
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "enum": [
                    "body",
                    "header",
                    "params"
                  ]
                }
              }
            }
          }
        }
      },
      "DataTypes": {
        "type": "string",
        "enum": [
          "BOOL",
          "DATE",
          "FLOAT",
          "INT",
          "TEXT"
        ],
        "example": "TEXT"
      },
      "Locale": {
        "type": "string",
        "default": "en-GB",
        "enum": [
          "de-CH",
          "de-DE",
          "en-GB",
          "fr-FR",
          "it-IT"
        ]
      },
      "Localizable": {
        "type": "array",
        "items": {
          "properties": {
            "value": {
              "type": "string"
            },
            "locale": {
              "type": "string",
              "enum": [
                "de-CH",
                "de-DE",
                "en-GB",
                "fr-FR",
                "it-IT"
              ]
            }
          }
        }
      },
      "AuthenticateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "testuser@evana.de",
            "format": "email"
          },
          "password": {
            "type": "string",
            "example": "Q9~N_Ijy3u"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "UploadFileRequest": {
        "type": "object",
        "properties": {
          "structureId": {
            "type": "string",
            "description": "Please enter the required structure ID."
          },
          "externalId": {
            "type": "string",
            "description": "This ID will be used as a reference for the callback via webhook."
          },
          "analysis": {
            "type": "boolean",
            "description": "Should the file be analysed?"
          },
          "extract": {
            "type": "boolean",
            "description": "Should the data be extracted?"
          },
          "extractAttachments": {
            "type": "boolean",
            "description": "Should the attachments be extracted?"
          },
          "securityClassificationId": {
            "type": "string",
            "description": "Which security classification should be used?"
          },
          "webhookURL": {
            "type": "string",
            "format": "uri",
            "description": "Which webhookURL should be used for this file?"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Please select your file."
          }
        },
        "required": [
          "structureId",
          "file"
        ]
      },
      "UploadFileResponse": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string"
          },
          "documentUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "DownloadDocumentResponse": {
        "type": "string",
        "format": "binary"
      },
      "UploadNewFileVersionRequest": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string"
          },
          "analysis": {
            "type": "boolean"
          },
          "webhookURL": {
            "type": "string",
            "format": "uri"
          },
          "file": {
            "type": "string",
            "format": "binary"
          }
        },
        "required": [
          "file"
        ]
      },
      "UploadNewFileVersionResponse": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "The file identifier.",
            "example": "5f90288bc765f6006aaeb9a2"
          },
          "documentUrl": {
            "type": "string",
            "format": "uri",
            "description": "The link to the file.",
            "example": "https://app.evana.ai/file/5f90288bc765f6006aaeb9a2"
          },
          "versionNumber": {
            "type": "string",
            "description": "The version number of the file.",
            "example": "1.0.1"
          }
        }
      },
      "AnalysisResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 1
          },
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "string",
                  "example": "5f8851baebf0c0c5f2333148"
                },
                "name": {
                  "type": "string",
                  "example": "Testers"
                },
                "description": {
                  "type": "string",
                  "example": "Test"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/DataTypes"
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                },
                "createdBy": {
                  "type": "string",
                  "example": "5f2277e14e62533d50999cb5"
                },
                "editedBy": {
                  "type": "string",
                  "example": "5f2277e14e62533d50999cb5"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2020-10-15T13:42:18.920Z"
                },
                "editedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2020-10-15T13:43:46.987Z"
                }
              }
            }
          }
        }
      },
      "MetaDataResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "5f9f3f65f612e415ef06b0c3"
          },
          "structure": {
            "type": "string",
            "example": "5df77b7c11be8710cb18d809"
          },
          "name": {
            "type": "string",
            "example": "_63518102_78d64310-d2c7-4d90-b991-b11ab12ddd9e.jpg"
          },
          "mimeType": {
            "type": "string",
            "example": "image/jpeg"
          },
          "length": {
            "type": "number",
            "example": 251624
          },
          "uploadedBy": {
            "type": "string",
            "example": "5df7877211be87a26618d84c"
          },
          "uploadedAt": {
            "type": "string",
            "example": "2020-11-01T23:07:21.643Z"
          },
          "status": {
            "type": "string",
            "enum": [
              "CLARIFY_CONSULTATION",
              "CLARIFY_DRAFT",
              "CLARIFY_INCOMPLETE",
              "CLARIFY_OTHER",
              "CLARIFY_OUTDATED",
              "CLARIFY_UNKNOWN",
              "CLARIFY_UNREADABLE_CONTENT",
              "CLARIFY_UNREADABLE_FORMAT",
              "CONFIRMED",
              "REJECTED_DUPLICATE",
              "REJECTED_SERVICE",
              "UNPROCESSED",
              "UNSUITABLE"
            ]
          },
          "editedAt": {
            "type": "string",
            "example": "2020-10-13T11:51:32.878Z"
          },
          "documentType": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "612734c4d55c0cba45181fe5"
              },
              "name": {
                "type": "string",
                "example": "Gewerbe Mietvertrag - Nachtrag [de_CH]"
              }
            }
          }
        }
      },
      "FileLinkResponse": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "FileMasterDataResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileMasterData"
            }
          }
        }
      },
      "SecurityClassificationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Hohe Klassifizierung"
          },
          "description": {
            "type": "string",
            "example": "Diese Sicherheitsklassifizierung wird f\u00fcr sehr wichtige Dokumente benutzt."
          }
        }
      },
      "WebhookBody": {
        "properties": {
          "fileId": {
            "type": "string",
            "example": "5f90288bc765f6006aaeb9a2"
          },
          "analysisStatus": {
            "type": "string",
            "enum": [
              "FINISH"
            ],
            "example": "FINISH"
          },
          "externalId": {
            "type": "string",
            "example": "5f90288bc765f6006aaeb9a3"
          }
        }
      },
      "StructuresResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 17
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetStructureResponse"
            }
          }
        }
      },
      "CreateStructureRequest": {
        "type": "object",
        "properties": {
          "parentId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "priority": {
            "type": "number",
            "description": "the star value must be at least 1",
            "default": 1
          },
          "groupPermissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "group": {
                  "type": "string"
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "FILE_EDIT",
                      "FOLDER_EDIT",
                      "VISIBLE"
                    ]
                  }
                }
              },
              "required": [
                "group",
                "permissions"
              ]
            }
          },
          "dimensionsDefault": {
            "deprecated": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blueprints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dimension": {
            "deprecated": true,
            "type": "string"
          }
        },
        "required": [
          "name",
          "groupPermissions"
        ]
      },
      "GetStructureResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "5f8fec27673c93f84ba88b73"
          },
          "path": {
            "type": "string",
            "example": "5f8fec27673c93f84ba88b72, 5f8fec27673c93f84ba88b71"
          },
          "name": {
            "type": "string",
            "example": "GT-Test"
          },
          "priority": {
            "type": "number",
            "example": 30
          },
          "groupPermissions": {
            "type": "array",
            "items": {
              "properties": {
                "group": {
                  "type": "string",
                  "example": "5df77b6a11be87fba518d807"
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "FILE_EDIT",
                    "enum": [
                      "FILE_EDIT",
                      "FOLDER_EDIT",
                      "VISIBLE"
                    ]
                  }
                }
              }
            }
          },
          "blueprints": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5f86b0578345942a6125ff17"
            }
          },
          "dimensionsDefault": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5f86b0578345942a6125ff19"
            }
          },
          "createdAt": {
            "type": "string",
            "example": "2020-10-13T11:51:32.878Z"
          },
          "createdBy": {
            "type": "string",
            "example": "5f2277e14e62533d50999cb5"
          },
          "editedAt": {
            "type": "string",
            "example": "2020-10-13T11:51:32.878Z"
          },
          "editedBy": {
            "type": "string",
            "example": "5f2277e14e62533d50999cb5"
          }
        }
      },
      "UpdateKeyDataValuesRequest": {
        "type": "array",
        "items": {
          "properties": {
            "position": {
              "type": "object",
              "properties": {
                "fromPage": {
                  "type": "number",
                  "example": 1
                },
                "toPage": {
                  "type": "number",
                  "example": 2
                },
                "fromWord": {
                  "type": "number",
                  "example": 1
                },
                "toWord": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "fromPage",
                "toPage",
                "fromWord",
                "toWord"
              ]
            },
            "marked": {
              "type": "string",
              "example": "Hola cacao"
            },
            "type": {
              "$ref": "#/components/schemas/DataTypes"
            }
          },
          "required": [
            "marked"
          ]
        }
      },
      "ListMasterDataResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasterData"
            }
          }
        }
      },
      "CreateMasterDataRequest": {
        "type": "object",
        "properties": {
          "structureId": {
            "type": "string"
          },
          "masterDataTypeId": {
            "type": "string"
          },
          "dataModelId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "structureId",
          "masterDataTypeId",
          "dataModelId",
          "name"
        ]
      },
      "MasterData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "structure": {
            "type": "string"
          },
          "masterDataType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "editedBy": {
            "type": "string"
          },
          "editedAt": {
            "type": "string"
          }
        }
      },
      "FileMasterData": {
        "description": "The schema of an Element's data in the response for requests to the /files/{id}/masterData endpoint",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "client": {
            "$ref": "#/components/schemas/NestedId"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dimensiontype": {
            "$ref": "#/components/schemas/NestedId"
          },
          "structure": {
            "$ref": "#/components/schemas/NestedId"
          },
          "created": {
            "$ref": "#/components/schemas/ChangeInfo"
          },
          "edited": {
            "$ref": "#/components/schemas/ChangeInfo"
          },
          "keyValues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "$ref": "#/components/schemas/Localizable"
                },
                "description": {
                  "$ref": "#/components/schemas/Localizable"
                },
                "dataValues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "marked": {
                        "type": "string"
                      },
                      "type": {
                        "$ref": "#/components/schemas/DataTypes"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UpdateMasterDataRequest": {
        "type": "object",
        "properties": {
          "masterDataTypeId": {
            "type": "string"
          },
          "dataModelId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "GetMasterDataKeysResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "synonyms": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "dataValues": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "marked": {
                    "type": "string"
                  },
                  "type": {
                    "$ref": "#/components/schemas/DataTypes"
                  }
                }
              }
            },
            "createdBy": {
              "type": "string",
              "example": "5f2277e14e62533d50999cb5"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-10-15T13:42:18.920Z"
            },
            "editedBy": {
              "type": "string",
              "example": "5f2277e14e62533d50999cb5"
            },
            "editedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2020-10-15T13:43:46.987Z"
            }
          }
        }
      },
      "UpdateMasterDataKeysRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "dataValues": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/DataTypes"
                  },
                  "marked": {
                    "type": "string"
                  }
                },
                "required": [
                  "type",
                  "marked"
                ]
              }
            }
          },
          "required": [
            "id",
            "dataValues"
          ]
        }
      },
      "CreateDataModelRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "example": "VertagSOS"
                },
                "locale": {
                  "$ref": "#/components/schemas/Locale"
                }
              },
              "required": [
                "value",
                "locale"
              ]
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "FILETYPE",
              "DIMENSIONTYPE",
              "WORKFLOW"
            ]
          },
          "isActive": {
            "type": "boolean",
            "example": true,
            "default": false
          }
        },
        "required": [
          "name"
        ]
      },
      "GetDataModelsResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 1
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetDataModelResponse"
            }
          }
        }
      },
      "AddDataModelKeyRequest": {
        "type": "array",
        "items": {
          "properties": {
            "path": {
              "default": "",
              "type": "string"
            },
            "usage": {
              "type": "string"
            },
            "name": {
              "$ref": "#/components/schemas/Localizable"
            },
            "synonyms": {
              "$ref": "#/components/schemas/Localizable"
            },
            "description": {
              "$ref": "#/components/schemas/Localizable"
            },
            "priority": {
              "type": "number",
              "minimum": 1
            },
            "inFileDescription": {
              "type": "boolean",
              "default": false
            },
            "inFileDetails": {
              "type": "boolean",
              "default": false
            },
            "isMulti": {
              "type": "boolean",
              "default": false
            },
            "isNameExtension": {
              "type": "boolean"
            },
            "type": {
              "$ref": "#/components/schemas/DataTypes"
            },
            "valuesValid": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "name"
          ]
        }
      },
      "GetDataModelResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "5fb8e3f678b3e5e838b7dc6b"
          },
          "name": {
            "type": "string",
            "example": "MasterDataType-Test-21Nov20"
          },
          "type": {
            "type": "string",
            "example": "DIMENSIONTYPE",
            "enum": [
              "DIMENSIONTYPE",
              "FILETYPE",
              "WORKFLOW"
            ]
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "createdBy": {
            "type": "string",
            "example": "5fb4e78741e5424061f0b4ef"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-12-02T08:17:21.616Z"
          },
          "editedBy": {
            "type": "string",
            "example": "5fb4e78741e5424061f0b4ef"
          },
          "editedAt": {
            "type": "string",
            "example": "2020-12-02T08:17:21.616Z"
          }
        }
      },
      "MasterDataTypesResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 1
          },
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "string",
                  "example": "5fb8e3f678b3e5e838b7dc6b"
                },
                "name": {
                  "type": "string",
                  "example": "MasterDataType-Test-21Nov20"
                },
                "dataModelId": {
                  "type": "string",
                  "example": "5fb8e31478b3e5388ab7dc5e"
                },
                "createdAt": {
                  "type": "string",
                  "example": "2020-11-21T09:55:02.948Z"
                },
                "createdBy": {
                  "type": "string",
                  "example": "5df7877211be87a26618d84c"
                },
                "editedAt": {
                  "type": "string",
                  "example": "2020-11-21T09:56:09.803Z"
                },
                "editedBy": {
                  "type": "string",
                  "example": "5df7877211be87a26618d84c"
                }
              }
            }
          }
        }
      },
      "GetFolderResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "5f848749a884310043380cbe"
          },
          "clientId": {
            "type": "string",
            "example": "5f847d8ee35ca50059e866a1"
          },
          "structureId": {
            "type": "string",
            "example": "5f848749a884310043380cbf"
          },
          "blueprintId": {
            "type": "string",
            "example": "5f848749a884310043380cbc"
          },
          "name": {
            "type": "string"
          },
          "createdBy": {
            "type": "string",
            "example": "5fb4e78741e5424061f0b4ef"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-12-02T08:17:21.616Z"
          },
          "editedBy": {
            "type": "string",
            "example": "5fb4e78741e5424061f0b4ef"
          },
          "editedAt": {
            "type": "string",
            "example": "2020-12-02T08:17:21.616Z"
          },
          "fileLinks": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5f847d8ee35ca50059e866a2"
            }
          }
        }
      },
      "GetGroupsResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 1
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "5fba236578b3e55f4eb7e128"
                },
                "name": {
                  "type": "string",
                  "example": "test545"
                },
                "description": {
                  "type": "string",
                  "example": "Testing group"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2020-11-22T08:37:57.155Z"
                },
                "createdBy": {
                  "type": "string",
                  "example": "5df7877211be87a26618d84c"
                },
                "editedAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2020-11-22T08:37:57.155Z"
                },
                "editedBy": {
                  "type": "string",
                  "example": "5df7877211be87a26618d84c"
                }
              },
              "$ref": "#/components/schemas/GetGroupResponse"
            }
          }
        }
      },
      "GetGroupResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "62470c10809708930aec896e"
          },
          "name": {
            "type": "string",
            "example": "Group one"
          },
          "client": {
            "type": "string",
            "example": "62470c5c809708930aec896f"
          },
          "type": {
            "type": "string",
            "enum": [
              "ACCESS",
              "DEFAULT"
            ],
            "example": "DEFAULT"
          },
          "description": {
            "type": "string",
            "example": "Group description"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2020-11-22T08:37:57.155Z"
          },
          "createdBy": {
            "type": "string",
            "example": "5df7877211be87a26618d84c"
          },
          "editedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2020-11-22T08:37:57.155Z"
          },
          "editedBy": {
            "type": "string",
            "example": "5df7877211be87a26618d84c"
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "62470c10809708930aec896e"
                },
                "name": {
                  "type": "string",
                  "example": "Jens M\u00fcller"
                },
                "email": {
                  "type": "string",
                  "example": "j.mueller@evana.com"
                }
              }
            }
          }
        }
      },
      "PatchGroupPayload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ACCESS",
              "DEFAULT"
            ],
            "example": "DEFAULT"
          },
          "users": {
            "type": "array",
            "example": [
              "62470c10809708930aec896g",
              "62470c10809708930aec896t"
            ],
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string",
            "example": "Group name"
          },
          "description": {
            "type": "string",
            "example": "Group description"
          }
        }
      },
      "PostGroupRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ACCESS",
              "DEFAULT"
            ],
            "example": "DEFAULT"
          },
          "users": {
            "type": "array",
            "example": [
              "62470c10809708930aec896g",
              "62470c10809708930aec896t"
            ],
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string",
            "example": "Group name"
          },
          "description": {
            "type": "string",
            "example": "Group description"
          }
        }
      },
      "GetFileTypeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "5fb8e3f678b3e5e838b7dc6b"
          },
          "name": {
            "type": "string",
            "example": "MasterDataType-Test-21Nov20"
          },
          "description": {
            "type": "string",
            "example": "MasterDataType-Test-21Nov20"
          },
          "dataModel": {
            "type": "string",
            "example": "5fb8e3f678b3e5e838b7dc6a"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "createdBy": {
            "type": "string",
            "example": "5fb4e78741e5424061f0b4ef"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-12-02T08:17:21.616Z"
          },
          "editedBy": {
            "type": "string",
            "example": "5fb4e78741e5424061f0b4ef"
          },
          "editedAt": {
            "type": "string",
            "example": "2020-12-02T08:17:21.616Z"
          }
        }
      },
      "GetFileTypesResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 1
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetFileTypeResponse"
            }
          }
        }
      },
      "LoginUserResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "User access token"
          },
          "expiresAt": {
            "type": "string",
            "description": "Token expiration date"
          }
        }
      },
      "IdentityProviderUserResponse": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "description": "Internal user ID"
          },
          "customerID": {
            "type": "string",
            "description": "Active customer"
          },
          "openID": {
            "type": "string",
            "description": "OpenID of the user"
          },
          "locale": {
            "type": "string",
            "description": "Chosen localization of the user"
          },
          "displayName": {
            "type": "string",
            "description": "Specified name of the user"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the user. Empty if not specified"
          },
          "fullname": {
            "type": "string",
            "description": "Fullname of the user. Empty if not specified"
          },
          "type": {
            "type": "string",
            "description": "Technical type of the user"
          },
          "email": {
            "type": "string",
            "description": "E-Mail of the user"
          },
          "profileRoles": {
            "type": "array",
            "description": "Array of profiles assigned to the user",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "description": "Assigned groups",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IdentityProviderUserPostRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "E-Mail of the user"
          },
          "password": {
            "type": "string",
            "description": "Password of the user"
          },
          "openID": {
            "type": "string",
            "description": "OpenID of the user"
          },
          "customerID": {
            "type": "string",
            "description": "Internal ID of the customer"
          },
          "locale": {
            "type": "string",
            "description": "Chosen localization of the user"
          },
          "displayName": {
            "type": "string",
            "description": "Specified name of the user"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the user."
          },
          "fullname": {
            "type": "string",
            "description": "Fullname of the user."
          },
          "type": {
            "type": "string",
            "description": "Technical type of the user"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "email",
          "locale",
          "displayName",
          "surname",
          "fullname",
          "type",
          "permissions",
          "groups"
        ]
      },
      "IdentityProviderUserPatchRequest": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "Password of the user"
          },
          "openID": {
            "type": "string",
            "description": "OpenID of the user"
          },
          "customerID": {
            "type": "string",
            "description": "Internal ID of the customer"
          },
          "locale": {
            "type": "string",
            "description": "Chosen localization of the user"
          },
          "displayName": {
            "type": "string",
            "description": "Specified name of the user"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the user. Empty if not specified"
          },
          "fullname": {
            "type": "string",
            "description": "Fullname of the user. Empty if not specified"
          },
          "type": {
            "type": "string",
            "description": "Technical type of the user"
          },
          "twoFactor": {
            "type": "object",
            "properties": {
              "phone": {
                "type": "string"
              }
            }
          },
          "notifications": {
            "type": "object",
            "properties": {
              "email": {
                "type": "boolean"
              },
              "mobile": {
                "type": "boolean"
              },
              "permissions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "IdentityProviderErrorResponse": {
        "type": "object",
        "properties": {
          "errorName": {
            "type": "string",
            "description": "Exception of the error"
          },
          "errorCode": {
            "type": "integer",
            "description": "Corresponding error code to the exception"
          },
          "errorMessage": {
            "type": "string",
            "description": "Short description of the error"
          },
          "correlationID": {
            "type": "string",
            "description": "ID for tracing the request"
          }
        }
      },
      "ArrayOfUsersResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/UserResponse"
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "description": "Internal user ID"
          },
          "customerID": {
            "type": "string",
            "description": "Active customer"
          },
          "openID": {
            "type": "string",
            "description": "OpenID of the user"
          },
          "locale": {
            "type": "string",
            "description": "Chosen localization of the user"
          },
          "displayName": {
            "type": "string",
            "description": "Specified name of the user"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the user. Empty if not specified"
          },
          "fullname": {
            "type": "string",
            "description": "Fullname of the user. Empty if not specified"
          },
          "type": {
            "type": "string",
            "description": "Technical type of the user"
          },
          "email": {
            "type": "string",
            "description": "E-Mail of the user"
          },
          "profileRoles": {
            "type": "array",
            "description": "Array of profiles assigned to the user",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "description": "Assigned groups",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UserPatchRequest": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "Password of the user"
          },
          "openID": {
            "type": "string",
            "description": "OpenID of the user"
          },
          "locale": {
            "type": "string",
            "description": "Chosen localization of the user"
          },
          "displayName": {
            "type": "string",
            "description": "Specified name of the user"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the user. Empty if not specified"
          },
          "fullname": {
            "type": "string",
            "description": "Fullname of the user. Empty if not specified"
          },
          "type": {
            "type": "string",
            "description": "Technical type of the user"
          },
          "twoFactor": {
            "type": "object",
            "properties": {
              "phone": {
                "type": "string"
              }
            }
          },
          "notifications": {
            "type": "object",
            "properties": {
              "email": {
                "type": "boolean"
              },
              "mobile": {
                "type": "boolean"
              }
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UserPostRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "E-Mail of the user"
          },
          "password": {
            "type": "string",
            "description": "Password of the user"
          },
          "openID": {
            "type": "string",
            "description": "OpenID of the user"
          },
          "locale": {
            "type": "string",
            "description": "Chosen localization of the user"
          },
          "displayName": {
            "type": "string",
            "description": "Specified name of the user"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the user. Empty if not specified"
          },
          "fullname": {
            "type": "string",
            "description": "Fullname of the user. Empty if not specified"
          },
          "type": {
            "type": "string",
            "description": "Technical type of the user"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "email",
          "password",
          "openID",
          "locale",
          "displayName",
          "surname",
          "fullname",
          "type",
          "permissions",
          "groups"
        ]
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "roleId": {
            "type": "string",
            "description": "Internal role id"
          },
          "customerId": {
            "type": "string",
            "description": "The customer id associated to the role"
          },
          "name": {
            "type": "string",
            "description": "the human readable name of the role"
          },
          "assignedUsers": {
            "type": "array",
            "description": "User IDs for Members of the role",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RolesResponse": {
        "type": "array",
        "description": "A list of roles",
        "items": {
          "type": "object",
          "properties": {
            "roleId": {
              "type": "string",
              "description": "Internal role id"
            },
            "customerId": {
              "type": "string",
              "description": "The customer id associated to the role"
            },
            "name": {
              "type": "string",
              "description": "the human readable name of the role"
            },
            "assignedUsers": {
              "type": "array",
              "description": "User IDs for Members of the role",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "NestedId": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "description": "The structure of a resource id nested into an object as used in newer endpoints."
      },
      "ChangeInfo": {
        "type": "object",
        "properties": {
          "dateAt": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/NestedId"
          }
        },
        "description": "The nested data structure used for change info (created/edited) in newer endpoints."
      }
    },
    "responses": {
      "400": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "404": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "500": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "503": {
        "description": "Service unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1.0.0/authenticate": {
      "post": {
        "summary": "Validate user's username and password",
        "description": "This route is only available for Evana's identity provider to validate username of password. Requesting this route will not lead to an user access token!",
        "operationId": "authentication",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication was successful and the user object is provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityProviderUserResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1.0.0/login": {
      "post": {
        "summary": "Gets a user access token.",
        "description": "This route will return a user access token.",
        "operationId": "userLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication was successful and the access token is provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginUserResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1.0.0/files": {
      "post": {
        "summary": "Upload a binary file",
        "description": "With this route you have the possibility to upload files to the EVANA system.",
        "operationId": "uploadFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Contains a user email address for additional user context in combination with a service access token. This is required in case of a service request."
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File was successfully received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "binary files"
        ]
      }
    },
    "/v1.0.0/files/{id}": {
      "get": {
        "summary": "Download the specified binary file",
        "description": "With this route you have the possibility to download files to the EVANA system.",
        "operationId": "downloadFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID"
          }
        ],
        "responses": {
          "200": {
            "description": "document was downloaded",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadDocumentResponse"
                }
              },
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadDocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "binary files"
        ]
      },
      "put": {
        "summary": "Upload a new version of the specified binary file",
        "description": "With this route, you have the possibility to update files which were already uploaded to the EVANA system. The user/service should has FILE_UPDATE_CONTENT permission.",
        "operationId": "uploadNewFileVersion",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "(__WIP__) Contains a user email address for additional user context in combination with a service access token. This is required in case of a service request."
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadNewFileVersionRequest"
              }
            }
          }
        },
        "tags": [
          "binary files"
        ],
        "responses": {
          "200": {
            "description": "File was successfully received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadNewFileVersionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      },
      "delete": {
        "summary": "Delete the specified binary file",
        "description": "With this route, you have the possibility to delete files which were already uploaded to the EVANA system.",
        "operationId": "deleteFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          }
        ],
        "responses": {
          "204": {
            "description": "File was successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "binary files"
        ]
      }
    },
    "/v1.0.0/files/{id}/analysis": {
      "get": {
        "summary": "Get the data model content (all keys) of the document",
        "description": "With this route you get all extracted values of the analysis relatet to the selected document.",
        "operationId": "getAnalysis",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis was successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/files/{id}/masterData": {
      "get": {
        "summary": "Get the elements assigned to the document",
        "description": "With this route you get all the elements that belong to the selected document.",
        "operationId": "getMasterData",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "locale"
          }
        ],
        "responses": {
          "200": {
            "description": "File's master data was successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMasterDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/files/{id}/masterData/{masterDataId}": {
      "put": {
        "summary": "Update the specified element assigned to the document",
        "description": "With this route you can add elements to the selected document.",
        "operationId": "updateMasterDataForFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          },
          {
            "in": "path",
            "name": "masterDataId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required master data Id"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "(__WIP__) Contains a user email address for additional user context in combination with a service access token. This is required in case of a service request."
          }
        ],
        "responses": {
          "204": {
            "description": "Master data was successfully updated"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/files/{id}/fileTypes/{fileTypeId}": {
      "put": {
        "summary": "Update the document type of a document.",
        "description": "With this route you can update/change the document type of a document. <br /><b>Important note&#58;</b> Be aware that the data model content of the document will be deleted!",
        "operationId": "updateFileTypeForFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          },
          {
            "in": "path",
            "name": "fileTypeId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file type Id"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "(__WIP__) Contains a user email address for additional user context in combination with a service access token. This is required in case of a service request."
          }
        ],
        "responses": {
          "204": {
            "description": "File type was updated"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/files/{id}/metaData": {
      "get": {
        "summary": "Get meta data of a document (and binary file)",
        "description": "With this route you can retrieve all available metadata of a document (and binary file).",
        "operationId": "getMetaData",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          }
        ],
        "responses": {
          "200": {
            "description": "File's meta data was successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/files/{id}/link": {
      "get": {
        "summary": "Get the URL to directly access the document in Evana360",
        "description": "With this route you can retrieve a deep link (URL) to a file within the EVANA system.",
        "operationId": "getFileLink",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          }
        ],
        "responses": {
          "200": {
            "description": "File's link was successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileLinkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/files/{id}/thumbnail": {
      "get": {
        "summary": "Get the thumbnail of the document",
        "description": "This route allows you to retrieve a thumbnail of a document (and binary file).",
        "operationId": "getFileThumbnail",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          }
        ],
        "responses": {
          "200": {
            "description": "File thumbnail was downloaded",
            "content": {
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadDocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/files/{id}/securityClassification": {
      "get": {
        "summary": "Get Evana360's security classification attached to the document",
        "description": "This route allows you to retrieve security classification assigned to a document.",
        "operationId": "getSecurityClassification",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Please enter the required file ID."
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Security classification was successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityClassificationResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content: The request was successfull, but the file does not have a Security Class set."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "documents"
        ]
      }
    },
    "/v1.0.0/structures": {
      "get": {
        "summary": "Get structures",
        "description": "With this route you can either query all structures or search for specific structures by filtering.",
        "operationId": "getStructures",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by structure's name"
          },
          {
            "in": "query",
            "name": "path",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by structure's path. path is a list of ids separated by comma, e.g 5f2277e14e62533d50999cb5,5f2277e14e62533d50999cb7"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number"
            },
            "required": false,
            "description": "limit of structures to be retrieved per page"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "required": false,
            "description": "page"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "edited",
                "name",
                "priority"
              ]
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            },
            "required": false,
            "description": "order of the result descending or ascending"
          },
          {
            "in": "query",
            "name": "showAdjacentStructuresOnly",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "search for results in adjacent structures only"
          }
        ],
        "responses": {
          "200": {
            "description": "Structures were successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuresResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "structures"
        ]
      },
      "post": {
        "deprecated": true,
        "summary": "Create a structure",
        "operationId": "createStructure",
        "description": "With this route you can create new structures. Please pay attention to the order of the given parameters.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStructureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structures were successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStructureResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "structures"
        ]
      }
    },
    "/v1.0.0/keys/{id}": {
      "patch": {
        "summary": "Update the value of a key in a data model",
        "operationId": "updateKey",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "key Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKeyDataValuesRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Key data values were updated"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "keys"
        ]
      }
    },
    "/v1.0.0/masterData": {
      "get": {
        "summary": "Get all elements",
        "description": "With this route you can either query all elements or search for specific elements by filtering.",
        "operationId": "listMasterData",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by name"
          },
          {
            "in": "query",
            "name": "structure",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by structure."
          },
          {
            "in": "query",
            "name": "masterDataType",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by master data type."
          },
          {
            "in": "query",
            "name": "masterData",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "Filter by linked master data"
          },
          {
            "in": "query",
            "name": "keyUsages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "Filter by key usages."
          },
          {
            "in": "query",
            "name": "keyValues",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "Filter by key values."
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "Filter by master data ids."
          },
          {
            "in": "query",
            "name": "tree",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "get dimensions from the current selected structure and all underlying structures."
          },
          {
            "in": "query",
            "name": "base",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "if set to true the API baseDataSearch looks for datamodel values (included in a dimension) to filter dimensions with these values. If set to false the API looks only for the name of a dimension."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number"
            },
            "required": false,
            "description": "limit of items per page"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "required": false,
            "description": "page"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "edited",
                "name"
              ]
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            },
            "required": false,
            "description": "order of the result descending or ascending"
          }
        ],
        "responses": {
          "200": {
            "description": "List masterData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMasterDataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "elements"
        ]
      },
      "post": {
        "summary": "Create a element",
        "description": "With this route, you can create new elements, for example, to assign them to structures or documents afterwards.",
        "operationId": "createMasterData",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMasterDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create master data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "elements"
        ]
      }
    },
    "/v1.0.0/masterData/{id}": {
      "patch": {
        "summary": "Update the specified element",
        "description": "With this route, you can update specified elements. You can change the name of an element and/or assign the element to another data model.",
        "operationId": "updateMasterData",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "master data Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMasterDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update master data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "elements"
        ]
      }
    },
    "/v1.0.0/masterData/{id}/keys": {
      "get": {
        "summary": "Get the element's key-value pairs related to a data model",
        "description": "This route allows you to query all elements and their key-value pairs that have been assigned to a specific data model.",
        "operationId": "getMasterDataKeys",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "master data id"
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "Set language for results (de as default)"
          }
        ],
        "responses": {
          "200": {
            "description": "Get master data keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMasterDataKeysResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "elements"
        ]
      },
      "patch": {
        "summary": "Update a element's key-value pairs related to a data model",
        "operationId": "updateMasterDataKeys",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "master data id"
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "Set language for results (de as default)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMasterDataKeysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get master data keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMasterDataKeysResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "elements"
        ]
      }
    },
    "/v1.0.0/dataModels": {
      "post": {
        "summary": "Create a data model",
        "description": "With this route you can create new data models.",
        "operationId": "createDataModel",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "locale"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create data model response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataModelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "data models"
        ]
      },
      "get": {
        "summary": "Get all data models",
        "description": "With this route you can either query all data models or search for specific data models by filtering.",
        "operationId": "getDataModels",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by name"
          },
          {
            "in": "query",
            "name": "client",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by client."
          },
          {
            "in": "query",
            "name": "fileType",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by is file type."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "DIMENSIONTYPE",
                "FILETYPE",
                "WORKFLOW"
              ]
            },
            "required": false,
            "description": "Filter by data model type."
          },
          {
            "in": "query",
            "name": "isUsed",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Filter by isUsed."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number"
            },
            "required": false,
            "description": "limit of items per page"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "required": false,
            "description": "page"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "edited",
                "name"
              ]
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            },
            "required": false,
            "description": "order of the result descending or ascending"
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Create data model response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataModelsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "data models"
        ]
      }
    },
    "/v1.0.0/dataModels/{id}": {
      "get": {
        "summary": "Get a specific data model",
        "description": "This route allows you to query a specific data model by its ID.",
        "operationId": "getDataModel",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "dataModel Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Get data model response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataModelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "data models"
        ]
      }
    },
    "/v1.0.0/dataModels/{id}/keys": {
      "post": {
        "summary": "Add a new key to the specified data model to create a customer-specific data model by extending an existing one",
        "description": "This route allows you to add a new key to the specified data model to create a customer-specific data model by extending an existing one",
        "operationId": "addDataModelKeys",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "data model Id"
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            },
            "required": false,
            "description": "locale"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDataModelKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Add data model key response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataModelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "data models"
        ]
      }
    },
    "/v1.0.0/dataModels/global": {
      "get": {
        "summary": "Get all non-customer-specific (global) data models",
        "description": "This route delivers all global data models that are not customer-specific.",
        "operationId": "getGlobalDataModels",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by name"
          },
          {
            "in": "query",
            "name": "fileType",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by is file type."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "DIMENSIONTYPE",
                "FILETYPE",
                "WORKFLOW"
              ]
            },
            "required": false,
[...]
