{
  "openapi": "3.0.3",
  "info": {
    "title": "Kiwi Tequila API",
    "description": "Kiwi.com's Tequila API provides flight search, multi-city itineraries, location lookups, and booking capabilities. Covers flights, buses, and trains with virtual interlining support.",
    "version": "1.0.0",
    "contact": {
      "name": "Kiwi.com",
      "url": "https://tequila.kiwi.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/elena-anagn/import-openapi-specs/main/kiwi.com/tequila-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.tequila.kiwi.com",
      "description": "Kiwi Tequila production server"
    }
  ],
  "paths": {
    "/v2/search": {
      "get": {
        "operationId": "searchFlights",
        "summary": "Search flights",
        "description": "Search for flights, buses, or trains between locations. Returns itineraries with prices, durations, routes, and booking tokens. Supports one-way and round-trip searches with extensive filtering.",
        "parameters": [
          {
            "name": "fly_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Departure location. IATA code, city ID, country code, metro code, or radius (lat-lon-xkm). Comma-separated for multiple. Prefix with city: or airport: for disambiguation."
          },
          {
            "name": "fly_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Arrival location. Same format as fly_from. Omit for aggregated results across all destinations."
          },
          {
            "name": "date_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Start of departure date range in dd/mm/yyyy format."
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End of departure date range in dd/mm/yyyy format."
          },
          {
            "name": "return_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start of return date range in dd/mm/yyyy format (for round trips)."
          },
          {
            "name": "return_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End of return date range in dd/mm/yyyy format (for round trips)."
          },
          {
            "name": "nights_in_dst_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum nights at destination. Must be specified with nights_in_dst_to."
          },
          {
            "name": "nights_in_dst_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum nights at destination. Must be specified with nights_in_dst_from."
          },
          {
            "name": "max_fly_duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum flight duration in hours."
          },
          {
            "name": "flight_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "round",
                "oneway"
              ]
            },
            "description": "Trip type: round or oneway."
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Number of adult passengers (max total 9)."
          },
          {
            "name": "children",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of children."
          },
          {
            "name": "infants",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of infants."
          },
          {
            "name": "selected_cabins",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "M",
                "W",
                "C",
                "F"
              ]
            },
            "description": "Cabin class: M (economy), W (premium economy), C (business), F (first)."
          },
          {
            "name": "curr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Currency code for prices (e.g. EUR, USD, GBP)."
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code for results (e.g. en, de, fr)."
          },
          {
            "name": "price_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum price filter."
          },
          {
            "name": "price_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum price filter."
          },
          {
            "name": "max_stopovers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of stopovers (0 for direct flights only)."
          },
          {
            "name": "max_sector_stopovers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum stopovers per sector."
          },
          {
            "name": "stopover_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum stopover duration (HH:MM format)."
          },
          {
            "name": "stopover_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Maximum stopover duration (HH:MM format)."
          },
          {
            "name": "select_airlines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated IATA airline codes to filter by."
          },
          {
            "name": "select_airlines_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "When true, exclude selected airlines. When false, include only selected airlines."
          },
          {
            "name": "dtime_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum departure time (HH:MM format)."
          },
          {
            "name": "dtime_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Maximum departure time (HH:MM format)."
          },
          {
            "name": "atime_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum arrival time (HH:MM format)."
          },
          {
            "name": "atime_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Maximum arrival time (HH:MM format)."
          },
          {
            "name": "vehicle_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "aircraft",
                "bus",
                "train"
              ]
            },
            "description": "Filter by vehicle type."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "duration",
                "quality",
                "date"
              ],
              "default": "price"
            },
            "description": "Sort results by price, duration, quality, or date."
          },
          {
            "name": "asc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "Sort order: 1 = ascending (default), 0 = descending."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            },
            "description": "Maximum number of results (default 200)."
          },
          {
            "name": "one_for_city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "When 1, return only the cheapest result per destination city."
          },
          {
            "name": "one_per_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "When 1, return only the cheapest result per date."
          },
          {
            "name": "conn_on_diff_airport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "Allow connections at different airports (default 1)."
          },
          {
            "name": "ret_from_diff_airport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "Allow return from different airport (default 1)."
          },
          {
            "name": "ret_to_diff_airport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "Allow return to different airport (default 1)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful flight search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v2/multicity": {
      "post": {
        "operationId": "searchMultiCity",
        "summary": "Search multi-city flights",
        "description": "Search for multi-city itineraries with up to 9 segments. Each segment specifies origin, destination, and date range.",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code for results."
          },
          {
            "name": "curr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Currency code for prices."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requests"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "maxItems": 9,
                    "items": {
                      "type": "object",
                      "required": [
                        "fly_from",
                        "to",
                        "dateFrom",
                        "dateTo"
                      ],
                      "properties": {
                        "fly_from": {
                          "type": "string",
                          "description": "Departure IATA code."
                        },
                        "to": {
                          "type": "string",
                          "description": "Arrival IATA code."
                        },
                        "dateFrom": {
                          "type": "string",
                          "description": "Start of date range (dd/mm/yyyy)."
                        },
                        "dateTo": {
                          "type": "string",
                          "description": "End of date range (dd/mm/yyyy)."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi-city search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/locations/query": {
      "get": {
        "operationId": "searchLocations",
        "summary": "Search locations by name or code",
        "description": "Search for airports, cities, and countries by name, IATA code, or partial string. Returns location details with coordinates, timezone, and hierarchy.",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search term — IATA code, city name, or partial string."
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code for results."
          },
          {
            "name": "location_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated types: station, airport, bus_station, city, autonomous_territory, subdivision, country, region, continent."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of results."
          },
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Only return active locations."
          }
        ],
        "responses": {
          "200": {
            "description": "Location search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/locations/radius": {
      "get": {
        "operationId": "searchLocationsByRadius",
        "summary": "Search locations by radius",
        "description": "Find airports and cities within a radius of coordinates or a named location.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Latitude of center point."
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Longitude of center point."
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Location name (alternative to lat/lon)."
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 250
            },
            "description": "Search radius in km (default 250)."
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code for results."
          },
          {
            "name": "location_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated location types to return."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Location results within radius",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/v2/booking/check_flights": {
      "get": {
        "operationId": "checkFlights",
        "summary": "Check flight availability and pricing",
        "description": "Verify flight availability and get final pricing before booking. Must be polled repeatedly — every 2-3 seconds in phase 1, every 15 seconds in phase 2 — until flights_checked is true.",
        "parameters": [
          {
            "name": "booking_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Booking token from search results (expires after 30 minutes)."
          },
          {
            "name": "session_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Session ID that binds pricing to the itinerary."
          },
          {
            "name": "bnum",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of bags for the entire booking."
          },
          {
            "name": "adults",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of adult travelers."
          },
          {
            "name": "children",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of children."
          },
          {
            "name": "infants",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of infants."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Currency for price conversion (prices always returned in EUR as well)."
          }
        ],
        "responses": {
          "200": {
            "description": "Flight check results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckFlightsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/v2/booking/save_booking": {
      "post": {
        "operationId": "saveBooking",
        "summary": "Save a booking",
        "description": "Submit passenger details and create a booking. Call only once after check_flights confirms availability.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBookingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid booking data"
          },
          "403": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/v2/booking/confirm_payment": {
      "post": {
        "operationId": "confirmPayment",
        "summary": "Confirm payment for a booking",
        "description": "Confirm payment within 30 minutes of save_booking. Call only once.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "booking_id",
                  "transaction_id"
                ],
                "properties": {
                  "booking_id": {
                    "type": "integer",
                    "description": "Booking ID from save_booking response."
                  },
                  "transaction_id": {
                    "type": "string",
                    "description": "Transaction ID from save_booking response."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment confirmation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "0 = success, 1 = failed, -1 = timeout."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid or missing API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Kiwi Tequila API key passed in the apikey header."
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "fx_rate": {
            "type": "number"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightItinerary"
            }
          },
          "search_params": {
            "type": "object"
          },
          "all_stopover_airports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sort_version": {
            "type": "integer"
          }
        }
      },
      "FlightItinerary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "airlines": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price": {
            "type": "number",
            "description": "Total price in the requested currency."
          },
          "quality": {
            "type": "number"
          },
          "flyFrom": {
            "type": "string",
            "description": "Departure airport IATA code."
          },
          "flyTo": {
            "type": "string",
            "description": "Arrival airport IATA code."
          },
          "cityFrom": {
            "type": "string"
          },
          "cityCodeFrom": {
            "type": "string"
          },
          "cityTo": {
            "type": "string"
          },
          "cityCodeTo": {
            "type": "string"
          },
          "countryFrom": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "countryTo": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "local_departure": {
            "type": "string",
            "format": "date-time"
          },
          "local_arrival": {
            "type": "string",
            "format": "date-time"
          },
          "utc_departure": {
            "type": "string",
            "format": "date-time"
          },
          "utc_arrival": {
            "type": "string",
            "format": "date-time"
          },
          "distance": {
            "type": "number",
            "description": "Distance in km."
          },
          "duration": {
            "type": "object",
            "properties": {
              "departure": {
                "type": "integer",
                "description": "Outbound duration in seconds."
              },
              "return": {
                "type": "integer",
                "description": "Return duration in seconds."
              },
              "total": {
                "type": "integer",
                "description": "Total duration in seconds."
              }
            }
          },
          "fly_duration": {
            "type": "string",
            "description": "Human-readable duration (e.g. 1h 15m)."
          },
          "nightsInDest": {
            "type": "integer"
          },
          "bags_price": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "baglimit": {
            "type": "object",
            "properties": {
              "hold_weight": {
                "type": "number"
              },
              "hand_weight": {
                "type": "number"
              }
            }
          },
          "availability": {
            "type": "object",
            "properties": {
              "seats": {
                "type": "integer"
              }
            }
          },
          "has_airport_change": {
            "type": "boolean"
          },
          "technical_stops": {
            "type": "integer"
          },
          "virtual_interlining": {
            "type": "boolean"
          },
          "booking_token": {
            "type": "string",
            "description": "Token for the booking flow (expires in 30 min)."
          },
          "deep_link": {
            "type": "string",
            "format": "uri",
            "description": "Direct link to Kiwi.com booking page."
          },
          "route": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteSegment"
            }
          },
          "pnr_count": {
            "type": "integer"
          },
          "facilitated_booking_available": {
            "type": "boolean"
          }
        }
      },
      "RouteSegment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "airline": {
            "type": "string"
          },
          "flight_no": {
            "type": "integer"
          },
          "flyFrom": {
            "type": "string"
          },
          "flyTo": {
            "type": "string"
          },
          "cityFrom": {
            "type": "string"
          },
          "cityTo": {
            "type": "string"
          },
          "local_departure": {
            "type": "string",
            "format": "date-time"
          },
          "local_arrival": {
            "type": "string",
            "format": "date-time"
          },
          "utc_departure": {
            "type": "string",
            "format": "date-time"
          },
          "utc_arrival": {
            "type": "string",
            "format": "date-time"
          },
          "return": {
            "type": "integer",
            "description": "0 for outbound, 1 for return leg."
          },
          "bags_recheck_required": {
            "type": "boolean"
          },
          "equipment": {
            "type": "string",
            "description": "Aircraft type code."
          },
          "fare_basis": {
            "type": "string"
          },
          "fare_classes": {
            "type": "string"
          },
          "fare_category": {
            "type": "string"
          },
          "vehicle_type": {
            "type": "string",
            "enum": [
              "aircraft",
              "bus",
              "train"
            ]
          },
          "operating_carrier": {
            "type": "string"
          },
          "guarantee": {
            "type": "boolean"
          }
        }
      },
      "LocationsResponse": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "meta": {
            "type": "object"
          },
          "last_refresh": {
            "type": "integer"
          },
          "results_retrieved": {
            "type": "integer"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "int_id": {
            "type": "integer"
          },
          "id": {
            "type": "string",
            "description": "IATA or ISO code."
          },
          "code": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "slug_en": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "station",
              "airport",
              "bus_station",
              "city",
              "autonomous_territory",
              "subdivision",
              "country",
              "region",
              "continent"
            ]
          },
          "rank": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "city": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "country": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "CheckFlightsResponse": {
        "type": "object",
        "properties": {
          "flights_checked": {
            "type": "boolean",
            "description": "True when verification is complete."
          },
          "flights_invalid": {
            "type": "boolean",
            "description": "True if the flight is no longer available."
          },
          "price_change": {
            "type": "boolean"
          },
          "total": {
            "type": "number",
            "description": "Final total price."
          },
          "adults_price": {
            "type": "number"
          },
          "infants_price": {
            "type": "number"
          },
          "orig_price": {
            "type": "number"
          },
          "document_options": {
            "type": "object"
          }
        }
      },
      "SaveBookingRequest": {
        "type": "object",
        "required": [
          "booking_token",
          "session_id",
          "passengers"
        ],
        "properties": {
          "booking_token": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "passengers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "surname",
                "email",
                "birthday",
                "nationality",
                "category"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "surname": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "phone": {
                  "type": "string"
                },
                "birthday": {
                  "type": "string",
                  "description": "Date of birth (yyyy-mm-dd)."
                },
                "nationality": {
                  "type": "string",
                  "description": "ISO 3166-1 alpha-2 country code."
                },
                "title": {
                  "type": "string",
                  "enum": [
                    "Mr",
                    "Ms",
                    "Mrs"
                  ]
                },
                "cardno": {
                  "type": "string",
                  "description": "Passport/ID number."
                },
                "expiration": {
                  "type": "string",
                  "description": "Document expiration date."
                },
                "category": {
                  "type": "string",
                  "enum": [
                    "adult",
                    "child",
                    "infant"
                  ]
                }
              }
            }
          },
          "baggage": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SaveBookingResponse": {
        "type": "object",
        "properties": {
          "booking_id": {
            "type": "integer"
          },
          "transaction_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "flights": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "passengers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ]
}