{
  "openapi": "3.0.3",
  "info": {
    "title": "Unified HRIS API",
    "version": "1.0.0",
    "description": "The Unified.to HRIS API provides a unified interface for accessing HR data across multiple HRIS platforms. It supports CRUD operations for employees, companies, groups, locations, time off, payslips, devices, and more.",
    "x-jentic-source-url": "https://unified.to/hris"
  },
  "servers": [{ "url": "https://api.unified.to" }],
  "paths": {
    "/hris/employee": {
      "get": { "operationId": "listEmployees", "summary": "List employees", "tags": ["Employee"], "parameters": [{ "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Employee" } } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createEmployee", "summary": "Create employee", "tags": ["Employee"], "parameters": [{ "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmployeeInput" } } } }, "responses": { "201": { "description": "Employee created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/hris/employee/{id}": {
      "get": { "operationId": "getEmployee", "summary": "Get employee", "tags": ["Employee"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Employee" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "patch": { "operationId": "updateEmployee", "summary": "Update employee", "tags": ["Employee"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmployeeInput" } } } }, "responses": { "200": { "description": "Employee updated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "deleteEmployee", "summary": "Remove employee", "tags": ["Employee"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Employee removed" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/hris/company": {
      "get": { "operationId": "listCompanies", "summary": "List companies", "tags": ["Company"], "parameters": [{ "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createCompany", "summary": "Create company", "tags": ["Company"], "parameters": [{ "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "201": { "description": "Company created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/hris/company/{id}": {
      "get": { "operationId": "getCompany", "summary": "Get company", "tags": ["Company"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "patch": { "operationId": "updateCompany", "summary": "Update company", "tags": ["Company"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Company updated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "deleteCompany", "summary": "Remove company", "tags": ["Company"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Company removed" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/hris/group": {
      "get": { "operationId": "listGroups", "summary": "List groups", "tags": ["Group"], "parameters": [{ "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/hris/group/{id}": {
      "get": { "operationId": "getGroup", "summary": "Get group", "tags": ["Group"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/hris/timeoff": {
      "get": { "operationId": "listTimeOff", "summary": "List time off", "tags": ["Time Off"], "parameters": [{ "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/hris/payslip": {
      "get": { "operationId": "listPayslips", "summary": "List payslips", "tags": ["Payslip"], "parameters": [{ "name": "connection_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    }
  },
  "components": {
    "schemas": {
      "Employee": { "type": "object", "properties": { "id": { "type": "string" }, "first_name": { "type": "string" }, "last_name": { "type": "string" }, "email": { "type": "string" }, "title": { "type": "string" }, "department": { "type": "string" }, "company_id": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" } } },
      "EmployeeInput": { "type": "object", "properties": { "first_name": { "type": "string" }, "last_name": { "type": "string" }, "email": { "type": "string" }, "title": { "type": "string" }, "department": { "type": "string" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  },
  "security": [{ "bearerAuth": [] }]
}