{
  "openapi": "3.0.3",
  "info": {
    "title": "REST Services",
    "version": "1.0",
    "description": "Skubana (now Extensiv) REST API for inventory, order, product, shipment, and warehouse management.",
    "x-jentic-source-url": "https://api.skubana.com/v2/api-docs"
  },
  "servers": [
    {
      "url": "https://api.skubana.com/"
    }
  ],
  "tags": [
    {
      "name": "Analytics",
      "description": "Analytics Api Controller"
    },
    {
      "name": "Application Properties",
      "description": "Application Properties Api Controller"
    },
    {
      "name": "FBA Inbound",
      "description": "Fba Inbound Api Controller"
    },
    {
      "name": "Global",
      "description": "Global Api Controller"
    },
    {
      "name": "Inventory",
      "description": "Inventory Api Controller V 1"
    },
    {
      "name": "Inventory Value",
      "description": "Inventory Value Api Controller V 1"
    },
    {
      "name": "Listings",
      "description": "Listing Api Controller"
    },
    {
      "name": "Order",
      "description": "Order Api Controller V 1"
    },
    {
      "name": "Organizations",
      "description": "Organization Permissions Controller"
    },
    {
      "name": "Product",
      "description": "Product Api Controller V 1"
    },
    {
      "name": "Purchase Order",
      "description": "Purchase Order Api Controller"
    },
    {
      "name": "Returns",
      "description": "Rma Api Controller V 1"
    },
    {
      "name": "Sales Channel",
      "description": "Sales Channel Api Controller"
    },
    {
      "name": "Shipment",
      "description": "Shipment Api Controller V 1"
    },
    {
      "name": "Stock Transfer",
      "description": "Inventory Stock Transfer Api Controller"
    },
    {
      "name": "Validation",
      "description": "Validation Api Controller"
    },
    {
      "name": "Vendor",
      "description": "Vendor Api Controller"
    },
    {
      "name": "Warehouse",
      "description": "Warehouse Api Controller"
    },
    {
      "name": "application-feature-group-controller",
      "description": "Application Feature Group Controller"
    },
    {
      "name": "application-features-controller",
      "description": "Application Features Controller"
    }
  ],
  "paths": {
    "/v1.1/inventory": {
      "put": {
        "tags": [
          "Inventory"
        ],
        "summary": "Create product stocks",
        "description": "Create product stocks and locations",
        "operationId": "putInventoryv11UsingPUT",
        "parameters": [
          {
            "name": "notes",
            "in": "query",
            "required": false,
            "description": "notes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "putInventory",
                  "$ref": "#/components/schemas/putInventory"
                }
              }
            }
          },
          "description": "putInventoryList"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/inventory/add": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Add product stock quantity",
        "description": "Add product stock quantity",
        "operationId": "postInventoryAddv11UsingPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "PostInventoryQuantityAddDto",
                  "$ref": "#/components/schemas/PostInventoryQuantityAddDto"
                }
              }
            }
          },
          "description": "postInventoryAdd"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/inventory/adjust": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Update product stock quantities",
        "description": "Adjust product stock quantities, will override existing quantities. <br/><br/>This endpoint should be used carefully as it might override pending activity. It is recommended to use /inventory/add and /inventory/remove instead.",
        "operationId": "postInventoryAdjustv11UsingPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "PostInventoryAdjustDto",
                  "$ref": "#/components/schemas/PostInventoryAdjustDto"
                }
              }
            }
          },
          "description": "postInventoryAdjust"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/inventory/remove": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Remove product stock quantity",
        "description": "Remove product stock quantity",
        "operationId": "postInventoryRemovev11UsingPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "PostInventoryQuantityRemoveDto",
                  "$ref": "#/components/schemas/PostInventoryQuantityRemoveDto"
                }
              }
            }
          },
          "description": "postInventoryRemove"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/inventory/updatestocklocation": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Update Stock Location Name",
        "description": "Update Stock Location Name",
        "operationId": "updateStockLocationUsingPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "inventory",
                  "$ref": "#/components/schemas/inventory"
                }
              }
            }
          },
          "description": "stockLocationDtos"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieve orders",
        "description": "Retrieve orders",
        "operationId": "getOrdersUsingGET_1",
        "parameters": [
          {
            "name": "createdDateFrom",
            "in": "query",
            "required": false,
            "description": "createdDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateTo",
            "in": "query",
            "required": false,
            "description": "createdDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "external",
            "in": "query",
            "required": false,
            "description": "external",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "modifiedDateFrom",
            "in": "query",
            "required": false,
            "description": "modifiedDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedDateTo",
            "in": "query",
            "required": false,
            "description": "modifiedDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "orderDateFrom",
            "in": "query",
            "required": false,
            "description": "orderDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "orderDateTo",
            "in": "query",
            "required": false,
            "description": "orderDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "description": "orderId",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          },
          {
            "name": "orderNumber",
            "in": "query",
            "required": false,
            "description": "orderNumber (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "paymentDateFrom",
            "in": "query",
            "required": false,
            "description": "paymentDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "paymentDateTo",
            "in": "query",
            "required": false,
            "description": "paymentDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "description": "productId",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": false,
            "description": "salesChannelId",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "shipDateFrom",
            "in": "query",
            "required": false,
            "description": "shipDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "shipDateTo",
            "in": "query",
            "required": false,
            "description": "shipDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "status",
            "schema": {
              "type": "array",
              "enum": [
                "UNRESOLVED",
                "AWAITING_PAYMENT",
                "AWAITING_SHIPMENT",
                "AWAITING_MC_FULFILLMENT",
                "AWAITING_3PL_EXPORT",
                "AWAITING_DROPSHIP",
                "PENDING_FULFILLMENT",
                "SHIPPED",
                "CANCELLED",
                "ON_HOLD",
                "SKU_UNPROCESSED",
                "PROCESSED_OUTSIDE_OF_SKUBANA",
                "INBOUND_SHIPMENT_PLAN"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "UNRESOLVED",
                  "AWAITING_PAYMENT",
                  "AWAITING_SHIPMENT",
                  "AWAITING_MC_FULFILLMENT",
                  "AWAITING_3PL_EXPORT",
                  "AWAITING_DROPSHIP",
                  "PENDING_FULFILLMENT",
                  "SHIPPED",
                  "CANCELLED",
                  "ON_HOLD",
                  "SKU_UNPROCESSED",
                  "PROCESSED_OUTSIDE_OF_SKUBANA",
                  "INBOUND_SHIPMENT_PLAN"
                ]
              }
            },
            "explode": true
          },
          {
            "name": "unresolvedStatus",
            "in": "query",
            "required": false,
            "description": "unresolvedStatus",
            "schema": {
              "type": "array",
              "enum": [
                "RESOLVED",
                "MISSING_ORDER_INFO",
                "MISSING_PRODUCT_INFO",
                "MISSING_FULFILLMENT_SOURCE",
                "MISSING_PICKING_LOCATION",
                "ORDERBOT_CONFLICT",
                "OUT_OF_STOCK",
                "MULTIPLE_WAREHOUSES",
                "FBA_UNRESOLVED",
                "MISSING_VENDOR_PRODUCT"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "RESOLVED",
                  "MISSING_ORDER_INFO",
                  "MISSING_PRODUCT_INFO",
                  "MISSING_FULFILLMENT_SOURCE",
                  "MISSING_PICKING_LOCATION",
                  "ORDERBOT_CONFLICT",
                  "OUT_OF_STOCK",
                  "MULTIPLE_WAREHOUSES",
                  "FBA_UNRESOLVED",
                  "MISSING_VENDOR_PRODUCT"
                ]
              }
            },
            "explode": true
          },
          {
            "name": "warehouseId",
            "in": "query",
            "required": false,
            "description": "warehouseId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "order",
                    "$ref": "#/components/schemas/order"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter specified"
          }
        }
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Update orders",
        "description": "Update orders",
        "operationId": "postOrderUsingPOST_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "postOrder",
                  "$ref": "#/components/schemas/postOrder"
                }
              }
            }
          },
          "description": "orderDtoList"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/orders/channelpurchases": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieve channel purchases",
        "description": "Retrieve channel purchases",
        "operationId": "getChannelPurchasesUsingGET_1",
        "parameters": [
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "description": "orderId",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          },
          {
            "name": "orderNumber",
            "in": "query",
            "required": false,
            "description": "orderNumber",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": true,
            "description": "salesChannelId",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of channel purchases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "channelPurchase",
                    "$ref": "#/components/schemas/channelPurchase"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/orders/customfielddefinitions": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieve custom field definitions",
        "description": "Retrieve custom field definitions",
        "operationId": "getCustomFieldDefinitionsUsingGET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getOrderCustomFieldDef",
                  "$ref": "#/components/schemas/getOrderCustomFieldDef"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Create custom fields definitions",
        "description": "Create custom fields definitions",
        "operationId": "putCustomFieldDefinitionsUsingPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "putOrderCustomFieldDefinitions",
                "$ref": "#/components/schemas/putOrderCustomFieldDefinitions"
              }
            }
          },
          "description": "putCustomFieldDefinitions"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Delete custom field definitions",
        "description": "Delete custom field definitions",
        "operationId": "deleteCustomFieldDefsUsingDELETE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "deleteOrderCustomFieldDefs",
                "$ref": "#/components/schemas/deleteOrderCustomFieldDefs"
              }
            }
          },
          "description": "deleteCustomFieldDefs"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getOrderCustomFieldDef",
                  "$ref": "#/components/schemas/getOrderCustomFieldDef"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/orders/orderitems/customFields/definitions": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get order item custom field definitions",
        "description": "Returns a list of custom field definitions for order items. Use 'names' for exact match on multiple names, or 'name' for partial match (contains) on a single name.",
        "operationId": "getCustomFieldDefinitionsUsingGET_1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit the number of results",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter by partial name match (contains). Ignored if 'names' is provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "names",
            "in": "query",
            "required": false,
            "description": "Filter by exact name match from a list. Takes precedence over 'name' parameter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Create or update order item custom field definitions",
        "description": "Creates or updates custom field definitions for order items.",
        "operationId": "putCustomFieldDefinitionsUsingPUT_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "putCustomFieldDefinitions",
                "$ref": "#/components/schemas/putCustomFieldDefinitions"
              }
            }
          },
          "description": "putCustomFieldDefDto"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Delete order item custom field definitions",
        "description": "Deletes custom field definitions for order items.",
        "operationId": "deleteCustomFieldDefinitionsUsingDELETE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "deleteCustomFieldDefinitions",
                "$ref": "#/components/schemas/deleteCustomFieldDefinitions"
              }
            }
          },
          "description": "deleteCustomFieldDefDto"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "ResponseEntity",
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/orders/orderitems/customFields/values": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get order item custom field values",
        "description": "Returns custom field values for specified order items.",
        "operationId": "getCustomFieldValuesUsingGET",
        "parameters": [
          {
            "name": "names",
            "in": "query",
            "required": false,
            "description": "Filter by definition names",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "orderItemIds",
            "in": "query",
            "required": true,
            "description": "List of Order Item IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Create or update order item custom field values",
        "description": "Creates or updates custom field values for order items based on custom field definition name.",
        "operationId": "putCustomFieldValuesUsingPUT_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "putCustomFieldValues",
                "$ref": "#/components/schemas/putCustomFieldValues"
              }
            }
          },
          "description": "putCustomFieldValueDto"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Delete order item custom field values",
        "description": "Deletes custom field values for order items.",
        "operationId": "deleteCustomFieldValuesUsingDELETE_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "deleteCustomFieldValues",
                "$ref": "#/components/schemas/deleteCustomFieldValues"
              }
            }
          },
          "description": "deleteCustomFieldValueDto"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "ResponseEntity",
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/orders/{orderId}": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieve order",
        "description": "Retrieve an order by its identifier",
        "operationId": "getOrderUsingGET_1",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": false,
            "description": "orderId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of order",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "order",
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/v1.1/orders/{orderId}/customfieldvalues": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieve custom field values",
        "description": "Retrieve custom field values",
        "operationId": "getCustomFieldValuesByOrderIdUsingGET",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "orderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getOrderCustomFieldValue",
                  "$ref": "#/components/schemas/getOrderCustomFieldValue"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Create custom field",
        "description": "Create custom field values",
        "operationId": "putCustomFieldValuesUsingPUT",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "orderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "putOrderCustomFieldValues",
                "$ref": "#/components/schemas/putOrderCustomFieldValues"
              }
            }
          },
          "description": "putCustomFieldValues"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getOrderCustomFieldValue",
                  "$ref": "#/components/schemas/getOrderCustomFieldValue"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Delete custom field values",
        "description": "Delete custom field values",
        "operationId": "deleteCustomFieldValuesUsingDELETE",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "orderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "deleteCustomFieldValues",
                "$ref": "#/components/schemas/deleteCustomFieldValues"
              }
            }
          },
          "description": "deleteCustomFieldValues"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getOrderCustomFieldValue",
                  "$ref": "#/components/schemas/getOrderCustomFieldValue"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/orders/{orderId}/orderitems": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Update order items",
        "description": "Update fields for order items in an order. Only certain sales channel types support edits on quantity, unit price, and discount. This endpoint allows only one request at a time. A new request will not be accepted until the previous one finishes",
        "operationId": "postOrderItemsUsingPOST",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": false,
            "description": "orderId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "postOrderItem",
                  "$ref": "#/components/schemas/postOrderItem"
                }
              }
            }
          },
          "description": "postOrderItems"
        },
        "responses": {
          "200": {
            "description": "Successfully updated the order items",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkSingleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkSingleEntityApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Invalid parameter specified"
          }
        }
      },
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Add order items",
        "description": "Add order items. Only certain sales channel types support adding items. This endpoint allows only one request at a time. A new request will not be accepted until the previous one finishes",
        "operationId": "putOrderItemUsingPUT",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": false,
            "description": "orderId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "putOrderItem",
                  "$ref": "#/components/schemas/putOrderItem"
                }
              }
            }
          },
          "description": "putOrderItems"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkSingleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkSingleEntityApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Delete order items",
        "description": "Delete order items. Only certain sales channel types support deleting order items. This endpoint allows only one request at a time. A new request will not be accepted until the previous one finishes",
        "operationId": "deleteOrderItemsUsingDELETE",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": false,
            "description": "orderId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "orderItemIds",
            "in": "query",
            "required": true,
            "description": "orderItemIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkSingleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkSingleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/organizations/permissions": {
      "put": {
        "tags": [
          "Organizations"
        ],
        "summary": "Put Organization Permissions.",
        "operationId": "setOrganizationPermissionsUsingPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "OrganizationPermissionsDto",
                  "$ref": "#/components/schemas/OrganizationPermissionsDto"
                }
              }
            }
          },
          "description": "organizationPermissionsDto"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "OrganizationDto",
                  "$ref": "#/components/schemas/OrganizationDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete Organization Permissions.",
        "operationId": "deleteOrganizationPermissionsByIdsUsingDELETE",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/organizations/permissions/{userId}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get all Organization permissions by user.",
        "operationId": "getOrganizationPermissionsForUserUsingGET",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "userId",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "OrganizationDto",
                  "$ref": "#/components/schemas/OrganizationDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/product": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Retrieve product",
        "description": "Retrieve product",
        "operationId": "getProduct_V11UsingGET",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "active",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "mpn",
            "in": "query",
            "required": false,
            "description": "mpn",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "description": "productId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "description": "sku",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upc",
            "in": "query",
            "required": false,
            "description": "upc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "product",
                  "$ref": "#/components/schemas/product"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Retrieve products",
        "description": "Retrieve products",
        "operationId": "getProductsV11UsingGET",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "active",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdDateFrom",
            "in": "query",
            "required": false,
            "description": "createdDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateTo",
            "in": "query",
            "required": false,
            "description": "createdDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "modifiedDateFrom",
            "in": "query",
            "required": false,
            "description": "modifiedDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedDateTo",
            "in": "query",
            "required": false,
            "description": "modifiedDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "mpn",
            "in": "query",
            "required": false,
            "description": "mpn (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "productInvStatus",
            "in": "query",
            "required": false,
            "description": "productInvStatus",
            "schema": {
              "type": "array",
              "enum": [
                "UNCONFIGURED_STOCK"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "UNCONFIGURED_STOCK"
                ]
              }
            },
            "explode": true
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "description": "sku (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "stockLocationId",
            "in": "query",
            "required": false,
            "description": "stockLocationId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "upc",
            "in": "query",
            "required": false,
            "description": "upc (Note: performs a 'prefix' search; a wildcard will be automatically appended at the end)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "warehouseId",
            "in": "query",
            "required": false,
            "description": "warehouseId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "product",
                    "$ref": "#/components/schemas/product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/products/bundles": {
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Create bundle products",
        "description": "Create bundle products",
        "operationId": "putProductBundlesUsingPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "putBundleProduct",
                  "$ref": "#/components/schemas/putBundleProduct"
                }
              }
            }
          },
          "description": "bundleProducts"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/products/cores": {
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Create core products",
        "description": "Create core products",
        "operationId": "putProductCoresUsingPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "putCoreProduct",
                  "$ref": "#/components/schemas/putCoreProduct"
                }
              }
            }
          },
          "description": "coreProducts"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/products/customfielddefinitions": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Retrieve custom field definitions",
        "description": "Retrieve custom field definitions",
        "operationId": "getCustomFieldDefinitionsUsingGET_2",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getCustomFieldDef",
                  "$ref": "#/components/schemas/getCustomFieldDef"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Create custom fields definitions",
        "description": "Create custom fields definitions",
        "operationId": "putCustomFieldDefinitionsUsingPUT_2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "putCustomFieldDefinitions",
                "$ref": "#/components/schemas/putCustomFieldDefinitions"
              }
            }
          },
          "description": "putCustomFieldDefinitions"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Delete custom field definitions",
        "description": "Delete custom field definitions",
        "operationId": "deleteCustomFieldDefsUsingDELETE_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "deleteCustomFieldDefs",
                "$ref": "#/components/schemas/deleteCustomFieldDefs"
              }
            }
          },
          "description": "deleteCustomFieldDefs"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getCustomFieldDef",
                  "$ref": "#/components/schemas/getCustomFieldDef"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/products/variations": {
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Create product variations",
        "description": "Create product variations",
        "operationId": "putProductVariationsUsingPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "putVariationProduct",
                  "$ref": "#/components/schemas/putVariationProduct"
                }
              }
            }
          },
          "description": "productVariations"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/products/virtuals": {
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Create virtual products",
        "description": "Create virtual products",
        "operationId": "putProductVirtualsUsingPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "putVirtualProduct",
                  "$ref": "#/components/schemas/putVirtualProduct"
                }
              }
            }
          },
          "description": "virtualProducts"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/products/{productId}/customfieldvalues": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Retrieve custom field values",
        "description": "Retrieve custom field values",
        "operationId": "getCustomFieldValuesByProductIdUsingGET",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getCustomFieldValue",
                  "$ref": "#/components/schemas/getCustomFieldValue"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Create custom field values",
        "description": "Create custom field values",
        "operationId": "putCustomFieldValuesUsingPUT_2",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "putCustomFieldValues",
                "$ref": "#/components/schemas/putCustomFieldValues"
              }
            }
          },
          "description": "putCustomFieldValues"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getCustomFieldValue",
                  "$ref": "#/components/schemas/getCustomFieldValue"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Delete custom field values",
        "description": "Delete custom field values",
        "operationId": "deleteCustomFieldValuesUsingDELETE_2",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "deleteCustomFieldValues",
                "$ref": "#/components/schemas/deleteCustomFieldValues"
              }
            }
          },
          "description": "deleteCustomFieldValues"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "getCustomFieldValue",
                  "$ref": "#/components/schemas/getCustomFieldValue"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/productstocks/total": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Retrieve product stock totals",
        "description": "Retrieve products stock totals. This is the physical inventory count present (e.g. it does not include potentially buildable bundles or kits). In transit quantity does not include pending Purchase Orders.",
        "operationId": "getProductStocksTotalUsingGET_1",
        "parameters": [
          {
            "name": "inventoryOptions",
            "in": "query",
            "required": false,
            "description": "inventoryOptions",
            "schema": {
              "type": "array",
              "enum": [
                "COMPONENT_INVENTORY_ACROSS_WAREHOUSES",
                "COMPONENT_INVENTORY"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "COMPONENT_INVENTORY_ACROSS_WAREHOUSES",
                  "COMPONENT_INVENTORY"
                ]
              }
            },
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "description": "productId",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": false,
            "description": "salesChannelId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "description": "sku",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "warehouseId",
            "in": "query",
            "required": false,
            "description": "warehouseId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "ProductStockTotalsDto",
                    "$ref": "#/components/schemas/ProductStockTotalsDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/purchaseorders": {
      "get": {
        "tags": [
          "Purchase Order"
        ],
        "summary": "Retrieve purchase orders",
        "description": "Retrieve purchase orders",
        "operationId": "getPurchaseOrdersUsingGET_1",
        "parameters": [
          {
            "name": "authorizedDateFrom",
            "in": "query",
            "required": false,
            "description": "authorizedDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "authorizedDateTo",
            "in": "query",
            "required": false,
            "description": "authorizedDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": false,
            "description": "createdBy",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "createdDateFrom",
            "in": "query",
            "required": false,
            "description": "createdDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateTo",
            "in": "query",
            "required": false,
            "description": "createdDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "customPurchaseOrderNumber",
            "in": "query",
            "required": false,
            "description": "customPurchaseOrderNumber",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "modifiedDateFrom",
            "in": "query",
            "required": false,
            "description": "modifiedDateFrom",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedDateTo",
            "in": "query",
            "required": false,
            "description": "modifiedDateTo",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "description": "productId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "productSku",
            "in": "query",
            "required": false,
            "description": "productSku",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purchaseOrderNumber",
            "in": "query",
            "required": false,
            "description": "purchaseOrderNumber",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "status",
            "schema": {
              "type": "array",
              "enum": [
                "AWAITING_AUTHORIZATION",
                "AWAITING_VENDOR_CONFIRMATION",
                "AWAITING_MODIFICATION_ACCEPTANCE",
                "PENDING_DELIVERY",
                "PARTIALLY_DELIVERED",
                "FULFILLED",
                "CLOSED_SHORT",
                "VOIDED",
                "CANCELLED"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "AWAITING_AUTHORIZATION",
                  "AWAITING_VENDOR_CONFIRMATION",
                  "AWAITING_MODIFICATION_ACCEPTANCE",
                  "PENDING_DELIVERY",
                  "PARTIALLY_DELIVERED",
                  "FULFILLED",
                  "CLOSED_SHORT",
                  "VOIDED",
                  "CANCELLED"
                ]
              }
            },
            "explode": true
          },
          {
            "name": "vendorId",
            "in": "query",
            "required": false,
            "description": "vendorId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "vendorProductId",
            "in": "query",
            "required": false,
            "description": "vendorProductId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "vendorProductSku",
            "in": "query",
            "required": false,
            "description": "vendorProductSku",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseIds",
            "in": "query",
            "required": false,
            "description": "warehouseIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of purchase orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "purchaseOrder",
                    "$ref": "#/components/schemas/purchaseOrder"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameter specified"
          }
        }
      },
      "post": {
        "tags": [
          "Purchase Order"
        ],
        "summary": "Edit purchase order",
        "description": "Edit purchase order",
        "operationId": "postPurchaseOrderUsingPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "postPurchaseOrder",
                "$ref": "#/components/schemas/postPurchaseOrder"
              }
            }
          },
          "description": "postPurchaseOrderDto"
        },
        "responses": {
          "200": {
            "description": "POST successful",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "purchaseOrder",
                  "$ref": "#/components/schemas/purchaseOrder"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/purchaseorders/{purchaseOrderId}": {
      "get": {
        "tags": [
          "Purchase Order"
        ],
        "summary": "Retrieve purchase order",
        "description": "Retrieve a purchase order by its identifier",
        "operationId": "getPurchaseOrderUsingGET_1",
        "parameters": [
          {
            "name": "purchaseOrderId",
            "in": "path",
            "required": false,
            "description": "purchaseOrderId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of purchase order",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "purchaseOrder",
                  "$ref": "#/components/schemas/purchaseOrder"
                }
              }
            }
          },
          "404": {
            "description": "Purchase order not found"
          }
        }
      }
    },
    "/v1.1/purchaseorders/{purchaseOrderId}/othercosts": {
      "put": {
        "tags": [
          "Purchase Order"
        ],
        "summary": "PUT purchase order other costs",
        "description": "Fully override all purchase order other costs",
        "operationId": "putPurchaseOrderOtherCostsUsingPUT",
        "parameters": [
          {
            "name": "purchaseOrderId",
            "in": "query",
            "required": true,
            "description": "purchaseOrderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "putPurchaseOrderOtherCosts",
                "$ref": "#/components/schemas/putPurchaseOrderOtherCosts"
              }
            }
          },
          "description": "putPurchaseOrderOtherCostsDto"
        },
        "responses": {
          "200": {
            "description": "PUT successful",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "purchaseOrder",
                  "$ref": "#/components/schemas/purchaseOrder"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/purchaseorders/{purchaseOrderId}/vendormessages": {
      "post": {
        "tags": [
          "Purchase Order"
        ],
        "summary": "POST to vendor message",
        "description": "Add a to vendor message",
        "operationId": "postToVendorMessageUsingPOST",
        "parameters": [
          {
            "name": "purchaseOrderId",
            "in": "path",
            "required": true,
            "description": "purchaseOrderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "toVendorMessage",
            "in": "query",
            "required": true,
            "description": "toVendorMessage",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "POST successful",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "SingleIdResponse",
                  "$ref": "#/components/schemas/SingleIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/saleschannels": {
      "put": {
        "tags": [
          "Sales Channel"
        ],
        "summary": "Create or update a sales channel",
        "operationId": "putSalesChannelUsingPUT_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "salesChannel",
                "$ref": "#/components/schemas/salesChannel"
              }
            }
          },
          "description": "putSalesChannelDTO"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkSingleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkSingleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/shipment/external": {
      "put": {
        "tags": [
          "Shipment"
        ],
        "summary": "Create external shipment",
        "description": "Create an external shipment",
        "operationId": "putExternalShipmentUsingPUT_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "externalShipment",
                "$ref": "#/components/schemas/externalShipment"
              }
            }
          },
          "description": "externalShipment"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "batchedOrder",
                    "$ref": "#/components/schemas/batchedOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/shipment/standard": {
      "put": {
        "tags": [
          "Shipment"
        ],
        "summary": "Create standard shipment",
        "description": "Create a standard shipment",
        "operationId": "putShipmentUsingPUT_1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "originalRef": "standardShipment",
                "$ref": "#/components/schemas/standardShipment"
              }
            }
          },
          "description": "standardShipment"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.2/inventory": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Update stock location attributes",
        "operationId": "postInventoryUsingPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "PostInventoryDto",
                  "$ref": "#/components/schemas/PostInventoryDto"
                }
              }
            }
          },
          "description": "postInventoryDto"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "BulkMultipleEntityApiResponse",
                  "$ref": "#/components/schemas/BulkMultipleEntityApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.2/inventory/acknowledge": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Retrieve inventory updates",
        "description": "Retrieve recently modified inventory values for listings for the specified sales channel (must be MANUAL or CUSTOM type).",
        "operationId": "postInventoryAcknowledgev12UsingPOST",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "fromDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": true,
            "description": "salesChannelId",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "toDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "InventoryAcknowledgeDto",
                    "$ref": "#/components/schemas/InventoryAcknowledgeDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/addresstypes": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Request Address Type Options",
        "description": "A list of the available address types.",
        "operationId": "getAddressTypeOptionsUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "AddressTypeDto",
                    "$ref": "#/components/schemas/AddressTypeDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazonfulfillmentmethodfulfillmentpolicies": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Amazon Fulfillment Method Policy Definitions",
        "description": "A list of the available Amazon fulfillment method policies.",
        "operationId": "getAmazonFulfillmentMethodPoliciesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "AmazonFulfillmentMethodPolicyDTO",
                    "$ref": "#/components/schemas/AmazonFulfillmentMethodPolicyDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazonfulfillmentmethodservices": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Amazon Fulfillment Method Service Definitions",
        "description": "A list of the available Amazon fulfillment method services.",
        "operationId": "getAmazonFulfillmentMethodServicesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "AmazonFulfillmentMethodServiceDTO",
                    "$ref": "#/components/schemas/AmazonFulfillmentMethodServiceDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/accounting/cogsbysaleschannels": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieve COGS",
        "description": "Retrieve the Costs Of Goods Sold for the given sales channels and period of time. <br/><br/>Values are updated every hour",
        "operationId": "getCogsBySalesChannelsUsingGET",
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "endDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "salesChannelIds",
            "in": "query",
            "required": false,
            "description": "salesChannelIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "explode": true
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "startDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of cogs by sales channel",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "customCogsBySalesChannel",
                  "$ref": "#/components/schemas/customCogsBySalesChannel"
                }
              }
            }
          },
          "404": {
            "description": "Unable to retrieve cogs by sales channel"
          }
        }
      }
    },
    "/v1/analytics/accounting/salessummary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieve a sales summary",
        "description": "Retrieve the sales summary for the given sales channels and period of time.",
        "operationId": "getSalesSummaryUsingGET",
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "endDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "salesChannelIds",
            "in": "query",
            "required": false,
            "description": "salesChannelIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "explode": true
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "startDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of sales summary",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "salesSummary",
                  "$ref": "#/components/schemas/salesSummary"
                }
              }
            }
          },
          "404": {
            "description": "Unable to retrieve sales summary"
          }
        }
      }
    },
    "/v1/analytics/cogs/{warehouseId}/current": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieve product current costs by warehouse",
        "description": "Retrieve product current costs by warehouse.<br/><p>costType has 3 possible values:</p><ol><li><strong>PO_FIFO_QUEUE</strong>: This is the main costType; it has precedence over the 2 other ones. Every time an order is shipped, a unit is deducted from the oldest purchase order with available units. Once there are no more units available from the PO_FIFO_QUEUE costType, The cost will be fetched from the VENDOR_PRODUCT costType.<br /><br /></li><li><strong>VENDOR_PRODUCT</strong>: This is the cost coming from the oldest default vendor product's pricing tiers.<strong><br /><br /></strong></li><li><strong>DEFAULT_VENDOR_COST</strong>: This is the last resort costType; if no PO_FIFO_QUEUE and no VENDOR_PRODUCT costTypes are present the cost will be fetched from DEFAULT_VENDOR_COST<br /><br /></li></ol>",
        "operationId": "getProductCostsCurrentUsingGET",
        "parameters": [
          {
            "name": "listingSkus",
            "in": "query",
            "required": false,
            "description": "listingSkus",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "masterSkus",
            "in": "query",
            "required": false,
            "description": "masterSkus",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "productIds",
            "in": "query",
            "required": false,
            "description": "productIds",
            "schema": {
              "type": "array",
              "default": "0",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "explode": true
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": false,
            "description": "salesChannelId",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "description": "warehouseId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the current product cost",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "productCostDto",
                    "$ref": "#/components/schemas/productCostDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No warehouse found with the given id"
          },
          "422": {
            "description": "Invalid parameter specified"
          }
        }
      }
    },
    "/v1/applicationfeaturegroups": {
      "get": {
        "tags": [
          "application-feature-group-controller"
        ],
        "summary": "Retrieve application feature groups",
        "description": "Retrieve all application feature groups for a company",
        "operationId": "getApplicationFeatureGroupsUsingGET",
        "responses": {
          "200": {
            "description": "Successful retrieval of application feature groups",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "ApplicationFeatureGroupDTO",
                  "$ref": "#/components/schemas/ApplicationFeatureGroupDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/applicationfeatures": {
      "get": {
        "tags": [
          "application-features-controller"
        ],
        "summary": "getApplicationFeatures",
        "operationId": "getApplicationFeaturesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "ApplicationFeatureDto",
                    "$ref": "#/components/schemas/ApplicationFeatureDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/properties": {
      "get": {
        "tags": [
          "Application Properties"
        ],
        "summary": "Retrieve all application properties",
        "operationId": "listAppPropertiesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "CompanyAppPropertyDto",
                    "$ref": "#/components/schemas/CompanyAppPropertyDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Application Properties"
        ],
        "summary": "Create application properties",
        "operationId": "addAppPropertyUsingPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "originalRef": "PostProperties",
                  "$ref": "#/components/schemas/PostProperties"
                }
              }
            }
          },
          "description": "applicationProperties"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "CompanyAppPropertyDto",
                    "$ref": "#/components/schemas/CompanyAppPropertyDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/properties/{propertyId}": {
      "delete": {
        "tags": [
          "Application Properties"
        ],
        "summary": "Delete an application property",
        "operationId": "removeAppPropertyUsingDELETE",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": false,
            "description": "propertyId",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "SingleIdResponse",
                  "$ref": "#/components/schemas/SingleIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billshippingtothirdpartyoptions": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Request Bill Shipping to Third Party Options",
        "description": "A list of the available bill shipping to third party options",
        "operationId": "getBillShippingToThirdPartyOptionsUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "BillShippingToThirdPartyOptionDTO",
                    "$ref": "#/components/schemas/BillShippingToThirdPartyOptionDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/channelPropertyConfigurationOptions": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "getChannelPropertyOptions",
        "operationId": "getChannelPropertyOptionsUsingGET",
        "parameters": [
          {
            "name": "channelType",
            "in": "query",
            "required": false,
            "description": "channelType",
            "schema": {
              "type": "string",
              "enum": [
                "AMAZON",
                "EBAY",
                "MAGENTO",
                "SHOPIFY",
                "AMAZON_CA",
                "AMAZON_UK",
                "SEARS",
                "NEWEGG",
                "RAKUTEN",
                "SKUBANA",
                "BIG_COMMERCE",
                "AMAZON_DE",
                "AMAZON_FR",
                "AMAZON_ES",
                "AMAZON_IT",
                "AMAZON_MX",
                "JET",
                "WALMART",
                "STOCK_TRANSFER",
                "AMAZON_CN",
                "AMAZON_AU",
                "CUSTOM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "ChannelPropertyConfigurationDto",
                    "$ref": "#/components/schemas/ChannelPropertyConfigurationDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/companyinfo": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Retrieve company info",
        "operationId": "getCompanyInfoUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "originalRef": "companyInfo",
                  "$ref": "#/components/schemas/companyInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/connectionfeatures": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Retrieve connection features",
        "operationId": "getConnectionFeaturesUsingGET",
        "parameters": [
          {
            "name": "carrierCode",
            "in": "query",
            "required": false,
            "description": "Required for connection domain SHIPPING",
            "schema": {
              "type": "string",
              "default": "null"
            }
          },
          {
            "name": "connectionDomain",
            "in": "query",
            "required": true,
            "description": "connectionDomain",
            "schema": {
              "type": "string",
              "enum": [
                "SHIPPING"
              ]
            }
          },
          {
            "name": "shippingEngineType",
            "in": "query",
            "required": false,
            "description": "Required for connection domain SHIPPING",
            "schema": {
              "type": "string",
              "enum": [
                "SHIP_ENGINE"
              ],
              "default": "null"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "originalRef": "ConnectionFeatureDto",
                    "$ref": "#/components/schemas/ConnectionFeatureDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connectionschema": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Retrieve connection schema",
        "operationId": "getConnectionSchemaUsingGET",
        "parameters": [
          {
            "name": "connectionAction",
            "in": "query",
            "required": true,
            "description": "connectionAction",
            "schema": {
              "type": "string",
              "enum": [
                "CREATE",
                "UPDATE"
              ]
            }
          },
          {
            "name": "connectionDomain",
            "in": "query",
            "required": true,
            "description": "connectionDomain",
            "schema": {
              "type": "string",
              "enum": [
                "SHIPPING"
              ]
            }
          },
          {
            "name": "shippingEngineType",
            "in": "query",
            "required": false,
            "description": "Required for connection domain SHIPPING",
            "schema": {
[...]
