{
  "openapi": "3.0.3",
  "info": {
    "title": "FakeJSON API",
    "description": "Service to generate test and fake data. FakeJSON provides an API to generate fake data for testing and development purposes. Note: The original fakejson.com domain has been redirected; this spec is based on known API patterns.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://fakejson.com"
  },
  "servers": [
    {
      "url": "https://app.fakejson.com",
      "description": "FakeJSON API Server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Data Generation",
      "description": "Generate fake and test data"
    }
  ],
  "paths": {
    "/q": {
      "post": {
        "operationId": "generateFakeData",
        "summary": "Generate fake data",
        "description": "Generate fake data based on a provided JSON template. Each key in the template maps to a data type that FakeJSON will populate with realistic fake data.",
        "tags": ["Data Generation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FakeDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated fake data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FakeDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/q/batch": {
      "post": {
        "operationId": "generateFakeDataBatch",
        "summary": "Generate a batch of fake data records",
        "description": "Generate multiple records of fake data based on a provided template and quantity.",
        "tags": ["Data Generation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FakeDataBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated batch of fake data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FakeDataResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "body",
        "name": "token",
        "description": "API token included in the request body"
      }
    },
    "schemas": {
      "FakeDataRequest": {
        "type": "object",
        "required": ["token", "data"],
        "properties": {
          "token": {
            "type": "string",
            "description": "Your FakeJSON API token"
          },
          "data": {
            "type": "object",
            "description": "Template object where values specify the type of fake data to generate (e.g., 'nameFirst', 'nameLast', 'addressCity', 'internetEmail', 'numberInt', 'dateRecent', 'Lorem')",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "FakeDataBatchRequest": {
        "type": "object",
        "required": ["token", "data", "quantity"],
        "properties": {
          "token": {
            "type": "string",
            "description": "Your FakeJSON API token"
          },
          "data": {
            "type": "object",
            "description": "Template object for data generation",
            "additionalProperties": {
              "type": "string"
            }
          },
          "quantity": {
            "type": "integer",
            "description": "Number of records to generate",
            "minimum": 1,
            "maximum": 100
          }
        }
      },
      "FakeDataResponse": {
        "type": "object",
        "description": "Generated fake data matching the template structure",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  }
}
