{
  "openapi": "3.0.3",
  "info": {
    "title": "Bannerbear API",
    "version": "2.0.0",
    "description": "Bannerbear automated image and video generation API",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/bannerbear.com/bannerbear/2.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.bannerbear.com"
    }
  ],
  "paths": {
    "/v2/images": {
      "get": {
        "summary": "List images",
        "operationId": "listImages",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create image",
        "operationId": "createImage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/images/{uid}": {
      "get": {
        "summary": "Get image",
        "operationId": "getImage",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/videos": {
      "get": {
        "summary": "List videos",
        "operationId": "listVideos",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create video",
        "operationId": "createVideo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "patch": {
        "summary": "Update video",
        "operationId": "updateVideo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/videos/{uid}": {
      "get": {
        "summary": "Get video",
        "operationId": "getVideo",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/collections": {
      "get": {
        "summary": "List collections",
        "operationId": "listCollections",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create collection",
        "operationId": "createCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/collections/{uid}": {
      "get": {
        "summary": "Get collection",
        "operationId": "getCollection",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/animated_gifs": {
      "get": {
        "summary": "List animated_gifs",
        "operationId": "listAnimated_Gifs",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create animated_gif",
        "operationId": "createAnimated_Gif",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/animated_gifs/{uid}": {
      "get": {
        "summary": "Get animated_gif",
        "operationId": "getAnimated_Gif",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/screenshots": {
      "get": {
        "summary": "List screenshots",
        "operationId": "listScreenshots",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create screenshot",
        "operationId": "createScreenshot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/screenshots/{uid}": {
      "get": {
        "summary": "Get screenshot",
        "operationId": "getScreenshot",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/sessions": {
      "get": {
        "summary": "List sessions",
        "operationId": "listSessions",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create session",
        "operationId": "createSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/sessions/{uid}": {
      "get": {
        "summary": "Get session",
        "operationId": "getSession",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/movies": {
      "get": {
        "summary": "List movies",
        "operationId": "listMovies",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create movie",
        "operationId": "createMovie",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/movies/{uid}": {
      "get": {
        "summary": "Get movie",
        "operationId": "getMovie",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/projects": {
      "get": {
        "summary": "List projects",
        "operationId": "listProjects",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create project",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/projects/{uid}": {
      "get": {
        "summary": "Get project",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/diagnoses": {
      "get": {
        "summary": "List diagnoses",
        "operationId": "listDiagnoses",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create diagnose",
        "operationId": "createDiagnose",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/diagnoses/{uid}": {
      "get": {
        "summary": "Get diagnose",
        "operationId": "getDiagnose",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/templates": {
      "get": {
        "summary": "List templates",
        "operationId": "listTemplates",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create template",
        "operationId": "createTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/templates/{uid}": {
      "get": {
        "summary": "Get template",
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "patch": {
        "summary": "Update template",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "delete": {
        "summary": "Delete template",
        "operationId": "deleteTemplate",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/templates/import": {
      "post": {
        "summary": "Import template",
        "operationId": "importTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/template_sets": {
      "get": {
        "summary": "List template sets",
        "operationId": "listTemplateSets",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create template set",
        "operationId": "createTemplateSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/template_sets/{uid}": {
      "get": {
        "summary": "Get template set",
        "operationId": "getTemplateSet",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "patch": {
        "summary": "Update template set",
        "operationId": "updateTemplateSet",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/video_templates": {
      "get": {
        "summary": "List video templates",
        "operationId": "listVideoTemplates",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create video template",
        "operationId": "createVideoTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/video_templates/{uid}": {
      "get": {
        "summary": "Get video template",
        "operationId": "getVideoTemplate",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/webhooks": {
      "post": {
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/webhooks/{uid}": {
      "get": {
        "summary": "Get webhook",
        "operationId": "getWebhook",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "delete": {
        "summary": "Delete webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/auth": {
      "get": {
        "summary": "Authenticate",
        "operationId": "auth",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/account": {
      "get": {
        "summary": "Get account",
        "operationId": "getAccount",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/fonts": {
      "get": {
        "summary": "List fonts",
        "operationId": "listFonts",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/effects": {
      "get": {
        "summary": "List effects",
        "operationId": "listEffects",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/templates/{uid}/signed_bases": {
      "get": {
        "summary": "List signed bases",
        "operationId": "listSignedBases",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      },
      "post": {
        "summary": "Create signed base",
        "operationId": "createSignedBase",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/projects/{uid}/hydrate": {
      "post": {
        "summary": "Hydrate project",
        "operationId": "hydrateProject",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/utilities/pdf/join": {
      "post": {
        "summary": "Join PDFs",
        "operationId": "joinPdfs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/utilities/pdf/join/{uid}": {
      "get": {
        "summary": "Get PDF join result",
        "operationId": "getPdfJoinResult",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/utilities/pdf/rasterize": {
      "post": {
        "summary": "Rasterize PDF",
        "operationId": "rasterizePdf",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "V2"
        ]
      }
    },
    "/v2/utilities/pdf/rasterize/{uid}": {
      "get": {
        "summary": "Get PDF rasterize result",
        "operationId": "getPdfRasterizeResult",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "V2"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "x-jentic-source-url": "https://developers.bannerbear.com",
  "tags": [
    {
      "name": "V2"
    }
  ]
}