{
  "openapi": "3.0.3",
  "info": {
    "title": "iubenda Consent Solution API",
    "description": "The Consent Database HTTP API allows you to record and retrieve consent actions performed by your users, who will be referred to within the solution as 'subjects'. It provides endpoints for managing consents, subjects, legal notices, and proof documents.\n\nRate Limits: 50 requests per second, 108,000 requests per hour. Max request size: 1 MB per call. Only UTF-8 encoded JSON is supported.",
    "version": "1.0.0",
    "contact": {
      "name": "iubenda",
      "url": "https://www.iubenda.com"
    },
    "x-api-docs": "https://www.iubenda.com/en/help/6484-consent-solution-http-api-documentation"
  },
  "servers": [
    {
      "url": "https://consent.iubenda.com",
      "description": "Production (Current channel)"
    },
    {
      "url": "https://consent.iubenda.com/beta",
      "description": "Beta channel"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Consent",
      "description": "Manage consent records"
    },
    {
      "name": "Subjects",
      "description": "Manage data subjects"
    },
    {
      "name": "Legal Notices",
      "description": "Manage legal notices (privacy policy, cookie policy, terms, etc.)"
    },
    {
      "name": "Documents",
      "description": "Manage proof documents (Beta)"
    }
  ],
  "paths": {
    "/consent": {
      "get": {
        "operationId": "listConsents",
        "summary": "List consents",
        "description": "Returns a list of consent records. Supports cursor-based pagination via the starting_after parameter. Results are ordered by timestamp descending by default. Does not include proofs and legal notices; call GET /consent/{id} for complete consent details.",
        "tags": ["Consent"],
        "parameters": [
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by consents timestamp. Returns all consents from that time onward (inclusive). Valid formats: '2018-02-22 00:40:00 UTC', '2018-02-22T00:40:00Z' (ISO 8601), '1519260000' (unix timestamp in seconds).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by consents timestamp. Returns all consents from that time backward (inclusive). Valid formats: '2018-02-22 00:40:00 UTC', '2018-02-22T00:40:00Z' (ISO 8601), '1519260000' (unix timestamp in seconds).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by consents source.",
            "schema": {
              "type": "string",
              "enum": ["public", "private"]
            }
          },
          {
            "name": "ip_address",
            "in": "query",
            "description": "Filter by IP address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_id",
            "in": "query",
            "description": "Filter by Subject ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_email_exact",
            "in": "query",
            "description": "Filter by Subject email. Must exactly match (case sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_email",
            "in": "query",
            "description": "Filter by Subject email. Matches partially (case insensitive).",
            "deprecated": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_first_name",
            "in": "query",
            "description": "Filter by Subject first name. Must exactly match (case sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_last_name",
            "in": "query",
            "description": "Filter by Subject last name. Must exactly match (case sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_full_name",
            "in": "query",
            "description": "Filter by Subject full name. Matches partially (case insensitive).",
            "deprecated": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_verified",
            "in": "query",
            "description": "Filter by subject verified status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor which indicates after which Consent the results should be returned (cursor excluded).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results returned. Min: 1, Max: 100. Default: 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of consent records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConsentListItem"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "operationId": "createConsent",
        "summary": "Create consent",
        "description": "Creates a new consent record.",
        "tags": ["Consent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (e.g., non-UTF-8 encoding)"
          },
          "413": {
            "description": "Request Entity Too Large"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/consent/{id}": {
      "get": {
        "operationId": "getConsent",
        "summary": "Get consent",
        "description": "Returns a single consent record including proofs, legal notices, and proof documents.",
        "tags": ["Consent"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the consent event",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A consent record with full details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentDetail"
                }
              }
            }
          },
          "404": {
            "description": "Consent not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/public/consent": {
      "post": {
        "operationId": "createPublicConsent",
        "summary": "Create consent (public)",
        "description": "Creates a new consent record using a public API key. This endpoint accepts the public key via the ApiKey header instead of the private key.",
        "tags": ["Consent"],
        "security": [
          {
            "PublicApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "413": {
            "description": "Request Entity Too Large"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/subjects/{id}/consent/last": {
      "get": {
        "operationId": "getLastConsent",
        "summary": "Get last consent for a subject",
        "description": "Returns the last consent created for the given subject. Available on the beta channel.",
        "tags": ["Consent"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subject ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The last consent for the subject",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentDetail"
                }
              }
            }
          },
          "404": {
            "description": "Subject not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/subjects": {
      "get": {
        "operationId": "listSubjects",
        "summary": "List subjects",
        "description": "Returns a list of subjects. Supports cursor-based pagination via the starting_after parameter.",
        "tags": ["Subjects"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id. Must exactly match.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_exact",
            "in": "query",
            "description": "Filter by email. Must exactly match (case sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email. Matches partially (case insensitive).",
            "deprecated": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "Filter by first name. Must exactly match (case sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Filter by last name. Must exactly match (case sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "full_name",
            "in": "query",
            "description": "Filter by full name. Matches partially (case insensitive).",
            "deprecated": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by subjects timestamp. Returns all subjects from that time onward (inclusive). Valid formats: '2018-02-22 00:40:00 UTC', '2018-02-22T00:40:00Z' (ISO 8601), '1519260000' (unix timestamp in seconds).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by subjects timestamp. Returns all subjects from that time backward (inclusive). Valid formats: '2018-02-22 00:40:00 UTC', '2018-02-22T00:40:00Z' (ISO 8601), '1519260000' (unix timestamp in seconds).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verified",
            "in": "query",
            "description": "Filter by verified status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor which indicates after which Subject the results should be returned (cursor excluded).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results returned. Min: 1, Max: 101. Default: 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 101,
              "default": 10
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Filter all subjects containing the given number. Phone number must include the country code. The plus (+) sign can be omitted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of subjects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubjectListItem"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "operationId": "createSubject",
        "summary": "Create subject",
        "description": "Creates a new subject. Can also be created inline within the consent creation endpoint.",
        "tags": ["Subjects"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubjectCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subject created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/subjects/{id}": {
      "get": {
        "operationId": "getSubject",
        "summary": "Get subject",
        "description": "Returns a single subject with their current preferences.",
        "tags": ["Subjects"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subject ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A subject record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectDetail"
                }
              }
            }
          },
          "404": {
            "description": "Subject not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "operationId": "updateSubjectPut",
        "summary": "Update subject (PUT)",
        "description": "Updates an existing subject.",
        "tags": ["Subjects"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subject ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subject updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectCreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Subject not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "operationId": "updateSubjectPatch",
        "summary": "Update subject (PATCH)",
        "description": "Partially updates an existing subject.",
        "tags": ["Subjects"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subject ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subject updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectCreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Subject not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/legal_notices": {
      "get": {
        "operationId": "listLegalNotices",
        "summary": "List legal notices",
        "description": "Returns legal notices ordered by timestamp. Supports cursor-based pagination via starting_after_version and starting_after_identifier parameters (both required for pagination).",
        "tags": ["Legal Notices"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id. Must exactly match.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Filter by identifier. Must exactly match (case sensitive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Filter by version. Must exactly match.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter by legal notices which contents include the specified language (using short form like 'en', 'it' etc.).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by legal notices timestamp. Returns all legal notices from that time onward (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by legal notices timestamp. Returns all legal notices from that time backward (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after_version",
            "in": "query",
            "description": "Cursor which indicates after which Legal Notice's version the results should be returned (cursor excluded).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after_identifier",
            "in": "query",
            "description": "Cursor which indicates after which Legal Notice's identifier the results should be returned (cursor excluded).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results returned. Min: 1, Max: 101. Default: 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 101,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of legal notices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LegalNoticeListItem"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "operationId": "createLegalNotice",
        "summary": "Create legal notice(s)",
        "description": "Creates one or more legal notices. Can accept a single object or an array of objects. Supports multi-language content.",
        "tags": ["Legal Notices"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LegalNoticeCreateRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LegalNoticeCreateRequest"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legal notice(s) created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LegalNoticeCreateResponse"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LegalNoticeCreateResponse"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/legal_notices/{identifier}": {
      "get": {
        "operationId": "listLegalNoticeVersions",
        "summary": "Get all versions of a legal notice",
        "description": "Returns all versions of a legal notice ordered by version. Does not include content; call GET /legal_notices/{identifier}/{version} for full document. Supports cursor-based pagination via the starting_after parameter.",
        "tags": ["Legal Notices"],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "Legal notice identifier (e.g., privacy_policy, cookie_policy, term, or a custom identifier)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of results. Default: 10.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for use in pagination. Takes an existing Legal Notice version and returns objects in reverse order.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of legal notice versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LegalNoticeVersionItem"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Legal notice not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/legal_notices/{identifier}/{version}": {
      "get": {
        "operationId": "getLegalNoticeVersion",
        "summary": "Get a specific legal notice version",
        "description": "Returns a specific version of a legal notice including its content.",
        "tags": ["Legal Notices"],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "Legal notice identifier (e.g., privacy_policy, cookie_policy, term, or a custom identifier)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Version number of the legal notice",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A legal notice version with content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalNoticeDetail"
                }
              }
            }
          },
          "404": {
            "description": "Legal notice version not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents",
        "description": "Returns all documents ordered by timestamp descending. Available on the beta channel.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "starting_after_identifier",
            "in": "query",
            "description": "Cursor which indicates after which document's identifier the results should be returned (cursor excluded).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results returned. Min: 1, Max: 101. Default: 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 101,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentListItem"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create document",
        "description": "Uploads a new proof document. Max file size: 1 MB. Available on the beta channel.",
        "tags": ["Documents"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload (max 1 MB)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCreateResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get document",
        "description": "Returns the file data of a document. Available on the beta channel.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The document file data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "ApiKey",
        "description": "Private API key for server-side API access"
      },
      "PublicApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "ApiKey",
        "description": "Public API key, only accepted on POST /public/consent"
      }
    },
    "schemas": {
      "Phone": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "A valid phone number with country code prefix",
            "example": "+395555555555"
          },
          "label": {
            "type": "string",
            "description": "Arbitrary text used to identify the phone number",
            "example": "personal"
          },
          "country": {
            "type": "string",
            "description": "Country code (ISO 3166-1 alpha-2)",
            "example": "IT"
          }
        }
      },
      "Subject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subject ID (auto-filled if not provided)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Subject email address"
          },
          "first_name": {
            "type": "string",
            "description": "Subject first name"
          },
          "last_name": {
            "type": "string",
            "description": "Subject last name"
          },
          "full_name": {
            "type": "string",
            "description": "Subject full name"
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Phone"
            },
            "description": "Array of phone numbers"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the subject is verified (e.g., via double opt-in)"
          }
        }
      },
      "LegalNoticeRef": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Legal notice identifier (privacy_policy, cookie_policy, term, or a custom identifier)"
          },
          "version": {
            "type": "string",
            "description": "Version of the legal notice (auto-filled if not provided)"
          }
        }
      },
      "Proof": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Proof content"
          },
          "form": {
            "type": "string",
            "description": "Proof form"
          }
        }
      },
      "ProofDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Document ID"
          },
          "name": {
            "type": "string",
            "description": "Document file name"
          }
        }
      },
      "ConsentListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the consent event"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the consent"
          },
          "owner": {
            "type": "string",
            "description": "Unique identifier of the API key owner"
          },
          "source": {
            "type": "string",
            "enum": ["private", "public"],
            "description": "Whether the consent was filed from a public or private API key"
          },
          "subject": {
            "$ref": "#/components/schemas/Subject"
          },
          "preferences": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Key-value pairs of user preferences"
          },
          "ip_address": {
            "type": "string",
            "nullable": true,
            "description": "IP address associated with the consent"
          }
        }
      },
      "ConsentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the consent event"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the consent"
          },
          "checksum": {
            "type": "string",
            "description": "Checksum of the consent record"
          },
          "owner": {
            "type": "string",
            "description": "Unique identifier of the API key owner"
          },
          "source": {
            "type": "string",
            "enum": ["private", "public"],
            "description": "Whether the consent was filed from a public or private API key"
          },
          "subject": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Subject"
              },
              {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string",
                    "description": "Owner ID of the subject"
                  }
                }
              }
            ]
          },
          "preferences": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Key-value pairs of user preferences"
          },
          "legal_notices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegalNoticeRef"
            }
          },
          "proofs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Proof"
            }
          },
          "proof_documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProofDocument"
            }
          },
          "ip_address": {
            "type": "string",
            "nullable": true,
            "description": "IP address associated with the consent"
          }
        }
      },
      "ConsentCreateRequest": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp at which the consent occurred (auto-filled if not provided)"
          },
          "subject": {
            "$ref": "#/components/schemas/Subject"
          },
          "legal_notices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegalNoticeRef"
            },
            "description": "Array of legal notice references"
          },
          "proofs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Proof"
            },
            "description": "Array of proof data"
          },
          "proof_document_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Array of document IDs that provide proof of consent"
          },
          "preferences": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Key-value pairs of user preferences for this consent action"
          },
          "ip_address": {
            "type": "string",
            "description": "IP address. Considered only when using a private key. Saves the passed IP address on the consent."
          },
          "autodetect_ip_address": {
            "type": "string",
            "enum": ["true", "false"],
            "description": "Considered only when using a public key. Enables or disables IP address autodetection. Default: true."
          }
        }
      },
      "ConsentCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created consent"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the consent"
          },
          "subject_id": {
            "type": "string",
            "description": "Subject ID associated with the consent"
          }
        }
      },
      "SubjectListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subject ID"
          },
          "owner_id": {
            "type": "string",
            "description": "Owner ID"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "preferences": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "verified": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubjectDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subject ID"
          },
          "owner_id": {
            "type": "string",
            "description": "Owner ID"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string",
            "nullable": true
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "verified": {
            "type": "boolean"
          },
          "preferences": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "boolean"
                },
                "consent_id": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "description": "Preferences with their values and associated consent IDs"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubjectCreateRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subject ID (auto-filled if not provided)"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the subject is verified (e.g., via double opt-in)"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "description": "A valid phone number with country code prefix"
                },
                "label": {
                  "type": "string",
                  "description": "Arbitrary text used to identify the phone number"
                }
              }
            }
          },
          "custom_attributes": {
            "type": "object",
            "additionalProperties": true,
            "description": "A set of key-value pairs containing custom attributes"
          }
        }
      },
      "SubjectCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subject ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "SubjectUpdateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LegalNoticeListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier (composed of owner_id and identifier)"
          },
          "owner_id": {
            "type": "string",
            "description": "Owner ID"
          },
          "identifier": {
            "type": "string",
            "description": "Legal notice identifier"
          },
          "version": {
            "type": "integer",
            "description": "Version number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Single-language content"
              },
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Multi-language content keyed by language code"
              }
            ]
          }
        }
      },
      "LegalNoticeVersionItem": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProofDocument"
            }
          }
        }
      },
      "LegalNoticeDetail": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            ],
            "description": "Legal notice content (string or multi-language object)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProofDocument"
            }
          }
        }
      },
      "LegalNoticeCreateRequest": {
        "type": "object",
        "required": ["identifier"],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Legal notice identifier (e.g., privacy_policy, cookie_policy, term, or a custom identifier)"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Single-language content"
              },
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Multi-language content keyed by language code (e.g., {\"en\": \"...\", \"it\": \"...\"})"
              }
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          },
          "document_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Array of document IDs to associate with this legal notice"
          }
        }
      },
      "LegalNoticeCreateResponse": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "DocumentListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "File name"
          },
          "mime_type": {
            "type": "string",
            "description": "MIME type of the file"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "referenced": {
            "type": "boolean",
            "description": "Whether the document is referenced by a legal notice or consent"
          }
        }
      },
      "DocumentCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "File name"
          },
          "mime_type": {
            "type": "string",
            "description": "MIME type of the file"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
