{
  "openapi": "3.0.3",
  "info": {
    "title": "Objectionly API",
    "version": "1.0.0",
    "description": "Objectionly provides AI-powered call processing and analysis. The API accepts transcripts, uploaded media, or remote audio/video URLs for processing and queuing.",
    "x-jentic-source-url": "https://docs.objectionly.com/api-reference/queue-call-processing"
  },
  "servers": [
    { "url": "https://api.objectionly.com" }
  ],
  "paths": {
    "/api/call-processing/queue": {
      "post": {
        "operationId": "queueCallProcessing",
        "summary": "Queue a call for processing",
        "description": "Accepts transcript text, uploaded media, or remote audio/video URLs for processing and queuing.",
        "tags": ["Call Processing"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QueueCallInput" }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["title", "repEmail", "callDate"],
                "properties": {
                  "title": { "type": "string" },
                  "repEmail": { "type": "string", "format": "email" },
                  "callDate": { "type": "string", "format": "date-time" },
                  "file": { "type": "string", "format": "binary", "description": "Direct media upload" },
                  "repName": { "type": "string" },
                  "callDuration": { "type": "number" },
                  "description": { "type": "string" },
                  "externalMeetingId": { "type": "string" },
                  "source": { "type": "string" },
                  "forceImport": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call queued successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QueueCallResponse" }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QueueCallInput": {
        "type": "object",
        "required": ["title", "repEmail", "callDate"],
        "properties": {
          "title": { "type": "string", "description": "Call title" },
          "repEmail": { "type": "string", "format": "email", "description": "Rep/host email" },
          "callDate": { "type": "string", "format": "date-time", "description": "ISO-8601 timestamp" },
          "transcriptText": { "type": "string", "description": "Plain transcript text" },
          "mediaUrl": { "type": "string", "description": "Remote audio/video URL" },
          "repName": { "type": "string", "description": "Display name" },
          "callDuration": { "type": "number", "description": "Duration in minutes" },
          "description": { "type": "string", "description": "Metadata description" },
          "externalMeetingId": { "type": "string", "description": "Deduplication key" },
          "source": { "type": "string", "description": "Source type identifier" },
          "forceImport": { "type": "boolean", "description": "Bypass filtering" }
        }
      },
      "QueueCallResponse": {
        "type": "object",
        "properties": {
          "callId": { "type": "string", "description": "Unique call identifier" },
          "status": { "type": "string", "description": "Queue status" },
          "queued": { "type": "boolean", "description": "Success indicator" },
          "duplicate": { "type": "boolean", "description": "True when externalMeetingId matches existing call" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Workspace-API-Key",
        "description": "Workspace API key"
      }
    }
  },
  "security": [
    { "apiKey": [] }
  ]
}
