{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenCorporates API",
    "description": "Access the world's largest open database of companies and corporate data. Search companies, officers, filings, and jurisdictions.",
    "version": "0.4.0",
    "x-jentic-source-url": "https://api.opencorporates.com/documentation/API-Reference"
  },
  "servers": [
    {
      "url": "https://api.opencorporates.com/v0.4"
    }
  ],
  "paths": {
    "/versions": {
      "get": {
        "operationId": "getversions",
        "summary": "Get API versions",
        "description": "Returns current and supported API versions.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "API version information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{jurisdiction_code}/{company_number}": {
      "get": {
        "operationId": "getcompany",
        "summary": "Get company details",
        "description": "Returns core company data including officers, filings, and related data.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "jurisdiction_code",
            "in": "path",
            "required": true,
            "description": "Jurisdiction code (e.g. us_ca, gb)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "Company registration number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sparse",
            "in": "query",
            "required": false,
            "description": "Return minimal data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/search": {
      "get": {
        "operationId": "searchcompanies",
        "summary": "Search companies",
        "description": "Search companies by name with optional filtering.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jurisdiction_code",
            "in": "query",
            "required": false,
            "description": "Filter by jurisdiction",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{jurisdiction_code}/{company_number}/filings": {
      "get": {
        "operationId": "getcompanyfilings",
        "summary": "Get company filings",
        "description": "Returns statutory filings for a company.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "jurisdiction_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company filings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{jurisdiction_code}/{company_number}/statements": {
      "get": {
        "operationId": "getcompanystatements",
        "summary": "Get company statements",
        "description": "Returns statements associated with a company.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "jurisdiction_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company statements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/officers/search": {
      "get": {
        "operationId": "searchofficers",
        "summary": "Search officers",
        "description": "Search officers by name.",
        "tags": [
          "Officers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Officer search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficerSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/officers/{id}": {
      "get": {
        "operationId": "getofficer",
        "summary": "Get officer details",
        "description": "Returns details of a specific officer.",
        "tags": [
          "Officers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Officer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/filings/{id}": {
      "get": {
        "operationId": "getfiling",
        "summary": "Get filing details",
        "description": "Returns details of a specific filing.",
        "tags": [
          "Filings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filing details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statements/{id}": {
      "get": {
        "operationId": "getstatement",
        "summary": "Get statement details",
        "description": "Returns details of a specific statement with provenance.",
        "tags": [
          "Statements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statement details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statements/subsequent_registrations/search": {
      "get": {
        "operationId": "searchsubsequentregistrations",
        "summary": "Search subsequent registrations",
        "tags": [
          "Statements"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statements/alternate_registrations/search": {
      "get": {
        "operationId": "searchalternateregistrations",
        "summary": "Search alternate registrations",
        "tags": [
          "Statements"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statements/gazette_notices/search": {
      "get": {
        "operationId": "searchgazettenotices",
        "summary": "Search gazette notices",
        "tags": [
          "Statements"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statements/control_statements/search": {
      "get": {
        "operationId": "searchcontrolstatements",
        "summary": "Search control statements",
        "tags": [
          "Statements"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statements/trademark_registrations/search": {
      "get": {
        "operationId": "searchtrademarkregistrations",
        "summary": "Search trademark registrations",
        "tags": [
          "Statements"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/placeholders/{id}": {
      "get": {
        "operationId": "getplaceholder",
        "summary": "Get placeholder entity",
        "description": "Returns placeholder entity information.",
        "tags": [
          "Placeholders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Placeholder details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceholderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/placeholders/{id}/statements": {
      "get": {
        "operationId": "getplaceholderstatements",
        "summary": "Get statements for a placeholder",
        "tags": [
          "Placeholders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statements for placeholder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jurisdictions": {
      "get": {
        "operationId": "listjurisdictions",
        "summary": "List all jurisdictions",
        "description": "Returns all known jurisdictions.",
        "tags": [
          "Jurisdictions"
        ],
        "responses": {
          "200": {
            "description": "List of jurisdictions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JurisdictionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jurisdictions/match": {
      "get": {
        "operationId": "matchjurisdiction",
        "summary": "Match jurisdiction name to code",
        "tags": [
          "Jurisdictions"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Jurisdiction name to match",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matched jurisdiction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JurisdictionMatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/industry_codes": {
      "get": {
        "operationId": "listindustrycodeschemes",
        "summary": "List all industry code schemes",
        "tags": [
          "Industry Codes"
        ],
        "responses": {
          "200": {
            "description": "Industry code schemes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustryCodeSchemesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/industry_codes/{code_scheme_id}": {
      "get": {
        "operationId": "getindustrycodescheme",
        "summary": "Get codes for a specific scheme",
        "tags": [
          "Industry Codes"
        ],
        "parameters": [
          {
            "name": "code_scheme_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Industry codes for scheme",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustryCodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/industry_codes/{code_scheme_id}/{code}": {
      "get": {
        "operationId": "getindustrycode",
        "summary": "Get details of a specific industry code",
        "tags": [
          "Industry Codes"
        ],
        "parameters": [
          {
            "name": "code_scheme_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Industry code details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustryCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_status": {
      "get": {
        "operationId": "getaccountstatus",
        "summary": "Get account status",
        "description": "Returns API account usage and plan details.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VersionsResponse": {
        "type": "object",
        "properties": {
          "api_version": {
            "type": "string"
          },
          "supported_versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "company_number": {
            "type": "string"
          },
          "jurisdiction_code": {
            "type": "string"
          },
          "incorporation_date": {
            "type": "string"
          },
          "dissolution_date": {
            "type": "string",
            "nullable": true
          },
          "company_type": {
            "type": "string"
          },
          "registry_url": {
            "type": "string"
          },
          "branch": {
            "type": "string",
            "nullable": true
          },
          "branch_status": {
            "type": "string",
            "nullable": true
          },
          "inactive": {
            "type": "boolean"
          },
          "current_status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "opencorporates_url": {
            "type": "string"
          },
          "registered_address": {
            "$ref": "#/components/schemas/Address"
          },
          "officers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Officer"
            }
          },
          "filings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filing"
            }
          }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "company": {
                "$ref": "#/components/schemas/Company"
              }
            }
          }
        }
      },
      "CompanySearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              },
              "total_pages": {
                "type": "integer"
              },
              "total_count": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Officer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string",
            "nullable": true
          },
          "opencorporates_url": {
            "type": "string"
          }
        }
      },
      "OfficerResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "officer": {
                "$ref": "#/components/schemas/Officer"
              }
            }
          }
        }
      },
      "OfficerSearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "officers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "officer": {
                      "$ref": "#/components/schemas/Officer"
                    }
                  }
                }
              },
              "total_pages": {
                "type": "integer"
              },
              "total_count": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Filing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "opencorporates_url": {
            "type": "string"
          }
        }
      },
      "FilingResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "filing": {
                "$ref": "#/components/schemas/Filing"
              }
            }
          }
        }
      },
      "FilingsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "filings": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "filing": {
                      "$ref": "#/components/schemas/Filing"
                    }
                  }
                }
              },
              "total_pages": {
                "type": "integer"
              },
              "total_count": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Statement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "data_type": {
            "type": "string"
          },
          "opencorporates_url": {
            "type": "string"
          }
        }
      },
      "StatementResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "statement": {
                "$ref": "#/components/schemas/Statement"
              }
            }
          }
        }
      },
      "StatementsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "statements": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "statement": {
                      "$ref": "#/components/schemas/Statement"
                    }
                  }
                }
              },
              "total_pages": {
                "type": "integer"
              },
              "total_count": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "street_address": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "PlaceholderResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "placeholder": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "opencorporates_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Jurisdiction": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "JurisdictionsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "jurisdictions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Jurisdiction"
                }
              }
            }
          }
        }
      },
      "JurisdictionMatchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "jurisdiction": {
                "$ref": "#/components/schemas/Jurisdiction"
              }
            }
          }
        }
      },
      "IndustryCodeSchemesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "industry_code_schemes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IndustryCodesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "industry_codes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndustryCode"
                }
              }
            }
          }
        }
      },
      "IndustryCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "code_scheme_id": {
            "type": "string"
          }
        }
      },
      "IndustryCodeResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "industry_code": {
                "$ref": "#/components/schemas/IndustryCode"
              }
            }
          }
        }
      },
      "AccountStatusResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "account_status": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string"
                  },
                  "usage": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "name": "api_token",
        "in": "query",
        "description": "API token for authentication"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Operations related to Account"
    },
    {
      "name": "Companies",
      "description": "Operations related to Companies"
    },
    {
      "name": "Filings",
      "description": "Operations related to Filings"
    },
    {
      "name": "Industry Codes",
      "description": "Operations related to Industry Codes"
    },
    {
      "name": "Jurisdictions",
      "description": "Operations related to Jurisdictions"
    },
    {
      "name": "Officers",
      "description": "Operations related to Officers"
    },
    {
      "name": "Placeholders",
      "description": "Operations related to Placeholders"
    },
    {
      "name": "Statements",
      "description": "Operations related to Statements"
    },
    {
      "name": "System",
      "description": "Operations related to System"
    }
  ]
}