{
  "openapi": "3.0.1",
  "info": {
    "description": "Api de consulta para actualizaci\u00f3n de tarjetas",
    "version": "1.0.1",
    "title": "Niubiz API Actualizador",
    "termsOfService": "http://www.niubiz.com.pe",
    "contact": {
      "url": "https://www.niubiz.com.pe",
      "name": "Niubiz",
      "email": "integraciones.visanet@necomplus.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.updater.visanet/1.0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://apidevenv.vnforapps.com/api.canales/v1",
      "description": "URL base del entorno de integraci\u00f3n"
    },
    {
      "url": "https://apiprod.vnforapps.com/api.canales/v1",
      "description": "URL base del entorno de producci\u00f3n"
    }
  ],
  "tags": [
    {
      "name": "Actualizador"
    }
  ],
  "paths": {
    "/canales/query": {
      "post": {
        "tags": [
          "Actualizador"
        ],
        "summary": "Consulta",
        "operationId": "query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanalesRequest"
              }
            }
          },
          "description": "Canales request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanalesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request not valid"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "CanalesRequest": {
        "type": "object",
        "required": [
          "card",
          "externalId",
          "merchantId"
        ],
        "properties": {
          "externalId": {
            "type": "string",
            "description": "Identificador de la transaccion del comercio"
          },
          "merchantId": {
            "type": "string",
            "description": "Identificador del comercio"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          }
        }
      },
      "CanalesResponse": {
        "type": "object",
        "required": [
          "card",
          "header",
          "message",
          "statusCode"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int64",
            "description": "Status de la operacion:\n- `0` OK\n- `201` CREATED\n- `202` UPDATED\n- `203` BLACKLIST\n- `400` Error\n",
            "example": "201",
            "enum": [
              0,
              201,
              202,
              203,
              400
            ]
          },
          "message": {
            "type": "string",
            "description": "Resultado de la transaccion:\n- `CREATED` Exito sin actualizaci\u00f3n\n- `UPDATED` Exito con actualizacion\n- `BLACKLIST` Lista Negra\n- `ERROR` Error\n",
            "example": "CREATED",
            "enum": [
              "CREATED",
              "UPDATED",
              "BLACKLIST",
              "ERROR"
            ]
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "cardMasked": {
            "type": "string",
            "example": "455747******5511",
            "description": "Tarjeta enmascarada, solo se enviar\u00e1 si la respuesta corresponde a un token",
            "readOnly": true
          },
          "cardNumber": {
            "type": "string",
            "example": "4551478422045511",
            "description": "Numero de tarjeta cuando se trabaja con tarjetas en claro"
          },
          "expirationMonth": {
            "type": "integer",
            "format": "int32",
            "example": 12,
            "description": "Mes de expiraci\u00f3n cuando se trabaja con tarjetas en claro"
          },
          "expirationYear": {
            "type": "integer",
            "format": "int32",
            "example": 29,
            "description": "A\u00f1o de expiraci\u00f3n cuando se trabaja con tarjetas en claro"
          },
          "tokenId": {
            "type": "string",
            "example": "7000100000002553",
            "description": "Identificador de tarjeta tokenizada, opcional y reemplaza los datos de la tarjeta cuando se trabaja con tokenizaci\u00f3n"
          },
          "tokenExpiration": {
            "readOnly": true,
            "type": "string",
            "description": "Fecha de expiraci\u00f3n del token"
          },
          "amount": {
            "type": "number",
            "format": "decimal",
            "example": 200.12,
            "description": "Campo opcional. Monto a validar como disponible para una compra o autorizaci\u00f3n"
          },
          "visaCheckout": {
            "type": "boolean",
            "readOnly": true,
            "example": false,
            "description": "Campo opcional, para el actualizador no enviar"
          },
          "registerCardFrecuent": {
            "type": "boolean",
            "readOnly": true,
            "example": false,
            "description": "Campo opcional, para el actualizador no enviar"
          },
          "useCardFrecuent": {
            "type": "boolean",
            "readOnly": true,
            "example": false,
            "description": "Campo opcional, para el actualizador no enviar"
          },
          "authorizationEnabled": {
            "readOnly": true,
            "type": "boolean",
            "description": "Se enviar\u00e1 cuando la tarjeta o token pertenezca a un banco online"
          }
        },
        "description": "Informacion de la tarjeta"
      },
      "Header": {
        "type": "object",
        "properties": {
          "ecoreTransactionUUID": {
            "type": "string",
            "description": "Identificador unico de transaccion para ecore"
          },
          "ecoreTransactionDate": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de la operacion"
          },
          "millis": {
            "type": "integer",
            "format": "int32",
            "description": "Tiempo de ejecucion"
          }
        },
        "description": "Encabezado de la transaccion"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}