{
  "openapi": "3.0.3",
  "info": {
    "title": "Straddle API",
    "description": "Straddle is a payments processing platform that enables businesses to accept fast, secure payments via Pay by Bank. Manage accounts, customers, payments, payouts, and linked bank accounts.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.straddle.io/"
  },
  "servers": [
    {
      "url": "https://api.straddle.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create Account",
        "description": "Creates a new account with business and contact details.",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listAccounts",
        "summary": "List Accounts",
        "description": "Returns accounts sorted by creation date with filtering and sorting options.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "lookupAccount",
        "summary": "Lookup Account",
        "description": "Retrieve an account by its ID.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateAccount",
        "summary": "Update Account",
        "description": "Modify account details during or after onboarding.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}/onboard": {
      "post": {
        "operationId": "onboardAccount",
        "summary": "Onboard Account",
        "description": "Initiates onboarding for an account. Requires a representative and a linked bank account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}/simulate-onboarding": {
      "post": {
        "operationId": "simulateAccountOnboarding",
        "summary": "Simulate Account Onboarding",
        "description": "Sandbox-only endpoint for testing onboarding transitions.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Simulation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/linked-bank-accounts": {
      "post": {
        "operationId": "createLinkedBankAccount",
        "summary": "Create Linked Bank Account",
        "description": "Associate an external bank account with a Straddle account.",
        "tags": [
          "Linked Bank Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLinkedBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Linked bank account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedBankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listLinkedBankAccounts",
        "summary": "List Linked Bank Accounts",
        "description": "Returns linked bank accounts sorted by creation date with pagination support.",
        "tags": [
          "Linked Bank Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of linked bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedBankAccountList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/linked-bank-accounts/{linkedBankAccountId}": {
      "get": {
        "operationId": "lookupLinkedBankAccount",
        "summary": "Lookup Linked Bank Account",
        "description": "Retrieve linked bank account details (masked).",
        "tags": [
          "Linked Bank Accounts"
        ],
        "parameters": [
          {
            "name": "linkedBankAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Linked bank account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedBankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateLinkedBankAccount",
        "summary": "Update Linked Bank Account",
        "description": "Modify linked bank accounts in 'created' or 'onboarding' status.",
        "tags": [
          "Linked Bank Accounts"
        ],
        "parameters": [
          {
            "name": "linkedBankAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLinkedBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Linked bank account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedBankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelLinkedBankAccount",
        "summary": "Cancel Linked Bank Account",
        "description": "Cancel linked bank accounts in 'created' status only.",
        "tags": [
          "Linked Bank Accounts"
        ],
        "parameters": [
          {
            "name": "linkedBankAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Linked bank account cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedBankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/linked-bank-accounts/{linkedBankAccountId}/unmask": {
      "get": {
        "operationId": "unmaskLinkedBankAccount",
        "summary": "Unmask Linked Bank Account",
        "description": "Retrieve unmasked sensitive details of a linked bank account.",
        "tags": [
          "Linked Bank Accounts"
        ],
        "parameters": [
          {
            "name": "linkedBankAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unmasked linked bank account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedBankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/charges": {
      "post": {
        "operationId": "createCharge",
        "summary": "Create Charge",
        "description": "Collect a payment from a customer.",
        "tags": [
          "Charges"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/charges/{chargeId}": {
      "get": {
        "operationId": "lookupCharge",
        "summary": "Lookup Charge",
        "description": "Retrieve a charge by its ID.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateCharge",
        "summary": "Update Charge",
        "description": "Modify charge amount, date, or details.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelCharge",
        "summary": "Cancel Charge",
        "description": "Prevent processing of a charge (created/hold status only).",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/charges/{chargeId}/hold": {
      "post": {
        "operationId": "holdCharge",
        "summary": "Hold Charge",
        "description": "Prevent processing of a charge (created status only).",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge held",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/charges/{chargeId}/release": {
      "post": {
        "operationId": "releaseCharge",
        "summary": "Release Charge",
        "description": "Allow processing of a held charge.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge released",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "operationId": "createPayout",
        "summary": "Create Payout",
        "description": "Send money to a customer.",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payouts/{payoutId}": {
      "get": {
        "operationId": "lookupPayout",
        "summary": "Lookup Payout",
        "description": "Retrieve a payout by its ID.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updatePayout",
        "summary": "Update Payout",
        "description": "Modify payout amount, date, or details.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelPayout",
        "summary": "Cancel Payout",
        "description": "Prevent sending of a payout (created/hold status only).",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payouts/{payoutId}/hold": {
      "post": {
        "operationId": "holdPayout",
        "summary": "Hold Payout",
        "description": "Prevent processing of a payout.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout held",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payouts/{payoutId}/release": {
      "post": {
        "operationId": "releasePayout",
        "summary": "Release Payout",
        "description": "Allow processing of a held payout.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout released",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create Customer",
        "description": "Verify and onboard a new customer.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List Customers",
        "description": "Search customers with filters and query parameters.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "operationId": "lookupCustomer",
        "summary": "Lookup Customer",
        "description": "Retrieve a customer by their ID.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomer",
        "summary": "Update Customer",
        "description": "Modify an existing customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete Customer",
        "description": "Permanently remove a customer record.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customerId}/review": {
      "post": {
        "operationId": "reviewCustomer",
        "summary": "Review Customer",
        "description": "Review identity and risk scores for a customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer review completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customerId}/decision": {
      "patch": {
        "operationId": "decisionCustomer",
        "summary": "Decision Customer",
        "description": "Update a reviewed customer's status to verified or rejected.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer decision applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{customerId}/unmask": {
      "get": {
        "operationId": "unmaskCustomerData",
        "summary": "Unmask Customer Data",
        "description": "Retrieve unmasked PII for a customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unmasked customer data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/representatives": {
      "post": {
        "operationId": "createRepresentative",
        "summary": "Create Representative",
        "description": "Create an account representative.",
        "tags": [
          "Representatives"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepresentativeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Representative created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listRepresentatives",
        "summary": "List Representatives",
        "description": "Returns representatives sorted by creation date with filtering options.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of representatives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepresentativeList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/representatives/{representativeId}": {
      "get": {
        "operationId": "lookupRepresentative",
        "summary": "Lookup Representative",
        "description": "Retrieve representative details.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "name": "representativeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Representative details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateRepresentative",
        "summary": "Update Representative",
        "description": "Modify personal details and contact info.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "name": "representativeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRepresentativeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Representative updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/representatives/{representativeId}/unmask": {
      "get": {
        "operationId": "unmaskRepresentativeData",
        "summary": "Unmask Representative Data",
        "description": "Retrieve unmasked PII for a representative.",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "name": "representativeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unmasked representative data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bridge/bank-account": {
      "post": {
        "operationId": "bridgeBankAccount",
        "summary": "Bridge Bank Account",
        "description": "Create paykeys from raw bank account details.",
        "tags": [
          "Bridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BridgeBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paykey created from bank account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bridge/plaid": {
      "post": {
        "operationId": "bridgePlaidToken",
        "summary": "Bridge Plaid Token",
        "description": "Create paykeys from Plaid tokens.",
        "tags": [
          "Bridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BridgePlaidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paykey created from Plaid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bridge/quiltt": {
      "post": {
        "operationId": "bridgeQuilttToken",
        "summary": "Bridge Quiltt Token",
        "description": "Create paykeys from Quiltt tokens.",
        "tags": [
          "Bridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BridgeQuilttRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paykey created from Quiltt token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bridge/widget-session": {
      "post": {
        "operationId": "initiateWidgetSession",
        "summary": "Initiate Widget Session",
        "description": "Generate a Bridge widget session token.",
        "tags": [
          "Bridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Widget session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paykeys/{paykeyId}": {
      "get": {
        "operationId": "lookupPaykey",
        "summary": "Lookup Paykey",
        "description": "Retrieve a paykey by its ID.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "paykeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paykey details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paykeys": {
      "get": {
        "operationId": "searchPaykeys",
        "summary": "Search Paykeys",
        "description": "Filter and query paykeys.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of paykeys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaykeyList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paykeys/{paykeyId}/reveal": {
      "get": {
        "operationId": "revealPaykey",
        "summary": "Reveal Paykey",
        "description": "Retrieve a paykey with unmasked token.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "paykeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revealed paykey details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paykeys/{paykeyId}/review": {
      "get": {
        "operationId": "reviewPaykey",
        "summary": "Review Paykey",
        "description": "Retrieve review details for a paykey.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "paykeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paykey review details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "decisionPaykey",
        "summary": "Accept or Reject Paykey",
        "description": "Update review status for a paykey.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "paykeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaykeyDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paykey decision applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paykeys/{paykeyId}/cancel": {
      "post": {
        "operationId": "cancelPaykey",
        "summary": "Cancel Paykey",
        "description": "Set paykey status to inactive.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "paykeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paykey cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paykeys/{paykeyId}/unblock": {
      "post": {
        "operationId": "unblockPaykey",
        "summary": "Unblock Paykey",
        "description": "Unblock a paykey after an R29 return code.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "paykeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paykey unblocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paykeys/{paykeyId}/unmask": {
      "get": {
        "operationId": "unmaskPaykeyData",
        "summary": "Unmask Paykey Data",
        "description": "Retrieve unmasked bank account data for a paykey.",
        "tags": [
          "Paykeys"
        ],
        "parameters": [
          {
            "name": "paykeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unmasked paykey data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paykey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/capabilities": {
      "post": {
        "operationId": "requestCapability",
        "summary": "Request Capability",
        "description": "Submit a capability enablement request.",
        "tags": [
          "Capabilities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Capability request submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listCapabilityRequests",
        "summary": "List Capability Requests",
        "description": "Returns sorted capability requests with filtering options.",
        "tags": [
          "Capabilities"
        ],
        "responses": {
          "200": {
            "description": "List of capability requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/funding-events": {
      "get": {
        "operationId": "listFundingEvents",
        "summary": "List Funding Events",
        "description": "Search funding events with filters and query parameters.",
        "tags": [
          "Funding"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of funding events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingEventList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/funding-events/{fundingEventId}": {
      "get": {
        "operationId": "lookupFundingDetails",
        "summary": "Lookup Funding Details",
        "description": "Get line item details per payment for a funding event.",
        "tags": [
          "Funding"
        ],
        "parameters": [
          {
            "name": "fundingEventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/funding-events/simulate": {
      "post": {
        "operationId": "simulateFundingEvent",
        "summary": "Simulate Funding Event",
        "description": "Sandbox-only testing endpoint for funding events.",
        "tags": [
          "Funding"
        ],
        "responses": {
          "200": {
            "description": "Simulated funding event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "operationId": "createOrganization",
        "summary": "Create Organization",
        "description": "Create a new organization.",
        "tags": [
          "Organizations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listOrganizations",
        "summary": "List Organizations",
        "description": "Returns sorted organizations with filtering and sorting options.",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payments": {
      "get": {
        "operationId": "searchPayments",
        "summary": "Search All Payments",
        "description": "Query all payments in the system.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key-based authentication"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "business_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccountList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "business_name": {
            "type": "string"
          },
          "contact_email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "business_name": {
            "type": "string"
          },
          "contact_email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "LinkedBankAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "bank_name": {
            "type": "string"
          },
          "account_number_masked": {
            "type": "string"
          },
          "routing_number": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LinkedBankAccountList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedBankAccount"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "CreateLinkedBankAccountRequest": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "bank_name": {
            "type": "string"
          },
          "account_number": {
            "type": "string"
          },
          "routing_number": {
            "type": "string"
          }
        }
      },
      "UpdateLinkedBankAccountRequest": {
        "type": "object",
        "properties": {
          "bank_name": {
            "type": "string"
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateChargeRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "paykey_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "UpdateChargeRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "payment_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Payout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreatePayoutRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "paykey_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "UpdatePayoutRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "payment_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "DecisionCustomerRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "verified",
              "rejected"
            ]
          }
        }
      },
      "Representative": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RepresentativeList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Representative"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "CreateRepresentativeRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "UpdateRepresentativeRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "Paykey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaykeyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Paykey"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "PaykeyDecisionRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "accepted",
              "rejected"
            ]
          }
        }
      },
      "BridgeBankAccountRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "account_number": {
            "type": "string"
          },
          "routing_number": {
            "type": "string"
          }
        }
      },
      "BridgePlaidRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "plaid_token": {
            "type": "string"
          }
        }
      },
      "BridgeQuilttRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "quiltt_token": {
            "type": "string"
          }
        }
      },
      "WidgetSessionRequest": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          }
        }
      },
      "WidgetSession": {
        "type": "object",
        "properties": {
          "session_token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Capability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CapabilityList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capability"
            }
          }
        }
      },
      "CapabilityRequest": {
        "type": "object",
        "properties": {
          "capability_name": {
            "type": "string"
          }
        }
      },
      "FundingEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FundingEventList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FundingEvent"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrganizationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organization"
            }
          }
        }
      },
      "CreateOrganizationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "PaymentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "charge",
                    "payout"
                  ]
                },
                "amount": {
                  "type": "integer"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Account management endpoints"
    },
    {
      "name": "Linked Bank Accounts",
      "description": "Linked bank account management"
    },
    {
      "name": "Charges",
      "description": "Payment collection (charges)"
    },
    {
      "name": "Payouts",
      "description": "Payment disbursement (payouts)"
    },
    {
      "name": "Customers",
      "description": "Customer management"
    },
    {
      "name": "Representatives",
      "description": "Account representative management"
    },
    {
      "name": "Bridge",
      "description": "Open banking bridge endpoints"
    },
    {
      "name": "Paykeys",
      "description": "Paykey management for secure transactions"
    },
    {
      "name": "Capabilities",
      "description": "Capability requests"
    },
    {
      "name": "Funding",
      "description": "Funding and settlement events"
    },
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Payments",
      "description": "Payment search across all types"
    }
  ]
}