{
  "openapi": "3.0.0",
  "info": {
    "description": "Serves the Clever Data API",
    "title": "Data API",
    "version": "1.2.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Clever/swagger-api/master/v1.2.yml"
  },
  "servers": [
    {
      "url": "https://api.clever.com/v1.2"
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentContactsResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns a list of student contacts",
        "operationId": "getContacts"
      }
    },
    "/contacts/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentContactResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns a specific student contact",
        "operationId": "getContact"
      }
    },
    "/contacts/{id}/district": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns the district for a student contact",
        "operationId": "getDistrictForStudentContact"
      }
    },
    "/contacts/{id}/student": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Returns the student for a student contact",
        "operationId": "getStudentForContact"
      }
    },
    "/district_admins": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "show_links",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictAdminsResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "District Admins"
        ],
        "description": "Returns a list of district admins",
        "operationId": "getDistrictAdmins"
      }
    },
    "/district_admins/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictAdminResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "District Admins"
        ],
        "description": "Returns a specific district admin",
        "operationId": "getDistrictAdmin"
      }
    },
    "/districts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictsResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns a list of districts. In practice this will only return the one district associated with the bearer token",
        "operationId": "getDistricts"
      }
    },
    "/districts/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns a specific district",
        "operationId": "getDistrict"
      }
    },
    "/districts/{id}/admins": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictAdminsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the admins for a district",
        "operationId": "getAdminsForDistrict"
      }
    },
    "/districts/{id}/schools": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the schools for a district",
        "operationId": "getSchoolsForDistrict"
      }
    },
    "/districts/{id}/sections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the sections for a district",
        "operationId": "getSectionsForDistrict"
      }
    },
    "/districts/{id}/status": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictStatusResponses"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the status of the district",
        "operationId": "getDistrictStatus"
      }
    },
    "/districts/{id}/students": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the students for a district",
        "operationId": "getStudentsForDistrict"
      }
    },
    "/districts/{id}/teachers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeachersResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Districts"
        ],
        "description": "Returns the teachers for a district",
        "operationId": "getTeachersForDistrict"
      }
    },
    "/school_admins": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolAdminsResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "School Admins"
        ],
        "description": "Returns a list of school admins",
        "operationId": "getSchoolAdmins"
      }
    },
    "/school_admins/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolAdminResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "School Admins"
        ],
        "description": "Returns a specific school admin",
        "operationId": "getSchoolAdmin"
      }
    },
    "/school_admins/{id}/schools": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "School Admins"
        ],
        "description": "Returns the schools for a school admin",
        "operationId": "getSchoolsForSchoolAdmin"
      }
    },
    "/schools": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolsResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns a list of schools",
        "operationId": "getSchools"
      }
    },
    "/schools/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns a specific school",
        "operationId": "getSchool"
      }
    },
    "/schools/{id}/district": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the district for a school",
        "operationId": "getDistrictForSchool"
      }
    },
    "/schools/{id}/sections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the sections for a school",
        "operationId": "getSectionsForSchool"
      }
    },
    "/schools/{id}/students": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the students for a school",
        "operationId": "getStudentsForSchool"
      }
    },
    "/schools/{id}/teachers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeachersResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Schools"
        ],
        "description": "Returns the teachers for a school",
        "operationId": "getTeachersForSchool"
      }
    },
    "/sections": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionsResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns a list of sections",
        "operationId": "getSections"
      }
    },
    "/sections/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns a specific section",
        "operationId": "getSection"
      }
    },
    "/sections/{id}/district": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the district for a section",
        "operationId": "getDistrictForSection"
      }
    },
    "/sections/{id}/school": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the school for a section",
        "operationId": "getSchoolForSection"
      }
    },
    "/sections/{id}/students": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the students for a section",
        "operationId": "getStudentsForSection"
      }
    },
    "/sections/{id}/teacher": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the primary teacher for a section",
        "operationId": "getTeacherForSection"
      }
    },
    "/sections/{id}/teachers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeachersResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Sections"
        ],
        "description": "Returns the teachers for a section",
        "operationId": "getTeachersForSection"
      }
    },
    "/students": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentsResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns a list of students",
        "operationId": "getStudents"
      }
    },
    "/students/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns a specific student",
        "operationId": "getStudent"
      }
    },
    "/students/{id}/contacts": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentContactsForStudentResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the contacts for a student",
        "operationId": "getContactsForStudent"
      }
    },
    "/students/{id}/district": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the district for a student",
        "operationId": "getDistrictForStudent"
      }
    },
    "/students/{id}/school": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the primary school for a student",
        "operationId": "getSchoolForStudent"
      }
    },
    "/students/{id}/sections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the sections for a student",
        "operationId": "getSectionsForStudent"
      }
    },
    "/students/{id}/teachers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeachersResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Students"
        ],
        "description": "Returns the teachers for a student",
        "operationId": "getTeachersForStudent"
      }
    },
    "/teachers": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeachersResponse"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns a list of teachers",
        "operationId": "getTeachers"
      }
    },
    "/teachers/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns a specific teacher",
        "operationId": "getTeacher"
      }
    },
    "/teachers/{id}/district": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the district for a teacher",
        "operationId": "getDistrictForTeacher"
      }
    },
    "/teachers/{id}/grade_levels": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GradeLevelsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the grade levels for sections a teacher teaches",
        "operationId": "getGradeLevelsForTeacher"
      }
    },
    "/teachers/{id}/school": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Retrieves school info for a teacher.",
        "operationId": "getSchoolForTeacher"
      }
    },
    "/teachers/{id}/sections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the sections for a teacher",
        "operationId": "getSectionsForTeacher"
      }
    },
    "/teachers/{id}/students": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentsResponse"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Teachers"
        ],
        "description": "Returns the students for a teacher",
        "operationId": "getStudentsForTeacher"
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequest"
            }
          }
        },
        "description": "Bad Request"
      },
      "InternalError": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalError"
            }
          }
        },
        "description": "Internal Error"
      },
      "NotFound": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFound"
            }
          }
        },
        "description": "Entity Not Found"
      }
    },
    "schemas": {
      "BadRequest": {
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Credentials": {
        "properties": {
          "district_username": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "District": {
        "properties": {
          "id": {
            "type": "string",
            "x-validation": true
          },
          "mdr_number": {
            "nullable": true,
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "DistrictAdmin": {
        "properties": {
          "district": {
            "type": "string",
            "x-validation": true
          },
          "email": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "name": {
            "$ref": "#/components/schemas/Name",
            "nullable": true
          },
          "title": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DistrictAdminResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DistrictAdmin"
          }
        },
        "type": "object"
      },
      "DistrictAdminsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/DistrictAdmin"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DistrictResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/District"
          }
        },
        "type": "object"
      },
      "DistrictStatus": {
        "properties": {
          "error": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "instant_login": {
            "type": "boolean"
          },
          "last_sync": {
            "format": "datetime",
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "launch_date": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "pause_end": {
            "format": "datetime",
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "pause_start": {
            "format": "datetime",
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "sis_type": {
            "type": "string",
            "x-validation": true
          },
          "state": {
            "enum": [
              "running",
              "pending",
              "error",
              "paused"
            ],
            "type": "string",
            "x-validation": true
          }
        },
        "type": "object"
      },
      "DistrictStatusResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DistrictStatus"
          }
        },
        "type": "object"
      },
      "DistrictStatusResponses": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/DistrictStatusResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DistrictsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/DistrictResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GradeLevelsResponse": {
        "properties": {
          "data": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "InternalError": {
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Location": {
        "properties": {
          "address": {
            "nullable": true,
            "type": "string"
          },
          "city": {
            "nullable": true,
            "type": "string"
          },
          "lat": {
            "nullable": true,
            "type": "string"
          },
          "lon": {
            "nullable": true,
            "type": "string"
          },
          "state": {
            "nullable": true,
            "type": "string"
          },
          "zip": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Name": {
        "properties": {
          "first": {
            "nullable": true,
            "type": "string"
          },
          "last": {
            "nullable": true,
            "type": "string"
          },
          "middle": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "NotFound": {
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Principal": {
        "properties": {
          "email": {
            "nullable": true,
            "type": "string"
          },
          "name": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "School": {
        "properties": {
          "created": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "district": {
            "type": "string",
            "x-validation": true
          },
          "high_grade": {
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "PreKindergarten",
              "Kindergarten",
              "PostGraduate",
              "Other"
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "last_modified": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "nullable": true
          },
          "low_grade": {
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "PreKindergarten",
              "Kindergarten",
              "PostGraduate",
              "Other"
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "mdr_number": {
            "nullable": true,
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nces_id": {
            "nullable": true,
            "type": "string"
          },
          "phone": {
            "nullable": true,
            "type": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "school_number": {
            "type": "string"
          },
          "sis_id": {
            "type": "string"
          },
          "state_id": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SchoolAdmin": {
        "properties": {
          "credentials": {
            "$ref": "#/components/schemas/Credentials"
          },
          "district": {
            "type": "string",
            "x-validation": true
          },
          "email": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "schools": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-validation": true
          },
          "staff_id": {
            "type": "string"
          },
          "title": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SchoolAdminResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SchoolAdmin"
          }
        },
        "type": "object"
      },
      "SchoolAdminsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/SchoolAdminResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SchoolResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/School"
          }
        },
        "type": "object"
      },
      "SchoolsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/SchoolResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Section": {
        "properties": {
          "course_description": {
            "nullable": true,
            "type": "string"
          },
          "course_name": {
            "nullable": true,
            "type": "string"
          },
          "course_number": {
            "nullable": true,
            "type": "string"
          },
          "created": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "district": {
            "type": "string",
            "x-validation": true
          },
          "grade": {
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "PreKindergarten",
              "Kindergarten",
              "PostGraduate",
              "Other"
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "last_modified": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "name": {
            "type": "string"
          },
          "period": {
            "nullable": true,
            "type": "string"
          },
          "school": {
            "type": "string",
            "x-validation": true
          },
          "section_number": {
            "nullable": true,
            "type": "string"
          },
          "sis_id": {
            "type": "string"
          },
          "students": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-validation": true
          },
          "subject": {
            "enum": [
              "english/language arts",
              "math",
              "science",
              "social studies",
              "language",
              "homeroom/advisory",
              "interventions/online learning",
              "technology and engineering",
              "PE and health",
              "arts and music",
              "other"
            ],
            "type": "string",
            "x-validation": true
          },
          "teacher": {
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "teachers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-validation": true
          },
          "term": {
            "$ref": "#/components/schemas/Term",
            "nullable": true
          }
        },
        "type": "object"
      },
      "SectionResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Section"
          }
        },
        "type": "object"
      },
      "SectionsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/SectionResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Student": {
        "properties": {
          "created": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "credentials": {
            "$ref": "#/components/schemas/Credentials"
          },
          "district": {
            "type": "string",
            "x-validation": true
          },
          "dob": {
            "nullable": true,
            "pattern": "(?:[0-9]{1,2})/([0-9]{1,2})/([0-9]{4})",
            "type": "string",
            "x-validation": true
          },
          "ell_status": {
            "enum": [
              "Y",
              "N",
              ""
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "email": {
            "nullable": true,
            "type": "string"
          },
          "gender": {
            "enum": [
              "M",
              "F",
              ""
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "grade": {
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "PreKindergarten",
              "Kindergarten",
              "PostGraduate",
              "Other"
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "graduation_year": {
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "hispanic_ethnicity": {
            "enum": [
              "Y",
              "N",
              ""
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "last_modified": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "nullable": true
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "race": {
            "enum": [
              "Caucasian",
              "Asian",
              "Black or African American",
              "American Indian",
              "Hawaiian or Other Pacific Islander",
              "Two or More Races",
              "Unknown",
              ""
            ],
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "school": {
            "type": "string",
            "x-validation": true
          },
          "schools": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-validation": true
          },
          "sis_id": {
            "type": "string"
          },
          "state_id": {
            "nullable": true,
            "type": "string"
          },
          "student_number": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "StudentContact": {
        "properties": {
          "district": {
            "type": "string",
            "x-validation": true
          },
          "email": {
            "nullable": true,
            "type": "string"
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "nullable": true,
            "type": "string"
          },
          "phone_type": {
            "nullable": true,
            "type": "string"
          },
          "relationship": {
            "nullable": true,
            "type": "string"
          },
          "sis_id": {
            "nullable": true,
            "type": "string"
          },
          "student": {
            "type": "string",
            "x-validation": true
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StudentContactResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/StudentContact"
          }
        },
        "type": "object"
      },
      "StudentContactsForStudentResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/StudentContact"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "StudentContactsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/StudentContactResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "StudentResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Student"
          }
        },
        "type": "object"
      },
      "StudentsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/StudentResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Teacher": {
        "properties": {
          "created": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "credentials": {
            "$ref": "#/components/schemas/Credentials",
            "nullable": true
          },
          "district": {
            "type": "string",
            "x-validation": true
          },
          "email": {
            "nullable": true,
            "type": "string"
          },
          "id": {
            "type": "string",
            "x-validation": true
          },
          "last_modified": {
            "format": "datetime",
            "type": "string",
            "x-validation": true
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "school": {
            "type": "string",
            "x-validation": true
          },
          "schools": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-validation": true
          },
          "sis_id": {
            "type": "string"
          },
          "state_id": {
            "nullable": true,
            "type": "string"
          },
          "teacher_number": {
            "nullable": true,
            "type": "string"
          },
          "title": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "TeacherResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Teacher"
          }
        },
        "type": "object"
      },
      "TeachersResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/TeacherResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Term": {
        "properties": {
          "end_date": {
            "format": "datetime",
            "nullable": true,
            "type": "string",
            "x-validation": true
          },
          "name": {
            "nullable": true,
            "type": "string"
          },
          "start_date": {
            "format": "datetime",
            "nullable": true,
            "type": "string",
            "x-validation": true
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "oauth": {
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://clever.com/oauth/authorize",
            "scopes": {},
            "tokenUrl": "https://clever.com/oauth/tokens"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "oauth": []
    }
  ],
  "x-samples-languages": [
    "curl",
    "node",
    "ruby",
    "python",
    "php",
    "java",
    "go"
  ]
}