{
  "openapi": "3.0.3",
  "info": {
    "title": "Skoot Eco API",
    "version": "1.0.0",
    "description": "Skoot Eco provides climate action API allowing allocation of trees, plastic bottles, and carbon offset to user profiles.",
    "x-jentic-source-url": "https://skootuk.github.io/public-documentation/#introduction"
  },
  "servers": [
    {
      "url": "https://eco.skoot.io"
    }
  ],
  "paths": {
    "/api/key/validate": {
      "get": {
        "operationId": "validateApiKey",
        "summary": "Validate API token",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Token is valid"
          },
          "401": {
            "description": "Invalid token"
          }
        }
      }
    },
    "/profile/{profile_id}/allocate": {
      "patch": {
        "operationId": "makeAllocation",
        "summary": "Make an allocation",
        "description": "Allocate trees, plastic bottles, or carbon offset to a profile.",
        "tags": [
          "Allocations"
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Allocation successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/profile/{profile_id}": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AllocationRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {
              "activity": {
                "type": "string"
              },
              "via": {
                "type": "string"
              },
              "with": {
                "type": "string"
              }
            }
          },
          "allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "trees",
                    "plastic_bottles",
                    "carbon"
                  ]
                },
                "quantity": {
                  "type": "number"
                },
                "unit": {
                  "type": "string"
                },
                "project_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "stats": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}