{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "edai-aero@faa.gov",
      "name": "Aeronautic Product Release API (APRA)",
      "url": "http://www.faa.gov/got_data"
    },
    "description": "FAA Aeronautic chart publication download API",
    "license": {
      "name": "Creative Commons 0 (CC0)",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode"
    },
    "title": "Aeronautic Product Release API",
    "version": "1.2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/FAA/APRA/1.2.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://soa.smext.faa.gov/apra"
    }
  ],
  "paths": {
    "/cifp/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Coded Instrument Flight Procedures (CIFP)"
        ],
        "description": "The CIFP release is distributed as a zip file containing charts and verification software.",
        "operationId": "getCIFPRelease",
        "summary": "Get CIFP chart download link by edition type of current or next. If edition is left blank or null, the default edition of current is used."
      }
    },
    "/cifp/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Coded Instrument Flight Procedures (CIFP)"
        ],
        "description": "Get CIFP edition date and edition number by edition type of current or next. If the edition is left blank or null, the default edition of current is used.",
        "operationId": "getCIFPEdition",
        "summary": "Get CIFP edition date and edition number by edition type of current or next. If the edition is left blank or null, the default edition of current is used."
      }
    },
    "/ddof/chart": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Daily Digital Obstacle File (DDOF)"
        ],
        "description": "The Daily Digital Obstacle File release is distributed as a zip file containing the latest obstacle information from the FAA database.",
        "operationId": "getDDOFRelease",
        "summary": "Get Daily Digital Obstacle File download link."
      }
    },
    "/ddof/info": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Daily Digital Obstacle File (DDOF)"
        ],
        "description": "The Daily Digital Obstacle File is released by the FAA on a daily basis.",
        "operationId": "getDDOFEdition",
        "summary": "Get Daily Digital Obstacle File edition information."
      }
    },
    "/dec/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Digital Enroute Charts US (DDECUS)"
        ],
        "description": "The DEC US release is distributed as a zip file containing charts.",
        "operationId": "getDECRelease",
        "summary": "Get Digital Enroute Chart download link by edition type of current or next. If edition is left blank or null, the default edition of current is used."
      }
    },
    "/dec/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Digital Enroute Charts US (DDECUS)"
        ],
        "description": "Get CIFP edition date and edition number by edition type of current or next. If the edition is left blank or null, the default edition of current is used.",
        "operationId": "getDECEdition",
        "summary": "Get CIFP edition date and edition number by edition type of current or next. If the edition is left blank or null, the default edition of current is used."
      }
    },
    "/ders/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "This product has been deprecated and is no longer published by the FAA."
          }
        },
        "tags": [
          "Digital Enroute Supplement (DERS)"
        ],
        "deprecated": true,
        "description": "The Digital Enroute Supplement release has been deprecated and is no longer published by the FAA..",
        "operationId": "getDERSRelease",
        "summary": "Get Digital Enroute Supplement download link."
      }
    },
    "/ders/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "This product has been deprecated and is no longer published by the FAA."
          }
        },
        "tags": [
          "Digital Enroute Supplement (DERS)"
        ],
        "deprecated": true,
        "description": "The Digital Enroute Supplement release has been deprecated and is no longer published by the FAA.",
        "operationId": "getDERSEdition",
        "summary": "Get Digital Enroute Supplement edition information."
      }
    },
    "/dtpp/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next",
                "changeset"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested geographic region of Terminal Procedures Publication chart set. Specify either US or a valid full state name such as Alaska. If omitted, the default US complete set is returned.",
            "in": "query",
            "name": "geoname",
            "required": false,
            "schema": {
              "default": "US",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "US Terminal Procedures Publication (TPP)"
        ],
        "description": "The complete United States Terminal Procedure Publication (TPP) release is distributed as a set of zip files containing charts and verification software. Requests for charts by state returns a list of download URLs which can be quite extensive.  All 50 US states are valid for requesting chart publication download URLs. The special 'changeset' edition operates against the current release and returns the charts that were changed since the previous release. ",
        "operationId": "getTPPRelease",
        "summary": "Get Terminal Procedure Publication chart download information by requesting an edition with geographic area of United States or a valid US State Name."
      }
    },
    "/dtpp/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition information is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested geographic region of Terminal Procedures Publication chart set. Specify US or a valid full US state name such as Alaska. If omitted, edition information for the complete US set is returned.",
            "in": "query",
            "name": "geoname",
            "required": false,
            "schema": {
              "default": "US",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "US Terminal Procedures Publication (TPP)"
        ],
        "description": "The US Terminal Procedure Publication is released on a 28 day airspace cycle. Edition information is identical regardless of the geographic area or format of the desired charts.",
        "operationId": "getTPPEdition",
        "summary": "Get Terminal Procedure Publication chart edition information by requesting an edition with geographic area of United States or one of the 50 US states"
      }
    },
    "/enroute/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferencedIf omitted, the default format of PDF is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          },
          {
            "description": "Geographic region for requested chart",
            "in": "query",
            "name": "geoname",
            "required": true,
            "schema": {
              "enum": [
                "US",
                "Alaska",
                "Pacific",
                "Caribbean"
              ],
              "type": "string"
            }
          },
          {
            "description": "The series type",
            "in": "query",
            "name": "seriesType",
            "required": true,
            "schema": {
              "enum": [
                "low",
                "high",
                "area"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "IFR Enroute Charts"
        ],
        "description": "TIFF formatted files are geo-referenced while PDF format is not geo-referenced. Geoname is either US, Alaska, Pacific, or Caribbean, depending on the desired chart. A list of available charts by format, geoname, and series type can be found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services  > Digital Products > IFR Charts and DERS > Low, High Areas tab.  The valid values for seriesType are Low, High, or Area.",
        "operationId": "getIFREnrouteRelease",
        "summary": "Get IFR Enroute Charts download link by edition, format, geoname, and seriesType"
      }
    },
    "/enroute/gom/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested Gulf of Mexico geographic area. If omitted, both west and central links are returned.",
            "in": "query",
            "name": "geoname",
            "required": false,
            "schema": {
              "enum": [
                "west",
                "central"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Gulf of Mexico IFR Enroute Chart"
        ],
        "description": "The Gulf of Mexico IFR enroute chart is distributed as a zip file that contains multiple PDF charts.",
        "operationId": "getGOMRelease",
        "summary": "Get Gulf of Mexico IFR enroute chart edition date, edition number, and product download URL"
      }
    },
    "/enroute/gom/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested Gulf of Mexico geographic area. If omitted, both west and central are returned.",
            "in": "query",
            "name": "geoname",
            "required": false,
            "schema": {
              "enum": [
                "west",
                "central"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Gulf of Mexico IFR Enroute Chart"
        ],
        "description": "If a geographic area is not supplied, both central and west product edition information is returned.",
        "operationId": "getGOMEdition",
        "summary": "Get Gulf of Mexico IFR enroute chart edition date and edition number"
      }
    },
    "/enroute/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "IFR Enroute Charts"
        ],
        "description": "Get IFR Enroute Charts edition date and edition number by edition type of current or next",
        "operationId": "getIFREnrouteEdition",
        "summary": "Get IFR Enroute Charts edition date and edition number by edition type of current or next"
      }
    },
    "/ifr/oceanic/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          },
          {
            "description": "A geographic area for which the chart is requested",
            "in": "query",
            "name": "geoname",
            "required": true,
            "schema": {
              "default": "PORC",
              "enum": [
                "NARC",
                "PORC",
                "WATRS"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Oceanic Route Charts"
        ],
        "description": "TIFF formatted files are geo-referenced while PDF format is not geo-referenced. Geoname is a geographic area for which the chart is requested. Valid geographic names are Pacific (PORC), North Atlantic (NARC), and Wester Atlantic (WATRS) ",
        "operationId": "getOceanicRouteChart",
        "summary": "Get Oceanic Route Chart download link by edition, format, and geoname"
      }
    },
    "/ifr/oceanic/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition information is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Oceanic Route Charts"
        ],
        "description": "All oceanic charts are released on a regular 56 day cycle. The format and geographic name are not necessary to obtain edition information.",
        "operationId": "getOceanicRouteEdition",
        "summary": "Get Oceanic Route Chart edition information by edition type"
      }
    },
    "/ifr/planning/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default PDF format is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "IFR Planning Charts"
        ],
        "description": "TIFF formatted files are geo-referenced while PDF format is not geo-referenced.  The specific chart returned by this operation is the IFR PLANNING chart found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > IFR Charts and DERS > Planning tab",
        "operationId": "getIfrPlanningChart",
        "summary": "Get IFR planning download link by edition and format"
      }
    },
    "/ifr/planning/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition information is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "IFR Planning Charts"
        ],
        "description": "Get Planning Chart edition date and edition number by edition type",
        "operationId": "getIfrPlanningInfo",
        "summary": "Get Planning Chart edition date and edition number by edition type"
      }
    },
    "/nfdc/nasr/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "NASR 28 Day Subscription"
        ],
        "description": "Get the National Flight Data Center NASR 28 day subscription file",
        "operationId": "getNASRSubscription",
        "summary": "Get the National Flight Data Center NASR 28 day subscription file"
      }
    },
    "/nfdc/nasr/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "NASR 28 Day Subscription"
        ],
        "description": "Get the National Flight Data Center NASR 28 day subscription file edition information",
        "operationId": "getNASREdition",
        "summary": "Get the National Flight Data Center NASR 28 day subscription file edition information"
      }
    },
    "/supplement/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested volume of Supplement chart set. If omitted, the complete US set is returned.",
            "in": "query",
            "name": "volume",
            "required": false,
            "schema": {
              "enum": [
                "NORTHWEST",
                "SOUTHWEST",
                "NORTH CENTRAL",
                "SOUTH CENTRAL",
                "EAST CENTRAL",
                "SOUTHEAST",
                "NORTHEAST",
                "PACIFIC",
                "ALASKA"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Supplement Chart "
        ],
        "description": "The Supplement chart is distributed in two formats - zip and pdf. The US complete set is returned as a ZIP file while all other volumes consist of individual PDF files.Requests for charts by volume other than US complete set returns a list of download URLs which can be quite extensive.",
        "operationId": "getSupplementRelease",
        "summary": "Get Supplement chart download information by requesting an edition with a valid US volume."
      }
    },
    "/supplement/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested volume of Supplement chart set. If omitted, the edition information for the complete US set is returned.",
            "in": "query",
            "name": "volume",
            "required": false,
            "schema": {
              "enum": [
                "NORTHWEST",
                "SOUTHWEST",
                "NORTH CENTRAL",
                "SOUTH CENTRAL",
                "EAST CENTRAL",
                "SOUTHEAST",
                "NORTHEAST",
                "PACIFIC",
                "ALASKA"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Supplement Chart "
        ],
        "description": "Get Supplement chart edition information by requesting an edition and volume.",
        "operationId": "getSupplementEdition",
        "summary": "Get Supplement chart edition information by requesting an edition and volume."
      }
    },
    "/vfr/grandcanyon/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Grand Canyon VFR Chart"
        ],
        "description": "Get VFR Grand Canyon chart edition information and download link",
        "operationId": "getGrandCanyonRelease",
        "summary": "Get VFR Grand Canyon chart edition information and download link"
      }
    },
    "/vfr/grandcanyon/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition information is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Grand Canyon VFR Chart"
        ],
        "description": "Get VFR edition date and edition number by edition type of current or next",
        "operationId": "getGrandCanyonEdition",
        "summary": "Get VFR edition date and edition number by edition type of current or next"
      }
    },
    "/vfr/helicopter/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          },
          {
            "description": "Geoname which is a city for which the chart is requested. If omitted, charts for all cities are returned.",
            "in": "query",
            "name": "geoname",
            "required": false,
            "schema": {
              "enum": [
                "Baltimore Washington Heli",
                "Boston Heli",
                "Chicago Heli",
                "Dallas Ft. Worth Heli",
                "Detroit Heli",
                "Houston Heli",
                "Los Angeles Heli",
                "New York Heli",
                "U.S Gulf Coast"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "VFR Helicopter Route Chart"
        ],
        "description": "Geoname is a city for which the chart is requested. Valid cities can be found on the FAA public web site under FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > VFR Charts > Helicopter tab",
        "operationId": "getHelicopterRelease",
        "summary": "Get VFR Helicopter Route Chart download link by edition and geoname"
      }
    },
    "/vfr/helicopter/gulf/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "VFR Helicopter Route Chart"
        ],
        "description": "The geoname is absent from this operation and defaults to U.S Gulf Coast",
        "operationId": "getGulfCoastRelease",
        "summary": "Get GulfCoast Route Chart download link by edition"
      }
    },
    "/vfr/helicopter/gulf/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "VFR Helicopter Route Chart"
        ],
        "description": "Get VFR GulfCoast Route Chart edition date and edition number by edition type of 'current' or 'next' ",
        "operationId": "getGulfCoastEdition",
        "summary": "Get VFR GulfCoast Route Chart edition date and edition number by edition type of 'current' or 'next' "
      }
    },
    "/vfr/helicopter/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Geoname which is a city for which the chart is requested. If omitted, charts for all cities are returned.",
            "in": "query",
            "name": "geoname",
            "required": false,
            "schema": {
              "enum": [
                "Baltimore Washington Heli",
                "Boston Heli",
                "Chicago Heli",
                "Dallas Ft. Worth Heli",
                "Detroit Heli",
                "Houston Heli",
                "Los Angeles Heli",
                "New York Heli",
                "U.S Gulf Coast"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "VFR Helicopter Route Chart"
        ],
        "description": "Get VFR Helicopter Route Chart edition date and edition number by edition type of current or next and geoname",
        "operationId": "getHelicopterEdition",
        "summary": "Get VFR Helicopter Route Chart edition date and edition number by edition type of current or next and geoname"
      }
    },
    "/vfr/sectional/chart": {
      "get": {
        "parameters": [
          {
            "description": "Geoname which is a city for which the chart is requested. Valid cities can be found on the FAA public web site.",
            "in": "query",
            "name": "geoname",
            "required": true,
            "schema": {
              "enum": [
                "Albuquerque",
                "Anchorage",
                "Atlanta",
                "Bethel",
                "Billings",
                "Brownsville",
                "Cape Lisburne",
                "Charlotte",
                "Cheyenne",
                "Chicago",
                "Cincinnati",
                "Cold Bay",
                "Dallas-Ft Worth",
                "Dawson",
                "Denver",
                "Detroit",
                "Dutch Harbor",
                "El Paso",
                "Fairbanks",
                "Great Falls",
                "Green Bay",
                "Halifax",
                "Hawaiian Islands",
                "Houston",
                "Jacksonville",
                "Juneau",
                "Kansas City",
                "Ketchikan",
                "Klamath Falls",
                "Kodiak",
                "Lake Huron",
                "Las Vegas",
                "Los Angeles",
                "McGrath",
                "Memphis",
                "Miami",
                "Montreal",
                "New Orleans",
                "New York",
                "Nome",
                "Omaha",
                "Phoenix",
                "Point Barrow",
                "Salt Lake City",
                "San Antonio",
                "San Francisco",
                "Seattle",
                "Seward",
                "St Louis",
                "Twin Cities",
                "Washington",
                "Western Aleutian Islands",
                "Whitehorse",
                "Wichita"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Sectional Charts"
        ],
        "description": "TIFF formatted files are geo-referenced while PDF format is not geo-referenced. Geoname is a city for which the chart is requested. Valid cities can be found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > VFR Charts > Sectional Chart tab",
        "operationId": "getSectionalChart",
        "summary": "Get Sectional Chart download link by edition, format, and geoname"
      }
    },
    "/vfr/sectional/info": {
      "get": {
        "parameters": [
          {
            "description": "Geoname which is a city for which the chart is requested. Valid cities can be found on the FAA public web site.",
            "in": "query",
            "name": "geoname",
            "required": true,
            "schema": {
              "enum": [
                "Albuquerque",
                "Anchorage",
                "Atlanta",
                "Bethel",
                "Billings",
                "Brownsville",
                "Cape Lisburne",
                "Charlotte",
                "Cheyenne",
                "Chicago",
                "Cincinnati",
                "Cold Bay",
                "Dallas-Ft Worth",
                "Dawson",
                "Denver",
                "Detroit",
                "Dutch Harbor",
                "El Paso",
                "Fairbanks",
                "Great Falls",
                "Green Bay",
                "Halifax",
                "Hawaiian Islands",
                "Houston",
                "Jacksonville",
                "Juneau",
                "Kansas City",
                "Ketchikan",
                "Klamath Falls",
                "Kodiak",
                "Lake Huron",
                "Las Vegas",
                "Los Angeles",
                "McGrath",
                "Memphis",
                "Miami",
                "Montreal",
                "New Orleans",
                "New York",
                "Nome",
                "Omaha",
                "Phoenix",
                "Point Barrow",
                "Salt Lake City",
                "San Antonio",
                "San Francisco",
                "Seattle",
                "Seward",
                "St Louis",
                "Twin Cities",
                "Washington",
                "Western Aleutian Islands",
                "Whitehorse",
                "Wichita"
              ],
              "type": "string"
            }
          },
          {
            "description": "Requested product edition. If omitted, the default current edition information is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Sectional Charts"
        ],
        "description": "Geoname is a city for which the chart is requested. Valid cities can be found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > VFR Charts > Sectional Chart tab",
        "operationId": "getSectionalInfo",
        "summary": "Get Sectional Chart edition date and edition number by edition type and geoname"
      }
    },
    "/vfr/tac/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF is georeferenced and PDF is not georeferenced. If omitted, the default format of PDF is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          },
          {
            "description": "A US city for which the chart is requested.",
            "in": "query",
            "name": "geoname",
            "required": true,
            "schema": {
              "enum": [
                "Anchorage-Fairbanks",
                "Atlanta",
                "Baltimore-Washington",
                "Boston",
                "Charlotte",
                "Chicago",
                "Cincinnati",
                "Cleveland",
                "Dallas-Ft Worth",
                "Denver-Colorado Springs",
                "Detroit",
                "Houston",
                "Kansas City",
                "Las Vegas",
                "Los Angeles",
                "Memphis",
                "Miami",
                "Minneapolis-St Paul",
                "New Orleans",
                "New York",
                "Philadelphia",
                "Phoenix",
                "Pittsburgh",
                "Puerto Rico-VI",
                "St Louis",
                "Salt Lake City",
                "San Diego",
                "San Francisco",
                "Seattle",
                "Tampa-Orlando"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Terminal Area Charts"
        ],
        "description": "TIFF formatted files are geo-referenced while PDF format is not geo-referenced. Geoname is a city for which the chart is requested. Valid cities can be found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > VFR Charts > Terminal Area Chart tab",
        "operationId": "getTACRelease",
        "summary": "Get Terminal Area Chart download link by edition, format, and geoname"
      }
    },
    "/vfr/tac/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition information is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "A US city for which the chart is requested.",
            "in": "query",
            "name": "geoname",
            "required": true,
            "schema": {
              "enum": [
                "Anchorage-Fairbanks",
                "Atlanta",
                "Baltimore-Washington",
                "Boston",
                "Charlotte",
                "Chicago",
                "Cincinnati",
                "Cleveland",
                "Dallas-Ft Worth",
                "Denver-Colorado Springs",
                "Detroit",
                "Houston",
                "Kansas City",
                "Las Vegas",
                "Los Angeles",
                "Memphis",
                "Miami",
                "Minneapolis-St Paul",
                "New Orleans",
                "New York",
                "Philadelphia",
                "Phoenix",
                "Pittsburgh",
                "Puerto Rico-VI",
                "St Louis",
                "Salt Lake City",
                "San Diego",
                "San Francisco",
                "Seattle",
                "Tampa-Orlando"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "Terminal Area Charts"
        ],
        "description": "Geoname is a city for which the chart is requested. Valid cities can be found on the FAA public web site at FAA Home > Air Traffic > Flight Information > Aeronautical Information Services > Digital Products > VFR Charts > Terminal Area Chart tab",
        "operationId": "getTACEdition",
        "summary": "Get Terminal Area Chart edition date and edition number by edition type and geoname"
      }
    },
    "/vfr/wallplanning/chart": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF format contains georeferenced charts contained within a zip archive and PDF is non-georeferenced charts. If omitted, the default PDF format is returned.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "US VFR Wall Planning Chart"
        ],
        "description": "Get WallPlan Chart release information with download link by edition and format",
        "operationId": "getProductRelease",
        "summary": "Get WallPlan Chart release information with download link by edition and format"
      }
    },
    "/vfr/wallplanning/info": {
      "get": {
        "parameters": [
          {
            "description": "Requested product edition. If omitted, the default current edition information is returned.",
            "in": "query",
            "name": "edition",
            "required": false,
            "schema": {
              "default": "current",
              "enum": [
                "current",
                "next"
              ],
              "type": "string"
            }
          },
          {
            "description": "Format of the requested chart. TIFF format contains georeferenced charts in a zip archive file and PDF is non-georeferenced charts. If omitted, the default PDF format is used.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "pdf",
              "enum": [
                "tiff",
                "pdf"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Illegal arguments provided to service. One or more of the service parameter values is invalid"
          },
          "404": {
            "description": "Requested edition has not been released for download or could not be found on the FAA aeronav web site."
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          }
        },
        "tags": [
          "US VFR Wall Planning Chart"
        ],
        "description": "Get WallPlan edition date and edition number by edition type and format",
        "operationId": "getProductEdition",
        "summary": "Get WallPlan edition date and edition number by edition type and format"
      }
    }
  },
  "components": {
    "schemas": {
      "Edition": {
        "properties": {
          "altitude": {
            "enum": [
              "HIGH",
              "LOW"
            ],
            "type": "string"
          },
          "editionDate": {
            "type": "string"
          },
          "editionName": {
            "enum": [
              "CURRENT",
              "NEXT",
              "MODIFIED",
              "DAILY"
            ],
            "type": "string"
          },
          "editionNumber": {
            "format": "int32",
            "type": "integer"
          },
          "format": {
            "enum": [
              "PDF",
              "ZIP",
              "TIFF"
            ],
            "type": "string"
          },
          "geoname": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "volume": {
            "type": "string"
          }
        },
        "required": [
          "editionDate"
        ],
        "type": "object"
      },
      "Product": {
        "properties": {
          "airportId": {
            "type": "string"
          },
          "airportName": {
            "type": "string"
          },
          "change": {
            "enum": [
              "ADDED",
              "CHANGED",
              "DELETED"
            ],
            "type": "string"
          },
          "chartName": {
            "type": "string"
          },
          "cityName": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "productName": {
            "enum": [
              "CIFP",
              "SECTIONAL",
              "TAC",
              "ENROUTE",
              "WALLPLANNING",
              "VFR",
              "TPP",
              "SUPPLEMENT",
              "SUBSCRIBER",
              "IFR",
              "IFR_OCEANIC",
              "IFR_ENROUTE",
              "IFR_PLANNING",
              "IFR_CARRIBEAN",
              "IFR_GULF_OF_MEXICO",
              "VFR_HELICOPTER",
              "VFR_US_GULF_COAST",
              "DDOF",
              "DOF",
              "DEC",
              "DERS",
              "MIA",
              "MVA",
              "USER_GUIDE",
              "DVC",
              "ATPP",
              "OBSTACLE_CONSTRUCTION_NOTICES",
              "CRITICAL_DME"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Status": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "tags": [
    {
      "name": "US VFR Wall Planning Chart"
    },
    {
      "name": "Coded Instrument Flight Procedures (CIFP)"
    },
    {
      "name": "Oceanic Route Charts"
    },
    {
      "name": "Daily Digital Obstacle File (DDOF)"
    },
    {
      "name": "NASR 28 Day Subscription"
    },
    {
      "name": "Sectional Charts"
    },
    {
      "name": "Digital Enroute Charts US (DDECUS)"
    },
    {
      "name": "IFR Planning Charts"
    },
    {
      "name": "Gulf of Mexico IFR Enroute Chart"
    },
    {
      "name": "IFR Enroute Charts"
    },
    {
      "name": "US Terminal Procedures Publication (TPP)"
    },
    {
      "name": "VFR Helicopter Route Chart"
    },
    {
      "name": "Terminal Area Charts"
    },
    {
      "name": "Digital Enroute Supplement (DERS)"
    },
    {
      "name": "Grand Canyon VFR Chart"
    },
    {
      "name": "Supplement Chart"
    },
    {
      "name": "Supplement Chart "
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}