{
  "openapi": "3.0.3",
  "info": {
    "title": "Short.io API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/short.io/short-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.short.io",
      "description": "API server"
    }
  ],
  "paths": {
    "/links/opengraph/debug": {
      "post": {
        "summary": "Fetch and inspect OpenGraph tags for a URL (public, hCaptcha-protected)",
        "tags": [
          "Link queries"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "hcaptchaToken"
                ],
                "properties": {
                  "hcaptchaToken": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "title"
                  ],
                  "properties": {
                    "title": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogTags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "propertyName",
                          "propertyValue"
                        ],
                        "properties": {
                          "propertyName": {
                            "type": "string"
                          },
                          "propertyValue": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/links/opengraph/{domainId}/{linkId}": {
      "get": {
        "summary": "Get link opengraph properties",
        "tags": [
          "Link queries"
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "put": {
        "summary": "Set link opengraph properties",
        "tags": [
          "Link Management"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "array",
                  "prefixItems": [
                    {
                      "type": "string",
                      "enum": [
                        "title",
                        "type",
                        "image",
                        "url",
                        "audio",
                        "description",
                        "determiner",
                        "locale",
                        "locale:alternate",
                        "site_name",
                        "video",
                        "article:published_time",
                        "article:modified_time",
                        "article:expiration_time",
                        "article:author",
                        "article:section",
                        "article:tag",
                        "updated_time",
                        "image:url",
                        "image:secure_url",
                        "image:type",
                        "image:width",
                        "image:height",
                        "image:alt",
                        "music:duration",
                        "music:album",
                        "music:album:disc",
                        "music:album:track",
                        "music:musician",
                        "music:song",
                        "music:song:disc",
                        "music:song:track",
                        "music:release_date",
                        "music:creator",
                        "video:actor",
                        "video:actor:role",
                        "video:director",
                        "video:writer",
                        "video:duration",
                        "video:release_date",
                        "video:tag",
                        "video:series",
                        "book:author",
                        "book:isbn",
                        "book:release_date",
                        "book:tag",
                        "product:price:amount",
                        "product:price:currency",
                        "product:availability",
                        "product:condition",
                        "product:retailer_item_id",
                        "product:brand",
                        "product:category",
                        "product:color",
                        "product:size",
                        "product:material",
                        "product:pattern",
                        "product:shipping_cost:amount",
                        "product:shipping_cost:currency",
                        "product:shipping_weight:value",
                        "product:shipping_weight:units",
                        "product:weight:value",
                        "product:weight:units",
                        "product:sale_price:amount",
                        "product:sale_price:currency",
                        "product:sale_price_dates:start",
                        "product:sale_price_dates:end",
                        "product:expiration_time",
                        "product:original_price:amount",
                        "product:original_price:currency",
                        "product:gender",
                        "product:age_group",
                        "product:target_gender",
                        "product:retailer_part_no",
                        "product:mfr_part_no",
                        "product:upc",
                        "product:ean",
                        "product:isbn",
                        "product:plural_title",
                        "product:item_group_id",
                        "profile:first_name",
                        "profile:last_name",
                        "profile:username",
                        "profile:gender",
                        "twitter:card",
                        "twitter:site",
                        "twitter:site:id",
                        "twitter:creator",
                        "twitter:creator:id",
                        "twitter:description",
                        "twitter:title",
                        "twitter:image",
                        "twitter:image:alt",
                        "twitter:player",
                        "twitter:player:width",
                        "twitter:player:height",
                        "twitter:player:stream",
                        "twitter:app:name:iphone",
                        "twitter:app:id:iphone",
                        "twitter:app:url:iphone",
                        "twitter:app:name:ipad",
                        "twitter:app:id:ipad",
                        "twitter:app:url:ipad",
                        "twitter:app:name:googleplay",
                        "twitter:app:id:googleplay",
                        "twitter:app:url:googleplay",
                        "twitter:app:country"
                      ],
                      "description": "opengraph tag name",
                      "examples": [
                        "title"
                      ]
                    },
                    {
                      "type": "string",
                      "examples": [
                        "My Link Title"
                      ],
                      "description": "opengraph tag value"
                    }
                  ],
                  "items": false,
                  "minItems": 2
                }
              },
              "example": [
                "title",
                "My title"
              ]
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/link_country/{linkId}": {
      "get": {
        "summary": "Get link countries",
        "tags": [
          "Link Targeting"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "domainId",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "post": {
        "summary": "Create link country",
        "tags": [
          "Link Targeting"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "country",
                  "originalURL"
                ],
                "properties": {
                  "country": {
                    "enum": [
                      "AD",
                      "AE",
                      "AF",
                      "AG",
                      "AI",
                      "AL",
                      "AM",
                      "AO",
                      "AQ",
                      "AR",
                      "AS",
                      "AT",
                      "AU",
                      "AW",
                      "AX",
                      "AZ",
                      "BA",
                      "BB",
                      "BD",
                      "BE",
                      "BF",
                      "BG",
                      "BH",
                      "BI",
                      "BJ",
                      "BL",
                      "BM",
                      "BN",
                      "BO",
                      "BQ",
                      "BR",
                      "BS",
                      "BT",
                      "BV",
                      "BW",
                      "BY",
                      "BZ",
                      "CA",
                      "CC",
                      "CD",
                      "CF",
                      "CG",
                      "CH",
                      "CI",
                      "CK",
                      "CL",
                      "CM",
                      "CN",
                      "CO",
                      "CR",
                      "CU",
                      "CV",
                      "CW",
                      "CX",
                      "CY",
                      "CZ",
                      "DE",
                      "DJ",
                      "DK",
                      "DM",
                      "DO",
                      "DZ",
                      "EC",
                      "EE",
                      "EG",
                      "EH",
                      "ER",
                      "ES",
                      "ET",
                      "FI",
                      "FJ",
                      "FK",
                      "FM",
                      "FO",
                      "FR",
                      "GA",
                      "GB",
                      "GD",
                      "GE",
                      "GF",
                      "GG",
                      "GH",
                      "GI",
                      "GL",
                      "GM",
                      "GN",
                      "GP",
                      "GQ",
                      "GR",
                      "GS",
                      "GT",
                      "GU",
                      "GW",
                      "GY",
                      "HK",
                      "HM",
                      "HN",
                      "HR",
                      "HT",
                      "HU",
                      "ID",
                      "IE",
                      "IL",
                      "IM",
                      "IN",
                      "IO",
                      "IQ",
                      "IR",
                      "IS",
                      "IT",
                      "JE",
                      "JM",
                      "JO",
                      "JP",
                      "KE",
                      "KG",
                      "KH",
                      "KI",
                      "KM",
                      "KN",
                      "KP",
                      "KR",
                      "KW",
                      "KY",
                      "KZ",
                      "LA",
                      "LB",
                      "LC",
                      "LI",
                      "LK",
                      "LR",
                      "LS",
                      "LT",
                      "LU",
                      "LV",
                      "LY",
                      "MA",
                      "MC",
                      "MD",
                      "ME",
                      "MF",
                      "MG",
                      "MH",
                      "MK",
                      "ML",
                      "MM",
                      "MN",
                      "MO",
                      "MP",
                      "MQ",
                      "MR",
                      "MS",
                      "MT",
                      "MU",
                      "MV",
                      "MW",
                      "MX",
                      "MY",
                      "MZ",
                      "NA",
                      "NC",
                      "NE",
                      "NF",
                      "NG",
                      "NI",
                      "NL",
                      "NO",
                      "NP",
                      "NR",
                      "NU",
                      "NZ",
                      "OM",
                      "PA",
                      "PE",
                      "PF",
                      "PG",
                      "PH",
                      "PK",
                      "PL",
                      "PM",
                      "PN",
                      "PR",
                      "PS",
                      "PT",
                      "PW",
                      "PY",
                      "QA",
                      "RE",
                      "RO",
                      "RS",
                      "RU",
                      "RW",
                      "SA",
                      "SB",
                      "SC",
                      "SD",
                      "SE",
                      "SG",
                      "SH",
                      "SI",
                      "SJ",
                      "SK",
                      "SL",
                      "SM",
                      "SN",
                      "SO",
                      "SR",
                      "SS",
                      "ST",
                      "SV",
                      "SX",
                      "SY",
                      "SZ",
                      "TC",
                      "TD",
                      "TF",
                      "TG",
                      "TH",
                      "TJ",
                      "TK",
                      "TL",
                      "TM",
                      "TN",
                      "TO",
                      "TR",
                      "TT",
                      "TV",
                      "TW",
                      "TZ",
                      "UA",
                      "UG",
                      "UM",
                      "US",
                      "UY",
                      "UZ",
                      "VA",
                      "VC",
                      "VE",
                      "VG",
                      "VI",
                      "VN",
                      "VU",
                      "WF",
                      "WS",
                      "YE",
                      "YT",
                      "ZA",
                      "ZM",
                      "ZW",
                      "EU",
                      "QF",
                      "QS",
                      "QE",
                      "QO",
                      "QN",
                      "QT",
                      "XK"
                    ],
                    "description": "Country code"
                  },
                  "originalURL": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "domainId",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/link_country/bulk/{linkId}": {
      "post": {
        "summary": "Create link countries in bulk",
        "tags": [
          "Link Targeting"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "country",
                    "originalURL"
                  ],
                  "properties": {
                    "country": {
                      "enum": [
                        "AD",
                        "AE",
                        "AF",
                        "AG",
                        "AI",
                        "AL",
                        "AM",
                        "AO",
                        "AQ",
                        "AR",
                        "AS",
                        "AT",
                        "AU",
                        "AW",
                        "AX",
                        "AZ",
                        "BA",
                        "BB",
                        "BD",
                        "BE",
                        "BF",
                        "BG",
                        "BH",
                        "BI",
                        "BJ",
                        "BL",
                        "BM",
                        "BN",
                        "BO",
                        "BQ",
                        "BR",
                        "BS",
                        "BT",
                        "BV",
                        "BW",
                        "BY",
                        "BZ",
                        "CA",
                        "CC",
                        "CD",
                        "CF",
                        "CG",
                        "CH",
                        "CI",
                        "CK",
                        "CL",
                        "CM",
                        "CN",
                        "CO",
                        "CR",
                        "CU",
                        "CV",
                        "CW",
                        "CX",
                        "CY",
                        "CZ",
                        "DE",
                        "DJ",
                        "DK",
                        "DM",
                        "DO",
                        "DZ",
                        "EC",
                        "EE",
                        "EG",
                        "EH",
                        "ER",
                        "ES",
                        "ET",
                        "FI",
                        "FJ",
                        "FK",
                        "FM",
                        "FO",
                        "FR",
                        "GA",
                        "GB",
                        "GD",
                        "GE",
                        "GF",
                        "GG",
                        "GH",
                        "GI",
                        "GL",
                        "GM",
                        "GN",
                        "GP",
                        "GQ",
                        "GR",
                        "GS",
                        "GT",
                        "GU",
                        "GW",
                        "GY",
                        "HK",
                        "HM",
                        "HN",
                        "HR",
                        "HT",
                        "HU",
                        "ID",
                        "IE",
                        "IL",
                        "IM",
                        "IN",
                        "IO",
                        "IQ",
                        "IR",
                        "IS",
                        "IT",
                        "JE",
                        "JM",
                        "JO",
                        "JP",
                        "KE",
                        "KG",
                        "KH",
                        "KI",
                        "KM",
                        "KN",
                        "KP",
                        "KR",
                        "KW",
                        "KY",
                        "KZ",
                        "LA",
                        "LB",
                        "LC",
                        "LI",
                        "LK",
                        "LR",
                        "LS",
                        "LT",
                        "LU",
                        "LV",
                        "LY",
                        "MA",
                        "MC",
                        "MD",
                        "ME",
                        "MF",
                        "MG",
                        "MH",
                        "MK",
                        "ML",
                        "MM",
                        "MN",
                        "MO",
                        "MP",
                        "MQ",
                        "MR",
                        "MS",
                        "MT",
                        "MU",
                        "MV",
                        "MW",
                        "MX",
                        "MY",
                        "MZ",
                        "NA",
                        "NC",
                        "NE",
                        "NF",
                        "NG",
                        "NI",
                        "NL",
                        "NO",
                        "NP",
                        "NR",
                        "NU",
                        "NZ",
                        "OM",
                        "PA",
                        "PE",
                        "PF",
                        "PG",
                        "PH",
                        "PK",
                        "PL",
                        "PM",
                        "PN",
                        "PR",
                        "PS",
                        "PT",
                        "PW",
                        "PY",
                        "QA",
                        "RE",
                        "RO",
                        "RS",
                        "RU",
                        "RW",
                        "SA",
                        "SB",
                        "SC",
                        "SD",
                        "SE",
                        "SG",
                        "SH",
                        "SI",
                        "SJ",
                        "SK",
                        "SL",
                        "SM",
                        "SN",
                        "SO",
                        "SR",
                        "SS",
                        "ST",
                        "SV",
                        "SX",
                        "SY",
                        "SZ",
                        "TC",
                        "TD",
                        "TF",
                        "TG",
                        "TH",
                        "TJ",
                        "TK",
                        "TL",
                        "TM",
                        "TN",
                        "TO",
                        "TR",
                        "TT",
                        "TV",
                        "TW",
                        "TZ",
                        "UA",
                        "UG",
                        "UM",
                        "US",
                        "UY",
                        "UZ",
                        "VA",
                        "VC",
                        "VE",
                        "VG",
                        "VI",
                        "VN",
                        "VU",
                        "WF",
                        "WS",
                        "YE",
                        "YT",
                        "ZA",
                        "ZM",
                        "ZW",
                        "EU",
                        "QF",
                        "QS",
                        "QE",
                        "QO",
                        "QN",
                        "QT",
                        "XK"
                      ],
                      "description": "Country code"
                    },
                    "originalURL": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "domainId",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/link_country/{linkId}/{country}": {
      "delete": {
        "summary": "Delete link country",
        "tags": [
          "Link Targeting"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "domainId",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          },
          {
            "schema": {
              "enum": [
                "AD",
                "AE",
                "AF",
                "AG",
                "AI",
                "AL",
                "AM",
                "AO",
                "AQ",
                "AR",
                "AS",
                "AT",
                "AU",
                "AW",
                "AX",
                "AZ",
                "BA",
                "BB",
                "BD",
                "BE",
                "BF",
                "BG",
                "BH",
                "BI",
                "BJ",
                "BL",
                "BM",
                "BN",
                "BO",
                "BQ",
                "BR",
                "BS",
                "BT",
                "BV",
                "BW",
                "BY",
                "BZ",
                "CA",
                "CC",
                "CD",
                "CF",
                "CG",
                "CH",
                "CI",
                "CK",
                "CL",
                "CM",
                "CN",
                "CO",
                "CR",
                "CU",
                "CV",
                "CW",
                "CX",
                "CY",
                "CZ",
                "DE",
                "DJ",
                "DK",
                "DM",
                "DO",
                "DZ",
                "EC",
                "EE",
                "EG",
                "EH",
                "ER",
                "ES",
                "ET",
                "FI",
                "FJ",
                "FK",
                "FM",
                "FO",
                "FR",
                "GA",
                "GB",
                "GD",
                "GE",
                "GF",
                "GG",
                "GH",
                "GI",
                "GL",
                "GM",
                "GN",
                "GP",
                "GQ",
                "GR",
                "GS",
                "GT",
                "GU",
                "GW",
                "GY",
                "HK",
                "HM",
                "HN",
                "HR",
                "HT",
                "HU",
                "ID",
                "IE",
                "IL",
                "IM",
                "IN",
                "IO",
                "IQ",
                "IR",
                "IS",
                "IT",
                "JE",
                "JM",
                "JO",
                "JP",
                "KE",
                "KG",
                "KH",
                "KI",
                "KM",
                "KN",
                "KP",
                "KR",
                "KW",
                "KY",
                "KZ",
                "LA",
                "LB",
                "LC",
                "LI",
                "LK",
                "LR",
                "LS",
                "LT",
                "LU",
                "LV",
                "LY",
                "MA",
                "MC",
                "MD",
                "ME",
                "MF",
                "MG",
                "MH",
                "MK",
                "ML",
                "MM",
                "MN",
                "MO",
                "MP",
                "MQ",
                "MR",
                "MS",
                "MT",
                "MU",
                "MV",
                "MW",
                "MX",
                "MY",
                "MZ",
                "NA",
                "NC",
                "NE",
                "NF",
                "NG",
                "NI",
                "NL",
                "NO",
                "NP",
                "NR",
                "NU",
                "NZ",
                "OM",
                "PA",
                "PE",
                "PF",
                "PG",
                "PH",
                "PK",
                "PL",
                "PM",
                "PN",
                "PR",
                "PS",
                "PT",
                "PW",
                "PY",
                "QA",
                "RE",
                "RO",
                "RS",
                "RU",
                "RW",
                "SA",
                "SB",
                "SC",
                "SD",
                "SE",
                "SG",
                "SH",
                "SI",
                "SJ",
                "SK",
                "SL",
                "SM",
                "SN",
                "SO",
                "SR",
                "SS",
                "ST",
                "SV",
                "SX",
                "SY",
                "SZ",
                "TC",
                "TD",
                "TF",
                "TG",
                "TH",
                "TJ",
                "TK",
                "TL",
                "TM",
                "TN",
                "TO",
                "TR",
                "TT",
                "TV",
                "TW",
                "TZ",
                "UA",
                "UG",
                "UM",
                "US",
                "UY",
                "UZ",
                "VA",
                "VC",
                "VE",
                "VG",
                "VI",
                "VN",
                "VU",
                "WF",
                "WS",
                "YE",
                "YT",
                "ZA",
                "ZM",
                "ZW",
                "EU",
                "QF",
                "QS",
                "QE",
                "QO",
                "QN",
                "QT",
                "XK"
              ]
            },
            "in": "path",
            "name": "country",
            "required": true,
            "description": "Country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/link_region/{linkId}": {
      "get": {
        "summary": "Get link regions",
        "tags": [
          "Link Targeting"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "domainId",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "post": {
        "summary": "Add region targeting to link",
        "tags": [
          "Link Targeting"
        ],
        "description": "Add region targeting to link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "country",
                  "region",
                  "originalURL"
                ],
                "properties": {
                  "country": {
                    "enum": [
                      "AD",
                      "AE",
                      "AF",
                      "AG",
                      "AI",
                      "AL",
                      "AM",
                      "AO",
                      "AQ",
                      "AR",
                      "AS",
                      "AT",
                      "AU",
                      "AW",
                      "AX",
                      "AZ",
                      "BA",
                      "BB",
                      "BD",
                      "BE",
                      "BF",
                      "BG",
                      "BH",
                      "BI",
                      "BJ",
                      "BL",
                      "BM",
                      "BN",
                      "BO",
                      "BQ",
                      "BR",
                      "BS",
                      "BT",
                      "BV",
                      "BW",
                      "BY",
                      "BZ",
                      "CA",
                      "CC",
                      "CD",
                      "CF",
                      "CG",
                      "CH",
                      "CI",
                      "CK",
                      "CL",
                      "CM",
                      "CN",
                      "CO",
                      "CR",
                      "CU",
                      "CV",
                      "CW",
                      "CX",
                      "CY",
                      "CZ",
                      "DE",
                      "DJ",
                      "DK",
                      "DM",
                      "DO",
                      "DZ",
                      "EC",
                      "EE",
                      "EG",
                      "EH",
                      "ER",
                      "ES",
                      "ET",
                      "FI",
                      "FJ",
                      "FK",
                      "FM",
                      "FO",
                      "FR",
                      "GA",
                      "GB",
                      "GD",
                      "GE",
                      "GF",
                      "GG",
                      "GH",
                      "GI",
                      "GL",
                      "GM",
                      "GN",
                      "GP",
                      "GQ",
                      "GR",
                      "GS",
                      "GT",
                      "GU",
                      "GW",
                      "GY",
                      "HK",
                      "HM",
                      "HN",
                      "HR",
                      "HT",
                      "HU",
                      "ID",
                      "IE",
                      "IL",
                      "IM",
                      "IN",
                      "IO",
                      "IQ",
                      "IR",
                      "IS",
                      "IT",
                      "JE",
                      "JM",
                      "JO",
                      "JP",
                      "KE",
                      "KG",
                      "KH",
                      "KI",
                      "KM",
                      "KN",
                      "KP",
                      "KR",
                      "KW",
                      "KY",
                      "KZ",
                      "LA",
                      "LB",
                      "LC",
                      "LI",
                      "LK",
                      "LR",
                      "LS",
                      "LT",
                      "LU",
                      "LV",
                      "LY",
                      "MA",
                      "MC",
                      "MD",
                      "ME",
                      "MF",
                      "MG",
                      "MH",
                      "MK",
                      "ML",
                      "MM",
                      "MN",
                      "MO",
                      "MP",
                      "MQ",
                      "MR",
                      "MS",
                      "MT",
                      "MU",
                      "MV",
                      "MW",
                      "MX",
                      "MY",
                      "MZ",
                      "NA",
                      "NC",
                      "NE",
                      "NF",
                      "NG",
                      "NI",
                      "NL",
                      "NO",
                      "NP",
                      "NR",
                      "NU",
                      "NZ",
                      "OM",
                      "PA",
                      "PE",
                      "PF",
                      "PG",
                      "PH",
                      "PK",
                      "PL",
                      "PM",
                      "PN",
                      "PR",
                      "PS",
                      "PT",
                      "PW",
                      "PY",
                      "QA",
                      "RE",
                      "RO",
                      "RS",
                      "RU",
                      "RW",
                      "SA",
                      "SB",
                      "SC",
                      "SD",
                      "SE",
                      "SG",
                      "SH",
                      "SI",
                      "SJ",
                      "SK",
                      "SL",
                      "SM",
                      "SN",
                      "SO",
                      "SR",
                      "SS",
                      "ST",
                      "SV",
                      "SX",
                      "SY",
                      "SZ",
                      "TC",
                      "TD",
                      "TF",
                      "TG",
                      "TH",
                      "TJ",
                      "TK",
                      "TL",
                      "TM",
                      "TN",
                      "TO",
                      "TR",
                      "TT",
                      "TV",
                      "TW",
                      "TZ",
                      "UA",
                      "UG",
                      "UM",
                      "US",
                      "UY",
                      "UZ",
                      "VA",
                      "VC",
                      "VE",
                      "VG",
                      "VI",
                      "VN",
                      "VU",
                      "WF",
                      "WS",
                      "YE",
                      "YT",
                      "ZA",
                      "ZM",
                      "ZW",
                      "EU",
                      "QF",
                      "QS",
                      "QE",
                      "QO",
                      "QN",
                      "QT",
                      "XK"
                    ],
                    "description": "Country code"
                  },
                  "region": {
                    "type": "string",
                    "description": "ISO 3166-2 region code"
                  },
                  "originalURL": {
                    "type": "string",
                    "example": "https://example.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 12345,
            "in": "query",
            "name": "domainId",
            "required": false,
            "description": "Domain ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/link_region/list/{country}": {
      "get": {
        "summary": "Get all regions by country",
        "tags": [
          "Link Targeting"
        ],
        "parameters": [
          {
            "schema": {
              "enum": [
                "AD",
                "AE",
                "AF",
                "AG",
                "AI",
                "AL",
                "AM",
                "AO",
                "AQ",
                "AR",
                "AS",
                "AT",
                "AU",
                "AW",
                "AX",
                "AZ",
                "BA",
                "BB",
                "BD",
                "BE",
                "BF",
                "BG",
                "BH",
                "BI",
                "BJ",
                "BL",
                "BM",
                "BN",
                "BO",
                "BQ",
                "BR",
                "BS",
                "BT",
                "BV",
                "BW",
                "BY",
                "BZ",
                "CA",
                "CC",
                "CD",
                "CF",
                "CG",
                "CH",
                "CI",
                "CK",
                "CL",
                "CM",
                "CN",
                "CO",
                "CR",
                "CU",
                "CV",
                "CW",
                "CX",
                "CY",
                "CZ",
                "DE",
                "DJ",
                "DK",
                "DM",
                "DO",
                "DZ",
                "EC",
                "EE",
                "EG",
                "EH",
                "ER",
                "ES",
                "ET",
                "FI",
                "FJ",
                "FK",
                "FM",
                "FO",
                "FR",
                "GA",
                "GB",
                "GD",
                "GE",
                "GF",
                "GG",
                "GH",
                "GI",
                "GL",
                "GM",
                "GN",
                "GP",
                "GQ",
                "GR",
                "GS",
                "GT",
                "GU",
                "GW",
                "GY",
                "HK",
                "HM",
                "HN",
                "HR",
                "HT",
                "HU",
                "ID",
                "IE",
                "IL",
                "IM",
                "IN",
                "IO",
                "IQ",
                "IR",
                "IS",
                "IT",
                "JE",
                "JM",
                "JO",
                "JP",
                "KE",
                "KG",
                "KH",
                "KI",
                "KM",
                "KN",
                "KP",
                "KR",
                "KW",
                "KY",
                "KZ",
                "LA",
                "LB",
                "LC",
                "LI",
                "LK",
                "LR",
                "LS",
                "LT",
                "LU",
                "LV",
                "LY",
                "MA",
                "MC",
                "MD",
                "ME",
                "MF",
                "MG",
                "MH",
                "MK",
                "ML",
                "MM",
                "MN",
                "MO",
                "MP",
                "MQ",
                "MR",
                "MS",
                "MT",
                "MU",
                "MV",
                "MW",
                "MX",
                "MY",
                "MZ",
                "NA",
                "NC",
                "NE",
                "NF",
                "NG",
                "NI",
                "NL",
                "NO",
                "NP",
                "NR",
                "NU",
                "NZ",
                "OM",
                "PA",
                "PE",
                "PF",
                "PG",
                "PH",
                "PK",
                "PL",
                "PM",
                "PN",
                "PR",
                "PS",
                "PT",
                "PW",
                "PY",
                "QA",
                "RE",
                "RO",
                "RS",
                "RU",
                "RW",
                "SA",
                "SB",
                "SC",
                "SD",
                "SE",
                "SG",
                "SH",
                "SI",
                "SJ",
                "SK",
                "SL",
                "SM",
                "SN",
                "SO",
                "SR",
                "SS",
                "ST",
                "SV",
                "SX",
                "SY",
                "SZ",
                "TC",
                "TD",
                "TF",
                "TG",
                "TH",
                "TJ",
                "TK",
                "TL",
                "TM",
                "TN",
                "TO",
                "TR",
                "TT",
                "TV",
                "TW",
                "TZ",
                "UA",
                "UG",
                "UM",
                "US",
                "UY",
                "UZ",
                "VA",
                "VC",
                "VE",
                "VG",
                "VI",
                "VN",
                "VU",
                "WF",
                "WS",
                "YE",
                "YT",
                "ZA",
                "ZM",
                "ZW",
                "EU",
                "QF",
                "QS",
                "QE",
                "QO",
                "QN",
                "QT",
                "XK"
              ]
            },
            "in": "path",
            "name": "country",
            "required": true,
            "description": "Country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/link_region/bulk/{linkId}": {
      "post": {
        "summary": "Create link regions in bulk",
        "tags": [
          "Link Targeting"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "country",
                    "region",
                    "originalURL"
                  ],
                  "properties": {
                    "country": {
                      "enum": [
                        "AD",
                        "AE",
                        "AF",
                        "AG",
                        "AI",
                        "AL",
                        "AM",
                        "AO",
                        "AQ",
                        "AR",
                        "AS",
                        "AT",
                        "AU",
                        "AW",
                        "AX",
                        "AZ",
                        "BA",
                        "BB",
                        "BD",
                        "BE",
                        "BF",
                        "BG",
                        "BH",
                        "BI",
                        "BJ",
                        "BL",
                        "BM",
                        "BN",
                        "BO",
                        "BQ",
                        "BR",
                        "BS",
                        "BT",
                        "BV",
                        "BW",
                        "BY",
                        "BZ",
                        "CA",
                        "CC",
                        "CD",
                        "CF",
                        "CG",
                        "CH",
                        "CI",
                        "CK",
                        "CL",
                        "CM",
                        "CN",
                        "CO",
                        "CR",
                        "CU",
                        "CV",
                        "CW",
                        "CX",
                        "CY",
                        "CZ",
                        "DE",
                        "DJ",
                        "DK",
                        "DM",
                        "DO",
                        "DZ",
                        "EC",
                        "EE",
                        "EG",
                        "EH",
                        "ER",
                        "ES",
                        "ET",
                        "FI",
                        "FJ",
                        "FK",
                        "FM",
                        "FO",
                        "FR",
                        "GA",
                        "GB",
                        "GD",
                        "GE",
                        "GF",
                        "GG",
                        "GH",
                        "GI",
                        "GL",
                        "GM",
                        "GN",
                        "GP",
                        "GQ",
                        "GR",
                        "GS",
                        "GT",
                        "GU",
                        "GW",
                        "GY",
                        "HK",
                        "HM",
                        "HN",
                        "HR",
                        "HT",
                        "HU",
                        "ID",
                        "IE",
                        "IL",
                        "IM",
                        "IN",
                        "IO",
                        "IQ",
                        "IR",
                        "IS",
                        "IT",
                        "JE",
                        "JM",
                        "JO",
                        "JP",
                        "KE",
                        "KG",
                        "KH",
                        "KI",
                        "KM",
                        "KN",
                        "KP",
                        "KR",
                        "KW",
                        "KY",
                        "KZ",
                        "LA",
                        "LB",
                        "LC",
                        "LI",
                        "LK",
                        "LR",
                        "LS",
                        "LT",
                        "LU",
                        "LV",
                        "LY",
                        "MA",
                        "MC",
                        "MD",
                        "ME",
                        "MF",
                        "MG",
                        "MH",
                        "MK",
                        "ML",
                        "MM",
                        "MN",
                        "MO",
                        "MP",
                        "MQ",
                        "MR",
                        "MS",
                        "MT",
                        "MU",
                        "MV",
                        "MW",
                        "MX",
                        "MY",
                        "MZ",
                        "NA",
                        "NC",
                        "NE",
                        "NF",
                        "NG",
                        "NI",
                        "NL",
                        "NO",
                        "NP",
                        "NR",
                        "NU",
                        "NZ",
                        "OM",
                        "PA",
                        "PE",
                        "PF",
                        "PG",
                        "PH",
                        "PK",
                        "PL",
                        "PM",
                        "PN",
                        "PR",
                        "PS",
                        "PT",
                        "PW",
                        "PY",
                        "QA",
                        "RE",
                        "RO",
                        "RS",
                        "RU",
                        "RW",
                        "SA",
                        "SB",
                        "SC",
                        "SD",
                        "SE",
                        "SG",
                        "SH",
                        "SI",
                        "SJ",
                        "SK",
                        "SL",
                        "SM",
                        "SN",
                        "SO",
                        "SR",
                        "SS",
                        "ST",
                        "SV",
                        "SX",
                        "SY",
                        "SZ",
                        "TC",
                        "TD",
                        "TF",
                        "TG",
                        "TH",
                        "TJ",
                        "TK",
                        "TL",
                        "TM",
                        "TN",
                        "TO",
                        "TR",
                        "TT",
                        "TV",
                        "TW",
                        "TZ",
                        "UA",
                        "UG",
                        "UM",
                        "US",
                        "UY",
                        "UZ",
                        "VA",
                        "VC",
                        "VE",
                        "VG",
                        "VI",
                        "VN",
                        "VU",
                        "WF",
                        "WS",
                        "YE",
                        "YT",
                        "ZA",
                        "ZM",
                        "ZW",
                        "EU",
                        "QF",
                        "QS",
                        "QE",
                        "QO",
                        "QN",
                        "QT",
                        "XK"
                      ],
                      "description": "Country code"
                    },
                    "region": {
                      "type": "string",
                      "description": "ISO 3166-2 region code"
                    },
                    "originalURL": {
                      "type": "string",
                      "example": "https://example.com"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "domainId",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/link_region/{linkId}/{country}/{region}": {
      "delete": {
        "summary": "Delete link region by country",
        "tags": [
          "Link Targeting"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "domainId",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          },
          {
            "schema": {
              "enum": [
                "AD",
                "AE",
                "AF",
                "AG",
                "AI",
                "AL",
                "AM",
                "AO",
                "AQ",
                "AR",
                "AS",
                "AT",
                "AU",
                "AW",
                "AX",
                "AZ",
                "BA",
                "BB",
                "BD",
                "BE",
                "BF",
                "BG",
                "BH",
                "BI",
                "BJ",
                "BL",
                "BM",
                "BN",
                "BO",
                "BQ",
                "BR",
                "BS",
                "BT",
                "BV",
                "BW",
                "BY",
                "BZ",
                "CA",
                "CC",
                "CD",
                "CF",
                "CG",
                "CH",
                "CI",
                "CK",
                "CL",
                "CM",
                "CN",
                "CO",
                "CR",
                "CU",
                "CV",
                "CW",
                "CX",
                "CY",
                "CZ",
                "DE",
                "DJ",
                "DK",
                "DM",
                "DO",
                "DZ",
                "EC",
                "EE",
                "EG",
                "EH",
                "ER",
                "ES",
                "ET",
                "FI",
                "FJ",
                "FK",
                "FM",
                "FO",
                "FR",
                "GA",
                "GB",
                "GD",
                "GE",
                "GF",
                "GG",
                "GH",
                "GI",
                "GL",
                "GM",
                "GN",
                "GP",
                "GQ",
                "GR",
                "GS",
                "GT",
                "GU",
                "GW",
                "GY",
                "HK",
                "HM",
                "HN",
                "HR",
                "HT",
                "HU",
                "ID",
                "IE",
                "IL",
                "IM",
                "IN",
                "IO",
                "IQ",
                "IR",
                "IS",
                "IT",
                "JE",
                "JM",
                "JO",
                "JP",
                "KE",
                "KG",
                "KH",
                "KI",
                "KM",
                "KN",
                "KP",
                "KR",
                "KW",
                "KY",
                "KZ",
                "LA",
                "LB",
                "LC",
                "LI",
                "LK",
                "LR",
                "LS",
                "LT",
                "LU",
                "LV",
                "LY",
                "MA",
                "MC",
                "MD",
                "ME",
                "MF",
                "MG",
                "MH",
                "MK",
                "ML",
                "MM",
                "MN",
                "MO",
                "MP",
                "MQ",
                "MR",
                "MS",
                "MT",
                "MU",
                "MV",
                "MW",
                "MX",
                "MY",
                "MZ",
                "NA",
                "NC",
                "NE",
                "NF",
                "NG",
                "NI",
                "NL",
                "NO",
                "NP",
                "NR",
                "NU",
                "NZ",
                "OM",
                "PA",
                "PE",
                "PF",
                "PG",
                "PH",
                "PK",
                "PL",
                "PM",
                "PN",
                "PR",
                "PS",
                "PT",
                "PW",
                "PY",
                "QA",
                "RE",
                "RO",
                "RS",
                "RU",
                "RW",
                "SA",
                "SB",
                "SC",
                "SD",
                "SE",
                "SG",
                "SH",
                "SI",
                "SJ",
                "SK",
                "SL",
                "SM",
                "SN",
                "SO",
                "SR",
                "SS",
                "ST",
                "SV",
                "SX",
                "SY",
                "SZ",
                "TC",
                "TD",
                "TF",
                "TG",
                "TH",
                "TJ",
                "TK",
                "TL",
                "TM",
                "TN",
                "TO",
                "TR",
                "TT",
                "TV",
                "TW",
                "TZ",
                "UA",
                "UG",
                "UM",
                "US",
                "UY",
                "UZ",
                "VA",
                "VC",
                "VE",
                "VG",
                "VI",
                "VN",
                "VU",
                "WF",
                "WS",
                "YE",
                "YT",
                "ZA",
                "ZM",
                "ZW",
                "EU",
                "QF",
                "QS",
                "QE",
                "QO",
                "QN",
                "QT",
                "XK"
              ]
            },
            "in": "path",
            "name": "country",
            "required": true,
            "description": "Country code"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "region",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/links/permissions/{domainId}/{linkId}": {
      "get": {
        "summary": "Get link permissions",
        "tags": [
          "Link Management"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "DomainId",
                      "UserId",
                      "LinkIdString"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "DomainId": {
                        "type": "integer"
                      },
                      "UserId": {
                        "type": "integer"
                      },
                      "LinkIdString": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/links/permissions/{domainId}/{linkId}/{userId}": {
      "post": {
        "summary": "Add link permission",
        "tags": [
          "Link Management"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "pattern": "lnk_[0-9a-zA-Z]+_[0-9a-zA-Z]+"
            },
            "example": "lnk_abc123_abcdef",
            "in": "path",
            "name": "linkId",
            "required": true,
            "description": "Link ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "userId",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "DomainId",
                    "UserId",
                    "LinkIdString"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "DomainId": {
                      "type": "integer"
                    },
                    "UserId": {
                      "type": "integer"
                    },
                    "LinkIdString": {
                      "type": "string",
                      "pattern": "lnk_[0-9a-zA-Z]+_[0-9a-zA-Z]+",
                      "description": "Link ID",
                      "example": "lnk_abc123_abcdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete link permissions",
        "tags": [
          "Link Management"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "linkId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "userId",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/links": {
      "get": {
        "summary": "Link list",
        "tags": [
          "Link queries"
        ],
        "description": "Get domain links",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 12345,
            "in": "query",
            "name": "domain_id",
            "required": true,
            "description": "Domain ID"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 150,
              "nullable": true
            },
            "in": "query",
            "name": "limit",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "idString",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "createdAt",
            "required": false
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "beforeDate",
            "required": false
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "afterDate",
            "required": false
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "in": "query",
            "name": "dateSortOrder",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "pageToken",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "folderId",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "links",
                    "nextPageToken"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "originalURL"
                            ],
                            "properties": {
                              "originalURL": {
                                "type": "string",
                                "url": "destination",
                                "description": "Original URL",
                                "examples": [
                                  "https://example.com"
                                ]
                              },
                              "cloaking": {
                                "type": "boolean",
                                "description": "Cloaking"
                              },
                              "password": {
                                "type": "string",
                                "description": "Link password",
                                "examples": [
                                  "s3cur3p@ssw0rd"
                                ]
                              },
                              "expiresAt": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "nullable": true
                                  },
                                  {
                                    "type": "string",
                                    "format": "iso-date-time",
                                    "nullable": true
                                  }
                                ],
                                "description": "Link expiration date in milliseconds or ISO string",
                                "examples": [
                                  "2026-04-01T12:00:00.453Z"
                                ]
                              },
                              "expiredURL": {
                                "type": "string",
                                "nullable": true,
                                "url": "destination",
                                "description": "Expired URL",
                                "examples": [
                                  "https://example.com/expired"
                                ]
                              },
                              "title": {
                                "type": "string",
                                "description": "Link title"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Array of link tags"
                              },
                              "utmSource": {
                                "type": "string",
                                "description": "set utm_source parameter to destination link",
                                "examples": [
                                  "cpc",
                                  "organic"
                                ]
                              },
                              "utmMedium": {
                                "type": "string",
                                "description": "set utm_medium parameter to destination link",
                                "examples": [
                                  "banner",
                                  "email"
                                ]
                              },
                              "utmCampaign": {
                                "type": "string",
                                "description": "set utm_campaign parameter to destination link",
                                "examples": [
                                  "summer_sale"
                                ]
                              },
                              "utmTerm": {
                                "type": "string",
                                "description": "set utm_term parameter to destination link",
                                "examples": [
                                  "running_shoes"
                                ]
                              },
                              "utmContent": {
                                "type": "string",
                                "description": "set utm_content parameter to destination link",
                                "examples": [
                                  "cta_button"
                                ]
                              },
                              "ttl": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "iso-date-time",
                                    "nullable": true
                                  },
                                  {
                                    "type": "integer",
                                    "nullable": true
                                  }
                                ],
                                "description": "Time to live in milliseconds or ISO string",
                                "examples": [
                                  "2026-04-01T12:00:00.454Z"
                                ]
                              },
                              "androidURL": {
                                "type": "string",
                                "url": "destination",
                                "description": "Android URL",
                                "nullable": true,
                                "examples": [
                                  "https://play.google.com/store/apps/details?id=com.example.app"
                                ]
                              },
                              "iphoneURL": {
                                "type": "string",
                                "url": "destination",
                                "description": "iPhone URL",
                                "nullable": true,
                                "examples": [
                                  "https://apps.apple.com/us/app/example-app/id1234567890"
                                ]
                              },
                              "clicksLimit": {
                                "type": "integer",
                                "nullable": true,
                                "minimum": 1,
                                "description": "disable link after specified number of clicks",
                                "examples": [
                                  100
                                ]
                              },
                              "passwordContact": {
                                "type": "boolean",
                                "description": "Provide your email to users to get a password",
                                "nullable": true
                              },
                              "skipQS": {
                                "type": "boolean",
                                "description": "Skip query string merging",
                                "default": false
                              },
                              "archived": {
                                "type": "boolean",
                                "description": "Link is archived",
                                "default": false
                              },
                              "splitURL": {
                                "type": "string",
                                "url": "destination",
                                "description": "Split URL",
                                "nullable": true,
                                "examples": [
                                  "https://example.com/split"
                                ]
                              },
                              "splitPercent": {
                                "type": "integer",
                                "nullable": true,
                                "minimum": 1,
                                "maximum": 100,
                                "description": "Split URL percentage",
                                "examples": [
                                  50
                                ]
                              },
                              "splitURLV2": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "url",
                                    "percent"
                                  ],
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "url": "destination",
                                      "description": "Split URL destination"
                                    },
                                    "percent": {
                                      "type": "integer",
                                      "minimum": 1,
                                      "maximum": 100,
                                      "description": "Traffic percentage"
                                    }
                                  }
                                },
                                "description": "Split URL configurations for multi-way A/B testing",
                                "maxItems": 10,
                                "nullable": true
                              },
                              "integrationAdroll": {
                                "type": "string",
                                "description": "Adroll integration",
                                "nullable": true
                              },
                              "integrationFB": {
                                "type": "string",
                                "description": "Facebook integration",
                                "nullable": true
                              },
                              "integrationTT": {
                                "type": "string",
                                "description": "TikTok integration",
                                "nullable": true
                              },
                              "integrationGA": {
                                "type": "string",
                                "description": "Google Analytics integration",
                                "nullable": true
                              },
                              "integrationGTM": {
                                "type": "string",
                                "description": "Google Tag Manager integration",
                                "nullable": true
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "idString",
                              "id",
                              "shortURL",
                              "secureShortURL",
                              "path",
                              "displayPath",
                              "createdAt",
                              "updatedAt"
                            ],
                            "properties": {
                              "idString": {
                                "type": "string",
                                "description": "Link ID"
                              },
                              "id": {
                                "type": "string",
                                "description": "Link ID"
                              },
                              "shortURL": {
                                "type": "string",
                                "url": "short",
                                "description": "Short URL",
                                "examples": [
                                  "https://short.gy/abc123"
                                ]
                              },
                              "secureShortURL": {
                                "type": "string",
                                "url": "short",
                                "description": "Secure short URL",
                                "examples": [
                                  "https://short.gy/abc123"
                                ]
                              },
                              "path": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "description": "Link slug. For case-insensitive domains, this is the normalized lowercase version of the path.",
                                    "examples": [
                                      "my-link"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "displayPath": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "description": "Original path preserving the case as provided during creation. Set only for case-insensitive domains when the path contains uppercase characters, otherwise null.",
                                    "examples": [
                                      "My-Link"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "redirectType": {
                                "type": "string",
                                "description": "HTTP code for redirect",
                                "enum": [
                                  "301",
                                  "302",
                                  "307",
                                  "308"
                                ]
                              },
                              "createdAt": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "iso-date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Link creation date in ISO format"
                              },
                              "updatedAt": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "iso-date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Link last update date in ISO format"
                              },
                              "FolderId": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "description": "Folder ID",
                                    "examples": [
                                      "abc123"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "DomainId": {
                                "type": "integer",
                                "description": "Domain ID",
                                "examples": [
                                  1
                                ]
                              },
                              "OwnerId": {
                                "type": "integer",
                                "description": "Owner ID",
                                "examples": [
                                  1
                                ]
                              },
                              "hasPassword": {
                                "type": "boolean",
                                "description": "Link has password",
                                "default": false
                              },
                              "source": {
                                "enum": [
                                  "website",
                                  "api",
                                  "public",
                                  "spreadsheets",
                                  "slack",
                                  "telegram",
                                  ""
                                ],
                                "description": "Link source",
                                "examples": [
                                  "api"
                                ]
                              },
                              "User": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "id",
                                      "name",
                                      "email",
                                      "photoURL"
                                    ],
                                    "properties": {
                                      "id": {
                                        "type": "integer",
                                        "description": "Creator user ID",
                                        "examples": [
                                          123
                                        ]
                                      },
                                      "name": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "description": "Creator name",
                                            "examples": [
                                              "John Doe"
                                            ]
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "email": {
                                        "type": "string",
                                        "description": "Creator email",
                                        "examples": [
                                          "a@example.com"
                                        ]
                                      },
                                      "photoURL": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "description": "User photo URL",
                                            "examples": [
                                              "https://example.com/photo.jpg"
                                            ]
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          }
                        ]
                      }
                    },
                    "nextPageToken": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
[...]
