{
  "openapi": "3.0.3",
  "info": {
    "title": "Clearout API",
    "version": "2.0.0",
    "description": "Clearout provides email verification, email finder, reverse lookup, and autocomplete APIs for validating email addresses, finding professional emails, and enriching contact data.",
    "x-jentic-source-url": "https://docs.clearout.io/"
  },
  "servers": [
    {
      "url": "https://api.clearout.io/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Email Verification",
      "description": "Verify email addresses for deliverability"
    },
    {
      "name": "Email Finder",
      "description": "Find professional email addresses"
    },
    {
      "name": "Reverse Lookup",
      "description": "Find LinkedIn profiles and lead information from emails or LinkedIn URLs"
    },
    {
      "name": "Autocomplete",
      "description": "Find company domains by company name"
    }
  ],
  "paths": {
    "/email_verify/instant": {
      "post": {
        "tags": [
          "Email Verification"
        ],
        "summary": "Instant Email Verification",
        "description": "Instantly verify a single email address for deliverability and validity",
        "operationId": "verifyEmailInstant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required - Insufficient credits"
          }
        }
      }
    },
    "/email_verify/bulk": {
      "post": {
        "tags": [
          "Email Verification"
        ],
        "summary": "Bulk Email Verification",
        "description": "Submit a list of email addresses for bulk verification",
        "operationId": "verifyEmailBulk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmailVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk verification initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/email_verify/bulk/{list_id}": {
      "get": {
        "tags": [
          "Email Verification"
        ],
        "summary": "Get Bulk Verification Status",
        "description": "Check the status of a bulk email verification request",
        "operationId": "getBulkVerifyStatus",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bulk verification list ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk verification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerifyStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/email_finder/instant": {
      "post": {
        "tags": [
          "Email Finder"
        ],
        "summary": "Instant Email Finder",
        "description": "Find a professional email address given a person's name and company domain",
        "operationId": "findEmailInstant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailFinderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email finder result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailFinderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/email_finder/bulk": {
      "post": {
        "tags": [
          "Email Finder"
        ],
        "summary": "Bulk Email Finder",
        "description": "Submit a bulk request to find multiple email addresses",
        "operationId": "findEmailBulk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmailFinderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk email finder initiated"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/reverse_lookup/linkedin": {
      "get": {
        "tags": [
          "Reverse Lookup"
        ],
        "summary": "Reverse Lookup LinkedIn Profile",
        "description": "Retrieve lead information from a LinkedIn profile URL",
        "operationId": "reverseLookupLinkedin",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved lead information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseLookupLinkedinResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/reverse_lookup/email": {
      "get": {
        "tags": [
          "Reverse Lookup"
        ],
        "summary": "Reverse Lookup Email Address",
        "description": "Retrieve lead information from an email address",
        "operationId": "reverseLookupEmail",
        "parameters": [
          {
            "name": "email_address",
            "in": "query",
            "required": true,
            "description": "Email address to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved lead information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseLookupEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/reverse_lookup/domain": {
      "get": {
        "tags": [
          "Reverse Lookup"
        ],
        "summary": "Reverse Lookup Domain",
        "description": "Retrieve company lead information from a domain name",
        "operationId": "reverseLookupDomain",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Domain name to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved company lead information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseLookupDomainResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/public/companies/autocomplete": {
      "get": {
        "tags": [
          "Autocomplete"
        ],
        "summary": "Find Domains for Company",
        "description": "Identifies corresponding website domains for a given company name, with corporate logo and confidence score. This is a free API.",
        "operationId": "autocompleteCompany",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "A company name, domain, or website URL",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "524": {
            "description": "Timeout Occurred"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "EmailVerifyRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address to verify"
          }
        }
      },
      "EmailVerifyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "email_address": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "Verification status: valid, invalid, catch_all, unknown, disposable, role_account"
              },
              "sub_status": {
                "type": "string"
              },
              "safe_to_send": {
                "type": "boolean"
              },
              "did_you_mean": {
                "type": "string"
              },
              "free_account": {
                "type": "boolean"
              },
              "disposable": {
                "type": "boolean"
              },
              "role_account": {
                "type": "boolean"
              },
              "mx_found": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BulkEmailVerifyRequest": {
        "type": "object",
        "required": [
          "emails"
        ],
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of email addresses to verify"
          }
        }
      },
      "BulkVerifyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "list_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "BulkVerifyStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "list_id": {
                "type": "string"
              },
              "progress": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "verified": {
                "type": "integer"
              }
            }
          }
        }
      },
      "EmailFinderRequest": {
        "type": "object",
        "required": [
          "name",
          "domain"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the person"
          },
          "domain": {
            "type": "string",
            "description": "Company domain"
          }
        }
      },
      "EmailFinderResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "email_address": {
                "type": "string"
              },
              "confidence": {
                "type": "number"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              }
            }
          }
        }
      },
      "BulkEmailFinderRequest": {
        "type": "object",
        "required": [
          "records"
        ],
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LeadType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "contructed_title": {
            "type": "string"
          },
          "profile_picture": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "company_domain": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressType"
            }
          },
          "total_experience_in_months": {
            "type": "integer"
          }
        }
      },
      "AddressType": {
        "type": "object",
        "properties": {
          "full_address": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "CompanyLeadType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "profile_picture": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "addresses": {
            "$ref": "#/components/schemas/CompanyAddressType"
          }
        }
      },
      "CompanyAddressType": {
        "type": "object",
        "properties": {
          "full_address": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "ReverseLookupLinkedinResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "lead": {
                "$ref": "#/components/schemas/LeadType"
              }
            }
          }
        }
      },
      "ReverseLookupEmailResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "email_address": {
                "type": "string"
              },
              "lead": {
                "$ref": "#/components/schemas/LeadType"
              }
            }
          }
        }
      },
      "ReverseLookupDomainResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "lead": {
                "$ref": "#/components/schemas/CompanyLeadType"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  }
}