{
  "openapi": "3.0.3",
  "info": {
    "title": "Roboflow REST API",
    "description": "Roboflow REST API for managing workspaces, projects, images, annotations, and model inference. Roboflow is a computer vision platform for building, deploying, and managing ML models.",
    "version": "1.0.0",
    "contact": {
      "name": "Roboflow",
      "url": "https://roboflow.com"
    }
  },
  "servers": [
    {
      "url": "https://api.roboflow.com",
      "description": "Roboflow API"
    },
    {
      "url": "https://serverless.roboflow.com",
      "description": "Serverless Inference API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/{workspace}": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "List Workspaces and Projects",
        "description": "Retrieve workspace details including all projects.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace URL identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace details with projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace not found"
          }
        }
      }
    },
    "/{workspace}/projects": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a Project",
        "description": "Create a new project in the specified workspace.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{workspace}/{project}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get Project and List Versions",
        "description": "Retrieve project details including all versions.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details with versions"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/{workspace}/{project}/{version}/{format}": {
      "get": {
        "operationId": "exportDataset",
        "summary": "Export Dataset",
        "description": "Export a dataset version in a specific format for model training.",
        "tags": [
          "Data Export"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Export format (e.g., yolov5pytorch, coco, darknet)."
          }
        ],
        "responses": {
          "200": {
            "description": "Export details with download link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/universe/search": {
      "get": {
        "operationId": "searchUniverse",
        "summary": "Search Universe Datasets",
        "description": "Query publicly available datasets on Roboflow Universe with filtering capabilities.",
        "tags": [
          "Universe"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query with optional inline filters."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination."
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by user."
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Server unavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token (recommended for production)."
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key as query parameter."
      }
    },
    "schemas": {
      "Workspace": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "members": {
            "type": "integer"
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "roboflow/sharks-dataset"
          },
          "type": {
            "type": "string",
            "example": "object-detection",
            "enum": [
              "object-detection",
              "single-label-classification",
              "multi-label-classification",
              "instance-segmentation",
              "semantic-segmentation"
            ]
          },
          "name": {
            "type": "string",
            "example": "Sharks Dataset"
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp in ms."
          },
          "updated": {
            "type": "integer",
            "description": "Unix timestamp in ms."
          },
          "images": {
            "type": "integer"
          },
          "unannotated": {
            "type": "integer"
          },
          "annotation": {
            "type": "string"
          },
          "versions": {
            "type": "integer"
          },
          "public": {
            "type": "boolean"
          },
          "splits": {
            "type": "object"
          },
          "classes": {
            "type": "object"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name",
          "type",
          "annotation"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Sharks Dataset"
          },
          "type": {
            "type": "string",
            "enum": [
              "object-detection",
              "single-label-classification",
              "multi-label-classification",
              "instance-segmentation",
              "semantic-segmentation"
            ]
          },
          "license": {
            "type": "string",
            "description": "License type (required for public workspaces unless Public)."
          },
          "annotation": {
            "type": "string",
            "example": "sharks",
            "description": "Name of the annotation group."
          },
          "group": {
            "type": "string",
            "description": "Group identifier for project organization."
          }
        }
      },
      "ExportResponse": {
        "type": "object",
        "properties": {
          "workspace": {
            "$ref": "#/components/schemas/Workspace"
          },
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "version": {
            "type": "object"
          },
          "export": {
            "type": "object",
            "properties": {
              "format": {
                "type": "string"
              },
              "link": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Workspaces",
      "description": "Workspace management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Data Export",
      "description": "Dataset export operations"
    },
    {
      "name": "Universe",
      "description": "Roboflow Universe public dataset search"
    }
  ]
}