{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Teams Events API",
    "version": "1.0",
    "description": "Microsoft Graph API endpoints for Microsoft Teams - team management, channels, messages, meetings, and events.",
    "x-jentic-source-url": "https://learn.microsoft.com/en-us/graph/teams-concept-overview",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List all teams",
        "tags": [
          "Teams"
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all teams"
      },
      "post": {
        "operationId": "createTeam",
        "summary": "Create a new team",
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new team"
      }
    },
    "/teams/{team-id}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a team"
      },
      "patch": {
        "operationId": "updateTeam",
        "summary": "Update a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a team"
      },
      "delete": {
        "operationId": "deleteTeam",
        "summary": "Delete a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a team"
      }
    },
    "/teams/{team-id}/archive": {
      "post": {
        "operationId": "archiveTeam",
        "summary": "Archive a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Archive a team"
      }
    },
    "/teams/{team-id}/channels": {
      "get": {
        "operationId": "listChannels",
        "summary": "List channels in a team",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List channels in a team"
      },
      "post": {
        "operationId": "createChannel",
        "summary": "Create a channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a channel"
      }
    },
    "/teams/{team-id}/channels/{channel-id}": {
      "get": {
        "operationId": "getChannel",
        "summary": "Get a channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a channel"
      },
      "patch": {
        "operationId": "updateChannel",
        "summary": "Update a channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a channel"
      },
      "delete": {
        "operationId": "deleteChannel",
        "summary": "Delete a channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a channel"
      }
    },
    "/teams/{team-id}/channels/{channel-id}/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List messages in a channel",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List messages in a channel"
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message to a channel",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send a message to a channel"
      }
    },
    "/teams/{team-id}/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List team members",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List team members"
      },
      "post": {
        "operationId": "addMember",
        "summary": "Add a member to a team",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "@odata.type": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "user@odata.bind": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add a member to a team"
      }
    },
    "/teams/{team-id}/installedApps": {
      "get": {
        "operationId": "listInstalledApps",
        "summary": "List installed apps",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Installed apps"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List installed apps"
      },
      "post": {
        "operationId": "installApp",
        "summary": "Install an app to a team",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teamsApp@odata.bind": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App installed"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Install an app to a team"
      }
    },
    "/teams/{team-id}/channels/{channel-id}/tabs": {
      "get": {
        "operationId": "listTabs",
        "summary": "List tabs in a channel",
        "tags": [
          "Tabs"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tabs list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List tabs in a channel"
      },
      "post": {
        "operationId": "createTab",
        "summary": "Add a tab to a channel",
        "tags": [
          "Tabs"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TabInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tab created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add a tab to a channel"
      }
    },
    "/communications/calls": {
      "post": {
        "operationId": "createCall",
        "summary": "Create a call",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a call"
      }
    },
    "/communications/calls/{call-id}": {
      "get": {
        "operationId": "getCall",
        "summary": "Get call details",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get call details"
      },
      "delete": {
        "operationId": "endCall",
        "summary": "End a call",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Call ended"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "End a call"
      }
    },
    "/communications/calls/{call-id}/answer": {
      "post": {
        "operationId": "answerCall",
        "summary": "Answer an incoming call",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Answer an incoming call"
      }
    },
    "/communications/calls/{call-id}/reject": {
      "post": {
        "operationId": "rejectCall",
        "summary": "Reject an incoming call",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Reject an incoming call"
      }
    },
    "/communications/calls/{call-id}/redirect": {
      "post": {
        "operationId": "redirectCall",
        "summary": "Redirect an incoming call",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Redirect an incoming call"
      }
    },
    "/communications/calls/{call-id}/transfer": {
      "post": {
        "operationId": "transferCall",
        "summary": "Transfer a call",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Transfer a call"
      }
    },
    "/communications/onlineMeetings": {
      "post": {
        "operationId": "createOnlineMeeting",
        "summary": "Create an online meeting",
        "tags": [
          "Meetings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineMeetingInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meeting created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineMeeting"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an online meeting"
      }
    },
    "/communications/onlineMeetings/{meeting-id}": {
      "get": {
        "operationId": "getOnlineMeeting",
        "summary": "Get online meeting details",
        "tags": [
          "Meetings"
        ],
        "parameters": [
          {
            "name": "meeting-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineMeeting"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get online meeting details"
      }
    },
    "/teams/{team-id}/schedule/shifts": {
      "get": {
        "operationId": "listShifts",
        "summary": "List shifts in a schedule",
        "tags": [
          "Shifts"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shifts list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List shifts in a schedule"
      },
      "post": {
        "operationId": "createShift",
        "summary": "Create a shift",
        "tags": [
          "Shifts"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Shift created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a shift"
      }
    },
    "/teams/{team-id}/schedule": {
      "get": {
        "operationId": "getSchedule",
        "summary": "Get the schedule for a team",
        "tags": [
          "Shifts"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the schedule for a team"
      },
      "put": {
        "operationId": "createOrReplaceSchedule",
        "summary": "Create or replace a schedule",
        "tags": [
          "Shifts"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule created/updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create or replace a schedule"
      }
    },
    "/groups/{group-id}/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events for a group (team)",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List events for a group (team)"
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create a calendar event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a calendar event"
      }
    },
    "/teams/{team-id}/sendActivityNotification": {
      "post": {
        "operationId": "sendActivityNotification",
        "summary": "Send activity feed notification",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "object"
                  },
                  "activityType": {
                    "type": "string"
                  },
                  "previewText": {
                    "type": "object"
                  },
                  "recipient": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Notification sent"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send activity feed notification"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "Team.ReadBasic.All": "Read teams",
              "Channel.ReadBasic.All": "Read channels",
              "ChannelMessage.Send": "Send channel messages",
              "Calls.Initiate.All": "Initiate calls",
              "OnlineMeetings.ReadWrite.All": "Manage meetings",
              "Schedule.ReadWrite.All": "Manage schedules"
            }
          }
        }
      }
    },
    "schemas": {
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isArchived": {
            "type": "boolean"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TeamInput": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          }
        }
      },
      "TeamListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Team"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "membershipType": {
            "type": "string"
          }
        }
      },
      "ChannelInput": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "membershipType": {
            "type": "string",
            "enum": [
              "standard",
              "private",
              "shared"
            ]
          }
        }
      },
      "ChannelListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          }
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "properties": {
              "content": {
                "type": "string"
              },
              "contentType": {
                "type": "string",
                "enum": [
                  "text",
                  "html"
                ]
              }
            }
          }
        }
      },
      "MessageListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "body": {
                  "type": "object"
                },
                "from": {
                  "type": "object"
                },
                "createdDateTime": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "TabInput": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "teamsApp@odata.bind": {
            "type": "string"
          },
          "configuration": {
            "type": "object"
          }
        }
      },
      "CallInput": {
        "type": "object",
        "properties": {
          "callbackUri": {
            "type": "string"
          },
          "targets": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "requestedModalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mediaConfig": {
            "type": "object"
          }
        }
      },
      "OnlineMeeting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "joinWebUrl": {
            "type": "string"
          },
          "videoTeleconferenceId": {
            "type": "string"
          }
        }
      },
      "OnlineMeetingInput": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ShiftInput": {
        "type": "object",
        "properties": {
          "schedulingGroupId": {
            "type": "string"
          },
          "sharedShift": {
            "type": "object"
          },
          "draftShift": {
            "type": "object"
          }
        }
      },
      "EventInput": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "start": {
            "type": "object",
            "properties": {
              "dateTime": {
                "type": "string"
              },
              "timeZone": {
                "type": "string"
              }
            }
          },
          "end": {
            "type": "object",
            "properties": {
              "dateTime": {
                "type": "string"
              },
              "timeZone": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "innerError": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Apps"
    },
    {
      "name": "Calls"
    },
    {
      "name": "Channels"
    },
    {
      "name": "Events"
    },
    {
      "name": "Meetings"
    },
    {
      "name": "Members"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Shifts"
    },
    {
      "name": "Tabs"
    },
    {
      "name": "Teams"
    }
  ]
}
