{
  "openapi": "3.0.3",
  "info": {
    "title": "Atatus API",
    "version": "v2",
    "description": "Atatus provides application, browser, and infrastructure performance monitoring services. The API allows you to retrieve performance metrics, error data, pages, ajax calls, routes, transactions, web vitals, and reports for your monitored projects.",
    "x-jentic-source-url": "https://docs.atatus.com/docs/api/overview.html"
  },
  "servers": [
    {
      "url": "https://api.atatus.com/v2"
    }
  ],
  "paths": {
    "/projects/{projectId}/pages": {
      "get": {
        "operationId": "listPages",
        "summary": "List pages",
        "description": "Get a list of pages and their performance metrics for a specific duration.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "description": "Time duration (e.g., 30m, 60m, 6h, 12h, 1d, 2d, 3d, 7d, 14d, 1M).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "description": "Custom start time (YYYY-MM-DD+HH:mm).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "description": "Custom end time (YYYY-MM-DD+HH:mm).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search keyword to filter pages by path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pages with metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/pages/{pageId}": {
      "get": {
        "operationId": "getPageById",
        "summary": "Get page by ID",
        "description": "Get a specific page and its metrics for a given time duration.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageMetrics"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/projects/{projectId}/ajax": {
      "get": {
        "operationId": "listAjaxCalls",
        "summary": "List ajax calls",
        "description": "Get a list of ajax calls and their performance metrics.",
        "tags": [
          "Ajax"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ajax calls with metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AjaxList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/ajax/{ajaxId}": {
      "get": {
        "operationId": "getAjaxCallById",
        "summary": "Get ajax call by ID",
        "description": "Get a specific ajax call and its metrics.",
        "tags": [
          "Ajax"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ajaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ajax call metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/errors": {
      "get": {
        "operationId": "listErrors",
        "summary": "List errors",
        "description": "Get a list of all error groups.",
        "tags": [
          "Errors"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Error status filter (Open, Resolved, Ignored).",
            "schema": {
              "type": "string",
              "enum": [
                "Open",
                "Resolved",
                "Ignored"
              ]
            }
          },
          {
            "name": "browser",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "browserVersion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortby",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/errors/{errorId}": {
      "get": {
        "operationId": "getErrorById",
        "summary": "Get error by ID",
        "description": "Get a specific error group by its identifier.",
        "tags": [
          "Errors"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "errorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/routes": {
      "get": {
        "operationId": "listRoutes",
        "summary": "List routes",
        "description": "Get a list of routes and their performance metrics.",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of routes with metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List transactions",
        "description": "Get a list of custom transactions and their metrics.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/transactions/{transactionId}": {
      "get": {
        "operationId": "getTransactionById",
        "summary": "Get transaction by ID",
        "description": "Get a specific transaction and its metrics.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/webvitals": {
      "get": {
        "operationId": "getWebVitals",
        "summary": "Get web vitals",
        "description": "Get Google Core Web Vitals metrics for all pages.",
        "tags": [
          "Web Vitals"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Web vitals metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebVitalsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/reports": {
      "get": {
        "operationId": "getReport",
        "summary": "Get full report",
        "description": "Get a full report on the errors and performance of your application.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeDur",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full report data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PageList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PageMetrics"
            }
          },
          "count": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "totalCount": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "PageMetrics": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "throughput": {
            "type": "integer"
          },
          "throughputPercentage": {
            "type": "number"
          },
          "page": {
            "type": "object",
            "properties": {
              "throughput": {
                "type": "integer"
              },
              "loadTime": {
                "type": "number"
              },
              "frontendTime": {
                "type": "number"
              },
              "networkTime": {
                "type": "number"
              },
              "domTime": {
                "type": "number"
              },
              "renderTime": {
                "type": "number"
              },
              "percentile_99": {
                "type": "number"
              },
              "percentile_95": {
                "type": "number"
              },
              "percentile_90": {
                "type": "number"
              },
              "percentile_50": {
                "type": "number"
              },
              "percentile_75": {
                "type": "number"
              }
            }
          }
        }
      },
      "AjaxList": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "properties": {
              "totalTime": {
                "type": "number"
              },
              "responseTime": {
                "type": "number"
              },
              "callbackTime": {
                "type": "number"
              },
              "throughput": {
                "type": "integer"
              },
              "errorCount": {
                "type": "integer"
              },
              "errorRate": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "WebVitalsList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "metrics": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      },
                      "percentage": {
                        "type": "number"
                      }
                    }
                  }
                },
                "avg": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key for authentication. Can also be passed as query parameter 'api_key' or in request body."
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Projects"
    }
  ]
}