{
  "openapi": "3.0.3",
  "info": {
    "title": "Chatbase API",
    "version": "1.0.0",
    "description": "Chatbase API v1 provides endpoints for managing chatbots, conducting conversations, retrieving leads, managing contacts, and configuring chatbot settings. All endpoints require Bearer token authentication.",
    "contact": {
      "name": "Chatbase Support",
      "url": "https://chatbase.co/help"
    },
    "x-jentic-source-url": "https://www.chatbase.co/docs/api-reference"
  },
  "servers": [
    {
      "url": "https://www.chatbase.co/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chatbots",
      "description": "Chatbot management operations"
    },
    {
      "name": "Chat",
      "description": "Chat conversation endpoints"
    },
    {
      "name": "Conversations",
      "description": "Conversation history and management"
    },
    {
      "name": "Leads",
      "description": "Lead collection and management"
    },
    {
      "name": "Contacts",
      "description": "Contact management for chatbots"
    }
  ],
  "paths": {
    "/create-chatbot": {
      "post": {
        "operationId": "createChatbot",
        "summary": "Create a new chatbot",
        "description": "Creates a new chatbot with training data from text.",
        "tags": [
          "Chatbots"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatbotName"
                ],
                "properties": {
                  "chatbotName": {
                    "type": "string",
                    "minLength": 3,
                    "description": "Name of the chatbot (minimum 3 characters)"
                  },
                  "sourceText": {
                    "type": "string",
                    "description": "Raw text content to train the chatbot"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chatbot created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatbotId": {
                      "type": "string",
                      "description": "Unique identifier for the created chatbot"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/get-chatbots": {
      "get": {
        "operationId": "getAllChatbots",
        "summary": "Get all chatbots",
        "description": "Retrieves all chatbots for the authenticated account.",
        "tags": [
          "Chatbots"
        ],
        "responses": {
          "200": {
            "description": "List of chatbots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatbots": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Chatbot"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/update-chatbot-data": {
      "post": {
        "operationId": "updateChatbotData",
        "summary": "Update a chatbot",
        "description": "Updates and retrains a chatbot with new content.",
        "tags": [
          "Chatbots"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatbotId",
                  "chatbotName"
                ],
                "properties": {
                  "chatbotId": {
                    "type": "string",
                    "description": "ID of the chatbot to update"
                  },
                  "chatbotName": {
                    "type": "string",
                    "minLength": 3,
                    "description": "Updated name for the chatbot"
                  },
                  "sourceText": {
                    "type": "string",
                    "description": "New training text content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chatbot updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatbotId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/update-chatbot-settings": {
      "post": {
        "operationId": "updateChatbotSettings",
        "summary": "Update chatbot settings",
        "description": "Updates various chatbot configuration settings including model, instructions, visibility, rate limiting, styles, and lead collection.",
        "tags": [
          "Chatbots"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatbotId"
                ],
                "properties": {
                  "chatbotId": {
                    "type": "string",
                    "description": "ID of the chatbot to update"
                  },
                  "name": {
                    "type": "string",
                    "description": "Chatbot name"
                  },
                  "instructions": {
                    "type": "string",
                    "description": "System instructions for the chatbot"
                  },
                  "initialMessages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Initial greeting messages"
                  },
                  "suggestedMessages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Suggested conversation starters"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ],
                    "description": "Chatbot visibility setting"
                  },
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed domains for the chatbot"
                  },
                  "onlyAllowOnAddedDomains": {
                    "type": "boolean",
                    "description": "Whether to restrict to allowed domains only"
                  },
                  "ipLimit": {
                    "type": "integer",
                    "description": "Rate limit per IP address"
                  },
                  "ipLimitTimeframe": {
                    "type": "integer",
                    "description": "Timeframe for IP rate limiting in seconds"
                  },
                  "ipLimitMessage": {
                    "type": "string",
                    "description": "Message shown when rate limit is exceeded"
                  },
                  "model": {
                    "$ref": "#/components/schemas/AIModel"
                  },
                  "temp": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Temperature setting for AI responses"
                  },
                  "styles": {
                    "$ref": "#/components/schemas/ChatbotStyles"
                  },
                  "collectCustomerInformation": {
                    "$ref": "#/components/schemas/CollectLeadsSettings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/delete-chatbot": {
      "delete": {
        "operationId": "deleteChatbot",
        "summary": "Delete a chatbot",
        "description": "Permanently deletes a chatbot and all associated data.",
        "tags": [
          "Chatbots"
        ],
        "parameters": [
          {
            "name": "chatbotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the chatbot to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Chatbot deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/chat": {
      "post": {
        "operationId": "chatWithChatbot",
        "summary": "Chat with a chatbot",
        "description": "Send a message to a chatbot and receive a response. Supports streaming responses and continuing existing conversations.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatbotId",
                  "messages"
                ],
                "properties": {
                  "chatbotId": {
                    "type": "string",
                    "description": "ID of the chatbot to chat with"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ],
                          "description": "Message sender role"
                        },
                        "content": {
                          "type": "string",
                          "description": "Message content"
                        }
                      }
                    },
                    "description": "Array of messages in the conversation"
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "ID of existing conversation to continue"
                  },
                  "contactId": {
                    "type": "string",
                    "description": "External ID of the contact/user"
                  },
                  "model": {
                    "$ref": "#/components/schemas/AIModel"
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Temperature for AI response creativity"
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to stream the response"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "The chatbot's response text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/get-conversations": {
      "get": {
        "operationId": "getConversations",
        "summary": "Get conversations for a chatbot",
        "description": "Retrieves conversation history for a specific chatbot.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "chatbotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the chatbot"
          },
          {
            "name": "filteredSources",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of sources to filter by"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversations retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/get-leads": {
      "get": {
        "operationId": "getLeads",
        "summary": "Get leads for a chatbot",
        "description": "Retrieves collected leads/customers for a specific chatbot.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "chatbotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the chatbot"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Leads retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collectedCustomers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/chatbots/{chatbotId}/contacts": {
      "post": {
        "operationId": "createContacts",
        "summary": "Create contacts for a chatbot",
        "description": "Creates one or more contacts for a specific chatbot (max 1000 per request).",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "chatbotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the chatbot"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "users"
                ],
                "properties": {
                  "users": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1000,
                    "items": {
                      "$ref": "#/components/schemas/ContactInput"
                    },
                    "description": "Array of contacts to create (1-1000)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Conflict - External IDs or emails already exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API key in Bearer token format"
      }
    },
    "schemas": {
      "AIModel": {
        "type": "string",
        "description": "AI model to use for the response",
        "enum": [
          "gpt-4-turbo",
          "gpt-4o",
          "gpt-4",
          "gpt-4o-mini",
          "gpt-4.1",
          "gpt-4.1-mini",
          "gpt-4.1-nano",
          "o3-mini",
          "o4-mini",
          "o3",
          "claude-sonnet-4",
          "claude-opus-4",
          "claude-3-5-sonnet",
          "claude-3-haiku",
          "gemini-2.0-flash",
          "gemini-2.5-pro",
          "grok-3",
          "command-r-plus",
          "DeepSeek-V3",
          "DeepSeek-R1"
        ]
      },
      "Chatbot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique chatbot identifier"
          },
          "name": {
            "type": "string",
            "description": "Chatbot name"
          },
          "status": {
            "type": "string",
            "enum": [
              "training",
              "ready",
              "failed"
            ],
            "description": "Current chatbot status"
          },
          "model": {
            "type": "string",
            "description": "AI model being used"
          },
          "instructions": {
            "type": "string",
            "description": "System instructions for the chatbot"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Chatbot visibility setting"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "ChatbotStyles": {
        "type": "object",
        "properties": {
          "theme": {
            "type": "string",
            "enum": [
              "light",
              "dark"
            ],
            "description": "UI theme"
          },
          "buttonColor": {
            "type": "string",
            "description": "Button color (hex code)"
          },
          "displayName": {
            "type": "string",
            "description": "Display name for the chatbot"
          },
          "alignChatButton": {
            "type": "string",
            "enum": [
              "left",
              "right"
            ],
            "description": "Chat button alignment"
          },
          "userMessageColor": {
            "type": "string",
            "description": "User message color (hex code)"
          },
          "autoOpenChatWindowAfter": {
            "type": "integer",
            "description": "Auto-open delay in seconds (0 to disable)"
          }
        }
      },
      "CollectLeadsSettings": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Form title"
          },
          "name": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "label": {
                "type": "string"
              }
            }
          },
          "email": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "label": {
                "type": "string"
              }
            }
          },
          "phone": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "label": {
                "type": "string"
              }
            }
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Conversation identifier"
          },
          "chatbot_id": {
            "type": "string",
            "description": "Associated chatbot ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string",
            "enum": [
              "api",
              "website",
              "whatsapp",
              "slack",
              "messenger",
              "instagram"
            ]
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "default": "text"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "chatbot_id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "required": [
          "external_id"
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "External contact identifier"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phonenumber": {
            "type": "string"
          },
          "stripe_accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StripeAccountInput"
            }
          },
          "custom_attributes": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phonenumber": {
            "type": "string"
          },
          "stripe_accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StripeAccount"
            }
          },
          "custom_attributes": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "updated_at": {
            "type": "integer",
            "description": "Unix timestamp"
          }
        }
      },
      "StripeAccountInput": {
        "type": "object",
        "required": [
          "label",
          "stripe_id"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "stripe_id": {
            "type": "string"
          },
          "stripe_email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "StripeAccount": {
        "type": "object",
        "required": [
          "label",
          "stripe_id"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "stripe_id": {
            "type": "string"
          },
          "stripe_email": {
            "type": "string",
            "format": "email"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request - Invalid input parameters",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - Access denied or quota exceeded",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found - Resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate Limited - Too many requests",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}