{
  "openapi": "3.0.3",
  "info": {
    "title": "Packagist API",
    "version": "1.0",
    "description": "Public API for Packagist.org, the main Composer repository. Search packages, retrieve metadata, download statistics, and manage package submissions.",
    "x-jentic-source-url": "https://packagist.org/apidoc"
  },
  "servers": [
    {
      "url": "https://packagist.org"
    }
  ],
  "paths": {
    "/packages/list.json": {
      "get": {
        "operationId": "listPackages",
        "summary": "List package names",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "vendor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by vendor name"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by package type"
          },
          {
            "name": "fields[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Additional fields to include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of package names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packageNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/explore/popular.json": {
      "get": {
        "operationId": "listPopularPackages",
        "summary": "List popular packages",
        "tags": [
          "Explore"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Popular packages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PackageSummary"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/search.json": {
      "get": {
        "operationId": "searchPackages",
        "summary": "Search for packages",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tag"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by package type"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/packages/{vendor}/{package}.json": {
      "get": {
        "operationId": "getPackage",
        "summary": "Get package details",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package vendor name"
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package name"
          }
        ],
        "responses": {
          "200": {
            "description": "Package details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "package": {
                      "$ref": "#/components/schemas/PackageDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/p2/{vendor}/{package}.json": {
      "get": {
        "operationId": "getPackageMetadataV2",
        "summary": "Get package metadata (Composer v2 format)",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package vendor"
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package name"
          }
        ],
        "responses": {
          "200": {
            "description": "Package metadata in Composer v2 format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packages": {
                      "type": "object"
                    },
                    "minified": {
                      "type": "string",
                      "example": "composer/2.0"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/p2/{vendor}/{package}~dev.json": {
      "get": {
        "operationId": "getPackageDevMetadataV2",
        "summary": "Get dev release metadata (Composer v2 format)",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package vendor"
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package name"
          }
        ],
        "responses": {
          "200": {
            "description": "Dev release metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packages": {
                      "type": "object"
                    },
                    "minified": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/packages/{vendor}/{package}/stats.json": {
      "get": {
        "operationId": "getPackageStats",
        "summary": "Get package download statistics",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "downloads": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "monthly": {
                          "type": "integer"
                        },
                        "daily": {
                          "type": "integer"
                        }
                      }
                    },
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "date": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/metadata/changes.json": {
      "get": {
        "operationId": "getMetadataChanges",
        "summary": "Get recent metadata changes",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp to get changes since"
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statistics.json": {
      "get": {
        "operationId": "getGlobalStatistics",
        "summary": "Get global Packagist statistics",
        "tags": [
          "Statistics"
        ],
        "responses": {
          "200": {
            "description": "Global statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totals": {
                      "type": "object",
                      "properties": {
                        "downloads": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/security-advisories/": {
      "get": {
        "operationId": "getSecurityAdvisories",
        "summary": "Get security advisories for packages",
        "tags": [
          "Security"
        ],
        "parameters": [
          {
            "name": "packages[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Package names to check"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by update time"
          }
        ],
        "responses": {
          "200": {
            "description": "Security advisories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "advisories": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SecurityAdvisory"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/api/create-package": {
      "post": {
        "operationId": "createPackage",
        "summary": "Submit a new package",
        "tags": [
          "Package Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repository"
                ],
                "properties": {
                  "repository": {
                    "type": "string",
                    "format": "uri",
                    "description": "VCS repository URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Package created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/packages/{packageName}": {
      "put": {
        "operationId": "updatePackageUrl",
        "summary": "Update a package repository URL",
        "tags": [
          "Package Management"
        ],
        "parameters": [
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package name (vendor/package)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repository"
                ],
                "properties": {
                  "repository": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Package updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/update-package": {
      "post": {
        "operationId": "triggerPackageUpdate",
        "summary": "Trigger a package update",
        "tags": [
          "Package Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repository"
                ],
                "properties": {
                  "repository": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "jobs": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token in format username:apiToken"
      }
    },
    "schemas": {
      "PackageSummary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "downloads": {
            "type": "integer"
          },
          "favers": {
            "type": "integer"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "repository": {
            "type": "string",
            "format": "uri"
          },
          "downloads": {
            "type": "integer"
          },
          "favers": {
            "type": "integer"
          }
        }
      },
      "PackageDetail": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "maintainers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "avatar_url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "versions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PackageVersion"
            }
          },
          "type": {
            "type": "string"
          },
          "repository": {
            "type": "string",
            "format": "uri"
          },
          "downloads": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "monthly": {
                "type": "integer"
              },
              "daily": {
                "type": "integer"
              }
            }
          },
          "favers": {
            "type": "integer"
          }
        }
      },
      "PackageVersion": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "version_normalized": {
            "type": "string"
          },
          "require": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "require-dev": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "license": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "reference": {
                "type": "string"
              }
            }
          }
        }
      },
      "SecurityAdvisory": {
        "type": "object",
        "properties": {
          "advisoryId": {
            "type": "string"
          },
          "packageName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "cve": {
            "type": "string"
          },
          "affectedVersions": {
            "type": "string"
          },
          "reportedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}