{
  "openapi": "3.0.3",
  "info": {
    "title": "Lawmatics API",
    "description": "Lawmatics is a legal CRM platform. This RESTful API provides programmatic access to contacts, matters, tasks, events, custom fields, files, billing, and more. The API follows JSON:API conventions for resource responses.",
    "version": "1.21.0",
    "contact": {
      "email": "api@lawmatics.com"
    }
  },
  "x-jentic-source-url": "https://docs.lawmatics.com/",
  "servers": [
    {
      "url": "https://api.lawmatics.com/v1",
      "description": "Lawmatics API v1"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Addresses",
      "description": "Manage addresses for contacts, companies, and matters"
    },
    {
      "name": "Companies",
      "description": "Manage companies in Lawmatics"
    },
    {
      "name": "Contacts",
      "description": "Manage contacts in Lawmatics"
    },
    {
      "name": "Custom Emails",
      "description": "View custom email templates and statistics"
    },
    {
      "name": "Custom Fields",
      "description": "Manage custom field definitions"
    },
    {
      "name": "Custom Forms",
      "description": "Manage custom intake forms and form submissions"
    },
    {
      "name": "Email Addresses",
      "description": "Manage email addresses for contacts and companies"
    },
    {
      "name": "Email Campaign Stats",
      "description": "View email campaign statistics"
    },
    {
      "name": "Email Campaigns",
      "description": "View email marketing campaigns"
    },
    {
      "name": "Event Locations",
      "description": "View event locations"
    },
    {
      "name": "Event Types",
      "description": "Manage event types"
    },
    {
      "name": "Events (Appointments)",
      "description": "Manage events and appointments"
    },
    {
      "name": "Files",
      "description": "Upload, download, and manage files"
    },
    {
      "name": "Folders",
      "description": "Manage file folders"
    },
    {
      "name": "Matters (Prospects)",
      "description": "Manage legal matters (also known as prospects)"
    },
    {
      "name": "Notes",
      "description": "Manage notes on matters and contacts"
    },
    {
      "name": "Payment Expenses",
      "description": "Manage expenses"
    },
    {
      "name": "Payment Invoices",
      "description": "View payment invoices"
    },
    {
      "name": "Payment Time Entries",
      "description": "Manage time entries for billing"
    },
    {
      "name": "Payment Transactions",
      "description": "Manage payment transactions"
    },
    {
      "name": "Phone Numbers",
      "description": "Manage phone numbers for contacts and companies"
    },
    {
      "name": "Tags",
      "description": "Manage tags and tag assignments"
    },
    {
      "name": "Task Statuses",
      "description": "Manage task status definitions"
    },
    {
      "name": "Tasks",
      "description": "Manage tasks, subtasks, and comments"
    },
    {
      "name": "Timeline Activities",
      "description": "View timeline activities for matters"
    },
    {
      "name": "Users",
      "description": "Manage user accounts"
    }
  ],
  "paths": {
    "/addresses/{address_id}": {
      "get": {
        "operationId": "address",
        "summary": "Address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Address"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A specific Stage by id"
      },
      "put": {
        "operationId": "updateAddress",
        "summary": "Update Address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PUT Update Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Address"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Updates an Address by ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "street": {
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAddress",
        "summary": "Delete Address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE Delete Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Address"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Delete an Address\naddress_id: ID of the Address to delete"
      }
    },
    "/addresses": {
      "get": {
        "operationId": "addresses",
        "summary": "Addresses",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Address"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Addresses in Lawmatics"
      },
      "post": {
        "operationId": "createAddress",
        "summary": "Create Address",
        "tags": [
          "Addresses"
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          },
          "201": {
            "description": "POST Create Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Address"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new Address\nRequired Fields: addressable, label, street\naddressable_type: Prospect, Contact, Company, or Firm that the Address belongs to.\naddressable_id: Id of Record. Firm type doesn't need an ID passed and it will be ignored.\nNote - Setting the Address through a Prospect (Matter) will set the address on the Prospects' Contact/Company.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "street": {
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "string"
                  },
                  "addressable_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/find_by_phone/{phone_number}": {
      "get": {
        "operationId": "findContactByPhoneNumber",
        "summary": "Find Contact By Phone Number",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Find Contact By Phone Number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Fuzzy find a specific Contact by Phone Number."
      }
    },
    "/contacts/find_by_email/{email_address}": {
      "get": {
        "operationId": "findContactByEmailAddress",
        "summary": "Find Contact By Email Address",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Find Contact By Email Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Fuzzy find a specific Contact by Email Address."
      }
    },
    "/contacts/find_by_name/{name}": {
      "get": {
        "operationId": "findContactByName",
        "summary": "Find Contact By Name",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Find Contact By Name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Fuzzy find (case-insensitive) a specific Contact by their Name. You can pass either '{first_name} {last_name}' or simply '{first_name}'"
      }
    },
    "/custom_contact_types/{custom_contact_type_id}": {
      "get": {
        "operationId": "customContactType",
        "summary": "Custom Contact Type",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "custom_contact_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Contact Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomContactType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A specific Custom Contact Type by ID"
      },
      "delete": {
        "operationId": "deleteCustomContactType",
        "summary": "Delete Custom Contact Type",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "custom_contact_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE Delete Custom Contact Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomContactType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Delete an existing Custom Contact Type by ID.\nWarning: This is irreversible!"
      }
    },
    "/custom_contact_types": {
      "get": {
        "operationId": "customContactTypes",
        "summary": "Custom Contact Types",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Filtered Custom Contact Types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomContactType"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Custom Contact Type in Lawmatics"
      },
      "post": {
        "operationId": "createCustomContactType",
        "summary": "Create Custom Contact Type",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          },
          "201": {
            "description": "POST Create Custom Contact Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomContactType"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new Custom Contact Type",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom_contact_types/{contact_id}": {
      "put": {
        "operationId": "updateCustomContactType",
        "summary": "Update Custom Contact Type",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PUT/PATCH Update Custom Contact Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomContactType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Update an existing Custom Contact Type by ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "operationId": "contact",
        "summary": "Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A specific Contact by id"
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PUT/PATCH Update Contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Update an existing Contact by ID.\nPassing Custom Field id and value, will set the custom field value on the Contact, and overwrite any existing value. Passing null as the value will clear it out.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE Delete Contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Delete an existing Contact by ID.\nWarning: This is irreversible!"
      }
    },
    "/contacts": {
      "get": {
        "operationId": "contacts",
        "summary": "Contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Contacts in Lawmatics"
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create Contact",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          },
          "201": {
            "description": "POST Create Contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new Contact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/find_by_phone/{phone_number}": {
      "get": {
        "operationId": "findCompanyByPhoneNumber",
        "summary": "Find Company By Phone Number",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Find Company By Phone Number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Fuzzy find a specific Company by Phone Number. Will look for the Company Phone Number, then fallback to search though associated Contacts."
      }
    },
    "/companies/find_by_email/{email_address}": {
      "get": {
        "operationId": "findCompanyByEmailAddress",
        "summary": "Find Company By Email Address",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Find Company By Email Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Fuzzy find a specific Company by Email Address. Will look for the Company Email Address, then fallback to search though associated Contacts."
      }
    },
    "/companies/find_by_name/{name}": {
      "get": {
        "operationId": "findCompanyByName",
        "summary": "Find Company By Name",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Find Company By Name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Fuzzy find (case-insensitive) a specific Company by Name"
      }
    },
    "/companies/{company_id}": {
      "get": {
        "operationId": "company",
        "summary": "Company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A specific\u00a0Company\u00a0by id"
      },
      "put": {
        "operationId": "updateCompany",
        "summary": "Update Company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PUT/PATCH Update Company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Update an existing Company by ID.\nPassing Custom Field id and value, will set the custom field value on the Company, and overwrite any existing value. Passing null as the value will clear it out.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "emails_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "info": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phone_numbers_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "info": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "street": {
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "string"
                  },
                  "addresses_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        },
                        "street2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "zipcode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete Company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Delete an existing Company by ID.\nWarning: This is irreversible!"
      }
    },
    "/companies": {
      "get": {
        "operationId": "companies",
        "summary": "Companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Companies in Lawmatics"
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create Company",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "POST Create Company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Create a new Company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "emails_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "info": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phone_numbers_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "info": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "street": {
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "string"
                  },
                  "addresses_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "street": {
                          "type": "string"
                        },
                        "street2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "zipcode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom_emails/{custom_email_id}": {
      "get": {
        "operationId": "customEmail",
        "summary": "Custom Email",
        "tags": [
          "Custom Emails"
        ],
        "parameters": [
          {
            "name": "custom_email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Email",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomEmail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A specific custom email by id showcasing the custom email statistics such as unique open count, send count, bounce count, open rate, send rate, and bounce rate."
      }
    },
    "/custom_emails": {
      "get": {
        "operationId": "customEmails",
        "summary": "Custom Emails",
        "tags": [
          "Custom Emails"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomEmail"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A list of all custom emails in Lawmatics."
      }
    },
    "/custom_fields/{custom_field_id}": {
      "get": {
        "operationId": "customField",
        "summary": "Custom Field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Field",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomField"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Specific Custom Field metadata by ID"
      },
      "put": {
        "operationId": "updateCustomField",
        "summary": "Update Custom Field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PUT Update Custom Field",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomField"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Update an existing Custom Field by ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "field_type": {
                    "type": "string"
                  },
                  "list_options": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete Custom Field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE Delete Custom Field",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomField"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        }
      }
    },
    "/custom_fields": {
      "get": {
        "operationId": "customFields",
        "summary": "Custom Fields",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomField"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Custom Field metadata in Lawmatics"
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create Custom Field",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          },
          "201": {
            "description": "POST Create Custom Field",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomField"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new Custom Field\nName: Custom Field's name\nType: One of Matter, Contact, Company, Client, or PracticeArea\nVisibility (optional): starred, hidden, default (default)\nfield_type: One of integer, boolean, string, text, currency, date, time, datetime, list, lookup, multi_picklist\nlist_options: Required if field_type is list or multi_picklist, two options at minimum\nlookup_type: Required if field_type is lookup. One of User, Contact, Company or Prospect\npractice_area: Name of practice area. Required if type is PracticeArea",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "field_type": {
                    "type": "string"
                  },
                  "practice_area": {
                    "type": "string"
                  },
                  "list_options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forms/{custom_form_uuid}": {
      "get": {
        "operationId": "customForm",
        "summary": "Custom Form",
        "tags": [
          "Custom Forms"
        ],
        "parameters": [
          {
            "name": "custom_form_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Form",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomForm"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "This Unauthenticated endpoint takes a Custom Form id and returns metadata about that Custom Form. This metadata can be used to recreate a Lawmatics Custom Form to be filled using your own html code."
      }
    },
    "/forms": {
      "get": {
        "operationId": "customForms",
        "summary": "Custom Forms",
        "tags": [
          "Custom Forms"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomForm"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Custom Forms in Lawmatics"
      }
    },
    "/forms/{custom_form_uuid}/entries": {
      "get": {
        "operationId": "customFormEntries",
        "summary": "Custom Form Entries",
        "tags": [
          "Custom Forms"
        ],
        "parameters": [
          {
            "name": "custom_form_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Custom Form Entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomFormEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Custom Form Entries in Lawmatics by Custom Form uuid"
      }
    },
    "/forms/{custom_form_uuid}/submit": {
      "post": {
        "operationId": "submitCustomFormEntryFormDataBody",
        "summary": "Submit Custom Form Entry  (Form Data Body)",
        "tags": [
          "Custom Forms"
        ],
        "parameters": [
          {
            "name": "custom_form_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          },
          "201": {
            "description": "POST Submit Custom Form (Form Data Body)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This Unauthenticated (YOU DO NOT NEED A DEVELOPER APP) endpoint submits Custom Form values. Keys for the values use the Custom Form field ids found in Lawmatics, or found via the GET endpoint.\nData should be serialized via form-data (plain html5 forms) or JSON body (shown in next example)\nAny automations will trigger as expected when this Custom Form is submitted via the API.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Form Field values are submitted as field_id -> value pairs. The specific field uuid can be found in Lawmatics, in the Custom Form builder, under \"API Details\""
                  },
                  "last_name": {
                    "type": "string",
                    "description": ""
                  },
                  "utm_source": {
                    "type": "string",
                    "description": "Optional Source tracking field, this value can be extracted from the cookie set by your LM tracking pixel"
                  },
                  "utm_campaign": {
                    "type": "string",
                    "description": "Optional Campaign tracking field, this value can be extracted from the cookie set by your LM tracking pixel"
                  },
                  "referring_url": {
                    "type": "string",
                    "description": "Optional Referring URL, this value can be tracked and automatically set by your LM tracking pixel"
                  },
                  "RmllbGRzOjpDdXN0b21GaWVsZC1DdXN0b21GaWVsZDo6UHJvc3BlY3QtMTAyNw==": {
                    "type": "string",
                    "description": "Old v1 long id for custom field"
                  },
                  "custom_field_2263": {
                    "type": "string",
                    "description": "v2 simple id for custom field"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email_addresses/{email_address_id}": {
      "get": {
        "operationId": "emailAddress",
        "summary": "Email Address",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Email Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EmailAddress"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A specific Email Address by id"
      },
      "put": {
        "operationId": "updateEmailAddress",
        "summary": "Update Email Address",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PUT Update Email Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EmailAddress"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Updates a Email Address by id"
      },
      "delete": {
        "operationId": "deleteEmailAddress",
        "summary": "Delete Email Address",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE Delete Email Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EmailAddress"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Delete a Email Address by ID\nemail_address_id: ID of the Email Address to delete"
      }
    },
    "/email_addresses": {
      "get": {
        "operationId": "emailAddresses",
        "summary": "Email Addresses",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Email Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailAddress"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Email Addresses in Lawmatics"
      },
      "post": {
        "operationId": "createEmailAddress",
        "summary": "Create Email Address",
        "tags": [
          "Email Addresses"
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          },
          "201": {
            "description": "POST Create Email Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EmailAddress"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new Email Address\nRequired Fields: informationable, label, info\ninfo: The Email Address string.\nlabel: The Email Address's label e.g. Primary.\ninformationable_type: Prospect, Contact, Company, or Firm that the Email Address belongs to.\ninformationable_id: Id of Record. Firm type doesn't need an ID passed and it will be ignored.\nNote - Setting the Email Address through a Prospect (Matter) will set it on on the Prospects' Contact/Company."
      }
    },
    "/email_campaigns/{id}": {
      "get": {
        "operationId": "emailCampaign",
        "summary": "Email Campaign",
        "tags": [
          "Email Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Email Campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MarketingCampaignView"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Returns a specific campaign in Lawmatics.\nTo retrieve a specific campaign, use the following format: TypeofCampaign-id\nAn example of retrieving a marketing campaign would be:/v1/email_campaigns/MarketingCampaign-1\nAn example of retrieving a recurring campaign would be:/v1/email_campaigns/RecurringCampaign-1\nAn example of retrieving a date campaign would be:/v1/email_campaigns/DateCampaign-1"
      }
    },
    "/email_campaigns": {
      "get": {
        "operationId": "emailCampaigns",
        "summary": "Email Campaigns",
        "tags": [
          "Email Campaigns"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Email Campaigns by Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailCampaign"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Returns all email campaigns in Lawmatics."
      }
    },
    "/email_campaign_stats/{id}": {
      "get": {
        "operationId": "emailCampaignStats",
        "summary": "Email Campaign Stats",
        "tags": [
          "Email Campaign Stats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Email Campaign Stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Retrieves a statistics of a specific email campaign in Lawmatics.\nTo retrieve a specific campaign, use the following format: TypeofCampaign-id\nAn example of retrieving statistics of a marketing campaign would be:/v1/email_campaign_stats/MarketingCampaign-1\nAn example of retrieving statistics of a date campaign would be:/v1/email_campaign_stats/DateCampaign-1"
      }
    },
    "/events/{event_id}": {
      "get": {
        "operationId": "event",
        "summary": "Event",
        "tags": [
          "Events (Appointments)"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          }
        ],
        "responses": {
          "200": {
            "description": "GET Event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Events in Lawmatics"
      },
      "put": {
        "operationId": "updateEvent",
        "summary": "Update Event",
        "tags": [
          "Events (Appointments)"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PUT Update Event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Update an existing Matter by ID.\nPATCH works for this endpoint as well as PUT."
      },
      "delete": {
        "operationId": "cancelEvent",
        "summary": "Cancel Event",
        "tags": [
          "Events (Appointments)"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource"
          },
          {
            "name": "notify_attendees",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to notify attendees about the cancellation"
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE Cancel Event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "Cancels an existing Event/Appointment"
      }
    },
    "/events": {
      "get": {
        "operationId": "events",
        "summary": "Events",
        "tags": [
          "Events (Appointments)"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include. Use 'all' for all fields."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "filter_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to filter by"
          },
          {
            "name": "filter_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value to filter on"
          },
          {
            "name": "filter_with",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator (e.g. =, !=, >, <, null, not_null)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by"
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "GET Events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          }
        },
        "description": "A paginated list of all Events in Lawmatics"
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create Event",
        "tags": [
          "Events (Appointments)"
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing OAuth token"
          },
          "201": {
            "description": "POST Create Event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new Event/Appointment\nOptional Fields: Reminder fields, Location fields, time_zone\neventable_type, eventable_id: The Prospect, Contact, or Client that the appointment is with.\nuser_ids: The Firm Users hosting the appointment.\nreminder_type: 'minutes', 'hours', 'days', 'weeks', months'\nreminder_delay_length: Integer value (combined with reminder_type) for how long to wait to send a reminder\nsend_invites: (default true)\nall_day: (default false)\ntime_zone: a valid tz identifier string), (defaults to null)"
      }
    },
[...]
