{
  "openapi": "3.0.3",
  "info": {
    "title": "Water Quality Portal API",
    "version": "3.0.0",
    "description": "The Water Quality Portal (WQP) provides access to water quality data from the EPA, USGS, and USDA. Retrieve station, result, and activity data from monitoring locations across the US.",
    "x-jentic-source-url": "https://www.waterqualitydata.us/webservices_documentation/"
  },
  "servers": [
    {
      "url": "https://www.waterqualitydata.us"
    }
  ],
  "paths": {
    "/data/Station/search": {
      "get": {
        "operationId": "searchStations",
        "summary": "Search monitoring stations",
        "description": "Returns monitoring station metadata matching search criteria",
        "tags": [
          "Stations"
        ],
        "parameters": [
          {
            "name": "statecode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "US state FIPS code (e.g., US:06 for California)"
          },
          {
            "name": "countycode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "County FIPS code"
          },
          {
            "name": "huc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hydrologic unit code"
          },
          {
            "name": "bBox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bounding box (west,south,east,north)"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Latitude for point search"
          },
          {
            "name": "long",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Longitude for point search"
          },
          {
            "name": "within",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Radius in miles for point search"
          },
          {
            "name": "siteType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Type of monitoring site"
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier"
          },
          {
            "name": "siteid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific site identifier"
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NWIS",
                "STORET",
                "STEWARDS"
              ]
            },
            "description": "Data provider"
          },
          {
            "name": "mimeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "tsv",
                "geojson",
                "json"
              ],
              "default": "csv"
            },
            "description": "Response format"
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "yes"
            },
            "description": "Zip the response"
          },
          {
            "name": "sorted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "no"
            },
            "description": "Sort results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/Result/search": {
      "get": {
        "operationId": "searchResults",
        "summary": "Search water quality results",
        "description": "Returns water quality measurement results",
        "tags": [
          "Results"
        ],
        "parameters": [
          {
            "name": "statecode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS code"
          },
          {
            "name": "countycode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "County code"
          },
          {
            "name": "huc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hydrologic unit code"
          },
          {
            "name": "bBox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bounding box"
          },
          {
            "name": "siteid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Site ID"
          },
          {
            "name": "characteristicName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Characteristic/parameter name (e.g., Dissolved oxygen)"
          },
          {
            "name": "characteristicType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Characteristic type group"
          },
          {
            "name": "startDateLo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (MM-DD-YYYY)"
          },
          {
            "name": "startDateHi",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (MM-DD-YYYY)"
          },
          {
            "name": "sampleMedia",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sample media (Water, Sediment, etc.)"
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Data provider"
          },
          {
            "name": "mimeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "tsv",
                "json"
              ],
              "default": "csv"
            },
            "description": "Response format"
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "yes"
            },
            "description": "Zip response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/Activity/search": {
      "get": {
        "operationId": "searchActivities",
        "summary": "Search sampling activities",
        "description": "Returns sampling activity information",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "statecode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "State FIPS code"
          },
          {
            "name": "siteid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Site ID"
          },
          {
            "name": "startDateLo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start date"
          },
          {
            "name": "startDateHi",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date"
          },
          {
            "name": "mimeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "tsv",
                "json"
              ],
              "default": "csv"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StationResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ResultResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  }
}