{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://order.bentoweb.com/api"
    }
  ],
  "info": {
    "version": "1.0.0-oas3",
    "title": "BentoWeb Order API",
    "description": "BentoWeb Order API using for manage order. Please ask our team for client_id and client_secret.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SemanticTouch/BentoWebOrderAPI/1.0.0-oas3/swagger.json"
  },
  "tags": [
    {
      "name": "Order",
      "description": "Manage order (get, print, update status)"
    },
    {
      "name": "Cart",
      "description": "Create cart for checkout"
    }
  ],
  "security": [
    {
      "password": []
    }
  ],
  "paths": {
    "/order/list/{store_id}": {
      "get": {
        "summary": "Order list",
        "description": "get order list of certain store",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "store_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Store ID"
          },
          {
            "in": "query",
            "name": "action",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            },
            "description": "(1 Open Order, 2 Pending Verify Order, 3 Shipping Order, 4 Complete Order, 5 Cancel Order) // \u0e16\u0e49\u0e32\u0e44\u0e21\u0e48\u0e2a\u0e48\u0e07 action \u0e21\u0e32 \u0e08\u0e30\u0e14\u0e36\u0e07 All Order"
          },
          {
            "in": "query",
            "name": "langs",
            "schema": {
              "type": "string",
              "enum": [
                "th",
                "en",
                "jp"
              ]
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "Search order number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            },
            "description": "Limit"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string"
            },
            "description": "Order by (ex. date_modified,desc \u0e2b\u0e23\u0e37\u0e2d date_created,desc)"
          },
          {
            "in": "query",
            "name": "scope",
            "schema": {
              "type": "string"
            },
            "description": "Get more additional data. example **affiliate,order_tag,order_billing**"
          },
          {
            "in": "query",
            "name": "is_cod",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "If is_cod 1 filter only Cash on delevery [COD] order"
          },
          {
            "in": "query",
            "name": "is_cod_complete",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "If is_cod_complete is 1 filter only Cash on delevery [COD] completed order, is_cod_complete is 0  filter only Cash on delevery [COD] uncomplete order"
          },
          {
            "in": "query",
            "name": "order_from",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Order from [1 = Web, 2 = Mobile, 3 = FB, 4 = Android, 5 = iOS, 6 = Web POS, 8 = Mobile POS, 9 = Tablet POS, 10 = OpenAPI, 11 = FastCheckout, 12 = Lazada, 13 = Shopee Import, 14 = Lazada Import, 15 = CartBuilder, 16 = Shopee, 17 = Arislab Import, 18 = Deeple Import, 19 = Bentoweb Import, 20 = JD, 21 = LINE Shopping, 22 = TikTok Shop]"
          },
          {
            "in": "query",
            "name": "has_order_billing",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "filter by checking if an order billing (tax invoice) has been requested or not."
          },
          {
            "in": "query",
            "name": "date_created_start",
            "schema": {
              "type": "string"
            },
            "description": "filter by date_created start (greater than and equal >=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "date_created_end",
            "schema": {
              "type": "string"
            },
            "description": "filter by date_created end (less than or equal <=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "date_modified_start",
            "schema": {
              "type": "string"
            },
            "description": "filter by date_modified start (greater than and equal >=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "date_modified_end",
            "schema": {
              "type": "string"
            },
            "description": "filter by date_modified end (less than or equal <=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "receipt_datetime_start",
            "schema": {
              "type": "string"
            },
            "description": "filter by receipt_datetime start (greater than and equal >=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "receipt_datetime_end",
            "schema": {
              "type": "string"
            },
            "description": "filter by receipt_datetime end (less than or equal <=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "shipping_date_start",
            "schema": {
              "type": "string"
            },
            "description": "filter by shipping_datetime start (greater than and equal >=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "shipping_date_end",
            "schema": {
              "type": "string"
            },
            "description": "filter by shipping_datetime end (less than or equal <=) YYYY-mm-dd HH:ii:ss ex. \"2018-04-03 17:13:00\""
          },
          {
            "in": "query",
            "name": "order_tags",
            "schema": {
              "type": "string"
            },
            "description": "order tags id example 23 (single tag) or 23,58 (find multi order tags with OR condition)"
          }
        ],
        "responses": {
          "200": {
            "description": "status 1 = OK, status 0 = Error",
            "content": {
              "application/json": {
                "example": "{\n    \"status\": 1,\n    \"data\": {\n        \"order_list\": [\n            {\n                \"order_id\": 433582,\n                \"is_anonymous\": false,\n                \"date_created\": \"2024-05-24 14:07:06\",\n                \"payment_status\": true,\n                \"firstname\": \"wsk\",\n                \"lastname\": \"mpd\",\n                \"payment_method\": \"transfer\",\n                \"grand_total\": \"535.00\",\n                \"order_status_name\": \"Cancelled\",\n                \"osid\": 4,\n                \"full_name\": \"wsk mpd\",\n                \"full_order_code\": \"BTC0004756\",\n                \"full_receipt_code\": \"BTA0003542\",\n                \"pos_customer_id\": 42706,\n                \"order_from\": 6,\n                \"is_warehouse_send\": 1,\n                \"currency_id\": 1,\n                \"special_req\": \"\",\n                \"is_cod\": false,\n                \"country_id\": 5,\n                \"shipping_country_id\": 5,\n                \"payment_method_text\": \"Bank Account Transfer\",\n                \"country_name\": \"Thailand\",\n                \"shipping_country_name\": \"Thailand\",\n                \"is_paid\": true,\n                \"is_credit_term\": false,\n                \"sub_order\": [],\n                \"country\": {\n                    \"country_id\": 5,\n                    \"date_created\": \"2012-04-25 10:50:00\",\n                    \"date_modified\": \"2012-04-26 10:06:33\",\n                    \"country_name\": \"Thailand\",\n                    \"country_short_name\": \"TH\",\n                    \"country_code\": \"66\",\n                    \"flag\": \"img/country_flag/th.png\",\n                    \"weight_limit\": 20000,\n                    \"zone_id\": 7,\n                    \"active\": 1\n                },\n                \"shipping_country\": {\n                    \"country_id\": 5,\n                    \"date_created\": \"2012-04-25 10:50:00\",\n                    \"date_modified\": \"2012-04-26 10:06:33\",\n                    \"country_name\": \"Thailand\",\n                    \"country_short_name\": \"TH\",\n                    \"country_code\": \"66\",\n                    \"flag\": \"img/country_flag/th.png\",\n                    \"weight_limit\": 20000,\n                    \"zone_id\": 7,\n                    \"active\": 1\n                }\n            }\n        ],\n        \"order_total\": 4740\n    }\n}\n"
              }
            }
          }
        }
      }
    },
    "/order/order-full/{order_id}": {
      "get": {
        "summary": "Full order info with order items",
        "description": "get full order info with order items",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Order ID"
          },
          {
            "in": "query",
            "name": "store_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Store ID"
          }
        ],
        "responses": {
          "200": {
            "description": "status 1 = OK, status 0 = Error",
            "content": {
              "application/json": {
                "example": "{\n    \"status\": 1,\n    \"data\": {\n        \"order\": {\n            \"order_id\": 433582,\n            \"date_created\": \"2024-05-24 14:07:06\",\n            \"date_modified\": \"2024-05-24 14:10:08\",\n            \"date_cancelled\": \"2024-05-24 14:10:08\",\n            \"receipt_datetime\": \"2024-05-24 14:08:50\",\n            \"ref_code\": \"7BJ71heg9hzo4MY\",\n            \"langs\": \"th\",\n            \"store_id\": 1234,\n            \"fb_store_id\": 0,\n            \"customer_id\": 0,\n            \"discount_id\": 0,\n            \"order_from\": 6,\n            \"firstname\": \"wsk\",\n            \"lastname\": \"mpd\",\n            \"email\": \"\",\n            \"phone\": \"0844444444\",\n            \"idcard\": \"\",\n            \"country_id\": 5,\n            \"shipping_firstname\": \"wsk\",\n            \"shipping_lastname\": \"mpd\",\n            \"shipping_email\": \"\",\n            \"shipping_phone\": \"0844444444\",\n            \"shipping_address_1\": \"789/142 cc \u00b7 \u0e04\u0e25\u0e2d\u0e07\u0e15\u0e31\u0e19/ Khlong Tan \u00b7 \u0e1e\u0e23\u0e30\u0e42\u0e02\u0e19\u0e07/ Phra Khanong\",\n            \"shipping_address_2\": \"\",\n            \"shipping_subdistrict\": \"\",\n            \"shipping_district\": \"\u0e04\u0e25\u0e2d\u0e07\u0e40\u0e15\u0e22\",\n            \"shipping_province\": \"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23\",\n            \"shipping_zipcode\": \"10260\",\n            \"shipping_country_id\": 5,\n            \"shipping_method\": \"ss:12947\",\n            \"shipping_content\": {\n                \"price\": \"35\"\n            },\n            \"payment_method\": \"transfer\",\n            \"payment_content\": \"\",\n            \"special_req\": \"\",\n            \"currency_id\": 1,\n            \"vat_amount\": 7,\n            \"has_wholesale\": 0,\n            \"has_discount\": false,\n            \"has_super_discount\": false,\n            \"has_points_discount\": false,\n            \"has_custom_discount\": false,\n            \"has_free_shipping\": false,\n            \"has_payment_fee\": 0,\n            \"sub_total\": \"500.00\",\n            \"before_vat\": \"500.00\",\n            \"discount\": \"0.00\",\n            \"super_discount\": \"0.00\",\n            \"loyalty_points_discount\": \"0.00\",\n            \"custom_discount\": \"0.00\",\n            \"sub_total_after_discount\": \"500.00\",\n            \"vat\": \"35.00\",\n            \"shipping\": \"35.00\",\n            \"shipping_excl_vat\": \"32.71\",\n            \"original_shipping\": null,\n            \"payment_fee\": \"0.00\",\n            \"payment_fee_excl_vat\": \"0.00\",\n            \"grand_total_before_cash_discount\": \"535.00\",\n            \"grand_total\": \"535.00\",\n            \"cash_coupon_discount\": \"0.00\",\n            \"loyalty_points_discount_over_amount\": null,\n            \"cash_coupon_discount_over_amount\": null,\n            \"receive_cash\": \"0.00\",\n            \"change_cash\": \"0.00\",\n            \"vat_include\": true,\n            \"vat_document\": 1,\n            \"vat_product_incl_vat\": 1,\n            \"vat_discount_incl_vat\": 1,\n            \"vat_shipping_incl_vat\": 1,\n            \"vat_payment_incl_vat\": 1,\n            \"loyalty_points_discount_type\": \"p\",\n            \"custom_discount_type\": \"p\",\n            \"weight_total\": 7000,\n            \"order_status_id\": 4,\n            \"shipping_id\": 0,\n            \"shipping_method_real\": \"\",\n            \"shipping_ems\": \"RU861502431TH\",\n            \"shipping_ems_status\": 0,\n            \"shipping_gps\": \"\",\n            \"shipping_status\": 0,\n            \"shipping_datetime\": \"-0001-11-30 00:00:00\",\n            \"payment_id\": 0,\n            \"payment_method_real\": \"otc\",\n            \"payment_status\": true,\n            \"payment_datetime\": \"2024-05-24 14:08:00\",\n            \"stock_mgt\": 1,\n            \"stock_minus_stock\": 1,\n            \"return_order\": 0,\n            \"cancel_order\": 0,\n            \"cancel_order_notify\": 1,\n            \"cancel_order_notify_send\": 0,\n            \"custom_invoice\": 1,\n            \"ip_address\": 886845438,\n            \"note\": \"\",\n            \"admin_note\": \"\",\n            \"customer_group_id\": 0,\n            \"pos_customer_id\": 123456,\n            \"is_anonymous\": false,\n            \"is_cod\": false,\n            \"guest_id\": 935524,\n            \"is_warehouse_send\": 1,\n            \"full_order_code\": \"BTC0004756\",\n            \"full_receipt_code\": \"BTA0003542\",\n            \"invoice_url\": \"https://storename.bentoweb.com/th/invoices/7BJ71heg9hzo4MY\",\n            \"schedule_at\": null,\n            \"shipping_method_name\": \"\u0e2a\u0e48\u0e07\u0e40\u0e2d\u0e07 \u0e1b\u0e23\u0e34\",\n            \"payment_method_name\": \"OTC\",\n            \"count_order\": null,\n            \"latest_order_payment\": null,\n            \"country_name\": \"Thailand\",\n            \"shipping_country_name\": \"Thailand\",\n            \"full_name\": \"wsk mpd\",\n            \"is_paid\": true,\n            \"is_credit_term\": false,\n            \"aff_order_short\": null,\n            \"order_shopee_api\": [],\n            \"order_tik_tok_shop\": null,\n            \"shopee_api_transaction\": null,\n            \"order_lazada\": [],\n            \"order_tag\": [],\n            \"order_social\": null,\n            \"get_point\": {\n                \"lp_id\": 9543,\n                \"sl_id\": 11,\n                \"store_id\": 1234,\n                \"customer_id\": 0,\n                \"order_id\": 433582,\n                \"date_created\": \"2024-05-24 14:07:08\",\n                \"date_modified\": \"2024-05-24 14:10:08\",\n                \"date_approved\": \"-0001-11-30 00:00:00\",\n                \"points\": \"500\",\n                \"alter_type\": 1,\n                \"type\": \"order\",\n                \"approved\": 2,\n                \"note\": \"\"\n            },\n            \"sub_order\": [],\n            \"store\": {\n                \"store_id\": 1234,\n                \"date_created\": \"2012-11-15 16:27:52\",\n                \"date_modified\": \"2024-05-29 09:31:03\",\n                \"customer_id\": 123456,\n                \"subdomain\": \"storename\",\n                \"domain_host\": \"\",\n                \"domain_host_ssl\": 0,\n                \"name\": \"storename\",\n                \"short_description\": \"nail, eyelash waxing and beauty products for nail and beauty salon/spa\",\n                \"description\": \"<p>nail, eyelash waxing and beauty products&nbsp;for nail and beauty salon/spa</p>\",\n                \"email\": \"email@live.com\",\n                \"phone\": \"0844444444\",\n                \"idcard\": \"1111111111111\",\n                \"currency_id\": 1,\n                \"address_name\": \"address name\",\n                \"address_1\": \"123\",\n                \"address_2\": \"\",\n                \"sub_dist_id\": 0,\n                \"subdistrict\": \"\u0e41\u0e02\u0e27\u0e07\u0e15\u0e25\u0e32\u0e14\u0e1e\u0e25\u0e39\",\n                \"dist_id\": 0,\n                \"district\": \"\u0e18\u0e19\u0e1a\u0e38\u0e23\u0e35\",\n                \"prov_id\": 0,\n                \"province\": \"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e2f\",\n                \"zipcode\": \"10600\",\n                \"country_id\": 5,\n                \"document_address\": \"\",\n                \"post_address\": \"\",\n                \"time_zone\": \"0\",\n                \"gps\": \"\",\n                \"use_contact_email\": 1,\n                \"contact_email\": \"contact_email@live.com\",\n                \"use_contact_phone\": 1,\n                \"contact_phone\": \"0844444444\",\n                \"use_contact_facebook\": 1,\n                \"contact_facebook\": \"storename\",\n                \"use_contact_twitter\": 0,\n                \"contact_twitter\": \"\",\n                \"use_contact_google_plus\": 0,\n                \"contact_google_plus\": \"\",\n                \"use_contact_instagram\": 0,\n                \"contact_instagram\": \"\",\n                \"use_contact_pinterest\": 0,\n                \"contact_pinterest\": \"\",\n                \"use_contact_line\": 1,\n                \"contact_line\": \"@bentoweb\",\n                \"use_contact_youtube\": 0,\n                \"contact_youtube\": \"\",\n                \"use_contact_social_cam\": 0,\n                \"contact_social_cam\": \"\",\n                \"use_contact_website\": 0,\n                \"contact_website\": \"\",\n                \"order_prefix\": \"BTC\",\n                \"receipt_prefix\": \"BTA\",\n                \"email_copy_header\": 3,\n                \"use_paypal\": true,\n                \"paypal_active\": true,\n                \"paypal_merchant\": \"storename@hotmail.com\",\n                \"paypal_fee_percent\": \"0.00\",\n                \"paypal_fee\": \"50.00\",\n                \"paypal_minimum_value\": \"0.00\",\n                \"paypal_maximum_value\": null,\n                \"paypal_sandbox\": 0,\n                \"use_transfer\": true,\n                \"transfer_active\": true,\n                \"use_custom_payment\": 1,\n                \"custom_payment_active\": 1,\n                \"custom_payment_name\": \"1\",\n                \"custom_payment_fee_percent\": \"0.00\",\n                \"custom_payment_fee\": \"0.00\",\n                \"custom_payment_minimum_value\": \"0.00\",\n                \"custom_payment_maximum_value\": null,\n                \"cash\": 0,\n                \"google_analytic\": [],\n                \"facebook_conversion\": null,\n                \"facebook_audience\": \"[\\\"123456789\\\",\\\"987654321\\\"]\",\n                \"zopim_chat\": \"\",\n                \"google_remarketing\": \"\",\n                \"google_conversion_label\": \"[]\",\n                \"gtm\": null,\n                \"dbd_code_active\": false,\n                \"dbd_code\": \"\",\n                \"metatag\": \"[{\\\"name\\\":\\\"google-site-verification\\\",\\\"content\\\":\\\"123456789456123\\\"}]\",\n                \"shipping_method\": \"{\\\"ems\\\":{\\\"check\\\":true,\\\"type\\\":\\\"fixed\\\",\\\"price\\\":55},\\\"registered\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"},\\\"unregistered\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"},\\\"delivery\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"},\\\"pickup\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"}}\",\n                \"sms_tracking_active\": false,\n                \"sms_store_name\": \"storename\",\n                \"stock_mgt\": true,\n                \"stock_show_num\": 1,\n                \"stock_minus_stock\": 1,\n                \"stock_hide_product\": 0,\n                \"return_order\": 0,\n                \"cart_not_checkout\": 1,\n                \"cancel_order\": 0,\n                \"cancel_order_notify\": 1,\n                \"policy\": \"\",\n                \"langs\": \"th\",\n                \"enable_multi_langs\": true,\n                \"vat\": 1,\n                \"vat_document\": 1,\n                \"corporate\": 1,\n                \"vat_type\": \"\",\n                \"tax_id\": \"1101500217554\",\n                \"vat_amount\": 7,\n                \"vat_product_incl_vat\": 1,\n                \"vat_discount_incl_vat\": 1,\n                \"vat_shipping_incl_vat\": 1,\n                \"vat_payment_incl_vat\": 1,\n                \"loyalty_points_discount_type\": \"p\",\n                \"custom_discount_type\": \"p\",\n                \"has_receipt_print_label\": false,\n                \"show_phone_on_label\": false,\n                \"has_receipt_pro\": true,\n                \"receipt_pro_txt\": \"\",\n                \"receipt_pro_img\": \"store-1234/store/receipt_pro_img/38096952-1966-8334-0f5b-63fdc0df9418.jpg\",\n                \"receipt_pro_thumb\": \"store-1234/store/receipt_pro_thumb/416ea623-fe04-6c4d-bb36-63fdc0cdd0ec.jpg\",\n                \"image\": \"\",\n                \"thumb\": \"store-1234/store/589bb5d8-eb5a-9d4c-5529-63fdc0c0f774.jpg\",\n                \"square_image\": \"store-1234/store/6f4999cd-fd1f-6c93-b515-6412ee19cd6d.jpg\",\n                \"paypal_image\": \"store-1234/store/a09f8f9b-bc08-1836-6168-5d9e8e5b7cb6.jpg\",\n                \"fb_image\": \"\",\n                \"fb_thumb\": \"\",\n                \"favicon\": \"store-1234/store/9a01cc4e-1cf9-b874-10b2-5b7e6b2255ca.jpg\",\n                \"og_img\": \"\",\n                \"blog_active\": 1,\n                \"all_blog_cat_name\": \"999999\",\n                \"all_blog_cat_description\": \"ascsa\",\n                \"agreement\": 1,\n                \"newsletter\": 1,\n                \"aff_customer_id\": 0,\n                \"has_hashtag\": 1,\n                \"auto_ems\": 0,\n                \"ems_type_id\": 2,\n                \"active\": 1,\n                \"blocked\": 0,\n                \"partner_id\": 0,\n                \"shipping_comment\": \"\",\n                \"special_active\": 0,\n                \"static_map\": \"store-1234/store/static_map/8487245f-44a9-61ca-bfda-63fdcd0dc91e.png\",\n                \"google_api_key\": \"\",\n                \"dia_setting_id\": \"\",\n                \"business_manager_id\": \"\",\n                \"facebook_catalog_id\": \"\",\n                \"facebook_page_id\": \"\",\n                \"facebook_page_token\": \"\",\n                \"facebook_chat_theme_color\": \"#44bec7\",\n                \"facebook_chat_logged_in_greeting\": \"test\",\n                \"facebook_chat_logged_out_greeting\": \"test bye\",\n                \"facebook_chat_locale\": \"th\",\n                \"is_messenger_chat_plugin_enabled\": 1,\n                \"pixel_use_pii\": 1,\n                \"google_category_id\": 5457,\n                \"catalog_mode\": 0,\n                \"catalog_hidden_price\": 1,\n                \"privacy_policy\": \"\",\n                \"run_social_contact\": 0,\n                \"subdomain_url\": \"https://storename.bentoweb.com/\",\n                \"store_social_email_contact\": null,\n                \"store_social_phone_contact\": null\n            },\n            \"order_additional_data\": {\n                \"order_id\": 433582,\n                \"created_at\": \"2024-05-24 14:07:08\",\n                \"updated_at\": \"2024-05-24 14:07:08\",\n                \"deleted_at\": null,\n                \"fbc\": null,\n                \"fbp\": null,\n                \"ip_address\": \"52.220.47.254\",\n                \"facebook_sent\": 0,\n                \"event_source_url\": \"https://storename.bentoweb.com/th/invoices/7BJ71heg9hzO4MY\",\n                \"client_user_agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36\",\n                \"event_name\": \"Purchase\",\n                \"schedule_at\": null,\n                \"fco_gc_id\": null,\n                \"radars_point_affiliate\": null,\n                \"is_easyship\": false,\n                \"is_paid_easyship\": false,\n                \"btw_referrer\": null\n            },\n            \"order_item\": [\n                {\n                    \"order_item_id\": 545292,\n                    \"order_id\": 433582,\n                    \"product_variant_id\": 742846,\n                    \"product_id\": 70713,\n                    \"category_id\": 9354,\n                    \"name\": \"\u0e21\u0e35\u0e42\u0e2d \u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e41\u0e21\u0e27 \u0e23\u0e2a\u0e1b\u0e25\u0e32\u0e17\u0e39 7 \u0e01\u0e01.\",\n                    \"pv_name\": \"4258977014-1668472625960-0\",\n                    \"category_name\": \"\",\n                    \"sku\": \"4258977014-1668472625960-0\",\n                    \"qty\": 1,\n                    \"price\": 500,\n                    \"total\": 500,\n                    \"weight\": 7000,\n                    \"has_wholesale\": false,\n                    \"wholesale_qty\": \"1\",\n                    \"wholesale_price\": \"500.00\",\n                    \"wholesale_subtotal\": \"500.00\",\n                    \"loyalty_points\": \"0\",\n                    \"seq\": 1,\n                    \"customer_group_id\": 0,\n                    \"original_price\": \"500.00\",\n                    \"cost\": null,\n                    \"unit\": null,\n                    \"is_product_set_main\": false,\n                    \"is_product_set_child\": false,\n                    \"from_product_set_oi_id\": null,\n                    \"from_product_set_pv_id\": null,\n                    \"length\": \"30.00\",\n                    \"width\": \"100.00\",\n                    \"height\": \"150.00\",\n                    \"barcode\": \"BTW0000000742846\",\n                    \"product\": {\n                        \"product_id\": 70713,\n                        \"date_created\": \"2023-01-03 17:45:53\",\n                        \"date_modified\": \"2023-06-02 10:05:18\",\n                        \"stock_modified\": \"2024-05-24 14:10:08\",\n                        \"ping_datetime\": \"2023-03-21 11:06:45\",\n                        \"store_id\": 1234,\n                        \"type\": 1,\n                        \"name\": \"\u0e21\u0e35\u0e42\u0e2d \u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e41\u0e21\u0e27 \u0e23\u0e2a\u0e1b\u0e25\u0e32\u0e17\u0e39 7 \u0e01\u0e01.\",\n                        \"description\": \"<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">\u0e21\u0e35\u0e42\u0e2d \u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e41\u0e21\u0e27 \u0e23\u0e2a\u0e1b\u0e25\u0e32\u0e17\u0e39 7 \u0e01\u0e01. \u0e1c\u0e25\u0e34\u0e15\u0e08\u0e32\u0e01\u0e1b\u0e25\u0e32\u0e04\u0e38\u0e13\u0e20\u0e32\u0e1e\u0e17\u0e35\u0e48\u0e04\u0e31\u0e14\u0e2a\u0e23\u0e23\u0e21\u0e32\u0e2d\u0e22\u0e48\u0e32\u0e07\u0e14\u0e35 \u0e1c\u0e48\u0e32\u0e19\u0e01\u0e23\u0e30\u0e1a\u0e27\u0e19\u0e1b\u0e23\u0e38\u0e07\u0e2d\u0e22\u0e48\u0e32\u0e07\u0e1e\u0e34\u0e16\u0e35\u0e1e\u0e34\u0e16\u0e31\u0e19 \u0e2d\u0e38\u0e14\u0e21\u0e44\u0e1b\u0e14\u0e49\u0e27\u0e22\u0e04\u0e38\u0e13\u0e04\u0e48\u0e32\u0e2a\u0e32\u0e23\u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e17\u0e35\u0e48\u0e08\u0e33\u0e40\u0e1b\u0e47\u0e19\u0e17\u0e35\u0e48\u0e41\u0e21\u0e27\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e15\u0e49\u0e2d\u0e07\u0e01\u0e32\u0e23 \u0e40\u0e1e\u0e37\u0e48\u0e2d\u0e2a\u0e38\u0e02\u0e20\u0e32\u0e1e\u0e17\u0e35\u0e48\u0e14\u0e35 \u0e41\u0e25\u0e30\u0e02\u0e19\u0e2a\u0e27\u0e22\u0e40\u0e07\u0e32\u0e07\u0e32\u0e21 \u0e1e\u0e23\u0e49\u0e2d\u0e21\u0e04\u0e27\u0e32\u0e21\u0e2d\u0e23\u0e48\u0e2d\u0e22\u0e17\u0e35\u0e48\u0e41\u0e21\u0e27\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e15\u0e49\u0e2d\u0e07\u0e01\u0e32\u0e23&nbsp;</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\">&nbsp;</p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">- \u0e1c\u0e25\u0e34\u0e15\u0e08\u0e32\u0e01\u0e1b\u0e25\u0e32</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">- \u0e2a\u0e32\u0e23\u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e04\u0e23\u0e1a\u0e16\u0e49\u0e27\u0e19</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">- \u0e04\u0e27\u0e23\u0e17\u0e32\u0e19\u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e40\u0e1b\u0e47\u0e19\u0e40\u0e27\u0e25\u0e32</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\">&nbsp;</p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">*\u0e20\u0e32\u0e1e\u0e1b\u0e23\u0e30\u0e01\u0e2d\u0e1a\u0e43\u0e0a\u0e49\u0e40\u0e1e\u0e37\u0e48\u0e2d\u0e01\u0e32\u0e23\u0e42\u0e06\u0e29\u0e13\u0e32\u0e40\u0e17\u0e48\u0e32\u0e19\u0e31\u0e49\u0e19</span></p>\",\n                        \"prepend_description_id\": 21,\n                        \"append_description_id\": 30,\n                        \"meta_keyword\": \"\",\n                        \"meta_description\": \"\",\n                        \"seo_url\": \"product-70713\",\n                        \"short_url\": \"\",\n                        \"price\": 500,\n                        \"label\": \"\",\n                        \"length\": 30,\n                        \"width\": 100,\n                        \"height\": 150,\n                        \"length_class_id\": 0,\n                        \"weight\": 7000,\n                        \"override_loyalty\": false,\n                        \"loyalty_points\": 0,\n                        \"remain_stock\": 435,\n                        \"seq\": 46,\n                        \"added_to_es\": 1,\n                        \"copy_product_id\": 0,\n                        \"active\": true,\n                        \"deleted\": 0,\n                        \"brand_id\": 0,\n                        \"product_attribute\": null,\n                        \"shipping_method\": null,\n                        \"activate_category_attribute\": 0\n                    }\n                }\n            ],\n            \"currency\": {\n                \"currency_id\": 1,\n                \"date_created\": \"2013-02-20 14:00:00\",\n                \"date_modified\": \"2013-02-20 14:00:00\",\n                \"name\": \"Thai Baht\",\n                \"iso4217\": \"THB\",\n                \"num\": \"764\",\n                \"symbol\": \"\u0e3f\",\n                \"symbol_left\": \"\u0e3f \",\n                \"symbol_right\": \"\",\n                \"decimal_place\": \"2\",\n                \"active\": true\n            },\n            \"order_attachment\": null,\n            \"order_billing\": null,\n            \"discount_obj\": null,\n            \"country\": {\n                \"country_id\": 5,\n                \"date_created\": \"2012-04-25 10:50:00\",\n                \"date_modified\": \"2012-04-26 10:06:33\",\n                \"country_name\": \"Thailand\",\n                \"country_short_name\": \"TH\",\n                \"country_code\": \"66\",\n                \"flag\": \"img/country_flag/th.png\",\n                \"weight_limit\": 20000,\n                \"zone_id\": 7,\n                \"active\": 1\n            },\n            \"shipping_country\": {\n                \"country_id\": 5,\n                \"date_created\": \"2012-04-25 10:50:00\",\n                \"date_modified\": \"2012-04-26 10:06:33\",\n                \"country_name\": \"Thailand\",\n                \"country_short_name\": \"TH\",\n                \"country_code\": \"66\",\n                \"flag\": \"img/country_flag/th.png\",\n                \"weight_limit\": 20000,\n                \"zone_id\": 7,\n                \"active\": 1\n            }\n        }\n    }\n}\n"
              }
            }
          }
        }
      }
    },
    "/order/sub-order/{order_id}": {
      "get": {
        "summary": "Get sub order data",
        "description": "Get sub order data",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Order ID"
          },
          {
            "in": "query",
            "name": "store_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Store ID"
          }
        ],
        "responses": {
          "200": {
            "description": "status 1 = OK, status 0 = Error",
            "content": {
              "application/json": {
                "example": "{\n    \"status\": 1,\n    \"data\": {\n        \"sub_orders\": [\n            {\n                \"sub_order_id\": 287,\n                \"order_id\": 431335,\n                \"seq\": 1,\n                \"shipping_method\": \"ss:13688\",\n                \"shipping_status\": 0,\n                \"ready_to_ship\": 1,\n                \"shipping_ems\": \"\",\n                \"shipping_ems_status\": 0,\n                \"shipping_datetime\": null,\n                \"shipping_id\": 0,\n                \"created_at\": \"2022-10-14 10:52:53\",\n                \"updated_at\": \"2022-10-14 10:53:46\",\n                \"deleted_at\": null,\n                \"log_data\": null,\n                \"cod_amount\": \"0.00\",\n                \"lazada_shipping_label\": null,\n                \"lazada_invoice_label\": null,\n                \"order_status_id\": 3,\n                \"is_easyship\": false,\n                \"is_paid_easyship\": false,\n                \"sub_order_item\": [\n                    {\n                        \"sub_order_item_id\": 265,\n                        \"sub_order_id\": 287,\n                        \"order_item_id\": 542179,\n                        \"qty\": 1,\n                        \"created_at\": \"2022-10-14 10:53:04\",\n                        \"updated_at\": \"2022-10-14 10:53:04\",\n                        \"deleted_at\": null,\n                        \"order_item\": {\n                            \"order_item_id\": 542179,\n                            \"order_id\": 431335,\n                            \"product_variant_id\": 75955,\n                            \"product_id\": 49157,\n                            \"category_id\": 0,\n                            \"name\": \"Gambas Shrimp\",\n                            \"pv_name\": \"\u0e18\u0e23\u0e23\u0e21\u0e14\u0e32\",\n                            \"category_name\": \"\",\n                            \"sku\": \"ALBUMYGVER4\",\n                            \"qty\": 1,\n                            \"price\": 280,\n                            \"total\": 280,\n                            \"weight\": 100,\n                            \"has_wholesale\": false,\n                            \"wholesale_qty\": \"0\",\n                            \"wholesale_price\": \"0.00\",\n                            \"wholesale_subtotal\": \"0.00\",\n                            \"loyalty_points\": \"0\",\n                            \"seq\": 2,\n                            \"customer_group_id\": 0,\n                            \"original_price\": \"0.00\",\n                            \"cost\": \"0.00\",\n                            \"unit\": null,\n                            \"is_product_set_main\": false,\n                            \"is_product_set_child\": true,\n                            \"from_product_set_oi_id\": 542178,\n                            \"from_product_set_pv_id\": 85738,\n                            \"length\": \"0.00\",\n                            \"width\": \"0.00\",\n                            \"height\": \"0.00\",\n                            \"product\": {\n                                \"product_id\": 49157,\n                                \"date_created\": \"2020-05-22 12:59:37\",\n                                \"date_modified\": \"2024-03-07 08:41:48\",\n                                \"stock_modified\": \"2023-11-23 12:27:26\",\n                                \"ping_datetime\": \"2020-05-22 13:07:52\",\n                                \"store_id\": 1234,\n                                \"type\": 1,\n                                \"name\": \"Gambas Shrimp\",\n                                \"description\": \"\",\n                                \"prepend_description_id\": null,\n                                \"append_description_id\": null,\n                                \"meta_keyword\": \"\",\n                                \"meta_description\": \"\",\n                                \"seo_url\": \"product-49157\",\n                                \"short_url\": \"\",\n                                \"price\": 280,\n                                \"label\": \"\",\n                                \"length\": 0,\n                                \"width\": 0,\n                                \"height\": 0,\n                                \"length_class_id\": 0,\n                                \"weight\": 100,\n                                \"override_loyalty\": false,\n                                \"loyalty_points\": 0,\n                                \"remain_stock\": 10800,\n                                \"seq\": 403,\n                                \"added_to_es\": 1,\n                                \"copy_product_id\": 0,\n                                \"active\": true,\n                                \"deleted\": 0,\n                                \"brand_id\": 0,\n                                \"product_attribute\": null,\n                                \"shipping_method\": [\n                                    \"ss:13688\"\n                                ],\n                                \"activate_category_attribute\": 1\n                            }\n                        }\n                    }\n                ],\n                \"order\": {\n                    \"order_id\": 431335,\n                    \"date_created\": \"2022-10-12 19:20:01\",\n                    \"date_modified\": \"2022-10-12 19:20:19\",\n                    \"date_cancelled\": \"-0001-11-30 00:00:00\",\n                    \"receipt_datetime\": \"2022-10-12 19:20:17\",\n                    \"ref_code\": \"Q6iWwyYu5X61234\",\n                    \"langs\": \"th\",\n                    \"store_id\": 1234,\n                    \"fb_store_id\": 0,\n                    \"customer_id\": 40,\n                    \"discount_id\": 0,\n                    \"order_from\": 6,\n                    \"firstname\": \"firstname\",\n                    \"lastname\": \"lastname\",\n                    \"email\": \"email@gmail.com\",\n                    \"phone\": \"0844444444\",\n                    \"idcard\": \"1111111111\",\n                    \"country_id\": 5,\n                    \"shipping_firstname\": \"shipping_firstname\",\n                    \"shipping_lastname\": \"shipping_lastname\",\n                    \"shipping_email\": \"shipping_email@gmail.com\",\n                    \"shipping_phone\": \"0844444444\",\n                    \"shipping_address_1\": \"1234\",\n                    \"shipping_address_2\": \"shipping_address_2\",\n                    \"shipping_subdistrict\": \"\u0e1a\u0e32\u0e07\u0e42\u0e1e\u0e07\u0e1e\u0e32\u0e07\",\n                    \"shipping_district\": \"\u0e22\u0e32\u0e19\u0e19\u0e32\u0e27\u0e32\",\n                    \"shipping_province\": \"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23\",\n                    \"shipping_zipcode\": \"10120\",\n                    \"shipping_country_id\": 5,\n                    \"shipping_method\": \"ss:13688\",\n                    \"shipping_content\": {\n                        \"price\": \"50\"\n                    },\n                    \"payment_method\": \"transfer\",\n                    \"payment_content\": \"\",\n                    \"special_req\": \"\",\n                    \"currency_id\": 1,\n                    \"vat_amount\": 7,\n                    \"has_wholesale\": 0,\n                    \"has_discount\": false,\n                    \"has_super_discount\": true,\n                    \"has_points_discount\": false,\n                    \"has_custom_discount\": false,\n                    \"has_free_shipping\": false,\n                    \"has_payment_fee\": 0,\n                    \"sub_total\": \"1100.00\",\n                    \"before_vat\": \"1064.49\",\n                    \"discount\": \"0.00\",\n                    \"super_discount\": \"11.00\",\n                    \"loyalty_points_discount\": \"0.00\",\n                    \"custom_discount\": \"0.00\",\n                    \"sub_total_after_discount\": \"0.00\",\n                    \"vat\": \"74.51\",\n                    \"shipping\": \"50.00\",\n                    \"shipping_excl_vat\": \"0.00\",\n                    \"original_shipping\": null,\n                    \"payment_fee\": \"0.00\",\n                    \"payment_fee_excl_vat\": \"0.00\",\n                    \"grand_total_before_cash_discount\": \"0.00\",\n                    \"grand_total\": \"1139.00\",\n                    \"cash_coupon_discount\": \"0.00\",\n                    \"loyalty_points_discount_over_amount\": null,\n                    \"cash_coupon_discount_over_amount\": null,\n                    \"receive_cash\": \"0.00\",\n                    \"change_cash\": \"0.00\",\n                    \"vat_include\": true,\n                    \"vat_document\": 1,\n                    \"vat_product_incl_vat\": 1,\n                    \"vat_discount_incl_vat\": 1,\n                    \"vat_shipping_incl_vat\": 1,\n                    \"vat_payment_incl_vat\": 1,\n                    \"loyalty_points_discount_type\": \"p\",\n                    \"custom_discount_type\": \"p\",\n                    \"weight_total\": 0,\n                    \"order_status_id\": 3,\n                    \"shipping_id\": 0,\n                    \"shipping_method_real\": \"\",\n                    \"shipping_ems\": \"EY91234121TH\",\n                    \"shipping_ems_status\": 0,\n                    \"shipping_gps\": \"13.000000,100.000000\",\n                    \"shipping_status\": 0,\n                    \"shipping_datetime\": \"-0001-11-30 00:00:00\",\n                    \"payment_id\": 0,\n                    \"payment_method_real\": \"otc\",\n                    \"payment_status\": true,\n                    \"payment_datetime\": \"2022-10-12 19:20:13\",\n                    \"stock_mgt\": 1,\n                    \"stock_minus_stock\": 1,\n                    \"return_order\": 0,\n                    \"cancel_order\": 4,\n                    \"cancel_order_notify\": 1,\n                    \"cancel_order_notify_send\": 0,\n                    \"custom_invoice\": 1,\n                    \"ip_address\": 886845438,\n                    \"note\": \"\",\n                    \"admin_note\": \"\",\n                    \"customer_group_id\": 64,\n                    \"pos_customer_id\": 40,\n                    \"is_anonymous\": false,\n                    \"is_cod\": false,\n                    \"guest_id\": 0,\n                    \"is_warehouse_send\": 1,\n                    \"country_name\": \"Thailand\",\n                    \"shipping_country_name\": \"Thailand\",\n                    \"full_name\": \"full_name\",\n                    \"is_paid\": true,\n                    \"is_credit_term\": false,\n                    \"country\": {\n                        \"country_id\": 5,\n                        \"date_created\": \"2012-04-25 10:50:00\",\n                        \"date_modified\": \"2012-04-26 10:06:33\",\n                        \"country_name\": \"Thailand\",\n                        \"country_short_name\": \"TH\",\n                        \"country_code\": \"66\",\n                        \"flag\": \"img/country_flag/th.png\",\n                        \"weight_limit\": 20000,\n                        \"zone_id\": 7,\n                        \"active\": 1\n                    },\n                    \"shipping_country\": {\n                        \"country_id\": 5,\n                        \"date_created\": \"2012-04-25 10:50:00\",\n                        \"date_modified\": \"2012-04-26 10:06:33\",\n                        \"country_name\": \"Thailand\",\n                        \"country_short_name\": \"TH\",\n                        \"country_code\": \"66\",\n                        \"flag\": \"img/country_flag/th.png\",\n                        \"weight_limit\": 20000,\n                        \"zone_id\": 7,\n                        \"active\": 1\n                    }\n                }\n            },\n            {\n                \"sub_order_id\": 288,\n                \"order_id\": 431335,\n                \"seq\": 2,\n                \"shipping_method\": \"ss:13688\",\n                \"shipping_status\": 1,\n                \"ready_to_ship\": 1,\n                \"shipping_ems\": \"EY925521234TH\",\n                \"shipping_ems_status\": 2,\n                \"shipping_datetime\": \"2022-10-14 10:53:00\",\n                \"shipping_id\": 468098,\n                \"created_at\": \"2022-10-14 10:52:53\",\n                \"updated_at\": \"2022-10-14 10:54:19\",\n                \"deleted_at\": null,\n                \"log_data\": null,\n                \"cod_amount\": \"0.00\",\n                \"lazada_shipping_label\": null,\n                \"lazada_invoice_label\": null,\n                \"order_status_id\": 3,\n                \"is_easyship\": false,\n                \"is_paid_easyship\": false,\n                \"sub_order_item\": [\n                    {\n                        \"sub_order_item_id\": 266,\n                        \"sub_order_id\": 288,\n                        \"order_item_id\": 542180,\n                        \"qty\": 1,\n                        \"created_at\": \"2022-10-14 10:53:38\",\n                        \"updated_at\": \"2022-10-14 10:53:38\",\n                        \"deleted_at\": null,\n                        \"order_item\": {\n                            \"order_item_id\": 542180,\n                            \"order_id\": 431335,\n                            \"product_variant_id\": 75963,\n                            \"product_id\": 49149,\n                            \"category_id\": 0,\n                            \"name\": \"Ribseye roasted beef\",\n                            \"pv_name\": \"Size 350 g\",\n                            \"category_name\": \"\",\n                            \"sku\": \"10030102\",\n                            \"qty\": 1,\n                            \"price\": 880,\n                            \"total\": 880,\n                            \"weight\": 0,\n                            \"has_wholesale\": false,\n                            \"wholesale_qty\": \"0\",\n                            \"wholesale_price\": \"0.00\",\n                            \"wholesale_subtotal\": \"0.00\",\n                            \"loyalty_points\": \"0\",\n                            \"seq\": 3,\n                            \"customer_group_id\": 0,\n                            \"original_price\": \"0.00\",\n                            \"cost\": \"0.00\",\n                            \"unit\": null,\n                            \"is_product_set_main\": false,\n                            \"is_product_set_child\": true,\n                            \"from_product_set_oi_id\": 542178,\n                            \"from_product_set_pv_id\": 85738,\n                            \"length\": \"0.00\",\n                            \"width\": \"0.00\",\n                            \"height\": \"0.00\",\n                            \"product\": {\n                                \"product_id\": 49149,\n                                \"date_created\": \"2020-05-22 12:54:10\",\n                                \"date_modified\": \"2024-03-12 14:37:27\",\n                                \"stock_modified\": \"2023-11-13 11:51:38\",\n                                \"ping_datetime\": \"2024-03-08 15:08:52\",\n                                \"store_id\": 1234,\n                                \"type\": 1,\n                                \"name\": \"Ribseye roasted beef\",\n                                \"description\": \"\",\n                                \"prepend_description_id\": null,\n                                \"append_description_id\": null,\n                                \"meta_keyword\": \"\",\n                                \"meta_description\": \"\",\n                                \"seo_url\": \"product-49149\",\n                                \"short_url\": \"\",\n                                \"price\": 630,\n                                \"label\": \"\",\n                                \"length\": 0,\n                                \"width\": 0,\n                                \"height\": 0,\n                                \"length_class_id\": 0,\n                                \"weight\": 0,\n                                \"override_loyalty\": false,\n                                \"loyalty_points\": 0,\n                                \"remain_stock\": 1942,\n                                \"seq\": 411,\n                                \"added_to_es\": 1,\n                                \"copy_product_id\": 0,\n                                \"active\": true,\n                                \"deleted\": 0,\n                                \"brand_id\": 0,\n                                \"product_attribute\": null,\n                                \"shipping_method\": null,\n                                \"activate_category_attribute\": 1\n                            }\n                        }\n                    }\n                ],\n                \"order\": {\n                    \"order_id\": 431335,\n                    \"date_created\": \"2022-10-12 19:20:01\",\n                    \"date_modified\": \"2022-10-12 19:20:19\",\n                    \"date_cancelled\": \"-0001-11-30 00:00:00\",\n                    \"receipt_datetime\": \"2022-10-12 19:20:17\",\n                    \"ref_code\": \"Q6i123Yu5X159Tc\",\n                    \"langs\": \"th\",\n                    \"store_id\": 1234,\n                    \"fb_store_id\": 0,\n                    \"customer_id\": 40,\n                    \"discount_id\": 0,\n                    \"order_from\": 6,\n                    \"firstname\": \"firstname\",\n                    \"lastname\": \"lastname\",\n                    \"email\": \"email@gmail.com\",\n                    \"phone\": \"0844444444\",\n                    \"idcard\": \"1111111111\",\n                    \"country_id\": 5,\n                    \"shipping_firstname\": \"shipping_firstname\",\n                    \"shipping_lastname\": \"shipping_lastname\",\n                    \"shipping_email\": \"shipping_email@gmail.com\",\n                    \"shipping_phone\": \"0844444444\",\n                    \"shipping_address_1\": \"1234\",\n                    \"shipping_address_2\": \"shipping_address_2\",\n                    \"shipping_subdistrict\": \"\u0e1a\u0e32\u0e07\u0e42\u0e1e\u0e07\u0e1e\u0e32\u0e07\",\n                    \"shipping_district\": \"\u0e22\u0e32\u0e19\u0e19\u0e32\u0e27\u0e32\",\n                    \"shipping_province\": \"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23\",\n                    \"shipping_zipcode\": \"10120\",\n                    \"shipping_country_id\": 5,\n                    \"shipping_method\": \"ss:13688\",\n                    \"shipping_content\": {\n                        \"price\": \"50\"\n                    },\n                    \"payment_method\": \"transfer\",\n                    \"payment_content\": \"\",\n                    \"special_req\": \"\",\n                    \"currency_id\": 1,\n                    \"vat_amount\": 7,\n                    \"has_wholesale\": 0,\n                    \"has_discount\": false,\n                    \"has_super_discount\": true,\n                    \"has_points_discount\": false,\n                    \"has_custom_discount\": false,\n                    \"has_free_shipping\": false,\n                    \"has_payment_fee\": 0,\n                    \"sub_total\": \"1100.00\",\n                    \"before_vat\": \"1064.49\",\n                    \"discount\": \"0.00\",\n                    \"super_discount\": \"11.00\",\n                    \"loyalty_points_discount\": \"0.00\",\n                    \"custom_discount\": \"0.00\",\n                    \"sub_total_after_discount\": \"0.00\",\n                    \"vat\": \"74.51\",\n                    \"shipping\": \"50.00\",\n                    \"shipping_excl_vat\": \"0.00\",\n                    \"original_shipping\": null,\n                    \"payment_fee\": \"0.00\",\n                    \"payment_fee_excl_vat\": \"0.00\",\n                    \"grand_total_before_cash_discount\": \"0.00\",\n                    \"grand_total\": \"1139.00\",\n                    \"cash_coupon_discount\": \"0.00\",\n                    \"loyalty_points_discount_over_amount\": null,\n                    \"cash_coupon_discount_over_amount\": null,\n                    \"receive_cash\": \"0.00\",\n                    \"change_cash\": \"0.00\",\n                    \"vat_include\": true,\n                    \"vat_document\": 1,\n                    \"vat_product_incl_vat\": 1,\n                    \"vat_discount_incl_vat\": 1,\n                    \"vat_shipping_incl_vat\": 1,\n                    \"vat_payment_incl_vat\": 1,\n                    \"loyalty_points_discount_type\": \"p\",\n                    \"custom_discount_type\": \"p\",\n                    \"weight_total\": 0,\n                    \"order_status_id\": 3,\n                    \"shipping_id\": 0,\n                    \"shipping_method_real\": \"\",\n                    \"shipping_ems\": \"EY925522123TH\",\n                    \"shipping_ems_status\": 0,\n                    \"shipping_gps\": \"13.000000,100.000000\",\n                    \"shipping_status\": 0,\n                    \"shipping_datetime\": \"-0001-11-30 00:00:00\",\n                    \"payment_id\": 0,\n                    \"payment_method_real\": \"otc\",\n                    \"payment_status\": true,\n                    \"payment_datetime\": \"2022-10-12 19:20:13\",\n                    \"stock_mgt\": 1,\n                    \"stock_minus_stock\": 1,\n                    \"return_order\": 0,\n                    \"cancel_order\": 4,\n                    \"cancel_order_notify\": 1,\n                    \"cancel_order_notify_send\": 0,\n                    \"custom_invoice\": 1,\n                    \"ip_address\": 886845438,\n                    \"note\": \"\",\n                    \"admin_note\": \"\",\n                    \"customer_group_id\": 64,\n                    \"pos_customer_id\": 40,\n                    \"is_anonymous\": false,\n                    \"is_cod\": false,\n                    \"guest_id\": 0,\n                    \"is_warehouse_send\": 1,\n                    \"country_name\": \"Thailand\",\n                    \"shipping_country_name\": \"Thailand\",\n                    \"full_name\": \"full_name\",\n                    \"is_paid\": true,\n                    \"is_credit_term\": false,\n                    \"country\": {\n                        \"country_id\": 5,\n                        \"date_created\": \"2012-04-25 10:50:00\",\n                        \"date_modified\": \"2012-04-26 10:06:33\",\n                        \"country_name\": \"Thailand\",\n                        \"country_short_name\": \"TH\",\n                        \"country_code\": \"66\",\n                        \"flag\": \"img/country_flag/th.png\",\n                        \"weight_limit\": 20000,\n                        \"zone_id\": 7,\n                        \"active\": 1\n                    },\n                    \"shipping_country\": {\n                        \"country_id\": 5,\n                        \"date_created\": \"2012-04-25 10:50:00\",\n                        \"date_modified\": \"2012-04-26 10:06:33\",\n                        \"country_name\": \"Thailand\",\n                        \"country_short_name\": \"TH\",\n                        \"country_code\": \"66\",\n                        \"flag\": \"img/country_flag/th.png\",\n                        \"weight_limit\": 20000,\n                        \"zone_id\": 7,\n                        \"active\": 1\n                    }\n                }\n            },\n            {\n                \"sub_order_id\": 289,\n                \"order_id\": 431335,\n                \"seq\": 3,\n                \"shipping_method\": \"ss:13688\",\n                \"shipping_status\": 0,\n                \"ready_to_ship\": 1,\n                \"shipping_ems\": \"\",\n                \"shipping_ems_status\": 0,\n                \"shipping_datetime\": null,\n                \"shipping_id\": 0,\n                \"created_at\": \"2022-10-14 10:53:32\",\n                \"updated_at\": \"2022-10-14 10:53:52\",\n                \"deleted_at\": null,\n                \"log_data\": null,\n                \"cod_amount\": \"0.00\",\n                \"lazada_shipping_label\": null,\n                \"lazada_invoice_label\": null,\n                \"order_status_id\": 3,\n                \"is_easyship\": false,\n                \"is_paid_easyship\": false,\n                \"sub_order_item\": [\n                    {\n                        \"sub_order_item_id\": 267,\n                        \"sub_order_id\": 289,\n                        \"order_item_id\": 542181,\n                        \"qty\": 1,\n                        \"created_at\": \"2022-10-14 10:53:42\",\n                        \"updated_at\": \"2022-10-14 10:53:42\",\n                        \"deleted_at\": null,\n                        \"order_item\": {\n                            \"order_item_id\": 542181,\n                            \"order_id\": 431335,\n                            \"product_variant_id\": 75961,\n                            \"product_id\": 49161,\n                            \"category_id\": 17413,\n                            \"name\": \"Pork bulgogi with rice\",\n                            \"pv_name\": \"\u0e18\u0e23\u0e23\u0e21\u0e14\u0e32\",\n                            \"category_name\": \"\",\n                            \"sku\": \"KP-101\",\n                            \"qty\": 1,\n                            \"price\": 0,\n                            \"total\": 0,\n                            \"weight\": 0,\n                            \"has_wholesale\": false,\n                            \"wholesale_qty\": \"0\",\n                            \"wholesale_price\": \"0.00\",\n                            \"wholesale_subtotal\": \"0.00\",\n                            \"loyalty_points\": \"0\",\n                            \"seq\": 4,\n                            \"customer_group_id\": 0,\n                            \"original_price\": \"160.00\",\n                            \"cost\": \"0.00\",\n                            \"unit\": null,\n                            \"is_product_set_main\": false,\n                            \"is_product_set_child\": false,\n                            \"from_product_set_oi_id\": null,\n                            \"from_product_set_pv_id\": null,\n                            \"length\": \"0.00\",\n                            \"width\": \"0.00\",\n                            \"height\": \"0.00\",\n                            \"product\": {\n                                \"product_id\": 49161,\n                                \"date_created\": \"2020-05-22 13:13:37\",\n                                \"date_modified\": \"2022-07-26 11:49:33\",\n                                \"stock_modified\": \"2022-12-01 12:24:21\",\n                                \"ping_datetime\": \"2020-09-17 10:28:29\",\n                                \"store_id\": 1234,\n                                \"type\": 1,\n                                \"name\": \"Pork bulgogi with rice\",\n                                \"description\": \"\",\n                                \"prepend_description_id\": null,\n                                \"append_description_id\": null,\n                                \"meta_keyword\": \"\",\n                                \"meta_description\": \"\",\n                                \"seo_url\": \"product-49161\",\n                                \"short_url\": \"\",\n                                \"price\": 160,\n                                \"label\": \"\",\n                                \"length\": 0,\n                                \"width\": 0,\n                                \"height\": 0,\n                                \"length_class_id\": 0,\n                                \"weight\": 0,\n                                \"override_loyalty\": false,\n                                \"loyalty_points\": 0,\n                                \"remain_stock\": 0,\n                                \"seq\": 399,\n                                \"added_to_es\": 1,\n                                \"copy_product_id\": 0,\n                                \"active\": true,\n                                \"deleted\": 0,\n                                \"brand_id\": 0,\n                                \"product_attribute\": null,\n                                \"shipping_method\": null,\n                                \"activate_category_attribute\": 0\n                            }\n                        }\n                    }\n                ],\n                \"order\": {\n                    \"order_id\": 431335,\n                    \"date_created\": \"2022-10-12 19:20:01\",\n                    \"date_modified\": \"2022-10-12 19:20:19\",\n                    \"date_cancelled\": \"-0001-11-30 00:00:00\",\n                    \"receipt_datetime\": \"2022-10-12 19:20:17\",\n                    \"ref_code\": \"Q6iWwyY1116CCTc\",\n                    \"langs\": \"th\",\n                    \"store_id\": 1234,\n                    \"fb_store_id\": 0,\n                    \"customer_id\": 40,\n                    \"discount_id\": 0,\n                    \"order_from\": 6,\n                    \"firstname\": \"firstname\",\n                    \"lastname\": \"lastname\",\n                    \"email\": \"email@gmail.com\",\n                    \"phone\": \"0844444444\",\n                    \"idcard\": \"1111111111\",\n                    \"country_id\": 5,\n                    \"shipping_firstname\": \"shipping_firstname\",\n                    \"shipping_lastname\": \"shipping_lastname\",\n                    \"shipping_email\": \"shipping_email@gmail.com\",\n                    \"shipping_phone\": \"0844444444\",\n                    \"shipping_address_1\": \"1234\",\n                    \"shipping_address_2\": \"shipping_address_2\",\n                    \"shipping_subdistrict\": \"\u0e1a\u0e32\u0e07\u0e42\u0e1e\u0e07\u0e1e\u0e32\u0e07\",\n                    \"shipping_district\": \"\u0e22\u0e32\u0e19\u0e19\u0e32\u0e27\u0e32\",\n                    \"shipping_province\": \"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23\",\n                    \"shipping_zipcode\": \"10120\",\n                    \"shipping_country_id\": 5,\n                    \"shipping_method\": \"ss:13688\",\n                    \"shipping_content\": {\n                        \"price\": \"50\"\n                    },\n                    \"payment_method\": \"transfer\",\n                    \"payment_content\": \"\",\n                    \"special_req\": \"\",\n                    \"currency_id\": 1,\n                    \"vat_amount\": 7,\n                    \"has_wholesale\": 0,\n                    \"has_discount\": false,\n                    \"has_super_discount\": true,\n                    \"has_points_discount\": false,\n                    \"has_custom_discount\": false,\n                    \"has_free_shipping\": false,\n                    \"has_payment_fee\": 0,\n                    \"sub_total\": \"1100.00\",\n                    \"before_vat\": \"1064.49\",\n                    \"discount\": \"0.00\",\n                    \"super_discount\": \"11.00\",\n                    \"loyalty_points_discount\": \"0.00\",\n                    \"custom_discount\": \"0.00\",\n                    \"sub_total_after_discount\": \"0.00\",\n                    \"vat\": \"74.51\",\n                    \"shipping\": \"50.00\",\n                    \"shipping_excl_vat\": \"0.00\",\n                    \"original_shipping\": null,\n                    \"payment_fee\": \"0.00\",\n                    \"payment_fee_excl_vat\": \"0.00\",\n                    \"grand_total_before_cash_discount\": \"0.00\",\n                    \"grand_total\": \"1139.00\",\n                    \"cash_coupon_discount\": \"0.00\",\n                    \"loyalty_points_discount_over_amount\": null,\n                    \"cash_coupon_discount_over_amount\": null,\n                    \"receive_cash\": \"0.00\",\n                    \"change_cash\": \"0.00\",\n                    \"vat_include\": true,\n                    \"vat_document\": 1,\n                    \"vat_product_incl_vat\": 1,\n                    \"vat_discount_incl_vat\": 1,\n                    \"vat_shipping_incl_vat\": 1,\n                    \"vat_payment_incl_vat\": 1,\n                    \"loyalty_points_discount_type\": \"p\",\n                    \"custom_discount_type\": \"p\",\n                    \"weight_total\": 0,\n                    \"order_status_id\": 3,\n                    \"shipping_id\": 0,\n                    \"shipping_method_real\": \"\",\n                    \"shipping_ems\": \"EY925522123TH\",\n                    \"shipping_ems_status\": 0,\n                    \"shipping_gps\": \"13.000000,100.000000\",\n                    \"shipping_status\": 0,\n                    \"shipping_datetime\": \"-0001-11-30 00:00:00\",\n                    \"payment_id\": 0,\n                    \"payment_method_real\": \"otc\",\n                    \"payment_status\": true,\n                    \"payment_datetime\": \"2022-10-12 19:20:13\",\n                    \"stock_mgt\": 1,\n                    \"stock_minus_stock\": 1,\n                    \"return_order\": 0,\n                    \"cancel_order\": 4,\n                    \"cancel_order_notify\": 1,\n                    \"cancel_order_notify_send\": 0,\n                    \"custom_invoice\": 1,\n                    \"ip_address\": 886845438,\n                    \"note\": \"\",\n                    \"admin_note\": \"\",\n                    \"customer_group_id\": 64,\n                    \"pos_customer_id\": 40,\n                    \"is_anonymous\": false,\n                    \"is_cod\": false,\n                    \"guest_id\": 0,\n                    \"is_warehouse_send\": 1,\n                    \"country_name\": \"Thailand\",\n                    \"shipping_country_name\": \"Thailand\",\n                    \"full_name\": \"full_name\",\n                    \"is_paid\": true,\n                    \"is_credit_term\": false,\n                    \"country\": {\n                        \"country_id\": 5,\n                        \"date_created\": \"2012-04-25 10:50:00\",\n                        \"date_modified\": \"2012-04-26 10:06:33\",\n                        \"country_name\": \"Thailand\",\n                        \"country_short_name\": \"TH\",\n                        \"country_code\": \"66\",\n                        \"flag\": \"img/country_flag/th.png\",\n                        \"weight_limit\": 20000,\n                        \"zone_id\": 7,\n                        \"active\": 1\n                    },\n                    \"shipping_country\": {\n                        \"country_id\": 5,\n                        \"date_created\": \"2012-04-25 10:50:00\",\n                        \"date_modified\": \"2012-04-26 10:06:33\",\n                        \"country_name\": \"Thailand\",\n                        \"country_short_name\": \"TH\",\n                        \"country_code\": \"66\",\n                        \"flag\": \"img/country_flag/th.png\",\n                        \"weight_limit\": 20000,\n                        \"zone_id\": 7,\n                        \"active\": 1\n                    }\n                }\n            }\n        ]\n    }\n}\n"
              }
            }
          }
        }
      }
    },
    "/order/order-full-by-invoice-code/{invoiceCode}": {
      "get": {
        "summary": "Full order info with order items",
        "description": "get full order info with order items",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoiceCode",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Invoice Code [eg. BTW0000001]"
          },
          {
            "in": "query",
            "name": "store_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Store ID"
          }
        ],
        "responses": {
          "200": {
            "description": "status 1 = OK, status 0 = Error",
            "content": {
              "application/json": {
                "example": "{\n    \"status\": 1,\n    \"data\": {\n        \"order\": {\n            \"order_id\": 433582,\n            \"date_created\": \"2024-05-24 14:07:06\",\n            \"date_modified\": \"2024-05-24 14:10:08\",\n            \"date_cancelled\": \"2024-05-24 14:10:08\",\n            \"receipt_datetime\": \"2024-05-24 14:08:50\",\n            \"ref_code\": \"7BJ71heg9hzo4MY\",\n            \"langs\": \"th\",\n            \"store_id\": 1234,\n            \"fb_store_id\": 0,\n            \"customer_id\": 0,\n            \"discount_id\": 0,\n            \"order_from\": 6,\n            \"firstname\": \"wsk\",\n            \"lastname\": \"mpd\",\n            \"email\": \"\",\n            \"phone\": \"0844444444\",\n            \"idcard\": \"\",\n            \"country_id\": 5,\n            \"shipping_firstname\": \"wsk\",\n            \"shipping_lastname\": \"mpd\",\n            \"shipping_email\": \"\",\n            \"shipping_phone\": \"0844444444\",\n            \"shipping_address_1\": \"789/142 cc \u00b7 \u0e04\u0e25\u0e2d\u0e07\u0e15\u0e31\u0e19/ Khlong Tan \u00b7 \u0e1e\u0e23\u0e30\u0e42\u0e02\u0e19\u0e07/ Phra Khanong\",\n            \"shipping_address_2\": \"\",\n            \"shipping_subdistrict\": \"\",\n            \"shipping_district\": \"\u0e04\u0e25\u0e2d\u0e07\u0e40\u0e15\u0e22\",\n            \"shipping_province\": \"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e21\u0e2b\u0e32\u0e19\u0e04\u0e23\",\n            \"shipping_zipcode\": \"10260\",\n            \"shipping_country_id\": 5,\n            \"shipping_method\": \"ss:12947\",\n            \"shipping_content\": {\n                \"price\": \"35\"\n            },\n            \"payment_method\": \"transfer\",\n            \"payment_content\": \"\",\n            \"special_req\": \"\",\n            \"currency_id\": 1,\n            \"vat_amount\": 7,\n            \"has_wholesale\": 0,\n            \"has_discount\": false,\n            \"has_super_discount\": false,\n            \"has_points_discount\": false,\n            \"has_custom_discount\": false,\n            \"has_free_shipping\": false,\n            \"has_payment_fee\": 0,\n            \"sub_total\": \"500.00\",\n            \"before_vat\": \"500.00\",\n            \"discount\": \"0.00\",\n            \"super_discount\": \"0.00\",\n            \"loyalty_points_discount\": \"0.00\",\n            \"custom_discount\": \"0.00\",\n            \"sub_total_after_discount\": \"500.00\",\n            \"vat\": \"35.00\",\n            \"shipping\": \"35.00\",\n            \"shipping_excl_vat\": \"32.71\",\n            \"original_shipping\": null,\n            \"payment_fee\": \"0.00\",\n            \"payment_fee_excl_vat\": \"0.00\",\n            \"grand_total_before_cash_discount\": \"535.00\",\n            \"grand_total\": \"535.00\",\n            \"cash_coupon_discount\": \"0.00\",\n            \"loyalty_points_discount_over_amount\": null,\n            \"cash_coupon_discount_over_amount\": null,\n            \"receive_cash\": \"0.00\",\n            \"change_cash\": \"0.00\",\n            \"vat_include\": true,\n            \"vat_document\": 1,\n            \"vat_product_incl_vat\": 1,\n            \"vat_discount_incl_vat\": 1,\n            \"vat_shipping_incl_vat\": 1,\n            \"vat_payment_incl_vat\": 1,\n            \"loyalty_points_discount_type\": \"p\",\n            \"custom_discount_type\": \"p\",\n            \"weight_total\": 7000,\n            \"order_status_id\": 4,\n            \"shipping_id\": 0,\n            \"shipping_method_real\": \"\",\n            \"shipping_ems\": \"RU861502431TH\",\n            \"shipping_ems_status\": 0,\n            \"shipping_gps\": \"\",\n            \"shipping_status\": 0,\n            \"shipping_datetime\": \"-0001-11-30 00:00:00\",\n            \"payment_id\": 0,\n            \"payment_method_real\": \"otc\",\n            \"payment_status\": true,\n            \"payment_datetime\": \"2024-05-24 14:08:00\",\n            \"stock_mgt\": 1,\n            \"stock_minus_stock\": 1,\n            \"return_order\": 0,\n            \"cancel_order\": 0,\n            \"cancel_order_notify\": 1,\n            \"cancel_order_notify_send\": 0,\n            \"custom_invoice\": 1,\n            \"ip_address\": 886845438,\n            \"note\": \"\",\n            \"admin_note\": \"\",\n            \"customer_group_id\": 0,\n            \"pos_customer_id\": 123456,\n            \"is_anonymous\": false,\n            \"is_cod\": false,\n            \"guest_id\": 935524,\n            \"is_warehouse_send\": 1,\n            \"full_order_code\": \"BTC0004756\",\n            \"full_receipt_code\": \"BTA0003542\",\n            \"invoice_url\": \"https://storename.bentoweb.com/th/invoices/7BJ71heg9hzo4MY\",\n            \"schedule_at\": null,\n            \"shipping_method_name\": \"\u0e2a\u0e48\u0e07\u0e40\u0e2d\u0e07 \u0e1b\u0e23\u0e34\",\n            \"payment_method_name\": \"OTC\",\n            \"count_order\": null,\n            \"latest_order_payment\": null,\n            \"country_name\": \"Thailand\",\n            \"shipping_country_name\": \"Thailand\",\n            \"full_name\": \"wsk mpd\",\n            \"is_paid\": true,\n            \"is_credit_term\": false,\n            \"aff_order_short\": null,\n            \"order_shopee_api\": [],\n            \"order_tik_tok_shop\": null,\n            \"shopee_api_transaction\": null,\n            \"order_lazada\": [],\n            \"order_tag\": [],\n            \"order_social\": null,\n            \"get_point\": {\n                \"lp_id\": 9543,\n                \"sl_id\": 11,\n                \"store_id\": 1234,\n                \"customer_id\": 0,\n                \"order_id\": 433582,\n                \"date_created\": \"2024-05-24 14:07:08\",\n                \"date_modified\": \"2024-05-24 14:10:08\",\n                \"date_approved\": \"-0001-11-30 00:00:00\",\n                \"points\": \"500\",\n                \"alter_type\": 1,\n                \"type\": \"order\",\n                \"approved\": 2,\n                \"note\": \"\"\n            },\n            \"sub_order\": [],\n            \"store\": {\n                \"store_id\": 1234,\n                \"date_created\": \"2012-11-15 16:27:52\",\n                \"date_modified\": \"2024-05-29 09:31:03\",\n                \"customer_id\": 123456,\n                \"subdomain\": \"storename\",\n                \"domain_host\": \"\",\n                \"domain_host_ssl\": 0,\n                \"name\": \"storename\",\n                \"short_description\": \"nail, eyelash waxing and beauty products for nail and beauty salon/spa\",\n                \"description\": \"<p>nail, eyelash waxing and beauty products&nbsp;for nail and beauty salon/spa</p>\",\n                \"email\": \"email@live.com\",\n                \"phone\": \"0844444444\",\n                \"idcard\": \"1111111111111\",\n                \"currency_id\": 1,\n                \"address_name\": \"address name\",\n                \"address_1\": \"123\",\n                \"address_2\": \"\",\n                \"sub_dist_id\": 0,\n                \"subdistrict\": \"\u0e41\u0e02\u0e27\u0e07\u0e15\u0e25\u0e32\u0e14\u0e1e\u0e25\u0e39\",\n                \"dist_id\": 0,\n                \"district\": \"\u0e18\u0e19\u0e1a\u0e38\u0e23\u0e35\",\n                \"prov_id\": 0,\n                \"province\": \"\u0e01\u0e23\u0e38\u0e07\u0e40\u0e17\u0e1e\u0e2f\",\n                \"zipcode\": \"10600\",\n                \"country_id\": 5,\n                \"document_address\": \"\",\n                \"post_address\": \"\",\n                \"time_zone\": \"0\",\n                \"gps\": \"\",\n                \"use_contact_email\": 1,\n                \"contact_email\": \"contact_email@live.com\",\n                \"use_contact_phone\": 1,\n                \"contact_phone\": \"0844444444\",\n                \"use_contact_facebook\": 1,\n                \"contact_facebook\": \"storename\",\n                \"use_contact_twitter\": 0,\n                \"contact_twitter\": \"\",\n                \"use_contact_google_plus\": 0,\n                \"contact_google_plus\": \"\",\n                \"use_contact_instagram\": 0,\n                \"contact_instagram\": \"\",\n                \"use_contact_pinterest\": 0,\n                \"contact_pinterest\": \"\",\n                \"use_contact_line\": 1,\n                \"contact_line\": \"@bentoweb\",\n                \"use_contact_youtube\": 0,\n                \"contact_youtube\": \"\",\n                \"use_contact_social_cam\": 0,\n                \"contact_social_cam\": \"\",\n                \"use_contact_website\": 0,\n                \"contact_website\": \"\",\n                \"order_prefix\": \"BTC\",\n                \"receipt_prefix\": \"BTA\",\n                \"email_copy_header\": 3,\n                \"use_paypal\": true,\n                \"paypal_active\": true,\n                \"paypal_merchant\": \"storename@hotmail.com\",\n                \"paypal_fee_percent\": \"0.00\",\n                \"paypal_fee\": \"50.00\",\n                \"paypal_minimum_value\": \"0.00\",\n                \"paypal_maximum_value\": null,\n                \"paypal_sandbox\": 0,\n                \"use_transfer\": true,\n                \"transfer_active\": true,\n                \"use_custom_payment\": 1,\n                \"custom_payment_active\": 1,\n                \"custom_payment_name\": \"1\",\n                \"custom_payment_fee_percent\": \"0.00\",\n                \"custom_payment_fee\": \"0.00\",\n                \"custom_payment_minimum_value\": \"0.00\",\n                \"custom_payment_maximum_value\": null,\n                \"cash\": 0,\n                \"google_analytic\": [],\n                \"facebook_conversion\": null,\n                \"facebook_audience\": \"[\\\"123456789\\\",\\\"987654321\\\"]\",\n                \"zopim_chat\": \"\",\n                \"google_remarketing\": \"\",\n                \"google_conversion_label\": \"[]\",\n                \"gtm\": null,\n                \"dbd_code_active\": false,\n                \"dbd_code\": \"\",\n                \"metatag\": \"[{\\\"name\\\":\\\"google-site-verification\\\",\\\"content\\\":\\\"123456789456123\\\"}]\",\n                \"shipping_method\": \"{\\\"ems\\\":{\\\"check\\\":true,\\\"type\\\":\\\"fixed\\\",\\\"price\\\":55},\\\"registered\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"},\\\"unregistered\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"},\\\"delivery\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"},\\\"pickup\\\":{\\\"check\\\":false,\\\"type\\\":\\\"\\\",\\\"price\\\":\\\"\\\"}}\",\n                \"sms_tracking_active\": false,\n                \"sms_store_name\": \"storename\",\n                \"stock_mgt\": true,\n                \"stock_show_num\": 1,\n                \"stock_minus_stock\": 1,\n                \"stock_hide_product\": 0,\n                \"return_order\": 0,\n                \"cart_not_checkout\": 1,\n                \"cancel_order\": 0,\n                \"cancel_order_notify\": 1,\n                \"policy\": \"\",\n                \"langs\": \"th\",\n                \"enable_multi_langs\": true,\n                \"vat\": 1,\n                \"vat_document\": 1,\n                \"corporate\": 1,\n                \"vat_type\": \"\",\n                \"tax_id\": \"1101500217554\",\n                \"vat_amount\": 7,\n                \"vat_product_incl_vat\": 1,\n                \"vat_discount_incl_vat\": 1,\n                \"vat_shipping_incl_vat\": 1,\n                \"vat_payment_incl_vat\": 1,\n                \"loyalty_points_discount_type\": \"p\",\n                \"custom_discount_type\": \"p\",\n                \"has_receipt_print_label\": false,\n                \"show_phone_on_label\": false,\n                \"has_receipt_pro\": true,\n                \"receipt_pro_txt\": \"\",\n                \"receipt_pro_img\": \"store-1234/store/receipt_pro_img/38096952-1966-8334-0f5b-63fdc0df9418.jpg\",\n                \"receipt_pro_thumb\": \"store-1234/store/receipt_pro_thumb/416ea623-fe04-6c4d-bb36-63fdc0cdd0ec.jpg\",\n                \"image\": \"\",\n                \"thumb\": \"store-1234/store/589bb5d8-eb5a-9d4c-5529-63fdc0c0f774.jpg\",\n                \"square_image\": \"store-1234/store/6f4999cd-fd1f-6c93-b515-6412ee19cd6d.jpg\",\n                \"paypal_image\": \"store-1234/store/a09f8f9b-bc08-1836-6168-5d9e8e5b7cb6.jpg\",\n                \"fb_image\": \"\",\n                \"fb_thumb\": \"\",\n                \"favicon\": \"store-1234/store/9a01cc4e-1cf9-b874-10b2-5b7e6b2255ca.jpg\",\n                \"og_img\": \"\",\n                \"blog_active\": 1,\n                \"all_blog_cat_name\": \"999999\",\n                \"all_blog_cat_description\": \"ascsa\",\n                \"agreement\": 1,\n                \"newsletter\": 1,\n                \"aff_customer_id\": 0,\n                \"has_hashtag\": 1,\n                \"auto_ems\": 0,\n                \"ems_type_id\": 2,\n                \"active\": 1,\n                \"blocked\": 0,\n                \"partner_id\": 0,\n                \"shipping_comment\": \"\",\n                \"special_active\": 0,\n                \"static_map\": \"store-1234/store/static_map/8487245f-44a9-61ca-bfda-63fdcd0dc91e.png\",\n                \"google_api_key\": \"\",\n                \"dia_setting_id\": \"\",\n                \"business_manager_id\": \"\",\n                \"facebook_catalog_id\": \"\",\n                \"facebook_page_id\": \"\",\n                \"facebook_page_token\": \"\",\n                \"facebook_chat_theme_color\": \"#44bec7\",\n                \"facebook_chat_logged_in_greeting\": \"test\",\n                \"facebook_chat_logged_out_greeting\": \"test bye\",\n                \"facebook_chat_locale\": \"th\",\n                \"is_messenger_chat_plugin_enabled\": 1,\n                \"pixel_use_pii\": 1,\n                \"google_category_id\": 5457,\n                \"catalog_mode\": 0,\n                \"catalog_hidden_price\": 1,\n                \"privacy_policy\": \"\",\n                \"run_social_contact\": 0,\n                \"subdomain_url\": \"https://storename.bentoweb.com/\",\n                \"store_social_email_contact\": null,\n                \"store_social_phone_contact\": null\n            },\n            \"order_additional_data\": {\n                \"order_id\": 433582,\n                \"created_at\": \"2024-05-24 14:07:08\",\n                \"updated_at\": \"2024-05-24 14:07:08\",\n                \"deleted_at\": null,\n                \"fbc\": null,\n                \"fbp\": null,\n                \"ip_address\": \"52.220.47.254\",\n                \"facebook_sent\": 0,\n                \"event_source_url\": \"https://storename.bentoweb.com/th/invoices/7BJ71heg9hzO4MY\",\n                \"client_user_agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36\",\n                \"event_name\": \"Purchase\",\n                \"schedule_at\": null,\n                \"fco_gc_id\": null,\n                \"radars_point_affiliate\": null,\n                \"is_easyship\": false,\n                \"is_paid_easyship\": false,\n                \"btw_referrer\": null\n            },\n            \"order_item\": [\n                {\n                    \"order_item_id\": 545292,\n                    \"order_id\": 433582,\n                    \"product_variant_id\": 742846,\n                    \"product_id\": 70713,\n                    \"category_id\": 9354,\n                    \"name\": \"\u0e21\u0e35\u0e42\u0e2d \u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e41\u0e21\u0e27 \u0e23\u0e2a\u0e1b\u0e25\u0e32\u0e17\u0e39 7 \u0e01\u0e01.\",\n                    \"pv_name\": \"4258977014-1668472625960-0\",\n                    \"category_name\": \"\",\n                    \"sku\": \"4258977014-1668472625960-0\",\n                    \"qty\": 1,\n                    \"price\": 500,\n                    \"total\": 500,\n                    \"weight\": 7000,\n                    \"has_wholesale\": false,\n                    \"wholesale_qty\": \"1\",\n                    \"wholesale_price\": \"500.00\",\n                    \"wholesale_subtotal\": \"500.00\",\n                    \"loyalty_points\": \"0\",\n                    \"seq\": 1,\n                    \"customer_group_id\": 0,\n                    \"original_price\": \"500.00\",\n                    \"cost\": null,\n                    \"unit\": null,\n                    \"is_product_set_main\": false,\n                    \"is_product_set_child\": false,\n                    \"from_product_set_oi_id\": null,\n                    \"from_product_set_pv_id\": null,\n                    \"length\": \"30.00\",\n                    \"width\": \"100.00\",\n                    \"height\": \"150.00\",\n                    \"barcode\": \"BTW0000000742846\",\n                    \"product\": {\n                        \"product_id\": 70713,\n                        \"date_created\": \"2023-01-03 17:45:53\",\n                        \"date_modified\": \"2023-06-02 10:05:18\",\n                        \"stock_modified\": \"2024-05-24 14:10:08\",\n                        \"ping_datetime\": \"2023-03-21 11:06:45\",\n                        \"store_id\": 1234,\n                        \"type\": 1,\n                        \"name\": \"\u0e21\u0e35\u0e42\u0e2d \u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e41\u0e21\u0e27 \u0e23\u0e2a\u0e1b\u0e25\u0e32\u0e17\u0e39 7 \u0e01\u0e01.\",\n                        \"description\": \"<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">\u0e21\u0e35\u0e42\u0e2d \u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e41\u0e21\u0e27 \u0e23\u0e2a\u0e1b\u0e25\u0e32\u0e17\u0e39 7 \u0e01\u0e01. \u0e1c\u0e25\u0e34\u0e15\u0e08\u0e32\u0e01\u0e1b\u0e25\u0e32\u0e04\u0e38\u0e13\u0e20\u0e32\u0e1e\u0e17\u0e35\u0e48\u0e04\u0e31\u0e14\u0e2a\u0e23\u0e23\u0e21\u0e32\u0e2d\u0e22\u0e48\u0e32\u0e07\u0e14\u0e35 \u0e1c\u0e48\u0e32\u0e19\u0e01\u0e23\u0e30\u0e1a\u0e27\u0e19\u0e1b\u0e23\u0e38\u0e07\u0e2d\u0e22\u0e48\u0e32\u0e07\u0e1e\u0e34\u0e16\u0e35\u0e1e\u0e34\u0e16\u0e31\u0e19 \u0e2d\u0e38\u0e14\u0e21\u0e44\u0e1b\u0e14\u0e49\u0e27\u0e22\u0e04\u0e38\u0e13\u0e04\u0e48\u0e32\u0e2a\u0e32\u0e23\u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e17\u0e35\u0e48\u0e08\u0e33\u0e40\u0e1b\u0e47\u0e19\u0e17\u0e35\u0e48\u0e41\u0e21\u0e27\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e15\u0e49\u0e2d\u0e07\u0e01\u0e32\u0e23 \u0e40\u0e1e\u0e37\u0e48\u0e2d\u0e2a\u0e38\u0e02\u0e20\u0e32\u0e1e\u0e17\u0e35\u0e48\u0e14\u0e35 \u0e41\u0e25\u0e30\u0e02\u0e19\u0e2a\u0e27\u0e22\u0e40\u0e07\u0e32\u0e07\u0e32\u0e21 \u0e1e\u0e23\u0e49\u0e2d\u0e21\u0e04\u0e27\u0e32\u0e21\u0e2d\u0e23\u0e48\u0e2d\u0e22\u0e17\u0e35\u0e48\u0e41\u0e21\u0e27\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e15\u0e49\u0e2d\u0e07\u0e01\u0e32\u0e23&nbsp;</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\">&nbsp;</p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">- \u0e1c\u0e25\u0e34\u0e15\u0e08\u0e32\u0e01\u0e1b\u0e25\u0e32</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">- \u0e2a\u0e32\u0e23\u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e04\u0e23\u0e1a\u0e16\u0e49\u0e27\u0e19</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">- \u0e04\u0e27\u0e23\u0e17\u0e32\u0e19\u0e2d\u0e32\u0e2b\u0e32\u0e23\u0e40\u0e1b\u0e47\u0e19\u0e40\u0e27\u0e25\u0e32</span></p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\">&nbsp;</p>\\r\\n\\r\\n<p style=\\\"line-height:1.7;text-align:left;text-indent:0;margin-left:0;margin-top:0;margin-bottom:0\\\"><span style=\\\"color:rgb(0, 0, 0);font-size:12pt\\\">*\u0e20\u0e32\u0e1e\u0e1b\u0e23\u0e30\u0e01\u0e2d\u0e1a\u0e43\u0e0a\u0e49\u0e40\u0e1e\u0e37\u0e48\u0e2d\u0e01\u0e32\u0e23\u0e42\u0e06\u0e29\u0e13\u0e32\u0e40\u0e17\u0e48\u0e32\u0e19\u0e31\u0e49\u0e19</span></p>\",\n                        \"prepend_description_id\": 21,\n                        \"append_description_id\": 30,\n                        \"meta_keyword\": \"\",\n                        \"meta_description\": \"\",\n                        \"seo_url\": \"product-70713\",\n                        \"short_url\": \"\",\n                        \"price\": 500,\n                        \"label\": \"\",\n                        \"length\": 30,\n                        \"width\": 100,\n                        \"height\": 150,\n                        \"length_class_id\": 0,\n                        \"weight\": 7000,\n                        \"override_loyalty\": false,\n                        \"loyalty_points\": 0,\n                        \"remain_stock\": 435,\n                        \"seq\": 46,\n                        \"added_to_es\": 1,\n                        \"copy_product_id\": 0,\n                        \"active\": true,\n                        \"deleted\": 0,\n                        \"brand_id\": 0,\n                        \"product_attribute\": null,\n                        \"shipping_method\": null,\n                        \"activate_category_attribute\": 0\n                    }\n                }\n            ],\n            \"currency\": {\n                \"currency_id\": 1,\n                \"date_created\": \"2013-02-20 14:00:00\",\n                \"date_modified\": \"2013-02-20 14:00:00\",\n                \"name\": \"Thai Baht\",\n                \"iso4217\": \"THB\",\n                \"num\": \"764\",\n                \"symbol\": \"\u0e3f\",\n                \"symbol_left\": \"\u0e3f \",\n                \"symbol_right\": \"\",\n                \"decimal_place\": \"2\",\n                \"active\": true\n            },\n            \"order_attachment\": null,\n            \"order_billing\": null,\n            \"discount_obj\": null,\n            \"country\": {\n                \"country_id\": 5,\n                \"date_created\": \"2012-04-25 10:50:00\",\n                \"date_modified\": \"2012-04-26 10:06:33\",\n                \"country_name\": \"Thailand\",\n                \"country_short_name\": \"TH\",\n                \"country_code\": \"66\",\n                \"flag\": \"img/country_flag/th.png\",\n                \"weight_limit\": 20000,\n                \"zone_id\": 7,\n                \"active\": 1\n            },\n            \"shipping_country\": {\n                \"country_id\": 5,\n                \"date_created\": \"2012-04-25 10:50:00\",\n                \"date_modified\": \"2012-04-26 10:06:33\",\n                \"country_name\": \"Thailand\",\n                \"country_short_name\": \"TH\",\n                \"country_code\": \"66\",\n                \"flag\": \"img/country_flag/th.png\",\n                \"weight_limit\": 20000,\n                \"zone_id\": 7,\n                \"active\": 1\n            }\n        }\n    }\n}\n"
              }
            }
          }
        }
      }
    },
    "/order/print-invoice/{order_id}": {
      "get": {
        "summary": "Get invoice HTML for printing",
        "description": "Get invoice HTML for printing",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Order ID"
          },
          {
            "in": "query",
            "name": "store_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Store ID"
          },
          {
            "in": "query",
            "name": "langs",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "th|en|jp|cn"
          }
        ],
        "responses": {
          "200": {
            "description": "status 1 = OK, status 0 = Error",
            "content": {
              "application/json": {
                "example": "{\n    \"status\": 1,\n    \"data\": {\n        \"html\": \"html code\"\n    }\n}\n"
              }
            }
          }
        }
      }
    },
    "/order/print-receipt/{order_id}": {
      "get": {
        "summary": "Get receipt HTML for printing",
        "description": "Get receipt HTML for printing",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Order ID"
          },
          {
            "in": "query",
            "name": "store_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Store ID"
          },
          {
            "in": "query",
            "name": "langs",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "th|en|jp|cn"
          }
        ],
        "responses": {
          "200": {
            "description": "status 1 = OK, status 0 = Error",
            "content": {
              "application/json": {
                "example": "{\n    \"status\": 1,\n    \"data\": {\n        \"html\": \"html code\"\n    }\n}\n"
              }
            }
          }
        }
      }
    },
    "/order/print-tax-invoice/{order_id}": {
      "get": {
        "summary": "Get tax invoice HTML for printing",
        "description": "Get tax invoice HTML for printing",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Order ID"
          },
          {
            "in": "query",
            "name": "store_id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Store ID"
          },
          {
            "in": "query",
            "name": "langs",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "th|en|jp|cn"
          }
        ],
        "responses": {
          "200": {
            "description": "status 1 = OK, status 0 = Error",
            "content": {
              "application/json": {
                "example": "{\n    \"status\": 1,\n    \"data\": {\n        \"html\": \"html code\"\n    }\n}\n"
              }
            }
          }
        }
      }
    },
    "/order/print-reason-credit-note/{order_id}": {
      "post": {
        "summary": "Get credit note HTML for printing",
        "description": "Get credit note HTML for printing",
        "tags": [
          "Order"
        ],
        "parameters": [
[...]
