{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "AGR Inventory (Ashcomm)",
    "description": "Ashcomm Inventory experience API",
    "contact": {
      "email": "kflynn@ashleyfurniture.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AFI-Integrations/AGR-Inventory/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apigw3.ashleyfurniture.com/inventory/retail/AGR",
      "description": "Production Server"
    },
    {
      "url": "https://stageapigw.ashleyfurniture.com/inventory/retail/AGR",
      "description": "Sandbox/Test Server"
    }
  ],
  "paths": {
    "/multiple": {
      "post": {
        "summary": "Multiple Post DC",
        "description": "Multiple Post DC",
        "operationId": "multiple-post-dc",
        "tags": [
          "Multiple Inventory"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "clientId": []
    }
  ],
  "components": {
    "securitySchemes": {
      "clientId": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header",
        "description": "This client_id can be obtained by contacting the API support team."
      }
    },
    "schemas": {
      "InventoryRequest": {
        "type": "object",
        "properties": {
          "PostalCode": {
            "type": "string",
            "example": 65109
          },
          "AccountShipto": {
            "type": "string",
            "example": "4444400-100"
          },
          "PerItem": {
            "type": "string",
            "example": 0
          },
          "SkuList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Sku": {
                  "type": "string",
                  "example": "B600000398"
                },
                "Quantity": {
                  "type": "string",
                  "example": 1
                },
                "ThirdParty": {
                  "type": "string",
                  "example": "true"
                },
                "Weight": {
                  "type": "string",
                  "example": 52.91
                },
                "Depth": {
                  "type": "string",
                  "example": 25.2
                },
                "Height": {
                  "type": "string",
                  "example": 6.69
                },
                "Width": {
                  "type": "string",
                  "example": 45.08
                },
                "KitSku": {
                  "type": "string",
                  "example": 0
                },
                "Ispackage": {
                  "type": "string",
                  "example": "false"
                }
              }
            }
          }
        }
      },
      "InventoryResponse": {
        "type": "object",
        "properties": {
          "accountShipTo": {
            "type": "string",
            "example": "4444400-100"
          },
          "postalCode": {
            "type": "string",
            "example": 65109
          },
          "skuQuantity": {
            "type": "string",
            "format": "nullable"
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sku": {
                  "type": "string",
                  "example": "B600000398"
                },
                "message": {
                  "type": "string",
                  "example": "See Store for Availability"
                },
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "example": 2
                },
                "bestDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2021-07-14T05:00:00Z"
                },
                "beginDateRange": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2021-07-14T05:00:00Z"
                },
                "endDateRange": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2021-08-23T05:00:00Z"
                },
                "isAvailable": {
                  "type": "boolean"
                },
                "daysBeforePickUp": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "daysInTransit": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "isGetItBy": {
                  "type": "boolean"
                },
                "getItByRuleApplied": {
                  "type": "string",
                  "example": ""
                },
                "warehouse": {
                  "type": "string",
                  "example": 55
                },
                "warehouseCutOffTime": {
                  "type": "string",
                  "format": "nullable",
                  "example": null
                },
                "availabilityOrigin": {
                  "type": "string",
                  "format": "nullable",
                  "example": null
                },
                "scac": {
                  "type": "string",
                  "format": "nullable",
                  "example": null
                }
              }
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int32",
            "example": 401
          },
          "message": {
            "type": "string",
            "example": "Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API."
          }
        }
      },
      "InternalErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int32",
            "example": 500
          },
          "message": {
            "type": "string",
            "example": "Internal server error"
          },
          "activityId": {
            "type": "string",
            "example": "5134a16c-d3fb-4e49-b9d6-3040508e3979"
          }
        }
      }
    }
  }
}