{
  "openapi": "3.0.1",
  "info": {
    "title": "nFusion Solutions Market Data API",
    "description": "[nFusion Solutions](https://nfusionsolutions.com) provides [REST APIs](https://nfusionsolutions.com/data-feeds/) that deliver enterprise-grade financial data. Data sets include real-time and historical pricing for Spot prices of precious metals such as Gold, Silver, Platinum, and Palladium, exchange rates for major currency pairs, exchange rates for Crypto Currencies such as BTC, ETH, and LTC. All API access requires authentication. In order to be issued access credentials you must first enter into a service agreement with nFusion Solutions and acquire a commercial license. For information on how to obtain a licence [take a tour of our products](https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-tour/) or email sales@nfusionsolutions.com.",
    "contact": {
      "name": "nFusion Solutions",
      "url": "https://nfusionsolutions.com/contact-us",
      "email": "support@nfusionsolutions.com"
    },
    "license": {
      "name": "Commercial License",
      "url": "https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-quote/"
    },
    "version": "1",
    "x-jentic-source-url": "https://api.nfusionsolutions.biz/swagger/1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.nfusionsolutions.biz"
    }
  ],
  "paths": {
    "/api/v1/Currencies/rate/supported": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get list of currencies supported by the rate endpoint",
        "description": "Any of the currencies in this list can be paired with any other currency in this list when supplied to the Rate endpoint.\r\nFor example: USD/CAD,CAD/USD,USD/EUR,EUR/CAD",
        "operationId": "Currencies_SupportedCurrencies_Rate_GET",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Currencies/summary/supported": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get list of currency pairs supported by the Summary endpoint",
        "description": "Only the currency pairs in the direction noted can be used with the Summary endpoint.\r\nFor example: USD/CAD is not the same as CAD/USD",
        "operationId": "Currencies_SupportedCurrencies_Summary_GET",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Currencies/history/supported": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get list of currency pairs supported by the history endpoint",
        "description": "Only the currency pairs in the direction noted can be used with the history endpoint.\r\nFor example: USD/CAD is not the same as CAD/USD",
        "operationId": "Currencies_SupportedCurrencies_History_GET",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Currencies/rate": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get latest mid rate for requested currency pairs",
        "description": "Current Mid Rate",
        "operationId": "Currencies_Rate_GET",
        "parameters": [
          {
            "name": "pairs",
            "in": "query",
            "description": "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RateResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RateResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Currencies/summary": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get latest Summary for requested currency pairs",
        "description": "Current and daily summary information combined into a single quote",
        "operationId": "Currencies_Summary_GET",
        "parameters": [
          {
            "name": "pairs",
            "in": "query",
            "description": "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Currencies/history": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get historical prices for requested currency pairs",
        "description": "Historical OHLC data for the specified period and interval size\r \n\r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.",
        "operationId": "Currencies_History_GET",
        "parameters": [
          {
            "name": "pairs",
            "in": "query",
            "description": "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r \nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/supported/currency": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get list of currencies supported by metals endpoints for currency conversion",
        "description": "",
        "operationId": "Metals_SupportedCurrencies_Metals_GET",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/spot/supported": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get list of symbols supported by the spot endpoints",
        "description": "",
        "operationId": "Metals_SpotSupportedMetals_GET",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/spot/summary": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get latest Spot Summary for requested metals",
        "description": "Current and daily summary information combined into a single quote",
        "operationId": "Metals_SpotSummary_GET",
        "parameters": [
          {
            "name": "metals",
            "in": "query",
            "description": "comma separated list of metals",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "comma separated list of conversion currencies, defaults to USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitofmeasure",
            "in": "query",
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "schema": {
              "enum": [
                "mg",
                "g",
                "kg",
                "gr",
                "toz",
                "ct",
                "dwt"
              ],
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/spot/history": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get historical Spot prices for requested metals",
        "description": "Historical OHLC data for the specified period and interval size\r \n\r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.\r\n\r \nThe historicalfx flag is used to determine whether to apply today's fx rates to a historical period, or to apply the historical rates from that same time frame.",
        "operationId": "Metals_SpotHistory_GET",
        "parameters": [
          {
            "name": "metals",
            "in": "query",
            "description": "comma separated list of metals",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r \nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "historicalfx",
            "in": "query",
            "description": "if true use historical currency rates otherwise current currency rates. Defaults to true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "comma separated list of conversion currencies, defaults to USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitofmeasure",
            "in": "query",
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "schema": {
              "enum": [
                "mg",
                "g",
                "kg",
                "gr",
                "toz",
                "ct",
                "dwt"
              ],
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/spot/ratio/summary": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get latest Spot Summary for requested metal ratios",
        "description": "Ratios between prices of two metals",
        "operationId": "Metals_SpotRatioSummary_GET",
        "parameters": [
          {
            "name": "pairs",
            "in": "query",
            "description": "comma separated list of metal pairs. For example: gold/silver,gold/platinum,silver/palladium",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/spot/ratio/history": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get historical Spot Ratio prices for requested metals",
        "description": "Historical data for the specified period and interval size\r\n \r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.",
        "operationId": "Metals_SpotRatioHistory_GET",
        "parameters": [
          {
            "name": "pairs",
            "in": "query",
            "description": "comma separated list of metals",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r \nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/benchmark/supported": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get list of symbols supported by the benchmark endpoints",
        "description": "",
        "operationId": "Metals_BenchmarkSupportedMetals_GET",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/benchmark/summary": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get latest Benchmark prices for requested metals",
        "description": "Benchmark price information",
        "operationId": "Metals_BenchmarkSummary_GET",
        "parameters": [
          {
            "name": "metals",
            "in": "query",
            "description": "comma separated list of metals",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "comma separated list of conversion currencies, defaults to USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitofmeasure",
            "in": "query",
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "schema": {
              "enum": [
                "mg",
                "g",
                "kg",
                "gr",
                "toz",
                "ct",
                "dwt"
              ],
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SummaryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/benchmark/history": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get historical benchmark prices for requested metals",
        "description": "Historical OHLC data for the specified period and interval size\r \n\r\nThe combination of the interval parameter and start and end dates can result in results\r\nbeing truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.\r\n\r \nThe historicalfx flag is used to determine whether to apply today's fx rates to a historical period, or to apply the historical rates from that same time frame.",
        "operationId": "Metals_BenchmarkHistory_GET",
        "parameters": [
          {
            "name": "metals",
            "in": "query",
            "description": "comma separated list of metals",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "start date of time period. format is <i>yyyy-mm-dd</i>",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r\nfollowed by a type string which must be one of the following values:\r\ny=year,\r\nm=month,\r\nw=week,\r \nd=day,\r\nh=hour,\r\nmi=minute\r\n\r\nFor example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r\n\r\nIf not specified the interval parameter default is 1 Day.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "historicalfx",
            "in": "query",
            "description": "if true use historical currency rates otherwise current currency rates. Defaults to true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "comma separated list of conversion currencies, defaults to USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitofmeasure",
            "in": "query",
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "schema": {
              "enum": [
                "mg",
                "g",
                "kg",
                "gr",
                "toz",
                "ct",
                "dwt"
              ],
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/spot/performance/annual": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get Historical Annual Performance for requested metals",
        "description": "Annual Historical Performance information",
        "operationId": "Metals_SpotAnnualHistoricalPerformance_GET",
        "parameters": [
          {
            "name": "metals",
            "in": "query",
            "description": "comma separated list of metals",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "comma separated list of conversion currencies, defaults to USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitofmeasure",
            "in": "query",
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "schema": {
              "enum": [
                "mg",
                "g",
                "kg",
                "gr",
                "toz",
                "ct",
                "dwt"
              ],
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "description": "Number of years of history to return. Defaults to 10.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/Metals/spot/performance": {
      "get": {
        "tags": [
          "Metals"
        ],
        "summary": "Get Historical Performance for requested metals",
        "description": "Historical Performance information",
        "operationId": "Metals_SpotHistoricalPerformance_GET",
        "parameters": [
          {
            "name": "metals",
            "in": "query",
            "description": "comma separated list of metals",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "comma separated list of conversion currencies, defaults to USD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitofmeasure",
            "in": "query",
            "description": "unit of meaure, defaults to troy ounces. allowed values are:\r \nmg=milligram\r\ng=gram\r\nkg=kilogram\r\ngr=grain\r\ntoz=troy ounce\r\nct=carat\r\ndwt=pennyweight",
            "schema": {
              "enum": [
                "mg",
                "g",
                "kg",
                "gr",
                "toz",
                "ct",
                "dwt"
              ],
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "to override content negotiation specify a value of json or xml",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntervalCollectionResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Interval": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "open": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "high": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "low": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "last": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "change": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "changePercent": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IntervalCollection": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "baseCurrency": {
            "type": "string",
            "nullable": true
          },
          "intervals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Interval"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IntervalCollectionResponse": {
        "type": "object",
        "properties": {
          "requestedSymbol": {
            "type": "string",
            "nullable": true
          },
          "requestedCurrency": {
            "type": "string",
            "nullable": true
          },
          "requestedUnitOfMeasure": {
            "type": "string",
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/IntervalCollection"
          }
        },
        "additionalProperties": false
      },
      "Rate": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RateResponse": {
        "type": "object",
        "properties": {
          "requestedSymbol": {
            "type": "string",
            "nullable": true
          },
          "requestedCurrency": {
            "type": "string",
            "nullable": true
          },
          "requestedUnitOfMeasure": {
            "type": "string",
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/Rate"
          }
        },
        "additionalProperties": false
      },
      "Summary": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "nullable": true
          },
          "baseCurrency": {
            "type": "string",
            "nullable": true
          },
          "last": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bid": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ask": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "high": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "low": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "open": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "oneDayValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "oneDayChange": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "oneDayPercentChange": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fiftyTwoWeekHigh": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fiftyTwoWeekLow": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fiftyTwoWeekPercentChange": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fourWeekPercentChange": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "twelveWeekPercentChange": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "yearToDatePercentChange": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "SummaryResponse": {
        "type": "object",
        "properties": {
          "requestedSymbol": {
            "type": "string",
            "nullable": true
          },
          "requestedCurrency": {
            "type": "string",
            "nullable": true
          },
          "requestedUnitOfMeasure": {
            "type": "string",
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/Summary"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "token": {
        "type": "apiKey",
        "description": "authorization token",
        "name": "token",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "token": []
    }
  ]
}