{
  "openapi": "3.0.3",
  "info": {
    "title": "Coursesight API",
    "version": "1.0.0",
    "description": "Coursesight learning management and course tracking API. Manage courses, students, enrollments, and assessments.",
    "x-jentic-source-url": "https://rpl.developer.azure-api.net/api-details#api=coursesight-api"
  },
  "servers": [
    {
      "url": "https://api.coursesight.com/v1",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Courses",
      "description": "Course management"
    },
    {
      "name": "Students",
      "description": "Student management"
    },
    {
      "name": "Enrollments",
      "description": "Enrollment management"
    },
    {
      "name": "Assessments",
      "description": "Assessment and grading"
    }
  ],
  "paths": {
    "/courses": {
      "get": {
        "tags": ["Courses"],
        "summary": "List courses",
        "operationId": "listCourses",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "archived", "draft"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of courses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Courses"],
        "summary": "Create course",
        "operationId": "createCourse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Course created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          }
        }
      }
    },
    "/courses/{courseId}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get course",
        "operationId": "getCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Courses"],
        "summary": "Update course",
        "operationId": "updateCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Course updated"
          }
        }
      },
      "delete": {
        "tags": ["Courses"],
        "summary": "Delete course",
        "operationId": "deleteCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Course deleted"
          }
        }
      }
    },
    "/students": {
      "get": {
        "tags": ["Students"],
        "summary": "List students",
        "operationId": "listStudents",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of students",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Student"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Students"],
        "summary": "Create student",
        "operationId": "createStudent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Student created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Student"
                }
              }
            }
          }
        }
      }
    },
    "/students/{studentId}": {
      "get": {
        "tags": ["Students"],
        "summary": "Get student",
        "operationId": "getStudent",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Student"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Students"],
        "summary": "Update student",
        "operationId": "updateStudent",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Student updated"
          }
        }
      }
    },
    "/enrollments": {
      "get": {
        "tags": ["Enrollments"],
        "summary": "List enrollments",
        "operationId": "listEnrollments",
        "parameters": [
          {
            "name": "course_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "student_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Enrollment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Enrollments"],
        "summary": "Create enrollment",
        "operationId": "createEnrollment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["course_id", "student_id"],
                "properties": {
                  "course_id": {
                    "type": "string"
                  },
                  "student_id": {
                    "type": "string"
                  },
                  "enrollment_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrollment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          }
        }
      }
    },
    "/enrollments/{enrollmentId}": {
      "get": {
        "tags": ["Enrollments"],
        "summary": "Get enrollment",
        "operationId": "getEnrollment",
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Enrollments"],
        "summary": "Delete enrollment",
        "operationId": "deleteEnrollment",
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Enrollment deleted"
          }
        }
      }
    },
    "/assessments": {
      "get": {
        "tags": ["Assessments"],
        "summary": "List assessments",
        "operationId": "listAssessments",
        "parameters": [
          {
            "name": "course_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assessments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assessment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Assessments"],
        "summary": "Create assessment",
        "operationId": "createAssessment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["course_id", "title", "max_score"],
                "properties": {
                  "course_id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "max_score": {
                    "type": "number"
                  },
                  "due_date": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            }
          }
        }
      }
    },
    "/assessments/{assessmentId}/submissions": {
      "post": {
        "tags": ["Assessments"],
        "summary": "Submit assessment",
        "operationId": "submitAssessment",
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["student_id", "score"],
                "properties": {
                  "student_id": {
                    "type": "string"
                  },
                  "score": {
                    "type": "number"
                  },
                  "feedback": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment submitted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "Course": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "instructor": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CourseInput": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "instructor": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Student": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "enrollment_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "StudentInput": {
        "type": "object",
        "required": ["email", "first_name", "last_name"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "Enrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "course_id": {
            "type": "string"
          },
          "student_id": {
            "type": "string"
          },
          "enrollment_date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": ["active", "completed", "dropped"]
          }
        }
      },
      "Assessment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "course_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "max_score": {
            "type": "number"
          },
          "due_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
