{
  "openapi": "3.0.3",
  "info": {
    "title": "Visibot API",
    "version": "1.0.0",
    "description": "AI-powered video editing API for creating and editing videos with captions, emojis, and more.",
    "x-jentic-source-url": "https://dashboard.visibot.app/api-docs"
  },
  "servers": [
    {
      "url": "https://api.visibot.app"
    }
  ],
  "paths": {
    "/api/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user",
        "description": "Retrieve authenticated user profile information",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Get usage stats",
        "description": "Check account usage statistics",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Usage stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/register": {
      "post": {
        "operationId": "registerUser",
        "summary": "Register new user",
        "description": "Register new user through integrations",
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "api_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User registered"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/video/create": {
      "post": {
        "operationId": "createVideo",
        "summary": "Create a video",
        "description": "Process video with custom caption settings",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video creation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/video/edit": {
      "post": {
        "operationId": "editVideo",
        "summary": "Edit a video",
        "description": "Modify existing video caption and styling parameters",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video edit started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/video/get": {
      "get": {
        "operationId": "getVideo",
        "summary": "Get video status",
        "description": "Check video processing status and retrieve output URL",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/warriorplus/ipn": {
      "post": {
        "operationId": "warriorPlusIpn",
        "summary": "WarriorPlus IPN",
        "description": "Process WarriorPlus payment notifications",
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification processed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/webhooks/manychat/telegram-subscriber": {
      "post": {
        "operationId": "manychatTelegramSubscriber",
        "summary": "ManyChat Telegram Subscriber",
        "description": "Process Telegram subscriber data from ManyChat",
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber processed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "VideoCreateRequest": {
        "type": "object",
        "required": [
          "video_url"
        ],
        "properties": {
          "video_url": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "captions_font_color": {
            "type": "string"
          },
          "captions_highlight_color": {
            "type": "string"
          },
          "captions_outline_color": {
            "type": "string"
          },
          "captions_position": {
            "type": "string",
            "enum": [
              "top",
              "middle",
              "bottom"
            ]
          },
          "captions_font_size": {
            "type": "integer",
            "minimum": 18,
            "maximum": 65
          },
          "captions_font_family": {
            "type": "string",
            "enum": [
              "Sigmar",
              "THEBOLDFONT",
              "Rubik"
            ]
          },
          "captions_add_emojis": {
            "type": "boolean"
          },
          "resize_for_social_media": {
            "type": "boolean"
          },
          "callback": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "VideoEditRequest": {
        "type": "object",
        "required": [
          "video_id"
        ],
        "properties": {
          "video_id": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "captions_font_color": {
            "type": "string"
          },
          "captions_highlight_color": {
            "type": "string"
          },
          "captions_outline_color": {
            "type": "string"
          },
          "captions_position": {
            "type": "string"
          },
          "captions_font_size": {
            "type": "integer",
            "minimum": 18,
            "maximum": 65
          },
          "captions_font_family": {
            "type": "string",
            "enum": [
              "Sigmar",
              "THEBOLDFONT",
              "Rubik"
            ]
          },
          "captions_add_emojis": {
            "type": "boolean"
          },
          "resize_for_social_media": {
            "type": "boolean"
          },
          "callback": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "VideoResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "video_url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}