{
    "swagger": "2.0",
    "info": {
        "title": "Fitbit Web API Explorer",
        "description": "Fitbit provides a Web API for accessing data from Fitbit activity trackers, Aria scale, and manually entered logs. Anyone can develop an application to access and modify a Fitbit user's data on their behalf, so long as it complies with Fitbit Platform Terms of Service. These Swagger UI docs do not currently support making Fitbit API requests directly. In order to make a request, construct a request for the appropriate endpoint using this documentation, and then add an Authorization header to each request with an access token obtained using the steps outlined here: https://dev.fitbit.com/build/reference/web-api/developer-guide/authorization/.",
        "version": "1",
        "termsOfService": "https://dev.fitbit.com/legal/platform-terms-of-service/",
        "contact": {
            "name": "Web API Support",
            "url": "https://dev.fitbit.com/build/reference/web-api/help/"
        }
    },
    "host": "api.fitbit.com",
    "tags": [
        {
            "name": "Active Zone Minutes Intraday Time Series",
            "description": "The Active Zone Minutes (AZM) Intraday Time Series endpoints retrieve the user's heart-pumping activity for a specific date or 24 hour period. Intraday support can extend the detail-level response to include 1min, 5min and 15min for Active Zone Minutes.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Active Zone Minutes Time Series",
            "description": "The Active Zone Minutes (AZM) Time Series endpoints are used for querying the user's heart-pumping activity throughout the day. ",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/active-zone-minutes-timeseries/"
            }
        },
        {
            "name": "Activity",
            "description": "The Activity endpoints are used to query and/or modify a Fitbit user's daily activity data. ",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/activity/"
            }
        },
        {
            "name": "Activity Intraday Time Series",
            "description": "The Activity Intraday Time Series endpoints retrieve the data for a given resource on a specific date or 24 hour period.  Intraday support can extend the detail-level response to include 1min, 5min and 15min for the activity.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Activity Time Series",
            "description": "The Activity Time Series endpoints are used to query a Fitbit user's activity data over a period of time, either by specifying a date and time period, or a date range.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/activity-timeseries/"
            }
        },
        {
            "name": "Authorization",
            "description": "The Authorization endpoints allow an application to onboard Fitbit users who want to share their data with the specified application. The application can initiate the consent flow for new users, obtain the access token and refresh tokens, validate the tokens, and revoke consent to the user.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/authorization/"
            }
        },
        {
            "name": "Body",
            "description": "The Body endpoints are used for querying and modifying the user's body fat and weight data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/body/"
            }
        },
        {
            "name": "Body Time Series",
            "description": "The Body Time Series endpoints are used for querying body fat and weight data over a period of time either by specifying a date and time period, or a date range.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/body-timeseries/"
            }
        },
        {
            "name": "Breathing Rate",
            "description": "Breathing Rate or Respiratory Rate is a measurement of your average breaths per minute at night.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/breathing-rate/"
            }
        },
        {
            "name": "Breathing Rate Intraday",
            "description": "The Breathing Rate Intraday endpoint returns the  average breathing rate throughout the day and categories your breathing rate by sleep stage.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Cardio Fitness Score (VO2 Max)",
            "description": "The Cardio Fitness Score (also known as VO2 Max) endpoints are used for querying the maximum or optimum rate at which the user’s heart, lungs, and muscles can effectively use oxygen during exercise.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/cardio-fitness-score/"
            }
        },
       {
            "name": "Devices",
            "description": "The Devices endpoints displays information about the devices paired to a user's account.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/devices/"
            }
        },
        {
            "name": "Electrocardiogram",
            "description": "The Electrocardiogram (also known as ECG) endpoint is used for querying the user's on-device ECG readings.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/electrocardiogram/"
            }
        },
        {
            "name": "Friends",
            "description": "The Friends endpoints display information about the specified user's friends and the friend's leaderboard.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/friends/"
            }
        },
        {
            "name": "Heart Rate Intraday Time Series",
            "description": "The Heart Rate Intraday Time Series retrieves the heart rate data on a specific date or 24 hour period. Intraday support can extend the detail-level response to include 1sec, 1min, 5min or 15min for Heart Rate.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Heart Rate Time Series",
            "description": "The Heart Rate Time Series endpoints are used for querying the user's heart rate data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/heartrate-timeseries/"
            }
        },
        {
            "name": "Heart Rate Variability",
            "description": "The Heart Rate Variability (HRV) endpoints are used for querying the user’s heart rate variability data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/heartrate-variability/"
            }
        },
        {
            "name": "Heart Rate Variability Intraday",
            "description": "The Heart Rate Variability Intraday endpoint returns the HRV rate at various times and returns Root Mean Square of Successive Differences (rmssd), Low Frequency (LF), High Frequency (HF), and Coverage data for a given measurement.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
          "name": "Irregular Rhythm Notifications",
          "description": "The Irregular Rhythm Notifications (also known as IRN) endpoints are used for querying the user's engagement with the IRN feature and the alerts received. The IRN API is for research use or investigational use only, and is not intended for clinical or diagnostic purposes.",
          "externalDocs": {
              "description": "Full documentation",
              "url": "https://dev.fitbit.com/build/reference/web-api/irregular-rhythm-notifications/"
          }
        },
        {
            "name": "Nutrition",
            "description": "The Nutrition endpoints are used for querying and modifying the food and water data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/nutrition/"
            }
        },
        {
            "name": "Nutrition Time Series",
            "description": "The Nutrition Time Series endpoints are used for querying food- and water-related data over a period of time either by specifying a date and time period, or a date range.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/nutrition-timeseries/"
            }
        },
        {
            "name": "Sleep",
            "description": "The Sleep endpoints are used for querying and modifying the user’s general sleep data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/sleep/"
            }
        },
        {
            "name": "SpO2",
            "description": "SpO2 (Oxygen Saturation) is a measurement of your blood oxygen level. ",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/spo2/"
            }
        },
        {
            "name": "SpO2 Intraday",
            "description": "The SpO2 Intraday endpoints return the SpO2 values calculated on a 5-minute exponentially-moving average.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Subscriptions",
            "description": "The Subscription endpoints allow an application to request notifications to user's specific data collection.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/subscription/"
            }
        },
        {
            "name": "Temperature",
            "description": "The Temperature endpoints are used for querying either the core temperature data logged manually by the user, or the skin temperature recorded by the device while the user is asleep.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/temperature/"
            }
        },
        {
            "name": "User",
            "description": "The User endpoints display information about the user's profile information, the regional locale & language settings, and their badges collected",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/user/"
            }
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/oauth2/token": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Get OAuth 2 access token",
                "description": "Retrieves an OAuth 2 access token.",
                "operationId": "oauthToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The Authorization header must be set to 'Basic' followed by a space, then the Base64 encoded string of your application's client id and secret concatenated with a colon. For example, 'Basic Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ='. The Base64 encoded string, 'Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ=', is decoded as 'client_id:client secret'.",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Authorization code received in the redirect as URI parameter. Required if using the Authorization Code flow.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "This is your Fitbit API application id from your settings on dev.fitbit.com.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expires_in",
                        "in": "query",
                        "description": "Specify the desired access token lifetime. Defaults to 28800 for 8 hours. The other valid value is 3600 for 1 hour.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "grant_type",
                        "in": "query",
                        "description": "Authorization grant type. Valid values are 'authorization_code' and 'refresh_token'.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "redirect_uri",
                        "in": "query",
                        "description": "Uri to which the access token will be sent if the request is successful. Required if specified in the redirect to the authorization page. Must be exact match.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "refresh_token",
                        "in": "query",
                        "description": "Refresh token issued by Fitbit. Required if 'grant_type' is 'refresh_token'.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Required if specified in the redirect uri of the authorization page. Must be an exact match.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    },
                    "401": {
                        "description": "Authentication was unsuccessful due to invalid client credentials."
                    },
                    "409": {
                        "description": "Request conflict due to multiple clients attempting to refresh the same access token."
                    }
                }
            }
        },
        "/1.1/oauth2/introspect": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Retrieve the active state of an OAuth 2.0 token",
                "description": "Retrieves the active state of an OAuth 2.0 token. It follows https://tools.ietf.org/html/rfc7662.",
                "operationId": "introspect",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "OAuth 2.0 token to retrieve the state of",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    },
                    "401": {
                        "description": "Authentication was unsuccessful due to invalid client credentials."
                    },
                    "409": {
                        "description": "Request conflict due to multiple clients"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/oauth2/revoke": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Revokes consent of the access token or refresh token",
                "description": "Revokes consent of the access token or refresh token",
                "operationId": "revoke",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "The access token or refresh token to be revoked",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Date",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date and/or time range.",
                "operationId": "getAZMByDateIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Supported:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Date",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date and/or time range.",
                "operationId": "getAZMByDateTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Supported:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/{detail-level}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Interval",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date range and/or time range.",
                "operationId": "getAZMByIntervalIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "start-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Support:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Interval",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date range and/or time range.",
                "operationId": "getAZMByIntervalTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "start-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Support:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Time Series"
                ],
                "summary": "Get AZM Time Series by Date",
                "description": "Returns the daily summary values over a period of time by specifying a date and time period.",
                "operationId": "getAZMTimeSeriesByDate",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. **Supported:** 1d | 7d | 30d | 1w | 1m | 3m | 6m | 1y",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1d",
                            "7d",
                            "30d",
                            "1w",
                            "1m",
                            "3m",
                            "6m",
                            "1y"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Time Series"
                ],
                "summary": "Get AZM Time Series by Interval",
                "description": "Returns the daily summary values over an interval by specifying a date range.",
                "operationId": "getAZMTimeSeriesByInterval",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "start-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/date/{date}.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Summary by Date ",
                "description": "Retrieves a summary and list of a user's activities and activity log entries for a given day.",
                "operationId": "getActivitiesByDate",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Resource by Date Range",
                "description": "Returns activities time series data in the specified range for a given resource.",
                "operationId": "getActivitiesResourceByDateRange",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "calories",
                          "caloriesBMR",
                          "steps",
                          "distance",
                          "floors",
                          "elevation",
                          "minutesSedentary",
                          "minutesLightlyActive",
                          "minutesFairlyActive",
                          "minutesVeryActive",
                          "activityCalories"
                        ],
                        "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/tracker/{resource-path}/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Tracker Resource by Date Range Time Series",
                "description": "Returns time series data in the specified range for a given resource.",
                "operationId": "getActivitiesTrackerResourceByDateRange",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "calories",
                          "caloriesBMR",
                          "steps",
                          "distance",
                          "floors",
                          "elevation",
                          "minutesSedentary",
                          "minutesLightlyActive",
                          "minutesFairlyActive",
                          "minutesVeryActive",
                          "activityCalories"
                        ],
                        "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesResourceByDatePeriod",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],

                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "caloriesBMR",
                        "steps",
                        "distance",
                        "floors",
                        "elevation",
                        "minutesSedentary",
                        "minutesLightlyActive",
                        "minutesFairlyActive",
                        "minutesVeryActive",
                        "activityCalories"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/tracker/{resource-path}/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesTrackerResourceByDatePeriod",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],

                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "caloriesBMR",
                        "steps",
                        "distance",
                        "floors",
                        "elevation",
                        "minutesSedentary",
                        "minutesLightlyActive",
                        "minutesFairlyActive",
                        "minutesVeryActive",
                        "activityCalories"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}/{detail-level}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Activity Intraday Time Series",
                "description": "Returns the Activity Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateRangeIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                    "name": "resource-path",
                    "in": "path",
                    "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                    "required": true,
                    "type": "string",
                    "enum": [
                      "calories",
                      "steps",
                      "distance",
                      "floors",
                      "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min. Optional.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                        "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min. Optional.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/{end-date}/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Activity Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateRangeTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities.json": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Log Activity",
                "description": "The Log Activity endpoint creates log entry for an activity or user's private custom activity using units in the unit system which corresponds to the Accept-Language header provided (or using optional custom distanceUnit) and get a response in the format requested.",
                "operationId": "addActivitiesLog",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "query",
                        "description": "The ID of the activity, directory activity or intensity level activity.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "activityName",
                        "in": "query",
                        "description": "Custom activity name. Either activityId or activityName must be provided.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "manualCalories",
                        "in": "query",
                        "description": "Calories burned that are manaully specified. Required with activityName must be provided.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Activity start time. Hours and minutes in the format HH:mm:ss.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "durationMillis",
                        "in": "query",
                        "description": "Duration in milliseconds.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Log entry date in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "description": "Distance is required for logging directory activity in the format X.XX and in the selected distanceUnit.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "distanceUnit",
                        "in": "query",
                        "description": "Distance measurement unit. Steps units are available only for Walking (activityId=90013) and Running (activityId=90009) directory activities and their intensity levels.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            },
            "get": {
            "tags": [
                "Activity"
                    ],
            "summary": "Get Lifetime Stats",
            "description": "Updates a user's daily activity goals and returns a response using units in the unit system which corresponds to the Accept-Language header provided.",
            "operationId": "getActivitiesLog",
            "produces": [
                "application/x-www-form-urlencoded"
                        ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                          },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                          },
                      "401": {
                          "description": "The request requires user authentication."
                            },
                      "409": {
                          "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                            }
                          },
                            "security": [
                                {
                                    "oauth2": [
                                        "activity",
                                        "heartrate",
                                        "location",
                                        "nutrition",
                                        "profile",
                                        "settings",
                                        "sleep",
                                        "social",
                                        "weight"
                                    ]
                                }
                            ]
                        }
                    },

        "/1/user/-/activities/{activity-log-id}.json": {
            "delete": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete Activity Log",
                "description": "Deletes a user's activity log entry with the given ID.",
                "operationId": "deleteActivitiesLog",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-log-id",
                        "in": "path",
                        "description": "The id of the activity log entry.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content.  The request was successful."
                        },
                    "400": {
                        "description": "Bad Request.  The request likely contained bad syntax."
                        },
                    "401": {
                        "description": "Unauthorized.  The request requires user authentication."
                        }
                },
                "security": [
                    {
                        "oauth2": [
                           "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/list.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Log List",
                "description": "Retreives a list of user's activity log entries before or after a given day with offset and limit using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesLogList",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "beforeDate",
                        "in": "query",
                        "description": "The date in the format yyyy-MM-ddTHH:mm:ss. Only yyyy-MM-dd is required. Either beforeDate or afterDate should be specified.",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "afterDate",
                        "in": "query",
                        "description": "The date in the format yyyy-MM-ddTHH:mm:ss.",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The sort order of entries by date asc (ascending) or desc (descending).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset number of entries.",
                        "required": true,
                        "type": "integer",
                        "default": "0"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of entries returned (maximum;100).",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/{log-id}.tcx": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity TCX",
                "description": "Retreives the details of a user's location and heart rate data during a logged exercise activity.",
                "operationId": "getActivitiesTCX",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "log-id",
                        "in": "path",
                        "description": "The activity's log ID.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "includePartialTCX",
                        "in": "query",
                        "description": "Include TCX points regardless of GPS data being present",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The request was a valid request, but the server is refusing to respond to it."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
         "/1/activities.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Browse Activity Types",
                "description": "Retreives a tree of all valid Fitbit public activities from the activities catelog as well as private custom activities the user created in the format requested.",
                "operationId": "getActivitiesTypes",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/activities/{activity-id}.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Type",
                "description": "Returns the detail of a specific activity in the Fitbit activities database in the format requested. If activity has levels, it also returns a list of activity level details.",
                "operationId": "getActivitiesTypeDetail",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-id",
                        "in": "path",
                        "description": "The activity ID.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/frequent.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Frequent Activities",
                "description": "Retreives a list of a user's frequent activities in the format requested using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "getFrequentActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/recent.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Recent Activity Types",
                "description": "Retreives a list of a user's recent activities types logged with some details of the last activity log of that type using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "getRecentActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                           "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/favorite.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Favorite Activities",
                "description": "Returns a list of a user's favorite activities.",
                "operationId": "getFavoriteActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/activities/favorite/{activity-id}.json": {
            "delete": {
                "tags": [
                    "Activity"
                ],
                "summary": "Delete Favorite Activity",
                "description": "Removes the activity with the given ID from a user's list of favorite activities.",
                "operationId": "deleteFavoriteActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-id",
                        "in": "path",
                        "description": "The ID of the activity to be removed.",
                        "required": true,
                        "type": "string"
                    }
                ],

                "responses": {
                    "204": {
                        "description": "No Content.  The request was successful."
                        },
                    "400": {
                        "description": "Bad Request.  The request likely contained bad syntax."
                        },
                    "401": {
                        "description": "Unauthorized.  The request requires user authentication."
                        }
                },
                "security": [
                    {
                        "oauth2": [
                           "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]

            },
             "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Add Favorite Activity",
                "description": "Adds the activity with the given ID to user's list of favorite activities.",
                "operationId": "addFavoriteActivities",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activity-id",
                        "in": "path",
                        "description": "The encoded ID of the activity.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "201": {
                        "description": "The request fulfilled and new resource being created."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
              }
        },


        "/1/user/-/activities/goals/{period}.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Goals",
                "description": "Retreives a user's current daily or weekly activity goals using measurement units as defined in the unit system, which corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesGoals",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "period",
                        "in": "path",
                        "description": "daily or weekly.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            },

            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Update Activity Goals",
                "description": "Updates a user's daily or weekly activity goals and returns a response using units in the unit system which corresponds to the Accept-Language header provided.",
                "operationId": "addUpdateActivitiesGoals",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "period",
                        "in": "path",
                        "description": "daily or weekly.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "goal type",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "description": "goal value",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },

        "/1/user/-/body/log/fat/date/{date}.json": {
            "get": {
                "tags": [
                    "Body"
                ],
[...]
