{
  "openapi": "3.0.3",
  "info": {
    "title": "Flexisip Account Manager API",
    "version": "1.0.0",
    "description": "REST API for the Flexisip Account Manager (Linphone SIP service). Provides account management, space configuration, contact management, vCard storage, statistics tracking, push notifications, and authentication token management.",
    "x-jentic-source-url": "https://subscribe.linphone.org/api"
  },
  "servers": [
    {
      "url": "https://subscribe.linphone.org/api"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Health check",
        "description": "Returns pong to verify the service is running. No authentication required.",
        "tags": [
          "Utilities"
        ],
        "responses": {
          "200": {
            "description": "Service is running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "pong"
                }
              }
            }
          }
        }
      }
    },
    "/spaces": {
      "get": {
        "operationId": "listSpaces",
        "summary": "List all spaces",
        "description": "Retrieves all spaces. Requires Super Admin authentication.",
        "tags": [
          "Spaces"
        ],
        "responses": {
          "200": {
            "description": "List of spaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Space"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSpace",
        "summary": "Create a space",
        "description": "Creates a new space. Requires Super Admin authentication.",
        "tags": [
          "Spaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Space created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/spaces/{domain}": {
      "get": {
        "operationId": "getSpace",
        "summary": "Get a space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "put": {
        "operationId": "updateSpace",
        "summary": "Update a space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteSpace",
        "summary": "Delete a space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Space deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/spaces/{domain}/email": {
      "get": {
        "operationId": "getSpaceEmail",
        "summary": "Get space email configuration",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "setSpaceEmail",
        "summary": "Set space email configuration",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email configuration set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailConfig"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteSpaceEmail",
        "summary": "Delete space email configuration",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email configuration deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account_creation_request_tokens": {
      "post": {
        "operationId": "createAccountCreationRequestToken",
        "summary": "Create an account creation request token",
        "tags": [
          "Account Creation Tokens"
        ],
        "responses": {
          "201": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/account_creation_tokens/send-by-push": {
      "post": {
        "operationId": "sendAccountCreationTokenByPush",
        "summary": "Send account creation token via push notification",
        "tags": [
          "Account Creation Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token sent"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Limit reached"
          },
          "503": {
            "description": "Send failed"
          }
        }
      }
    },
    "/account_creation_tokens/using-account-creation-request-token": {
      "post": {
        "operationId": "createAccountCreationTokenFromRequest",
        "summary": "Create account creation token using request token",
        "tags": [
          "Account Creation Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_creation_request_token"
                ],
                "properties": {
                  "account_creation_request_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/account_creation_tokens/consume": {
      "post": {
        "operationId": "consumeAccountCreationToken",
        "summary": "Consume an account creation token",
        "tags": [
          "Account Creation Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_creation_token"
                ],
                "properties": {
                  "account_creation_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token consumed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid token"
          }
        }
      }
    },
    "/account_creation_tokens": {
      "post": {
        "operationId": "createAccountCreationToken",
        "summary": "Create an account creation token (Admin)",
        "tags": [
          "Account Creation Tokens"
        ],
        "responses": {
          "201": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/auth_token": {
      "post": {
        "operationId": "createAuthToken",
        "summary": "Create an auth token",
        "tags": [
          "Auth Tokens"
        ],
        "responses": {
          "201": {
            "description": "Auth token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/accounts/auth_token/{auth_token}/attach": {
      "get": {
        "operationId": "attachAuthToken",
        "summary": "Attach an auth token to current user",
        "tags": [
          "Auth Tokens"
        ],
        "parameters": [
          {
            "name": "auth_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token attached"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invalid auth token"
          }
        }
      }
    },
    "/accounts/with-account-creation-token": {
      "post": {
        "operationId": "createAccountWithToken",
        "summary": "Create an account with a creation token",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateWithTokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Max account limit reached"
          },
          "422": {
            "description": "Invalid parameters"
          }
        }
      }
    },
    "/accounts/{sip}/info": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get public account info",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "sip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account public info"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/me/api_key/{auth_token}": {
      "get": {
        "operationId": "getApiKeyByAuthToken",
        "summary": "Get API key using auth token",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "auth_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Invalid auth token"
          }
        }
      }
    },
    "/accounts/me/api_key": {
      "get": {
        "operationId": "getMyApiKey",
        "summary": "Get current user API key",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me": {
      "get": {
        "operationId": "getMyAccount",
        "summary": "Get current user account",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMyAccount",
        "summary": "Delete current user account",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/password": {
      "post": {
        "operationId": "changeMyPassword",
        "summary": "Change current user password",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "algorithm",
                  "old_password",
                  "password"
                ],
                "properties": {
                  "algorithm": {
                    "type": "string",
                    "enum": [
                      "SHA-256",
                      "MD5"
                    ]
                  },
                  "old_password": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/provision": {
      "get": {
        "operationId": "getMyProvision",
        "summary": "Get current user provisioning info",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Provisioning information"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/services/turn": {
      "get": {
        "operationId": "getMyTurnCredentials",
        "summary": "Get TURN service credentials",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "TURN credentials"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create an account (Admin)",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAccountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Max account limit reached"
          }
        }
      },
      "get": {
        "operationId": "listAccounts",
        "summary": "List all accounts (Admin)",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Paginated list of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get an account by ID (Admin)",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "put": {
        "operationId": "updateAccount",
        "summary": "Update an account (Admin)",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAccountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete an account (Admin)",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}/activate": {
      "post": {
        "operationId": "activateAccount",
        "summary": "Activate an account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account activated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}/deactivate": {
      "post": {
        "operationId": "deactivateAccount",
        "summary": "Deactivate an account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account deactivated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}/block": {
      "post": {
        "operationId": "blockAccount",
        "summary": "Block an account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account blocked"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}/unblock": {
      "post": {
        "operationId": "unblockAccount",
        "summary": "Unblock an account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account unblocked"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/email/request": {
      "post": {
        "operationId": "requestEmailChange",
        "summary": "Request email change verification",
        "tags": [
          "Account Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification email sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/me/email": {
      "post": {
        "operationId": "confirmEmailChange",
        "summary": "Confirm email change with code",
        "tags": [
          "Account Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/phone/request": {
      "post": {
        "operationId": "requestPhoneChange",
        "summary": "Request phone number change verification",
        "tags": [
          "Account Phone"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/me/phone": {
      "post": {
        "operationId": "confirmPhoneChange",
        "summary": "Confirm phone number change with code",
        "tags": [
          "Account Phone"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/devices": {
      "get": {
        "operationId": "getMyDevices",
        "summary": "List current user devices",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "List of devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/devices/{uuid}": {
      "delete": {
        "operationId": "deleteMyDevice",
        "summary": "Delete a device from current user",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Device deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/contacts": {
      "get": {
        "operationId": "getMyContacts",
        "summary": "Get current user contacts",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "List of contacts"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/contacts/{sip}": {
      "get": {
        "operationId": "getMyContact",
        "summary": "Get a specific contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "sip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/vcards-storage": {
      "get": {
        "operationId": "getMyVcards",
        "summary": "List current user vCards",
        "tags": [
          "vCards"
        ],
        "responses": {
          "200": {
            "description": "List of vCards"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMyVcard",
        "summary": "Create a vCard",
        "tags": [
          "vCards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vcard"
                ],
                "properties": {
                  "vcard": {
                    "type": "string",
                    "description": "Valid vCard with UID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "vCard created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/me/vcards-storage/{uuid}": {
      "get": {
        "operationId": "getMyVcard",
        "summary": "Get a specific vCard",
        "tags": [
          "vCards"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "vCard details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateMyVcard",
        "summary": "Update a vCard",
        "tags": [
          "vCards"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vcard"
                ],
                "properties": {
                  "vcard": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "vCard updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMyVcard",
        "summary": "Delete a vCard",
        "tags": [
          "vCards"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "vCard deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}/contacts": {
      "get": {
        "operationId": "getAccountContacts",
        "summary": "Get account contacts (Admin)",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}/contacts/{contact_id}": {
      "post": {
        "operationId": "addAccountContact",
        "summary": "Add a contact to account (Admin)",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contact added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeAccountContact",
        "summary": "Remove a contact from account (Admin)",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{id}/external": {
      "get": {
        "operationId": "getExternalAccount",
        "summary": "Get external account (Admin)",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External account details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createExternalAccount",
        "summary": "Create external account (Admin)",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "External account created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteExternalAccount",
        "summary": "Delete external account (Admin)",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "External account deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contacts_lists": {
      "get": {
        "operationId": "listContactsLists",
        "summary": "List all contacts lists (Admin)",
        "tags": [
          "Contacts Lists"
        ],
        "responses": {
          "200": {
            "description": "List of contacts lists"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createContactsList",
        "summary": "Create a contacts list (Admin)",
        "tags": [
          "Contacts Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "description"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contacts list created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contacts_lists/{id}": {
      "get": {
        "operationId": "getContactsList",
        "summary": "Get a contacts list",
        "tags": [
          "Contacts Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts list details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateContactsList",
        "summary": "Update a contacts list",
        "tags": [
          "Contacts Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "description"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts list updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteContactsList",
        "summary": "Delete a contacts list",
        "tags": [
          "Contacts Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contacts list deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account_types": {
      "get": {
        "operationId": "listAccountTypes",
        "summary": "List account types (Admin)",
        "tags": [
          "Account Types"
        ],
        "responses": {
          "200": {
            "description": "List of account types"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAccountType",
        "summary": "Create an account type (Admin)",
        "tags": [
          "Account Types"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Alphanumeric-dash, lowercase"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account type created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account_types/{id}": {
      "get": {
        "operationId": "getAccountType",
        "summary": "Get an account type",
        "tags": [
          "Account Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account type details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateAccountType",
        "summary": "Update an account type",
        "tags": [
          "Account Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key"
                ],
                "properties": {
                  "key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account type updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccountType",
        "summary": "Delete an account type",
        "tags": [
          "Account Types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account type deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a SIP message (Admin)",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "body"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "SIP address"
                  },
                  "body": {
                    "type": "string",
                    "description": "Message text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push_notification": {
      "post": {
        "operationId": "sendPushNotification",
        "summary": "Send a push notification",
        "tags": [
          "Push Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushNotificationSendRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Push notification sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/phone_countries": {
      "get": {
        "operationId": "listPhoneCountries",
        "summary": "List available phone countries",
        "tags": [
          "Utilities"
        ],
        "responses": {
          "200": {
            "description": "List of phone countries"
          }
        }
      }
    },
    "/statistics/messages": {
      "post": {
        "operationId": "createMessageStatistic",
        "summary": "Record a message statistic (Admin)",
        "tags": [
          "Statistics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "from",
                  "sent_at",
                  "encrypted"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "from": {
                    "type": "string"
                  },
                  "sent_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "encrypted": {
                    "type": "boolean"
                  },
                  "conference_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Statistic recorded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/statistics/messages/{message_id}/to/{to}/devices/{device_id}": {
      "patch": {
        "operationId": "updateMessageStatistic",
        "summary": "Update message delivery statistic",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "last_status",
                  "received_at"
                ],
                "properties": {
                  "last_status": {
                    "type": "integer"
                  },
                  "received_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statistic updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/statistics/calls": {
      "post": {
        "operationId": "createCallStatistic",
        "summary": "Record a call statistic (Admin)",
        "tags": [
          "Statistics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "from",
                  "to",
                  "initiated_at"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "initiated_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ended_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "conference_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Statistic recorded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/statistics/calls/{call_id}": {
      "patch": {
        "operationId": "updateCallStatistic",
        "summary": "Update a call statistic",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ended_at"
                ],
                "properties": {
                  "ended_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statistic updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/statistics/calls/{call_id}/devices/{device_id}": {
      "patch": {
        "operationId": "updateCallDeviceStatistic",
        "summary": "Update call device statistic",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rang_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "invite_terminated": {
                    "type": "object",
                    "properties": {
                      "at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "state": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statistic updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "activated": {
            "type": "boolean"
          },
          "admin": {
            "type": "boolean"
          },
          "dtmf_protocol": {
            "type": "string"
          }
        }
      },
      "AccountCreateWithTokenRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "algorithm"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "SHA-256",
              "MD5"
            ]
          },
          "account_creation_token": {
            "type": "string"
          },
          "dtmf_protocol": {
            "type": "string",
            "enum": [
              "sipinfo",
              "sipmessage",
              "rfc2833"
            ]
          }
        }
      },
      "AdminAccountCreateRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "algorithm"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "SHA-256",
              "MD5"
            ]
          },
          "domain": {
            "type": "string"
          },
          "activated": {
            "type": "boolean"
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "admin": {
            "type": "boolean"
          },
          "phone": {
            "type": "string"
          },
          "dtmf_protocol": {
            "type": "string",
            "enum": [
              "sipinfo",
              "sipmessage",
              "rfc2833"
            ]
          },
          "dictionary": {
            "type": "object"
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "super": {
            "type": "boolean"
          },
          "max_accounts": {
            "type": "integer"
          },
          "expire_at": {
            "type": "string",
            "format": "date-time"
          },
          "public_registration": {
            "type": "boolean"
          },
          "phone_registration": {
            "type": "boolean"
          }
        }
      },
      "SpaceCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "domain",
          "host"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "super": {
            "type": "boolean"
          },
          "disable_chat_feature": {
            "type": "boolean"
          },
          "disable_meetings_feature": {
            "type": "boolean"
          },
          "disable_broadcast_feature": {
            "type": "boolean"
          },
          "hide_settings": {
            "type": "boolean"
          },
          "max_accounts": {
            "type": "integer"
          },
          "expire_at": {
            "type": "string",
            "format": "date-time"
          },
          "public_registration": {
            "type": "boolean"
          },
          "phone_registration": {
            "type": "boolean"
          }
        }
      },
      "EmailConfig": {
        "type": "object",
        "required": [
          "host",
          "port"
        ],
        "properties": {
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "from_address": {
            "type": "string"
          },
          "from_name": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          }
        }
      },
      "Token": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "AuthToken": {
        "type": "object",
        "properties": {
          "auth_token": {
            "type": "string"
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "user_agent": {
            "type": "string"
          }
        }
      },
      "PushNotificationRequest": {
        "type": "object",
        "required": [
          "pn_provider"
        ],
        "properties": {
          "pn_provider": {
            "type": "string",
            "enum": [
              "apns.dev",
              "apns",
              "fcm"
            ]
          },
          "pn_param": {
            "type": "string"
          },
          "pn_prid": {
            "type": "string"
          }
        }
      },
      "PushNotificationSendRequest": {
        "type": "object",
        "required": [
          "pn_provider",
          "type"
        ],
        "properties": {
          "pn_provider": {
            "type": "string",
            "enum": [
              "apns.dev",
              "apns",
              "fcm"
            ]
          },
          "pn_param": {
            "type": "string"
          },
          "pn_prid": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "background",
              "message",
              "call"
            ]
          },
          "call_id": {
            "type": "string"
          }
        }
      },
      "ExternalAccountRequest": {
        "type": "object",
        "required": [
          "username",
          "domain",
          "password",
          "protocol"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "realm": {
            "type": "string"
          },
          "registrar": {
            "type": "string"
          },
          "outbound_proxy": {
            "type": "string"
          },
          "protocol": {
            "type": "string",
            "enum": [
              "UDP",
              "TCP",
              "TLS"
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key passed in x-api-key header"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token in Authorization header"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "bearerAuth": []
    }
  ]
}