{
  "openapi": "3.0.3",
  "info": {
    "title": "Customer API",
    "description": "Customer.guru is an easy-to-setup tool for measuring customer satisfaction using Net Promoter Score. The API allows sending/scheduling NPS surveys, retrieving customers, and exporting ratings.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://customer.guru/api/documentation/v2"
  },
  "servers": [
    {
      "url": "https://customer.guru",
      "description": "Customer.guru API server"
    }
  ],
  "paths": {
    "/api/v2/survey": {
      "post": {
        "operationId": "sendOrScheduleSurvey",
        "summary": "Send or schedule a survey",
        "description": "Send an NPS survey immediately or schedule it for a future time.",
        "tags": [
          "Surveys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Survey sent or scheduled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API token or secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/export/customers": {
      "get": {
        "operationId": "retrieveCustomers",
        "summary": "Retrieve customers",
        "description": "Export customer data in CSV format with pagination support.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "description": "API token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "required": true,
            "description": "API secret for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data containing customer records (id, email, created_at, unsubscribed_at, properties)",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API token or secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/export/ratings": {
      "get": {
        "operationId": "retrieveRatings",
        "summary": "Retrieve ratings",
        "description": "Export NPS ratings data in CSV format with pagination support.",
        "tags": [
          "Ratings"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "description": "API token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "required": true,
            "description": "API secret for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data containing rating records",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API token or secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SurveyRequest": {
        "type": "object",
        "required": [
          "api_token",
          "api_secret",
          "scheduled_for",
          "customers"
        ],
        "properties": {
          "api_token": {
            "type": "string",
            "description": "API token for authentication"
          },
          "api_secret": {
            "type": "string",
            "description": "API secret for authentication"
          },
          "scheduled_for": {
            "type": "string",
            "description": "When to send the survey. Use 'now' for immediate or an ISO8601 timestamp."
          },
          "survey_id": {
            "type": "string",
            "nullable": true,
            "description": "ID of the survey to send. Uses first survey if omitted."
          },
          "test": {
            "type": "boolean",
            "description": "Set to true to test without actually sending the survey."
          },
          "customers": {
            "type": "array",
            "description": "List of customer recipients",
            "items": {
              "$ref": "#/components/schemas/CustomerRecipient"
            }
          }
        }
      },
      "CustomerRecipient": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "language": {
            "type": "string",
            "description": "Language for the survey"
          },
          "properties": {
            "type": "object",
            "description": "Custom JSON metadata for the customer",
            "additionalProperties": true
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the operation",
            "example": "OK"
          },
          "successfully_sent": {
            "type": "integer",
            "description": "Number of surveys successfully sent"
          },
          "failed_to_send": {
            "type": "integer",
            "description": "Number of surveys that failed to send"
          },
          "test": {
            "type": "boolean",
            "description": "Whether this was a test run"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Surveys",
      "description": "Send and schedule NPS surveys"
    },
    {
      "name": "Customers",
      "description": "Retrieve customer data"
    },
    {
      "name": "Ratings",
      "description": "Retrieve NPS ratings data"
    }
  ]
}