{
  "openapi": "3.0.1",
  "info": {
    "title": "MipRestAPI",
    "version": "v1",
    "x-jentic-source-url": "https://api.mymip.be/RestAPI/swagger/v1/swagger.json",
    "description": "MipRestAPI provides programmatic access to AddContactData_q, AddContactData_t, GetContact_t, GetIndicators_t, GetURNs_t resources."
  },
  "servers": [
    {
      "url": "https://api.mymip.be/RestAPI"
    }
  ],
  "paths": {
    "/AddContactData_q": {
      "post": {
        "tags": [
          "AddContactData_q"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactDataInputRest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactDataInputRest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactDataInputRest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfEmptyResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "post_AddContactData_q"
      }
    },
    "/AddContactData_t": {
      "post": {
        "tags": [
          "AddContactData_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactDataInputRest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactDataInputRest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactDataInputRest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfAddContactDataResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "post_AddContactData_t"
      }
    },
    "/GetContact_t": {
      "get": {
        "tags": [
          "GetContact_t"
        ],
        "summary": "Get data for a relation",
        "description": "URN or (uniqueIDCode + uniqueID) is mandatory",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "URN",
            "in": "query",
            "description": "The URN for the relation",
            "schema": {
              "type": "string"
            },
            "example": "T010001094"
          },
          {
            "name": "uniqueID",
            "in": "query",
            "description": "uniqueID",
            "schema": {
              "type": "string"
            },
            "example": "123456789012"
          },
          {
            "name": "uniqueIDCode",
            "in": "query",
            "description": "uniqueIDCode for the uniqueID",
            "schema": {
              "type": "string"
            },
            "example": "cardID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfDB_ContactRelationEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_GetContact_t"
      }
    },
    "/GetIndicators_t": {
      "get": {
        "tags": [
          "GetIndicators_t"
        ],
        "summary": "Get indicators for a relation",
        "description": "indicators, startDate and endDate are optional <br />\r\nURN or (uniqueIDCode + uniqueID) is mandatory",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "URN",
            "in": "query",
            "description": "The URN for the relation",
            "schema": {
              "type": "string"
            },
            "example": "T010001094"
          },
          {
            "name": "uniqueIDCode",
            "in": "query",
            "description": "uniqueIDCode for the uniqueID",
            "schema": {
              "type": "string"
            },
            "example": "cardID"
          },
          {
            "name": "uniqueID",
            "in": "query",
            "description": "uniqueID",
            "schema": {
              "type": "string"
            },
            "example": "123456789012"
          },
          {
            "name": "indicators",
            "in": "query",
            "description": "\",\" separated list of indicators.",
            "schema": {
              "type": "string"
            },
            "example": "engagement,age"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The startDate for indicators. Use format yyyy-MM-dd",
            "schema": {
              "type": "string"
            },
            "example": "2023-01-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The endDate for indicators. Use format yyyy-MM-dd",
            "schema": {
              "type": "string"
            },
            "example": "2023-05-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfGetIndicatorsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_GetIndicators_t"
      }
    },
    "/GetURNs_t": {
      "get": {
        "tags": [
          "GetURNs_t"
        ],
        "summary": "Get a list of URN with given email adres",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The URN for the relation",
            "schema": {
              "type": "string"
            },
            "example": "kris.vranken@stratics.be"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfGetURNsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_GetURNs_t"
      }
    },
    "/RefAttributeCodes4Individual_t": {
      "get": {
        "tags": [
          "RefAttributeCodes4Individual_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefAttributeCodes4IndividualResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefAttributeCodes4Individual_t"
      }
    },
    "/RefAttributeCodes4Relen_t": {
      "get": {
        "tags": [
          "RefAttributeCodes4Relen_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefAttributeCodes4RelenResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefAttributeCodes4Relen_t"
      }
    },
    "/RefAttributeCodes4Social_t": {
      "get": {
        "tags": [
          "RefAttributeCodes4Social_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefAttributeCodes4SocialResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefAttributeCodes4Social_t"
      }
    },
    "/RefAttributeTypes4Individual_t": {
      "get": {
        "tags": [
          "RefAttributeTypes4Individual_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefAttributeTypes4IndividualResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefAttributeTypes4Individual_t"
      }
    },
    "/RefAttributeTypes4Relen_t": {
      "get": {
        "tags": [
          "RefAttributeTypes4Relen_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefAttributeTypes4RelenResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefAttributeTypes4Relen_t"
      }
    },
    "/RefAttributeTypes4Social_t": {
      "get": {
        "tags": [
          "RefAttributeTypes4Social_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefAttributeTypes4SocialResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefAttributeTypes4Social_t"
      }
    },
    "/RefCountries_t": {
      "get": {
        "tags": [
          "RefCountries_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefCountriesResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefCountries_t"
      }
    },
    "/RefGenders_t": {
      "get": {
        "tags": [
          "RefGenders_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefGenderCodes"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefGenders_t"
      }
    },
    "/RefIndicators_t": {
      "get": {
        "tags": [
          "RefIndicators_t"
        ],
        "summary": "Get list of available indicators",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefIndicatorsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefIndicators_t"
      }
    },
    "/RefLanguages_t": {
      "get": {
        "tags": [
          "RefLanguages_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefLanguagesResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefLanguages_t"
      }
    },
    "/RefLegalFormCodes_t": {
      "get": {
        "tags": [
          "RefLegalFormCodes_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfRefLegalFormCodesResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefLegalFormCodes_t"
      }
    },
    "/RefUniqueIDCodes_t": {
      "get": {
        "tags": [
          "RefUniqueIDCodes_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefUniqueIDCodesResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_RefUniqueIDCodes_t"
      }
    },
    "/Search_t": {
      "get": {
        "tags": [
          "Search_t"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstN",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResultOfSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_Search_t"
      }
    }
  },
  "components": {
    "schemas": {
      "AddContactDataInputRest": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "nullable": true
          },
          "recency": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "familyName": {
            "type": "string",
            "nullable": true
          },
          "genderCode": {
            "type": "string",
            "description": "M(ale) F(emale) C(ouple)",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "description": "iso2 code ( nl, fr, de, en, ... )",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "mobile": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "facebookID": {
            "type": "string",
            "nullable": true
          },
          "conseName": {
            "type": "string",
            "nullable": true
          },
          "conseCode": {
            "type": "string",
            "nullable": true
          },
          "vat": {
            "type": "string",
            "nullable": true
          },
          "legalFormCode": {
            "type": "string",
            "nullable": true
          },
          "emailReltpSubCode": {
            "type": "string",
            "nullable": true
          },
          "mobileReltpSubCode": {
            "type": "string",
            "nullable": true
          },
          "phoneReltpSubCode": {
            "type": "string",
            "nullable": true
          },
          "addressReltpSubCode": {
            "type": "string",
            "nullable": true
          },
          "facebookIDReltpSubCode": {
            "type": "string",
            "nullable": true
          },
          "relenNota": {
            "type": "string",
            "nullable": true
          },
          "conseNota": {
            "type": "string",
            "nullable": true
          },
          "individualNota": {
            "type": "string",
            "nullable": true
          },
          "crnotaTypeID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dob": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "forcePreferred": {
            "type": "boolean",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "description": "iso2 code ( BE, FR, NL, LU, DE, ... )",
            "nullable": true
          },
          "addressComplement": {
            "type": "string",
            "nullable": true
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "streetComplement": {
            "type": "string",
            "nullable": true
          },
          "addressState": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "addressLine5": {
            "type": "string",
            "nullable": true
          },
          "streetHouseNumber": {
            "type": "string",
            "nullable": true
          },
          "uniqueIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactUniqueIdBasic"
            },
            "nullable": true
          },
          "individualUniqueIdsForceUpdate": {
            "type": "boolean",
            "nullable": true
          },
          "socialUniqueIdsForceUpdate": {
            "type": "boolean",
            "nullable": true
          },
          "individualUniqueIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactUniqueIdBasic"
            },
            "nullable": true
          },
          "socialUniqueIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactUniqueIdBasic"
            },
            "nullable": true
          },
          "relationEAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelationEAttribute"
            },
            "nullable": true
          },
          "socialEAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocialEAttribute"
            },
            "nullable": true
          },
          "individualEAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IndividualEAttribute"
            },
            "nullable": true
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "nullable": true
          },
          "interactionTokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InteractionTokenRest"
            },
            "nullable": true
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderInput"
            },
            "nullable": true
          },
          "surveyQuestionAnswers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InputContactSurveyQuestionAnswersRest"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddContactDataResult": {
        "type": "object",
        "properties": {
          "urn": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactPetAttribute": {
        "type": "object",
        "properties": {
          "petaID": {
            "type": "integer",
            "format": "int32"
          },
          "petID": {
            "type": "integer",
            "format": "int32"
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "petaCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          }
        },
        "additionalProperties": false
      },
      "ContactPetEntity": {
        "type": "object",
        "properties": {
          "contactPetAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPetAttribute"
            },
            "nullable": true
          },
          "petID": {
            "type": "integer",
            "format": "int32"
          },
          "petTypeCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "petWeightCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "petStatusCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "dob": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "genderCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "isSterilized": {
            "type": "boolean",
            "nullable": true
          },
          "isIndoor": {
            "type": "boolean",
            "nullable": true
          },
          "isOutdoor": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactShort": {
        "type": "object",
        "properties": {
          "urn": {
            "type": "string",
            "nullable": true
          },
          "conieID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "conseID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "familyName": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "socialName": {
            "type": "string",
            "nullable": true
          },
          "socialVat": {
            "type": "string",
            "nullable": true
          },
          "socialLegalFormCode": {
            "type": "string",
            "nullable": true
          },
          "relenStatusCode": {
            "type": "string",
            "nullable": true
          },
          "preferredAddress": {
            "$ref": "#/components/schemas/ShortAddress"
          },
          "preferredTouchPoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortTouchPoint"
            },
            "nullable": true
          },
          "conieStatusCode": {
            "type": "string",
            "nullable": true
          },
          "conseStatusCode": {
            "type": "string",
            "nullable": true
          },
          "hasTouchPoints": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactUniqueId": {
        "type": "object",
        "properties": {
          "uniqueIDCode": {
            "type": "string",
            "nullable": true
          },
          "uniqueID": {
            "type": "string",
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "uniID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "relenID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactUniqueIdBasic": {
        "type": "object",
        "properties": {
          "uniqueIDCode": {
            "type": "string",
            "nullable": true
          },
          "uniqueID": {
            "type": "string",
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_AttributeCode4IndividualField": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "attributeType4Individual": {
            "type": "string",
            "nullable": true
          },
          "attributeCode4Individual": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_AttributeCode4RelenField": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "attributeType4Relen": {
            "type": "string",
            "nullable": true
          },
          "attributeCode4Relen": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_AttributeCode4SocialField": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "attributeType4Social": {
            "type": "string",
            "nullable": true
          },
          "attributeCode4Social": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_cbpCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_channelCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "engagement": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "DB_CodeField": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_ContactAddress": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "addrsID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "addressComplement": {
            "type": "string",
            "nullable": true
          },
          "streetHouseNumber": {
            "type": "string",
            "nullable": true
          },
          "streetComplement": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "addressState": {
            "type": "string",
            "nullable": true
          },
          "addressLine5": {
            "type": "string",
            "nullable": true
          },
          "streetkey": {
            "type": "string",
            "nullable": true
          },
          "formatted": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "$ref": "#/components/schemas/DB_countryCode"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactIndividualAttribute": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "coniaID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "conieID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "coniaCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactIndividualEntity": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "conieID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "familyName": {
            "type": "string",
            "nullable": true
          },
          "dob": {
            "type": "string",
            "nullable": true
          },
          "contactIndividualAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_ContactIndividualAttribute"
            },
            "nullable": true
          },
          "genderCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "languageCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "titleCode": {
            "$ref": "#/components/schemas/DB_titleCode"
          },
          "conieStatusCode": {
            "$ref": "#/components/schemas/DB_StatusCodeField"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactPermission": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "permID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "inOut": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "isExplicit": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cbpID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "cbpCode": {
            "$ref": "#/components/schemas/DB_cbpCode"
          },
          "channelCode": {
            "$ref": "#/components/schemas/DB_channelCode"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactRelationAttribute": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "relabID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "relabCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactRelationEntity": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "conieID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "conseID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "contactRelationTouchPoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_ContactRelationTouchPoint"
            },
            "nullable": true
          },
          "contactUniqueIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_ContactUniqueId"
            },
            "nullable": true
          },
          "contactPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_ContactPermission"
            },
            "nullable": true
          },
          "contactRelationAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_ContactRelationAttribute"
            },
            "nullable": true
          },
          "contactIndividualEntity": {
            "$ref": "#/components/schemas/DB_ContactIndividualEntity"
          },
          "contactSocialEntity": {
            "$ref": "#/components/schemas/DB_ContactSocialEntity"
          },
          "points": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "interactionToken": {
            "type": "string",
            "nullable": true
          },
          "interactionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "data": {
            "type": "array",
            "items": {},
            "nullable": true
          },
          "xmlData": {
            "type": "string",
            "nullable": true
          },
          "interactionTokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InteractionToken"
            },
            "nullable": true
          },
          "contactPetEntities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPetEntity"
            },
            "nullable": true
          },
          "languageCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "relenStatusCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactRelationTouchPoint": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "reltpID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "uniqueId": {
            "$ref": "#/components/schemas/ContactUniqueId"
          },
          "addrsID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "preferred": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "failures": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "updatePostal": {
            "type": "boolean",
            "nullable": true
          },
          "reltpCode": {
            "$ref": "#/components/schemas/DB_reltpCode"
          },
          "reltpSubCode": {
            "$ref": "#/components/schemas/DB_reltpSubCode"
          },
          "reltpStatusCode": {
            "$ref": "#/components/schemas/DB_StatusCodeField"
          },
          "contactAddress": {
            "$ref": "#/components/schemas/DB_ContactAddress"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactSocialAttribute": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "consaID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "conseID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "consaCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          }
        },
        "additionalProperties": false
      },
      "DB_ContactSocialEntity": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "conseID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "conseCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "$ref": "#/components/schemas/DB_CodeField"
          },
          "vat": {
            "type": "string",
            "nullable": true
          },
          "legalFormCode": {
            "$ref": "#/components/schemas/DB_LegalFormCode"
          },
          "preferredURN": {
            "type": "string",
            "nullable": true
          },
          "conseStatusCode": {
            "$ref": "#/components/schemas/DB_StatusCodeField"
          },
          "contactSocialAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_ContactSocialAttribute"
            },
            "nullable": true
          },
          "contactRelationEntities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_ContactRelationEntity"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_ContactUniqueId": {
        "type": "object",
        "properties": {
          "creation": {
            "type": "string",
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "nullable": true
          },
          "modification": {
            "type": "string",
            "nullable": true
          },
          "modified_by": {
            "type": "string",
            "nullable": true
          },
          "uniID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "urn": {
            "type": "string",
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "uniqueID": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "recency": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "uniqueIDCode": {
            "$ref": "#/components/schemas/DB_uniqueIDCode"
          }
        },
        "additionalProperties": false
      },
      "DB_countryCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "format1Line": {
            "type": "string",
            "nullable": true
          },
          "fields": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_LegalFormCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "descriptionNL": {
            "type": "string",
            "nullable": true
          },
          "descriptionFR": {
            "type": "string",
            "nullable": true
          },
          "descriptionDE": {
            "type": "string",
            "nullable": true
          },
          "descriptionEN": {
            "type": "string",
            "nullable": true
          },
          "shortNL": {
            "type": "string",
            "nullable": true
          },
          "shortFR": {
            "type": "string",
            "nullable": true
          },
          "shortDE": {
            "type": "string",
            "nullable": true
          },
          "shortEN": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_reltpCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "touchPointType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_reltpSubCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_StatusCodeField": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "isValid": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "DB_titleCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "salutation": {
            "type": "string",
            "nullable": true
          },
          "salutationShort": {
            "type": "string",
            "nullable": true
          },
          "salutation4Letter": {
            "type": "string",
            "nullable": true
          },
          "salutation4LetterShort": {
            "type": "string",
            "nullable": true
          },
          "salutation4Post": {
            "type": "string",
            "nullable": true
          },
          "salutation4PostShort": {
            "type": "string",
            "nullable": true
          },
          "salutation4Email": {
            "type": "string",
            "nullable": true
          },
          "salutation4EmailShort": {
            "type": "string",
            "nullable": true
          },
          "genderCode": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DB_uniqueIDCode": {
        "type": "object",
        "properties": {
          "inGUIDropDown": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DBCode": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "description": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "EmptyResult": {
        "type": "object",
        "additionalProperties": false
      },
      "GetIndicatorsOutput": {
        "type": "object",
        "properties": {
          "indicators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Indicator"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetURNsOutput": {
        "type": "object",
        "properties": {
          "urNs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Indicator": {
        "type": "object",
        "properties": {
          "indicator": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IndividualEAttribute": {
        "type": "object",
        "properties": {
          "attributeCode4Individual": {
            "type": "string",
            "nullable": true
          },
          "attributeType4Individual": {
            "type": "string",
            "nullable": true
          },
          "entity": {
            "type": "string",
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InputContactSurveyQuestionAnswersRest": {
        "type": "object",
        "properties": {
          "urn": {
            "type": "string",
            "nullable": true
          },
          "uniqueIDCode": {
            "type": "string",
            "nullable": true
          },
          "uniqueID": {
            "type": "string",
            "nullable": true
          },
          "interactionTokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InteractionTokenRest"
            },
            "nullable": true
          },
          "surveyID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "sUniqueID": {
            "type": "string",
            "nullable": true
          },
          "sUniqueIDCode": {
            "type": "string",
            "nullable": true
          },
          "surveyName": {
            "type": "string",
            "nullable": true
          },
          "surveyQuestionID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "sqUniqueID": {
            "type": "string",
            "nullable": true
          },
          "sqUniqueIDCode": {
            "type": "string",
            "nullable": true
          },
          "questionID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "qUniqueID": {
            "type": "string",
            "nullable": true
          },
          "qUniqueIDCode": {
            "type": "string",
            "nullable": true
          },
          "question": {
            "type": "string",
            "nullable": true
          },
          "contactSurveyQuestionAnswer": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InteractionToken": {
        "type": "object",
        "properties": {
          "interactionToken": {
            "type": "string",
            "nullable": true
          },
          "interactionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "data": {
            "type": "array",
            "items": {},
            "nullable": true
          },
          "xmlData": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InteractionTokenRest": {
        "type": "object",
        "properties": {
          "interactionToken": {
            "type": "string",
            "nullable": true
          },
          "interactionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dumpData": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderInput": {
        "type": "object",
        "properties": {
          "orderTypeCode": {
            "type": "string",
            "nullable": true
          },
          "orderStatusCode": {
            "type": "string",
            "nullable": true
          },
          "orderBrandCode": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "orderExternalID": {
            "type": "string",
            "nullable": true
          },
          "orderCreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "orderExecutionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "orderLastModificationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "orderNote": {
            "type": "string",
            "nullable": true
          },
          "orderLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLineInput"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderLineInput": {
        "type": "object",
        "properties": {
          "orderLineNumber": {
            "type": "integer",
            "format": "int32"
          },
          "orderProductID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "orderProductCode": {
            "type": "string",
            "nullable": true
          },
          "orderProductDescription": {
            "type": "string",
            "nullable": true
          },
          "orderLineProductPriceExcl": {
            "type": "number",
            "format": "double"
          },
          "orderLineProductQuantity": {
            "type": "integer",
            "format": "int32"
          },
          "orderLineProductCommision": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "orderLineProductUnitPriceExcl": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "orderLineProductUnitCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "orderLineNote": {
            "type": "string",
            "nullable": true
          },
          "standardPriceIncl": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "standardPriceExcl": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Permission": {
        "type": "object",
        "properties": {
          "permitted": {
            "type": "boolean"
          },
          "isExplicit": {
            "type": "boolean"
          },
          "cbpID": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "channelCode": {
            "type": "string",
            "nullable": true
          },
          "recency": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefAttributeCodes4IndividualResult": {
        "type": "object",
        "properties": {
          "attributeCodes4Individual": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_AttributeCode4IndividualField"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefAttributeCodes4RelenResult": {
        "type": "object",
        "properties": {
          "attributeCodes4Relen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_AttributeCode4RelenField"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefAttributeCodes4SocialResult": {
        "type": "object",
        "properties": {
          "attributeCodes4Social": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_AttributeCode4SocialField"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefAttributeTypes4IndividualResult": {
        "type": "object",
        "properties": {
          "attributeTypes4Individual": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_CodeField"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefAttributeTypes4RelenResult": {
        "type": "object",
        "properties": {
          "attributeTypes4Relen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_CodeField"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefAttributeTypes4SocialResult": {
        "type": "object",
        "properties": {
          "attributeTypes4Social": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_CodeField"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefCountriesResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DBCode"
            },
            "nullable": true,
            "readOnly": true
          },
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          }
        },
        "additionalProperties": false
      },
      "RefGenderCodes": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DBCode"
            },
            "nullable": true,
            "readOnly": true
          },
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          }
        },
        "additionalProperties": false
      },
      "RefIndicatorsOutput": {
        "type": "object",
        "properties": {
          "indicators": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefLanguagesResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DBCode"
            },
            "nullable": true,
            "readOnly": true
          },
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          }
        },
        "additionalProperties": false
      },
      "RefLegalFormCodesResult": {
        "type": "object",
        "properties": {
          "legalFormCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DB_LegalFormCode"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefUniqueIDCodesResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DBCode"
            },
            "nullable": true,
            "readOnly": true
          },
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          }
        },
        "additionalProperties": false
      },
      "RelationEAttribute": {
        "type": "object",
        "properties": {
          "attributeCode4Relen": {
            "type": "string",
            "nullable": true
          },
          "attributeType4Relen": {
            "type": "string",
            "nullable": true
          },
          "entity": {
            "type": "string",
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfAddContactDataResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/AddContactDataResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfDB_ContactRelationEntity": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/DB_ContactRelationEntity"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfEmptyResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/EmptyResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfGetIndicatorsOutput": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/GetIndicatorsOutput"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfGetURNsOutput": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/GetURNsOutput"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefAttributeCodes4IndividualResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefAttributeCodes4IndividualResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefAttributeCodes4RelenResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefAttributeCodes4RelenResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefAttributeCodes4SocialResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefAttributeCodes4SocialResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefAttributeTypes4IndividualResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefAttributeTypes4IndividualResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefAttributeTypes4RelenResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefAttributeTypes4RelenResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefAttributeTypes4SocialResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefAttributeTypes4SocialResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefIndicatorsOutput": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefIndicatorsOutput"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfRefLegalFormCodesResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/RefLegalFormCodesResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnResultOfSearchResult": {
        "type": "object",
        "properties": {
          "returnStatus": {
            "$ref": "#/components/schemas/ReturnStatus"
          },
          "data": {
            "$ref": "#/components/schemas/SearchResult"
          }
        },
        "additionalProperties": false
      },
      "ReturnStatus": {
        "type": "object",
        "properties": {
          "errorNumber": {
            "type": "integer",
            "format": "int32"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "urNs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactShort"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ShortAddress": {
        "type": "object",
        "properties": {
          "subCode": {
            "type": "string",
            "nullable": true
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "streetHouseNumber": {
            "type": "string",
            "nullable": true
          },
          "streetComplement": {
            "type": "string",
            "nullable": true
          },
          "formatted": {
            "type": "string",
            "nullable": true
          },
          "reltpID": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ShortTouchPoint": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "subCode": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "reltpID": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "SocialEAttribute": {
        "type": "object",
        "properties": {
          "attributeCode4Social": {
            "type": "string",
            "nullable": true
          },
          "attributeType4Social": {
            "type": "string",
            "nullable": true
          },
          "entity": {
            "type": "string",
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ]
}