{
  "openapi": "3.0.1",
  "info": {
    "title": "MailboxValidator Free Email Checker",
    "description": "The MailboxValidator Free Email Checker checks if a single email address is from a free email provider and returns the results in either JSON or XML format. Refer to https://www.mailboxvalidator.com/api-email-freem for further information.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mailboxvalidator/MailboxValidator-Free-Email-Checker/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mailboxvalidator.com/"
    }
  ],
  "paths": {
    "/v1/email/free": {
      "get": {
        "description": "The Free Email Checker API does validation on a single email address and returns if it is from a free email provider in either JSON or XML format.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Return the result in json (default) or xml format.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email address to check if is from a free email provider.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "free email checker response",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "0": {
                    "value": "{\"email_address\":\"\",\"is_free\":\"\",\"credits_available\":\"\",\"error_code\":\"\",\"error_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}